{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "version": "v1beta",
  "rootUrl": "https://appengine.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "resources": {
    "apps": {
      "resources": {
        "domainMappings": {
          "methods": {
            "get": {
              "description": "Gets the specified domain mapping.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "parameters": {
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/domainMappings/example.com."
                }
              },
              "id": "appengine.apps.domainMappings.get",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "DomainMapping"
              }
            },
            "patch": {
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "request": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "PATCH",
              "id": "appengine.apps.domainMappings.patch",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "domainMappingsId": {
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. Standard field mask for the set of fields to be updated."
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.create",
              "parameterOrder": [
                "appsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "parameters": {
                "overrideStrategy": {
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "DomainMapping"
              },
              "path": "v1beta/apps/{appsId}/domainMappings"
            },
            "delete": {
              "response": {
                "$ref": "Operation"
              },
              "id": "appengine.apps.domainMappings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "parameters": {
                "domainMappingsId": {
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com."
                }
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource."
            },
            "list": {
              "parameters": {
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "id": "appengine.apps.domainMappings.list",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "description": "Lists the domain mappings on an application.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "id": "appengine.apps.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/apps/{appsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "flatPath": "v1beta/apps/{appsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "locationsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "appsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/apps/{appsId}/locations",
              "description": "Lists information about the supported locations for this service.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "appsId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page."
                }
              },
              "id": "appengine.apps.locations.list",
              "flatPath": "v1beta/apps/{appsId}/locations",
              "httpMethod": "GET"
            }
          }
        },
        "runtimes": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "appengine.apps.runtimes.list",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "required": true
                },
                "environment": {
                  "enum": [
                    "ENVIRONMENT_UNSPECIFIED",
                    "STANDARD",
                    "FLEXIBLE"
                  ],
                  "description": "Optional. The environment of the Application.",
                  "enumDescriptions": [
                    "Default value.",
                    "App Engine Standard.",
                    "App Engine Flexible"
                  ],
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/runtimes",
              "path": "v1beta/apps/{appsId}/runtimes",
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists all the available runtimes for the application.",
              "response": {
                "$ref": "ListRuntimesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "path": "v1beta/apps/{appsId}/authorizedDomains",
              "id": "appengine.apps.authorizedDomains.list",
              "httpMethod": "GET",
              "flatPath": "v1beta/apps/{appsId}/authorizedDomains",
              "description": "Lists all domains the user is authorized to administer.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum results to return per page."
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "appengine.apps.operations.get",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. The name of the operation resource.",
                  "location": "path"
                },
                "operationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "flatPath": "v1beta/apps/{appsId}/operations/{operationsId}",
              "path": "v1beta/apps/{appsId}/operations/{operationsId}"
            },
            "list": {
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "path": "v1beta/apps/{appsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "id": "appengine.apps.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. The name of the operation's parent resource."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/operations"
            }
          }
        },
        "services": {
          "resources": {
            "versions": {
              "resources": {
                "instances": {
                  "methods": {
                    "delete": {
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                      "httpMethod": "DELETE",
                      "id": "appengine.apps.services.versions.instances.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "parameters": {
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "instancesId": {
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string"
                        },
                        "appsId": {
                          "required": true,
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "location": "path",
                          "type": "string"
                        },
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "debug": {
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "id": "appengine.apps.services.versions.instances.debug",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "parameters": {
                        "servicesId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "instancesId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `appsId`."
                        },
                        "appsId": {
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "versionsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "id": "appengine.apps.services.versions.instances.list",
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ],
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "parameters": {
                        "servicesId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "location": "path",
                          "required": true
                        },
                        "versionsId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `appsId`."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum results to return per page."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "appsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `parent`. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1.",
                          "required": true
                        }
                      }
                    },
                    "get": {
                      "description": "Gets instance information.",
                      "parameters": {
                        "appsId": {
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "versionsId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `appsId`."
                        },
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "required": true
                        },
                        "servicesId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "id": "appengine.apps.services.versions.instances.get",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "response": {
                        "$ref": "Instance"
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "id": "appengine.apps.services.versions.patch",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Standard field mask for the set of fields to be updated."
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "versionsId": {
                      "required": true,
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "request": {
                    "$ref": "Version"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "parameters": {
                    "servicesId": {
                      "type": "string",
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "location": "path",
                      "required": true
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "description": "Deploys code and resource files to a new version.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "appengine.apps.services.versions.create",
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ]
                },
                "get": {
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "appengine.apps.services.versions.get",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1."
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Controls the set of fields returned in the Get response.",
                      "type": "string",
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ]
                    },
                    "servicesId": {
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path"
                    },
                    "versionsId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "description": "Deletes an existing Version resource.",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "parameters": {
                    "servicesId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`."
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "required": true
                    },
                    "appsId": {
                      "required": true,
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "id": "appengine.apps.services.versions.delete"
                },
                "list": {
                  "id": "appengine.apps.services.versions.list",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "type": "string",
                      "description": "Controls the set of fields returned in the List response.",
                      "location": "query",
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ]
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum results to return per page."
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "servicesId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists the versions of a service."
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "appengine.apps.services.list",
              "httpMethod": "GET",
              "path": "v1beta/apps/{appsId}/services",
              "description": "Lists all the services in the application.",
              "flatPath": "v1beta/apps/{appsId}/services",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                },
                "appsId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListServicesResponse"
              }
            },
            "patch": {
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default.",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "type": "string"
                },
                "migrateTraffic": {
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "type": "boolean"
                },
                "servicesId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "request": {
                "$ref": "Service"
              },
              "description": "Updates the configuration of the specified service.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "appengine.apps.services.patch"
            },
            "get": {
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "parameters": {
                "servicesId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path"
                },
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true
                }
              },
              "id": "appengine.apps.services.get",
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets the current configuration of the specified service.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Service"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "appengine.apps.services.delete",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true
                },
                "servicesId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "description": "Deletes the specified service and all enclosed versions.",
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "list": {
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "type": "integer"
                },
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "view": {
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Controls the set of fields returned in the LIST response."
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.list"
            },
            "get": {
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "parameters": {
                "authorizedCertificatesId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true
                },
                "view": {
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the GET response."
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345."
                }
              },
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "httpMethod": "GET",
              "description": "Gets the specified SSL certificate.",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.authorizedCertificates.get"
            },
            "delete": {
              "parameters": {
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "appengine.apps.authorizedCertificates.delete",
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Deletes the specified SSL certificate.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string"
                }
              },
              "id": "appengine.apps.authorizedCertificates.create",
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Uploads the specified SSL certificate.",
              "httpMethod": "POST"
            },
            "patch": {
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "httpMethod": "PATCH",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.patch",
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "create": {
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "description": "Creates a firewall rule for the application.",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "appengine.apps.firewall.ingressRules.create"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100."
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "description": "Updates the specified firewall rule.",
                  "response": {
                    "$ref": "FirewallRule"
                  }
                },
                "get": {
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Gets the specified firewall rule.",
                  "httpMethod": "GET",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "ingressRulesId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`."
                    },
                    "appsId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "appengine.apps.firewall.ingressRules.get"
                },
                "batchUpdate": {
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists the firewall rules of an application.",
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query"
                    },
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules."
                    },
                    "matchingAddress": {
                      "type": "string",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum results to return per page.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "appsId": {
                      "required": true,
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string"
                    },
                    "ingressRulesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Deletes the specified firewall rule.",
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}"
                }
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/apps",
          "request": {
            "$ref": "Application"
          },
          "parameters": {},
          "id": "appengine.apps.create",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/apps",
          "parameterOrder": [],
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields: id - The ID of the target Cloud Platform project. location - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/standard/python/console/)."
        },
        "repair": {
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "id": "appengine.apps.repair",
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log.",
          "flatPath": "v1beta/apps/{appsId}:repair",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "appsId": {
              "required": true,
              "description": "Part of `name`. Name of the application to repair. Example: apps/myapp",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta/apps/{appsId}:repair",
          "httpMethod": "POST",
          "parameterOrder": [
            "appsId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "includeExtraData": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Unspecified: No extra data will be returned",
                "Do not return any extra data",
                "Return GGCM associated with the resources"
              ],
              "enum": [
                "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                "INCLUDE_EXTRA_DATA_NONE",
                "INCLUDE_GOOGLE_GENERATED_METADATA"
              ],
              "description": "Optional. Options to include extra data"
            },
            "appsId": {
              "type": "string",
              "description": "Part of `name`. Name of the Application resource to get. Example: apps/myapp.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Application"
          },
          "description": "Gets information about an application.",
          "id": "appengine.apps.get",
          "flatPath": "v1beta/apps/{appsId}",
          "parameterOrder": [
            "appsId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1beta/apps/{appsId}"
        },
        "patch": {
          "request": {
            "$ref": "Application"
          },
          "flatPath": "v1beta/apps/{appsId}",
          "path": "v1beta/apps/{appsId}",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. Standard field mask for the set of fields to be updated."
            },
            "appsId": {
              "required": true,
              "type": "string",
              "description": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
              "location": "path"
            }
          },
          "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "appsId"
          ],
          "httpMethod": "PATCH",
          "id": "appengine.apps.patch"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "operationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "locationsId": {
                      "type": "string",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "appengine.projects.locations.operations.get"
                },
                "list": {
                  "id": "appengine.projects.locations.operations.list",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "projectsId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. The name of the operation's parent resource."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "appengine.projects.locations.list",
              "parameterOrder": [
                "projectsId"
              ],
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "path": "v1beta/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "projectsId": {
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "httpMethod": "GET",
              "id": "appengine.projects.locations.get",
              "description": "Gets information about a location.",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "locationsId": {
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "projectsId": {
                  "description": "Part of `name`. Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/projects/{projectsId}/locations/{locationsId}"
            }
          }
        }
      }
    }
  },
  "revision": "20230831",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "description": "Provisions and manages developers' App Engine applications.",
  "basePath": "",
  "title": "App Engine Admin API",
  "fullyEncodeReservedExpansion": true,
  "id": "appengine:v1beta",
  "ownerName": "Google",
  "schemas": {
    "ReadinessCheck": {
      "properties": {
        "host": {
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "checkInterval": {
          "format": "google-duration",
          "description": "Interval between health checks.",
          "type": "string"
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "successThreshold": {
          "format": "uint32",
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "type": "integer"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Time before the check is considered failed.",
          "type": "string"
        },
        "appStartTimeout": {
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "type": "string",
          "format": "google-duration"
        },
        "failureThreshold": {
          "description": "Number of consecutive failed checks required before removing traffic.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "ReadinessCheck",
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "type": "object"
    },
    "Network": {
      "type": "object",
      "properties": {
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        },
        "name": {
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
          "type": "string"
        },
        "instanceIpMode": {
          "enumDescriptions": [
            "Unspecified is treated as EXTERNAL.",
            "Instances are created with both internal and external IP addresses.",
            "Instances are created with internal IP addresses only."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_IP_MODE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ],
          "description": "The IP mode for instances. Only applicable in the App Engine flexible environment."
        },
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        },
        "forwardedPorts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment."
        },
        "sessionAffinity": {
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment.",
          "type": "boolean"
        }
      },
      "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
      "id": "Network"
    },
    "Version": {
      "id": "Version",
      "properties": {
        "zones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
        },
        "createTime": {
          "description": "Time that this version was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "deployment": {
          "$ref": "Deployment",
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set."
        },
        "betaSettings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features."
        },
        "healthCheck": {
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment.Only returned in GET requests if view=FULL is set.",
          "$ref": "HealthCheck"
        },
        "instanceClass": {
          "type": "string",
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling."
        },
        "servingStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "type": "string",
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ]
        },
        "runtimeChannel": {
          "type": "string",
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel."
        },
        "versionUrl": {
          "description": "Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
          "type": "string"
        },
        "inboundServices": {
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "type": "array",
          "items": {
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ],
            "type": "string"
          }
        },
        "envVariables": {
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly"
        },
        "diskUsageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly"
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "Library"
          }
        },
        "vpcAccessConnector": {
          "$ref": "VpcAccessConnector",
          "description": "Enables VPC connectivity for standard apps."
        },
        "endpointsApiService": {
          "$ref": "EndpointsApiService",
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
        },
        "serviceAccount": {
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag.",
          "type": "string"
        },
        "flexibleRuntimeSettings": {
          "$ref": "FlexibleRuntimeSettings",
          "description": "Settings for App Engine flexible runtimes."
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
          "$ref": "BasicScaling"
        },
        "handlers": {
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "UrlMap"
          },
          "type": "array"
        },
        "nobuildFilesRegex": {
          "type": "string",
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set."
        },
        "appEngineApis": {
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services.",
          "type": "boolean"
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref",
          "type": "string"
        },
        "entrypoint": {
          "$ref": "Entrypoint",
          "description": "The entrypoint for the application."
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "errorHandlers": {
          "items": {
            "$ref": "ErrorHandler"
          },
          "type": "array",
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set."
        },
        "manualScaling": {
          "$ref": "ManualScaling",
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\"."
        },
        "apiConfig": {
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set.",
          "$ref": "ApiConfigHandler"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "network": {
          "$ref": "Network",
          "description": "Extra network settings. Only applicable in the App Engine flexible environment."
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instancesOnly returned in GET requests if view=FULL is set.",
          "$ref": "LivenessCheck"
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "env": {
          "type": "string",
          "description": "App Engine execution environment for this version.Defaults to standard."
        },
        "runtimeMainExecutablePath": {
          "type": "string",
          "description": "The path or name of the app's main executable."
        },
        "vm": {
          "type": "boolean",
          "description": "Whether to deploy this version in a container on a virtual machine."
        },
        "defaultExpiration": {
          "format": "google-duration",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        },
        "buildEnvVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
        },
        "readinessCheck": {
[...]
