{
  "name": "appengine",
  "id": "appengine:v1beta",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://appengine.googleapis.com/",
  "batchPath": "batch",
  "description": "Provisions and manages developers' App Engine applications.",
  "rootUrl": "https://appengine.googleapis.com/",
  "ownerName": "Google",
  "schemas": {
    "ProjectsMetadata": {
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "type": "object",
      "properties": {
        "tenantProjectNumber": {
          "description": "The tenant project number.",
          "type": "string",
          "format": "int64"
        },
        "consumerProjectNumber": {
          "format": "int64",
          "description": "The consumer project number.",
          "type": "string"
        },
        "producerProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "The producer project number."
        },
        "tenantProjectId": {
          "type": "string",
          "description": "The tenant project id."
        },
        "consumerProjectState": {
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "enumDescriptions": [
            "A project should never be in an unknown state. Receipt of a project with this state is an error.",
            "CCFE considers the project to be serving or transitioning into serving.",
            "CCFE considers the project to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a project to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the project is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the project has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "type": "string"
        },
        "p4ServiceAccount": {
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH.",
          "type": "string"
        },
        "producerProjectId": {
          "description": "The producer project id.",
          "type": "string"
        },
        "consumerProjectId": {
          "type": "string",
          "description": "The consumer project id."
        }
      },
      "id": "ProjectsMetadata"
    },
    "VpcAccessConnector": {
      "type": "object",
      "id": "VpcAccessConnector",
      "description": "VPC access connector specification.",
      "properties": {
        "name": {
          "description": "Full Serverless VPC Access Connector name e.g. /projects/my-project/locations/us-central1/connectors/c1.",
          "type": "string"
        },
        "egressSetting": {
          "type": "string",
          "description": "The egress setting for the connector, controlling what traffic is diverted through it.",
          "enumDescriptions": [
            "",
            "Force the use of VPC Access for all egress traffic from the function.",
            "Use the VPC Access Connector for private IP space from RFC1918."
          ],
          "enum": [
            "EGRESS_SETTING_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ]
        }
      }
    },
    "FirewallRule": {
      "id": "FirewallRule",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests.",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ],
          "description": "The action to take on matched requests.",
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ]
        },
        "priority": {
          "format": "int32",
          "description": "A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
          "type": "integer"
        },
        "sourceRange": {
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An optional string description of this rule. This field has a maximum length of 400 characters."
        }
      },
      "type": "object"
    },
    "CloudBuildOptions": {
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
      "properties": {
        "appYamlPath": {
          "type": "string",
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details."
        },
        "cloudBuildTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes."
        }
      },
      "type": "object",
      "id": "CloudBuildOptions"
    },
    "TrafficSplit": {
      "properties": {
        "shardBy": {
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "type": "string",
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ]
        },
        "allocations": {
          "type": "object",
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "id": "TrafficSplit",
      "type": "object",
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions."
    },
    "ManualScaling": {
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "id": "ManualScaling",
      "properties": {
        "instances": {
          "format": "int32",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "CreateVersionMetadataV1Beta": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "id": "CreateVersionMetadataV1Beta"
    },
    "BatchUpdateIngressRulesResponse": {
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The full list of ingress FirewallRules for this application.",
          "type": "array"
        }
      },
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "type": "object",
      "id": "BatchUpdateIngressRulesResponse"
    },
    "Library": {
      "description": "Third-party Python runtime library that is required by the application.",
      "properties": {
        "version": {
          "description": "Version of the library to select, or \"latest\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the library. Example: \"django\"."
        }
      },
      "id": "Library",
      "type": "object"
    },
    "Instance": {
      "id": "Instance",
      "properties": {
        "vmIp": {
          "type": "string",
          "description": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true
        },
        "requests": {
          "description": "Output only. Number of requests since this instance was started.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "vmLiveness": {
          "description": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIVENESS_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "UNHEALTHY",
            "DRAINING",
            "TIMEOUT"
          ],
          "enumDescriptions": [
            "There is no liveness health check for the instance. Only applicable for instances in App Engine standard environment.",
            "The health checking system is aware of the instance but its health is not known at the moment.",
            "The instance is reachable i.e. a connection to the application health checking endpoint can be established, and conforms to the requirements defined by the health check.",
            "The instance is reachable, but does not conform to the requirements defined by the health check.",
            "The instance is being drained. The existing connections to the instance have time to complete, but the new ones are being refused.",
            "The instance is unreachable i.e. a connection to the application health checking endpoint cannot be established, or the server does not respond within the specified timeout."
          ]
        },
        "errors": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of errors since this instance was started."
        },
        "vmId": {
          "description": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.",
          "type": "string",
          "readOnly": true
        },
        "averageLatency": {
          "readOnly": true,
          "description": "Output only. Average latency (ms) over the last minute.",
          "type": "integer",
          "format": "int32"
        },
        "appEngineRelease": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App Engine release this instance is running on."
        },
        "vmDebugEnabled": {
          "description": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "boolean"
        },
        "qps": {
          "type": "number",
          "description": "Output only. Average queries per second (QPS) over the last minute.",
          "readOnly": true,
          "format": "float"
        },
        "availability": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Output only. Availability of the instance.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ]
        },
        "id": {
          "description": "Output only. Relative name of the instance within the version. Example: instance-1.",
          "type": "string",
          "readOnly": true
        },
        "vmName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
        },
        "name": {
          "description": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
          "type": "string",
          "readOnly": true
        },
        "vmZoneName": {
          "description": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.",
          "type": "string",
          "readOnly": true
        },
        "vmStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
        },
        "memoryUsage": {
          "description": "Output only. Total memory in use (bytes).",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Time that this instance was started.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty",
      "properties": {}
    },
    "FlexibleRuntimeSettings": {
      "type": "object",
      "id": "FlexibleRuntimeSettings",
      "properties": {
        "runtimeVersion": {
          "description": "The runtime version of an App Engine flexible application.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "The operating system of the application runtime.",
          "type": "string"
        }
      },
      "description": "Runtime settings for the App Engine flexible environment."
    },
    "Service": {
      "id": "Service",
      "properties": {
        "id": {
          "description": "Relative name of the service within the application. Example: default.@OutputOnly",
          "type": "string"
        },
        "name": {
          "description": "Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "networkSettings": {
          "$ref": "NetworkSettings",
          "description": "Ingress settings for this service. Will apply to all versions."
        },
        "labels": {
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "split": {
          "$ref": "TrafficSplit",
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
        }
      },
      "type": "object",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service."
    },
    "ListAuthorizedCertificatesResponse": {
      "properties": {
        "certificates": {
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "type": "array",
          "description": "The SSL certificates the user is authorized to administer."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "id": "ListAuthorizedCertificatesResponse"
    },
    "LocationMetadata": {
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location.",
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        }
      }
    },
    "CpuUtilization": {
      "properties": {
        "targetUtilization": {
          "format": "double",
          "type": "number",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1."
        },
        "aggregationWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "Period of time over which CPU utilization is calculated."
        }
      },
      "id": "CpuUtilization",
      "type": "object",
      "description": "Target scaling by CPU usage."
    },
    "Network": {
      "id": "Network",
      "properties": {
        "forwardedPorts": {
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instanceIpMode": {
          "enum": [
            "INSTANCE_IP_MODE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ],
          "description": "The IP mode for instances. Only applicable in the App Engine flexible environment.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified is treated as EXTERNAL.",
            "Instances are created with both internal and external IP addresses.",
            "Instances are created with internal IP addresses only."
          ]
        },
        "name": {
          "type": "string",
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default."
        },
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        },
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        },
        "sessionAffinity": {
          "type": "boolean",
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment."
        }
      },
      "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
      "type": "object"
    },
    "ProjectEvent": {
      "description": "The request sent to CLHs during project events.",
      "id": "ProjectEvent",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ProjectState"
        },
        "phase": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ]
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        }
      }
    },
    "Resources": {
      "id": "Resources",
      "properties": {
        "volumes": {
          "description": "User specified volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "memoryGb": {
          "description": "Memory (GB) needed.",
          "format": "double",
          "type": "number"
        },
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        },
        "diskGb": {
          "type": "number",
          "description": "Disk size (GB) needed.",
          "format": "double"
        },
        "cpu": {
          "description": "Number of CPU cores needed.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Machine resources for a version."
    },
    "OperationMetadataV1Beta": {
      "id": "OperationMetadataV1Beta",
      "properties": {
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "BuildInfo": {
      "type": "object",
      "id": "BuildInfo",
      "properties": {
        "cloudBuildId": {
          "description": "The Google Cloud Build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\"",
          "type": "string"
        }
      },
      "description": "Google Cloud Build information."
    },
    "DebugInstanceRequest": {
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for Instances.DebugInstance.",
      "id": "DebugInstanceRequest"
    },
    "ResourceRecord": {
      "description": "A DNS resource record.",
      "type": "object",
      "id": "ResourceRecord",
      "properties": {
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "description": "Resource record type. Example: AAAA.",
          "type": "string",
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ]
        },
        "rrdata": {
          "type": "string",
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "ListAuthorizedDomainsResponse": {
      "type": "object",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "properties": {
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListAuthorizedDomainsResponse"
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "type": "object",
      "description": "A domain serving an App Engine application.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Relative name of the domain serving the application. Example: example.com."
        },
        "sslSettings": {
          "$ref": "SslSettings",
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL."
        },
        "resourceRecords": {
          "items": {
            "$ref": "ResourceRecord"
          },
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "type": "array"
        },
        "name": {
          "description": "Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "type": "string"
        }
      }
    },
    "ReadinessCheck": {
      "properties": {
        "checkInterval": {
          "description": "Interval between health checks.",
          "type": "string",
          "format": "google-duration"
        },
        "successThreshold": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of consecutive successful checks required before receiving traffic."
        },
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\""
        },
        "timeout": {
          "description": "Time before the check is considered failed.",
          "type": "string",
          "format": "google-duration"
        },
        "failureThreshold": {
          "type": "integer",
          "description": "Number of consecutive failed checks required before removing traffic.",
          "format": "uint32"
        },
        "appStartTimeout": {
          "format": "google-duration",
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "type": "string"
        }
      },
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "type": "object",
      "id": "ReadinessCheck"
    },
    "RepairApplicationRequest": {
      "properties": {},
      "id": "RepairApplicationRequest",
      "type": "object",
      "description": "Request message for 'Applications.RepairApplication'."
    },
    "SslSettings": {
      "id": "SslSettings",
      "properties": {
        "pendingManagedCertificateId": {
          "type": "string",
          "description": "ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly"
        },
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "sslManagementType": {
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain.",
          "enumDescriptions": [
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explictly mapped to this domain."
          ],
          "type": "string",
          "enum": [
            "AUTOMATIC",
            "MANUAL"
          ]
        }
      },
      "description": "SSL configuration for a DomainMapping resource.",
      "type": "object"
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "description": "Response message for Versions.ListVersions.",
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "description": "The versions belonging to the requested service.",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "BatchUpdateIngressRulesRequest": {
      "properties": {
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "A list of FirewallRules to replace the existing set."
        }
      },
      "type": "object",
      "description": "Request message for Firewall.BatchUpdateIngressRules.",
      "id": "BatchUpdateIngressRulesRequest"
    },
    "EndpointsApiService": {
      "properties": {
        "configId": {
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
          "type": "string"
        },
        "name": {
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
          "type": "string"
        },
        "rolloutStrategy": {
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ],
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ]
        },
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "EndpointsApiService",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview)."
    },
    "ProjectState": {
      "type": "object",
      "properties": {
        "currentReasons": {
          "$ref": "Reasons"
        },
        "state": {
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The current state of the project. This state is the culmination of all of the opinions from external systems that CCFE knows about of the project.",
          "enumDescriptions": [
            "A project should never be in an unknown state. Receipt of a project with this state is an error.",
            "CCFE considers the project to be serving or transitioning into serving.",
            "CCFE considers the project to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a project to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the project is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the project has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "type": "string"
        },
        "previousReasons": {
          "description": "The previous and current reasons for a project state will be sent for a project event. CLHs that need to know the signal that caused the project event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.Reasons fields are deprecated. New tenants should only use the state field. If you must know the reason(s) behind a specific state, please consult with CCFE team first (cloud-ccfe-discuss@google.com).",
          "$ref": "Reasons"
        }
      },
      "id": "ProjectState",
      "description": "ProjectState contains the externally-visible project state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the project state."
    },
    "AuthorizedDomain": {
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome).",
      "type": "object",
      "id": "AuthorizedDomain",
      "properties": {
        "name": {
          "type": "string",
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly"
        },
        "id": {
          "type": "string",
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com."
        }
      }
    },
    "HealthCheck": {
      "type": "object",
      "id": "HealthCheck",
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "properties": {
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "unhealthyThreshold": {
          "description": "Number of consecutive failed health checks required before removing traffic.",
          "type": "integer",
          "format": "uint32"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the health check is considered failed."
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\""
        },
        "healthyThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive successful health checks required before receiving traffic."
        },
        "disableHealthCheck": {
          "type": "boolean",
          "description": "Whether to explicitly disable health checks for this instance."
        },
        "restartThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "type": "integer"
        }
      }
    },
    "OperationMetadataV1": {
      "id": "OperationMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        }
      }
    },
    "ErrorHandler": {
      "id": "ErrorHandler",
      "type": "object",
      "properties": {
        "staticFile": {
          "type": "string",
          "description": "Static file content to be served for this error."
        },
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        },
        "errorCode": {
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "description": "Error condition this handler applies to.",
          "type": "string"
        }
      },
      "description": "Custom static error page to be served when an error occurs."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "Volume": {
      "id": "Volume",
      "properties": {
        "sizeGb": {
          "type": "number",
          "format": "double",
          "description": "Volume size in gigabytes."
        },
        "name": {
          "type": "string",
          "description": "Unique name for the volume."
        },
        "volumeType": {
          "description": "Underlying volume type, e.g. 'tmpfs'.",
          "type": "string"
        }
      },
      "description": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment.",
      "type": "object"
    },
    "ContainerInfo": {
      "type": "object",
      "id": "ContainerInfo",
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "properties": {
        "image": {
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\"",
          "type": "string"
        }
      }
    },
    "BasicScaling": {
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
      "properties": {
        "maxInstances": {
          "type": "integer",
          "description": "Maximum number of instances to create for this version.",
          "format": "int32"
        },
        "idleTimeout": {
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "BasicScaling",
      "type": "object"
    },
    "ListDomainMappingsResponse": {
      "id": "ListDomainMappingsResponse",
      "type": "object",
      "properties": {
        "domainMappings": {
          "description": "The domain mappings for the application.",
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "Response message for DomainMappings.ListDomainMappings."
    },
    "NetworkUtilization": {
      "properties": {
        "targetReceivedBytesPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target bytes received per second."
        },
        "targetReceivedPacketsPerSecond": {
          "description": "Target packets received per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetSentBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes sent per second."
        },
        "targetSentPacketsPerSecond": {
          "format": "int32",
          "description": "Target packets sent per second.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "NetworkUtilization",
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "Entrypoint": {
      "id": "Entrypoint",
      "description": "The entrypoint for the application.",
      "properties": {
        "shell": {
          "description": "The format should be a shell command that can be fed to bash -c.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListServicesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "description": "The services belonging to the requested application.",
          "type": "array"
        }
      },
      "description": "Response message for Services.ListServices.",
      "id": "ListServicesResponse"
    },
    "ListInstancesResponse": {
      "description": "Response message for Instances.ListInstances.",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances belonging to the requested version."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListInstancesResponse"
    },
    "Version": {
      "type": "object",
      "properties": {
        "appEngineApis": {
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services.",
          "type": "boolean"
        },
        "handlers": {
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          }
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "Library"
          }
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instancesOnly returned in GET requests if view=FULL is set.",
          "$ref": "LivenessCheck"
        },
        "flexibleRuntimeSettings": {
          "$ref": "FlexibleRuntimeSettings",
          "description": "Settings for App Engine flexible runtimes."
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
          "type": "string"
        },
        "vm": {
          "type": "boolean",
          "description": "Whether to deploy this version in a container on a virtual machine."
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref",
          "type": "string"
        },
        "errorHandlers": {
          "items": {
            "$ref": "ErrorHandler"
          },
          "type": "array",
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set."
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "runtimeMainExecutablePath": {
          "type": "string",
          "description": "The path or name of the app's main executable."
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
        },
        "vpcAccessConnector": {
          "$ref": "VpcAccessConnector",
          "description": "Enables VPC connectivity for standard apps."
        },
        "apiConfig": {
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set.",
          "$ref": "ApiConfigHandler"
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "buildEnvVariables": {
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "runtimeChannel": {
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel.",
          "type": "string"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "defaultExpiration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set."
        },
        "healthCheck": {
          "$ref": "HealthCheck",
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment.Only returned in GET requests if view=FULL is set."
        },
        "readinessCheck": {
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation.Only returned in GET requests if view=FULL is set.",
          "$ref": "ReadinessCheck"
        },
        "basicScaling": {
          "$ref": "BasicScaling",
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
        },
        "entrypoint": {
          "description": "The entrypoint for the application.",
          "$ref": "Entrypoint"
        },
        "inboundServices": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ]
          },
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service."
        },
        "manualScaling": {
          "$ref": "ManualScaling",
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\"."
        },
        "env": {
          "type": "string",
          "description": "App Engine execution environment for this version.Defaults to standard."
        },
        "versionUrl": {
          "type": "string",
          "description": "Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly"
        },
        "envVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "type": "object"
        },
        "servingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING."
        },
        "diskUsageBytes": {
          "type": "string",
          "description": "Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly",
          "format": "int64"
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "createdBy": {
          "type": "string",
          "description": "Email address of the user who created this version.@OutputOnly"
        },
        "network": {
          "$ref": "Network",
          "description": "Extra network settings. Only applicable in the App Engine flexible environment."
        },
        "name": {
          "type": "string",
          "description": "Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly"
        },
        "runtime": {
          "type": "string",
          "description": "Desired runtime. Example: python27."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this version was created.@OutputOnly"
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
          "$ref": "Deployment"
        },
        "endpointsApiService": {
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app.",
          "$ref": "EndpointsApiService"
        },
        "betaSettings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features."
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        }
      },
      "id": "Version",
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service."
    },
    "AuthorizedCertificate": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly"
        },
        "managedCertificate": {
          "$ref": "ManagedCertificate",
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly"
        },
        "domainMappingsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "visibleDomainMappings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "name": {
          "description": "Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly",
          "type": "string"
        },
        "certificateRawData": {
          "$ref": "CertificateRawData",
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority."
        },
        "domainNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly"
        }
      },
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains.",
      "id": "AuthorizedCertificate",
      "type": "object"
    },
    "AutomaticScaling": {
      "properties": {
        "standardSchedulerSettings": {
          "description": "Scheduler settings for standard environment.",
          "$ref": "StandardSchedulerSettings"
        },
        "maxIdleInstances": {
          "format": "int32",
          "description": "Maximum number of idle instances that should be maintained for this version.",
          "type": "integer"
        },
        "maxPendingLatency": {
          "type": "string",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
          "format": "google-duration"
        },
        "minTotalInstances": {
          "description": "Minimum number of running instances that should be maintained for this version.",
          "format": "int32",
          "type": "integer"
        },
        "coolDownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment."
        },
        "maxConcurrentRequests": {
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
          "format": "int32",
          "type": "integer"
        },
        "minPendingLatency": {
          "format": "google-duration",
          "type": "string",
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it."
        },
        "requestUtilization": {
          "$ref": "RequestUtilization",
          "description": "Target scaling by request utilization."
        },
        "maxTotalInstances": {
          "description": "Maximum number of instances that should be started to handle requests for this version.",
          "type": "integer",
          "format": "int32"
        },
        "minIdleInstances": {
          "type": "integer",
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
          "format": "int32"
        },
        "cpuUtilization": {
          "$ref": "CpuUtilization",
          "description": "Target scaling by CPU usage."
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "diskUtilization": {
          "$ref": "DiskUtilization",
          "description": "Target scaling by disk usage."
        },
        "customMetrics": {
          "description": "Target scaling by user-provided metrics. Only applicable in the App Engine flexible environment.",
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          }
        }
      },
      "id": "AutomaticScaling",
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "type": "object"
    },
    "CustomMetric": {
      "type": "object",
      "id": "CustomMetric",
      "description": "Allows autoscaling based on Stackdriver metrics.",
      "properties": {
        "filter": {
          "description": "Allows filtering on the metric's fields.",
          "type": "string"
        },
        "targetType": {
          "type": "string",
          "description": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc."
        },
        "singleInstanceAssignment": {
          "format": "double",
          "type": "number",
          "description": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment."
        },
        "targetUtilization": {
          "type": "number",
          "description": "The target value for the metric.",
          "format": "double"
        },
        "metricName": {
          "type": "string",
          "description": "The name of the metric."
        }
      }
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "id": "GoogleAppengineV1betaLocationMetadata",
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location.",
      "type": "object"
    },
    "StandardSchedulerSettings": {
      "properties": {
        "targetThroughputUtilization": {
          "format": "double",
          "description": "Target throughput utilization ratio to maintain when scaling",
          "type": "number"
        },
        "maxInstances": {
          "type": "integer",
          "description": "Maximum number of instances to run for this version. Set to zero to disable max_instances configuration.",
          "format": "int32"
        },
        "targetCpuUtilization": {
          "format": "double",
          "type": "number",
          "description": "Target CPU utilization ratio to maintain when scaling."
        },
        "minInstances": {
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Scheduler settings for standard environment.",
      "id": "StandardSchedulerSettings",
      "type": "object"
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "RequestUtilization": {
      "properties": {
        "targetConcurrentRequests": {
          "type": "integer",
          "description": "Target number of concurrent requests.",
          "format": "int32"
        },
        "targetRequestCountPerSecond": {
          "description": "Target requests per second.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Target scaling by request utilization. Only applicable in the App Engine flexible environment.",
      "id": "RequestUtilization",
      "type": "object"
    },
    "ZipInfo": {
      "properties": {
        "sourceUrl": {
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        },
        "filesCount": {
          "type": "integer",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow.",
          "format": "int32"
        }
      },
      "id": "ZipInfo",
      "description": "The zip file information for a zip deployment.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "CreateVersionMetadataV1": {
      "type": "object",
      "id": "CreateVersionMetadataV1",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest."
    },
    "UrlMap": {
      "properties": {
        "urlRegex": {
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.",
          "type": "string"
        },
        "staticFiles": {
          "description": "Returns the contents of a file, such as an image, as the response.",
          "$ref": "StaticFilesHandler"
        },
        "login": {
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment.",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "type": "string"
        },
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "securityLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "type": "string"
        },
        "authFailAction": {
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "type": "string",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "redirectHttpResponseCode": {
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ],
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302.",
          "type": "string"
        },
        "script": {
          "$ref": "ScriptHandler",
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\"."
        }
      },
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "id": "UrlMap",
      "type": "object"
    },
    "FileInfo": {
      "properties": {
        "mimeType": {
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage.",
          "type": "string"
        },
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
      "id": "FileInfo"
    },
    "ApiConfigHandler": {
      "id": "ApiConfigHandler",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers.",
      "properties": {
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        },
        "url": {
          "description": "URL to serve the endpoint at.",
          "type": "string"
        },
        "securityLevel": {
          "description": "Security (HTTPS) enforcement for this URL.",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "type": "string"
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ]
        },
        "login": {
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "description": "Level of login required to access this resource. Defaults to optional.",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ScriptHandler": {
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "id": "ScriptHandler",
      "description": "Executes a script to handle the request that matches the URL pattern."
    },
    "IdentityAwareProxy": {
      "description": "Identity-Aware Proxy",
      "properties": {
        "oauth2ClientSecretSha256": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hex-encoded SHA-256 hash of the client secret.@OutputOnly"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty."
        },
        "oauth2ClientSecret": {
          "type": "string",
          "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly"
        },
        "oauth2ClientId": {
          "type": "string",
          "description": "OAuth2 client ID to use for the authentication flow."
        }
      },
      "type": "object",
      "id": "IdentityAwareProxy"
    },
    "CreateVersionMetadataV1Alpha": {
      "type": "object",
      "id": "CreateVersionMetadataV1Alpha",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
    },
    "ApiEndpointHandler": {
      "id": "ApiEndpointHandler",
      "type": "object",
      "description": "Uses Google Cloud Endpoints to handle requests.",
      "properties": {
        "scriptPath": {
          "type": "string",
          "description": "Path to the script from the application root directory."
        }
      }
    },
    "LivenessCheck": {
      "id": "LivenessCheck",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the check is considered failed."
        },
        "successThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive successful checks required before considering the VM healthy."
        },
        "initialDelay": {
          "format": "google-duration",
          "type": "string",
          "description": "The initial delay before starting to execute the checks."
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "failureThreshold": {
          "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
          "format": "uint32",
          "type": "integer"
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\""
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        }
      },
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "type": "object"
    },
    "UrlDispatchRule": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\"."
        },
        "path": {
          "type": "string",
          "description": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters."
        },
        "service": {
          "description": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UrlDispatchRule",
      "description": "Rules to match an HTTP request and dispatch that request to a service."
    },
    "Deployment": {
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "properties": {
        "cloudBuildOptions": {
          "$ref": "CloudBuildOptions",
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip."
        },
        "files": {
          "type": "object",
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
          "additionalProperties": {
            "$ref": "FileInfo"
          }
        },
        "container": {
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "ContainerInfo"
        },
        "zip": {
          "description": "The zip file for this deployment, if this is a zip deployment.",
          "$ref": "ZipInfo"
        },
        "build": {
          "description": "Google Cloud Build build information. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "BuildInfo"
        }
      },
      "type": "object",
      "id": "Deployment"
    },
    "DiskUtilization": {
      "properties": {
        "targetWriteOpsPerSecond": {
          "type": "integer",
          "description": "Target ops written per second.",
          "format": "int32"
        },
        "targetWriteBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes written per second.",
          "type": "integer"
        },
        "targetReadBytesPerSecond": {
          "type": "integer",
          "description": "Target bytes read per second.",
          "format": "int32"
        },
        "targetReadOpsPerSecond": {
          "format": "int32",
          "description": "Target ops read per seconds.",
          "type": "integer"
        }
      },
      "id": "DiskUtilization",
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "type": "object"
    },
    "NetworkSettings": {
      "properties": {
        "ingressTrafficAllowed": {
          "type": "string",
          "description": "The ingress settings for version or service.",
          "enum": [
            "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALLOWED_ALL",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Allow HTTP traffic from public and private sources.",
            "Allow HTTP traffic from only private VPC sources.",
            "Allow HTTP traffic from private VPC sources and through load balancers."
          ]
        }
      },
      "description": "A NetworkSettings resource is a container for ingress settings for a version or service.",
      "id": "NetworkSettings",
      "type": "object"
    },
    "StaticFilesHandler": {
[...]
