{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "revision": "20210413",
  "servicePath": "",
  "discoveryVersion": "v1",
  "name": "area120tables",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "area120tables:v1alpha1",
  "schemas": {
    "SavedView": {
      "description": "A saved view of a table. NextId: 3",
      "type": "object",
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        }
      },
      "id": "SavedView"
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch."
        }
      },
      "type": "object",
      "description": "Request message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsRequest"
    },
    "BatchCreateRowsResponse": {
      "type": "object",
      "id": "BatchCreateRowsResponse",
      "properties": {
        "rows": {
          "description": "The created rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "Response message for TablesService.BatchCreateRows."
    },
    "UpdateRowRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The list of fields to update.",
          "type": "string"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ]
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        }
      },
      "type": "object",
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest"
    },
    "LabeledItem": {
      "description": "A single item in a labeled column.",
      "id": "LabeledItem",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        },
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        }
      }
    },
    "RelationshipDetails": {
      "description": "Details about a relationship column.",
      "type": "object",
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "id": "RelationshipDetails"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "LookupDetails": {
      "type": "object",
      "properties": {
        "relationshipColumn": {
          "type": "string",
          "description": "The name of the relationship column associated with the lookup."
        },
        "relationshipColumnId": {
          "description": "The id of the relationship column.",
          "type": "string"
        }
      },
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "id": "LookupDetails"
    },
    "ListTablesResponse": {
      "description": "Response message for TablesService.ListTables.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "tables": {
          "description": "The list of tables.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        }
      },
      "id": "ListTablesResponse"
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "description": "A single row in a table.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the row was last updated.",
          "type": "string"
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        },
        "createTime": {
          "description": "Time when the row was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "BatchDeleteRowsRequest": {
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteRowsRequest",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "properties": {
        "workspaces": {
          "description": "The list of workspaces.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListWorkspacesResponse",
      "type": "object",
      "description": "Response message for TablesService.ListWorkspaces."
    },
    "BatchUpdateRowsResponse": {
      "type": "object",
      "id": "BatchUpdateRowsResponse",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows."
        }
      },
      "description": "Response message for TablesService.BatchUpdateRows."
    },
    "BatchCreateRowsRequest": {
      "description": "Request message for TablesService.BatchCreateRows.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateRowRequest"
          },
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch."
        }
      },
      "id": "BatchCreateRowsRequest"
    },
    "Workspace": {
      "properties": {
        "tables": {
          "description": "The list of tables in the workspace.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the workspace was created.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        }
      },
      "type": "object",
      "id": "Workspace",
      "description": "A single workspace."
    },
    "Table": {
      "description": "A single table. NextId: 7",
      "id": "Table",
      "type": "object",
      "properties": {
        "savedViews": {
          "type": "array",
          "description": "Saved views for this table.",
          "items": {
            "$ref": "SavedView"
          }
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was created."
        },
        "columns": {
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string"
        }
      }
    },
    "ColumnDescription": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean"
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        },
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        },
        "labels": {
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "items": {
            "$ref": "LabeledItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ColumnDescription",
      "description": "Details on a column in the table."
    },
    "CreateRowRequest": {
      "id": "CreateRowRequest",
      "type": "object",
      "properties": {
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        },
        "view": {
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ]
        },
        "parent": {
          "description": "Required. The parent table where this row will be created. Format: tables/{table}",
          "type": "string"
        }
      },
      "description": "Request message for TablesService.CreateRow."
    },
    "ListRowsResponse": {
      "id": "ListRowsResponse",
      "description": "Response message for TablesService.ListRows.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "description": "The rows from the specified table.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "baseUrl": "https://area120tables.googleapis.com/",
  "resources": {
    "tables": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "httpMethod": "GET",
          "id": "area120tables.tables.get",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^tables/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the table to retrieve. Format: tables/{table}"
            }
          },
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/tables/{tablesId}"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "location": "query"
            },
            "orderBy": {
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListTablesResponse"
          },
          "path": "v1alpha1/tables",
          "id": "area120tables.tables.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameterOrder": [],
          "flatPath": "v1alpha1/tables",
          "description": "Lists tables for the user."
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "request": {
                "$ref": "Row"
              },
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "PATCH",
              "id": "area120tables.tables.rows.patch",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Updates a row.",
              "parameters": {
                "updateMask": {
                  "description": "The list of fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "id": "area120tables.tables.rows.delete",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a row."
            },
            "create": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "response": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.create",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "view": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "required": true
                }
              },
              "request": {
                "$ref": "Row"
              },
              "description": "Creates a row.",
              "httpMethod": "POST"
            },
            "list": {
              "id": "area120tables.tables.rows.list",
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime."
                },
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "type": "integer",
                  "format": "int32"
                },
                "view": {
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "path": "v1alpha1/{+parent}/rows",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "httpMethod": "GET"
            },
            "get": {
              "id": "area120tables.tables.rows.get",
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "GET",
              "parameters": {
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "batchUpdate": {
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "id": "area120tables.tables.rows.batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates multiple rows."
            },
            "batchCreate": {
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "httpMethod": "POST",
              "description": "Creates multiple rows.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "area120tables.tables.rows.batchCreate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "batchDelete": {
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "id": "area120tables.tables.rows.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes multiple rows.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "workspaces": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Workspace"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "pattern": "^workspaces/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "area120tables.workspaces.get",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "description": "Lists workspaces for the user.",
          "path": "v1alpha1/workspaces",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/workspaces",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "id": "area120tables.workspaces.list",
          "response": {
            "$ref": "ListWorkspacesResponse"
          }
        }
      }
    }
  },
  "basePath": "",
  "title": "Area120 Tables API",
  "protocol": "rest",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "version_module": true,
  "version": "v1alpha1",
  "ownerDomain": "google.com",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "rootUrl": "https://area120tables.googleapis.com/",
  "canonicalName": "Area120 Tables"
}
