{
  "rootUrl": "https://area120tables.googleapis.com/",
  "version": "v1alpha1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "baseUrl": "https://area120tables.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "BatchDeleteRowsRequest": {
      "id": "BatchDeleteRowsRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}"
        }
      },
      "type": "object",
      "description": "Request message for TablesService.BatchDeleteRows"
    },
    "LookupDetails": {
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        },
        "relationshipColumnId": {
          "description": "The id of the relationship column.",
          "type": "string"
        }
      },
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "type": "object",
      "id": "BatchUpdateRowsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch."
        }
      },
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "BatchCreateRowsResponse": {
      "id": "BatchCreateRowsResponse",
      "description": "Response message for TablesService.BatchCreateRows.",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The created rows."
        }
      }
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "workspaces": {
          "description": "The list of workspaces.",
          "items": {
            "$ref": "Workspace"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListWorkspacesResponse"
    },
    "ListRowsResponse": {
      "id": "ListRowsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "description": "Response message for TablesService.ListRows."
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "type": "object",
      "properties": {
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for TablesService.ListTables."
    },
    "Row": {
      "id": "Row",
      "description": "A single row in a table.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was created."
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BatchCreateRowsRequest": {
      "type": "object",
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Table": {
      "type": "object",
      "properties": {
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "type": "array",
          "description": "Saved views for this table."
        },
        "columns": {
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the table."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the table was created.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        }
      },
      "description": "A single table. NextId: 7",
      "id": "Table"
    },
    "ColumnDescription": {
      "description": "Details on a column in the table.",
      "type": "object",
      "id": "ColumnDescription",
      "properties": {
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        },
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation."
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        }
      }
    },
    "RelationshipDetails": {
      "id": "RelationshipDetails",
      "description": "Details about a relationship column.",
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "type": "object"
    },
    "SavedView": {
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        }
      },
      "type": "object",
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3"
    },
    "UpdateRowRequest": {
      "description": "Request message for TablesService.UpdateRow.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The list of fields to update."
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        },
        "view": {
          "type": "string",
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        }
      },
      "type": "object",
      "id": "UpdateRowRequest"
    },
    "Workspace": {
      "description": "A single workspace.",
      "id": "Workspace",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        },
        "tables": {
          "description": "The list of tables in the workspace.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Time when the workspace was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was created."
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        }
      }
    },
    "CreateRowRequest": {
      "description": "Request message for TablesService.CreateRow.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        },
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string",
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        }
      },
      "type": "object",
      "id": "CreateRowRequest"
    },
    "LabeledItem": {
      "description": "A single item in a labeled column.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        }
      },
      "id": "LabeledItem"
    },
    "BatchUpdateRowsResponse": {
      "id": "BatchUpdateRowsResponse",
      "description": "Response message for TablesService.BatchUpdateRows.",
      "type": "object",
      "properties": {
        "rows": {
          "description": "The updated rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    }
  },
  "revision": "20210412",
  "title": "Area120 Tables API",
  "resources": {
    "workspaces": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^workspaces/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}"
            }
          },
          "id": "area120tables.workspaces.get",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "response": {
            "$ref": "Workspace"
          },
          "path": "v1alpha1/{+name}"
        },
        "list": {
          "id": "area120tables.workspaces.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "flatPath": "v1alpha1/workspaces",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1alpha1/workspaces",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "description": "Lists workspaces for the user."
        }
      }
    },
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "description": "Deletes a row.",
              "httpMethod": "DELETE",
              "id": "area120tables.tables.rows.delete",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "id": "area120tables.tables.rows.patch",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameters": {
                "updateMask": {
                  "description": "The list of fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Updates a row."
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}"
                }
              },
              "description": "Deletes multiple rows.",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "httpMethod": "POST",
              "id": "area120tables.tables.rows.batchDelete"
            },
            "create": {
              "parameters": {
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "parent": {
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.create",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Creates a row.",
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows",
              "request": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows"
            },
            "batchUpdate": {
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "id": "area120tables.tables.rows.batchUpdate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "httpMethod": "POST",
              "description": "Updates multiple rows.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "id": "area120tables.tables.rows.get",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "name": {
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                }
              },
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET"
            },
            "list": {
              "id": "area120tables.tables.rows.list",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "view": {
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "description": "Required. The parent table. Format: tables/{table}"
                }
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows"
            },
            "batchCreate": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Creates multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "httpMethod": "POST",
              "id": "area120tables.tables.rows.batchCreate"
            }
          }
        }
      },
      "methods": {
        "get": {
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/tables/{tablesId}",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "id": "area120tables.tables.get",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "pattern": "^tables/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "list": {
          "parameterOrder": [],
          "path": "v1alpha1/tables",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100."
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/tables",
          "id": "area120tables.tables.list",
          "httpMethod": "GET",
          "description": "Lists tables for the user."
        }
      }
    }
  },
  "basePath": "",
  "description": "",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "servicePath": "",
  "canonicalName": "Area120 Tables",
  "version_module": true,
  "name": "area120tables",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "id": "area120tables:v1alpha1"
}
