{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        }
      }
    }
  },
  "ownerName": "Google",
  "canonicalName": "Area120 Tables",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "baseUrl": "https://area120tables.googleapis.com/",
  "description": "",
  "version": "v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "id": "area120tables:v1alpha1",
  "basePath": "",
  "name": "area120tables",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "LookupDetails": {
      "properties": {
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        },
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship."
    },
    "BatchDeleteRowsRequest": {
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchDeleteRowsRequest"
    },
    "BatchUpdateRowsRequest": {
      "type": "object",
      "description": "Request message for TablesService.BatchUpdateRows.",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateRowsRequest"
    },
    "ColumnDescription": {
      "type": "object",
      "id": "ColumnDescription",
      "properties": {
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "multipleValuesDisallowed": {
          "type": "boolean",
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible."
        },
        "labels": {
          "type": "array",
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "items": {
            "$ref": "LabeledItem"
          }
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        }
      },
      "description": "Details on a column in the table."
    },
    "BatchCreateRowsResponse": {
      "type": "object",
      "id": "BatchCreateRowsResponse",
      "description": "Response message for TablesService.BatchCreateRows.",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The created rows."
        }
      }
    },
    "LabeledItem": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        },
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string"
        }
      },
      "description": "A single item in a labeled column.",
      "type": "object",
      "id": "LabeledItem"
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "type": "object",
      "properties": {
        "workspaces": {
          "description": "The list of workspaces.",
          "items": {
            "$ref": "Workspace"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "UpdateRowRequest": {
      "type": "object",
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest",
      "properties": {
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "updateMask": {
          "type": "string",
          "description": "The list of fields to update.",
          "format": "google-fieldmask"
        }
      }
    },
    "CreateRowRequest": {
      "description": "Request message for TablesService.CreateRow.",
      "id": "CreateRowRequest",
      "type": "object",
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        },
        "parent": {
          "description": "Required. The parent table where this row will be created. Format: tables/{table}",
          "type": "string"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        }
      }
    },
    "ListTablesResponse": {
      "description": "Response message for TablesService.ListTables.",
      "id": "ListTablesResponse",
      "type": "object",
      "properties": {
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Table": {
      "type": "object",
      "description": "A single table. NextId: 7",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "columns": {
          "items": {
            "$ref": "ColumnDescription"
          },
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order."
        },
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "type": "array",
          "description": "Saved views for this table."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was created."
        },
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Table"
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "id": "RelationshipDetails",
      "description": "Details about a relationship column.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "BatchUpdateRowsResponse": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The updated rows.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "Response message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsResponse"
    },
    "Workspace": {
      "id": "Workspace",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Time when the workspace was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        },
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables in the workspace."
        },
        "createTime": {
          "type": "string",
          "description": "Time when the workspace was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single workspace."
    },
    "BatchCreateRowsRequest": {
      "type": "object",
      "description": "Request message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      }
    },
    "ListRowsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "id": "ListRowsResponse",
      "description": "Response message for TablesService.ListRows."
    },
    "SavedView": {
      "type": "object",
      "description": "A saved view of a table. NextId: 3",
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        }
      },
      "id": "SavedView"
    },
    "Row": {
      "type": "object",
      "description": "A single row in a table.",
      "id": "Row",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was created."
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "revision": "20210413",
  "version_module": true,
  "ownerDomain": "google.com",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "rootUrl": "https://area120tables.googleapis.com/",
  "title": "Area120 Tables API",
  "resources": {
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "batchDelete": {
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "httpMethod": "POST",
              "id": "area120tables.tables.rows.batchDelete",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "required": true,
                  "type": "string",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes multiple rows."
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.get",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                },
                "view": {
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "patch": {
              "parameters": {
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "description": "The list of fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "response": {
                "$ref": "Row"
              },
              "request": {
                "$ref": "Row"
              },
              "id": "area120tables.tables.rows.patch",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Updates a row."
            },
            "batchUpdate": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Updates multiple rows.",
              "id": "area120tables.tables.rows.batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}"
                }
              },
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              }
            },
            "list": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "path": "v1alpha1/{+parent}/rows",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "GET",
              "id": "area120tables.tables.rows.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "type": "string",
                  "required": true,
                  "pattern": "^tables/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371)."
                }
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "response": {
                "$ref": "ListRowsResponse"
              }
            },
            "batchCreate": {
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates multiple rows.",
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "area120tables.tables.rows.batchCreate",
              "httpMethod": "POST"
            },
            "create": {
              "response": {
                "$ref": "Row"
              },
              "request": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "httpMethod": "POST",
              "id": "area120tables.tables.rows.create",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "type": "string"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "path": "v1alpha1/{+parent}/rows",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a row.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Deletes a row.",
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.delete",
              "parameters": {
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Table"
          },
          "flatPath": "v1alpha1/tables/{tablesId}",
          "id": "area120tables.tables.get",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "location": "path",
              "pattern": "^tables/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "httpMethod": "GET"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/tables",
          "parameterOrder": [],
          "flatPath": "v1alpha1/tables",
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime."
            }
          },
          "httpMethod": "GET",
          "id": "area120tables.tables.list",
          "description": "Lists tables for the user.",
          "response": {
            "$ref": "ListTablesResponse"
          }
        }
      }
    },
    "workspaces": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "flatPath": "v1alpha1/workspaces",
          "httpMethod": "GET",
          "path": "v1alpha1/workspaces",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "area120tables.workspaces.list",
          "parameterOrder": [],
          "description": "Lists workspaces for the user.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "get": {
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "Workspace"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "httpMethod": "GET",
          "id": "area120tables.workspaces.get",
          "parameters": {
            "name": {
              "pattern": "^workspaces/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}"
            }
          }
        }
      }
    }
  }
}
