{
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerName": "Google",
  "name": "area120tables",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "basePath": "",
  "title": "Area120 Tables API",
  "version": "v1alpha1",
  "protocol": "rest",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "schemas": {
    "Table": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human readable title of the table."
        },
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Time when the table was created.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "columns": {
          "items": {
            "$ref": "ColumnDescription"
          },
          "description": "List of columns in this table. Order of columns matches the display order.",
          "type": "array"
        },
        "savedViews": {
          "description": "Saved views for this table.",
          "items": {
            "$ref": "SavedView"
          },
          "type": "array"
        }
      },
      "description": "A single table. NextId: 7",
      "type": "object",
      "id": "Table"
    },
    "BatchDeleteRowsRequest": {
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteRowsRequest",
      "type": "object"
    },
    "CreateRowRequest": {
      "type": "object",
      "description": "Request message for TablesService.CreateRow.",
      "properties": {
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        },
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent table where this row will be created. Format: tables/{table}",
          "type": "string"
        }
      },
      "id": "CreateRowRequest"
    },
    "ListTablesResponse": {
      "description": "Response message for TablesService.ListTables.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables.",
          "type": "array"
        }
      },
      "id": "ListTablesResponse",
      "type": "object"
    },
    "Row": {
      "description": "A single row in a table.",
      "id": "Row",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was created."
        }
      }
    },
    "BatchUpdateRowsRequest": {
      "id": "BatchUpdateRowsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "type": "array"
        }
      },
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "BatchCreateRowsResponse": {
      "id": "BatchCreateRowsResponse",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The created rows.",
          "type": "array"
        }
      },
      "description": "Response message for TablesService.BatchCreateRows."
    },
    "LookupDetails": {
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        },
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        }
      },
      "type": "object",
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship."
    },
    "BatchCreateRowsRequest": {
      "id": "BatchCreateRowsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRowRequest"
          },
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "type": "array"
        }
      },
      "description": "Request message for TablesService.BatchCreateRows.",
      "type": "object"
    },
    "ListRowsResponse": {
      "properties": {
        "rows": {
          "type": "array",
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for TablesService.ListRows.",
      "type": "object",
      "id": "ListRowsResponse"
    },
    "LabeledItem": {
      "type": "object",
      "description": "A single item in a labeled column.",
      "id": "LabeledItem",
      "properties": {
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        }
      }
    },
    "Workspace": {
      "id": "Workspace",
      "properties": {
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the workspace was last updated.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        },
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables in the workspace."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the workspace was created.",
          "type": "string"
        }
      },
      "description": "A single workspace.",
      "type": "object"
    },
    "ColumnDescription": {
      "id": "ColumnDescription",
      "type": "object",
      "description": "Details on a column in the table.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        },
        "labels": {
          "type": "array",
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "items": {
            "$ref": "LabeledItem"
          }
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        }
      }
    },
    "BatchUpdateRowsResponse": {
      "description": "Response message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsResponse",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "type": "object",
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "type": "array",
          "description": "The list of workspaces."
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "UpdateRowRequest": {
      "properties": {
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "view": {
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string"
        },
        "updateMask": {
          "description": "The list of fields to update.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest"
    },
    "RelationshipDetails": {
      "description": "Details about a relationship column.",
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "id": "RelationshipDetails",
      "type": "object"
    },
    "SavedView": {
      "id": "SavedView",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        },
        "name": {
          "type": "string",
          "description": "Display name of the saved view."
        }
      },
      "description": "A saved view of a table. NextId: 3"
    }
  },
  "revision": "20210412",
  "batchPath": "batch",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "version_module": true,
  "baseUrl": "https://area120tables.googleapis.com/",
  "description": "",
  "rootUrl": "https://area120tables.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Area120 Tables",
  "resources": {
    "tables": {
      "methods": {
        "list": {
          "flatPath": "v1alpha1/tables",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime."
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1alpha1/tables",
          "httpMethod": "GET",
          "id": "area120tables.tables.list",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "parameterOrder": [],
          "description": "Lists tables for the user."
        },
        "get": {
          "flatPath": "v1alpha1/tables/{tablesId}",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^tables/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "location": "path"
            }
          },
          "id": "area120tables.tables.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "Table"
          }
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "batchUpdate": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "id": "area120tables.tables.rows.batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "description": "Updates multiple rows."
            },
            "get": {
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "view": {
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}"
                }
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "id": "area120tables.tables.rows.get",
              "parameterOrder": [
                "name"
              ]
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Deletes multiple rows.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "id": "area120tables.tables.rows.batchDelete",
              "response": {
                "$ref": "Empty"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a row.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "area120tables.tables.rows.delete",
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "description": "Creates multiple rows.",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "id": "area120tables.tables.rows.batchCreate",
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^tables/[^/]+$"
                }
              }
            },
            "patch": {
              "description": "Updates a row.",
              "response": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "id": "area120tables.tables.rows.patch",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "location": "path",
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The list of fields to update."
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                }
              }
            },
            "create": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "id": "area120tables.tables.rows.create",
              "response": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Row"
              },
              "description": "Creates a row.",
              "parameters": {
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "path": "v1alpha1/{+parent}/rows",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "list": {
              "id": "area120tables.tables.rows.list",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "path": "v1alpha1/{+parent}/rows",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent table. Format: tables/{table}",
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "type": "string"
                }
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist."
            }
          }
        }
      }
    },
    "workspaces": {
      "methods": {
        "list": {
          "path": "v1alpha1/workspaces",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            }
          },
          "id": "area120tables.workspaces.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Lists workspaces for the user.",
          "parameterOrder": [],
          "flatPath": "v1alpha1/workspaces",
          "httpMethod": "GET"
        },
        "get": {
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "httpMethod": "GET",
          "id": "area120tables.workspaces.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "Workspace"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "location": "path",
              "pattern": "^workspaces/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/workspaces/{workspacesId}"
        }
      }
    }
  },
  "id": "area120tables:v1alpha1"
}
