{
  "batchPath": "batch",
  "rootUrl": "https://area120tables.googleapis.com/",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "workspaces": {
      "methods": {
        "list": {
          "path": "v1alpha1/workspaces",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Lists workspaces for the user.",
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "location": "query"
            }
          },
          "flatPath": "v1alpha1/workspaces",
          "id": "area120tables.workspaces.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "id": "area120tables.workspaces.get",
          "parameters": {
            "name": {
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^workspaces/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Workspace"
          },
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist."
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "response": {
            "$ref": "Table"
          },
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^tables/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/tables/{tablesId}",
          "id": "area120tables.tables.get"
        },
        "list": {
          "path": "v1alpha1/tables",
          "parameterOrder": [],
          "description": "Lists tables for the user.",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "flatPath": "v1alpha1/tables",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "httpMethod": "GET",
          "id": "area120tables.tables.list",
          "parameters": {
            "orderBy": {
              "type": "string",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100."
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "location": "query"
            }
          }
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "id": "area120tables.tables.rows.create",
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "view": {
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Creates a row."
            },
            "list": {
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.list",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent table. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The list of fields to update.",
                  "location": "query"
                },
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Row"
              },
              "id": "area120tables.tables.rows.patch",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}",
              "description": "Updates a row."
            },
            "batchCreate": {
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "description": "Creates multiple rows.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "id": "area120tables.tables.rows.batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "BatchCreateRowsResponse"
              }
            },
            "batchUpdate": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "id": "area120tables.tables.rows.batchUpdate",
              "description": "Updates multiple rows.",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              }
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "id": "area120tables.tables.rows.batchDelete",
              "description": "Deletes multiple rows.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "path": "v1alpha1/{+parent}/rows:batchDelete"
            },
            "get": {
              "id": "area120tables.tables.rows.get",
              "parameters": {
                "view": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "required": true
                }
              },
              "response": {
                "$ref": "Row"
              },
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Deletes a row.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "type": "string",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}"
            }
          }
        }
      }
    }
  },
  "id": "area120tables:v1alpha1",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "ownerName": "Google",
  "name": "area120tables",
  "schemas": {
    "ListWorkspacesResponse": {
      "properties": {
        "workspaces": {
          "description": "The list of workspaces.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for TablesService.ListWorkspaces.",
      "id": "ListWorkspacesResponse"
    },
    "Workspace": {
      "id": "Workspace",
      "properties": {
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables in the workspace."
        },
        "createTime": {
          "description": "Time when the workspace was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Time when the workspace was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        }
      },
      "type": "object",
      "description": "A single workspace."
    },
    "SavedView": {
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3",
      "properties": {
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        },
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreateRowsResponse": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The created rows."
        }
      },
      "type": "object",
      "description": "Response message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsResponse"
    },
    "UpdateRowRequest": {
      "properties": {
        "view": {
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "updateMask": {
          "description": "The list of fields to update.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        }
      },
      "type": "object",
      "id": "UpdateRowRequest",
      "description": "Request message for TablesService.UpdateRow."
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsRequest"
    },
    "LookupDetails": {
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        },
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        }
      },
      "type": "object",
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "id": "LookupDetails"
    },
    "ListTablesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables."
        }
      },
      "id": "ListTablesResponse",
      "type": "object",
      "description": "Response message for TablesService.ListTables."
    },
    "ColumnDescription": {
      "properties": {
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "name": {
          "type": "string",
          "description": "column name"
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation."
        },
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean"
        },
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        }
      },
      "id": "ColumnDescription",
      "type": "object",
      "description": "Details on a column in the table."
    },
    "BatchDeleteRowsRequest": {
      "id": "BatchDeleteRowsRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for TablesService.BatchDeleteRows"
    },
    "ListRowsResponse": {
      "id": "ListRowsResponse",
      "properties": {
        "rows": {
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for TablesService.ListRows.",
      "type": "object"
    },
    "BatchUpdateRowsResponse": {
      "properties": {
        "rows": {
          "description": "The updated rows.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "description": "Response message for TablesService.BatchUpdateRows.",
      "type": "object",
      "id": "BatchUpdateRowsResponse"
    },
    "BatchCreateRowsRequest": {
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "type": "array",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      },
      "type": "object"
    },
    "CreateRowRequest": {
      "description": "Request message for TablesService.CreateRow.",
      "id": "CreateRowRequest",
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        },
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        }
      },
      "type": "object"
    },
    "Row": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was created."
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "Time when the row was last updated.",
          "format": "google-datetime"
        }
      },
      "id": "Row",
      "description": "A single row in a table.",
      "type": "object"
    },
    "Table": {
      "type": "object",
      "id": "Table",
      "description": "A single table. NextId: 7",
      "properties": {
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string"
        },
        "createTime": {
          "description": "Time when the table was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "savedViews": {
          "type": "array",
          "items": {
            "$ref": "SavedView"
          },
          "description": "Saved views for this table."
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        }
      }
    },
    "LabeledItem": {
      "id": "LabeledItem",
      "type": "object",
      "description": "A single item in a labeled column.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        },
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string"
        }
      }
    },
    "RelationshipDetails": {
      "id": "RelationshipDetails",
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string"
        }
      },
      "description": "Details about a relationship column.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty",
      "properties": {}
    }
  },
  "version": "v1alpha1",
  "kind": "discovery#restDescription",
  "revision": "20210413",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "baseUrl": "https://area120tables.googleapis.com/",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "version_module": true,
  "title": "Area120 Tables API",
  "ownerDomain": "google.com",
  "canonicalName": "Area120 Tables",
  "protocol": "rest"
}
