{
  "version": "v1alpha1",
  "ownerName": "Google",
  "basePath": "",
  "revision": "20210413",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "name": "area120tables",
  "servicePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://area120tables.googleapis.com/",
  "baseUrl": "https://area120tables.googleapis.com/",
  "id": "area120tables:v1alpha1",
  "schemas": {
    "SavedView": {
      "properties": {
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display name of the saved view."
        }
      },
      "type": "object",
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3"
    },
    "Table": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human readable title of the table."
        },
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "format": "google-datetime",
          "type": "string"
        },
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "type": "array",
          "description": "Saved views for this table."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the table was created."
        },
        "columns": {
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        }
      },
      "id": "Table",
      "description": "A single table. NextId: 7",
      "type": "object"
    },
    "BatchDeleteRowsRequest": {
      "id": "BatchDeleteRowsRequest",
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateRowRequest": {
      "id": "CreateRowRequest",
      "description": "Request message for TablesService.CreateRow.",
      "properties": {
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        },
        "parent": {
          "description": "Required. The parent table where this row will be created. Format: tables/{table}",
          "type": "string"
        },
        "view": {
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LookupDetails": {
      "properties": {
        "relationshipColumn": {
          "type": "string",
          "description": "The name of the relationship column associated with the lookup."
        },
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        }
      },
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "type": "object"
    },
    "Row": {
      "type": "object",
      "description": "A single row in a table.",
      "properties": {
        "updateTime": {
          "description": "Time when the row was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the row was created.",
          "type": "string"
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "id": "Row"
    },
    "BatchCreateRowsResponse": {
      "id": "BatchCreateRowsResponse",
      "description": "Response message for TablesService.BatchCreateRows.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The created rows.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UpdateRowRequest": {
      "id": "UpdateRowRequest",
      "type": "object",
      "description": "Request message for TablesService.UpdateRow.",
      "properties": {
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The list of fields to update."
        }
      }
    },
    "BatchUpdateRowsResponse": {
      "id": "BatchUpdateRowsResponse",
      "type": "object",
      "description": "Response message for TablesService.BatchUpdateRows.",
      "properties": {
        "rows": {
          "description": "The updated rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "ColumnDescription": {
      "type": "object",
      "id": "ColumnDescription",
      "description": "Details on a column in the table.",
      "properties": {
        "multipleValuesDisallowed": {
          "type": "boolean",
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible."
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        },
        "labels": {
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "items": {
            "$ref": "LabeledItem"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        }
      }
    },
    "Workspace": {
      "type": "object",
      "id": "Workspace",
      "description": "A single workspace.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        },
        "createTime": {
          "type": "string",
          "description": "Time when the workspace was created.",
          "format": "google-datetime"
        },
        "tables": {
          "type": "array",
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables in the workspace."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was last updated."
        }
      }
    },
    "ListTablesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables.",
          "type": "array"
        }
      },
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables.",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "id": "ListWorkspacesResponse",
      "type": "object",
      "properties": {
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "description": "The list of workspaces.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListRowsResponse": {
      "type": "object",
      "id": "ListRowsResponse",
      "description": "Response message for TablesService.ListRows.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "type": "array",
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about a relationship column.",
      "id": "RelationshipDetails"
    },
    "LabeledItem": {
      "description": "A single item in a labeled column.",
      "type": "object",
      "id": "LabeledItem",
      "properties": {
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        }
      }
    },
    "BatchCreateRowsRequest": {
      "description": "Request message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateRowRequest"
          },
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch."
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "items": {
            "$ref": "UpdateRowRequest"
          }
        }
      },
      "id": "BatchUpdateRowsRequest",
      "type": "object",
      "description": "Request message for TablesService.BatchUpdateRows."
    }
  },
  "title": "Area120 Tables API",
  "kind": "discovery#restDescription",
  "description": "",
  "canonicalName": "Area120 Tables",
  "resources": {
    "tables": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Table"
          },
          "flatPath": "v1alpha1/tables/{tablesId}",
          "id": "area120tables.tables.get",
          "parameters": {
            "name": {
              "pattern": "^tables/[^/]+$",
              "required": true,
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "httpMethod": "GET",
          "flatPath": "v1alpha1/tables",
          "path": "v1alpha1/tables",
          "id": "area120tables.tables.list",
          "description": "Lists tables for the user.",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListTablesResponse"
          },
          "parameterOrder": []
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes multiple rows.",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "id": "area120tables.tables.rows.batchDelete"
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "description": "Updates multiple rows.",
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}"
                }
              },
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "id": "area120tables.tables.rows.batchUpdate",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "request": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a row.",
              "response": {
                "$ref": "Row"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "The list of fields to update.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "PATCH",
              "id": "area120tables.tables.rows.patch",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "path": "v1alpha1/{+name}"
            },
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.batchCreate",
              "description": "Creates multiple rows.",
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows:batchCreate"
            },
            "delete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "description": "Deletes a row.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "area120tables.tables.rows.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "DELETE"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Creates a row.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "id": "area120tables.tables.rows.create",
              "request": {
                "$ref": "Row"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "path": "v1alpha1/{+parent}/rows"
            },
            "get": {
              "id": "area120tables.tables.rows.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                },
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/rows",
              "id": "area120tables.tables.rows.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListRowsResponse"
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                },
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "type": "string",
                  "required": true
                },
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                }
              }
            }
          }
        }
      }
    },
    "workspaces": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "flatPath": "v1alpha1/workspaces",
          "parameterOrder": [],
          "path": "v1alpha1/workspaces",
          "id": "area120tables.workspaces.list",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Lists workspaces for the user."
        },
        "get": {
          "response": {
            "$ref": "Workspace"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "type": "string",
              "pattern": "^workspaces/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "id": "area120tables.workspaces.get",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/"
}
