{
  "title": "Area120 Tables API",
  "id": "area120tables:v1alpha1",
  "batchPath": "batch",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "discoveryVersion": "v1",
  "resources": {
    "workspaces": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "description": "Lists workspaces for the user.",
          "parameterOrder": [],
          "id": "area120tables.workspaces.list",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1alpha1/workspaces",
          "flatPath": "v1alpha1/workspaces",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^workspaces/[^/]+$",
              "location": "path",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "required": true
            }
          },
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/{+name}",
          "id": "area120tables.workspaces.get",
          "response": {
            "$ref": "Workspace"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "flatPath": "v1alpha1/tables/{tablesId}",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "required": true,
              "pattern": "^tables/[^/]+$"
            }
          },
          "id": "area120tables.tables.get",
          "path": "v1alpha1/{+name}"
        },
        "list": {
          "flatPath": "v1alpha1/tables",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Lists tables for the user.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1alpha1/tables",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "location": "query"
            },
            "orderBy": {
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "type": "integer"
            }
          },
          "id": "area120tables.tables.list",
          "response": {
            "$ref": "ListTablesResponse"
          }
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "get": {
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "response": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.get"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Deletes a row.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}"
                }
              },
              "path": "v1alpha1/{+name}",
              "id": "area120tables.tables.rows.delete",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "request": {
                "$ref": "Row"
              },
              "response": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "id": "area120tables.tables.rows.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "The list of fields to update."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a row.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "batchDelete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "description": "Deletes multiple rows.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "area120tables.tables.rows.batchDelete"
            },
            "list": {
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "path": "v1alpha1/{+parent}/rows",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "description": "Required. The parent table. Format: tables/{table}",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime."
                },
                "view": {
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListRowsResponse"
              },
              "id": "area120tables.tables.rows.list",
              "flatPath": "v1alpha1/tables/{tablesId}/rows"
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a row.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "request": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.create",
              "response": {
                "$ref": "Row"
              }
            },
            "batchUpdate": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "id": "area120tables.tables.rows.batchUpdate",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              }
            },
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates multiple rows.",
              "id": "area120tables.tables.rows.batchCreate",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "BatchCreateRowsRequest"
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://area120tables.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version_module": true,
  "ownerDomain": "google.com",
  "version": "v1alpha1",
  "servicePath": "",
  "canonicalName": "Area120 Tables",
  "description": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://area120tables.googleapis.com/",
  "schemas": {
    "Table": {
      "type": "object",
      "id": "Table",
      "description": "A single table. NextId: 7",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was created."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string"
        },
        "savedViews": {
          "description": "Saved views for this table.",
          "type": "array",
          "items": {
            "$ref": "SavedView"
          }
        },
        "columns": {
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          },
          "type": "array"
        }
      }
    },
    "Workspace": {
      "properties": {
        "createTime": {
          "description": "Time when the workspace was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "tables": {
          "type": "array",
          "description": "The list of tables in the workspace.",
          "items": {
            "$ref": "Table"
          }
        },
        "updateTime": {
          "description": "Time when the workspace was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        }
      },
      "description": "A single workspace.",
      "type": "object",
      "id": "Workspace"
    },
    "BatchUpdateRowsResponse": {
      "description": "Response message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsResponse",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The updated rows.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspaces": {
          "description": "The list of workspaces.",
          "items": {
            "$ref": "Workspace"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for TablesService.ListWorkspaces.",
      "type": "object"
    },
    "BatchCreateRowsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "items": {
            "$ref": "CreateRowRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows."
    },
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateRowRequest"
          }
        }
      },
      "description": "Request message for TablesService.BatchUpdateRows.",
      "type": "object",
      "id": "BatchUpdateRowsRequest"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "description": "Details about a relationship column.",
      "id": "RelationshipDetails",
      "type": "object"
    },
    "ColumnDescription": {
      "description": "Details on a column in the table.",
      "type": "object",
      "id": "ColumnDescription",
      "properties": {
        "labels": {
          "items": {
            "$ref": "LabeledItem"
          },
          "type": "array",
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation."
        },
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "column name"
        },
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        }
      }
    },
    "SavedView": {
      "description": "A saved view of a table. NextId: 3",
      "type": "object",
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        }
      },
      "id": "SavedView"
    },
    "ListRowsResponse": {
      "description": "Response message for TablesService.ListRows.",
      "id": "ListRowsResponse",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The rows from the specified table."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "UpdateRowRequest": {
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        },
        "updateMask": {
          "type": "string",
          "description": "The list of fields to update.",
          "format": "google-fieldmask"
        },
        "view": {
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
        }
      },
      "type": "object",
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest"
    },
    "BatchDeleteRowsRequest": {
      "id": "BatchDeleteRowsRequest",
      "type": "object",
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "type": "array"
        }
      }
    },
    "ListTablesResponse": {
      "type": "object",
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables.",
      "properties": {
        "tables": {
          "type": "array",
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "BatchCreateRowsResponse": {
      "description": "Response message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsResponse",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The created rows."
        }
      },
      "type": "object"
    },
    "CreateRowRequest": {
      "type": "object",
      "id": "CreateRowRequest",
      "description": "Request message for TablesService.CreateRow.",
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string"
        }
      }
    },
    "LookupDetails": {
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "type": "object",
      "id": "LookupDetails",
      "properties": {
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        },
        "relationshipColumn": {
          "type": "string",
          "description": "The name of the relationship column associated with the lookup."
        }
      }
    },
    "Row": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Time when the row was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "Time when the row was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "A single row in a table.",
      "id": "Row",
      "type": "object"
    },
    "LabeledItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        },
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        }
      },
      "description": "A single item in a labeled column.",
      "id": "LabeledItem"
    }
  },
  "name": "area120tables",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "revision": "20210412",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/"
}
