{
  "basePath": "",
  "name": "area120tables",
  "canonicalName": "Area120 Tables",
  "protocol": "rest",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "version": "v1alpha1",
  "revision": "20210413",
  "batchPath": "batch",
  "description": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "id": "area120tables:v1alpha1",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "tables": {
      "methods": {
        "get": {
          "id": "area120tables.tables.get",
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/tables/{tablesId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "pattern": "^tables/[^/]+$"
            }
          },
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/tables",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "path": "v1alpha1/tables",
          "id": "area120tables.tables.list",
          "description": "Lists tables for the user.",
          "parameterOrder": []
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "area120tables.tables.rows.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "description": "Deletes a row."
            },
            "create": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "request": {
                "$ref": "Row"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query"
                }
              },
              "id": "area120tables.tables.rows.create",
              "response": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a row.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Row"
              },
              "description": "Updates a row.",
              "id": "area120tables.tables.rows.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameters": {
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "updateMask": {
                  "description": "The list of fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "batchDelete": {
              "id": "area120tables.tables.rows.batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}"
                }
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "description": "Deletes multiple rows."
            },
            "list": {
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameters": {
                "view": {
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent table. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "area120tables.tables.rows.list",
              "path": "v1alpha1/{+parent}/rows"
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "description": "Updates multiple rows.",
              "id": "area120tables.tables.rows.batchUpdate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "required": true,
                  "pattern": "^tables/[^/]+$"
                }
              }
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "response": {
                "$ref": "Row"
              },
              "id": "area120tables.tables.rows.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "name": {
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Creates multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "id": "area120tables.tables.rows.batchCreate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              }
            }
          }
        }
      }
    },
    "workspaces": {
      "methods": {
        "get": {
          "id": "area120tables.workspaces.get",
          "response": {
            "$ref": "Workspace"
          },
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^workspaces/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}"
            }
          },
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "list": {
          "id": "area120tables.workspaces.list",
          "flatPath": "v1alpha1/workspaces",
          "parameterOrder": [],
          "description": "Lists workspaces for the user.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/workspaces",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "title": "Area120 Tables API",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "baseUrl": "https://area120tables.googleapis.com/",
  "schemas": {
    "ListRowsResponse": {
      "description": "Response message for TablesService.ListRows.",
      "id": "ListRowsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "description": "The rows from the specified table.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "type": "object"
    },
    "CreateRowRequest": {
      "id": "CreateRowRequest",
      "properties": {
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "parent": {
          "description": "Required. The parent table where this row will be created. Format: tables/{table}",
          "type": "string"
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        }
      },
      "description": "Request message for TablesService.CreateRow.",
      "type": "object"
    },
    "BatchDeleteRowsRequest": {
      "type": "object",
      "id": "BatchDeleteRowsRequest",
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}"
        }
      }
    },
    "UpdateRowRequest": {
      "type": "object",
      "properties": {
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "type": "string",
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The list of fields to update."
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        }
      },
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest"
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables.",
      "properties": {
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LabeledItem": {
      "id": "LabeledItem",
      "description": "A single item in a labeled column.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        },
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        }
      },
      "type": "object"
    },
    "ColumnDescription": {
      "id": "ColumnDescription",
      "description": "Details on a column in the table.",
      "properties": {
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "type": "array"
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        },
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "column name"
        }
      },
      "type": "object"
    },
    "Row": {
      "properties": {
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was last updated."
        },
        "createTime": {
          "type": "string",
          "description": "Time when the row was created.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        }
      },
      "type": "object",
      "id": "Row",
      "description": "A single row in a table."
    },
    "Workspace": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the workspace was last updated."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        },
        "createTime": {
          "description": "Time when the workspace was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "tables": {
          "type": "array",
          "description": "The list of tables in the workspace.",
          "items": {
            "$ref": "Table"
          }
        },
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Workspace",
      "description": "A single workspace."
    },
    "LookupDetails": {
      "type": "object",
      "id": "LookupDetails",
      "properties": {
        "relationshipColumn": {
          "type": "string",
          "description": "The name of the relationship column associated with the lookup."
        },
        "relationshipColumnId": {
          "description": "The id of the relationship column.",
          "type": "string"
        }
      },
      "description": "Details about a lookup column whose value comes from the associated relationship."
    },
    "SavedView": {
      "type": "object",
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        },
        "name": {
          "type": "string",
          "description": "Display name of the saved view."
        }
      }
    },
    "BatchCreateRowsResponse": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The created rows.",
          "type": "array"
        }
      },
      "id": "BatchCreateRowsResponse",
      "type": "object",
      "description": "Response message for TablesService.BatchCreateRows."
    },
    "RelationshipDetails": {
      "type": "object",
      "description": "Details about a relationship column.",
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "id": "RelationshipDetails"
    },
    "Table": {
      "id": "Table",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was created."
        },
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "description": "Saved views for this table.",
          "type": "array"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ColumnDescription"
          },
          "description": "List of columns in this table. Order of columns matches the display order."
        }
      },
      "description": "A single table. NextId: 7",
      "type": "object"
    },
    "BatchCreateRowsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRowRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch."
        }
      },
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows.",
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "description": "Request message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch."
        }
      },
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "description": "The list of workspaces.",
          "type": "array"
        }
      },
      "id": "ListWorkspacesResponse",
      "type": "object"
    },
    "BatchUpdateRowsResponse": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for TablesService.BatchUpdateRows.",
      "id": "BatchUpdateRowsResponse"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "version_module": true,
  "rootUrl": "https://area120tables.googleapis.com/"
}
