{
  "discoveryVersion": "v1",
  "description": "",
  "protocol": "rest",
  "basePath": "",
  "resources": {
    "tables": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^tables/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the table to retrieve. Format: tables/{table}"
            }
          },
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "response": {
            "$ref": "Table"
          },
          "id": "area120tables.tables.get",
          "flatPath": "v1alpha1/tables/{tablesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/{+name}"
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "v1alpha1/tables",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "ListTablesResponse"
          },
          "id": "area120tables.tables.list",
          "path": "v1alpha1/tables",
          "description": "Lists tables for the user.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100."
            },
            "orderBy": {
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "type": "string",
              "location": "query"
            }
          }
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+$"
                }
              },
              "description": "Deletes multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "id": "area120tables.tables.rows.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              }
            },
            "list": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "id": "area120tables.tables.rows.list",
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "location": "query"
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent table. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+parent}/rows",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "batchUpdate": {
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "id": "area120tables.tables.rows.batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "description": "Updates multiple rows.",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              }
            },
            "batchCreate": {
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates multiple rows.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "id": "area120tables.tables.rows.batchCreate",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate"
            },
            "get": {
              "parameters": {
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "id": "area120tables.tables.rows.get",
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "GET",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "description": "Deletes a row.",
              "id": "area120tables.tables.rows.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}"
                }
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "The list of fields to update.",
                  "format": "google-fieldmask"
                }
              },
              "id": "area120tables.tables.rows.patch",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Row"
              },
              "description": "Updates a row."
            },
            "create": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.create",
              "request": {
                "$ref": "Row"
              },
              "parameters": {
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}"
                }
              },
              "path": "v1alpha1/{+parent}/rows",
              "response": {
                "$ref": "Row"
              },
              "description": "Creates a row.",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "workspaces": {
      "methods": {
        "list": {
          "id": "area120tables.workspaces.list",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            }
          },
          "path": "v1alpha1/workspaces",
          "description": "Lists workspaces for the user.",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/workspaces"
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "Workspace"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "type": "string",
              "pattern": "^workspaces/[^/]+$"
            }
          },
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "id": "area120tables.workspaces.get",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist."
        }
      }
    }
  },
  "revision": "20210413",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "title": "Area120 Tables API",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "canonicalName": "Area120 Tables",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://area120tables.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://area120tables.googleapis.com/",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "ColumnDescription": {
      "properties": {
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean"
        },
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        },
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "column name"
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "items": {
            "$ref": "LabeledItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Details on a column in the table.",
      "id": "ColumnDescription"
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "type": "object",
      "description": "Details about a relationship column.",
      "id": "RelationshipDetails"
    },
    "BatchDeleteRowsRequest": {
      "id": "BatchDeleteRowsRequest",
      "type": "object",
      "description": "Request message for TablesService.BatchDeleteRows",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}"
        }
      }
    },
    "BatchCreateRowsResponse": {
      "type": "object",
      "properties": {
        "rows": {
          "description": "The created rows.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "description": "Response message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsResponse"
    },
    "BatchCreateRowsRequest": {
      "id": "BatchCreateRowsRequest",
      "type": "object",
      "description": "Request message for TablesService.BatchCreateRows.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRowRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch."
        }
      }
    },
    "LookupDetails": {
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "properties": {
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        },
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "type": "object",
      "id": "BatchUpdateRowsRequest",
      "description": "Request message for TablesService.BatchUpdateRows.",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array"
        }
      }
    },
    "Row": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was created."
        },
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request."
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        }
      },
      "description": "A single row in a table.",
      "id": "Row"
    },
    "UpdateRowRequest": {
      "type": "object",
      "id": "UpdateRowRequest",
      "description": "Request message for TablesService.UpdateRow.",
      "properties": {
        "view": {
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "type": "string"
        },
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The list of fields to update.",
          "type": "string"
        }
      }
    },
    "Table": {
      "type": "object",
      "id": "Table",
      "properties": {
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "description": "Saved views for this table.",
          "type": "array"
        },
        "columns": {
          "items": {
            "$ref": "ColumnDescription"
          },
          "description": "List of columns in this table. Order of columns matches the display order.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the table was created.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the table was last updated excluding updates to individual rows"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        }
      },
      "description": "A single table. NextId: 7"
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "workspaces": {
          "description": "The list of workspaces.",
          "items": {
            "$ref": "Workspace"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListRowsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The rows from the specified table."
        }
      },
      "type": "object",
      "description": "Response message for TablesService.ListRows.",
      "id": "ListRowsResponse"
    },
    "LabeledItem": {
      "type": "object",
      "description": "A single item in a labeled column.",
      "id": "LabeledItem",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        },
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        }
      }
    },
    "SavedView": {
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3",
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display name of the saved view."
        }
      }
    },
    "ListTablesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "tables": {
          "description": "The list of tables.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        }
      },
      "type": "object",
      "description": "Response message for TablesService.ListTables.",
      "id": "ListTablesResponse"
    },
    "CreateRowRequest": {
      "properties": {
        "view": {
          "type": "string",
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        },
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        }
      },
      "description": "Request message for TablesService.CreateRow.",
      "id": "CreateRowRequest",
      "type": "object"
    },
    "BatchUpdateRowsResponse": {
      "id": "BatchUpdateRowsResponse",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The updated rows.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "Response message for TablesService.BatchUpdateRows."
    },
    "Workspace": {
      "type": "object",
      "id": "Workspace",
      "description": "A single workspace.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the workspace was last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        },
        "tables": {
          "description": "The list of tables in the workspace.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the workspace was created."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "id": "area120tables:v1alpha1",
  "kind": "discovery#restDescription",
  "name": "area120tables"
}
