{
  "name": "area120tables",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "baseUrl": "https://area120tables.googleapis.com/",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "kind": "discovery#restDescription",
  "id": "area120tables:v1alpha1",
  "canonicalName": "Area120 Tables",
  "version_module": true,
  "schemas": {
    "ColumnDescription": {
      "description": "Details on a column in the table.",
      "properties": {
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        },
        "multipleValuesDisallowed": {
          "type": "boolean",
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible."
        },
        "labels": {
          "type": "array",
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "items": {
            "$ref": "LabeledItem"
          }
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        },
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "name": {
          "description": "column name",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ColumnDescription"
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "type": "object",
      "description": "Response message for TablesService.ListTables.",
      "properties": {
        "tables": {
          "description": "The list of tables.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "Table": {
      "description": "A single table. NextId: 7",
      "id": "Table",
      "properties": {
        "savedViews": {
          "items": {
            "$ref": "SavedView"
          },
          "description": "Saved views for this table.",
          "type": "array"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ColumnDescription"
          },
          "description": "List of columns in this table. Order of columns matches the display order."
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the table was created."
        }
      },
      "type": "object"
    },
    "LabeledItem": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal id associated with the item."
        },
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        }
      },
      "description": "A single item in a labeled column.",
      "type": "object",
      "id": "LabeledItem"
    },
    "Row": {
      "type": "object",
      "description": "A single row in a table.",
      "id": "Row",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the row was last updated."
        },
        "values": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the row was created."
        }
      }
    },
    "SavedView": {
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        }
      },
      "description": "A saved view of a table. NextId: 3",
      "type": "object",
      "id": "SavedView"
    },
    "BatchDeleteRowsRequest": {
      "description": "Request message for TablesService.BatchDeleteRows",
      "id": "BatchDeleteRowsRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListRowsResponse": {
      "id": "ListRowsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "type": "array",
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "type": "object",
      "description": "Response message for TablesService.ListRows."
    },
    "UpdateRowRequest": {
      "id": "UpdateRowRequest",
      "description": "Request message for TablesService.UpdateRow.",
      "properties": {
        "view": {
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
        },
        "updateMask": {
          "type": "string",
          "description": "The list of fields to update.",
          "format": "google-fieldmask"
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        }
      },
      "type": "object"
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about a relationship column.",
      "id": "RelationshipDetails"
    },
    "BatchCreateRowsResponse": {
      "properties": {
        "rows": {
          "description": "The created rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "Response message for TablesService.BatchCreateRows.",
      "type": "object",
      "id": "BatchCreateRowsResponse"
    },
    "ListWorkspacesResponse": {
      "type": "object",
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "workspaces": {
          "description": "The list of workspaces.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "BatchUpdateRowsResponse": {
      "description": "Response message for TablesService.BatchUpdateRows.",
      "type": "object",
      "id": "BatchUpdateRowsResponse",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The updated rows."
        }
      }
    },
    "BatchCreateRowsRequest": {
      "type": "object",
      "id": "BatchCreateRowsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRowRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch."
        }
      },
      "description": "Request message for TablesService.BatchCreateRows."
    },
    "Workspace": {
      "description": "A single workspace.",
      "properties": {
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        },
        "tables": {
          "type": "array",
          "items": {
            "$ref": "Table"
          },
          "description": "The list of tables in the workspace."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the workspace was last updated."
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Time when the workspace was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Workspace"
    },
    "BatchUpdateRowsRequest": {
      "type": "object",
      "id": "BatchUpdateRowsRequest",
      "description": "Request message for TablesService.BatchUpdateRows.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "type": "array"
        }
      }
    },
    "LookupDetails": {
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "type": "object",
      "properties": {
        "relationshipColumn": {
          "type": "string",
          "description": "The name of the relationship column associated with the lookup."
        },
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        }
      },
      "id": "LookupDetails"
    },
    "CreateRowRequest": {
      "description": "Request message for TablesService.CreateRow.",
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        },
        "view": {
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        }
      },
      "type": "object",
      "id": "CreateRowRequest"
    }
  },
  "resources": {
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "list": {
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "area120tables.tables.rows.list",
              "path": "v1alpha1/{+parent}/rows",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000."
                },
                "view": {
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string"
                },
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.get",
              "response": {
                "$ref": "Row"
              },
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "batchDelete": {
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes multiple rows.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "id": "area120tables.tables.rows.batchDelete"
            },
            "create": {
              "id": "area120tables.tables.rows.create",
              "response": {
                "$ref": "Row"
              },
              "description": "Creates a row.",
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "parent": {
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "batchCreate": {
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates multiple rows.",
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "id": "area120tables.tables.rows.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate"
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "id": "area120tables.tables.rows.delete",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "description": "Deletes a row.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "patch": {
              "id": "area120tables.tables.rows.patch",
              "description": "Updates a row.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The list of fields to update."
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "batchUpdate": {
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Updates multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "id": "area120tables.tables.rows.batchUpdate"
            }
          }
        }
      },
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "type": "string"
            }
          },
          "path": "v1alpha1/tables",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "description": "Lists tables for the user.",
          "parameterOrder": [],
          "id": "area120tables.tables.list",
          "flatPath": "v1alpha1/tables",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "area120tables.tables.get",
          "flatPath": "v1alpha1/tables/{tablesId}",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "parameters": {
            "name": {
              "pattern": "^tables/[^/]+$",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/{+name}",
          "response": {
            "$ref": "Table"
          }
        }
      }
    },
    "workspaces": {
      "methods": {
        "get": {
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "id": "area120tables.workspaces.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/{+name}",
          "response": {
            "$ref": "Workspace"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "pattern": "^workspaces/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "v1alpha1/workspaces",
          "description": "Lists workspaces for the user.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "httpMethod": "GET",
          "id": "area120tables.workspaces.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/workspaces"
        }
      }
    }
  },
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "rootUrl": "https://area120tables.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "version": "v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20210413",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        }
      }
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "title": "Area120 Tables API"
}
