{
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "baseUrl": "https://area120tables.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "description": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://area120tables.googleapis.com/",
  "resources": {
    "workspaces": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "id": "area120tables.workspaces.get",
          "path": "v1alpha1/{+name}",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "location": "path",
              "required": true,
              "pattern": "^workspaces/[^/]+$"
            }
          },
          "response": {
            "$ref": "Workspace"
          }
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "id": "area120tables.workspaces.list",
          "description": "Lists workspaces for the user.",
          "flatPath": "v1alpha1/workspaces",
          "path": "v1alpha1/workspaces",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ]
        }
      }
    },
    "tables": {
      "resources": {
        "rows": {
          "methods": {
            "delete": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a row.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "batchDelete": {
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "id": "area120tables.tables.rows.batchDelete",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "type": "string"
                }
              },
              "description": "Deletes multiple rows.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "get": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}"
                }
              },
              "id": "area120tables.tables.rows.get",
              "path": "v1alpha1/{+name}"
            },
            "list": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "path": "v1alpha1/{+parent}/rows",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                },
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371)."
                },
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.list",
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "batchUpdate": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "id": "area120tables.tables.rows.batchUpdate",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "description": "Updates multiple rows.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}"
                }
              },
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "id": "area120tables.tables.rows.create",
              "request": {
                "$ref": "Row"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "type": "string",
                  "required": true,
                  "pattern": "^tables/[^/]+$"
                },
                "view": {
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "description": "Creates a row.",
              "path": "v1alpha1/{+parent}/rows",
              "response": {
                "$ref": "Row"
              }
            },
            "patch": {
              "parameters": {
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
                },
                "name": {
                  "required": true,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "The list of fields to update.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Updates a row.",
              "id": "area120tables.tables.rows.patch",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "request": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "batchCreate": {
              "description": "Creates multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "httpMethod": "POST",
              "id": "area120tables.tables.rows.batchCreate",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}"
                }
              },
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "response": {
            "$ref": "ListTablesResponse"
          },
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "location": "query",
              "format": "int32"
            },
            "orderBy": {
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "id": "area120tables.tables.list",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/tables",
          "path": "v1alpha1/tables",
          "parameterOrder": [],
          "description": "Lists tables for the user."
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Table"
          },
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^tables/[^/]+$",
              "location": "path",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "required": true
            }
          },
          "id": "area120tables.tables.get",
          "flatPath": "v1alpha1/tables/{tablesId}"
        }
      }
    }
  },
  "canonicalName": "Area120 Tables",
  "version_module": true,
  "title": "Area120 Tables API",
  "name": "area120tables",
  "revision": "20210412",
  "servicePath": "",
  "version": "v1alpha1",
  "id": "area120tables:v1alpha1",
  "protocol": "rest",
  "schemas": {
    "ListWorkspacesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "workspaces": {
          "description": "The list of workspaces.",
          "items": {
            "$ref": "Workspace"
          },
          "type": "array"
        }
      },
      "description": "Response message for TablesService.ListWorkspaces.",
      "id": "ListWorkspacesResponse"
    },
    "SavedView": {
      "description": "A saved view of a table. NextId: 3",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display name of the saved view."
        },
        "id": {
          "type": "string",
          "description": "Internal id associated with the saved view."
        }
      },
      "id": "SavedView"
    },
    "Row": {
      "id": "Row",
      "properties": {
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        },
        "createTime": {
          "description": "Time when the row was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A single row in a table.",
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "type": "object",
      "id": "BatchUpdateRowsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch."
        }
      },
      "description": "Request message for TablesService.BatchUpdateRows."
    },
    "CreateRowRequest": {
      "type": "object",
      "id": "CreateRowRequest",
      "description": "Request message for TablesService.CreateRow.",
      "properties": {
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ]
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        }
      }
    },
    "ListTablesResponse": {
      "type": "object",
      "properties": {
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "type": "array",
          "description": "The list of tables."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables."
    },
    "BatchDeleteRowsRequest": {
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for TablesService.BatchDeleteRows",
      "id": "BatchDeleteRowsRequest",
      "type": "object"
    },
    "BatchCreateRowsResponse": {
      "id": "BatchCreateRowsResponse",
      "description": "Response message for TablesService.BatchCreateRows.",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The created rows.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "type": "object"
    },
    "Workspace": {
      "description": "A single workspace.",
      "properties": {
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Time when the workspace was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "tables": {
          "description": "The list of tables in the workspace.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the workspace was last updated."
        }
      },
      "id": "Workspace",
      "type": "object"
    },
    "UpdateRowRequest": {
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The list of fields to update.",
          "format": "google-fieldmask"
        },
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ColumnDescription": {
      "description": "Details on a column in the table.",
      "type": "object",
      "properties": {
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "name": {
          "type": "string",
          "description": "column name"
        },
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        },
        "labels": {
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "type": "array"
        },
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        }
      },
      "id": "ColumnDescription"
    },
    "LabeledItem": {
      "properties": {
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        },
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string"
        }
      },
      "description": "A single item in a labeled column.",
      "type": "object",
      "id": "LabeledItem"
    },
    "Table": {
      "properties": {
        "savedViews": {
          "description": "Saved views for this table.",
          "items": {
            "$ref": "SavedView"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Time when the table was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the table was last updated excluding updates to individual rows"
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "columns": {
          "description": "List of columns in this table. Order of columns matches the display order.",
          "type": "array",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        }
      },
      "description": "A single table. NextId: 7",
      "id": "Table",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "ListRowsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The rows from the specified table.",
          "type": "array"
        }
      },
      "id": "ListRowsResponse",
      "type": "object",
      "description": "Response message for TablesService.ListRows."
    },
    "BatchCreateRowsRequest": {
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRowRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch."
        }
      }
    },
    "BatchUpdateRowsResponse": {
      "id": "BatchUpdateRowsResponse",
      "type": "object",
      "description": "Response message for TablesService.BatchUpdateRows.",
      "properties": {
        "rows": {
          "description": "The updated rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "description": "Details about a relationship column.",
      "type": "object",
      "id": "RelationshipDetails"
    },
    "LookupDetails": {
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        },
        "relationshipColumnId": {
          "description": "The id of the relationship column.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true
}
