{
  "description": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://area120tables.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "area120tables",
  "ownerDomain": "google.com",
  "canonicalName": "Area120 Tables",
  "servicePath": "",
  "basePath": "",
  "schemas": {
    "BatchUpdateRowsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "items": {
            "$ref": "UpdateRowRequest"
          }
        }
      },
      "id": "BatchUpdateRowsRequest",
      "description": "Request message for TablesService.BatchUpdateRows.",
      "type": "object"
    },
    "CreateRowRequest": {
      "description": "Request message for TablesService.CreateRow.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        },
        "view": {
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        }
      },
      "id": "CreateRowRequest"
    },
    "ListRowsResponse": {
      "description": "Response message for TablesService.ListRows.",
      "id": "ListRowsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "type": "object"
    },
    "Table": {
      "type": "object",
      "description": "A single table. NextId: 7",
      "id": "Table",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the table. Table names have the form `tables/{table}`."
        },
        "createTime": {
          "type": "string",
          "description": "Time when the table was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "savedViews": {
          "description": "Saved views for this table.",
          "type": "array",
          "items": {
            "$ref": "SavedView"
          }
        }
      }
    },
    "UpdateRowRequest": {
      "type": "object",
      "id": "UpdateRowRequest",
      "description": "Request message for TablesService.UpdateRow.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The list of fields to update."
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to update."
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        }
      }
    },
    "Row": {
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the row was last updated.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the row was created.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string"
        }
      },
      "id": "Row",
      "description": "A single row in a table.",
      "type": "object"
    },
    "BatchUpdateRowsResponse": {
      "description": "Response message for TablesService.BatchUpdateRows.",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows."
        }
      },
      "id": "BatchUpdateRowsResponse"
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables.",
      "type": "object",
      "properties": {
        "tables": {
          "description": "The list of tables.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "BatchCreateRowsResponse": {
      "description": "Response message for TablesService.BatchCreateRows.",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The created rows."
        }
      },
      "id": "BatchCreateRowsResponse"
    },
    "BatchCreateRowsRequest": {
      "description": "Request message for TablesService.BatchCreateRows.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      },
      "id": "BatchCreateRowsRequest",
      "type": "object"
    },
    "ColumnDescription": {
      "description": "Details on a column in the table.",
      "type": "object",
      "id": "ColumnDescription",
      "properties": {
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "labels": {
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "type": "array"
        },
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Internal id for a column."
        }
      }
    },
    "ListWorkspacesResponse": {
      "type": "object",
      "description": "Response message for TablesService.ListWorkspaces.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "type": "array",
          "description": "The list of workspaces."
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "BatchDeleteRowsRequest": {
      "description": "Request message for TablesService.BatchDeleteRows",
      "type": "object",
      "id": "BatchDeleteRowsRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}"
        }
      }
    },
    "LabeledItem": {
      "properties": {
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string"
        },
        "name": {
          "description": "Display string as entered by user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LabeledItem",
      "description": "A single item in a labeled column."
    },
    "SavedView": {
      "id": "SavedView",
      "type": "object",
      "description": "A saved view of a table. NextId: 3",
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        }
      }
    },
    "Workspace": {
      "description": "A single workspace.",
      "id": "Workspace",
      "type": "object",
      "properties": {
        "tables": {
          "description": "The list of tables in the workspace.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the workspace was last updated.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time when the workspace was created.",
          "type": "string"
        }
      }
    },
    "RelationshipDetails": {
      "id": "RelationshipDetails",
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about a relationship column."
    },
    "LookupDetails": {
      "id": "LookupDetails",
      "properties": {
        "relationshipColumnId": {
          "description": "The id of the relationship column.",
          "type": "string"
        },
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about a lookup column whose value comes from the associated relationship."
    }
  },
  "revision": "20210412",
  "ownerName": "Google",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "resources": {
    "workspaces": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Workspace"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "type": "string",
              "location": "path",
              "pattern": "^workspaces/[^/]+$",
              "required": true
            }
          },
          "id": "area120tables.workspaces.get",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/{+name}",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "flatPath": "v1alpha1/workspaces/{workspacesId}"
        },
        "list": {
          "path": "v1alpha1/workspaces",
          "description": "Lists workspaces for the user.",
          "parameterOrder": [],
          "id": "area120tables.workspaces.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "type": "integer"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "flatPath": "v1alpha1/workspaces",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListWorkspacesResponse"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1alpha1/tables/{tablesId}",
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "type": "string",
              "pattern": "^tables/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "id": "area120tables.tables.get",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "id": "area120tables.tables.list",
          "httpMethod": "GET",
          "path": "v1alpha1/tables",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "flatPath": "v1alpha1/tables",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "description": "Lists tables for the user.",
          "parameters": {
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime."
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "location": "query",
              "type": "integer"
            }
          }
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "delete": {
              "description": "Deletes a row.",
              "id": "area120tables.tables.rows.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}"
                }
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "httpMethod": "DELETE"
            },
            "get": {
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Row"
              },
              "parameters": {
                "view": {
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "required": true
                }
              },
              "id": "area120tables.tables.rows.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "list": {
              "response": {
                "$ref": "ListRowsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "view": {
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                },
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371)."
                }
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "path": "v1alpha1/{+parent}/rows",
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "id": "area120tables.tables.rows.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "id": "area120tables.tables.rows.create",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a row.",
              "path": "v1alpha1/{+parent}/rows",
              "httpMethod": "POST",
              "parameters": {
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Row"
              },
              "response": {
                "$ref": "Row"
              },
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ]
            },
            "batchDelete": {
              "description": "Deletes multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "type": "string",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "area120tables.tables.rows.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete"
            },
            "patch": {
              "description": "Updates a row.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "response": {
                "$ref": "Row"
              },
              "parameters": {
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "type": "string",
                  "location": "query"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The list of fields to update."
                }
              },
              "id": "area120tables.tables.rows.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}"
            },
            "batchCreate": {
              "id": "area120tables.tables.rows.batchCreate",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "description": "Creates multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchUpdate": {
              "id": "area120tables.tables.rows.batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "parameters": {
                "parent": {
                  "pattern": "^tables/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}"
                }
              },
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "description": "Updates multiple rows.",
              "path": "v1alpha1/{+parent}/rows:batchUpdate"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "version": "v1alpha1",
  "version_module": true,
  "title": "Area120 Tables API",
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "baseUrl": "https://area120tables.googleapis.com/",
  "id": "area120tables:v1alpha1"
}
