{
  "name": "area120tables",
  "rootUrl": "https://area120tables.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Area120 Tables API",
  "version": "v1alpha1",
  "revision": "20210412",
  "canonicalName": "Area120 Tables",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://area120tables.mtls.googleapis.com/",
  "id": "area120tables:v1alpha1",
  "schemas": {
    "Row": {
      "type": "object",
      "id": "Row",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the row was last updated."
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the row was created."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row."
        }
      },
      "description": "A single row in a table."
    },
    "UpdateRowRequest": {
      "description": "Request message for TablesService.UpdateRow.",
      "id": "UpdateRowRequest",
      "properties": {
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ]
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The list of fields to update."
        }
      },
      "type": "object"
    },
    "SavedView": {
      "properties": {
        "name": {
          "description": "Display name of the saved view.",
          "type": "string"
        },
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string"
        }
      },
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "ListRowsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "rows": {
          "description": "The rows from the specified table.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "id": "ListRowsResponse",
      "description": "Response message for TablesService.ListRows."
    },
    "BatchUpdateRowsResponse": {
      "description": "Response message for TablesService.BatchUpdateRows.",
      "type": "object",
      "id": "BatchUpdateRowsResponse",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The updated rows.",
          "type": "array"
        }
      }
    },
    "CreateRowRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent table where this row will be created. Format: tables/{table}"
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name."
        },
        "row": {
          "$ref": "Row",
          "description": "Required. The row to create."
        }
      },
      "id": "CreateRowRequest",
      "description": "Request message for TablesService.CreateRow."
    },
    "BatchCreateRowsResponse": {
      "type": "object",
      "description": "Response message for TablesService.BatchCreateRows.",
      "id": "BatchCreateRowsResponse",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The created rows.",
          "type": "array"
        }
      }
    },
    "ListTablesResponse": {
      "description": "Response message for TablesService.ListTables.",
      "type": "object",
      "id": "ListTablesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "tables": {
          "type": "array",
          "description": "The list of tables.",
          "items": {
            "$ref": "Table"
          }
        }
      }
    },
    "LookupDetails": {
      "type": "object",
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string"
        },
        "relationshipColumnId": {
          "type": "string",
          "description": "The id of the relationship column."
        }
      },
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship."
    },
    "LabeledItem": {
      "description": "A single item in a labeled column.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display string as entered by user."
        }
      },
      "id": "LabeledItem"
    },
    "BatchCreateRowsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateRowRequest"
          },
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch."
        }
      },
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows."
    },
    "Workspace": {
      "description": "A single workspace.",
      "properties": {
        "tables": {
          "description": "The list of tables in the workspace.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the workspace was created."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the workspace."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the workspace was last updated."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`."
        }
      },
      "type": "object",
      "id": "Workspace"
    },
    "ColumnDescription": {
      "description": "Details on a column in the table.",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabeledItem"
          },
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation."
        },
        "dataType": {
          "type": "string",
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website."
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string"
        },
        "name": {
          "description": "column name",
          "type": "string"
        },
        "relationshipDetails": {
          "$ref": "RelationshipDetails",
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship."
        },
        "lookupDetails": {
          "$ref": "LookupDetails",
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column."
        }
      },
      "type": "object",
      "id": "ColumnDescription"
    },
    "BatchDeleteRowsRequest": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}"
        }
      },
      "description": "Request message for TablesService.BatchDeleteRows",
      "type": "object",
      "id": "BatchDeleteRowsRequest"
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "Workspace"
          },
          "description": "The list of workspaces."
        }
      },
      "description": "Response message for TablesService.ListWorkspaces.",
      "type": "object"
    },
    "BatchUpdateRowsRequest": {
      "description": "Request message for TablesService.BatchUpdateRows.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "items": {
            "$ref": "UpdateRowRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateRowsRequest"
    },
    "RelationshipDetails": {
      "properties": {
        "linkedTable": {
          "type": "string",
          "description": "The name of the table this relationship is linked to."
        }
      },
      "type": "object",
      "description": "Details about a relationship column.",
      "id": "RelationshipDetails"
    },
    "Table": {
      "id": "Table",
      "description": "A single table. NextId: 7",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Time when the table was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the table was last updated excluding updates to individual rows"
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string"
        },
        "savedViews": {
          "description": "Saved views for this table.",
          "type": "array",
          "items": {
            "$ref": "SavedView"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The human readable title of the table."
        },
        "columns": {
          "type": "array",
          "description": "List of columns in this table. Order of columns matches the display order.",
          "items": {
            "$ref": "ColumnDescription"
          }
        }
      }
    }
  },
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "servicePath": "",
  "baseUrl": "https://area120tables.googleapis.com/",
  "resources": {
    "workspaces": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "id": "area120tables.workspaces.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "flatPath": "v1alpha1/workspaces/{workspacesId}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^workspaces/[^/]+$",
              "required": true,
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}"
            }
          },
          "response": {
            "$ref": "Workspace"
          },
          "path": "v1alpha1/{+name}"
        },
        "list": {
          "path": "v1alpha1/workspaces",
          "httpMethod": "GET",
          "id": "area120tables.workspaces.list",
          "description": "Lists workspaces for the user.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameterOrder": [],
          "flatPath": "v1alpha1/workspaces",
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token."
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "location": "query",
              "format": "int32"
            }
          }
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "id": "area120tables.tables.get",
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^tables/[^/]+$",
              "type": "string",
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "required": true
            }
          },
          "flatPath": "v1alpha1/tables/{tablesId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Table"
          },
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "httpMethod": "GET"
        },
        "list": {
          "id": "area120tables.tables.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListTablesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "path": "v1alpha1/tables",
          "description": "Lists tables for the user.",
          "flatPath": "v1alpha1/tables",
          "parameterOrder": []
        }
      },
      "resources": {
        "rows": {
          "methods": {
            "create": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "parameters": {
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^tables/[^/]+$",
                  "required": true,
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+parent}/rows",
              "id": "area120tables.tables.rows.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Row"
              },
              "response": {
                "$ref": "Row"
              },
              "description": "Creates a row."
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "response": {
                "$ref": "Row"
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Row"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "The list of fields to update.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ]
                }
              },
              "description": "Updates a row.",
              "id": "area120tables.tables.rows.patch"
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "type": "string",
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a row.",
              "id": "area120tables.tables.rows.delete",
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "httpMethod": "DELETE"
            },
            "batchCreate": {
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "id": "area120tables.tables.rows.batchCreate",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchCreate",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^tables/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}"
                }
              },
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "description": "Creates multiple rows.",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows",
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token."
                },
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent table. Format: tables/{table}",
                  "required": true,
                  "pattern": "^tables/[^/]+$"
                }
              },
              "id": "area120tables.tables.rows.list",
              "response": {
                "$ref": "ListRowsResponse"
              },
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "path": "v1alpha1/{+parent}/rows"
            },
            "batchDelete": {
              "id": "area120tables.tables.rows.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Deletes multiple rows.",
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchDelete",
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "path": "v1alpha1/{+parent}/rows:batchDelete"
            },
            "get": {
              "id": "area120tables.tables.rows.get",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "flatPath": "v1alpha1/tables/{tablesId}/rows/{rowsId}",
              "response": {
                "$ref": "Row"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "type": "string",
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "location": "query",
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ]
                },
                "name": {
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}"
                }
              },
              "httpMethod": "GET",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "path": "v1alpha1/{+name}"
            },
            "batchUpdate": {
              "flatPath": "v1alpha1/tables/{tablesId}/rows:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "required": true,
                  "location": "path",
                  "pattern": "^tables/[^/]+$"
                }
              },
              "id": "area120tables.tables.rows.batchUpdate",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "description": "Updates multiple rows."
            }
          }
        }
      }
    }
  },
  "description": "",
  "ownerDomain": "google.com",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription"
}
