{
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "basePath": "",
  "canonicalName": "Artifact Registry",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "artifactregistry:v1beta2",
  "name": "artifactregistry",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "id": "artifactregistry.projects.locations.get",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}",
              "path": "v1beta2/{+name}",
              "response": {
                "$ref": "Location"
              }
            },
            "list": {
              "id": "artifactregistry.projects.locations.list",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta2/{+name}/locations",
              "flatPath": "v1beta2/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "artifactregistry.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta2/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            },
            "repositories": {
              "resources": {
                "packages": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the package to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta2/{+name}",
                      "httpMethod": "DELETE",
                      "id": "artifactregistry.projects.locations.repositories.packages.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the package to retrieve.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                        }
                      },
                      "description": "Gets a package.",
                      "path": "v1beta2/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Package"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.packages.get",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages",
                      "httpMethod": "GET",
                      "description": "Lists packages.",
                      "response": {
                        "$ref": "ListPackagesResponse"
                      },
                      "path": "v1beta2/{+parent}/packages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the parent resource whose packages will be listed."
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of packages to return. Maximum page size is 1,000."
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.packages.list"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "delete": {
                          "description": "Deletes a version and all of its content. The returned operation will complete once the version has been deleted.",
                          "path": "v1beta2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.delete",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "force": {
                              "location": "query",
                              "description": "By default, a version that is tagged may not be deleted. If force=true, the version and any tags pointing to the version are deleted.",
                              "type": "boolean"
                            },
                            "name": {
                              "location": "path",
                              "description": "The name of the version to delete.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$"
                            }
                          }
                        },
                        "list": {
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListVersionsResponse"
                          },
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of versions to return. Maximum page size is 1,000.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Optional. The field to order the results by.",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The next_page_token value returned from a previous list request, if any."
                            },
                            "view": {
                              "description": "The view that should be returned in the response.",
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "location": "query",
                              "type": "string",
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ]
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "required": true,
                              "description": "The name of the parent resource whose versions will be listed."
                            }
                          },
                          "description": "Lists versions.",
                          "path": "v1beta2/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.list"
                        },
                        "get": {
                          "parameters": {
                            "view": {
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "location": "query",
                              "type": "string",
                              "description": "The view that should be returned in the response.",
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ]
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "The name of the version to retrieve.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Version"
                          },
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.get",
                          "path": "v1beta2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Gets a version",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "tags": {
                      "methods": {
                        "list": {
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.list",
                          "response": {
                            "$ref": "ListTagsResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists tags.",
                          "parameters": {
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `version` An example of using a filter: * `version=\"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/1.0\"` --\u003e Tags that are applied to the version `1.0` in package `pkg1`.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "description": "The name of the parent resource whose tags will be listed.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of tags to return. Maximum page size is 10,000.",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags",
                          "path": "v1beta2/{+parent}/tags",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ]
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a tag.",
                          "request": {
                            "$ref": "Tag"
                          },
                          "response": {
                            "$ref": "Tag"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "type": "string",
                              "description": "The name of the parent resource where the tag will be created."
                            },
                            "tagId": {
                              "description": "The tag id to use for this repository.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.create",
                          "path": "v1beta2/{+parent}/tags",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags"
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The name of the tag to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$"
                            }
                          },
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Empty"
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.delete",
                          "path": "v1beta2/{+name}",
                          "httpMethod": "DELETE",
                          "description": "Deletes a tag.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "patch": {
                          "response": {
                            "$ref": "Tag"
                          },
                          "request": {
                            "$ref": "Tag"
                          },
                          "parameters": {
                            "name": {
                              "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$"
                            },
                            "updateMask": {
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "path": "v1beta2/{+name}",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates a tag."
                        },
                        "get": {
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.get",
                          "description": "Gets a tag.",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "path": "v1beta2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Tag"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "description": "The name of the tag to retrieve."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "aptArtifacts": {
                  "methods": {
                    "upload": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "path": "v1beta2/{+parent}/aptArtifacts:create",
                      "description": "Directly uploads an Apt artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.upload",
                      "request": {
                        "$ref": "UploadAptArtifactRequest"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:create",
                      "response": {
                        "$ref": "UploadAptArtifactMediaResponse"
                      },
                      "supportsMediaUpload": true,
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1beta2/{+parent}/aptArtifacts:create"
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "parameters": {
                        "parent": {
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "import": {
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.import",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:import",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Imports Apt artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "request": {
                        "$ref": "ImportAptArtifactsRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta2/{+parent}/aptArtifacts:import"
                    }
                  }
                },
                "files": {
                  "methods": {
                    "get": {
                      "path": "v1beta2/{+name}",
                      "id": "artifactregistry.projects.locations.repositories.files.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/.*$",
                          "required": true,
                          "description": "The name of the file to retrieve.",
                          "location": "path"
                        }
                      },
                      "description": "Gets a file.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1beta2File"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListFilesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `owner` An example of using a filter: * `name=\"projects/p1/locations/us-central1/repositories/repo1/files/a/b/*\"` --\u003e Files with an ID starting with \"a/b/\". * `owner=\"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/1.0\"` --\u003e Files owned by the version `1.0` in package `pkg1`."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The name of the parent resource whose files will be listed.",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of files to return.",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "id": "artifactregistry.projects.locations.repositories.files.list",
                      "description": "Lists files.",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files",
                      "path": "v1beta2/{+parent}/files"
                    }
                  }
                },
                "yumArtifacts": {
                  "methods": {
                    "import": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "path": "v1beta2/{+parent}/yumArtifacts:import",
                      "httpMethod": "POST",
                      "description": "Imports Yum (RPM) artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "request": {
                        "$ref": "ImportYumArtifactsRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.import",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "upload": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:create",
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.upload",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "UploadYumArtifactMediaResponse"
                      },
                      "request": {
                        "$ref": "UploadYumArtifactRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Directly uploads a Yum artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "path": "v1beta2/{+parent}/yumArtifacts:create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaUpload": true,
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1beta2/{+parent}/yumArtifacts:create",
                            "multipart": true
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the parent resource where the repository will be created.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "repositoryId": {
                      "description": "The repository id to use for this repository.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta2/{+parent}/repositories",
                  "description": "Creates a repository. The returned Operation will finish once the repository has been created. Its response will be the created Repository.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "artifactregistry.projects.locations.repositories.create",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta2/{+name}",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "artifactregistry.projects.locations.repositories.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The name of the repository to delete.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a repository and all of its contents. The returned Operation will finish once the repository has been deleted. It will not have any Operation metadata and will return a google.protobuf.Empty response."
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "description": "Tests if the caller has a list of permissions on a resource.",
                  "httpMethod": "POST",
                  "id": "artifactregistry.projects.locations.repositories.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta2/{+resource}:setIamPolicy",
                  "id": "artifactregistry.projects.locations.repositories.setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Updates the IAM policy for a given resource."
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "id": "artifactregistry.projects.locations.repositories.getIamPolicy",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "description": "Gets the IAM policy for a given resource.",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "patch": {
                  "id": "artifactregistry.projects.locations.repositories.patch",
                  "path": "v1beta2/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "response": {
                    "$ref": "Repository"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "The name of the repository, for example: \"projects/p1/locations/us-central1/repositories/repo1\".",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a repository.",
                  "request": {
                    "$ref": "Repository"
                  }
                },
                "get": {
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a repository.",
                  "id": "artifactregistry.projects.locations.repositories.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the repository to retrieve.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "description": "Lists repositories.",
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of repositories to return. Maximum page size is 1,000."
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource whose repositories will be listed.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous list request, if any."
                    }
                  },
                  "path": "v1beta2/{+parent}/repositories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories",
                  "httpMethod": "GET",
                  "id": "artifactregistry.projects.locations.repositories.list"
                }
              }
            }
          }
        }
      },
      "methods": {
        "updateProjectSettings": {
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "id": "artifactregistry.projects.updateProjectSettings",
          "description": "Updates the Settings for the Project.",
          "request": {
            "$ref": "ProjectSettings"
          },
          "parameters": {
            "updateMask": {
              "description": "Field mask to support partial updates.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
              "pattern": "^projects/[^/]+/projectSettings$",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}"
        },
        "getProjectSettings": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/projectSettings$",
              "description": "Required. The name of the projectSettings resource.",
              "required": true
            }
          },
          "id": "artifactregistry.projects.getProjectSettings",
          "description": "Retrieves the Settings for the Project.",
          "httpMethod": "GET"
        }
      }
    }
  },
  "title": "Artifact Registry API",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "GoogleDevtoolsArtifactregistryV1beta2File": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "The time when the File was last updated.",
          "type": "string"
        },
        "name": {
          "description": "The name of the file, for example: \"projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt\". If the file ID part contains slashes, they are escaped.",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The size of the File in bytes."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the File was created."
        },
        "owner": {
          "type": "string",
          "description": "The name of the Package or Version that owns this file, if any."
        },
        "hashes": {
          "type": "array",
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          }
        }
      },
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1beta2File"
    },
    "OperationMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata type for longrunning-operations, currently empty.",
      "id": "OperationMetadata"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "type": "object"
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The tags returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return."
        }
      },
      "description": "The response from listing tags."
    },
    "AptArtifact": {
      "id": "AptArtifact",
      "type": "object",
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html",
      "properties": {
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The Apt package name of the artifact.",
          "readOnly": true
        },
        "packageType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An artifact is a binary or source package.",
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "type": "string"
        },
        "controlFile": {
          "type": "string",
          "description": "Output only. Contents of the artifact's control metadata file.",
          "format": "byte",
          "readOnly": true
        },
        "component": {
          "readOnly": true,
          "description": "Output only. Repository component of the artifact.",
          "type": "string"
        }
      }
    },
    "UploadYumArtifactRequest": {
      "properties": {},
      "id": "UploadYumArtifactRequest",
      "description": "The request to upload an artifact.",
      "type": "object"
    },
    "ListPackagesResponse": {
      "properties": {
        "packages": {
          "type": "array",
          "description": "The packages returned.",
          "items": {
            "$ref": "Package"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return."
        }
      },
      "description": "The response from listing packages.",
      "id": "ListPackagesResponse",
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "id": "Policy"
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "description": "The response from listing files.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return.",
          "type": "string"
        },
        "files": {
          "description": "The files returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1beta2File"
          }
        }
      }
    },
    "ImportAptArtifactsErrorInfo": {
      "type": "object",
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportAptArtifactsErrorInfo",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      }
    },
    "UploadYumArtifactMediaResponse": {
      "type": "object",
      "description": "The response to upload an artifact.",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "id": "UploadYumArtifactMediaResponse"
    },
    "ImportAptArtifactsGcsSource": {
      "type": "object",
      "id": "ImportAptArtifactsGcsSource",
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      }
    },
    "YumArtifact": {
      "id": "YumArtifact",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true
        },
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "description": "Output only. An artifact is a binary or source package.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operating system architecture of the artifact."
        },
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The yum package name of the artifact."
        }
      },
      "description": "A detailed representation of a Yum artifact."
    },
    "Repository": {
      "id": "Repository",
      "description": "A Repository for storing artifacts with a specific format.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the repository was created.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "Python package format."
          ],
          "type": "string",
          "description": "The format of packages that are stored in the repository.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "PYTHON"
          ]
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the repository was last updated."
        },
        "name": {
          "type": "string",
          "description": "The name of the repository, for example: \"projects/p1/locations/us-central1/repositories/repo1\"."
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created."
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "UploadAptArtifactMediaResponse": {
      "id": "UploadAptArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "ImportYumArtifactsResponse": {
      "type": "object",
      "id": "ImportYumArtifactsResponse",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          }
        },
        "yumArtifacts": {
          "type": "array",
          "description": "The yum artifacts imported.",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      },
      "description": "The response message from importing YUM artifacts."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      }
    },
    "UploadAptArtifactRequest": {
      "type": "object",
      "id": "UploadAptArtifactRequest",
      "description": "The request to upload an artifact.",
      "properties": {}
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "UploadYumArtifactResponse": {
      "id": "UploadYumArtifactResponse",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "type": "object",
      "properties": {
        "yumArtifacts": {
          "items": {
            "$ref": "YumArtifact"
          },
          "type": "array",
          "description": "The Apt artifacts updated."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "description": "The response from listing repositories.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return."
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "The repositories returned."
        }
      },
      "type": "object"
    },
    "ProjectSettings": {
      "type": "object",
      "description": "The Artifact Registry settings that apply to a Project.",
      "properties": {
        "legacyRedirectionState": {
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED"
          ],
          "type": "string",
          "description": "The redirection state of the legacy repositories in this project.",
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted."
          ]
        },
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
          "type": "string"
        }
      },
      "id": "ProjectSettings"
    },
    "Hash": {
      "description": "A hash of file content.",
      "id": "Hash",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash."
          ],
          "description": "The algorithm used to compute the hash value.",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5"
          ]
        },
        "value": {
          "description": "The hash value.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "ImportYumArtifactsGcsSource": {
      "type": "object",
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "type": "array"
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "id": "ImportYumArtifactsGcsSource"
    },
    "ImportYumArtifactsRequest": {
      "description": "The request to import new yum artifacts.",
      "id": "ImportYumArtifactsRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      }
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "The versions returned."
        }
      },
      "id": "ListVersionsResponse",
      "description": "The response from listing versions.",
      "type": "object"
    },
    "UploadAptArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "aptArtifacts": {
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array",
          "description": "The Apt artifacts updated."
        }
      },
      "type": "object",
      "id": "UploadAptArtifactResponse"
    },
    "Package": {
      "properties": {
        "createTime": {
          "description": "The time when the package was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the package, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1\". If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the package."
        }
      },
      "id": "Package",
      "type": "object",
      "description": "Packages are named collections of versions."
    },
    "ImportAptArtifactsResponse": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          },
          "description": "Detailed error info for packages that were not imported."
        },
        "aptArtifacts": {
          "items": {
            "$ref": "AptArtifact"
          },
          "description": "The Apt artifacts imported.",
          "type": "array"
        }
      },
      "id": "ImportAptArtifactsResponse",
      "type": "object",
      "description": "The response message from importing APT artifacts."
    },
    "MavenRepositoryConfig": {
      "id": "MavenRepositoryConfig",
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type.",
      "properties": {
        "allowSnapshotOverwrites": {
          "type": "boolean",
          "description": "The repository with this flag will allow publishing the same snapshot versions."
        },
        "versionPolicy": {
          "type": "string",
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ],
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "description": "Version policy defines the versions that the registry will accept."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object"
    },
    "ImportYumArtifactsErrorInfo": {
      "id": "ImportYumArtifactsErrorInfo",
      "properties": {
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        },
        "gcsSource": {
          "$ref": "ImportYumArtifactsGcsSource",
          "description": "Google Cloud Storage location requested."
        }
      },
      "description": "Error information explaining why a package was not imported.",
      "type": "object"
    },
    "Version": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the version, as specified in its metadata."
        },
        "relatedTags": {
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the version, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1\". If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the version was created.",
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the only resource in use is DockerImage",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the version was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "type": "object",
      "id": "Version"
    },
    "ImportAptArtifactsRequest": {
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      },
      "description": "The request to import new apt artifacts.",
      "id": "ImportAptArtifactsRequest"
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "Tag": {
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The name of the version the tag refers to, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811\" If the package or version ID parts contain slashes, the slashes are escaped."
        },
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        }
      },
      "id": "Tag"
    }
  },
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "protocol": "rest",
  "revision": "20220203",
  "version": "v1beta2"
}
