{
  "servicePath": "",
  "title": "Artifact Registry API",
  "canonicalName": "Artifact Registry",
  "protocol": "rest",
  "version": "v1beta2",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "updateProjectSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "description": "Updates the Settings for the Project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "artifactregistry.projects.updateProjectSettings",
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Field mask to support partial updates."
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
              "type": "string",
              "pattern": "^projects/[^/]+/projectSettings$"
            }
          }
        },
        "getProjectSettings": {
          "httpMethod": "GET",
          "description": "Retrieves the Settings for the Project.",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "parameterOrder": [
            "name"
          ],
          "id": "artifactregistry.projects.getProjectSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/projectSettings$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the projectSettings resource.",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1beta2/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "path": "v1beta2/{+name}/locations",
              "id": "artifactregistry.projects.locations.list"
            },
            "get": {
              "id": "artifactregistry.projects.locations.get",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}",
              "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "repositories": {
              "methods": {
                "create": {
                  "id": "artifactregistry.projects.locations.repositories.create",
                  "path": "v1beta2/{+parent}/repositories",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the parent resource where the repository will be created.",
                      "location": "path",
                      "required": true
                    },
                    "repositoryId": {
                      "type": "string",
                      "description": "The repository id to use for this repository.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a repository. The returned Operation will finish once the repository has been created. Its response will be the created Repository.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Repository"
                  }
                },
                "patch": {
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Repository"
                  },
                  "response": {
                    "$ref": "Repository"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "description": "The name of the repository, for example: \"projects/p1/locations/us-central1/repositories/repo1\".",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a repository.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "id": "artifactregistry.projects.locations.repositories.patch"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists repositories.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource whose repositories will be listed.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous list request, if any."
                    },
                    "pageSize": {
                      "description": "The maximum number of repositories to return. Maximum page size is 1,000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "id": "artifactregistry.projects.locations.repositories.list",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories",
                  "path": "v1beta2/{+parent}/repositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET"
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "id": "artifactregistry.projects.locations.repositories.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "description": "Gets the IAM policy for a given resource.",
                  "httpMethod": "GET"
                },
                "testIamPermissions": {
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "artifactregistry.projects.locations.repositories.testIamPermissions",
                  "httpMethod": "POST",
                  "description": "Tests if the caller has a list of permissions on a resource.",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "get": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "artifactregistry.projects.locations.repositories.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the repository to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "description": "Gets a repository.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Repository"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "artifactregistry.projects.locations.repositories.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a repository and all of its contents. The returned Operation will finish once the repository has been deleted. It will not have any Operation metadata and will return a google.protobuf.Empty response.",
                  "path": "v1beta2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the repository to delete.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "artifactregistry.projects.locations.repositories.setIamPolicy",
                  "path": "v1beta2/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "description": "Updates the IAM policy for a given resource.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy"
                }
              },
              "resources": {
                "packages": {
                  "methods": {
                    "get": {
                      "description": "Gets a package.",
                      "path": "v1beta2/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Package"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the package to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.packages.get",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}"
                    },
                    "delete": {
                      "id": "artifactregistry.projects.locations.repositories.packages.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta2/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the package to delete."
                        }
                      },
                      "description": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted."
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1beta2/{+parent}/packages",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of packages to return. Maximum page size is 1,000."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The name of the parent resource whose packages will be listed.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages",
                      "description": "Lists packages.",
                      "id": "artifactregistry.projects.locations.repositories.packages.list",
                      "response": {
                        "$ref": "ListPackagesResponse"
                      }
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "delete": {
                          "path": "v1beta2/{+name}",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "The name of the version to delete.",
                              "location": "path",
                              "type": "string"
                            },
                            "force": {
                              "description": "By default, a version that is tagged may not be deleted. If force=true, the version and any tags pointing to the version are deleted.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.delete",
                          "description": "Deletes a version and all of its content. The returned operation will complete once the version has been deleted.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the version to retrieve.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "view": {
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "type": "string",
                              "description": "The view that should be returned in the response.",
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets a version",
                          "path": "v1beta2/{+name}",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.get",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Version"
                          }
                        },
                        "list": {
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.list",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta2/{+parent}/versions",
                          "parameters": {
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "type": "string",
                              "description": "The name of the parent resource whose versions will be listed.",
                              "required": true
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Optional. The field to order the results by.",
                              "location": "query"
                            },
                            "view": {
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "location": "query",
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "description": "The view that should be returned in the response.",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of versions to return. Maximum page size is 1,000.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "response": {
                            "$ref": "ListVersionsResponse"
                          },
                          "description": "Lists versions."
                        }
                      }
                    },
                    "tags": {
                      "methods": {
                        "delete": {
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "Empty"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The name of the tag to delete.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$"
                            }
                          },
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes a tag.",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta2/{+name}"
                        },
                        "patch": {
                          "parameters": {
                            "name": {
                              "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string",
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                            }
                          },
                          "httpMethod": "PATCH",
                          "path": "v1beta2/{+name}",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "description": "Updates a tag.",
                          "response": {
                            "$ref": "Tag"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "Tag"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.patch"
                        },
                        "create": {
                          "response": {
                            "$ref": "Tag"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "tagId": {
                              "description": "The tag id to use for this repository.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "description": "The name of the parent resource where the tag will be created.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta2/{+parent}/tags",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags",
                          "request": {
                            "$ref": "Tag"
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.create",
                          "description": "Creates a tag.",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "list": {
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags",
                          "response": {
                            "$ref": "ListTagsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists tags.",
                          "path": "v1beta2/{+parent}/tags",
                          "httpMethod": "GET",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.list",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "The maximum number of tags to return. Maximum page size is 10,000.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `version` An example of using a filter: * `version=\"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/1.0\"` --\u003e Tags that are applied to the version `1.0` in package `pkg1`."
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "type": "string",
                              "description": "The name of the parent resource whose tags will be listed."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ]
                        },
                        "get": {
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "The name of the tag to retrieve.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets a tag.",
                          "path": "v1beta2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.get",
                          "response": {
                            "$ref": "Tag"
                          },
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}"
                        }
                      }
                    }
                  }
                },
                "files": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the file to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/.*$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "id": "artifactregistry.projects.locations.repositories.files.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "path": "v1beta2/{+name}",
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1beta2File"
                      },
                      "description": "Gets a file.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files",
                      "description": "Lists files.",
                      "path": "v1beta2/{+parent}/files",
                      "parameters": {
                        "parent": {
                          "description": "The name of the repository whose files will be listed. For example: \"projects/p1/locations/us-central1/repositories/repo1",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `owner` An example of using a filter: * `name=\"projects/p1/locations/us-central1/repositories/repo1/files/a/b/*\"` --\u003e Files with an ID starting with \"a/b/\". * `owner=\"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/1.0\"` --\u003e Files owned by the version `1.0` in package `pkg1`."
                        },
                        "pageSize": {
                          "description": "The maximum number of files to return.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListFilesResponse"
                      },
                      "id": "artifactregistry.projects.locations.repositories.files.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "aptArtifacts": {
                  "methods": {
                    "upload": {
                      "request": {
                        "$ref": "UploadAptArtifactRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1beta2/{+parent}/aptArtifacts:create",
                      "response": {
                        "$ref": "UploadAptArtifactMediaResponse"
                      },
                      "supportsMediaUpload": true,
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:create",
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.upload",
                      "description": "Directly uploads an Apt artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1beta2/{+parent}/aptArtifacts:create"
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "import": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta2/{+parent}/aptArtifacts:import",
                      "request": {
                        "$ref": "ImportAptArtifactsRequest"
                      },
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.import",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Imports Apt artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:import",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "yumArtifacts": {
                  "methods": {
                    "upload": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "UploadYumArtifactMediaResponse"
                      },
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.upload",
                      "request": {
                        "$ref": "UploadYumArtifactRequest"
                      },
                      "path": "v1beta2/{+parent}/yumArtifacts:create",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1beta2/{+parent}/yumArtifacts:create",
                            "multipart": true
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "description": "Directly uploads a Yum artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "httpMethod": "POST",
                      "supportsMediaUpload": true,
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:create"
                    },
                    "import": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ImportYumArtifactsRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta2/{+parent}/yumArtifacts:import",
                      "description": "Imports Yum (RPM) artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "httpMethod": "POST",
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.import"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta2/{+name}",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "artifactregistry.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "name": "artifactregistry",
  "id": "artifactregistry:v1beta2",
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "kind": "discovery#restDescription",
  "revision": "20220803",
  "schemas": {
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "type": "array",
          "description": "The versions returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response from listing versions."
    },
    "ImportYumArtifactsResponse": {
      "id": "ImportYumArtifactsResponse",
      "type": "object",
      "description": "The response message from importing YUM artifacts.",
      "properties": {
        "errors": {
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          },
          "type": "array",
          "description": "Detailed error info for packages that were not imported."
        },
        "yumArtifacts": {
          "type": "array",
          "description": "The yum artifacts imported.",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      }
    },
    "UploadAptArtifactResponse": {
      "type": "object",
      "properties": {
        "aptArtifacts": {
          "type": "array",
          "items": {
            "$ref": "AptArtifact"
          },
          "description": "The Apt artifacts updated."
        }
      },
      "id": "UploadAptArtifactResponse",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "MavenRepositoryConfig": {
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type.",
      "id": "MavenRepositoryConfig",
      "properties": {
        "allowSnapshotOverwrites": {
          "type": "boolean",
          "description": "The repository with this flag will allow publishing the same snapshot versions."
        },
        "versionPolicy": {
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "type": "string",
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ],
          "description": "Version policy defines the versions that the registry will accept."
        }
      },
      "type": "object"
    },
    "Repository": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time when the repository was created.",
          "format": "google-datetime"
        },
        "sizeBytes": {
          "type": "string",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "format": "int64",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time when the repository was last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the repository, for example: \"projects/p1/locations/us-central1/repositories/repo1\"."
        },
        "mavenConfig": {
          "$ref": "MavenRepositoryConfig",
          "description": "Maven repository config contains repository level configuration for the repositories of maven type."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "type": "object"
        },
        "format": {
          "description": "The format of packages that are stored in the repository.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "Python package format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "PYTHON"
          ]
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        }
      },
      "description": "A Repository for storing artifacts with a specific format.",
      "id": "Repository"
    },
    "Package": {
      "id": "Package",
      "properties": {
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the package, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1\". If the package ID part contains slashes, the slashes are escaped."
        },
        "createTime": {
          "description": "The time when the package was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Packages are named collections of versions.",
      "type": "object"
    },
    "ListPackagesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return."
        },
        "packages": {
          "type": "array",
          "description": "The packages returned.",
          "items": {
            "$ref": "Package"
          }
        }
      },
      "description": "The response from listing packages.",
      "id": "ListPackagesResponse"
    },
    "UploadAptArtifactMediaResponse": {
      "description": "The response to upload an artifact.",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "id": "UploadAptArtifactMediaResponse"
    },
    "Tag": {
      "properties": {
        "version": {
          "description": "The name of the version the tag refers to, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811\" If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        },
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        }
      },
      "id": "Tag",
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "ImportYumArtifactsErrorInfo": {
      "id": "ImportYumArtifactsErrorInfo",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "ImportYumArtifactsRequest": {
      "description": "The request to import new yum artifacts.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      },
      "id": "ImportYumArtifactsRequest"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "Version": {
      "properties": {
        "metadata": {
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the only resource in use is DockerImage",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "relatedTags": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version."
        },
        "createTime": {
          "description": "The time when the version was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the version, as specified in its metadata.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the version, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1\". If the package or version ID parts contain slashes, the slashes are escaped."
        },
        "updateTime": {
          "description": "The time when the version was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "id": "Version"
    },
    "UploadYumArtifactResponse": {
      "type": "object",
      "properties": {
        "yumArtifacts": {
          "items": {
            "$ref": "YumArtifact"
          },
          "description": "The Apt artifacts updated.",
          "type": "array"
        }
      },
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "id": "UploadYumArtifactResponse"
    },
    "UploadAptArtifactMetadata": {
      "id": "UploadAptArtifactMetadata",
      "description": "The operation metadata for uploading artifacts.",
      "properties": {},
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Metadata type for longrunning-operations, currently empty.",
      "type": "object",
      "properties": {},
      "id": "OperationMetadata"
    },
    "ImportAptArtifactsErrorInfo": {
      "type": "object",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      },
      "id": "ImportAptArtifactsErrorInfo"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "properties": {
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "The repositories returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      },
      "id": "ListRepositoriesResponse",
      "description": "The response from listing repositories."
    },
    "ImportAptArtifactsRequest": {
      "id": "ImportAptArtifactsRequest",
      "description": "The request to import new apt artifacts.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      }
    },
    "Hash": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The hash value.",
          "format": "byte"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5"
          ],
          "description": "The algorithm used to compute the hash value."
        }
      },
      "id": "Hash",
      "description": "A hash of file content.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "YumArtifact": {
      "id": "YumArtifact",
      "description": "A detailed representation of a Yum artifact.",
      "type": "object",
      "properties": {
        "architecture": {
          "readOnly": true,
          "description": "Output only. Operating system architecture of the artifact.",
          "type": "string"
        },
        "packageType": {
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. An artifact is a binary or source package.",
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. The yum package name of the artifact.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AptArtifact": {
      "id": "AptArtifact",
      "properties": {
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "type": "string",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        },
        "controlFile": {
          "format": "byte",
          "type": "string",
          "description": "Output only. Contents of the artifact's control metadata file.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "type": "string"
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact."
        },
        "packageName": {
          "description": "Output only. The Apt package name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "component": {
          "type": "string",
          "description": "Output only. Repository component of the artifact.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html"
    },
    "ImportYumArtifactsGcsSource": {
      "type": "object",
      "properties": {
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        },
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ImportYumArtifactsGcsSource",
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "GoogleDevtoolsArtifactregistryV1beta2File": {
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "id": "GoogleDevtoolsArtifactregistryV1beta2File",
      "type": "object",
      "properties": {
        "sizeBytes": {
          "description": "The size of the File in bytes.",
          "type": "string",
          "format": "int64"
        },
        "owner": {
          "type": "string",
          "description": "The name of the Package or Version that owns this file, if any."
        },
        "hashes": {
          "description": "The hashes of the file content.",
          "type": "array",
          "items": {
            "$ref": "Hash"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the File was created."
        },
        "updateTime": {
          "description": "The time when the File was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the file, for example: \"projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt\". If the file ID part contains slashes, they are escaped."
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "UploadYumArtifactMetadata": {
      "id": "UploadYumArtifactMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for uploading artifacts."
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ImportYumArtifactsMetadata": {
      "id": "ImportYumArtifactsMetadata",
      "description": "The operation metadata for importing artifacts.",
      "properties": {},
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "ListTagsResponse": {
      "description": "The response from listing tags.",
      "id": "ListTagsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        },
        "tags": {
          "description": "The tags returned.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "ImportAptArtifactsResponse": {
      "properties": {
        "aptArtifacts": {
          "description": "The Apt artifacts imported.",
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array"
        },
        "errors": {
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          },
          "type": "array",
          "description": "Detailed error info for packages that were not imported."
        }
      },
      "description": "The response message from importing APT artifacts.",
      "id": "ImportAptArtifactsResponse",
      "type": "object"
    },
    "ProjectSettings": {
      "type": "object",
      "id": "ProjectSettings",
      "description": "The Artifact Registry settings that apply to a Project.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set"
        },
        "legacyRedirectionState": {
          "type": "string",
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED"
          ],
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted."
          ],
          "description": "The redirection state of the legacy repositories in this project."
        }
      }
    },
    "ListFilesResponse": {
      "description": "The response from listing files.",
      "id": "ListFilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return.",
          "type": "string"
        },
        "files": {
          "description": "The files returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1beta2File"
          }
        }
      }
    },
    "UploadYumArtifactMediaResponse": {
      "id": "UploadYumArtifactMediaResponse",
      "type": "object",
      "description": "The response to upload an artifact.",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "ImportAptArtifactsMetadata": {
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportAptArtifactsMetadata",
      "properties": {},
      "type": "object"
    },
    "UploadYumArtifactRequest": {
      "properties": {},
      "id": "UploadYumArtifactRequest",
      "type": "object",
      "description": "The request to upload an artifact."
    },
    "ImportAptArtifactsGcsSource": {
      "properties": {
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        },
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "id": "ImportAptArtifactsGcsSource",
      "type": "object"
    },
    "UploadAptArtifactRequest": {
      "id": "UploadAptArtifactRequest",
      "description": "The request to upload an artifact.",
      "type": "object",
      "properties": {}
    }
  }
}
