{
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "revision": "20220203",
  "protocol": "rest",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version": "v1",
  "version_module": true,
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "Artifact Registry API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "description": "The response from listing tags.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return."
        },
        "tags": {
          "description": "The tags returned.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "UploadAptArtifactRequest": {
      "properties": {},
      "description": "The request to upload an artifact.",
      "id": "UploadAptArtifactRequest",
      "type": "object"
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "properties": {
        "files": {
          "description": "The files returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1File"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return."
        }
      },
      "type": "object",
      "description": "The response from listing files."
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ImportGooGetArtifactsGcsSource": {
      "properties": {
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        },
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket/my_object).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ImportGooGetArtifactsGcsSource",
      "type": "object",
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "UploadYumArtifactRequest": {
      "id": "UploadYumArtifactRequest",
      "type": "object",
      "properties": {},
      "description": "The request to upload an artifact."
    },
    "Repository": {
      "id": "Repository",
      "properties": {
        "description": {
          "type": "string",
          "description": "The user-provided description of the repository."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "type": "object"
        },
        "name": {
          "description": "The name of the repository, for example: \"projects/p1/locations/us-central1/repositories/repo1\".",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the repository was last updated."
        },
        "createTime": {
          "type": "string",
          "description": "The time when the repository was created.",
          "format": "google-datetime"
        },
        "format": {
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "Python package format."
          ],
          "description": "The format of packages that are stored in the repository.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "PYTHON"
          ],
          "type": "string"
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "mavenConfig": {
          "$ref": "MavenRepositoryConfig",
          "description": "Maven repository config contains repository level configuration for the repositories of maven type."
        }
      },
      "description": "A Repository for storing artifacts with a specific format.",
      "type": "object"
    },
    "MavenRepositoryConfig": {
      "id": "MavenRepositoryConfig",
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type.",
      "properties": {
        "allowSnapshotOverwrites": {
          "type": "boolean",
          "description": "The repository with this flag will allow publishing the same snapshot versions."
        },
        "versionPolicy": {
          "description": "Version policy defines the versions that the registry will accept.",
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ]
        }
      },
      "type": "object"
    },
    "Package": {
      "description": "Packages are named collections of versions.",
      "id": "Package",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the package."
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the package, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1\". If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the package was created.",
          "format": "google-datetime"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "ListDockerImagesResponse": {
      "id": "ListDockerImagesResponse",
      "properties": {
        "dockerImages": {
          "items": {
            "$ref": "DockerImage"
          },
          "description": "The docker images returned.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      },
      "type": "object",
      "description": "The response from listing docker images."
    },
    "ListRepositoriesResponse": {
      "properties": {
        "repositories": {
          "description": "The repositories returned.",
          "items": {
            "$ref": "Repository"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRepositoriesResponse",
      "description": "The response from listing repositories."
    },
    "UploadYumArtifactMediaResponse": {
      "type": "object",
      "id": "UploadYumArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "ImportGooGetArtifactsRequest": {
      "id": "ImportGooGetArtifactsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "ImportGooGetArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "type": "object",
      "description": "The request to import new googet artifacts."
    },
    "UploadGooGetArtifactMediaResponse": {
      "type": "object",
      "id": "UploadGooGetArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return."
        },
        "versions": {
          "type": "array",
          "description": "The versions returned.",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "description": "The response from listing versions.",
      "id": "ListVersionsResponse",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1File": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1File",
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the File was last updated."
        },
        "hashes": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "The hashes of the file content."
        },
        "owner": {
          "type": "string",
          "description": "The name of the Package or Version that owns this file, if any."
        },
        "sizeBytes": {
          "description": "The size of the File in bytes.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the File was created."
        },
        "name": {
          "type": "string",
          "description": "The name of the file, for example: \"projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt\". If the file ID part contains slashes, they are escaped."
        }
      }
    },
    "DockerImage": {
      "properties": {
        "buildTime": {
          "format": "google-datetime",
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
        },
        "name": {
          "type": "string",
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repository//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags attached to this image.",
          "type": "array"
        },
        "mediaType": {
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource.",
          "type": "string"
        },
        "uploadTime": {
          "type": "string",
          "description": "Time the image was uploaded.",
          "format": "google-datetime"
        },
        "imageSizeBytes": {
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DockerImage",
      "type": "object",
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "ImportAptArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "type": "object",
      "properties": {
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        },
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ImportAptArtifactsGcsSource"
    },
    "ProjectSettings": {
      "id": "ProjectSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set"
        },
        "legacyRedirectionState": {
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted."
          ],
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED"
          ],
          "type": "string",
          "description": "The redirection state of the legacy repositories in this project."
        }
      },
      "description": "The Artifact Registry settings that apply to a Project.",
      "type": "object"
    },
    "Tag": {
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "id": "Tag",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded."
        },
        "version": {
          "description": "The name of the version the tag refers to, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811\" If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "ListPackagesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return.",
          "type": "string"
        },
        "packages": {
          "items": {
            "$ref": "Package"
          },
          "type": "array",
          "description": "The packages returned."
        }
      },
      "description": "The response from listing packages.",
      "id": "ListPackagesResponse"
    },
    "ImportYumArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "id": "ImportYumArtifactsGcsSource",
      "properties": {
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "type": "object"
    },
    "ImportYumArtifactsRequest": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      },
      "type": "object",
      "id": "ImportYumArtifactsRequest",
      "description": "The request to import new yum artifacts."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "UploadGooGetArtifactRequest": {
      "properties": {},
      "id": "UploadGooGetArtifactRequest",
      "type": "object",
      "description": "The request to upload an artifact."
    },
    "ImportAptArtifactsRequest": {
      "id": "ImportAptArtifactsRequest",
      "description": "The request to import new apt artifacts.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      },
      "type": "object"
    },
    "Version": {
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "type": "object",
      "id": "Version",
      "properties": {
        "updateTime": {
          "description": "The time when the version was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the version was created.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the version, as specified in its metadata.",
          "type": "string"
        },
        "name": {
          "description": "The name of the version, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1\". If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        },
        "relatedTags": {
          "type": "array",
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "items": {
            "$ref": "Tag"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true,
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the only resource in use is DockerImage"
        }
      }
    },
    "Hash": {
      "properties": {
        "value": {
          "description": "The hash value.",
          "type": "string",
          "format": "byte"
        },
        "type": {
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5"
          ],
          "type": "string",
          "description": "The algorithm used to compute the hash value.",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash."
          ]
        }
      },
      "id": "Hash",
      "type": "object",
      "description": "A hash of file content."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "UploadAptArtifactMediaResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "id": "UploadAptArtifactMediaResponse",
      "description": "The response to upload an artifact."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "id": "artifactregistry:v1",
  "canonicalName": "Artifact Registry",
  "resources": {
    "projects": {
      "methods": {
        "getProjectSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the projectSettings resource.",
              "pattern": "^projects/[^/]+/projectSettings$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "id": "artifactregistry.projects.getProjectSettings",
          "flatPath": "v1/projects/{projectsId}/projectSettings",
          "description": "Retrieves the Settings for the Project."
        },
        "updateProjectSettings": {
          "request": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/projectSettings$",
              "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Field mask to support partial updates."
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "v1/projects/{projectsId}/projectSettings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "id": "artifactregistry.projects.updateProjectSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the Settings for the Project.",
          "path": "v1/{+name}"
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "repositories": {
              "resources": {
                "aptArtifacts": {
                  "methods": {
                    "upload": {
                      "httpMethod": "POST",
                      "description": "Directly uploads an Apt artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "UploadAptArtifactMediaResponse"
                      },
                      "supportsMediaUpload": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:create",
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.upload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "UploadAptArtifactRequest"
                      },
                      "path": "v1/{+parent}/aptArtifacts:create",
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/aptArtifacts:create"
                          }
                        }
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      }
                    },
                    "import": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ImportAptArtifactsRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:import",
                      "description": "Imports Apt artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "path": "v1/{+parent}/aptArtifacts:import",
                      "httpMethod": "POST"
                    }
                  }
                },
                "gooGetArtifacts": {
                  "methods": {
                    "import": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "artifactregistry.projects.locations.repositories.gooGetArtifacts.import",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Imports GooGet artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/gooGetArtifacts:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/gooGetArtifacts:import",
                      "request": {
                        "$ref": "ImportGooGetArtifactsRequest"
                      },
                      "httpMethod": "POST"
                    }
                  }
                },
                "packages": {
                  "resources": {
                    "tags": {
                      "methods": {
                        "create": {
                          "description": "Creates a tag.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.create",
                          "request": {
                            "$ref": "Tag"
                          },
                          "path": "v1/{+parent}/tags",
                          "response": {
                            "$ref": "Tag"
                          },
                          "parameters": {
                            "tagId": {
                              "description": "The tag id to use for this repository.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The name of the parent resource where the tag will be created.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags"
                        },
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "The name of the tag to delete."
                            }
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes a tag.",
                          "response": {
                            "$ref": "Empty"
                          }
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The next_page_token value returned from a previous list request, if any."
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of tags to return. Maximum page size is 10,000.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "description": "The name of the parent resource whose tags will be listed.",
                              "required": true,
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `version` An example of using a filter: * `version=\"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/1.0\"` --\u003e Tags that are applied to the version `1.0` in package `pkg1`.",
                              "type": "string"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "response": {
                            "$ref": "ListTagsResponse"
                          },
                          "description": "Lists tags.",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/tags",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags"
                        },
                        "patch": {
                          "request": {
                            "$ref": "Tag"
                          },
                          "httpMethod": "PATCH",
                          "description": "Updates a tag.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Tag"
                          },
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                              "type": "string"
                            },
                            "name": {
                              "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.patch"
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "The name of the tag to retrieve.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.get",
                          "response": {
                            "$ref": "Tag"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Gets a tag.",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}"
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "delete": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "The name of the version to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "force": {
                              "description": "By default, a version that is tagged may not be deleted. If force=true, the version and any tags pointing to the version are deleted.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "httpMethod": "DELETE",
                          "description": "Deletes a version and all of its content. The returned operation will complete once the version has been deleted.",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Version"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "description": "The name of the version to retrieve.",
                              "location": "path"
                            },
                            "view": {
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "location": "query",
                              "description": "The view that should be returned in the response.",
                              "type": "string"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Gets a version",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/versions",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.list",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "The name of the parent resource whose versions will be listed.",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "type": "string"
                            },
                            "view": {
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "type": "string",
                              "description": "The view that should be returned in the response.",
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "The maximum number of versions to return. Maximum page size is 1,000.",
                              "format": "int32"
                            },
                            "orderBy": {
                              "description": "Optional. The field to order the results by.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "ListVersionsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions",
                          "description": "Lists versions.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "id": "artifactregistry.projects.locations.repositories.packages.delete",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the package to delete."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists packages.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.packages.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the parent resource whose packages will be listed.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of packages to return. Maximum page size is 1,000.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListPackagesResponse"
                      },
                      "path": "v1/{+parent}/packages",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the package to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Package"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "id": "artifactregistry.projects.locations.repositories.packages.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "description": "Gets a package."
                    }
                  }
                },
                "googetArtifacts": {
                  "methods": {
                    "upload": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/googetArtifacts:create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.googetArtifacts.upload",
                      "response": {
                        "$ref": "UploadGooGetArtifactMediaResponse"
                      },
                      "request": {
                        "$ref": "UploadGooGetArtifactRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Directly uploads a GooGet artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/googetArtifacts:create",
                            "multipart": true
                          }
                        }
                      },
                      "path": "v1/{+parent}/googetArtifacts:create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "supportsMediaUpload": true
                    }
                  }
                },
                "files": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists files.",
                      "id": "artifactregistry.projects.locations.repositories.files.list",
                      "response": {
                        "$ref": "ListFilesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of files to return."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "description": "The name of the parent resource whose files will be listed.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `owner` An example of using a filter: * `name=\"projects/p1/locations/us-central1/repositories/repo1/files/a/b/*\"` --\u003e Files with an ID starting with \"a/b/\". * `owner=\"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/1.0\"` --\u003e Files owned by the version `1.0` in package `pkg1`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/files"
                    },
                    "get": {
                      "id": "artifactregistry.projects.locations.repositories.files.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "description": "Gets a file.",
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1File"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/.*$",
                          "description": "The name of the file to retrieve.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "yumArtifacts": {
                  "methods": {
                    "import": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:import",
                      "parameters": {
                        "parent": {
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "path": "v1/{+parent}/yumArtifacts:import",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ImportYumArtifactsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Imports Yum (RPM) artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.import"
                    },
                    "upload": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/yumArtifacts:create",
                            "multipart": true
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "description": "Directly uploads a Yum artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "response": {
                        "$ref": "UploadYumArtifactMediaResponse"
                      },
                      "supportsMediaUpload": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:create",
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.upload",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/yumArtifacts:create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "UploadYumArtifactRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "dockerImages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListDockerImagesResponse"
                      },
                      "path": "v1/{+parent}/dockerImages",
                      "description": "Lists docker images.",
                      "id": "artifactregistry.projects.locations.repositories.dockerImages.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/dockerImages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of artifacts to return."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the parent resource whose docker images will be listed.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the docker images.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/dockerImages/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/dockerImages/{dockerImagesId}",
                      "id": "artifactregistry.projects.locations.repositories.dockerImages.get",
                      "description": "Gets a docker image.",
                      "response": {
                        "$ref": "DockerImage"
                      }
                    }
                  }
                }
              },
              "methods": {
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the IAM policy for a given resource.",
                  "path": "v1/{+resource}:getIamPolicy",
                  "id": "artifactregistry.projects.locations.repositories.getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "resource": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:testIamPermissions",
                  "id": "artifactregistry.projects.locations.repositories.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Tests if the caller has a list of permissions on a resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Repository"
                  },
                  "description": "Updates a repository.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "description": "The name of the repository, for example: \"projects/p1/locations/us-central1/repositories/repo1\"."
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "artifactregistry.projects.locations.repositories.patch",
                  "request": {
                    "$ref": "Repository"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "httpMethod": "PATCH"
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "id": "artifactregistry.projects.locations.repositories.setIamPolicy",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Updates the IAM policy for a given resource.",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "description": "Lists repositories.",
                  "id": "artifactregistry.projects.locations.repositories.list",
                  "path": "v1/{+parent}/repositories",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource whose repositories will be listed.",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous list request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of repositories to return. Maximum page size is 1,000."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a repository and all of its contents. The returned Operation will finish once the repository has been deleted. It will not have any Operation metadata and will return a google.protobuf.Empty response.",
                  "id": "artifactregistry.projects.locations.repositories.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The name of the repository to delete.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "artifactregistry.projects.locations.repositories.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a repository. The returned Operation will finish once the repository has been created. Its response will be the created Repository.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the parent resource where the repository will be created.",
                      "type": "string"
                    },
                    "repositoryId": {
                      "description": "The repository id to use for this repository.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Repository"
                  },
                  "path": "v1/{+parent}/repositories"
                },
                "get": {
                  "response": {
                    "$ref": "Repository"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the repository to retrieve."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a repository.",
                  "httpMethod": "GET",
                  "id": "artifactregistry.projects.locations.repositories.get"
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path",
              "pattern": "^operations/[^/]+$"
            }
          },
          "id": "artifactregistry.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}"
        }
      }
    }
  },
  "name": "artifactregistry"
}
