{
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "title": "Artifact Registry API",
  "discoveryVersion": "v1",
  "revision": "20210817",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/[^/]+$",
              "description": "The name of the operation resource.",
              "required": true,
              "location": "path"
            }
          },
          "id": "artifactregistry.operations.get",
          "flatPath": "v1/operations/{operationsId}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "id": "artifactregistry.operations.delete"
        },
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "pattern": "^operations/.*$",
              "type": "string"
            }
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST",
          "id": "artifactregistry.operations.cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          }
        },
        "list": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "The standard list filter."
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "location": "path",
              "description": "The name of the operation's parent resource.",
              "type": "string",
              "pattern": "^operations$",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "artifactregistry.operations.list",
          "flatPath": "v1/operations"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "repositories": {
              "resources": {
                "dockerImages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.dockerImages.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of artifacts to return."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the parent resource whose docker images will be listed."
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/dockerImages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists docker images.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/dockerImages",
                      "response": {
                        "$ref": "ListDockerImagesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "description": "Gets a repository.",
                  "response": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the repository to retrieve.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "artifactregistry.projects.locations.repositories.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/repositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists repositories.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent resource whose repositories will be listed.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous list request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of repositories to return.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "id": "artifactregistry.projects.locations.repositories.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "schemas": {
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ListDockerImagesResponse": {
      "type": "object",
      "id": "ListDockerImagesResponse",
      "description": "The response from listing docker images.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        },
        "dockerImages": {
          "items": {
            "$ref": "DockerImage"
          },
          "type": "array",
          "description": "The docker images returned."
        }
      }
    },
    "UploadYumArtifactMediaResponse": {
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "id": "UploadYumArtifactMediaResponse",
      "type": "object",
      "description": "The response to upload an artifact."
    },
    "AptArtifact": {
      "properties": {
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "controlFile": {
          "description": "Output only. Contents of the artifact's control metadata file.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Apt package name of the artifact."
        },
        "component": {
          "type": "string",
          "description": "Output only. Repository component of the artifact.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "type": "string"
        },
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "type": "string",
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        }
      },
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html",
      "type": "object",
      "id": "AptArtifact"
    },
    "Repository": {
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The Cloud KMS resource name of the customer managed encryption key that’s used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created."
        },
        "labels": {
          "type": "object",
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the repository was last updated."
        },
        "format": {
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "PyPI package format.",
            "APT package format.",
            "YUM package format.",
            "Python package format."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "PYPI",
            "APT",
            "YUM",
            "PYTHON"
          ],
          "description": "The format of packages that are stored in the repository."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the repository was created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the repository, for example: \"projects/p1/locations/us-central1/repositories/repo1\"."
        },
        "description": {
          "type": "string",
          "description": "The user-provided description of the repository."
        }
      },
      "id": "Repository",
      "type": "object",
      "description": "A Repository for storing artifacts with a specific format."
    },
    "DockerImage": {
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): - imageSizeBytes - mediaType - buildTime",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repository//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest.",
          "type": "string"
        },
        "mediaType": {
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource.",
          "type": "string"
        },
        "uploadTime": {
          "description": "Time the image was uploaded.",
          "type": "string",
          "format": "google-datetime"
        },
        "imageSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource."
        },
        "buildTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor and keeps the Version timestamps returned via OnePlatform consistent, as JSON marshals google.protobuf.Timestamp into an RFC 3339 string."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags attached to this image."
        }
      },
      "type": "object",
      "id": "DockerImage"
    },
    "UploadAptArtifactResponse": {
      "id": "UploadAptArtifactResponse",
      "type": "object",
      "properties": {
        "aptArtifacts": {
          "description": "The Apt artifacts updated.",
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array"
        }
      },
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "ImportAptArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "properties": {
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        },
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ImportAptArtifactsGcsSource"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "Empty"
    },
    "ImportAptArtifactsResponse": {
      "id": "ImportAptArtifactsResponse",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          }
        },
        "aptArtifacts": {
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array",
          "description": "The Apt artifacts updated."
        }
      },
      "description": "The response message from importing artifacts."
    },
    "YumArtifact": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Output only. The yum package name of the artifact.",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operating system architecture of the artifact."
        },
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "type": "string",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm). .rpm",
            "Source package (.srpm)."
          ]
        },
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "YumArtifact",
      "description": "A detailed representation of a Yum artifact."
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "ImportYumArtifactsGcsSource": {
      "id": "ImportYumArtifactsGcsSource",
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "description": "The response from listing repositories.",
      "id": "ListRepositoriesResponse",
      "type": "object",
      "properties": {
        "repositories": {
          "description": "The repositories returned.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      }
    },
    "ImportYumArtifactsErrorInfo": {
      "type": "object",
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportYumArtifactsErrorInfo",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        },
        "gcsSource": {
          "$ref": "ImportYumArtifactsGcsSource",
          "description": "Google Cloud Storage location requested."
        }
      }
    },
    "UploadAptArtifactMediaResponse": {
      "type": "object",
      "id": "UploadAptArtifactMediaResponse",
      "description": "The response to upload an artifact.",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      }
    },
    "ImportAptArtifactsErrorInfo": {
      "id": "ImportAptArtifactsErrorInfo",
      "properties": {
        "gcsSource": {
          "$ref": "ImportAptArtifactsGcsSource",
          "description": "Google Cloud Storage location requested."
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "description": "Error information explaining why a package was not imported.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "UploadYumArtifactResponse": {
      "type": "object",
      "id": "UploadYumArtifactResponse",
      "properties": {
        "yumArtifacts": {
          "items": {
            "$ref": "YumArtifact"
          },
          "type": "array",
          "description": "The Apt artifacts updated."
        }
      },
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "ImportYumArtifactsResponse": {
      "id": "ImportYumArtifactsResponse",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          }
        },
        "yumArtifacts": {
          "description": "The yum artifacts updated.",
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      },
      "description": "The response message from importing artifacts."
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    }
  },
  "ownerName": "Google",
  "canonicalName": "Artifact Registry",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "protocol": "rest",
  "id": "artifactregistry:v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "version_module": true,
  "name": "artifactregistry"
}
