{
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "version_module": true,
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "canonicalName": "Assuredworkloads",
  "id": "assuredworkloads:v1",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "assuredworkloads",
  "ownerDomain": "google.com",
  "version": "v1",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "description": "Request for acknowledging the violation Next Id: 5",
      "type": "object",
      "properties": {
        "nonCompliantOrgPolicy": {
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string",
          "deprecated": true
        },
        "comment": {
          "description": "Required. Business justification explaining the need for violation acknowledgement",
          "type": "string"
        },
        "acknowledgeType": {
          "type": "string",
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "description": "Optional. Acknowledge type of specified violation."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus": {
      "description": "Represents the Compliance Status of this workload",
      "properties": {
        "activeResourceViolationCount": {
          "description": "Number of current resource violations which are acknowledged.",
          "type": "integer",
          "format": "int32"
        },
        "acknowledgedResourceViolationCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of current resource violations which are not acknowledged."
        },
        "activeViolationCount": {
          "format": "int32",
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "type": "integer"
        },
        "acknowledgedViolationCount": {
          "format": "int32",
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse": {
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse",
      "type": "object",
      "description": "Response for violation acknowledgement"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "properties": {
        "setupErrors": {
          "description": "Indicates SAA enrollment setup error if any.",
          "type": "array",
          "items": {
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ]
          }
        },
        "setupStatus": {
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "description": "Indicates SAA enrollment status of a given workload."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis": {
      "description": "Represents move analysis results for an asset.",
      "type": "object",
      "properties": {
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        },
        "analysisGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
          },
          "description": "List of eligible analyses performed for the asset."
        },
        "asset": {
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions",
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "properties": {
        "dataLogsViewer": {
          "type": "boolean",
          "description": "Allow the partner to view inspectability logs and monitoring violations."
        },
        "serviceAccessApprover": {
          "description": "Optional. Allow partner to view access approval logs.",
          "type": "boolean"
        },
        "assuredWorkloadsMonitoring": {
          "description": "Optional. Allow partner to view violation alerts.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime"
        },
        "complianceRegime": {
          "type": "string",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "CA_PROTECTED_B",
            "IL5",
            "IL2",
            "JP_REGIONS_AND_SUPPORT"
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls",
            "Assured Workloads for Partners;",
            "Assured Workloads for Israel",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Canada Protected B regime",
            "Information protection as per DoD IL5 requirements.",
            "Information protection as per DoD IL2 requirements.",
            "Assured Workloads for Japan Regions"
          ]
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        }
      },
      "description": "Operation metadata to give request details of CreateWorkload.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "properties": {
        "ekmProvisioningResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse",
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "resourceSettings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          },
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "type": "array"
        },
        "saaEnrollmentResponse": {
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page."
        },
        "complianceStatus": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
          "readOnly": true,
          "description": "Output only. Count of active Violations in the Workload."
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "deprecated": true
        },
        "kajEnrollmentState": {
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the KAJ enrollment state of the given workload."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "readOnly": true
        },
        "complianceRegime": {
          "type": "string",
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls",
            "Assured Workloads for Partners;",
            "Assured Workloads for Israel",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Canada Protected B regime",
            "Information protection as per DoD IL5 requirements.",
            "Information protection as per DoD IL2 requirements.",
            "Assured Workloads for Japan Regions"
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "CA_PROTECTED_B",
            "IL5",
            "IL2",
            "JP_REGIONS_AND_SUPPORT"
          ]
        },
        "compliantButDisallowedServices": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment."
        },
        "resourceMonitoringEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload."
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "partner": {
          "description": "Optional. Partner regime associated with this workload.",
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN"
          ],
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner."
          ]
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        },
        "createTime": {
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "violationNotificationsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "properties": {
        "detail": {
          "description": "Explanation of the impact.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact",
      "description": "Represents the impact of moving the asset to the target."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions",
      "properties": {
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
        },
        "gcloudInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        }
      },
      "description": "Instructions to remediate violation",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          },
          "type": "array",
          "description": "List of Violations under a Workload."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Returns empty if reached the last page."
        }
      },
      "type": "object",
      "description": "Response of ListViolations endpoint."
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "description": "Request for restricting list of available resources in Workload environment.",
      "type": "object",
      "properties": {
        "restrictionType": {
          "type": "string",
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud": {
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud",
      "properties": {
        "gcloudCommands": {
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationExceptionContext": {
      "description": "Violation exception detail.",
      "type": "object",
      "properties": {
        "comment": {
          "description": "Business justification provided towards the acknowledgement of the violation.",
          "type": "string"
        },
        "userName": {
          "description": "Name of the user (or service account) who acknowledged the violation.",
          "type": "string"
        },
        "acknowledgementTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the violation was acknowledged."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediation": {
      "properties": {
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions"
        },
        "remediationType": {
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "type": "string",
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
      "type": "object",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole",
      "type": "object",
      "description": "Remediation instructions to resolve violation via cloud console"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse": {
      "description": "External key management systems(EKM) Provisioning response",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse",
      "properties": {
        "ekmProvisioningErrorDomain": {
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "description": "Indicates Ekm provisioning error if any.",
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "type": "string",
          "description": "Detailed error message if Ekm provisioning fails",
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ]
        },
        "ekmProvisioningState": {
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "description": "Indicates Ekm enrollment Provisioning of a given workload.",
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo",
      "properties": {
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_number.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represent the resources that are children of this Workload."
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse": {
      "description": "Response for restricting the list of allowed resources.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "properties": {
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string",
          "format": "google-datetime"
        },
        "rotationPeriod": {
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "deprecated": true,
      "description": "Settings specific to the Key Management Service.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisResult": {
      "properties": {
        "warnings": {
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          }
        },
        "blockers": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          },
          "type": "array",
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target."
        }
      },
      "description": "Represents the successful move analysis results for a group.",
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse": {
      "id": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Is empty if the last page is reached.",
          "type": "string"
        },
        "assetMoveAnalyses": {
          "description": "List of analysis results for each asset in scope.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
          }
        }
      },
      "type": "object",
      "description": "Response containing the analysis results for the hypothetical resource move."
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup": {
      "type": "object",
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason.",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error details for a failed analysis."
        },
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult"
        },
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "properties": {
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        },
        "resourceType": {
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "type": "object",
      "description": "Represent the custom settings for the resources to be created."
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "id": "GoogleCloudAssuredworkloadsV1Violation",
      "properties": {
        "acknowledgementTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        },
        "exceptionAuditLogLink": {
          "type": "string",
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "readOnly": true
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string"
        },
        "beginTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation."
        },
        "orgPolicyConstraint": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation."
        },
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations."
        },
        "remediation": {
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
          "description": "Output only. Compliance violation remediation"
        },
        "resolveTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "associatedOrgPolicyViolationId": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations."
        },
        "state": {
          "description": "Output only. State of the violation",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "parentProjectNumber": {
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "readOnly": true,
          "type": "string"
        },
        "exceptionContexts": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
          },
          "type": "array",
          "description": "Output only. List of all the exception detail added for the violation.",
          "readOnly": true
        },
        "resourceType": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations."
        },
        "auditLogLink": {
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string",
          "readOnly": true
        },
        "violationType": {
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the violation"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "type": "string"
        },
        "acknowledged": {
          "type": "boolean",
          "description": "A boolean that indicates if the violation is acknowledged"
        }
      },
      "description": "Workload monitoring Violation.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          },
          "description": "List of Workloads under a given parent."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "description": "Response of ListWorkloads endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest": {
      "properties": {
        "partnerPermissions": {
          "description": "Required. The partner permissions to be updated.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated. E.g. update_mask { paths: \"partner_permissions.data_logs_viewer\"}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest",
      "description": "Request for updating permission settings for a partner workload."
    }
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Assured Workloads API",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "revision": "20231110",
  "description": "",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "acknowledge": {
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest"
                      },
                      "httpMethod": "POST",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "path": "v1/{+name}:acknowledge",
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1Violation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A custom filter for filtering by the Violations properties."
                        },
                        "interval.startTime": {
                          "type": "string",
                          "location": "query",
                          "description": "The start of the time window.",
                          "format": "google-datetime"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token returned from previous request."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Page size."
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "type": "string"
                        },
                        "interval.endTime": {
                          "type": "string",
                          "description": "The end of the time window.",
                          "location": "query",
                          "format": "google-datetime"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "path": "v1/{+parent}/violations"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "path": "v1/{+parent}/workloads",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates Assured Workload.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "externalId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "mutatePartnerPermissions": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:mutatePartnerPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:mutatePartnerPermissions",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "assuredworkloads.organizations.locations.workloads.mutatePartnerPermissions",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
                  },
                  "description": "Update the permissions settings for an existing partner workload. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\"."
                    }
                  }
                },
                "restrictAllowedResources": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
                  },
                  "path": "v1/{+name}:restrictAllowedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  }
                },
                "analyzeWorkloadMove": {
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+target}:analyzeWorkloadMove",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests."
                    },
                    "assetTypes": {
                      "repeated": true,
                      "location": "query",
                      "type": "string",
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used."
                    },
                    "project": {
                      "location": "query",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "type": "string"
                    },
                    "target": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "target"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "id": "assuredworkloads.organizations.locations.workloads.delete"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  },
                  "path": "v1/{+parent}/workloads",
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Page size."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}
