{
  "fullyEncodeReservedExpansion": true,
  "revision": "20221128",
  "ownerName": "Google",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Assuredworkloads",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "name": "assuredworkloads",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "title": "Assured Workloads API",
  "batchPath": "batch",
  "schemas": {
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse": {
      "type": "object",
      "description": "Response for violation acknowledgement",
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions",
      "type": "object",
      "description": "Instructions to remediate violation",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud"
        },
        "consoleInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Optional. Time when the operation was created.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "ISR_REGIONS"
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls Available for public preview consumption. Don't create production workloads.",
            "Assured Workloads for Partners",
            "Assured Workloads for Israel Regions"
          ],
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Optional. The parent of the workload."
        }
      },
      "description": "Operation metadata to give request details of CreateWorkload.",
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse": {
      "type": "object",
      "description": "Response for restricting the list of allowed resources.",
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest",
      "description": "Request of updating permission settings for a partner workload.",
      "properties": {
        "partnerPermissions": {
          "description": "Required. The partner permissions to be updated.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated. E.g. update_mask { paths: \"partner_permissions.data_logs_viewer\"}"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "description": "Response of ListWorkloads endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "type": "object",
      "properties": {
        "workloads": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          },
          "type": "array",
          "description": "List of Workloads under a given parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "type": "object",
      "description": "Represent the resources that are children of this Workload.",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "int64",
          "description": "Resource identifier. For a project this represents project_number."
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project. AssuredWorkloads Projects are no longer supported. This field will be ignored only in CreateWorkload requests. ListWorkloads and GetWorkload will continue to provide projects information. Use CONSUMER_FOLDER instead.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole",
      "description": "Remediation instructions to resolve violation via cloud console"
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "description": "Workload monitoring Violation.",
      "properties": {
        "updateTime": {
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "description": "Output only. State of the violation",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "readOnly": true,
          "type": "string"
        },
        "auditLogLink": {
          "type": "string",
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "readOnly": true
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string"
        },
        "acknowledged": {
          "type": "boolean",
          "description": "A boolean that indicates if the violation is acknowledged"
        },
        "exceptionAuditLogLink": {
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "readOnly": true,
          "type": "string"
        },
        "beginTime": {
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "format": "google-datetime"
        },
        "orgPolicyConstraint": {
          "readOnly": true,
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "type": "string"
        },
        "acknowledgementTime": {
          "description": "Optional. Timestamp when this violation was acknowledged last. This will be absent when acknowledged field is marked as false.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        },
        "resolveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "readOnly": true
        },
        "remediation": {
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
          "readOnly": true,
          "description": "Output only. Compliance violation remediation"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1Violation"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "type": "object",
      "description": "Settings specific to the Key Management Service. This message is deprecated. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "properties": {
        "rotationPeriod": {
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string"
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "type": "object",
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "properties": {
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS"
          ],
          "type": "string",
          "description": "Optional. Partner regime associated with this workload.",
          "enumDescriptions": [
            "",
            "Enum representing S3NS partner.",
            "Enum representing T_SYSTEM partner."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "resources": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only."
        },
        "kajEnrollmentState": {
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "type": "string",
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp."
        },
        "compliantButDisallowedServices": {
          "type": "array",
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.\"",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "complianceStatus": {
          "description": "Output only. Count of active Violations in the Workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
          "readOnly": true
        },
        "saaEnrollmentResponse": {
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
          "readOnly": true
        },
        "billingAccount": {
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        },
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field."
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "resourceSettings": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          },
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "type": "array"
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "ISR_REGIONS"
          ],
          "type": "string",
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls Available for public preview consumption. Don't create production workloads.",
            "Assured Workloads for Partners",
            "Assured Workloads for Israel Regions"
          ]
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud",
      "type": "object",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "gcloudCommands": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation"
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "properties": {
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violation acknowledgement"
        },
        "nonCompliantOrgPolicy": {
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string"
        }
      },
      "description": "Request for acknowledging the violation Next Id: 4",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
      "properties": {
        "setupErrors": {
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ]
          },
          "type": "array"
        },
        "setupStatus": {
          "type": "string",
          "description": "Indicates SAA enrollment status of a given workload.",
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ]
        }
      },
      "description": "Signed Access Approvals (SAA) enrollment response."
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest",
      "properties": {
        "restrictionType": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "type": "string",
          "description": "Required. The type of restriction for using gcp products in the Workload environment."
        }
      },
      "description": "Request for restricting list of available resources in Workload environment.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus": {
      "properties": {
        "acknowledgedViolationCount": {
          "type": "integer",
          "description": "Count of active Violations which are acknowledged in the Workload.",
          "format": "int32"
        },
        "activeViolationCount": {
          "format": "int32",
          "description": "Count of active Violations which haven't been acknowledged.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
      "description": "Represents the Compliance Status of this workload"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediation": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
      "type": "object",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "properties": {
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions"
        },
        "compliantValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "remediationType": {
          "readOnly": true,
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "type": "string",
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects"
          ],
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION"
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "properties": {
        "violations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          },
          "description": "List of Violations under a Workload."
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of ListViolations endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created.",
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project. AssuredWorkloads Projects are no longer supported. This field will be ignored only in CreateWorkload requests. ListWorkloads and GetWorkload will continue to provide projects information. Use CONSUMER_FOLDER instead.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right resource type (CONSUMER_FOLDER or ENCRYPTION_KEYS_PROJECT)",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions",
      "type": "object",
      "properties": {
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Allow partner to approve or reject Service Access requests"
        },
        "remediateFolderViolations": {
          "description": "Allow partner to monitor folder and remediate violations",
          "type": "boolean"
        },
        "dataLogsViewer": {
          "description": "Allow partner to view data and logs",
          "type": "boolean"
        }
      },
      "description": "Permissions granted to the AW Partner SA account for the customer workload"
    }
  },
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "version_module": true,
  "id": "assuredworkloads:v1",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.list"
                }
              }
            },
            "workloads": {
              "methods": {
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Page size.",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported."
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "path": "v1/{+parent}/workloads",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Workload to fetch. This is the workload's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "mutatePartnerPermissions": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
                  },
                  "description": "Update the permissions settings for an existing partner workload. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:mutatePartnerPermissions",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:mutatePartnerPermissions",
                  "id": "assuredworkloads.organizations.locations.workloads.mutatePartnerPermissions",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  }
                },
                "restrictAllowedResources": {
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
                  },
                  "path": "v1/{+name}:restrictAllowedResources",
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "path": "v1/{+parent}/workloads",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates Assured Workload.",
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`."
                    },
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "violations": {
                  "methods": {
                    "get": {
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1Violation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}"
                    },
                    "acknowledge": {
                      "path": "v1/{+name}:acknowledge",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse"
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/violations",
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Page size.",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "location": "query",
                          "type": "string"
                        },
                        "interval.endTime": {
                          "description": "The end of the time window.",
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "interval.startTime": {
                          "type": "string",
                          "description": "The start of the time window.",
                          "format": "google-datetime",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token returned from previous request.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
