{
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "discoveryVersion": "v1",
  "revision": "20220603",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "workloads": {
              "methods": {
                "list": {
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "path": "v1/{+parent}/workloads",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
                    }
                  },
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.get"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    },
                    "etag": {
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "path": "v1/{+parent}/workloads",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "externalId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Creates Assured Workload.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "",
  "name": "assuredworkloads",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "version": "v1",
  "schemas": {
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkload": {
      "type": "object",
      "properties": {
        "resources": {
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadResourceInfo"
          }
        },
        "il4Settings": {
          "description": "Required. Input only. Immutable. Settings specific to resources needed for IL4.",
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadIL4Settings"
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "saaEnrollmentResponse": {
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadSaaEnrollmentResponse",
          "readOnly": true
        },
        "billingAccount": {
          "type": "string",
          "description": "Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "fedrampModerateSettings": {
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadFedrampModerateSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate."
        },
        "complianceRegime": {
          "type": "string",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR"
          ]
        },
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field."
        },
        "fedrampHighSettings": {
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadFedrampHighSettings"
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels applied to the workload.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cjisSettings": {
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadCJISSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for CJIS."
        },
        "kajEnrollmentState": {
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "type": "string",
          "description": "Output only. Represents the KAJ enrollment state of the given workload."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "type": "string",
          "readOnly": true
        },
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "resourceSettings": {
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadResourceSettings"
          },
          "type": "array"
        }
      },
      "description": "An Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkload"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "properties": {
        "billingAccount": {
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload.",
          "type": "object"
        },
        "resources": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only."
        },
        "saaEnrollmentResponse": {
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "kajEnrollmentState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "description": "Output only. Represents the KAJ enrollment state of the given workload."
        },
        "complianceRegime": {
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR"
          ],
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations"
          ],
          "type": "string"
        },
        "resourceSettings": {
          "type": "array",
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          }
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        }
      },
      "type": "object",
      "description": "An Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsV1Workload"
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "description": "Operation metadata to give request details of CreateWorkload.",
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR"
          ],
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations"
          ],
          "type": "string",
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload."
        }
      }
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadKMSSettings": {
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadKMSSettings",
      "properties": {
        "nextRotationTime": {
          "type": "string",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "format": "google-datetime"
        },
        "rotationPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours."
        }
      },
      "description": "Settings specific to the Key Management Service.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadCJISSettings": {
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadKMSSettings"
        }
      },
      "type": "object",
      "description": "Settings specific to resources needed for CJIS.",
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadCJISSettings"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_number.",
          "format": "int64"
        },
        "resourceType": {
          "description": "Indicates the type of resource.",
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project. AssuredWorkloads Projects are no longer supported. This field will be ignored only in CreateWorkload requests. ListWorkloads and GetWorkload will continue to provide projects information. Use CONSUMER_FOLDER instead.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo",
      "type": "object",
      "description": "Represent the resources that are children of this Workload."
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadResourceInfo": {
      "description": "Represent the resources that are children of this Workload.",
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadResourceInfo",
      "properties": {
        "resourceId": {
          "format": "int64",
          "description": "Resource identifier. For a project this represents project_number.",
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "description": "Settings specific to the Key Management Service.",
      "properties": {
        "rotationPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours."
        },
        "nextRotationTime": {
          "type": "string",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "properties": {
        "setupErrors": {
          "type": "array",
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ]
          }
        },
        "setupStatus": {
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "type": "string",
          "description": "Indicates SAA enrollment status of a given workload."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadFedrampHighSettings": {
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadFedrampHighSettings",
      "description": "Settings specific to resources needed for FedRAMP High.",
      "type": "object",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadKMSSettings"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "type": "object",
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "description": "Response of ListWorkloads endpoint.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloads": {
          "description": "List of Workloads under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "type": "object",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "description": "Settings specific to resources needed for FedRAMP High.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadIL4Settings": {
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadIL4Settings",
      "description": "Settings specific to resources needed for IL4.",
      "type": "object",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadKMSSettings"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "description": "Settings specific to the Key Management Service.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
      "type": "object",
      "properties": {
        "rotationPeriod": {
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainCreateWorkloadOperationMetadata": {
      "properties": {
        "resourceSettings": {
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadResourceSettings"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations"
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        }
      },
      "description": "Operation metadata to give request details of CreateWorkload.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainCreateWorkloadOperationMetadata"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
      "properties": {
        "setupErrors": {
          "type": "array",
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "type": "string"
          }
        },
        "setupStatus": {
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "type": "string",
          "description": "Indicates SAA enrollment status of a given workload.",
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ]
        }
      },
      "description": "Signed Access Approvals (SAA) enrollment response."
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadSaaEnrollmentResponse": {
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "type": "object",
      "properties": {
        "setupErrors": {
          "type": "array",
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ]
          }
        },
        "setupStatus": {
          "type": "string",
          "description": "Indicates SAA enrollment status of a given workload.",
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadSaaEnrollmentResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "properties": {
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "resources": {
          "readOnly": true,
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          }
        },
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field."
        },
        "fedrampHighSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload."
        },
        "resourceSettings": {
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "il4Settings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
          "description": "Input only. Immutable. Settings specific to resources needed for IL4."
        },
        "cjisSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
          "description": "Input only. Immutable. Settings specific to resources needed for CJIS."
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "kajEnrollmentState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ]
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "saaEnrollmentResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
          "readOnly": true,
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels applied to the workload."
        },
        "fedrampModerateSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings"
        },
        "billingAccount": {
          "description": "Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "description": "An Workload object for managing highly regulated workloads of cloud customers."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "description": "Represent the custom settings for the resources to be created.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        },
        "resourceType": {
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project. AssuredWorkloads Projects are no longer supported. This field will be ignored only in CreateWorkload requests. ListWorkloads and GetWorkload will continue to provide projects information. Use CONSUMER_FOLDER instead.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        },
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload.",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Time when the operation was created."
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR"
          ],
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations"
          ],
          "type": "string"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "resourceSettings": {
          "type": "array",
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadFedrampModerateSettings": {
      "type": "object",
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadFedrampModerateSettings",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadKMSSettings"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "description": "Represent the resources that are children of this Workload.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "int64",
          "description": "Resource identifier. For a project this represents project_number."
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "description": "Indicates the type of resource."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadResourceSettings": {
      "id": "GoogleCloudAssuredworkloadsVersioningV1mainWorkloadResourceSettings",
      "properties": {
        "resourceType": {
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        },
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represent the custom settings for the resources to be created."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "type": "object",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "description": "Settings specific to resources needed for CJIS.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "type": "object",
      "description": "Represent the custom settings for the resources to be created.",
      "properties": {
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        },
        "resourceType": {
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "type": "object",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "description": "Settings specific to resources needed for IL4."
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "canonicalName": "Assuredworkloads",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "id": "assuredworkloads:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "documentationLink": "https://cloud.google.com",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "title": "Assured Workloads API",
  "version_module": true,
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/"
}
