{
  "batchPath": "batch",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "version_module": true,
  "canonicalName": "Assuredworkloads",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com",
  "protocol": "rest",
  "schemas": {
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "description": "Response of ListWorkloads endpoint.",
      "properties": {
        "workloads": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
          },
          "type": "array",
          "description": "List of Workloads under a given parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo",
      "description": "Represent the resources that are children of this Workload.",
      "properties": {
        "resourceType": {
          "description": "Indicates the type of resource.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "ENCRYPTION_KEYS_PROJECT"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project.",
            "Consumer project containing encryption keys."
          ]
        },
        "resourceId": {
          "format": "int64",
          "description": "Resource identifier. For a project this represents project_number.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "type": "object",
      "properties": {
        "kmsSettings": {
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "description": "Settings specific to resources needed for IL4."
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "description": "An Workload object for managing highly regulated workloads of cloud customers.",
      "type": "object",
      "properties": {
        "billingAccount": {
          "type": "string",
          "description": "Required. Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "complianceRegime": {
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          }
        },
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set a project with a KMS CMEK key is provisioned. This field is mandatory for a subset of Compliance Regimes."
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either an organization or a folder. Must be the same or a child of the Workload parent. If not specified all resources are created under the Workload parent. Formats: folders/{folder_id} organizations/{organization_id}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp."
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Time when the operation was created."
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "complianceRegime": {
          "type": "string",
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ]
        }
      },
      "type": "object",
      "description": "Operation metadata to give request details of CreateWorkload."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "description": "Settings specific to resources needed for FedRAMP High.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "type": "object",
      "description": "Operation metadata to give request details of CreateWorkload.",
      "properties": {
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ],
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload."
        },
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time when the operation was created."
        },
        "parent": {
          "type": "string",
          "description": "Optional. The parent of the workload."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "type": "object",
      "description": "Settings specific to the Key Management Service.",
      "properties": {
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "format": "google-datetime",
          "type": "string"
        },
        "rotationPeriod": {
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "description": "Settings specific to the Key Management Service.",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "properties": {
        "nextRotationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary."
        },
        "rotationPeriod": {
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "description": "Settings specific to resources needed for CJIS.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "type": "object",
      "properties": {
        "il4Settings": {
          "description": "Required. Input only. Immutable. Settings specific to resources needed for IL4.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings"
        },
        "fedrampHighSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP High."
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set a project with a KMS CMEK key is provisioned. This field is mandatory for a subset of Compliance Regimes.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ],
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "cjisSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for CJIS."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "format": "google-datetime"
        },
        "fedrampModerateSettings": {
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings"
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either an organization or a folder. Must be the same or a child of the Workload parent. If not specified all resources are created under the Workload parent. Formats: folders/{folder_id} organizations/{organization_id}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload.",
          "type": "object"
        },
        "billingAccount": {
          "description": "Required. Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          },
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only."
        }
      },
      "description": "An Workload object for managing highly regulated workloads of cloud customers."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "type": "object",
      "properties": {
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "ENCRYPTION_KEYS_PROJECT"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project.",
            "Consumer project containing encryption keys."
          ],
          "type": "string",
          "description": "Indicates the type of resource."
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_number.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represent the resources that are children of this Workload."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "properties": {
        "kmsSettings": {
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "path": "v1beta1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations"
                }
              }
            },
            "workloads": {
              "methods": {
                "get": {
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets Assured Workload associated with a CRM Node"
                },
                "create": {
                  "parameters": {
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`."
                    }
                  },
                  "path": "v1beta1/{+parent}/workloads",
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates Assured Workload.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "path": "v1beta1/{+parent}/workloads",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported."
                    }
                  }
                },
                "patch": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The list of fields to be updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "path": "v1beta1/{+name}",
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error.",
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    },
                    "etag": {
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20201112",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "title": "Assured Workloads API",
  "basePath": "",
  "id": "assuredworkloads:v1beta1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "name": "assuredworkloads",
  "ownerName": "Google",
  "version": "v1beta1",
  "rootUrl": "https://assuredworkloads.googleapis.com/"
}
