{
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "revision": "20240510",
  "name": "assuredworkloads",
  "version": "v1beta1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+name}/operations",
                  "httpMethod": "GET"
                }
              }
            },
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "description": "Retrieves Assured Workload Violation based on ID."
                    },
                    "acknowledge": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:acknowledge",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
                      },
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
                      }
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/violations",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
                      },
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "parameters": {
                        "interval.endTime": {
                          "description": "The end of the time window.",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "type": "string",
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. Page token returned from previous request.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "interval.startTime": {
                          "description": "The start of the time window.",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "analyzeWorkloadMove": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "target"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "parameters": {
                    "project": {
                      "location": "query",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "type": "string"
                    },
                    "assetTypes": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used."
                    },
                    "target": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "path": "v1beta1/{+target}:analyzeWorkloadMove",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                  },
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive."
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\"."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "description": "Gets Assured Workload associated with a CRM Node"
                },
                "enableResourceMonitoring": {
                  "description": "Enable resource violation monitoring for a workload.",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:enableResourceMonitoring",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "path": "v1beta1/{+parent}/workloads",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported."
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/workloads",
                  "description": "Creates Assured Workload.",
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "parameters": {
                    "externalId": {
                      "location": "query",
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  }
                },
                "restrictAllowedResources": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "httpMethod": "POST",
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:restrictAllowedResources",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "path": "v1beta1/{+name}"
                },
                "patch": {
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "version_module": true,
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "ownerName": "Google",
  "id": "assuredworkloads:v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest": {
      "description": "Request for restricting list of available resources in Workload environment.",
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest",
      "properties": {
        "restrictionType": {
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse",
      "description": "Response for EnableResourceMonitoring endpoint.",
      "properties": {},
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "description": "Indicates the type of resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_number.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represent the resources that are children of this Workload.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Is empty if the last page is reached."
        },
        "assetMoveAnalyses": {
          "description": "List of analysis results for each asset in scope.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis"
          },
          "type": "array"
        }
      },
      "description": "Response containing the analysis results for the hypothetical resource move.",
      "id": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "properties": {
        "rotationPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours."
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string"
        }
      },
      "description": "Settings specific to the Key Management Service.",
      "deprecated": true,
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time when the operation was created."
        },
        "resourceSettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources."
        },
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "complianceRegime": {
          "type": "string",
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "REGIONAL_CONTROLS_PREMIUM_US",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "REGIONAL_CONTROLS_PREMIUM_EU",
            "EU_REGIONS_AND_SUPPORT",
            "REGIONAL_CONTROLS_PREMIUM_CA",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "REGIONAL_CONTROLS_PREMIUM_AU",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "REGIONAL_CONTROLS_PREMIUM_ISR",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "CA_PROTECTED_B",
            "IL5",
            "IL2",
            "REGIONAL_CONTROLS_PREMIUM_JP",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "FREE_REGIONS"
          ],
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls",
            "Assured Workloads for Australia Regions and Support controls",
            "Assured Workloads for Partners;",
            "Assured Workloads for Israel",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Canada Protected B regime",
            "Information protection as per DoD IL5 requirements.",
            "Information protection as per DoD IL2 requirements.",
            "Assured Workloads for Japan Regions",
            "Assured Workloads for Japan Regions",
            "KSA R5 Controls.",
            "Assured Workloads for Regional Controls/Free Regions",
            "Assured Workloads for Regional Controls/Free Regions"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload."
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "properties": {
        "compliantButDisallowedServices": {
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "partner": {
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN"
          ],
          "description": "Optional. Partner regime associated with this workload.",
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner."
          ]
        },
        "resourceMonitoringEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload."
        },
        "kajEnrollmentState": {
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "resourceSettings": {
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          }
        },
        "cjisSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
          "description": "Input only. Immutable. Settings specific to resources needed for CJIS.",
          "deprecated": true
        },
        "fedrampModerateSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
          "deprecated": true,
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate."
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload."
        },
        "complianceStatus": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus",
          "readOnly": true,
          "description": "Output only. Count of active Violations in the Workload."
        },
        "saaEnrollmentResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "readOnly": true
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        },
        "fedrampHighSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
          "deprecated": true,
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP High."
        },
        "il4Settings": {
          "description": "Input only. Immutable. Settings specific to resources needed for IL4.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
          "deprecated": true
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "resources": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          },
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "type": "array"
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "deprecated": true
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "REGIONAL_CONTROLS_PREMIUM_US",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "REGIONAL_CONTROLS_PREMIUM_EU",
            "EU_REGIONS_AND_SUPPORT",
            "REGIONAL_CONTROLS_PREMIUM_CA",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "REGIONAL_CONTROLS_PREMIUM_AU",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "REGIONAL_CONTROLS_PREMIUM_ISR",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "CA_PROTECTED_B",
            "IL5",
            "IL2",
            "REGIONAL_CONTROLS_PREMIUM_JP",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "FREE_REGIONS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls",
            "Assured Workloads for Australia Regions and Support controls",
            "Assured Workloads for Partners;",
            "Assured Workloads for Israel",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Canada Protected B regime",
            "Information protection as per DoD IL5 requirements.",
            "Information protection as per DoD IL2 requirements.",
            "Assured Workloads for Japan Regions",
            "Assured Workloads for Japan Regions",
            "KSA R5 Controls.",
            "Assured Workloads for Regional Controls/Free Regions",
            "Assured Workloads for Regional Controls/Free Regions"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload."
        },
        "ekmProvisioningResponse": {
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
          "readOnly": true
        },
        "partnerPermissions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions",
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "description": "Instructions to remediate violation",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
      "properties": {
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole"
        },
        "gcloudInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "description": "Response of ListViolations endpoint.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Returns empty if reached the last page."
        },
        "violations": {
          "description": "List of Violations under a Workload.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "type": "object",
      "deprecated": true,
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "deprecated": true,
      "description": "Settings specific to resources needed for IL4.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "description": "Response of ListWorkloads endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
          },
          "description": "List of Workloads under a given parent."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
      "type": "object",
      "properties": {
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation",
          "type": "array"
        },
        "steps": {
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Remediation instructions to resolve violation via gcloud cli"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus",
      "description": "Represents the Compliance Status of this workload",
      "type": "object",
      "properties": {
        "acknowledgedResourceViolationCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of current resource violations which are not acknowledged."
        },
        "acknowledgedViolationCount": {
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "type": "integer",
          "format": "int32"
        },
        "activeResourceViolationCount": {
          "description": "Number of current resource violations which are acknowledged.",
          "type": "integer",
          "format": "int32"
        },
        "activeViolationCount": {
          "format": "int32",
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error details for a failed analysis."
        },
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the analysis group."
        }
      },
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "description": "Represent the custom settings for the resources to be created.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        },
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
      "description": "External key management systems(EKM) Provisioning response",
      "properties": {
        "ekmProvisioningErrorMapping": {
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ],
          "type": "string",
          "description": "Detailed error message if Ekm provisioning fails"
        },
        "ekmProvisioningState": {
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "description": "Indicates Ekm enrollment Provisioning of a given workload.",
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ]
        },
        "ekmProvisioningErrorDomain": {
          "description": "Indicates Ekm provisioning error if any.",
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest": {
      "description": "Request for acknowledging the violation",
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest",
      "type": "object",
      "properties": {
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violation acknowledgement"
        },
        "nonCompliantOrgPolicy": {
          "deprecated": true,
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string"
        },
        "acknowledgeType": {
          "type": "string",
          "description": "Optional. Acknowledge type of specified violation.",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext",
      "properties": {
        "acknowledgementTime": {
          "description": "Timestamp when the violation was acknowledged.",
          "type": "string",
          "format": "google-datetime"
        },
        "userName": {
          "type": "string",
          "description": "Name of the user (or service account) who acknowledged the violation."
        },
        "comment": {
          "type": "string",
          "description": "Business justification provided towards the acknowledgement of the violation."
        }
      },
      "description": "Violation exception detail."
    },
    "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "description": "Represents move analysis results for an asset.",
      "properties": {
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        },
        "analysisGroups": {
          "description": "List of eligible analyses performed for the asset.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
          },
          "type": "array"
        },
        "asset": {
          "type": "string",
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions": {
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "type": "object",
      "properties": {
        "dataLogsViewer": {
          "description": "Allow the partner to view inspectability logs and monitoring violations.",
          "type": "boolean"
        },
        "assuredWorkloadsMonitoring": {
          "type": "boolean",
          "description": "Optional. Allow partner to view violation alerts."
        },
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions"
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse",
      "properties": {},
      "type": "object",
      "description": "Response for restricting the list of allowed resources."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "properties": {
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        },
        "consoleUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Link to console page where violations can be resolved"
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole"
    },
    "GoogleCloudAssuredworkloadsV1beta1Violation": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1Violation",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true
        },
        "acknowledged": {
          "description": "A boolean that indicates if the violation is acknowledged",
          "type": "boolean"
        },
        "resolveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "readOnly": true
        },
        "resourceName": {
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "readOnly": true,
          "type": "string"
        },
        "parentProjectNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "readOnly": true,
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        },
        "remediation": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
          "readOnly": true,
          "description": "Output only. Compliance violation remediation"
        },
        "violationType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "type": "string",
          "description": "Output only. Type of the violation",
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "type": "string"
        },
        "acknowledgementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        },
        "category": {
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string"
        },
        "associatedOrgPolicyViolationId": {
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations.",
          "readOnly": true,
          "type": "string"
        },
        "auditLogLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}"
        },
        "beginTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "format": "google-datetime"
        },
        "resourceType": {
          "readOnly": true,
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations.",
          "type": "string"
        },
        "exceptionAuditLogLink": {
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "readOnly": true,
          "type": "string"
        },
        "orgPolicyConstraint": {
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "exceptionContexts": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all the exception detail added for the violation."
        }
      },
      "description": "Workload monitoring Violation."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveImpact": {
      "type": "object",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explanation of the impact."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveImpact",
      "description": "Represents the impact of moving the asset to the target."
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "description": "Response for violation acknowledgement",
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "type": "object",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "deprecated": true,
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "description": "Settings specific to resources needed for FedRAMP High."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "properties": {
        "setupStatus": {
          "type": "string",
          "description": "Indicates SAA enrollment status of a given workload.",
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ]
        },
        "setupErrors": {
          "type": "array",
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
      "description": "Signed Access Approvals (SAA) enrollment response."
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult": {
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
      "description": "Represents the successful move analysis results for a group.",
      "type": "object",
      "properties": {
        "blockers": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target.",
          "type": "array"
        },
        "warnings": {
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
      "type": "object",
      "properties": {
        "remediationType": {
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "description": "Output only. Reemediation type based on the type of org policy values violated"
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions"
        },
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "description": "Settings specific to resources needed for CJIS.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "type": "object",
      "deprecated": true
    }
  },
  "canonicalName": "Assuredworkloads",
  "title": "Assured Workloads API",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "protocol": "rest",
  "description": ""
}
