{
  "canonicalName": "Assuredworkloads",
  "name": "assuredworkloads",
  "revision": "20201105",
  "batchPath": "batch",
  "version": "v1",
  "id": "assuredworkloads:v1",
  "description": "",
  "protocol": "rest",
  "servicePath": "",
  "title": "Assured Workloads API",
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Optional. The parent of the workload."
        },
        "createTime": {
          "description": "Optional. Time when the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ]
        }
      },
      "description": "Operation metadata to give request details of CreateWorkload."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "type": "object",
      "description": "Settings specific to resources needed for IL4."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "description": "Settings specific to resources needed for FedRAMP High.",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
      "description": "Settings specific to resources needed for CJIS.",
      "properties": {
        "kmsSettings": {
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "description": "Settings specific to the Key Management Service.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "properties": {
        "rotationPeriod": {
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string",
          "format": "google-duration"
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadFedrampModerateSettings": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadFedrampModerateSettings",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "type": "object",
      "description": "Settings specific to resources needed for FedRAMP Moderate."
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "description": "Operation metadata to give request details of CreateWorkload.",
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Optional. The parent of the workload."
        },
        "createTime": {
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "type": "string",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ],
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ]
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadCJISSettings": {
      "properties": {
        "kmsSettings": {
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadCJISSettings",
      "description": "Settings specific to resources needed for CJIS."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "properties": {
        "kmsSettings": {
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadFedrampHighSettings": {
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadFedrampHighSettings",
      "description": "Settings specific to resources needed for FedRAMP High.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadIL4Settings": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadIL4Settings",
      "type": "object",
      "properties": {
        "kmsSettings": {
          "description": "Required. Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings"
        }
      },
      "description": "Settings specific to resources needed for IL4."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "description": "Represent the resources that are children of this Workload.",
      "type": "object",
      "properties": {
        "resourceId": {
          "format": "int64",
          "type": "string",
          "description": "Resource identifier. For a project this represents project_number."
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "ENCRYPTION_KEYS_PROJECT"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project.",
            "Consumer project containing encryption keys."
          ],
          "type": "string",
          "description": "Indicates the type of resource."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "type": "object",
      "properties": {
        "cjisSettings": {
          "description": "Required. Input only. Immutable. Settings specific to resources needed for CJIS.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadCJISSettings"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "readOnly": true
        },
        "billingAccount": {
          "type": "string",
          "description": "Required. Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "complianceRegime": {
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ],
          "type": "string",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ],
          "description": "Required. Immutable. Compliance Regime associated with this workload."
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resources": {
          "type": "array",
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "readOnly": true
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either an organization or a folder. Must be the same or a child of the Workload parent. If not specified all resources are created under the Workload parent. Formats: folders/{folder_id} organizations/{organization_id}"
        },
        "il4Settings": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadIL4Settings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for IL4."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "fedrampHighSettings": {
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadFedrampHighSettings"
        },
        "fedrampModerateSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadFedrampModerateSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate."
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "description": "An Workload object for managing highly regulated workloads of cloud customers."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "type": "object",
      "properties": {
        "rotationPeriod": {
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string"
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary."
        }
      },
      "description": "Settings specific to the Key Management Service.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "description": "Represent the resources that are children of this Workload.",
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "int64",
          "description": "Resource identifier. For a project this represents project_number."
        },
        "resourceType": {
          "description": "Indicates the type of resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "ENCRYPTION_KEYS_PROJECT"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Consumer project.",
            "Consumer project containing encryption keys."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "properties": {
        "fedrampHighSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP High."
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload.",
          "type": "object"
        },
        "il4Settings": {
          "description": "Required. Input only. Immutable. Settings specific to resources needed for IL4.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings"
        },
        "fedrampModerateSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate."
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "billingAccount": {
          "description": "Required. Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "cjisSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
          "description": "Required. Input only. Immutable. Settings specific to resources needed for CJIS."
        },
        "resources": {
          "type": "array",
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          },
          "readOnly": true
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either an organization or a folder. Must be the same or a child of the Workload parent. If not specified all resources are created under the Workload parent. Formats: folders/{folder_id} organizations/{organization_id}"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The Workload creation timestamp."
        },
        "complianceRegime": {
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls"
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE"
          ],
          "type": "string"
        }
      },
      "description": "An Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "type": "object"
    }
  },
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version_module": true
}
