{
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "id": "assuredworkloads:v1beta1",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version_module": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "servicePath": "",
  "version": "v1beta1",
  "name": "assuredworkloads",
  "basePath": "",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest": {
      "type": "object",
      "description": "Request for acknowledging the violation Next Id: 5",
      "properties": {
        "comment": {
          "description": "Required. Business justification explaining the need for violation acknowledgement",
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceControlsOrgPolicyControl": {
      "properties": {
        "constraint": {
          "description": "Output only. Constraint name of the org policy control Example: constraints/gcp.resourcelocations",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Org policy version"
        }
      },
      "type": "object",
      "description": "An org policy control applied by Assured Workloads",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceControlsOrgPolicyControl"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
      "type": "object",
      "properties": {
        "setupErrors": {
          "description": "Indicates SAA enrollment setup error if any.",
          "items": {
            "type": "string",
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ]
          },
          "type": "array"
        },
        "setupStatus": {
          "type": "string",
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ],
          "description": "Indicates SAA enrollment status of a given workload.",
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ]
        }
      },
      "description": "Signed Access Approvals (SAA) enrollment response."
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for restricting the list of allowed resources.",
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "properties": {
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)"
        }
      },
      "description": "Represent the custom settings for the resources to be created.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "type": "object",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "description": "Settings specific to resources needed for CJIS.",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
          },
          "type": "array",
          "description": "List of Violations under a Workload."
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      },
      "description": "Response of ListViolations endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "properties": {
        "complianceRegime": {
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls Available for public preview consumption. Don't create production workloads.",
            "Assured Workloads for Partners;",
            "Assured Workloads for Israel",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Canada Protected B regime",
            "Information protection as per DoD IL5 requirements."
          ],
          "type": "string",
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "CA_PROTECTED_B",
            "IL5"
          ]
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time when the operation was created."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "resourceSettings": {
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloads": {
          "description": "List of Workloads under a given parent.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
          },
          "type": "array"
        }
      },
      "description": "Response of ListWorkloads endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse",
      "type": "object",
      "description": "A response that includes the analysis of the hypothetical resource move.",
      "properties": {
        "blockers": {
          "items": {
            "type": "string"
          },
          "description": "A list of blockers that should be addressed before moving the source project or project-based workload to the destination folder-based workload.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole": {
      "description": "Remediation instructions to resolve violation via cloud console",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console",
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation": {
      "type": "object",
      "properties": {
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions"
        },
        "compliantValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "remediationType": {
          "readOnly": true,
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "type": "object",
      "properties": {
        "ekmProvisioningState": {
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "description": "Indicates Ekm enrollment Provisioning of a given workload.",
          "type": "string"
        },
        "ekmProvisioningErrorDomain": {
          "description": "Indicates Ekm provisioning error if any.",
          "type": "string",
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner’s provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "type": "string",
          "description": "Detailed error message if Ekm provisioning fails",
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ]
        }
      },
      "description": "External key management systems(EKM) Provisioning response",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "properties": {
        "gcloudInstructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole"
        }
      },
      "description": "Instructions to remediate violation",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus": {
      "properties": {
        "acknowledgedViolationCount": {
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "format": "int32",
          "type": "integer"
        },
        "activeViolationCount": {
          "type": "integer",
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents the Compliance Status of this workload",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
      "description": "Settings specific to the Key Management Service.",
      "type": "object",
      "properties": {
        "rotationPeriod": {
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "description": "Settings specific to resources needed for FedRAMP High.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "type": "object",
      "description": "Settings specific to resources needed for IL4."
    },
    "GoogleCloudAssuredworkloadsV1beta1Violation": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "description": "Output only. State of the violation"
        },
        "exceptionAuditLogLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}"
        },
        "beginTime": {
          "description": "Output only. Time of the event which triggered the Violation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "remediation": {
          "readOnly": true,
          "description": "Output only. Compliance violation remediation",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation"
        },
        "auditLogLink": {
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "type": "string",
          "readOnly": true
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "readOnly": true,
          "type": "string"
        },
        "acknowledged": {
          "description": "A boolean that indicates if the violation is acknowledged",
          "type": "boolean"
        },
        "acknowledgementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time when the Violation record was updated."
        },
        "resolveTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1Violation",
      "type": "object",
      "description": "Workload monitoring Violation. Next Id: 27"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceControls": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceControls",
      "type": "object",
      "properties": {
        "appliedOrgPolicies": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceControlsOrgPolicyControl"
          },
          "description": "Output only. Org policies currently applied by this Assured Workload",
          "type": "array"
        }
      },
      "description": "Controls enabled to the user associated with this workload"
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse",
      "properties": {},
      "type": "object",
      "description": "Response for violation acknowledgement"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "description": "Represent the resources that are children of this Workload.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_number.",
          "type": "string",
          "format": "int64"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "type": "string",
          "description": "Indicates the type of resource.",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest": {
      "properties": {
        "restrictionType": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "type": "string"
        }
      },
      "description": "Request for restricting list of available resources in Workload environment.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "properties": {
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        },
        "partnerPermissions": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions",
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload"
        },
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN"
          ],
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner."
          ],
          "description": "Optional. Partner regime associated with this workload.",
          "type": "string"
        },
        "complianceRegime": {
          "enumDescriptions": [
            "Unknown compliance regime.",
            "Information protection as per DoD IL4 requirements.",
            "Criminal Justice Information Services (CJIS) Security policies.",
            "FedRAMP High data protection controls",
            "FedRAMP Moderate data protection controls",
            "Assured Workloads For US Regions data protection controls",
            "Health Insurance Portability and Accountability Act controls",
            "Health Information Trust Alliance controls",
            "Assured Workloads For EU Regions and Support controls",
            "Assured Workloads For Canada Regions and Support controls",
            "International Traffic in Arms Regulations",
            "Assured Workloads for Australia Regions and Support controls Available for public preview consumption. Don't create production workloads.",
            "Assured Workloads for Partners;",
            "Assured Workloads for Israel",
            "Assured Workloads for Israel Regions",
            "Assured Workloads for Canada Protected B regime",
            "Information protection as per DoD IL5 requirements."
          ],
          "type": "string",
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "IL4",
            "CJIS",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "US_REGIONAL_ACCESS",
            "HIPAA",
            "HITRUST",
            "EU_REGIONS_AND_SUPPORT",
            "CA_REGIONS_AND_SUPPORT",
            "ITAR",
            "AU_REGIONS_AND_US_SUPPORT",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "CA_PROTECTED_B",
            "IL5"
          ]
        },
        "complianceStatus": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus",
          "readOnly": true,
          "description": "Output only. Count of active Violations in the Workload."
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "kajEnrollmentState": {
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "type": "string"
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "fedrampHighSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
        },
        "saaEnrollmentResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
          "readOnly": true,
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page."
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "type": "string",
          "readOnly": true
        },
        "resourceSettings": {
          "type": "array",
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels applied to the workload."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "fedrampModerateSettings": {
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings"
        },
        "resources": {
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          },
          "readOnly": true
        },
        "compliantButDisallowedServices": {
          "type": "array",
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.\"",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "cjisSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings",
          "description": "Input only. Immutable. Settings specific to resources needed for CJIS."
        },
        "violationNotificationsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload."
        },
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field."
        },
        "il4Settings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
          "description": "Input only. Immutable. Settings specific to resources needed for IL4."
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "ekmProvisioningResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
          "description": "Optional. Represents the Ekm Provisioning State of the given workload."
        },
        "controls": {
          "description": "Output only. Controls associated with the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceControls",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions": {
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions",
      "type": "object",
      "properties": {
        "remediateFolderViolations": {
          "description": "Allow partner to monitor folder and remediate violations",
          "type": "boolean"
        },
        "dataLogsViewer": {
          "type": "boolean",
          "description": "Allow the partner to view inspectability logs and monitoring violations."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "properties": {
        "kmsSettings": {
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key."
        }
      },
      "type": "object",
      "description": "Settings specific to resources needed for FedRAMP Moderate."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "gcloudCommands": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gcloud command to resolve violation"
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud"
    }
  },
  "revision": "20230623",
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "canonicalName": "Assuredworkloads",
  "description": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "organizations": {
          "resources": {
            "locations": {
              "resources": {
                "workloads": {
                  "methods": {
                    "analyzeWorkloadMove": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                      },
                      "parameterOrder": [
                        "project",
                        "target"
                      ],
                      "description": "Analyzes a hypothetical move of a source project or project-based workload to a target (destination) folder-based workload.",
                      "id": "assuredworkloads.projects.organizations.locations.workloads.analyzeWorkloadMove",
                      "path": "v1beta1/{+project}/{+target}:analyzeWorkloadMove",
                      "flatPath": "v1beta1/projects/{projectsId}/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "project": {
                          "type": "string",
                          "required": true,
                          "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                          "location": "path",
                          "pattern": "^projects/[^/]+$"
                        },
                        "target": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source project will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "required": true
                        },
                        "source": {
                          "description": "The source type is a project-based workload. Specify the workloads's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-1\"",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "acknowledge": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
                      },
                      "path": "v1beta1/{+name}:acknowledge",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
                      },
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
                      },
                      "path": "v1beta1/{+parent}/violations",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token returned from previous request."
                        },
                        "pageSize": {
                          "description": "Optional. Page size.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "interval.startTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "The start of the time window.",
                          "location": "query"
                        },
                        "interval.endTime": {
                          "location": "query",
                          "description": "The end of the time window.",
                          "type": "string",
                          "format": "google-datetime"
                        }
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "organizations": {
                  "resources": {
                    "locations": {
                      "resources": {
                        "workloads": {
                          "methods": {
                            "analyzeWorkloadMove": {
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1beta1/{+source}/{+target}:analyzeWorkloadMove",
                              "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/organizations/{organizationsId1}/locations/{locationsId1}/workloads/{workloadsId1}:analyzeWorkloadMove",
                              "description": "Analyzes a hypothetical move of a source project or project-based workload to a target (destination) folder-based workload.",
                              "parameterOrder": [
                                "source",
                                "target"
                              ],
                              "parameters": {
                                "target": {
                                  "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                                  "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source project will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                },
                                "project": {
                                  "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                                  "location": "query",
                                  "type": "string"
                                },
                                "source": {
                                  "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                                  "location": "path",
                                  "description": "The source type is a project-based workload. Specify the workloads's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-1\"",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                              },
                              "id": "assuredworkloads.organizations.locations.workloads.organizations.locations.workloads.analyzeWorkloadMove"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates Assured Workload.",
                  "path": "v1beta1/{+parent}/workloads",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "parameters": {
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`."
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "etag": {
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "path": "v1beta1/{+parent}/workloads",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "restrictAllowedResources": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "path": "v1beta1/{+name}:restrictAllowedResources"
                },
                "patch": {
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  }
                },
                "get": {
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "path": "v1beta1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Assured Workloads API"
}
