{
  "servicePath": "",
  "version": "v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "canonicalName": "Authorized Buyers Marketplace",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "revision": "20230530",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Authorized Buyers Marketplace API",
  "id": "authorizedbuyersmarketplace:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "version_module": true,
  "resources": {
    "buyers": {
      "resources": {
        "publisherProfiles": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "path": "v1/{+parent}/publisherProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the requested publisher profile by name.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "PublisherProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "clients": {
          "methods": {
            "deactivate": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
                }
              },
              "path": "v1/{+name}:deactivate",
              "parameterOrder": [
                "name"
              ],
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Client"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Client"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing client.",
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "response": {
                "$ref": "Client"
              },
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}"
            },
            "activate": {
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate",
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Client"
              },
              "path": "v1/{+name}:activate",
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "description": "Creates a new client.",
              "request": {
                "$ref": "Client"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients",
              "path": "v1/{+parent}/clients",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/clients",
              "description": "Lists all the clients for the current buyer.",
              "flatPath": "v1/buyers/{buyersId}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "ListClientsResponse"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.list"
            },
            "get": {
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a client with a given resource name.",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "users": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "path": "v1/{+parent}/users",
                  "description": "Lists all client users for a specified client."
                },
                "deactivate": {
                  "path": "v1/{+name}:deactivate",
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "create": {
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/users",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users"
                },
                "activate": {
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "httpMethod": "POST",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "path": "v1/{+name}:activate",
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves an existing client user.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get"
                }
              }
            }
          }
        },
        "proposals": {
          "methods": {
            "sendRfp": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SendRfpRequest"
              },
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "buyer": {
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "required": true
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "path": "v1/{+buyer}/proposals:sendRfp",
              "parameterOrder": [
                "buyer"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals:sendRfp"
            },
            "accept": {
              "path": "v1/{+name}:accept",
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:accept"
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Proposal"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is not allowed and will result in an error."
            },
            "addNote": {
              "request": {
                "$ref": "AddNoteRequest"
              },
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "response": {
                "$ref": "Proposal"
              },
              "description": "Creates a note for this proposal and sends to the seller.",
              "path": "v1/{+proposal}:addNote",
              "parameters": {
                "proposal": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "parameterOrder": [
                "proposal"
              ]
            },
            "cancelNegotiation": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "parameterOrder": [
                "proposal"
              ],
              "parameters": {
                "proposal": {
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "path": "v1/{+proposal}:cancelNegotiation",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "response": {
                "$ref": "Proposal"
              }
            },
            "list": {
              "flatPath": "v1/buyers/{buyersId}/proposals",
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500."
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "path": "v1/{+parent}/proposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results."
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          },
          "resources": {
            "deals": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deals",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token as returned from ListDealsResponse."
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Deal"
                  }
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}"
                    }
                  },
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/deals:batchUpdate",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "description": "Batch updates multiple deals in the same proposal.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Deal"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "request": {
                    "$ref": "Deal"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "httpMethod": "PATCH"
                }
              }
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "resume": {
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals.",
              "path": "v1/{+name}:resume"
            },
            "addCreative": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameters": {
                "deal": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "parameterOrder": [
                "deal"
              ],
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "path": "v1/{+deal}:addCreative",
              "httpMethod": "POST"
            },
            "pause": {
              "path": "v1/{+name}:pause",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals.",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause"
            },
            "get": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "description": "Gets a finalized deal given its name.",
              "path": "v1/{+name}"
            },
            "list": {
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth Example: 'deal.displayName, deal.updateTime desc'"
                },
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * dealServingStatus",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "path": "v1/{+parent}/finalizedDeals",
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients."
            },
            "setReadyToServe": {
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. This method only applies to programmatic guaranteed deals.",
              "parameters": {
                "deal": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "path": "v1/{+deal}:setReadyToServe",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "httpMethod": "POST",
              "parameterOrder": [
                "deal"
              ],
              "request": {
                "$ref": "SetReadyToServeRequest"
              }
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "unsubscribe": {
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "path": "v1/{+name}:unsubscribe",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "subscribeClients": {
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              },
              "path": "v1/{+auctionPackage}:subscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "auctionPackage"
              ],
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "httpMethod": "POST",
              "response": {
                "$ref": "AuctionPackage"
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients"
            },
            "get": {
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets an auction package given its name.",
              "parameters": {
                "name": {
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "unsubscribeClients": {
              "path": "v1/{+auctionPackage}:unsubscribeClients",
              "response": {
                "$ref": "AuctionPackage"
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "httpMethod": "POST",
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "parameters": {
                "auctionPackage": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "flatPath": "v1/buyers/{buyersId}/auctionPackages",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "List the auction packages subscribed by a buyer and its clients.",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/auctionPackages",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "location": "query",
                  "format": "int32"
                }
              }
            },
            "subscribe": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:subscribe",
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "finalizedDeals": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals",
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth Example: 'deal.displayName, deal.updateTime desc'",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * dealServingStatus",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/finalizedDeals"
            }
          }
        }
      }
    }
  },
  "name": "authorizedbuyersmarketplace",
  "schemas": {
    "ListAuctionPackagesResponse": {
      "id": "ListAuctionPackagesResponse",
      "properties": {
        "auctionPackages": {
          "description": "The list of auction packages.",
          "type": "array",
          "items": {
            "$ref": "AuctionPackage"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing auction packages.",
      "type": "object"
    },
    "UriTargeting": {
      "type": "object",
      "id": "UriTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "properties": {
        "targetedUris": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded.",
          "type": "array"
        }
      }
    },
    "VideoTargeting": {
      "description": "Represents targeting information about video.",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "type": "array"
        },
        "excludedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "type": "array"
        }
      },
      "id": "VideoTargeting"
    },
    "Client": {
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI.",
      "type": "object",
      "id": "Client",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
        },
        "role": {
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ]
        },
        "sellerVisible": {
          "type": "boolean",
          "description": "Whether the client will be visible to sellers."
        },
        "partnerClientId": {
          "type": "string",
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "state": {
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "description": "Output only. The state of the client.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        },
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "PreferredDealTerms": {
      "id": "PreferredDealTerms",
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      },
      "description": "Pricing terms for Preferred Deals.",
      "type": "object"
    },
    "ActivateClientUserRequest": {
      "id": "ActivateClientUserRequest",
      "type": "object",
      "description": "Request message for activating a client user.",
      "properties": {}
    },
    "MobileApplicationTargeting": {
      "description": "Mobile application targeting settings.",
      "type": "object",
      "properties": {
        "firstPartyTargeting": {
          "$ref": "FirstPartyMobileApplicationTargeting",
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
        }
      },
      "id": "MobileApplicationTargeting"
    },
    "SubscribeClientsRequest": {
      "id": "SubscribeClientsRequest",
      "type": "object",
      "description": "Request message for SubscribeAuctionPackageClients.",
      "properties": {
        "clients": {
          "type": "array",
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ActivateClientRequest": {
      "properties": {},
      "description": "Request message for activating a client.",
      "type": "object",
      "id": "ActivateClientRequest"
    },
    "CancelNegotiationRequest": {
      "description": "Request to cancel an ongoing negotiation.",
      "properties": {},
      "type": "object",
      "id": "CancelNegotiationRequest"
    },
    "PlacementTargeting": {
      "type": "object",
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "$ref": "MobileApplicationTargeting",
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "type": "string",
          "description": "The pricing type for the deal.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ]
        },
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        }
      },
      "id": "Price",
      "description": "Represents a price and a pricing type for a deal."
    },
    "PublisherProfile": {
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "id": "PublisherProfile",
      "properties": {
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "name": {
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`",
          "type": "string"
        },
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "mediaKitUrl": {
          "type": "string",
          "description": "URL to additional marketing and sales materials."
        },
        "mobileApps": {
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array"
        },
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "topHeadlines": {
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "pitchStatement": {
          "type": "string",
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array"
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        }
      },
      "type": "object"
    },
    "PrivateData": {
      "id": "PrivateData",
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal or deal."
    },
    "ListDealsResponse": {
      "id": "ListDealsResponse",
      "type": "object",
      "description": "Response message for listing deals in a proposal.",
      "properties": {
        "deals": {
          "description": "The list of deals.",
          "type": "array",
          "items": {
            "$ref": "Deal"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      }
    },
    "DayPartTargeting": {
      "properties": {
        "dayParts": {
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        },
        "timeZoneType": {
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "type": "string",
          "description": "The time zone type of the day parts"
        }
      },
      "id": "DayPartTargeting",
      "type": "object",
      "description": "Represents Daypart targeting."
    },
    "AddNoteRequest": {
      "type": "object",
      "id": "AddNoteRequest",
      "description": "Request to add a note.",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      }
    },
    "ListProposalsResponse": {
      "type": "object",
      "description": "Response message for listing proposals.",
      "id": "ListProposalsResponse",
      "properties": {
        "proposals": {
          "items": {
            "$ref": "Proposal"
          },
          "type": "array",
          "description": "The list of proposals."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "UpdateDealRequest": {
      "properties": {
        "updateMask": {
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "deal": {
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "$ref": "Deal"
        }
      },
      "type": "object",
      "id": "UpdateDealRequest",
      "description": "Request message for updating the deal at the given revision number."
    },
    "CreativeRequirements": {
      "type": "object",
      "properties": {
        "creativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player."
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "readOnly": true
        },
        "programmaticCreativeSource": {
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "type": "string",
          "readOnly": true
        },
        "creativeSafeFrameCompatibility": {
          "type": "string",
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "readOnly": true
        },
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives."
        },
        "maxAdDurationMs": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives."
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ]
        }
      },
      "id": "CreativeRequirements",
      "description": "Message captures data about the creatives in the deal."
    },
    "SubscribeAuctionPackageRequest": {
      "type": "object",
      "description": "Request message for SubscribeAuctionPackage.",
      "id": "SubscribeAuctionPackageRequest",
      "properties": {}
    },
    "UnsubscribeAuctionPackageRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "properties": {},
      "id": "UnsubscribeAuctionPackageRequest",
      "type": "object"
    },
    "Note": {
      "id": "Note",
      "type": "object",
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "properties": {
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When this note was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "creatorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role who created the note.",
          "type": "string"
        }
      }
    },
    "DeliveryControl": {
      "type": "object",
      "properties": {
        "frequencyCap": {
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest."
        },
        "companionDeliveryType": {
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ]
        },
        "roadblockingType": {
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "type": "string",
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "readOnly": true
        },
        "creativeRotationType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ]
        },
        "deliveryRateType": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "type": "string",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        }
      },
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced."
    },
    "ListClientUsersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        },
        "clientUsers": {
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users."
        }
      },
      "description": "Response message for the list method.",
      "type": "object",
      "id": "ListClientUsersResponse"
    },
    "PrivateAuctionTerms": {
      "properties": {
        "openAuctionAllowed": {
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "type": "boolean",
          "readOnly": true
        },
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "Pricing terms for Private Auctions.",
      "id": "PrivateAuctionTerms"
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "properties": {
        "targetedAppIds": {
          "type": "array",
          "description": "A list of application IDs to be included.",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of application IDs to be excluded."
        }
      },
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "type": "object"
    },
    "RtbMetrics": {
      "properties": {
        "adImpressions7Days": {
          "type": "string",
          "format": "int64",
          "description": "Ad impressions in last 7 days."
        },
        "bidRequests7Days": {
          "format": "int64",
          "type": "string",
          "description": "Bid requests in last 7 days."
        },
        "mustBidRateCurrentMonth": {
          "description": "Must bid rate for current month.",
          "format": "double",
          "type": "number"
        },
        "filteredBidRate7Days": {
          "type": "number",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "format": "double"
        },
        "bidRate7Days": {
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "type": "number",
          "format": "double"
        },
        "bids7Days": {
          "description": "Bids in last 7 days.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RtbMetrics",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "type": "object"
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "properties": {
        "publisherProfiles": {
          "type": "array",
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for profiles visible to the buyer."
    },
    "BatchUpdateDealsResponse": {
      "type": "object",
      "id": "BatchUpdateDealsResponse",
      "properties": {
        "deals": {
          "description": "Deals updated.",
          "type": "array",
          "items": {
            "$ref": "Deal"
          }
        }
      },
      "description": "Response message for batch updating deals."
    },
    "PublisherProfileMobileApplication": {
      "properties": {
        "externalAppId": {
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "appStore": {
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI"
          ]
        }
      },
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "type": "object",
      "id": "PublisherProfileMobileApplication"
    },
    "Proposal": {
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the proposal was last revised."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal.",
          "readOnly": true
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "termsAndConditions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
        },
        "sellerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "description": "Output only. Contact information for the seller.",
          "readOnly": true,
          "type": "array"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A list of notes from the buyer and the seller attached to this proposal."
        },
        "buyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`"
        },
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "proposalRevision": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true
        },
        "client": {
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "type": "string"
        },
        "buyerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "description": "Contact information for the buyer.",
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "readOnly": true,
          "description": "Output only. Indicates the state of the proposal."
        },
[...]
