{
  "mtlsRootUrl": "https://batch.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "id": "batch:v1",
  "version": "v1",
  "revision": "20230226",
  "baseUrl": "https://batch.googleapis.com/",
  "name": "batch",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/batch/",
  "canonicalName": "Batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "batch.projects.locations.get"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "id": "batch.projects.locations.list",
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "jobs": {
              "methods": {
                "delete": {
                  "description": "Delete a Job.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "reason": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Reason for this deletion."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Job name."
                    }
                  },
                  "id": "batch.projects.locations.jobs.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "GET",
                  "description": "List all Jobs for a project within a region.",
                  "id": "batch.projects.locations.jobs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Page size."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Parent path.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.jobs.create",
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "jobId": {
                      "location": "query",
                      "type": "string",
                      "description": "ID used to uniquely identify the Job within its parent scope. This field should contain at most 63 characters and must start with lowercase characters. Only lowercase characters, numbers and '-' are accepted. The '-' character cannot be the first or the last one. A system generated ID will be used if the field is not set. The job.name field in the request will be ignored and the created resource name of the Job will be \"{parent}/jobs/{job_id}\"."
                    },
                    "parent": {
                      "description": "Required. The parent resource name where the Job will be created. Pattern: \"projects/{project}/locations/{location}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/jobs",
                  "description": "Create a Job.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "id": "batch.projects.locations.jobs.get",
                  "description": "Get a Job specified by its resource name.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. Job name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Job"
                  }
                }
              },
              "resources": {
                "taskGroups": {
                  "resources": {
                    "tasks": {
                      "methods": {
                        "get": {
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+/tasks/[^/]+$",
                              "description": "Required. Task name.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Task"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.get",
                          "description": "Return a single Task.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks/{tasksId}"
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks",
                          "httpMethod": "GET",
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "description": "Task filter, null filter matches all Tasks. Filter string should be of the format State=TaskStatus.State e.g. State=RUNNING",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Page size.",
                              "format": "int32"
                            },
                            "parent": {
                              "description": "Required. Name of a TaskGroup from which Tasks are being requested. Pattern: \"projects/{project}/locations/{location}/jobs/{job}/taskGroups/{task_group}\"",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Page token."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "List Tasks associated with a job.",
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/tasks",
                          "response": {
                            "$ref": "ListTasksResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "batch.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "id": "batch.projects.locations.operations.list"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "batch.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST"
                }
              }
            },
            "state": {
              "methods": {
                "report": {
                  "httpMethod": "POST",
                  "id": "batch.projects.locations.state.report",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ReportAgentStateRequest"
                  },
                  "path": "v1/{+parent}/state:report",
                  "response": {
                    "$ref": "ReportAgentStateResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: projects/{project}/locations/{location} {project} should be a project number."
                    }
                  },
                  "description": "Report agent's state, e.g. agent status and tasks information",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/state:report"
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://batch.googleapis.com/",
  "version_module": true,
  "title": "Batch API",
  "ownerName": "Google",
  "batchPath": "batch",
  "basePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ServiceAccount": {
      "description": "Carries information about a Google Cloud service account.",
      "id": "ServiceAccount",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account. If not specified, the default Compute Engine service account for the project will be used. If instance template is being used, the service account has to be specified in the instance template and it has to match the email field here."
        },
        "scopes": {
          "description": "List of scopes to be enabled for this service account on the VM, in addition to the cloud-platform API scope that will be added by default.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "Accelerator": {
      "properties": {
        "installGpuDrivers": {
          "description": "Deprecated: please use instances[0].install_gpu_drivers instead.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "The accelerator type. For example, \"nvidia-tesla-t4\". See `gcloud compute accelerator-types list`."
        },
        "count": {
          "format": "int64",
          "description": "The number of accelerators of this type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Accelerator",
      "description": "Accelerator describes Compute Engine accelerators to be attached to the VM."
    },
    "AllocationPolicy": {
      "properties": {
        "instances": {
          "type": "array",
          "description": "Describe instances that can be created by this AllocationPolicy. Only instances[0] is supported now.",
          "items": {
            "$ref": "InstancePolicyOrTemplate"
          }
        },
        "serviceAccount": {
          "description": "Service account that VMs will run as.",
          "$ref": "ServiceAccount"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels applied to all VM instances and other resources created by AllocationPolicy. Labels could be user provided or system generated. You can assign up to 64 labels. [Google Compute Engine label restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) apply. Label names that start with \"goog-\" or \"google-\" are reserved."
        },
        "network": {
          "description": "The network policy.",
          "$ref": "NetworkPolicy"
        },
        "location": {
          "$ref": "LocationPolicy",
          "description": "Location where compute resources should be allocated for the Job."
        }
      },
      "type": "object",
      "description": "A Job's resource allocation policy describes when, where, and how compute resources should be allocated for the Job.",
      "id": "AllocationPolicy"
    },
    "AgentMetadata": {
      "id": "AgentMetadata",
      "type": "object",
      "description": "VM Agent Metadata.",
      "properties": {
        "instancePreemptionNoticeReceived": {
          "description": "If the GCP instance has received preemption notice.",
          "type": "boolean"
        },
        "creator": {
          "description": "Full name of the entity that created this vm. For MIG, this path is: projects/{project}/regions/{region}/InstanceGroupManagers/{igm} The value is retrieved from the vm metadata key of \"created-by\".",
          "type": "string"
        },
        "zone": {
          "description": "Agent zone.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the VM agent started. Use agent_startup_time instead."
        },
        "instance": {
          "type": "string",
          "description": "GCP instance name (go/instance-name)."
        },
        "version": {
          "type": "string",
          "description": "agent binary version running on VM"
        },
        "instanceId": {
          "description": "GCP instance ID (go/instance-id).",
          "type": "string",
          "format": "uint64"
        },
        "imageVersion": {
          "type": "string",
          "description": "image version for the VM that this agent is installed on."
        },
        "osRelease": {
          "description": "parsed contents of /etc/os-release",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NFS": {
      "type": "object",
      "id": "NFS",
      "properties": {
        "server": {
          "type": "string",
          "description": "The IP address of the NFS."
        },
        "remotePath": {
          "description": "Remote source path exported from the NFS, e.g., \"/share\".",
          "type": "string"
        }
      },
      "description": "Represents an NFS volume."
    },
    "Runnable": {
      "properties": {
        "alwaysRun": {
          "description": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables.",
          "type": "boolean"
        },
        "ignoreExitStatus": {
          "description": "Normally, a non-zero exit status causes the Task to fail. This flag allows execution of other Runnables to continue instead.",
          "type": "boolean"
        },
        "barrier": {
          "$ref": "Barrier",
          "description": "Barrier runnable."
        },
        "environment": {
          "description": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup).",
          "$ref": "Environment"
        },
        "timeout": {
          "type": "string",
          "description": "Timeout for this Runnable.",
          "format": "google-duration"
        },
        "script": {
          "description": "Script runnable.",
          "$ref": "Script"
        },
        "background": {
          "description": "This flag allows a Runnable to continue running in the background while the Task executes subsequent Runnables. This is useful to provide services to other Runnables (or to provide debugging support tools like SSH servers).",
          "type": "boolean"
        },
        "container": {
          "description": "Container runnable.",
          "$ref": "Container"
        }
      },
      "type": "object",
      "description": "Runnable describes instructions for executing a specific script or container as part of a Task.",
      "id": "Runnable"
    },
    "Disk": {
      "id": "Disk",
      "description": "A new persistent disk or a local ssd. A VM can only have one local SSD setting but multiple local SSD partitions. See https://cloud.google.com/compute/docs/disks#pdspecs and https://cloud.google.com/compute/docs/disks#localssds.",
      "properties": {
        "diskInterface": {
          "type": "string",
          "description": "Local SSDs are available through both \"SCSI\" and \"NVMe\" interfaces. If not indicated, \"NVMe\" will be the default one for local ssds. We only support \"SCSI\" for persistent disks now."
        },
        "snapshot": {
          "description": "Name of a snapshot used as the data source.",
          "type": "string"
        },
        "type": {
          "description": "Disk type as shown in `gcloud compute disk-types list`. For example, local SSD uses type \"local-ssd\". Persistent disks and boot disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\".",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "Name of a public or custom image used as the data source. For example, the following are all valid URLs: * Specify the image by its family name: projects/{project}/global/images/family/{image_family} * Specify the image version: projects/{project}/global/images/{image_version} You can also use Batch customized image in short names. The following image values are supported for a boot disk: * \"batch-debian\": use Batch Debian images. * \"batch-centos\": use Batch CentOS images. * \"batch-cos\": use Batch Container-Optimized images."
        },
        "sizeGb": {
          "description": "Disk size in GB. For persistent disk, this field is ignored if `data_source` is `image` or `snapshot`. For local SSD, size_gb should be a multiple of 375GB, otherwise, the final size will be the next greater multiple of 375 GB. For boot disk, Batch will calculate the boot disk size based on source image and task requirements if you do not speicify the size. If both this field and the boot_disk_mib field in task spec's compute_resource are defined, Batch will only honor this field.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobNotification": {
      "description": "Notification configurations.",
      "id": "JobNotification",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "The Pub/Sub topic where notifications like the job state changes will be published. This topic exist in the same project as the job and billings will be charged to this project. If not specified, no Pub/Sub messages will be sent. Topic format: `projects/{project}/topics/{topic}`."
        },
        "message": {
          "description": "The attribute requirements of messages to be sent to this Pub/Sub topic. Without this field, no message will be sent.",
          "$ref": "Message"
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "type": "object",
      "description": "Job status.",
      "properties": {
        "taskGroups": {
          "additionalProperties": {
            "$ref": "TaskGroupStatus"
          },
          "description": "Aggregated task status for each TaskGroup in the Job. The map key is TaskGroup ID.",
          "type": "object"
        },
        "runDuration": {
          "format": "google-duration",
          "description": "The duration of time that the Job spent in status RUNNING.",
          "type": "string"
        },
        "state": {
          "description": "Job state",
          "enumDescriptions": [
            "",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS"
          ],
          "type": "string"
        },
        "statusEvents": {
          "items": {
            "$ref": "StatusEvent"
          },
          "description": "Job status events",
          "type": "array"
        }
      }
    },
    "GCS": {
      "properties": {
        "remotePath": {
          "description": "Remote path, either a bucket name or a subdirectory of a bucket, e.g.: bucket_name, bucket_name/subdirectory/",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Google Cloud Storage volume.",
      "id": "GCS"
    },
    "Job": {
      "type": "object",
      "id": "Job",
      "description": "The Cloud Batch Job description.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Job name. For example: \"projects/123456/locations/us-central1/jobs/job01\"."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Job was created."
        },
        "priority": {
          "format": "int64",
          "description": "Priority of the Job. The valid value range is [0, 100). Default value is 0. Higher value indicates higher priority. A job with higher priority value is more likely to run earlier if all other requirements are satisfied.",
          "type": "string"
        },
        "logsPolicy": {
          "$ref": "LogsPolicy",
          "description": "Log preservation policy for the Job."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A system generated unique ID (in UUID4 format) for the Job."
        },
        "labels": {
          "description": "Labels for the Job. Labels could be user provided or system generated. For example, \"labels\": { \"department\": \"finance\", \"environment\": \"test\" } You can assign up to 64 labels. [Google Compute Engine label restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) apply. Label names that start with \"goog-\" or \"google-\" are reserved.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "status": {
          "description": "Output only. Job status. It is read only for users.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the Job was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "taskGroups": {
          "items": {
            "$ref": "TaskGroup"
          },
          "description": "Required. TaskGroups in the Job. Only one TaskGroup is supported now.",
          "type": "array"
        },
        "allocationPolicy": {
          "description": "Compute resource allocation for all TaskGroups in the Job.",
          "$ref": "AllocationPolicy"
        },
        "notifications": {
          "description": "Notification configurations.",
          "items": {
            "$ref": "JobNotification"
          },
          "type": "array"
        }
      }
    },
    "Container": {
      "type": "object",
      "id": "Container",
      "properties": {
        "commands": {
          "description": "Overrides the `CMD` specified in the container. If there is an ENTRYPOINT (either in the container image or with the entrypoint field below) then commands are appended as arguments to the ENTRYPOINT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entrypoint": {
          "description": "Overrides the `ENTRYPOINT` specified in the container.",
          "type": "string"
        },
        "blockExternalNetwork": {
          "type": "boolean",
          "description": "If set to true, external network access to and from container will be blocked, containers that are with block_external_network as true can still communicate with each other, network cannot be specified in the `container.options` field."
        },
        "volumes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match docker run's --volume option, e.g. /foo:/bar, or /foo:/bar:ro"
        },
        "username": {
          "type": "string",
          "description": "Optional username for logging in to a docker registry. If username matches `projects/*/secrets/*/versions/*` then Batch will read the username from the Secret Manager."
        },
        "password": {
          "description": "Optional password for logging in to a docker registry. If password matches `projects/*/secrets/*/versions/*` then Batch will read the password from the Secret Manager;",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "The URI to pull the container image from."
        },
        "options": {
          "description": "Arbitrary additional options to include in the \"docker run\" command when running this container, e.g. \"--network host\".",
          "type": "string"
        }
      },
      "description": "Container runnable."
    },
    "ReportAgentStateRequest": {
      "type": "object",
      "description": "Request to report agent's state. The Request itself implies the agent is healthy.",
      "properties": {
        "metadata": {
          "description": "Agent metadata.",
          "$ref": "AgentMetadata"
        },
        "agentInfo": {
          "description": "Agent info.",
          "$ref": "AgentInfo"
        },
        "agentTimingInfo": {
          "$ref": "AgentTimingInfo",
          "description": "Agent timing info."
        }
      },
      "id": "ReportAgentStateRequest"
    },
    "Message": {
      "id": "Message",
      "type": "object",
      "properties": {
        "type": {
          "description": "The message type.",
          "enumDescriptions": [
            "Unspecified.",
            "Notify users that the job state has changed.",
            "Notify users that the task state has changed."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "JOB_STATE_CHANGED",
            "TASK_STATE_CHANGED"
          ],
          "type": "string"
        },
        "newTaskState": {
          "description": "The new task state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "unknown state",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded."
          ]
        },
        "newJobState": {
          "type": "string",
          "description": "The new job state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS"
          ],
          "enumDescriptions": [
            "",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up."
          ]
        }
      },
      "description": "Message details. Describe the attribute that a message should have. Without specified message attributes, no message will be sent by default."
    },
    "LifecyclePolicy": {
      "properties": {
        "actionCondition": {
          "description": "Conditions that decide why a task failure is dealt with a specific action.",
          "$ref": "ActionCondition"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "RETRY_TASK",
            "FAIL_TASK"
          ],
          "description": "Action to execute when ActionCondition is true. When RETRY_TASK is specified, we will retry failed tasks if we notice any exit code match and fail tasks if no match is found. Likewise, when FAIL_TASK is specified, we will fail tasks if we notice any exit code match and retry tasks if no match is found.",
          "type": "string",
          "enumDescriptions": [
            "Action unspecified.",
            "Action that tasks in the group will be scheduled to re-execute.",
            "Action that tasks in the group will be stopped immediately."
          ]
        }
      },
      "description": "LifecyclePolicy describes how to deal with task failures based on different conditions.",
      "type": "object",
      "id": "LifecyclePolicy"
    },
    "AttachedDisk": {
      "type": "object",
      "description": "A new or an existing persistent disk (PD) or a local ssd attached to a VM instance.",
      "id": "AttachedDisk",
      "properties": {
        "existingDisk": {
          "description": "Name of an existing PD.",
          "type": "string"
        },
        "newDisk": {
          "$ref": "Disk"
        },
        "deviceName": {
          "type": "string",
          "description": "Device name that the guest operating system will see. It is used by Runnable.volumes field to mount disks. So please specify the device_name if you want Batch to help mount the disk, and it should match the device_name field in volumes."
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume describes a volume and parameters for it to be mounted to a VM.",
      "type": "object",
      "properties": {
        "gcs": {
          "$ref": "GCS",
          "description": "A Google Cloud Storage (GCS) volume."
        },
        "deviceName": {
          "type": "string",
          "description": "Device name of an attached disk volume, which should align with a device_name specified by job.allocation_policy.instances[0].policy.disks[i].device_name or defined by the given instance template in job.allocation_policy.instances[0].instance_template."
        },
        "nfs": {
          "$ref": "NFS",
          "description": "A Network File System (NFS) volume. For example, a Filestore file share."
        },
        "mountPath": {
          "description": "The mount path for the volume, e.g. /mnt/disks/share.",
          "type": "string"
        },
        "mountOptions": {
          "type": "array",
          "description": "For Google Cloud Storage (GCS), mount options are the options supported by the gcsfuse tool (https://github.com/GoogleCloudPlatform/gcsfuse). For existing persistent disks, mount options provided by the mount command (https://man7.org/linux/man-pages/man8/mount.8.html) except writing are supported. This is due to restrictions of multi-writer mode (https://cloud.google.com/compute/docs/disks/sharing-disks-between-vms). For other attached disks and Network File System (NFS), mount options are these supported by the mount command (https://man7.org/linux/man-pages/man8/mount.8.html).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InstancePolicy": {
      "id": "InstancePolicy",
      "properties": {
        "bootDisk": {
          "$ref": "Disk",
          "description": "Boot disk to be created and attached to each VM by this InstancePolicy. Boot disk will be deleted when the VM is deleted."
        },
        "accelerators": {
          "description": "The accelerators attached to each VM instance.",
          "items": {
            "$ref": "Accelerator"
          },
          "type": "array"
        },
        "disks": {
          "type": "array",
          "description": "Non-boot disks to be attached for each VM created by this InstancePolicy. New disks will be deleted when the VM is deleted.",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "machineType": {
          "description": "The Compute Engine machine type.",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "The minimum CPU platform. See https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform. Not yet implemented.",
          "type": "string"
        },
        "provisioningModel": {
          "description": "The provisioning model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE"
          ]
        }
      },
      "type": "object",
      "description": "InstancePolicy describes an instance type and resources attached to each VM created by this InstancePolicy."
    },
    "ListTasksResponse": {
      "description": "ListTasks Response.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "description": "Tasks.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListTasksResponse"
    },
    "Task": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Task name. The name is generated from the parent TaskGroup name and 'id' field. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01/tasks/task01\"."
        },
        "status": {
          "description": "Task Status.",
          "$ref": "TaskStatus"
        }
      },
      "id": "Task",
      "type": "object",
      "description": "A Cloud Batch task."
    },
    "TaskSpec": {
      "properties": {
        "environment": {
          "description": "Environment variables to set before running the Task.",
          "$ref": "Environment"
        },
        "environments": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Deprecated: please use environment(non-plural) instead."
        },
        "computeResource": {
          "description": "ComputeResource requirements.",
          "$ref": "ComputeResource"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "description": "Volumes to mount before running Tasks using this TaskSpec.",
          "type": "array"
        },
        "maxRetryCount": {
          "format": "int32",
          "description": "Maximum number of retries on failures. The default, 0, which means never retry. The valid value range is [0, 10].",
          "type": "integer"
        },
        "runnables": {
          "items": {
            "$ref": "Runnable"
          },
          "description": "The sequence of scripts or containers to run for this Task. Each Task using this TaskSpec executes its list of runnables in order. The Task succeeds if all of its runnables either exit with a zero status or any that exit with a non-zero status have the ignore_exit_status flag. Background runnables are killed automatically (if they have not already exited) a short time after all foreground runnables have completed. Even though this is likely to result in a non-zero exit status for the background runnable, these automatic kills are not treated as Task failures.",
          "type": "array"
        },
        "maxRunDuration": {
          "description": "Maximum duration the task should run. The task will be killed and marked as FAILED if over this limit.",
          "type": "string",
          "format": "google-duration"
        },
        "lifecyclePolicies": {
          "items": {
            "$ref": "LifecyclePolicy"
          },
          "description": "Lifecycle management schema when any task in a task group is failed. Currently we only support one lifecycle policy. When the lifecycle policy condition is met, the action in the policy will execute. If task execution result does not meet with the defined lifecycle policy, we consider it as the default policy. Default policy means if the exit code is 0, exit task. If task ends with non-zero exit code, retry the task with max_retry_count.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Spec of a task",
      "id": "TaskSpec"
    },
    "LocationPolicy": {
      "type": "object",
      "properties": {
        "allowedLocations": {
          "items": {
            "type": "string"
          },
          "description": "A list of allowed location names represented by internal URLs. Each location can be a region or a zone. Only one region or multiple zones in one region is supported now. For example, [\"regions/us-central1\"] allow VMs in any zones in region us-central1. [\"zones/us-central1-a\", \"zones/us-central1-c\"] only allow VMs in zones us-central1-a and us-central1-c. All locations end up in different regions would cause errors. For example, [\"regions/us-central1\", \"zones/us-central1-a\", \"zones/us-central1-b\", \"zones/us-west1-a\"] contains 2 regions \"us-central1\" and \"us-west1\". An error is expected in this case.",
          "type": "array"
        }
      },
      "id": "LocationPolicy"
    },
    "StatusEvent": {
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time this event occurred.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the event."
        },
        "taskState": {
          "description": "Task State",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "unknown state",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded."
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string"
        },
        "taskExecution": {
          "$ref": "TaskExecution",
          "description": "Task Execution"
        }
      },
      "id": "StatusEvent",
      "description": "Status event",
      "type": "object"
    },
    "ActionCondition": {
      "properties": {
        "exitCodes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Exit codes of a task execution. If there are more than 1 exit codes, when task executes with any of the exit code in the list, the condition is met and the action will be executed."
        }
      },
      "type": "object",
      "description": "Conditions for actions to deal with task failures.",
      "id": "ActionCondition"
    },
    "Script": {
      "type": "object",
      "id": "Script",
      "properties": {
        "text": {
          "type": "string",
          "description": "Shell script text. To specify an interpreter, please add a `#!\\n` at the beginning of the text.(For example, to execute the script using bash, `#!/bin/bash\\n` should be added. To execute the script using`Python3`, `#!/usr/bin/env python3\\n` should be added.) Otherwise, the script will by default be excuted by `/bin/sh`."
        },
        "path": {
          "description": "Script file path on the host VM. To specify an interpreter, please add a `#!`(also known as [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix))) as the first line of the file.(For example, to execute the script using bash, `#!/bin/bash` should be the first line of the file. To execute the script using`Python3`, `#!/usr/bin/env python3` should be the first line of the file.) Otherwise, the file will by default be excuted by `/bin/sh`.",
          "type": "string"
        }
      },
      "description": "Script runnable."
    },
    "InstanceStatus": {
      "description": "VM instance status.",
      "properties": {
        "machineType": {
          "description": "The Compute Engine machine type.",
          "type": "string"
        },
        "taskPack": {
          "type": "string",
          "description": "The max number of tasks can be assigned to this instance type.",
          "format": "int64"
        },
        "provisioningModel": {
          "description": "The VM instance provisioning model.",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported."
          ],
          "type": "string"
        },
        "bootDisk": {
          "$ref": "Disk",
          "description": "The VM boot disk."
        }
      },
      "id": "InstanceStatus",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "AgentTaskInfo": {
      "type": "object",
      "properties": {
        "taskStatus": {
          "$ref": "TaskStatus",
          "description": "The status of the Task. If we need agent specific fields we should fork the public TaskStatus into an agent specific one. Or add them below."
        },
        "runnable": {
          "type": "string",
          "description": "The highest index of a runnable started by the agent for this task. The runnables are indexed from 1. Value 0 is undefined.",
          "format": "int64"
        },
        "taskId": {
          "description": "ID of the Task",
          "type": "string"
        }
      },
      "id": "AgentTaskInfo",
      "description": "Task Info"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "AgentTimingInfo": {
      "description": "VM timing information",
      "properties": {
        "scriptStartupTime": {
          "type": "string",
          "description": "Startup time of the Batch VM script.",
          "format": "google-datetime"
        },
        "bootTime": {
          "description": "Boot timestamp of the VM OS",
          "format": "google-datetime",
          "type": "string"
        },
        "agentStartupTime": {
          "type": "string",
          "description": "Agent startup time",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "AgentTimingInfo"
    },
    "AgentInfo": {
      "description": "VM Agent Info.",
      "properties": {
        "reportTime": {
          "description": "When the AgentInfo is generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobId": {
          "description": "The assigned Job ID",
          "type": "string"
        },
        "tasks": {
          "description": "Task Info.",
          "items": {
            "$ref": "AgentTaskInfo"
          },
          "type": "array"
        },
        "taskGroupId": {
          "description": "The assigned task group ID.",
          "type": "string"
        },
        "state": {
          "enum": [
            "AGENT_STATE_UNSPECIFIED",
            "AGENT_STARTING",
            "AGENT_RUNNING",
            "AGENT_STOPPED"
          ],
          "type": "string",
          "description": "Agent state.",
          "enumDescriptions": [
            "Unspecified state.",
            "The agent is starting on the VM instance.",
            "The agent is running. The agent in the RUNNING state can never go back to the STARTING state.",
            "The agent has stopped, either on request or due to a failure."
          ]
        }
      },
      "type": "object",
      "id": "AgentInfo"
    },
    "AgentTask": {
      "properties": {
        "intendedState": {
          "type": "string",
          "description": "The intended state of the task.",
          "enumDescriptions": [
            "Unspecified state.",
            "Assigned state (includes running and finished).",
            "The agent should cancel the execution of this task.",
            "Delete task from agent storage, stop reporting its state."
          ],
          "enum": [
            "INTENDED_STATE_UNSPECIFIED",
            "ASSIGNED",
            "CANCELLED",
            "DELETED"
          ]
        },
        "task": {
          "type": "string",
          "description": "Task name."
        },
        "reachedBarrier": {
          "format": "int64",
          "type": "string",
          "description": "The highest barrier reached by all tasks in the task's TaskGroup."
        },
        "status": {
          "description": "Task status.",
          "$ref": "TaskStatus"
        },
        "spec": {
          "$ref": "TaskSpec",
          "description": "Task Spec."
        }
      },
      "id": "AgentTask",
      "type": "object",
      "description": "TODO(b/182501497) The message needs to be redefined when the Agent API server updates data in storage per the backend design."
    },
    "KMSEnvMap": {
      "id": "KMSEnvMap",
      "type": "object",
      "properties": {
        "cipherText": {
          "description": "The value of the cipherText response from the `encrypt` method.",
          "type": "string"
        },
        "keyName": {
          "type": "string",
          "description": "The name of the KMS key that will be used to decrypt the cipher text."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ReportAgentStateResponse": {
      "type": "object",
      "description": "Response to ReportAgentStateRequest.",
      "properties": {
        "tasks": {
          "items": {
            "$ref": "AgentTask"
          },
          "description": "Tasks assigned to the agent",
          "type": "array"
        },
        "minReportInterval": {
          "description": "Minimum report interval override",
          "type": "string",
          "format": "google-duration"
        },
        "defaultReportInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Default report interval override"
        }
      },
      "id": "ReportAgentStateResponse"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "ComputeResource": {
      "description": "Compute resource requirements",
      "type": "object",
      "properties": {
        "memoryMib": {
          "description": "Memory in MiB.",
          "format": "int64",
          "type": "string"
        },
        "bootDiskMib": {
          "format": "int64",
          "type": "string",
          "description": "Extra boot disk size in MiB for each task."
        },
        "cpuMilli": {
          "description": "The milliCPU count.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ComputeResource"
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "description": "Status of a task",
      "type": "object",
      "properties": {
        "statusEvents": {
          "type": "array",
          "items": {
            "$ref": "StatusEvent"
          },
          "description": "Detailed info about why the state is reached."
        },
        "state": {
          "enumDescriptions": [
            "unknown state",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "Task state",
          "type": "string"
        }
      }
    },
    "Barrier": {
      "description": "Barrier runnable blocks until all tasks in a taskgroup reach it.",
      "properties": {
        "name": {
          "description": "Barriers are identified by their index in runnable list. Names are not required, but if present should be an identifier.",
          "type": "string"
        }
      },
      "id": "Barrier",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "TaskGroupStatus": {
      "type": "object",
      "properties": {
        "counts": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "Count of task in each state in the TaskGroup. The map key is task state name."
        },
        "instances": {
          "items": {
            "$ref": "InstanceStatus"
          },
          "description": "Status of instances allocated for the TaskGroup.",
          "type": "array"
        }
      },
      "description": "Aggregated task status for a TaskGroup.",
      "id": "TaskGroupStatus"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "NetworkInterface": {
      "properties": {
        "noExternalIpAddress": {
          "description": "Default is false (with an external IP address). Required if no external public IP address is attached to the VM. If no external public IP address, additional configuration is required to allow the VM to access Google Services. See https://cloud.google.com/vpc/docs/configure-private-google-access and https://cloud.google.com/nat/docs/gce-example#create-nat for more information.",
          "type": "boolean"
        },
        "subnetwork": {
          "type": "string",
          "description": "The URL of an existing subnetwork resource in the network. You can specify the subnetwork as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/subnetworks/{subnetwork} * projects/{project}/regions/{region}/subnetworks/{subnetwork} * regions/{region}/subnetworks/{subnetwork}"
        },
        "network": {
          "type": "string",
          "description": "The URL of an existing network resource. You can specify the network as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network} * projects/{project}/global/networks/{network} * global/networks/{network}"
        }
      },
      "description": "A network interface.",
      "type": "object",
      "id": "NetworkInterface"
    },
    "Environment": {
      "properties": {
        "secretVariables": {
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "encryptedVariables": {
          "$ref": "KMSEnvMap",
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values."
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of environment variable names to values."
        }
      },
      "id": "Environment",
      "type": "object",
      "description": "An Environment describes a collection of environment variables to set when executing Tasks."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object"
    },
    "LogsPolicy": {
      "properties": {
        "destination": {
          "enum": [
            "DESTINATION_UNSPECIFIED",
            "CLOUD_LOGGING",
            "PATH"
          ],
          "description": "Where logs should be saved.",
          "enumDescriptions": [
            "Logs are not preserved.",
            "Logs are streamed to Cloud Logging.",
            "Logs are saved to a file path."
          ],
          "type": "string"
        },
        "logsPath": {
          "type": "string",
          "description": "The path to which logs are saved when the destination = PATH. This can be a local file path on the VM, or under the mount point of a Persistent Disk or Filestore, or a Cloud Storage path."
        }
      },
      "id": "LogsPolicy",
      "type": "object",
      "description": "LogsPolicy describes how outputs from a Job's Tasks (stdout/stderr) will be preserved."
    },
    "InstancePolicyOrTemplate": {
      "description": "Either an InstancePolicy or an instance template.",
      "type": "object",
      "id": "InstancePolicyOrTemplate",
      "properties": {
        "instanceTemplate": {
          "type": "string",
          "description": "Name of an instance template used to create VMs. Named the field as 'instance_template' instead of 'template' to avoid c++ keyword conflict."
        },
        "installGpuDrivers": {
          "type": "boolean",
          "description": "Set this field true if users want Batch to help fetch drivers from a third party location and install them for GPUs specified in policy.accelerators or instance_template on their behalf. Default is false."
        },
        "policy": {
          "$ref": "InstancePolicy",
          "description": "InstancePolicy."
        }
      }
    },
    "NetworkPolicy": {
      "type": "object",
      "id": "NetworkPolicy",
      "description": "NetworkPolicy describes VM instance network configurations.",
      "properties": {
        "networkInterfaces": {
          "description": "Network configurations.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        }
      }
    },
    "TaskExecution": {
      "id": "TaskExecution",
      "description": "This Task Execution field includes detail information for task execution procedures, based on StatusEvent types.",
      "type": "object",
      "properties": {
        "exitCode": {
          "type": "integer",
          "description": "When task is completed as the status of FAILED or SUCCEEDED, exit code is for one task execution result, default is 0 as success.",
          "format": "int32"
        }
      }
    },
    "TaskGroup": {
      "description": "A TaskGroup contains one or multiple Tasks that share the same Runnable but with different runtime parameters.",
      "id": "TaskGroup",
      "properties": {
        "taskCount": {
          "format": "int64",
          "description": "Number of Tasks in the TaskGroup. Default is 1.",
          "type": "string"
        },
        "parallelism": {
          "description": "Max number of tasks that can run in parallel. Default to min(task_count, 1000).",
          "format": "int64",
          "type": "string"
        },
        "permissiveSsh": {
          "description": "When true, Batch will configure SSH to allow passwordless login between VMs running the Batch tasks in the same TaskGroup.",
          "type": "boolean"
        },
        "taskEnvironments": {
          "type": "array",
          "items": {
            "$ref": "Environment"
          },
          "description": "An array of environment variable mappings, which are passed to Tasks with matching indices. If task_environments is used then task_count should not be specified in the request (and will be ignored). Task count will be the length of task_environments. Tasks get a BATCH_TASK_INDEX and BATCH_TASK_COUNT environment variable, in addition to any environment variables set in task_environments, specifying the number of Tasks in the Task's parent TaskGroup, and the specific Task's index in the TaskGroup (0 through BATCH_TASK_COUNT - 1). task_environments supports up to 200 entries."
        },
        "requireHostsFile": {
          "description": "When true, Batch will populate a file with a list of all VMs assigned to the TaskGroup and set the BATCH_HOSTS_FILE environment variable to the path of that file. Defaults to false.",
          "type": "boolean"
        },
        "taskSpec": {
          "description": "Required. Tasks in the group share the same task spec.",
          "$ref": "TaskSpec"
        },
        "taskCountPerNode": {
          "format": "int64",
          "type": "string",
          "description": "Max number of tasks that can be run on a VM at the same time. If not specified, the system will decide a value based on available compute resources on a VM and task requirements."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. TaskGroup name. The system generates this field based on parent Job name. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "Jobs."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListJobsResponse",
      "description": "ListJob Response."
    }
  },
  "description": "An API to manage the running of batch jobs on Google Cloud Platform.",
  "kind": "discovery#restDescription"
}
