{
  "kind": "discovery#restDescription",
  "description": "An API to manage the running of batch jobs on Google Cloud Platform.",
  "protocol": "rest",
  "name": "batch",
  "discoveryVersion": "v1",
  "id": "batch:v1",
  "rootUrl": "https://batch.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "StatusEvent": {
      "type": "object",
      "id": "StatusEvent",
      "description": "Status event",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time this event occurred.",
          "type": "string"
        },
        "type": {
          "description": "Type of the event.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the event."
        },
        "taskState": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ],
          "type": "string",
          "description": "Task State"
        },
        "taskExecution": {
          "description": "Task Execution",
          "$ref": "TaskExecution"
        }
      }
    },
    "NetworkInterface": {
      "description": "A network interface.",
      "properties": {
        "noExternalIpAddress": {
          "description": "Default is false (with an external IP address). Required if no external public IP address is attached to the VM. If no external public IP address, additional configuration is required to allow the VM to access Google Services. See https://cloud.google.com/vpc/docs/configure-private-google-access and https://cloud.google.com/nat/docs/gce-example#create-nat for more information.",
          "type": "boolean"
        },
        "subnetwork": {
          "type": "string",
          "description": "The URL of an existing subnetwork resource in the network. You can specify the subnetwork as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/subnetworks/{subnetwork} * projects/{project}/regions/{region}/subnetworks/{subnetwork} * regions/{region}/subnetworks/{subnetwork}"
        },
        "network": {
          "type": "string",
          "description": "The URL of an existing network resource. You can specify the network as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network} * projects/{project}/global/networks/{network} * global/networks/{network}"
        }
      },
      "id": "NetworkInterface",
      "type": "object"
    },
    "TaskSpec": {
      "description": "Spec of a task",
      "properties": {
        "maxRunDuration": {
          "description": "Maximum duration the task should run. The task will be killed and marked as FAILED if over this limit.",
          "type": "string",
          "format": "google-duration"
        },
        "environments": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Deprecated: please use environment(non-plural) instead."
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment variables to set before running the Task."
        },
        "runnables": {
          "description": "The sequence of scripts or containers to run for this Task. Each Task using this TaskSpec executes its list of runnables in order. The Task succeeds if all of its runnables either exit with a zero status or any that exit with a non-zero status have the ignore_exit_status flag. Background runnables are killed automatically (if they have not already exited) a short time after all foreground runnables have completed. Even though this is likely to result in a non-zero exit status for the background runnable, these automatic kills are not treated as Task failures.",
          "type": "array",
          "items": {
            "$ref": "Runnable"
          }
        },
        "volumes": {
          "type": "array",
          "description": "Volumes to mount before running Tasks using this TaskSpec.",
          "items": {
            "$ref": "Volume"
          }
        },
        "maxRetryCount": {
          "description": "Maximum number of retries on failures. The default, 0, which means never retry. The valid value range is [0, 10].",
          "type": "integer",
          "format": "int32"
        },
        "lifecyclePolicies": {
          "items": {
            "$ref": "LifecyclePolicy"
          },
          "type": "array",
          "description": "Lifecycle management schema when any task in a task group is failed. Currently we only support one lifecycle policy. When the lifecycle policy condition is met, the action in the policy will execute. If task execution result does not meet with the defined lifecycle policy, we consider it as the default policy. Default policy means if the exit code is 0, exit task. If task ends with non-zero exit code, retry the task with max_retry_count."
        },
        "computeResource": {
          "$ref": "ComputeResource",
          "description": "ComputeResource requirements."
        }
      },
      "id": "TaskSpec",
      "type": "object"
    },
    "NFS": {
      "description": "Represents an NFS volume.",
      "type": "object",
      "properties": {
        "remotePath": {
          "description": "Remote source path exported from the NFS, e.g., \"/share\".",
          "type": "string"
        },
        "server": {
          "type": "string",
          "description": "The IP address of the NFS."
        }
      },
      "id": "NFS"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "AgentTaskRunnable": {
      "id": "AgentTaskRunnable",
      "properties": {
        "alwaysRun": {
          "description": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables.",
          "type": "boolean"
        },
        "background": {
          "description": "This flag allows a Runnable to continue running in the background while the Task executes subsequent Runnables. This is useful to provide services to other Runnables (or to provide debugging support tools like SSH servers).",
          "type": "boolean"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Timeout for this Runnable."
        },
        "environment": {
          "$ref": "AgentEnvironment",
          "description": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup)."
        },
        "script": {
          "$ref": "AgentScript",
          "description": "Script runnable."
        },
        "ignoreExitStatus": {
          "description": "Normally, a non-zero exit status causes the Task to fail. This flag allows execution of other Runnables to continue instead.",
          "type": "boolean"
        },
        "container": {
          "$ref": "AgentContainer",
          "description": "Container runnable."
        }
      },
      "description": "AgentTaskRunnable is the Runnable representation between Agent and CLH communication.",
      "type": "object"
    },
    "GCS": {
      "properties": {
        "remotePath": {
          "description": "Remote path, either a bucket name or a subdirectory of a bucket, e.g.: bucket_name, bucket_name/subdirectory/",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GCS",
      "description": "Represents a Google Cloud Storage volume."
    },
    "Container": {
      "properties": {
        "entrypoint": {
          "type": "string",
          "description": "Overrides the `ENTRYPOINT` specified in the container."
        },
        "imageUri": {
          "type": "string",
          "description": "The URI to pull the container image from."
        },
        "username": {
          "description": "Optional username for logging in to a docker registry. If username matches `projects/*/secrets/*/versions/*` then Batch will read the username from the Secret Manager.",
          "type": "string"
        },
        "options": {
          "description": "Arbitrary additional options to include in the \"docker run\" command when running this container, e.g. \"--network host\".",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional password for logging in to a docker registry. If password matches `projects/*/secrets/*/versions/*` then Batch will read the password from the Secret Manager;"
        },
        "volumes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match docker run's --volume option, e.g. /foo:/bar, or /foo:/bar:ro"
        },
        "blockExternalNetwork": {
          "type": "boolean",
          "description": "If set to true, external network access to and from container will be blocked, containers that are with block_external_network as true can still communicate with each other, network cannot be specified in the `container.options` field."
        },
        "commands": {
          "items": {
            "type": "string"
          },
          "description": "Overrides the `CMD` specified in the container. If there is an ENTRYPOINT (either in the container image or with the entrypoint field below) then commands are appended as arguments to the ENTRYPOINT.",
          "type": "array"
        }
      },
      "id": "Container",
      "description": "Container runnable.",
      "type": "object"
    },
    "TaskGroupStatus": {
      "id": "TaskGroupStatus",
      "properties": {
        "instances": {
          "type": "array",
          "description": "Status of instances allocated for the TaskGroup.",
          "items": {
            "$ref": "InstanceStatus"
          }
        },
        "counts": {
          "description": "Count of task in each state in the TaskGroup. The map key is task state name.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "description": "Aggregated task status for a TaskGroup."
    },
    "AllocationPolicy": {
      "type": "object",
      "id": "AllocationPolicy",
      "description": "A Job's resource allocation policy describes when, where, and how compute resources should be allocated for the Job.",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "InstancePolicyOrTemplate"
          },
          "description": "Describe instances that can be created by this AllocationPolicy. Only instances[0] is supported now."
        },
        "serviceAccount": {
          "description": "Service account that VMs will run as.",
          "$ref": "ServiceAccount"
        },
        "network": {
          "$ref": "NetworkPolicy",
          "description": "The network policy."
        },
        "labels": {
          "description": "Labels applied to all VM instances and other resources created by AllocationPolicy. Labels could be user provided or system generated. You can assign up to 64 labels. [Google Compute Engine label restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) apply. Label names that start with \"goog-\" or \"google-\" are reserved.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "placement": {
          "$ref": "PlacementPolicy",
          "description": "The placement policy."
        },
        "location": {
          "$ref": "LocationPolicy",
          "description": "Location where compute resources should be allocated for the Job."
        }
      }
    },
    "Runnable": {
      "description": "Runnable describes instructions for executing a specific script or container as part of a Task.",
      "properties": {
        "ignoreExitStatus": {
          "description": "Normally, a non-zero exit status causes the Task to fail. This flag allows execution of other Runnables to continue instead.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels for this Runnable."
        },
        "script": {
          "description": "Script runnable.",
          "$ref": "Script"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Timeout for this Runnable.",
          "type": "string"
        },
        "background": {
          "type": "boolean",
          "description": "This flag allows a Runnable to continue running in the background while the Task executes subsequent Runnables. This is useful to provide services to other Runnables (or to provide debugging support tools like SSH servers)."
        },
        "container": {
          "description": "Container runnable.",
          "$ref": "Container"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup)."
        },
        "barrier": {
          "$ref": "Barrier",
          "description": "Barrier runnable."
        },
        "alwaysRun": {
          "description": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables.",
          "type": "boolean"
        }
      },
      "id": "Runnable",
      "type": "object"
    },
    "JobNotification": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "The attribute requirements of messages to be sent to this Pub/Sub topic. Without this field, no message will be sent."
        },
        "pubsubTopic": {
          "description": "The Pub/Sub topic where notifications like the job state changes will be published. This topic exist in the same project as the job and billings will be charged to this project. If not specified, no Pub/Sub messages will be sent. Topic format: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      },
      "description": "Notification configurations.",
      "id": "JobNotification"
    },
    "Environment": {
      "type": "object",
      "properties": {
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values.",
          "$ref": "KMSEnvMap"
        },
        "secretVariables": {
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "variables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of environment variable names to values."
        }
      },
      "id": "Environment",
      "description": "An Environment describes a collection of environment variables to set when executing Tasks."
    },
    "Accelerator": {
      "description": "Accelerator describes Compute Engine accelerators to be attached to the VM.",
      "id": "Accelerator",
      "properties": {
        "type": {
          "type": "string",
          "description": "The accelerator type. For example, \"nvidia-tesla-t4\". See `gcloud compute accelerator-types list`."
        },
        "installGpuDrivers": {
          "type": "boolean",
          "description": "Deprecated: please use instances[0].install_gpu_drivers instead."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of accelerators of this type."
        }
      },
      "type": "object"
    },
    "AgentKMSEnvMap": {
      "description": "AgentKMSEnvMap contains the encrypted key/value pair to be used in the environment on the Agent side.",
      "id": "AgentKMSEnvMap",
      "type": "object",
      "properties": {
        "cipherText": {
          "description": "The value of the cipherText response from the `encrypt` method.",
          "type": "string"
        },
        "keyName": {
          "description": "The name of the KMS key that will be used to decrypt the cipher text.",
          "type": "string"
        }
      }
    },
    "ActionCondition": {
      "id": "ActionCondition",
      "type": "object",
      "description": "Conditions for actions to deal with task failures.",
      "properties": {
        "exitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Exit codes of a task execution. If there are more than 1 exit codes, when task executes with any of the exit code in the list, the condition is met and the action will be executed.",
          "type": "array"
        }
      }
    },
    "Barrier": {
      "description": "Barrier runnable blocks until all tasks in a taskgroup reach it.",
      "type": "object",
      "id": "Barrier",
      "properties": {
        "name": {
          "description": "Barriers are identified by their index in runnable list. Names are not required, but if present should be an identifier.",
          "type": "string"
        }
      }
    },
    "AgentInfo": {
      "id": "AgentInfo",
      "description": "VM Agent Info.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Agent state.",
          "enumDescriptions": [
            "Unspecified state.",
            "The agent is starting on the VM instance.",
            "The agent is running. The agent in the RUNNING state can never go back to the STARTING state.",
            "The agent has stopped, either on request or due to a failure."
          ],
          "type": "string",
          "enum": [
            "AGENT_STATE_UNSPECIFIED",
            "AGENT_STARTING",
            "AGENT_RUNNING",
            "AGENT_STOPPED"
          ]
        },
        "jobId": {
          "description": "The assigned Job ID",
          "type": "string"
        },
        "taskGroupId": {
          "type": "string",
          "description": "The assigned task group ID."
        },
        "tasks": {
          "items": {
            "$ref": "AgentTaskInfo"
          },
          "type": "array",
          "description": "Task Info."
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the AgentInfo is generated."
        }
      }
    },
    "AgentTask": {
      "properties": {
        "intendedState": {
          "enumDescriptions": [
            "Unspecified state.",
            "Assigned state (includes running and finished).",
            "The agent should cancel the execution of this task.",
            "Delete task from agent storage, stop reporting its state."
          ],
          "description": "The intended state of the task.",
          "type": "string",
          "enum": [
            "INTENDED_STATE_UNSPECIFIED",
            "ASSIGNED",
            "CANCELLED",
            "DELETED"
          ]
        },
        "taskSource": {
          "description": "TaskSource represents the source of the task.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified task source.",
            "The AgentTask from this source is generated by Batch server. E.g. all the VMActions are from this source. When Batch Agent execute AgentTask from BATCH_INTERNAL, it will log stdout/err with \"batch_agent_logs\" log name.",
            "The AgentTask from this source is provided by Batch users. When Batch Agent execute AgentTask from USER, it will log stdout/err with \"batch_task_logs\" log name."
          ],
          "enum": [
            "TASK_SOURCE_UNSPECIFIED",
            "BATCH_INTERNAL",
            "USER"
          ]
        },
        "status": {
          "description": "Task status.",
          "$ref": "TaskStatus"
        },
        "agentTaskSpec": {
          "$ref": "AgentTaskSpec",
          "description": "AgentTaskSpec is the taskSpec representation between Agent and CLH communication. This field will replace the TaskSpec field above in future to have a better separation between user-facaing API and internal API."
        },
        "reachedBarrier": {
          "format": "int64",
          "description": "The highest barrier reached by all tasks in the task's TaskGroup.",
          "type": "string"
        },
        "task": {
          "description": "Task name.",
          "type": "string"
        },
        "spec": {
          "$ref": "TaskSpec",
          "description": "Task Spec. This field will be replaced by agent_task_spec below in future."
        }
      },
      "id": "AgentTask",
      "description": "TODO(b/182501497) The message needs to be redefined when the Agent API server updates data in storage per the backend design.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "LifecyclePolicy": {
      "type": "object",
      "id": "LifecyclePolicy",
      "properties": {
        "action": {
          "description": "Action to execute when ActionCondition is true. When RETRY_TASK is specified, we will retry failed tasks if we notice any exit code match and fail tasks if no match is found. Likewise, when FAIL_TASK is specified, we will fail tasks if we notice any exit code match and retry tasks if no match is found.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "RETRY_TASK",
            "FAIL_TASK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Action unspecified.",
            "Action that tasks in the group will be scheduled to re-execute.",
            "Action that tasks in the group will be stopped immediately."
          ]
        },
        "actionCondition": {
          "$ref": "ActionCondition",
          "description": "Conditions that decide why a task failure is dealt with a specific action."
        }
      },
      "description": "LifecyclePolicy describes how to deal with task failures based on different conditions."
    },
    "PlacementPolicy": {
      "type": "object",
      "properties": {
        "collocation": {
          "description": "UNSPECIFIED vs. COLLOCATED (default UNSPECIFIED). Use COLLOCATED when you want VMs to be located close to each other for low network latency between the VMs. No placement policy will be generated when collocation is UNSPECIFIED.",
          "type": "string"
        },
        "maxDistance": {
          "description": "When specified, causes the job to fail if more than max_distance logical switches are required between VMs. Batch uses the most compact possible placement of VMs even when max_distance is not specified. An explicit max_distance makes that level of compactness a strict requirement. Not yet implemented",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PlacementPolicy",
      "description": "PlacementPolicy describes a group placement policy for the VMs controlled by this AllocationPolicy."
    },
    "Volume": {
      "type": "object",
      "description": "Volume describes a volume and parameters for it to be mounted to a VM.",
      "properties": {
        "gcs": {
          "description": "A Google Cloud Storage (GCS) volume.",
          "$ref": "GCS"
        },
        "deviceName": {
          "type": "string",
          "description": "Device name of an attached disk volume, which should align with a device_name specified by job.allocation_policy.instances[0].policy.disks[i].device_name or defined by the given instance template in job.allocation_policy.instances[0].instance_template."
        },
        "nfs": {
          "description": "A Network File System (NFS) volume. For example, a Filestore file share.",
          "$ref": "NFS"
        },
        "mountPath": {
          "type": "string",
          "description": "The mount path for the volume, e.g. /mnt/disks/share."
        },
        "mountOptions": {
          "description": "For Google Cloud Storage (GCS), mount options are the options supported by the gcsfuse tool (https://github.com/GoogleCloudPlatform/gcsfuse). For existing persistent disks, mount options provided by the mount command (https://man7.org/linux/man-pages/man8/mount.8.html) except writing are supported. This is due to restrictions of multi-writer mode (https://cloud.google.com/compute/docs/disks/sharing-disks-between-vms). For other attached disks and Network File System (NFS), mount options are these supported by the mount command (https://man7.org/linux/man-pages/man8/mount.8.html).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Volume"
    },
    "NetworkPolicy": {
      "properties": {
        "networkInterfaces": {
          "description": "Network configurations.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        }
      },
      "description": "NetworkPolicy describes VM instance network configurations.",
      "type": "object",
      "id": "NetworkPolicy"
    },
    "AgentTimingInfo": {
      "type": "object",
      "description": "VM timing information",
      "properties": {
        "scriptStartupTime": {
          "type": "string",
          "description": "Startup time of the Batch VM script.",
          "format": "google-datetime"
        },
        "bootTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Boot timestamp of the VM OS"
        },
        "agentStartupTime": {
          "description": "Agent startup time",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "AgentTimingInfo"
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "description": "ListJob Response.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "jobs": {
          "type": "array",
          "description": "Jobs.",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      }
    },
    "InstancePolicy": {
      "description": "InstancePolicy describes an instance type and resources attached to each VM created by this InstancePolicy.",
      "type": "object",
      "id": "InstancePolicy",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "The Compute Engine machine type."
        },
        "accelerators": {
          "description": "The accelerators attached to each VM instance.",
          "items": {
            "$ref": "Accelerator"
          },
          "type": "array"
        },
        "bootDisk": {
          "$ref": "Disk",
          "description": "Boot disk to be created and attached to each VM by this InstancePolicy. Boot disk will be deleted when the VM is deleted. Batch API now only supports booting from image."
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "Non-boot disks to be attached for each VM created by this InstancePolicy. New disks will be deleted when the VM is deleted."
        },
        "provisioningModel": {
          "description": "The provisioning model.",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported."
          ],
          "type": "string"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "The minimum CPU platform. See https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform."
        }
      }
    },
    "TaskExecution": {
      "type": "object",
      "id": "TaskExecution",
      "properties": {
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "When task is completed as the status of FAILED or SUCCEEDED, exit code is for one task execution result, default is 0 as success."
        }
      },
      "description": "This Task Execution field includes detail information for task execution procedures, based on StatusEvent types."
    },
    "ReportAgentStateResponse": {
      "id": "ReportAgentStateResponse",
      "properties": {
        "minReportInterval": {
          "description": "Minimum report interval override",
          "type": "string",
          "format": "google-duration"
        },
        "defaultReportInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Default report interval override"
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "AgentTask"
          },
          "description": "Tasks assigned to the agent"
        }
      },
      "type": "object",
      "description": "Response to ReportAgentStateRequest."
    },
    "ComputeResource": {
      "properties": {
        "memoryMib": {
          "format": "int64",
          "type": "string",
          "description": "Memory in MiB."
        },
        "bootDiskMib": {
          "type": "string",
          "description": "Extra boot disk size in MiB for each task.",
          "format": "int64"
        },
        "cpuMilli": {
          "type": "string",
          "description": "The milliCPU count.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Compute resource requirements",
      "id": "ComputeResource"
    },
    "InstancePolicyOrTemplate": {
      "type": "object",
      "properties": {
        "instanceTemplate": {
          "type": "string",
          "description": "Name of an instance template used to create VMs. Named the field as 'instance_template' instead of 'template' to avoid c++ keyword conflict."
        },
        "policy": {
          "description": "InstancePolicy.",
          "$ref": "InstancePolicy"
        },
        "installGpuDrivers": {
          "type": "boolean",
          "description": "Set this field true if users want Batch to help fetch drivers from a third party location and install them for GPUs specified in policy.accelerators or instance_template on their behalf. Default is false."
        }
      },
      "id": "InstancePolicyOrTemplate",
      "description": "Either an InstancePolicy or an instance template."
    },
    "TaskStatus": {
      "description": "Status of a task",
      "properties": {
        "state": {
          "description": "Task state",
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ]
        },
        "statusEvents": {
          "description": "Detailed info about why the state is reached.",
          "items": {
            "$ref": "StatusEvent"
          },
          "type": "array"
        }
      },
      "id": "TaskStatus",
      "type": "object"
    },
    "InstanceStatus": {
      "properties": {
        "taskPack": {
          "format": "int64",
          "type": "string",
          "description": "The max number of tasks can be assigned to this instance type."
        },
        "bootDisk": {
          "description": "The VM boot disk.",
          "$ref": "Disk"
        },
        "provisioningModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE"
          ],
          "description": "The VM instance provisioning model."
        },
        "machineType": {
          "type": "string",
          "description": "The Compute Engine machine type."
        }
      },
      "description": "VM instance status.",
      "id": "InstanceStatus",
      "type": "object"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "Carries information about a Google Cloud service account.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account. If not specified, the default Compute Engine service account for the project will be used. If instance template is being used, the service account has to be specified in the instance template and it has to match the email field here."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of scopes to be enabled for this service account on the VM, in addition to the cloud-platform API scope that will be added by default."
        }
      }
    },
    "AgentMetadata": {
      "type": "object",
      "description": "VM Agent Metadata.",
      "properties": {
        "version": {
          "type": "string",
          "description": "agent binary version running on VM"
        },
        "osRelease": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "parsed contents of /etc/os-release"
        },
        "instancePreemptionNoticeReceived": {
          "type": "boolean",
          "description": "If the GCP instance has received preemption notice."
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "When the VM agent started. Use agent_startup_time instead.",
          "type": "string"
        },
        "instanceId": {
          "format": "uint64",
          "description": "GCP instance ID (go/instance-id).",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "GCP instance name (go/instance-name)."
        },
        "zone": {
          "type": "string",
          "description": "Agent zone."
        },
        "creator": {
          "type": "string",
          "description": "Full name of the entity that created this vm. For MIG, this path is: projects/{project}/regions/{region}/InstanceGroupManagers/{igm} The value is retrieved from the vm metadata key of \"created-by\"."
        },
        "imageVersion": {
          "description": "image version for the VM that this agent is installed on.",
          "type": "string"
        }
      },
      "id": "AgentMetadata"
    },
    "Script": {
      "description": "Script runnable.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Script file path on the host VM. To specify an interpreter, please add a `#!`(also known as [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix))) as the first line of the file.(For example, to execute the script using bash, `#!/bin/bash` should be the first line of the file. To execute the script using`Python3`, `#!/usr/bin/env python3` should be the first line of the file.) Otherwise, the file will by default be excuted by `/bin/sh`."
        },
        "text": {
          "description": "Shell script text. To specify an interpreter, please add a `#!\\n` at the beginning of the text.(For example, to execute the script using bash, `#!/bin/bash\\n` should be added. To execute the script using`Python3`, `#!/usr/bin/env python3\\n` should be added.) Otherwise, the script will by default be excuted by `/bin/sh`.",
          "type": "string"
        }
      },
      "id": "Script"
    },
    "LogsPolicy": {
      "id": "LogsPolicy",
      "properties": {
        "destination": {
          "enum": [
            "DESTINATION_UNSPECIFIED",
            "CLOUD_LOGGING",
            "PATH"
          ],
          "description": "Where logs should be saved.",
          "type": "string",
          "enumDescriptions": [
            "Logs are not preserved.",
            "Logs are streamed to Cloud Logging.",
            "Logs are saved to a file path."
          ]
        },
        "logsPath": {
          "description": "The path to which logs are saved when the destination = PATH. This can be a local file path on the VM, or under the mount point of a Persistent Disk or Filestore, or a Cloud Storage path.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "LogsPolicy describes how outputs from a Job's Tasks (stdout/stderr) will be preserved."
    },
    "Disk": {
      "id": "Disk",
      "type": "object",
      "description": "A new persistent disk or a local ssd. A VM can only have one local SSD setting but multiple local SSD partitions. See https://cloud.google.com/compute/docs/disks#pdspecs and https://cloud.google.com/compute/docs/disks#localssds.",
      "properties": {
        "diskInterface": {
          "description": "Local SSDs are available through both \"SCSI\" and \"NVMe\" interfaces. If not indicated, \"NVMe\" will be the default one for local ssds. We only support \"SCSI\" for persistent disks now.",
          "type": "string"
        },
        "image": {
          "description": "Name of a public or custom image used as the data source. For example, the following are all valid URLs: * Specify the image by its family name: projects/{project}/global/images/family/{image_family} * Specify the image version: projects/{project}/global/images/{image_version} You can also use Batch customized image in short names. The following image values are supported for a boot disk: * \"batch-debian\": use Batch Debian images. * \"batch-centos\": use Batch CentOS images. * \"batch-cos\": use Batch Container-Optimized images. * \"batch-hpc-centos\": use Batch HPC CentOS images.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Disk size in GB. For persistent disk, this field is ignored if `data_source` is `image` or `snapshot`. For local SSD, size_gb should be a multiple of 375GB, otherwise, the final size will be the next greater multiple of 375 GB. For boot disk, Batch will calculate the boot disk size based on source image and task requirements if you do not speicify the size. If both this field and the boot_disk_mib field in task spec's compute_resource are defined, Batch will only honor this field.",
          "format": "int64",
          "type": "string"
        },
        "snapshot": {
          "description": "Name of a snapshot used as the data source. Snapshot is not supported as boot disk now.",
          "type": "string"
        },
        "type": {
          "description": "Disk type as shown in `gcloud compute disk-types list`. For example, local SSD uses type \"local-ssd\". Persistent disks and boot disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\".",
          "type": "string"
        }
      }
    },
    "AttachedDisk": {
      "description": "A new or an existing persistent disk (PD) or a local ssd attached to a VM instance.",
      "id": "AttachedDisk",
      "properties": {
        "deviceName": {
          "description": "Device name that the guest operating system will see. It is used by Runnable.volumes field to mount disks. So please specify the device_name if you want Batch to help mount the disk, and it should match the device_name field in volumes.",
          "type": "string"
        },
        "newDisk": {
          "$ref": "Disk"
        },
        "existingDisk": {
          "type": "string",
          "description": "Name of an existing PD."
        }
      },
      "type": "object"
    },
    "Job": {
      "properties": {
        "name": {
          "description": "Output only. Job name. For example: \"projects/123456/locations/us-central1/jobs/job01\".",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Job was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time the Job was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels for the Job. Labels could be user provided or system generated. For example, \"labels\": { \"department\": \"finance\", \"environment\": \"test\" } You can assign up to 64 labels. [Google Compute Engine label restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) apply. Label names that start with \"goog-\" or \"google-\" are reserved.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "allocationPolicy": {
          "$ref": "AllocationPolicy",
          "description": "Compute resource allocation for all TaskGroups in the Job."
        },
        "status": {
          "readOnly": true,
          "$ref": "JobStatus",
          "description": "Output only. Job status. It is read only for users."
        },
        "logsPolicy": {
          "$ref": "LogsPolicy",
          "description": "Log preservation policy for the Job."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system generated unique ID (in UUID4 format) for the Job."
        },
        "taskGroups": {
          "description": "Required. TaskGroups in the Job. Only one TaskGroup is supported now.",
          "type": "array",
          "items": {
            "$ref": "TaskGroup"
          }
        },
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "JobNotification"
          },
          "description": "Notification configurations."
        },
        "priority": {
          "description": "Priority of the Job. The valid value range is [0, 100). Default value is 0. Higher value indicates higher priority. A job with higher priority value is more likely to run earlier if all other requirements are satisfied.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Job",
      "type": "object",
      "description": "The Cloud Batch Job description."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "AgentEnvironment": {
      "type": "object",
      "properties": {
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values.",
          "$ref": "AgentKMSEnvMap"
        },
        "secretVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable."
        },
        "variables": {
          "description": "A map of environment variable names to values.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "AgentEnvironment is the Environment representation between Agent and CLH communication. The environment is used in both task level and agent level.",
      "id": "AgentEnvironment"
    },
    "LocationPolicy": {
      "properties": {
        "allowedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of allowed location names represented by internal URLs. Each location can be a region or a zone. Only one region or multiple zones in one region is supported now. For example, [\"regions/us-central1\"] allow VMs in any zones in region us-central1. [\"zones/us-central1-a\", \"zones/us-central1-c\"] only allow VMs in zones us-central1-a and us-central1-c. All locations end up in different regions would cause errors. For example, [\"regions/us-central1\", \"zones/us-central1-a\", \"zones/us-central1-b\", \"zones/us-west1-a\"] contains 2 regions \"us-central1\" and \"us-west1\". An error is expected in this case."
        }
      },
      "type": "object",
      "id": "LocationPolicy"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "Message": {
      "description": "Message details. Describe the attribute that a message should have. Without specified message attributes, no message will be sent by default.",
      "properties": {
        "newJobState": {
          "enumDescriptions": [
            "Job state unspecified.",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS"
          ],
          "type": "string",
          "description": "The new job state."
        },
        "type": {
          "description": "The message type.",
          "enumDescriptions": [
            "Unspecified.",
            "Notify users that the job state has changed.",
            "Notify users that the task state has changed."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "JOB_STATE_CHANGED",
            "TASK_STATE_CHANGED"
          ],
          "type": "string"
        },
        "newTaskState": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "type": "string",
          "description": "The new task state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ]
        }
      },
      "id": "Message",
      "type": "object"
    },
    "TaskGroup": {
      "description": "A TaskGroup defines one or more Tasks that all share the same TaskSpec.",
      "id": "TaskGroup",
      "type": "object",
      "properties": {
        "taskCountPerNode": {
          "description": "Max number of tasks that can be run on a VM at the same time. If not specified, the system will decide a value based on available compute resources on a VM and task requirements.",
          "type": "string",
          "format": "int64"
        },
        "taskSpec": {
          "description": "Required. Tasks in the group share the same task spec.",
          "$ref": "TaskSpec"
        },
        "taskEnvironments": {
          "items": {
            "$ref": "Environment"
          },
          "type": "array",
          "description": "An array of environment variable mappings, which are passed to Tasks with matching indices. If task_environments is used then task_count should not be specified in the request (and will be ignored). Task count will be the length of task_environments. Tasks get a BATCH_TASK_INDEX and BATCH_TASK_COUNT environment variable, in addition to any environment variables set in task_environments, specifying the number of Tasks in the Task's parent TaskGroup, and the specific Task's index in the TaskGroup (0 through BATCH_TASK_COUNT - 1)."
        },
        "requireHostsFile": {
          "type": "boolean",
          "description": "When true, Batch will populate a file with a list of all VMs assigned to the TaskGroup and set the BATCH_HOSTS_FILE environment variable to the path of that file. Defaults to false."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. TaskGroup name. The system generates this field based on parent Job name. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01\".",
          "type": "string"
        },
        "parallelism": {
          "type": "string",
          "description": "Max number of tasks that can run in parallel. Default to min(task_count, 1000). Field parallelism must be 1 if the scheduling_policy is IN_ORDER.",
          "format": "int64"
        },
        "taskCount": {
          "description": "Number of Tasks in the TaskGroup. Default is 1.",
          "format": "int64",
          "type": "string"
        },
        "permissiveSsh": {
          "description": "When true, Batch will configure SSH to allow passwordless login between VMs running the Batch tasks in the same TaskGroup.",
          "type": "boolean"
        },
        "schedulingPolicy": {
          "enumDescriptions": [
            "Unspecified.",
            "Run Tasks as soon as resources are available. Tasks might be executed in parallel depending on parallelism and task_count values.",
            "Run Tasks sequentially with increased task index."
          ],
          "enum": [
            "SCHEDULING_POLICY_UNSPECIFIED",
            "AS_SOON_AS_POSSIBLE",
            "IN_ORDER"
          ],
          "description": "Scheduling policy for Tasks in the TaskGroup. The default value is AS_SOON_AS_POSSIBLE.",
          "type": "string"
        }
      }
    },
    "ReportAgentStateRequest": {
      "type": "object",
      "properties": {
        "agentInfo": {
          "$ref": "AgentInfo",
          "description": "Agent info."
        },
        "metadata": {
          "description": "Agent metadata.",
          "$ref": "AgentMetadata"
        },
        "agentTimingInfo": {
          "$ref": "AgentTimingInfo",
          "description": "Agent timing info."
        }
      },
      "description": "Request to report agent's state. The Request itself implies the agent is healthy.",
      "id": "ReportAgentStateRequest"
    },
    "KMSEnvMap": {
      "id": "KMSEnvMap",
      "properties": {
        "keyName": {
          "description": "The name of the KMS key that will be used to decrypt the cipher text.",
          "type": "string"
        },
        "cipherText": {
          "type": "string",
          "description": "The value of the cipherText response from the `encrypt` method."
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AgentTaskSpec": {
      "description": "AgentTaskSpec is the user's TaskSpec representation between Agent and CLH communication.",
      "type": "object",
      "properties": {
        "maxRunDuration": {
          "type": "string",
          "description": "Maximum duration the task should run. The task will be killed and marked as FAILED if over this limit.",
          "format": "google-duration"
        },
        "environment": {
          "description": "Environment variables to set before running the Task.",
          "$ref": "AgentEnvironment"
        },
        "runnables": {
          "description": "AgentTaskRunnable is runanbles that will be executed on the agent.",
          "items": {
            "$ref": "AgentTaskRunnable"
          },
          "type": "array"
        }
      },
      "id": "AgentTaskSpec"
    },
    "ListTasksResponse": {
      "id": "ListTasksResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Tasks."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "ListTasks Response."
    },
    "JobStatus": {
      "description": "Job status.",
      "id": "JobStatus",
      "type": "object",
      "properties": {
        "taskGroups": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TaskGroupStatus"
          },
          "description": "Aggregated task status for each TaskGroup in the Job. The map key is TaskGroup ID."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS"
          ],
          "type": "string",
          "description": "Job state",
          "enumDescriptions": [
            "Job state unspecified.",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up."
          ]
        },
        "runDuration": {
          "description": "The duration of time that the Job spent in status RUNNING.",
          "type": "string",
          "format": "google-duration"
        },
        "statusEvents": {
          "description": "Job status events",
          "type": "array",
          "items": {
            "$ref": "StatusEvent"
          }
        }
      }
    },
    "Task": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "TaskStatus",
          "description": "Task Status."
        },
        "name": {
          "type": "string",
          "description": "Task name. The name is generated from the parent TaskGroup name and 'id' field. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01/tasks/task01\"."
        }
      },
      "description": "A Cloud Batch task.",
      "id": "Task"
    },
    "AgentScript": {
      "type": "object",
      "id": "AgentScript",
      "properties": {
        "text": {
          "description": "Shell script text. To specify an interpreter, please add a `#!\\n` at the beginning of the text.(For example, to execute the script using bash, `#!/bin/bash\\n` should be added. To execute the script using`Python3`, `#!/usr/bin/env python3\\n` should be added.) Otherwise, the script will by default be excuted by `/bin/sh`.",
          "type": "string"
        },
        "path": {
          "description": "Script file path on the host VM. To specify an interpreter, please add a `#!`(also known as [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix))) as the first line of the file.(For example, to execute the script using bash, `#!/bin/bash` should be the first line of the file. To execute the script using`Python3`, `#!/usr/bin/env python3` should be the first line of the file.) Otherwise, the file will by default be excuted by `/bin/sh`.",
          "type": "string"
        }
      },
      "description": "Script runnable representation on the agent side."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "AgentContainer": {
      "id": "AgentContainer",
      "type": "object",
      "properties": {
        "volumes": {
          "items": {
            "type": "string"
          },
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match docker run's --volume option, e.g. /foo:/bar, or /foo:/bar:ro",
          "type": "array"
        },
        "imageUri": {
          "type": "string",
          "description": "The URI to pull the container image from."
        },
        "commands": {
          "description": "Overrides the `CMD` specified in the container. If there is an ENTRYPOINT (either in the container image or with the entrypoint field below) then commands are appended as arguments to the ENTRYPOINT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "description": "Arbitrary additional options to include in the \"docker run\" command when running this container, e.g. \"--network host\".",
          "type": "string"
        },
        "entrypoint": {
          "type": "string",
          "description": "Overrides the `ENTRYPOINT` specified in the container."
        }
      },
      "description": "Container runnable representation on the agent side."
    },
    "AgentTaskInfo": {
      "type": "object",
      "properties": {
        "taskStatus": {
          "description": "The status of the Task. If we need agent specific fields we should fork the public TaskStatus into an agent specific one. Or add them below.",
          "$ref": "TaskStatus"
        },
        "taskId": {
          "description": "ID of the Task",
          "type": "string"
        },
        "runnable": {
          "format": "int64",
          "type": "string",
          "description": "The highest index of a runnable started by the agent for this task. The runnables are indexed from 1. Value 0 is undefined."
        }
      },
      "id": "AgentTaskInfo",
      "description": "Task Info"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "canonicalName": "Batch",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "batch.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "batch.projects.locations.get",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "id": "batch.projects.locations.operations.cancel"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "id": "batch.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "batch.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                }
              }
            },
            "jobs": {
              "resources": {
                "taskGroups": {
                  "resources": {
                    "tasks": {
                      "methods": {
                        "get": {
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Task"
                          },
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. Task name.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+/tasks/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Return a single Task.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks/{tasksId}"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.list",
                          "description": "List Tasks associated with a job.",
                          "parameters": {
                            "filter": {
                              "description": "Task filter, null filter matches all Tasks. Filter string should be of the format State=TaskStatus.State e.g. State=RUNNING",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Page token.",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. Name of a TaskGroup from which Tasks are being requested. Pattern: \"projects/{project}/locations/{location}/jobs/{job}/taskGroups/{task_group}\"",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+$"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "Page size.",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/tasks",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks",
                          "response": {
                            "$ref": "ListTasksResponse"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "path": "v1/{+parent}/jobs",
                  "id": "batch.projects.locations.jobs.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Page size."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Parent path.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "description": "List all Jobs for a project within a region.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Create a Job.",
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "id": "batch.projects.locations.jobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name where the Job will be created. Pattern: \"projects/{project}/locations/{location}\""
                    },
                    "jobId": {
                      "type": "string",
                      "location": "query",
                      "description": "ID used to uniquely identify the Job within its parent scope. This field should contain at most 63 characters and must start with lowercase characters. Only lowercase characters, numbers and '-' are accepted. The '-' character cannot be the first or the last one. A system generated ID will be used if the field is not set. The job.name field in the request will be ignored and the created resource name of the Job will be \"{parent}/jobs/{job_id}\"."
                    }
                  },
                  "path": "v1/{+parent}/jobs"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "description": "Job name."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "reason": {
                      "description": "Optional. Reason for this deletion.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a Job.",
                  "id": "batch.projects.locations.jobs.delete"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Get a Job specified by its resource name.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.jobs.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "description": "Required. Job name."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "state": {
              "methods": {
                "report": {
                  "path": "v1/{+parent}/state:report",
                  "id": "batch.projects.locations.state.report",
                  "response": {
                    "$ref": "ReportAgentStateResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ReportAgentStateRequest"
                  },
                  "description": "Report agent's state, e.g. agent status and tasks information",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/state:report",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: projects/{project}/locations/{location} {project} should be a project number.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/batch/",
  "mtlsRootUrl": "https://batch.mtls.googleapis.com/",
  "version_module": true,
  "title": "Batch API",
  "revision": "20230618",
  "baseUrl": "https://batch.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
