{
  "documentationLink": "https://cloud.google.com/bigquery/",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "basePath": "/bigquery/v2/",
  "title": "BigQuery API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "id": "bigquery:v2",
  "description": "A data platform for customers to create, manage, share and query data.",
  "name": "bigquery",
  "rootUrl": "https://bigquery.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "bigquery/v2/",
  "ownerName": "Google",
  "protocol": "rest",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "batchPath": "batch/bigquery/v2",
  "kind": "discovery#restDescription",
  "version": "v2",
  "resources": {
    "rowAccessPolicies": {
      "methods": {
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "id": "bigquery.rowAccessPolicies.setIamPolicy"
        },
        "list": {
          "httpMethod": "GET",
          "id": "bigquery.rowAccessPolicies.list",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "description": "Lists all row access policies on the specified table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the row access policies to list.",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "tableId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Table ID of the table to list row access policies."
            },
            "datasetId": {
              "description": "Required. Dataset ID of row access policies to list.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "testIamPermissions": {
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "path": "{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions"
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ]
        }
      }
    },
    "tables": {
      "methods": {
        "list": {
          "response": {
            "$ref": "TableList"
          },
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "parameters": {
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of the tables to list"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the tables to list",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            }
          },
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.tables.list"
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true
            }
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "bigquery.tables.getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "path": "{+resource}:getIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "id": "bigquery.tables.delete",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the table to delete"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to delete"
            },
            "tableId": {
              "description": "Table ID of the table to delete",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "patch": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "autodetect_schema": {
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema",
              "type": "boolean"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of the table to update",
              "location": "path"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Project ID of the table to update",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.patch",
          "request": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "bigquery.tables.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the new table",
              "location": "path",
              "required": true
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the new table",
              "required": true
            }
          },
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "POST",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Creates a new, empty table in the dataset.",
          "id": "bigquery.tables.insert",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "update": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "request": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.update",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the table to update",
              "type": "string",
              "location": "path"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "autodetect_schema": {
              "description": "When true will autodetect schema, else will keep original schema",
              "location": "query",
              "type": "boolean"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT"
        },
        "get": {
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.get",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Dataset ID of the requested table",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the requested table",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the requested table",
              "required": true,
              "location": "path"
            },
            "selectedFields": {
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "setIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "bigquery.tables.setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "location": "query",
              "type": "string",
              "format": "uint64"
            },
            "selectedFields": {
              "location": "query",
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the table to read"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to read"
            },
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "response": {
            "$ref": "TableDataList"
          },
          "httpMethod": "GET",
          "id": "bigquery.tabledata.list"
        },
        "insertAll": {
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of the destination table.",
              "location": "path"
            },
            "tableId": {
              "required": true,
              "description": "Table ID of the destination table.",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the destination table.",
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tabledata.insertAll",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "httpMethod": "POST"
        }
      }
    },
    "models": {
      "methods": {
        "patch": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.patch",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "modelId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to patch.",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to patch.",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to patch.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Patch specific fields in the specified model."
        },
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "description": "Deletes the model specified by modelId from the dataset.",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the model to delete.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Model ID of the model to delete."
            },
            "datasetId": {
              "description": "Required. Dataset ID of the model to delete.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "modelId": {
              "location": "path",
              "required": true,
              "description": "Required. Model ID of the requested model.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the requested model.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested model.",
              "required": true
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "description": "Gets the specified model resource by model ID.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "httpMethod": "GET",
          "id": "bigquery.models.get",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "response": {
            "$ref": "Model"
          }
        },
        "list": {
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the models to list.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results"
            },
            "datasetId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the models to list.",
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ListModelsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "httpMethod": "GET",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "id": "bigquery.models.list"
        }
      }
    },
    "jobs": {
      "methods": {
        "getQueryResults": {
          "description": "Retrieves the results of a query job.",
          "path": "projects/{projectId}/queries/{jobId}",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.getQueryResults",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "timeoutMs": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "startIndex": {
              "format": "uint64",
              "location": "query",
              "type": "string",
              "description": "Zero-based index of the starting row"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "[Required] Project ID of the query job"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to read",
              "format": "uint32",
              "location": "query"
            },
            "jobId": {
              "required": true,
              "description": "[Required] Job ID of the query job",
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "jobId": {
              "required": true,
              "type": "string",
              "description": "[Required] Job ID of the requested job",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "[Required] Project ID of the requested job"
            }
          },
          "id": "bigquery.jobs.get",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "id": "bigquery.jobs.delete",
          "httpMethod": "DELETE",
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "jobId": {
              "location": "path",
              "type": "string",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "cancel": {
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.jobs.cancel",
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the job to cancel",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "[Required] Project ID of the job to cancel",
              "required": true
            },
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "httpMethod": "POST",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "list": {
          "path": "projects/{projectId}/jobs",
          "response": {
            "$ref": "JobList"
          },
          "parameters": {
            "maxCreationTime": {
              "location": "query",
              "format": "uint64",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "type": "string"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "allUsers": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false"
            },
            "projectId": {
              "description": "Project ID of the jobs to list",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields",
              "type": "string",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "enum": [
                "full",
                "minimal"
              ],
              "location": "query"
            },
            "minCreationTime": {
              "format": "uint64",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "type": "string"
            },
            "stateFilter": {
              "repeated": true,
              "description": "Filter for job state",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "done",
                "pending",
                "running"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.list",
          "httpMethod": "GET"
        },
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "id": "bigquery.jobs.query",
          "path": "projects/{projectId}/queries",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project billed for the query"
            }
          }
        },
        "insert": {
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "request": {
            "$ref": "Job"
          },
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.insert",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that will be billed for the job",
              "type": "string"
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            },
            "accept": [
              "*/*"
            ]
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "id": "bigquery.projects.getServiceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID for which the service account is requested.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "httpMethod": "GET"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "location": "query"
            }
          },
          "id": "bigquery.projects.list",
          "response": {
            "$ref": "ProjectList"
          },
          "description": "Lists all projects to which you have been granted any project role.",
          "path": "projects",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "routines": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the routine to update",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Routine ID of the routine to update",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to update"
            }
          },
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "response": {
            "$ref": "Routine"
          },
          "request": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.update"
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.get",
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "routineId": {
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the requested routine",
              "location": "path",
              "type": "string",
              "required": true
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "description": "Required. Project ID of the requested routine",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the requested routine",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the specified routine resource by routine ID.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routines to list"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routines to list",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "type": "string",
              "location": "query"
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language."
            }
          },
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.routines.list",
          "httpMethod": "GET"
        },
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "routineId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to delete",
              "location": "path"
            },
            "projectId": {
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Deletes the routine specified by routineId from the dataset."
        },
        "insert": {
          "id": "bigquery.routines.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the new routine",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the new routine",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Creates a new routine in the dataset.",
          "request": {
            "$ref": "Routine"
          },
          "response": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines"
        }
      }
    },
    "datasets": {
      "methods": {
        "insert": {
          "id": "bigquery.datasets.insert",
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the new dataset"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query",
              "type": "boolean"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of dataset being deleted"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the dataset being deleted",
              "required": true
            }
          },
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "path": "projects/{projectId}/datasets",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the datasets to be listed",
              "location": "path",
              "required": true
            },
            "all": {
              "type": "boolean",
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DatasetList"
          },
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role."
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.get",
          "description": "Returns the dataset specified by datasetID.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the requested dataset",
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the requested dataset",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.patch",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Dataset"
          }
        }
      }
    }
  },
  "revision": "20220313",
  "schemas": {
    "GoogleSheetsOptions": {
      "id": "GoogleSheetsOptions",
      "properties": {
        "skipLeadingRows": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema."
        },
        "range": {
          "type": "string",
          "description": "[Optional] Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20"
        }
      },
      "type": "object"
    },
    "QueryRequest": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The resource type of the request.",
          "default": "bigquery#queryRequest",
          "type": "string"
        },
        "queryParameters": {
          "description": "Query parameters for Standard SQL queries.",
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array"
        },
        "dryRun": {
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false.",
          "type": "boolean"
        },
        "requestId": {
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "timeoutMs": {
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32",
          "type": "integer"
        },
        "maxResults": {
          "type": "integer",
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "format": "uint32"
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "query": {
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          },
          "type": "string",
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\"."
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean",
          "default": "true"
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "default": "true",
          "type": "boolean"
        },
        "connectionProperties": {
          "items": {
            "$ref": "ConnectionProperty"
          },
          "description": "Connection properties.",
          "type": "array"
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "type": "string",
          "format": "int64"
        },
        "location": {
          "type": "string",
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'.",
          "$ref": "DatasetReference"
        },
        "createSession": {
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode.",
          "type": "boolean"
        }
      },
      "id": "QueryRequest"
    },
    "BigtableColumn": {
      "type": "object",
      "id": "BigtableColumn",
      "properties": {
        "qualifierString": {
          "type": "string"
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels.",
          "type": "string"
        },
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "format": "byte",
          "type": "string"
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels."
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "type": "object",
      "properties": {
        "featureValues": {
          "type": "array",
          "description": "Values of highly variant features for this cluster.",
          "items": {
            "$ref": "FeatureValue"
          }
        },
        "centroidId": {
          "type": "string",
          "format": "int64",
          "description": "Centroid id."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of training data rows that were assigned to this cluster."
        }
      },
      "description": "Message containing the information about one cluster."
    },
    "StandardSqlField": {
      "id": "StandardSqlField",
      "properties": {
        "type": {
          "$ref": "StandardSqlDataType",
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field)."
        },
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A field or a column."
    },
    "Policy": {
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy"
    },
    "StandardSqlStructType": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "StandardSqlField"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "StandardSqlStructType"
    },
    "IntArrayHparamSearchSpace": {
      "description": "Search space for int array.",
      "id": "IntArrayHparamSearchSpace",
      "type": "object",
      "properties": {
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "IntArray"
          },
          "description": "Candidates for the int array parameter."
        }
      }
    },
    "JobConfiguration": {
      "id": "JobConfiguration",
      "type": "object",
      "properties": {
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined."
        },
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "query": {
          "description": "[Pick one] Configures a query job.",
          "$ref": "JobConfigurationQuery"
        },
        "load": {
          "description": "[Pick one] Configures a load job.",
          "$ref": "JobConfigurationLoad"
        },
        "extract": {
          "description": "[Pick one] Configures an extract job.",
          "$ref": "JobConfigurationExtract"
        },
        "copy": {
          "$ref": "JobConfigurationTableCopy",
          "description": "[Pick one] Copies a table."
        },
        "jobTimeoutMs": {
          "type": "string",
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
          "format": "int64"
        },
        "jobType": {
          "description": "[Output-only] The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN.",
          "type": "string"
        }
      }
    },
    "ErrorProto": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Specifies where the error occurred, if present."
        },
        "debugInfo": {
          "description": "Debugging information. This property is internal to Google and should not be used.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "A short error code that summarizes the error."
        },
        "message": {
          "description": "A human-readable description of the error.",
          "type": "string"
        }
      },
      "id": "ErrorProto",
      "type": "object"
    },
    "TableList": {
      "id": "TableList",
      "type": "object",
      "properties": {
        "totalItems": {
          "description": "The total number of tables in the dataset.",
          "type": "integer",
          "format": "int32"
        },
        "tables": {
          "type": "array",
          "description": "Tables in the requested dataset.",
          "items": {
            "properties": {
              "rangePartitioning": {
                "description": "The range partitioning specification for this table, if configured.",
                "$ref": "RangePartitioning"
              },
              "tableReference": {
                "$ref": "TableReference",
                "description": "A reference uniquely identifying the table."
              },
              "clustering": {
                "description": "[Beta] Clustering specification for this table, if configured.",
                "$ref": "Clustering"
              },
              "timePartitioning": {
                "$ref": "TimePartitioning",
                "description": "The time-based partitioning specification for this table, if configured."
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of the table"
              },
              "type": {
                "description": "The type of table. Possible values are: TABLE, VIEW.",
                "type": "string"
              },
              "kind": {
                "description": "The resource type.",
                "default": "bigquery#table",
                "type": "string"
              },
              "expirationTime": {
                "type": "string",
                "format": "int64",
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed."
              },
              "friendlyName": {
                "description": "The user-friendly name for this table.",
                "type": "string"
              },
              "labels": {
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "view": {
                "properties": {
                  "useLegacySql": {
                    "type": "boolean",
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL."
                  }
                },
                "description": "Additional details for a view.",
                "type": "object"
              },
              "creationTime": {
                "description": "The time when this table was created, in milliseconds since the epoch.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "type": "string",
          "default": "bigquery#tableList",
          "description": "The type of list."
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      }
    },
    "HparamTuningTrial": {
      "description": "Training info of a trial in hyperparameter tuning.",
      "properties": {
        "startTimeMs": {
          "type": "string",
          "format": "int64",
          "description": "Starting time of the trial."
        },
        "endTimeMs": {
          "format": "int64",
          "description": "Ending time of the trial.",
          "type": "string"
        },
        "hparams": {
          "description": "The hyperprameters selected for this trial.",
          "$ref": "TrainingOptions"
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of trial.",
          "type": "number",
          "format": "double"
        },
        "hparamTuningEvaluationMetrics": {
          "description": "Hyperparameter tuning evaluation metrics of this trial calculated on the eval data. Unlike evaluation_metrics, only the fields corresponding to the hparam_tuning_objectives are set.",
          "$ref": "EvaluationMetrics"
        },
        "evaluationMetrics": {
          "description": "Evaluation metrics of this trial calculated on the test data. Empty in Job API.",
          "$ref": "EvaluationMetrics"
        },
        "trialId": {
          "format": "int64",
          "description": "1-based index of the trial.",
          "type": "string"
        },
        "status": {
          "enum": [
            "TRIAL_STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "INFEASIBLE",
            "STOPPED_EARLY"
          ],
          "description": "The status of the trial.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Scheduled but not started.",
            "Running state.",
            "The trial succeeded.",
            "The trial failed.",
            "The trial is infeasible due to the invalid params.",
            "Trial stopped early because it's not promising."
          ]
        },
        "trainingLoss": {
          "description": "Loss computed on the training data at the end of trial.",
          "format": "double",
          "type": "number"
        },
        "errorMessage": {
          "description": "Error message for FAILED and INFEASIBLE trial.",
          "type": "string"
        }
      },
      "id": "HparamTuningTrial",
      "type": "object"
    },
    "BigtableOptions": {
      "type": "object",
      "id": "BigtableOptions",
      "properties": {
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "columnFamilies": {
          "type": "array",
          "items": {
            "$ref": "BigtableColumnFamily"
          },
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable."
        },
        "readRowkeyAsString": {
          "type": "boolean",
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false."
        }
      }
    },
    "BigQueryModelTraining": {
      "id": "BigQueryModelTraining",
      "type": "object",
      "properties": {
        "expectedTotalIterations": {
          "format": "int64",
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop.",
          "type": "string"
        },
        "currentIteration": {
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ScriptStackFrame": {
      "id": "ScriptStackFrame",
      "properties": {
        "endColumn": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based end column."
        },
        "startLine": {
          "description": "[Output-only] One-based start line.",
          "format": "int32",
          "type": "integer"
        },
        "startColumn": {
          "description": "[Output-only] One-based start column.",
          "format": "int32",
          "type": "integer"
        },
        "text": {
          "description": "[Output-only] Text of the current statement/expression.",
          "type": "string"
        },
        "endLine": {
          "format": "int32",
          "description": "[Output-only] One-based end line.",
          "type": "integer"
        },
        "procedureId": {
          "description": "[Output-only] Name of the active procedure, empty if in a top-level script.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloneDefinition": {
      "type": "object",
      "id": "CloneDefinition",
      "properties": {
        "baseTableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of the table that was cloned."
        },
        "cloneTime": {
          "description": "[Required] The time at which the base table was cloned. This value is reported in the JSON response using RFC3339 format.",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "BinaryClassificationMetrics": {
      "type": "object",
      "properties": {
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        },
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          },
          "type": "array"
        },
        "positiveLabel": {
          "description": "Label representing the positive class.",
          "type": "string"
        },
        "aggregateClassificationMetrics": {
          "$ref": "AggregateClassificationMetrics",
          "description": "Aggregate classification metrics."
        }
      },
      "id": "BinaryClassificationMetrics",
      "description": "Evaluation metrics for binary classification/classifier models."
    },
    "HivePartitioningOptions": {
      "properties": {
        "mode": {
          "type": "string",
          "description": "[Optional] When set, what mode of hive partitioning to use when reading data. The following modes are supported. (1) AUTO: automatically infer partition key name(s) and type(s). (2) STRINGS: automatically infer partition key name(s). All types are interpreted as strings. (3) CUSTOM: partition key schema is encoded in the source URI prefix. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported types include: AVRO, CSV, JSON, ORC and Parquet."
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified. Note that this field should only be true when creating a permanent external table or querying a temporary external table. Hive-partitioned loads with requirePartitionFilter explicitly set to true will fail.",
          "type": "boolean"
        },
        "sourceUriPrefix": {
          "type": "string",
          "description": "[Optional] When hive partition detection is requested, a common prefix for all source uris should be supplied. The prefix must end immediately before the partition key encoding begins. For example, consider files following this data layout. gs://bucket/path_to_table/dt=2019-01-01/country=BR/id=7/file.avro gs://bucket/path_to_table/dt=2018-12-31/country=CA/id=3/file.avro When hive partitioning is requested with either AUTO or STRINGS detection, the common prefix can be either of gs://bucket/path_to_table or gs://bucket/path_to_table/ (trailing slash does not matter)."
        }
      },
      "id": "HivePartitioningOptions",
      "type": "object"
    },
    "MaterializedViewDefinition": {
      "type": "object",
      "properties": {
        "enableRefresh": {
          "description": "[Optional] [TrustedTester] Enable automatic refresh of the materialized view when the base table is updated. The default value is \"true\".",
          "type": "boolean"
        },
        "refreshIntervalMs": {
          "type": "string",
          "description": "[Optional] [TrustedTester] The maximum frequency at which this materialized view will be refreshed. The default value is \"1800000\" (30 minutes).",
          "format": "int64"
        },
        "lastRefreshTime": {
          "format": "int64",
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch.",
          "type": "string"
        },
        "query": {
          "description": "[Required] A query whose result is persisted.",
          "type": "string"
        }
      },
      "id": "MaterializedViewDefinition"
    },
    "TableCell": {
      "type": "object",
      "id": "TableCell",
      "properties": {
        "v": {
          "type": "any"
        }
      }
    },
    "ListRoutinesResponse": {
      "properties": {
        "routines": {
          "items": {
            "$ref": "Routine"
          },
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRoutinesResponse"
    },
    "DoubleCandidates": {
      "properties": {
        "candidates": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Candidates for the double parameter in increasing order.",
          "type": "array"
        }
      },
      "id": "DoubleCandidates",
      "type": "object",
      "description": "Discrete candidates of a double hyperparameter."
    },
    "TransactionInfo": {
      "id": "TransactionInfo",
      "properties": {
        "transactionId": {
          "description": "[Output-only] // [Alpha] Id of the transaction.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobConfigurationExtract": {
      "type": "object",
      "id": "JobConfigurationExtract",
      "properties": {
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models."
        },
        "sourceTable": {
          "description": "A reference to the table being exported.",
          "$ref": "TableReference"
        },
        "destinationUri": {
          "type": "string",
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written."
        },
        "destinationFormat": {
[...]
