{
  "version": "v1",
  "name": "bigqueryreservation",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "BigQuery Reservation",
  "baseUrl": "https://bigqueryreservation.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "mtlsRootUrl": "https://bigqueryreservation.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "searchAllAssignments": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchAllAssignments",
              "id": "bigqueryreservation.projects.locations.searchAllAssignments",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchAllAssignmentsResponse"
              },
              "path": "v1/{+parent}:searchAllAssignments",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of items to return per page."
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string",
                  "location": "query"
                },
                "query": {
                  "location": "query",
                  "description": "Please specify resource name as assignee in the query. Examples: * `assignee=projects/myproject` * `assignee=folders/123` * `assignee=organizations/456`",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name with location (project name could be the wildcard '-'), e.g.: `projects/-/locations/US`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Looks up assignments for a specified resource for a particular region. If the request is about a project: 1. Assignments created on the project will be returned if they exist. 2. Otherwise assignments created on the closest ancestor will be returned. 3. Assignments for different JobTypes will all be returned. The same logic applies if the request is about a folder. If the request is about an organization, then assignments created on the organization will be returned (organization doesn't have ancestors). Comparing to ListAssignments, there are some behavior differences: 1. permission on the assignee will be verified in this API. 2. Hierarchy lookup (project-\u003efolder-\u003eorganization) happens in this API. 3. Parent here is `projects/*/locations/*`, instead of `projects/*/locations/*reservations/*`."
            },
            "updateBiReservation": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/biReservation$",
                  "required": true,
                  "type": "string",
                  "description": "The resource name of the singleton BI reservation. Reservation names have the form `projects/{project_id}/locations/{location_id}/biReservation`.",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "A list of fields to be updated in this request.",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "bigqueryreservation.projects.locations.updateBiReservation",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/biReservation",
              "response": {
                "$ref": "BiReservation"
              },
              "description": "Updates a BI reservation. Only fields specified in the `field_mask` are updated. A singleton BI reservation always exists with default size 0. In order to reserve BI capacity it needs to be updated to an amount greater than 0. In order to release BI capacity reservation size must be set to 0.",
              "request": {
                "$ref": "BiReservation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            },
            "searchAssignments": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of items to return per page.",
                  "format": "int32"
                },
                "query": {
                  "location": "query",
                  "description": "Please specify resource name as assignee in the query. Examples: * `assignee=projects/myproject` * `assignee=folders/123` * `assignee=organizations/456`",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the admin project(containing project and location), e.g.: `projects/myproject/locations/US`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}:searchAssignments",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SearchAssignmentsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchAssignments",
              "id": "bigqueryreservation.projects.locations.searchAssignments",
              "description": "Deprecated: Looks up assignments for a specified resource for a particular region. If the request is about a project: 1. Assignments created on the project will be returned if they exist. 2. Otherwise assignments created on the closest ancestor will be returned. 3. Assignments for different JobTypes will all be returned. The same logic applies if the request is about a folder. If the request is about an organization, then assignments created on the organization will be returned (organization doesn't have ancestors). Comparing to ListAssignments, there are some behavior differences: 1. permission on the assignee will be verified in this API. 2. Hierarchy lookup (project-\u003efolder-\u003eorganization) happens in this API. 3. Parent here is `projects/*/locations/*`, instead of `projects/*/locations/*reservations/*`. **Note** \"-\" cannot be used for projects nor locations.",
              "httpMethod": "GET"
            },
            "getBiReservation": {
              "path": "v1/{+name}",
              "description": "Retrieves a BI reservation.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the requested reservation, for example: `projects/{project_id}/locations/{location_id}/biReservation`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/biReservation$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/biReservation",
              "httpMethod": "GET",
              "response": {
                "$ref": "BiReservation"
              },
              "id": "bigqueryreservation.projects.locations.getBiReservation",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "capacityCommitments": {
              "methods": {
                "merge": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments:merge",
                  "request": {
                    "$ref": "MergeCapacityCommitmentsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Parent resource that identifies admin project and location e.g., `projects/myproject/locations/us`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/capacityCommitments:merge",
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.merge",
                  "description": "Merges capacity commitments of the same plan into a single commitment. The resulting capacity commitment has the greater commitment_end_time out of the to-be-merged capacity commitments. Attempting to merge capacity commitments of different plan will fail with the error code `google.rpc.Code.FAILED_PRECONDITION`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CapacityCommitment"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the capacity commitments for the admin project.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the parent reservation. E.g., `projects/myproject/locations/US`"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    }
                  },
                  "response": {
                    "$ref": "ListCapacityCommitmentsResponse"
                  },
                  "path": "v1/{+parent}/capacityCommitments"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.patch",
                  "request": {
                    "$ref": "CapacityCommitment"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates an existing capacity commitment. Only `plan` and `renewal_plan` fields can be updated. Plan can only be changed to a plan of a longer commitment period. Attempting to change to a plan with shorter commitment period will fail with the error code `google.rpc.Code.FAILED_PRECONDITION`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CapacityCommitment"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Output only. The resource name of the capacity commitment, e.g., `projects/myproject/locations/US/capacityCommitments/123` For the commitment id, it must only contain lower case alphanumeric characters or dashes.It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the capacity commitment to retrieve. E.g., `projects/myproject/locations/US/capacityCommitments/123`"
                    }
                  },
                  "description": "Returns information about the capacity commitment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CapacityCommitment"
                  }
                },
                "split": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}:split",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                      "description": "Required. The resource name e.g.,: `projects/myproject/locations/US/capacityCommitments/123`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.split",
                  "path": "v1/{+name}:split",
                  "request": {
                    "$ref": "SplitCapacityCommitmentRequest"
                  },
                  "description": "Splits capacity commitment to two commitments of the same plan and `commitment_end_time`. A common use case is to enable downgrading commitments. For example, in order to downgrade from 10000 slots to 8000, you might split a 10000 capacity commitment into commitments of 2000 and 8000. Then, you would change the plan of the first one to `FLEX` and then delete it.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SplitCapacityCommitmentResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.create",
                  "path": "v1/{+parent}/capacityCommitments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the parent reservation. E.g., `projects/myproject/locations/US`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "enforceSingleAdminProjectPerOrg": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, fail the request if another project in the organization has a capacity commitment."
                    },
                    "capacityCommitmentId": {
                      "description": "The optional capacity commitment ID. Capacity commitment name will be generated automatically if this field is empty. This field must only contain lower case alphanumeric characters or dashes. The first and last character cannot be a dash. Max length is 64 characters. NOTE: this ID won't be kept if the capacity commitment is split or merged.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new capacity commitment resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CapacityCommitment"
                  },
                  "response": {
                    "$ref": "CapacityCommitment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments"
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "description": "Can be used to force delete commitments even if assignments exist. Deleting commitments with assignments may cause queries to fail if they no longer have access to slots.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                      "description": "Required. Resource name of the capacity commitment to delete. E.g., `projects/myproject/locations/US/capacityCommitments/123`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                  "path": "v1/{+name}",
                  "description": "Deletes a capacity commitment. Attempting to delete capacity commitment before its commitment_end_time will fail with the error code `google.rpc.Code.FAILED_PRECONDITION`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                }
              }
            },
            "reservations": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/reservations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name containing project and location, e.g.: `projects/myproject/locations/US`"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return per page.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "Lists all the reservations for the project in the specified location.",
                  "id": "bigqueryreservation.projects.locations.reservations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/reservations",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project, location. E.g., `projects/myproject/locations/US`"
                    },
                    "reservationId": {
                      "description": "The reservation ID. It must only contain lower case alphanumeric characters or dashes.It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "id": "bigqueryreservation.projects.locations.reservations.create",
                  "response": {
                    "$ref": "Reservation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Reservation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new reservation resource.",
                  "httpMethod": "POST"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The resource name of the reservation, e.g., `projects/*/locations/*/reservations/team1-prod`. For the reservation id, it must only contain lower case alphanumeric characters or dashes.It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Standard field mask for the set of fields to be updated."
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Reservation"
                  },
                  "id": "bigqueryreservation.projects.locations.reservations.patch",
                  "description": "Updates an existing reservation resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Reservation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigqueryreservation.projects.locations.reservations.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                      "description": "Required. Resource name of the reservation to retrieve. E.g., `projects/myproject/locations/US/reservations/team1-prod`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a reservation. Returns `google.rpc.Code.FAILED_PRECONDITION` when reservation has assignments."
                },
                "get": {
                  "path": "v1/{+name}",
                  "id": "bigqueryreservation.projects.locations.reservations.get",
                  "description": "Returns information about the reservation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the reservation to retrieve. E.g., `projects/myproject/locations/US/reservations/team1-prod`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                  "response": {
                    "$ref": "Reservation"
                  }
                }
              },
              "resources": {
                "assignments": {
                  "methods": {
                    "delete": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a assignment. No expansion will happen. Example: * Organization `organizationA` contains two projects, `project1` and `project2`. * Reservation `res1` exists and was created previously. * CreateAssignment was used previously to define the following associations between entities and reservations: `` and `` In this example, deletion of the `` assignment won't affect the other assignment ``. After said deletion, queries from `project1` will still use `res1` while queries from `project2` will switch to use on-demand mode.",
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the resource, e.g. `projects/myproject/locations/US/reservations/team1-prod/assignments/123`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+/assignments/[^/]+$"
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource name e.g.: `projects/myproject/locations/US/reservations/team1-prod` Or: `projects/myproject/locations/US/reservations/-`"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of items to return per page.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous List request, if any."
                        }
                      },
                      "path": "v1/{+parent}/assignments",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListAssignmentsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments",
                      "description": "Lists assignments. Only explicitly created assignments will be returned. Example: * Organization `organizationA` contains two projects, `project1` and `project2`. * Reservation `res1` exists and was created previously. * CreateAssignment was used previously to define the following associations between entities and reservations: `` and `` In this example, ListAssignments will just return the above two assignments for reservation `res1`, and no expansion/merge will happen. The wildcard \"-\" can be used for reservations in the request. In that case all assignments belongs to the specified project and location will be listed. **Note** \"-\" cannot be used for projects nor locations.",
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.list"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "description": "Required. The parent resource name of the assignment E.g. `projects/myproject/locations/US/reservations/team1-prod`",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "assignmentId": {
                          "description": "The optional assignment ID. Assignment name will be generated automatically if this field is empty. This field must only contain lower case alphanumeric characters or dashes. Max length is 64 characters.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Assignment"
                      },
                      "httpMethod": "POST",
                      "description": "Creates an assignment object which allows the given project to submit jobs of a certain type using slots from the specified reservation. Currently a resource (project, folder, organization) can only have one assignment per each (job_type, location) combination, and that reservation will be used for all jobs of the matching type. Different assignments can be created on different levels of the projects, folders or organization hierarchy. During query execution, the assignment is looked up at the project, folder and organization levels in that order. The first assignment found is applied to the query. When creating assignments, it does not matter if other assignments exist at higher levels. Example: * The organization `organizationA` contains two projects, `project1` and `project2`. * Assignments for all three entities (`organizationA`, `project1`, and `project2`) could all be created and mapped to the same or different reservations. \"None\" assignments represent an absence of the assignment. Projects assigned to None use on-demand pricing. To create a \"None\" assignment, use \"none\" as a reservation_id in the parent. Example parent: `projects/myproject/locations/US/reservations/none`. Returns `google.rpc.Code.PERMISSION_DENIED` if user does not have 'bigquery.admin' permissions on the project using the reservation and the project that owns this reservation. Returns `google.rpc.Code.INVALID_ARGUMENT` when location of the assignment does not match location of the reservation.",
                      "path": "v1/{+parent}/assignments",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments",
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.create",
                      "response": {
                        "$ref": "Assignment"
                      }
                    },
                    "move": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Moves an assignment under a new reservation. This differs from removing an existing assignment and recreating a new one by providing a transactional change that ensures an assignee always has an associated reservation.",
                      "request": {
                        "$ref": "MoveAssignmentRequest"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+/assignments/[^/]+$",
                          "description": "Required. The resource name of the assignment, e.g. `projects/myproject/locations/US/reservations/team1-prod/assignments/123`",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.move",
                      "path": "v1/{+name}:move",
                      "response": {
                        "$ref": "Assignment"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}:move"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "bigqueryreservation:v1",
  "ownerName": "Google",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "description": "A service to modify your BigQuery flat-rate reservations.",
  "title": "BigQuery Reservation API",
  "servicePath": "",
  "protocol": "rest",
  "basePath": "",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "schemas": {
    "BiReservation": {
      "id": "BiReservation",
      "description": "Represents a BI Reservation.",
      "type": "object",
      "properties": {
        "size": {
          "type": "string",
          "description": "Size of a reservation, in bytes.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the singleton BI reservation. Reservation names have the form `projects/{project_id}/locations/{location_id}/biReservation`."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update timestamp of a reservation.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "MoveAssignmentRequest": {
      "properties": {
        "destinationId": {
          "description": "The new reservation ID, e.g.: `projects/myotherproject/locations/US/reservations/team2-prod`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for ReservationService.MoveAssignment. **Note**: \"bigquery.reservationAssignments.create\" permission is required on the destination_id. **Note**: \"bigquery.reservationAssignments.create\" and \"bigquery.reservationAssignments.delete\" permission are required on the related assignee.",
      "id": "MoveAssignmentRequest"
    },
    "Reservation": {
      "id": "Reservation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the reservation, e.g., `projects/*/locations/*/reservations/team1-prod`. For the reservation id, it must only contain lower case alphanumeric characters or dashes.It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of the reservation.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of the reservation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "ignoreIdleSlots": {
          "description": "If false, any query or pipeline job using this reservation will use idle slots from other reservations within the same admin project. If true, a query or pipeline job using this reservation will execute with the slot capacity specified in the slot_capacity field at most.",
          "type": "boolean"
        },
        "multiRegionAuxiliary": {
          "type": "boolean",
          "description": "Applicable only for reservations located within one of the BigQuery multi-regions (US or EU). If set to true, this reservation is placed in the organization's secondary region which is designated for disaster recovery purposes. If false, this reservation is placed in the organization's default region."
        },
        "slotCapacity": {
          "description": "Minimum slots available to this reservation. A slot is a unit of computational power in BigQuery, and serves as the unit of parallelism. Queries using this reservation might use more slots during runtime if ignore_idle_slots is set to false. If the new reservation's slot capacity exceed the project's slot capacity or if total slot capacity of the new reservation and its siblings exceeds the project's slot capacity, the request will fail with `google.rpc.Code.RESOURCE_EXHAUSTED`. NOTE: for reservations in US or EU multi-regions slot capacity constraints are checked separately for default and auxiliary regions. See multi_region_auxiliary flag for more details.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A reservation is a mechanism used to guarantee slots to users."
    },
    "SplitCapacityCommitmentRequest": {
      "description": "The request for ReservationService.SplitCapacityCommitment.",
      "type": "object",
      "id": "SplitCapacityCommitmentRequest",
      "properties": {
        "slotCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of slots in the capacity commitment after the split."
        }
      }
    },
    "ListCapacityCommitmentsResponse": {
      "properties": {
        "capacityCommitments": {
          "items": {
            "$ref": "CapacityCommitment"
          },
          "description": "List of capacity commitments visible to the user.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "ListCapacityCommitmentsResponse",
      "description": "The response for ReservationService.ListCapacityCommitments.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {}
    },
    "SearchAllAssignmentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "assignments": {
          "type": "array",
          "items": {
            "$ref": "Assignment"
          },
          "description": "List of assignments visible to the user."
        }
      },
      "id": "SearchAllAssignmentsResponse",
      "type": "object",
      "description": "The response for ReservationService.SearchAllAssignments."
    },
    "ListAssignmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "assignments": {
          "items": {
            "$ref": "Assignment"
          },
          "type": "array",
          "description": "List of assignments visible to the user."
        }
      },
      "description": "The response for ReservationService.ListAssignments.",
      "type": "object",
      "id": "ListAssignmentsResponse"
    },
    "SearchAssignmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "assignments": {
          "type": "array",
          "description": "List of assignments visible to the user.",
          "items": {
            "$ref": "Assignment"
          }
        }
      },
      "type": "object",
      "description": "The response for ReservationService.SearchAssignments.",
      "id": "SearchAssignmentsResponse"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "MergeCapacityCommitmentsRequest": {
      "description": "The request for ReservationService.MergeCapacityCommitments.",
      "properties": {
        "capacityCommitmentIds": {
          "description": "Ids of capacity commitments to merge. These capacity commitments must exist under admin project and location specified in the parent. ID is the last portion of capacity commitment name e.g., 'abc' for projects/myproject/locations/US/capacityCommitments/abc",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "MergeCapacityCommitmentsRequest"
    },
    "SplitCapacityCommitmentResponse": {
      "properties": {
        "second": {
          "$ref": "CapacityCommitment",
          "description": "Second capacity commitment, result of a split."
        },
        "first": {
          "$ref": "CapacityCommitment",
          "description": "First capacity commitment, result of a split."
        }
      },
      "id": "SplitCapacityCommitmentResponse",
      "type": "object",
      "description": "The response for ReservationService.SplitCapacityCommitment."
    },
    "ListReservationsResponse": {
      "id": "ListReservationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "reservations": {
          "type": "array",
          "items": {
            "$ref": "Reservation"
          },
          "description": "List of reservations visible to the user."
        }
      },
      "description": "The response for ReservationService.ListReservations.",
      "type": "object"
    },
    "CapacityCommitment": {
      "description": "Capacity commitment is a way to purchase compute capacity for BigQuery jobs (in the form of slots) with some committed period of usage. Annual commitments renew by default. Commitments can be removed after their commitment end time passes. In order to remove annual commitment, its plan needs to be changed to monthly or flex first. A capacity commitment resource exists as a child resource of the admin project.",
      "id": "CapacityCommitment",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the capacity commitment, e.g., `projects/myproject/locations/US/capacityCommitments/123` For the commitment id, it must only contain lower case alphanumeric characters or dashes.It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
          "type": "string"
        },
        "commitmentEndTime": {
          "readOnly": true,
          "description": "Output only. The end of the current commitment period. It is applicable only for ACTIVE capacity commitments.",
          "type": "string",
          "format": "google-datetime"
        },
        "failureStatus": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. For FAILED commitment plan, provides the reason of failure."
        },
        "slotCount": {
          "format": "int64",
          "description": "Number of slots in this commitment.",
          "type": "string"
        },
        "plan": {
          "description": "Capacity commitment commitment plan.",
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "FLEX",
            "TRIAL",
            "MONTHLY",
            "ANNUAL"
          ],
          "enumDescriptions": [
            "Invalid plan value. Requests with this value will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`.",
            "Flex commitments have committed period of 1 minute after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Trial commitments have a committed period of 182 days after becoming ACTIVE. After that, they are converted to a new commitment based on the `renewal_plan`. Default `renewal_plan` for Trial commitment is Flex so that it can be deleted right after committed period ends.",
            "Monthly commitments have a committed period of 30 days after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Annual commitments have a committed period of 365 days after becoming ACTIVE. After that they are converted to a new commitment based on the renewal_plan."
          ]
        },
        "renewalPlan": {
          "type": "string",
          "description": "The plan this capacity commitment is converted to after commitment_end_time passes. Once the plan is changed, committed period is extended according to commitment plan. Only applicable for ANNUAL and TRIAL commitments.",
          "enumDescriptions": [
            "Invalid plan value. Requests with this value will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`.",
            "Flex commitments have committed period of 1 minute after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Trial commitments have a committed period of 182 days after becoming ACTIVE. After that, they are converted to a new commitment based on the `renewal_plan`. Default `renewal_plan` for Trial commitment is Flex so that it can be deleted right after committed period ends.",
            "Monthly commitments have a committed period of 30 days after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Annual commitments have a committed period of 365 days after becoming ACTIVE. After that they are converted to a new commitment based on the renewal_plan."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "FLEX",
            "TRIAL",
            "MONTHLY",
            "ANNUAL"
          ]
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED"
          ],
          "description": "Output only. State of the commitment.",
          "enumDescriptions": [
            "Invalid state value.",
            "Capacity commitment is pending provisioning. Pending capacity commitment does not contribute to the project's slot_capacity.",
            "Once slots are provisioned, capacity commitment becomes active. slot_count is added to the project's slot_capacity.",
            "Capacity commitment is failed to be activated by the backend."
          ]
        },
        "commitmentStartTime": {
          "description": "Output only. The start of the current commitment period. It is applicable only for ACTIVE capacity commitments.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "multiRegionAuxiliary": {
          "type": "boolean",
          "description": "Applicable only for commitments located within one of the BigQuery multi-regions (US or EU). If set to true, this commitment is placed in the organization's secondary region which is designated for disaster recovery purposes. If false, this commitment is placed in the organization's default region."
        }
      }
    },
    "Assignment": {
      "properties": {
        "jobType": {
          "enum": [
            "JOB_TYPE_UNSPECIFIED",
            "PIPELINE",
            "QUERY",
            "ML_EXTERNAL"
          ],
          "description": "Which type of jobs will use the reservation.",
          "enumDescriptions": [
            "Invalid type. Requests with this value will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`.",
            "Pipeline (load/export) jobs from the project will use the reservation.",
            "Query jobs from the project will use the reservation.",
            "BigQuery ML jobs that use services external to BigQuery for model training. These jobs will not utilize idle slots from other reservations."
          ],
          "type": "string"
        },
        "assignee": {
          "description": "The resource which will use the reservation. E.g. `projects/myproject`, `folders/123`, or `organizations/456`.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the resource. E.g.: `projects/myproject/locations/US/reservations/team1-prod/assignments/123`. For the assignment id, it must only contain lower case alphanumeric characters or dashes and the max length is 64 characters."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Invalid state value.",
            "Queries from assignee will be executed as on-demand, if related assignment is pending.",
            "Assignment is ready."
          ],
          "type": "string",
          "description": "Output only. State of the assignment.",
          "readOnly": true
        }
      },
      "id": "Assignment",
      "type": "object",
      "description": "An assignment allows a project to submit jobs of a certain type using slots from the specified reservation."
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://bigqueryreservation.googleapis.com/",
  "revision": "20220212"
}
