{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "basePath": "/bigquery/v2/",
  "servicePath": "bigquery/v2/",
  "version": "v2",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "tabledata": {
      "methods": {
        "insertAll": {
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "id": "bigquery.tabledata.insertAll",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the destination table.",
              "location": "path",
              "required": true
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "description": "Table ID of the destination table.",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the destination table.",
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "id": "bigquery.tabledata.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TableDataList"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the table to read",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, identifying the result set"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "type": "string",
              "location": "path",
              "required": true
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of results to return",
              "type": "integer"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "location": "query",
              "format": "uint64",
              "type": "string"
            }
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "patch": {
          "id": "bigquery.datasets.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the dataset being updated"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Dataset"
          }
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the requested dataset",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the requested dataset"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "description": "Returns the dataset specified by datasetID."
        },
        "insert": {
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the new dataset",
              "location": "path",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "id": "bigquery.datasets.insert",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          }
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Dataset ID of dataset being deleted",
              "required": true
            },
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being deleted",
              "type": "string"
            },
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "id": "bigquery.datasets.delete",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name."
        },
        "list": {
          "id": "bigquery.datasets.list",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the datasets to be listed",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results to return",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DatasetList"
          },
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "path": "projects/{projectId}/datasets",
          "parameterOrder": [
            "projectId"
          ]
        },
        "update": {
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.update",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all row access policies on the specified table.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.rowAccessPolicies.list",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the row access policies to list.",
              "required": true
            },
            "tableId": {
              "description": "Required. Table ID of the table to list row access policies.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of row access policies to list.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "pageSize": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results."
            }
          },
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          }
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
        },
        "testIamPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          }
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "setIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "path": "{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "id": "bigquery.tables.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy"
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the tables to list",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "description": "Project ID of the tables to list",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "response": {
            "$ref": "TableList"
          },
          "id": "bigquery.tables.list"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to delete",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to delete",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the table to delete"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "id": "bigquery.tables.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE"
        },
        "update": {
          "response": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "request": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to update",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "autodetect_schema": {
              "location": "query",
              "type": "boolean",
              "description": "When true will autodetect schema, else will keep original schema"
            }
          },
          "id": "bigquery.tables.update"
        },
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameters": {
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ],
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ]
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the requested table"
            },
            "tableId": {
              "description": "Table ID of the requested table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the requested table",
              "required": true,
              "location": "path"
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            }
          },
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.tables.get"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "required": true,
              "description": "Table ID of the table to update",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the table to update",
              "required": true
            },
            "autodetect_schema": {
              "type": "boolean",
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to update"
            }
          },
          "id": "bigquery.tables.patch",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PATCH",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "request": {
            "$ref": "Table"
          }
        },
        "insert": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "request": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.insert",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the new table"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the new table",
              "location": "path"
            }
          },
          "description": "Creates a new, empty table in the dataset.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "bigquery.tables.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "httpMethod": "POST",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions"
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.getIamPolicy"
        }
      }
    },
    "jobs": {
      "methods": {
        "delete": {
          "parameters": {
            "jobId": {
              "type": "string",
              "location": "path",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "location": {
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "id": "bigquery.jobs.delete",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted."
        },
        "cancel": {
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "JobCancelResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "jobId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the job to cancel"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "[Required] Project ID of the job to cancel"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "id": "bigquery.jobs.cancel"
        },
        "query": {
          "id": "bigquery.jobs.query",
          "path": "projects/{projectId}/queries",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "QueryRequest"
          },
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "QueryResponse"
          },
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "jobId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the requested job"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.get",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role."
        },
        "list": {
          "response": {
            "$ref": "JobList"
          },
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the jobs to list",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "type": "string",
              "location": "query"
            },
            "allUsers": {
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "location": "query",
              "type": "boolean"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ]
            },
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "description": "Filter for job state",
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "type": "string"
            },
            "minCreationTime": {
              "location": "query",
              "type": "string",
              "format": "uint64",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "location": "query",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "path": "projects/{projectId}/jobs",
          "parameters": {
            "projectId": {
              "description": "Project ID of the project that will be billed for the job",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Job"
          },
          "response": {
            "$ref": "Job"
          },
          "httpMethod": "POST",
          "id": "bigquery.jobs.insert",
          "parameterOrder": [
            "projectId"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "supportsMediaUpload": true,
          "description": "Starts a new asynchronous job. Requires the Can View project role."
        },
        "getQueryResults": {
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "description": "Retrieves the results of a query job.",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to read",
              "format": "uint32"
            },
            "startIndex": {
              "location": "query",
              "format": "uint64",
              "type": "string",
              "description": "Zero-based index of the starting row"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "[Required] Project ID of the query job"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "timeoutMs": {
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "jobId": {
              "location": "path",
              "type": "string",
              "description": "[Required] Job ID of the query job",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/queries/{jobId}",
          "httpMethod": "GET",
          "id": "bigquery.jobs.getQueryResults"
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "httpMethod": "DELETE",
          "id": "bigquery.routines.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the routine to delete"
            },
            "routineId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to delete",
              "required": true
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the routine to delete",
              "type": "string"
            }
          },
          "description": "Deletes the routine specified by routineId from the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.update",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "request": {
            "$ref": "Routine"
          },
          "response": {
            "$ref": "Routine"
          },
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of the routine to update",
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to update",
              "type": "string",
              "required": true
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the routine to update"
            }
          },
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "insert": {
          "description": "Creates a new routine in the dataset.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Routine"
          },
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the new routine",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.insert",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines"
        },
        "list": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.routines.list",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Dataset ID of the routines to list",
              "type": "string"
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language."
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "If set, then only the Routines matching this filter are returned. The supported format is `routineType:{RoutineType}`, where `{RoutineType}` is a RoutineType enum. For example: `routineType:SCALAR_FUNCTION`."
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the routines to list",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "response": {
            "$ref": "Routine"
          },
          "description": "Gets the specified routine resource by routine ID.",
          "id": "bigquery.routines.get",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the requested routine",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine",
              "location": "path"
            },
            "routineId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Routine ID of the requested routine"
            }
          }
        }
      }
    },
    "models": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Model"
          },
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested model."
            },
            "modelId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Model ID of the requested model.",
              "required": true
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the requested model.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "id": "bigquery.models.get",
          "description": "Gets the specified model resource by model ID.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "id": "bigquery.models.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "modelId": {
              "type": "string",
              "description": "Required. Model ID of the model to delete.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the model to delete.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the model to delete.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Deletes the model specified by modelId from the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        },
        "patch": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.patch",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Model"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Patch specific fields in the specified model.",
          "request": {
            "$ref": "Model"
          },
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the model to patch.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to patch."
            },
            "modelId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to patch."
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ListModelsResponse"
          },
          "id": "bigquery.models.list",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the models to list.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "path": "projects",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "description": "Lists all projects to which you have been granted any project role.",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            }
          },
          "id": "bigquery.projects.list"
        },
        "getServiceAccount": {
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID for which the service account is requested.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.projects.getServiceAccount",
          "path": "projects/{projectId}/serviceAccount"
        }
      }
    }
  },
  "schemas": {
    "JobConfigurationQuery": {
      "properties": {
        "maximumBillingTier": {
          "default": "1",
          "format": "int32",
          "type": "integer",
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default."
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "userDefinedFunctionResources": {
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "description": "Describes user-defined function resources used in the query."
        },
        "flattenResults": {
          "type": "boolean",
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "default": "true"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "allowLargeResults": {
          "type": "boolean",
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "default": "false"
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean",
          "default": "true"
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "continuous": {
          "type": "boolean",
          "description": "[Optional] Specifies whether the query should be executed as a continuous query. The default value is false."
        },
        "tableDefinitions": {
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          },
          "type": "object",
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
          "type": "boolean",
          "default": "true"
        },
        "destinationTable": {
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size.",
          "$ref": "TableReference"
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "connectionProperties": {
          "description": "Connection properties.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          }
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names."
        },
        "createSession": {
          "type": "boolean",
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
        },
        "queryParameters": {
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          },
          "description": "Query parameters for standard SQL queries."
        },
        "priority": {
          "type": "string",
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE."
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL.",
          "type": "string"
        },
        "maximumBytesBilled": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default."
        }
      },
      "id": "JobConfigurationQuery",
      "type": "object"
    },
    "ModelReference": {
      "id": "ModelReference",
      "type": "object",
      "properties": {
        "modelId": {
          "description": "Required. The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The ID of the dataset containing this model."
        },
        "projectId": {
          "description": "Required. The ID of the project containing this model.",
          "type": "string"
        }
      }
    },
    "TrainingOptions": {
      "properties": {
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties",
          "type": "string"
        },
        "distanceType": {
          "description": "Distance type for clustering models.",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "type": "string"
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order."
        },
        "numTrials": {
          "format": "int64",
          "type": "string",
          "description": "Number of trials to run this hyperparameter tuning job."
        },
        "timeSeriesIdColumn": {
          "type": "string",
          "description": "The time series id column that was used during ARIMA model training."
        },
        "colsampleBynode": {
          "format": "double",
          "description": "Subsample ratio of columns for each node(split) for boosted tree models.",
          "type": "number"
        },
        "autoArimaMinOrder": {
          "type": "string",
          "description": "The min value of the sum of non-seasonal p and q.",
          "format": "int64"
        },
        "tfVersion": {
          "type": "string",
          "description": "Based on the selected TF version, the corresponding docker image is used to train external models."
        },
        "initialLearnRate": {
          "format": "double",
          "description": "Specifies the initial learning rate for the line search learn rate strategy.",
          "type": "number"
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "type": "string"
        },
        "colsampleBylevel": {
          "description": "Subsample ratio of columns for each level for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "lossType": {
          "type": "string",
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ],
          "description": "Type of loss function used during training run.",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ]
        },
        "labelClassWeights": {
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "type": "object"
        },
        "minTimeSeriesLength": {
          "type": "string",
          "description": "Set fast trend ARIMA_PLUS model minimum training length. Use in pair with time_series_length_fraction.",
          "format": "int64"
        },
        "dataSplitMethod": {
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "type": "string",
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ]
        },
        "hparamTuningObjectives": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified evaluation metric.",
              "Mean absolute error. mean_absolute_error = AVG(ABS(label - predicted))",
              "Mean squared error. mean_squared_error = AVG(POW(label - predicted, 2))",
              "Mean squared log error. mean_squared_log_error = AVG(POW(LN(1 + label) - LN(1 + predicted), 2))",
              "Mean absolute error. median_absolute_error = APPROX_QUANTILES(absolute_error, 2)[OFFSET(1)]",
              "R^2 score. This corresponds to r2_score in ML.EVALUATE. r_squared = 1 - SUM(squared_error)/(COUNT(label)*VAR_POP(label))",
              "Explained variance. explained_variance = 1 - VAR_POP(label_error)/VAR_POP(label)",
              "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
              "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
              "Accuracy is the fraction of predictions given the correct label. For multiclass this is a globally micro-averaged metric.",
              "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
              "Logorithmic Loss. For multiclass this is a macro-averaged metric.",
              "Area Under an ROC Curve. For multiclass this is a macro-averaged metric.",
              "Davies-Bouldin Index.",
              "Mean Average Precision.",
              "Normalized Discounted Cumulative Gain.",
              "Average Rank."
            ],
            "type": "string",
            "enum": [
              "HPARAM_TUNING_OBJECTIVE_UNSPECIFIED",
              "MEAN_ABSOLUTE_ERROR",
              "MEAN_SQUARED_ERROR",
              "MEAN_SQUARED_LOG_ERROR",
              "MEDIAN_ABSOLUTE_ERROR",
              "R_SQUARED",
              "EXPLAINED_VARIANCE",
              "PRECISION",
              "RECALL",
              "ACCURACY",
              "F1_SCORE",
              "LOG_LOSS",
              "ROC_AUC",
              "DAVIES_BOULDIN_INDEX",
              "MEAN_AVERAGE_PRECISION",
              "NORMALIZED_DISCOUNTED_CUMULATIVE_GAIN",
              "AVERAGE_RANK"
            ]
          },
          "description": "The target evaluation metrics to optimize the hyperparameters for."
        },
        "modelUri": {
          "type": "string",
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models."
        },
        "colorSpace": {
          "description": "Enums for color space, used for processing images in Object Table. See more details at https://www.tensorflow.org/io/tutorials/colorspace.",
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "enumDescriptions": [
            "Unspecified color space",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "type": "string"
        },
        "walsAlpha": {
          "type": "number",
          "format": "double",
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified."
        },
        "minTreeChildWeight": {
          "type": "string",
          "description": "Minimum sum of instance weight needed in a child for boosted tree models.",
          "format": "int64"
        },
        "maxTreeDepth": {
          "format": "int64",
          "type": "string",
          "description": "Maximum depth of a tree for boosted tree models."
        },
        "includeDrift": {
          "description": "Include drift when fitting an ARIMA model.",
          "type": "boolean"
        },
        "maxParallelTrials": {
          "type": "string",
          "format": "int64",
          "description": "Maximum number of trials to run in parallel."
        },
        "userColumn": {
          "description": "User column specified for matrix factorization models.",
          "type": "string"
        },
        "horizon": {
          "format": "int64",
          "type": "string",
          "description": "The number of periods ahead that need to be forecasted."
        },
        "cleanSpikesAndDips": {
          "description": "If true, clean spikes and dips in the input time series.",
          "type": "boolean"
        },
        "warmStart": {
          "type": "boolean",
          "description": "Whether to train a model from the last checkpoint."
        },
        "instanceWeightColumn": {
          "type": "string",
          "description": "Name of the instance weight column for training data. This column isn't be used as a feature."
        },
        "l2Regularization": {
          "format": "double",
          "type": "number",
          "description": "L2 regularization coefficient."
        },
        "numParallelTree": {
          "format": "int64",
          "type": "string",
          "description": "Number of parallel trees constructed during each iteration for boosted tree models."
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "type": "string",
          "format": "int64"
        },
        "timeSeriesDataColumn": {
          "type": "string",
          "description": "Column to be designated as time series data for ARIMA model."
        },
        "itemColumn": {
          "type": "string",
          "description": "Item column specified for matrix factorization models."
        },
        "enableGlobalExplain": {
          "type": "boolean",
          "description": "If true, enable global explanation during training."
        },
        "hiddenUnits": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Hidden units for dnn models.",
          "type": "array"
        },
        "timeSeriesLengthFraction": {
          "format": "double",
          "type": "number",
          "description": "Get truncated length by fraction in time series."
        },
        "adjustStepChanges": {
          "type": "boolean",
          "description": "If true, detect step changes and make data adjustment in the input time series."
        },
        "calculatePValues": {
          "description": "Whether or not p-value test should be computed for this model. Only available for linear and logistic regression models.",
          "type": "boolean"
        },
        "earlyStop": {
          "type": "boolean",
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms."
        },
        "minRelativeProgress": {
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "maxTimeSeriesLength": {
          "description": "Get truncated length by last n points in time series. Use separately from time_series_length_fraction and min_time_series_length.",
          "format": "int64",
          "type": "string"
        },
        "timeSeriesIdColumns": {
          "description": "The time series id columns that were used during ARIMA model training.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subsample": {
          "format": "double",
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "type": "number"
        },
        "autoArimaMaxOrder": {
          "format": "int64",
          "type": "string",
          "description": "The max value of the sum of non-seasonal p and q."
        },
        "numClusters": {
          "format": "int64",
          "description": "Number of clusters for clustering models.",
          "type": "string"
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "minSplitLoss": {
          "type": "number",
          "description": "Minimum split loss for boosted tree models.",
          "format": "double"
        },
        "colsampleBytree": {
          "format": "double",
          "type": "number",
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models."
        },
        "timeSeriesTimestampColumn": {
          "type": "string",
          "description": "Column to be designated as time series timestamp for ARIMA model."
        },
        "optimizationStrategy": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "type": "string",
          "description": "Optimization strategy for training linear regression models.",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ]
        },
        "autoArima": {
          "type": "boolean",
          "description": "Whether to enable auto ARIMA or not."
        },
        "learnRateStrategy": {
          "type": "string",
          "description": "The strategy to determine learn rate for the current iteration.",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "feedbackType": {
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ],
          "type": "string"
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "format": "double",
          "type": "number"
        },
        "dartNormalizeType": {
          "type": "string",
          "description": "Type of normalization algorithm for boosted tree models using dart booster.",
          "enumDescriptions": [
            "Unspecified dart normalize type.",
            "New trees have the same weight of each of dropped trees.",
            "New trees have the same weight of sum of dropped trees."
          ],
          "enum": [
            "DART_NORMALIZE_TYPE_UNSPECIFIED",
            "TREE",
            "FOREST"
          ]
        },
        "xgboostVersion": {
          "description": "User-selected XGBoost versions for training of XGBoost models.",
          "type": "string"
        },
        "boosterType": {
          "description": "Booster type for boosted tree models.",
          "type": "string",
          "enum": [
            "BOOSTER_TYPE_UNSPECIFIED",
            "GBTREE",
            "DART"
          ],
          "enumDescriptions": [
            "Unspecified booster type.",
            "Gbtree booster.",
            "Dart booster."
          ]
        },
        "numFactors": {
          "type": "string",
          "format": "int64",
          "description": "Num factors specified for matrix factorization models."
        },
        "trendSmoothingWindowSize": {
          "type": "string",
          "description": "The smoothing window size for the trend component of the time series.",
          "format": "int64"
        },
        "l1Regularization": {
          "type": "number",
          "description": "L1 regularization coefficient.",
          "format": "double"
        },
        "maxIterations": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms."
        },
        "decomposeTimeSeries": {
          "description": "If true, perform decompose time series and save the results.",
          "type": "boolean"
        },
        "sampledShapleyNumPaths": {
          "type": "string",
          "description": "Number of paths for the sampled Shapley explain method.",
          "format": "int64"
        },
        "inputLabelColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of input label columns in training data."
        },
        "treeMethod": {
          "description": "Tree construction algorithm for boosted tree models.",
          "type": "string",
          "enum": [
            "TREE_METHOD_UNSPECIFIED",
            "AUTO",
            "EXACT",
            "APPROX",
            "HIST"
          ],
          "enumDescriptions": [
            "Unspecified tree method.",
            "Use heuristic to choose the fastest method.",
            "Exact greedy algorithm.",
            "Approximate greedy algorithm using quantile sketch and gradient histogram.",
            "Fast histogram optimized approximate greedy algorithm."
          ]
        },
        "holidayRegion": {
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ],
          "type": "string",
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ],
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled."
        },
        "integratedGradientsNumSteps": {
          "description": "Number of integral steps for the integrated gradients explain method.",
          "format": "int64",
          "type": "string"
        },
        "dataSplitEvalFraction": {
          "type": "number",
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2.",
          "format": "double"
        },
        "approxGlobalFeatureContrib": {
          "type": "boolean",
          "description": "Whether to use approximate feature contribution method in XGBoost model explanation for global explain."
        },
        "dataFrequency": {
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ],
          "description": "The data frequency of a time series."
        }
      },
      "description": "Options used in model training.",
      "id": "TrainingOptions",
      "type": "object"
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models.",
      "properties": {
        "medianAbsoluteError": {
          "format": "double",
          "type": "number",
          "description": "Median absolute error."
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "format": "double",
          "type": "number"
        },
        "rSquared": {
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE.",
          "format": "double",
          "type": "number"
        },
        "meanSquaredLogError": {
          "type": "number",
          "description": "Mean squared log error.",
          "format": "double"
        },
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "BiEngineReason": {
      "properties": {
        "code": {
          "default": "",
          "description": "[Output-only] High-level BI Engine reason for partial or disabled acceleration.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "[Output-only] Free form human-readable reason for partial or disabled acceleration.",
          "default": ""
        }
      },
      "type": "object",
      "id": "BiEngineReason"
    },
    "Streamingbuffer": {
      "properties": {
        "oldestEntryTime": {
          "description": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.",
          "format": "uint64",
          "type": "string"
        },
        "estimatedRows": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer."
        },
        "estimatedBytes": {
          "format": "uint64",
          "description": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.",
          "type": "string"
        }
      },
      "id": "Streamingbuffer",
      "type": "object"
    },
    "EvaluationMetrics": {
      "type": "object",
[...]
