{
  "servicePath": "bigquery/v2/",
  "revision": "20210813",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "description": "Data format for the response."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "name": "bigquery",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "title": "BigQuery API",
  "basePath": "/bigquery/v2/",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "description": "A data platform for customers to create, manage, share and query data.",
  "batchPath": "batch/bigquery/v2",
  "rootUrl": "https://bigquery.googleapis.com/",
  "version": "v2",
  "ownerDomain": "google.com",
  "schemas": {
    "IterationResult": {
      "properties": {
        "clusterInfos": {
          "type": "array",
          "items": {
            "$ref": "ClusterInfo"
          },
          "description": "Information about top clusters for clustering models."
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "trainingLoss": {
          "type": "number",
          "format": "double",
          "description": "Loss computed on the training data at the end of iteration."
        },
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the iteration, 0 based."
        },
        "arimaResult": {
          "$ref": "ArimaResult"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "IterationResult",
      "description": "Information about a single iteration of the training run.",
      "type": "object"
    },
    "ArimaCoefficients": {
      "type": "object",
      "properties": {
        "interceptCoefficient": {
          "format": "double",
          "type": "number",
          "description": "Intercept coefficient, just a double not an array."
        },
        "movingAverageCoefficients": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "Moving-average coefficients, an array of double."
        },
        "autoRegressiveCoefficients": {
          "type": "array",
          "description": "Auto-regressive coefficients, an array of double.",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "description": "Arima coefficients.",
      "id": "ArimaCoefficients"
    },
    "StandardSqlDataType": {
      "description": "The type of a variable, e.g., a function argument. Examples: INT64: {type_kind=\"INT64\"} ARRAY: {type_kind=\"ARRAY\", array_element_type=\"STRING\"} STRUCT\u003e: {type_kind=\"STRUCT\", struct_type={fields=[ {name=\"x\", type={type_kind=\"STRING\"}}, {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}} ]}}",
      "properties": {
        "typeKind": {
          "type": "string",
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as fully qualified 3 part: 0-5 15 2:30:45.6",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a decimal string.",
            "Encoded as a string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used because a JSON object cannot have duplicate field names."
          ],
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "INTERVAL",
            "GEOGRAPHY",
            "NUMERIC",
            "BIGNUMERIC",
            "JSON",
            "ARRAY",
            "STRUCT"
          ],
          "description": "Required. The top level type of this field. Can be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\")."
        },
        "structType": {
          "$ref": "StandardSqlStructType",
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\"."
        },
        "arrayElementType": {
          "$ref": "StandardSqlDataType",
          "description": "The type of the array's elements, if type_kind = \"ARRAY\"."
        }
      },
      "id": "StandardSqlDataType",
      "type": "object"
    },
    "TableFieldSchema": {
      "properties": {
        "type": {
          "description": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), NUMERIC, BIGNUMERIC, BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, INTERVAL, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD).",
          "type": "string"
        },
        "categories": {
          "properties": {
            "names": {
              "items": {
                "type": "string"
              },
              "description": "A list of category resource names. For example, \"projects/1/taxonomies/2/categories/3\". At most 5 categories are allowed.",
              "type": "array"
            }
          },
          "description": "[Optional] The categories attached to this field, used for field-level access control.",
          "type": "object"
        },
        "maxLength": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Maximum length of values of this field for STRINGS or BYTES. If max_length is not specified, no maximum length constraint is imposed on this field. If type = \"STRING\", then max_length represents the maximum UTF-8 length of strings in this field. If type = \"BYTES\", then max_length represents the maximum number of bytes in this field. It is invalid to set this field if type ≠ \"STRING\" and ≠ \"BYTES\"."
        },
        "description": {
          "description": "[Optional] The field description. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "precision": {
          "format": "int64",
          "description": "[Optional] Precision (maximum number of total digits in base 10) and scale (maximum number of digits in the fractional part in base 10) constraints for values of this field for NUMERIC or BIGNUMERIC. It is invalid to set precision or scale if type ≠ \"NUMERIC\" and ≠ \"BIGNUMERIC\". If precision and scale are not specified, no value range constraint is imposed on this field insofar as values are permitted by the type. Values of this NUMERIC or BIGNUMERIC field must be in this range when: - Precision (P) and scale (S) are specified: [-10P-S + 10-S, 10P-S - 10-S] - Precision (P) is specified but not scale (and thus scale is interpreted to be equal to zero): [-10P + 1, 10P - 1]. Acceptable values for precision and scale if both are specified: - If type = \"NUMERIC\": 1 ≤ precision - scale ≤ 29 and 0 ≤ scale ≤ 9. - If type = \"BIGNUMERIC\": 1 ≤ precision - scale ≤ 38 and 0 ≤ scale ≤ 38. Acceptable values for precision if only precision is specified but not scale (and thus scale is interpreted to be equal to zero): - If type = \"NUMERIC\": 1 ≤ precision ≤ 29. - If type = \"BIGNUMERIC\": 1 ≤ precision ≤ 38. If scale is specified but not precision, then it is invalid.",
          "type": "string"
        },
        "scale": {
          "description": "[Optional] See documentation for precision.",
          "type": "string",
          "format": "int64"
        },
        "mode": {
          "description": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE.",
          "type": "string"
        },
        "policyTags": {
          "properties": {
            "names": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "A list of category resource names. For example, \"projects/1/location/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is allowed."
            }
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 300 characters."
        },
        "fields": {
          "description": "[Optional] Describes the nested schema fields if the type property is set to RECORD.",
          "items": {
            "$ref": "TableFieldSchema"
          },
          "type": "array"
        },
        "collationSpec": {
          "type": "string",
          "description": "Optional. Collation specification of the field. It only can be set on string type field."
        }
      },
      "type": "object",
      "id": "TableFieldSchema"
    },
    "JobStatus": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array",
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful."
        },
        "state": {
          "type": "string",
          "description": "[Output-only] Running state of the job."
        },
        "errorResult": {
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful.",
          "$ref": "ErrorProto"
        }
      },
      "type": "object",
      "id": "JobStatus"
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "type": "object",
      "properties": {
        "meanSquaredLogError": {
          "format": "double",
          "type": "number",
          "description": "Mean squared log error."
        },
        "meanAbsoluteError": {
          "format": "double",
          "type": "number",
          "description": "Mean absolute error."
        },
        "medianAbsoluteError": {
          "format": "double",
          "type": "number",
          "description": "Median absolute error."
        },
        "meanSquaredError": {
          "type": "number",
          "description": "Mean squared error.",
          "format": "double"
        },
        "rSquared": {
          "format": "double",
          "type": "number",
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE."
        }
      },
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models."
    },
    "TableReference": {
      "id": "TableReference",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          }
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the project containing this table."
        }
      }
    },
    "BigQueryModelTraining": {
      "properties": {
        "expectedTotalIterations": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop."
        },
        "currentIteration": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress."
        }
      },
      "type": "object",
      "id": "BigQueryModelTraining"
    },
    "RoutineReference": {
      "properties": {
        "routineId": {
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this routine.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this routine."
        }
      },
      "id": "RoutineReference",
      "type": "object"
    },
    "JobConfigurationExtract": {
      "properties": {
        "useAvroLogicalTypes": {
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models.",
          "type": "boolean"
        },
        "destinationUris": {
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "compression": {
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models.",
          "type": "string"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        },
        "destinationUri": {
          "type": "string",
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written."
        },
        "sourceModel": {
          "$ref": "ModelReference",
          "description": "A reference to the model being exported."
        },
        "destinationFormat": {
          "type": "string",
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL."
        },
        "printHeader": {
          "default": "true",
          "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models.",
          "type": "boolean"
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','. Not applicable when extracting models."
        }
      },
      "id": "JobConfigurationExtract",
      "type": "object"
    },
    "ArimaModelInfo": {
      "description": "Arima model information.",
      "type": "object",
      "id": "ArimaModelInfo",
      "properties": {
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          }
        },
        "hasSpikesAndDips": {
          "type": "boolean",
          "description": "If true, spikes_and_dips is a part of time series decomposition result."
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "Non-seasonal order."
        },
        "timeSeriesIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns."
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "boolean"
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        },
        "timeSeriesId": {
          "type": "string",
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used."
        },
        "arimaFittingMetrics": {
          "$ref": "ArimaFittingMetrics",
          "description": "Arima fitting metrics."
        },
        "hasHolidayEffect": {
          "type": "boolean",
          "description": "If true, holiday_effect is a part of time series decomposition result."
        },
        "hasStepChanges": {
          "description": "If true, step_changes is a part of time series decomposition result.",
          "type": "boolean"
        }
      }
    },
    "UserDefinedFunctionResource": {
      "id": "UserDefinedFunctionResource",
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "[Pick one] A code resource to load from a Google Cloud Storage URI (gs://bucket/path).",
          "type": "string"
        },
        "inlineCode": {
          "type": "string",
          "description": "[Pick one] An inline resource that contains code for a user-defined function (UDF). Providing a inline code resource is equivalent to providing a URI for a file containing the same code."
        }
      },
      "description": "This is used for defining User Defined Function (UDF) resources only when using legacy SQL. Users of Standard SQL should leverage either DDL (e.g. CREATE [TEMPORARY] FUNCTION ... ) or the Routines API to define UDF resources. For additional information on migrating, see: https://cloud.google.com/bigquery/docs/reference/standard-sql/migrating-from-legacy-sql#differences_in_user-defined_javascript_functions"
    },
    "TrainingOptions": {
      "description": "Options used in model training.",
      "type": "object",
      "properties": {
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "format": "int64",
          "type": "string"
        },
        "minRelativeProgress": {
          "type": "number",
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "format": "double"
        },
        "numFactors": {
          "format": "int64",
          "description": "Num factors specified for matrix factorization models.",
          "type": "string"
        },
        "maxTreeDepth": {
          "format": "int64",
          "type": "string",
          "description": "Maximum depth of a tree for boosted tree models."
        },
        "learnRate": {
          "format": "double",
          "type": "number",
          "description": "Learning rate in training. Used only for iterative training algorithms."
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order."
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "type": "string"
        },
        "timeSeriesIdColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time series id columns that were used during ARIMA model training."
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "type": "number",
          "format": "double"
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "maxIterations": {
          "format": "int64",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string"
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "format": "double",
          "type": "number"
        },
        "autoArima": {
          "type": "boolean",
          "description": "Whether to enable auto ARIMA or not."
        },
        "inputLabelColumns": {
          "description": "Name of input label columns in training data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataSplitColumn": {
          "type": "string",
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties"
        },
        "dataFrequency": {
          "description": "The data frequency of a time series.",
          "type": "string",
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ]
        },
        "cleanSpikesAndDips": {
          "type": "boolean",
          "description": "If true, clean spikes and dips in the input time series."
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms.",
          "type": "boolean"
        },
        "kmeansInitializationColumn": {
          "type": "string",
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM."
        },
        "modelUri": {
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models.",
          "type": "string"
        },
        "decomposeTimeSeries": {
          "description": "If true, perform decompose time series and save the results.",
          "type": "boolean"
        },
        "itemColumn": {
          "type": "string",
          "description": "Item column specified for matrix factorization models."
        },
        "initialLearnRate": {
          "type": "number",
          "format": "double",
          "description": "Specifies the initial learning rate for the line search learn rate strategy."
        },
        "preserveInputStructs": {
          "description": "Whether to preserve the input structs in output feature names. Suppose there is a struct A with field b. When false (default), the output feature name is A_b. When true, the output feature name is A.b.",
          "type": "boolean"
        },
        "labelClassWeights": {
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "type": "object"
        },
        "autoArimaMaxOrder": {
          "format": "int64",
          "description": "The max value of non-seasonal p and q.",
          "type": "string"
        },
        "horizon": {
          "type": "string",
          "format": "int64",
          "description": "The number of periods ahead that need to be forecasted."
        },
        "includeDrift": {
          "description": "Include drift when fitting an ARIMA model.",
          "type": "boolean"
        },
        "timeSeriesIdColumn": {
          "description": "The time series id column that was used during ARIMA model training.",
          "type": "string"
        },
        "walsAlpha": {
          "format": "double",
          "type": "number",
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified."
        },
        "lossType": {
          "type": "string",
          "description": "Type of loss function used during training run.",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "optimizationStrategy": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "description": "Optimization strategy for training linear regression models.",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "type": "string"
        },
        "adjustStepChanges": {
          "description": "If true, detect step changes and make data adjustment in the input time series.",
          "type": "boolean"
        },
        "hiddenUnits": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Hidden units for dnn models."
        },
        "userColumn": {
          "type": "string",
          "description": "User column specified for matrix factorization models."
        },
        "timeSeriesTimestampColumn": {
          "description": "Column to be designated as time series timestamp for ARIMA model.",
          "type": "string"
        },
        "holidayRegion": {
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ],
          "type": "string",
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ],
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled."
        },
        "timeSeriesDataColumn": {
          "description": "Column to be designated as time series data for ARIMA model.",
          "type": "string"
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "feedbackType": {
          "type": "string",
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ]
        },
        "dataSplitEvalFraction": {
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2.",
          "format": "double",
          "type": "number"
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "type": "string",
          "format": "int64"
        },
        "dataSplitMethod": {
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ],
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ]
        },
        "distanceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "description": "Distance type for clustering models."
        },
        "learnRateStrategy": {
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "description": "The strategy to determine learn rate for the current iteration.",
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ],
          "type": "string"
        },
        "l2Regularization": {
          "format": "double",
          "type": "number",
          "description": "L2 regularization coefficient."
        }
      },
      "id": "TrainingOptions"
    },
    "JobConfiguration": {
      "id": "JobConfiguration",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "copy": {
          "description": "[Pick one] Copies a table.",
          "$ref": "JobConfigurationTableCopy"
        },
        "query": {
          "description": "[Pick one] Configures a query job.",
          "$ref": "JobConfigurationQuery"
        },
        "extract": {
          "$ref": "JobConfigurationExtract",
          "description": "[Pick one] Configures an extract job."
        },
        "dryRun": {
          "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined.",
          "type": "boolean"
        },
        "load": {
          "description": "[Pick one] Configures a load job.",
          "$ref": "JobConfigurationLoad"
        },
        "jobTimeoutMs": {
          "format": "int64",
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
          "type": "string"
        },
        "jobType": {
          "description": "[Output-only] The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RowAccessPolicyReference": {
      "properties": {
        "tableId": {
          "description": "[Required] The ID of the table containing this row access policy.",
          "type": "string"
        },
        "policyId": {
          "type": "string",
          "description": "[Required] The ID of the row access policy. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        },
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this row access policy."
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this row access policy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RowAccessPolicyReference"
    },
    "StandardSqlStructType": {
      "type": "object",
      "id": "StandardSqlStructType",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      }
    },
    "MultiClassClassificationMetrics": {
      "description": "Evaluation metrics for multi-class classification/classifier models.",
      "type": "object",
      "id": "MultiClassClassificationMetrics",
      "properties": {
        "aggregateClassificationMetrics": {
          "$ref": "AggregateClassificationMetrics",
          "description": "Aggregate classification metrics."
        },
        "confusionMatrixList": {
          "items": {
            "$ref": "ConfusionMatrix"
          },
          "description": "Confusion matrix at different thresholds.",
          "type": "array"
        }
      }
    },
    "JobStatistics": {
      "id": "JobStatistics",
      "type": "object",
      "properties": {
        "query": {
          "$ref": "JobStatistics2",
          "description": "[Output-only] Statistics for a query job."
        },
        "reservationUsage": {
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage."
              },
              "slotMs": {
                "format": "int64",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "rowLevelSecurityStatistics": {
          "$ref": "RowLevelSecurityStatistics",
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs."
        },
        "parentJobId": {
          "description": "[Output-only] If this is a child job, the id of the parent.",
          "type": "string"
        },
        "quotaDeferments": {
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "transactionInfo": {
          "$ref": "TransactionInfo",
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one."
        },
        "totalBytesProcessed": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead."
        },
        "completionRatio": {
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "type": "number",
          "format": "double"
        },
        "reservation_id": {
          "type": "string",
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job."
        },
        "numChildJobs": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of child jobs executed."
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "startTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE."
        },
        "load": {
          "$ref": "JobStatistics3",
          "description": "[Output-only] Statistics for a load job."
        },
        "scriptStatistics": {
          "$ref": "ScriptStatistics",
          "description": "[Output-only] Statistics for a child job of a script."
        },
        "totalSlotMs": {
          "type": "string",
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64"
        },
        "endTime": {
          "format": "int64",
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs."
        },
        "sessionInfo": {
          "$ref": "SessionInfo",
          "description": "[Output-only] [Preview] Information of the session if this job is part of one."
        }
      }
    },
    "ScriptStatistics": {
      "properties": {
        "evaluationKind": {
          "description": "[Output-only] Whether this child job was a statement or expression.",
          "type": "string"
        },
        "stackFrames": {
          "type": "array",
          "items": {
            "$ref": "ScriptStackFrame"
          },
          "description": "Stack trace showing the line/column/procedure name of each frame on the stack at the point where the current evaluation happened. The leaf frame is first, the primary script is last. Never empty."
        }
      },
      "type": "object",
      "id": "ScriptStatistics"
    },
    "RowAccessPolicy": {
      "properties": {
        "rowAccessPolicyReference": {
          "description": "Required. Reference describing the ID of this row access policy.",
          "$ref": "RowAccessPolicyReference"
        },
        "lastModifiedTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this row access policy was last modified, in milliseconds since the epoch."
        },
        "creationTime": {
          "description": "Output only. The time when this row access policy was created, in milliseconds since the epoch.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "filterPredicate": {
          "description": "Required. A SQL boolean expression that represents the rows defined by this row access policy, similar to the boolean expression in a WHERE clause of a SELECT query on a table. References to other tables, routines, and temporary functions are not supported. Examples: region=\"EU\" date_field = CAST('2019-9-27' as DATE) nullable_field is not NULL numeric_field BETWEEN 1.0 AND 5.0",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents access on a subset of rows on the specified table, defined by its filter predicate. Access to the subset of rows is controlled by its IAM policy.",
      "id": "RowAccessPolicy"
    },
    "TableDataList": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#tableDataList"
        },
        "rows": {
          "description": "Rows of results.",
          "items": {
            "$ref": "TableRow"
          },
          "type": "array"
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete table.",
          "format": "int64"
        },
        "pageToken": {
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.",
          "type": "string"
        }
      },
      "id": "TableDataList",
      "type": "object"
    },
    "JobStatistics3": {
      "type": "object",
      "id": "JobStatistics3",
      "properties": {
        "badRecords": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The number of bad records encountered. Note that if the job has failed because of more bad records encountered than the maximum allowed in the load job configuration, then this number can be less than the total number of bad records present in the input data."
        },
        "outputBytes": {
          "format": "int64",
          "description": "[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change.",
          "type": "string"
        },
        "inputFileBytes": {
          "type": "string",
          "description": "[Output-only] Number of bytes of source data in a load job.",
          "format": "int64"
        },
        "outputRows": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change."
        },
        "inputFiles": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of source files in a load job."
        }
      }
    },
    "JobReference": {
      "id": "JobReference",
      "type": "object",
      "properties": {
        "jobId": {
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string",
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters."
        },
        "location": {
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this job.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string"
        }
      }
    },
    "ExplainQueryStage": {
      "type": "object",
      "id": "ExplainQueryStage",
      "properties": {
        "id": {
          "description": "Unique ID for stage within plan.",
          "type": "string",
          "format": "int64"
        },
        "waitRatioAvg": {
          "type": "number",
          "description": "Relative amount of time the average shard spent waiting to be scheduled.",
          "format": "double"
        },
        "shuffleOutputBytesSpilled": {
          "description": "Total number of bytes written to shuffle and spilled to disk.",
          "type": "string",
          "format": "int64"
        },
        "readMsAvg": {
          "description": "Milliseconds the average shard spent reading input.",
          "type": "string",
          "format": "int64"
        },
        "computeMsMax": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks."
        },
        "recordsWritten": {
          "format": "int64",
          "description": "Number of records written by the stage.",
          "type": "string"
        },
        "slotMs": {
          "type": "string",
          "format": "int64",
          "description": "Slot-milliseconds used by the stage."
        },
        "writeRatioAvg": {
          "type": "number",
          "format": "double",
          "description": "Relative amount of time the average shard spent on writing output."
        },
        "steps": {
          "type": "array",
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "items": {
            "$ref": "ExplainQueryStep"
          }
        },
        "readRatioAvg": {
          "format": "double",
          "description": "Relative amount of time the average shard spent reading input.",
          "type": "number"
        },
        "waitMsMax": {
          "format": "int64",
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "type": "string"
        },
        "waitMsAvg": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the average shard spent waiting to be scheduled."
        },
        "writeRatioMax": {
          "format": "double",
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "type": "number"
        },
        "recordsRead": {
          "description": "Number of records read into the stage.",
          "type": "string",
          "format": "int64"
        },
        "shuffleOutputBytes": {
          "description": "Total number of bytes written to shuffle.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "Current status for the stage.",
          "type": "string"
        },
        "parallelInputs": {
          "format": "int64",
          "description": "Number of parallel input segments to be processed.",
          "type": "string"
        },
        "completedParallelInputs": {
          "description": "Number of parallel input segments completed.",
          "type": "string",
          "format": "int64"
        },
        "startMs": {
          "format": "int64",
          "description": "Stage start time represented as milliseconds since epoch.",
          "type": "string"
        },
        "computeRatioAvg": {
          "format": "double",
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Human-readable name for stage."
        },
        "endMs": {
          "type": "string",
          "description": "Stage end time represented as milliseconds since epoch.",
          "format": "int64"
        },
        "readRatioMax": {
          "type": "number",
          "description": "Relative amount of time the slowest shard spent reading input.",
          "format": "double"
        },
        "readMsMax": {
          "type": "string",
          "description": "Milliseconds the slowest shard spent reading input.",
          "format": "int64"
        },
        "computeMsAvg": {
          "format": "int64",
          "description": "Milliseconds the average shard spent on CPU-bound tasks.",
          "type": "string"
        },
        "writeMsAvg": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the average shard spent on writing output."
        },
        "waitRatioMax": {
          "type": "number",
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
          "format": "double"
        },
        "inputStages": {
          "description": "IDs for stages that are inputs to this stage.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "writeMsMax": {
          "description": "Milliseconds the slowest shard spent on writing output.",
          "format": "int64",
          "type": "string"
        },
        "computeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "properties": {
        "statistics": {
          "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
          "$ref": "JobStatistics"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        },
        "user_email": {
          "type": "string",
          "description": "[Output-only] Email address of the user who ran the job."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
        },
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "id": {
          "type": "string",
          "description": "[Output-only] Opaque ID field of the job"
        },
        "kind": {
          "default": "bigquery#job",
          "type": "string",
          "description": "[Output-only] The type of the resource."
        },
        "jobReference": {
          "description": "[Optional] Reference describing the unique-per-user name of the job.",
          "$ref": "JobReference"
        }
      }
    },
    "Argument": {
      "description": "Input/output argument of a function or a stored procedure.",
      "properties": {
        "argumentKind": {
          "description": "Optional. Defaults to FIXED_TYPE.",
          "enum": [
            "ARGUMENT_KIND_UNSPECIFIED",
            "FIXED_TYPE",
            "ANY_TYPE"
          ],
          "enumDescriptions": [
            "",
            "The argument is a variable with fully specified type, which can be a struct or an array, but not a table.",
            "The argument is any type, including struct or array, but not a table. To be added: FIXED_TABLE, ANY_TABLE"
          ],
          "type": "string"
        },
        "dataType": {
          "$ref": "StandardSqlDataType",
          "description": "Required unless argument_kind = ANY_TYPE."
        },
        "mode": {
          "enumDescriptions": [
            "",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "description": "Optional. Specifies whether the argument is input or output. Can be set for procedures only."
        },
        "name": {
          "description": "Optional. The name of this argument. Can be absent for function return argument.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Argument"
    },
    "Expr": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ModelReference": {
      "type": "object",
      "properties": {
        "modelId": {
          "description": "[Required] The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this model."
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this model.",
          "type": "string"
        }
      },
      "id": "ModelReference"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      }
    },
    "TableRow": {
      "type": "object",
      "id": "TableRow",
      "properties": {
        "f": {
          "description": "Represents a single row in the result set, consisting of one or more fields.",
          "items": {
            "$ref": "TableCell"
          },
          "type": "array"
        }
      }
    },
    "BigtableColumnFamily": {
      "id": "BigtableColumnFamily",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        },
        "columns": {
          "items": {
            "$ref": "BigtableColumn"
          },
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "type": "array"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        }
      }
    },
    "EncryptionConfiguration": {
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      },
      "id": "EncryptionConfiguration",
      "type": "object"
    },
    "SnapshotDefinition": {
      "properties": {
        "baseTableReference": {
          "description": "[Required] Reference describing the ID of the table that was snapshot.",
          "$ref": "TableReference"
        },
        "snapshotTime": {
          "format": "date-time",
          "description": "[Required] The time at which the base table was snapshot. This value is reported in the JSON response using RFC3339 format.",
          "type": "string"
        }
      },
      "id": "SnapshotDefinition",
      "type": "object"
    },
    "JobStatistics2": {
      "type": "object",
      "properties": {
        "queryPlan": {
          "description": "[Output-only] Describes execution plan for the query.",
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStage"
          }
        },
        "ddlTargetTable": {
          "description": "[Output-only] The DDL target table. Present only for CREATE/DROP TABLE/VIEW and DROP ALL ROW ACCESS POLICIES queries.",
          "$ref": "TableReference"
        },
        "timeline": {
          "description": "[Output-only] [Beta] Describes a timeline of job execution.",
          "items": {
            "$ref": "QueryTimelineSample"
          },
          "type": "array"
        },
        "ddlTargetRowAccessPolicy": {
          "description": "[Output-only] [Preview] The DDL target row access policy. Present only for CREATE/DROP ROW ACCESS POLICY queries.",
          "$ref": "RowAccessPolicyReference"
        },
        "totalBytesBilled": {
          "description": "[Output-only] Total bytes billed for the job.",
          "format": "int64",
          "type": "string"
        },
        "dmlStats": {
          "$ref": "DmlStatistics",
          "description": "[Output-only] Detailed statistics for DML statements Present only for DML statements INSERT, UPDATE, DELETE or TRUNCATE."
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "[Output-only] Total bytes processed for the job.",
          "format": "int64"
        },
        "referencedTables": {
          "items": {
            "$ref": "TableReference"
          },
          "type": "array",
          "description": "[Output-only] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list."
        },
        "ddlDestinationTable": {
          "$ref": "TableReference",
          "description": "[Output-only] The DDL destination table. Present only for ALTER TABLE RENAME TO queries. Note that ddl_target_table is used just for its type information."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Output-only] The schema of the results. Present only for successful dry run of non-legacy SQL queries."
        },
        "estimatedBytesProcessed": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The original estimate of bytes processed for the job."
        },
        "undeclaredQueryParameters": {
          "description": "Standard SQL only: list of undeclared query parameters detected during a dry run validation.",
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array"
        },
        "totalBytesProcessedAccuracy": {
          "type": "string",
          "description": "[Output-only] For dry-run jobs, totalBytesProcessed is an estimate and this field specifies the accuracy of the estimate. Possible values can be: UNKNOWN: accuracy of the estimate is unknown. PRECISE: estimate is precise. LOWER_BOUND: estimate is lower bound of what the query would cost. UPPER_BOUND: estimate is upper bound of what the query would cost."
        },
        "totalPartitionsProcessed": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Total number of partitions processed from all partitioned tables referenced in the job."
        },
        "biEngineStatistics": {
          "$ref": "BiEngineStatistics",
          "description": "BI Engine specific Statistics. [Output-only] BI Engine specific Statistics."
        },
        "totalSlotMs": {
          "description": "[Output-only] Slot-milliseconds for the job.",
          "type": "string",
          "format": "int64"
        },
        "modelTrainingCurrentIteration": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only, Beta] Deprecated; do not use."
        },
        "referencedRoutines": {
          "type": "array",
          "description": "[Output-only] Referenced routines (persistent user-defined functions and stored procedures) for the job.",
          "items": {
            "$ref": "RoutineReference"
          }
        },
        "ddlOperationPerformed": {
          "type": "string",
          "description": "The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target."
        },
        "cacheHit": {
          "description": "[Output-only] Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "type": "string",
          "format": "int64"
        },
        "ddlAffectedRowAccessPolicyCount": {
          "description": "[Output-only] [Preview] The number of row access policies affected by a DDL statement. Present only for DROP ALL ROW ACCESS POLICIES queries.",
          "format": "int64",
          "type": "string"
        },
        "ddlTargetDataset": {
          "$ref": "DatasetReference",
          "description": "[Output-only] The DDL target dataset. Present only for CREATE/ALTER/DROP SCHEMA queries."
        },
        "modelTrainingExpectedTotalIteration": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only, Beta] Deprecated; do not use."
        },
        "billingTier": {
          "type": "integer",
          "description": "[Output-only] Billing tier for the job.",
          "format": "int32"
        },
        "reservationUsage": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "slotMs": {
                "type": "string",
                "format": "int64",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation."
              },
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              }
            }
          },
          "description": "[Output-only] Job resource usage breakdown by reservation."
        },
        "statementType": {
          "description": "The type of query statement, if valid. Possible values (new values might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"MERGE\": MERGE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"ALTER_TABLE\": ALTER TABLE query. \"ALTER_VIEW\": ALTER VIEW query. \"ASSERT\": ASSERT condition AS 'description'. \"CREATE_FUNCTION\": CREATE FUNCTION query. \"CREATE_MODEL\": CREATE [OR REPLACE] MODEL ... AS SELECT ... . \"CREATE_PROCEDURE\": CREATE PROCEDURE query. \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\": CREATE [OR REPLACE] TABLE ... AS SELECT ... . \"CREATE_VIEW\": CREATE [OR REPLACE] VIEW ... AS SELECT ... . \"DROP_FUNCTION\" : DROP FUNCTION query. \"DROP_PROCEDURE\": DROP PROCEDURE query. \"DROP_TABLE\": DROP TABLE query. \"DROP_VIEW\": DROP VIEW query.",
          "type": "string"
        },
        "ddlTargetRoutine": {
          "description": "The DDL target routine. Present only for CREATE/DROP FUNCTION/PROCEDURE queries.",
          "$ref": "RoutineReference"
        },
        "modelTraining": {
          "description": "[Output-only, Beta] Information about create model query job progress.",
          "$ref": "BigQueryModelTraining"
        }
      },
      "id": "JobStatistics2"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "QueryParameterValue": {
      "type": "object",
      "id": "QueryParameterValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "[Optional] The value of this value, if a simple scalar type."
        },
        "structValues": {
          "description": "[Optional] The struct field values, in order of the struct type's declaration.",
          "type": "object",
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          }
        },
        "arrayValues": {
          "description": "[Optional] The array values, if this is an array type.",
          "items": {
            "$ref": "QueryParameterValue"
          },
          "type": "array"
        }
      }
    },
    "AggregateClassificationMetrics": {
      "description": "Aggregate metrics for classification/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows.",
      "properties": {
        "rocAuc": {
          "type": "number",
          "format": "double",
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric."
        },
        "recall": {
          "type": "number",
          "format": "double",
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric."
        },
        "logLoss": {
          "format": "double",
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric.",
          "type": "number"
        },
        "accuracy": {
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "format": "double",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
          "format": "double"
        },
        "precision": {
          "format": "double",
          "type": "number",
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier."
        }
      },
      "id": "AggregateClassificationMetrics",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "ViewDefinition": {
      "type": "object",
      "properties": {
        "query": {
          "description": "[Required] A query that BigQuery executes when the view is referenced.",
          "type": "string"
        },
        "userDefinedFunctionResources": {
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array",
          "description": "Describes user-defined function resources used in the query."
        },
        "useLegacySql": {
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value."
        },
        "useExplicitColumnNames": {
          "type": "boolean",
          "description": "True if the column names are explicitly specified. For example by using the 'CREATE VIEW v(c1, c2) AS ...' syntax. Can only be set using BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/"
        }
      },
      "id": "ViewDefinition"
    },
    "StandardSqlField": {
      "description": "A field or a column.",
      "properties": {
        "type": {
          "$ref": "StandardSqlDataType",
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field)."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this field. Can be absent for struct fields."
        }
      },
      "type": "object",
      "id": "StandardSqlField"
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "numBytes": {
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.",
          "format": "int64",
          "type": "string"
        },
        "snapshotDefinition": {
          "$ref": "SnapshotDefinition",
          "description": "[Output-only] Snapshot definition."
        },
        "streamingBuffer": {
          "$ref": "Streamingbuffer",
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer."
        },
        "schema": {
          "description": "[Optional] Describes the schema of this table.",
          "$ref": "TableSchema"
        },
        "etag": {
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "tableReference": {
          "description": "[Required] Reference describing the ID of this table.",
          "$ref": "TableReference"
        },
        "location": {
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "bigquery#table",
          "description": "[Output-only] The type of the resource."
        },
        "description": {
          "description": "[Optional] A user-friendly description of this table.",
          "type": "string"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for this table.",
          "type": "string"
        },
        "model": {
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries.",
          "$ref": "ModelDefinition"
        },
        "type": {
          "type": "string",
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE."
        },
        "numPhysicalBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel."
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified.",
          "type": "boolean",
          "default": "false"
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "externalDataConfiguration": {
          "$ref": "ExternalDataConfiguration",
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "lastModifiedTime": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch."
        },
        "expirationTime": {
          "format": "int64",
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables.",
          "type": "string"
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "numRows": {
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "format": "uint64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] An opaque ID uniquely identifying the table."
        },
        "numLongTermBytes": {
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\".",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        }
      }
    },
    "TableDataInsertAllRequest": {
      "type": "object",
      "properties": {
        "skipInvalidRows": {
          "type": "boolean",
          "description": "[Optional] Insert all valid rows of a request, even if invalid rows exist. The default value is false, which causes the entire request to fail if any invalid rows exist."
        },
        "rows": {
          "type": "array",
          "items": {
            "properties": {
              "insertId": {
                "type": "string",
                "description": "[Optional] A unique ID for each row. BigQuery uses this property to detect duplicate insertion requests on a best-effort basis."
              },
              "json": {
                "description": "[Required] A JSON object that contains a row of data. The object's properties and values must match the destination table's schema.",
                "$ref": "JsonObject"
              }
            },
            "type": "object"
          },
          "description": "The rows to insert."
        },
        "templateSuffix": {
          "description": "If specified, treats the destination table as a base template, and inserts the rows into an instance table named \"{destination}{templateSuffix}\". BigQuery will manage creation of the instance table, using the schema of the base template table. See https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for considerations when working with templates tables.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "bigquery#tableDataInsertAllRequest",
          "description": "The resource type of the response."
        },
        "ignoreUnknownValues": {
          "type": "boolean",
          "description": "[Optional] Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors."
        }
      },
      "id": "TableDataInsertAllRequest"
    },
    "QueryParameterType": {
      "type": "object",
      "properties": {
        "structTypes": {
          "type": "array",
          "description": "[Optional] The types of the fields of this struct, in order, if this is a struct.",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "QueryParameterType",
                "description": "[Required] The type of this field."
              },
              "name": {
                "description": "[Optional] The name of this field.",
                "type": "string"
              },
              "description": {
                "type": "string",
                "description": "[Optional] Human-oriented description of the field."
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "[Required] The top level type of this field."
        },
        "arrayType": {
          "$ref": "QueryParameterType",
          "description": "[Optional] The type of the array's elements, if this is an array."
        }
      },
      "id": "QueryParameterType"
    },
    "GoogleSheetsOptions": {
      "properties": {
        "range": {
          "type": "string",
          "description": "[Optional] Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20"
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleSheetsOptions"
    },
    "TransactionInfo": {
      "type": "object",
      "id": "TransactionInfo",
      "properties": {
        "transactionId": {
          "description": "[Output-only] // [Alpha] Id of the transaction.",
          "type": "string"
        }
      }
    },
    "TrainingRun": {
      "id": "TrainingRun",
      "description": "Information about a single training query run for the model.",
      "properties": {
        "startTime": {
          "description": "The start time of this training run.",
          "format": "google-datetime",
          "type": "string"
        },
        "evaluationMetrics": {
          "$ref": "EvaluationMetrics",
          "description": "The evaluation metrics over training/eval data that were computed at the end of training."
        },
        "results": {
          "description": "Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "dataSplitResult": {
          "description": "Data split result of the training run. Only set when the input data is actually split.",
          "$ref": "DataSplitResult"
        },
        "trainingOptions": {
          "$ref": "TrainingOptions",
          "description": "Options that were used for this training run, includes user specified and default options that were used."
        }
      },
      "type": "object"
    },
    "JobConfigurationTableCopy": {
      "properties": {
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table"
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "destinationExpirationTime": {
          "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed.",
          "type": "any"
        },
        "operationType": {
          "description": "[Optional] Supported operation types in table copy job.",
          "type": "string"
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "sourceTable": {
          "description": "[Pick one] Source table to copy.",
          "$ref": "TableReference"
        },
        "sourceTables": {
          "description": "[Pick one] Source tables to copy.",
          "items": {
            "$ref": "TableReference"
          },
          "type": "array"
        }
[...]
