{
  "description": "A data platform for customers to create, manage, share and query data.",
  "id": "bigquery:v2",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch/bigquery/v2",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "name": "bigquery",
  "servicePath": "bigquery/v2/",
  "revision": "20230805",
  "ownerName": "Google",
  "resources": {
    "rowAccessPolicies": {
      "methods": {
        "list": {
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the row access policies to list.",
              "pattern": "^[^/]+$"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "format": "int32"
            },
            "tableId": {
              "required": true,
              "description": "Required. Table ID of the table to list row access policies.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "description": "Required. Dataset ID of row access policies to list.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.rowAccessPolicies.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "httpMethod": "GET",
          "description": "Lists all row access policies on the specified table.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies"
        },
        "testIamPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST"
        },
        "getIamPolicy": {
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "{+resource}:getIamPolicy"
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "id": "bigquery.routines.delete",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "routineId": {
              "description": "Required. Routine ID of the routine to delete",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the routine to delete",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Deletes the routine specified by routineId from the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets the specified routine resource by routine ID.",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine"
            },
            "routineId": {
              "type": "string",
              "required": true,
              "description": "Required. Routine ID of the requested routine",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "type": "string",
              "location": "query",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the requested routine",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.get",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.update",
          "response": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Routine"
          },
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the routine to update",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Routine ID of the routine to update"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the routine to update",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ]
        },
        "insert": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.routines.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the new routine",
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the new routine",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Routine"
          },
          "response": {
            "$ref": "Routine"
          },
          "httpMethod": "POST",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "description": "Creates a new routine in the dataset."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameters": {
            "readMask": {
              "type": "string",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routines to list",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Required. Dataset ID of the routines to list",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "filter": {
              "description": "If set, then only the Routines matching this filter are returned. The supported format is `routineType:{RoutineType}`, where `{RoutineType}` is a RoutineType enum. For example: `routineType:SCALAR_FUNCTION`.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "id": "bigquery.routines.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListRoutinesResponse"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "patch": {
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to update"
            },
            "autodetect_schema": {
              "type": "boolean",
              "description": "When true will autodetect schema, else will keep original schema",
              "location": "query"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to update"
            }
          },
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics."
        },
        "update": {
          "httpMethod": "PUT",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to update",
              "required": true
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to update",
              "required": true
            },
            "autodetect_schema": {
              "location": "query",
              "type": "boolean",
              "description": "When true will autodetect schema, else will keep original schema"
            }
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "id": "bigquery.tables.update",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the new table"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the new table"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Creates a new, empty table in the dataset.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.insert",
          "request": {
            "$ref": "Table"
          }
        },
        "delete": {
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the table to delete",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID of the table to delete",
              "location": "path",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the table to delete",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "id": "bigquery.tables.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE"
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.tables.setIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "path": "{+resource}:setIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          }
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "path": "{+resource}:getIamPolicy"
        },
        "get": {
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Project ID of the requested table",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "tableId": {
              "required": true,
              "description": "Table ID of the requested table",
              "location": "path",
              "type": "string"
            },
            "view": {
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ],
              "location": "query",
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ],
              "type": "string",
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned."
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of the requested table",
              "location": "path"
            }
          },
          "id": "bigquery.tables.get",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          }
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.tables.testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "{+resource}:testIamPermissions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the tables to list",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the tables to list",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.tables.list",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "response": {
            "$ref": "TableList"
          }
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "id": "bigquery.tabledata.insertAll",
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the destination table."
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the destination table."
            },
            "tableId": {
              "location": "path",
              "required": true,
              "description": "Table ID of the destination table.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "list": {
          "id": "bigquery.tabledata.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TableDataList"
          },
          "httpMethod": "GET",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the table to read",
              "required": true,
              "location": "path"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to read",
              "type": "string",
              "required": true
            },
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to read"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "location": "query",
              "type": "string",
              "format": "uint64"
            }
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "list": {
          "parameterOrder": [
            "projectId"
          ],
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "id": "bigquery.datasets.list",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "all": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "projectId": {
              "description": "Project ID of the datasets to be listed",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results to return"
            },
            "filter": {
              "location": "query",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DatasetList"
          },
          "path": "projects/{projectId}/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.datasets.insert",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the new dataset"
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "POST",
          "description": "Creates a new empty dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "httpMethod": "PATCH",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.patch",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Dataset"
          }
        },
        "update": {
          "id": "bigquery.datasets.update",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the dataset being updated"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.get",
          "description": "Returns the dataset specified by datasetID.",
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested dataset",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query",
              "type": "boolean"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the dataset being deleted"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "id": "bigquery.datasets.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}"
        }
      }
    },
    "models": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListModelsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.models.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "projectId": {
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          }
        },
        "patch": {
          "description": "Patch specific fields in the specified model.",
          "response": {
            "$ref": "Model"
          },
          "id": "bigquery.models.patch",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the model to patch."
            },
            "projectId": {
              "description": "Required. Project ID of the model to patch.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "type": "string",
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "request": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.delete",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "description": "Deletes the model specified by modelId from the dataset.",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the model to delete.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "modelId": {
              "description": "Required. Model ID of the model to delete.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to delete.",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the specified model resource by model ID.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the requested model.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Model ID of the requested model."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested model."
            }
          },
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "response": {
            "$ref": "Model"
          },
          "id": "bigquery.models.get"
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects",
          "description": "Lists all projects to which you have been granted any project role.",
          "id": "bigquery.projects.list",
          "response": {
            "$ref": "ProjectList"
          }
        },
        "getServiceAccount": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "path": "projects/{projectId}/serviceAccount",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "required": true
            }
          },
          "id": "bigquery.projects.getServiceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "cancel": {
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "id": "bigquery.jobs.cancel",
          "httpMethod": "POST",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "required": true,
              "description": "[Required] Project ID of the job to cancel",
              "location": "path",
              "type": "string"
            },
            "jobId": {
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the job to cancel",
              "type": "string"
            }
          }
        },
        "insert": {
          "request": {
            "$ref": "Job"
          },
          "httpMethod": "POST",
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the project that will be billed for the job",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "response": {
            "$ref": "Job"
          },
          "id": "bigquery.jobs.insert",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "path": "projects/{projectId}/jobs",
          "supportsMediaUpload": true
        },
        "getQueryResults": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "jobId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "[Required] Job ID of the query job"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "location": "query",
              "type": "string",
              "format": "uint64"
            },
            "timeoutMs": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to read",
              "type": "integer",
              "format": "uint32"
            }
          },
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "id": "bigquery.jobs.getQueryResults",
          "httpMethod": "GET",
          "path": "projects/{projectId}/queries/{jobId}",
          "description": "Retrieves the results of a query job."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{projectId}/jobs/{jobId}",
          "id": "bigquery.jobs.get",
          "httpMethod": "GET",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "[Required] Project ID of the requested job",
              "required": true
            },
            "jobId": {
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the requested job",
              "type": "string"
            }
          }
        },
        "delete": {
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "id": "bigquery.jobs.delete",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "type": "string",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "required": true,
              "location": "path"
            }
          }
        },
        "query": {
          "request": {
            "$ref": "QueryRequest"
          },
          "path": "projects/{projectId}/queries",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project billed for the query"
            }
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "id": "bigquery.jobs.query",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.list",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/jobs",
          "parameters": {
            "stateFilter": {
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "type": "string",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "repeated": true,
              "location": "query",
              "description": "Filter for job state"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "format": "uint64",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned"
            },
            "allUsers": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false"
            },
            "projection": {
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ],
              "location": "query",
              "description": "Restrict information returned to a set of selected fields",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            },
            "parentJobId": {
              "location": "query",
              "type": "string",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "type": "string",
              "format": "uint64",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of results to return"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the jobs to list",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "JobList"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "BigQuery API",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "description": "Data format for the response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "basePath": "/bigquery/v2/",
  "rootUrl": "https://bigquery.googleapis.com/",
  "schemas": {
    "ScriptStatistics": {
      "properties": {
        "stackFrames": {
          "items": {
            "$ref": "ScriptStackFrame"
          },
          "type": "array",
          "description": "Stack trace showing the line/column/procedure name of each frame on the stack at the point where the current evaluation happened. The leaf frame is first, the primary script is last. Never empty."
        },
        "evaluationKind": {
          "description": "[Output-only] Whether this child job was a statement or expression.",
          "type": "string"
        }
      },
      "id": "ScriptStatistics",
      "type": "object"
    },
    "EvaluationMetrics": {
      "properties": {
        "clusteringMetrics": {
          "$ref": "ClusteringMetrics",
          "description": "Populated for clustering models."
        },
        "arimaForecastingMetrics": {
          "description": "Populated for ARIMA models.",
          "$ref": "ArimaForecastingMetrics"
        },
        "dimensionalityReductionMetrics": {
          "$ref": "DimensionalityReductionMetrics",
          "description": "Evaluation metrics when the model is a dimensionality reduction model, which currently includes PCA."
        },
        "regressionMetrics": {
          "$ref": "RegressionMetrics",
          "description": "Populated for regression models and explicit feedback type matrix factorization models."
        },
        "multiClassClassificationMetrics": {
          "description": "Populated for multi-class classification/classifier models.",
          "$ref": "MultiClassClassificationMetrics"
        },
        "rankingMetrics": {
          "description": "Populated for implicit feedback type matrix factorization models.",
          "$ref": "RankingMetrics"
        },
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        }
      },
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models.",
      "type": "object",
      "id": "EvaluationMetrics"
    },
    "RowLevelSecurityStatistics": {
      "properties": {
        "rowLevelSecurityApplied": {
          "type": "boolean",
          "description": "[Output-only] [Preview] Whether any accessed data was protected by row access policies."
        }
      },
      "id": "RowLevelSecurityStatistics",
      "type": "object"
    },
    "SessionInfo": {
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "[Output-only] // [Preview] Id of the session.",
          "type": "string"
        }
      },
      "id": "SessionInfo"
    },
    "HivePartitioningOptions": {
      "type": "object",
      "id": "HivePartitioningOptions",
      "properties": {
        "mode": {
          "description": "[Optional] When set, what mode of hive partitioning to use when reading data. The following modes are supported. (1) AUTO: automatically infer partition key name(s) and type(s). (2) STRINGS: automatically infer partition key name(s). All types are interpreted as strings. (3) CUSTOM: partition key schema is encoded in the source URI prefix. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported types include: AVRO, CSV, JSON, ORC and Parquet.",
          "type": "string"
        },
        "fields": {
          "description": "[Output-only] For permanent external tables, this field is populated with the hive partition keys in the order they were inferred. The types of the partition keys can be deduced by checking the table schema (which will include the partition keys). Not every API will populate this field in the output. For example, Tables.Get will populate it, but Tables.List will not contain this field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified. Note that this field should only be true when creating a permanent external table or querying a temporary external table. Hive-partitioned loads with requirePartitionFilter explicitly set to true will fail.",
          "type": "boolean"
        },
        "sourceUriPrefix": {
          "description": "[Optional] When hive partition detection is requested, a common prefix for all source uris should be supplied. The prefix must end immediately before the partition key encoding begins. For example, consider files following this data layout. gs://bucket/path_to_table/dt=2019-01-01/country=BR/id=7/file.avro gs://bucket/path_to_table/dt=2018-12-31/country=CA/id=3/file.avro When hive partitioning is requested with either AUTO or STRINGS detection, the common prefix can be either of gs://bucket/path_to_table or gs://bucket/path_to_table/ (trailing slash does not matter).",
          "type": "string"
        }
      }
    },
    "BinaryConfusionMatrix": {
      "id": "BinaryConfusionMatrix",
      "type": "object",
      "properties": {
        "recall": {
          "format": "double",
          "description": "The fraction of actual positive labels that were given a positive prediction.",
          "type": "number"
        },
        "trueNegatives": {
          "type": "string",
          "description": "Number of true samples predicted as false.",
          "format": "int64"
        },
        "accuracy": {
          "description": "The fraction of predictions given the correct label.",
          "type": "number",
          "format": "double"
        },
        "positiveClassThreshold": {
          "format": "double",
          "description": "Threshold value used when computing each of the following metric.",
          "type": "number"
        },
        "truePositives": {
          "format": "int64",
          "type": "string",
          "description": "Number of true samples predicted as true."
        },
        "precision": {
          "format": "double",
          "description": "The fraction of actual positive predictions that had positive actual labels.",
          "type": "number"
        },
        "falseNegatives": {
          "format": "int64",
          "type": "string",
          "description": "Number of false samples predicted as false."
        },
        "f1Score": {
          "type": "number",
          "format": "double",
          "description": "The equally weighted average of recall and precision."
        },
        "falsePositives": {
          "description": "Number of false samples predicted as true.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Confusion matrix for binary classification models."
    },
    "Routine": {
      "type": "object",
      "description": "A user-defined function or a stored procedure.",
      "id": "Routine",
      "properties": {
        "importedLibraries": {
          "description": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the imported JAVASCRIPT libraries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "returnType": {
          "description": "Optional if language = \"SQL\"; required otherwise. Cannot be set if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return type is inferred from definition_body at query time in each query that references this routine. If present, then the evaluated result will be cast to the specified returned type at query time. For example, for the functions created with the following statements: * `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);` * `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));` * `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));` The return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and is absent for `Increment` (inferred as FLOAT64 at query time). Suppose the function `Add` is replaced by `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);` Then the inferred return type of `Increment` is automatically changed to INT64 at query time, while the return type of `Decrement` remains FLOAT64.",
          "$ref": "StandardSqlDataType"
        },
        "strictMode": {
          "description": "Optional. Can be set for procedures only. If true (default), the definition body will be validated in the creation and the updates of the procedure. For procedures with an argument of ANY TYPE, the definition body validtion is not supported at creation/update time, and thus this field must be set to false explicitly.",
          "type": "boolean"
        },
        "lastModifiedTime": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The time when this routine was last modified, in milliseconds since the epoch."
        },
        "routineReference": {
          "description": "Required. Reference describing the ID of this routine.",
          "$ref": "RoutineReference"
        },
        "determinismLevel": {
          "type": "string",
          "enumDescriptions": [
            "The determinism of the UDF is unspecified.",
            "The UDF is deterministic, meaning that 2 function calls with the same inputs always produce the same result, even across 2 query runs.",
            "The UDF is not deterministic."
          ],
          "enum": [
            "DETERMINISM_LEVEL_UNSPECIFIED",
            "DETERMINISTIC",
            "NOT_DETERMINISTIC"
          ],
          "description": "Optional. The determinism level of the JavaScript UDF, if defined."
        },
        "routineType": {
          "type": "string",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE",
            "TABLE_VALUED_FUNCTION",
            "AGGREGATE_FUNCTION"
          ],
          "description": "Required. The type of routine.",
          "enumDescriptions": [
            "",
            "Non-built-in persistent scalar function.",
            "Stored procedure.",
            "Non-built-in persistent TVF.",
            "Non-built-in persistent aggregate function."
          ]
        },
        "sparkOptions": {
          "$ref": "SparkOptions",
          "description": "Optional. Spark specific options."
        },
        "creationTime": {
          "format": "int64",
          "description": "Output only. The time when this routine was created, in milliseconds since the epoch.",
          "type": "string",
          "readOnly": true
        },
        "language": {
          "enumDescriptions": [
            "",
            "SQL language.",
            "JavaScript language.",
            "Python language.",
            "Java language.",
            "Scala language."
          ],
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "SQL",
            "JAVASCRIPT",
            "PYTHON",
            "JAVA",
            "SCALA"
          ],
          "description": "Optional. Defaults to \"SQL\" if remote_function_options field is absent, not set otherwise.",
          "type": "string"
        },
        "remoteFunctionOptions": {
          "$ref": "RemoteFunctionOptions",
          "description": "Optional. Remote function specific options."
        },
        "definitionBody": {
          "description": "Required. The body of the routine. For functions, this is the expression in the AS clause. If language=SQL, it is the substring inside (but excluding) the parentheses. For example, for the function created with the following statement: `CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))` The definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with linebreak). If language=JAVASCRIPT, it is the evaluated string in the AS clause. For example, for the function created with the following statement: `CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'` The definition_body is `return \"\\n\";\\n` Note that both \\n are replaced with linebreaks.",
          "type": "string"
        },
        "arguments": {
          "items": {
            "$ref": "Argument"
          },
          "type": "array",
          "description": "Optional."
        },
        "returnTableType": {
          "$ref": "StandardSqlTableType",
          "description": "Optional. Can be set only if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return table type is inferred from definition_body at query time in each query that references this routine. If present, then the columns in the evaluated table result will be cast to match the column types specified in return table type, at query time."
        },
        "description": {
          "description": "Optional. The description of the routine, if defined.",
          "type": "string"
        },
        "dataGovernanceType": {
          "enum": [
            "DATA_GOVERNANCE_TYPE_UNSPECIFIED",
            "DATA_MASKING"
          ],
          "description": "Optional. Data governance specific option, if the value is DATA_MASKING, the function will be validated as masking functions.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified data governance type.",
            "The data governance type is data masking."
          ]
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. A hash of this resource.",
          "type": "string"
        }
      }
    },
    "ArimaResult": {
      "type": "object",
      "id": "ArimaResult",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "properties": {
        "seasonalPeriods": {
          "type": "array",
          "items": {
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "type": "string"
          },
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series."
        },
        "arimaModelInfo": {
          "items": {
            "$ref": "ArimaModelInfo"
          },
          "type": "array",
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one."
        }
      }
    },
    "IntArray": {
      "description": "An array of int.",
      "properties": {
        "elements": {
          "type": "array",
          "description": "Elements in the int array.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "id": "IntArray"
    },
    "CategoryCount": {
      "properties": {
        "category": {
          "type": "string",
          "description": "The name of category."
        },
        "count": {
          "description": "The count of training samples matching the category within the cluster.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Represents the count of a single category within the cluster.",
      "id": "CategoryCount"
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "defaultRoundingMode": {
          "description": "[Output-only] The default rounding mode of the dataset.",
          "type": "string"
        },
        "maxTimeTravelHours": {
          "description": "[Optional] Number of hours for the max time travel for all tables in the dataset.",
          "format": "int64",
          "type": "string"
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch."
        },
        "labels": {
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for the dataset.",
          "type": "string"
        },
        "datasetReference": {
          "$ref": "DatasetReference",
          "description": "[Required] A reference that identifies the dataset."
        },
        "defaultTableExpirationMs": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property."
        },
        "defaultCollation": {
          "description": "[Output-only] The default collation of the dataset.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of the dataset."
        },
        "tags": {
          "description": "[Optional]The tags associated with this dataset. Tag keys are globally unique.",
          "type": "array",
          "items": {
            "properties": {
              "tagKey": {
                "type": "string",
                "description": "[Required] The namespaced friendly name of the tag key, e.g. \"12345/environment\" where 12345 is org id."
              },
              "tagValue": {
                "type": "string",
                "description": "[Required] Friendly short name of the tag value, e.g. \"production\"."
              }
            },
            "type": "object"
          }
        },
        "isCaseInsensitive": {
          "description": "[Optional] Indicates if table names are case insensitive in the dataset.",
          "type": "boolean"
        },
        "access": {
          "items": {
            "type": "object",
            "properties": {
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group.",
                "type": "string"
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\".",
                "type": "string"
              },
              "view": {
                "$ref": "TableReference",
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation."
              },
              "dataset": {
                "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation.",
                "$ref": "DatasetAccessEntry"
              },
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "role": {
                "type": "string",
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\"."
              },
              "specialGroup": {
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members.",
                "type": "string"
              },
              "routine": {
                "$ref": "RoutineReference",
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation."
              },
              "groupByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\"."
              }
            }
          },
          "type": "array",
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;"
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "storageBillingModel": {
          "type": "string",
          "description": "[Optional] Storage billing model to be used for all tables in the dataset. Can be set to PHYSICAL. Default is LOGICAL."
        },
        "location": {
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "[Output-only] Reserved for future use.",
          "type": "boolean"
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        },
        "lastModifiedTime": {
          "format": "int64",
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "type": "string"
        },
        "etag": {
          "description": "[Output-only] A hash of the resource.",
          "type": "string"
        },
        "defaultPartitionExpirationMs": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property."
        },
        "kind": {
          "type": "string",
          "default": "bigquery#dataset",
          "description": "[Output-only] The resource type."
        }
      }
    },
    "JsonOptions": {
      "id": "JsonOptions",
      "type": "object",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8, UTF-16BE, UTF-16LE, UTF-32BE, and UTF-32LE. The default value is UTF-8."
        }
      }
    },
    "RowAccessPolicyReference": {
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "Required. The ID of the dataset containing this row access policy.",
          "type": "string"
        },
        "policyId": {
          "type": "string",
          "description": "Required. The ID of the row access policy. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The ID of the table containing this row access policy."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The ID of the project containing this row access policy."
        }
      },
      "id": "RowAccessPolicyReference"
    },
    "DmlStatistics": {
      "properties": {
        "insertedRowCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of inserted Rows. Populated by DML INSERT and MERGE statements."
        },
        "deletedRowCount": {
          "format": "int64",
          "description": "Number of deleted Rows. populated by DML DELETE, MERGE and TRUNCATE statements.",
          "type": "string"
        },
        "updatedRowCount": {
          "description": "Number of updated Rows. Populated by DML UPDATE and MERGE statements.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DmlStatistics",
      "type": "object"
    },
    "StringHparamSearchSpace": {
      "id": "StringHparamSearchSpace",
      "description": "Search space for string and enum.",
      "type": "object",
      "properties": {
        "candidates": {
          "type": "array",
          "description": "Canididates for the string or enum parameter in lower case.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ParquetOptions": {
      "properties": {
        "enableListInference": {
          "type": "boolean",
          "description": "[Optional] Indicates whether to use schema inference specifically for Parquet LIST logical type."
        },
        "enumAsString": {
          "type": "boolean",
          "description": "[Optional] Indicates whether to infer Parquet ENUM logical type as STRING instead of BYTES by default."
        }
      },
      "type": "object",
      "id": "ParquetOptions"
    },
    "SparkLoggingInfo": {
      "type": "object",
      "id": "SparkLoggingInfo",
      "properties": {
        "resource_type": {
          "description": "[Output-only] Resource type used for logging",
          "type": "string"
        },
        "project_id": {
          "description": "[Output-only] Project ID used for logging",
          "type": "string"
        }
      }
    },
    "DoubleHparamSearchSpace": {
      "id": "DoubleHparamSearchSpace",
      "type": "object",
      "properties": {
        "range": {
          "description": "Range of the double hyperparameter.",
          "$ref": "DoubleRange"
        },
        "candidates": {
          "description": "Candidates of the double hyperparameter.",
          "$ref": "DoubleCandidates"
        }
      },
      "description": "Search space for a double hyperparameter."
    },
    "JobStatus": {
      "id": "JobStatus",
      "type": "object",
      "properties": {
        "errorResult": {
          "$ref": "ErrorProto",
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful."
        },
        "state": {
          "type": "string",
          "description": "[Output-only] Running state of the job."
        },
        "errors": {
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array",
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful."
        }
      }
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "properties": {
        "models": {
          "items": {
            "$ref": "Model"
          },
          "type": "array",
          "description": "Models in the requested dataset. Only the following fields are populated: model_reference, model_type, creation_time, last_modified_time and labels."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IterationResult": {
      "properties": {
        "trainingLoss": {
          "description": "Loss computed on the training data at the end of iteration.",
          "format": "double",
          "type": "number"
        },
        "evalLoss": {
          "type": "number",
          "format": "double",
          "description": "Loss computed on the eval data at the end of iteration."
        },
        "learnRate": {
          "type": "number",
          "description": "Learn rate used for this iteration.",
          "format": "double"
        },
        "index": {
          "description": "Index of the iteration, 0 based.",
          "format": "int32",
          "type": "integer"
        },
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "IterationResult",
      "type": "object"
    },
    "IntArrayHparamSearchSpace": {
      "properties": {
        "candidates": {
          "items": {
            "$ref": "IntArray"
          },
          "type": "array",
          "description": "Candidates for the int array parameter."
        }
      },
      "type": "object",
      "description": "Search space for int array.",
      "id": "IntArrayHparamSearchSpace"
    },
    "GetServiceAccountResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The service account email address."
        },
        "kind": {
          "default": "bigquery#getServiceAccountResponse",
          "type": "string",
          "description": "The resource type of the response."
        }
      },
      "type": "object",
      "id": "GetServiceAccountResponse"
    },
    "HparamSearchSpaces": {
      "description": "Hyperparameter search spaces. These should be a subset of training_options.",
      "type": "object",
      "id": "HparamSearchSpaces",
      "properties": {
        "batchSize": {
          "$ref": "IntHparamSearchSpace",
          "description": "Mini batch sample size."
        },
        "l1Reg": {
          "description": "L1 regularization coefficient.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "dropout": {
          "description": "Dropout probability for dnn model training and boosted tree models using dart booster.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "hiddenUnits": {
          "description": "Hidden units for neural network models.",
          "$ref": "IntArrayHparamSearchSpace"
        },
        "subsample": {
          "description": "Subsample the training data to grow tree to prevent overfitting for boosted tree models.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "colsampleBynode": {
          "$ref": "DoubleHparamSearchSpace",
          "description": "Subsample ratio of columns for each node(split) for boosted tree models."
        },
        "minTreeChildWeight": {
          "$ref": "IntHparamSearchSpace",
          "description": "Minimum sum of instance weight needed in a child for boosted tree models."
        },
        "colsampleBytree": {
          "$ref": "DoubleHparamSearchSpace",
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models."
        },
        "numFactors": {
          "description": "Number of latent factors to train on.",
          "$ref": "IntHparamSearchSpace"
        },
        "optimizer": {
          "description": "Optimizer of TF models.",
[...]
