{
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "revision": "20230210",
  "resources": {
    "models": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "Model"
          },
          "httpMethod": "PATCH",
          "description": "Patch specific fields in the specified model.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.models.patch",
          "response": {
            "$ref": "Model"
          },
          "parameters": {
            "modelId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to patch."
            },
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the model to patch.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "delete": {
          "description": "Deletes the model specified by modelId from the dataset.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameters": {
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the model to delete.",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the model to delete.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "modelId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Model ID of the model to delete.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "httpMethod": "DELETE",
          "id": "bigquery.models.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets the specified model resource by model ID.",
          "id": "bigquery.models.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "response": {
            "$ref": "Model"
          },
          "parameters": {
            "modelId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the requested model.",
              "required": true
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the requested model."
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the requested model.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        }
      }
    },
    "datasets": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the dataset being deleted"
            },
            "datasetId": {
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "deleteContents": {
              "type": "boolean",
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.delete"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "DatasetList"
          },
          "path": "projects/{projectId}/datasets",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of results to return",
              "location": "query"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "type": "string",
              "location": "query"
            },
            "all": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the datasets to be listed"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            }
          },
          "id": "bigquery.datasets.list"
        },
        "patch": {
          "id": "bigquery.datasets.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "id": "bigquery.datasets.update",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the dataset being updated",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PUT"
        },
        "get": {
          "parameters": {
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "required": true
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the requested dataset",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the dataset specified by datasetID.",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "id": "bigquery.datasets.get",
          "path": "projects/{projectId}/datasets/{datasetId}"
        },
        "insert": {
          "response": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.datasets.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the new dataset",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "POST"
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "path": "projects",
          "description": "Lists all projects to which you have been granted any project role.",
          "response": {
            "$ref": "ProjectList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.projects.list",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          }
        },
        "getServiceAccount": {
          "id": "bigquery.projects.getServiceAccount",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID for which the service account is requested.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/serviceAccount"
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "testIamPermissions": {
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "{+resource}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "httpMethod": "POST"
        },
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the row access policies to list.",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "format": "int32"
            },
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of row access policies to list.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "location": "query",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "description": "Required. Table ID of the table to list row access policies.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "id": "bigquery.rowAccessPolicies.list",
          "description": "Lists all row access policies on the specified table."
        },
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true
            }
          },
          "path": "{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy"
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "id": "bigquery.routines.delete",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the routine to delete",
              "type": "string"
            },
            "routineId": {
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to delete",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of the routine to delete",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the routine specified by routineId from the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.list",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the routines to list",
              "required": true
            },
            "readMask": {
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the routines to list",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          }
        },
        "update": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.update",
          "httpMethod": "PUT",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "routineId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to update",
              "type": "string"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the routine to update",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of the routine to update",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "Routine"
          }
        },
        "get": {
          "id": "bigquery.routines.get",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "httpMethod": "GET",
          "parameters": {
            "routineId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the requested routine",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the requested routine",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine",
              "type": "string",
              "location": "path"
            },
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Gets the specified routine resource by routine ID.",
          "response": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ]
        },
        "insert": {
          "description": "Creates a new routine in the dataset.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.routines.insert",
          "request": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the new routine"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "response": {
            "$ref": "Routine"
          }
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "parameters": {
            "tableId": {
              "type": "string",
              "description": "Table ID of the destination table.",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the destination table.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the destination table.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "id": "bigquery.tabledata.insertAll",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "id": "bigquery.tabledata.list",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "selectedFields": {
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "startIndex": {
              "format": "uint64",
              "location": "query",
              "description": "Zero-based index of the starting row to read",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the table to read",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set"
            }
          },
          "response": {
            "$ref": "TableDataList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        }
      }
    },
    "jobs": {
      "methods": {
        "query": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "QueryRequest"
          },
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "path": "projects/{projectId}/queries",
          "httpMethod": "POST",
          "id": "bigquery.jobs.query",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "QueryResponse"
          }
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.get",
          "parameters": {
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "location": "path",
              "type": "string",
              "required": true
            },
            "jobId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the requested job"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Job"
          },
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "path": "projects/{projectId}/jobs/{jobId}"
        },
        "insert": {
          "supportsMediaUpload": true,
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "request": {
            "$ref": "Job"
          },
          "id": "bigquery.jobs.insert",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs"
        },
        "list": {
          "parameters": {
            "allUsers": {
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean",
              "location": "query"
            },
            "stateFilter": {
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "description": "Filter for job state",
              "location": "query",
              "type": "string",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "repeated": true
            },
            "parentJobId": {
              "type": "string",
              "location": "query",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the jobs to list",
              "location": "path"
            },
            "projection": {
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "enum": [
                "full",
                "minimal"
              ],
              "type": "string",
              "location": "query"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "format": "uint64",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxCreationTime": {
              "type": "string",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "projects/{projectId}/jobs",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "JobList"
          },
          "id": "bigquery.jobs.list"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "id": "bigquery.jobs.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "jobId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            }
          }
        },
        "getQueryResults": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{projectId}/queries/{jobId}",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "description": "Retrieves the results of a query job.",
          "parameters": {
            "jobId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "[Required] Job ID of the query job"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "location": "path",
              "required": true
            },
            "timeoutMs": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "Maximum number of results to read",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "startIndex": {
              "format": "uint64",
              "type": "string",
              "location": "query",
              "description": "Zero-based index of the starting row"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.jobs.getQueryResults"
        },
        "cancel": {
          "httpMethod": "POST",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.jobs.cancel",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "[Required] Job ID of the job to cancel"
            },
            "projectId": {
              "description": "[Required] Project ID of the job to cancel",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            }
          }
        }
      }
    },
    "tables": {
      "methods": {
        "patch": {
          "id": "bigquery.tables.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to update",
              "type": "string"
            },
            "autodetect_schema": {
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema",
              "type": "boolean"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update",
              "type": "string"
            }
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Table"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "httpMethod": "PUT",
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the table to update",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            },
            "autodetect_schema": {
              "location": "query",
              "type": "boolean",
              "description": "When true will autodetect schema, else will keep original schema"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.update",
          "response": {
            "$ref": "Table"
          }
        },
        "list": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tables.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "TableList"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the tables to list"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "datasetId": {
              "description": "Dataset ID of the tables to list",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "id": "bigquery.tables.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "DELETE",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the table to delete",
              "location": "path",
              "type": "string"
            },
            "tableId": {
              "required": true,
              "description": "Table ID of the table to delete",
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to delete",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted."
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "id": "bigquery.tables.getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy"
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "path": "{+resource}:testIamPermissions",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "id": "bigquery.tables.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "setIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "path": "{+resource}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "id": "bigquery.tables.setIamPolicy"
        },
        "get": {
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.get",
          "httpMethod": "GET",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the requested table",
              "location": "path",
              "required": true
            },
            "view": {
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ],
              "type": "string",
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ],
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the requested table",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "insert": {
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "POST",
          "id": "bigquery.tables.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the new table"
            },
            "datasetId": {
              "description": "Dataset ID of the new table",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Creates a new, empty table in the dataset.",
          "request": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "id": "bigquery:v2",
  "description": "A data platform for customers to create, manage, share and query data.",
  "rootUrl": "https://bigquery.googleapis.com/",
  "batchPath": "batch/bigquery/v2",
  "title": "BigQuery API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    }
  },
  "version": "v2",
  "servicePath": "bigquery/v2/",
  "schemas": {
    "ArimaResult": {
      "properties": {
        "seasonalPeriods": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          },
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array"
        },
        "arimaModelInfo": {
          "items": {
            "$ref": "ArimaModelInfo"
          },
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array"
        }
      },
      "id": "ArimaResult",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "type": "object"
    },
    "DmlStatistics": {
      "type": "object",
      "id": "DmlStatistics",
      "properties": {
        "updatedRowCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of updated Rows. Populated by DML UPDATE and MERGE statements."
        },
        "deletedRowCount": {
          "format": "int64",
          "description": "Number of deleted Rows. populated by DML DELETE, MERGE and TRUNCATE statements.",
          "type": "string"
        },
        "insertedRowCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of inserted Rows. Populated by DML INSERT and MERGE statements."
        }
      }
    },
    "JobStatistics": {
      "id": "JobStatistics",
      "type": "object",
      "properties": {
        "reservation_id": {
          "type": "string",
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job."
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state."
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "load": {
          "description": "[Output-only] Statistics for a load job.",
          "$ref": "JobStatistics3"
        },
        "sessionInfo": {
          "$ref": "SessionInfo",
          "description": "[Output-only] [Preview] Information of the session if this job is part of one."
        },
        "parentJobId": {
          "type": "string",
          "description": "[Output-only] If this is a child job, the id of the parent."
        },
        "transactionInfo": {
          "$ref": "TransactionInfo",
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one."
        },
        "startTime": {
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "type": "string",
          "format": "int64"
        },
        "query": {
          "description": "[Output-only] Statistics for a query job.",
          "$ref": "JobStatistics2"
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs."
        },
        "scriptStatistics": {
          "description": "[Output-only] Statistics for a child job of a script.",
          "$ref": "ScriptStatistics"
        },
        "totalSlotMs": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Slot-milliseconds for the job."
        },
        "copy": {
          "$ref": "JobStatistics5",
          "description": "[Output-only] Statistics for a copy job."
        },
        "numChildJobs": {
          "description": "[Output-only] Number of child jobs executed.",
          "type": "string",
          "format": "int64"
        },
        "reservationUsage": {
          "items": {
            "type": "object",
            "properties": {
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "type": "string",
                "format": "int64"
              },
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              }
            }
          },
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array"
        },
        "completionRatio": {
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "type": "number",
          "format": "double"
        },
        "dataMaskingStatistics": {
          "description": "[Output-only] Statistics for data masking. Present only for query and extract jobs.",
          "$ref": "DataMaskingStatistics"
        },
        "rowLevelSecurityStatistics": {
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs.",
          "$ref": "RowLevelSecurityStatistics"
        },
        "quotaDeferments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Output-only] Quotas which delayed this job's start time."
        }
      }
    },
    "RowAccessPolicyReference": {
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this row access policy."
        },
        "policyId": {
          "description": "[Required] The ID of the row access policy. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this row access policy."
        },
        "tableId": {
          "type": "string",
          "description": "[Required] The ID of the table containing this row access policy."
        }
      },
      "type": "object",
      "id": "RowAccessPolicyReference"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "TableDataInsertAllResponse": {
      "properties": {
        "kind": {
          "default": "bigquery#tableDataInsertAllResponse",
          "type": "string",
          "description": "The resource type of the response."
        },
        "insertErrors": {
          "items": {
            "type": "object",
            "properties": {
              "errors": {
                "description": "Error information for the row indicated by the index property.",
                "type": "array",
                "items": {
                  "$ref": "ErrorProto"
                }
              },
              "index": {
                "type": "integer",
                "description": "The index of the row that error applies to.",
                "format": "uint32"
              }
            }
          },
          "description": "An array of errors for rows that were not inserted.",
          "type": "array"
        }
      },
      "id": "TableDataInsertAllResponse",
      "type": "object"
    },
    "ScriptStatistics": {
      "type": "object",
      "id": "ScriptStatistics",
      "properties": {
        "stackFrames": {
          "description": "Stack trace showing the line/column/procedure name of each frame on the stack at the point where the current evaluation happened. The leaf frame is first, the primary script is last. Never empty.",
          "type": "array",
          "items": {
            "$ref": "ScriptStackFrame"
          }
        },
        "evaluationKind": {
          "type": "string",
          "description": "[Output-only] Whether this child job was a statement or expression."
        }
      }
    },
    "JobConfigurationLoad": {
      "properties": {
        "parquetOptions": {
          "$ref": "ParquetOptions",
          "description": "[Optional] Options to configure parquet support."
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "referenceFileSchemaUri": {
          "type": "string",
          "description": "User provided referencing file with the expected reader schema, Available for the format: AVRO, PARQUET, ORC."
        },
        "preserveAsciiControlCharacters": {
          "type": "boolean",
          "description": "[Optional] Preserves the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') when loading from CSV. Only applicable to CSV, ignored for other formats."
        },
        "projectionFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result."
        },
        "createSession": {
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs the load job in non-session mode.",
          "type": "boolean"
        },
        "destinationTable": {
          "description": "[Required] The destination table to load the data into.",
          "$ref": "TableReference"
        },
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER)."
        },
        "jsonExtension": {
          "type": "string",
          "description": "[Optional] If sourceFormat is set to newline-delimited JSON, indicates whether it should be processed as a JSON variant such as GeoJSON. For a sourceFormat other than JSON, omit this field. If the sourceFormat is newline-delimited JSON: - for newline-delimited GeoJSON: set to GEOJSON."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "skipLeadingRows": {
          "type": "integer",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int32"
        },
        "sourceUris": {
          "type": "array",
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "items": {
            "type": "string"
          }
        },
        "nullMarker": {
          "type": "string",
          "description": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value."
        },
        "sourceFormat": {
          "type": "string",
          "description": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\". The default value is CSV."
        },
        "hivePartitioningOptions": {
          "$ref": "HivePartitioningOptions",
          "description": "[Optional] Options to configure hive partitioning support."
        },
        "schemaInlineFormat": {
          "type": "string",
          "description": "[Deprecated] The format of the schemaInline property."
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "schemaInline": {
          "type": "string",
          "description": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\"."
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "allowQuotedNewlines": {
          "description": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "maxBadRecords": {
          "format": "int32",
          "type": "integer",
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV and JSON. The default value is 0, which requires that all records are valid."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
        },
        "allowJaggedRows": {
          "type": "boolean",
          "description": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore."
        },
        "decimalTargetTypes": {
          "description": "[Optional] Defines the list of possible SQL data types to which the source decimal values are converted. This list and the precision and the scale parameters of the decimal field determine the target type. In the order of NUMERIC, BIGNUMERIC, and STRING, a type is picked if it is in the specified list and if it supports the precision and the scale. STRING supports all precision and scale values. If none of the listed types supports the precision and the scale, the type supporting the widest range in the specified list is picked, and if a value exceeds the supported range when reading the data, an error will be thrown. Example: Suppose the value of this field is [\"NUMERIC\", \"BIGNUMERIC\"]. If (precision,scale) is: (38,9) -\u003e NUMERIC; (39,9) -\u003e BIGNUMERIC (NUMERIC cannot hold 30 integer digits); (38,10) -\u003e BIGNUMERIC (NUMERIC cannot hold 10 fractional digits); (76,38) -\u003e BIGNUMERIC; (77,38) -\u003e BIGNUMERIC (error if value exeeds supported range). This field cannot contain duplicate types. The order of the types in this field is ignored. For example, [\"BIGNUMERIC\", \"NUMERIC\"] is the same as [\"NUMERIC\", \"BIGNUMERIC\"] and NUMERIC always takes precedence over BIGNUMERIC. Defaults to [\"NUMERIC\", \"STRING\"] for ORC and [\"NUMERIC\"] for the other file formats.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "autodetect": {
          "type": "boolean",
          "description": "[Optional] Indicates if we should automatically infer the options and schema for CSV and JSON sources."
        },
        "destinationTableProperties": {
          "description": "[Beta] [Optional] Properties with which to create the destination table if it is new.",
          "$ref": "DestinationTableProperties"
        },
        "connectionProperties": {
          "description": "Connection properties.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          }
        },
        "quote": {
          "pattern": ".?",
          "default": "\"",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "type": "string"
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names",
          "type": "boolean"
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "schemaUpdateOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allows the schema of the destination table to be updated as a side effect of the load job if a schema is autodetected or supplied in the job configuration. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable."
        }
      },
      "id": "JobConfigurationLoad",
      "type": "object"
    },
    "Model": {
      "properties": {
        "bestTrialId": {
          "description": "The best trial_id across all training runs.",
          "type": "string",
          "format": "int64"
        },
        "labelColumns": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Label columns that were used to train this model. The output of the model will have a \"predicted_\" prefix to these columns.",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "trainingRuns": {
          "items": {
            "$ref": "TrainingRun"
          },
          "type": "array",
          "description": "Information for all training runs in increasing order of start_time."
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The time when this model was created, in millisecs since the epoch."
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys). This shows the encryption configuration of the model data while stored in BigQuery storage. This field can be used with PatchModel to update encryption key for an already encrypted model.",
          "$ref": "EncryptionConfiguration"
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-friendly description of this model."
        },
        "labels": {
          "description": "The labels associated with this model. You can use these to organize and group your models. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hparamTrials": {
          "description": "Output only. Trials of a [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) model sorted by trial_id.",
          "items": {
            "$ref": "HparamTuningTrial"
          },
          "type": "array",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. A hash of this resource.",
          "type": "string",
          "readOnly": true
        },
        "optimalTrialIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. For single-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, it only contains the best trial. For multi-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, it contains all Pareto optimal trials sorted by trial_id.",
          "readOnly": true,
          "type": "array"
        },
        "hparamSearchSpaces": {
          "description": "Output only. All hyperparameter search spaces in this model.",
          "readOnly": true,
          "$ref": "HparamSearchSpaces"
        },
        "location": {
          "description": "Output only. The geographic location where the model resides. This value is inherited from the dataset.",
          "readOnly": true,
          "type": "string"
        },
        "featureColumns": {
          "description": "Output only. Input feature columns that were used to train this model.",
          "readOnly": true,
          "items": {
            "$ref": "StandardSqlField"
          },
          "type": "array"
        },
        "lastModifiedTime": {
          "format": "int64",
          "description": "Output only. The time when this model was last modified, in millisecs since the epoch.",
          "type": "string",
          "readOnly": true
        },
        "modelReference": {
          "description": "Required. Unique identifier for this model.",
          "$ref": "ModelReference"
        },
        "friendlyName": {
          "type": "string",
          "description": "Optional. A descriptive name for this model."
        },
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LINEAR_REGRESSION",
            "LOGISTIC_REGRESSION",
            "KMEANS",
            "MATRIX_FACTORIZATION",
            "DNN_CLASSIFIER",
            "TENSORFLOW",
            "DNN_REGRESSOR",
            "BOOSTED_TREE_REGRESSOR",
            "BOOSTED_TREE_CLASSIFIER",
            "ARIMA",
            "AUTOML_REGRESSOR",
            "AUTOML_CLASSIFIER",
            "PCA",
            "DNN_LINEAR_COMBINED_CLASSIFIER",
            "DNN_LINEAR_COMBINED_REGRESSOR",
            "AUTOENCODER",
            "ARIMA_PLUS",
            "RANDOM_FOREST_REGRESSOR",
            "RANDOM_FOREST_CLASSIFIER"
          ],
          "readOnly": true,
          "description": "Output only. Type of the model resource.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Linear regression model.",
            "Logistic regression based classification model.",
            "K-means clustering model.",
            "Matrix factorization model.",
            "DNN classifier model.",
            "An imported TensorFlow model.",
            "DNN regressor model.",
            "Boosted tree regressor model.",
            "Boosted tree classifier model.",
            "ARIMA model.",
            "AutoML Tables regression model.",
            "AutoML Tables classification model.",
            "Prinpical Component Analysis model.",
            "Wide-and-deep classifier model.",
            "Wide-and-deep regressor model.",
            "Autoencoder model.",
            "New name for the ARIMA model.",
            "Random Forest regressor model.",
            "Random Forest classifier model."
          ]
        },
        "defaultTrialId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The default trial_id to use in TVFs when the trial_id is not passed in. For single-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, this is the best trial ID. For multi-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, this is the smallest trial ID among all Pareto optimal trials.",
          "format": "int64"
        },
        "expirationTime": {
          "format": "int64",
          "description": "Optional. The time when this model expires, in milliseconds since the epoch. If not present, the model will persist indefinitely. Expired models will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created models.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Model"
    },
    "DatasetList": {
      "properties": {
        "datasets": {
          "items": {
            "properties": {
              "location": {
                "description": "The geographic location where the data resides.",
                "type": "string"
              },
              "kind": {
                "type": "string",
                "description": "The resource type. This property always returns the value \"bigquery#dataset\".",
                "default": "bigquery#dataset"
              },
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "labels": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets."
              },
              "friendlyName": {
                "description": "A descriptive name for the dataset, if one exists.",
                "type": "string"
              },
              "datasetReference": {
                "$ref": "DatasetReference",
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
              }
            },
            "type": "object"
          },
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "bigquery#datasetList",
          "description": "The list type. This property always returns the value \"bigquery#datasetList\"."
        },
        "etag": {
          "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request.",
          "type": "string"
        }
      },
      "id": "DatasetList",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
[...]
