{
  "discoveryVersion": "v1",
  "title": "BigQuery Data Transfer API",
  "protocol": "rest",
  "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
  "kind": "discovery#restDescription",
  "canonicalName": "BigQuery Data Transfer",
  "baseUrl": "https://bigquerydatatransfer.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "enrollDataSources": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers).",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:enrollDataSources",
              "request": {
                "$ref": "EnrollDataSourcesRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:enrollDataSources",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the project resource in the form: `projects/{project_id}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "bigquerydatatransfer.projects.locations.enrollDataSources",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "bigquerydatatransfer.projects.locations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "bigquerydatatransfer.projects.locations.get",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "transferConfigs": {
              "resources": {
                "runs": {
                  "resources": {
                    "transferLogs": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "messageTypes": {
                              "repeated": true,
                              "enum": [
                                "MESSAGE_SEVERITY_UNSPECIFIED",
                                "INFO",
                                "WARNING",
                                "ERROR"
                              ],
                              "type": "string",
                              "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                              "location": "query",
                              "enumDescriptions": [
                                "No severity specified.",
                                "Informational message.",
                                "Warning message.",
                                "Error message."
                              ]
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Transfer run name in the form: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "Page size. The default page size is the maximum value of 1000 results."
                            }
                          },
                          "description": "Returns log messages for the transfer run.",
                          "scopes": [
                            "https://www.googleapis.com/auth/bigquery",
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                          "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.transferLogs.list",
                          "response": {
                            "$ref": "ListTransferLogsResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/transferLogs"
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "description": "Deletes the specified transfer run.",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": "Returns information about the particular transfer run.",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "TransferRun"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.list",
                      "httpMethod": "GET",
                      "description": "Returns information about running and completed transfer runs.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTransferRunsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. Format of transfer configuration resource name is: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`."
                        },
                        "states": {
                          "type": "string",
                          "enumDescriptions": [
                            "State placeholder (0).",
                            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                            "Data transfer is in progress (3).",
                            "Data transfer completed successfully (4).",
                            "Data transfer failed (5).",
                            "Data transfer is cancelled (6)."
                          ],
                          "repeated": true,
                          "description": "When specified, only transfer runs with requested states are returned.",
                          "location": "query",
                          "enum": [
                            "TRANSFER_STATE_UNSPECIFIED",
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "CANCELLED"
                          ]
                        },
                        "runAttempt": {
                          "enum": [
                            "RUN_ATTEMPT_UNSPECIFIED",
                            "LATEST"
                          ],
                          "enumDescriptions": [
                            "All runs should be returned.",
                            "Only latest run per day should be returned."
                          ],
                          "location": "query",
                          "description": "Indicates how run attempts are to be pulled.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1/{+parent}/runs"
                    }
                  }
                }
              },
              "methods": {
                "startManualRuns": {
                  "response": {
                    "$ref": "StartManualTransferRunsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}:startManualRuns",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.startManualRuns",
                  "request": {
                    "$ref": "StartManualTransferRunsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:startManualRuns",
                  "description": "Start manual transfer runs to be executed now with schedule_time equal to current time. The transfer runs can be created for a time range where the run_time is between start_time (inclusive) and end_time (exclusive), or for a specific run_time.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "description": "Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Required list of fields to be updated in this request."
                    },
                    "authorizationCode": {
                      "description": "Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "type": "string",
                      "location": "query"
                    },
                    "serviceAccountName": {
                      "description": "Optional service account name. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                      "location": "query",
                      "type": "string"
                    },
                    "versionInfo": {
                      "location": "query",
                      "description": "Optional version info. This is required only if `transferConfig.dataSourceId` is not 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "location": "path",
                      "description": "The resource name of the transfer config. Transfer config names have the form `projects/{project_id}/locations/{region}/transferConfigs/{config_id}`. Where `config_id` is usually a uuid, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated."
                },
                "list": {
                  "path": "v1/{+parent}/transferConfigs",
                  "response": {
                    "$ref": "ListTransferConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "httpMethod": "GET",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string"
                    },
                    "dataSourceIds": {
                      "description": "When specified, only configurations of requested data sources are returned.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The BigQuery project id for which transfer configs should be returned: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns information about all transfer configs owned by a project in the specified location."
                },
                "create": {
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "path": "v1/{+parent}/transferConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new data transfer configuration.",
                  "parameters": {
                    "serviceAccountName": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional service account name. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts)."
                    },
                    "versionInfo": {
                      "type": "string",
                      "description": "Optional version info. This is required only if `transferConfig.dataSourceId` is not 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail."
                    },
                    "authorizationCode": {
                      "type": "string",
                      "description": "Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TransferConfig"
                  }
                },
                "scheduleRuns": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ScheduleTransferRunsResponse"
                  },
                  "request": {
                    "$ref": "ScheduleTransferRunsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
                  "path": "v1/{+parent}:scheduleRuns",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.scheduleRuns",
                  "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
                  "path": "v1/{+name}",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.get",
                  "description": "Returns information about a data transfer config.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "response": {
                    "$ref": "TransferConfig"
                  }
                }
              }
            },
            "dataSources": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/dataSources",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists supported data sources and returns their settings.",
                  "response": {
                    "$ref": "ListDataSourcesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Page size. The default page size is the maximum value of 1000 results."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "location": "query"
                    }
                  }
                },
                "checkValidCreds": {
                  "response": {
                    "$ref": "CheckValidCredsResponse"
                  },
                  "description": "Returns true if valid credentials exist for the given data source and requesting user.",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:checkValidCreds",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds",
                  "request": {
                    "$ref": "CheckValidCredsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "type": "string",
                      "description": "Required. The data source in the form: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`.",
                      "required": true
                    }
                  },
                  "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "DataSource"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.dataSources.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`"
                    }
                  },
                  "description": "Retrieves a supported data source and returns its settings.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}"
                }
              }
            }
          }
        },
        "transferConfigs": {
          "resources": {
            "runs": {
              "resources": {
                "transferLogs": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListTransferLogsResponse"
                      },
                      "description": "Returns log messages for the transfer run.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "messageTypes": {
                          "enumDescriptions": [
                            "No severity specified.",
                            "Informational message.",
                            "Warning message.",
                            "Error message."
                          ],
                          "location": "query",
                          "enum": [
                            "MESSAGE_SEVERITY_UNSPECIFIED",
                            "INFO",
                            "WARNING",
                            "ERROR"
                          ],
                          "repeated": true,
                          "type": "string",
                          "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Transfer run name in the form: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$"
                        }
                      },
                      "path": "v1/{+parent}/transferLogs",
                      "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "runAttempt": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "RUN_ATTEMPT_UNSPECIFIED",
                        "LATEST"
                      ],
                      "description": "Indicates how run attempts are to be pulled.",
                      "enumDescriptions": [
                        "All runs should be returned.",
                        "Only latest run per day should be returned."
                      ]
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. Format of transfer configuration resource name is: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                    },
                    "states": {
                      "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                      ],
                      "repeated": true,
                      "enumDescriptions": [
                        "State placeholder (0).",
                        "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                        "Data transfer is in progress (3).",
                        "Data transfer completed successfully (4).",
                        "Data transfer failed (5).",
                        "Data transfer is cancelled (6)."
                      ],
                      "description": "When specified, only transfer runs with requested states are returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+parent}/runs",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListTransferRunsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs",
                  "description": "Returns information about running and completed transfer runs."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "location": "path",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                  "description": "Returns information about the particular transfer run.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "TransferRun"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the specified transfer run."
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "startManualRuns": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "StartManualTransferRunsRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}:startManualRuns",
              "description": "Start manual transfer runs to be executed now with schedule_time equal to current time. The transfer runs can be created for a time range where the run_time is between start_time (inclusive) and end_time (exclusive), or for a specific run_time.",
              "id": "bigquerydatatransfer.projects.transferConfigs.startManualRuns",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:startManualRuns",
              "response": {
                "$ref": "StartManualTransferRunsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameters": {
                "name": {
                  "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "description": "Returns information about a data transfer config.",
              "response": {
                "$ref": "TransferConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "scheduleRuns": {
              "request": {
                "$ref": "ScheduleTransferRunsRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "ScheduleTransferRunsResponse"
              },
              "path": "v1/{+parent}:scheduleRuns",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
              "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The BigQuery project id for which transfer configs should be returned: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                  "pattern": "^projects/[^/]+$"
                },
                "dataSourceIds": {
                  "location": "query",
                  "type": "string",
                  "description": "When specified, only configurations of requested data sources are returned.",
                  "repeated": true
                },
                "pageToken": {
                  "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Page size. The default page size is the maximum value of 1000 results."
                }
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "parameterOrder": [
                "parent"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.list",
              "httpMethod": "GET",
              "description": "Returns information about all transfer configs owned by a project in the specified location.",
              "response": {
                "$ref": "ListTransferConfigsResponse"
              },
              "path": "v1/{+parent}/transferConfigs"
            },
            "patch": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "TransferConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TransferConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. Required list of fields to be updated in this request.",
                  "location": "query"
                },
                "serviceAccountName": {
                  "description": "Optional service account name. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "type": "string",
                  "location": "query"
                },
                "authorizationCode": {
                  "type": "string",
                  "description": "Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "location": "query"
                },
                "versionInfo": {
                  "location": "query",
                  "description": "Optional version info. This is required only if `transferConfig.dataSourceId` is not 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the transfer config. Transfer config names have the form `projects/{project_id}/locations/{region}/transferConfigs/{config_id}`. Where `config_id` is usually a uuid, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                  "type": "string"
                }
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.patch",
              "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}"
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "path": "v1/{+parent}/transferConfigs",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TransferConfig"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail.",
                  "location": "path",
                  "type": "string"
                },
                "serviceAccountName": {
                  "description": "Optional service account name. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "location": "query",
                  "type": "string"
                },
                "versionInfo": {
                  "type": "string",
                  "description": "Optional version info. This is required only if `transferConfig.dataSourceId` is not 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "location": "query"
                },
                "authorizationCode": {
                  "type": "string",
                  "description": "Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://www.gstatic.com/bigquerydatatransfer/oauthz/auth? client_id=client_id&scope=data_source_scopes &redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code * The client_id is the OAuth client_id of the a data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new data transfer configuration.",
              "id": "bigquerydatatransfer.projects.transferConfigs.create",
              "response": {
                "$ref": "TransferConfig"
              },
              "httpMethod": "POST"
            }
          }
        },
        "dataSources": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/dataSources",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDataSourcesResponse"
              },
              "id": "bigquerydatatransfer.projects.dataSources.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Lists supported data sources and returns their settings.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources",
              "httpMethod": "GET"
            },
            "checkValidCreds": {
              "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
              "path": "v1/{+name}:checkValidCreds",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Returns true if valid credentials exist for the given data source and requesting user.",
              "parameters": {
                "name": {
                  "description": "Required. The data source in the form: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`.",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "CheckValidCredsRequest"
              },
              "response": {
                "$ref": "CheckValidCredsResponse"
              }
            },
            "get": {
              "id": "bigquerydatatransfer.projects.dataSources.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`"
                }
              },
              "response": {
                "$ref": "DataSource"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a supported data source and returns its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}"
            }
          }
        }
      },
      "methods": {
        "enrollDataSources": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "id": "bigquerydatatransfer.projects.enrollDataSources",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "description": "The name of the project resource in the form: `projects/{project_id}`",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{projectsId}:enrollDataSources",
          "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers).",
          "request": {
            "$ref": "EnrollDataSourcesRequest"
          },
          "path": "v1/{+name}:enrollDataSources",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/bigquery-transfer/",
  "revision": "20220409",
  "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
  "servicePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "bigquerydatatransfer:v1",
  "batchPath": "batch",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "schemas": {
    "DataSourceParameter": {
      "type": "object",
      "id": "DataSourceParameter",
      "description": "A parameter used to define custom fields in a data source definition.",
      "properties": {
        "maxValue": {
          "type": "number",
          "description": "For integer and double values specifies maxminum allowed value.",
          "format": "double"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          },
          "description": "Deprecated. This field has no effect."
        },
        "deprecated": {
          "type": "boolean",
          "description": "If true, it should not be used in new transfers, and it should not be visible to users."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits). Will be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Deprecated. This field has no effect.",
            "Page ID for a Google+ Page."
          ],
          "description": "Parameter type."
        },
        "allowedValues": {
          "description": "All possible values for the parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recurse": {
          "type": "boolean",
          "description": "Deprecated. This field has no effect."
        },
        "validationRegex": {
          "type": "string",
          "description": "Regular expression which can be used for parameter validation."
        },
        "repeated": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "paramId": {
          "type": "string",
          "description": "Parameter identifier."
        },
        "validationHelpUrl": {
          "description": "URL to a help document to further explain the naming requirements.",
          "type": "string"
        },
        "immutable": {
          "type": "boolean",
          "description": "Cannot be changed after initial creation."
        },
        "displayName": {
          "description": "Parameter display name in the user interface.",
          "type": "string"
        },
        "validationDescription": {
          "description": "Description of the requirements for this field, in case the user input does not fulfill the regex pattern or min/max values.",
          "type": "string"
        },
        "minValue": {
          "format": "double",
          "type": "number",
          "description": "For integer and double values specifies minimum allowed value."
        },
        "required": {
          "type": "boolean",
          "description": "Is parameter required."
        },
        "description": {
          "type": "string",
          "description": "Parameter description."
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "properties": {
        "email": {
          "description": "E-mail address of the user.",
          "type": "string"
        }
      },
      "description": "Information about a user.",
      "type": "object"
    },
    "ListTransferRunsResponse": {
      "type": "object",
      "id": "ListTransferRunsResponse",
      "properties": {
        "transferRuns": {
          "description": "Output only. The stored pipeline transfer runs.",
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferRunsRequest.page_token` to request the next page of list results."
        }
      },
      "description": "The returned list of pipelines in the project."
    },
    "TransferConfig": {
      "properties": {
        "dataRefreshWindowDays": {
          "format": "int32",
          "description": "The number of days to look back to automatically refresh the data. For example, if `data_refresh_window_days = 10`, then every day BigQuery reingests data for [today-10, today-1], rather than ingesting data for just [today-1]. Only valid if the data source supports the feature. Set the value to 0 to use the default value.",
          "type": "integer"
        },
        "state": {
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "readOnly": true,
          "description": "Output only. State of the most recently updated transfer run.",
          "type": "string",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The resource name of the transfer config. Transfer config names have the form `projects/{project_id}/locations/{region}/transferConfigs/{config_id}`. Where `config_id` is usually a uuid, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
        },
        "disabled": {
          "type": "boolean",
          "description": "Is this config disabled. When set to true, no runs are scheduled for a given transfer."
        },
        "params": {
          "type": "object",
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "nextRunTime": {
          "type": "string",
          "description": "Output only. Next time when data transfer will run.",
          "format": "google-datetime",
          "readOnly": true
        },
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        },
        "userId": {
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "type": "string",
          "format": "int64"
        },
        "scheduleOptions": {
          "description": "Options customizing the data transfer schedule.",
          "$ref": "ScheduleOptions"
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish. The format for specifying a pubsub topic is: `projects/{project}/topics/{topic}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "format": "google-datetime",
          "type": "string"
        },
        "dataSourceId": {
          "description": "Data source id. Cannot be changed once data transfer is created.",
          "type": "string"
        },
        "ownerInfo": {
          "description": "Output only. Information about the user whose credentials are used to transfer data. Populated only for `transferConfigs.get` requests. In case the user information is not available, this field will not be populated.",
          "readOnly": true,
          "$ref": "UserInfo"
        },
        "emailPreferences": {
          "$ref": "EmailPreferences",
          "description": "Email notifications will be sent according to these preferences to the email address of the user who owns this transfer config."
        },
        "datasetRegion": {
          "type": "string",
          "description": "Output only. Region in which BigQuery dataset is located.",
          "readOnly": true
        },
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        }
      },
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account.",
      "id": "TransferConfig",
      "type": "object"
    },
    "ScheduleOptions": {
      "description": "Options customizing the data transfer schedule.",
      "properties": {
        "disableAutoScheduling": {
          "type": "boolean",
          "description": "If true, automatic scheduling of data transfer runs for this configuration will be disabled. The runs can be started on ad-hoc basis using StartManualTransferRuns API. When automatic scheduling is disabled, the TransferConfig.schedule field will be ignored."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment. The time when a data transfer can be trigerred manually is not limited by this option.",
          "type": "string"
        },
        "endTime": {
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment. The time when a data transfer can be trigerred manually is not limited by this option.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ScheduleOptions"
    },
    "TransferRun": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "type": "string",
          "description": "Data transfer run state. Ignored for input requests.",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "endTime": {
          "description": "Output only. Time when transfer run ended. Parameter ignored by server for input requests.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last time the data transfer run state was updated."
        },
        "startTime": {
          "description": "Output only. Time when transfer run was started. Parameter ignored by server for input requests.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "readOnly": true,
          "type": "object"
        },
        "name": {
          "description": "The resource name of the transfer run. Transfer run names have the form `projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`. The name is ignored when creating a transfer run.",
          "type": "string"
        },
        "runTime": {
          "description": "For batch transfer runs, specifies the date and time of the data should be ingested.",
          "format": "google-datetime",
          "type": "string"
        },
        "scheduleTime": {
          "description": "Minimum time after which a transfer run can be started.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationDatasetId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The BigQuery target dataset id."
        },
        "errorStatus": {
          "$ref": "Status",
          "description": "Status of the transfer run."
        },
        "emailPreferences": {
          "readOnly": true,
          "description": "Output only. Email notifications will be sent according to these preferences to the email address of the user who owns the transfer config this run was derived from.",
          "$ref": "EmailPreferences"
        },
        "userId": {
          "type": "string",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "format": "int64"
        },
        "schedule": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Describes the schedule of this transfer run if it was created as part of a regular schedule. For batch transfer runs that are scheduled manually, this is empty. NOTE: the system might choose to delay the schedule depending on the current load, so `schedule_time` doesn't always match this."
        },
        "dataSourceId": {
          "readOnly": true,
          "description": "Output only. Data source id.",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "description": "Output only. Pub/Sub topic where a notification will be sent after this transfer run finishes. The format for specifying a pubsub topic is: `projects/{project}/topics/{topic}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a data transfer run.",
      "id": "TransferRun"
    },
    "TransferMessage": {
      "description": "Represents a user facing message for a particular data transfer run.",
      "type": "object",
      "properties": {
        "messageText": {
          "type": "string",
          "description": "Message text."
        },
        "severity": {
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ],
          "type": "string",
          "description": "Message severity."
        },
        "messageTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when message was logged."
        }
      },
      "id": "TransferMessage"
    },
    "ListDataSourcesResponse": {
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListDataSourcesRequest.page_token` to request the next page of list results.",
          "type": "string"
        },
        "dataSources": {
          "type": "array",
          "description": "List of supported data sources and their transfer settings.",
          "items": {
            "$ref": "DataSource"
          }
        }
      },
      "type": "object",
      "description": "Returns list of supported data sources and their metadata.",
      "id": "ListDataSourcesResponse"
    },
    "EnrollDataSourcesRequest": {
      "description": "A request to enroll a set of data sources so they are visible in the BigQuery UI's `Transfer` tab.",
      "id": "EnrollDataSourcesRequest",
      "type": "object",
      "properties": {
        "dataSourceIds": {
          "items": {
            "type": "string"
          },
          "description": "Data sources that are enrolled. It is required to provide at least one data source id.",
          "type": "array"
        }
      }
    },
    "CheckValidCredsRequest": {
      "id": "CheckValidCredsRequest",
      "type": "object",
      "properties": {},
      "description": "A request to determine whether the user has valid credentials. This method is used to limit the number of OAuth popups in the user interface. The user id is inferred from the API call context. If the data source has the Google+ authorization type, this method returns false, as it cannot be determined whether the credentials are already valid merely based on the user id."
    },
    "ListTransferConfigsResponse": {
      "type": "object",
      "id": "ListTransferConfigsResponse",
      "description": "The returned list of pipelines in the project.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferConfigsRequest.page_token` to request the next page of list results."
        },
        "transferConfigs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The stored pipeline transfer configurations.",
          "items": {
            "$ref": "TransferConfig"
          }
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "ScheduleTransferRunsResponse": {
      "properties": {
        "runs": {
          "type": "array",
          "description": "The transfer runs that were scheduled.",
          "items": {
            "$ref": "TransferRun"
          }
        }
      },
      "type": "object",
      "description": "A response to schedule transfer runs for a time range.",
      "id": "ScheduleTransferRunsResponse"
    },
    "EmailPreferences": {
      "properties": {
        "enableFailureEmail": {
          "description": "If true, email notifications will be sent on transfer run failures.",
          "type": "boolean"
        }
      },
      "id": "EmailPreferences",
      "type": "object",
      "description": "Represents preferences for sending email notifications for transfer run events."
    },
    "ScheduleTransferRunsRequest": {
      "id": "ScheduleTransferRunsRequest",
      "type": "object",
      "description": "A request to schedule transfer runs for a time range.",
      "properties": {
        "startTime": {
          "description": "Required. Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required. End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`.",
          "type": "string"
        }
      }
    },
    "StartManualTransferRunsResponse": {
      "properties": {
        "runs": {
          "description": "The transfer runs that were created.",
          "items": {
            "$ref": "TransferRun"
          },
          "type": "array"
        }
      },
      "description": "A response to start manual transfer runs.",
      "type": "object",
      "id": "StartManualTransferRunsResponse"
    },
    "DataSource": {
      "properties": {
        "description": {
          "type": "string",
          "description": "User friendly data source description string."
        },
        "clientId": {
          "description": "Data source client id which should be used to receive refresh token.",
          "type": "string"
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        },
        "defaultDataRefreshWindowDays": {
          "type": "integer",
          "format": "int32",
          "description": "Default data refresh window on days. Only meaningful when `data_refresh_type` = `SLIDING_WINDOW`."
        },
        "dataRefreshType": {
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Does not allow custom values to be set for each transfer config.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Allows custom values to be set for each transfer config."
          ],
          "type": "string",
          "description": "Specifies whether the data source supports automatic data refresh for the past few days, and how it's supported. For some data sources, data might not be complete until a few days later, so it's useful to refresh data automatically.",
          "enum": [
            "DATA_REFRESH_TYPE_UNSPECIFIED",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ]
        },
        "defaultSchedule": {
          "type": "string",
          "description": "Default data transfer schedule. Examples of valid schedules include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`."
        },
        "transferType": {
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't support multiple transfer configs per project."
          ],
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ],
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "supportsCustomSchedule": {
          "type": "boolean",
          "description": "Specifies whether the data source supports a user defined schedule, or operates on the default schedule. When set to `true`, user can override default schedule."
        },
        "supportsMultipleTransfers": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "updateDeadlineSeconds": {
          "description": "The number of seconds to wait for an update from the data source before the Data Transfer Service marks the transfer as FAILED.",
          "format": "int32",
          "type": "integer"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Api auth scopes for which refresh token needs to be obtained. These are scopes needed by a data source to prepare data and ingest them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery",
          "type": "array"
        },
        "helpUrl": {
          "type": "string",
          "description": "Url for the help document for this data source."
        },
        "authorizationType": {
          "type": "string",
          "description": "Indicates the type of authorization.",
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE",
            "FIRST_PARTY_OAUTH"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged for a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be exchanged for a refresh token on the backend.",
            "Use First Party OAuth."
          ]
        },
        "minimumScheduleInterval": {
          "type": "string",
          "description": "The minimum interval for scheduler to schedule runs.",
          "format": "google-duration"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          },
          "description": "Data source parameters."
        },
        "dataSourceId": {
          "type": "string",
          "description": "Data source id."
        },
        "manualRunsDisabled": {
          "type": "boolean",
          "description": "Disables backfilling and manual run scheduling for the data source."
        },
        "name": {
          "description": "Output only. Data source resource name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DataSource",
      "description": "Defines the properties and custom parameters for a data source.",
      "type": "object"
    },
    "ListTransferLogsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `GetTransferRunLogRequest.page_token` to request the next page of list results.",
          "readOnly": true,
          "type": "string"
        },
        "transferMessages": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The stored pipeline transfer messages.",
          "items": {
            "$ref": "TransferMessage"
          }
        }
      },
      "type": "object",
      "description": "The returned list transfer run messages.",
      "id": "ListTransferLogsResponse"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
[...]
