{
  "id": "bigquery:v2",
  "rootUrl": "https://bigquery.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "CategoryCount": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The name of category."
        },
        "count": {
          "description": "The count of training samples matching the category within the cluster.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CategoryCount",
      "description": "Represents the count of a single category within the cluster."
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "properties": {
        "rSquared": {
          "type": "number",
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE.",
          "format": "double"
        },
        "meanSquaredError": {
          "format": "double",
          "type": "number",
          "description": "Mean squared error."
        },
        "medianAbsoluteError": {
          "type": "number",
          "description": "Median absolute error.",
          "format": "double"
        },
        "meanAbsoluteError": {
          "format": "double",
          "type": "number",
          "description": "Mean absolute error."
        },
        "meanSquaredLogError": {
          "description": "Mean squared log error.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "TableRow": {
      "type": "object",
      "properties": {
        "f": {
          "type": "array",
          "description": "Represents a single row in the result set, consisting of one or more fields.",
          "items": {
            "$ref": "TableCell"
          }
        }
      },
      "id": "TableRow"
    },
    "TrainingOptions": {
      "id": "TrainingOptions",
      "properties": {
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "type": "string"
        },
        "horizon": {
          "format": "int64",
          "description": "The number of periods ahead that need to be forecasted.",
          "type": "string"
        },
        "initialLearnRate": {
          "description": "Specifies the initial learning rate for the line search learn rate strategy.",
          "type": "number",
          "format": "double"
        },
        "nonSeasonalOrder": {
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order.",
          "$ref": "ArimaOrder"
        },
        "treeMethod": {
          "type": "string",
          "description": "Tree construction algorithm for boosted tree models.",
          "enum": [
            "TREE_METHOD_UNSPECIFIED",
            "AUTO",
            "EXACT",
            "APPROX",
            "HIST"
          ],
          "enumDescriptions": [
            "Unspecified tree method.",
            "Use heuristic to choose the fastest method.",
            "Exact greedy algorithm.",
            "Approximate greedy algorithm using quantile sketch and gradient histogram.",
            "Fast histogram optimized approximate greedy algorithm."
          ]
        },
        "warmStart": {
          "type": "boolean",
          "description": "Whether to train a model from the last checkpoint."
        },
        "adjustStepChanges": {
          "description": "If true, detect step changes and make data adjustment in the input time series.",
          "type": "boolean"
        },
        "numParallelTree": {
          "format": "int64",
          "description": "Number of parallel trees constructed during each iteration for boosted tree models.",
          "type": "string"
        },
        "autoArima": {
          "type": "boolean",
          "description": "Whether to enable auto ARIMA or not."
        },
        "lossType": {
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ],
          "description": "Type of loss function used during training run.",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "type": "string"
        },
        "optimizationStrategy": {
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "type": "string",
          "description": "Optimization strategy for training linear regression models.",
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ]
        },
        "batchSize": {
          "type": "string",
          "format": "int64",
          "description": "Batch size for dnn models."
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "type": "number",
          "format": "double"
        },
        "includeDrift": {
          "description": "Include drift when fitting an ARIMA model.",
          "type": "boolean"
        },
        "minRelativeProgress": {
          "format": "double",
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "type": "number"
        },
        "distanceType": {
          "description": "Distance type for clustering models.",
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ]
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "type": "string",
          "format": "int64"
        },
        "maxIterations": {
          "format": "int64",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string"
        },
        "boosterType": {
          "type": "string",
          "enum": [
            "BOOSTER_TYPE_UNSPECIFIED",
            "GBTREE",
            "DART"
          ],
          "description": "Booster type for boosted tree models.",
          "enumDescriptions": [
            "Unspecified booster type.",
            "Gbtree booster.",
            "Dart booster."
          ]
        },
        "itemColumn": {
          "type": "string",
          "description": "Item column specified for matrix factorization models."
        },
        "timeSeriesTimestampColumn": {
          "description": "Column to be designated as time series timestamp for ARIMA model.",
          "type": "string"
        },
        "labelClassWeights": {
          "type": "object",
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties",
          "type": "string"
        },
        "l2Regularization": {
          "description": "L2 regularization coefficient.",
          "format": "double",
          "type": "number"
        },
        "preserveInputStructs": {
          "description": "Whether to preserve the input structs in output feature names. Suppose there is a struct A with field b. When false (default), the output feature name is A_b. When true, the output feature name is A.b.",
          "type": "boolean"
        },
        "inputLabelColumns": {
          "items": {
            "type": "string"
          },
          "description": "Name of input label columns in training data.",
          "type": "array"
        },
        "timeSeriesIdColumn": {
          "description": "The time series id column that was used during ARIMA model training.",
          "type": "string"
        },
        "timeSeriesIdColumns": {
          "type": "array",
          "description": "The time series id columns that were used during ARIMA model training.",
          "items": {
            "type": "string"
          }
        },
        "dataSplitEvalFraction": {
          "type": "number",
          "format": "double",
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2."
        },
        "dataFrequency": {
          "description": "The data frequency of a time series.",
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ],
          "type": "string"
        },
        "colsampleBytree": {
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "l1Regularization": {
          "type": "number",
          "format": "double",
          "description": "L1 regularization coefficient."
        },
        "numFactors": {
          "type": "string",
          "format": "int64",
          "description": "Num factors specified for matrix factorization models."
        },
        "decomposeTimeSeries": {
          "description": "If true, perform decompose time series and save the results.",
          "type": "boolean"
        },
        "timeSeriesDataColumn": {
          "type": "string",
          "description": "Column to be designated as time series data for ARIMA model."
        },
        "autoArimaMaxOrder": {
          "format": "int64",
          "description": "The max value of non-seasonal p and q.",
          "type": "string"
        },
        "hiddenUnits": {
          "description": "Hidden units for dnn models.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "dartNormalizeType": {
          "enumDescriptions": [
            "Unspecified dart normalize type.",
            "New trees have the same weight of each of dropped trees.",
            "New trees have the same weight of sum of dropped trees."
          ],
          "description": "Type of normalization algorithm for boosted tree models using dart booster.",
          "enum": [
            "DART_NORMALIZE_TYPE_UNSPECIFIED",
            "TREE",
            "FOREST"
          ],
          "type": "string"
        },
        "holidayRegion": {
          "type": "string",
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled.",
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ],
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ]
        },
        "colsampleBynode": {
          "format": "double",
          "description": "Subsample ratio of columns for each node(split) for boosted tree models.",
          "type": "number"
        },
        "colsampleBylevel": {
          "format": "double",
          "type": "number",
          "description": "Subsample ratio of columns for each level for boosted tree models."
        },
        "minTreeChildWeight": {
          "type": "string",
          "format": "int64",
          "description": "Minimum sum of instance weight needed in a child for boosted tree models."
        },
        "cleanSpikesAndDips": {
          "description": "If true, clean spikes and dips in the input time series.",
          "type": "boolean"
        },
        "kmeansInitializationColumn": {
          "type": "string",
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM."
        },
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "dataSplitMethod": {
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "description": "The data split type for training and evaluation, e.g. RANDOM."
        },
        "feedbackType": {
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "description": "Feedback type that specifies which algorithm to run for matrix factorization."
        },
        "minSplitLoss": {
          "format": "double",
          "description": "Minimum split loss for boosted tree models.",
          "type": "number"
        },
        "learnRateStrategy": {
          "type": "string",
          "description": "The strategy to determine learn rate for the current iteration.",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms.",
          "type": "boolean"
        },
        "modelUri": {
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models.",
          "type": "string"
        },
        "userColumn": {
          "description": "User column specified for matrix factorization models.",
          "type": "string"
        },
        "maxTreeDepth": {
          "description": "Maximum depth of a tree for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "walsAlpha": {
          "format": "double",
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Options used in model training."
    },
    "RowLevelSecurityStatistics": {
      "id": "RowLevelSecurityStatistics",
      "type": "object",
      "properties": {
        "rowLevelSecurityApplied": {
          "description": "[Output-only] [Preview] Whether any accessed data was protected by row access policies.",
          "type": "boolean"
        }
      }
    },
    "AggregateClassificationMetrics": {
      "id": "AggregateClassificationMetrics",
      "properties": {
        "rocAuc": {
          "type": "number",
          "format": "double",
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric."
        },
        "precision": {
          "format": "double",
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "type": "number"
        },
        "accuracy": {
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "format": "double",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
          "format": "double"
        },
        "logLoss": {
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "f1Score": {
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Aggregate metrics for classification/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows."
    },
    "JobConfigurationLoad": {
      "type": "object",
      "properties": {
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names",
          "type": "boolean"
        },
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER)."
        },
        "allowQuotedNewlines": {
          "description": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "projectionFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result."
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "maxBadRecords": {
          "format": "int32",
          "type": "integer",
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV and JSON. The default value is 0, which requires that all records are valid."
        },
        "skipLeadingRows": {
          "type": "integer",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
          "format": "int32"
        },
        "jsonExtension": {
          "description": "[Optional] If sourceFormat is set to newline-delimited JSON, indicates whether it should be processed as a JSON variant such as GeoJSON. For a sourceFormat other than JSON, omit this field. If the sourceFormat is newline-delimited JSON: - for newline-delimited GeoJSON: set to GEOJSON.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
        },
        "destinationTableProperties": {
          "$ref": "DestinationTableProperties",
          "description": "[Beta] [Optional] Properties with which to create the destination table if it is new."
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',')."
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "sourceFormat": {
          "type": "string",
          "description": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\". The default value is CSV."
        },
        "quote": {
          "type": "string",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
          "pattern": ".?",
          "default": "\""
        },
        "autodetect": {
          "description": "[Optional] Indicates if we should automatically infer the options and schema for CSV and JSON sources.",
          "type": "boolean"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "allowJaggedRows": {
          "description": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats.",
          "type": "boolean"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore."
        },
        "sourceUris": {
          "type": "array",
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "items": {
            "type": "string"
          }
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table to load the data into."
        },
        "schemaInline": {
          "type": "string",
          "description": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\"."
        },
        "decimalTargetTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Optional] Defines the list of possible SQL data types to which the source decimal values are converted. This list and the precision and the scale parameters of the decimal field determine the target type. In the order of NUMERIC, BIGNUMERIC, and STRING, a type is picked if it is in the specified list and if it supports the precision and the scale. STRING supports all precision and scale values. If none of the listed types supports the precision and the scale, the type supporting the widest range in the specified list is picked, and if a value exceeds the supported range when reading the data, an error will be thrown. Example: Suppose the value of this field is [\"NUMERIC\", \"BIGNUMERIC\"]. If (precision,scale) is: (38,9) -\u003e NUMERIC; (39,9) -\u003e BIGNUMERIC (NUMERIC cannot hold 30 integer digits); (38,10) -\u003e BIGNUMERIC (NUMERIC cannot hold 10 fractional digits); (76,38) -\u003e BIGNUMERIC; (77,38) -\u003e BIGNUMERIC (error if value exeeds supported range). This field cannot contain duplicate types. The order of the types in this field is ignored. For example, [\"BIGNUMERIC\", \"NUMERIC\"] is the same as [\"NUMERIC\", \"BIGNUMERIC\"] and NUMERIC always takes precedence over BIGNUMERIC. Defaults to [\"NUMERIC\", \"STRING\"] for ORC and [\"NUMERIC\"] for the other file formats."
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the load job if a schema is autodetected or supplied in the job configuration. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parquetOptions": {
          "$ref": "ParquetOptions",
          "description": "[Optional] Options to configure parquet support."
        },
        "nullMarker": {
          "description": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value.",
          "type": "string"
        },
        "schemaInlineFormat": {
          "type": "string",
          "description": "[Deprecated] The format of the schemaInline property."
        },
        "hivePartitioningOptions": {
          "description": "[Optional] Options to configure hive partitioning support.",
          "$ref": "HivePartitioningOptions"
        }
      },
      "id": "JobConfigurationLoad"
    },
    "ExplainQueryStep": {
      "type": "object",
      "id": "ExplainQueryStep",
      "properties": {
        "substeps": {
          "items": {
            "type": "string"
          },
          "description": "Human-readable stage descriptions.",
          "type": "array"
        },
        "kind": {
          "description": "Machine-readable operation type.",
          "type": "string"
        }
      }
    },
    "RangePartitioning": {
      "properties": {
        "range": {
          "type": "object",
          "description": "[TrustedTester] [Required] Defines the ranges for range partitioning.",
          "properties": {
            "interval": {
              "format": "int64",
              "type": "string",
              "description": "[TrustedTester] [Required] The width of each interval."
            },
            "start": {
              "type": "string",
              "format": "int64",
              "description": "[TrustedTester] [Required] The start of range partitioning, inclusive."
            },
            "end": {
              "description": "[TrustedTester] [Required] The end of range partitioning, exclusive.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "field": {
          "type": "string",
          "description": "[TrustedTester] [Required] The table is partitioned by this field. The field must be a top-level NULLABLE/REQUIRED field. The only supported type is INTEGER/INT64."
        }
      },
      "id": "RangePartitioning",
      "type": "object"
    },
    "QueryParameterType": {
      "type": "object",
      "properties": {
        "arrayType": {
          "$ref": "QueryParameterType",
          "description": "[Optional] The type of the array's elements, if this is an array."
        },
        "structTypes": {
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "description": "[Optional] Human-oriented description of the field.",
                "type": "string"
              },
              "type": {
                "description": "[Required] The type of this field.",
                "$ref": "QueryParameterType"
              },
              "name": {
                "description": "[Optional] The name of this field.",
                "type": "string"
              }
            }
          },
          "description": "[Optional] The types of the fields of this struct, in order, if this is a struct.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "[Required] The top level type of this field."
        }
      },
      "id": "QueryParameterType"
    },
    "ArimaFittingMetrics": {
      "description": "ARIMA model fitting metrics.",
      "properties": {
        "aic": {
          "format": "double",
          "type": "number",
          "description": "AIC."
        },
        "logLikelihood": {
          "format": "double",
          "type": "number",
          "description": "Log-likelihood."
        },
        "variance": {
          "type": "number",
          "description": "Variance.",
          "format": "double"
        }
      },
      "id": "ArimaFittingMetrics",
      "type": "object"
    },
    "FeatureValue": {
      "description": "Representative value of a single feature within the cluster.",
      "type": "object",
      "id": "FeatureValue",
      "properties": {
        "categoricalValue": {
          "description": "The categorical feature value.",
          "$ref": "CategoricalValue"
        },
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "format": "double",
          "type": "number"
        },
        "featureColumn": {
          "type": "string",
          "description": "The feature column name."
        }
      }
    },
    "TableReference": {
      "id": "TableReference",
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the dataset containing this table."
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        },
        "tableId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string",
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        }
      }
    },
    "GetServiceAccountResponse": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The service account email address.",
          "type": "string"
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#getServiceAccountResponse"
        }
      },
      "id": "GetServiceAccountResponse"
    },
    "JobReference": {
      "id": "JobReference",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this job.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          }
        },
        "jobId": {
          "type": "string",
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          }
        },
        "location": {
          "type": "string",
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        }
      }
    },
    "LocationMetadata": {
      "properties": {
        "legacyLocationId": {
          "type": "string",
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations."
        }
      },
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "id": "LocationMetadata",
      "type": "object"
    },
    "ClusterInfo": {
      "description": "Information about a single cluster for clustering model.",
      "id": "ClusterInfo",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "format": "int64",
          "type": "string"
        },
        "clusterSize": {
          "format": "int64",
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "type": "string"
        },
        "clusterRadius": {
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "AvroOptions": {
      "type": "object",
      "properties": {
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER)."
        }
      },
      "id": "AvroOptions"
    },
    "JsonObject": {
      "description": "Represents a single JSON object.",
      "additionalProperties": {
        "$ref": "JsonValue"
      },
      "type": "object",
      "id": "JsonObject"
    },
    "QueryParameterValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "[Optional] The value of this value, if a simple scalar type.",
          "type": "string"
        },
        "structValues": {
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          },
          "description": "[Optional] The struct field values, in order of the struct type's declaration.",
          "type": "object"
        },
        "arrayValues": {
          "items": {
            "$ref": "QueryParameterValue"
          },
          "type": "array",
          "description": "[Optional] The array values, if this is an array type."
        }
      },
      "id": "QueryParameterValue"
    },
    "RankingMetrics": {
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit.",
      "properties": {
        "normalizedDiscountedCumulativeGain": {
          "format": "double",
          "type": "number",
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings."
        },
        "averageRank": {
          "type": "number",
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank.",
          "format": "double"
        },
        "meanSquaredError": {
          "format": "double",
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not.",
          "type": "number"
        },
        "meanAveragePrecision": {
          "format": "double",
          "type": "number",
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users."
        }
      },
      "id": "RankingMetrics",
      "type": "object"
    },
    "StandardSqlField": {
      "properties": {
        "type": {
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field).",
          "$ref": "StandardSqlDataType"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this field. Can be absent for struct fields."
        }
      },
      "id": "StandardSqlField",
      "description": "A field or a column.",
      "type": "object"
    },
    "ProjectList": {
      "type": "object",
      "id": "ProjectList",
      "properties": {
        "kind": {
          "description": "The type of list.",
          "default": "bigquery#projectList",
          "type": "string"
        },
        "etag": {
          "description": "A hash of the page of results",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of projects in the list.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "projects": {
          "type": "array",
          "items": {
            "properties": {
              "kind": {
                "description": "The resource type.",
                "default": "bigquery#project",
                "type": "string"
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of this project."
              },
              "projectReference": {
                "description": "A unique reference to this project.",
                "$ref": "ProjectReference"
              },
              "friendlyName": {
                "description": "A descriptive name for this project.",
                "type": "string"
              },
              "numericId": {
                "format": "uint64",
                "type": "string",
                "description": "The numeric ID of this project."
              }
            },
            "type": "object"
          },
          "description": "Projects to which you have at least READ access."
        }
      }
    },
    "BigtableColumnFamily": {
      "type": "object",
      "id": "BigtableColumnFamily",
      "properties": {
        "columns": {
          "items": {
            "$ref": "BigtableColumn"
          },
          "type": "array",
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field."
        },
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
        },
        "familyId": {
          "type": "string",
          "description": "Identifier of the column family."
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        }
      }
    },
    "DatasetAccessEntry": {
      "id": "DatasetAccessEntry",
      "type": "object",
      "properties": {
        "dataset": {
          "$ref": "DatasetReference",
          "description": "[Required] The dataset this entry applies to."
        },
        "target_types": {
          "type": "array",
          "items": {
            "properties": {
              "targetType": {
                "description": "[Required] Which resources in the dataset this entry applies to. Currently, only views are supported, but additional target types may be added in the future. Possible values: VIEWS: This entry applies to all views in the dataset.",
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "BiEngineReason": {
      "id": "BiEngineReason",
      "properties": {
        "message": {
          "default": "$(reason.message)",
          "type": "string",
          "description": "[Output-only] Free form human-readable reason for partial or disabled acceleration."
        },
        "code": {
          "default": "$(reason.code)",
          "type": "string",
          "description": "[Output-only] High-level BI Engine reason for partial or disabled acceleration."
        }
      },
      "type": "object"
    },
    "BqmlIterationResult": {
      "id": "BqmlIterationResult",
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run."
        },
        "learnRate": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant."
        },
        "durationMs": {
          "format": "int64",
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds.",
          "type": "string"
        },
        "trainingLoss": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type."
        },
        "evalLoss": {
          "type": "number",
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows.",
          "format": "double"
        }
      }
    },
    "TableSchema": {
      "properties": {
        "fields": {
          "type": "array",
          "description": "Describes the fields in a table.",
          "items": {
            "$ref": "TableFieldSchema"
          }
        }
      },
      "type": "object",
      "id": "TableSchema"
    },
    "BinaryClassificationMetrics": {
      "description": "Evaluation metrics for binary classification/classifier models.",
      "id": "BinaryClassificationMetrics",
      "type": "object",
      "properties": {
        "positiveLabel": {
          "type": "string",
          "description": "Label representing the positive class."
        },
        "binaryConfusionMatrixList": {
          "items": {
            "$ref": "BinaryConfusionMatrix"
          },
          "description": "Binary confusion matrix at multiple thresholds.",
          "type": "array"
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        },
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "ParquetOptions": {
      "properties": {
        "enumAsString": {
          "type": "boolean",
          "description": "[Optional] Indicates whether to infer Parquet ENUM logical type as STRING instead of BYTES by default."
        },
        "enableListInference": {
          "description": "[Optional] Indicates whether to use schema inference specifically for Parquet LIST logical type.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ParquetOptions"
    },
    "RowAccessPolicyReference": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this row access policy."
        },
        "policyId": {
          "type": "string",
          "description": "[Required] The ID of the row access policy. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this row access policy.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "[Required] The ID of the table containing this row access policy."
        }
      },
      "type": "object",
      "id": "RowAccessPolicyReference"
    },
    "Job": {
      "id": "Job",
      "properties": {
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        },
        "id": {
          "type": "string",
          "description": "[Output-only] Opaque ID field of the job"
        },
        "user_email": {
          "description": "[Output-only] Email address of the user who ran the job.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        },
        "statistics": {
          "$ref": "JobStatistics",
          "description": "[Output-only] Information about the job, including starting time and ending time of the job."
        },
        "status": {
          "$ref": "JobStatus",
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#job"
        }
      },
      "type": "object"
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "type": "object",
      "properties": {
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "kind": {
          "description": "The resource type.",
          "type": "string",
          "default": "bigquery#queryResponse"
        },
        "numDmlAffectedRows": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.",
          "format": "int64"
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether the query result was fetched from the query cache."
        },
        "dmlStats": {
          "$ref": "DmlStatistics",
          "description": "[Output-only] Detailed statistics for DML statements Present only for DML statements INSERT, UPDATE, DELETE or TRUNCATE."
        },
        "rows": {
          "items": {
            "$ref": "TableRow"
          },
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
          "type": "array"
        },
        "errors": {
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array",
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful."
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results."
        },
        "schema": {
          "description": "The schema of the results. Present only when the query completes successfully.",
          "$ref": "TableSchema"
        },
        "sessionInfo": {
          "$ref": "SessionInfo",
          "description": "[Output-only] [Preview] Information of the session if this job is part of one."
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "ViewDefinition": {
      "id": "ViewDefinition",
      "properties": {
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array"
        },
        "query": {
          "type": "string",
          "description": "[Required] A query that BigQuery executes when the view is referenced."
        },
        "useExplicitColumnNames": {
          "description": "True if the column names are explicitly specified. For example by using the 'CREATE VIEW v(c1, c2) AS ...' syntax. Can only be set using BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/",
          "type": "boolean"
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ArimaResult": {
      "id": "ArimaResult",
      "properties": {
        "seasonalPeriods": {
          "type": "array",
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "items": {
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "arimaModelInfo": {
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          },
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one."
        }
      },
      "type": "object",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results."
    },
    "BigQueryModelTraining": {
      "properties": {
        "currentIteration": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress."
        },
        "expectedTotalIterations": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop."
        }
      },
      "id": "BigQueryModelTraining",
      "type": "object"
    },
    "Clustering": {
      "id": "Clustering",
      "properties": {
        "fields": {
          "items": {
            "type": "string"
          },
          "description": "[Repeated] One or more fields on which data should be clustered. Only top-level, non-repeated, simple-type fields are supported. When you cluster a table using multiple columns, the order of columns you specify is important. The order of the specified columns determines the sort order of the data.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "EvaluationMetrics": {
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models.",
      "type": "object",
      "id": "EvaluationMetrics",
      "properties": {
        "rankingMetrics": {
          "$ref": "RankingMetrics",
          "description": "Populated for implicit feedback type matrix factorization models."
        },
        "clusteringMetrics": {
          "$ref": "ClusteringMetrics",
          "description": "Populated for clustering models."
        },
        "regressionMetrics": {
          "$ref": "RegressionMetrics",
          "description": "Populated for regression models and explicit feedback type matrix factorization models."
        },
        "arimaForecastingMetrics": {
          "description": "Populated for ARIMA models.",
          "$ref": "ArimaForecastingMetrics"
        },
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        },
        "multiClassClassificationMetrics": {
          "description": "Populated for multi-class classification/classifier models.",
          "$ref": "MultiClassClassificationMetrics"
        }
      }
    },
    "TableCell": {
      "properties": {
        "v": {
          "type": "any"
        }
      },
      "id": "TableCell",
      "type": "object"
    },
    "SnapshotDefinition": {
      "id": "SnapshotDefinition",
      "properties": {
        "baseTableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of the table that was snapshot."
        },
        "snapshotTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Required] The time at which the base table was snapshot. This value is reported in the JSON response using RFC3339 format."
        }
      },
      "type": "object"
    },
    "Streamingbuffer": {
      "type": "object",
      "id": "Streamingbuffer",
      "properties": {
        "estimatedRows": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer."
        },
        "estimatedBytes": {
          "type": "string",
          "format": "uint64",
          "description": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer."
        },
        "oldestEntryTime": {
          "description": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "properties": {
        "errors": {
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array"
        },
        "errorResult": {
          "$ref": "ErrorProto",
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful."
        },
        "state": {
          "description": "[Output-only] Running state of the job.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IterationResult": {
      "id": "IterationResult",
      "type": "object",
      "properties": {
        "trainingLoss": {
          "format": "double",
          "type": "number",
          "description": "Loss computed on the training data at the end of iteration."
        },
        "durationMs": {
          "type": "string",
          "format": "int64",
          "description": "Time taken to run the iteration in milliseconds."
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "format": "double",
          "type": "number"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the iteration, 0 based."
        }
      }
    },
    "BigtableOptions": {
      "type": "object",
      "id": "BigtableOptions",
      "properties": {
        "columnFamilies": {
          "items": {
            "$ref": "BigtableColumnFamily"
          },
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "type": "array"
        },
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "readRowkeyAsString": {
          "type": "boolean",
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false."
        }
      }
    },
    "JsonValue": {
      "type": "any",
      "id": "JsonValue"
    },
    "ConnectionProperty": {
      "properties": {
        "key": {
          "type": "string",
          "description": "[Required] Name of the connection property to set."
        },
        "value": {
          "description": "[Required] Value of the connection property.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConnectionProperty"
    },
    "SessionInfo": {
      "id": "SessionInfo",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "[Output-only] // [Preview] Id of the session.",
          "type": "string"
        }
      }
    },
    "GetQueryResultsResponse": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "TableRow"
          },
          "type": "array",
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "totalBytesProcessed": {
          "format": "int64",
          "type": "string",
          "description": "The total number of bytes processed for this query."
        },
        "cacheHit": {
          "description": "Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "type": "string",
          "format": "uint64"
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "The resource type of the response.",
          "default": "bigquery#getQueryResultsResponse"
        },
        "errors": {
          "type": "array",
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "etag": {
          "type": "string",
          "description": "A hash of this response."
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "type": "string",
          "format": "int64"
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        }
      },
      "id": "GetQueryResultsResponse",
      "type": "object"
    },
    "JobStatistics3": {
      "id": "JobStatistics3",
      "type": "object",
      "properties": {
        "outputRows": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change."
        },
        "badRecords": {
          "description": "[Output-only] The number of bad records encountered. Note that if the job has failed because of more bad records encountered than the maximum allowed in the load job configuration, then this number can be less than the total number of bad records present in the input data.",
          "format": "int64",
          "type": "string"
        },
        "inputFileBytes": {
          "type": "string",
          "description": "[Output-only] Number of bytes of source data in a load job.",
          "format": "int64"
        },
        "outputBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change."
        },
        "inputFiles": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of source files in a load job."
        }
      }
    },
    "ListRowAccessPoliciesResponse": {
      "type": "object",
      "description": "Response message for the ListRowAccessPolicies method.",
      "properties": {
        "rowAccessPolicies": {
          "items": {
            "$ref": "RowAccessPolicy"
          },
          "type": "array",
          "description": "Row access policies on the requested table."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "id": "ListRowAccessPoliciesResponse"
    },
    "EncryptionConfiguration": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key."
        }
      },
      "id": "EncryptionConfiguration"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "JobStatistics4": {
      "properties": {
        "destinationUriFileCounts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the 'destinationUris' field."
        },
        "inputBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of user bytes extracted into the result. This is the byte count as computed by BigQuery for billing purposes."
        }
      },
      "id": "JobStatistics4",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "StandardSqlDataType": {
      "description": "The type of a variable, e.g., a function argument. Examples: INT64: {type_kind=\"INT64\"} ARRAY: {type_kind=\"ARRAY\", array_element_type=\"STRING\"} STRUCT\u003e: {type_kind=\"STRUCT\", struct_type={fields=[ {name=\"x\", type={type_kind=\"STRING\"}}, {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}} ]}}",
      "type": "object",
      "properties": {
        "structType": {
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\".",
          "$ref": "StandardSqlStructType"
        },
        "arrayElementType": {
          "$ref": "StandardSqlDataType",
          "description": "The type of the array's elements, if type_kind = \"ARRAY\"."
        },
        "typeKind": {
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "INTERVAL",
            "GEOGRAPHY",
            "NUMERIC",
            "BIGNUMERIC",
            "JSON",
            "ARRAY",
            "STRUCT"
          ],
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as fully qualified 3 part: 0-5 15 2:30:45.6",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a decimal string.",
            "Encoded as a string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used because a JSON object cannot have duplicate field names."
          ],
          "type": "string",
          "description": "Required. The top level type of this field. Can be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\")."
        }
      },
      "id": "StandardSqlDataType"
    },
    "Row": {
      "id": "Row",
      "description": "A single row in the confusion matrix.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "Entry"
          },
          "description": "Info describing predicted label distribution."
        },
        "actualLabel": {
          "type": "string",
          "description": "The original label of this row."
        }
      }
    },
    "ArimaOrder": {
      "properties": {
        "q": {
          "description": "Order of the moving-average part.",
          "format": "int64",
          "type": "string"
        },
        "d": {
          "format": "int64",
          "type": "string",
          "description": "Order of the differencing part."
        },
        "p": {
          "type": "string",
          "description": "Order of the autoregressive part.",
          "format": "int64"
        }
      },
      "description": "Arima order, can be used for both non-seasonal and seasonal parts.",
      "type": "object",
      "id": "ArimaOrder"
    },
    "ScriptStackFrame": {
      "type": "object",
      "properties": {
        "endColumn": {
          "type": "integer",
          "description": "[Output-only] One-based end column.",
          "format": "int32"
        },
        "startLine": {
          "description": "[Output-only] One-based start line.",
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "description": "[Output-only] Text of the current statement/expression.",
          "type": "string"
        },
        "endLine": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only] One-based end line."
        },
        "procedureId": {
          "type": "string",
          "description": "[Output-only] Name of the active procedure, empty if in a top-level script."
        },
        "startColumn": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based start column."
        }
      },
      "id": "ScriptStackFrame"
    },
    "GoogleSheetsOptions": {
      "type": "object",
      "properties": {
        "skipLeadingRows": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema."
        },
        "range": {
          "description": "[Optional] Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20",
          "type": "string"
        }
      },
      "id": "GoogleSheetsOptions"
    },
    "Entry": {
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold \u003e 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A single entry in the confusion matrix.",
      "id": "Entry"
    },
    "CategoricalValue": {
      "id": "CategoricalValue",
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are more than ten categories, we return top ten (by count) and return one more CategoryCount with category \"_OTHER_\" and count as aggregate counts of remaining categories.",
          "items": {
            "$ref": "CategoryCount"
          },
          "type": "array"
        }
      },
      "description": "Representative value of a categorical feature.",
      "type": "object"
    },
    "DatasetList": {
      "id": "DatasetList",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request."
        },
        "datasets": {
          "type": "array",
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
          "items": {
            "properties": {
              "id": {
                "type": "string",
                "description": "The fully-qualified, unique, opaque ID of the dataset."
              },
              "labels": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
                "type": "object"
              },
              "datasetReference": {
                "$ref": "DatasetReference",
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
              },
              "kind": {
                "type": "string",
                "description": "The resource type. This property always returns the value \"bigquery#dataset\".",
                "default": "bigquery#dataset"
              },
              "location": {
                "description": "The geographic location where the data resides.",
                "type": "string"
              },
              "friendlyName": {
                "type": "string",
                "description": "A descriptive name for the dataset, if one exists."
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "default": "bigquery#datasetList",
          "description": "The list type. This property always returns the value \"bigquery#datasetList\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page."
        }
      }
    },
    "JobConfigurationExtract": {
      "id": "JobConfigurationExtract",
      "properties": {
        "destinationUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written."
        },
        "sourceModel": {
          "$ref": "ModelReference",
          "description": "A reference to the model being exported."
        },
        "printHeader": {
          "default": "true",
          "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models.",
          "type": "boolean"
        },
        "fieldDelimiter": {
          "type": "string",
[...]
