{
  "discoveryVersion": "v1",
  "id": "bigquery:v2",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    }
  },
  "resources": {
    "jobs": {
      "methods": {
        "list": {
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "JobList"
          },
          "path": "projects/{projectId}/jobs",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "httpMethod": "GET",
          "parameters": {
            "stateFilter": {
              "repeated": true,
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "location": "query",
              "type": "string",
              "description": "Filter for job state",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "projection": {
              "location": "query",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ]
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of results to return",
              "type": "integer"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "location": "query",
              "type": "string"
            },
            "maxCreationTime": {
              "format": "uint64",
              "location": "query",
              "type": "string",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned"
            },
            "allUsers": {
              "type": "boolean",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the jobs to list"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.list"
        },
        "query": {
          "path": "projects/{projectId}/queries",
          "request": {
            "$ref": "QueryRequest"
          },
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "response": {
            "$ref": "QueryResponse"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project billed for the query"
            }
          },
          "id": "bigquery.jobs.query",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST"
        },
        "insert": {
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "httpMethod": "POST",
          "id": "bigquery.jobs.insert",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/jobs",
          "response": {
            "$ref": "Job"
          },
          "request": {
            "$ref": "Job"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "supportsMediaUpload": true
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{projectId}/jobs/{jobId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Job"
          },
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.get",
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "[Required] Project ID of the requested job",
              "location": "path",
              "required": true
            }
          }
        },
        "delete": {
          "parameters": {
            "jobId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "httpMethod": "DELETE",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.delete",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete"
        },
        "getQueryResults": {
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to read",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "jobId": {
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the query job",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "timeoutMs": {
              "format": "uint32",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "type": "integer",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "description": "[Required] Project ID of the query job",
              "location": "path",
              "required": true
            },
            "startIndex": {
              "format": "uint64",
              "location": "query",
              "type": "string",
              "description": "Zero-based index of the starting row"
            }
          },
          "id": "bigquery.jobs.getQueryResults",
          "httpMethod": "GET",
          "description": "Retrieves the results of a query job.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "path": "projects/{projectId}/queries/{jobId}"
        },
        "cancel": {
          "id": "bigquery.jobs.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the job to cancel"
            },
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "[Required] Project ID of the job to cancel",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "path": "projects/{projectId}/jobs/{jobId}/cancel"
        }
      }
    },
    "tables": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "id": "bigquery.tables.patch",
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the table to update",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the table to update"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "autodetect_schema": {
              "type": "boolean",
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema"
            }
          }
        },
        "list": {
          "id": "bigquery.tables.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "TableList"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "GET",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the tables to list"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Dataset ID of the tables to list",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            }
          }
        },
        "testIamPermissions": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "id": "bigquery.tables.testIamPermissions",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "path": "{+resource}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
        },
        "get": {
          "id": "bigquery.tables.get",
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the requested table"
            },
            "tableId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Table ID of the requested table"
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "view": {
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ],
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ],
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "path": "{+resource}:getIamPolicy",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "id": "bigquery.tables.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameterOrder": [
            "resource"
          ]
        },
        "update": {
          "id": "bigquery.tables.update",
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "autodetect_schema": {
              "type": "boolean",
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Table ID of the table to update"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PUT"
        },
        "insert": {
          "description": "Creates a new, empty table in the dataset.",
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the new table",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the new table",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.insert",
          "httpMethod": "POST"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the table to delete",
              "location": "path",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "required": true,
              "description": "Table ID of the table to delete",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the table to delete",
              "location": "path"
            }
          },
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete"
        },
        "setIamPolicy": {
          "path": "{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.tables.setIamPolicy"
        }
      }
    },
    "routines": {
      "methods": {
        "insert": {
          "id": "bigquery.routines.insert",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the new routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "response": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "description": "Creates a new routine in the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Routine"
          }
        },
        "get": {
          "description": "Gets the specified routine resource by routine ID.",
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.routines.get",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of the requested routine",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "readMask": {
              "type": "string",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested routine"
            },
            "routineId": {
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the requested routine",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.routines.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\"."
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routines to list",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the routines to list",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines"
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "id": "bigquery.routines.update",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "response": {
            "$ref": "Routine"
          },
          "request": {
            "$ref": "Routine"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the routine to update",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "routineId": {
              "type": "string",
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to update",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "description": "Deletes the routine specified by routineId from the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to delete",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the routine to delete"
            },
            "routineId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to delete",
              "type": "string",
              "location": "path"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.delete",
          "httpMethod": "DELETE"
        }
      }
    },
    "datasets": {
      "methods": {
        "update": {
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.update",
          "httpMethod": "PUT"
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being deleted",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean",
              "location": "query"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of dataset being deleted",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "id": "bigquery.datasets.delete",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "list": {
          "response": {
            "$ref": "DatasetList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query",
              "type": "boolean"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of results to return",
              "location": "query",
              "format": "uint32"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the datasets to be listed",
              "type": "string"
            }
          },
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets"
        },
        "insert": {
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "httpMethod": "POST",
          "id": "bigquery.datasets.insert",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the new dataset",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId"
          ],
          "description": "Creates a new empty dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.get",
          "description": "Returns the dataset specified by datasetID.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the requested dataset"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.patch",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          }
        }
      }
    },
    "models": {
      "methods": {
        "list": {
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the models to list."
            },
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "httpMethod": "GET",
          "id": "bigquery.models.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models"
        },
        "get": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "description": "Gets the specified model resource by model ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Model"
          },
          "parameters": {
            "modelId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Model ID of the requested model.",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the requested model.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "id": "bigquery.models.get"
        },
        "patch": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the model to patch.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "description": "Required. Project ID of the model to patch.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Model"
          },
          "response": {
            "$ref": "Model"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "description": "Patch specific fields in the specified model.",
          "id": "bigquery.models.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "httpMethod": "DELETE",
          "id": "bigquery.models.delete",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the model to delete.",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the model to delete."
            },
            "modelId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Model ID of the model to delete."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "description": "Deletes the model specified by modelId from the dataset."
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "id": "bigquery.tabledata.insertAll",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "parameters": {
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the destination table."
            },
            "tableId": {
              "description": "Table ID of the destination table.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the destination table.",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "list": {
          "response": {
            "$ref": "TableDataList"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, identifying the result set",
              "location": "query"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "type": "string",
              "location": "path",
              "required": true
            },
            "startIndex": {
              "location": "query",
              "type": "string",
              "description": "Zero-based index of the starting row to read",
              "format": "uint64"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the table to read",
              "location": "path"
            }
          },
          "id": "bigquery.tabledata.list"
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "httpMethod": "GET",
          "id": "bigquery.projects.getServiceAccount",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID for which the service account is requested."
            }
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "bigquery.projects.list",
          "path": "projects",
          "httpMethod": "GET",
          "response": {
            "$ref": "ProjectList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all projects to which you have been granted any project role."
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "{+resource}:getIamPolicy"
        },
        "list": {
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the row access policies to list."
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "description": "Required. Table ID of the table to list row access policies.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "description": "Required. Dataset ID of row access policies to list.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            }
          },
          "description": "Lists all row access policies on the specified table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.rowAccessPolicies.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies"
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "testIamPermissions": {
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "{+resource}:testIamPermissions",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
        }
      }
    }
  },
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "batchPath": "batch/bigquery/v2",
  "ownerDomain": "google.com",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "servicePath": "bigquery/v2/",
  "ownerName": "Google",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20220528",
  "title": "BigQuery API",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "description": "A data platform for customers to create, manage, share and query data.",
  "version": "v2",
  "basePath": "/bigquery/v2/",
  "schemas": {
    "BinaryClassificationMetrics": {
      "type": "object",
      "description": "Evaluation metrics for binary classification/classifier models.",
      "properties": {
        "positiveLabel": {
          "type": "string",
          "description": "Label representing the positive class."
        },
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        },
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "type": "array",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          }
        }
      },
      "id": "BinaryClassificationMetrics"
    },
    "ParquetOptions": {
      "id": "ParquetOptions",
      "properties": {
        "enumAsString": {
          "type": "boolean",
          "description": "[Optional] Indicates whether to infer Parquet ENUM logical type as STRING instead of BYTES by default."
        },
        "enableListInference": {
          "description": "[Optional] Indicates whether to use schema inference specifically for Parquet LIST logical type.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IterationResult": {
      "id": "IterationResult",
      "properties": {
        "trainingLoss": {
          "type": "number",
          "format": "double",
          "description": "Loss computed on the training data at the end of iteration."
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "format": "double",
          "type": "number"
        },
        "index": {
          "type": "integer",
          "description": "Index of the iteration, 0 based.",
          "format": "int32"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "format": "double",
          "type": "number"
        },
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CategoryCount": {
      "description": "Represents the count of a single category within the cluster.",
      "type": "object",
      "id": "CategoryCount",
      "properties": {
        "category": {
          "description": "The name of category.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "The count of training samples matching the category within the cluster.",
          "type": "string"
        }
      }
    },
    "ScriptStatistics": {
      "properties": {
        "stackFrames": {
          "type": "array",
          "items": {
            "$ref": "ScriptStackFrame"
          },
          "description": "Stack trace showing the line/column/procedure name of each frame on the stack at the point where the current evaluation happened. The leaf frame is first, the primary script is last. Never empty."
        },
        "evaluationKind": {
          "description": "[Output-only] Whether this child job was a statement or expression.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ScriptStatistics"
    },
    "IntArray": {
      "id": "IntArray",
      "type": "object",
      "description": "An array of int.",
      "properties": {
        "elements": {
          "description": "Elements in the int array.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "ArimaFittingMetrics": {
      "type": "object",
      "properties": {
        "logLikelihood": {
          "description": "Log-likelihood.",
          "type": "number",
          "format": "double"
        },
        "variance": {
          "format": "double",
          "description": "Variance.",
          "type": "number"
        },
        "aic": {
          "format": "double",
          "description": "AIC.",
          "type": "number"
        }
      },
      "id": "ArimaFittingMetrics",
      "description": "ARIMA model fitting metrics."
    },
    "BqmlTrainingRun": {
      "id": "BqmlTrainingRun",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "[Output-only, Beta] Different state applicable for a training run. IN PROGRESS: Training run is in progress. FAILED: Training run ended due to a non-retryable failure. SUCCEEDED: Training run successfully completed. CANCELLED: Training run cancelled by the user."
        },
        "startTime": {
          "format": "date-time",
          "description": "[Output-only, Beta] Training run start time in milliseconds since the epoch.",
          "type": "string"
        },
        "trainingOptions": {
          "description": "[Output-only, Beta] Training options used by this training run. These options are mutable for subsequent training runs. Default values are explicitly stored for options not specified in the input query of the first training run. For subsequent training runs, any option not explicitly specified in the input query will be copied from the previous training run.",
          "type": "object",
          "properties": {
            "learnRate": {
              "type": "number",
              "format": "double"
            },
            "warmStart": {
              "type": "boolean"
            },
            "l1Reg": {
              "format": "double",
              "type": "number"
            },
            "earlyStop": {
              "type": "boolean"
            },
            "l2Reg": {
              "type": "number",
              "format": "double"
            },
            "lineSearchInitLearnRate": {
              "type": "number",
              "format": "double"
            },
            "minRelProgress": {
              "format": "double",
              "type": "number"
            },
            "maxIteration": {
              "format": "int64",
              "type": "string"
            },
            "learnRateStrategy": {
              "type": "string"
            }
          }
        },
        "iterationResults": {
          "description": "[Output-only, Beta] List of each iteration results.",
          "items": {
            "$ref": "BqmlIterationResult"
          },
          "type": "array"
        }
      }
    },
    "LocationMetadata": {
      "type": "object",
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "id": "LocationMetadata",
      "properties": {
        "legacyLocationId": {
          "type": "string",
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations."
        }
      }
    },
    "ScriptStackFrame": {
      "id": "ScriptStackFrame",
      "properties": {
        "text": {
          "type": "string",
          "description": "[Output-only] Text of the current statement/expression."
        },
        "startLine": {
          "description": "[Output-only] One-based start line.",
          "format": "int32",
          "type": "integer"
        },
        "startColumn": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only] One-based start column."
        },
        "procedureId": {
          "type": "string",
          "description": "[Output-only] Name of the active procedure, empty if in a top-level script."
        },
        "endLine": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based end line."
        },
        "endColumn": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based end column."
        }
      },
      "type": "object"
    },
    "StandardSqlTableType": {
      "description": "A table type",
      "type": "object",
      "id": "StandardSqlTableType",
      "properties": {
        "columns": {
          "description": "The columns in this table type",
          "items": {
            "$ref": "StandardSqlField"
          },
          "type": "array"
        }
      }
    },
    "BigtableColumnFamily": {
      "properties": {
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        },
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "items": {
            "$ref": "BigtableColumn"
          },
          "type": "array"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        }
      },
      "id": "BigtableColumnFamily",
      "type": "object"
    },
    "SnapshotDefinition": {
      "type": "object",
      "properties": {
        "snapshotTime": {
          "description": "[Required] The time at which the base table was snapshot. This value is reported in the JSON response using RFC3339 format.",
          "type": "string",
          "format": "date-time"
        },
        "baseTableReference": {
          "description": "[Required] Reference describing the ID of the table that was snapshot.",
          "$ref": "TableReference"
        }
      },
      "id": "SnapshotDefinition"
    },
    "ModelReference": {
      "id": "ModelReference",
      "properties": {
        "modelId": {
          "description": "[Required] The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this model."
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this model."
        }
      },
      "type": "object"
    },
    "ArimaResult": {
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "id": "ArimaResult",
      "type": "object",
      "properties": {
        "seasonalPeriods": {
          "items": {
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          },
          "type": "array",
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series."
        },
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        }
      }
    },
    "Argument": {
      "id": "Argument",
      "properties": {
        "mode": {
          "description": "Optional. Specifies whether the argument is input or output. Can be set for procedures only.",
          "enumDescriptions": [
            "",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ]
        },
        "argumentKind": {
          "enum": [
            "ARGUMENT_KIND_UNSPECIFIED",
            "FIXED_TYPE",
            "ANY_TYPE"
          ],
          "enumDescriptions": [
            "",
            "The argument is a variable with fully specified type, which can be a struct or an array, but not a table.",
            "The argument is any type, including struct or array, but not a table. To be added: FIXED_TABLE, ANY_TABLE"
          ],
          "description": "Optional. Defaults to FIXED_TYPE.",
          "type": "string"
        },
        "dataType": {
          "description": "Required unless argument_kind = ANY_TYPE.",
          "$ref": "StandardSqlDataType"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this argument. Can be absent for function return argument."
        }
      },
      "type": "object",
      "description": "Input/output argument of a function or a stored procedure."
    },
    "CategoricalValue": {
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are more than ten categories, we return top ten (by count) and return one more CategoryCount with category \"_OTHER_\" and count as aggregate counts of remaining categories.",
          "type": "array",
          "items": {
            "$ref": "CategoryCount"
          }
        }
      },
      "type": "object",
      "description": "Representative value of a categorical feature.",
      "id": "CategoricalValue"
    },
    "RankingMetrics": {
      "id": "RankingMetrics",
      "type": "object",
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit.",
      "properties": {
        "normalizedDiscountedCumulativeGain": {
          "type": "number",
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings.",
          "format": "double"
        },
        "meanSquaredError": {
          "type": "number",
          "format": "double",
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not."
        },
        "meanAveragePrecision": {
          "type": "number",
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users.",
          "format": "double"
        },
        "averageRank": {
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GetServiceAccountResponse": {
      "properties": {
        "kind": {
          "default": "bigquery#getServiceAccountResponse",
          "type": "string",
          "description": "The resource type of the response."
        },
        "email": {
          "type": "string",
          "description": "The service account email address."
        }
      },
      "id": "GetServiceAccountResponse",
      "type": "object"
    },
    "AggregateClassificationMetrics": {
      "properties": {
        "precision": {
          "format": "double",
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "format": "double",
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric."
        },
        "accuracy": {
          "format": "double",
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "type": "number"
        },
        "recall": {
          "format": "double",
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
          "type": "number"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "type": "number",
          "format": "double"
        },
        "logLoss": {
          "format": "double",
          "type": "number",
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric."
        },
        "rocAuc": {
          "format": "double",
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric.",
          "type": "number"
        }
      },
      "description": "Aggregate metrics for classification/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows.",
      "id": "AggregateClassificationMetrics",
      "type": "object"
    },
    "ArimaModelInfo": {
      "type": "object",
      "description": "Arima model information.",
      "properties": {
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          }
        },
        "timeSeriesIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns."
        },
        "arimaCoefficients": {
          "$ref": "ArimaCoefficients",
          "description": "Arima coefficients."
        },
        "hasSpikesAndDips": {
          "description": "If true, spikes_and_dips is a part of time series decomposition result.",
          "type": "boolean"
        },
        "arimaFittingMetrics": {
          "$ref": "ArimaFittingMetrics",
          "description": "Arima fitting metrics."
        },
        "hasStepChanges": {
          "type": "boolean",
          "description": "If true, step_changes is a part of time series decomposition result."
        },
        "hasDrift": {
          "type": "boolean",
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1."
        },
        "timeSeriesId": {
          "type": "string",
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used."
        },
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "hasHolidayEffect": {
          "description": "If true, holiday_effect is a part of time series decomposition result.",
          "type": "boolean"
        }
      },
      "id": "ArimaModelInfo"
    },
    "Routine": {
      "id": "Routine",
      "description": "A user-defined function or a stored procedure.",
      "properties": {
        "returnType": {
          "description": "Optional if language = \"SQL\"; required otherwise. Cannot be set if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return type is inferred from definition_body at query time in each query that references this routine. If present, then the evaluated result will be cast to the specified returned type at query time. For example, for the functions created with the following statements: * `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);` * `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));` * `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));` The return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and is absent for `Increment` (inferred as FLOAT64 at query time). Suppose the function `Add` is replaced by `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);` Then the inferred return type of `Increment` is automatically changed to INT64 at query time, while the return type of `Decrement` remains FLOAT64.",
          "$ref": "StandardSqlDataType"
        },
        "determinismLevel": {
          "enumDescriptions": [
            "The determinism of the UDF is unspecified.",
            "The UDF is deterministic, meaning that 2 function calls with the same inputs always produce the same result, even across 2 query runs.",
            "The UDF is not deterministic."
          ],
          "description": "Optional. The determinism level of the JavaScript UDF, if defined.",
          "type": "string",
          "enum": [
            "DETERMINISM_LEVEL_UNSPECIFIED",
            "DETERMINISTIC",
            "NOT_DETERMINISTIC"
          ]
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A hash of this resource."
        },
        "description": {
          "description": "Optional. The description of the routine, if defined.",
          "type": "string"
        },
        "lastModifiedTime": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this routine was last modified, in milliseconds since the epoch."
        },
        "creationTime": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time when this routine was created, in milliseconds since the epoch.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "SQL",
            "JAVASCRIPT"
          ],
          "enumDescriptions": [
            "",
            "SQL language.",
            "JavaScript language."
          ],
          "description": "Optional. Defaults to \"SQL\"."
        },
        "routineType": {
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE",
            "TABLE_VALUED_FUNCTION"
          ],
          "description": "Required. The type of routine.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Non-builtin permanent scalar function.",
            "Stored procedure.",
            "Non-builtin permanent TVF."
          ]
        },
        "strictMode": {
          "type": "boolean",
          "description": "Optional. Can be set for procedures only. If true (default), the definition body will be validated in the creation and the updates of the procedure. For procedures with an argument of ANY TYPE, the definition body validtion is not supported at creation/update time, and thus this field must be set to false explicitly."
        },
        "definitionBody": {
          "description": "Required. The body of the routine. For functions, this is the expression in the AS clause. If language=SQL, it is the substring inside (but excluding) the parentheses. For example, for the function created with the following statement: `CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))` The definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with linebreak). If language=JAVASCRIPT, it is the evaluated string in the AS clause. For example, for the function created with the following statement: `CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'` The definition_body is `return \"\\n\";\\n` Note that both \\n are replaced with linebreaks.",
          "type": "string"
        },
        "returnTableType": {
          "description": "Optional. Can be set only if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return table type is inferred from definition_body at query time in each query that references this routine. If present, then the columns in the evaluated table result will be cast to match the column types specificed in return table type, at query time.",
          "$ref": "StandardSqlTableType"
        },
        "arguments": {
          "description": "Optional.",
          "type": "array",
          "items": {
            "$ref": "Argument"
          }
        },
        "routineReference": {
          "$ref": "RoutineReference",
          "description": "Required. Reference describing the ID of this routine."
        },
        "remoteFunctionOptions": {
          "$ref": "RemoteFunctionOptions",
          "description": "Optional. Remote function specific options."
        },
        "importedLibraries": {
          "items": {
            "type": "string"
          },
          "description": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the imported JAVASCRIPT libraries.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DataSplitResult": {
      "type": "object",
      "properties": {
        "trainingTable": {
          "$ref": "TableReference",
          "description": "Table reference of the training data after split."
        },
        "evaluationTable": {
          "$ref": "TableReference",
          "description": "Table reference of the evaluation data after split."
        },
        "testTable": {
          "description": "Table reference of the test data after split.",
          "$ref": "TableReference"
        }
      },
      "id": "DataSplitResult",
      "description": "Data split result. This contains references to the training and evaluation data tables that were used to train the model."
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "access": {
          "type": "array",
          "items": {
            "properties": {
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                "$ref": "TableReference"
              },
              "iamMember": {
                "type": "string",
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group."
              },
              "specialGroup": {
                "type": "string",
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members."
              },
              "role": {
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\".",
                "type": "string"
              },
              "routine": {
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation.",
                "$ref": "RoutineReference"
              },
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "groupByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\"."
              },
              "dataset": {
                "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation.",
                "$ref": "DatasetAccessEntry"
              },
              "userByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\"."
              }
            },
            "type": "object"
          },
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;"
        },
        "maxTimeTravelHours": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Number of hours for the max time travel for all tables in the dataset."
        },
        "location": {
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "defaultCollation": {
          "description": "[Output-only] The default collation of the dataset.",
          "type": "string"
        },
        "kind": {
          "description": "[Output-only] The resource type.",
          "default": "bigquery#dataset",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource."
        },
        "creationTime": {
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "defaultTableExpirationMs": {
          "type": "string",
[...]
