{
  "protocol": "rest",
  "name": "bigquery",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "enum": [
        "json"
      ],
      "description": "Data format for the response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "id": "bigquery:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        }
      }
    }
  },
  "servicePath": "bigquery/v2/",
  "title": "BigQuery API",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "A data platform for customers to create, manage, share and query data.",
  "rootUrl": "https://bigquery.googleapis.com/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "models": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.models.get",
          "response": {
            "$ref": "Model"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested model.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Model ID of the requested model.",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the requested model."
            }
          },
          "description": "Gets the specified model resource by model ID.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "id": "bigquery.models.delete",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "modelId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Model ID of the model to delete.",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the model to delete."
            },
            "projectId": {
              "description": "Required. Project ID of the model to delete.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes the model specified by modelId from the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "patch": {
          "description": "Patch specific fields in the specified model.",
          "request": {
            "$ref": "Model"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "httpMethod": "PATCH",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the model to patch.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "modelId": {
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "Required. Project ID of the model to patch.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "bigquery.models.patch",
          "response": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListModelsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the models to list."
            },
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the models to list.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "id": "bigquery.models.list",
          "httpMethod": "GET",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method."
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameters": {
            "startIndex": {
              "format": "uint64",
              "description": "Zero-based index of the starting row to read",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the table to read",
              "location": "path"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to read"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "Maximum number of results to return"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "id": "bigquery.tabledata.list",
          "response": {
            "$ref": "TableDataList"
          }
        },
        "insertAll": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "parameters": {
            "projectId": {
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "description": "Table ID of the destination table.",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the destination table.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "id": "bigquery.tabledata.insertAll",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          }
        }
      }
    },
    "routines": {
      "methods": {
        "update": {
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "response": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "request": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.routines.update",
          "httpMethod": "PUT",
          "parameters": {
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the routine to update",
              "type": "string"
            },
            "routineId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the routine to update",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.routines.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the routine to delete",
              "pattern": "^[^/]+$",
              "required": true
            },
            "routineId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the routine to delete",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the routine to delete",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "description": "Deletes the routine specified by routineId from the dataset.",
          "httpMethod": "DELETE"
        },
        "get": {
          "response": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.get",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine",
              "type": "string",
              "required": true
            },
            "readMask": {
              "type": "string",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the requested routine",
              "required": true
            },
            "routineId": {
              "location": "path",
              "description": "Required. Routine ID of the requested routine",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Gets the specified routine resource by routine ID."
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameters": {
            "filter": {
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routines to list",
              "location": "path",
              "required": true
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the routines to list",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "location": "query"
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.routines.list",
          "response": {
            "$ref": "ListRoutinesResponse"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "id": "bigquery.routines.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "description": "Creates a new routine in the dataset.",
          "response": {
            "$ref": "Routine"
          },
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the new routine",
              "required": true
            },
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Routine"
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the requested dataset"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the dataset specified by datasetID."
        },
        "list": {
          "response": {
            "$ref": "DatasetList"
          },
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of results to return"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "all": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the datasets to be listed",
              "location": "path"
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.insert",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the new dataset",
              "required": true
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "description": "Creates a new empty dataset."
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameters": {
            "deleteContents": {
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query",
              "type": "boolean"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the dataset being deleted",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "id": "bigquery.datasets.delete",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name."
        },
        "patch": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the dataset being updated"
            }
          },
          "id": "bigquery.datasets.patch",
          "response": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "update": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "id": "bigquery.datasets.update",
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "id": "bigquery.projects.list",
          "response": {
            "$ref": "ProjectList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects",
          "description": "Lists all projects to which you have been granted any project role."
        },
        "getServiceAccount": {
          "httpMethod": "GET",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID for which the service account is requested.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "id": "bigquery.projects.getServiceAccount"
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "description": "Lists all row access policies on the specified table.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "id": "bigquery.rowAccessPolicies.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "tableId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Table ID of the table to list row access policies.",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "datasetId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of row access policies to list.",
              "required": true
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the row access policies to list.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          }
        },
        "getIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:getIamPolicy",
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          }
        },
        "setIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "httpMethod": "POST",
          "path": "{+resource}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
        },
        "testIamPermissions": {
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "path": "{+resource}:testIamPermissions"
        }
      }
    },
    "jobs": {
      "methods": {
        "insert": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the project that will be billed for the job",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "bigquery.jobs.insert",
          "parameterOrder": [
            "projectId"
          ],
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "response": {
            "$ref": "Job"
          },
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "path": "projects/{projectId}/jobs",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "request": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ]
        },
        "getQueryResults": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "startIndex": {
              "type": "string",
              "description": "Zero-based index of the starting row",
              "location": "query",
              "format": "uint64"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to read"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            },
            "jobId": {
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the query job",
              "location": "path"
            },
            "timeoutMs": {
              "format": "uint32",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Retrieves the results of a query job.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "path": "projects/{projectId}/queries/{jobId}",
          "id": "bigquery.jobs.getQueryResults"
        },
        "list": {
          "path": "projects/{projectId}/jobs",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the jobs to list",
              "required": true
            },
            "allUsers": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false"
            },
            "parentJobId": {
              "location": "query",
              "type": "string",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projection": {
              "type": "string",
              "description": "Restrict information returned to a set of selected fields",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "enum": [
                "full",
                "minimal"
              ],
              "location": "query"
            },
            "minCreationTime": {
              "format": "uint64",
              "type": "string",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "location": "query"
            },
            "maxCreationTime": {
              "type": "string",
              "location": "query",
              "format": "uint64",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned"
            },
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "description": "Filter for job state",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "httpMethod": "GET",
          "id": "bigquery.jobs.list",
          "response": {
            "$ref": "JobList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "query": {
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "id": "bigquery.jobs.query",
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/queries",
          "request": {
            "$ref": "QueryRequest"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project billed for the query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST"
        },
        "cancel": {
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.jobs.cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "httpMethod": "POST",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "[Required] Project ID of the job to cancel",
              "required": true,
              "type": "string"
            },
            "jobId": {
              "type": "string",
              "location": "path",
              "description": "[Required] Job ID of the job to cancel",
              "required": true
            },
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "[Required] Project ID of the requested job"
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "jobId": {
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the requested job",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.jobs.get"
        },
        "delete": {
          "id": "bigquery.jobs.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the requested table",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of the requested table"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "description": "Table ID of the requested table",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tables.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          }
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "id": "bigquery.tables.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          },
          "path": "{+resource}:getIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          }
        },
        "patch": {
          "request": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true
            },
            "autodetect_schema": {
              "type": "boolean",
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema"
            },
            "tableId": {
              "type": "string",
              "description": "Table ID of the table to update",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.patch",
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH"
        },
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.tables.setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "path": "{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
        },
        "insert": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Creates a new, empty table in the dataset.",
          "request": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "POST",
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the new table",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the new table",
              "type": "string"
            }
          }
        },
        "list": {
          "id": "bigquery.tables.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the tables to list"
            },
            "datasetId": {
              "description": "Dataset ID of the tables to list",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            }
          },
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "response": {
            "$ref": "TableList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "tableId": {
              "location": "path",
              "required": true,
              "description": "Table ID of the table to update",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the table to update"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "type": "string",
              "location": "path",
              "required": true
            },
            "autodetect_schema": {
              "type": "boolean",
              "location": "query",
              "description": "When true will autodetect schema, else will keep original schema"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "PUT",
          "id": "bigquery.tables.update",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource."
        },
        "testIamPermissions": {
          "id": "bigquery.tables.testIamPermissions",
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "path": "{+resource}:testIamPermissions",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "tableId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Table ID of the table to delete"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the table to delete",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "description": "Project ID of the table to delete",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "httpMethod": "DELETE"
        }
      }
    }
  },
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "basePath": "/bigquery/v2/",
  "revision": "20211129",
  "batchPath": "batch/bigquery/v2",
  "version": "v2",
  "schemas": {
    "DestinationTableProperties": {
      "id": "DestinationTableProperties",
      "properties": {
        "expirationTime": {
          "description": "[Internal] This field is for Google internal use only.",
          "type": "string",
          "format": "date-time"
        },
        "labels": {
          "type": "object",
          "description": "[Optional] The labels associated with this table. You can use these to organize and group your tables. This will only be used if the destination table is newly created. If the table already exists and labels are different than the current labels are provided, the job will fail.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail."
        },
        "friendlyName": {
          "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaterializedViewDefinition": {
      "type": "object",
      "properties": {
        "lastRefreshTime": {
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "enableRefresh": {
          "description": "[Optional] [TrustedTester] Enable automatic refresh of the materialized view when the base table is updated. The default value is \"true\".",
          "type": "boolean"
        },
        "refreshIntervalMs": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] [TrustedTester] The maximum frequency at which this materialized view will be refreshed. The default value is \"1800000\" (30 minutes)."
        },
        "query": {
          "type": "string",
          "description": "[Required] A query whose result is persisted."
        }
      },
      "id": "MaterializedViewDefinition"
    },
    "TableCell": {
      "type": "object",
      "id": "TableCell",
      "properties": {
        "v": {
          "type": "any"
        }
      }
    },
    "SnapshotDefinition": {
      "id": "SnapshotDefinition",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "format": "date-time",
          "description": "[Required] The time at which the base table was snapshot. This value is reported in the JSON response using RFC3339 format.",
          "type": "string"
        },
        "baseTableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of the table that was snapshot."
        }
      }
    },
    "RoutineReference": {
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this routine."
        },
        "routineId": {
          "type": "string",
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this routine."
        }
      },
      "type": "object",
      "id": "RoutineReference"
    },
    "EvaluationMetrics": {
      "type": "object",
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models.",
      "id": "EvaluationMetrics",
      "properties": {
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        },
        "clusteringMetrics": {
          "$ref": "ClusteringMetrics",
          "description": "Populated for clustering models."
        },
        "multiClassClassificationMetrics": {
          "description": "Populated for multi-class classification/classifier models.",
          "$ref": "MultiClassClassificationMetrics"
        },
        "rankingMetrics": {
          "description": "Populated for implicit feedback type matrix factorization models.",
          "$ref": "RankingMetrics"
        },
        "arimaForecastingMetrics": {
          "description": "Populated for ARIMA models.",
          "$ref": "ArimaForecastingMetrics"
        },
        "regressionMetrics": {
          "description": "Populated for regression models and explicit feedback type matrix factorization models.",
          "$ref": "RegressionMetrics"
        }
      }
    },
    "BinaryConfusionMatrix": {
      "type": "object",
      "description": "Confusion matrix for binary classification models.",
      "id": "BinaryConfusionMatrix",
      "properties": {
        "recall": {
          "format": "double",
          "type": "number",
          "description": "The fraction of actual positive labels that were given a positive prediction."
        },
        "positiveClassThreshold": {
          "type": "number",
          "description": "Threshold value used when computing each of the following metric.",
          "format": "double"
        },
        "accuracy": {
          "type": "number",
          "description": "The fraction of predictions given the correct label.",
          "format": "double"
        },
        "falseNegatives": {
          "format": "int64",
          "description": "Number of false samples predicted as false.",
          "type": "string"
        },
        "f1Score": {
          "format": "double",
          "type": "number",
          "description": "The equally weighted average of recall and precision."
        },
        "trueNegatives": {
          "format": "int64",
          "description": "Number of true samples predicted as false.",
          "type": "string"
        },
        "falsePositives": {
          "type": "string",
          "description": "Number of false samples predicted as true.",
          "format": "int64"
        },
        "precision": {
          "description": "The fraction of actual positive predictions that had positive actual labels.",
          "type": "number",
          "format": "double"
        },
        "truePositives": {
          "description": "Number of true samples predicted as true.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ConnectionProperty": {
      "id": "ConnectionProperty",
      "type": "object",
      "properties": {
        "key": {
          "description": "[Required] Name of the connection property to set.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "[Required] Value of the connection property."
        }
      }
    },
    "Argument": {
      "id": "Argument",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "description": "Optional. Specifies whether the argument is input or output. Can be set for procedures only."
        },
        "name": {
          "description": "Optional. The name of this argument. Can be absent for function return argument.",
          "type": "string"
        },
        "argumentKind": {
          "description": "Optional. Defaults to FIXED_TYPE.",
          "enumDescriptions": [
            "",
            "The argument is a variable with fully specified type, which can be a struct or an array, but not a table.",
            "The argument is any type, including struct or array, but not a table. To be added: FIXED_TABLE, ANY_TABLE"
          ],
          "type": "string",
          "enum": [
            "ARGUMENT_KIND_UNSPECIFIED",
            "FIXED_TYPE",
            "ANY_TYPE"
          ]
        },
        "dataType": {
          "description": "Required unless argument_kind = ANY_TYPE.",
          "$ref": "StandardSqlDataType"
        }
      },
      "type": "object",
      "description": "Input/output argument of a function or a stored procedure."
    },
    "BiEngineReason": {
      "type": "object",
      "id": "BiEngineReason",
      "properties": {
        "code": {
          "type": "string",
          "description": "[Output-only] High-level BI Engine reason for partial or disabled acceleration.",
          "default": "$(reason.code)"
        },
        "message": {
          "type": "string",
          "description": "[Output-only] Free form human-readable reason for partial or disabled acceleration.",
          "default": "$(reason.message)"
        }
      }
    },
    "ArimaOrder": {
      "id": "ArimaOrder",
      "properties": {
        "p": {
          "type": "string",
          "description": "Order of the autoregressive part.",
          "format": "int64"
        },
        "d": {
          "type": "string",
          "format": "int64",
          "description": "Order of the differencing part."
        },
        "q": {
          "format": "int64",
          "description": "Order of the moving-average part.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Arima order, can be used for both non-seasonal and seasonal parts."
    },
    "UserDefinedFunctionResource": {
      "description": "This is used for defining User Defined Function (UDF) resources only when using legacy SQL. Users of Standard SQL should leverage either DDL (e.g. CREATE [TEMPORARY] FUNCTION ... ) or the Routines API to define UDF resources. For additional information on migrating, see: https://cloud.google.com/bigquery/docs/reference/standard-sql/migrating-from-legacy-sql#differences_in_user-defined_javascript_functions",
      "id": "UserDefinedFunctionResource",
      "properties": {
        "inlineCode": {
          "description": "[Pick one] An inline resource that contains code for a user-defined function (UDF). Providing a inline code resource is equivalent to providing a URI for a file containing the same code.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "[Pick one] A code resource to load from a Google Cloud Storage URI (gs://bucket/path)."
        }
      },
      "type": "object"
    },
    "ListRoutinesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "routines": {
          "items": {
            "$ref": "Routine"
          },
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
          "type": "array"
        }
      },
      "id": "ListRoutinesResponse"
    },
    "QueryRequest": {
      "properties": {
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "type": "string",
          "format": "int64"
        },
        "queryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "description": "Query parameters for Standard SQL queries.",
          "type": "array"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "maxResults": {
          "format": "uint32",
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "type": "integer"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'."
        },
        "useQueryCache": {
          "default": "true",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "requestId": {
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed.",
          "type": "string"
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "default": "true",
          "type": "boolean"
        },
        "query": {
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          },
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\"."
        },
        "createSession": {
          "type": "boolean",
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
        },
        "location": {
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false."
        },
        "connectionProperties": {
          "items": {
            "$ref": "ConnectionProperty"
          },
          "type": "array",
          "description": "Connection properties."
        },
        "kind": {
          "type": "string",
          "default": "bigquery#queryRequest",
          "description": "The resource type of the request."
        },
        "timeoutMs": {
          "type": "integer",
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32"
        }
      },
      "id": "QueryRequest",
      "type": "object"
    },
    "ClusterInfo": {
      "properties": {
        "clusterRadius": {
          "format": "double",
          "type": "number",
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster."
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "format": "int64",
          "type": "string"
        },
        "centroidId": {
          "format": "int64",
          "description": "Centroid id.",
          "type": "string"
        }
      },
      "id": "ClusterInfo",
      "description": "Information about a single cluster for clustering model.",
      "type": "object"
    },
    "BiEngineStatistics": {
      "id": "BiEngineStatistics",
      "type": "object",
      "properties": {
        "biEngineReasons": {
          "items": {
            "$ref": "BiEngineReason"
          },
          "description": "In case of DISABLED or PARTIAL bi_engine_mode, these contain the explanatory reasons as to why BI Engine could not accelerate. In case the full query was accelerated, this field is not populated.",
          "type": "array"
        },
        "biEngineMode": {
          "default": "$(stats.bi_engine_mode)",
          "type": "string",
          "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any)."
        }
      }
    },
    "JobStatistics2": {
      "id": "JobStatistics2",
      "type": "object",
      "properties": {
        "modelTrainingExpectedTotalIteration": {
          "type": "string",
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int64"
        },
        "totalBytesBilled": {
          "description": "[Output-only] Total bytes billed for the job.",
          "format": "int64",
          "type": "string"
        },
        "ddlAffectedRowAccessPolicyCount": {
          "description": "[Output-only] [Preview] The number of row access policies affected by a DDL statement. Present only for DROP ALL ROW ACCESS POLICIES queries.",
          "type": "string",
          "format": "int64"
        },
        "totalSlotMs": {
          "format": "int64",
          "description": "[Output-only] Slot-milliseconds for the job.",
          "type": "string"
        },
        "estimatedBytesProcessed": {
          "description": "[Output-only] The original estimate of bytes processed for the job.",
          "type": "string",
          "format": "int64"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Output-only] The schema of the results. Present only for successful dry run of non-legacy SQL queries."
        },
        "referencedRoutines": {
          "items": {
            "$ref": "RoutineReference"
          },
          "description": "[Output-only] Referenced routines (persistent user-defined functions and stored procedures) for the job.",
          "type": "array"
        },
        "statementType": {
          "description": "The type of query statement, if valid. Possible values (new values might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"MERGE\": MERGE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"ALTER_TABLE\": ALTER TABLE query. \"ALTER_VIEW\": ALTER VIEW query. \"ASSERT\": ASSERT condition AS 'description'. \"CREATE_FUNCTION\": CREATE FUNCTION query. \"CREATE_MODEL\": CREATE [OR REPLACE] MODEL ... AS SELECT ... . \"CREATE_PROCEDURE\": CREATE PROCEDURE query. \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\": CREATE [OR REPLACE] TABLE ... AS SELECT ... . \"CREATE_VIEW\": CREATE [OR REPLACE] VIEW ... AS SELECT ... . \"DROP_FUNCTION\" : DROP FUNCTION query. \"DROP_PROCEDURE\": DROP PROCEDURE query. \"DROP_TABLE\": DROP TABLE query. \"DROP_VIEW\": DROP VIEW query.",
          "type": "string"
        },
        "ddlTargetRoutine": {
          "$ref": "RoutineReference",
          "description": "The DDL target routine. Present only for CREATE/DROP FUNCTION/PROCEDURE queries."
        },
        "ddlTargetTable": {
          "description": "[Output-only] The DDL target table. Present only for CREATE/DROP TABLE/VIEW and DROP ALL ROW ACCESS POLICIES queries.",
          "$ref": "TableReference"
        },
        "dmlStats": {
          "description": "[Output-only] Detailed statistics for DML statements Present only for DML statements INSERT, UPDATE, DELETE or TRUNCATE.",
          "$ref": "DmlStatistics"
        },
        "biEngineStatistics": {
          "description": "BI Engine specific Statistics. [Output-only] BI Engine specific Statistics.",
          "$ref": "BiEngineStatistics"
        },
        "totalPartitionsProcessed": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Total number of partitions processed from all partitioned tables referenced in the job."
        },
        "reservationUsage": {
          "type": "array",
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
                "type": "string",
                "format": "int64",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation."
              }
            }
          }
        },
        "totalBytesProcessed": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Total bytes processed for the job."
        },
        "modelTraining": {
          "description": "[Output-only, Beta] Information about create model query job progress.",
          "$ref": "BigQueryModelTraining"
        },
        "totalBytesProcessedAccuracy": {
          "description": "[Output-only] For dry-run jobs, totalBytesProcessed is an estimate and this field specifies the accuracy of the estimate. Possible values can be: UNKNOWN: accuracy of the estimate is unknown. PRECISE: estimate is precise. LOWER_BOUND: estimate is lower bound of what the query would cost. UPPER_BOUND: estimate is upper bound of what the query would cost.",
          "type": "string"
        },
        "numDmlAffectedRows": {
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64",
          "type": "string"
        },
        "ddlTargetDataset": {
          "description": "[Output-only] The DDL target dataset. Present only for CREATE/ALTER/DROP SCHEMA queries.",
          "$ref": "DatasetReference"
        },
        "billingTier": {
          "format": "int32",
          "description": "[Output-only] Billing tier for the job.",
          "type": "integer"
        },
        "queryPlan": {
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStage"
          },
          "description": "[Output-only] Describes execution plan for the query."
        },
        "timeline": {
          "items": {
            "$ref": "QueryTimelineSample"
          },
          "type": "array",
          "description": "[Output-only] [Beta] Describes a timeline of job execution."
        },
        "modelTrainingCurrentIteration": {
          "type": "integer",
          "description": "[Output-only, Beta] Deprecated; do not use.",
          "format": "int32"
        },
        "referencedTables": {
          "type": "array",
          "items": {
            "$ref": "TableReference"
          },
          "description": "[Output-only] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list."
        },
        "mlStatistics": {
          "$ref": "MlStatistics",
          "description": "[Output-only] Statistics of a BigQuery ML training job."
        },
        "cacheHit": {
          "description": "[Output-only] Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "ddlDestinationTable": {
          "$ref": "TableReference",
          "description": "[Output-only] The DDL destination table. Present only for ALTER TABLE RENAME TO queries. Note that ddl_target_table is used just for its type information."
        },
        "ddlTargetRowAccessPolicy": {
          "description": "[Output-only] [Preview] The DDL target row access policy. Present only for CREATE/DROP ROW ACCESS POLICY queries.",
          "$ref": "RowAccessPolicyReference"
        },
        "undeclaredQueryParameters": {
          "description": "Standard SQL only: list of undeclared query parameters detected during a dry run validation.",
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array"
        },
        "ddlOperationPerformed": {
          "type": "string",
          "description": "The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target."
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "CategoryCount": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "description": "The count of training samples matching the category within the cluster.",
          "format": "int64"
        },
        "category": {
          "type": "string",
          "description": "The name of category."
        }
      },
      "description": "Represents the count of a single category within the cluster.",
      "id": "CategoryCount"
    },
    "ConfusionMatrix": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "One row per actual label."
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "double",
          "description": "Confidence threshold used when computing the entries of the confusion matrix."
        }
      },
      "description": "Confusion matrix for multi-class classification models.",
      "id": "ConfusionMatrix",
      "type": "object"
    },
    "QueryResponse": {
      "properties": {
        "schema": {
          "$ref": "TableSchema",
          "description": "The schema of the results. Present only when the query completes successfully."
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#queryResponse",
          "type": "string",
          "description": "The resource type."
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.",
          "type": "string",
          "format": "uint64"
        },
        "dmlStats": {
          "$ref": "DmlStatistics",
          "description": "[Output-only] Detailed statistics for DML statements Present only for DML statements INSERT, UPDATE, DELETE or TRUNCATE."
        },
        "numDmlAffectedRows": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
        },
        "errors": {
          "items": {
            "$ref": "ErrorProto"
          },
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array"
        },
        "sessionInfo": {
[...]
