{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "parameters": {
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "version": "v2",
  "id": "bigquery:v2",
  "discoveryVersion": "v1",
  "servicePath": "bigquery/v2/",
  "revision": "20220924",
  "resources": {
    "tabledata": {
      "methods": {
        "insertAll": {
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the destination table.",
              "location": "path",
              "required": true
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the destination table."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID of the destination table.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "id": "bigquery.tabledata.insertAll",
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "httpMethod": "POST",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tabledata.list",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "httpMethod": "GET",
          "parameters": {
            "tableId": {
              "required": true,
              "description": "Table ID of the table to read",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, identifying the result set",
              "location": "query"
            },
            "projectId": {
              "description": "Project ID of the table to read",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "startIndex": {
              "type": "string",
              "location": "query",
              "format": "uint64",
              "description": "Zero-based index of the starting row to read"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the table to read"
            }
          },
          "response": {
            "$ref": "TableDataList"
          },
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role."
        }
      }
    },
    "routines": {
      "methods": {
        "insert": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "response": {
            "$ref": "Routine"
          },
          "request": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the new routine"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the new routine",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a new routine in the dataset.",
          "id": "bigquery.routines.insert"
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "routineId": {
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the routine to delete",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the routine to delete",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Deletes the routine specified by routineId from the dataset.",
          "id": "bigquery.routines.delete",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "list": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "id": "bigquery.routines.list",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameters": {
            "readMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language."
            },
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the routines to list",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the routines to list",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer"
            },
            "filter": {
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of the requested routine",
              "location": "path"
            },
            "routineId": {
              "location": "path",
              "description": "Required. Routine ID of the requested routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the requested routine"
            }
          },
          "description": "Gets the specified routine resource by routine ID.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.get",
          "response": {
            "$ref": "Routine"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Routine"
          },
          "request": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the routine to update",
              "location": "path",
              "required": true
            },
            "routineId": {
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to update"
            }
          },
          "id": "bigquery.routines.update"
        }
      }
    },
    "datasets": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the requested dataset",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the requested dataset",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Returns the dataset specified by datasetID.",
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "GET",
          "id": "bigquery.datasets.get",
          "path": "projects/{projectId}/datasets/{datasetId}"
        },
        "update": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "PUT",
          "id": "bigquery.datasets.update",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the dataset being updated"
            }
          }
        },
        "insert": {
          "id": "bigquery.datasets.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the new dataset",
              "required": true
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.patch",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "request": {
            "$ref": "Dataset"
          }
        },
        "list": {
          "response": {
            "$ref": "DatasetList"
          },
          "path": "projects/{projectId}/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the datasets to be listed",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of results to return",
              "format": "uint32",
              "location": "query"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.datasets.list"
        },
        "delete": {
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the dataset being deleted",
              "type": "string",
              "location": "path"
            },
            "deleteContents": {
              "type": "boolean",
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of dataset being deleted"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.delete",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "tables": {
      "methods": {
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "id": "bigquery.tables.get",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Table ID of the requested table"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the requested table"
            },
            "datasetId": {
              "description": "Dataset ID of the requested table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "view": {
              "location": "query",
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ],
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ],
              "type": "string",
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned."
            }
          }
        },
        "testIamPermissions": {
          "path": "{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "bigquery.tables.testIamPermissions"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "id": "bigquery.tables.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "tableId": {
              "required": true,
              "location": "path",
              "description": "Table ID of the table to delete",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the table to delete"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the table to delete",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "getIamPolicy": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:getIamPolicy",
          "id": "bigquery.tables.getIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "response": {
            "$ref": "TableList"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the tables to list"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the tables to list",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            }
          },
          "id": "bigquery.tables.list",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.tables.setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "{+resource}:setIamPolicy"
        },
        "update": {
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update",
              "type": "string"
            },
            "autodetect_schema": {
              "location": "query",
              "type": "boolean",
              "description": "When true will autodetect schema, else will keep original schema"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the table to update",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tables.update",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PUT"
        },
        "insert": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the new table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the new table",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Creates a new, empty table in the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.tables.insert"
        },
        "patch": {
          "parameters": {
            "autodetect_schema": {
              "type": "boolean",
              "description": "When true will autodetect schema, else will keep original schema",
              "location": "query"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to update",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the table to update",
              "location": "path"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "id": "bigquery.tables.patch"
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "id": "bigquery.projects.getServiceAccount",
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID for which the service account is requested.",
              "location": "path"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all projects to which you have been granted any project role.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "bigquery.projects.list",
          "httpMethod": "GET",
          "path": "projects",
          "response": {
            "$ref": "ProjectList"
          }
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "list": {
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all row access policies on the specified table.",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of row access policies to list.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the row access policies to list.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "tableId": {
              "description": "Required. Table ID of the table to list row access policies.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results."
            }
          },
          "id": "bigquery.rowAccessPolicies.list"
        },
        "getIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "{+resource}:getIamPolicy",
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "jobs": {
      "methods": {
        "cancel": {
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameters": {
            "jobId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the job to cancel"
            },
            "projectId": {
              "required": true,
              "description": "[Required] Project ID of the job to cancel",
              "location": "path",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "httpMethod": "POST"
        },
        "list": {
          "id": "bigquery.jobs.list",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "JobList"
          },
          "path": "projects/{projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "maxCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64"
            },
            "minCreationTime": {
              "location": "query",
              "type": "string",
              "format": "uint64",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the jobs to list",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return"
            },
            "allUsers": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to display jobs owned by all users in the project. Default false"
            },
            "projection": {
              "enum": [
                "full",
                "minimal"
              ],
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "type": "string",
              "location": "query",
              "description": "Restrict information returned to a set of selected fields"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string",
              "location": "query"
            },
            "stateFilter": {
              "description": "Filter for job state",
              "location": "query",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string",
              "repeated": true
            }
          },
          "httpMethod": "GET"
        },
        "query": {
          "request": {
            "$ref": "QueryRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.query",
          "response": {
            "$ref": "QueryResponse"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project billed for the query",
              "required": true
            }
          },
          "path": "projects/{projectId}/queries",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "jobId": {
              "location": "path",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "location": {
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.jobs.delete",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted."
        },
        "get": {
          "path": "projects/{projectId}/jobs/{jobId}",
          "id": "bigquery.jobs.get",
          "response": {
            "$ref": "Job"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "parameters": {
            "jobId": {
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the requested job",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "response": {
            "$ref": "Job"
          },
          "request": {
            "$ref": "Job"
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that will be billed for the job",
              "required": true
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            }
          },
          "path": "projects/{projectId}/jobs"
        },
        "getQueryResults": {
          "httpMethod": "GET",
          "id": "bigquery.jobs.getQueryResults",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "Maximum number of results to read"
            },
            "timeoutMs": {
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "location": "query",
              "type": "string",
              "format": "uint64"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "jobId": {
              "required": true,
              "location": "path",
              "description": "[Required] Job ID of the query job",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "[Required] Project ID of the query job",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/queries/{jobId}",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "description": "Retrieves the results of a query job.",
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        }
      }
    },
    "models": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.models.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to delete.",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the model to delete.",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to delete.",
              "type": "string"
            }
          },
          "description": "Deletes the model specified by modelId from the dataset.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}"
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "parameters": {
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Project ID of the models to list."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results"
            },
            "datasetId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the models to list.",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListModelsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "bigquery.models.patch",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "request": {
            "$ref": "Model"
          },
          "description": "Patch specific fields in the specified model.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to patch."
            },
            "datasetId": {
              "description": "Required. Dataset ID of the model to patch.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Model ID of the model to patch.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "response": {
            "$ref": "Model"
          }
        },
        "get": {
          "description": "Gets the specified model resource by model ID.",
          "id": "bigquery.models.get",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the requested model.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested model.",
              "type": "string"
            },
            "modelId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Model ID of the requested model."
            }
          },
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "title": "BigQuery API",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "name": "bigquery",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "rootUrl": "https://bigquery.googleapis.com/",
  "description": "A data platform for customers to create, manage, share and query data.",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch/bigquery/v2",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "basePath": "/bigquery/v2/",
  "schemas": {
    "ProjectList": {
      "id": "ProjectList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of list.",
          "default": "bigquery#projectList",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of projects in the list.",
          "format": "int32"
        },
        "projects": {
          "description": "Projects to which you have at least READ access.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "projectReference": {
                "$ref": "ProjectReference",
                "description": "A unique reference to this project."
              },
              "numericId": {
                "description": "The numeric ID of this project.",
                "type": "string",
                "format": "uint64"
              },
              "friendlyName": {
                "description": "A descriptive name for this project.",
                "type": "string"
              },
              "id": {
                "description": "An opaque ID of this project.",
                "type": "string"
              },
              "kind": {
                "description": "The resource type.",
                "default": "bigquery#project",
                "type": "string"
              }
            }
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "A hash of the page of results"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "BigtableColumnFamily": {
      "id": "BigtableColumnFamily",
      "properties": {
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "items": {
            "$ref": "BigtableColumn"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it."
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column."
        }
      },
      "type": "object"
    },
    "JobStatistics5": {
      "properties": {
        "copied_logical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of logical bytes copied to the destination table."
        },
        "copied_rows": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of rows copied to the destination table."
        }
      },
      "id": "JobStatistics5",
      "type": "object"
    },
    "TableSchema": {
      "id": "TableSchema",
      "properties": {
        "fields": {
          "type": "array",
          "description": "Describes the fields in a table.",
          "items": {
            "$ref": "TableFieldSchema"
          }
        }
      },
      "type": "object"
    },
    "ArimaModelInfo": {
      "type": "object",
      "description": "Arima model information.",
      "id": "ArimaModelInfo",
      "properties": {
        "hasStepChanges": {
          "type": "boolean",
          "description": "If true, step_changes is a part of time series decomposition result."
        },
        "hasSpikesAndDips": {
          "type": "boolean",
          "description": "If true, spikes_and_dips is a part of time series decomposition result."
        },
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "timeSeriesIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns."
        },
        "timeSeriesId": {
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used.",
          "type": "string"
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "boolean"
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        },
        "hasHolidayEffect": {
          "type": "boolean",
          "description": "If true, holiday_effect is a part of time series decomposition result."
        }
      }
    },
    "IntArrayHparamSearchSpace": {
      "type": "object",
      "description": "Search space for int array.",
      "properties": {
        "candidates": {
          "items": {
            "$ref": "IntArray"
          },
          "type": "array",
          "description": "Candidates for the int array parameter."
        }
      },
      "id": "IntArrayHparamSearchSpace"
    },
    "ExplainQueryStage": {
      "type": "object",
      "properties": {
        "waitRatioAvg": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the average shard spent waiting to be scheduled."
        },
        "waitMsAvg": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the average shard spent waiting to be scheduled."
        },
        "computeMsMax": {
          "type": "string",
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks.",
          "format": "int64"
        },
        "waitMsMax": {
          "type": "string",
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "format": "int64"
        },
        "computeRatioMax": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks."
        },
        "slotMs": {
          "description": "Slot-milliseconds used by the stage.",
          "type": "string",
          "format": "int64"
        },
        "completedParallelInputs": {
          "description": "Number of parallel input segments completed.",
          "type": "string",
          "format": "int64"
        },
        "startMs": {
          "type": "string",
          "description": "Stage start time represented as milliseconds since epoch.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Unique ID for stage within plan."
        },
        "recordsRead": {
          "type": "string",
          "format": "int64",
          "description": "Number of records read into the stage."
        },
        "readMsAvg": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the average shard spent reading input."
        },
        "writeMsMax": {
          "type": "string",
          "description": "Milliseconds the slowest shard spent on writing output.",
          "format": "int64"
        },
        "writeRatioAvg": {
          "format": "double",
          "description": "Relative amount of time the average shard spent on writing output.",
          "type": "number"
        },
        "writeRatioMax": {
          "format": "double",
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "type": "number"
        },
        "readRatioAvg": {
          "type": "number",
          "format": "double",
          "description": "Relative amount of time the average shard spent reading input."
        },
        "parallelInputs": {
          "type": "string",
          "description": "Number of parallel input segments to be processed.",
          "format": "int64"
        },
        "computeRatioAvg": {
          "type": "number",
          "format": "double",
          "description": "Relative amount of time the average shard spent on CPU-bound tasks."
        },
        "status": {
          "type": "string",
          "description": "Current status for the stage."
        },
        "readRatioMax": {
          "description": "Relative amount of time the slowest shard spent reading input.",
          "type": "number",
          "format": "double"
        },
        "steps": {
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "type": "array",
          "items": {
            "$ref": "ExplainQueryStep"
          }
        },
        "endMs": {
          "format": "int64",
          "description": "Stage end time represented as milliseconds since epoch.",
          "type": "string"
        },
        "computeMsAvg": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the average shard spent on CPU-bound tasks."
        },
        "readMsMax": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the slowest shard spent reading input."
        },
        "shuffleOutputBytes": {
          "description": "Total number of bytes written to shuffle.",
          "format": "int64",
          "type": "string"
        },
        "writeMsAvg": {
          "description": "Milliseconds the average shard spent on writing output.",
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "type": "string",
          "format": "int64"
        },
        "shuffleOutputBytesSpilled": {
          "format": "int64",
          "type": "string",
          "description": "Total number of bytes written to shuffle and spilled to disk."
        },
        "inputStages": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "IDs for stages that are inputs to this stage."
        },
        "name": {
          "type": "string",
          "description": "Human-readable name for stage."
        },
        "waitRatioMax": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled."
        }
      },
      "id": "ExplainQueryStage"
    },
    "TrainingOptions": {
      "id": "TrainingOptions",
      "type": "object",
      "properties": {
        "trendSmoothingWindowSize": {
          "description": "The smoothing window size for the trend component of the time series.",
          "type": "string",
          "format": "int64"
        },
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "minTreeChildWeight": {
          "format": "int64",
          "description": "Minimum sum of instance weight needed in a child for boosted tree models.",
          "type": "string"
        },
        "minSplitLoss": {
          "format": "double",
          "type": "number",
          "description": "Minimum split loss for boosted tree models."
        },
        "cleanSpikesAndDips": {
          "description": "If true, clean spikes and dips in the input time series.",
          "type": "boolean"
        },
        "dataSplitMethod": {
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ]
        },
        "colsampleBylevel": {
          "format": "double",
          "description": "Subsample ratio of columns for each level for boosted tree models.",
          "type": "number"
        },
        "numClusters": {
          "type": "string",
          "format": "int64",
          "description": "Number of clusters for clustering models."
        },
        "dataFrequency": {
          "type": "string",
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ],
          "description": "The data frequency of a time series."
        },
        "integratedGradientsNumSteps": {
          "description": "Number of integral steps for the integrated gradients explain method.",
          "type": "string",
          "format": "int64"
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order."
        },
        "timeSeriesDataColumn": {
          "description": "Column to be designated as time series data for ARIMA model.",
          "type": "string"
        },
        "modelUri": {
          "type": "string",
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models."
        },
        "calculatePValues": {
          "type": "boolean",
          "description": "Whether or not p-value test should be computed for this model. Only available for linear and logistic regression models."
        },
        "maxTimeSeriesLength": {
          "format": "int64",
          "description": "Get truncated length by last n points in time series. Use separately from time_series_length_fraction and min_time_series_length.",
          "type": "string"
        },
        "maxParallelTrials": {
          "format": "int64",
          "description": "Maximum number of trials to run in parallel.",
          "type": "string"
        },
        "earlyStop": {
          "type": "boolean",
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms."
        },
        "maxIterations": {
          "format": "int64",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string"
        },
        "decomposeTimeSeries": {
          "description": "If true, perform decompose time series and save the results.",
          "type": "boolean"
        },
        "walsAlpha": {
          "format": "double",
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "type": "number"
        },
        "treeMethod": {
          "type": "string",
          "description": "Tree construction algorithm for boosted tree models.",
          "enumDescriptions": [
            "Unspecified tree method.",
            "Use heuristic to choose the fastest method.",
            "Exact greedy algorithm.",
            "Approximate greedy algorithm using quantile sketch and gradient histogram.",
            "Fast histogram optimized approximate greedy algorithm."
          ],
          "enum": [
            "TREE_METHOD_UNSPECIFIED",
            "AUTO",
            "EXACT",
            "APPROX",
            "HIST"
          ]
        },
        "dartNormalizeType": {
          "enumDescriptions": [
            "Unspecified dart normalize type.",
            "New trees have the same weight of each of dropped trees.",
            "New trees have the same weight of sum of dropped trees."
          ],
          "description": "Type of normalization algorithm for boosted tree models using dart booster.",
          "type": "string",
          "enum": [
            "DART_NORMALIZE_TYPE_UNSPECIFIED",
            "TREE",
            "FOREST"
          ]
        },
        "timeSeriesLengthFraction": {
          "description": "Get truncated length by fraction in time series.",
          "format": "double",
          "type": "number"
        },
        "itemColumn": {
          "type": "string",
          "description": "Item column specified for matrix factorization models."
        },
        "colsampleBytree": {
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "minRelativeProgress": {
          "format": "double",
          "type": "number",
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms."
        },
        "preserveInputStructs": {
          "type": "boolean",
          "description": "Whether to preserve the input structs in output feature names. Suppose there is a struct A with field b. When false (default), the output feature name is A_b. When true, the output feature name is A.b."
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "format": "double",
          "type": "number"
        },
        "userColumn": {
          "type": "string",
          "description": "User column specified for matrix factorization models."
        },
        "dropout": {
          "type": "number",
          "format": "double",
          "description": "Dropout probability for dnn models."
        },
        "includeDrift": {
          "type": "boolean",
          "description": "Include drift when fitting an ARIMA model."
        },
        "numFactors": {
          "format": "int64",
          "description": "Num factors specified for matrix factorization models.",
          "type": "string"
        },
        "labelClassWeights": {
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "type": "object",
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models."
        },
        "timeSeriesIdColumns": {
          "description": "The time series id columns that were used during ARIMA model training.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lossType": {
          "type": "string",
          "description": "Type of loss function used during training run.",
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ],
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ]
        },
        "adjustStepChanges": {
          "description": "If true, detect step changes and make data adjustment in the input time series.",
          "type": "boolean"
        },
        "l2Regularization": {
          "type": "number",
          "description": "L2 regularization coefficient.",
          "format": "double"
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "timeSeriesTimestampColumn": {
          "description": "Column to be designated as time series timestamp for ARIMA model.",
          "type": "string"
        },
        "numTrials": {
          "type": "string",
          "format": "int64",
          "description": "Number of trials to run this hyperparameter tuning job."
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "minTimeSeriesLength": {
          "type": "string",
          "description": "Set fast trend ARIMA_PLUS model minimum training length. Use in pair with time_series_length_fraction.",
          "format": "int64"
        },
        "colorSpace": {
          "description": "Enums for color space, used for processing images in Object Table. See more details at https://www.tensorflow.org/io/tutorials/colorspace.",
          "enumDescriptions": [
            "Unspecified color space",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "type": "string"
        },
        "optimizationStrategy": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "description": "Optimization strategy for training linear regression models.",
          "type": "string"
        },
        "l1Regularization": {
          "format": "double",
          "type": "number",
          "description": "L1 regularization coefficient."
        },
        "sampledShapleyNumPaths": {
          "type": "string",
          "description": "Number of paths for the sampled Shapley explain method.",
          "format": "int64"
        },
        "feedbackType": {
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "type": "string",
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ]
        },
        "dataSplitEvalFraction": {
          "format": "double",
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2.",
          "type": "number"
        },
        "boosterType": {
          "enumDescriptions": [
            "Unspecified booster type.",
            "Gbtree booster.",
            "Dart booster."
          ],
          "type": "string",
          "description": "Booster type for boosted tree models.",
          "enum": [
            "BOOSTER_TYPE_UNSPECIFIED",
            "GBTREE",
            "DART"
          ]
        },
        "maxTreeDepth": {
          "description": "Maximum depth of a tree for boosted tree models.",
          "format": "int64",
          "type": "string"
        },
        "colsampleBynode": {
          "type": "number",
          "format": "double",
          "description": "Subsample ratio of columns for each node(split) for boosted tree models."
        },
        "numParallelTree": {
          "description": "Number of parallel trees constructed during each iteration for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "distanceType": {
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "description": "Distance type for clustering models.",
          "type": "string"
        },
        "autoArimaMaxOrder": {
          "format": "int64",
          "description": "The max value of non-seasonal p and q.",
          "type": "string"
        },
        "hiddenUnits": {
          "description": "Hidden units for dnn models.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "timeSeriesIdColumn": {
          "description": "The time series id column that was used during ARIMA model training.",
          "type": "string"
        },
        "initialLearnRate": {
          "type": "number",
          "format": "double",
          "description": "Specifies the initial learning rate for the line search learn rate strategy."
        },
        "inputLabelColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of input label columns in training data."
        },
        "hparamTuningObjectives": {
          "type": "array",
          "items": {
            "enum": [
              "HPARAM_TUNING_OBJECTIVE_UNSPECIFIED",
              "MEAN_ABSOLUTE_ERROR",
              "MEAN_SQUARED_ERROR",
              "MEAN_SQUARED_LOG_ERROR",
              "MEDIAN_ABSOLUTE_ERROR",
              "R_SQUARED",
              "EXPLAINED_VARIANCE",
              "PRECISION",
              "RECALL",
              "ACCURACY",
              "F1_SCORE",
              "LOG_LOSS",
              "ROC_AUC",
              "DAVIES_BOULDIN_INDEX",
              "MEAN_AVERAGE_PRECISION",
              "NORMALIZED_DISCOUNTED_CUMULATIVE_GAIN",
              "AVERAGE_RANK"
            ],
            "enumDescriptions": [
              "Unspecified evaluation metric.",
              "Mean absolute error. mean_absolute_error = AVG(ABS(label - predicted))",
              "Mean squared error. mean_squared_error = AVG(POW(label - predicted, 2))",
              "Mean squared log error. mean_squared_log_error = AVG(POW(LN(1 + label) - LN(1 + predicted), 2))",
              "Mean absolute error. median_absolute_error = APPROX_QUANTILES(absolute_error, 2)[OFFSET(1)]",
              "R^2 score. This corresponds to r2_score in ML.EVALUATE. r_squared = 1 - SUM(squared_error)/(COUNT(label)*VAR_POP(label))",
              "Explained variance. explained_variance = 1 - VAR_POP(label_error)/VAR_POP(label)",
              "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
              "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
              "Accuracy is the fraction of predictions given the correct label. For multiclass this is a globally micro-averaged metric.",
              "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
              "Logorithmic Loss. For multiclass this is a macro-averaged metric.",
              "Area Under an ROC Curve. For multiclass this is a macro-averaged metric.",
              "Davies-Bouldin Index.",
              "Mean Average Precision.",
              "Normalized Discounted Cumulative Gain.",
              "Average Rank."
            ],
            "type": "string"
          },
          "description": "The target evaluation metrics to optimize the hyperparameters for."
        },
        "kmeansInitializationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ]
        },
        "learnRateStrategy": {
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "description": "The strategy to determine learn rate for the current iteration.",
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ],
          "type": "string"
        },
        "holidayRegion": {
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
[...]
