{
  "basePath": "/bigquery/v2/",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "batchPath": "batch/bigquery/v2",
  "description": "A data platform for customers to create, manage, share and query data.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        }
      }
    }
  },
  "title": "BigQuery API",
  "protocol": "rest",
  "name": "bigquery",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "revision": "20210927",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://bigquery.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "description": "Data format for the response.",
      "default": "json",
      "enum": [
        "json"
      ],
      "type": "string"
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v2",
  "id": "bigquery:v2",
  "resources": {
    "routines": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.routines.list",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of the routines to list",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "description": "Required. Project ID of the routines to list",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines"
        },
        "update": {
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the routine to update",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the routine to update",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "location": "path",
              "type": "string",
              "description": "Required. Routine ID of the routine to update",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "id": "bigquery.routines.update"
        },
        "get": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "response": {
            "$ref": "Routine"
          },
          "description": "Gets the specified routine resource by routine ID.",
          "id": "bigquery.routines.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "location": "query"
            },
            "routineId": {
              "description": "Required. Routine ID of the requested routine",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the requested routine",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested routine",
              "location": "path"
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "description": "Deletes the routine specified by routineId from the dataset.",
          "httpMethod": "DELETE",
          "id": "bigquery.routines.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "routineId": {
              "location": "path",
              "description": "Required. Routine ID of the routine to delete",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routine to delete",
              "location": "path"
            },
            "datasetId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to delete",
              "location": "path",
              "required": true
            }
          }
        },
        "insert": {
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the new routine",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the new routine"
            }
          },
          "id": "bigquery.routines.insert",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "request": {
            "$ref": "Routine"
          },
          "description": "Creates a new routine in the dataset.",
          "response": {
            "$ref": "Routine"
          }
        }
      }
    },
    "models": {
      "methods": {
        "patch": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "modelId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Model ID of the model to patch.",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to patch.",
              "required": true
            },
            "projectId": {
              "description": "Required. Project ID of the model to patch.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Patch specific fields in the specified model.",
          "httpMethod": "PATCH",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.patch",
          "request": {
            "$ref": "Model"
          },
          "response": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the models to list.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "id": "bigquery.models.list"
        },
        "get": {
          "response": {
            "$ref": "Model"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.get",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the requested model."
            },
            "modelId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the requested model.",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "description": "Gets the specified model resource by model ID."
        },
        "delete": {
          "id": "bigquery.models.delete",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the model to delete.",
              "location": "path",
              "required": true
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to delete.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes the model specified by modelId from the dataset.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        }
      }
    },
    "jobs": {
      "methods": {
        "query": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "response": {
            "$ref": "QueryResponse"
          },
          "httpMethod": "POST",
          "path": "projects/{projectId}/queries",
          "request": {
            "$ref": "QueryRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.query",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Job"
          },
          "request": {
            "$ref": "Job"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the project that will be billed for the job",
              "type": "string",
              "required": true
            }
          },
          "id": "bigquery.jobs.insert",
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/jobs",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "description": "Starts a new asynchronous job. Requires the Can View project role."
        },
        "delete": {
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "httpMethod": "DELETE",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.jobs.delete",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "jobId": {
              "pattern": "^[^/]+$",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          }
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.jobs.cancel",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "POST",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the job to cancel"
            },
            "projectId": {
              "description": "[Required] Project ID of the job to cancel",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "response": {
            "$ref": "JobCancelResponse"
          }
        },
        "list": {
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/jobs",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the jobs to list"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "type": "string",
              "location": "query"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string",
              "location": "query"
            },
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "description": "Filter for job state",
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "location": "query"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields",
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ],
              "type": "string",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            },
            "allUsers": {
              "type": "boolean",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of results to return"
            }
          },
          "id": "bigquery.jobs.list",
          "response": {
            "$ref": "JobList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getQueryResults": {
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "httpMethod": "GET",
          "path": "projects/{projectId}/queries/{jobId}",
          "id": "bigquery.jobs.getQueryResults",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "description": "[Required] Job ID of the query job",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "startIndex": {
              "type": "string",
              "location": "query",
              "format": "uint64",
              "description": "Zero-based index of the starting row"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "timeoutMs": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "maxResults": {
              "description": "Maximum number of results to read",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Retrieves the results of a query job."
        },
        "get": {
          "response": {
            "$ref": "Job"
          },
          "parameters": {
            "projectId": {
              "description": "[Required] Project ID of the requested job",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "jobId": {
              "type": "string",
              "location": "path",
              "description": "[Required] Job ID of the requested job",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "id": "bigquery.jobs.get",
          "path": "projects/{projectId}/jobs/{jobId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "datasets": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Dataset"
          },
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the new dataset",
              "location": "path"
            }
          },
          "id": "bigquery.datasets.insert",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "request": {
            "$ref": "Dataset"
          },
          "description": "Creates a new empty dataset.",
          "httpMethod": "POST"
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.delete",
          "httpMethod": "DELETE",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being deleted",
              "type": "string"
            },
            "deleteContents": {
              "location": "query",
              "type": "boolean",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of dataset being deleted"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "id": "bigquery.datasets.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the dataset specified by datasetID.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the requested dataset"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the requested dataset"
            }
          },
          "id": "bigquery.datasets.get"
        },
        "list": {
          "response": {
            "$ref": "DatasetList"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "all": {
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the datasets to be listed",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of results to return",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "bigquery.datasets.list"
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "id": "bigquery.projects.getServiceAccount",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/serviceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of results to return"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.projects.list",
          "path": "projects",
          "description": "Lists all projects to which you have been granted any project role.",
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET"
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the destination table.",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "required": true,
              "description": "Table ID of the destination table.",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the destination table."
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tabledata.insertAll",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "httpMethod": "POST",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role."
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TableDataList"
          },
          "httpMethod": "GET",
          "parameters": {
            "tableId": {
              "type": "string",
              "description": "Table ID of the table to read",
              "required": true,
              "location": "path"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "type": "string",
              "format": "uint64",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of the table to read",
              "location": "path"
            },
            "selectedFields": {
              "location": "query",
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to read",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "bigquery.tabledata.list"
        }
      }
    },
    "tables": {
      "methods": {
        "setIamPolicy": {
          "path": "{+resource}:setIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "httpMethod": "POST",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.tables.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ]
        },
        "update": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "parameters": {
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to update"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to update"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.update",
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "getIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "id": "bigquery.tables.getIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          }
        },
        "get": {
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the requested table"
            },
            "tableId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Table ID of the requested table"
            },
            "projectId": {
              "description": "Project ID of the requested table",
              "location": "path",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "location": "query",
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            }
          },
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tables.get",
          "httpMethod": "GET"
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "path": "{+resource}:testIamPermissions",
          "id": "bigquery.tables.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tables.delete",
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to delete",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the table to delete",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to delete"
            }
          }
        },
        "insert": {
          "id": "bigquery.tables.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "POST",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Creates a new, empty table in the dataset.",
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the new table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the new table",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "id": "bigquery.tables.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to update",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "required": true,
              "type": "string",
              "description": "Table ID of the table to update",
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Table"
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TableList"
          },
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Dataset ID of the tables to list"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Project ID of the tables to list",
              "location": "path",
              "type": "string"
            }
          },
          "id": "bigquery.tables.list"
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "testIamPermissions": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "{+resource}:testIamPermissions",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.rowAccessPolicies.getIamPolicy"
        },
        "setIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "{+resource}:setIamPolicy",
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          }
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "id": "bigquery.rowAccessPolicies.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query",
              "format": "int32"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the row access policies to list.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "tableId": {
              "required": true,
              "type": "string",
              "description": "Required. Table ID of the table to list row access policies.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of row access policies to list.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Lists all row access policies on the specified table.",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    }
  },
  "schemas": {
    "EncryptionConfiguration": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      },
      "id": "EncryptionConfiguration"
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "properties": {
        "kind": {
          "type": "string",
          "default": "bigquery#jobCancelResponse",
          "description": "The resource type of the response."
        },
        "job": {
          "description": "The final state of the job.",
          "$ref": "Job"
        }
      },
      "type": "object"
    },
    "CategoricalValue": {
      "id": "CategoricalValue",
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are more than ten categories, we return top ten (by count) and return one more CategoryCount with category \"_OTHER_\" and count as aggregate counts of remaining categories.",
          "type": "array",
          "items": {
            "$ref": "CategoryCount"
          }
        }
      },
      "description": "Representative value of a categorical feature.",
      "type": "object"
    },
    "JobStatistics4": {
      "id": "JobStatistics4",
      "properties": {
        "destinationUriFileCounts": {
          "type": "array",
          "description": "[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the 'destinationUris' field.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "inputBytes": {
          "format": "int64",
          "description": "[Output-only] Number of user bytes extracted into the result. This is the byte count as computed by BigQuery for billing purposes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobConfiguration": {
      "id": "JobConfiguration",
      "properties": {
        "jobType": {
          "description": "[Output-only] The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "copy": {
          "$ref": "JobConfigurationTableCopy",
          "description": "[Pick one] Copies a table."
        },
        "jobTimeoutMs": {
          "type": "string",
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
          "format": "int64"
        },
        "extract": {
          "$ref": "JobConfigurationExtract",
          "description": "[Pick one] Configures an extract job."
        },
        "query": {
          "$ref": "JobConfigurationQuery",
          "description": "[Pick one] Configures a query job."
        },
        "load": {
          "$ref": "JobConfigurationLoad",
          "description": "[Pick one] Configures a load job."
        },
        "dryRun": {
          "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BigtableColumn": {
      "type": "object",
      "id": "BigtableColumn",
      "properties": {
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels.",
          "type": "string"
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels."
        },
        "fieldName": {
          "type": "string",
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries."
        },
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "format": "byte",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels."
        },
        "qualifierString": {
          "type": "string"
        }
      }
    },
    "ModelReference": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this model."
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this model.",
          "type": "string"
        },
        "modelId": {
          "type": "string",
          "description": "[Required] The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        }
      },
      "id": "ModelReference",
      "type": "object"
    },
    "QueryParameterType": {
      "type": "object",
      "properties": {
        "structTypes": {
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "description": "[Optional] Human-oriented description of the field.",
                "type": "string"
              },
              "name": {
                "description": "[Optional] The name of this field.",
                "type": "string"
              },
              "type": {
                "description": "[Required] The type of this field.",
                "$ref": "QueryParameterType"
              }
            }
          },
          "type": "array",
          "description": "[Optional] The types of the fields of this struct, in order, if this is a struct."
        },
        "type": {
          "type": "string",
          "description": "[Required] The top level type of this field."
        },
        "arrayType": {
          "$ref": "QueryParameterType",
          "description": "[Optional] The type of the array's elements, if this is an array."
        }
      },
      "id": "QueryParameterType"
    },
    "JsonObject": {
      "additionalProperties": {
        "$ref": "JsonValue"
      },
      "id": "JsonObject",
      "description": "Represents a single JSON object.",
      "type": "object"
    },
    "ListRowAccessPoliciesResponse": {
      "id": "ListRowAccessPoliciesResponse",
      "properties": {
        "rowAccessPolicies": {
          "description": "Row access policies on the requested table.",
          "type": "array",
          "items": {
            "$ref": "RowAccessPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ListRowAccessPolicies method."
    },
    "StandardSqlStructType": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      },
      "id": "StandardSqlStructType"
    },
    "ViewDefinition": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "[Required] A query that BigQuery executes when the view is referenced."
        },
        "useExplicitColumnNames": {
          "type": "boolean",
          "description": "True if the column names are explicitly specified. For example by using the 'CREATE VIEW v(c1, c2) AS ...' syntax. Can only be set using BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/"
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value.",
          "type": "boolean"
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array"
        }
      },
      "id": "ViewDefinition"
    },
    "BqmlIterationResult": {
      "properties": {
        "evalLoss": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows."
        },
        "learnRate": {
          "format": "double",
          "type": "number",
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant."
        },
        "durationMs": {
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
          "format": "int32"
        },
        "trainingLoss": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type."
        }
      },
      "id": "BqmlIterationResult",
      "type": "object"
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "isCaseInsensitive": {
          "type": "boolean",
          "description": "[Optional] Indicates if table names are case insensitive in the dataset."
        },
        "datasetReference": {
          "$ref": "DatasetReference",
          "description": "[Required] A reference that identifies the dataset."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field."
        },
        "kind": {
          "description": "[Output-only] The resource type.",
          "default": "bigquery#dataset",
          "type": "string"
        },
        "defaultCollation": {
          "description": "[Output-only] The default collation of the dataset.",
          "type": "string"
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        },
        "creationTime": {
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "defaultPartitionExpirationMs": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property."
        },
        "description": {
          "description": "[Optional] A user-friendly description of the dataset.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the resource."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information."
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for the dataset."
        },
        "satisfiesPZS": {
          "type": "boolean",
          "description": "[Output-only] Reserved for future use."
        },
        "access": {
          "type": "array",
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "items": {
            "properties": {
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group.",
                "type": "string"
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\".",
                "type": "string"
              },
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                "$ref": "TableReference"
              },
              "domain": {
                "type": "string",
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\"."
              },
              "groupByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\"."
              },
              "dataset": {
                "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation.",
                "$ref": "DatasetAccessEntry"
              },
              "specialGroup": {
                "type": "string",
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members."
              },
              "routine": {
                "$ref": "RoutineReference",
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation."
              },
              "role": {
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\".",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "defaultTableExpirationMs": {
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "DatasetReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "type": "string",
          "description": "[Optional] The ID of the project containing this dataset."
        },
        "datasetId": {
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "type": "string",
          "description": "[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        }
      },
      "id": "DatasetReference"
    },
    "ClusterInfo": {
      "type": "object",
      "properties": {
        "clusterRadius": {
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster.",
          "format": "double",
          "type": "number"
        },
        "centroidId": {
          "type": "string",
          "description": "Centroid id.",
          "format": "int64"
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ClusterInfo",
      "description": "Information about a single cluster for clustering model."
    },
    "StandardSqlField": {
      "properties": {
        "type": {
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field).",
          "$ref": "StandardSqlDataType"
        },
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A field or a column.",
      "id": "StandardSqlField"
    },
    "MaterializedViewDefinition": {
      "id": "MaterializedViewDefinition",
      "properties": {
        "lastRefreshTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch."
        },
        "query": {
          "description": "[Required] A query whose result is persisted.",
          "type": "string"
        },
        "enableRefresh": {
          "type": "boolean",
          "description": "[Optional] [TrustedTester] Enable automatic refresh of the materialized view when the base table is updated. The default value is \"true\"."
        },
        "refreshIntervalMs": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] [TrustedTester] The maximum frequency at which this materialized view will be refreshed. The default value is \"1800000\" (30 minutes)."
        }
      },
      "type": "object"
    },
    "JsonValue": {
      "id": "JsonValue",
      "type": "any"
    },
    "RoutineReference": {
      "type": "object",
      "id": "RoutineReference",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this routine."
        },
        "routineId": {
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this routine."
        }
      }
    },
    "RankingMetrics": {
      "type": "object",
      "properties": {
        "normalizedDiscountedCumulativeGain": {
          "type": "number",
          "format": "double",
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings."
        },
        "meanSquaredError": {
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not.",
          "type": "number",
          "format": "double"
        },
        "averageRank": {
          "type": "number",
          "format": "double",
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank."
        },
        "meanAveragePrecision": {
          "type": "number",
          "format": "double",
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users."
        }
      },
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit.",
      "id": "RankingMetrics"
    },
    "TableSchema": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          },
          "description": "Describes the fields in a table."
        }
      },
      "id": "TableSchema"
    },
    "Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "TableFieldSchema": {
      "properties": {
        "type": {
          "description": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), NUMERIC, BIGNUMERIC, BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, INTERVAL, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "[Optional] The field description. The maximum length is 1,024 characters."
        },
        "categories": {
          "properties": {
            "names": {
              "description": "A list of category resource names. For example, \"projects/1/taxonomies/2/categories/3\". At most 5 categories are allowed.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "description": "[Optional] The categories attached to this field, used for field-level access control.",
          "type": "object"
        },
        "collationSpec": {
          "type": "string",
          "description": "Optional. Collation specification of the field. It only can be set on string type field."
        },
        "fields": {
          "items": {
            "$ref": "TableFieldSchema"
          },
          "type": "array",
          "description": "[Optional] Describes the nested schema fields if the type property is set to RECORD."
        },
        "precision": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Precision (maximum number of total digits in base 10) and scale (maximum number of digits in the fractional part in base 10) constraints for values of this field for NUMERIC or BIGNUMERIC. It is invalid to set precision or scale if type ≠ \"NUMERIC\" and ≠ \"BIGNUMERIC\". If precision and scale are not specified, no value range constraint is imposed on this field insofar as values are permitted by the type. Values of this NUMERIC or BIGNUMERIC field must be in this range when: - Precision (P) and scale (S) are specified: [-10P-S + 10-S, 10P-S - 10-S] - Precision (P) is specified but not scale (and thus scale is interpreted to be equal to zero): [-10P + 1, 10P - 1]. Acceptable values for precision and scale if both are specified: - If type = \"NUMERIC\": 1 ≤ precision - scale ≤ 29 and 0 ≤ scale ≤ 9. - If type = \"BIGNUMERIC\": 1 ≤ precision - scale ≤ 38 and 0 ≤ scale ≤ 38. Acceptable values for precision if only precision is specified but not scale (and thus scale is interpreted to be equal to zero): - If type = \"NUMERIC\": 1 ≤ precision ≤ 29. - If type = \"BIGNUMERIC\": 1 ≤ precision ≤ 38. If scale is specified but not precision, then it is invalid."
        },
        "scale": {
          "type": "string",
          "description": "[Optional] See documentation for precision.",
          "format": "int64"
        },
        "mode": {
          "type": "string",
          "description": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE."
        },
        "policyTags": {
          "properties": {
            "names": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "A list of category resource names. For example, \"projects/1/location/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is allowed."
            }
          },
          "type": "object"
        },
        "name": {
          "description": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 300 characters.",
          "type": "string"
        },
        "maxLength": {
          "format": "int64",
          "type": "string",
[...]
