{
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "/bigquery/v2/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "version": "v2",
  "title": "BigQuery API",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "schemas": {
    "DataMaskingStatistics": {
      "properties": {
        "dataMaskingApplied": {
          "type": "boolean",
          "default": "false",
          "description": "[Output-only] [Preview] Whether any accessed data was protected by data masking. The actual evaluation is done by accessStats.masked_field_count \u003e 0. Since this is only used for the discovery_doc generation purpose, as long as the type (boolean) matches, client library can leverage this. The actual evaluation of the variable is done else-where."
        }
      },
      "type": "object",
      "id": "DataMaskingStatistics"
    },
    "GetQueryResultsResponse": {
      "type": "object",
      "id": "GetQueryResultsResponse",
      "properties": {
        "schema": {
          "description": "The schema of the results. Present only when the query completes successfully.",
          "$ref": "TableSchema"
        },
        "numDmlAffectedRows": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array"
        },
        "cacheHit": {
          "description": "Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "type": "string",
          "format": "uint64"
        },
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "kind": {
          "description": "The resource type of the response.",
          "default": "bigquery#getQueryResultsResponse",
          "type": "string"
        },
        "totalBytesProcessed": {
          "description": "The total number of bytes processed for this query.",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "description": "A hash of this response.",
          "type": "string"
        },
        "jobComplete": {
          "type": "boolean",
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        }
      }
    },
    "JsonValue": {
      "id": "JsonValue",
      "type": "any"
    },
    "ExternalDatasetReference": {
      "id": "ExternalDatasetReference",
      "type": "object",
      "properties": {
        "connection": {
          "type": "string",
          "description": "[Required] The connection id that is used to access the external_source. Format: projects/{project_id}/locations/{location_id}/connections/{connection_id}"
        },
        "externalSource": {
          "description": "[Required] External source that backs this dataset.",
          "type": "string"
        }
      }
    },
    "ListRoutinesResponse": {
      "type": "object",
      "description": "Describes the format of a single result page when listing routines.",
      "id": "ListRoutinesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "routines": {
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, language, and remote_function_options.",
          "items": {
            "$ref": "Routine"
          },
          "type": "array"
        }
      }
    },
    "DatasetList": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "bigquery#datasetList",
          "description": "The list type. This property always returns the value \"bigquery#datasetList\"."
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page.",
          "type": "string"
        },
        "datasets": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "location": {
                "type": "string",
                "description": "The geographic location where the data resides."
              },
              "datasetReference": {
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID.",
                "$ref": "DatasetReference"
              },
              "friendlyName": {
                "description": "A descriptive name for the dataset, if one exists.",
                "type": "string"
              },
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "labels": {
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              "kind": {
                "type": "string",
                "default": "bigquery#dataset",
                "description": "The resource type. This property always returns the value \"bigquery#dataset\"."
              }
            }
          },
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project."
        },
        "etag": {
          "type": "string",
          "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request."
        }
      },
      "id": "DatasetList"
    },
    "TableCell": {
      "type": "object",
      "id": "TableCell",
      "properties": {
        "v": {
          "type": "any"
        }
      }
    },
    "MaterializedViewDefinition": {
      "properties": {
        "lastRefreshTime": {
          "format": "int64",
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch.",
          "type": "string"
        },
        "enableRefresh": {
          "description": "[Optional] [TrustedTester] Enable automatic refresh of the materialized view when the base table is updated. The default value is \"true\".",
          "type": "boolean"
        },
        "allowNonIncrementalDefinition": {
          "type": "boolean",
          "description": "[Optional] Allow non incremental materialized view definition. The default value is \"false\"."
        },
        "query": {
          "type": "string",
          "description": "[Required] A query whose result is persisted."
        },
        "refreshIntervalMs": {
          "format": "int64",
          "description": "[Optional] [TrustedTester] The maximum frequency at which this materialized view will be refreshed. The default value is \"1800000\" (30 minutes).",
          "type": "string"
        },
        "maxStaleness": {
          "type": "string",
          "description": "[Optional] Max staleness of data that could be returned when materizlized view is queried (formatted as Google SQL Interval type).",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "MaterializedViewDefinition"
    },
    "DatasetAccessEntry": {
      "id": "DatasetAccessEntry",
      "type": "object",
      "properties": {
        "dataset": {
          "$ref": "DatasetReference",
          "description": "[Required] The dataset this entry applies to."
        },
        "targetTypes": {
          "items": {
            "enumDescriptions": [
              "Do not use. You must set a target type explicitly.",
              "This entry applies to views in the dataset.",
              "This entry applies to routines in the dataset."
            ],
            "enum": [
              "TARGET_TYPE_UNSPECIFIED",
              "VIEWS",
              "ROUTINES"
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RemoteFunctionOptions": {
      "properties": {
        "endpoint": {
          "description": "Endpoint of the user-provided remote service, e.g. ```https://us-east1-my_gcf_project.cloudfunctions.net/remote_add```",
          "type": "string"
        },
        "maxBatchingRows": {
          "format": "int64",
          "type": "string",
          "description": "Max number of rows in each batch sent to the remote service. If absent or if 0, BigQuery dynamically decides the number of rows in a batch."
        },
        "userDefinedContext": {
          "description": "User-defined context as a set of key/value pairs, which will be sent as function invocation context together with batched arguments in the requests to the remote service. The total number of bytes of keys and values must be less than 8KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connection": {
          "type": "string",
          "description": "Fully qualified name of the user-provided connection object which holds the authentication information to send requests to the remote service. Format: ```\"projects/{projectId}/locations/{locationId}/connections/{connectionId}\"```"
        }
      },
      "type": "object",
      "id": "RemoteFunctionOptions",
      "description": "Options for a remote user-defined function."
    },
    "ParquetOptions": {
      "properties": {
        "enableListInference": {
          "description": "[Optional] Indicates whether to use schema inference specifically for Parquet LIST logical type.",
          "type": "boolean"
        },
        "enumAsString": {
          "description": "[Optional] Indicates whether to infer Parquet ENUM logical type as STRING instead of BYTES by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ParquetOptions"
    },
    "TrainingOptions": {
      "id": "TrainingOptions",
      "description": "Options used in model training.",
      "type": "object",
      "properties": {
        "timeSeriesIdColumn": {
          "description": "The time series id column that was used during ARIMA model training.",
          "type": "string"
        },
        "calculatePValues": {
          "description": "Whether or not p-value test should be computed for this model. Only available for linear and logistic regression models.",
          "type": "boolean"
        },
        "horizon": {
          "type": "string",
          "description": "The number of periods ahead that need to be forecasted.",
          "format": "int64"
        },
        "kmeansInitializationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "description": "The method used to initialize the centroids for kmeans algorithm."
        },
        "maxIterations": {
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string",
          "format": "int64"
        },
        "minTreeChildWeight": {
          "type": "string",
          "description": "Minimum sum of instance weight needed in a child for boosted tree models.",
          "format": "int64"
        },
        "l1Regularization": {
          "type": "number",
          "format": "double",
          "description": "L1 regularization coefficient."
        },
        "approxGlobalFeatureContrib": {
          "description": "Whether to use approximate feature contribution method in XGBoost model explanation for global explain.",
          "type": "boolean"
        },
        "pcaExplainedVarianceRatio": {
          "type": "number",
          "format": "double",
          "description": "The minimum ratio of cumulative explained variance that needs to be given by the PCA model."
        },
        "dataSplitMethod": {
          "enumDescriptions": [
            "Default value.",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "type": "string",
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ]
        },
        "kmeansInitializationColumn": {
          "type": "string",
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM."
        },
        "maxTimeSeriesLength": {
          "description": "The maximum number of time points in a time series that can be used in modeling the trend component of the time series. Don't use this option with the `timeSeriesLengthFraction` or `minTimeSeriesLength` options.",
          "format": "int64",
          "type": "string"
        },
        "dataSplitColumn": {
          "type": "string",
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties"
        },
        "hiddenUnits": {
          "type": "array",
          "description": "Hidden units for dnn models.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "feedbackType": {
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "type": "string"
        },
        "maxTreeDepth": {
          "description": "Maximum depth of a tree for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "colorSpace": {
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "description": "Enums for color space, used for processing images in Object Table. See more details at https://www.tensorflow.org/io/tutorials/colorspace.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified color space",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ]
        },
        "timeSeriesIdColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time series id columns that were used during ARIMA model training."
        },
        "nonSeasonalOrder": {
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order.",
          "$ref": "ArimaOrder"
        },
        "minRelativeProgress": {
          "type": "number",
          "format": "double",
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms."
        },
        "fitIntercept": {
          "description": "Whether the model should include intercept during model training.",
          "type": "boolean"
        },
        "earlyStop": {
          "type": "boolean",
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms."
        },
        "timeSeriesTimestampColumn": {
          "type": "string",
          "description": "Column to be designated as time series timestamp for ARIMA model."
        },
        "decomposeTimeSeries": {
          "type": "boolean",
          "description": "If true, perform decompose time series and save the results."
        },
        "modelUri": {
          "type": "string",
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models."
        },
        "optimizer": {
          "type": "string",
          "description": "Optimizer used for training the neural nets."
        },
        "vertexAiModelVersionAliases": {
          "type": "array",
          "description": "The version aliases to apply in Vertex AI model registry. Always overwrite if the version aliases exists in a existing model.",
          "items": {
            "type": "string"
          }
        },
        "colsampleBynode": {
          "description": "Subsample ratio of columns for each node(split) for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "boosterType": {
          "enum": [
            "BOOSTER_TYPE_UNSPECIFIED",
            "GBTREE",
            "DART"
          ],
          "enumDescriptions": [
            "Unspecified booster type.",
            "Gbtree booster.",
            "Dart booster."
          ],
          "type": "string",
          "description": "Booster type for boosted tree models."
        },
        "learnRateStrategy": {
          "type": "string",
          "description": "The strategy to determine learn rate for the current iteration.",
          "enumDescriptions": [
            "Default value.",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "sampledShapleyNumPaths": {
          "format": "int64",
          "description": "Number of paths for the sampled Shapley explain method.",
          "type": "string"
        },
        "learnRate": {
          "format": "double",
          "type": "number",
          "description": "Learning rate in training. Used only for iterative training algorithms."
        },
        "itemColumn": {
          "type": "string",
          "description": "Item column specified for matrix factorization models."
        },
        "standardizeFeatures": {
          "description": "Whether to standardize numerical features. Default to true.",
          "type": "boolean"
        },
        "xgboostVersion": {
          "description": "User-selected XGBoost versions for training of XGBoost models.",
          "type": "string"
        },
        "tfVersion": {
          "type": "string",
          "description": "Based on the selected TF version, the corresponding docker image is used to train external models."
        },
        "autoArimaMaxOrder": {
          "type": "string",
          "description": "The max value of the sum of non-seasonal p and q.",
          "format": "int64"
        },
        "trendSmoothingWindowSize": {
          "format": "int64",
          "description": "Smoothing window size for the trend component. When a positive value is specified, a center moving average smoothing is applied on the history trend. When the smoothing window is out of the boundary at the beginning or the end of the trend, the first element or the last element is padded to fill the smoothing window before the average is applied.",
          "type": "string"
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "format": "int64",
          "type": "string"
        },
        "numFactors": {
          "description": "Num factors specified for matrix factorization models.",
          "format": "int64",
          "type": "string"
        },
        "treeMethod": {
          "description": "Tree construction algorithm for boosted tree models.",
          "type": "string",
          "enum": [
            "TREE_METHOD_UNSPECIFIED",
            "AUTO",
            "EXACT",
            "APPROX",
            "HIST"
          ],
          "enumDescriptions": [
            "Unspecified tree method.",
            "Use heuristic to choose the fastest method.",
            "Exact greedy algorithm.",
            "Approximate greedy algorithm using quantile sketch and gradient histogram.",
            "Fast histogram optimized approximate greedy algorithm."
          ]
        },
        "colsampleBytree": {
          "format": "double",
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models.",
          "type": "number"
        },
        "integratedGradientsNumSteps": {
          "type": "string",
          "format": "int64",
          "description": "Number of integral steps for the integrated gradients explain method."
        },
        "scaleFeatures": {
          "description": "If true, scale the feature values by dividing the feature standard deviation. Currently only apply to PCA.",
          "type": "boolean"
        },
        "dataFrequency": {
          "type": "string",
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "description": "The data frequency of a time series.",
          "enumDescriptions": [
            "Default value.",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ]
        },
        "includeDrift": {
          "description": "Include drift when fitting an ARIMA model.",
          "type": "boolean"
        },
        "categoryEncodingMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified encoding method.",
            "Applies one-hot encoding.",
            "Applies label encoding.",
            "Applies dummy encoding."
          ],
          "description": "Categorical feature encoding method.",
          "enum": [
            "ENCODING_METHOD_UNSPECIFIED",
            "ONE_HOT_ENCODING",
            "LABEL_ENCODING",
            "DUMMY_ENCODING"
          ]
        },
        "subsample": {
          "format": "double",
          "type": "number",
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models."
        },
        "autoArima": {
          "type": "boolean",
          "description": "Whether to enable auto ARIMA or not."
        },
        "timeSeriesDataColumn": {
          "type": "string",
          "description": "Column to be designated as time series data for ARIMA model."
        },
        "autoArimaMinOrder": {
          "format": "int64",
          "description": "The min value of the sum of non-seasonal p and q.",
          "type": "string"
        },
        "initialLearnRate": {
          "type": "number",
          "description": "Specifies the initial learning rate for the line search learn rate strategy.",
          "format": "double"
        },
        "cleanSpikesAndDips": {
          "type": "boolean",
          "description": "If true, clean spikes and dips in the input time series."
        },
        "optimizationStrategy": {
          "enumDescriptions": [
            "Default value.",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "type": "string",
          "description": "Optimization strategy for training linear regression models."
        },
        "dartNormalizeType": {
          "enumDescriptions": [
            "Unspecified dart normalize type.",
            "New trees have the same weight of each of dropped trees.",
            "New trees have the same weight of sum of dropped trees."
          ],
          "enum": [
            "DART_NORMALIZE_TYPE_UNSPECIFIED",
            "TREE",
            "FOREST"
          ],
          "type": "string",
          "description": "Type of normalization algorithm for boosted tree models using dart booster."
        },
        "numTrials": {
          "format": "int64",
          "type": "string",
          "description": "Number of trials to run this hyperparameter tuning job."
        },
        "holidayRegions": {
          "description": "A list of geographical regions that are used for time series modeling.",
          "items": {
            "enumDescriptions": [
              "Holiday region unspecified.",
              "Global.",
              "North America.",
              "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
              "Europe, the Middle East and Africa.",
              "Latin America and the Caribbean.",
              "United Arab Emirates",
              "Argentina",
              "Austria",
              "Australia",
              "Belgium",
              "Brazil",
              "Canada",
              "Switzerland",
              "Chile",
              "China",
              "Colombia",
              "Czechoslovakia",
              "Czech Republic",
              "Germany",
              "Denmark",
              "Algeria",
              "Ecuador",
              "Estonia",
              "Egypt",
              "Spain",
              "Finland",
              "France",
              "Great Britain (United Kingdom)",
              "Greece",
              "Hong Kong",
              "Hungary",
              "Indonesia",
              "Ireland",
              "Israel",
              "India",
              "Iran",
              "Italy",
              "Japan",
              "Korea (South)",
              "Latvia",
              "Morocco",
              "Mexico",
              "Malaysia",
              "Nigeria",
              "Netherlands",
              "Norway",
              "New Zealand",
              "Peru",
              "Philippines",
              "Pakistan",
              "Poland",
              "Portugal",
              "Romania",
              "Serbia",
              "Russian Federation",
              "Saudi Arabia",
              "Sweden",
              "Singapore",
              "Slovenia",
              "Slovakia",
              "Thailand",
              "Turkey",
              "Taiwan",
              "Ukraine",
              "United States",
              "Venezuela",
              "Viet Nam",
              "South Africa"
            ],
            "type": "string",
            "enum": [
              "HOLIDAY_REGION_UNSPECIFIED",
              "GLOBAL",
              "NA",
              "JAPAC",
              "EMEA",
              "LAC",
              "AE",
              "AR",
              "AT",
              "AU",
              "BE",
              "BR",
              "CA",
              "CH",
              "CL",
              "CN",
              "CO",
              "CS",
              "CZ",
              "DE",
              "DK",
              "DZ",
              "EC",
              "EE",
              "EG",
              "ES",
              "FI",
              "FR",
              "GB",
              "GR",
              "HK",
              "HU",
              "ID",
              "IE",
              "IL",
              "IN",
              "IR",
              "IT",
              "JP",
              "KR",
              "LV",
              "MA",
              "MX",
              "MY",
              "NG",
              "NL",
              "NO",
              "NZ",
              "PE",
              "PH",
              "PK",
              "PL",
              "PT",
              "RO",
              "RS",
              "RU",
              "SA",
              "SE",
              "SG",
              "SI",
              "SK",
              "TH",
              "TR",
              "TW",
              "UA",
              "US",
              "VE",
              "VN",
              "ZA"
            ]
          },
          "type": "array"
        },
        "batchSize": {
          "type": "string",
          "format": "int64",
          "description": "Batch size for dnn models."
        },
        "pcaSolver": {
          "enum": [
            "UNSPECIFIED",
            "FULL",
            "RANDOMIZED",
            "AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Full eigen-decoposition.",
            "Randomized SVD.",
            "Auto."
          ],
          "description": "The solver for PCA."
        },
        "l1RegActivation": {
          "format": "double",
          "type": "number",
          "description": "L1 regularization coefficient to activations."
        },
        "walsAlpha": {
          "type": "number",
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "format": "double"
        },
        "activationFn": {
          "description": "Activation function of the neural nets.",
          "type": "string"
        },
        "autoClassWeights": {
          "type": "boolean",
          "description": "Whether to calculate class weights automatically based on the popularity of each label."
        },
        "numParallelTree": {
          "description": "Number of parallel trees constructed during each iteration for boosted tree models.",
          "format": "int64",
          "type": "string"
        },
        "budgetHours": {
          "description": "Budget in hours for AutoML training.",
          "type": "number",
          "format": "double"
        },
        "enableGlobalExplain": {
          "description": "If true, enable global explanation during training.",
          "type": "boolean"
        },
        "minTimeSeriesLength": {
          "format": "int64",
          "description": "The minimum number of time points in a time series that are used in modeling the trend component of the time series. If you use this option you must also set the `timeSeriesLengthFraction` option. This training option ensures that enough time points are available when you use `timeSeriesLengthFraction` in trend modeling. This is particularly important when forecasting multiple time series in a single query using `timeSeriesIdColumn`. If the total number of time points is less than the `minTimeSeriesLength` value, then the query uses all available time points.",
          "type": "string"
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "labelClassWeights": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models."
        },
        "l2Regularization": {
          "format": "double",
          "description": "L2 regularization coefficient.",
          "type": "number"
        },
        "instanceWeightColumn": {
          "description": "Name of the instance weight column for training data. This column isn't be used as a feature.",
          "type": "string"
        },
        "maxParallelTrials": {
          "format": "int64",
          "type": "string",
          "description": "Maximum number of trials to run in parallel."
        },
        "distanceType": {
          "type": "string",
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "description": "Distance type for clustering models."
        },
        "modelRegistry": {
          "description": "The model registry.",
          "enumDescriptions": [
            "Default value.",
            "Vertex AI."
          ],
          "enum": [
            "MODEL_REGISTRY_UNSPECIFIED",
            "VERTEX_AI"
          ],
          "type": "string"
        },
        "inputLabelColumns": {
          "items": {
            "type": "string"
          },
          "description": "Name of input label columns in training data.",
          "type": "array"
        },
        "holidayRegion": {
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ],
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled.",
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ],
          "type": "string"
        },
        "numPrincipalComponents": {
          "type": "string",
          "description": "Number of principal components to keep in the PCA model. Must be \u003c= the number of features.",
          "format": "int64"
        },
        "dataSplitEvalFraction": {
          "format": "double",
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2.",
          "type": "number"
        },
        "lossType": {
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ],
          "description": "Type of loss function used during training run.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ]
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "format": "double",
          "type": "number"
        },
        "adjustStepChanges": {
          "type": "boolean",
          "description": "If true, detect step changes and make data adjustment in the input time series."
        },
        "timeSeriesLengthFraction": {
          "type": "number",
          "description": "The fraction of the interpolated length of the time series that's used to model the time series trend component. All of the time points of the time series are used to model the non-trend component. This training option accelerates modeling training without sacrificing much forecasting accuracy. You can use this option with `minTimeSeriesLength` but not with `maxTimeSeriesLength`.",
          "format": "double"
        },
        "userColumn": {
          "type": "string",
          "description": "User column specified for matrix factorization models."
        },
        "hparamTuningObjectives": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified evaluation metric.",
              "Mean absolute error. mean_absolute_error = AVG(ABS(label - predicted))",
              "Mean squared error. mean_squared_error = AVG(POW(label - predicted, 2))",
              "Mean squared log error. mean_squared_log_error = AVG(POW(LN(1 + label) - LN(1 + predicted), 2))",
              "Mean absolute error. median_absolute_error = APPROX_QUANTILES(absolute_error, 2)[OFFSET(1)]",
              "R^2 score. This corresponds to r2_score in ML.EVALUATE. r_squared = 1 - SUM(squared_error)/(COUNT(label)*VAR_POP(label))",
              "Explained variance. explained_variance = 1 - VAR_POP(label_error)/VAR_POP(label)",
              "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
              "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
              "Accuracy is the fraction of predictions given the correct label. For multiclass this is a globally micro-averaged metric.",
              "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
              "Logorithmic Loss. For multiclass this is a macro-averaged metric.",
              "Area Under an ROC Curve. For multiclass this is a macro-averaged metric.",
              "Davies-Bouldin Index.",
              "Mean Average Precision.",
              "Normalized Discounted Cumulative Gain.",
              "Average Rank."
            ],
            "enum": [
              "HPARAM_TUNING_OBJECTIVE_UNSPECIFIED",
              "MEAN_ABSOLUTE_ERROR",
              "MEAN_SQUARED_ERROR",
              "MEAN_SQUARED_LOG_ERROR",
              "MEDIAN_ABSOLUTE_ERROR",
              "R_SQUARED",
              "EXPLAINED_VARIANCE",
              "PRECISION",
              "RECALL",
              "ACCURACY",
              "F1_SCORE",
              "LOG_LOSS",
              "ROC_AUC",
              "DAVIES_BOULDIN_INDEX",
              "MEAN_AVERAGE_PRECISION",
              "NORMALIZED_DISCOUNTED_CUMULATIVE_GAIN",
              "AVERAGE_RANK"
            ]
          },
          "description": "The target evaluation metrics to optimize the hyperparameters for.",
          "type": "array"
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "colsampleBylevel": {
          "type": "number",
          "format": "double",
          "description": "Subsample ratio of columns for each level for boosted tree models."
        }
      }
    },
    "DoubleCandidates": {
      "id": "DoubleCandidates",
      "properties": {
        "candidates": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "Candidates for the double parameter in increasing order."
        }
      },
      "description": "Discrete candidates of a double hyperparameter.",
      "type": "object"
    },
    "JobStatistics": {
      "properties": {
        "query": {
          "description": "[Output-only] Statistics for a query job.",
          "$ref": "JobStatistics2"
        },
        "totalBytesProcessed": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead."
        },
        "creationTime": {
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "format": "int64",
          "type": "string"
        },
        "endTime": {
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "type": "string",
          "format": "int64"
        },
        "reservation_id": {
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job.",
          "type": "string"
        },
        "completionRatio": {
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "format": "double",
          "type": "number"
        },
        "copy": {
          "$ref": "JobStatistics5",
          "description": "[Output-only] Statistics for a copy job."
        },
        "totalSlotMs": {
          "description": "[Output-only] Slot-milliseconds for the job.",
          "type": "string",
          "format": "int64"
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE."
        },
        "reservationUsage": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64",
                "type": "string"
              }
            }
          },
          "description": "[Output-only] Job resource usage breakdown by reservation."
        },
        "parentJobId": {
          "description": "[Output-only] If this is a child job, the id of the parent.",
          "type": "string"
        },
        "numChildJobs": {
          "description": "[Output-only] Number of child jobs executed.",
          "format": "int64",
          "type": "string"
        },
        "load": {
          "$ref": "JobStatistics3",
          "description": "[Output-only] Statistics for a load job."
        },
        "quotaDeferments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Output-only] Quotas which delayed this job's start time."
        },
        "scriptStatistics": {
          "description": "[Output-only] Statistics for a child job of a script.",
          "$ref": "ScriptStatistics"
        },
        "sessionInfo": {
          "$ref": "SessionInfo",
          "description": "[Output-only] [Preview] Information of the session if this job is part of one."
        },
        "dataMaskingStatistics": {
          "description": "[Output-only] Statistics for data masking. Present only for query and extract jobs.",
          "$ref": "DataMaskingStatistics"
        },
        "rowLevelSecurityStatistics": {
          "$ref": "RowLevelSecurityStatistics",
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs."
        },
        "transactionInfo": {
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one.",
          "$ref": "TransactionInfo"
        }
      },
      "type": "object",
      "id": "JobStatistics"
    },
    "FeatureValue": {
      "description": "Representative value of a single feature within the cluster.",
      "id": "FeatureValue",
      "type": "object",
      "properties": {
        "categoricalValue": {
          "$ref": "CategoricalValue",
          "description": "The categorical feature value."
        },
        "numericalValue": {
          "format": "double",
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "type": "number"
        },
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        }
      }
    },
    "TableDataList": {
      "properties": {
        "totalRows": {
          "format": "int64",
          "type": "string",
          "description": "The total number of rows in the complete table."
        },
        "rows": {
          "items": {
            "$ref": "TableRow"
          },
          "type": "array",
          "description": "Rows of results."
        },
        "kind": {
          "description": "The resource type of the response.",
          "default": "bigquery#tableDataList",
          "type": "string"
        },
        "pageToken": {
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.",
          "type": "string"
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        }
      },
      "id": "TableDataList",
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "StandardSqlStructType": {
      "type": "object",
      "description": "The representation of a SQL STRUCT type.",
      "properties": {
        "fields": {
          "items": {
            "$ref": "StandardSqlField"
          },
          "description": "Fields within the struct.",
          "type": "array"
        }
      },
      "id": "StandardSqlStructType"
    },
    "IntArrayHparamSearchSpace": {
      "description": "Search space for int array.",
      "id": "IntArrayHparamSearchSpace",
      "type": "object",
      "properties": {
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "IntArray"
          },
          "description": "Candidates for the int array parameter."
        }
      }
    },
    "BqmlTrainingRun": {
      "properties": {
        "startTime": {
          "format": "date-time",
          "type": "string",
          "description": "[Output-only, Beta] Training run start time in milliseconds since the epoch."
        },
        "trainingOptions": {
          "type": "object",
          "description": "[Output-only, Beta] Training options used by this training run. These options are mutable for subsequent training runs. Default values are explicitly stored for options not specified in the input query of the first training run. For subsequent training runs, any option not explicitly specified in the input query will be copied from the previous training run.",
          "properties": {
            "minRelProgress": {
              "format": "double",
              "type": "number"
            },
            "earlyStop": {
              "type": "boolean"
            },
            "maxIteration": {
              "format": "int64",
              "type": "string"
            },
            "l2Reg": {
              "type": "number",
              "format": "double"
            },
            "lineSearchInitLearnRate": {
              "format": "double",
              "type": "number"
            },
            "learnRateStrategy": {
              "type": "string"
            },
            "l1Reg": {
              "format": "double",
              "type": "number"
            },
            "learnRate": {
              "type": "number",
              "format": "double"
            },
            "warmStart": {
              "type": "boolean"
            }
          }
        },
        "state": {
          "description": "[Output-only, Beta] Different state applicable for a training run. IN PROGRESS: Training run is in progress. FAILED: Training run ended due to a non-retryable failure. SUCCEEDED: Training run successfully completed. CANCELLED: Training run cancelled by the user.",
          "type": "string"
        },
        "iterationResults": {
          "type": "array",
          "description": "[Output-only, Beta] List of each iteration results.",
          "items": {
            "$ref": "BqmlIterationResult"
          }
        }
      },
      "id": "BqmlTrainingRun",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "JobCancelResponse": {
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#jobCancelResponse"
        },
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        }
      },
      "id": "JobCancelResponse",
      "type": "object"
    },
    "JsonOptions": {
      "type": "object",
      "id": "JsonOptions",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8, UTF-16BE, UTF-16LE, UTF-32BE, and UTF-32LE. The default value is UTF-8."
        }
      }
    },
    "CategoryCount": {
      "properties": {
        "count": {
          "type": "string",
          "description": "The count of training samples matching the category within the cluster.",
          "format": "int64"
        },
        "category": {
          "description": "The name of category.",
          "type": "string"
        }
      },
      "description": "Represents the count of a single category within the cluster.",
      "id": "CategoryCount",
      "type": "object"
    },
    "TableFieldSchema": {
      "type": "object",
      "properties": {
        "maxLength": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Maximum length of values of this field for STRINGS or BYTES. If max_length is not specified, no maximum length constraint is imposed on this field. If type = \"STRING\", then max_length represents the maximum UTF-8 length of strings in this field. If type = \"BYTES\", then max_length represents the maximum number of bytes in this field. It is invalid to set this field if type ≠ \"STRING\" and ≠ \"BYTES\"."
        },
        "description": {
          "description": "[Optional] The field description. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "mode": {
          "description": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE.",
          "type": "string"
        },
        "roundingMode": {
          "description": "Optional. Rounding Mode specification of the field. It only can be set on NUMERIC or BIGNUMERIC type fields.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 300 characters."
        },
        "collation": {
          "description": "Optional. Collation specification of the field. It only can be set on string type field.",
          "type": "string"
        },
        "scale": {
          "description": "[Optional] See documentation for precision.",
          "format": "int64",
          "type": "string"
        },
        "policyTags": {
          "properties": {
            "names": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "A list of category resource names. For example, \"projects/1/location/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is allowed."
            }
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), NUMERIC, BIGNUMERIC, BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, INTERVAL, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD)."
        },
        "precision": {
          "type": "string",
          "description": "[Optional] Precision (maximum number of total digits in base 10) and scale (maximum number of digits in the fractional part in base 10) constraints for values of this field for NUMERIC or BIGNUMERIC. It is invalid to set precision or scale if type ≠ \"NUMERIC\" and ≠ \"BIGNUMERIC\". If precision and scale are not specified, no value range constraint is imposed on this field insofar as values are permitted by the type. Values of this NUMERIC or BIGNUMERIC field must be in this range when: - Precision (P) and scale (S) are specified: [-10P-S + 10-S, 10P-S - 10-S] - Precision (P) is specified but not scale (and thus scale is interpreted to be equal to zero): [-10P + 1, 10P - 1]. Acceptable values for precision and scale if both are specified: - If type = \"NUMERIC\": 1 ≤ precision - scale ≤ 29 and 0 ≤ scale ≤ 9. - If type = \"BIGNUMERIC\": 1 ≤ precision - scale ≤ 38 and 0 ≤ scale ≤ 38. Acceptable values for precision if only precision is specified but not scale (and thus scale is interpreted to be equal to zero): - If type = \"NUMERIC\": 1 ≤ precision ≤ 29. - If type = \"BIGNUMERIC\": 1 ≤ precision ≤ 38. If scale is specified but not precision, then it is invalid.",
          "format": "int64"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          },
          "description": "[Optional] Describes the nested schema fields if the type property is set to RECORD."
        },
        "categories": {
          "properties": {
            "names": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of category resource names. For example, \"projects/1/taxonomies/2/categories/3\". At most 5 categories are allowed."
            }
          },
          "description": "[Optional] The categories attached to this field, used for field-level access control.",
          "type": "object"
        },
        "defaultValueExpression": {
          "type": "string",
          "description": "Optional. A SQL expression to specify the default value for this field. It can only be set for top level fields (columns). You can use struct or array expression to specify default value for the entire struct or array. The valid SQL expressions are: - Literals for all data types, including STRUCT and ARRAY. - Following functions: - CURRENT_TIMESTAMP - CURRENT_TIME - CURRENT_DATE - CURRENT_DATETIME - GENERATE_UUID - RAND - SESSION_USER - ST_GEOGPOINT - Struct or array composed with the above allowed functions, for example, [CURRENT_DATE(), DATE '2020-01-01']"
        },
        "rangeElementType": {
          "type": "object",
          "description": "Optional. The subtype of the RANGE, if the type of this field is RANGE. If the type is RANGE, this field is required. Possible values for the field element type of a RANGE include: - DATE - DATETIME - TIMESTAMP",
          "properties": {
            "type": {
              "type": "string",
              "description": "The field element type of a RANGE"
            }
          }
        }
      },
      "id": "TableFieldSchema"
    },
    "BigtableColumnFamily": {
      "properties": {
        "columns": {
          "items": {
            "$ref": "BigtableColumn"
          },
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "type": "array"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it.",
          "type": "string"
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BigtableColumnFamily"
    },
    "GlobalExplanation": {
      "description": "Global explanations containing the top most important features after training.",
      "type": "object",
      "properties": {
        "explanations": {
          "type": "array",
          "description": "A list of the top global explanations. Sorted by absolute value of attribution in descending order.",
          "items": {
            "$ref": "Explanation"
          }
        },
        "classLabel": {
          "type": "string",
          "description": "Class label for this set of global explanations. Will be empty/null for binary logistic and linear regression models. Sorted alphabetically in descending order."
        }
      },
      "id": "GlobalExplanation"
    },
    "TableDataInsertAllResponse": {
      "type": "object",
      "properties": {
        "insertErrors": {
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "description": "The index of the row that error applies to.",
                "type": "integer",
                "format": "uint32"
              },
              "errors": {
                "description": "Error information for the row indicated by the index property.",
                "items": {
                  "$ref": "ErrorProto"
                },
                "type": "array"
              }
            }
          },
          "type": "array",
          "description": "An array of errors for rows that were not inserted."
        },
        "kind": {
          "default": "bigquery#tableDataInsertAllResponse",
          "type": "string",
          "description": "The resource type of the response."
        }
      },
      "id": "TableDataInsertAllResponse"
    },
    "BqmlIterationResult": {
      "id": "BqmlIterationResult",
      "properties": {
        "index": {
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
          "format": "int32",
          "type": "integer"
        },
        "learnRate": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant."
        },
        "trainingLoss": {
          "type": "number",
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type.",
          "format": "double"
        },
        "durationMs": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds."
        },
        "evalLoss": {
          "format": "double",
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Policy": {
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "TableConstraints": {
      "type": "object",
      "id": "TableConstraints",
      "properties": {
        "primaryKey": {
          "type": "object",
          "description": "[Optional] The primary key of the table.",
          "properties": {
            "columns": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        },
        "foreignKeys": {
          "type": "array",
          "description": "[Optional] The foreign keys of the tables.",
          "items": {
            "properties": {
              "referencedTable": {
                "type": "object",
                "properties": {
                  "tableId": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "datasetId": {
                    "type": "string"
                  }
                }
              },
              "name": {
                "type": "string"
              },
              "columnReferences": {
                "type": "array",
                "items": {
                  "properties": {
                    "referencedColumn": {
                      "type": "string"
                    },
                    "referencingColumn": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "type": "object"
          }
        }
      }
    },
    "SparkLoggingInfo": {
      "properties": {
        "resource_type": {
          "type": "string",
          "description": "[Output-only] Resource type used for logging"
        },
        "project_id": {
          "description": "[Output-only] Project ID used for logging",
          "type": "string"
        }
      },
      "id": "SparkLoggingInfo",
      "type": "object"
    },
    "QueryRequest": {
      "properties": {
        "continuous": {
          "type": "boolean",
          "description": "[Optional] Specifies whether the query should be executed as a continuous query. The default value is false."
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "default": "true",
          "type": "boolean"
        },
        "maximumBytesBilled": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default."
        },
        "useQueryCache": {
          "type": "boolean",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "default": "true"
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "maxResults": {
          "type": "integer",
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "format": "uint32"
        },
        "kind": {
          "default": "bigquery#queryRequest",
          "type": "string",
          "description": "The resource type of the request."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object"
        },
        "timeoutMs": {
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "type": "integer",
          "format": "uint32"
        },
        "jobCreationMode": {
          "description": "Optional. If not set, jobs are always required. If set, the query request will follow the behavior described JobCreationMode. This feature is not yet available. Jobs will always be created.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          }
        },
        "connectionProperties": {
          "items": {
            "$ref": "ConnectionProperty"
          },
          "type": "array",
          "description": "Connection properties."
        },
        "location": {
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false."
        },
        "requestId": {
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed.",
          "type": "string"
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'.",
          "$ref": "DatasetReference"
        },
        "createSession": {
          "type": "boolean",
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "queryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array",
          "description": "Query parameters for Standard SQL queries."
        }
      },
      "id": "QueryRequest",
      "type": "object"
    },
    "Row": {
      "properties": {
        "actualLabel": {
          "description": "The original label of this row.",
          "type": "string"
        },
        "entries": {
          "description": "Info describing predicted label distribution.",
          "items": {
            "$ref": "Entry"
          },
          "type": "array"
        }
      },
      "id": "Row",
      "type": "object",
      "description": "A single row in the confusion matrix."
    },
    "ViewDefinition": {
      "properties": {
        "useExplicitColumnNames": {
          "description": "True if the column names are explicitly specified. For example by using the 'CREATE VIEW v(c1, c2) AS ...' syntax. Can only be set using BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/",
          "type": "boolean"
        },
        "useLegacySql": {
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value."
        },
        "query": {
          "description": "[Required] A query that BigQuery executes when the view is referenced.",
          "type": "string"
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array"
        }
      },
      "id": "ViewDefinition",
      "type": "object"
    },
    "QueryTimelineSample": {
      "type": "object",
      "properties": {
        "elapsedMs": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds elapsed since the start of query execution."
        },
        "pendingUnits": {
          "type": "string",
          "format": "int64",
          "description": "Total units of work remaining for the query. This number can be revised (increased or decreased) while the query is running."
        },
        "activeUnits": {
          "format": "int64",
          "type": "string",
          "description": "Total number of units currently being processed by workers. This does not correspond directly to slot usage. This is the largest value observed since the last sample."
        },
        "completedUnits": {
          "description": "Total parallel units of work completed by this query.",
          "type": "string",
          "format": "int64"
        },
        "estimatedRunnableUnits": {
          "description": "Units of work that can be scheduled immediately. Providing additional slots for these units of work will speed up the query, provided no other query in the reservation needs additional slots.",
          "format": "int64",
          "type": "string"
        },
        "totalSlotMs": {
          "description": "Cumulative slot-ms consumed by the query.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "QueryTimelineSample"
    },
    "Argument": {
      "type": "object",
      "properties": {
        "isAggregate": {
          "type": "boolean",
          "description": "Optional. Whether the argument is an aggregate function parameter. Must be Unset for routine types other than AGGREGATE_FUNCTION. For AGGREGATE_FUNCTION, if set to false, it is equivalent to adding \"NOT AGGREGATE\" clause in DDL; Otherwise, it is equivalent to omitting \"NOT AGGREGATE\" clause in DDL."
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "description": "Optional. Specifies whether the argument is input or output. Can be set for procedures only."
        },
        "argumentKind": {
          "enum": [
            "ARGUMENT_KIND_UNSPECIFIED",
            "FIXED_TYPE",
            "ANY_TYPE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The argument is a variable with fully specified type, which can be a struct or an array, but not a table.",
            "The argument is any type, including struct or array, but not a table. To be added: FIXED_TABLE, ANY_TABLE"
          ],
          "description": "Optional. Defaults to FIXED_TYPE.",
          "type": "string"
        },
        "dataType": {
          "description": "Required unless argument_kind = ANY_TYPE.",
          "$ref": "StandardSqlDataType"
        },
        "name": {
          "description": "Optional. The name of this argument. Can be absent for function return argument.",
          "type": "string"
        }
      },
      "id": "Argument",
      "description": "Input/output argument of a function or a stored procedure."
    },
    "QueryParameterType": {
      "id": "QueryParameterType",
      "type": "object",
      "properties": {
        "structTypes": {
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "[Optional] The name of this field."
              },
              "description": {
                "type": "string",
                "description": "[Optional] Human-oriented description of the field."
              },
              "type": {
                "$ref": "QueryParameterType",
                "description": "[Required] The type of this field."
              }
            },
            "type": "object"
          },
          "description": "[Optional] The types of the fields of this struct, in order, if this is a struct."
        },
        "arrayType": {
          "$ref": "QueryParameterType",
          "description": "[Optional] The type of the array's elements, if this is an array."
        },
        "type": {
          "type": "string",
          "description": "[Required] The top level type of this field."
        }
      }
    },
    "RemoteModelInfo": {
      "type": "object",
      "properties": {
        "maxBatchingRows": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Max number of rows in each batch sent to the remote service. If unset, the number of rows in each batch is set dynamically.",
          "readOnly": true
        },
        "endpoint": {
          "description": "Output only. The endpoint for remote model.",
          "type": "string",
          "readOnly": true
        },
        "remoteModelVersion": {
          "description": "Output only. The model version for LLM.",
          "readOnly": true,
          "type": "string"
        },
        "connection": {
          "description": "Output only. Fully qualified name of the user-provided connection object of the remote model. Format: ```\"projects/{project_id}/locations/{location_id}/connections/{connection_id}\"```",
          "type": "string",
          "readOnly": true
        },
        "remoteServiceType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified remote service type.",
            "V3 Cloud AI Translation API. See more details at [Cloud Translation API] (https://cloud.google.com/translate/docs/reference/rest).",
            "V1 Cloud AI Vision API See more details at [Cloud Vision API] (https://cloud.google.com/vision/docs/reference/rest).",
            "V1 Cloud AI Natural Language API. See more details at [REST Resource: documents](https://cloud.google.com/natural-language/docs/reference/rest/v1/documents)."
          ],
          "type": "string",
          "description": "Output only. The remote service type for remote model.",
          "enum": [
            "REMOTE_SERVICE_TYPE_UNSPECIFIED",
            "CLOUD_AI_TRANSLATE_V3",
            "CLOUD_AI_VISION_V1",
            "CLOUD_AI_NATURAL_LANGUAGE_V1"
          ]
        }
      },
      "id": "RemoteModelInfo",
      "description": "Remote Model Info"
    },
    "IterationResult": {
      "properties": {
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "format": "double",
          "type": "number"
        },
        "durationMs": {
          "format": "int64",
          "type": "string",
          "description": "Time taken to run the iteration in milliseconds."
        },
        "learnRate": {
          "type": "number",
          "format": "double",
          "description": "Learn rate used for this iteration."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the iteration, 0 based."
        },
        "trainingLoss": {
          "description": "Loss computed on the training data at the end of iteration.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "IterationResult"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "EncryptionConfiguration": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key."
        }
      },
      "id": "EncryptionConfiguration"
    },
    "TableRow": {
      "properties": {
        "f": {
          "items": {
            "$ref": "TableCell"
          },
          "description": "Represents a single row in the result set, consisting of one or more fields.",
          "type": "array"
        }
      },
      "id": "TableRow",
      "type": "object"
    },
    "Streamingbuffer": {
      "type": "object",
      "id": "Streamingbuffer",
      "properties": {
        "estimatedRows": {
          "type": "string",
          "description": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer.",
          "format": "uint64"
        },
        "estimatedBytes": {
          "format": "uint64",
          "description": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.",
          "type": "string"
        },
        "oldestEntryTime": {
          "format": "uint64",
          "description": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.",
          "type": "string"
        }
      }
    },
    "IntHparamSearchSpace": {
      "description": "Search space for an int hyperparameter.",
      "id": "IntHparamSearchSpace",
      "type": "object",
      "properties": {
        "range": {
          "description": "Range of the int hyperparameter.",
          "$ref": "IntRange"
        },
        "candidates": {
          "$ref": "IntCandidates",
          "description": "Candidates of the int hyperparameter."
        }
      }
    },
    "ArimaModelInfo": {
      "type": "object",
      "description": "Arima model information.",
      "id": "ArimaModelInfo",
      "properties": {
        "timeSeriesId": {
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used.",
          "type": "string"
        },
        "seasonalPeriods": {
          "items": {
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          },
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array"
        },
        "timeSeriesIds": {
          "items": {
            "type": "string"
          },
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns.",
          "type": "array"
        },
        "arimaCoefficients": {
          "$ref": "ArimaCoefficients",
          "description": "Arima coefficients."
        },
        "hasSpikesAndDips": {
          "description": "If true, spikes_and_dips is a part of time series decomposition result.",
          "type": "boolean"
        },
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "hasStepChanges": {
          "type": "boolean",
          "description": "If true, step_changes is a part of time series decomposition result."
        },
        "hasHolidayEffect": {
          "type": "boolean",
          "description": "If true, holiday_effect is a part of time series decomposition result."
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "hasDrift": {
          "type": "boolean",
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1."
        }
      }
    },
    "TransformColumn": {
      "description": "Information about a single transform column.",
      "id": "TransformColumn",
      "properties": {
        "type": {
          "description": "Output only. Data type of the column after the transform.",
          "$ref": "StandardSqlDataType",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the column.",
          "readOnly": true
        },
        "transformSql": {
          "description": "Output only. The SQL expression used in the column transform.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AggregateClassificationMetrics": {
      "id": "AggregateClassificationMetrics",
[...]
