{
  "protocol": "rest",
  "version": "v2",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "basePath": "/bigquery/v2/",
  "discoveryVersion": "v1",
  "revision": "20221217",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "schemas": {
    "StringHparamSearchSpace": {
      "type": "object",
      "description": "Search space for string and enum.",
      "properties": {
        "candidates": {
          "description": "Canididates for the string or enum parameter in lower case.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "StringHparamSearchSpace"
    },
    "MultiClassClassificationMetrics": {
      "description": "Evaluation metrics for multi-class classification/classifier models.",
      "id": "MultiClassClassificationMetrics",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "confusionMatrixList": {
          "items": {
            "$ref": "ConfusionMatrix"
          },
          "description": "Confusion matrix at different thresholds.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "QueryTimelineSample": {
      "properties": {
        "estimatedRunnableUnits": {
          "description": "Units of work that can be scheduled immediately. Providing additional slots for these units of work will speed up the query, provided no other query in the reservation needs additional slots.",
          "format": "int64",
          "type": "string"
        },
        "completedUnits": {
          "format": "int64",
          "type": "string",
          "description": "Total parallel units of work completed by this query."
        },
        "totalSlotMs": {
          "format": "int64",
          "description": "Cumulative slot-ms consumed by the query.",
          "type": "string"
        },
        "pendingUnits": {
          "format": "int64",
          "description": "Total units of work remaining for the query. This number can be revised (increased or decreased) while the query is running.",
          "type": "string"
        },
        "activeUnits": {
          "format": "int64",
          "description": "Total number of units currently being processed by workers. This does not correspond directly to slot usage. This is the largest value observed since the last sample.",
          "type": "string"
        },
        "elapsedMs": {
          "description": "Milliseconds elapsed since the start of query execution.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryTimelineSample"
    },
    "JobStatistics4": {
      "id": "JobStatistics4",
      "type": "object",
      "properties": {
        "inputBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of user bytes extracted into the result. This is the byte count as computed by BigQuery for billing purposes."
        },
        "destinationUriFileCounts": {
          "description": "[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the 'destinationUris' field.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "lastModifiedTime": {
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "tags": {
          "description": "[Optional]The tags associated with this dataset. Tag keys are globally unique.",
          "items": {
            "properties": {
              "tagKey": {
                "description": "[Required] The namespaced friendly name of the tag key, e.g. \"12345/environment\" where 12345 is org id.",
                "type": "string"
              },
              "tagValue": {
                "type": "string",
                "description": "[Required] Friendly short name of the tag value, e.g. \"production\"."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "satisfiesPzs": {
          "description": "[Output-only] Reserved for future use.",
          "type": "boolean"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch."
        },
        "labels": {
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultTableExpirationMs": {
          "format": "int64",
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "type": "string"
        },
        "isCaseInsensitive": {
          "description": "[Optional] Indicates if table names are case insensitive in the dataset.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the resource."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "type": "string"
        },
        "defaultPartitionExpirationMs": {
          "format": "int64",
          "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property.",
          "type": "string"
        },
        "defaultCollation": {
          "description": "[Output-only] The default collation of the dataset.",
          "type": "string"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for the dataset.",
          "type": "string"
        },
        "datasetReference": {
          "description": "[Required] A reference that identifies the dataset.",
          "$ref": "DatasetReference"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field."
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of the dataset."
        },
        "kind": {
          "default": "bigquery#dataset",
          "type": "string",
          "description": "[Output-only] The resource type."
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        },
        "access": {
          "type": "array",
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "items": {
            "type": "object",
            "properties": {
              "groupByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\"."
              },
              "dataset": {
                "$ref": "DatasetAccessEntry",
                "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation."
              },
              "role": {
                "type": "string",
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\"."
              },
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group.",
                "type": "string"
              },
              "specialGroup": {
                "type": "string",
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members."
              },
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "userByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\"."
              },
              "view": {
                "$ref": "TableReference",
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation."
              },
              "routine": {
                "$ref": "RoutineReference",
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation."
              }
            }
          }
        },
        "storageBillingModel": {
          "type": "string",
          "description": "[Optional] Storage billing model to be used for all tables in the dataset. Can be set to PHYSICAL. Default is LOGICAL."
        },
        "maxTimeTravelHours": {
          "type": "string",
          "description": "[Optional] Number of hours for the max time travel for all tables in the dataset.",
          "format": "int64"
        }
      },
      "id": "Dataset"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "ProjectList": {
      "properties": {
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of projects in the list."
        },
        "projects": {
          "type": "array",
          "items": {
            "properties": {
              "kind": {
                "default": "bigquery#project",
                "description": "The resource type.",
                "type": "string"
              },
              "numericId": {
                "type": "string",
                "description": "The numeric ID of this project.",
                "format": "uint64"
              },
              "id": {
                "description": "An opaque ID of this project.",
                "type": "string"
              },
              "projectReference": {
                "description": "A unique reference to this project.",
                "$ref": "ProjectReference"
              },
              "friendlyName": {
                "type": "string",
                "description": "A descriptive name for this project."
              }
            },
            "type": "object"
          },
          "description": "Projects to which you have at least READ access."
        },
        "etag": {
          "description": "A hash of the page of results",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "kind": {
          "description": "The type of list.",
          "default": "bigquery#projectList",
          "type": "string"
        }
      },
      "id": "ProjectList",
      "type": "object"
    },
    "BinaryClassificationMetrics": {
      "type": "object",
      "description": "Evaluation metrics for binary classification/classifier models.",
      "id": "BinaryClassificationMetrics",
      "properties": {
        "positiveLabel": {
          "type": "string",
          "description": "Label representing the positive class."
        },
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        },
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          },
          "type": "array"
        }
      }
    },
    "RoutineReference": {
      "id": "RoutineReference",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this routine."
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this routine.",
          "type": "string"
        },
        "routineId": {
          "type": "string",
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        }
      }
    },
    "ConfusionMatrix": {
      "id": "ConfusionMatrix",
      "description": "Confusion matrix for multi-class classification models.",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "One row per actual label."
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "double",
          "description": "Confidence threshold used when computing the entries of the confusion matrix."
        }
      },
      "type": "object"
    },
    "ProjectReference": {
      "id": "ProjectReference",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project."
        }
      },
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "BqmlIterationResult": {
      "id": "BqmlIterationResult",
      "type": "object",
      "properties": {
        "evalLoss": {
          "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows.",
          "type": "number",
          "format": "double"
        },
        "trainingLoss": {
          "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type.",
          "type": "number",
          "format": "double"
        },
        "durationMs": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds."
        },
        "index": {
          "format": "int32",
          "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
          "type": "integer"
        },
        "learnRate": {
          "type": "number",
          "format": "double",
          "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant."
        }
      }
    },
    "Table": {
      "id": "Table",
      "properties": {
        "defaultCollation": {
          "description": "[Output-only] The default collation of the table.",
          "type": "string"
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch."
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "num_active_logical_bytes": {
          "description": "[Output-only] Number of logical bytes that are less than 90 days old.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE."
        },
        "num_total_logical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Total number of logical bytes in the table or materialized view."
        },
        "num_time_travel_physical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of physical bytes used by time travel storage (deleted or changed data). This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] Describes the schema of this table."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "numPhysicalBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel."
        },
        "expirationTime": {
          "format": "int64",
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables.",
          "type": "string"
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "requirePartitionFilter": {
          "default": "false",
          "type": "boolean",
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified."
        },
        "numBytes": {
          "format": "int64",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.",
          "type": "string"
        },
        "numRows": {
          "type": "string",
          "format": "uint64",
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer."
        },
        "num_partitions": {
          "description": "[Output-only] The number of partitions present in the table or materialized view. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64",
          "type": "string"
        },
        "model": {
          "$ref": "ModelDefinition",
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries."
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change."
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for this table."
        },
        "num_long_term_physical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of physical bytes more than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "cloneDefinition": {
          "$ref": "CloneDefinition",
          "description": "[Output-only] Clone definition."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#table"
        },
        "tableReference": {
          "description": "[Required] Reference describing the ID of this table.",
          "$ref": "TableReference"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] An opaque ID uniquely identifying the table."
        },
        "lastModifiedTime": {
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch.",
          "format": "uint64",
          "type": "string"
        },
        "description": {
          "description": "[Optional] A user-friendly description of this table.",
          "type": "string"
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "numLongTermBytes": {
          "type": "string",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\".",
          "format": "int64"
        },
        "snapshotDefinition": {
          "description": "[Output-only] Snapshot definition.",
          "$ref": "SnapshotDefinition"
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "num_active_physical_bytes": {
          "description": "[Output-only] Number of physical bytes less than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64",
          "type": "string"
        },
        "externalDataConfiguration": {
          "$ref": "ExternalDataConfiguration",
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "maxStaleness": {
          "type": "string",
          "description": "[Optional] Max staleness of data that could be returned when table or materialized view is queried (formatted as Google SQL Interval type).",
          "format": "byte"
        },
        "num_long_term_logical_bytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of logical bytes that are more than 90 days old."
        },
        "streamingBuffer": {
          "$ref": "Streamingbuffer",
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer."
        },
        "location": {
          "type": "string",
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset."
        },
        "num_total_physical_bytes": {
          "format": "int64",
          "description": "[Output-only] The physical size of this table in bytes. This also includes storage used for time travel. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetQueryResultsResponse": {
      "id": "GetQueryResultsResponse",
      "type": "object",
      "properties": {
        "totalBytesProcessed": {
          "format": "int64",
          "type": "string",
          "description": "The total number of bytes processed for this query."
        },
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results."
        },
        "jobComplete": {
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.",
          "type": "boolean"
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether the query result was fetched from the query cache."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "schema": {
          "description": "The schema of the results. Present only when the query completes successfully.",
          "$ref": "TableSchema"
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
          "type": "string",
          "format": "uint64"
        },
        "etag": {
          "description": "A hash of this response.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The resource type of the response.",
          "default": "bigquery#getQueryResultsResponse"
        },
        "rows": {
          "items": {
            "$ref": "TableRow"
          },
          "type": "array",
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully."
        },
        "numDmlAffectedRows": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
        }
      }
    },
    "Job": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        },
        "kind": {
          "default": "bigquery#job",
          "description": "[Output-only] The type of the resource.",
          "type": "string"
        },
        "configuration": {
          "description": "[Required] Describes the job configuration.",
          "$ref": "JobConfiguration"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] Opaque ID field of the job"
        },
        "statistics": {
          "$ref": "JobStatistics",
          "description": "[Output-only] Information about the job, including starting time and ending time of the job."
        },
        "user_email": {
          "type": "string",
          "description": "[Output-only] Email address of the user who ran the job."
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access this resource again."
        },
        "status": {
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.",
          "$ref": "JobStatus"
        }
      },
      "type": "object",
      "id": "Job"
    },
    "GoogleSheetsOptions": {
      "id": "GoogleSheetsOptions",
      "properties": {
        "range": {
          "description": "[Optional] Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20",
          "type": "string"
        },
        "skipLeadingRows": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema."
        }
      },
      "type": "object"
    },
    "IntArrayHparamSearchSpace": {
      "properties": {
        "candidates": {
          "description": "Candidates for the int array parameter.",
          "items": {
            "$ref": "IntArray"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Search space for int array.",
      "id": "IntArrayHparamSearchSpace"
    },
    "ClusteringMetrics": {
      "properties": {
        "clusters": {
          "type": "array",
          "description": "Information for all clusters.",
          "items": {
            "$ref": "Cluster"
          }
        },
        "daviesBouldinIndex": {
          "type": "number",
          "format": "double",
          "description": "Davies-Bouldin index."
        },
        "meanSquaredDistance": {
          "type": "number",
          "format": "double",
          "description": "Mean of squared distances between each sample to its cluster centroid."
        }
      },
      "type": "object",
      "description": "Evaluation metrics for clustering models.",
      "id": "ClusteringMetrics"
    },
    "ListRoutinesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "routines": {
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, language, and remote_function_options.",
          "type": "array",
          "items": {
            "$ref": "Routine"
          }
        }
      },
      "type": "object",
      "id": "ListRoutinesResponse"
    },
    "HparamSearchSpaces": {
      "properties": {
        "minTreeChildWeight": {
          "description": "Minimum sum of instance weight needed in a child for boosted tree models.",
          "$ref": "IntHparamSearchSpace"
        },
        "l1Reg": {
          "description": "L1 regularization coefficient.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "numClusters": {
          "description": "Number of clusters for k-means.",
          "$ref": "IntHparamSearchSpace"
        },
        "dartNormalizeType": {
          "description": "Dart normalization type for boosted tree models.",
          "$ref": "StringHparamSearchSpace"
        },
        "numFactors": {
          "$ref": "IntHparamSearchSpace",
          "description": "Number of latent factors to train on."
        },
        "batchSize": {
          "$ref": "IntHparamSearchSpace",
          "description": "Mini batch sample size."
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "maxTreeDepth": {
          "$ref": "IntHparamSearchSpace",
          "description": "Maximum depth of a tree for boosted tree models."
        },
        "hiddenUnits": {
          "description": "Hidden units for neural network models.",
          "$ref": "IntArrayHparamSearchSpace"
        },
        "colsampleBynode": {
          "$ref": "DoubleHparamSearchSpace",
          "description": "Subsample ratio of columns for each node(split) for boosted tree models."
        },
        "treeMethod": {
          "description": "Tree construction algorithm for boosted tree models.",
          "$ref": "StringHparamSearchSpace"
        },
        "learnRate": {
          "$ref": "DoubleHparamSearchSpace",
          "description": "Learning rate of training jobs."
        },
        "walsAlpha": {
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "activationFn": {
          "description": "Activation functions of neural network models.",
          "$ref": "StringHparamSearchSpace"
        },
        "l2Reg": {
          "$ref": "DoubleHparamSearchSpace",
          "description": "L2 regularization coefficient."
        },
        "dropout": {
          "description": "Dropout probability for dnn model training and boosted tree models using dart booster.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "colsampleBytree": {
          "$ref": "DoubleHparamSearchSpace",
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models."
        },
        "subsample": {
          "description": "Subsample the training data to grow tree to prevent overfitting for boosted tree models.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "boosterType": {
          "$ref": "StringHparamSearchSpace",
          "description": "Booster type for boosted tree models."
        },
        "optimizer": {
          "description": "Optimizer of TF models.",
          "$ref": "StringHparamSearchSpace"
        },
        "colsampleBylevel": {
          "description": "Subsample ratio of columns for each level for boosted tree models.",
          "$ref": "DoubleHparamSearchSpace"
        },
        "numParallelTree": {
          "$ref": "IntHparamSearchSpace",
          "description": "Number of parallel trees for boosted tree models."
        }
      },
      "type": "object",
      "id": "HparamSearchSpaces",
      "description": "Hyperparameter search spaces. These should be a subset of training_options."
    },
    "QueryParameterValue": {
      "id": "QueryParameterValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "[Optional] The value of this value, if a simple scalar type."
        },
        "structValues": {
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          },
          "description": "[Optional] The struct field values, in order of the struct type's declaration.",
          "type": "object"
        },
        "arrayValues": {
          "type": "array",
          "items": {
            "$ref": "QueryParameterValue"
          },
          "description": "[Optional] The array values, if this is an array type."
        }
      },
      "type": "object"
    },
    "ListRowAccessPoliciesResponse": {
      "properties": {
        "rowAccessPolicies": {
          "type": "array",
          "items": {
            "$ref": "RowAccessPolicy"
          },
          "description": "Row access policies on the requested table."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      },
      "description": "Response message for the ListRowAccessPolicies method.",
      "id": "ListRowAccessPoliciesResponse",
      "type": "object"
    },
    "TableRow": {
      "type": "object",
      "properties": {
        "f": {
          "type": "array",
          "description": "Represents a single row in the result set, consisting of one or more fields.",
          "items": {
            "$ref": "TableCell"
          }
        }
      },
      "id": "TableRow"
    },
    "UserDefinedFunctionResource": {
      "type": "object",
      "id": "UserDefinedFunctionResource",
      "properties": {
        "inlineCode": {
          "description": "[Pick one] An inline resource that contains code for a user-defined function (UDF). Providing a inline code resource is equivalent to providing a URI for a file containing the same code.",
          "type": "string"
        },
        "resourceUri": {
          "description": "[Pick one] A code resource to load from a Google Cloud Storage URI (gs://bucket/path).",
          "type": "string"
        }
      },
      "description": "This is used for defining User Defined Function (UDF) resources only when using legacy SQL. Users of Standard SQL should leverage either DDL (e.g. CREATE [TEMPORARY] FUNCTION ... ) or the Routines API to define UDF resources. For additional information on migrating, see: https://cloud.google.com/bigquery/docs/reference/standard-sql/migrating-from-legacy-sql#differences_in_user-defined_javascript_functions"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "TableDataList": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing."
        },
        "kind": {
          "type": "string",
          "description": "The resource type of the response.",
          "default": "bigquery#tableDataList"
        },
        "rows": {
          "description": "Rows of results.",
          "items": {
            "$ref": "TableRow"
          },
          "type": "array"
        },
        "totalRows": {
          "type": "string",
          "description": "The total number of rows in the complete table.",
          "format": "int64"
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        }
      },
      "id": "TableDataList",
      "type": "object"
    },
    "TableReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "[Required] The ID of the project containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        },
        "tableId": {
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        },
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string"
        }
      },
      "id": "TableReference"
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        },
        "kind": {
          "type": "string",
          "description": "The resource type of the response.",
          "default": "bigquery#jobCancelResponse"
        }
      },
      "type": "object"
    },
    "BigtableOptions": {
      "properties": {
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
          "type": "boolean"
        },
        "columnFamilies": {
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "items": {
            "$ref": "BigtableColumnFamily"
          },
          "type": "array"
        },
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        }
      },
      "id": "BigtableOptions",
      "type": "object"
    },
    "CsvOptions": {
      "properties": {
        "preserveAsciiControlCharacters": {
          "description": "[Optional] Preserves the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') when loading from CSV. Only applicable to CSV, ignored for other formats.",
          "type": "boolean"
        },
        "quote": {
          "pattern": ".?",
          "default": "\"",
          "type": "string",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true."
        },
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',').",
          "type": "string"
        },
        "allowJaggedRows": {
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.",
          "type": "boolean"
        },
        "null_marker": {
          "type": "string",
          "description": "[Optional] An custom string that will represent a NULL value in CSV import data."
        },
        "allowQuotedNewlines": {
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        },
        "skipLeadingRows": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema."
        }
      },
      "id": "CsvOptions",
      "type": "object"
    },
    "BqmlTrainingRun": {
      "properties": {
        "iterationResults": {
          "type": "array",
          "description": "[Output-only, Beta] List of each iteration results.",
          "items": {
            "$ref": "BqmlIterationResult"
          }
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "description": "[Output-only, Beta] Training run start time in milliseconds since the epoch."
        },
        "state": {
          "type": "string",
          "description": "[Output-only, Beta] Different state applicable for a training run. IN PROGRESS: Training run is in progress. FAILED: Training run ended due to a non-retryable failure. SUCCEEDED: Training run successfully completed. CANCELLED: Training run cancelled by the user."
        },
        "trainingOptions": {
          "type": "object",
          "description": "[Output-only, Beta] Training options used by this training run. These options are mutable for subsequent training runs. Default values are explicitly stored for options not specified in the input query of the first training run. For subsequent training runs, any option not explicitly specified in the input query will be copied from the previous training run.",
          "properties": {
            "lineSearchInitLearnRate": {
              "type": "number",
              "format": "double"
            },
            "minRelProgress": {
              "format": "double",
              "type": "number"
            },
            "learnRate": {
              "format": "double",
              "type": "number"
            },
            "earlyStop": {
              "type": "boolean"
            },
            "learnRateStrategy": {
              "type": "string"
            },
            "warmStart": {
              "type": "boolean"
            },
            "l1Reg": {
              "type": "number",
              "format": "double"
            },
            "maxIteration": {
              "format": "int64",
              "type": "string"
            },
            "l2Reg": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
      "type": "object",
      "id": "BqmlTrainingRun"
    },
    "ArimaFittingMetrics": {
      "id": "ArimaFittingMetrics",
      "properties": {
        "logLikelihood": {
          "description": "Log-likelihood.",
          "format": "double",
          "type": "number"
        },
        "variance": {
          "type": "number",
          "description": "Variance.",
          "format": "double"
        },
        "aic": {
          "description": "AIC.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "ARIMA model fitting metrics."
    },
    "JobReference": {
      "type": "object",
      "id": "JobReference",
      "properties": {
        "location": {
          "type": "string",
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "jobId": {
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "description": "[Required] The ID of the project containing this job."
        }
      }
    },
    "MlStatistics": {
      "type": "object",
      "id": "MlStatistics",
      "properties": {
        "iterationResults": {
          "description": "Results for all completed iterations.",
          "items": {
            "$ref": "IterationResult"
          },
          "type": "array"
        },
        "maxIterations": {
          "description": "Maximum number of iterations specified as max_iterations in the 'CREATE MODEL' query. The actual number of iterations may be less than this number due to early stop.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RemoteFunctionOptions": {
      "id": "RemoteFunctionOptions",
      "type": "object",
      "properties": {
        "maxBatchingRows": {
          "description": "Max number of rows in each batch sent to the remote service. If absent or if 0, BigQuery dynamically decides the number of rows in a batch.",
          "type": "string",
          "format": "int64"
        },
        "endpoint": {
          "description": "Endpoint of the user-provided remote service, e.g. ```https://us-east1-my_gcf_project.cloudfunctions.net/remote_add```",
          "type": "string"
        },
        "userDefinedContext": {
          "description": "User-defined context as a set of key/value pairs, which will be sent as function invocation context together with batched arguments in the requests to the remote service. The total number of bytes of keys and values must be less than 8KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connection": {
          "type": "string",
          "description": "Fully qualified name of the user-provided connection object which holds the authentication information to send requests to the remote service. Format: ```\"projects/{projectId}/locations/{locationId}/connections/{connectionId}\"```"
        }
      },
      "description": "Options for a remote user-defined function."
    },
    "ArimaForecastingMetrics": {
      "id": "ArimaForecastingMetrics",
      "properties": {
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "items": {
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          },
          "type": "array"
        },
        "arimaFittingMetrics": {
          "items": {
            "$ref": "ArimaFittingMetrics"
          },
          "type": "array",
          "description": "Arima model fitting metrics."
        },
        "nonSeasonalOrder": {
          "items": {
            "$ref": "ArimaOrder"
          },
          "description": "Non-seasonal order.",
          "type": "array"
        },
        "timeSeriesId": {
          "description": "Id to differentiate different time series for the large-scale case.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "arimaSingleModelForecastingMetrics": {
          "items": {
            "$ref": "ArimaSingleModelForecastingMetrics"
          },
          "type": "array",
          "description": "Repeated as there can be many metric sets (one for each model) in auto-arima and the large-scale case."
        },
        "hasDrift": {
          "type": "array",
          "items": {
            "type": "boolean"
          },
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1."
        }
      },
      "description": "Model evaluation metrics for ARIMA forecasting models.",
      "type": "object"
    },
    "ExplainQueryStep": {
      "id": "ExplainQueryStep",
      "properties": {
        "substeps": {
          "type": "array",
          "description": "Human-readable stage descriptions.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Machine-readable operation type."
        }
      },
      "type": "object"
    },
    "SearchStatistics": {
      "properties": {
        "indexUnusedReason": {
          "items": {
            "$ref": "IndexUnusedReason"
          },
          "type": "array",
          "description": "When index_usage_mode is UNUSED or PARTIALLY_USED, this field explains why index was not used in all or part of the search query. If index_usage_mode is FULLLY_USED, this field is not populated."
        },
        "indexUsageMode": {
          "type": "string",
          "description": "Specifies index usage mode for the query."
        }
      },
      "type": "object",
      "id": "SearchStatistics"
    },
    "SparkOptions": {
      "description": "Options for a user-defined Spark routine.",
      "type": "object",
      "properties": {
        "runtimeVersion": {
          "type": "string",
          "description": "Runtime version. If not specified, the default runtime version is used."
        },
        "containerImage": {
          "type": "string",
          "description": "Custom container image for the runtime environment."
        },
        "connection": {
          "description": "Fully qualified name of the user-provided Spark connection object. Format: ```\"projects/{project_id}/locations/{location_id}/connections/{connection_id}\"```",
          "type": "string"
        },
        "mainFileUri": {
          "description": "The main file/jar URI of the Spark application. Exactly one of the definition_body field and the main_file_uri field must be set for Python. Exactly one of main_class and main_file_uri field should be set for Java/Scala language type.",
          "type": "string"
        },
        "jarUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "JARs to include on the driver and executor CLASSPATH. For more information about Apache Spark, see [Apache Spark](https://spark.apache.org/docs/latest/index.html)."
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Files to be placed in the working directory of each executor. For more information about Apache Spark, see [Apache Spark](https://spark.apache.org/docs/latest/index.html)."
        },
        "properties": {
          "description": "Configuration properties as a set of key/value pairs, which will be passed on to the Spark application. For more information, see [Apache Spark](https://spark.apache.org/docs/latest/index.html).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pyFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Python files to be placed on the PYTHONPATH for PySpark application. Supported file types: `.py`, `.egg`, and `.zip`. For more information about Apache Spark, see [Apache Spark](https://spark.apache.org/docs/latest/index.html)."
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Archive files to be extracted into the working directory of each executor. For more information about Apache Spark, see [Apache Spark](https://spark.apache.org/docs/latest/index.html).",
          "type": "array"
        }
      },
      "id": "SparkOptions"
    },
    "QueryRequest": {
      "properties": {
        "timeoutMs": {
          "type": "integer",
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32"
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "default": "true",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "The resource type of the request.",
          "default": "bigquery#queryRequest"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'."
        },
        "location": {
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "maximumBytesBilled": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default."
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false."
        },
        "requestId": {
          "type": "string",
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed."
        },
        "createSession": {
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode.",
          "type": "boolean"
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "default": "true",
          "type": "boolean"
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "query": {
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          },
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "queryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array",
          "description": "Query parameters for Standard SQL queries."
        },
        "maxResults": {
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "type": "integer",
          "format": "uint32"
        },
        "connectionProperties": {
          "type": "array",
          "description": "Connection properties.",
          "items": {
            "$ref": "ConnectionProperty"
          }
        }
      },
      "type": "object",
      "id": "QueryRequest"
    },
    "DoubleCandidates": {
      "type": "object",
      "description": "Discrete candidates of a double hyperparameter.",
      "id": "DoubleCandidates",
      "properties": {
        "candidates": {
          "description": "Candidates for the double parameter in increasing order.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      }
    },
    "ArimaResult": {
      "id": "ArimaResult",
      "type": "object",
      "properties": {
        "arimaModelInfo": {
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          },
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one."
        },
        "seasonalPeriods": {
          "items": {
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          },
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array"
        }
      },
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results."
    },
    "Clustering": {
      "properties": {
        "fields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Repeated] One or more fields on which data should be clustered. Only top-level, non-repeated, simple-type fields are supported. When you cluster a table using multiple columns, the order of columns you specify is important. The order of the specified columns determines the sort order of the data."
        }
      },
      "id": "Clustering",
      "type": "object"
    },
    "BiEngineStatistics": {
      "properties": {
        "biEngineMode": {
          "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
          "default": "",
          "type": "string"
        },
        "biEngineReasons": {
          "type": "array",
          "description": "In case of DISABLED or PARTIAL bi_engine_mode, these contain the explanatory reasons as to why BI Engine could not accelerate. In case the full query was accelerated, this field is not populated.",
          "items": {
            "$ref": "BiEngineReason"
          }
        }
      },
      "type": "object",
      "id": "BiEngineStatistics"
    },
    "AggregateClassificationMetrics": {
      "id": "AggregateClassificationMetrics",
      "properties": {
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "format": "double",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "format": "double",
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric."
        },
        "f1Score": {
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "rocAuc": {
          "format": "double",
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric.",
          "type": "number"
        },
        "precision": {
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "format": "double",
          "type": "number"
        },
        "accuracy": {
          "format": "double",
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "type": "number"
        },
        "logLoss": {
          "format": "double",
          "type": "number",
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric."
        }
      },
      "description": "Aggregate metrics for classification/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows.",
      "type": "object"
    },
    "JobConfigurationQuery": {
      "properties": {
        "userDefinedFunctionResources": {
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "description": "Describes user-defined function resources used in the query.",
          "type": "array"
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names.",
          "$ref": "DatasetReference"
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "queryParameters": {
          "type": "array",
          "description": "Query parameters for standard SQL queries.",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "query": {
          "type": "string",
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL."
        },
        "createSession": {
          "type": "boolean",
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "tableDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          },
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "schemaUpdateOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable."
        },
        "destinationTable": {
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size.",
          "$ref": "TableReference"
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64",
          "type": "string"
        },
        "useQueryCache": {
          "default": "true",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
          "type": "boolean"
        },
        "useLegacySql": {
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "default": "true"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "flattenResults": {
          "type": "boolean",
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "default": "true"
        },
        "allowLargeResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "type": "boolean",
          "default": "false"
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "maximumBillingTier": {
          "default": "1",
          "format": "int32",
          "type": "integer",
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default."
        },
        "connectionProperties": {
          "description": "Connection properties.",
          "items": {
            "$ref": "ConnectionProperty"
          },
          "type": "array"
        },
        "priority": {
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.",
          "type": "string"
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        }
      },
      "id": "JobConfigurationQuery",
      "type": "object"
    },
    "JsonObject": {
      "id": "JsonObject",
      "type": "object",
      "description": "Represents a single JSON object.",
      "additionalProperties": {
        "$ref": "JsonValue"
      }
    },
    "IntArray": {
      "description": "An array of int.",
      "id": "IntArray",
      "type": "object",
      "properties": {
        "elements": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Elements in the int array.",
          "type": "array"
        }
      }
    },
    "JobStatus": {
      "properties": {
        "state": {
          "description": "[Output-only] Running state of the job.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "items": {
            "$ref": "ErrorProto"
          }
        },
        "errorResult": {
          "$ref": "ErrorProto",
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful."
        }
      },
      "id": "JobStatus",
      "type": "object"
    },
    "LocationMetadata": {
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "type": "object",
      "properties": {
        "legacyLocationId": {
          "type": "string",
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations."
        }
      },
      "id": "LocationMetadata"
    },
    "ModelDefinition": {
      "type": "object",
      "id": "ModelDefinition",
      "properties": {
        "modelOptions": {
          "description": "[Output-only, Beta] Model options used for the first training run. These options are immutable for subsequent training runs. Default values are used for any options not specified in the input query.",
          "properties": {
            "labels": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "lossType": {
              "type": "string"
            },
            "modelType": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "trainingRuns": {
          "items": {
            "$ref": "BqmlTrainingRun"
          },
          "type": "array",
          "description": "[Output-only, Beta] Information about ml training runs, each training run comprises of multiple iterations and there may be multiple training runs for the model if warm start is used or if a user decides to continue a previously cancelled query."
        }
      }
    },
    "ConnectionProperty": {
      "id": "ConnectionProperty",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "[Required] Name of the connection property to set."
        },
        "value": {
          "description": "[Required] Value of the connection property.",
          "type": "string"
        }
      }
    },
    "RegressionMetrics": {
      "type": "object",
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models.",
      "properties": {
        "rSquared": {
          "type": "number",
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE.",
          "format": "double"
        },
        "meanSquaredError": {
          "format": "double",
          "description": "Mean squared error.",
          "type": "number"
        },
        "meanSquaredLogError": {
          "format": "double",
          "description": "Mean squared log error.",
          "type": "number"
        },
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "type": "number",
          "format": "double"
        },
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "RegressionMetrics"
    },
    "ViewDefinition": {
      "id": "ViewDefinition",
      "properties": {
        "useExplicitColumnNames": {
          "type": "boolean",
          "description": "True if the column names are explicitly specified. For example by using the 'CREATE VIEW v(c1, c2) AS ...' syntax. Can only be set using BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/"
        },
        "useLegacySql": {
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value."
        },
        "query": {
          "type": "string",
          "description": "[Required] A query that BigQuery executes when the view is referenced."
        },
        "userDefinedFunctionResources": {
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "description": "Describes user-defined function resources used in the query."
        }
      },
      "type": "object"
    },
    "EncryptionConfiguration": {
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EncryptionConfiguration"
    },
    "RangePartitioning": {
      "id": "RangePartitioning",
      "properties": {
        "range": {
          "properties": {
            "end": {
              "description": "[TrustedTester] [Required] The end of range partitioning, exclusive.",
              "format": "int64",
              "type": "string"
            },
            "start": {
              "format": "int64",
              "description": "[TrustedTester] [Required] The start of range partitioning, inclusive.",
[...]
