{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "rowAccessPolicies": {
      "methods": {
        "setIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "list": {
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "description": "Lists all row access policies on the specified table.",
          "id": "bigquery.rowAccessPolicies.list",
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "location": "query"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of row access policies to list."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the row access policies to list."
            },
            "tableId": {
              "description": "Required. Table ID of the table to list row access policies.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "required": true
            }
          },
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:getIamPolicy",
          "httpMethod": "POST"
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "path": "{+resource}:testIamPermissions"
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the destination table."
            },
            "tableId": {
              "required": true,
              "type": "string",
              "description": "Table ID of the destination table.",
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the destination table.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tabledata.insertAll",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "id": "bigquery.tabledata.list",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "response": {
            "$ref": "TableDataList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "projectId": {
              "required": true,
              "description": "Project ID of the table to read",
              "location": "path",
              "type": "string"
            },
            "startIndex": {
              "location": "query",
              "type": "string",
              "description": "Zero-based index of the starting row to read",
              "format": "uint64"
            },
            "tableId": {
              "type": "string",
              "required": true,
              "description": "Table ID of the table to read",
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "datasets": {
      "methods": {
        "get": {
          "description": "Returns the dataset specified by datasetID.",
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the requested dataset",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "required": true,
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.datasets.get",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "response": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PUT",
          "id": "bigquery.datasets.update",
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the dataset being updated"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "DatasetList"
          },
          "httpMethod": "GET",
          "id": "bigquery.datasets.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "parameters": {
            "all": {
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results to return"
            },
            "projectId": {
              "description": "Project ID of the datasets to be listed",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query"
            }
          },
          "path": "projects/{projectId}/datasets",
          "parameterOrder": [
            "projectId"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the new dataset",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a new empty dataset."
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of dataset being deleted",
              "location": "path"
            },
            "deleteContents": {
              "type": "boolean",
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being deleted",
              "type": "string",
              "required": true
            }
          }
        },
        "patch": {
          "id": "bigquery.datasets.patch",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "location": "path",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "response": {
            "$ref": "Dataset"
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "insert": {
          "path": "projects/{projectId}/jobs",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "request": {
            "$ref": "Job"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "id": "bigquery.jobs.insert",
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Job"
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "bigquery.jobs.list",
          "response": {
            "$ref": "JobList"
          },
          "path": "projects/{projectId}/jobs",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "maxCreationTime": {
              "format": "uint64",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "location": "query",
              "type": "string"
            },
            "stateFilter": {
              "description": "Filter for job state",
              "repeated": true,
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "type": "string",
              "location": "query"
            },
            "projection": {
              "location": "query",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "enum": [
                "full",
                "minimal"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "type": "string"
            },
            "allUsers": {
              "type": "boolean",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the jobs to list",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64"
            },
            "parentJobId": {
              "type": "string",
              "location": "query",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            }
          },
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameterOrder": [
            "projectId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Job"
          },
          "id": "bigquery.jobs.get",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "[Required] Project ID of the requested job",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            },
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{projectId}/jobs/{jobId}"
        },
        "query": {
          "httpMethod": "POST",
          "path": "projects/{projectId}/queries",
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "bigquery.jobs.query",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "QueryResponse"
          },
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "request": {
            "$ref": "QueryRequest"
          },
          "parameterOrder": [
            "projectId"
          ]
        },
        "getQueryResults": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "description": "Retrieves the results of a query job.",
          "id": "bigquery.jobs.getQueryResults",
          "path": "projects/{projectId}/queries/{jobId}",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to read",
              "format": "uint32",
              "location": "query"
            },
            "jobId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the query job"
            },
            "timeoutMs": {
              "format": "uint32",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
              "type": "integer"
            },
            "startIndex": {
              "type": "string",
              "description": "Zero-based index of the starting row",
              "location": "query",
              "format": "uint64"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "[Required] Project ID of the query job"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "cancel": {
          "parameters": {
            "projectId": {
              "description": "[Required] Project ID of the job to cancel",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "[Required] Job ID of the job to cancel"
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "delete": {
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "id": "bigquery.jobs.delete",
          "parameters": {
            "location": {
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "jobId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Job ID of the job to be deleted. If this is a parent job which has child jobs, all child jobs will be deleted as well. Deletion of child jobs directly is not allowed."
            },
            "projectId": {
              "description": "Required. Project ID of the job to be deleted.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "httpMethod": "DELETE",
          "description": "Requests that a job is deleted. This call will return when the job is deleted. This method is available in limited preview.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "id": "bigquery.projects.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all projects to which you have been granted any project role.",
          "path": "projects"
        },
        "getServiceAccount": {
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID for which the service account is requested.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "id": "bigquery.projects.getServiceAccount",
          "path": "projects/{projectId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "tables": {
      "methods": {
        "getIamPolicy": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "id": "bigquery.tables.getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "{+resource}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Policy"
          }
        },
        "update": {
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tables.update",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PUT",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameters": {
            "projectId": {
              "description": "Project ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the table to update"
            },
            "tableId": {
              "type": "string",
              "description": "Table ID of the table to update",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "id": "bigquery.tables.patch",
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the table to update",
              "location": "path"
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "description": "Table ID of the table to update",
              "required": true
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the table to update",
              "location": "path"
            }
          }
        },
        "insert": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "POST",
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the new table",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the new table",
              "type": "string",
              "required": true
            }
          },
          "description": "Creates a new, empty table in the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.insert",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          }
        },
        "list": {
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "TableList"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the tables to list",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            },
            "datasetId": {
              "description": "Dataset ID of the tables to list",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "get": {
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of the requested table"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "description": "Table ID of the requested table",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "GET",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get"
        },
        "delete": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the table to delete",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to delete",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Table ID of the table to delete"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted."
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "path": "{+resource}:setIamPolicy",
          "id": "bigquery.tables.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
        },
        "testIamPermissions": {
          "id": "bigquery.tables.testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "{+resource}:testIamPermissions",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ]
        }
      }
    },
    "routines": {
      "methods": {
        "update": {
          "id": "bigquery.routines.update",
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "request": {
            "$ref": "Routine"
          },
          "httpMethod": "PUT",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the routine to update",
              "required": true
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the routine to update",
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Routine ID of the routine to update",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource."
        },
        "insert": {
          "id": "bigquery.routines.insert",
          "request": {
            "$ref": "Routine"
          },
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the new routine",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Required. Dataset ID of the new routine",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Routine"
          },
          "description": "Creates a new routine in the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines"
        },
        "get": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "response": {
            "$ref": "Routine"
          },
          "httpMethod": "GET",
          "description": "Gets the specified routine resource by routine ID.",
          "id": "bigquery.routines.get",
          "parameters": {
            "routineId": {
              "pattern": "^[^/]+$",
              "description": "Required. Routine ID of the requested routine",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Dataset ID of the requested routine"
            },
            "projectId": {
              "description": "Required. Project ID of the requested routine",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "readMask": {
              "type": "string",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "parameters": {
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the routine to delete",
              "pattern": "^[^/]+$",
              "required": true
            },
            "routineId": {
              "description": "Required. Routine ID of the routine to delete",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the routine to delete",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the routine specified by routineId from the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}"
        },
        "list": {
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the routines to list",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "filter": {
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routines to list"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "httpMethod": "GET",
          "id": "bigquery.routines.list"
        }
      }
    },
    "models": {
      "methods": {
        "get": {
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the requested model.",
              "type": "string",
              "required": true
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Model ID of the requested model."
            }
          },
          "id": "bigquery.models.get",
          "httpMethod": "GET",
          "description": "Gets the specified model resource by model ID.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Model"
          }
        },
        "patch": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to patch.",
              "required": true,
              "type": "string"
            },
            "modelId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to patch.",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the model to patch."
            }
          },
          "description": "Patch specific fields in the specified model.",
          "httpMethod": "PATCH",
          "id": "bigquery.models.patch",
          "request": {
            "$ref": "Model"
          },
          "response": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "delete": {
          "description": "Deletes the model specified by modelId from the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.models.delete",
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to delete.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "modelId": {
              "type": "string",
              "description": "Required. Model ID of the model to delete.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the model to delete.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the models to list.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Dataset ID of the models to list.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch/bigquery/v2",
  "schemas": {
    "DatasetAccessEntry": {
      "properties": {
        "dataset": {
          "$ref": "DatasetReference",
          "description": "[Required] The dataset this entry applies to."
        },
        "target_types": {
          "type": "array",
          "items": {
            "properties": {
              "targetType": {
                "description": "[Required] Which resources in the dataset this entry applies to. Currently, only views are supported, but additional target types may be added in the future. Possible values: VIEWS: This entry applies to all views in the dataset.",
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "DatasetAccessEntry"
    },
    "EvaluationMetrics": {
      "type": "object",
      "id": "EvaluationMetrics",
      "properties": {
        "regressionMetrics": {
          "description": "Populated for regression models and explicit feedback type matrix factorization models.",
          "$ref": "RegressionMetrics"
        },
        "arimaForecastingMetrics": {
          "description": "Populated for ARIMA models.",
          "$ref": "ArimaForecastingMetrics"
        },
        "multiClassClassificationMetrics": {
          "$ref": "MultiClassClassificationMetrics",
          "description": "Populated for multi-class classification/classifier models."
        },
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        },
        "clusteringMetrics": {
          "$ref": "ClusteringMetrics",
          "description": "Populated for clustering models."
        },
        "rankingMetrics": {
          "$ref": "RankingMetrics",
          "description": "Populated for implicit feedback type matrix factorization models."
        }
      },
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models."
    },
    "ArimaFittingMetrics": {
      "id": "ArimaFittingMetrics",
      "properties": {
        "variance": {
          "type": "number",
          "description": "Variance.",
          "format": "double"
        },
        "aic": {
          "description": "AIC.",
          "type": "number",
          "format": "double"
        },
        "logLikelihood": {
          "description": "Log-likelihood.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "ARIMA model fitting metrics."
    },
    "ClusteringMetrics": {
      "id": "ClusteringMetrics",
      "description": "Evaluation metrics for clustering models.",
      "type": "object",
      "properties": {
        "meanSquaredDistance": {
          "type": "number",
          "format": "double",
          "description": "Mean of squared distances between each sample to its cluster centroid."
        },
        "daviesBouldinIndex": {
          "description": "Davies-Bouldin index.",
          "format": "double",
          "type": "number"
        },
        "clusters": {
          "description": "Information for all clusters.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "DestinationTableProperties": {
      "type": "object",
      "properties": {
        "friendlyName": {
          "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "[Optional] The labels associated with this table. You can use these to organize and group your tables. This will only be used if the destination table is newly created. If the table already exists and labels are different than the current labels are provided, the job will fail."
        },
        "description": {
          "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail.",
          "type": "string"
        }
      },
      "id": "DestinationTableProperties"
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#jobCancelResponse"
        }
      },
      "type": "object"
    },
    "ListRoutinesResponse": {
      "type": "object",
      "id": "ListRoutinesResponse",
      "properties": {
        "routines": {
          "items": {
            "$ref": "Routine"
          },
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      }
    },
    "TableReference": {
      "type": "object",
      "id": "TableReference",
      "properties": {
        "projectId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the project containing this table.",
          "type": "string"
        },
        "datasetId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "type": "string",
          "description": "[Required] The ID of the dataset containing this table."
        },
        "tableId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        }
      }
    },
    "TransactionInfo": {
      "type": "object",
      "id": "TransactionInfo",
      "properties": {
        "transactionId": {
          "description": "[Output-only] // [Alpha] Id of the transaction.",
          "type": "string"
        }
      }
    },
    "StandardSqlField": {
      "id": "StandardSqlField",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field).",
          "$ref": "StandardSqlDataType"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this field. Can be absent for struct fields."
        }
      },
      "description": "A field or a column."
    },
    "JsonValue": {
      "id": "JsonValue",
      "type": "any"
    },
    "JobConfigurationExtract": {
      "properties": {
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','. Not applicable when extracting models."
        },
        "sourceModel": {
          "description": "A reference to the model being exported.",
          "$ref": "ModelReference"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        },
        "destinationUri": {
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.",
          "type": "string"
        },
        "destinationFormat": {
          "type": "string",
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL."
        },
        "compression": {
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models.",
          "type": "string"
        },
        "printHeader": {
          "type": "boolean",
          "default": "true",
          "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models."
        },
        "destinationUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written."
        },
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models."
        }
      },
      "type": "object",
      "id": "JobConfigurationExtract"
    },
    "JobConfiguration": {
      "id": "JobConfiguration",
      "type": "object",
      "properties": {
        "jobType": {
          "description": "[Output-only] The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN.",
          "type": "string"
        },
        "jobTimeoutMs": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job."
        },
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "extract": {
          "$ref": "JobConfigurationExtract",
          "description": "[Pick one] Configures an extract job."
        },
        "query": {
          "$ref": "JobConfigurationQuery",
          "description": "[Pick one] Configures a query job."
        },
        "load": {
          "description": "[Pick one] Configures a load job.",
          "$ref": "JobConfigurationLoad"
        },
        "copy": {
          "$ref": "JobConfigurationTableCopy",
          "description": "[Pick one] Copies a table."
        }
      }
    },
    "SessionInfo": {
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "[Output-only] // [Preview] Id of the session."
        }
      },
      "id": "SessionInfo"
    },
    "MaterializedViewDefinition": {
      "type": "object",
      "properties": {
        "enableRefresh": {
          "description": "[Optional] [TrustedTester] Enable automatic refresh of the materialized view when the base table is updated. The default value is \"true\".",
          "type": "boolean"
        },
        "query": {
          "description": "[Required] A query whose result is persisted.",
          "type": "string"
        },
        "lastRefreshTime": {
          "format": "int64",
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch.",
          "type": "string"
        },
        "refreshIntervalMs": {
          "type": "string",
          "description": "[Optional] [TrustedTester] The maximum frequency at which this materialized view will be refreshed. The default value is \"1800000\" (30 minutes).",
          "format": "int64"
        }
      },
      "id": "MaterializedViewDefinition"
    },
    "ProjectList": {
      "type": "object",
      "id": "ProjectList",
      "properties": {
        "projects": {
          "type": "array",
          "description": "Projects to which you have at least READ access.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "An opaque ID of this project.",
                "type": "string"
              },
              "friendlyName": {
                "type": "string",
                "description": "A descriptive name for this project."
              },
              "kind": {
                "type": "string",
                "default": "bigquery#project",
                "description": "The resource type."
              },
              "projectReference": {
                "$ref": "ProjectReference",
                "description": "A unique reference to this project."
              },
              "numericId": {
                "format": "uint64",
                "description": "The numeric ID of this project.",
                "type": "string"
              }
            }
          }
        },
        "etag": {
          "description": "A hash of the page of results",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of projects in the list.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "The type of list.",
          "default": "bigquery#projectList"
        }
      }
    },
    "BqmlTrainingRun": {
      "type": "object",
      "id": "BqmlTrainingRun",
      "properties": {
        "iterationResults": {
          "items": {
            "$ref": "BqmlIterationResult"
          },
          "description": "[Output-only, Beta] List of each iteration results.",
          "type": "array"
        },
        "startTime": {
          "description": "[Output-only, Beta] Training run start time in milliseconds since the epoch.",
          "type": "string",
          "format": "date-time"
        },
        "state": {
          "description": "[Output-only, Beta] Different state applicable for a training run. IN PROGRESS: Training run is in progress. FAILED: Training run ended due to a non-retryable failure. SUCCEEDED: Training run successfully completed. CANCELLED: Training run cancelled by the user.",
          "type": "string"
        },
        "trainingOptions": {
          "type": "object",
          "properties": {
            "maxIteration": {
              "type": "string",
              "format": "int64"
            },
            "l2Reg": {
              "type": "number",
              "format": "double"
            },
            "earlyStop": {
              "type": "boolean"
            },
            "l1Reg": {
              "format": "double",
              "type": "number"
            },
            "learnRateStrategy": {
              "type": "string"
            },
            "minRelProgress": {
              "type": "number",
              "format": "double"
            },
            "learnRate": {
              "format": "double",
              "type": "number"
            },
            "warmStart": {
              "type": "boolean"
            },
            "lineSearchInitLearnRate": {
              "type": "number",
              "format": "double"
            }
          },
          "description": "[Output-only, Beta] Training options used by this training run. These options are mutable for subsequent training runs. Default values are explicitly stored for options not specified in the input query of the first training run. For subsequent training runs, any option not explicitly specified in the input query will be copied from the previous training run."
        }
      }
    },
    "JobStatus": {
      "properties": {
        "state": {
          "description": "[Output-only] Running state of the job.",
          "type": "string"
        },
        "errorResult": {
          "$ref": "ErrorProto",
          "description": "[Output-only] Final error result of the job. If present, indicates that the job has completed and was unsuccessful."
        },
        "errors": {
          "description": "[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "items": {
            "$ref": "ErrorProto"
          },
          "type": "array"
        }
      },
      "id": "JobStatus",
      "type": "object"
    },
    "JobStatistics": {
      "id": "JobStatistics",
      "type": "object",
      "properties": {
        "creationTime": {
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "type": "string",
          "format": "int64"
        },
        "reservation_id": {
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job.",
          "type": "string"
        },
        "scriptStatistics": {
          "$ref": "ScriptStatistics",
          "description": "[Output-only] Statistics for a child job of a script."
        },
        "transactionInfo": {
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one.",
          "$ref": "TransactionInfo"
        },
        "totalBytesProcessed": {
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "format": "int64",
          "type": "string"
        },
        "rowLevelSecurityStatistics": {
          "$ref": "RowLevelSecurityStatistics",
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs."
        },
        "totalSlotMs": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Slot-milliseconds for the job."
        },
        "numChildJobs": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of child jobs executed."
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "quotaDeferments": {
          "type": "array",
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "items": {
            "type": "string"
          }
        },
        "parentJobId": {
          "type": "string",
          "description": "[Output-only] If this is a child job, the id of the parent."
        },
        "startTime": {
          "format": "int64",
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "SessionInfo",
          "description": "[Output-only] [Preview] Information of the session if this job is part of one."
        },
        "query": {
          "description": "[Output-only] Statistics for a query job.",
          "$ref": "JobStatistics2"
        },
        "reservationUsage": {
          "type": "array",
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage."
              },
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          }
        },
        "load": {
          "description": "[Output-only] Statistics for a load job.",
          "$ref": "JobStatistics3"
        },
        "completionRatio": {
          "type": "number",
          "format": "double",
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs."
        },
        "endTime": {
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "QueryParameterValue": {
      "id": "QueryParameterValue",
      "properties": {
        "arrayValues": {
          "type": "array",
          "description": "[Optional] The array values, if this is an array type.",
          "items": {
            "$ref": "QueryParameterValue"
          }
        },
        "structValues": {
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          },
          "description": "[Optional] The struct field values, in order of the struct type's declaration.",
          "type": "object"
        },
        "value": {
          "type": "string",
          "description": "[Optional] The value of this value, if a simple scalar type."
        }
      },
      "type": "object"
    },
    "Streamingbuffer": {
      "type": "object",
      "properties": {
        "oldestEntryTime": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available."
        },
        "estimatedBytes": {
          "description": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.",
          "type": "string",
          "format": "uint64"
        },
        "estimatedRows": {
          "type": "string",
          "description": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer.",
          "format": "uint64"
        }
      },
      "id": "Streamingbuffer"
    },
    "ListModelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "models": {
          "items": {
            "$ref": "Model"
          },
          "description": "Models in the requested dataset. Only the following fields are populated: model_reference, model_type, creation_time, last_modified_time and labels.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListModelsResponse"
    },
    "FeatureValue": {
      "type": "object",
      "id": "FeatureValue",
      "properties": {
        "categoricalValue": {
          "description": "The categorical feature value.",
          "$ref": "CategoricalValue"
        },
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "format": "double",
          "type": "number"
        },
        "featureColumn": {
          "type": "string",
          "description": "The feature column name."
        }
      },
      "description": "Representative value of a single feature within the cluster."
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models.",
      "properties": {
        "meanSquaredLogError": {
          "type": "number",
          "format": "double",
          "description": "Mean squared log error."
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "format": "double",
          "type": "number"
        },
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "type": "number",
          "format": "double"
        },
        "meanAbsoluteError": {
          "type": "number",
          "format": "double",
          "description": "Mean absolute error."
        },
        "rSquared": {
          "format": "double",
          "type": "number",
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE."
        }
      },
      "type": "object"
    },
    "ArimaResult": {
      "properties": {
        "arimaModelInfo": {
          "type": "array",
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        },
        "seasonalPeriods": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          },
          "type": "array",
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series."
        }
      },
      "type": "object",
      "id": "ArimaResult",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results."
    },
    "RowAccessPolicy": {
      "type": "object",
      "id": "RowAccessPolicy",
      "properties": {
        "rowAccessPolicyReference": {
          "description": "Required. Reference describing the ID of this row access policy.",
          "$ref": "RowAccessPolicyReference"
        },
        "etag": {
          "description": "Output only. A hash of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifiedTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this row access policy was last modified, in milliseconds since the epoch.",
          "format": "google-datetime"
        },
        "filterPredicate": {
          "description": "Required. A SQL boolean expression that represents the rows defined by this row access policy, similar to the boolean expression in a WHERE clause of a SELECT query on a table. References to other tables, routines, and temporary functions are not supported. Examples: region=\"EU\" date_field = CAST('2019-9-27' as DATE) nullable_field is not NULL numeric_field BETWEEN 1.0 AND 5.0",
          "type": "string"
        },
        "creationTime": {
          "description": "Output only. The time when this row access policy was created, in milliseconds since the epoch.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Represents access on a subset of rows on the specified table, defined by its filter predicate. Access to the subset of rows is controlled by its IAM policy."
    },
    "QueryTimelineSample": {
      "properties": {
        "elapsedMs": {
          "description": "Milliseconds elapsed since the start of query execution.",
          "format": "int64",
          "type": "string"
        },
        "pendingUnits": {
          "format": "int64",
          "type": "string",
          "description": "Total parallel units of work remaining for the active stages."
        },
        "totalSlotMs": {
          "type": "string",
          "format": "int64",
          "description": "Cumulative slot-ms consumed by the query."
        },
        "completedUnits": {
          "type": "string",
          "description": "Total parallel units of work completed by this query.",
          "format": "int64"
        },
        "activeUnits": {
          "format": "int64",
          "type": "string",
          "description": "Total number of units currently being processed by workers. This does not correspond directly to slot usage. This is the largest value observed since the last sample."
        }
      },
      "id": "QueryTimelineSample",
      "type": "object"
    },
    "Entry": {
      "id": "Entry",
      "type": "object",
      "properties": {
        "itemCount": {
          "format": "int64",
          "description": "Number of items being predicted as this label.",
          "type": "string"
        },
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold \u003e 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        }
      },
      "description": "A single entry in the confusion matrix."
    },
    "TrainingOptions": {
      "type": "object",
      "id": "TrainingOptions",
      "description": "Options used in model training.",
      "properties": {
        "minRelativeProgress": {
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "format": "double",
          "type": "number"
        },
        "adjustStepChanges": {
          "type": "boolean",
          "description": "If true, detect step changes and make data adjustment in the input time series."
        },
        "maxIterations": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms."
        },
        "horizon": {
          "format": "int64",
          "description": "The number of periods ahead that need to be forecasted.",
          "type": "string"
        },
        "maxTreeDepth": {
          "type": "string",
          "format": "int64",
          "description": "Maximum depth of a tree for boosted tree models."
        },
        "l2Regularization": {
          "type": "number",
          "format": "double",
          "description": "L2 regularization coefficient."
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "autoArimaMaxOrder": {
          "format": "int64",
          "type": "string",
          "description": "The max value of non-seasonal p and q."
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "labelClassWeights": {
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "type": "object"
        },
        "userColumn": {
          "type": "string",
          "description": "User column specified for matrix factorization models."
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "format": "int64",
          "type": "string"
        },
        "timeSeriesIdColumn": {
          "type": "string",
          "description": "The time series id column that was used during ARIMA model training."
        },
        "earlyStop": {
          "type": "boolean",
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms."
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "type": "string",
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ]
        },
        "hiddenUnits": {
          "description": "Hidden units for dnn models.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "l1Regularization": {
          "type": "number",
          "format": "double",
          "description": "L1 regularization coefficient."
        },
        "numFactors": {
          "format": "int64",
          "type": "string",
          "description": "Num factors specified for matrix factorization models."
        },
        "lossType": {
          "type": "string",
          "description": "Type of loss function used during training run.",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "timeSeriesTimestampColumn": {
          "type": "string",
          "description": "Column to be designated as time series timestamp for ARIMA model."
        },
        "walsAlpha": {
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "type": "number",
          "format": "double"
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "timeSeriesDataColumn": {
          "description": "Column to be designated as time series data for ARIMA model.",
          "type": "string"
        },
        "timeSeriesIdColumns": {
          "description": "The time series id columns that were used during ARIMA model training.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "initialLearnRate": {
          "type": "number",
          "format": "double",
          "description": "Specifies the initial learning rate for the line search learn rate strategy."
        },
        "autoArima": {
          "type": "boolean",
          "description": "Whether to enable auto ARIMA or not."
        },
        "feedbackType": {
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ],
          "type": "string"
        },
        "dataSplitColumn": {
[...]
