{
  "name": "bigqueryreservation",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "discoveryVersion": "v1",
  "revision": "20230222",
  "title": "BigQuery Reservation API",
  "description": "A service to modify your BigQuery flat-rate reservations.",
  "baseUrl": "https://bigqueryreservation.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "reservations": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                      "description": "Required. Resource name of the reservation to retrieve. E.g., `projects/myproject/locations/US/reservations/team1-prod`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a reservation. Returns `google.rpc.Code.FAILED_PRECONDITION` when reservation has assignments.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "bigqueryreservation.projects.locations.reservations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new reservation resource.",
                  "request": {
                    "$ref": "Reservation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project, location. E.g., `projects/myproject/locations/US`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "reservationId": {
                      "location": "query",
                      "description": "The reservation ID. It must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
                      "type": "string"
                    }
                  },
                  "id": "bigqueryreservation.projects.locations.reservations.create",
                  "path": "v1/{+parent}/reservations",
                  "response": {
                    "$ref": "Reservation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Returns information about the reservation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                  "response": {
                    "$ref": "Reservation"
                  },
                  "id": "bigqueryreservation.projects.locations.reservations.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the reservation to retrieve. E.g., `projects/myproject/locations/US/reservations/team1-prod`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Reservation"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "The resource name of the reservation, e.g., `projects/*/locations/*/reservations/team1-prod`. The reservation_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigqueryreservation.projects.locations.reservations.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Reservation"
                  },
                  "description": "Updates an existing reservation resource."
                },
                "list": {
                  "description": "Lists all the reservations for the project in the specified location.",
                  "id": "bigqueryreservation.projects.locations.reservations.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name containing project and location, e.g.: `projects/myproject/locations/US`"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return per page.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/reservations",
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "assignments": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.delete",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+/assignments/[^/]+$",
                          "description": "Required. Name of the resource, e.g. `projects/myproject/locations/US/reservations/team1-prod/assignments/123`",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a assignment. No expansion will happen. Example: * Organization `organizationA` contains two projects, `project1` and `project2`. * Reservation `res1` exists and was created previously. * CreateAssignment was used previously to define the following associations between entities and reservations: `` and `` In this example, deletion of the `` assignment won't affect the other assignment ``. After said deletion, queries from `project1` will still use `res1` while queries from `project2` will switch to use on-demand mode.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "move": {
                      "request": {
                        "$ref": "MoveAssignmentRequest"
                      },
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.move",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Moves an assignment under a new reservation. This differs from removing an existing assignment and recreating a new one by providing a transactional change that ensures an assignee always has an associated reservation.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}:move",
                      "path": "v1/{+name}:move",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Assignment"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the assignment, e.g. `projects/myproject/locations/US/reservations/team1-prod/assignments/123`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+/assignments/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Assignment"
                      },
                      "description": "Updates an existing assignment. Only the `priority` field can be updated.",
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.patch",
                      "response": {
                        "$ref": "Assignment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+/assignments/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Output only. Name of the resource. E.g.: `projects/myproject/locations/US/reservations/team1-prod/assignments/123`. The assignment_id must only contain lower case alphanumeric characters or dashes and the max length is 64 characters."
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Standard field mask for the set of fields to be updated.",
                          "location": "query"
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListAssignmentsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value returned from a previous List request, if any.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name e.g.: `projects/myproject/locations/US/reservations/team1-prod` Or: `projects/myproject/locations/US/reservations/-`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of items to return per page.",
                          "format": "int32"
                        }
                      },
                      "description": "Lists assignments. Only explicitly created assignments will be returned. Example: * Organization `organizationA` contains two projects, `project1` and `project2`. * Reservation `res1` exists and was created previously. * CreateAssignment was used previously to define the following associations between entities and reservations: `` and `` In this example, ListAssignments will just return the above two assignments for reservation `res1`, and no expansion/merge will happen. The wildcard \"-\" can be used for reservations in the request. In that case all assignments belongs to the specified project and location will be listed. **Note** \"-\" cannot be used for projects nor locations.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/assignments",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments",
                      "httpMethod": "GET",
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.list"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments",
                      "response": {
                        "$ref": "Assignment"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name of the assignment E.g. `projects/myproject/locations/US/reservations/team1-prod`"
                        },
                        "assignmentId": {
                          "location": "query",
                          "type": "string",
                          "description": "The optional assignment ID. Assignment name will be generated automatically if this field is empty. This field must only contain lower case alphanumeric characters or dashes. Max length is 64 characters."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/assignments",
                      "description": "Creates an assignment object which allows the given project to submit jobs of a certain type using slots from the specified reservation. Currently a resource (project, folder, organization) can only have one assignment per each (job_type, location) combination, and that reservation will be used for all jobs of the matching type. Different assignments can be created on different levels of the projects, folders or organization hierarchy. During query execution, the assignment is looked up at the project, folder and organization levels in that order. The first assignment found is applied to the query. When creating assignments, it does not matter if other assignments exist at higher levels. Example: * The organization `organizationA` contains two projects, `project1` and `project2`. * Assignments for all three entities (`organizationA`, `project1`, and `project2`) could all be created and mapped to the same or different reservations. \"None\" assignments represent an absence of the assignment. Projects assigned to None use on-demand pricing. To create a \"None\" assignment, use \"none\" as a reservation_id in the parent. Example parent: `projects/myproject/locations/US/reservations/none`. Returns `google.rpc.Code.PERMISSION_DENIED` if user does not have 'bigquery.admin' permissions on the project using the reservation and the project that owns this reservation. Returns `google.rpc.Code.INVALID_ARGUMENT` when location of the assignment does not match location of the reservation.",
                      "request": {
                        "$ref": "Assignment"
                      },
                      "id": "bigqueryreservation.projects.locations.reservations.assignments.create",
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            },
            "capacityCommitments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Returns information about the capacity commitment.",
                  "path": "v1/{+name}",
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the capacity commitment to retrieve. E.g., `projects/myproject/locations/US/capacityCommitments/123`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CapacityCommitment"
                  }
                },
                "patch": {
                  "description": "Updates an existing capacity commitment. Only `plan` and `renewal_plan` fields can be updated. Plan can only be changed to a plan of a longer commitment period. Attempting to change to a plan with shorter commitment period will fail with the error code `google.rpc.Code.FAILED_PRECONDITION`.",
                  "request": {
                    "$ref": "CapacityCommitment"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated."
                    },
                    "name": {
                      "required": true,
                      "description": "Output only. The resource name of the capacity commitment, e.g., `projects/myproject/locations/US/capacityCommitments/123` The commitment_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.patch",
                  "response": {
                    "$ref": "CapacityCommitment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "split": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:split",
                  "request": {
                    "$ref": "SplitCapacityCommitmentRequest"
                  },
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.split",
                  "response": {
                    "$ref": "SplitCapacityCommitmentResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Splits capacity commitment to two commitments of the same plan and `commitment_end_time`. A common use case is to enable downgrading commitments. For example, in order to downgrade from 10000 slots to 8000, you might split a 10000 capacity commitment into commitments of 2000 and 8000. Then, you delete the first one after the commitment end time passes.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}:split",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name e.g.,: `projects/myproject/locations/US/capacityCommitments/123`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the parent reservation. E.g., `projects/myproject/locations/US`"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListCapacityCommitmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all the capacity commitments for the admin project.",
                  "path": "v1/{+parent}/capacityCommitments",
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.list"
                },
                "merge": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Merges capacity commitments of the same plan into a single commitment. The resulting capacity commitment has the greater commitment_end_time out of the to-be-merged capacity commitments. Attempting to merge capacity commitments of different plan will fail with the error code `google.rpc.Code.FAILED_PRECONDITION`.",
                  "path": "v1/{+parent}/capacityCommitments:merge",
                  "request": {
                    "$ref": "MergeCapacityCommitmentsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.merge",
                  "response": {
                    "$ref": "CapacityCommitment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments:merge",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Parent resource that identifies admin project and location e.g., `projects/myproject/locations/us`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "create": {
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.create",
                  "request": {
                    "$ref": "CapacityCommitment"
                  },
                  "response": {
                    "$ref": "CapacityCommitment"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments",
                  "description": "Creates a new capacity commitment resource.",
                  "path": "v1/{+parent}/capacityCommitments",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the parent reservation. E.g., `projects/myproject/locations/US`",
                      "location": "path",
                      "type": "string"
                    },
                    "enforceSingleAdminProjectPerOrg": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If true, fail the request if another project in the organization has a capacity commitment."
                    },
                    "capacityCommitmentId": {
                      "description": "The optional capacity commitment ID. Capacity commitment name will be generated automatically if this field is empty. This field must only contain lower case alphanumeric characters or dashes. The first and last character cannot be a dash. Max length is 64 characters. NOTE: this ID won't be kept if the capacity commitment is split or merged.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}",
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "description": "Can be used to force delete commitments even if assignments exist. Deleting commitments with assignments may cause queries to fail if they no longer have access to slots.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/capacityCommitments/[^/]+$",
                      "description": "Required. Resource name of the capacity commitment to delete. E.g., `projects/myproject/locations/US/capacityCommitments/123`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a capacity commitment. Attempting to delete capacity commitment before its commitment_end_time will fail with the error code `google.rpc.Code.FAILED_PRECONDITION`.",
                  "path": "v1/{+name}",
                  "id": "bigqueryreservation.projects.locations.capacityCommitments.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          },
          "methods": {
            "getBiReservation": {
              "response": {
                "$ref": "BiReservation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/biReservation$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the requested reservation, for example: `projects/{project_id}/locations/{location_id}/biReservation`"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/biReservation",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "bigqueryreservation.projects.locations.getBiReservation",
              "httpMethod": "GET",
              "description": "Retrieves a BI reservation."
            },
            "updateBiReservation": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/biReservation",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "BiReservation"
              },
              "httpMethod": "PATCH",
              "description": "Updates a BI reservation. Only fields specified in the `field_mask` are updated. A singleton BI reservation always exists with default size 0. In order to reserve BI capacity it needs to be updated to an amount greater than 0. In order to release BI capacity reservation size must be set to 0.",
              "response": {
                "$ref": "BiReservation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The resource name of the singleton BI reservation. Reservation names have the form `projects/{project_id}/locations/{location_id}/biReservation`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/biReservation$",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A list of fields to be updated in this request."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "bigqueryreservation.projects.locations.updateBiReservation"
            },
            "searchAllAssignments": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of items to return per page."
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "query": {
                  "location": "query",
                  "description": "Please specify resource name as assignee in the query. Examples: * `assignee=projects/myproject` * `assignee=folders/123` * `assignee=organizations/456`",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name with location (project name could be the wildcard '-'), e.g.: `projects/-/locations/US`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "id": "bigqueryreservation.projects.locations.searchAllAssignments",
              "description": "Looks up assignments for a specified resource for a particular region. If the request is about a project: 1. Assignments created on the project will be returned if they exist. 2. Otherwise assignments created on the closest ancestor will be returned. 3. Assignments for different JobTypes will all be returned. The same logic applies if the request is about a folder. If the request is about an organization, then assignments created on the organization will be returned (organization doesn't have ancestors). Comparing to ListAssignments, there are some behavior differences: 1. permission on the assignee will be verified in this API. 2. Hierarchy lookup (project-\u003efolder-\u003eorganization) happens in this API. 3. Parent here is `projects/*/locations/*`, instead of `projects/*/locations/*reservations/*`.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchAllAssignmentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:searchAllAssignments",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchAllAssignments"
            },
            "searchAssignments": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deprecated: Looks up assignments for a specified resource for a particular region. If the request is about a project: 1. Assignments created on the project will be returned if they exist. 2. Otherwise assignments created on the closest ancestor will be returned. 3. Assignments for different JobTypes will all be returned. The same logic applies if the request is about a folder. If the request is about an organization, then assignments created on the organization will be returned (organization doesn't have ancestors). Comparing to ListAssignments, there are some behavior differences: 1. permission on the assignee will be verified in this API. 2. Hierarchy lookup (project-\u003efolder-\u003eorganization) happens in this API. 3. Parent here is `projects/*/locations/*`, instead of `projects/*/locations/*reservations/*`. **Note** \"-\" cannot be used for projects nor locations.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:searchAssignments",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchAssignments",
              "id": "bigqueryreservation.projects.locations.searchAssignments",
              "httpMethod": "GET",
              "parameters": {
                "query": {
                  "description": "Please specify resource name as assignee in the query. Examples: * `assignee=projects/myproject` * `assignee=folders/123` * `assignee=organizations/456`",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the admin project(containing project and location), e.g.: `projects/myproject/locations/US`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of items to return per page.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SearchAssignmentsResponse"
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "SplitCapacityCommitmentRequest": {
      "description": "The request for ReservationService.SplitCapacityCommitment.",
      "properties": {
        "slotCount": {
          "type": "string",
          "description": "Number of slots in the capacity commitment after the split.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SplitCapacityCommitmentRequest"
    },
    "Reservation": {
      "description": "A reservation is a mechanism used to guarantee slots to users.",
      "properties": {
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of the reservation."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of the reservation.",
          "type": "string"
        },
        "autoscale": {
          "$ref": "Autoscale",
          "description": "The configuration parameters for the auto scaling feature. Note this is an alpha feature."
        },
        "concurrency": {
          "type": "string",
          "description": "Job concurrency target which sets a soft upper bound on the number of jobs that can run concurrently in this reservation. This is a soft target due to asynchronous nature of the system and various optimizations for small queries. Default value is 0 which means that concurrency target will be automatically computed by the system. NOTE: this field is exposed as `target_job_concurrency` in the Information Schema, DDL and BQ CLI.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the reservation, e.g., `projects/*/locations/*/reservations/team1-prod`. The reservation_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters."
        },
        "edition": {
          "enumDescriptions": [
            "Do not use.",
            "Do not use."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE"
          ],
          "type": "string",
          "description": "Do not use."
        },
        "slotCapacity": {
          "description": "Minimum slots available to this reservation. A slot is a unit of computational power in BigQuery, and serves as the unit of parallelism. Queries using this reservation might use more slots during runtime if ignore_idle_slots is set to false. If total slot_capacity of the reservation and its siblings exceeds the total slot_count of all capacity commitments, the request will fail with `google.rpc.Code.RESOURCE_EXHAUSTED`. NOTE: for reservations in US or EU multi-regions, slot capacity constraints are checked separately for default and auxiliary regions. See multi_region_auxiliary flag for more details.",
          "type": "string",
          "format": "int64"
        },
        "multiRegionAuxiliary": {
          "type": "boolean",
          "description": "Applicable only for reservations located within one of the BigQuery multi-regions (US or EU). If set to true, this reservation is placed in the organization's secondary region which is designated for disaster recovery purposes. If false, this reservation is placed in the organization's default region."
        },
        "ignoreIdleSlots": {
          "type": "boolean",
          "description": "If false, any query or pipeline job using this reservation will use idle slots from other reservations within the same admin project. If true, a query or pipeline job using this reservation will execute with the slot capacity specified in the slot_capacity field at most."
        }
      },
      "id": "Reservation",
      "type": "object"
    },
    "ListCapacityCommitmentsResponse": {
      "type": "object",
      "description": "The response for ReservationService.ListCapacityCommitments.",
      "id": "ListCapacityCommitmentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "capacityCommitments": {
          "items": {
            "$ref": "CapacityCommitment"
          },
          "type": "array",
          "description": "List of capacity commitments visible to the user."
        }
      }
    },
    "SearchAllAssignmentsResponse": {
      "id": "SearchAllAssignmentsResponse",
      "type": "object",
      "properties": {
        "assignments": {
          "description": "List of assignments visible to the user.",
          "items": {
            "$ref": "Assignment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The response for ReservationService.SearchAllAssignments."
    },
    "CapacityCommitment": {
      "properties": {
        "renewalPlan": {
          "description": "The plan this capacity commitment is converted to after commitment_end_time passes. Once the plan is changed, committed period is extended according to commitment plan. Only applicable for ANNUAL and TRIAL commitments.",
          "enumDescriptions": [
            "Invalid plan value. Requests with this value will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`.",
            "Flex commitments have committed period of 1 minute after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Trial commitments have a committed period of 182 days after becoming ACTIVE. After that, they are converted to a new commitment based on the `renewal_plan`. Default `renewal_plan` for Trial commitment is Flex so that it can be deleted right after committed period ends.",
            "Monthly commitments have a committed period of 30 days after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Annual commitments have a committed period of 365 days after becoming ACTIVE. After that they are converted to a new commitment based on the renewal_plan.",
            "Do not use."
          ],
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "FLEX",
            "TRIAL",
            "MONTHLY",
            "ANNUAL",
            "NONE"
          ]
        },
        "commitmentStartTime": {
          "format": "google-datetime",
          "description": "Output only. The start of the current commitment period. It is applicable only for ACTIVE capacity commitments.",
          "readOnly": true,
          "type": "string"
        },
        "slotCount": {
          "description": "Number of slots in this commitment.",
          "format": "int64",
          "type": "string"
        },
        "failureStatus": {
          "$ref": "Status",
          "description": "Output only. For FAILED commitment plan, provides the reason of failure.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the commitment.",
          "readOnly": true,
          "enumDescriptions": [
            "Invalid state value.",
            "Capacity commitment is pending provisioning. Pending capacity commitment does not contribute to the project's slot_capacity.",
            "Once slots are provisioned, capacity commitment becomes active. slot_count is added to the project's slot_capacity.",
            "Capacity commitment is failed to be activated by the backend."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "commitmentEndTime": {
          "type": "string",
          "description": "Output only. The end of the current commitment period. It is applicable only for ACTIVE capacity commitments.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "edition": {
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE"
          ],
          "type": "string",
          "description": "Do not use.",
          "enumDescriptions": [
            "Do not use.",
            "Do not use."
          ]
        },
        "multiRegionAuxiliary": {
          "description": "Applicable only for commitments located within one of the BigQuery multi-regions (US or EU). If set to true, this commitment is placed in the organization's secondary region which is designated for disaster recovery purposes. If false, this commitment is placed in the organization's default region.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the capacity commitment, e.g., `projects/myproject/locations/US/capacityCommitments/123` The commitment_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
          "readOnly": true
        },
        "plan": {
          "type": "string",
          "description": "Capacity commitment commitment plan.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "FLEX",
            "TRIAL",
            "MONTHLY",
            "ANNUAL",
            "NONE"
          ],
          "enumDescriptions": [
            "Invalid plan value. Requests with this value will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`.",
            "Flex commitments have committed period of 1 minute after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Trial commitments have a committed period of 182 days after becoming ACTIVE. After that, they are converted to a new commitment based on the `renewal_plan`. Default `renewal_plan` for Trial commitment is Flex so that it can be deleted right after committed period ends.",
            "Monthly commitments have a committed period of 30 days after becoming ACTIVE. After that, they are not in a committed period anymore and can be removed any time.",
            "Annual commitments have a committed period of 365 days after becoming ACTIVE. After that they are converted to a new commitment based on the renewal_plan.",
            "Do not use."
          ]
        }
      },
      "type": "object",
      "description": "Capacity commitment is a way to purchase compute capacity for BigQuery jobs (in the form of slots) with some committed period of usage. Annual commitments renew by default. Commitments can be removed after their commitment end time passes. In order to remove annual commitment, its plan needs to be changed to monthly or flex first. A capacity commitment resource exists as a child resource of the admin project.",
      "id": "CapacityCommitment"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status"
    },
    "MoveAssignmentRequest": {
      "id": "MoveAssignmentRequest",
      "type": "object",
      "properties": {
        "destinationId": {
          "type": "string",
          "description": "The new reservation ID, e.g.: `projects/myotherproject/locations/US/reservations/team2-prod`"
        }
      },
      "description": "The request for ReservationService.MoveAssignment. **Note**: \"bigquery.reservationAssignments.create\" permission is required on the destination_id. **Note**: \"bigquery.reservationAssignments.create\" and \"bigquery.reservationAssignments.delete\" permission are required on the related assignee."
    },
    "Assignment": {
      "id": "Assignment",
      "properties": {
        "jobType": {
          "type": "string",
          "description": "Which type of jobs will use the reservation.",
          "enum": [
            "JOB_TYPE_UNSPECIFIED",
            "PIPELINE",
            "QUERY",
            "ML_EXTERNAL",
            "BACKGROUND"
          ],
          "enumDescriptions": [
            "Invalid type. Requests with this value will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`.",
            "Pipeline (load/export) jobs from the project will use the reservation.",
            "Query jobs from the project will use the reservation.",
            "BigQuery ML jobs that use services external to BigQuery for model training. These jobs will not utilize idle slots from other reservations.",
            "Background jobs that BigQuery runs for the customers in the background."
          ]
        },
        "assignee": {
          "type": "string",
          "description": "The resource which will use the reservation. E.g. `projects/myproject`, `folders/123`, or `organizations/456`."
        },
        "state": {
          "description": "Output only. State of the assignment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Invalid state value.",
            "Queries from assignee will be executed as on-demand, if related assignment is pending.",
            "Assignment is ready."
          ]
        },
        "name": {
          "description": "Output only. Name of the resource. E.g.: `projects/myproject/locations/US/reservations/team1-prod/assignments/123`. The assignment_id must only contain lower case alphanumeric characters or dashes and the max length is 64 characters.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An assignment allows a project to submit jobs of a certain type using slots from the specified reservation."
    },
    "MergeCapacityCommitmentsRequest": {
      "id": "MergeCapacityCommitmentsRequest",
      "properties": {
        "capacityCommitmentIds": {
          "items": {
            "type": "string"
          },
          "description": "Ids of capacity commitments to merge. These capacity commitments must exist under admin project and location specified in the parent. ID is the last portion of capacity commitment name e.g., 'abc' for projects/myproject/locations/US/capacityCommitments/abc",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request for ReservationService.MergeCapacityCommitments."
    },
    "SearchAssignmentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "assignments": {
          "description": "List of assignments visible to the user.",
          "type": "array",
          "items": {
            "$ref": "Assignment"
          }
        }
      },
      "description": "The response for ReservationService.SearchAssignments.",
      "id": "SearchAssignmentsResponse"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "TableReference": {
      "id": "TableReference",
      "description": "Fully qualified reference to BigQuery table. Internally stored as google.cloud.bi.v1.BqTableReference.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The assigned project ID of the project.",
          "type": "string"
        },
        "datasetId": {
          "description": "The ID of the dataset in the above project.",
          "type": "string"
        },
        "tableId": {
          "description": "The ID of the table in the above dataset.",
          "type": "string"
        }
      }
    },
    "ListReservationsResponse": {
      "type": "object",
      "description": "The response for ReservationService.ListReservations.",
      "properties": {
        "reservations": {
          "type": "array",
          "items": {
            "$ref": "Reservation"
          },
          "description": "List of reservations visible to the user."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "ListReservationsResponse"
    },
    "BiReservation": {
      "properties": {
        "preferredTables": {
          "type": "array",
          "items": {
            "$ref": "TableReference"
          },
          "description": "Preferred tables to use BI capacity for."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the singleton BI reservation. Reservation names have the form `projects/{project_id}/locations/{location_id}/biReservation`."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update timestamp of a reservation."
        },
        "size": {
          "format": "int64",
          "type": "string",
          "description": "Size of a reservation, in bytes."
        }
      },
      "type": "object",
      "description": "Represents a BI Reservation.",
      "id": "BiReservation"
    },
    "ListAssignmentsResponse": {
      "id": "ListAssignmentsResponse",
      "description": "The response for ReservationService.ListAssignments.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "assignments": {
          "type": "array",
          "items": {
            "$ref": "Assignment"
          },
          "description": "List of assignments visible to the user."
        }
      }
    },
    "SplitCapacityCommitmentResponse": {
      "type": "object",
      "properties": {
        "first": {
          "description": "First capacity commitment, result of a split.",
          "$ref": "CapacityCommitment"
        },
        "second": {
          "$ref": "CapacityCommitment",
          "description": "Second capacity commitment, result of a split."
        }
      },
      "id": "SplitCapacityCommitmentResponse",
      "description": "The response for ReservationService.SplitCapacityCommitment."
    },
    "Autoscale": {
      "description": "Auto scaling settings.",
      "id": "Autoscale",
      "type": "object",
      "properties": {
        "currentSlots": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The slot capacity added to this reservation when autoscale happens. Will be between [0, max_slots]."
        },
        "maxSlots": {
          "type": "string",
          "format": "int64",
          "description": "Number of slots to be scaled when needed."
        }
      }
    }
  },
  "id": "bigqueryreservation:v1",
  "canonicalName": "BigQuery Reservation",
  "mtlsRootUrl": "https://bigqueryreservation.mtls.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://bigqueryreservation.googleapis.com/",
  "version_module": true
}
