{
  "name": "bigquery",
  "servicePath": "bigquery/v2/",
  "ownerName": "Google",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "revision": "20201007",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "rootUrl": "https://bigquery.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "jobs": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "path": "projects/{projectId}/jobs",
          "id": "bigquery.jobs.insert",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the project that will be billed for the job",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "Job"
          },
          "httpMethod": "POST"
        },
        "list": {
          "id": "bigquery.jobs.list",
          "parameters": {
            "allUsers": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to display jobs owned by all users in the project. Default false"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the jobs to list",
              "type": "string"
            },
            "parentJobId": {
              "type": "string",
              "location": "query",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "type": "string",
              "location": "query",
              "format": "uint64"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "Maximum number of results to return"
            },
            "minCreationTime": {
              "type": "string",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64"
            },
            "stateFilter": {
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "repeated": true,
              "location": "query",
              "description": "Filter for job state"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projection": {
              "type": "string",
              "description": "Restrict information returned to a set of selected fields",
              "location": "query",
              "enum": [
                "full",
                "minimal"
              ],
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            }
          },
          "httpMethod": "GET",
          "path": "projects/{projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "JobList"
          },
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "query": {
          "response": {
            "$ref": "QueryResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project billed for the query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "QueryRequest"
          },
          "id": "bigquery.jobs.query",
          "path": "projects/{projectId}/queries"
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "parameters": {
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "[Required] Project ID of the requested job"
            }
          },
          "id": "bigquery.jobs.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "httpMethod": "GET"
        },
        "cancel": {
          "parameters": {
            "jobId": {
              "type": "string",
              "description": "[Required] Job ID of the job to cancel",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "[Required] Project ID of the job to cancel",
              "location": "path"
            }
          },
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "id": "bigquery.jobs.cancel",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "getQueryResults": {
          "description": "Retrieves the results of a query job.",
          "httpMethod": "GET",
          "parameters": {
            "timeoutMs": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "location": "query",
              "format": "uint64",
              "type": "string"
            },
            "jobId": {
              "location": "path",
              "type": "string",
              "description": "[Required] Job ID of the query job",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to read",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "[Required] Project ID of the query job",
              "required": true,
              "location": "path"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "path": "projects/{projectId}/queries/{jobId}",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "id": "bigquery.jobs.getQueryResults",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "httpMethod": "POST",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "id": "bigquery.tabledata.insertAll",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the destination table.",
              "type": "string",
              "required": true
            },
            "tableId": {
              "description": "Table ID of the destination table.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the destination table."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll"
        },
        "list": {
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to read",
              "type": "string",
              "required": true
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "location": "query",
              "type": "string",
              "format": "uint64"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to read"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query"
            },
            "projectId": {
              "description": "Project ID of the table to read",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tabledata.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "TableDataList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role."
        }
      }
    },
    "datasets": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.update",
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "required": true
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}"
        },
        "delete": {
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.delete",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being deleted"
            },
            "deleteContents": {
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean"
            },
            "datasetId": {
              "required": true,
              "description": "Dataset ID of dataset being deleted",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "path": "projects/{projectId}/datasets/{datasetId}"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query"
            },
            "all": {
              "type": "boolean",
              "description": "Whether to list all datasets, including hidden ones",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Project ID of the datasets to be listed",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of results to return",
              "location": "query"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.datasets.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/datasets",
          "response": {
            "$ref": "DatasetList"
          },
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role."
        },
        "patch": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the dataset being updated"
            },
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.patch"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a new empty dataset.",
          "request": {
            "$ref": "Dataset"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/datasets",
          "id": "bigquery.datasets.insert",
          "response": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the new dataset",
              "required": true
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Returns the dataset specified by datasetID.",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the requested dataset"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the requested dataset",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "models": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "response": {
            "$ref": "Model"
          },
          "request": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "id": "bigquery.models.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. Project ID of the model to patch.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "description": "Required. Model ID of the model to patch.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "description": "Required. Dataset ID of the model to patch.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Patch specific fields in the specified model."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "description": "Gets the specified model resource by model ID.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "id": "bigquery.models.get",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "response": {
            "$ref": "Model"
          },
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the requested model.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested model."
            },
            "modelId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Model ID of the requested model.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "delete": {
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the model to delete.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "projectId": {
              "description": "Required. Project ID of the model to delete.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "modelId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Model ID of the model to delete.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.models.delete",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "httpMethod": "DELETE",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "description": "Deletes the model specified by modelId from the dataset."
        },
        "list": {
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the models to list."
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the models to list.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.models.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "ListModelsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models"
        }
      }
    },
    "projects": {
      "methods": {
        "getServiceAccount": {
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID for which the service account is requested."
            }
          },
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "id": "bigquery.projects.getServiceAccount",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "GET",
          "path": "projects/{projectId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GetServiceAccountResponse"
          }
        },
        "list": {
          "id": "bigquery.projects.list",
          "response": {
            "$ref": "ProjectList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32"
            }
          },
          "path": "projects",
          "description": "Lists all projects to which you have been granted any project role."
        }
      }
    },
    "tables": {
      "methods": {
        "update": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the table to update",
              "location": "path"
            },
            "tableId": {
              "type": "string",
              "description": "Table ID of the table to update",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.update"
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "{+resource}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "id": "bigquery.tables.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "httpMethod": "POST"
        },
        "testIamPermissions": {
          "path": "{+resource}:testIamPermissions",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "bigquery.tables.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "response": {
            "$ref": "TableList"
          },
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "Maximum number of results to return",
              "type": "integer"
            },
            "projectId": {
              "description": "Project ID of the tables to list",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the tables to list",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "httpMethod": "GET",
          "id": "bigquery.tables.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the requested table",
              "location": "path"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "description": "Dataset ID of the requested table",
              "location": "path",
              "type": "string",
              "required": true
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the requested table",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "setIamPolicy": {
          "path": "{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          }
        },
        "patch": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the table to update",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the table to update"
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Table ID of the table to update"
            }
          },
          "id": "bigquery.tables.patch",
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "delete": {
          "parameters": {
            "tableId": {
              "type": "string",
              "description": "Table ID of the table to delete",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to delete"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to delete"
            }
          },
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "id": "bigquery.tables.delete",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "insert": {
          "description": "Creates a new, empty table in the dataset.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.tables.insert",
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the new table"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the new table"
            }
          },
          "request": {
            "$ref": "Table"
          }
        }
      }
    },
    "routines": {
      "methods": {
        "insert": {
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the new routine",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the new routine",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "description": "Creates a new routine in the dataset.",
          "response": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.routines.insert",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "request": {
            "$ref": "Routine"
          },
          "httpMethod": "POST"
        },
        "delete": {
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the routine to delete",
              "location": "path",
              "type": "string"
            },
            "routineId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Routine ID of the routine to delete"
            }
          },
          "description": "Deletes the routine specified by routineId from the dataset.",
          "id": "bigquery.routines.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "httpMethod": "DELETE"
        },
        "list": {
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "id": "bigquery.routines.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the routines to list",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the routines to list"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\"."
            },
            "readMask": {
              "type": "string",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "update": {
          "request": {
            "$ref": "Routine"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.update",
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "routineId": {
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Dataset ID of the routine to update",
              "type": "string"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routine to update",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "description": "Gets the specified routine resource by routine ID.",
          "parameters": {
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "location": "query"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the requested routine",
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "location": "path",
              "type": "string",
              "description": "Required. Routine ID of the requested routine",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested routine",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "id": "bigquery.routines.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ]
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "tableId": {
              "required": true,
              "description": "Required. Table ID of the table to list row access policies.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the row access policies to list.",
              "required": true
            },
            "datasetId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of row access policies to list."
            }
          },
          "description": "Lists all row access policies on the specified table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "id": "bigquery.rowAccessPolicies.list",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery.readonly": {
          "description": "View your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "title": "BigQuery API",
  "batchPath": "batch/bigquery/v2",
  "protocol": "rest",
  "description": "A data platform for customers to create, manage, share and query data.",
  "id": "bigquery:v2",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "description": "Data format for the response.",
      "location": "query",
      "enum": [
        "json"
      ],
      "type": "string"
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "basePath": "/bigquery/v2/",
  "version": "v2",
  "schemas": {
    "JobStatistics": {
      "id": "JobStatistics",
      "type": "object",
      "properties": {
        "scriptStatistics": {
          "$ref": "ScriptStatistics",
          "description": "[Output-only] Statistics for a child job of a script."
        },
        "reservation_id": {
          "type": "string",
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job."
        },
        "completionRatio": {
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "type": "number",
          "format": "double"
        },
        "totalSlotMs": {
          "format": "int64",
          "description": "[Output-only] Slot-milliseconds for the job.",
          "type": "string"
        },
        "totalBytesProcessed": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead."
        },
        "load": {
          "description": "[Output-only] Statistics for a load job.",
          "$ref": "JobStatistics3"
        },
        "transactionInfoTemplate": {
          "$ref": "TransactionInfo",
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one."
        },
        "reservationUsage": {
          "items": {
            "properties": {
              "slotMs": {
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "format": "int64",
                "type": "string"
              },
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state."
        },
        "quotaDeferments": {
          "type": "array",
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "items": {
            "type": "string"
          }
        },
        "extract": {
          "$ref": "JobStatistics4",
          "description": "[Output-only] Statistics for an extract job."
        },
        "parentJobId": {
          "type": "string",
          "description": "[Output-only] If this is a child job, the id of the parent."
        },
        "numChildJobs": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of child jobs executed."
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs."
        },
        "startTime": {
          "format": "int64",
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "type": "string"
        },
        "query": {
          "$ref": "JobStatistics2",
          "description": "[Output-only] Statistics for a query job."
        },
        "rowLevelSecurityStatistics": {
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs.",
          "$ref": "RowLevelSecurityStatistics"
        }
      }
    },
    "ClusteringMetrics": {
      "id": "ClusteringMetrics",
      "properties": {
        "meanSquaredDistance": {
          "format": "double",
          "type": "number",
          "description": "Mean of squared distances between each sample to its cluster centroid."
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "[Beta] Information for all clusters."
        },
        "daviesBouldinIndex": {
          "format": "double",
          "type": "number",
          "description": "Davies-Bouldin index."
        }
      },
      "type": "object",
      "description": "Evaluation metrics for clustering models."
    },
    "TableList": {
      "type": "object",
      "properties": {
        "totalItems": {
          "description": "The total number of tables in the dataset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "bigquery#tableList",
          "description": "The type of list.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "tables": {
          "items": {
            "properties": {
              "kind": {
                "type": "string",
                "description": "The resource type.",
                "default": "bigquery#table"
              },
              "creationTime": {
                "description": "The time when this table was created, in milliseconds since the epoch.",
                "format": "int64",
                "type": "string"
              },
              "tableReference": {
                "$ref": "TableReference",
                "description": "A reference uniquely identifying the table."
              },
              "view": {
                "description": "Additional details for a view.",
                "type": "object",
                "properties": {
                  "useLegacySql": {
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL.",
                    "type": "boolean"
                  }
                }
              },
              "labels": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "type": "object"
              },
              "friendlyName": {
                "description": "The user-friendly name for this table.",
                "type": "string"
              },
              "rangePartitioning": {
                "$ref": "RangePartitioning",
                "description": "The range partitioning specification for this table, if configured."
              },
              "expirationTime": {
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.",
                "format": "int64",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "The type of table. Possible values are: TABLE, VIEW."
              },
              "clustering": {
                "$ref": "Clustering",
                "description": "[Beta] Clustering specification for this table, if configured."
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of the table"
              },
              "timePartitioning": {
                "description": "The time-based partitioning specification for this table, if configured.",
                "$ref": "TimePartitioning"
              }
            },
            "type": "object"
          },
          "description": "Tables in the requested dataset.",
          "type": "array"
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        }
      },
      "id": "TableList"
    },
    "IterationResult": {
      "id": "IterationResult",
      "properties": {
        "arimaResult": {
          "$ref": "ArimaResult"
        },
        "learnRate": {
          "type": "number",
          "description": "Learn rate used for this iteration.",
          "format": "double"
        },
        "evalLoss": {
          "format": "double",
          "type": "number",
          "description": "Loss computed on the eval data at the end of iteration."
        },
        "durationMs": {
          "type": "string",
          "description": "Time taken to run the iteration in milliseconds.",
          "format": "int64"
        },
        "trainingLoss": {
          "format": "double",
          "description": "Loss computed on the training data at the end of iteration.",
          "type": "number"
        },
        "clusterInfos": {
          "items": {
            "$ref": "ClusterInfo"
          },
          "type": "array",
          "description": "Information about top clusters for clustering models."
        },
        "index": {
          "format": "int32",
          "description": "Index of the iteration, 0 based.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Information about a single iteration of the training run."
    },
    "ProjectReference": {
      "id": "ProjectReference",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project.",
          "type": "string"
        }
      }
    },
    "BigtableOptions": {
      "id": "BigtableOptions",
      "properties": {
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "columnFamilies": {
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "items": {
            "$ref": "BigtableColumnFamily"
          },
          "type": "array"
        },
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "QueryRequest": {
      "type": "object",
      "id": "QueryRequest",
      "properties": {
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "useQueryCache": {
          "default": "true",
          "type": "boolean",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true."
        },
        "requestId": {
          "type": "string",
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed."
        },
        "maxResults": {
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "type": "integer",
          "format": "uint32"
        },
        "query": {
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          },
          "type": "string",
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\"."
        },
        "useLegacySql": {
          "default": "true",
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false."
        },
        "location": {
          "type": "string",
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "maximumBytesBilled": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default."
        },
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false."
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "kind": {
          "description": "The resource type of the request.",
          "default": "bigquery#queryRequest",
          "type": "string"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'."
        },
        "queryParameters": {
          "type": "array",
          "description": "Query parameters for Standard SQL queries.",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "timeoutMs": {
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32",
          "type": "integer"
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "connectionProperties": {
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          },
          "description": "Connection properties."
        }
      }
    },
    "TransactionInfo": {
      "type": "object",
      "id": "TransactionInfo",
      "properties": {
        "transactionId": {
          "description": "[Output-only] // [Alpha] Id of the transaction.",
          "type": "string"
        }
      }
    },
    "TimePartitioning": {
      "type": "object",
      "id": "TimePartitioning",
      "properties": {
        "type": {
          "type": "string",
          "description": "[Required] The supported types are DAY, HOUR, MONTH, and YEAR, which will generate one partition per day, hour, month, and year, respectively. When the type is not specified, the default behavior is DAY."
        },
        "field": {
          "type": "string",
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED."
        },
        "requirePartitionFilter": {
          "type": "boolean"
        },
        "expirationMs": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value."
        }
      }
    },
    "JsonObject": {
      "description": "Represents a single JSON object.",
      "id": "JsonObject",
      "type": "object",
      "additionalProperties": {
        "$ref": "JsonValue"
      }
    },
    "Binding": {
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "description": "Associates `members` with a `role`."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "ExplainQueryStep": {
      "id": "ExplainQueryStep",
      "properties": {
        "substeps": {
          "description": "Human-readable stage descriptions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Machine-readable operation type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "SnapshotDefinition": {
      "type": "object",
      "id": "SnapshotDefinition",
      "properties": {
        "baseTableReference": {
          "description": "[Required] Reference describing the ID of the table that is snapshotted.",
          "$ref": "TableReference"
        },
        "snapshotTime": {
          "type": "string",
          "format": "date-time",
          "description": "[Required] The time at which the base table was snapshot."
        }
      }
    },
    "JobList": {
      "properties": {
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "kind": {
          "default": "bigquery#jobList",
          "type": "string",
          "description": "The resource type of the response."
        },
        "jobs": {
          "description": "List of jobs that were requested.",
          "items": {
            "type": "object",
            "properties": {
              "jobReference": {
                "$ref": "JobReference",
                "description": "Job reference uniquely identifying the job."
              },
              "kind": {
                "default": "bigquery#job",
                "description": "The resource type.",
                "type": "string"
              },
              "state": {
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                "type": "string"
              },
              "configuration": {
                "$ref": "JobConfiguration",
                "description": "[Full-projection-only] Specifies the job configuration."
              },
              "errorResult": {
                "description": "A result object that will be present only if the job has failed.",
                "$ref": "ErrorProto"
              },
              "status": {
                "$ref": "JobStatus",
                "description": "[Full-projection-only] Describes the state of the job."
              },
              "statistics": {
                "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
                "$ref": "JobStatistics"
              },
              "id": {
                "type": "string",
                "description": "Unique opaque ID of the job."
              },
              "user_email": {
                "description": "[Full-projection-only] Email address of the user who ran the job.",
                "type": "string"
              }
            }
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "JobList"
    },
    "JobReference": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this job.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string"
        },
        "jobId": {
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string"
        }
      },
      "type": "object",
      "id": "JobReference"
    },
    "Entry": {
      "description": "A single entry in the confusion matrix.",
      "type": "object",
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold \u003e 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Entry"
    },
    "ExternalDataConfiguration": {
      "id": "ExternalDataConfiguration",
      "properties": {
        "ignoreUnknownValues": {
          "type": "boolean",
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored."
        },
        "csvOptions": {
          "$ref": "CsvOptions",
          "description": "Additional properties to set if sourceFormat is set to CSV."
        },
        "bigtableOptions": {
          "$ref": "BigtableOptions",
          "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE."
        },
        "hivePartitioningOptions": {
          "description": "[Optional, Trusted Tester] Options to configure hive partitioning support.",
          "$ref": "HivePartitioningOptions"
        },
        "sourceUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard character is not allowed."
        },
        "maxBadRecords": {
          "format": "int32",
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV, JSON, and Google Sheets. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "type": "integer"
        },
        "googleSheetsOptions": {
          "$ref": "GoogleSheetsOptions",
          "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS."
        },
        "autodetect": {
          "description": "Try to detect schema and format options automatically. Any option specified explicitly will be honored.",
          "type": "boolean"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats."
        },
        "sourceFormat": {
          "description": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\".",
          "type": "string"
        },
        "connectionId": {
          "type": "string",
          "description": "[Optional, Trusted Tester] Connection for external data source."
        },
        "compression": {
          "description": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationMetrics": {
      "properties": {
        "multiClassClassificationMetrics": {
          "$ref": "MultiClassClassificationMetrics",
          "description": "Populated for multi-class classification/classifier models."
        },
        "clusteringMetrics": {
          "description": "Populated for clustering models.",
          "$ref": "ClusteringMetrics"
        },
        "arimaForecastingMetrics": {
          "$ref": "ArimaForecastingMetrics",
          "description": "Populated for ARIMA models."
        },
        "regressionMetrics": {
          "$ref": "RegressionMetrics",
          "description": "Populated for regression models and explicit feedback type matrix factorization models."
        },
        "binaryClassificationMetrics": {
          "$ref": "BinaryClassificationMetrics",
          "description": "Populated for binary classification/classifier models."
        },
        "rankingMetrics": {
          "$ref": "RankingMetrics",
          "description": "Populated for implicit feedback type matrix factorization models."
        }
      },
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models.",
      "type": "object",
      "id": "EvaluationMetrics"
    },
    "ListRoutinesResponse": {
      "id": "ListRoutinesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "routines": {
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
          "items": {
            "$ref": "Routine"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "BigtableColumnFamily": {
      "properties": {
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it."
        },
        "columns": {
          "type": "array",
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "items": {
            "$ref": "BigtableColumn"
          }
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BigtableColumnFamily"
    },
    "Clustering": {
      "type": "object",
      "id": "Clustering",
      "properties": {
        "fields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Repeated] One or more fields on which data should be clustered. Only top-level, non-repeated, simple-type fields are supported. When you cluster a table using multiple columns, the order of columns you specify is important. The order of the specified columns determines the sort order of the data."
        }
      }
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "properties": {
        "etag": {
          "description": "[Output-only] A hash of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "default": "bigquery#job",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "[Output-only] Opaque ID field of the job"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
        },
        "user_email": {
          "description": "[Output-only] Email address of the user who ran the job.",
          "type": "string"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        },
        "statistics": {
          "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
          "$ref": "JobStatistics"
        },
        "configuration": {
          "description": "[Required] Describes the job configuration.",
          "$ref": "JobConfiguration"
        }
      }
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
[...]
