{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "rootUrl": "https://bigquery.googleapis.com/",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "resources": {
    "projects": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ProjectList"
          },
          "path": "projects",
          "id": "bigquery.projects.list",
          "httpMethod": "GET",
          "description": "Lists all projects to which you have been granted any project role.",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getServiceAccount": {
          "httpMethod": "GET",
          "path": "projects/{projectId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID for which the service account is requested."
            }
          },
          "id": "bigquery.projects.getServiceAccount"
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "path": "{+resource}:setIamPolicy"
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
            }
          },
          "path": "{+resource}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          }
        },
        "list": {
          "id": "bigquery.rowAccessPolicies.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the row access policies to list."
            },
            "pageSize": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "tableId": {
              "pattern": "^[^/]+$",
              "description": "Required. Table ID of the table to list row access policies.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of row access policies to list.",
              "type": "string",
              "required": true
            }
          },
          "description": "Lists all row access policies on the specified table.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "testIamPermissions": {
          "path": "{+resource}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameterOrder": [
            "resource"
          ]
        }
      }
    },
    "datasets": {
      "methods": {
        "get": {
          "id": "bigquery.datasets.get",
          "parameters": {
            "projectId": {
              "description": "Project ID of the requested dataset",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the requested dataset"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "description": "Returns the dataset specified by datasetID.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Dataset"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the new dataset",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "description": "Creates a new empty dataset.",
          "id": "bigquery.datasets.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ]
        },
        "patch": {
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "request": {
            "$ref": "Dataset"
          },
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "required": true
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.patch"
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameters": {
            "projectId": {
              "description": "Project ID of the dataset being deleted",
              "type": "string",
              "location": "path",
              "required": true
            },
            "deleteContents": {
              "type": "boolean",
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of dataset being deleted",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.datasets.delete"
        },
        "update": {
          "id": "bigquery.datasets.update",
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Dataset"
          },
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the dataset being updated",
              "location": "path"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results to return",
              "type": "integer"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "all": {
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the datasets to be listed",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.datasets.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "DatasetList"
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "cancel": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "parameters": {
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the job to cancel",
              "type": "string",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "[Required] Project ID of the job to cancel",
              "required": true
            }
          },
          "id": "bigquery.jobs.cancel",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "response": {
            "$ref": "JobCancelResponse"
          }
        },
        "get": {
          "id": "bigquery.jobs.get",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET",
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "response": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "[Required] Project ID of the requested job"
            },
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            },
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{projectId}/jobs/{jobId}"
        },
        "delete": {
          "description": "Requests that a job is deleted. This call will return when the job is deleted. This method is available in limited preview.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.delete",
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "parameters": {
            "location": {
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the job to be deleted.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "jobId": {
              "type": "string",
              "description": "Required. Job ID of the job to be deleted. If this is a parent job which has child jobs, all child jobs will be deleted as well. Deletion of child jobs directly is not allowed.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "response": {
            "$ref": "JobList"
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/jobs",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "Maximum number of results to return",
              "type": "integer"
            },
            "projectId": {
              "description": "Project ID of the jobs to list",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "stateFilter": {
              "location": "query",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "type": "string",
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "description": "Filter for job state",
              "repeated": true
            },
            "allUsers": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to display jobs owned by all users in the project. Default false"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projection": {
              "location": "query",
              "description": "Restrict information returned to a set of selected fields",
              "enum": [
                "full",
                "minimal"
              ],
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "type": "string"
            },
            "maxCreationTime": {
              "location": "query",
              "type": "string",
              "format": "uint64",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "location": "query",
              "type": "string"
            },
            "minCreationTime": {
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "format": "uint64",
              "type": "string"
            }
          },
          "id": "bigquery.jobs.list"
        },
        "query": {
          "response": {
            "$ref": "QueryResponse"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the project billed for the query",
              "type": "string",
              "required": true
            }
          },
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "QueryRequest"
          },
          "path": "projects/{projectId}/queries",
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.jobs.query"
        },
        "getQueryResults": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/queries/{jobId}",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.getQueryResults",
          "description": "Retrieves the results of a query job.",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "parameters": {
            "timeoutMs": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "location": "query",
              "description": "Zero-based index of the starting row",
              "format": "uint64",
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "jobId": {
              "type": "string",
              "location": "path",
              "description": "[Required] Job ID of the query job",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "Maximum number of results to read"
            }
          }
        },
        "insert": {
          "id": "bigquery.jobs.insert",
          "request": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that will be billed for the job"
            }
          },
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "projects/{projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "response": {
            "$ref": "Job"
          },
          "supportsMediaUpload": true
        }
      }
    },
    "routines": {
      "methods": {
        "list": {
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "httpMethod": "GET",
          "id": "bigquery.routines.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the routines to list"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the routines to list",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "readMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language."
            },
            "filter": {
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          }
        },
        "update": {
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "httpMethod": "PUT",
          "id": "bigquery.routines.update",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the routine to update",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "routineId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Routine ID of the routine to update"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the routine to update"
            }
          },
          "request": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Routine"
          }
        },
        "delete": {
          "description": "Deletes the routine specified by routineId from the dataset.",
          "httpMethod": "DELETE",
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Required. Dataset ID of the routine to delete",
              "pattern": "^[^/]+$",
              "required": true
            },
            "routineId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Routine ID of the routine to delete"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID of the routine to delete",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.delete"
        },
        "get": {
          "id": "bigquery.routines.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "description": "Gets the specified routine resource by routine ID.",
          "parameters": {
            "readMask": {
              "location": "query",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the requested routine"
            },
            "routineId": {
              "description": "Required. Routine ID of the requested routine",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the requested routine",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "response": {
            "$ref": "Routine"
          },
          "httpMethod": "GET"
        },
        "insert": {
          "request": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Creates a new routine in the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "id": "bigquery.routines.insert",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "httpMethod": "POST",
          "response": {
            "$ref": "Routine"
          },
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of the new routine",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "description": "Required. Project ID of the new routine",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "tables": {
      "methods": {
        "patch": {
          "id": "bigquery.tables.patch",
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the table to update",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the table to update"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "PATCH",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "id": "bigquery.tables.get",
          "response": {
            "$ref": "Table"
          },
          "parameters": {
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the requested table",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the requested table"
            },
            "tableId": {
              "description": "Table ID of the requested table",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "insert": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the new table",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the new table",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Creates a new, empty table in the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.insert"
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "path": "{+resource}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "id": "bigquery.tables.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          }
        },
        "getIamPolicy": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "path": "{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "bigquery.tables.getIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string"
            }
          }
        },
        "setIamPolicy": {
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "id": "bigquery.tables.setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "response": {
            "$ref": "TableList"
          },
          "parameters": {
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the tables to list",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the tables to list",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "id": "bigquery.tables.list",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "update": {
          "id": "bigquery.tables.update",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "parameters": {
            "tableId": {
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the table to update",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the table to update"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Table"
          }
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to delete",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "tableId": {
              "description": "Table ID of the table to delete",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the table to delete",
              "location": "path"
            }
          }
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the destination table.",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the destination table."
            },
            "tableId": {
              "required": true,
              "location": "path",
              "description": "Table ID of the destination table.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "id": "bigquery.tabledata.insertAll",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          }
        },
        "list": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "response": {
            "$ref": "TableDataList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tabledata.list",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the table to read",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to read",
              "required": true
            },
            "selectedFields": {
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Table ID of the table to read"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, identifying the result set",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "startIndex": {
              "type": "string",
              "format": "uint64",
              "location": "query",
              "description": "Zero-based index of the starting row to read"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "models": {
      "methods": {
        "delete": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the model specified by modelId from the dataset.",
          "parameters": {
            "modelId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Model ID of the model to delete.",
              "required": true
            },
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to delete.",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the model to delete.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.models.delete"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets the specified model resource by model ID.",
          "parameters": {
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested model.",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the requested model.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "modelId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Model ID of the requested model."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "response": {
            "$ref": "Model"
          },
          "id": "bigquery.models.get",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the models to list.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query"
            },
            "datasetId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the models to list."
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "id": "bigquery.models.list",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.patch",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Model"
          },
          "description": "Patch specific fields in the specified model.",
          "request": {
            "$ref": "Model"
          },
          "parameters": {
            "modelId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Model ID of the model to patch."
            },
            "datasetId": {
              "description": "Required. Dataset ID of the model to patch.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to patch."
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        }
      }
    }
  },
  "batchPath": "batch/bigquery/v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        }
      }
    }
  },
  "revision": "20210518",
  "title": "BigQuery API",
  "basePath": "/bigquery/v2/",
  "servicePath": "bigquery/v2/",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "version": "v2",
  "id": "bigquery:v2",
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "schemas": {
    "Entry": {
      "description": "A single entry in the confusion matrix.",
      "id": "Entry",
      "type": "object",
      "properties": {
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "type": "string",
          "format": "int64"
        },
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold \u003e 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        }
      }
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models.",
      "properties": {
        "meanAbsoluteError": {
          "format": "double",
          "description": "Mean absolute error.",
          "type": "number"
        },
        "rSquared": {
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredError": {
          "format": "double",
          "type": "number",
          "description": "Mean squared error."
        },
        "meanSquaredLogError": {
          "description": "Mean squared log error.",
          "type": "number",
          "format": "double"
        },
        "medianAbsoluteError": {
          "type": "number",
          "description": "Median absolute error.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "JobConfigurationExtract": {
      "type": "object",
      "id": "JobConfigurationExtract",
      "properties": {
        "useAvroLogicalTypes": {
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models.",
          "type": "boolean"
        },
        "destinationUris": {
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destinationUri": {
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.",
          "type": "string"
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','. Not applicable when extracting models."
        },
        "destinationFormat": {
          "type": "string",
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL."
        },
        "compression": {
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models.",
          "type": "string"
        },
        "sourceModel": {
          "description": "A reference to the model being exported.",
          "$ref": "ModelReference"
        },
        "printHeader": {
          "type": "boolean",
          "default": "true",
          "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models."
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "A reference to the table being exported."
        }
      }
    },
    "ListRowAccessPoliciesResponse": {
      "type": "object",
      "properties": {
        "rowAccessPolicies": {
          "type": "array",
          "items": {
            "$ref": "RowAccessPolicy"
          },
          "description": "Row access policies on the requested table."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for the ListRowAccessPolicies method.",
      "id": "ListRowAccessPoliciesResponse"
    },
    "JobConfigurationQuery": {
      "properties": {
        "flattenResults": {
          "type": "boolean",
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "default": "true"
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "default": "true",
          "type": "boolean"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "tableDefinitions": {
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          },
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "type": "object"
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names."
        },
        "connectionProperties": {
          "description": "Connection properties.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          }
        },
        "allowLargeResults": {
          "default": "false",
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "type": "boolean"
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "useQueryCache": {
          "default": "true",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
          "type": "boolean"
        },
        "queryParameters": {
          "type": "array",
          "description": "Query parameters for standard SQL queries.",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array"
        },
        "priority": {
          "type": "string",
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE."
        },
        "query": {
          "type": "string",
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL."
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size."
        },
        "createSession": {
          "type": "boolean",
          "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
        },
        "maximumBillingTier": {
          "format": "int32",
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "default": "1",
          "type": "integer"
        },
        "schemaUpdateOptions": {
          "type": "array",
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "items": {
            "type": "string"
          }
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "JobConfigurationQuery",
      "type": "object"
    },
    "LocationMetadata": {
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "properties": {
        "legacyLocationId": {
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations.",
          "type": "string"
        }
      },
      "id": "LocationMetadata",
      "type": "object"
    },
    "AggregateClassificationMetrics": {
      "id": "AggregateClassificationMetrics",
      "properties": {
        "accuracy": {
          "type": "number",
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "format": "double"
        },
        "rocAuc": {
          "type": "number",
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric.",
          "format": "double"
        },
        "threshold": {
          "type": "number",
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "format": "double"
        },
        "f1Score": {
          "type": "number",
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
          "format": "double"
        },
        "recall": {
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
          "format": "double",
          "type": "number"
        },
        "precision": {
          "format": "double",
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "type": "number"
        },
        "logLoss": {
          "type": "number",
          "format": "double",
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric."
        }
      },
      "type": "object",
      "description": "Aggregate metrics for classification/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows."
    },
    "IterationResult": {
      "id": "IterationResult",
      "description": "Information about a single iteration of the training run.",
      "properties": {
        "trainingLoss": {
          "format": "double",
          "type": "number",
          "description": "Loss computed on the training data at the end of iteration."
        },
        "index": {
          "format": "int32",
          "description": "Index of the iteration, 0 based.",
          "type": "integer"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "type": "number",
          "format": "double"
        },
        "durationMs": {
          "type": "string",
          "format": "int64",
          "description": "Time taken to run the iteration in milliseconds."
        },
        "clusterInfos": {
          "type": "array",
          "items": {
            "$ref": "ClusterInfo"
          },
          "description": "Information about top clusters for clustering models."
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "arimaResult": {
          "$ref": "ArimaResult"
        }
      },
      "type": "object"
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "externalDataConfiguration": {
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "$ref": "ExternalDataConfiguration"
        },
        "model": {
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries.",
          "$ref": "ModelDefinition"
        },
        "expirationTime": {
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables.",
          "type": "string",
          "format": "int64"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch.",
          "format": "uint64"
        },
        "snapshotDefinition": {
          "$ref": "SnapshotDefinition",
          "description": "[Output-only] Snapshot definition."
        },
        "numPhysicalBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel."
        },
        "id": {
          "type": "string",
          "description": "[Output-only] An opaque ID uniquely identifying the table."
        },
        "numLongTermBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\"."
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "kind": {
          "default": "bigquery#table",
          "type": "string",
          "description": "[Output-only] The type of the resource."
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for this table."
        },
        "location": {
          "type": "string",
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset."
        },
        "materializedView": {
          "$ref": "MaterializedViewDefinition",
          "description": "[Optional] Materialized view definition."
        },
        "description": {
          "description": "[Optional] A user-friendly description of this table.",
          "type": "string"
        },
        "creationTime": {
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "type": {
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE.",
          "type": "string"
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "numBytes": {
          "format": "int64",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.",
          "type": "string"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] Describes the schema of this table."
        },
        "tableReference": {
          "description": "[Required] Reference describing the ID of this table.",
          "$ref": "TableReference"
        },
        "numRows": {
          "type": "string",
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "format": "uint64"
        },
        "streamingBuffer": {
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer.",
          "$ref": "Streamingbuffer"
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified.",
          "default": "false",
          "type": "boolean"
        }
      }
    },
    "HivePartitioningOptions": {
      "properties": {
        "sourceUriPrefix": {
          "type": "string",
          "description": "[Optional] When hive partition detection is requested, a common prefix for all source uris should be supplied. The prefix must end immediately before the partition key encoding begins. For example, consider files following this data layout. gs://bucket/path_to_table/dt=2019-01-01/country=BR/id=7/file.avro gs://bucket/path_to_table/dt=2018-12-31/country=CA/id=3/file.avro When hive partitioning is requested with either AUTO or STRINGS detection, the common prefix can be either of gs://bucket/path_to_table or gs://bucket/path_to_table/ (trailing slash does not matter)."
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified. Note that this field should only be true when creating a permanent external table or querying a temporary external table. Hive-partitioned loads with requirePartitionFilter explicitly set to true will fail.",
          "type": "boolean"
        },
        "mode": {
          "type": "string",
          "description": "[Optional] When set, what mode of hive partitioning to use when reading data. The following modes are supported. (1) AUTO: automatically infer partition key name(s) and type(s). (2) STRINGS: automatically infer partition key name(s). All types are interpreted as strings. (3) CUSTOM: partition key schema is encoded in the source URI prefix. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported types include: AVRO, CSV, JSON, ORC and Parquet."
        }
      },
      "id": "HivePartitioningOptions",
      "type": "object"
    },
    "ArimaFittingMetrics": {
      "description": "ARIMA model fitting metrics.",
      "type": "object",
      "id": "ArimaFittingMetrics",
      "properties": {
        "logLikelihood": {
          "description": "Log-likelihood.",
          "type": "number",
          "format": "double"
        },
        "aic": {
          "type": "number",
          "description": "AIC.",
          "format": "double"
        },
        "variance": {
          "description": "Variance.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "TableDataInsertAllResponse": {
      "id": "TableDataInsertAllResponse",
      "type": "object",
      "properties": {
        "insertErrors": {
          "items": {
            "properties": {
              "errors": {
                "type": "array",
                "description": "Error information for the row indicated by the index property.",
                "items": {
                  "$ref": "ErrorProto"
                }
              },
              "index": {
                "description": "The index of the row that error applies to.",
                "type": "integer",
                "format": "uint32"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "An array of errors for rows that were not inserted."
        },
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#tableDataInsertAllResponse"
        }
      }
    },
    "QueryTimelineSample": {
      "type": "object",
      "properties": {
        "activeUnits": {
          "type": "string",
          "description": "Total number of units currently being processed by workers. This does not correspond directly to slot usage. This is the largest value observed since the last sample.",
          "format": "int64"
        },
        "elapsedMs": {
          "format": "int64",
          "description": "Milliseconds elapsed since the start of query execution.",
          "type": "string"
        },
        "totalSlotMs": {
          "type": "string",
          "format": "int64",
          "description": "Cumulative slot-ms consumed by the query."
        },
        "pendingUnits": {
          "description": "Total parallel units of work remaining for the active stages.",
          "format": "int64",
          "type": "string"
        },
        "completedUnits": {
          "type": "string",
          "format": "int64",
          "description": "Total parallel units of work completed by this query."
        }
      },
      "id": "QueryTimelineSample"
    },
    "JobConfigurationTableCopy": {
      "id": "JobConfigurationTableCopy",
      "properties": {
        "destinationTable": {
          "description": "[Required] The destination table",
          "$ref": "TableReference"
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "sourceTable": {
          "$ref": "TableReference",
          "description": "[Pick one] Source table to copy."
        },
        "operationType": {
          "type": "string",
          "description": "[Optional] Supported operation types in table copy job."
        },
        "sourceTables": {
          "items": {
            "$ref": "TableReference"
          },
          "type": "array",
          "description": "[Pick one] Source tables to copy."
        },
        "destinationExpirationTime": {
          "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed.",
          "type": "any"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TrainingRun": {
      "id": "TrainingRun",
      "description": "Information about a single training query run for the model.",
      "properties": {
        "evaluationMetrics": {
          "description": "The evaluation metrics over training/eval data that were computed at the end of training.",
          "$ref": "EvaluationMetrics"
        },
        "results": {
          "description": "Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "dataSplitResult": {
          "$ref": "DataSplitResult",
          "description": "Data split result of the training run. Only set when the input data is actually split."
        },
        "startTime": {
          "description": "The start time of this training run.",
          "type": "string",
          "format": "google-datetime"
        },
        "trainingOptions": {
          "$ref": "TrainingOptions",
          "description": "Options that were used for this training run, includes user specified and default options that were used."
        },
        "globalExplanations": {
          "description": "Global explanations for important features of the model. For multi-class models, there is one entry for each label class. For other models, there is only one entry in the list.",
          "items": {
            "$ref": "GlobalExplanation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Argument": {
      "description": "Input/output argument of a function or a stored procedure.",
      "id": "Argument",
      "type": "object",
      "properties": {
        "argumentKind": {
          "type": "string",
          "enum": [
            "ARGUMENT_KIND_UNSPECIFIED",
            "FIXED_TYPE",
            "ANY_TYPE"
          ],
          "enumDescriptions": [
            "",
            "The argument is a variable with fully specified type, which can be a struct or an array, but not a table.",
            "The argument is any type, including struct or array, but not a table. To be added: FIXED_TABLE, ANY_TABLE"
          ],
          "description": "Optional. Defaults to FIXED_TYPE."
        },
        "name": {
          "description": "Optional. The name of this argument. Can be absent for function return argument.",
          "type": "string"
        },
        "dataType": {
          "description": "Required unless argument_kind = ANY_TYPE.",
          "$ref": "StandardSqlDataType"
        },
        "mode": {
          "enumDescriptions": [
            "",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "description": "Optional. Specifies whether the argument is input or output. Can be set for procedures only.",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "type": "string"
        }
      }
    },
    "Clustering": {
      "id": "Clustering",
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Repeated] One or more fields on which data should be clustered. Only top-level, non-repeated, simple-type fields are supported. When you cluster a table using multiple columns, the order of columns you specify is important. The order of the specified columns determines the sort order of the data."
        }
      }
    },
    "ArimaResult": {
      "properties": {
        "arimaModelInfo": {
          "type": "array",
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        },
        "seasonalPeriods": {
          "type": "array",
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "items": {
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ]
          }
        }
[...]
