{
  "batchPath": "batch/bigquery/v2",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "getServiceAccount": {
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID for which the service account is requested."
            }
          },
          "path": "projects/{projectId}/serviceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.projects.getServiceAccount",
          "parameterOrder": [
            "projectId"
          ]
        },
        "list": {
          "description": "Lists all projects to which you have been granted any project role.",
          "path": "projects",
          "id": "bigquery.projects.list",
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ProjectList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "datasets": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a new empty dataset.",
          "path": "projects/{projectId}/datasets",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the new dataset"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Dataset"
          },
          "request": {
            "$ref": "Dataset"
          },
          "id": "bigquery.datasets.insert"
        },
        "delete": {
          "id": "bigquery.datasets.delete",
          "parameters": {
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Dataset ID of dataset being deleted",
              "required": true
            },
            "projectId": {
              "description": "Project ID of the dataset being deleted",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deleteContents": {
              "type": "boolean",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "location": "query"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "list": {
          "id": "bigquery.datasets.list",
          "response": {
            "$ref": "DatasetList"
          },
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "all": {
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean"
            },
            "projectId": {
              "description": "Project ID of the datasets to be listed",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of results to return",
              "location": "query"
            },
            "filter": {
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/datasets"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "description": "Returns the dataset specified by datasetID.",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the requested dataset",
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Dataset ID of the requested dataset"
            }
          },
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.get"
        },
        "patch": {
          "id": "bigquery.datasets.patch",
          "parameters": {
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the dataset being updated"
            }
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "PATCH"
        },
        "update": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update",
          "parameters": {
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the dataset being updated",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the dataset being updated",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "PUT",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "tables": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Table"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.update",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "autodetect_schema": {
              "description": "When true will autodetect schema, else will keep original schema",
              "type": "boolean",
              "location": "query"
            },
            "tableId": {
              "required": true,
              "type": "string",
              "description": "Table ID of the table to update",
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the table to update",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the table to update",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "tableId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Table ID of the table to delete"
            },
            "projectId": {
              "description": "Project ID of the table to delete",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "description": "Dataset ID of the table to delete",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "bigquery.tables.delete",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "insert": {
          "parameters": {
            "projectId": {
              "description": "Project ID of the new table",
              "location": "path",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the new table",
              "required": true,
              "type": "string"
            }
          },
          "id": "bigquery.tables.insert",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "httpMethod": "POST",
          "description": "Creates a new, empty table in the dataset."
        },
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "httpMethod": "POST",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "id": "bigquery.tables.testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:testIamPermissions"
        },
        "list": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.tables.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TableList"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the tables to list",
              "required": true,
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the tables to list",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            }
          },
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "httpMethod": "GET"
        },
        "patch": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "autodetect_schema": {
              "type": "boolean",
              "description": "When true will autodetect schema, else will keep original schema",
              "location": "query"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            },
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the table to update",
              "type": "string"
            },
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Table"
          },
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PATCH",
          "id": "bigquery.tables.patch"
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tables.get",
          "parameters": {
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Table ID of the requested table"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the requested table"
            },
            "view": {
              "enumDescriptions": [
                "Includes basic table information including schema and partitioning specification. This view does not include storage statistics such as numRows or numBytes. This view is significantly more efficient and should be used to support high query rates.",
                "Includes all table information, including storage statistics. It returns same information as STORAGE_STATS view, but may contain additional information in the future.",
                "Includes all information in the BASIC view as well as storage statistics (numBytes, numLongTermBytes, numRows and lastModifiedTime).",
                "The default value. Default to the STORAGE_STATS view."
              ],
              "description": "Specifies the view that determines which table information is returned. By default, basic table information and storage statistics (STORAGE_STATS) are returned.",
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL",
                "STORAGE_STATS",
                "TABLE_METADATA_VIEW_UNSPECIFIED"
              ]
            },
            "selectedFields": {
              "location": "query",
              "type": "string",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "projectId": {
              "description": "Project ID of the requested table",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Table"
          },
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "setIamPolicy": {
          "id": "bigquery.tables.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:setIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "Policy"
          },
          "path": "{+resource}:getIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.tables.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          }
        }
      }
    },
    "jobs": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/jobs/{+jobId}/delete",
          "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted.",
          "id": "bigquery.jobs.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/jobs/{jobsId}/delete",
          "parameters": {
            "jobId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Job ID of the job for which metadata is to be deleted. If this is a parent job which has child jobs, the metadata from all child jobs will be deleted as well. Direct deletion of the metadata of child jobs is not allowed.",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "description": "Required. Project ID of the job for which metadata is to be deleted.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required. See details at: https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "getQueryResults": {
          "id": "bigquery.jobs.getQueryResults",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "[Required] Project ID of the query job"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "timeoutMs": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "maxResults": {
              "description": "Maximum number of results to read",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "jobId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "[Required] Job ID of the query job"
            }
          },
          "path": "projects/{projectId}/queries/{jobId}",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves the results of a query job.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "cancel": {
          "parameters": {
            "projectId": {
              "description": "[Required] Project ID of the job to cancel",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            },
            "jobId": {
              "required": true,
              "description": "[Required] Job ID of the job to cancel",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "JobCancelResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "id": "bigquery.jobs.cancel"
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "httpMethod": "GET",
          "parameters": {
            "jobId": {
              "location": "path",
              "description": "[Required] Job ID of the requested job",
              "type": "string",
              "required": true
            },
            "projectId": {
              "location": "path",
              "description": "[Required] Project ID of the requested job",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Job"
          },
          "id": "bigquery.jobs.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{projectId}/jobs/{jobId}",
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "projection": {
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "location": "query",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ]
            },
            "projectId": {
              "type": "string",
              "description": "Project ID of the jobs to list",
              "location": "path",
              "required": true
            },
            "minCreationTime": {
              "type": "string",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "location": "query",
              "format": "uint64"
            },
            "stateFilter": {
              "repeated": true,
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "location": "query",
              "type": "string",
              "description": "Filter for job state"
            },
            "maxCreationTime": {
              "format": "uint64",
              "location": "query",
              "type": "string",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "allUsers": {
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "type": "boolean"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "JobList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.list",
          "path": "projects/{projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property."
        },
        "query": {
          "request": {
            "$ref": "QueryRequest"
          },
          "id": "bigquery.jobs.query",
          "path": "projects/{projectId}/queries",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "QueryResponse"
          },
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "insert": {
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the project that will be billed for the job",
              "required": true,
              "location": "path"
            }
          },
          "supportsMediaUpload": true,
          "id": "bigquery.jobs.insert",
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "request": {
            "$ref": "Job"
          },
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs",
          "description": "Starts a new asynchronous job. Requires the Can View project role.",
          "parameterOrder": [
            "projectId"
          ]
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "path": "{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "httpMethod": "POST"
        },
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "httpMethod": "GET",
          "description": "Lists all row access policies on the specified table.",
          "parameters": {
            "tableId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Table ID of the table to list row access policies.",
              "pattern": "^[^/]+$"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of row access policies to list.",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the row access policies to list."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.rowAccessPolicies.list"
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy"
        },
        "testIamPermissions": {
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "{+resource}:testIamPermissions",
          "parameters": {
            "resource": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "httpMethod": "POST"
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the destination table.",
              "type": "string",
              "location": "path"
            },
            "tableId": {
              "description": "Table ID of the destination table.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Project ID of the destination table.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "id": "bigquery.tabledata.insertAll",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "startIndex": {
              "location": "query",
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, identifying the result set"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to read",
              "type": "string"
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to read",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the table to read"
            }
          },
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "response": {
            "$ref": "TableDataList"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "id": "bigquery.tabledata.list"
        }
      }
    },
    "models": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Model"
          },
          "description": "Gets the specified model resource by model ID.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Dataset ID of the requested model."
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Model ID of the requested model."
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the requested model.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "id": "bigquery.models.get",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "id": "bigquery.models.patch",
          "parameters": {
            "modelId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to patch."
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the model to patch.",
              "required": true
            },
            "datasetId": {
              "description": "Required. Dataset ID of the model to patch.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "response": {
            "$ref": "Model"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "httpMethod": "PATCH",
          "description": "Patch specific fields in the specified model."
        },
        "delete": {
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the model to delete.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "modelId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Model ID of the model to delete."
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the model to delete.",
              "required": true
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "description": "Deletes the model specified by modelId from the dataset.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.models.delete",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        },
        "list": {
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the models to list.",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call to request the next page of results"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "id": "bigquery.models.list",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "httpMethod": "GET",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role. After retrieving the list of models, you can get information about a particular model by calling the models.get method.",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        }
      }
    },
    "routines": {
      "methods": {
        "get": {
          "description": "Gets the specified routine resource by routine ID.",
          "response": {
            "$ref": "Routine"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameters": {
            "routineId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the requested routine",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the requested routine",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the requested routine",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "location": "query"
            }
          },
          "id": "bigquery.routines.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.routines.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "routineId": {
              "required": true,
              "description": "Required. Routine ID of the routine to delete",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to delete",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Deletes the routine specified by routineId from the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "httpMethod": "DELETE"
        },
        "update": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "httpMethod": "PUT",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "parameters": {
            "routineId": {
              "location": "path",
              "type": "string",
              "description": "Required. Routine ID of the routine to update",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "description": "Required. Project ID of the routine to update",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "description": "Required. Dataset ID of the routine to update",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "Routine"
          },
          "response": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.update"
        },
        "insert": {
          "response": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "id": "bigquery.routines.insert",
          "description": "Creates a new routine in the dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the new routine",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the new routine",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Routine"
          }
        },
        "list": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "id": "bigquery.routines.list",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\"."
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the routines to list",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "description": "Required. Project ID of the routines to list",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines"
        }
      }
    }
  },
  "schemas": {
    "StandardSqlField": {
      "type": "object",
      "id": "StandardSqlField",
      "description": "A field or a column.",
      "properties": {
        "type": {
          "$ref": "StandardSqlDataType",
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field)."
        },
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        }
      }
    },
    "BiEngineStatistics": {
      "id": "BiEngineStatistics",
      "type": "object",
      "properties": {
        "biEngineMode": {
          "type": "string",
          "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
          "default": ""
        },
        "accelerationMode": {
          "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
          "type": "string",
          "default": ""
        },
        "biEngineReasons": {
          "description": "In case of DISABLED or PARTIAL bi_engine_mode, these contain the explanatory reasons as to why BI Engine could not accelerate. In case the full query was accelerated, this field is not populated.",
          "items": {
            "$ref": "BiEngineReason"
          },
          "type": "array"
        }
      }
    },
    "UserDefinedFunctionResource": {
      "description": "This is used for defining User Defined Function (UDF) resources only when using legacy SQL. Users of Standard SQL should leverage either DDL (e.g. CREATE [TEMPORARY] FUNCTION ... ) or the Routines API to define UDF resources. For additional information on migrating, see: https://cloud.google.com/bigquery/docs/reference/standard-sql/migrating-from-legacy-sql#differences_in_user-defined_javascript_functions",
      "type": "object",
      "properties": {
        "inlineCode": {
          "type": "string",
          "description": "[Pick one] An inline resource that contains code for a user-defined function (UDF). Providing a inline code resource is equivalent to providing a URI for a file containing the same code."
        },
        "resourceUri": {
          "type": "string",
          "description": "[Pick one] A code resource to load from a Google Cloud Storage URI (gs://bucket/path)."
        }
      },
      "id": "UserDefinedFunctionResource"
    },
    "SparkStatistics": {
      "type": "object",
      "properties": {
        "logging_info": {
          "$ref": "SparkLoggingInfo",
          "description": "[Output-only] Logging info is used to generate a link to Cloud Logging."
        },
        "endpoints": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "[Output-only] Endpoints generated for the Spark job."
        },
        "spark_job_location": {
          "type": "string",
          "description": "[Output-only] Location where the Spark job is executed."
        },
        "spark_job_id": {
          "type": "string",
          "description": "[Output-only] Spark job id if a Spark job is created successfully."
        }
      },
      "id": "SparkStatistics"
    },
    "JobList": {
      "id": "JobList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The resource type of the response.",
          "default": "bigquery#jobList"
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "description": "List of jobs that were requested.",
          "items": {
            "type": "object",
            "properties": {
              "jobReference": {
                "description": "Job reference uniquely identifying the job.",
                "$ref": "JobReference"
              },
              "state": {
                "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.",
                "type": "string"
              },
              "status": {
                "description": "[Full-projection-only] Describes the state of the job.",
                "$ref": "JobStatus"
              },
              "id": {
                "type": "string",
                "description": "Unique opaque ID of the job."
              },
              "statistics": {
                "$ref": "JobStatistics",
                "description": "[Output-only] Information about the job, including starting time and ending time of the job."
              },
              "errorResult": {
                "description": "A result object that will be present only if the job has failed.",
                "$ref": "ErrorProto"
              },
              "user_email": {
                "type": "string",
                "description": "[Full-projection-only] Email address of the user who ran the job."
              },
              "kind": {
                "default": "bigquery#job",
                "type": "string",
                "description": "The resource type."
              },
              "configuration": {
                "$ref": "JobConfiguration",
                "description": "[Full-projection-only] Specifies the job configuration."
              }
            }
          }
        }
      }
    },
    "ViewDefinition": {
      "id": "ViewDefinition",
      "properties": {
        "useLegacySql": {
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL for this view. The default value is true. If set to false, the view will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ Queries and views that reference this view must use the same flag value."
        },
        "useExplicitColumnNames": {
          "description": "True if the column names are explicitly specified. For example by using the 'CREATE VIEW v(c1, c2) AS ...' syntax. Can only be set using BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/",
          "type": "boolean"
        },
        "query": {
          "description": "[Required] A query that BigQuery executes when the view is referenced.",
          "type": "string"
        },
        "userDefinedFunctionResources": {
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "description": "Describes user-defined function resources used in the query.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SparkLoggingInfo": {
      "id": "SparkLoggingInfo",
      "type": "object",
      "properties": {
        "project_id": {
          "description": "[Output-only] Project ID used for logging",
          "type": "string"
        },
        "resource_type": {
          "type": "string",
          "description": "[Output-only] Resource type used for logging"
        }
      }
    },
    "IntArrayHparamSearchSpace": {
      "type": "object",
      "id": "IntArrayHparamSearchSpace",
      "description": "Search space for int array.",
      "properties": {
        "candidates": {
          "description": "Candidates for the int array parameter.",
          "type": "array",
          "items": {
            "$ref": "IntArray"
          }
        }
      }
    },
    "ArimaOrder": {
      "type": "object",
      "id": "ArimaOrder",
      "properties": {
        "q": {
          "type": "string",
          "format": "int64",
          "description": "Order of the moving-average part."
        },
        "p": {
          "description": "Order of the autoregressive part.",
          "type": "string",
          "format": "int64"
        },
        "d": {
          "type": "string",
          "description": "Order of the differencing part.",
          "format": "int64"
        }
      },
      "description": "Arima order, can be used for both non-seasonal and seasonal parts."
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "TransactionInfo": {
      "type": "object",
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "[Output-only] // [Alpha] Id of the transaction."
        }
      },
      "id": "TransactionInfo"
    },
    "RoutineReference": {
      "id": "RoutineReference",
      "properties": {
        "projectId": {
          "description": "[Required] The ID of the project containing this routine.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this routine."
        },
        "routineId": {
          "type": "string",
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters."
        }
      },
      "type": "object"
    },
    "CloneDefinition": {
      "properties": {
        "cloneTime": {
          "type": "string",
          "description": "[Required] The time at which the base table was cloned. This value is reported in the JSON response using RFC3339 format.",
          "format": "date-time"
        },
        "baseTableReference": {
          "description": "[Required] Reference describing the ID of the table that was cloned.",
          "$ref": "TableReference"
        }
      },
      "id": "CloneDefinition",
      "type": "object"
    },
    "TableDataInsertAllRequest": {
      "properties": {
        "skipInvalidRows": {
          "type": "boolean",
          "description": "[Optional] Insert all valid rows of a request, even if invalid rows exist. The default value is false, which causes the entire request to fail if any invalid rows exist."
        },
        "templateSuffix": {
          "description": "If specified, treats the destination table as a base template, and inserts the rows into an instance table named \"{destination}{templateSuffix}\". BigQuery will manage creation of the instance table, using the schema of the base template table. See https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for considerations when working with templates tables.",
          "type": "string"
        },
        "rows": {
          "description": "The rows to insert.",
          "items": {
            "type": "object",
            "properties": {
              "insertId": {
                "description": "[Optional] A unique ID for each row. BigQuery uses this property to detect duplicate insertion requests on a best-effort basis.",
                "type": "string"
              },
              "json": {
                "$ref": "JsonObject",
                "description": "[Required] A JSON object that contains a row of data. The object's properties and values must match the destination table's schema."
              }
            }
          },
          "type": "array"
        },
        "ignoreUnknownValues": {
          "type": "boolean",
          "description": "[Optional] Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors."
        },
        "kind": {
          "default": "bigquery#tableDataInsertAllRequest",
          "description": "The resource type of the response.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TableDataInsertAllRequest"
    },
    "JobCancelResponse": {
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "type": "string",
          "default": "bigquery#jobCancelResponse"
        },
        "job": {
          "description": "The final state of the job.",
          "$ref": "Job"
        }
      },
      "id": "JobCancelResponse",
      "type": "object"
    },
    "FeatureValue": {
      "properties": {
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "type": "number",
          "format": "double"
        },
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        },
        "categoricalValue": {
          "description": "The categorical feature value.",
          "$ref": "CategoricalValue"
        }
      },
      "description": "Representative value of a single feature within the cluster.",
      "type": "object",
      "id": "FeatureValue"
    },
    "RowAccessPolicy": {
      "type": "object",
      "properties": {
        "rowAccessPolicyReference": {
          "$ref": "RowAccessPolicyReference",
          "description": "Required. Reference describing the ID of this row access policy."
        },
        "filterPredicate": {
          "description": "Required. A SQL boolean expression that represents the rows defined by this row access policy, similar to the boolean expression in a WHERE clause of a SELECT query on a table. References to other tables, routines, and temporary functions are not supported. Examples: region=\"EU\" date_field = CAST('2019-9-27' as DATE) nullable_field is not NULL numeric_field BETWEEN 1.0 AND 5.0",
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when this row access policy was created, in milliseconds since the epoch."
        },
        "lastModifiedTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this row access policy was last modified, in milliseconds since the epoch.",
          "format": "google-datetime"
        }
      },
      "description": "Represents access on a subset of rows on the specified table, defined by its filter predicate. Access to the subset of rows is controlled by its IAM policy.",
      "id": "RowAccessPolicy"
    },
    "TrainingRun": {
      "properties": {
        "evaluationMetrics": {
          "$ref": "EvaluationMetrics",
          "readOnly": true,
          "description": "Output only. The evaluation metrics over training/eval data that were computed at the end of training."
        },
        "vertexAiModelId": {
          "description": "The model id in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run.",
          "type": "string"
        },
        "results": {
          "readOnly": true,
          "description": "Output only. Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "vertexAiModelVersion": {
          "type": "string",
          "description": "Output only. The model version in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of this training run.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "modelLevelGlobalExplanation": {
          "description": "Output only. Global explanation contains the explanation of top features on the model level. Applies to both regression and classification models.",
          "$ref": "GlobalExplanation",
          "readOnly": true
        },
        "trainingStartTime": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The start time of this training run, in milliseconds since epoch."
        },
        "trainingOptions": {
          "$ref": "TrainingOptions",
          "readOnly": true,
          "description": "Output only. Options that were used for this training run, includes user specified and default options that were used."
        },
        "dataSplitResult": {
          "description": "Output only. Data split result of the training run. Only set when the input data is actually split.",
          "$ref": "DataSplitResult",
          "readOnly": true
        },
        "classLevelGlobalExplanations": {
          "description": "Output only. Global explanation contains the explanation of top features on the class level. Applies to classification models only.",
          "items": {
            "$ref": "GlobalExplanation"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Information about a single training query run for the model.",
      "id": "TrainingRun",
      "type": "object"
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "description": "A single row in the confusion matrix.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Info describing predicted label distribution.",
          "items": {
            "$ref": "Entry"
          }
        },
        "actualLabel": {
          "type": "string",
          "description": "The original label of this row."
        }
      }
    },
    "IterationResult": {
      "id": "IterationResult",
      "type": "object",
      "properties": {
        "trainingLoss": {
          "format": "double",
          "description": "Loss computed on the training data at the end of iteration.",
          "type": "number"
        },
        "durationMs": {
          "format": "int64",
          "type": "string",
          "description": "Time taken to run the iteration in milliseconds."
        },
        "evalLoss": {
          "type": "number",
          "format": "double",
          "description": "Loss computed on the eval data at the end of iteration."
        },
        "index": {
          "description": "Index of the iteration, 0 based.",
          "type": "integer",
          "format": "int32"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "BigQueryModelTraining": {
      "type": "object",
      "properties": {
        "currentIteration": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress."
        },
        "expectedTotalIterations": {
          "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "BigQueryModelTraining"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "IntCandidates": {
      "id": "IntCandidates",
      "properties": {
        "candidates": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Candidates for the int parameter in increasing order.",
          "type": "array"
        }
      },
      "description": "Discrete candidates of an int hyperparameter.",
      "type": "object"
    },
    "ListModelsResponse": {
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "Model"
          },
          "description": "Models in the requested dataset. Only the following fields are populated: model_reference, model_type, creation_time, last_modified_time and labels."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListModelsResponse"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "BigtableOptions": {
      "type": "object",
      "properties": {
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
          "type": "boolean"
        },
        "columnFamilies": {
          "items": {
            "$ref": "BigtableColumnFamily"
          },
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "type": "array"
        }
      },
      "id": "BigtableOptions"
    },
    "BigtableColumn": {
      "properties": {
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels."
        },
        "qualifierEncoded": {
          "type": "string",
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "format": "byte"
        },
        "qualifierString": {
          "type": "string"
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels."
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BigtableColumn"
    },
    "BinaryConfusionMatrix": {
      "description": "Confusion matrix for binary classification models.",
      "id": "BinaryConfusionMatrix",
      "properties": {
        "truePositives": {
          "type": "string",
          "description": "Number of true samples predicted as true.",
          "format": "int64"
        },
        "recall": {
          "format": "double",
          "type": "number",
          "description": "The fraction of actual positive labels that were given a positive prediction."
        },
        "falseNegatives": {
          "description": "Number of false samples predicted as false.",
          "type": "string",
          "format": "int64"
        },
        "positiveClassThreshold": {
          "format": "double",
          "description": "Threshold value used when computing each of the following metric.",
          "type": "number"
        },
        "falsePositives": {
          "description": "Number of false samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "f1Score": {
          "type": "number",
          "description": "The equally weighted average of recall and precision.",
          "format": "double"
        },
        "precision": {
          "format": "double",
          "description": "The fraction of actual positive predictions that had positive actual labels.",
          "type": "number"
        },
        "trueNegatives": {
          "type": "string",
          "description": "Number of true samples predicted as false.",
          "format": "int64"
        },
        "accuracy": {
          "description": "The fraction of predictions given the correct label.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "DataSplitResult": {
      "properties": {
        "testTable": {
          "$ref": "TableReference",
          "description": "Table reference of the test data after split."
        },
        "evaluationTable": {
          "description": "Table reference of the evaluation data after split.",
          "$ref": "TableReference"
        },
        "trainingTable": {
          "$ref": "TableReference",
          "description": "Table reference of the training data after split."
        }
      },
      "id": "DataSplitResult",
      "description": "Data split result. This contains references to the training and evaluation data tables that were used to train the model.",
      "type": "object"
    },
    "JsonValue": {
      "type": "any",
      "id": "JsonValue"
    },
    "DoubleHparamSearchSpace": {
      "type": "object",
      "description": "Search space for a double hyperparameter.",
      "id": "DoubleHparamSearchSpace",
      "properties": {
        "candidates": {
          "description": "Candidates of the double hyperparameter.",
          "$ref": "DoubleCandidates"
        },
        "range": {
          "$ref": "DoubleRange",
          "description": "Range of the double hyperparameter."
        }
      }
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "numRows": {
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "type": "string",
          "format": "uint64"
        },
        "defaultRoundingMode": {
          "description": "[Output-only] The default rounding mode of the table.",
          "type": "string"
        },
        "num_long_term_logical_bytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Number of logical bytes that are more than 90 days old."
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] Describes the schema of this table."
        },
        "num_time_travel_physical_bytes": {
          "description": "[Output-only] Number of physical bytes used by time travel storage (deleted or changed data). This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "type": "string",
          "format": "int64"
        },
        "externalDataConfiguration": {
          "$ref": "ExternalDataConfiguration",
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "tableReference": {
          "description": "[Required] Reference describing the ID of this table.",
          "$ref": "TableReference"
        },
        "num_total_logical_bytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Total number of logical bytes in the table or materialized view."
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of this table."
        },
        "view": {
          "description": "[Optional] The view definition.",
          "$ref": "ViewDefinition"
        },
        "cloneDefinition": {
          "description": "[Output-only] Clone definition.",
          "$ref": "CloneDefinition"
        },
        "snapshotDefinition": {
          "$ref": "SnapshotDefinition",
          "description": "[Output-only] Snapshot definition."
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for this table."
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "numBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#table"
        },
        "numLongTermBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\"."
        },
        "num_long_term_physical_bytes": {
          "type": "string",
          "description": "[Output-only] Number of physical bytes more than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64"
        },
        "model": {
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries.",
          "$ref": "ModelDefinition"
        },
        "defaultCollation": {
          "type": "string",
          "description": "[Output-only] The default collation of the table."
        },
        "type": {
          "type": "string",
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE."
        },
        "numPhysicalBytes": {
[...]
