{
  "version": "v2",
  "description": "A data platform for customers to create, manage, share and query data.",
  "ownerDomain": "google.com",
  "rootUrl": "https://bigquery.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20201007",
  "ownerName": "Google",
  "basePath": "/bigquery/v2/",
  "servicePath": "bigquery/v2/",
  "batchPath": "batch/bigquery/v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/bigquery.readonly": {
          "description": "View your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/search-16.gif",
    "x32": "https://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "title": "BigQuery API",
  "resources": {
    "datasets": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DatasetList"
          },
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details."
            },
            "all": {
              "location": "query",
              "description": "Whether to list all datasets, including hidden ones",
              "type": "boolean"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the datasets to be listed",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of results to return",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            }
          },
          "id": "bigquery.datasets.list",
          "httpMethod": "GET",
          "path": "projects/{projectId}/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "id": "bigquery.datasets.delete",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the dataset being deleted",
              "location": "path",
              "required": true
            },
            "deleteContents": {
              "location": "query",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
              "type": "boolean"
            },
            "datasetId": {
              "description": "Dataset ID of dataset being deleted",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the requested dataset",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the requested dataset",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.datasets.get",
          "description": "Returns the dataset specified by datasetID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Dataset"
          }
        },
        "update": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Project ID of the dataset being updated",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of the dataset being updated",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.update",
          "httpMethod": "PUT"
        },
        "insert": {
          "parameterOrder": [
            "projectId"
          ],
          "id": "bigquery.datasets.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Creates a new empty dataset.",
          "request": {
            "$ref": "Dataset"
          },
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the new dataset",
              "required": true
            }
          }
        },
        "patch": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Dataset"
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the dataset being updated",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "bigquery.datasets.patch",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics."
        }
      }
    },
    "jobs": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Job"
          },
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "description": "Project ID of the project that will be billed for the job",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "resumable": {
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "id": "bigquery.jobs.insert",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "description": "Starts a new asynchronous job. Requires the Can View project role."
        },
        "cancel": {
          "id": "bigquery.jobs.cancel",
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "jobId": {
              "type": "string",
              "location": "path",
              "description": "[Required] Job ID of the job to cancel",
              "required": true
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "[Required] Project ID of the job to cancel",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "httpMethod": "POST"
        },
        "query": {
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project billed for the query",
              "type": "string"
            }
          },
          "path": "projects/{projectId}/queries",
          "id": "bigquery.jobs.query",
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "QueryRequest"
          },
          "httpMethod": "POST"
        },
        "getQueryResults": {
          "description": "Retrieves the results of a query job.",
          "id": "bigquery.jobs.getQueryResults",
          "parameters": {
            "startIndex": {
              "location": "query",
              "type": "string",
              "description": "Zero-based index of the starting row",
              "format": "uint64"
            },
            "jobId": {
              "description": "[Required] Job ID of the query job",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to read"
            },
            "timeoutMs": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "path": "projects/{projectId}/queries/{jobId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "bigquery.jobs.list",
          "path": "projects/{projectId}/jobs",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameters": {
            "minCreationTime": {
              "type": "string",
              "format": "uint64",
              "location": "query",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned"
            },
            "stateFilter": {
              "description": "Filter for job state",
              "repeated": true,
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "type": "string",
              "location": "query"
            },
            "parentJobId": {
              "type": "string",
              "location": "query",
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent"
            },
            "projection": {
              "enum": [
                "full",
                "minimal"
              ],
              "description": "Restrict information returned to a set of selected fields",
              "location": "query",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the jobs to list"
            },
            "allUsers": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to display jobs owned by all users in the project. Default false"
            },
            "maxCreationTime": {
              "format": "uint64",
              "type": "string",
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          },
          "response": {
            "$ref": "JobList"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "projects/{projectId}/jobs/{jobId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.jobs.get",
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "[Required] Project ID of the requested job"
            },
            "jobId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the requested job"
            },
            "location": {
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Job"
          }
        }
      }
    },
    "tables": {
      "methods": {
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "id": "bigquery.tables.setIamPolicy",
          "path": "{+resource}:setIamPolicy"
        },
        "patch": {
          "id": "bigquery.tables.patch",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "PATCH",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "request": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "tableId": {
              "location": "path",
              "required": true,
              "description": "Table ID of the table to update",
              "type": "string"
            },
            "projectId": {
              "description": "Project ID of the table to update",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Table"
          }
        },
        "list": {
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "id": "bigquery.tables.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "response": {
            "$ref": "TableList"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the tables to list",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Project ID of the tables to list",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "Maximum number of results to return"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "update": {
          "response": {
            "$ref": "Table"
          },
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "PUT",
          "parameters": {
            "tableId": {
              "required": true,
              "description": "Table ID of the table to update",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Project ID of the table to update",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to update",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.update"
        },
        "get": {
          "id": "bigquery.tables.get",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested table",
              "required": true,
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "description": "Table ID of the requested table",
              "required": true,
              "location": "path"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the requested table"
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "description": "Creates a new, empty table in the dataset.",
          "parameters": {
            "projectId": {
              "description": "Project ID of the new table",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "datasetId": {
              "description": "Dataset ID of the new table",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.insert",
          "httpMethod": "POST"
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.tables.getIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "path": "{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy"
        },
        "delete": {
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the table to delete",
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the table to delete",
              "required": true
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "description": "Table ID of the table to delete",
              "required": true
            }
          },
          "id": "bigquery.tables.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "httpMethod": "DELETE",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "path": "{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "bigquery.tables.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "description": "Lists all projects to which you have been granted any project role.",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.projects.list",
          "response": {
            "$ref": "ProjectList"
          },
          "path": "projects"
        },
        "getServiceAccount": {
          "id": "bigquery.projects.getServiceAccount",
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "projects/{projectId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Project ID for which the service account is requested.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS."
        }
      }
    },
    "tabledata": {
      "methods": {
        "insertAll": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "id": "bigquery.tabledata.insertAll",
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "parameters": {
            "datasetId": {
              "type": "string",
              "description": "Dataset ID of the destination table.",
              "required": true,
              "location": "path"
            },
            "projectId": {
              "description": "Project ID of the destination table.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "tableId": {
              "required": true,
              "location": "path",
              "description": "Table ID of the destination table.",
              "type": "string"
            }
          }
        },
        "list": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "id": "bigquery.tabledata.list",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, identifying the result set",
              "location": "query"
            },
            "startIndex": {
              "type": "string",
              "format": "uint64",
              "location": "query",
              "description": "Zero-based index of the starting row to read"
            },
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "type": "string",
              "location": "query"
            },
            "tableId": {
              "required": true,
              "description": "Table ID of the table to read",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "description": "Dataset ID of the table to read",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the table to read"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TableDataList"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "routines": {
      "methods": {
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.routines.list",
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the routines to list"
            },
            "filter": {
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\".",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dataset ID of the routines to list",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role.",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to update",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "routineId": {
              "required": true,
              "description": "Required. Routine ID of the routine to update",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "projectId": {
              "description": "Required. Project ID of the routine to update",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "response": {
            "$ref": "Routine"
          },
          "request": {
            "$ref": "Routine"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "httpMethod": "PUT",
          "id": "bigquery.routines.update"
        },
        "delete": {
          "parameters": {
            "datasetId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to delete",
              "location": "path"
            },
            "routineId": {
              "type": "string",
              "location": "path",
              "description": "Required. Routine ID of the routine to delete",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routine to delete",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "description": "Deletes the routine specified by routineId from the dataset.",
          "id": "bigquery.routines.delete",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}"
        },
        "get": {
          "response": {
            "$ref": "Routine"
          },
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "description": "Gets the specified routine resource by routine ID.",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the requested routine",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "type": "string",
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "routineId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Routine ID of the requested routine",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.get"
        },
        "insert": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "description": "Creates a new routine in the dataset.",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the new routine",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Required. Project ID of the new routine",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.routines.insert",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "request": {
            "$ref": "Routine"
          },
          "response": {
            "$ref": "Routine"
          },
          "httpMethod": "POST"
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "list": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "parameters": {
            "tableId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Table ID of the table to list row access policies."
            },
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "location": "query"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the row access policies to list."
            },
            "datasetId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of row access policies to list.",
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "format": "int32",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all row access policies on the specified table.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "id": "bigquery.rowAccessPolicies.list"
        }
      }
    },
    "models": {
      "methods": {
        "patch": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "id": "bigquery.models.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the model to patch."
            },
            "modelId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to patch.",
              "type": "string",
              "location": "path"
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Dataset ID of the model to patch.",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "Model"
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "response": {
            "$ref": "Model"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Patch specific fields in the specified model."
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "id": "bigquery.models.list",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "description": "Lists all models in the specified dataset. Requires the READER dataset role.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token, returned by a previous call to request the next page of results",
              "location": "query"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the models to list.",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Required. Dataset ID of the models to list.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ListModelsResponse"
          }
        },
        "delete": {
          "parameters": {
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Dataset ID of the model to delete.",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the model to delete."
            },
            "modelId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Model ID of the model to delete.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "description": "Deletes the model specified by modelId from the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "id": "bigquery.models.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.models.get",
          "description": "Gets the specified model resource by model ID.",
          "httpMethod": "GET",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the requested model.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "modelId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the requested model."
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Dataset ID of the requested model.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Model"
          }
        }
      }
    }
  },
  "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
  "protocol": "rest",
  "schemas": {
    "RowAccessPolicy": {
      "id": "RowAccessPolicy",
      "properties": {
        "lastModifiedTime": {
          "readOnly": true,
          "description": "Output only. The time when this row access policy was last modified, in milliseconds since the epoch.",
          "type": "string",
          "format": "google-datetime"
        },
        "rowAccessPolicyReference": {
          "description": "Required. Reference describing the ID of this row access policy.",
          "$ref": "RowAccessPolicyReference"
        },
        "filterPredicate": {
          "type": "string",
          "description": "Required. A SQL boolean expression that represents the rows defined by this row access policy, similar to the boolean expression in a WHERE clause of a SELECT query on a table. References to other tables, routines, and temporary functions are not supported. Examples: region=\"EU\" date_field = CAST('2019-9-27' as DATE) nullable_field is not NULL numeric_field BETWEEN 1.0 AND 5.0"
        },
        "creationTime": {
          "readOnly": true,
          "description": "Output only. The time when this row access policy was created, in milliseconds since the epoch.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A hash of this resource."
        }
      },
      "type": "object",
      "description": "Represents access on a subset of rows on the specified table, defined by its filter predicate. Access to the subset of rows is controlled by its IAM policy."
    },
    "ClusterInfo": {
      "description": "Information about a single cluster for clustering model.",
      "properties": {
        "clusterRadius": {
          "format": "double",
          "type": "number",
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster."
        },
        "clusterSize": {
          "format": "int64",
          "type": "string",
          "description": "Cluster size, the total number of points assigned to the cluster."
        },
        "centroidId": {
          "format": "int64",
          "type": "string",
          "description": "Centroid id."
        }
      },
      "id": "ClusterInfo",
      "type": "object"
    },
    "JobReference": {
      "type": "object",
      "id": "JobReference",
      "properties": {
        "location": {
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this job.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string"
        },
        "jobId": {
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          }
        }
      }
    },
    "ArimaModelInfo": {
      "description": "Arima model information.",
      "type": "object",
      "id": "ArimaModelInfo",
      "properties": {
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "items": {
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "arimaFittingMetrics": {
          "$ref": "ArimaFittingMetrics",
          "description": "Arima fitting metrics."
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "Non-seasonal order."
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "boolean"
        },
        "timeSeriesId": {
          "type": "string",
          "description": "The id to indicate different time series."
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        }
      }
    },
    "RankingMetrics": {
      "properties": {
        "meanSquaredError": {
          "format": "double",
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not.",
          "type": "number"
        },
        "averageRank": {
          "type": "number",
          "format": "double",
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank."
        },
        "meanAveragePrecision": {
          "type": "number",
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users.",
          "format": "double"
        },
        "normalizedDiscountedCumulativeGain": {
          "format": "double",
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings.",
          "type": "number"
        }
      },
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit.",
      "id": "RankingMetrics",
      "type": "object"
    },
    "LocationMetadata": {
      "properties": {
        "legacyLocationId": {
          "type": "string",
          "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location. This is for any API consumers that need the legacy “US” and “EU” locations."
        }
      },
      "description": "BigQuery-specific metadata about a location. This will be set on google.cloud.location.Location.metadata in Cloud Location API responses.",
      "type": "object",
      "id": "LocationMetadata"
    },
    "TimePartitioning": {
      "id": "TimePartitioning",
      "properties": {
        "type": {
          "description": "[Required] The supported types are DAY, HOUR, MONTH, and YEAR, which will generate one partition per day, hour, month, and year, respectively. When the type is not specified, the default behavior is DAY.",
          "type": "string"
        },
        "field": {
          "description": "[Beta] [Optional] If not set, the table is partitioned by pseudo column, referenced via either '_PARTITIONTIME' as TIMESTAMP type, or '_PARTITIONDATE' as DATE type. If field is specified, the table is instead partitioned by this field. The field must be a top-level TIMESTAMP or DATE field. Its mode must be NULLABLE or REQUIRED.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "type": "boolean"
        },
        "expirationMs": {
          "type": "string",
          "description": "[Optional] Number of milliseconds for which to keep the storage for partitions in the table. The storage in a partition will have an expiration time of its partition time plus this value.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "MaterializedViewDefinition": {
      "type": "object",
      "id": "MaterializedViewDefinition",
      "properties": {
        "enableRefresh": {
          "description": "[Optional] [TrustedTester] Enable automatic refresh of the materialized view when the base table is updated. The default value is \"true\".",
          "type": "boolean"
        },
        "refreshIntervalMs": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] [TrustedTester] The maximum frequency at which this materialized view will be refreshed. The default value is \"1800000\" (30 minutes)."
        },
        "query": {
          "type": "string",
          "description": "[Required] A query whose result is persisted."
        },
        "lastRefreshTime": {
          "type": "string",
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch.",
          "format": "int64"
        }
      }
    },
    "Streamingbuffer": {
      "properties": {
        "oldestEntryTime": {
          "description": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.",
          "format": "uint64",
          "type": "string"
        },
        "estimatedRows": {
          "type": "string",
          "format": "uint64",
          "description": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer."
        },
        "estimatedBytes": {
          "format": "uint64",
          "description": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.",
          "type": "string"
        }
      },
      "id": "Streamingbuffer",
      "type": "object"
    },
    "IterationResult": {
      "description": "Information about a single iteration of the training run.",
      "id": "IterationResult",
      "properties": {
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "learnRate": {
          "type": "number",
          "format": "double",
          "description": "Learn rate used for this iteration."
        },
        "arimaResult": {
          "$ref": "ArimaResult"
        },
        "trainingLoss": {
          "format": "double",
          "type": "number",
          "description": "Loss computed on the training data at the end of iteration."
        },
        "evalLoss": {
          "type": "number",
          "format": "double",
          "description": "Loss computed on the eval data at the end of iteration."
        },
        "clusterInfos": {
          "description": "Information about top clusters for clustering models.",
          "type": "array",
          "items": {
            "$ref": "ClusterInfo"
          }
        },
        "index": {
          "type": "integer",
          "description": "Index of the iteration, 0 based.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ScriptStackFrame": {
      "properties": {
        "endLine": {
          "description": "[Output-only] One-based end line.",
          "format": "int32",
          "type": "integer"
        },
        "endColumn": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based end column."
        },
        "procedureId": {
          "type": "string",
          "description": "[Output-only] Name of the active procedure, empty if in a top-level script."
        },
        "text": {
          "type": "string",
          "description": "[Output-only] Text of the current statement/expression."
        },
        "startColumn": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based start column."
        },
        "startLine": {
          "description": "[Output-only] One-based start line.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ScriptStackFrame"
    },
    "QueryResponse": {
      "type": "object",
      "id": "QueryResponse",
      "properties": {
        "totalRows": {
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.",
          "format": "uint64",
          "type": "string"
        },
        "totalBytesProcessed": {
          "description": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.",
          "type": "string",
          "format": "int64"
        },
        "jobReference": {
          "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).",
          "$ref": "JobReference"
        },
        "schema": {
          "description": "The schema of the results. Present only when the query completes successfully.",
          "$ref": "TableSchema"
        },
        "pageToken": {
          "type": "string",
          "description": "A token used for paging results."
        },
        "numDmlAffectedRows": {
          "type": "string",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
          "format": "int64"
        },
        "jobComplete": {
          "type": "boolean",
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
        },
        "kind": {
          "default": "bigquery#queryResponse",
          "description": "The resource type.",
          "type": "string"
        },
        "rows": {
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "cacheHit": {
          "type": "boolean",
          "description": "Whether the query result was fetched from the query cache."
        },
        "errors": {
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        }
      }
    },
    "JobConfigurationTableCopy": {
      "type": "object",
      "properties": {
        "destinationExpirationTime": {
          "type": "any",
          "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed."
        },
        "operationType": {
          "description": "[Optional] Supported operation types in table copy job.",
          "type": "string"
        },
        "createDisposition": {
          "type": "string",
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "destinationTable": {
          "$ref": "TableReference",
          "description": "[Required] The destination table"
        },
        "sourceTable": {
          "description": "[Pick one] Source table to copy.",
          "$ref": "TableReference"
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "sourceTables": {
          "items": {
            "$ref": "TableReference"
          },
          "description": "[Pick one] Source tables to copy.",
          "type": "array"
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        }
      },
      "id": "JobConfigurationTableCopy"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "StandardSqlStructType": {
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "StandardSqlField"
          },
          "type": "array"
        }
      },
      "id": "StandardSqlStructType"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "TableReference": {
      "id": "TableReference",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this table.",
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          }
        },
        "tableId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "annotations": {
            "required": [
              "bigquery.tables.update"
            ]
          },
          "description": "[Required] The ID of the project containing this table.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableFieldSchema": {
      "type": "object",
      "id": "TableFieldSchema",
      "properties": {
        "policyTags": {
          "type": "object",
          "properties": {
            "names": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "A list of category resource names. For example, \"projects/1/location/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is allowed."
            }
          }
        },
        "categories": {
          "description": "[Optional] The categories attached to this field, used for field-level access control.",
          "properties": {
            "names": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "A list of category resource names. For example, \"projects/1/taxonomies/2/categories/3\". At most 5 categories are allowed."
            }
          },
          "type": "object"
        },
        "mode": {
          "description": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "[Optional] The field description. The maximum length is 1,024 characters."
        },
        "fields": {
          "type": "array",
          "description": "[Optional] Describes the nested schema fields if the type property is set to RECORD.",
          "items": {
            "$ref": "TableFieldSchema"
          }
        },
        "name": {
          "type": "string",
          "description": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 128 characters."
        },
        "type": {
          "type": "string",
          "description": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD)."
        }
      }
    },
    "DestinationTableProperties": {
      "type": "object",
      "id": "DestinationTableProperties",
      "properties": {
        "labels": {
          "description": "[Optional] The labels associated with this table. You can use these to organize and group your tables. This will only be used if the destination table is newly created. If the table already exists and labels are different than the current labels are provided, the job will fail.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail."
        },
        "description": {
          "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail.",
          "type": "string"
        }
      }
    },
    "ExplainQueryStage": {
      "id": "ExplainQueryStage",
      "type": "object",
      "properties": {
        "shuffleOutputBytesSpilled": {
          "type": "string",
          "format": "int64",
          "description": "Total number of bytes written to shuffle and spilled to disk."
        },
        "waitRatioAvg": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the average shard spent waiting to be scheduled."
        },
        "startMs": {
          "description": "Stage start time represented as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Current status for the stage."
        },
        "computeRatioAvg": {
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "type": "number",
          "format": "double"
        },
        "readMsAvg": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the average shard spent reading input."
        },
        "readRatioMax": {
          "type": "number",
          "description": "Relative amount of time the slowest shard spent reading input.",
          "format": "double"
        },
        "computeMsMax": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks."
        },
        "completedParallelInputs": {
          "type": "string",
          "format": "int64",
          "description": "Number of parallel input segments completed."
        },
        "waitMsAvg": {
          "type": "string",
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "format": "int64"
        },
        "recordsRead": {
          "format": "int64",
          "type": "string",
          "description": "Number of records read into the stage."
        },
        "parallelInputs": {
          "type": "string",
          "description": "Number of parallel input segments to be processed.",
          "format": "int64"
        },
        "computeRatioMax": {
          "format": "double",
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "type": "number"
        },
        "endMs": {
          "description": "Stage end time represented as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "writeRatioAvg": {
          "description": "Relative amount of time the average shard spent on writing output.",
          "format": "double",
          "type": "number"
        },
        "inputStages": {
          "description": "IDs for stages that are inputs to this stage.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "writeMsMax": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the slowest shard spent on writing output."
        },
        "waitRatioMax": {
          "type": "number",
          "format": "double",
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled."
        },
        "shuffleOutputBytes": {
          "type": "string",
          "description": "Total number of bytes written to shuffle.",
          "format": "int64"
        },
        "writeRatioMax": {
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "type": "number",
          "format": "double"
        },
        "computeMsAvg": {
          "format": "int64",
          "type": "string",
          "description": "Milliseconds the average shard spent on CPU-bound tasks."
        },
        "steps": {
          "type": "array",
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "items": {
            "$ref": "ExplainQueryStep"
          }
        },
        "writeMsAvg": {
          "description": "Milliseconds the average shard spent on writing output.",
          "type": "string",
          "format": "int64"
        },
        "readRatioAvg": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the average shard spent reading input."
        },
        "name": {
          "type": "string",
          "description": "Human-readable name for stage."
        },
        "slotMs": {
          "format": "int64",
          "description": "Slot-milliseconds used by the stage.",
          "type": "string"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "Unique ID for stage within plan.",
          "format": "int64",
          "type": "string"
        },
        "readMsMax": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the slowest shard spent reading input."
        },
        "waitMsMax": {
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListModelsResponse": {
      "type": "object",
      "id": "ListModelsResponse",
      "properties": {
        "models": {
          "items": {
            "$ref": "Model"
          },
          "type": "array",
          "description": "Models in the requested dataset. Only the following fields are populated: model_reference, model_type, creation_time, last_modified_time and labels."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      }
    },
    "QueryTimelineSample": {
      "properties": {
        "elapsedMs": {
          "format": "int64",
          "description": "Milliseconds elapsed since the start of query execution.",
          "type": "string"
        },
        "totalSlotMs": {
          "description": "Cumulative slot-ms consumed by the query.",
          "format": "int64",
          "type": "string"
        },
        "activeUnits": {
          "type": "string",
          "format": "int64",
          "description": "Total number of units currently being processed by workers. This does not correspond directly to slot usage. This is the largest value observed since the last sample."
        },
        "completedUnits": {
          "format": "int64",
          "type": "string",
          "description": "Total parallel units of work completed by this query."
        },
        "pendingUnits": {
          "format": "int64",
          "type": "string",
          "description": "Total parallel units of work remaining for the active stages."
        }
      },
      "type": "object",
      "id": "QueryTimelineSample"
    },
    "BinaryClassificationMetrics": {
      "description": "Evaluation metrics for binary classification/classifier models.",
      "properties": {
        "negativeLabel": {
          "type": "string",
          "description": "Label representing the negative class."
        },
        "positiveLabel": {
          "description": "Label representing the positive class.",
          "type": "string"
        },
        "aggregateClassificationMetrics": {
          "$ref": "AggregateClassificationMetrics",
          "description": "Aggregate classification metrics."
        },
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          },
          "type": "array"
        }
      },
      "id": "BinaryClassificationMetrics",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "StandardSqlDataType": {
      "description": "The type of a variable, e.g., a function argument. Examples: INT64: {type_kind=\"INT64\"} ARRAY: {type_kind=\"ARRAY\", array_element_type=\"STRING\"} STRUCT\u003e: {type_kind=\"STRUCT\", struct_type={fields=[ {name=\"x\", type={type_kind=\"STRING\"}}, {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}} ]}}",
      "id": "StandardSqlDataType",
      "properties": {
        "structType": {
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\".",
          "$ref": "StandardSqlStructType"
        },
        "typeKind": {
          "type": "string",
          "description": "Required. The top level type of this field. Can be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\").",
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a decimal string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used because a JSON object cannot have duplicate field names."
          ],
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "GEOGRAPHY",
            "NUMERIC",
            "BIGNUMERIC",
            "ARRAY",
            "STRUCT"
          ]
        },
        "arrayElementType": {
          "description": "The type of the array's elements, if type_kind = \"ARRAY\".",
          "$ref": "StandardSqlDataType"
        }
      },
      "type": "object"
    },
    "JsonValue": {
      "type": "any",
      "id": "JsonValue"
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "datasetReference": {
          "$ref": "DatasetReference",
          "description": "[Required] A reference that identifies the dataset."
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "type": "string"
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for the dataset.",
          "type": "string"
        },
        "etag": {
          "type": "string",
[...]
