{
  "documentationLink": "https://cloud.google.com/bigtable/",
  "ownerDomain": "google.com",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "Cloud Bigtable Admin API",
  "basePath": "",
  "id": "bigtableadmin:v1",
  "revision": "20220103",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "name": "bigtableadmin",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "canonicalName": "Bigtable Admin",
  "ownerName": "Google",
  "resources": {},
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "schemas": {
    "OperationProgress": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "progressPercent": {
          "format": "int32",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "type": "integer"
        },
        "startTime": {
          "description": "Time the request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation.",
      "id": "OperationProgress"
    },
    "PartialUpdateClusterMetadata": {
      "properties": {
        "originalRequest": {
          "$ref": "PartialUpdateClusterRequest",
          "description": "The original request for PartialUpdateCluster."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The metadata for the Operation returned by PartialUpdateCluster.",
      "id": "PartialUpdateClusterMetadata",
      "type": "object"
    },
    "CreateClusterMetadata": {
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "tables": {
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "type": "object",
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far."
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateCluster operation.",
          "$ref": "CreateClusterRequest"
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by CreateCluster.",
      "id": "CreateClusterMetadata"
    },
    "BackupInfo": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp."
        },
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the backup."
        },
        "sourceTable": {
          "type": "string",
          "description": "Output only. Name of the table the backup was created from.",
          "readOnly": true
        }
      },
      "id": "BackupInfo",
      "description": "Information about a backup.",
      "type": "object"
    },
    "TableProgress": {
      "properties": {
        "estimatedCopiedBytes": {
          "type": "string",
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "format": "int64"
        },
        "estimatedSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Estimate of the size of the table to be copied."
        },
        "state": {
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ]
        }
      },
      "description": "Progress info for copying a table's data to the new cluster.",
      "id": "TableProgress",
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. 3) All clusters within an instance must use the same CMEK key. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`"
        }
      }
    },
    "RestoreTableMetadata": {
      "properties": {
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "sourceType": {
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source.",
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoreTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        },
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        }
      },
      "id": "RestoreTableMetadata",
      "type": "object",
      "description": "Metadata type for the long-running operation returned by RestoreTable."
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "description": "Configuration for a cluster.",
      "type": "object",
      "properties": {
        "clusterAutoscalingConfig": {
          "description": "Autoscaling configuration for this cluster.",
          "$ref": "ClusterAutoscalingConfig"
        }
      }
    },
    "UpdateAppProfileMetadata": {
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "id": "UpdateAppProfileMetadata",
      "properties": {}
    },
    "EncryptionInfo": {
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status.",
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "encryptionStatus": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest."
        },
        "encryptionType": {
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Output only. The type of encryption used to protect this resource.",
          "readOnly": true,
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "type": "string"
        },
        "kmsKeyVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table."
        }
      }
    },
    "AutoscalingTargets": {
      "type": "object",
      "properties": {
        "cpuUtilizationPercent": {
          "type": "integer",
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization).",
          "format": "int32"
        }
      },
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes.",
      "id": "AutoscalingTargets"
    },
    "PartialUpdateClusterRequest": {
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster.",
      "id": "PartialUpdateClusterRequest",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask.",
          "$ref": "Cluster"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. The subset of Cluster fields which should be replaced.",
          "format": "google-fieldmask"
        }
      }
    },
    "Instance": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the instance.",
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. A server-assigned timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "description": "Required. The type of the instance. Defaults to `PRODUCTION`.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ]
        },
        "name": {
          "type": "string",
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes.",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion."
        }
      },
      "id": "Instance",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance."
    },
    "CreateInstanceRequest": {
      "id": "CreateInstanceRequest",
      "properties": {
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "clusters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank. Currently, at most four clusters can be specified."
        },
        "instance": {
          "$ref": "Instance",
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank."
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "type": "object"
    },
    "UpdateClusterMetadata": {
      "type": "object",
      "id": "UpdateClusterMetadata",
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateCluster operation.",
          "$ref": "Cluster"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PartialUpdateInstanceRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        }
      },
      "type": "object",
      "id": "PartialUpdateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance."
    },
    "AutoscalingLimits": {
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to.",
      "id": "AutoscalingLimits",
      "type": "object",
      "properties": {
        "maxServeNodes": {
          "description": "Required. Maximum number of nodes to scale up to.",
          "type": "integer",
          "format": "int32"
        },
        "minServeNodes": {
          "description": "Required. Minimum number of nodes to scale down to.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Cluster": {
      "type": "object",
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "id": "Cluster",
      "properties": {
        "defaultStorageType": {
          "type": "string",
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ]
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ],
          "type": "string",
          "description": "Output only. The current state of the cluster."
        },
        "serveNodes": {
          "type": "integer",
          "description": "The number of nodes allocated to this cluster. More nodes enable higher throughput and more consistent performance.",
          "format": "int32"
        },
        "name": {
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`."
        },
        "clusterConfig": {
          "$ref": "ClusterConfig",
          "description": "Configuration for this cluster."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceTable": {
          "type": "string",
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`."
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the backup.",
          "$ref": "EncryptionInfo",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "description": "Required. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ]
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "UpdateInstanceMetadata": {
      "properties": {
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "PartialUpdateInstanceRequest",
          "description": "The request that prompted the initiation of this UpdateInstance operation."
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "id": "UpdateInstanceMetadata"
    },
    "CreateBackupMetadata": {
      "id": "CreateBackupMetadata",
      "type": "object",
      "description": "Metadata type for the operation returned by CreateBackup.",
      "properties": {
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time at which this operation started.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "If set, the time at which this operation finished or was cancelled.",
          "type": "string"
        }
      }
    },
    "CreateClusterRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "id": "CreateClusterRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`."
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`."
        }
      },
      "type": "object"
    },
    "ClusterAutoscalingConfig": {
      "type": "object",
      "properties": {
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        },
        "autoscalingLimits": {
          "$ref": "AutoscalingLimits",
          "description": "Required. Autoscaling limits for this cluster."
        }
      },
      "id": "ClusterAutoscalingConfig",
      "description": "Autoscaling config for a cluster."
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "OptimizeRestoredTableMetadata": {
      "id": "OptimizeRestoredTableMetadata",
      "type": "object",
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "properties": {
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        },
        "name": {
          "type": "string",
          "description": "Name of the restored table being optimized."
        }
      }
    },
    "CreateInstanceMetadata": {
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the original request was received."
        }
      },
      "id": "CreateInstanceMetadata",
      "description": "The metadata for the Operation returned by CreateInstance.",
      "type": "object"
    }
  }
}
