{
  "batchPath": "batch",
  "name": "bigtableadmin",
  "canonicalName": "Bigtable Admin",
  "resources": {},
  "revision": "20200629",
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "basePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "discoveryVersion": "v1",
  "id": "bigtableadmin:v1",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "documentationLink": "https://cloud.google.com/bigtable/",
  "protocol": "rest",
  "title": "Cloud Bigtable Admin API",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "version": "v1",
  "schemas": {
    "CreateBackupMetadata": {
      "id": "CreateBackupMetadata",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the backup being created."
        },
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which this operation started.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation finished or was cancelled.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata type for the operation returned by\nCreateBackup."
    },
    "Instance": {
      "description": "A collection of Bigtable Tables and\nthe resources that serve them.\nAll tables in an instance are served from all\nClusters in the instance.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "type": "string",
          "description": "Required. The type of the instance. Defaults to `PRODUCTION`.",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an\ninstance, a `PRODUCTION` instance will be created. If set when updating\nan instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set\non the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces\na higher minimum node count than DEVELOPMENT."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Labels are a flexible and lightweight mechanism for organizing cloud\nresources into groups that reflect a customer's organizational needs and\ndeployment strategies. They can be used to filter resources and aggregate\nmetrics.\n\n* Label keys must be between 1 and 63 characters long and must conform to\n  the regular expression: `\\p{Ll}\\p{Lo}{0,62}`.\n* Label values must be between 0 and 63 characters long and must conform to\n  the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`.\n* No more than 64 labels can be associated with a given resource.\n* Keys and values must both be under 128 bytes."
        },
        "name": {
          "type": "string",
          "description": "The unique name of the instance. Values are of the form\n`projects/{project}/instances/a-z+[a-z0-9]`."
        },
        "displayName": {
          "description": "Required. The descriptive name for this instance as it appears in UIs.\nCan be changed at any time, but should be kept globally unique\nto avoid confusion.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests\nto its tables.",
            "The instance is currently being created, and may be destroyed\nif the creation process encounters an error."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "description": "Output only. The current state of the instance.",
          "type": "string"
        }
      },
      "id": "Instance",
      "type": "object"
    },
    "CreateInstanceMetadata": {
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        }
      },
      "type": "object",
      "id": "CreateInstanceMetadata",
      "description": "The metadata for the Operation returned by CreateInstance."
    },
    "Backup": {
      "properties": {
        "sizeBytes": {
          "description": "Output only. Size of the backup in bytes.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the\nbackup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ]
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs\nto be in the same instance as the backup. Values are of the form\n`projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. `start_time` is the time that the backup was started\n(i.e. approximately the time the\nCreateBackup request is received).  The\nrow data in this backup will be no older than this timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Required. The expiration time of the backup, with microseconds\ngranularity that must be at least 6 hours and at most 30 days\nfrom the time the request is received. Once the `expire_time`\nhas passed, Cloud Bigtable will delete the backup and free the\nresources used by the backup.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. `end_time` is the time that the backup was finished. The row\ndata in the backup will be no newer than this timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "A globally unique identifier for the backup which cannot be\nchanged. Values are of the form\n`projects/{project}/instances/{instance}/clusters/{cluster}/\n   backups/_a-zA-Z0-9*`\nThe final segment of the name must be between 1 and 50 characters\nin length.\n\nThe backup is stored in the cluster identified by the prefix of the backup\nname of the form\n`projects/{project}/instances/{instance}/clusters/{cluster}`."
        }
      },
      "type": "object",
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table."
    },
    "CreateInstanceRequest": {
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "id": "CreateInstanceRequest",
      "properties": {
        "clusters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Cluster"
          },
          "description": "Required. The clusters to be created within the instance, mapped by desired\ncluster ID, e.g., just `mycluster` rather than\n`projects/myproject/instances/myinstance/clusters/mycluster`.\nFields marked `OutputOnly` must be left blank.\nCurrently, at most four clusters can be specified."
        },
        "instanceId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new instance within its project,\ne.g., just `myinstance` rather than\n`projects/myproject/instances/myinstance`."
        },
        "instance": {
          "description": "Required. The instance to create.\nFields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        },
        "parent": {
          "type": "string",
          "description": "Required. The unique name of the project in which to create the new instance.\nValues are of the form `projects/{project}`."
        }
      }
    },
    "CreateClusterMetadata": {
      "description": "The metadata for the Operation returned by CreateCluster.",
      "id": "CreateClusterMetadata",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "tables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "description": "Keys: the full `name` of each table that existed in the instance when\nCreateCluster was first called, i.e.\n`projects/\u003cproject\u003e/instances/\u003cinstance\u003e/tables/\u003ctable\u003e`. Any table added\nto the instance by a later API call will be created in the new cluster by\nthat API call, not this one.\n\nValues: information on how much of a table's data has been copied to the\nnewly-created cluster so far."
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateCluster operation.",
          "$ref": "CreateClusterRequest"
        }
      },
      "type": "object"
    },
    "OperationProgress": {
      "description": "Encapsulates progress related information for a Cloud Bigtable long\nrunning operation.",
      "properties": {
        "startTime": {
          "description": "Time the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "If set, the time at which this operation failed or was completed\nsuccessfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercent": {
          "description": "Percent completion of the operation.\nValues are between 0 and 100 inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "OperationProgress"
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableProgress": {
      "description": "Progress info for copying a table's data to the new cluster.",
      "type": "object",
      "properties": {
        "estimatedCopiedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Estimate of the number of bytes copied so far for this table.\nThis will eventually reach 'estimated_size_bytes' unless the table copy\nis CANCELLED."
        },
        "estimatedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Estimate of the size of the table to be copied."
        },
        "state": {
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster.\nNote that tables deleted after completion will stay marked as\nCOMPLETED, not CANCELLED."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ]
        }
      },
      "id": "TableProgress"
    },
    "UpdateClusterMetadata": {
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "id": "UpdateClusterMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateCluster operation.",
          "$ref": "Cluster"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        }
      }
    },
    "UpdateAppProfileMetadata": {
      "type": "object",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "id": "UpdateAppProfileMetadata",
      "properties": {}
    },
    "Cluster": {
      "id": "Cluster",
      "type": "object",
      "description": "A resizable group of nodes in a particular cloud location, capable\nof serving all Tables in the parent\nInstance.",
      "properties": {
        "serveNodes": {
          "description": "Required. The number of nodes allocated to this cluster. More nodes enable higher\nthroughput and more consistent performance.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The unique name of the cluster. Values are of the form\n`projects/{project}/instances/{instance}/clusters/a-z*`.",
          "type": "string"
        },
        "location": {
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best\nperformance, clients should be located as close as possible to this\ncluster. Currently only zones are supported, so values should be of the\nform `projects/{project}/locations/{zone}`.",
          "type": "string"
        },
        "defaultStorageType": {
          "description": "Immutable. The type of storage used by this cluster to serve its\nparent instance's tables, unless explicitly overridden.",
          "type": "string",
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ]
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the cluster.",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed\nif the creation process encounters an error.\nA cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous\nnode count if the process encounters an error.\nA cluster is still capable of serving requests while being resized,\nbut may exhibit performance as if its number of allocated nodes is\nbetween the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still\nexist, but no operations can be performed on the cluster."
          ]
        }
      }
    },
    "OptimizeRestoredTableMetadata": {
      "description": "Metadata type for the long-running operation used to track the progress\nof optimizations performed on a newly restored table. This long-running\noperation is automatically created by the system after the successful\ncompletion of a table restore, and cannot be cancelled.",
      "properties": {
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        },
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        }
      },
      "id": "OptimizeRestoredTableMetadata",
      "type": "object"
    },
    "PartialUpdateInstanceRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The subset of Instance fields which should be replaced.\nMust be explicitly set."
        },
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        }
      },
      "id": "PartialUpdateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance."
    },
    "BackupInfo": {
      "properties": {
        "backup": {
          "type": "string",
          "description": "Output only. Name of the backup."
        },
        "sourceTable": {
          "description": "Output only. Name of the table the backup was created from.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. This time that the backup was finished. Row data in the\nbackup will be no newer than this timestamp.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time that the backup was started. Row data in the backup\nwill be no older than this timestamp."
        }
      },
      "id": "BackupInfo",
      "type": "object",
      "description": "Information about a backup."
    },
    "RestoreTableMetadata": {
      "id": "RestoreTableMetadata",
      "properties": {
        "sourceType": {
          "description": "The type of the restore source.",
          "type": "string",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "optimizeTableOperationName": {
          "type": "string",
          "description": "If exists, the name of the long-running operation that will be used to\ntrack the post-restore optimization process to optimize the performance of\nthe restored table. The metadata type of the long-running operation is\nOptimizeRestoreTableMetadata. The response type is\nEmpty. This long-running operation may be\nautomatically created by the system if applicable after the\nRestoreTable long-running operation completes successfully. This operation\nmay not be created if the table is already optimized or the restore was\nnot successful."
        },
        "progress": {
          "description": "The progress of the RestoreTable\noperation.",
          "$ref": "OperationProgress"
        },
        "name": {
          "type": "string",
          "description": "Name of the table being created and restored to."
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        }
      },
      "description": "Metadata type for the long-running operation returned by\nRestoreTable.",
      "type": "object"
    },
    "CreateClusterRequest": {
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new cluster within its instance,\ne.g., just `mycluster` rather than\n`projects/myproject/instances/myinstance/clusters/mycluster`."
        },
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster.\nValues are of the form\n`projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "cluster": {
          "description": "Required. The cluster to be created.\nFields marked `OutputOnly` must be left blank.",
          "$ref": "Cluster"
        }
      },
      "id": "CreateClusterRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateCluster."
    }
  }
}
