{
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerName": "Google",
  "title": "Cloud Bigtable Admin API",
  "documentationLink": "https://cloud.google.com/bigtable/",
  "version_module": true,
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "canonicalName": "Bigtable Admin",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "batchPath": "batch",
  "revision": "20221009",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "name": "bigtableadmin",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        }
      }
    }
  },
  "basePath": "",
  "id": "bigtableadmin:v2",
  "protocol": "rest",
  "schemas": {
    "RestoreTableMetadata": {
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "id": "RestoreTableMetadata",
      "properties": {
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the RestoreTable operation."
        },
        "name": {
          "type": "string",
          "description": "Name of the table being created and restored to."
        },
        "optimizeTableOperationName": {
          "type": "string",
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoreTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful."
        },
        "sourceType": {
          "type": "string",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source.",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        }
      },
      "type": "object"
    },
    "SingleClusterRouting": {
      "type": "object",
      "description": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "id": "SingleClusterRouting",
      "properties": {
        "clusterId": {
          "description": "The cluster to which read/write requests should be routed.",
          "type": "string"
        },
        "allowTransactionalWrites": {
          "type": "boolean",
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters."
        }
      }
    },
    "RestoreInfo": {
      "type": "object",
      "description": "Information about a table restore.",
      "id": "RestoreInfo",
      "properties": {
        "sourceType": {
          "type": "string",
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ]
        },
        "backupInfo": {
          "$ref": "BackupInfo",
          "description": "Information about the backup used to restore the table. The backup may no longer exist."
        }
      }
    },
    "Modification": {
      "properties": {
        "id": {
          "description": "The ID of the column family to be modified.",
          "type": "string"
        },
        "drop": {
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists.",
          "type": "boolean"
        },
        "create": {
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "update": {
          "$ref": "ColumnFamily",
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID."
        }
      },
      "description": "A create, update, or delete of a particular column family.",
      "type": "object",
      "id": "Modification"
    },
    "Split": {
      "id": "Split",
      "type": "object",
      "properties": {
        "key": {
          "description": "Row key to use as an initial tablet boundary.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "An initial split point for a newly created table."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Union": {
      "type": "object",
      "id": "Union",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GcRule"
          },
          "description": "Delete cells which would be deleted by any element of `rules`."
        }
      },
      "description": "A GcRule which deletes cells matching any of the given rules."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "DEPRECATED: This field is unused and ignored."
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "The list of requested clusters."
        },
        "failedLocations": {
          "type": "array",
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PartialUpdateClusterRequest": {
      "id": "PartialUpdateClusterRequest",
      "properties": {
        "cluster": {
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask.",
          "$ref": "Cluster"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The subset of Cluster fields which should be replaced.",
          "type": "string"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster.",
      "type": "object"
    },
    "OptimizeRestoredTableMetadata": {
      "type": "object",
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "properties": {
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        }
      },
      "id": "OptimizeRestoredTableMetadata"
    },
    "ListInstancesResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListInstances.",
      "id": "ListInstancesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "DEPRECATED: This field is unused and ignored."
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of requested instances."
        },
        "failedLocations": {
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster.",
      "type": "object",
      "id": "EncryptionConfig"
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "description": "The type of the instance. Defaults to `PRODUCTION`.",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. A server-assigned timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`.",
          "format": "google-datetime",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "state": {
          "description": "Output only. The current state of the instance.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "type": "string"
        },
        "name": {
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`.",
          "type": "string"
        },
        "labels": {
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion."
        }
      },
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance."
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      }
    },
    "CreateInstanceRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "id": "CreateInstanceRequest",
      "properties": {
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.",
          "type": "string"
        },
        "clusters": {
          "type": "object",
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank.",
          "additionalProperties": {
            "$ref": "Cluster"
          }
        },
        "instance": {
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        }
      },
      "type": "object"
    },
    "Table": {
      "id": "Table",
      "properties": {
        "clusterStates": {
          "readOnly": true,
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`",
          "type": "object",
          "additionalProperties": {
            "$ref": "ClusterState"
          }
        },
        "columnFamilies": {
          "type": "object",
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `FULL`",
          "additionalProperties": {
            "$ref": "ColumnFamily"
          }
        },
        "granularity": {
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned. When specified during table creation, MILLIS will be used.",
            "The table keeps data versioned at a granularity of 1ms."
          ],
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS"
          ],
          "type": "string",
          "description": "Immutable. The granularity (i.e. `MILLIS`) at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`."
        },
        "name": {
          "description": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`",
          "type": "string"
        },
        "restoreInfo": {
          "readOnly": true,
          "$ref": "RestoreInfo",
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore."
        }
      },
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "AutoscalingTargets": {
      "id": "AutoscalingTargets",
      "properties": {
        "storageUtilizationGibPerNode": {
          "type": "integer",
          "description": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD.",
          "format": "int32"
        },
        "cpuUtilizationPercent": {
          "type": "integer",
          "format": "int32",
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error."
        }
      },
      "type": "object",
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes."
    },
    "TableProgress": {
      "id": "TableProgress",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ],
          "type": "string"
        },
        "estimatedCopiedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED."
        },
        "estimatedSizeBytes": {
          "description": "Estimate of the size of the table to be copied.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Progress info for copying a table's data to the new cluster."
    },
    "ColumnFamily": {
      "type": "object",
      "properties": {
        "gcRule": {
          "$ref": "GcRule",
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family."
        }
      },
      "id": "ColumnFamily",
      "description": "A set of columns within a table which share a common configuration."
    },
    "ListBackupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "The list of matching backups."
        }
      },
      "id": "ListBackupsResponse",
      "description": "The response for ListBackups.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "UndeleteTableMetadata": {
      "type": "object",
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable.",
      "id": "UndeleteTableMetadata",
      "properties": {
        "endTime": {
          "description": "If set, the time at which this operation finished or was cancelled.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which this operation started.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the table being restored."
        }
      }
    },
    "CopyBackupRequest": {
      "id": "CopyBackupRequest",
      "description": "The request for CopyBackup.",
      "properties": {
        "sourceBackup": {
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "format": "google-datetime"
        },
        "backupId": {
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListTablesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "tables": {
          "description": "The tables present in the requested instance.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        }
      },
      "type": "object",
      "id": "ListTablesResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables"
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`."
        },
        "name": {
          "type": "string",
          "description": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`."
        },
        "clusterConfig": {
          "description": "Configuration for this cluster.",
          "$ref": "ClusterConfig"
        },
        "state": {
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the cluster.",
          "type": "string"
        },
        "serveNodes": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes allocated to this cluster. More nodes enable higher throughput and more consistent performance."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. The encryption configuration for CMEK-protected clusters."
        },
        "defaultStorageType": {
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "type": "string"
        }
      },
      "id": "Cluster",
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance."
    },
    "ModifyColumnFamiliesRequest": {
      "properties": {
        "modifications": {
          "items": {
            "$ref": "Modification"
          },
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example).",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies",
      "id": "ModifyColumnFamiliesRequest"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "MultiClusterRoutingUseAny": {
      "id": "MultiClusterRoutingUseAny",
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "properties": {
        "clusterIds": {
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Intersection": {
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GcRule"
          },
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Intersection"
    },
    "CheckConsistencyRequest": {
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "properties": {
        "consistencyToken": {
          "type": "string",
          "description": "Required. The token created using GenerateConsistencyToken for the Table."
        }
      },
      "id": "CheckConsistencyRequest"
    },
    "BackupInfo": {
      "type": "object",
      "properties": {
        "sourceTable": {
          "type": "string",
          "description": "Output only. Name of the table the backup was created from.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "type": "string",
          "readOnly": true
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//backups/.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "format": "google-datetime"
        },
        "backup": {
          "description": "Output only. Name of the backup.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information about a backup.",
      "id": "BackupInfo"
    },
    "PartialUpdateClusterMetadata": {
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The original request for PartialUpdateCluster.",
          "$ref": "PartialUpdateClusterRequest"
        }
      },
      "description": "The metadata for the Operation returned by PartialUpdateCluster.",
      "id": "PartialUpdateClusterMetadata",
      "type": "object"
    },
    "CreateClusterMetadata": {
      "description": "The metadata for the Operation returned by CreateCluster.",
      "properties": {
        "tables": {
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "type": "object",
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "originalRequest": {
          "$ref": "CreateClusterRequest",
          "description": "The request that prompted the initiation of this CreateCluster operation."
        }
      },
      "id": "CreateClusterMetadata",
      "type": "object"
    },
    "ClusterState": {
      "type": "object",
      "id": "ClusterState",
      "properties": {
        "encryptionInfo": {
          "items": {
            "$ref": "EncryptionInfo"
          },
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS.",
          "readOnly": true,
          "type": "array"
        },
        "replicationState": {
          "readOnly": true,
          "description": "Output only. The state of replication for the table in this cluster.",
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ]
        }
      },
      "description": "The state of a table's data in a particular cluster."
    },
    "CreateBackupMetadata": {
      "id": "CreateBackupMetadata",
      "description": "Metadata type for the operation returned by CreateBackup.",
      "type": "object",
      "properties": {
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which this operation started.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the backup being created."
        },
        "endTime": {
          "description": "If set, the time at which this operation finished or was cancelled.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RestoreTableRequest": {
      "id": "RestoreTableRequest",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`."
        },
        "backup": {
          "type": "string",
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`."
        }
      },
      "description": "The request for RestoreTable."
    },
    "GenerateConsistencyTokenRequest": {
      "id": "GenerateConsistencyTokenRequest",
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "properties": {}
    },
    "EncryptionInfo": {
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status.",
      "properties": {
        "encryptionType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of encryption used to protect this resource.",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ]
        },
        "encryptionStatus": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest."
        },
        "kmsKeyVersion": {
          "type": "string",
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "EncryptionInfo"
    },
    "CreateTableRequest": {
      "type": "object",
      "id": "CreateTableRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "properties": {
        "initialSplits": {
          "type": "array",
          "items": {
            "$ref": "Split"
          },
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) =\u003e {\"a\"}.` - Tablet 2 `[apple, customer_1) =\u003e {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) =\u003e {\"customer_1\"}.` - Tablet 4 `[customer_2, other) =\u003e {\"customer_2\"}.` - Tablet 5 `[other, ) =\u003e {\"other\", \"zz\"}.`"
        },
        "table": {
          "$ref": "Table",
          "description": "Required. The Table to create."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters."
        }
      }
    },
    "UpdateAppProfileMetadata": {
      "id": "UpdateAppProfileMetadata",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "properties": {},
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ClusterConfig": {
      "properties": {
        "clusterAutoscalingConfig": {
          "$ref": "ClusterAutoscalingConfig",
          "description": "Autoscaling configuration for this cluster."
        }
      },
      "type": "object",
      "description": "Configuration for a cluster.",
      "id": "ClusterConfig"
    },
    "ListAppProfilesResponse": {
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "properties": {
        "nextPageToken": {
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "failedLocations": {
          "type": "array",
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "items": {
            "type": "string"
          }
        },
        "appProfiles": {
          "type": "array",
          "description": "The list of requested app profiles.",
          "items": {
            "$ref": "AppProfile"
          }
        }
      },
      "id": "ListAppProfilesResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "UpdateClusterMetadata": {
      "id": "UpdateClusterMetadata",
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "properties": {
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "originalRequest": {
          "$ref": "Cluster",
          "description": "The request that prompted the initiation of this UpdateCluster operation."
        }
      },
      "type": "object"
    },
    "ClusterAutoscalingConfig": {
      "description": "Autoscaling config for a cluster.",
      "id": "ClusterAutoscalingConfig",
      "properties": {
        "autoscalingLimits": {
          "$ref": "AutoscalingLimits",
          "description": "Required. Autoscaling limits for this cluster."
        },
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        }
      },
      "type": "object"
    },
    "AutoscalingLimits": {
      "type": "object",
      "id": "AutoscalingLimits",
      "properties": {
        "maxServeNodes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Maximum number of nodes to scale up to."
        },
        "minServeNodes": {
          "type": "integer",
          "description": "Required. Minimum number of nodes to scale down to.",
          "format": "int32"
        }
      },
      "description": "Limits for the number of nodes a Cluster can autoscale up/down to."
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "If set, the time at which this operation failed or was completed successfully."
        },
        "startTime": {
          "description": "Time the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressPercent": {
          "type": "integer",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation."
    },
    "ListHotTabletsResponse": {
      "id": "ListHotTabletsResponse",
      "type": "object",
      "properties": {
        "hotTablets": {
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response.",
          "type": "array",
          "items": {
            "$ref": "HotTablet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets."
    },
    "CopyBackupMetadata": {
      "id": "CopyBackupMetadata",
      "properties": {
        "sourceBackupInfo": {
          "description": "Information about the source backup that is being copied from.",
          "$ref": "BackupInfo"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the CopyBackup operation."
        },
        "name": {
          "type": "string",
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`."
        }
      },
      "type": "object",
      "description": "Metadata type for the google.longrunning.Operation returned by CopyBackup."
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "Backup": {
      "type": "object",
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Size of the backup in bytes."
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//backups/.",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "description": "Required. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the backup."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp."
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table."
    },
    "AppProfile": {
      "id": "AppProfile",
      "type": "object",
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.",
      "properties": {
        "name": {
          "description": "The unique name of the app profile. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "multiClusterRoutingUseAny": {
          "description": "Use a multi-cluster routing policy.",
          "$ref": "MultiClusterRoutingUseAny"
        },
        "etag": {
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the mean time. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Long form description of the use case for this AppProfile."
        },
        "singleClusterRouting": {
          "$ref": "SingleClusterRouting",
          "description": "Use a single-cluster routing policy."
        }
      }
    },
    "CreateInstanceMetadata": {
      "id": "CreateInstanceMetadata",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by CreateInstance."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "DropRowRangeRequest": {
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "id": "DropRowRangeRequest",
      "properties": {
        "rowKeyPrefix": {
          "format": "byte",
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "type": "string"
        },
        "deleteAllDataFromTable": {
          "type": "boolean",
          "description": "Delete all rows in the table. Setting this to false is a no-op."
        }
      }
    },
    "UndeleteTableRequest": {
      "id": "UndeleteTableRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable"
    },
    "CreateClusterRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`."
        },
        "clusterId": {
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank."
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "type": "object",
      "id": "CreateClusterRequest"
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        }
      },
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "type": "object"
    },
    "CheckConsistencyResponse": {
      "type": "object",
      "properties": {
        "consistent": {
          "type": "boolean",
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request."
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "id": "CheckConsistencyResponse"
    },
    "HotTablet": {
      "type": "object",
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the hot tablet.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`."
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The start time of the hot tablet."
        },
        "tableName": {
          "type": "string",
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`."
        },
        "endKey": {
          "description": "Tablet End Key (inclusive).",
          "type": "string"
        },
        "nodeCpuUsagePercent": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet)."
        },
        "startKey": {
          "description": "Tablet Start Key (inclusive).",
          "type": "string"
        }
      },
      "id": "HotTablet"
    },
    "PartialUpdateInstanceRequest": {
      "type": "object",
      "id": "PartialUpdateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set."
        },
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        }
      }
    },
    "GenerateConsistencyTokenResponse": {
      "id": "GenerateConsistencyTokenResponse",
      "type": "object",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      }
    },
    "GcRule": {
      "id": "GcRule",
      "description": "Rule for determining which cells to delete during garbage collection.",
      "properties": {
        "maxNumVersions": {
          "type": "integer",
          "description": "Delete all cells in a column except the most recent N.",
          "format": "int32"
        },
        "union": {
          "$ref": "Union",
          "description": "Delete cells that would be deleted by any nested rule."
        },
        "intersection": {
          "description": "Delete cells that would be deleted by every nested rule.",
          "$ref": "Intersection"
        },
        "maxAge": {
          "format": "google-duration",
          "type": "string",
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity."
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "cancel": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "id": "bigtableadmin.operations.cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "path": "v2/{+name}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "flatPath": "v2/operations/{operationsId}:cancel"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/operations/{operationsId}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "id": "bigtableadmin.operations.delete",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The name of the operation resource."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/operations/{operationsId}",
          "id": "bigtableadmin.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      },
      "resources": {
        "projects": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v2/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "id": "bigtableadmin.operations.projects.operations.list",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^operations/projects/.*$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v2/operations/projects/{projectsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "resources": {
            "tables": {
              "methods": {
                "generateConsistencyToken": {
                  "response": {
                    "$ref": "GenerateConsistencyTokenResponse"
                  },
                  "id": "bigtableadmin.projects.instances.tables.generateConsistencyToken",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The unique name of the Table for which to create a consistency token. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}:generateConsistencyToken",
                  "description": "Generates a consistency token for a Table, which can be used in CheckConsistency to check whether mutations to the table that finished before this call started have been replicated. The tokens will be available for 90 days.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:generateConsistencyToken",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GenerateConsistencyTokenRequest"
                  }
                },
                "checkConsistency": {
                  "httpMethod": "POST",
                  "id": "bigtableadmin.projects.instances.tables.checkConsistency",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:checkConsistency",
                  "description": "Checks replication consistency based on a consistency token, that is, if replication has caught up based on the conditions specified in the token and the check request.",
                  "request": {
                    "$ref": "CheckConsistencyRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The unique name of the Table for which to check replication consistency. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CheckConsistencyResponse"
                  },
                  "path": "v2/{+name}:checkConsistency",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "restore": {
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables:restore",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RestoreTableRequest"
                  },
                  "description": "Create a new table by restoring from a completed backup. The new table must be in the same project as the instance containing the backup. The returned table long-running operation can be used to track the progress of the operation, and to cancel it. The metadata field type is RestoreTableMetadata. The response type is Table, if successful.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the instance in which to create the restored table. This instance must be in the same project as the source backup. Values are of the form `projects//instances/`.",
                      "pattern": "^projects/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/tables:restore",
                  "id": "bigtableadmin.projects.instances.tables.restore"
                },
                "setIamPolicy": {
                  "path": "v2/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "bigtableadmin.projects.instances.tables.setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.table",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the access control policy on a Table resource. Replaces any existing policy.",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/tables/{tablesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The unique name of the table to be deleted. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
                      "pattern": "^projects/[^/]+/instances/[^/]+/tables/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
[...]
