{
  "batchPath": "batch",
  "canonicalName": "CloudBillingBudget",
  "rootUrl": "https://billingbudgets.googleapis.com/",
  "id": "billingbudgets:v1",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "version": "v1",
  "description": "The Cloud Billing Budget API stores Cloud Billing budgets, which define a budget plan and the rules to execute as spend is tracked against that plan.",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
  "version_module": true,
  "mtlsRootUrl": "https://billingbudgets.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudBillingBudgetsV1Budget": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. Etag to validate that the object is unchanged for a read-modify-write operation. An empty etag will cause an update to overwrite other changes."
        },
        "displayName": {
          "type": "string",
          "description": "User data for display name in UI. The name must be less than or equal to 60 characters."
        },
        "name": {
          "description": "Output only. Resource name of the budget. The resource name implies the scope of a budget. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
          "readOnly": true,
          "type": "string"
        },
        "thresholdRules": {
          "items": {
            "$ref": "GoogleCloudBillingBudgetsV1ThresholdRule"
          },
          "description": "Optional. Rules that trigger alerts (notifications of thresholds being crossed) when spend exceeds the specified percentages of the budget.",
          "type": "array"
        },
        "notificationsRule": {
          "description": "Optional. Rules to apply to notifications sent based on budget spend and thresholds.",
          "$ref": "GoogleCloudBillingBudgetsV1NotificationsRule"
        },
        "budgetFilter": {
          "$ref": "GoogleCloudBillingBudgetsV1Filter",
          "description": "Optional. Filters that define which resources are used to compute the actual spend against the budget amount, such as projects, services, and the budget's time period, as well as other filters."
        },
        "amount": {
          "description": "Required. Budgeted amount.",
          "$ref": "GoogleCloudBillingBudgetsV1BudgetAmount"
        }
      },
      "description": "A budget is a plan that describes what you expect to spend on Cloud projects, plus the rules to execute as spend is tracked against that plan, (for example, send an alert when 90% of the target spend is met). The budget time period is configurable, with options such as month (default), quarter, year, or custom time period.",
      "id": "GoogleCloudBillingBudgetsV1Budget"
    },
    "GoogleCloudBillingBudgetsV1BudgetAmount": {
      "type": "object",
      "id": "GoogleCloudBillingBudgetsV1BudgetAmount",
      "properties": {
        "specifiedAmount": {
          "$ref": "GoogleTypeMoney",
          "description": "A specified amount to use as the budget. `currency_code` is optional. If specified when creating a budget, it must match the currency of the billing account. If specified when updating a budget, it must match the currency_code of the existing budget. The `currency_code` is provided on output."
        },
        "lastPeriodAmount": {
          "description": "Use the last period's actual spend as the budget for the present period. LastPeriodAmount can only be set when the budget's time period is a Filter.calendar_period. It cannot be set in combination with Filter.custom_period.",
          "$ref": "GoogleCloudBillingBudgetsV1LastPeriodAmount"
        }
      },
      "description": "The budgeted amount for each usage period."
    },
    "GoogleCloudBillingBudgetsV1LastPeriodAmount": {
      "properties": {},
      "id": "GoogleCloudBillingBudgetsV1LastPeriodAmount",
      "description": "Describes a budget amount targeted to the last Filter.calendar_period spend. At this time, the amount is automatically 100% of the last calendar period's spend; that is, there are no other options yet. Future configuration options will be described here (for example, configuring a percentage of last period's spend). LastPeriodAmount cannot be set for a budget configured with a Filter.custom_period.",
      "type": "object"
    },
    "GoogleCloudBillingBudgetsV1Filter": {
      "properties": {
        "customPeriod": {
          "description": "Optional. Specifies to track usage from any start date (required) to any end date (optional). This time period is static, it does not recur.",
          "$ref": "GoogleCloudBillingBudgetsV1CustomPeriod"
        },
        "creditTypesTreatment": {
          "enumDescriptions": [
            "",
            "All types of credit are subtracted from the gross cost to determine the spend for threshold calculations.",
            "All types of credit are added to the net cost to determine the spend for threshold calculations.",
            "[Credit types](https://cloud.google.com/billing/docs/how-to/export-data-bigquery-tables#credits-type) specified in the credit_types field are subtracted from the gross cost to determine the spend for threshold calculations."
          ],
          "description": "Optional. If not set, default behavior is `INCLUDE_ALL_CREDITS`.",
          "enum": [
            "CREDIT_TYPES_TREATMENT_UNSPECIFIED",
            "INCLUDE_ALL_CREDITS",
            "EXCLUDE_ALL_CREDITS",
            "INCLUDE_SPECIFIED_CREDITS"
          ],
          "type": "string"
        },
        "projects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A set of projects of the form `projects/{project}`, specifying that usage from only this set of projects should be included in the budget. If omitted, the report will include all usage for the billing account, regardless of which project the usage occurred on. Only zero or one project can be specified currently."
        },
        "labels": {
          "type": "object",
          "description": "Optional. A single label and value pair specifying that usage from only this set of labeled resources should be included in the budget. Currently, multiple entries or multiple values per entry are not allowed. If omitted, the report will include all labeled and unlabeled usage.",
          "additionalProperties": {
            "items": {
              "type": "any"
            },
            "type": "array"
          }
        },
        "services": {
          "type": "array",
          "description": "Optional. A set of services of the form `services/{service_id}`, specifying that usage from only this set of services should be included in the budget. If omitted, the report will include usage for all the services. The service names are available through the Catalog API: https://cloud.google.com/billing/v1/how-tos/catalog-api.",
          "items": {
            "type": "string"
          }
        },
        "calendarPeriod": {
          "type": "string",
          "enum": [
            "CALENDAR_PERIOD_UNSPECIFIED",
            "MONTH",
            "QUARTER",
            "YEAR"
          ],
          "description": "Optional. Specifies to track usage for recurring calendar period. For example, assume that CalendarPeriod.QUARTER is set. The budget will track usage from April 1 to June 30, when the current calendar month is April, May, June. After that, it will track usage from July 1 to September 30 when the current calendar month is July, August, September, so on.",
          "enumDescriptions": [
            "",
            "A month. Month starts on the first day of each month, such as January 1, February 1, March 1, and so on.",
            "A quarter. Quarters start on dates January 1, April 1, July 1, and October 1 of each year.",
            "A year. Year starts on January 1."
          ]
        },
        "subaccounts": {
          "type": "array",
          "description": "Optional. A set of subaccounts of the form `billingAccounts/{account_id}`, specifying that usage from only this set of subaccounts should be included in the budget. If a subaccount is set to the name of the parent account, usage from the parent account will be included. If the field is omitted, the report will include usage from the parent account and all subaccounts, if they exist.",
          "items": {
            "type": "string"
          }
        },
        "creditTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If Filter.credit_types_treatment is INCLUDE_SPECIFIED_CREDITS, this is a list of credit types to be subtracted from gross cost to determine the spend for threshold calculations. See [a list of acceptable credit type values](https://cloud.google.com/billing/docs/how-to/export-data-bigquery-tables#credits-type). If Filter.credit_types_treatment is **not** INCLUDE_SPECIFIED_CREDITS, this field must be empty."
        }
      },
      "id": "GoogleCloudBillingBudgetsV1Filter",
      "description": "A filter for a budget, limiting the scope of the cost to calculate.",
      "type": "object"
    },
    "GoogleCloudBillingBudgetsV1ThresholdRule": {
      "description": "ThresholdRule contains a definition of a threshold which triggers an alert (a notification of a threshold being crossed) to be sent when spend goes above the specified amount. Alerts are automatically e-mailed to users with the Billing Account Administrator role or the Billing Account User role. The thresholds here have no effect on notifications sent to anything configured under `Budget.all_updates_rule`.",
      "type": "object",
      "properties": {
        "thresholdPercent": {
          "format": "double",
          "type": "number",
          "description": "Required. Send an alert when this threshold is exceeded. This is a 1.0-based percentage, so 0.5 = 50%. Validation: non-negative number."
        },
        "spendBasis": {
          "enum": [
            "BASIS_UNSPECIFIED",
            "CURRENT_SPEND",
            "FORECASTED_SPEND"
          ],
          "enumDescriptions": [
            "Unspecified threshold basis.",
            "Use current spend as the basis for comparison against the threshold.",
            "Use forecasted spend for the period as the basis for comparison against the threshold. FORECASTED_SPEND can only be set when the budget's time period is a Filter.calendar_period. It cannot be set in combination with Filter.custom_period."
          ],
          "description": "Optional. The type of basis used to determine if spend has passed the threshold. Behavior defaults to CURRENT_SPEND if not set.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBudgetsV1ThresholdRule"
    },
    "GoogleCloudBillingBudgetsV1CustomPeriod": {
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Required. The start date must be after January 1, 2017.",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. The end date of the time period. Budgets with elapsed end date won't be processed. If unset, specifies to track all usage incurred since the start_date."
        }
      },
      "id": "GoogleCloudBillingBudgetsV1CustomPeriod",
      "description": "All date times begin at 12 AM US and Canadian Pacific Time (UTC-8)."
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "type": "object"
    },
    "GoogleTypeMoney": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudBillingBudgetsV1NotificationsRule": {
      "properties": {
        "schemaVersion": {
          "description": "Optional. Required when NotificationsRule.pubsub_topic is set. The schema version of the notification sent to NotificationsRule.pubsub_topic. Only \"1.0\" is accepted. It represents the JSON schema as defined in https://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications#notification_format.",
          "type": "string"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Optional. The name of the Pub/Sub topic where budget related messages will be published, in the form `projects/{project_id}/topics/{topic_id}`. Updates are sent at regular intervals to the topic. The topic needs to be created before the budget is created; see https://cloud.google.com/billing/docs/how-to/budgets#manage-notifications for more details. Caller is expected to have `pubsub.topics.setIamPolicy` permission on the topic when it's set for a budget, otherwise, the API call will fail with PERMISSION_DENIED. See https://cloud.google.com/billing/docs/how-to/budgets-programmatic-notifications for more details on Pub/Sub roles and permissions."
        },
        "monitoringNotificationChannels": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Targets to send notifications to when a threshold is exceeded. This is in addition to default recipients who have billing account IAM roles. The value is the full REST resource name of a monitoring notification channel with the form `projects/{project_id}/notificationChannels/{channel_id}`. A maximum of 5 channels are allowed. See https://cloud.google.com/billing/docs/how-to/budgets-notification-recipients for more details.",
          "type": "array"
        },
        "disableDefaultIamRecipients": {
          "type": "boolean",
          "description": "Optional. When set to true, disables default notifications sent when a threshold is exceeded. Default notifications are sent to those with Billing Account Administrator and Billing Account User IAM roles for the target account."
        }
      },
      "description": "NotificationsRule defines notifications that are sent based on budget spend and thresholds.",
      "type": "object",
      "id": "GoogleCloudBillingBudgetsV1NotificationsRule"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "GoogleCloudBillingBudgetsV1ListBudgetsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more budgets that match the request; this value should be passed in a new `ListBudgetsRequest`.",
          "type": "string"
        },
        "budgets": {
          "type": "array",
          "description": "List of the budgets owned by the requested billing account.",
          "items": {
            "$ref": "GoogleCloudBillingBudgetsV1Budget"
          }
        }
      },
      "description": "Response for ListBudgets",
      "id": "GoogleCloudBillingBudgetsV1ListBudgetsResponse",
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "name": "billingbudgets",
  "ownerDomain": "google.com",
  "title": "Cloud Billing Budget API",
  "servicePath": "",
  "basePath": "",
  "revision": "20210412",
  "ownerName": "Google",
  "baseUrl": "https://billingbudgets.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "billingAccounts": {
      "resources": {
        "budgets": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudBillingBudgetsV1Budget"
              },
              "flatPath": "v1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1Budget"
              },
              "id": "billingbudgets.billingAccounts.budgets.patch",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a budget and returns the updated budget. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. Budget fields that are not exposed in this API will not be changed by this method.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "type": "string",
                  "description": "Output only. Resource name of the budget. The resource name implies the scope of a budget. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. Indicates which fields in the provided budget to update. Read-only fields (such as `name`) cannot be changed. If this is not provided, then only fields with non-default values from the request are updated. See https://developers.google.com/protocol-buffers/docs/proto3#default for more details about default values.",
                  "location": "query"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1Budget"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "billingbudgets.billingAccounts.budgets.get",
              "httpMethod": "GET",
              "description": "Returns a budget. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. When reading from the API, you will not see these fields in the return value, though they may have been set in the Cloud Console.",
              "parameters": {
                "name": {
                  "description": "Required. Name of budget to get. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}"
            },
            "delete": {
              "path": "v1/{+name}",
              "description": "Deletes a budget. Returns successfully if already deleted.",
              "flatPath": "v1/billingAccounts/{billingAccountsId}/budgets/{budgetsId}",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the budget to delete. Values are of the form `billingAccounts/{billingAccountId}/budgets/{budgetId}`."
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "billingbudgets.billingAccounts.budgets.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of billing account to list budgets under. Values are of the form `billingAccounts/{billingAccountId}`.",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The value returned by the last `ListBudgetsResponse` which indicates that this is a continuation of a prior `ListBudgets` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of budgets to return per page. The default and maximum value are 100.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1/{+parent}/budgets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1ListBudgetsResponse"
              },
              "flatPath": "v1/billingAccounts/{billingAccountsId}/budgets",
              "id": "billingbudgets.billingAccounts.budgets.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns a list of budgets for a billing account. WARNING: There are some fields exposed on the Google Cloud Console that aren't available on this API. When reading from the API, you will not see these fields in the return value, though they may have been set in the Cloud Console.",
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the billing account to create the budget in. Values are of the form `billingAccounts/{billingAccountId}`.",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$"
                }
              },
              "path": "v1/{+parent}/budgets",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/billingAccounts/{billingAccountsId}/budgets",
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1Budget"
              },
              "description": "Creates a new budget. See [Quotas and limits](https://cloud.google.com/billing/quotas) for more information on the limits of the number of budgets you can create.",
              "request": {
                "$ref": "GoogleCloudBillingBudgetsV1Budget"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "billingbudgets.billingAccounts.budgets.create",
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  }
}
