{
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230215",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "name": "businessprofileperformance",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "title": "Business Profile Performance API",
  "servicePath": "",
  "schemas": {
    "TimeSeries": {
      "description": "Represents a timeseries.",
      "properties": {
        "datedValues": {
          "items": {
            "$ref": "DatedValue"
          },
          "type": "array",
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair."
        }
      },
      "type": "object",
      "id": "TimeSeries"
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "properties": {
        "searchKeywordsCounts": {
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "InsightsValue": {
      "description": "Represents an insights value.",
      "type": "object",
      "id": "InsightsValue",
      "properties": {
        "threshold": {
          "format": "int64",
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string"
        },
        "value": {
          "description": "Represents the actual value.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SearchKeywordCount": {
      "properties": {
        "insightsValue": {
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold.",
          "$ref": "InsightsValue"
        },
        "searchKeyword": {
          "description": "The lower-cased string that the user entered.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchKeywordCount",
      "description": "Represents a single search keyword and its value."
    },
    "DatedValue": {
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set."
        },
        "value": {
          "format": "int64",
          "description": "The value of the datapoint.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatedValue"
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "type": "object",
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "id": "GetDailyMetricsTimeSeriesResponse",
      "properties": {
        "timeSeries": {
          "$ref": "TimeSeries",
          "description": "The daily time series."
        }
      }
    }
  },
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "id": "businessprofileperformance:v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Business Profile Performance",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "documentationLink": "https://developers.google.com/my-business/",
  "discoveryVersion": "v1",
  "resources": {
    "locations": {
      "methods": {
        "getDailyMetricsTimeSeries": {
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "parameters": {
            "dailyRange.endDate.day": {
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.startDate.day": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailyMetric": {
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings received from the business profile.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "location": "query",
              "description": "Required. The metric to retrieve time series.",
              "type": "string",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ]
            },
            "name": {
              "required": true,
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "type": "string",
              "location": "path"
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "location": "query",
              "type": "integer",
              "description": "Minutes of hour of day. Must be from 0 to 59.",
              "format": "int32"
            },
            "dailyRange.startDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.endDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "dailySubEntityType.dayOfWeek": {
              "type": "string",
              "description": "Represents the day of the week. Eg: MONDAY.",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "location": "query",
              "format": "int32",
              "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
              "type": "integer"
            },
            "dailyRange.startDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query"
            },
            "dailyRange.endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "httpMethod": "GET",
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "parameters": {
                        "monthlyRange.endMonth.day": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                        },
                        "monthlyRange.startMonth.year": {
                          "type": "integer",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.year": {
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "location": "query",
                          "type": "string",
                          "format": "byte"
                        },
                        "monthlyRange.startMonth.day": {
                          "location": "query",
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "format": "int32"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "type": "integer"
                        },
                        "monthlyRange.startMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.month": {
                          "location": "query",
                          "format": "int32",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "type": "string",
                          "pattern": "^locations/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "httpMethod": "GET",
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/"
}
