{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Manipulates events and other calendar data.",
  "id": "calendar:v3",
  "batchPath": "batch/calendar/v3",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "parameters": {
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Calendar API",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20220422",
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "basePath": "/calendar/v3/",
  "name": "calendar",
  "resources": {
    "channels": {
      "methods": {
        "stop": {
          "description": "Stop watching resources through this channel",
          "id": "calendar.channels.stop",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "POST",
          "path": "channels/stop",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          }
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "id": "calendar.colors.get",
          "httpMethod": "GET",
          "description": "Returns the color definitions for calendars and events.",
          "path": "colors",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Colors"
          }
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "id": "calendar.freebusy.query",
          "httpMethod": "POST",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "freeBusy",
          "description": "Returns free/busy information for a set of calendars.",
          "request": {
            "$ref": "FreeBusyRequest"
          }
        }
      }
    },
    "calendarList": {
      "methods": {
        "get": {
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "description": "Returns a calendar from the user's calendar list.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.get"
        },
        "update": {
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Updates an existing calendar on the user's calendar list.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "colorRgbFormat": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.update"
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "users/me/calendarList/watch",
          "description": "Watch for changes to CalendarList resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "POST",
          "id": "calendar.calendarList.watch",
          "parameters": {
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "minAccessRole": {
              "type": "string",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "location": "query",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ]
            },
            "showHidden": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False."
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "PATCH",
          "id": "calendar.calendarList.patch",
          "path": "users/me/calendarList/{calendarId}",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "insert": {
          "id": "calendar.calendarList.insert",
          "httpMethod": "POST",
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Inserts an existing calendar into the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "users/me/calendarList",
          "request": {
            "$ref": "CalendarListEntry"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendarList.delete",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "DELETE",
          "description": "Removes a calendar from the user's calendar list.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CalendarList"
          },
          "id": "calendar.calendarList.list",
          "supportsSubscription": true,
          "description": "Returns the calendars on the user's calendar list.",
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "minAccessRole": {
              "type": "string",
              "location": "query",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction."
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False."
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            }
          },
          "path": "users/me/calendarList"
        }
      }
    },
    "acl": {
      "methods": {
        "update": {
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "description": "Updates an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            },
            "ruleId": {
              "location": "path",
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.update"
        },
        "list": {
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Returns the rules in the access control list for the calendar.",
          "path": "calendars/{calendarId}/acl",
          "supportsSubscription": true,
          "response": {
            "$ref": "Acl"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "minimum": "1"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "calendar.acl.list"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AclRule"
          },
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "type": "boolean"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.insert",
          "description": "Creates an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}/acl",
          "response": {
            "$ref": "AclRule"
          }
        },
        "patch": {
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ACL rule identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "description": "Updates an access control rule. This method supports patch semantics.",
          "id": "calendar.acl.patch",
          "request": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "PATCH"
        },
        "get": {
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.get",
          "parameters": {
            "ruleId": {
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "GET",
          "description": "Returns an access control rule."
        },
        "watch": {
          "parameters": {
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.watch",
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "description": "Watch for changes to ACL resources.",
          "path": "calendars/{calendarId}/acl/watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "supportsSubscription": true,
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "ruleId": {
              "location": "path",
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.delete",
          "description": "Deletes an access control rule."
        }
      }
    },
    "events": {
      "methods": {
        "quickAdd": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "path": "calendars/{calendarId}/events/quickAdd",
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.quickAdd",
          "parameters": {
            "text": {
              "description": "The text describing the event to be created.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the creation of the new event.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query"
            }
          },
          "description": "Creates an event based on a simple text string."
        },
        "move": {
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
          "parameters": {
            "destination": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Calendar identifier of the target calendar where the event is to be moved to."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "type": "string"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "eventId": {
              "description": "Event identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "sendUpdates": {
              "location": "query",
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string"
            }
          },
          "id": "calendar.events.move",
          "httpMethod": "POST",
          "response": {
            "$ref": "Event"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.events.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Event identifier."
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query",
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Returns an event."
        },
        "patch": {
          "id": "calendar.events.patch",
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Updates an event. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "maxAttendees": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "type": "integer"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "eventId": {
              "description": "Event identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "sendUpdates": {
              "location": "query",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "conferenceDataVersion": {
              "format": "int32",
              "maximum": "1",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "location": "query",
              "minimum": "0"
            }
          }
        },
        "insert": {
          "description": "Creates an event.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events",
          "httpMethod": "POST",
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.insert",
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "maxAttendees": {
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "conferenceDataVersion": {
              "location": "query",
              "format": "int32",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "minimum": "0",
              "type": "integer"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false."
            },
            "supportsAttachments": {
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean"
            }
          }
        },
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.events.watch",
          "description": "Watch for changes to Events resources.",
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "supportsSubscription": true,
          "parameters": {
            "iCalUID": {
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
              "type": "string",
              "location": "query"
            },
            "sharedExtendedProperty": {
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true,
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "privateExtendedProperty": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "showHiddenInvitations": {
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "timeMin": {
              "format": "date-time",
              "location": "query",
              "type": "string",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "singleEvents": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False."
            },
            "q": {
              "type": "string",
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order."
            },
            "maxAttendees": {
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updatedMin": {
              "type": "string",
              "location": "query",
              "format": "date-time",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "timeMax": {
              "location": "query",
              "format": "date-time",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxResults": {
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "minimum": "1",
              "type": "integer",
              "default": "250",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events/watch"
        },
        "list": {
          "response": {
            "$ref": "Events"
          },
          "description": "Returns events on the specified calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.list",
          "path": "calendars/{calendarId}/events",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "maxResults": {
              "default": "250",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "privateExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            },
            "updatedMin": {
              "format": "date-time",
              "location": "query",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string"
            },
            "showHiddenInvitations": {
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "singleEvents": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False."
            },
            "iCalUID": {
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ]
            },
            "timeMin": {
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "location": "query",
              "type": "string",
              "format": "date-time"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          }
        },
        "delete": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "description": "Deletes an event.",
          "id": "calendar.events.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendUpdates": {
              "type": "string",
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the deletion of the event."
            },
            "eventId": {
              "location": "path",
              "description": "Event identifier.",
              "required": true,
              "type": "string"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameters": {
            "maxAttendees": {
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "minimum": "1",
              "type": "integer"
            },
            "sendUpdates": {
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "eventId": {
              "location": "path",
              "description": "Event identifier.",
              "type": "string",
              "required": true
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "type": "integer",
              "location": "query",
              "minimum": "0",
              "format": "int32"
            }
          },
          "id": "calendar.events.update",
          "description": "Updates an event.",
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "PUT",
          "path": "calendars/{calendarId}/events/{eventId}"
        },
        "instances": {
          "supportsSubscription": true,
          "parameters": {
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query",
              "type": "integer"
            },
            "timeMax": {
              "format": "date-time",
              "location": "query",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset."
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "timeMin": {
              "type": "string",
              "format": "date-time",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "location": "query"
            },
            "originalStart": {
              "description": "The original start time of the instance in the result. Optional.",
              "type": "string",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "description": "Recurring event identifier.",
              "type": "string",
              "location": "path"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Returns instances of the specified recurring event.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "httpMethod": "GET",
          "id": "calendar.events.instances",
          "response": {
            "$ref": "Events"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "import": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.import",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "supportsAttachments": {
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean"
            },
            "conferenceDataVersion": {
              "location": "query",
              "minimum": "0",
              "format": "int32",
              "maximum": "1",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            }
          },
          "path": "calendars/{calendarId}/events/import"
        }
      }
    },
    "settings": {
      "methods": {
        "watch": {
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "users/me/settings/watch",
          "id": "calendar.settings.watch",
          "response": {
            "$ref": "Channel"
          },
          "description": "Watch for changes to Settings resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "httpMethod": "POST"
        },
        "list": {
          "response": {
            "$ref": "Settings"
          },
          "id": "calendar.settings.list",
          "path": "users/me/settings",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            }
          },
          "description": "Returns all user settings for the authenticated user.",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ]
        },
        "get": {
          "path": "users/me/settings/{setting}",
          "httpMethod": "GET",
          "parameterOrder": [
            "setting"
          ],
          "response": {
            "$ref": "Setting"
          },
          "id": "calendar.settings.get",
          "parameters": {
            "setting": {
              "location": "path",
              "description": "The id of the user setting.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns a single user setting.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ]
        }
      }
    },
    "calendars": {
      "methods": {
        "delete": {
          "path": "calendars/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendars.delete",
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars."
        },
        "patch": {
          "response": {
            "$ref": "Calendar"
          },
          "httpMethod": "PATCH",
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.patch"
        },
        "clear": {
          "parameters": {
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/clear",
          "id": "calendar.calendars.clear"
        },
        "get": {
          "id": "calendar.calendars.get",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Returns metadata for a calendar.",
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.insert",
          "path": "calendars",
          "description": "Creates a secondary calendar."
        },
        "update": {
          "request": {
            "$ref": "Calendar"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}",
          "description": "Updates metadata for a calendar.",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Calendar"
          }
        }
      }
    }
  },
  "servicePath": "calendar/v3/",
  "protocol": "rest",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "EventDateTime": {
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
        },
        "dateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone."
        },
        "date": {
          "format": "date",
          "type": "string",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event."
        }
      },
      "id": "EventDateTime"
    },
    "Colors": {
      "id": "Colors",
      "type": "object",
      "properties": {
        "kind": {
          "default": "calendar#colors",
          "description": "Type of the resource (\"calendar#colors\").",
          "type": "string"
        },
        "event": {
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "An event color definition."
          },
          "type": "object"
        },
        "calendar": {
          "additionalProperties": {
            "description": "A calendar color definition.",
            "$ref": "ColorDefinition"
          },
          "type": "object",
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only."
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "type": "string"
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "properties": {
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "kind": {
          "default": "api#channel",
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\"."
        },
        "params": {
          "additionalProperties": {
            "description": "Declares a new parameter by name.",
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages."
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        }
      }
    },
    "Setting": {
      "id": "Setting",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the user setting."
        },
        "kind": {
          "description": "Type of the resource (\"calendar#setting\").",
          "type": "string",
          "default": "calendar#setting"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "value": {
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConferenceProperties": {
      "id": "ConferenceProperties",
      "type": "object",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional."
        }
      }
    },
    "FreeBusyRequestItem": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of a calendar or a group.",
          "type": "string"
        }
      },
      "id": "FreeBusyRequestItem"
    },
    "Calendar": {
      "id": "Calendar",
      "properties": {
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional."
        },
        "id": {
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "summary": {
          "type": "string",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "description": "Title of the calendar."
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendar\").",
          "type": "string",
          "default": "calendar#calendar"
        }
      },
      "type": "object"
    },
    "ColorDefinition": {
      "properties": {
        "foreground": {
          "description": "The foreground color that can be used to write on top of a background with 'background' color.",
          "type": "string"
        },
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        }
      },
      "id": "ColorDefinition",
      "type": "object"
    },
    "CreateConferenceRequest": {
      "id": "CreateConferenceRequest",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        },
        "requestId": {
          "type": "string",
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
        },
        "conferenceSolutionKey": {
          "description": "The conference solution, such as Hangouts or Google Meet.",
          "$ref": "ConferenceSolutionKey"
        }
      }
    },
    "AclRule": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          }
        },
        "kind": {
          "description": "Type of the resource (\"calendar#aclRule\").",
          "type": "string",
          "default": "calendar#aclRule"
        },
        "scope": {
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              }
            },
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            }
          },
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "type": "object",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          }
        }
      },
      "id": "AclRule",
      "type": "object"
    },
    "EventAttachment": {
      "id": "EventAttachment",
      "type": "object",
      "properties": {
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
        },
        "mimeType": {
          "description": "Internet media type (MIME type) of the attachment.",
          "type": "string"
        },
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        },
        "title": {
          "description": "Attachment title.",
          "type": "string"
        },
        "fileId": {
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
          "type": "string"
        }
      }
    },
    "CalendarListEntry": {
      "properties": {
        "selected": {
          "type": "boolean",
          "default": "false",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False."
        },
        "primary": {
          "default": "false",
          "type": "boolean",
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
        },
        "backgroundColor": {
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "accessRole": {
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "calendar#calendarListEntry",
          "description": "Type of the resource (\"calendar#calendarListEntry\")."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "description": {
          "description": "Description of the calendar. Optional. Read-only.",
          "type": "string"
        },
        "notificationSettings": {
          "type": "object",
          "description": "The notifications that the authenticated user is receiving for this calendar.",
          "properties": {
            "notifications": {
              "description": "The list of notifications set for this calendar.",
              "type": "array",
              "items": {
                "$ref": "CalendarNotification"
              }
            }
          }
        },
        "timeZone": {
          "description": "The time zone of the calendar. Optional. Read-only.",
          "type": "string"
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "default": "false"
        },
        "deleted": {
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "summaryOverride": {
          "description": "The summary that the authenticated user has set for this calendar. Optional.",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the calendar.",
          "type": "string",
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          }
        },
        "defaultReminders": {
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "foregroundColor": {
          "type": "string",
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only.",
          "type": "string"
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        }
      },
      "type": "object",
      "id": "CalendarListEntry"
    },
    "EventReminder": {
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        },
        "minutes": {
          "format": "int32",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "EventReminder"
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "type": "object",
      "properties": {
        "start": {
          "description": "The (inclusive) start of the time period.",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "format": "date-time",
          "type": "string",
          "description": "The (exclusive) end of the time period."
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of the collection (\"calendar#settings\").",
          "type": "string",
          "default": "calendar#settings"
        },
        "items": {
          "type": "array",
          "description": "List of user settings.",
          "items": {
            "$ref": "Setting"
          }
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "etag": {
          "description": "Etag of the collection.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        }
      }
    },
    "ConferenceRequestStatus": {
      "id": "ConferenceRequestStatus",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
        }
      },
      "type": "object"
    },
    "FreeBusyCalendar": {
      "id": "FreeBusyCalendar",
      "type": "object",
      "properties": {
        "busy": {
          "type": "array",
[...]
