{
  "name": "calendar",
  "rootUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "calendar/v3/",
  "description": "Manipulates events and other calendar data.",
  "schemas": {
    "AclRule": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#aclRule\").",
          "type": "string",
          "default": "calendar#aclRule"
        },
        "scope": {
          "type": "object",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          },
          "properties": {
            "value": {
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\".",
              "type": "string"
            },
            "type": {
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "type": "string",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              }
            }
          },
          "description": "The extent to which calendar access is granted by this ACL rule."
        },
        "role": {
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "type": "string",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          }
        }
      },
      "id": "AclRule"
    },
    "ConferenceParameters": {
      "id": "ConferenceParameters",
      "properties": {
        "addOnParameters": {
          "$ref": "ConferenceParametersAddOnParameters",
          "description": "Additional add-on specific data."
        }
      },
      "type": "object"
    },
    "Events": {
      "id": "Events",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "updated": {
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "defaultReminders": {
          "type": "array",
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "items": {
            "$ref": "EventReminder"
          }
        },
        "kind": {
          "description": "Type of the collection (\"calendar#events\").",
          "default": "calendar#events",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "items": {
          "description": "List of events on the calendar.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Read-only."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Read-only."
        },
        "accessRole": {
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "type": "string"
        }
      }
    },
    "Calendar": {
      "properties": {
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "id": {
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "description": {
          "description": "Description of the calendar. Optional.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendar\").",
          "default": "calendar#calendar"
        },
        "summary": {
          "type": "string",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "description": "Title of the calendar."
        }
      },
      "id": "Calendar",
      "type": "object"
    },
    "FreeBusyCalendar": {
      "id": "FreeBusyCalendar",
      "type": "object",
      "properties": {
        "busy": {
          "items": {
            "$ref": "TimePeriod"
          },
          "type": "array",
          "description": "List of time ranges during which this calendar should be regarded as busy."
        },
        "errors": {
          "type": "array",
          "description": "Optional error(s) (if computation for the calendar failed).",
          "items": {
            "$ref": "Error"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "domain": {
          "description": "Domain, or broad category, of the error.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
        }
      },
      "id": "Error"
    },
    "EntryPoint": {
      "properties": {
        "password": {
          "type": "string",
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "passcode": {
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
        },
        "entryPointType": {
          "type": "string",
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference."
        },
        "label": {
          "type": "string",
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional."
        },
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE."
        },
        "meetingCode": {
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "pin": {
          "type": "string",
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "entryPointFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point."
        },
        "accessCode": {
          "type": "string",
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        }
      },
      "id": "EntryPoint",
      "type": "object"
    },
    "EventWorkingLocationProperties": {
      "type": "object",
      "properties": {
        "officeLocation": {
          "type": "object",
          "properties": {
            "deskId": {
              "type": "string",
              "description": "An optional arbitrary desk identifier."
            },
            "label": {
              "type": "string",
              "description": "An optional extra label for additional information."
            },
            "floorId": {
              "description": "An optional arbitrary floor identifier.",
              "type": "string"
            },
            "floorSectionId": {
              "description": "An optional arbitrary floor section identifier.",
              "type": "string"
            },
            "buildingId": {
              "type": "string",
              "description": "An optional building identifier. This should reference a building ID in the organization's Resources database."
            }
          },
          "description": "If present, specifies that the user is working from an office."
        },
        "customLocation": {
          "properties": {
            "label": {
              "type": "string",
              "description": "An optional extra label for additional information."
            }
          },
          "description": "If present, specifies that the user is working from a custom location.",
          "type": "object"
        },
        "homeOffice": {
          "description": "If present, specifies that the user is working at home.",
          "type": "any"
        }
      },
      "id": "EventWorkingLocationProperties"
    },
    "CalendarListEntry": {
      "type": "object",
      "properties": {
        "id": {
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          },
          "description": "Identifier of the calendar.",
          "type": "string"
        },
        "selected": {
          "default": "false",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "colorId": {
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendarListEntry\").",
          "default": "calendar#calendarListEntry",
          "type": "string"
        },
        "notificationSettings": {
          "type": "object",
          "description": "The notifications that the authenticated user is receiving for this calendar.",
          "properties": {
            "notifications": {
              "description": "The list of notifications set for this calendar.",
              "items": {
                "$ref": "CalendarNotification"
              },
              "type": "array"
            }
          }
        },
        "backgroundColor": {
          "type": "string",
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "deleted": {
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "accessRole": {
          "type": "string",
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "timeZone": {
          "description": "The time zone of the calendar. Optional. Read-only.",
          "type": "string"
        },
        "defaultReminders": {
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "hidden": {
          "default": "false",
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "type": "boolean"
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        },
        "primary": {
          "default": "false",
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "type": "boolean"
        },
        "foregroundColor": {
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only."
        }
      },
      "id": "CalendarListEntry"
    },
    "Settings": {
      "type": "object",
      "id": "Settings",
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#settings",
          "description": "Type of the collection (\"calendar#settings\")."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        },
        "items": {
          "items": {
            "$ref": "Setting"
          },
          "type": "array",
          "description": "List of user settings."
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        }
      }
    },
    "FreeBusyGroup": {
      "type": "object",
      "id": "FreeBusyGroup",
      "properties": {
        "errors": {
          "description": "Optional error(s) (if computation for the group failed).",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "calendars": {
          "type": "array",
          "description": "List of calendars' identifiers within a group.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConferenceSolution": {
      "id": "ConferenceSolution",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user-visible name of this solution. Not localized."
        },
        "iconUri": {
          "type": "string",
          "description": "The user-visible icon for this solution."
        },
        "key": {
          "$ref": "ConferenceSolutionKey",
          "description": "The key which can uniquely identify the conference solution for this event."
        }
      }
    },
    "EventReminder": {
      "type": "object",
      "id": "EventReminder",
      "properties": {
        "minutes": {
          "type": "integer",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
          "format": "int32"
        },
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        }
      }
    },
    "Acl": {
      "type": "object",
      "id": "Acl",
      "properties": {
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the collection (\"calendar#acl\").",
          "type": "string",
          "default": "calendar#acl"
        },
        "items": {
          "type": "array",
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          }
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        }
      }
    },
    "ConferenceProperties": {
      "type": "object",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ConferenceProperties"
    },
    "CreateConferenceRequest": {
      "properties": {
        "status": {
          "description": "The status of the conference create request.",
          "$ref": "ConferenceRequestStatus"
        },
        "conferenceSolutionKey": {
          "$ref": "ConferenceSolutionKey",
          "description": "The conference solution, such as Hangouts or Google Meet."
        },
        "requestId": {
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateConferenceRequest"
    },
    "TimePeriod": {
      "properties": {
        "start": {
          "type": "string",
          "description": "The (inclusive) start of the time period.",
          "format": "date-time"
        },
        "end": {
          "type": "string",
          "format": "date-time",
          "description": "The (exclusive) end of the time period."
        }
      },
      "type": "object",
      "id": "TimePeriod"
    },
    "FreeBusyRequest": {
      "id": "FreeBusyRequest",
      "properties": {
        "timeMin": {
          "description": "The start of the interval for the query formatted as per RFC3339.",
          "format": "date-time",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "default": "UTC",
          "description": "Time zone used in the response. Optional. The default is UTC."
        },
        "groupExpansionMax": {
          "type": "integer",
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100.",
          "format": "int32"
        },
        "timeMax": {
          "type": "string",
          "description": "The end of the interval for the query formatted as per RFC3339.",
          "format": "date-time"
        },
        "calendarExpansionMax": {
          "type": "integer",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50.",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "FreeBusyRequestItem"
          },
          "type": "array",
          "description": "List of calendars and/or groups to query."
        }
      },
      "type": "object"
    },
    "EventAttachment": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Attachment title.",
          "type": "string"
        },
        "fileUrl": {
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment.",
          "type": "string"
        },
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
        },
        "fileId": {
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        }
      },
      "id": "EventAttachment"
    },
    "FreeBusyRequestItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of a calendar or a group."
        }
      },
      "id": "FreeBusyRequestItem"
    },
    "CalendarNotification": {
      "type": "object",
      "id": "CalendarNotification",
      "properties": {
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        },
        "method": {
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification.",
          "type": "string"
        }
      }
    },
    "ColorDefinition": {
      "type": "object",
      "properties": {
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        },
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        }
      },
      "id": "ColorDefinition"
    },
    "ConferenceRequestStatus": {
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
        }
      },
      "id": "ConferenceRequestStatus",
      "type": "object"
    },
    "EventAttendee": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "boolean",
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
          "default": "false"
        },
        "comment": {
          "type": "string",
          "description": "The attendee's response comment. Optional."
        },
        "self": {
          "default": "false",
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "The attendee's Profile ID, if available."
        },
        "email": {
          "type": "string",
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee."
        },
        "displayName": {
          "description": "The attendee's name, if available. Optional.",
          "type": "string"
        },
        "optional": {
          "default": "false",
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "type": "boolean"
        },
        "organizer": {
          "type": "boolean",
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False."
        },
        "additionalGuests": {
          "description": "Number of additional guests. Optional. The default is 0.",
          "type": "integer",
          "default": "0",
          "format": "int32"
        },
        "responseStatus": {
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" won't see an event on their calendar unless they choose to change their invitation response in the event invitation email.",
          "type": "string"
        }
      },
      "id": "EventAttendee"
    },
    "ConferenceParametersAddOnParameters": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "ConferenceParametersAddOnParameters"
    },
    "EventDateTime": {
      "id": "EventDateTime",
      "type": "object",
      "properties": {
        "dateTime": {
          "type": "string",
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "format": "date-time"
        },
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
        }
      }
    },
    "Setting": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
        },
        "id": {
          "type": "string",
          "description": "The id of the user setting."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#setting\").",
          "type": "string",
          "default": "calendar#setting"
        }
      },
      "type": "object",
      "id": "Setting"
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated.",
          "type": "string"
        },
        "guestsCanInviteOthers": {
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "default": "true",
          "type": "boolean"
        },
        "sequence": {
          "format": "int32",
          "description": "Sequence number as per iCalendar.",
          "type": "integer"
        },
        "conferenceData": {
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests.",
          "$ref": "ConferenceData"
        },
        "htmlLink": {
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only.",
          "type": "string"
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "organizer": {
          "properties": {
            "self": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            },
            "email": {
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "The organizer's Profile ID, if available."
            },
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            }
          },
          "type": "object",
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event."
        },
        "extendedProperties": {
          "properties": {
            "shared": {
              "additionalProperties": {
                "description": "The name of the shared property and the corresponding value.",
                "type": "string"
              },
              "type": "object",
              "description": "Properties that are shared between copies of the event on other attendees' calendars."
            },
            "private": {
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "type": "object",
              "additionalProperties": {
                "description": "The name of the private property and the corresponding value.",
                "type": "string"
              }
            }
          },
          "description": "Extended properties of the event.",
          "type": "object"
        },
        "recurrence": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events."
        },
        "summary": {
          "description": "Title of the event.",
          "type": "string"
        },
        "updated": {
          "description": "Last modification time of the event (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "guestsCanSeeOtherGuests": {
          "type": "boolean",
          "default": "true",
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True."
        },
        "end": {
          "$ref": "EventDateTime",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance."
        },
        "id": {
          "type": "string",
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "eventType": {
          "type": "string",
          "default": "default",
          "description": "Specific type of the event. Read-only. Possible values are:  \n- \"default\" - A regular event or not further specified. \n- \"outOfOffice\" - An out-of-office event. \n- \"focusTime\" - A focus-time event. \n- \"workingLocation\" - A working location event. Developer Preview."
        },
        "originalStartTime": {
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable.",
          "$ref": "EventDateTime"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "iCalUID": {
          "type": "string",
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method.",
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          }
        },
        "anyoneCanAddSelf": {
          "description": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "reminders": {
          "type": "object",
          "properties": {
            "useDefault": {
              "type": "boolean",
              "description": "Whether the default reminders of the calendar apply to the event."
            },
            "overrides": {
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
              "type": "array",
              "items": {
                "$ref": "EventReminder"
              }
            }
          },
          "description": "Information about the event's reminders for the authenticated user."
        },
        "source": {
          "type": "object",
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "properties": {
            "url": {
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
              "type": "string"
            },
            "title": {
              "description": "Title of the source; for example a title of a web page or an email subject.",
              "type": "string"
            }
          }
        },
        "attendeesOmitted": {
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "start": {
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
          "$ref": "EventDateTime"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#event\").",
          "default": "calendar#event"
        },
        "creator": {
          "description": "The creator of the event. Read-only.",
          "type": "object",
          "properties": {
            "email": {
              "description": "The creator's email address, if available.",
              "type": "string"
            },
            "displayName": {
              "type": "string",
              "description": "The creator's name, if available."
            },
            "self": {
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "default": "false",
              "type": "boolean"
            },
            "id": {
              "description": "The creator's Profile ID, if available.",
              "type": "string"
            }
          }
        },
        "visibility": {
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
          "type": "string",
          "default": "default"
        },
        "attachments": {
          "description": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "type": "array",
          "items": {
            "$ref": "EventAttachment"
          }
        },
        "endTimeUnspecified": {
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "created": {
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "privateCopy": {
          "default": "false",
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False.",
          "type": "boolean"
        },
        "locked": {
          "default": "false",
          "type": "boolean",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
        },
        "recurringEventId": {
          "type": "string",
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "attendees": {
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list.",
          "type": "array",
          "items": {
            "$ref": "EventAttendee"
          }
        },
        "workingLocationProperties": {
          "$ref": "EventWorkingLocationProperties",
          "description": "Developer Preview: Working Location event data. Read-only."
        },
        "location": {
          "description": "Geographic location of the event as free-form text. Optional.",
          "type": "string"
        },
        "transparency": {
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "default": "opaque",
          "type": "string"
        },
        "hangoutLink": {
          "type": "string",
          "description": "An absolute link to the Google Hangout associated with this event. Read-only."
        },
        "description": {
          "type": "string",
          "description": "Description of the event. Can contain HTML. Optional."
        },
        "gadget": {
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The gadget's type. Deprecated.",
              "type": "string"
            },
            "title": {
              "description": "The gadget's title. Deprecated.",
              "type": "string"
            },
            "iconLink": {
              "type": "string",
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
            },
            "height": {
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated.",
              "format": "int32",
              "type": "integer"
            },
            "preferences": {
              "description": "Preferences.",
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "description": "The preference name and corresponding value."
              }
            },
            "link": {
              "type": "string",
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated."
            },
            "display": {
              "type": "string",
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated."
            }
          }
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string",
          "format": "int64"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "description": "Declares a new parameter by name.",
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "default": "api#channel",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        }
      }
    },
    "ConferenceData": {
      "properties": {
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "type": "array",
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "createRequest": {
          "$ref": "CreateConferenceRequest",
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "conferenceSolution": {
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "ConferenceSolution"
        },
        "conferenceId": {
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional.",
          "type": "string"
        },
        "notes": {
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional.",
          "type": "string"
        },
        "parameters": {
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming.",
          "$ref": "ConferenceParameters"
        },
        "signature": {
          "type": "string",
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
        }
      },
      "type": "object",
      "id": "ConferenceData"
    },
    "FreeBusyResponse": {
      "properties": {
        "calendars": {
          "additionalProperties": {
            "description": "Free/busy expansions for a single calendar.",
            "$ref": "FreeBusyCalendar"
          },
          "type": "object",
          "description": "List of free/busy information for calendars."
        },
        "timeMin": {
          "format": "date-time",
          "description": "The start of the interval.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#freeBusy\").",
          "default": "calendar#freeBusy"
        },
        "timeMax": {
          "type": "string",
          "description": "The end of the interval.",
          "format": "date-time"
        },
        "groups": {
          "additionalProperties": {
            "description": "List of calendars that are members of this group.",
            "$ref": "FreeBusyGroup"
          },
          "type": "object",
          "description": "Expansion of groups."
        }
      },
      "id": "FreeBusyResponse",
      "type": "object"
    },
    "Colors": {
      "properties": {
        "updated": {
          "type": "string",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "calendar": {
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only.",
          "type": "object",
          "additionalProperties": {
            "description": "A calendar color definition.",
            "$ref": "ColorDefinition"
          }
        },
        "kind": {
          "default": "calendar#colors",
          "description": "Type of the resource (\"calendar#colors\").",
          "type": "string"
        },
        "event": {
          "type": "object",
          "additionalProperties": {
            "description": "An event color definition.",
            "$ref": "ColorDefinition"
          },
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only."
        }
      },
      "id": "Colors",
      "type": "object"
    },
    "ConferenceSolutionKey": {
      "id": "ConferenceSolutionKey",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers"
        }
      }
    },
    "CalendarList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#calendarList\").",
          "default": "calendar#calendarList"
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "CalendarListEntry"
          },
          "description": "Calendars that are present on the user's calendar list.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      },
      "id": "CalendarList",
      "type": "object"
    }
  },
  "revision": "20230317",
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "protocol": "rest",
  "parameters": {
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        }
      }
    }
  },
  "icons": {
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png",
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png"
  },
  "version": "v3",
  "resources": {
    "colors": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "path": "colors",
          "id": "calendar.colors.get",
          "description": "Returns the color definitions for calendars and events.",
          "response": {
            "$ref": "Colors"
          }
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "id": "calendar.freebusy.query",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "freeBusy",
          "description": "Returns free/busy information for a set of calendars.",
          "httpMethod": "POST"
        }
      }
    },
    "acl": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl",
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "calendar.acl.insert",
          "request": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Creates an access control rule.",
          "httpMethod": "POST"
        },
        "delete": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "ruleId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ACL rule identifier."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "DELETE",
          "id": "calendar.acl.delete",
          "description": "Deletes an access control rule."
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "ruleId": {
              "required": true,
              "location": "path",
              "description": "ACL rule identifier.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns an access control rule.",
          "response": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.get",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "supportsSubscription": true,
          "response": {
            "$ref": "Acl"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/acl",
          "id": "calendar.acl.list",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Returns the rules in the access control list for the calendar."
        },
        "update": {
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.update",
          "description": "Updates an access control rule.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "AclRule"
          },
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            },
            "ruleId": {
              "type": "string",
              "required": true,
              "description": "ACL rule identifier.",
              "location": "path"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "watch": {
          "id": "calendar.acl.watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "supportsSubscription": true,
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "path": "calendars/{calendarId}/acl/watch",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Watch for changes to ACL resources."
        },
        "patch": {
          "id": "calendar.acl.patch",
          "response": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "description": "Updates an access control rule. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "AclRule"
          },
          "parameters": {
            "ruleId": {
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            }
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "calendar.channels.stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Stop watching resources through this channel",
          "path": "channels/stop",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "settings": {
      "methods": {
        "list": {
          "path": "users/me/settings",
          "description": "Returns all user settings for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET",
          "supportsSubscription": true,
          "response": {
            "$ref": "Settings"
          },
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "calendar.settings.list"
        },
        "watch": {
          "supportsSubscription": true,
          "httpMethod": "POST",
          "path": "users/me/settings/watch",
          "id": "calendar.settings.watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "description": "Watch for changes to Settings resources."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.settings.get",
          "parameters": {
            "setting": {
              "location": "path",
              "description": "The id of the user setting.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns a single user setting.",
          "parameterOrder": [
            "setting"
          ],
          "path": "users/me/settings/{setting}",
          "response": {
            "$ref": "Setting"
          },
          "httpMethod": "GET"
        }
      }
    },
    "calendars": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Calendar"
          },
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "id": "calendar.calendars.patch"
        },
        "get": {
          "description": "Returns metadata for a calendar.",
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            }
          },
          "id": "calendar.calendars.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}",
          "response": {
            "$ref": "Calendar"
          }
        },
        "update": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Updates metadata for a calendar.",
          "request": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}",
          "response": {
            "$ref": "Calendar"
          }
        },
        "clear": {
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}/clear",
          "id": "calendar.calendars.clear"
        },
        "insert": {
          "description": "Creates a secondary calendar.",
          "request": {
            "$ref": "Calendar"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars",
          "id": "calendar.calendars.insert",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "delete": {
          "parameters": {
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendars.delete",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "DELETE"
        }
      }
    },
    "events": {
      "methods": {
        "update": {
          "parameters": {
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "location": "path",
              "type": "string"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "maximum": "1",
              "location": "query",
              "minimum": "0",
              "type": "integer"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "sendUpdates": {
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.update",
          "response": {
            "$ref": "Event"
          },
          "description": "Updates an event.",
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "PUT"
        },
        "move": {
          "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier of the source calendar where the event currently is on."
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the change of the event's organizer."
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "description": "Event identifier.",
              "required": true
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "destination": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.move",
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "httpMethod": "POST",
          "response": {
            "$ref": "Event"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Event"
          },
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "parameters": {
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "type": "integer"
            },
            "eventId": {
              "type": "string",
              "description": "Event identifier.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.get"
        },
        "patch": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "request": {
            "$ref": "Event"
          },
          "id": "calendar.events.patch",
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "Event identifier.",
              "required": true
            },
            "maxAttendees": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "conferenceDataVersion": {
              "type": "integer",
              "minimum": "0",
              "format": "int32",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "location": "query",
              "maximum": "1"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "description": "Updates an event. This method supports patch semantics.",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "httpMethod": "PATCH"
        },
        "quickAdd": {
          "id": "calendar.events.quickAdd",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "response": {
[...]
