{
  "parameters": {
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "basePath": "/calendar/v3/",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "ownerName": "Google",
  "name": "calendar",
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "resources": {
    "acl": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True."
            }
          },
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl",
          "id": "calendar.acl.insert",
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "POST",
          "description": "Creates an access control rule."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.acl.get",
          "description": "Returns an access control rule.",
          "parameters": {
            "ruleId": {
              "location": "path",
              "required": true,
              "description": "ACL rule identifier.",
              "type": "string"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "GET"
        },
        "watch": {
          "description": "Watch for changes to ACL resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.acl.watch",
          "path": "calendars/{calendarId}/acl/watch",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "supportsSubscription": true
        },
        "delete": {
          "id": "calendar.acl.delete",
          "httpMethod": "DELETE",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "description": "Deletes an access control rule.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "ruleId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ACL rule identifier."
            }
          }
        },
        "update": {
          "description": "Updates an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "ruleId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ACL rule identifier."
            },
            "sendNotifications": {
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean"
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "request": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.update"
        },
        "list": {
          "supportsSubscription": true,
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.list",
          "parameters": {
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "format": "int32"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/acl",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Returns the rules in the access control list for the calendar.",
          "response": {
            "$ref": "Acl"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates an access control rule. This method supports patch semantics.",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "response": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "calendar.acl.patch"
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "description": "Returns the color definitions for calendars and events.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.colors.get",
          "response": {
            "$ref": "Colors"
          },
          "path": "colors",
          "httpMethod": "GET"
        }
      }
    },
    "calendarList": {
      "methods": {
        "get": {
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns a calendar from the user's calendar list.",
          "id": "calendar.calendarList.get"
        },
        "list": {
          "response": {
            "$ref": "CalendarList"
          },
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "type": "integer"
            },
            "minAccessRole": {
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "location": "query",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ]
            },
            "showHidden": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            }
          },
          "path": "users/me/calendarList",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendarList.list",
          "description": "Returns the calendars on the user's calendar list.",
          "supportsSubscription": true,
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "colorRgbFormat": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "id": "calendar.calendarList.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics."
        },
        "delete": {
          "description": "Removes a calendar from the user's calendar list.",
          "id": "calendar.calendarList.delete",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "DELETE",
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "update": {
          "path": "users/me/calendarList/{calendarId}",
          "id": "calendar.calendarList.update",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list.",
          "parameters": {
            "colorRgbFormat": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "insert": {
          "id": "calendar.calendarList.insert",
          "path": "users/me/calendarList",
          "httpMethod": "POST",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "parameters": {
            "colorRgbFormat": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Inserts an existing calendar into the user's calendar list."
        },
        "watch": {
          "path": "users/me/calendarList/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.calendarList.watch",
          "httpMethod": "POST",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "minAccessRole": {
              "location": "query",
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ]
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False."
            },
            "showHidden": {
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Watch for changes to CalendarList resources."
        }
      }
    },
    "calendars": {
      "methods": {
        "clear": {
          "path": "calendars/{calendarId}/clear",
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "calendar.calendars.clear",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "get": {
          "description": "Returns metadata for a calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendars.get",
          "httpMethod": "GET",
          "path": "calendars/{calendarId}",
          "response": {
            "$ref": "Calendar"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        },
        "delete": {
          "id": "calendar.calendars.delete",
          "httpMethod": "DELETE",
          "path": "calendars/{calendarId}",
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "patch": {
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "request": {
            "$ref": "Calendar"
          },
          "response": {
            "$ref": "Calendar"
          },
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "id": "calendar.calendars.patch",
          "path": "calendars/{calendarId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "update": {
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Updates metadata for a calendar.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.update",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "Calendar"
          }
        },
        "insert": {
          "description": "Creates a secondary calendar.",
          "path": "calendars",
          "id": "calendar.calendars.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "Calendar"
          }
        }
      }
    },
    "settings": {
      "methods": {
        "watch": {
          "id": "calendar.settings.watch",
          "path": "users/me/settings/watch",
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "supportsSubscription": true,
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxResults": {
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Watch for changes to Settings resources."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "parameters": {
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query"
            }
          },
          "id": "calendar.settings.list",
          "description": "Returns all user settings for the authenticated user.",
          "supportsSubscription": true,
          "httpMethod": "GET",
          "path": "users/me/settings",
          "response": {
            "$ref": "Settings"
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Returns a single user setting.",
          "path": "users/me/settings/{setting}",
          "id": "calendar.settings.get",
          "parameterOrder": [
            "setting"
          ],
          "response": {
            "$ref": "Setting"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "parameters": {
            "setting": {
              "description": "The id of the user setting.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "httpMethod": "POST",
          "path": "channels/stop",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.channels.stop",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Stop watching resources through this channel"
        }
      }
    },
    "events": {
      "methods": {
        "import": {
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "Event"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "conferenceDataVersion": {
              "minimum": "0",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "maximum": "1",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "response": {
            "$ref": "Event"
          },
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
          "path": "calendars/{calendarId}/events/import",
          "id": "calendar.events.import"
        },
        "quickAdd": {
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/quickAdd",
          "parameters": {
            "text": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The text describing the event to be created."
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the creation of the new event."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.quickAdd",
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "description": "Creates an event based on a simple text string."
        },
        "watch": {
          "parameters": {
            "iCalUID": {
              "type": "string",
              "location": "query",
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32",
              "default": "250"
            },
            "timeMin": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query"
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "orderBy": {
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "location": "query",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enum": [
                "startTime",
                "updated"
              ],
              "type": "string"
            },
            "timeMax": {
              "type": "string",
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields: summary, description, location, attendee's displayName, attendee's email. Optional.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "sharedExtendedProperty": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "eventTypes": {
              "type": "string",
              "description": "Event types to return. Optional. Possible values are: \n- \"default\" \n- \"focusTime\" \n- \"outOfOffice\"This parameter can be repeated multiple times to return events of different types. Currently, this is the only allowed value for this field: \n- [\"default\", \"focusTime\", \"outOfOffice\"] This value is the default.\n\nIf you're enrolled in the Working Location developer preview program, in addition to the default value above you can also set the \"workingLocation\" event type: \n- [\"default\", \"focusTime\", \"outOfOffice\", \"workingLocation\"] \n- [\"workingLocation\"] Additional combinations of these four event types will be made available in later releases. Developer Preview.",
              "repeated": true,
              "location": "query"
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "format": "date-time",
              "location": "query"
            },
            "privateExtendedProperty": {
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "calendar.events.watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Watch for changes to Events resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/events/watch"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Returns events on the specified calendar.",
          "path": "calendars/{calendarId}/events",
          "parameters": {
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Free text search terms to find events that match these terms in the following fields: summary, description, location, attendee's displayName, attendee's email. Optional."
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "showHiddenInvitations": {
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "updatedMin": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "default": "250",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "type": "integer",
              "location": "query"
            },
            "eventTypes": {
              "location": "query",
              "description": "Event types to return. Optional. Possible values are: \n- \"default\" \n- \"focusTime\" \n- \"outOfOffice\"This parameter can be repeated multiple times to return events of different types. Currently, this is the only allowed value for this field: \n- [\"default\", \"focusTime\", \"outOfOffice\"] This value is the default.\n\nIf you're enrolled in the Working Location developer preview program, in addition to the default value above you can also set the \"workingLocation\" event type: \n- [\"default\", \"focusTime\", \"outOfOffice\", \"workingLocation\"] \n- [\"workingLocation\"] Additional combinations of these four event types will be made available in later releases. Developer Preview.",
              "repeated": true,
              "type": "string"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "timeMax": {
              "location": "query",
              "format": "date-time",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "privateExtendedProperty": {
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "repeated": true
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "timeMin": {
              "type": "string",
              "format": "date-time",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query"
            },
            "sharedExtendedProperty": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints."
            }
          },
          "id": "calendar.events.list",
          "supportsSubscription": true,
          "response": {
            "$ref": "Events"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "patch": {
          "parameters": {
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "location": "query"
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "eventId": {
              "description": "Event identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "maxAttendees": {
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "conferenceDataVersion": {
              "minimum": "0",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "description": "Updates an event. This method supports patch semantics.",
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "request": {
            "$ref": "Event"
          },
          "id": "calendar.events.patch"
        },
        "instances": {
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "supportsSubscription": true,
          "parameters": {
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query",
              "type": "string"
            },
            "timeMin": {
              "format": "date-time",
              "type": "string",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "eventId": {
              "type": "string",
              "description": "Recurring event identifier.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "originalStart": {
              "description": "The original start time of the instance in the result. Optional.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "maxAttendees": {
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "minimum": "1",
              "type": "integer"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "type": "boolean"
            },
            "timeMax": {
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "location": "query",
              "format": "date-time"
            }
          },
          "id": "calendar.events.instances",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Events"
          },
          "httpMethod": "GET",
          "description": "Returns instances of the specified recurring event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "path": "calendars/{calendarId}/events",
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "format": "int32"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ]
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "conferenceDataVersion": {
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "minimum": "0",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Creates an event."
        },
        "delete": {
          "description": "Deletes an event.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.delete",
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "sendUpdates": {
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the deletion of the event."
            },
            "eventId": {
              "location": "path",
              "required": true,
              "description": "Event identifier.",
              "type": "string"
            }
          }
        },
        "move": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "parameters": {
            "sendUpdates": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the change of the event's organizer."
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "destination": {
              "location": "query",
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "required": true,
              "type": "string"
            },
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "id": "calendar.events.move"
        },
        "get": {
          "parameters": {
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "eventId": {
              "location": "path",
              "description": "Event identifier.",
              "required": true,
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "maxAttendees": {
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "id": "calendar.events.get",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.update",
          "httpMethod": "PUT",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "conferenceDataVersion": {
              "maximum": "1",
              "format": "int32",
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "supportsAttachments": {
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "sendUpdates": {
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "eventId": {
              "location": "path",
              "description": "Event identifier.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an event."
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "httpMethod": "POST",
          "description": "Returns free/busy information for a set of calendars.",
          "path": "freeBusy",
          "id": "calendar.freebusy.query",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        }
      }
    }
  },
  "batchPath": "batch/calendar/v3",
  "title": "Calendar API",
  "servicePath": "calendar/v3/",
  "revision": "20230616",
  "schemas": {
    "ConferenceParametersAddOnParameters": {
      "type": "object",
      "id": "ConferenceParametersAddOnParameters",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreeBusyRequest": {
      "id": "FreeBusyRequest",
      "properties": {
        "items": {
          "items": {
            "$ref": "FreeBusyRequestItem"
          },
          "description": "List of calendars and/or groups to query.",
          "type": "array"
        },
        "timeMax": {
          "format": "date-time",
          "type": "string",
          "description": "The end of the interval for the query formatted as per RFC3339."
        },
        "calendarExpansionMax": {
          "format": "int32",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50.",
          "type": "integer"
        },
        "groupExpansionMax": {
          "format": "int32",
          "type": "integer",
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100."
        },
        "timeZone": {
          "type": "string",
          "default": "UTC",
          "description": "Time zone used in the response. Optional. The default is UTC."
        },
        "timeMin": {
          "format": "date-time",
          "type": "string",
          "description": "The start of the interval for the query formatted as per RFC3339."
        }
      },
      "type": "object"
    },
    "ConferenceProperties": {
      "id": "ConferenceProperties",
      "type": "object",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CreateConferenceRequest": {
      "type": "object",
      "properties": {
        "conferenceSolutionKey": {
          "description": "The conference solution, such as Hangouts or Google Meet.",
          "$ref": "ConferenceSolutionKey"
        },
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        },
        "requestId": {
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored.",
          "type": "string"
        }
      },
      "id": "CreateConferenceRequest"
    },
    "Colors": {
      "type": "object",
      "properties": {
        "updated": {
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "event": {
          "type": "object",
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "An event color definition."
          }
        },
        "kind": {
          "description": "Type of the resource (\"calendar#colors\").",
          "default": "calendar#colors",
          "type": "string"
        },
        "calendar": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "A calendar color definition."
          },
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only."
        }
      },
      "id": "Colors"
    },
    "EventReminder": {
      "id": "EventReminder",
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int32",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
          "type": "integer"
        },
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        }
      }
    },
    "Calendar": {
      "type": "object",
      "properties": {
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendar\").",
          "type": "string",
          "default": "calendar#calendar"
        },
        "description": {
          "description": "Description of the calendar. Optional.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          }
        }
      },
      "id": "Calendar"
    },
    "ColorDefinition": {
      "properties": {
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        },
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        }
      },
      "id": "ColorDefinition",
      "type": "object"
    },
    "FreeBusyCalendar": {
      "id": "FreeBusyCalendar",
      "properties": {
        "busy": {
          "items": {
            "$ref": "TimePeriod"
          },
          "type": "array",
          "description": "List of time ranges during which this calendar should be regarded as busy."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Optional error(s) (if computation for the calendar failed)."
        }
      },
      "type": "object"
    },
    "ConferenceData": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming.",
          "$ref": "ConferenceParameters"
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
        },
        "createRequest": {
          "$ref": "CreateConferenceRequest",
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "conferenceSolution": {
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "ConferenceSolution"
        },
        "signature": {
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request.",
          "type": "string"
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "notes": {
          "type": "string",
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional."
        }
      },
      "id": "ConferenceData"
    },
    "EventAttachment": {
      "properties": {
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
        },
        "fileUrl": {
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment.",
          "type": "string"
        },
        "mimeType": {
          "description": "Internet media type (MIME type) of the attachment.",
          "type": "string"
        },
        "title": {
          "description": "Attachment title.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API."
        }
      },
      "id": "EventAttachment",
      "type": "object"
    },
    "FreeBusyRequestItem": {
      "properties": {
        "id": {
          "description": "The identifier of a calendar or a group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FreeBusyRequestItem"
    },
    "FreeBusyGroup": {
      "type": "object",
      "properties": {
        "calendars": {
          "description": "List of calendars' identifiers within a group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errors": {
          "description": "Optional error(s) (if computation for the group failed).",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "id": "FreeBusyGroup"
    },
    "ConferenceParameters": {
      "id": "ConferenceParameters",
      "type": "object",
      "properties": {
        "addOnParameters": {
          "description": "Additional add-on specific data.",
          "$ref": "ConferenceParametersAddOnParameters"
        }
      }
    },
    "CalendarNotification": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification."
        }
      },
      "id": "CalendarNotification"
    },
    "CalendarList": {
      "id": "CalendarList",
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#calendarList",
          "description": "Type of the collection (\"calendar#calendarList\")."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CalendarListEntry"
          },
          "description": "Calendars that are present on the user's calendar list."
        }
      },
      "type": "object"
    },
    "TimePeriod": {
      "type": "object",
      "id": "TimePeriod",
      "properties": {
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start of the time period.",
          "type": "string"
        },
        "end": {
          "format": "date-time",
          "type": "string",
          "description": "The (exclusive) end of the time period."
        }
      }
    },
    "ConferenceRequestStatus": {
      "id": "ConferenceRequestStatus",
      "type": "object",
      "properties": {
        "statusCode": {
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        },
        "items": {
          "items": {
            "$ref": "Setting"
          },
          "description": "List of user settings.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "calendar#settings",
          "description": "Type of the collection (\"calendar#settings\")."
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "Events": {
      "type": "object",
      "properties": {
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "updated": {
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
          "type": "string",
          "format": "date-time"
        },
        "timeZone": {
          "description": "The time zone of the calendar. Read-only.",
          "type": "string"
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "items": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "List of events on the calendar."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "defaultReminders": {
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Read-only."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "kind": {
          "description": "Type of the collection (\"calendar#events\").",
          "default": "calendar#events",
          "type": "string"
        }
      },
      "id": "Events"
    },
    "CalendarListEntry": {
      "properties": {
        "accessRole": {
[...]
