{
  "version": "v3",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "revision": "20230602",
  "name": "calendar",
  "id": "calendar:v3",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "protocol": "rest",
  "batchPath": "batch/calendar/v3",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "Calendar": {
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "calendar#calendar",
          "description": "Type of the resource (\"calendar#calendar\").",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional."
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          }
        }
      },
      "id": "Calendar"
    },
    "Event": {
      "properties": {
        "end": {
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "extendedProperties": {
          "type": "object",
          "description": "Extended properties of the event.",
          "properties": {
            "shared": {
              "type": "object",
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "additionalProperties": {
                "description": "The name of the shared property and the corresponding value.",
                "type": "string"
              }
            },
            "private": {
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              }
            }
          }
        },
        "iCalUID": {
          "type": "string",
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method.",
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          }
        },
        "recurrence": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events."
        },
        "visibility": {
          "default": "default",
          "type": "string",
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons."
        },
        "organizer": {
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "type": "object",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "email": {
              "type": "string",
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322."
            },
            "id": {
              "description": "The organizer's Profile ID, if available.",
              "type": "string"
            },
            "self": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            }
          }
        },
        "guestsCanSeeOtherGuests": {
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
          "type": "boolean",
          "default": "true"
        },
        "summary": {
          "description": "Title of the event.",
          "type": "string"
        },
        "workingLocationProperties": {
          "description": "Developer Preview: Working Location event data. Read-only.",
          "$ref": "EventWorkingLocationProperties"
        },
        "attendeesOmitted": {
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "id": {
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.",
          "type": "string"
        },
        "endTimeUnspecified": {
          "type": "boolean",
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "default": "false"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#event\").",
          "type": "string",
          "default": "calendar#event"
        },
        "source": {
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "Title of the source; for example a title of a web page or an email subject."
            },
            "url": {
              "type": "string",
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS."
            }
          }
        },
        "reminders": {
          "properties": {
            "useDefault": {
              "description": "Whether the default reminders of the calendar apply to the event.",
              "type": "boolean"
            },
            "overrides": {
              "type": "array",
              "items": {
                "$ref": "EventReminder"
              },
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5."
            }
          },
          "type": "object",
          "description": "Information about the event's reminders for the authenticated user."
        },
        "location": {
          "description": "Geographic location of the event as free-form text. Optional.",
          "type": "string"
        },
        "status": {
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated.",
          "type": "string"
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the event (as a RFC3339 timestamp). Read-only.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "privateCopy": {
          "default": "false",
          "type": "boolean",
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "anyoneCanAddSelf": {
          "type": "boolean",
          "description": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False.",
          "default": "false"
        },
        "attachments": {
          "items": {
            "$ref": "EventAttachment"
          },
          "description": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "type": "array"
        },
        "start": {
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime",
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance."
        },
        "recurringEventId": {
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable.",
          "type": "string"
        },
        "gadget": {
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The gadget's type. Deprecated.",
              "type": "string"
            },
            "link": {
              "type": "string",
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated."
            },
            "preferences": {
              "additionalProperties": {
                "description": "The preference name and corresponding value.",
                "type": "string"
              },
              "type": "object",
              "description": "Preferences."
            },
            "width": {
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated.",
              "type": "integer",
              "format": "int32"
            },
            "iconLink": {
              "type": "string",
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
            },
            "display": {
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked.",
              "type": "string"
            },
            "title": {
              "type": "string",
              "description": "The gadget's title. Deprecated."
            },
            "height": {
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated.",
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "htmlLink": {
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only.",
          "type": "string"
        },
        "hangoutLink": {
          "description": "An absolute link to the Google Hangout associated with this event. Read-only.",
          "type": "string"
        },
        "transparency": {
          "default": "opaque",
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "type": "string"
        },
        "locked": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
        },
        "conferenceData": {
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests.",
          "$ref": "ConferenceData"
        },
        "originalStartTime": {
          "$ref": "EventDateTime",
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
        },
        "eventType": {
          "default": "default",
          "description": "Specific type of the event. Read-only. Possible values are:  \n- \"default\" - A regular event or not further specified. \n- \"outOfOffice\" - An out-of-office event. \n- \"focusTime\" - A focus-time event. \n- \"workingLocation\" - A working location event. Developer Preview.",
          "type": "string"
        },
        "sequence": {
          "description": "Sequence number as per iCalendar.",
          "type": "integer",
          "format": "int32"
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "attendees": {
          "type": "array",
          "items": {
            "$ref": "EventAttendee"
          },
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list."
        },
        "description": {
          "type": "string",
          "description": "Description of the event. Can contain HTML. Optional."
        },
        "guestsCanInviteOthers": {
          "default": "true",
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "type": "boolean"
        },
        "creator": {
          "properties": {
            "displayName": {
              "description": "The creator's name, if available.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "The creator's Profile ID, if available."
            },
            "self": {
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "default": "false",
              "type": "boolean"
            },
            "email": {
              "description": "The creator's email address, if available.",
              "type": "string"
            }
          },
          "description": "The creator of the event. Read-only.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Event"
    },
    "EventWorkingLocationProperties": {
      "id": "EventWorkingLocationProperties",
      "properties": {
        "type": {
          "description": "Indicates what kind of location this is. Any details will be specified in a sub-field of the specified name (but which may be missing if empty). Any other fields will be ignored.",
          "type": "string"
        },
        "homeOffice": {
          "type": "any",
          "description": "If present, specifies that the user is working at home."
        },
        "officeLocation": {
          "description": "If present, specifies that the user is working from an office.",
          "type": "object",
          "properties": {
            "label": {
              "type": "string",
              "description": "An optional extra label for additional information."
            },
            "floorSectionId": {
              "type": "string",
              "description": "An optional arbitrary floor section identifier."
            },
            "buildingId": {
              "description": "An optional building identifier. This should reference a building ID in the organization's Resources database.",
              "type": "string"
            },
            "floorId": {
              "description": "An optional arbitrary floor identifier.",
              "type": "string"
            },
            "deskId": {
              "description": "An optional arbitrary desk identifier.",
              "type": "string"
            }
          }
        },
        "customLocation": {
          "type": "object",
          "description": "If present, specifies that the user is working from a custom location.",
          "properties": {
            "label": {
              "type": "string",
              "description": "An optional extra label for additional information."
            }
          }
        }
      },
      "type": "object"
    },
    "EntryPoint": {
      "type": "object",
      "id": "EntryPoint",
      "properties": {
        "entryPointType": {
          "type": "string",
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference."
        },
        "label": {
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional.",
          "type": "string"
        },
        "passcode": {
          "type": "string",
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
        },
        "pin": {
          "type": "string",
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE.",
          "type": "string"
        },
        "entryPointFeatures": {
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "password": {
          "type": "string",
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "accessCode": {
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "meetingCode": {
          "type": "string",
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        }
      }
    },
    "Colors": {
      "properties": {
        "calendar": {
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "A calendar color definition."
          },
          "type": "object",
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only."
        },
        "event": {
          "type": "object",
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "description": "An event color definition.",
            "$ref": "ColorDefinition"
          }
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "kind": {
          "default": "calendar#colors",
          "type": "string",
          "description": "Type of the resource (\"calendar#colors\")."
        }
      },
      "id": "Colors",
      "type": "object"
    },
    "ConferenceRequestStatus": {
      "id": "ConferenceRequestStatus",
      "properties": {
        "statusCode": {
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AclRule": {
      "id": "AclRule",
      "properties": {
        "role": {
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "calendar#aclRule",
          "description": "Type of the resource (\"calendar#aclRule\").",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "scope": {
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "type": "object",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          },
          "properties": {
            "type": {
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              },
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "type": "string"
            },
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            }
          }
        }
      },
      "type": "object"
    },
    "Setting": {
      "id": "Setting",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "default": "calendar#setting",
          "description": "Type of the resource (\"calendar#setting\")."
        },
        "id": {
          "description": "The id of the user setting.",
          "type": "string"
        },
        "value": {
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters.",
          "type": "string"
        }
      }
    },
    "FreeBusyRequestItem": {
      "id": "FreeBusyRequestItem",
      "properties": {
        "id": {
          "description": "The identifier of a calendar or a group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventReminder": {
      "id": "EventReminder",
      "properties": {
        "minutes": {
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
          "format": "int32",
          "type": "integer"
        },
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        }
      },
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Declares a new parameter by name."
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "default": "api#channel"
        }
      },
      "type": "object"
    },
    "ConferenceSolution": {
      "properties": {
        "iconUri": {
          "type": "string",
          "description": "The user-visible icon for this solution."
        },
        "key": {
          "description": "The key which can uniquely identify the conference solution for this event.",
          "$ref": "ConferenceSolutionKey"
        },
        "name": {
          "type": "string",
          "description": "The user-visible name of this solution. Not localized."
        }
      },
      "type": "object",
      "id": "ConferenceSolution"
    },
    "EventAttachment": {
      "type": "object",
      "properties": {
        "fileId": {
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
          "type": "string"
        },
        "fileUrl": {
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment.",
          "type": "string"
        },
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        },
        "title": {
          "type": "string",
          "description": "Attachment title."
        }
      },
      "id": "EventAttachment"
    },
    "EventAttendee": {
      "type": "object",
      "id": "EventAttendee",
      "properties": {
        "additionalGuests": {
          "default": "0",
          "type": "integer",
          "description": "Number of additional guests. Optional. The default is 0.",
          "format": "int32"
        },
        "self": {
          "default": "false",
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "type": "boolean"
        },
        "organizer": {
          "type": "boolean",
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False."
        },
        "resource": {
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "responseStatus": {
          "type": "string",
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" won't see an event on their calendar unless they choose to change their invitation response in the event invitation email."
        },
        "email": {
          "type": "string",
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee."
        },
        "optional": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this is an optional attendee. Optional. The default is False."
        },
        "displayName": {
          "description": "The attendee's name, if available. Optional.",
          "type": "string"
        },
        "comment": {
          "description": "The attendee's response comment. Optional.",
          "type": "string"
        },
        "id": {
          "description": "The attendee's Profile ID, if available.",
          "type": "string"
        }
      }
    },
    "FreeBusyGroup": {
      "id": "FreeBusyGroup",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Optional error(s) (if computation for the group failed)."
        },
        "calendars": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of calendars' identifiers within a group."
        }
      }
    },
    "FreeBusyResponse": {
      "properties": {
        "timeMax": {
          "type": "string",
          "description": "The end of the interval.",
          "format": "date-time"
        },
        "calendars": {
          "type": "object",
          "description": "List of free/busy information for calendars.",
          "additionalProperties": {
            "description": "Free/busy expansions for a single calendar.",
            "$ref": "FreeBusyCalendar"
          }
        },
        "timeMin": {
          "type": "string",
          "description": "The start of the interval.",
          "format": "date-time"
        },
        "kind": {
          "default": "calendar#freeBusy",
          "type": "string",
          "description": "Type of the resource (\"calendar#freeBusy\")."
        },
        "groups": {
          "description": "Expansion of groups.",
          "type": "object",
          "additionalProperties": {
            "description": "List of calendars that are members of this group.",
            "$ref": "FreeBusyGroup"
          }
        }
      },
      "id": "FreeBusyResponse",
      "type": "object"
    },
    "Events": {
      "properties": {
        "defaultReminders": {
          "type": "array",
          "items": {
            "$ref": "EventReminder"
          },
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True)."
        },
        "description": {
          "description": "Description of the calendar. Read-only.",
          "type": "string"
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Read-only."
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "kind": {
          "default": "calendar#events",
          "type": "string",
          "description": "Type of the collection (\"calendar#events\")."
        },
        "items": {
          "description": "List of events on the calendar.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Events"
    },
    "ColorDefinition": {
      "type": "object",
      "properties": {
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        },
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        }
      },
      "id": "ColorDefinition"
    },
    "ConferenceSolutionKey": {
      "properties": {
        "type": {
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConferenceSolutionKey"
    },
    "Acl": {
      "properties": {
        "kind": {
          "description": "Type of the collection (\"calendar#acl\").",
          "default": "calendar#acl",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "items": {
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        }
      },
      "type": "object",
      "id": "Acl"
    },
    "Settings": {
      "properties": {
        "etag": {
          "description": "Etag of the collection.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "kind": {
          "default": "calendar#settings",
          "type": "string",
          "description": "Type of the collection (\"calendar#settings\")."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "items": {
          "type": "array",
          "description": "List of user settings.",
          "items": {
            "$ref": "Setting"
          }
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "ConferenceProperties": {
      "type": "object",
      "id": "ConferenceProperties",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "type": "array",
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TimePeriod": {
      "properties": {
        "end": {
          "description": "The (exclusive) end of the time period.",
          "format": "date-time",
          "type": "string"
        },
        "start": {
          "description": "The (inclusive) start of the time period.",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TimePeriod"
    },
    "FreeBusyCalendar": {
      "type": "object",
      "properties": {
        "busy": {
          "description": "List of time ranges during which this calendar should be regarded as busy.",
          "type": "array",
          "items": {
            "$ref": "TimePeriod"
          }
        },
        "errors": {
          "type": "array",
          "description": "Optional error(s) (if computation for the calendar failed).",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "id": "FreeBusyCalendar"
    },
    "EventDateTime": {
      "type": "object",
      "properties": {
        "date": {
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event.",
          "type": "string",
          "format": "date"
        },
        "dateTime": {
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "format": "date-time",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
        }
      },
      "id": "EventDateTime"
    },
    "CalendarListEntry": {
      "type": "object",
      "properties": {
        "defaultReminders": {
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "default": "false"
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "foregroundColor": {
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "backgroundColor": {
          "type": "string",
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendarListEntry\").",
          "default": "calendar#calendarListEntry"
        },
        "hidden": {
          "default": "false",
          "type": "boolean",
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true."
        },
        "deleted": {
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "notificationSettings": {
          "type": "object",
          "description": "The notifications that the authenticated user is receiving for this calendar.",
          "properties": {
            "notifications": {
              "description": "The list of notifications set for this calendar.",
              "items": {
                "$ref": "CalendarNotification"
              },
              "type": "array"
            }
          }
        },
        "colorId": {
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional.",
          "type": "string"
        },
        "selected": {
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "id": {
          "description": "Identifier of the calendar.",
          "type": "string",
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          }
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Optional. Read-only."
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "accessRole": {
          "type": "string",
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only.",
          "type": "string"
        }
      },
      "id": "CalendarListEntry"
    },
    "FreeBusyRequest": {
      "type": "object",
      "properties": {
        "calendarExpansionMax": {
          "type": "integer",
          "format": "int32",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50."
        },
        "timeZone": {
          "default": "UTC",
          "type": "string",
          "description": "Time zone used in the response. Optional. The default is UTC."
        },
        "groupExpansionMax": {
          "type": "integer",
          "format": "int32",
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100."
        },
        "items": {
          "description": "List of calendars and/or groups to query.",
          "type": "array",
          "items": {
            "$ref": "FreeBusyRequestItem"
          }
        },
        "timeMin": {
          "format": "date-time",
          "type": "string",
          "description": "The start of the interval for the query formatted as per RFC3339."
        },
        "timeMax": {
          "description": "The end of the interval for the query formatted as per RFC3339.",
          "type": "string",
          "format": "date-time"
        }
      },
      "id": "FreeBusyRequest"
    },
    "ConferenceParameters": {
      "id": "ConferenceParameters",
      "type": "object",
      "properties": {
        "addOnParameters": {
          "$ref": "ConferenceParametersAddOnParameters",
          "description": "Additional add-on specific data."
        }
      }
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain, or broad category, of the error."
        },
        "reason": {
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list.",
          "type": "string"
        }
      }
    },
    "CreateConferenceRequest": {
      "type": "object",
      "id": "CreateConferenceRequest",
      "properties": {
        "conferenceSolutionKey": {
          "$ref": "ConferenceSolutionKey",
          "description": "The conference solution, such as Hangouts or Google Meet."
        },
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        },
        "requestId": {
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored.",
          "type": "string"
        }
      }
    },
    "CalendarList": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "CalendarListEntry"
          },
          "description": "Calendars that are present on the user's calendar list."
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#calendarList\").",
          "default": "calendar#calendarList"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        }
      },
      "id": "CalendarList"
    },
    "ConferenceParametersAddOnParameters": {
      "id": "ConferenceParametersAddOnParameters",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "CalendarNotification": {
      "properties": {
        "method": {
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification.",
          "type": "string"
        },
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        }
      },
      "id": "CalendarNotification",
      "type": "object"
    },
    "ConferenceData": {
      "id": "ConferenceData",
      "type": "object",
      "properties": {
        "createRequest": {
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "CreateConferenceRequest"
        },
        "conferenceId": {
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional.",
          "type": "string"
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "notes": {
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional.",
          "type": "string"
        },
        "parameters": {
          "$ref": "ConferenceParameters",
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
        },
        "signature": {
          "type": "string",
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
        },
        "conferenceSolution": {
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "ConferenceSolution"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "/calendar/v3/",
  "resources": {
    "freebusy": {
      "methods": {
        "query": {
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "path": "freeBusy",
          "id": "calendar.freebusy.query",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns free/busy information for a set of calendars.",
          "httpMethod": "POST"
        }
      }
    },
    "acl": {
      "methods": {
        "watch": {
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "location": "query",
              "type": "integer"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            }
          },
          "description": "Watch for changes to ACL resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.watch",
          "path": "calendars/{calendarId}/acl/watch",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.acl.get",
          "description": "Returns an access control rule.",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            },
            "ruleId": {
              "required": true,
              "location": "path",
              "description": "ACL rule identifier.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AclRule"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/acl",
          "parameterOrder": [
            "calendarId"
          ],
          "supportsSubscription": true,
          "response": {
            "$ref": "Acl"
          },
          "description": "Returns the rules in the access control list for the calendar.",
          "id": "calendar.acl.list",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "delete": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "ruleId": {
              "required": true,
              "description": "ACL rule identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Deletes an access control rule.",
          "id": "calendar.acl.delete"
        },
        "insert": {
          "id": "calendar.acl.insert",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "calendars/{calendarId}/acl",
          "response": {
            "$ref": "AclRule"
          },
          "description": "Creates an access control rule.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ]
        },
        "patch": {
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "ruleId": {
              "location": "path",
              "description": "ACL rule identifier.",
              "required": true,
              "type": "string"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.patch",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "request": {
            "$ref": "AclRule"
          },
          "description": "Updates an access control rule. This method supports patch semantics."
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates an access control rule.",
          "id": "calendar.acl.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean"
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "response": {
            "$ref": "AclRule"
          }
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.colors.get",
          "response": {
            "$ref": "Colors"
          },
          "description": "Returns the color definitions for calendars and events.",
          "httpMethod": "GET",
          "path": "colors"
        }
      }
    },
    "events": {
      "methods": {
        "insert": {
          "description": "Creates an event.",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.insert",
          "path": "calendars/{calendarId}/events",
          "httpMethod": "POST",
          "request": {
            "$ref": "Event"
          },
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean"
            },
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "location": "query"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false."
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "conferenceDataVersion": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "maximum": "1",
              "minimum": "0",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "eventId": {
              "description": "Event identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            }
          },
          "httpMethod": "GET",
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "path": "calendars/{calendarId}/events/{eventId}",
          "id": "calendar.events.get",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "updatedMin": {
              "type": "string",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "format": "date-time",
              "location": "query"
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "privateExtendedProperty": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "default": "250",
              "type": "integer",
              "minimum": "1"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "timeMin": {
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            },
            "singleEvents": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False."
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields: summary, description, location, attendee's displayName, attendee's email. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "timeMax": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "orderBy": {
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "location": "query",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "type": "string",
              "enum": [
                "startTime",
                "updated"
              ]
            },
            "maxAttendees": {
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "eventTypes": {
              "location": "query",
              "description": "Event types to return. Optional. Possible values are: \n- \"default\" \n- \"focusTime\" \n- \"outOfOffice\"This parameter can be repeated multiple times to return events of different types. Currently, this is the only allowed value for this field: \n- [\"default\", \"focusTime\", \"outOfOffice\"] This value will be the default.\n\nIf you're enrolled in the Working Location developer preview program, in addition to the default value above you can also set the \"workingLocation\" event type: \n- [\"default\", \"focusTime\", \"outOfOffice\", \"workingLocation\"] \n- [\"workingLocation\"] Additional combinations of these 4 event types will be made available in later releases. Developer Preview.",
              "repeated": true,
              "type": "string"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/events/watch",
          "description": "Watch for changes to Events resources.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "id": "calendar.events.watch",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "supportsSubscription": true
        },
        "update": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "request": {
            "$ref": "Event"
          },
          "description": "Updates an event.",
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "conferenceDataVersion": {
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "minimum": "0",
              "location": "query",
              "maximum": "1",
              "format": "int32"
            },
            "eventId": {
              "description": "Event identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxAttendees": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            }
          },
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.update"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "maxAttendees": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "timeMax": {
              "location": "query",
              "format": "date-time",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "timeMin": {
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "format": "date-time",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enum": [
                "startTime",
                "updated"
              ],
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "default": "250",
              "format": "int32",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
[...]
