{
  "batchPath": "batch/calendar/v3",
  "discoveryVersion": "v1",
  "servicePath": "calendar/v3/",
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "rootUrl": "https://www.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "id": "calendar:v3",
  "ownerDomain": "google.com",
  "name": "calendar",
  "protocol": "rest",
  "description": "Manipulates events and other calendar data.",
  "resources": {
    "calendars": {
      "methods": {
        "get": {
          "description": "Returns metadata for a calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendars.get",
          "path": "calendars/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.patch",
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "Calendar"
          },
          "description": "Updates metadata for a calendar. This method supports patch semantics."
        },
        "delete": {
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "path": "calendars/{calendarId}",
          "id": "calendar.calendars.delete"
        },
        "clear": {
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.clear",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}/clear",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account."
        },
        "insert": {
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.insert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars",
          "description": "Creates a secondary calendar."
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.update",
          "path": "calendars/{calendarId}",
          "description": "Updates metadata for a calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "request": {
            "$ref": "Calendar"
          },
          "response": {
            "$ref": "Calendar"
          },
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          }
        }
      }
    },
    "calendarList": {
      "methods": {
        "delete": {
          "id": "calendar.calendarList.delete",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "description": "Removes a calendar from the user's calendar list.",
          "httpMethod": "DELETE"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "id": "calendar.calendarList.patch",
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendarList.list",
          "supportsSubscription": true,
          "path": "users/me/calendarList",
          "response": {
            "$ref": "CalendarList"
          },
          "httpMethod": "GET",
          "description": "Returns the calendars on the user's calendar list.",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "minAccessRole": {
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "location": "query",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ]
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            }
          }
        },
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "parameters": {
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string",
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ]
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "location": "query",
              "type": "integer"
            }
          },
          "httpMethod": "POST",
          "path": "users/me/calendarList/watch",
          "response": {
            "$ref": "Channel"
          },
          "id": "calendar.calendarList.watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Watch for changes to CalendarList resources."
        },
        "insert": {
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "POST",
          "path": "users/me/calendarList",
          "description": "Inserts an existing calendar into the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendarList.insert",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "update": {
          "id": "calendar.calendarList.update",
          "description": "Updates an existing calendar on the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "description": "Returns a calendar from the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.get"
        }
      }
    },
    "acl": {
      "methods": {
        "insert": {
          "description": "Creates an access control rule.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.acl.insert",
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/acl"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "calendar.acl.delete",
          "description": "Deletes an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameters": {
            "ruleId": {
              "required": true,
              "description": "ACL rule identifier.",
              "location": "path",
              "type": "string"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}"
        },
        "watch": {
          "description": "Watch for changes to ACL resources.",
          "path": "calendars/{calendarId}/acl/watch",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            }
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.acl.watch",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "ruleId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "description": "Returns an access control rule.",
          "id": "calendar.acl.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "description": "Updates an access control rule. This method supports patch semantics.",
          "parameters": {
            "ruleId": {
              "required": true,
              "location": "path",
              "description": "ACL rule identifier.",
              "type": "string"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.patch",
          "response": {
            "$ref": "AclRule"
          },
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "list": {
          "id": "calendar.acl.list",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "calendars/{calendarId}/acl",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Returns the rules in the access control list for the calendar.",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Acl"
          }
        },
        "update": {
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "description": "Updates an access control rule.",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "calendar.acl.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "response": {
            "$ref": "AclRule"
          }
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "id": "calendar.freebusy.query",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "freeBusy",
          "httpMethod": "POST",
          "description": "Returns free/busy information for a set of calendars."
        }
      }
    },
    "events": {
      "methods": {
        "instances": {
          "httpMethod": "GET",
          "description": "Returns instances of the specified recurring event.",
          "supportsSubscription": true,
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            },
            "timeMin": {
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "location": "query",
              "type": "string",
              "format": "date-time"
            },
            "originalStart": {
              "location": "query",
              "type": "string",
              "description": "The original start time of the instance in the result. Optional."
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "type": "integer"
            },
            "timeMax": {
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "type": "boolean"
            },
            "eventId": {
              "required": true,
              "description": "Recurring event identifier.",
              "location": "path",
              "type": "string"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.instances",
          "response": {
            "$ref": "Events"
          }
        },
        "patch": {
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Updates an event. This method supports patch semantics.",
          "id": "calendar.events.patch",
          "parameters": {
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            },
            "conferenceDataVersion": {
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "maximum": "1"
            },
            "supportsAttachments": {
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Event identifier."
            },
            "maxAttendees": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PATCH"
        },
        "move": {
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "parameters": {
            "destination": {
              "location": "query",
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "required": true,
              "type": "string"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "location": "path",
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
          "id": "calendar.events.move",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "quickAdd": {
          "id": "calendar.events.quickAdd",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "description": "Creates an event based on a simple text string.",
          "httpMethod": "POST",
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "text": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The text describing the event to be created."
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the creation of the new event.",
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "path": "calendars/{calendarId}/events/quickAdd"
        },
        "update": {
          "description": "Updates an event.",
          "parameters": {
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "description": "Event identifier.",
              "type": "string"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "conferenceDataVersion": {
              "maximum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "0",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "request": {
            "$ref": "Event"
          },
          "id": "calendar.events.update",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "path": "calendars/{calendarId}/events/{eventId}"
        },
        "get": {
          "parameters": {
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "location": "path",
              "type": "string"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query",
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events/{eventId}"
        },
        "list": {
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.list",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/events",
          "response": {
            "$ref": "Events"
          },
          "httpMethod": "GET",
          "description": "Returns events on the specified calendar.",
          "parameters": {
            "timeMax": {
              "format": "date-time",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "orderBy": {
              "location": "query",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "type": "string"
            },
            "privateExtendedProperty": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "timeMin": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "updatedMin": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "default": "250",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "showHiddenInvitations": {
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "eventTypes": {
              "description": "Event types to return. Optional. The default is [\"default\", \"outOfOffice\", \"focusTime\"]. This is used by the Working Location developer preview and only the default value is allowed for non-opted-in users.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "q": {
              "location": "query",
              "description": "Free text search terms to find events that match these terms in the following fields: summary, description, location, attendee's displayName, attendee's email. Optional.",
              "type": "string"
            },
            "iCalUID": {
              "type": "string",
              "location": "query",
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID."
            },
            "maxAttendees": {
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            }
          },
          "supportsSubscription": true
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "sendUpdates": {
              "type": "string",
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query"
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "maxAttendees": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "conferenceDataVersion": {
              "format": "int32",
              "location": "query",
              "minimum": "0",
              "maximum": "1",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            }
          },
          "description": "Creates an event.",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST",
          "id": "calendar.events.insert",
          "path": "calendars/{calendarId}/events",
          "request": {
            "$ref": "Event"
          }
        },
        "watch": {
          "parameters": {
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "location": "query",
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ]
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "format": "date-time",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "timeMin": {
              "location": "query",
              "type": "string",
              "format": "date-time",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "default": "250",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query"
            },
            "maxAttendees": {
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32"
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "location": "query",
              "type": "string"
            },
            "privateExtendedProperty": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "eventTypes": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Event types to return. Optional. The default is [\"default\", \"outOfOffice\", \"focusTime\"]. This is used by the Working Location developer preview and only the default value is allowed for non-opted-in users."
            },
            "timeMax": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Free text search terms to find events that match these terms in the following fields: summary, description, location, attendee's displayName, attendee's email. Optional."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            }
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.watch",
          "path": "calendars/{calendarId}/events/watch",
          "description": "Watch for changes to Events resources.",
          "response": {
            "$ref": "Channel"
          }
        },
        "import": {
          "path": "calendars/{calendarId}/events/import",
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "conferenceDataVersion": {
              "format": "int32",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer",
              "minimum": "0",
              "maximum": "1",
              "location": "query"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            }
          },
          "id": "calendar.events.import",
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "delete": {
          "description": "Deletes an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Event identifier."
            },
            "sendUpdates": {
              "type": "string",
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the deletion of the event.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "calendar.events.delete",
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "httpMethod": "DELETE"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Stop watching resources through this channel",
          "id": "calendar.channels.stop",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "channels/stop"
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "id": "calendar.colors.get",
          "description": "Returns the color definitions for calendars and events.",
          "httpMethod": "GET",
          "path": "colors",
          "response": {
            "$ref": "Colors"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        }
      }
    },
    "settings": {
      "methods": {
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "supportsSubscription": true,
          "description": "Watch for changes to Settings resources.",
          "parameters": {
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "minimum": "1"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "users/me/settings/watch",
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "id": "calendar.settings.watch"
        },
        "list": {
          "id": "calendar.settings.list",
          "supportsSubscription": true,
          "description": "Returns all user settings for the authenticated user.",
          "response": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "users/me/settings",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "users/me/settings/{setting}",
          "description": "Returns a single user setting.",
          "parameters": {
            "setting": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The id of the user setting."
            }
          },
          "response": {
            "$ref": "Setting"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.settings.get",
          "parameterOrder": [
            "setting"
          ]
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20230313",
  "kind": "discovery#restDescription",
  "basePath": "/calendar/v3/",
  "version": "v3",
  "schemas": {
    "FreeBusyGroup": {
      "id": "FreeBusyGroup",
      "type": "object",
      "properties": {
        "calendars": {
          "type": "array",
          "description": "List of calendars' identifiers within a group.",
          "items": {
            "type": "string"
          }
        },
        "errors": {
          "description": "Optional error(s) (if computation for the group failed).",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        }
      }
    },
    "CalendarNotification": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification."
        },
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        }
      },
      "id": "CalendarNotification"
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
        },
        "domain": {
          "description": "Domain, or broad category, of the error.",
          "type": "string"
        }
      }
    },
    "Calendar": {
      "properties": {
        "timeZone": {
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional.",
          "type": "string"
        },
        "summary": {
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "type": "string",
          "description": "Title of the calendar."
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendar\").",
          "default": "calendar#calendar",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Calendar"
    },
    "ConferenceParameters": {
      "type": "object",
      "properties": {
        "addOnParameters": {
          "$ref": "ConferenceParametersAddOnParameters",
          "description": "Additional add-on specific data."
        }
      },
      "id": "ConferenceParameters"
    },
    "EventAttachment": {
      "properties": {
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        },
        "iconLink": {
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        },
        "title": {
          "type": "string",
          "description": "Attachment title."
        },
        "fileId": {
          "type": "string",
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API."
        }
      },
      "type": "object",
      "id": "EventAttachment"
    },
    "Acl": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "AclRule"
          },
          "description": "List of rules on the access control list.",
          "type": "array"
        },
        "kind": {
          "description": "Type of the collection (\"calendar#acl\").",
          "default": "calendar#acl",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        }
      },
      "id": "Acl"
    },
    "Settings": {
      "id": "Settings",
      "properties": {
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the collection (\"calendar#settings\").",
          "default": "calendar#settings",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "items": {
          "items": {
            "$ref": "Setting"
          },
          "description": "List of user settings.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        }
      },
      "type": "object"
    },
    "ConferenceRequestStatus": {
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
        }
      },
      "type": "object",
      "id": "ConferenceRequestStatus"
    },
    "FreeBusyResponse": {
      "type": "object",
      "id": "FreeBusyResponse",
      "properties": {
        "groups": {
          "type": "object",
          "description": "Expansion of groups.",
          "additionalProperties": {
            "description": "List of calendars that are members of this group.",
            "$ref": "FreeBusyGroup"
          }
        },
        "calendars": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FreeBusyCalendar",
            "description": "Free/busy expansions for a single calendar."
          },
          "description": "List of free/busy information for calendars."
        },
        "timeMax": {
          "description": "The end of the interval.",
          "type": "string",
          "format": "date-time"
        },
        "timeMin": {
          "type": "string",
          "format": "date-time",
          "description": "The start of the interval."
        },
        "kind": {
          "type": "string",
          "default": "calendar#freeBusy",
          "description": "Type of the resource (\"calendar#freeBusy\")."
        }
      }
    },
    "EventDateTime": {
      "id": "EventDateTime",
      "type": "object",
      "properties": {
        "date": {
          "format": "date",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end.",
          "type": "string"
        },
        "dateTime": {
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "CalendarList": {
      "id": "CalendarList",
      "properties": {
        "items": {
          "items": {
            "$ref": "CalendarListEntry"
          },
          "type": "array",
          "description": "Calendars that are present on the user's calendar list."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the collection (\"calendar#calendarList\").",
          "type": "string",
          "default": "calendar#calendarList"
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AclRule": {
      "id": "AclRule",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars.",
          "type": "string"
        },
        "kind": {
          "default": "calendar#aclRule",
          "type": "string",
          "description": "Type of the resource (\"calendar#aclRule\")."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "role": {
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "type": "string"
        },
        "scope": {
          "type": "object",
          "properties": {
            "value": {
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\".",
              "type": "string"
            },
            "type": {
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              },
              "type": "string",
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not."
            }
          },
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          }
        }
      }
    },
    "ConferenceParametersAddOnParameters": {
      "id": "ConferenceParametersAddOnParameters",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ConferenceSolutionKey": {
      "id": "ConferenceSolutionKey",
      "properties": {
        "type": {
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventReminder": {
      "id": "EventReminder",
      "type": "object",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder."
        },
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        }
      }
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required.",
          "type": "string"
        },
        "entryPointType": {
          "type": "string",
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference."
        },
        "accessCode": {
          "type": "string",
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "password": {
          "type": "string",
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "label": {
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE.",
          "type": "string"
        },
        "meetingCode": {
          "type": "string",
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "pin": {
          "type": "string",
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "entryPointFeatures": {
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "passcode": {
[...]
