{
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "description": "Data format for the response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "batchPath": "batch/calendar/v3",
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "kind": "discovery#restDescription",
  "name": "calendar",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "revision": "20210429",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version": "v3",
  "ownerName": "Google",
  "schemas": {
    "EntryPoint": {
      "id": "EntryPoint",
      "type": "object",
      "properties": {
        "pin": {
          "type": "string",
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "entryPointType": {
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference.",
          "type": "string"
        },
        "meetingCode": {
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
        },
        "passcode": {
          "type": "string",
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
        },
        "accessCode": {
          "type": "string",
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "password": {
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "label": {
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE."
        },
        "entryPointFeatures": {
          "type": "array",
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Calendar": {
      "properties": {
        "summary": {
          "description": "Title of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendar\").",
          "default": "calendar#calendar"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "description": {
          "description": "Description of the calendar. Optional.",
          "type": "string"
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional.",
          "type": "string"
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        }
      },
      "id": "Calendar",
      "type": "object"
    },
    "AclRule": {
      "type": "object",
      "properties": {
        "role": {
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "type": "string"
        },
        "scope": {
          "type": "object",
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "properties": {
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            },
            "type": {
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "type": "string",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              }
            }
          },
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          }
        },
        "kind": {
          "default": "calendar#aclRule",
          "description": "Type of the resource (\"calendar#aclRule\").",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "AclRule"
    },
    "ConferenceSolutionKey": {
      "type": "object",
      "id": "ConferenceSolutionKey",
      "properties": {
        "type": {
          "type": "string",
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (http://hangouts.google.com)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (http://hangouts.google.com)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers"
        }
      }
    },
    "Settings": {
      "properties": {
        "items": {
          "description": "List of user settings.",
          "items": {
            "$ref": "Setting"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag of the collection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "calendar#settings",
          "description": "Type of the collection (\"calendar#settings\")."
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        }
      },
      "id": "Settings",
      "type": "object"
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "properties": {
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start of the time period.",
          "type": "string"
        },
        "end": {
          "format": "date-time",
          "description": "The (exclusive) end of the time period.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Setting": {
      "id": "Setting",
      "properties": {
        "kind": {
          "default": "calendar#setting",
          "type": "string",
          "description": "Type of the resource (\"calendar#setting\")."
        },
        "value": {
          "type": "string",
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "The id of the user setting.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateConferenceRequest": {
      "properties": {
        "status": {
          "description": "The status of the conference create request.",
          "$ref": "ConferenceRequestStatus"
        },
        "conferenceSolutionKey": {
          "description": "The conference solution, such as Hangouts or Google Meet.",
          "$ref": "ConferenceSolutionKey"
        },
        "requestId": {
          "type": "string",
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
        }
      },
      "id": "CreateConferenceRequest",
      "type": "object"
    },
    "ConferenceParametersAddOnParameters": {
      "id": "ConferenceParametersAddOnParameters",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ConferenceRequestStatus": {
      "id": "ConferenceRequestStatus",
      "properties": {
        "statusCode": {
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConferenceParameters": {
      "type": "object",
      "id": "ConferenceParameters",
      "properties": {
        "addOnParameters": {
          "description": "Additional add-on specific data.",
          "$ref": "ConferenceParametersAddOnParameters"
        }
      }
    },
    "ConferenceProperties": {
      "properties": {
        "allowedConferenceSolutionTypes": {
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ConferenceProperties",
      "type": "object"
    },
    "CalendarList": {
      "id": "CalendarList",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "kind": {
          "default": "calendar#calendarList",
          "description": "Type of the collection (\"calendar#calendarList\").",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CalendarListEntry"
          },
          "description": "Calendars that are present on the user's calendar list."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        }
      },
      "type": "object"
    },
    "FreeBusyRequest": {
      "properties": {
        "timeMin": {
          "description": "The start of the interval for the query formatted as per RFC3339.",
          "type": "string",
          "format": "date-time"
        },
        "items": {
          "description": "List of calendars and/or groups to query.",
          "items": {
            "$ref": "FreeBusyRequestItem"
          },
          "type": "array"
        },
        "groupExpansionMax": {
          "format": "int32",
          "type": "integer",
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100."
        },
        "timeMax": {
          "format": "date-time",
          "description": "The end of the interval for the query formatted as per RFC3339.",
          "type": "string"
        },
        "timeZone": {
          "description": "Time zone used in the response. Optional. The default is UTC.",
          "type": "string",
          "default": "UTC"
        },
        "calendarExpansionMax": {
          "type": "integer",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "FreeBusyRequest"
    },
    "Events": {
      "type": "object",
      "id": "Events",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "List of events on the calendar."
        },
        "description": {
          "description": "Description of the calendar. Read-only.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Read-only."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only."
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "calendar#events",
          "description": "Type of the collection (\"calendar#events\")."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "defaultReminders": {
          "items": {
            "$ref": "EventReminder"
          },
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "type": "array"
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        }
      }
    },
    "FreeBusyRequestItem": {
      "id": "FreeBusyRequestItem",
      "properties": {
        "id": {
          "description": "The identifier of a calendar or a group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Colors": {
      "properties": {
        "event": {
          "additionalProperties": {
            "description": "An event color definition.",
            "$ref": "ColorDefinition"
          },
          "type": "object",
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#colors\").",
          "default": "calendar#colors"
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "calendar": {
          "additionalProperties": {
            "description": "A calendar color definition.",
            "$ref": "ColorDefinition"
          },
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Colors"
    },
    "ColorDefinition": {
      "type": "object",
      "id": "ColorDefinition",
      "properties": {
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        },
        "foreground": {
          "description": "The foreground color that can be used to write on top of a background with 'background' color.",
          "type": "string"
        }
      }
    },
    "Channel": {
      "properties": {
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "description": "Declares a new parameter by name.",
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "type": "string",
          "default": "api#channel"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Channel"
    },
    "FreeBusyResponse": {
      "id": "FreeBusyResponse",
      "type": "object",
      "properties": {
        "timeMin": {
          "type": "string",
          "format": "date-time",
          "description": "The start of the interval."
        },
        "groups": {
          "type": "object",
          "description": "Expansion of groups.",
          "additionalProperties": {
            "description": "List of calendars that are members of this group.",
            "$ref": "FreeBusyGroup"
          }
        },
        "calendars": {
          "type": "object",
          "description": "List of free/busy information for calendars.",
          "additionalProperties": {
            "description": "Free/busy expansions for a single calendar.",
            "$ref": "FreeBusyCalendar"
          }
        },
        "kind": {
          "default": "calendar#freeBusy",
          "type": "string",
          "description": "Type of the resource (\"calendar#freeBusy\")."
        },
        "timeMax": {
          "type": "string",
          "description": "The end of the interval.",
          "format": "date-time"
        }
      }
    },
    "EventDateTime": {
      "id": "EventDateTime",
      "properties": {
        "dateTime": {
          "format": "date-time",
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event.",
          "format": "date"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
        }
      },
      "type": "object"
    },
    "FreeBusyGroup": {
      "id": "FreeBusyGroup",
      "type": "object",
      "properties": {
        "calendars": {
          "description": "List of calendars' identifiers within a group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Optional error(s) (if computation for the group failed)."
        }
      }
    },
    "EventAttendee": {
      "id": "EventAttendee",
      "type": "object",
      "properties": {
        "email": {
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee.",
          "type": "string"
        },
        "organizer": {
          "type": "boolean",
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False."
        },
        "self": {
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "comment": {
          "description": "The attendee's response comment. Optional.",
          "type": "string"
        },
        "resource": {
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "id": {
          "description": "The attendee's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API",
          "type": "string"
        },
        "additionalGuests": {
          "format": "int32",
          "default": "0",
          "description": "Number of additional guests. Optional. The default is 0.",
          "type": "integer"
        },
        "displayName": {
          "description": "The attendee's name, if available. Optional.",
          "type": "string"
        },
        "optional": {
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "responseStatus": {
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation. \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.",
          "type": "string"
        }
      }
    },
    "ConferenceData": {
      "type": "object",
      "id": "ConferenceData",
      "properties": {
        "createRequest": {
          "$ref": "CreateConferenceRequest",
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "parameters": {
          "$ref": "ConferenceParameters",
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type: `\n- eventHangout: ID is not set.\n- eventNamedHangout: ID is the name of the Hangout.\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
        },
        "entryPoints": {
          "type": "array",
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "notes": {
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional.",
          "type": "string"
        },
        "signature": {
          "description": "The signature of the conference data.\nGenerated on server side. Must be preserved while copying the conference data between events, otherwise the conference data will not be copied.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request.",
          "type": "string"
        },
        "conferenceSolution": {
          "$ref": "ConferenceSolution",
          "description": "The conference solution, such as Hangouts or Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        }
      }
    },
    "CalendarListEntry": {
      "id": "CalendarListEntry",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only.",
          "type": "string"
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "default": "false"
        },
        "summaryOverride": {
          "description": "The summary that the authenticated user has set for this calendar. Optional.",
          "type": "string"
        },
        "accessRole": {
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
          "type": "string"
        },
        "defaultReminders": {
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Optional. Read-only."
        },
        "backgroundColor": {
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
        },
        "id": {
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          },
          "description": "Identifier of the calendar.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "foregroundColor": {
          "type": "string",
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "selected": {
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "deleted": {
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendarListEntry\").",
          "default": "calendar#calendarListEntry"
        },
        "notificationSettings": {
          "properties": {
            "notifications": {
              "description": "The list of notifications set for this calendar.",
              "items": {
                "$ref": "CalendarNotification"
              },
              "type": "array"
            }
          },
          "type": "object",
          "description": "The notifications that the authenticated user is receiving for this calendar."
        },
        "primary": {
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        }
      }
    },
    "EventReminder": {
      "id": "EventReminder",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder."
        }
      }
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list.",
          "type": "string"
        },
        "domain": {
          "description": "Domain, or broad category, of the error.",
          "type": "string"
        }
      }
    },
    "EventAttachment": {
      "properties": {
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        },
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. Read-only."
        },
        "title": {
          "description": "Attachment title.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        },
        "fileId": {
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventAttachment"
    },
    "Acl": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#acl\").",
          "default": "calendar#acl"
        },
        "items": {
          "type": "array",
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          }
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        }
      },
      "id": "Acl",
      "type": "object"
    },
    "CalendarNotification": {
      "properties": {
        "method": {
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification.",
          "type": "string"
        },
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CalendarNotification"
    },
    "ConferenceSolution": {
      "type": "object",
      "id": "ConferenceSolution",
      "properties": {
        "iconUri": {
          "type": "string",
          "description": "The user-visible icon for this solution."
        },
        "name": {
          "description": "The user-visible name of this solution. Not localized.",
          "type": "string"
        },
        "key": {
          "$ref": "ConferenceSolutionKey",
          "description": "The key which can uniquely identify the conference solution for this event."
        }
      }
    },
    "Event": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#event",
          "description": "Type of the resource (\"calendar#event\")."
        },
        "created": {
          "format": "date-time",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
          "type": "string"
        },
        "gadget": {
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "type": "object",
          "properties": {
            "preferences": {
              "additionalProperties": {
                "description": "The preference name and corresponding value.",
                "type": "string"
              },
              "type": "object",
              "description": "Preferences."
            },
            "height": {
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated.",
              "format": "int32",
              "type": "integer"
            },
            "title": {
              "description": "The gadget's title. Deprecated.",
              "type": "string"
            },
            "iconLink": {
              "type": "string",
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
            },
            "link": {
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated.",
              "type": "string"
            },
            "type": {
              "description": "The gadget's type. Deprecated.",
              "type": "string"
            },
            "width": {
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated.",
              "type": "integer",
              "format": "int32"
            },
            "display": {
              "type": "string",
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
            }
          }
        },
        "summary": {
          "type": "string",
          "description": "Title of the event."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "description": {
          "description": "Description of the event. Can contain HTML. Optional.",
          "type": "string"
        },
        "guestsCanSeeOtherGuests": {
          "type": "boolean",
          "default": "true",
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True."
        },
        "conferenceData": {
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests.",
          "$ref": "ConferenceData"
        },
        "visibility": {
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
          "type": "string",
          "default": "default"
        },
        "attachments": {
          "items": {
            "$ref": "EventAttachment"
          },
          "description": "File attachments for the event. Currently only Google Drive attachments are supported.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "type": "array"
        },
        "start": {
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
          "$ref": "EventDateTime"
        },
        "id": {
          "type": "string",
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "hangoutLink": {
          "description": "An absolute link to the Google+ hangout associated with this event. Read-only.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "default": "default",
          "description": "Specific type of the event. Read-only. Possible values are:  \n- \"default\" - A regular event or not further specified. \n- \"outOfOffice\" - An out-of-office event."
        },
        "attendees": {
          "type": "array",
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list.",
          "items": {
            "$ref": "EventAttendee"
          }
        },
        "source": {
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "type": "object",
          "properties": {
            "title": {
              "description": "Title of the source; for example a title of a web page or an email subject.",
              "type": "string"
            },
            "url": {
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
              "type": "string"
            }
          }
        },
        "end": {
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime"
        },
        "recurringEventId": {
          "type": "string",
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
        },
        "originalStartTime": {
          "$ref": "EventDateTime",
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
        },
        "status": {
          "type": "string",
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated."
        },
        "organizer": {
          "type": "object",
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "email": {
              "type": "string",
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322."
            },
            "id": {
              "type": "string",
              "description": "The organizer's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API"
            },
            "self": {
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "type": "boolean",
              "default": "false"
            }
          }
        },
        "anyoneCanAddSelf": {
          "description": "Whether anyone can invite themselves to the event (currently works for Google+ events only). Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "reminders": {
          "type": "object",
          "properties": {
            "overrides": {
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
              "type": "array",
              "items": {
                "$ref": "EventReminder"
              }
            },
            "useDefault": {
              "description": "Whether the default reminders of the calendar apply to the event.",
              "type": "boolean"
            }
          },
          "description": "Information about the event's reminders for the authenticated user."
        },
        "sequence": {
          "type": "integer",
          "format": "int32",
          "description": "Sequence number as per iCalendar."
        },
        "htmlLink": {
          "type": "string",
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
        },
        "guestsCanInviteOthers": {
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "default": "true",
          "type": "boolean"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Last modification time of the event (as a RFC3339 timestamp). Read-only."
        },
        "creator": {
          "description": "The creator of the event. Read-only.",
          "type": "object",
          "properties": {
            "displayName": {
              "description": "The creator's name, if available.",
              "type": "string"
            },
            "id": {
              "description": "The creator's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API",
              "type": "string"
            },
            "email": {
              "description": "The creator's email address, if available.",
              "type": "string"
            },
            "self": {
              "default": "false",
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "type": "boolean"
            }
          }
        },
        "attendeesOmitted": {
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "endTimeUnspecified": {
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "recurrence": {
          "items": {
            "type": "string"
          },
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
          "type": "array"
        },
        "iCalUID": {
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          },
          "type": "string",
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the event as free-form text. Optional."
        },
        "locked": {
          "default": "false",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
          "type": "boolean"
        },
        "transparency": {
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "default": "opaque",
          "type": "string"
        },
        "privateCopy": {
          "type": "boolean",
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False.",
          "default": "false"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "extendedProperties": {
          "properties": {
            "private": {
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "additionalProperties": {
                "description": "The name of the private property and the corresponding value.",
                "type": "string"
              },
              "type": "object"
            },
            "shared": {
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "type": "object",
              "additionalProperties": {
                "description": "The name of the shared property and the corresponding value.",
                "type": "string"
              }
            }
          },
          "description": "Extended properties of the event.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Event"
    },
    "FreeBusyCalendar": {
      "properties": {
        "busy": {
          "items": {
            "$ref": "TimePeriod"
          },
          "type": "array",
          "description": "List of time ranges during which this calendar should be regarded as busy."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "description": "Optional error(s) (if computation for the calendar failed).",
          "type": "array"
        }
      },
      "id": "FreeBusyCalendar",
      "type": "object"
    }
  },
  "basePath": "/calendar/v3/",
  "ownerDomain": "google.com",
  "id": "calendar:v3",
  "description": "Manipulates events and other calendar data.",
  "resources": {
    "calendars": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "PUT",
          "path": "calendars/{calendarId}",
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Updates metadata for a calendar.",
          "id": "calendar.calendars.update",
          "request": {
            "$ref": "Calendar"
          }
        },
        "insert": {
          "id": "calendar.calendars.insert",
          "request": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Creates a secondary calendar.",
          "path": "calendars",
          "response": {
            "$ref": "Calendar"
          },
          "httpMethod": "POST"
        },
        "patch": {
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "path": "calendars/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendars.patch",
          "response": {
            "$ref": "Calendar"
          }
        },
        "get": {
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns metadata for a calendar.",
          "id": "calendar.calendars.get",
          "response": {
            "$ref": "Calendar"
          },
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId"
          ]
        },
        "clear": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendars.clear",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/clear",
          "httpMethod": "POST",
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account."
        },
        "delete": {
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.delete",
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "path": "calendars/{calendarId}",
          "httpMethod": "DELETE"
        }
      }
    },
    "calendarList": {
      "methods": {
        "patch": {
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.patch",
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "colorRgbFormat": {
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId"
          ]
        },
        "get": {
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          },
          "id": "calendar.calendarList.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Returns a calendar from the user's calendar list.",
          "path": "users/me/calendarList/{calendarId}",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "showHidden": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "location": "query",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ]
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            }
          },
          "description": "Returns the calendars on the user's calendar list.",
          "response": {
            "$ref": "CalendarList"
          },
          "path": "users/me/calendarList",
          "id": "calendar.calendarList.list",
          "supportsSubscription": true
        },
        "insert": {
          "response": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.insert",
          "path": "users/me/calendarList",
          "description": "Inserts an existing calendar into the user's calendar list.",
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          }
        },
        "watch": {
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameters": {
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "minAccessRole": {
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string"
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Watch for changes to CalendarList resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Channel"
          },
          "id": "calendar.calendarList.watch",
          "supportsSubscription": true,
          "httpMethod": "POST",
          "path": "users/me/calendarList/watch"
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          },
          "id": "calendar.calendarList.update",
          "path": "users/me/calendarList/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ]
        },
        "delete": {
          "path": "users/me/calendarList/{calendarId}",
          "id": "calendar.calendarList.delete",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Removes a calendar from the user's calendar list.",
          "httpMethod": "DELETE"
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "id": "calendar.colors.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns the color definitions for calendars and events.",
          "response": {
            "$ref": "Colors"
          },
          "path": "colors",
          "httpMethod": "GET"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "httpMethod": "POST",
          "path": "channels/stop",
          "id": "calendar.channels.stop",
          "description": "Stop watching resources through this channel",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "quickAdd": {
          "path": "calendars/{calendarId}/events/quickAdd",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "text": {
              "description": "The text describing the event to be created.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "sendUpdates": {
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the creation of the new event."
            },
            "sendNotifications": {
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean"
            }
          },
          "description": "Creates an event based on a simple text string.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "id": "calendar.events.quickAdd"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Event"
          },
          "description": "Updates an event.",
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "minimum": "0",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "maximum": "1"
            },
            "eventId": {
              "description": "Event identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sendUpdates": {
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "maxAttendees": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "id": "calendar.events.update",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "insert": {
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.insert",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Creates an event.",
          "path": "calendars/{calendarId}/events",
          "parameters": {
            "conferenceDataVersion": {
              "maximum": "1",
              "minimum": "0",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "sendUpdates": {
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query"
            },
            "maxAttendees": {
              "location": "query",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "list": {
          "supportsSubscription": true,
          "id": "calendar.events.list",
          "parameters": {
            "sharedExtendedProperty": {
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "iCalUID": {
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
              "type": "string",
              "location": "query"
            },
            "updatedMin": {
              "format": "date-time",
              "location": "query",
              "type": "string",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "showHiddenInvitations": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "timeMin": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "singleEvents": {
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "default": "250"
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional."
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "privateExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "timeMax": {
              "location": "query",
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "type": "string"
            },
            "orderBy": {
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query",
              "enum": [
                "startTime",
                "updated"
              ]
            }
          },
          "response": {
            "$ref": "Events"
          },
          "description": "Returns events on the specified calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events"
        },
        "get": {
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns an event.",
          "parameters": {
            "eventId": {
              "type": "string",
              "description": "Event identifier.",
              "required": true,
              "location": "path"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "maxAttendees": {
[...]
