{
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "version": "v1",
  "id": "chat:v1",
  "canonicalName": "Hangouts Chat",
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "name": "chat",
  "rootUrl": "https://chat.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "basePath": "",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "parameterOrder": [
            "resourceName"
          ],
          "id": "chat.media.download",
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Media"
          },
          "httpMethod": "GET",
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "path": "v1/media/{+resourceName}",
          "flatPath": "v1/media/{mediaId}",
          "parameters": {
            "resourceName": {
              "required": true,
              "location": "path",
              "pattern": "^.*$",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "type": "string"
            }
          }
        }
      }
    },
    "spaces": {
      "resources": {
        "messages": {
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "id": "chat.spaces.messages.attachments.get",
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$",
                      "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Attachment"
                  },
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}"
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "chat.spaces.messages.delete",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "required": true,
                  "type": "string",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Deletes a message."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "chat.spaces.messages.create",
              "description": "Creates a message.",
              "response": {
                "$ref": "Message"
              },
              "path": "v1/{+parent}/messages",
              "request": {
                "$ref": "Message"
              },
              "flatPath": "v1/spaces/{spacesId}/messages",
              "parameters": {
                "parent": {
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^spaces/[^/]+$"
                },
                "threadKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                }
              },
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "Message"
              },
              "description": "Returns a message.",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the message to be retrieved, in the form \"spaces/*/messages/*\". Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "chat.spaces.messages.get"
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The field paths to be updated, comma separated if there are multiple. Currently supported field paths: * text * cards",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "response": {
                "$ref": "Message"
              },
              "description": "Updates a message.",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Message"
              },
              "id": "chat.spaces.messages.update",
              "path": "v1/{+name}"
            }
          }
        },
        "members": {
          "methods": {
            "list": {
              "id": "chat.spaces.members.list",
              "path": "v1/{+parent}/members",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "flatPath": "v1/spaces/{spacesId}/members",
              "description": "Lists human memberships in a space.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the space for which membership list is to be fetched, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "pattern": "^spaces/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}",
              "description": "Returns a membership.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Membership"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the membership to be retrieved, in the form \"spaces/*/members/*\". Example: spaces/AAAAMpdlehY/members/105115627578887013105",
                  "location": "path",
                  "required": true,
                  "pattern": "^spaces/[^/]+/members/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "chat.spaces.members.get"
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "chat.spaces.get",
          "description": "Returns a space.",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path",
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "Space"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/spaces/{spacesId}",
          "httpMethod": "GET"
        },
        "webhooks": {
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "request": {
            "$ref": "Message"
          },
          "flatPath": "v1/spaces/{spacesId}/webhooks",
          "id": "chat.spaces.webhooks",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "parameters": {
            "threadKey": {
              "location": "query",
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path"
            }
          },
          "path": "v1/{+parent}/webhooks"
        },
        "list": {
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return."
            }
          },
          "path": "v1/spaces",
          "id": "chat.spaces.list",
          "description": "Lists spaces the caller is a member of.",
          "flatPath": "v1/spaces",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "rooms": {
      "methods": {
        "messages": {
          "path": "v1/{+parent}/messages",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "pattern": "^rooms/[^/]+$"
            },
            "threadKey": {
              "type": "string",
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query"
            }
          },
          "flatPath": "v1/rooms/{roomsId}/messages",
          "request": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "chat.rooms.messages",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Message"
          }
        },
        "webhooks": {
          "flatPath": "v1/rooms/{roomsId}/webhooks",
          "path": "v1/{+parent}/webhooks",
          "parameters": {
            "parent": {
              "pattern": "^rooms/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path"
            },
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "chat.rooms.webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "response": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/rooms/{roomsId}/conversations/{conversationsId}/messages",
              "parameters": {
                "threadKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "pattern": "^rooms/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/messages",
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "request": {
                "$ref": "Message"
              },
              "id": "chat.rooms.conversations.messages"
            }
          }
        }
      }
    },
    "dms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Message"
              },
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "parameters": {
                "threadKey": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                },
                "parent": {
                  "pattern": "^dms/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/dms/{dmsId}/conversations/{conversationsId}/messages",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "chat.dms.conversations.messages",
              "path": "v1/{+parent}/messages"
            }
          }
        }
      },
      "methods": {
        "webhooks": {
          "id": "chat.dms.webhooks",
          "flatPath": "v1/dms/{dmsId}/webhooks",
          "response": {
            "$ref": "Message"
          },
          "parameters": {
            "threadKey": {
              "type": "string",
              "location": "query",
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
            },
            "parent": {
              "required": true,
              "pattern": "^dms/[^/]+$",
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "type": "string"
            }
          },
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "request": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "path": "v1/{+parent}/webhooks"
        },
        "messages": {
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "id": "chat.dms.messages",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "path": "v1/{+parent}/messages",
          "response": {
            "$ref": "Message"
          },
          "parameters": {
            "threadKey": {
              "location": "query",
              "type": "string",
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
            },
            "parent": {
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path",
              "pattern": "^dms/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "Message"
          },
          "flatPath": "v1/dms/{dmsId}/messages"
        }
      }
    }
  },
  "description": "Enables bots to fetch information and perform actions in Google Chat. Authentication using a service account is a prerequisite for using the Google Chat REST API.",
  "kind": "discovery#restDescription",
  "baseUrl": "https://chat.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "protocol": "rest",
  "schemas": {
    "ActionResponse": {
      "type": "object",
      "id": "ActionResponse",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default type; will be handled as NEW_MESSAGE.",
            "Post as a new message in the topic.",
            "Update the bot's message. This is only permitted on a CARD_CLICKED event where the message sender type is BOT.",
            "Update a message, with cards only. (Only after a MESSAGE event with a matched url, or a CARD_CLICKED event on a human created message)."
          ],
          "type": "string",
          "description": "The type of bot response.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "REQUEST_CONFIG"
          ]
        },
        "dialogAction": {
          "$ref": "DialogAction",
          "description": "This response is for Dialog related events and must be accompanied by ResponseType.Dialog"
        },
        "url": {
          "description": "URL for users to auth or config. (Only for REQUEST_CONFIG response types.)",
          "type": "string"
        }
      },
      "description": "Parameters that a bot can use to configure how it's response is posted."
    },
    "GoogleAppsCardV1ImageComponent": {
      "type": "object",
      "id": "GoogleAppsCardV1ImageComponent",
      "properties": {
        "borderStyle": {
          "description": "The border style to apply to the image.",
          "$ref": "GoogleAppsCardV1BorderStyle"
        },
        "cropStyle": {
          "description": "The crop style to apply to the image.",
          "$ref": "GoogleAppsCardV1ImageCropStyle"
        },
        "altText": {
          "description": "The accessibility label for the image.",
          "type": "string"
        },
        "imageUri": {
          "description": "The image URL.",
          "type": "string"
        }
      }
    },
    "Dialog": {
      "id": "Dialog",
      "properties": {
        "body": {
          "description": "Body of the dialog, which will be rendered in a modal. NOTE: The following fields within the objects are not supported: google.apps.card.v1.Widget.date_time_picker google.apps.card.v1.DecoratedText.SwitchControl.on_change_action google.apps.card.v1.TextInput.on_change_action google.apps.card.v1.SelectionInput.on_change_action google.apps.card.v1.DateTimePicker.on_change_action Setting the fields above will have no effect on the dialog.",
          "$ref": "GoogleAppsCardV1Card"
        }
      },
      "description": "Wrapper around the card body of the dialog.",
      "type": "object"
    },
    "GoogleAppsCardV1SelectionInput": {
      "properties": {
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "If specified, the form is submitted when the selection changes. If not specified, you must specify a separate button."
        },
        "label": {
          "description": "The label displayed ahead of the switch control.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the text input which is used in formInput."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The selection type is a checkbox.",
            "The selection type is a radio button.",
            "The selection type is a switch.",
            "The selection type is a dropdown."
          ],
          "enum": [
            "CHECK_BOX",
            "RADIO_BUTTON",
            "SWITCH",
            "DROPDOWN"
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1SelectionItem"
          }
        }
      },
      "id": "GoogleAppsCardV1SelectionInput",
      "description": "A widget that creates a UI item (for example, a drop-down list) with options for users to select.",
      "type": "object"
    },
    "GoogleAppsCardV1CardHeader": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image in the card header."
        },
        "subtitle": {
          "description": "The subtitle of the card header.",
          "type": "string"
        },
        "imageType": {
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "description": "The image's type.",
          "type": "string"
        },
        "imageAltText": {
          "description": "The alternative text of this image which is used for accessibility.",
          "type": "string"
        },
        "title": {
          "description": "The title of the card header. The title must be specified. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCardV1CardHeader"
    },
    "CardAction": {
      "type": "object",
      "id": "CardAction",
      "properties": {
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action for this action item."
        },
        "actionLabel": {
          "type": "string",
          "description": "The label used to be displayed in the action menu item."
        }
      },
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser."
    },
    "GoogleAppsCardV1Icon": {
      "id": "GoogleAppsCardV1Icon",
      "type": "object",
      "properties": {
        "altText": {
          "type": "string",
          "description": "The description of the icon, used for accessibility. The default value is provided if you don't specify one."
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        },
        "knownIcon": {
          "description": "The icon specified by the string name of a list of known icons",
          "type": "string"
        },
        "imageType": {
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a standard icon.",
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "type": "string"
        }
      }
    },
    "SlashCommandMetadata": {
      "id": "SlashCommandMetadata",
      "properties": {
        "triggersDialog": {
          "description": "Indicating whether the slash command is for a dialog.",
          "type": "boolean"
        },
        "commandId": {
          "description": "The command id of the invoked slash command.",
          "type": "string",
          "format": "int64"
        },
        "bot": {
          "$ref": "User",
          "description": "The bot whose command was invoked."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ],
          "type": "string",
          "description": "The type of slash command.",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add bot to space.",
            "Invoke slash command in space."
          ]
        },
        "commandName": {
          "type": "string",
          "description": "The name of the invoked slash command."
        }
      },
      "type": "object",
      "description": "Annotation metadata for slash commands (/)."
    },
    "UserMentionMetadata": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ],
          "type": "string",
          "description": "The type of user mention."
        },
        "user": {
          "description": "The user mentioned.",
          "$ref": "User"
        }
      },
      "id": "UserMentionMetadata",
      "type": "object",
      "description": "Annotation metadata for user mentions (@)."
    },
    "DeprecatedEvent": {
      "id": "DeprecatedEvent",
      "description": "Google Chat events.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The user that triggered the event.",
          "$ref": "User"
        },
        "message": {
          "description": "The message that triggered the event, if applicable.",
          "$ref": "Message"
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the bot should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/chat/how-tos/auth-3p) for more information.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "A secret value that bots can use to verify if a request is from Google. The token is randomly generated by Google, remains static, and can be obtained from the Google Chat API configuration page in the Cloud Console. Developers can revoke/regenerate it if needed from the same page."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp indicating when the event was dispatched."
        },
        "space": {
          "$ref": "Space",
          "description": "The room or DM in which the event occurred."
        },
        "threadKey": {
          "type": "string",
          "description": "The bot-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a room or direct message.",
            "The bot was added to a room or DM.",
            "The bot was removed from a room or DM.",
            "The bot's interactive card was clicked."
          ],
          "description": "The type of the event.",
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ]
        },
        "action": {
          "$ref": "FormAction",
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/chat/how-tos/cards-onclick) for more information."
        }
      }
    },
    "GoogleAppsCardV1Card": {
      "id": "GoogleAppsCardV1Card",
      "properties": {
        "header": {
          "description": "The header of the card. A header usually contains a title and an image.",
          "$ref": "GoogleAppsCardV1CardHeader"
        },
        "cardActions": {
          "description": "The actions of this card. They are added to a card's generated toolbar menu. For example, the following JSON constructs a card action menu with Settings and Send Feedback options: ``` \"card_actions\": [ { \"actionLabel\": \"Setting\", \"onClick\": { \"action\": { \"functionName\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"SETTING\" } ], \"loadIndicator\": \"LoadIndicator.SPINNER\" } } }, { \"actionLabel\": \"Send Feedback\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/feedback\" } } } ] ```",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1CardAction"
          }
        },
        "name": {
          "description": "Name of the card, which is used as a identifier for the card in card navigation.",
          "type": "string"
        },
        "sections": {
          "items": {
            "$ref": "GoogleAppsCardV1Section"
          },
          "description": "Sections are separated by a line divider.",
          "type": "array"
        },
        "fixedFooter": {
          "description": "The fixed footer shown at the bottom of this card.",
          "$ref": "GoogleAppsCardV1CardFixedFooter"
        },
        "displayStyle": {
          "type": "string",
          "enum": [
            "DISPLAY_STYLE_UNSPECIFIED",
            "PEEK",
            "REPLACE"
          ],
          "description": "The display style for peekCardHeader.",
          "enumDescriptions": [
            "",
            "The header of the card appears at the bottom of the sidebar, partially covering the current top card of the stack. Clicking the header pops the card into the card stack. If the card has no header, a generated header is used instead.",
            "The card is shown by replacing the view of the top card in the card stack."
          ]
        },
        "peekCardHeader": {
          "$ref": "GoogleAppsCardV1CardHeader",
          "description": "When displaying contextual content, the peek card header acts as a placeholder so that the user can navigate forward between the homepage cards and the contextual cards."
        }
      },
      "description": "A card is a UI element that can contain UI widgets such as text and images. For more information, see Cards . For example, the following JSON creates a card that has a header with the name, position, icons, and link for a contact, followed by a section with contact information like email and phone number. ``` { \"header\": { \"title\": \"Heba Salam\", \"subtitle\": \"Software Engineer\", \"imageStyle\": \"ImageStyle.AVATAR\", \"imageUrl\": \"https://example.com/heba_salam.png\", \"imageAltText\": \"Avatar for Heba Salam\" }, \"sections\" : [ { \"header\": \"Contact Info\", \"widgets\": [ { \"decorated_text\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"content\": \"heba.salam@example.com\" } }, { \"decoratedText\": { \"icon\": { \"knownIcon\": \"PERSON\" }, \"content\": \"Online\" } }, { \"decoratedText\": { \"icon\": { \"knownIcon\": \"PHONE\" }, \"content\": \"+1 (555) 555-1234\" } }, { \"buttons\": [ { \"textButton\": { \"text\": \"Share\", }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/share\" } } }, { \"textButton\": { \"text\": \"Edit\", }, \"onClick\": { \"action\": { \"function\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"EDIT\" } ], \"loadIndicator\": \"LoadIndicator.SPINNER\" } } } ] } ], \"collapsible\": true, \"uncollapsibleWidgetsCount\": 3 } ], \"cardActions\": [ { \"actionLabel\": \"Send Feedback\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/feedback\" } } } ], \"name\": \"contact-card-K3wB6arF2H9L\" } ```",
      "type": "object"
    },
    "OnClick": {
      "type": "object",
      "id": "OnClick",
      "properties": {
        "action": {
          "description": "A form action will be triggered by this onclick if specified.",
          "$ref": "FormAction"
        },
        "openLink": {
          "$ref": "OpenLink",
          "description": "This onclick triggers an open link action if specified."
        }
      },
      "description": "An onclick action (e.g. open a link)."
    },
    "GoogleAppsCardV1SuggestionItem": {
      "description": "A suggestion item. Only supports text for now.",
      "type": "object",
      "id": "GoogleAppsCardV1SuggestionItem",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "ListSpacesResponse": {
      "type": "object",
      "id": "ListSpacesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results. Tokens expire in an hour. An error is thrown if an expired token is passed.",
          "type": "string"
        },
        "spaces": {
          "items": {
            "$ref": "Space"
          },
          "type": "array",
          "description": "List of spaces in the requested (or first) page."
        }
      }
    },
    "ListMembershipsResponse": {
      "id": "ListMembershipsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results.",
          "type": "string"
        },
        "memberships": {
          "description": "List of memberships in the requested (or first) page.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsCardV1GridItem": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The grid item's title."
        },
        "layout": {
          "enumDescriptions": [
            "No layout specified.",
            "The title and subtitle are shown below the grid item's image.",
            "The title and subtitle are shown above the grid item's image."
          ],
          "enum": [
            "GRID_ITEM_LAYOUT_UNSPECIFIED",
            "TEXT_BELOW",
            "TEXT_ABOVE"
          ],
          "type": "string",
          "description": "The layout to use for the grid item."
        },
        "id": {
          "type": "string",
          "description": "A user-specified identifier for this grid item. This identifier is returned in the parent Grid's onClick callback parameters."
        },
        "subtitle": {
          "description": "The grid item's subtitle.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleAppsCardV1ImageComponent",
          "description": "The image that displays in the grid item."
        },
        "textAlignment": {
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The horizontal alignment of the grid item's text.",
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ]
        }
      },
      "id": "GoogleAppsCardV1GridItem",
      "type": "object",
      "description": "Represents a single item in the grid layout."
    },
    "GoogleAppsCardV1Suggestions": {
      "description": "A container wrapping elements necessary for showing suggestion items used in text input autocomplete.",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of suggestions items which will be used in are used in autocomplete.",
          "items": {
            "$ref": "GoogleAppsCardV1SuggestionItem"
          }
        }
      },
      "id": "GoogleAppsCardV1Suggestions",
      "type": "object"
    },
    "WidgetMarkup": {
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object",
      "properties": {
        "keyValue": {
          "description": "Display a key value item in this widget.",
          "$ref": "KeyValue"
        },
        "textParagraph": {
          "$ref": "TextParagraph",
          "description": "Display a text paragraph in this widget."
        },
        "buttons": {
          "items": {
            "$ref": "Button"
          },
          "type": "array",
          "description": "A list of buttons. Buttons is also oneof data and only one of these fields should be set."
        },
        "image": {
          "description": "Display an image in this widget.",
          "$ref": "Image"
        }
      },
      "id": "WidgetMarkup"
    },
    "FormAction": {
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "type": "object",
      "id": "FormAction",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "List of action parameters.",
          "items": {
            "$ref": "ActionParameter"
          }
        },
        "actionMethodName": {
          "type": "string",
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the bot as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired."
        }
      }
    },
    "ActionStatus": {
      "id": "ActionStatus",
      "type": "object",
      "properties": {
        "statusCode": {
          "description": "The status code.",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "type": "string"
        },
        "userFacingMessage": {
          "description": "This message will be the corresponding string to the above status_code. If unset, an appropriate generic message based on the status_code will be shown to the user. If this field is set then the message will be surfaced to the user for both successes and errors.",
          "type": "string"
        }
      },
      "description": "ActionStatus represents status of a request from the bot developer's side. In specific, for each request a bot gets, the bot developer will set both fields below in relation to what the response status and message related to status should be."
    },
    "GoogleAppsCardV1ImageCropStyle": {
      "description": "Represents the crop style applied to an image.",
      "properties": {
        "aspectRatio": {
          "description": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`.",
          "type": "number",
          "format": "double"
        },
        "type": {
          "type": "string",
          "description": "The crop type.",
          "enum": [
            "IMAGE_CROP_TYPE_UNSPECIFIED",
            "SQUARE",
            "CIRCLE",
            "RECTANGLE_CUSTOM",
            "RECTANGLE_4_3"
          ],
          "enumDescriptions": [
            "No value specified.",
            "Applies a square crop.",
            "Applies a circular crop.",
            "Applies a rectangular crop with a custom aspect ratio.",
            "Applies a rectangular crop with a 4:3 aspect ratio."
          ]
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1ImageCropStyle"
    },
    "Message": {
      "description": "A message in Hangouts Chat.",
      "properties": {
        "cards": {
          "description": "Rich, formatted and interactive cards that can be used to display UI elements such as: formatted texts, buttons, clickable images. Cards are normally displayed below the plain-text body of the message.",
          "type": "array",
          "items": {
            "$ref": "Card"
          }
        },
        "text": {
          "description": "Plain-text body of the message.",
          "type": "string"
        },
        "annotations": {
          "description": "Output only. Annotations associated with the text in this message.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        },
        "fallbackText": {
          "description": "A plain-text description of the message's cards, used when the actual cards cannot be displayed (e.g. mobile notifications).",
          "type": "string"
        },
        "actionResponse": {
          "$ref": "ActionResponse",
          "description": "Input only. Parameters that a bot can use to configure how its response is posted."
        },
        "thread": {
          "description": "The thread the message belongs to.",
          "$ref": "Thread"
        },
        "slashCommand": {
          "description": "Slash command information, if applicable.",
          "$ref": "SlashCommand"
        },
        "sender": {
          "$ref": "User",
          "description": "The user who created the message."
        },
        "space": {
          "description": "The space the message belongs to.",
          "$ref": "Space"
        },
        "attachment": {
          "description": "User uploaded attachment.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "previewText": {
          "type": "string",
          "description": "Text for generating preview chips. This text will not be displayed to the user, but any links to images, web pages, videos, etc. included here will generate preview chips."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the message was created in Hangouts Chat server."
        },
        "lastUpdateTime": {
          "description": "Output only. The time at which the message was last updated in Hangouts Chat server. If the message was never updated, this field will be same as create_time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "argumentText": {
          "type": "string",
          "description": "Plain-text body of the message with all bot mentions stripped out."
        }
      },
      "type": "object",
      "id": "Message"
    },
    "GoogleAppsCardV1Action": {
      "properties": {
        "loadIndicator": {
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ],
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          },
          "description": "List of action parameters."
        },
        "function": {
          "type": "string",
          "description": "Apps Script function to invoke when the containing element is clicked/activated."
        },
        "persistValues": {
          "type": "boolean",
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. When using [LoadIndicator.NONE](workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for actions, `persist_values` = `true`is recommended, as it ensures that any changes made by the user after form or on change actions are sent to the server are not overwritten by the response. If `false`, the form values are cleared when the action is triggered. When `persist_values` is set to `false`, it is strongly recommended that the card use [LoadIndicator.SPINNER](workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for all actions, as this locks the UI to ensure no changes are made by the user while the action is being processed."
        }
      },
      "description": "An action that describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "type": "object",
      "id": "GoogleAppsCardV1Action"
    },
    "DialogAction": {
      "type": "object",
      "properties": {
        "dialog": {
          "$ref": "Dialog",
          "description": "Dialog for the request."
        },
        "actionStatus": {
          "description": "Status for either invoke dialog or submit dialog requests. This will be used to display a status and message to user if needed. For example in case of an error or success.",
          "$ref": "ActionStatus"
        }
      },
      "description": "Contains dialog if present as well as the ActionStatus for the request sent from user.",
      "id": "DialogAction"
    },
    "GoogleAppsCardV1SwitchControl": {
      "id": "GoogleAppsCardV1SwitchControl",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the switch widget that's used in formInput."
        },
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "The action when the switch state is changed."
        },
        "controlType": {
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Deprecated in favor of `CHECK_BOX`.",
            ""
          ],
          "description": "The control type, either switch or checkbox."
        },
        "value": {
          "type": "string",
          "description": "The value is what is passed back in the callback."
        },
        "selected": {
          "type": "boolean",
          "description": "If the switch is selected."
        }
      }
    },
    "Membership": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default, do not use.",
            "The user has joined the space.",
            "The user has been invited, is able to join the space, but currently has not joined.",
            "The user is not a member of the space, has not been invited and is not able to join the space."
          ],
          "enum": [
            "MEMBERSHIP_STATE_UNSPECIFIED",
            "JOINED",
            "INVITED",
            "NOT_A_MEMBER"
          ],
          "description": "State of the membership.",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "member": {
          "description": "A User in Hangout Chat",
          "$ref": "User"
        },
        "createTime": {
          "description": "The creation time of the membership a.k.a the time at which the member joined the space, if applicable.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a membership relation in Hangouts Chat.",
      "id": "Membership"
    },
    "AttachmentDataRef": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data."
        }
      },
      "type": "object",
      "description": "A reference to the data of an attachment.",
      "id": "AttachmentDataRef"
    },
    "GoogleAppsCardV1Widget": {
      "description": "A widget is a UI element that presents texts, images, etc.",
      "id": "GoogleAppsCardV1Widget",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleAppsCardV1Image",
          "description": "Displays an image in this widget. For example, the following JSON creates an image with alternative text: ``` \"image\": { \"imageUrl\": \"https://example.com/heba_salam.png\" \"altText\": \"Avatar for Heba Salam\" } ```"
        },
        "selectionInput": {
          "description": "Displays a switch control in this widget. For example, the following JSON creates a dropdown selection for size: ``` \"switchControl\": { \"name\": \"size\", \"label\": \"Size\" \"type\": \"SelectionType.DROPDOWN\", \"items\": [ { \"text\": \"S\", \"value\": \"small\", \"selected\": false }, { \"text\": \"M\", \"value\": \"medium\", \"selected\": true }, { \"text\": \"L\", \"value\": \"large\", \"selected\": false }, { \"text\": \"XL\", \"value\": \"extra_large\", \"selected\": false } ] } ```",
          "$ref": "GoogleAppsCardV1SelectionInput"
        },
        "buttonList": {
          "description": "A list of buttons. For example, the following JSON creates two buttons. The first is a filled text button and the second is an image button that opens a link: ``` \"buttonList\": { \"buttons\": [ \"button\": { \"text\": \"Edit\", \"Color\": { \"Red\": 255 \"Green\": 255 \"Blue\": 255 } \"disabled\": true }, \"button\": { \"icon\": { \"knownIcon\": \"INVITE\" \"altText\": \"check calendar\" }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/calendar\" } } }, ] } ```",
          "$ref": "GoogleAppsCardV1ButtonList"
        },
        "textParagraph": {
          "$ref": "GoogleAppsCardV1TextParagraph",
          "description": "Displays a text paragraph in this widget. For example, the following JSON creates a bolded text: ``` \"textParagraph\": { \"text\": \" *bold text*\" } ```"
        },
        "decoratedText": {
          "description": "Displays a decorated text item in this widget. For example, the following JSON creates a decorated text widget showing email address: ``` \"decoratedText\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"topLabel\": \"Email Address\", \"content\": \"heba.salam@example.com\", \"bottomLabel\": \"This is a new Email address!\", \"switchWidget\": { \"name\": \"has_send_welcome_email_to_heba_salam\", \"selected\": false, \"controlType\": \"ControlType.CHECKBOX\" } } ```",
          "$ref": "GoogleAppsCardV1DecoratedText"
        },
        "textInput": {
          "$ref": "GoogleAppsCardV1TextInput",
          "description": "Displays a text input in this widget. For example, the following JSON creates a text input for mail address: ``` \"textInput\": { \"name\": \"mailing_address\", \"label\": \"Mailing Address\" } ``` As another example, the following JSON creates a text input for programming language with static suggestions: ``` \"textInput\": { \"name\": \"preferred_programing_language\", \"label\": \"Preferred Language\", \"initialSuggestions\": { \"items\": [ { \"text\": \"C++\" }, { \"text\": \"Java\" }, { \"text\": \"JavaScript\" }, { \"text\": \"Python\" } ] } } ```"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The horizontal alignment of this widget.",
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "type": "string"
        },
        "grid": {
          "$ref": "GoogleAppsCardV1Grid",
          "description": "Displays a grid with a collection of items. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"numColumns\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4.0 }, \"items\": [ \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" ], \"onClick\": { \"openLink\": { \"url\":\"https://www.example.com\" } } } ```"
        },
        "dateTimePicker": {
          "$ref": "GoogleAppsCardV1DateTimePicker",
          "description": "Displays a selection/input widget for date/time. For example, the following JSON creates a date/time picker for an appointment time: ``` \"date_time_picker\": { \"name\": \"appointment_time\", \"label\": \"Book your appointment at:\", \"type\": \"DateTimePickerType.DATE_AND_TIME\", \"valueMsEpoch\": \"796435200000\" } ```"
        },
        "divider": {
          "description": "Displays a divider. For example, the following JSON creates a divider: ``` \"divider\": { } ```",
          "$ref": "GoogleAppsCardV1Divider"
        }
      }
    },
    "GoogleAppsCardV1ButtonList": {
      "description": "A list of buttons layed out horizontally.",
      "type": "object",
      "id": "GoogleAppsCardV1ButtonList",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          }
        }
      }
    },
    "Attachment": {
      "description": "An attachment in Hangouts Chat.",
      "type": "object",
      "id": "Attachment",
      "properties": {
        "driveDataRef": {
          "description": "A reference to the drive attachment. This is used with the Drive API.",
          "$ref": "DriveDataRef"
        },
        "thumbnailUri": {
          "type": "string",
          "description": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Bots should not use this URL to download attachment content."
        },
        "contentName": {
          "description": "The original file name for the content, not the full path.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\"."
        },
        "attachmentDataRef": {
          "description": "A reference to the attachment data. This is used with the media API to download the attachment data.",
          "$ref": "AttachmentDataRef"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DRIVE_FILE",
            "UPLOADED_CONTENT"
          ],
          "description": "The source of the attachment.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "contentType": {
          "description": "The content type (MIME type) of the file.",
          "type": "string"
        },
        "downloadUri": {
          "type": "string",
          "description": "Output only. The download URL which should be used to allow a human user to download the attachment. Bots should not use this URL to download attachment content."
        }
      }
    },
    "TextParagraph": {
      "type": "object",
      "description": "A paragraph of text. Formatted text supported.",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "TextParagraph"
    },
    "User": {
      "description": "A user in Google Chat.",
      "type": "object",
      "id": "User",
      "properties": {
        "displayName": {
          "description": "The user's display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name, in the format \"users/*\"."
        },
        "type": {
          "description": "User type.",
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Bot user."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ]
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "True when the user is deleted or the user's profile is not visible."
        },
        "domainId": {
          "description": "Obfuscated domain information.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1Divider": {
      "type": "object",
      "description": "A divider that appears in between widgets.",
      "id": "GoogleAppsCardV1Divider",
      "properties": {}
    },
    "KeyValue": {
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.",
      "id": "KeyValue",
      "properties": {
        "topLabel": {
          "description": "The text of the top label. Formatted text supported.",
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action. Only the top label, bottom label and content region are clickable.",
          "$ref": "OnClick"
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text of the bottom label. Formatted text supported."
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "Button"
        },
        "content": {
          "description": "The text of the content. Formatted text supported and always required.",
          "type": "string"
        },
        "icon": {
          "type": "string",
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image.",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "contentMultiline": {
          "description": "If the content should be multiline.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Annotation": {
      "description": "Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/107946847022116401880\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION",
            "SLASH_COMMAND"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user is mentioned.",
            "A slash command is invoked."
          ],
          "description": "The type of this annotation.",
          "type": "string"
        },
        "slashCommand": {
          "description": "The metadata for a slash command.",
          "$ref": "SlashCommandMetadata"
        },
        "length": {
          "format": "int32",
          "description": "Length of the substring in the plain-text message body this annotation corresponds to.",
          "type": "integer"
        },
        "startIndex": {
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to.",
          "format": "int32",
          "type": "integer"
        },
        "userMention": {
          "$ref": "UserMentionMetadata",
          "description": "The metadata of user mention."
        }
      },
      "id": "Annotation"
    },
    "Thread": {
      "id": "Thread",
      "description": "A thread in Hangouts Chat.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name, in the form \"spaces/*/threads/*\". Example: spaces/AAAAMpdlehY/threads/UMxbHmzDlr4",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1TextInput": {
      "id": "GoogleAppsCardV1TextInput",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The default value when there is no input from the user."
        },
        "autoCompleteAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "The refresh function that returns suggestions based on the user's input text. If the callback is not specified, autocomplete is done in client side based on the initial suggestion items."
        },
        "name": {
          "type": "string",
          "description": "The name of the text input which is used in formInput."
        },
        "label": {
          "description": "At least one of label and hintText must be specified.",
          "type": "string"
        },
        "onChangeAction": {
          "description": "The onChange action, for example, invoke a function.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "initialSuggestions": {
          "$ref": "GoogleAppsCardV1Suggestions",
          "description": "The initial suggestions made before any user input."
        },
        "type": {
          "description": "The style of the text, for example, a single line or multiple lines.",
          "enumDescriptions": [
            "The text is put into a single line.",
            "The text is put into multiple lines."
          ],
          "type": "string",
          "enum": [
            "SINGLE_LINE",
            "MULTIPLE_LINE"
          ]
        },
        "hintText": {
          "type": "string",
          "description": "The hint text."
        }
      },
      "description": "A text input is a UI item where users can input text. A text input can also have an onChange action and suggestions."
    },
    "TextButton": {
      "description": "A button with text and onclick action.",
      "type": "object",
      "properties": {
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action of the button."
        },
        "text": {
          "type": "string",
          "description": "The text of the button."
        }
      },
      "id": "TextButton"
    },
    "GoogleAppsCardV1DecoratedText": {
      "type": "object",
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget or a button after the text.",
      "id": "GoogleAppsCardV1DecoratedText",
      "properties": {
        "bottomLabel": {
          "description": "The formatted text label that shows below the main text.",
          "type": "string"
        },
        "text": {
          "description": "Required. The main widget formatted text. See Text formatting for details.",
          "type": "string"
        },
        "endIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "An icon displayed after the text."
        },
        "topLabel": {
          "type": "string",
          "description": "The formatted text label that shows above the main text."
        },
        "button": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "A button that can be clicked to trigger an action."
        },
        "wrapText": {
          "description": "The wrap text setting. If `true`, the text is wrapped and displayed in multiline. Otherwise, the text is truncated.",
          "type": "boolean"
        },
        "icon": {
          "description": "Deprecated in favor of start_icon.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "Only the top and bottom label and content region are clickable."
        },
        "switchControl": {
          "description": "A switch widget can be clicked to change its state or trigger an action.",
          "$ref": "GoogleAppsCardV1SwitchControl"
        },
        "startIcon": {
          "description": "The icon displayed in front of the text.",
          "$ref": "GoogleAppsCardV1Icon"
        }
      }
    },
    "GoogleAppsCardV1Button": {
      "description": "A button. Can be a text button or an image button.",
      "type": "object",
      "properties": {
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "The action to perform when the button is clicked."
        },
        "color": {
          "$ref": "Color",
          "description": "If set, the button is filled with a solid background."
        },
        "icon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "The icon image."
        },
        "text": {
          "description": "The text of the button.",
          "type": "string"
        },
        "disabled": {
          "description": "If true, the button is displayed in a disabled state and doesn't respond to user actions.",
          "type": "boolean"
        },
        "altText": {
          "description": "The alternative text used for accessibility. Has no effect when an icon is set; use `icon.alt_text` instead.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCardV1Button"
    },
    "GoogleAppsCardV1DateTimePicker": {
      "description": "The widget that lets users to specify a date and time.",
      "properties": {
        "valueMsEpoch": {
          "format": "int64",
          "type": "string",
          "description": "The value to display as the default value before user input or previous user input. It is represented in milliseconds (Epoch time). For `DATE_AND_TIME` type, the full epoch value is used. For `DATE_ONLY` type, only date of the epoch time is used. For `TIME_ONLY` type, only time of the epoch time is used. For example, you can set epoch time to `3 * 60 * 60 * 1000` to represent 3am."
        },
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "Triggered when the user clicks Save or Clear from the date/time picker dialog. This is only triggered if the value changed as a result of the Save/Clear operation."
        },
        "name": {
          "description": "The name of the text input that's used in formInput, and uniquely identifies this input.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The label for the field that displays to the user."
        },
        "timezoneOffsetDate": {
          "type": "integer",
          "format": "int32",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If not set, it uses the user's time zone setting on the client side."
        },
        "type": {
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ],
          "type": "string",
          "description": "The type of the date/time picker.",
          "enumDescriptions": [
            "The user can select a date and time.",
            "The user can only select a date.",
            "The user can only select a time."
          ]
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1DateTimePicker"
    },
    "GoogleAppsCardV1TextParagraph": {
      "type": "object",
      "description": "A paragraph of text that supports formatting. See [Text formatting](workspace/add-ons/concepts/widgets#text_formatting\") for details.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text that's shown in the widget."
        }
      },
      "id": "GoogleAppsCardV1TextParagraph"
    },
    "CardHeader": {
      "properties": {
        "title": {
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "imageStyle": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ],
          "description": "The image's type (e.g. square border or circular border).",
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ]
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        }
      },
      "id": "CardHeader",
      "type": "object"
    },
    "Section": {
      "id": "Section",
      "type": "object",
      "properties": {
        "widgets": {
          "items": {
            "$ref": "WidgetMarkup"
          },
          "type": "array",
          "description": "A section must contain at least 1 widget."
        },
        "header": {
          "type": "string",
          "description": "The header of the section, text formatted supported."
        }
      },
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float)."
    },
    "Media": {
      "type": "object",
      "description": "Media resource.",
      "id": "Media",
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      }
    },
    "ImageButton": {
      "description": "An image button with an onclick action.",
      "id": "ImageButton",
      "type": "object",
      "properties": {
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        },
        "icon": {
          "description": "The icon specified by an enum that indices to an icon provided by Chat API.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ]
        },
        "name": {
          "description": "The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify.",
          "type": "string"
        }
      }
    },
    "Color": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "properties": {
        "red": {
          "format": "float",
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "Color"
    },
    "Button": {
      "type": "object",
      "description": "A button. Can be a text button or an image button.",
      "properties": {
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and onclick action."
        },
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        }
      },
      "id": "Button"
    },
    "GoogleAppsCardV1Image": {
      "id": "GoogleAppsCardV1Image",
      "type": "object",
      "properties": {
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "imageUrl": {
          "description": "An image URL.",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "The alternative text of this image, used for accessibility."
        }
      },
      "description": "An image that is specified by a URL and can have an onClick action."
    },
    "GoogleAppsCardV1CardAction": {
      "description": "A card action is the action associated with the card. For example, an invoice card might include actions such as delete invoice, email invoice, or open the invoice in a browser.",
      "type": "object",
      "properties": {
        "actionLabel": {
          "description": "The label that displays as the action menu item.",
          "type": "string"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "The onclick action for this action item."
        }
      },
      "id": "GoogleAppsCardV1CardAction"
    },
    "DriveDataRef": {
      "description": "A reference to the data of a drive attachment.",
      "type": "object",
      "id": "DriveDataRef",
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "The id for the drive file, for use with the Drive API."
        }
      }
    },
    "GoogleAppsCardV1CardFixedFooter": {
      "type": "object",
      "id": "GoogleAppsCardV1CardFixedFooter",
      "properties": {
        "primaryButton": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "The primary button of the fixed footer. The button must be a text button with text and color set."
        },
        "secondaryButton": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "The secondary button of the fixed footer. The button must be a text button with text and color set. `primaryButton` must be set if `secondaryButton` is set."
        }
      },
      "description": "A persistent (sticky) footer that is added to the bottom of the card."
    },
    "GoogleAppsCardV1OnClick": {
      "type": "object",
      "id": "GoogleAppsCardV1OnClick",
      "properties": {
        "openDynamicLinkAction": {
          "description": "An add-on triggers this action when the action needs to open a link. This differs from the open_link above in that this needs to talk to server to get the link. Thus some preparation work is required for web client to do before the open link action response comes back.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "card": {
          "$ref": "GoogleAppsCardV1Card",
          "description": "A new card is pushed to the card stack after clicking if specified."
        },
        "openLink": {
          "description": "If specified, this onClick triggers an open link action.",
          "$ref": "GoogleAppsCardV1OpenLink"
        },
        "action": {
          "description": "If specified, an action is triggered by this onClick.",
          "$ref": "GoogleAppsCardV1Action"
        }
      }
    },
    "OpenLink": {
      "description": "A link that opens a new window.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to open."
        }
      },
      "id": "OpenLink",
      "type": "object"
    },
    "Space": {
      "description": "A room or DM in Hangouts Chat.",
      "properties": {
        "displayName": {
          "description": "Output only. The display name (only if the space is a room). Please note that this field might not be populated in direct messages between humans.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of a space. This is deprecated. Use `single_user_bot_dm` instead.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ],
          "enumDescriptions": [
            "",
            "Multi-user spaces such as rooms and DMs between humans.",
            "1:1 Direct Message between a human and a bot, where all messages are flat."
          ]
        },
        "threaded": {
          "description": "Whether the messages are threaded in this space.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAMpdlehYs"
        },
        "singleUserBotDm": {
          "type": "boolean",
          "description": "Whether the space is a DM between a bot and a single human."
        }
      },
      "id": "Space",
      "type": "object"
    },
    "GoogleAppsCardV1Section": {
      "id": "GoogleAppsCardV1Section",
      "properties": {
        "uncollapsibleWidgetsCount": {
          "format": "int32",
          "description": "The number of uncollapsible widgets. For example, when a section contains five widgets and the `numUncollapsibleWidget` is set to `2`, the first two widgets are always shown and the last three are collapsed as default. The `numUncollapsibleWidget` is taken into account only when collapsible is set to `true`.",
          "type": "integer"
        },
        "widgets": {
          "description": "A section must contain at least 1 widget.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Widget"
          }
        },
        "collapsible": {
          "description": "Indicates whether this section is collapsible. If a section is collapsible, the description must be given.",
          "type": "boolean"
        },
        "header": {
          "description": "The header of the section. Formatted text is supported.",
          "type": "string"
        }
      },
      "description": "A section contains a collection of widgets that are rendered vertically in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties, for example, float.",
      "type": "object"
    },
    "GoogleAppsCardV1BorderStyle": {
      "properties": {
        "cornerRadius": {
          "type": "integer",
          "description": "The corner radius for the border.",
          "format": "int32"
        },
        "strokeColor": {
          "description": "The colors to use when the type is `BORDER_TYPE_STROKE`.",
          "$ref": "Color"
        },
        "type": {
          "enum": [
            "BORDER_TYPE_UNSPECIFIED",
            "NO_BORDER",
            "STROKE"
          ],
          "enumDescriptions": [
            "No value specified.",
            "No border.",
            "Outline."
          ],
          "type": "string",
          "description": "The border type."
        }
      },
      "description": "Represents the complete border style applied to widgets.",
      "type": "object",
      "id": "GoogleAppsCardV1BorderStyle"
    },
    "Card": {
      "description": "A card is a UI element that can contain UI widgets such as texts, images.",
      "type": "object",
      "id": "Card",
      "properties": {
        "sections": {
          "items": {
            "$ref": "Section"
          },
          "type": "array",
          "description": "Sections are separated by a line divider."
        },
        "cardActions": {
          "items": {
            "$ref": "CardAction"
          },
          "type": "array",
          "description": "The actions of this card."
        },
        "name": {
          "description": "Name of the card.",
          "type": "string"
        },
        "header": {
          "description": "The header of the card. A header usually contains a title and an image.",
          "$ref": "CardHeader"
        }
      }
    },
    "GoogleAppsCardV1SelectionItem": {
      "description": "The item in the switch control. A radio button, at most one of the items is selected.",
      "properties": {
        "selected": {
          "type": "boolean",
          "description": "If more than one item is selected for `RADIO_BUTTON` and `DROPDOWN`, the first selected item is treated as selected and the ones after are ignored."
        },
        "text": {
          "type": "string",
          "description": "The text to be displayed."
        },
        "value": {
          "description": "The value associated with this item. The client should use this as a form input value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1SelectionItem"
    },
    "GoogleAppsCardV1ActionParameter": {
      "id": "GoogleAppsCardV1ActionParameter",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        },
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        }
      },
      "type": "object"
    },
    "ActionParameter": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        },
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        }
      },
      "type": "object",
[...]
