{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "GoogleAppsCardV1ButtonList": {
      "type": "object",
      "description": "A list of buttons layed out horizontally. For an example in Google Chat apps, see [Button list](https://developers.google.com/chat/ui/widgets/button-list).",
      "id": "GoogleAppsCardV1ButtonList",
      "properties": {
        "buttons": {
          "description": "An array of buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          }
        }
      }
    },
    "SetUpSpaceRequest": {
      "properties": {
        "space": {
          "description": "Required. The `Space.spaceType` field is required. To create a space, set `Space.spaceType` to `SPACE` and set `Space.displayName`. If you receive the error message `ALREADY_EXISTS` when setting up a space, try a different `displayName`. An existing space within the Google Workspace organization might already use this display name. To create a group chat, set `Space.spaceType` to `GROUP_CHAT`. Don't set `Space.displayName`. To create a 1:1 conversation between humans, set `Space.spaceType` to `DIRECT_MESSAGE` and set `Space.singleUserBotDm` to `false`. Don't set `Space.displayName` or `Space.spaceDetails`. To create an 1:1 conversation between a human and the calling Chat app, set `Space.spaceType` to `DIRECT_MESSAGE` and `Space.singleUserBotDm` to `true`. Don't set `Space.displayName` or `Space.spaceDetails`. If a `DIRECT_MESSAGE` space already exists, that space is returned instead of creating a new space.",
          "$ref": "Space"
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "Optional. The Google Chat users to invite to join the space. Omit the calling user, as they are added automatically. The set currently allows up to 20 memberships (in addition to the caller). The `Membership.member` field must contain a `user` with `name` populated (format: `users/{user}`) and `type` set to `User.Type.HUMAN`. You can only add human users when setting up a space (adding Chat apps is only supported for direct message setup with the calling app). You can also add members using the user's email as an alias for {user}. For example, the `user.name` can be `users/example@gmail.com`.\" To invite Gmail users or users from external Google Workspace domains, user's email must be used for `{user}`. Optional when setting `Space.spaceType` to `SPACE`. Required when setting `Space.spaceType` to `GROUP_CHAT`, along with at least two memberships. Required when setting `Space.spaceType` to `DIRECT_MESSAGE` with a human user, along with exactly one membership. Must be empty when creating a 1:1 conversation between a human and the calling Chat app (when setting `Space.spaceType` to `DIRECT_MESSAGE` and `Space.singleUserBotDm` to `true`)."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique identifier for this request. A random UUID is recommended. Specifying an existing request ID returns the space created with that ID instead of creating a new space. Specifying an existing request ID from the same Chat app with a different authenticated user returns an error."
        }
      },
      "type": "object",
      "id": "SetUpSpaceRequest"
    },
    "ActionParameter": {
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze one day, snooze next week. You might use `action method = snooze()`, passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        },
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        }
      },
      "type": "object",
      "id": "ActionParameter"
    },
    "TextParagraph": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "TextParagraph",
      "description": "A paragraph of text. Formatted text supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting)."
    },
    "SpaceDetails": {
      "type": "object",
      "properties": {
        "guidelines": {
          "type": "string",
          "description": "Optional. The space's rules, expectations, and etiquette. Supports up to 5,000 characters."
        },
        "description": {
          "description": "Optional. A description of the space. For example, describe the space's discussion topic, functional purpose, or participants. Supports up to 150 characters.",
          "type": "string"
        }
      },
      "id": "SpaceDetails",
      "description": "Details about the space including description and rules."
    },
    "UploadAttachmentResponse": {
      "type": "object",
      "id": "UploadAttachmentResponse",
      "properties": {
        "attachmentDataRef": {
          "description": "Reference to the uploaded attachment.",
          "$ref": "AttachmentDataRef"
        }
      }
    },
    "Media": {
      "description": "Media resource.",
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Media"
    },
    "Reaction": {
      "type": "object",
      "description": "A reaction to a message.",
      "properties": {
        "name": {
          "description": "The resource name of the reaction. Format: `spaces/{space}/messages/{message}/reactions/{reaction}`",
          "type": "string"
        },
        "emoji": {
          "$ref": "Emoji",
          "description": "The emoji used in the reaction."
        },
        "user": {
          "readOnly": true,
          "description": "Output only. The user who created the reaction.",
          "$ref": "User"
        }
      },
      "id": "Reaction"
    },
    "GoogleAppsCardV1DecoratedText": {
      "type": "object",
      "properties": {
        "switchControl": {
          "description": "A switch widget that a user can click to change its state and trigger an action.",
          "$ref": "GoogleAppsCardV1SwitchControl"
        },
        "endIcon": {
          "description": "An icon displayed after the text. Supports [built-in](https://developers.google.com/chat/format-messages#builtinicons) and [custom](https://developers.google.com/chat/format-messages#customicons) icons.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "topLabel": {
          "description": "The text that appears above `text`. Always truncates.",
          "type": "string"
        },
        "button": {
          "description": "A button that a user can click to trigger an action.",
          "$ref": "GoogleAppsCardV1Button"
        },
        "icon": {
          "$ref": "GoogleAppsCardV1Icon",
          "deprecated": true,
          "description": "Deprecated in favor of `startIcon`."
        },
        "wrapText": {
          "type": "boolean",
          "description": "The wrap text setting. If `true`, the text wraps and displays on multiple lines. Otherwise, the text is truncated. Only applies to `text`, not `topLabel` and `bottomLabel`."
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "This action is triggered when users click `topLabel` or `bottomLabel`."
        },
        "text": {
          "description": "Required. The primary text. Supports simple formatting. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card-formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text that appears below `text`. Always wraps."
        },
        "startIcon": {
          "description": "The icon displayed in front of the text.",
          "$ref": "GoogleAppsCardV1Icon"
        }
      },
      "id": "GoogleAppsCardV1DecoratedText",
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget, or a button after the text. For an example in Google Chat apps, see [Decorated text](https://developers.google.com/chat/ui/widgets/decorated-text)."
    },
    "UploadAttachmentRequest": {
      "properties": {
        "filename": {
          "type": "string",
          "description": "Required. The filename of the attachment, including the file extension."
        }
      },
      "id": "UploadAttachmentRequest",
      "type": "object"
    },
    "ChatClientDataSourceMarkup": {
      "description": "Chat apps only. For a `SelectionInput` widget that uses a multi-select menu, a data source from Google Chat. For example, a list of Google Chat spaces of which the user is a member. [Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "ChatClientDataSourceMarkup",
      "type": "object",
      "properties": {
        "spaceDataSource": {
          "$ref": "SpaceDataSource",
          "description": "A data source representing a Google Chat space. Format: spaces/{space} [Developer Preview](https://developers.google.com/workspace/preview)."
        }
      }
    },
    "User": {
      "description": "A user in Google Chat. When returned as an output from a request, if your Chat app [authenticates as a user](https://developers.google.com/chat/api/guides/auth/users), the output for a `User` resource only populates the user's `name` and `type`.",
      "type": "object",
      "id": "User",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for a Google Chat user. Format: `users/{user}`. `users/app` can be used as an alias for the calling app bot user. For human users, `{user}` is the same user identifier as: - the `{person_id`} for the [Person](https://developers.google.com/people/api/rest/v1/people) in the People API, where the Person `resource_name` is `people/{person_id}`. For example, `users/123456789` in Chat API represents the same person as `people/123456789` in People API. - the `id` for a [user](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users) in the Admin SDK Directory API. - the user's email address can be used as an alias for `{user}` in API requests. For example, if the People API Person `resourceName` for `user@example.com` is `people/123456789`, you can use `users/user@example.com` as an alias to reference `users/123456789`. Only the canonical resource name (for example `users/123456789`) will be returned from the API."
        },
        "displayName": {
          "description": "Output only. The user's display name.",
          "readOnly": true,
          "type": "string"
        },
        "isAnonymous": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. When `true`, the user is deleted or their profile is not visible."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Chat app user."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "description": "User type."
        },
        "domainId": {
          "type": "string",
          "description": "Unique identifier of the user's Google Workspace domain."
        }
      }
    },
    "Dialog": {
      "description": "Wrapper around the card body of the dialog.",
      "id": "Dialog",
      "type": "object",
      "properties": {
        "body": {
          "$ref": "GoogleAppsCardV1Card",
          "description": "Input only. Body of the dialog, which is rendered in a modal. Google Chat apps don't support the following card entities: `DateTimePicker`, `OnChangeAction`."
        }
      }
    },
    "ListReactionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to retrieve the next page of results. It's empty for the last page of results."
        },
        "reactions": {
          "description": "List of reactions in the requested (or first) page.",
          "type": "array",
          "items": {
            "$ref": "Reaction"
          }
        }
      },
      "id": "ListReactionsResponse",
      "type": "object"
    },
    "EmojiReactionSummary": {
      "type": "object",
      "description": "The number of people who reacted to a message with a specific emoji.",
      "properties": {
        "reactionCount": {
          "type": "integer",
          "description": "The total number of reactions using the associated emoji.",
          "format": "int32"
        },
        "emoji": {
          "$ref": "Emoji",
          "description": "Emoji associated with the reactions."
        }
      },
      "id": "EmojiReactionSummary"
    },
    "GoogleAppsCardV1SelectionItem": {
      "description": "An item that users can select in a selection input, such as a checkbox or switch.",
      "id": "GoogleAppsCardV1SelectionItem",
      "type": "object",
      "properties": {
        "selected": {
          "description": "Whether the item is selected by default. If the selection input only accepts one value (such as for radio buttons or a dropdown menu), only set this field for one item.",
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "description": "The value associated with this item. The client should use this as a form input value. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/ui/read-form-data)."
        },
        "text": {
          "type": "string",
          "description": "The text that identifies or describes the item to users."
        },
        "bottomText": {
          "type": "string",
          "description": "For multi-select menus, a text description or label that's displayed below the item's `text` field. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "startIconUri": {
          "description": "For multi-select menus, the URL for the icon displayed next to the item's `text` field. Supports PNG and JPEG files. Must be an `HTTPS` URL. For example, `https://developers.google.com/chat/images/quickstart-app-avatar.png`. [Developer Preview](https://developers.google.com/workspace/preview).",
          "type": "string"
        }
      }
    },
    "SlashCommand": {
      "properties": {
        "commandId": {
          "format": "int64",
          "description": "The ID of the slash command invoked.",
          "type": "string"
        }
      },
      "id": "SlashCommand",
      "type": "object",
      "description": "A [slash command](https://developers.google.com/chat/how-tos/slash-commands) in Google Chat."
    },
    "Emoji": {
      "type": "object",
      "description": "An emoji that is used as a reaction to a message.",
      "properties": {
        "customEmoji": {
          "readOnly": true,
          "description": "Output only. A custom emoji.",
          "$ref": "CustomEmoji"
        },
        "unicode": {
          "type": "string",
          "description": "A basic emoji represented by a unicode string."
        }
      },
      "id": "Emoji"
    },
    "DriveDataRef": {
      "id": "DriveDataRef",
      "type": "object",
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "The ID for the drive file. Use with the Drive API."
        }
      },
      "description": "A reference to the data of a drive attachment."
    },
    "ActionStatus": {
      "type": "object",
      "description": "Represents the status for a request to either invoke or submit a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
      "id": "ActionStatus",
      "properties": {
        "statusCode": {
          "description": "The status code.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string"
        },
        "userFacingMessage": {
          "type": "string",
          "description": "The message to send users about the status of their request. If unset, a generic message based on the `status_code` is sent."
        }
      }
    },
    "GoogleAppsCardV1ImageComponent": {
      "type": "object",
      "description": "Represents an image.",
      "id": "GoogleAppsCardV1ImageComponent",
      "properties": {
        "borderStyle": {
          "description": "The border style to apply to the image.",
          "$ref": "GoogleAppsCardV1BorderStyle"
        },
        "cropStyle": {
          "description": "The crop style to apply to the image.",
          "$ref": "GoogleAppsCardV1ImageCropStyle"
        },
        "imageUri": {
          "description": "The image URL.",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "The accessibility label for the image."
        }
      }
    },
    "GoogleAppsCardV1Column": {
      "description": "A column.",
      "type": "object",
      "id": "GoogleAppsCardV1Column",
      "properties": {
        "horizontalSizeStyle": {
          "enum": [
            "HORIZONTAL_SIZE_STYLE_UNSPECIFIED",
            "FILL_AVAILABLE_SPACE",
            "FILL_MINIMUM_SPACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Don't use. Unspecified.",
            "Default value. Column fills the available space, up to 70% of the card's width. If both columns are set to `FILL_AVAILABLE_SPACE`, each column fills 50% of the space.",
            "Column fills the least amount of space possible and no more than 30% of the card's width."
          ],
          "description": "Specifies how a column fills the width of the card."
        },
        "widgets": {
          "type": "array",
          "description": "An array of widgets included in a column. Widgets appear in the order that they are specified.",
          "items": {
            "$ref": "GoogleAppsCardV1Widgets"
          }
        },
        "horizontalAlignment": {
          "enumDescriptions": [
            "Don't use. Unspecified.",
            "Default value. Aligns widgets to the start position of the column. For left-to-right layouts, aligns to the left. For right-to-left layouts, aligns to the right.",
            "Aligns widgets to the center of the column.",
            "Aligns widgets to the end position of the column. For left-to-right layouts, aligns widgets to the right. For right-to-left layouts, aligns widgets to the left."
          ],
          "type": "string",
          "description": "Specifies whether widgets align to the left, right, or center of a column.",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "verticalAlignment": {
          "type": "string",
          "enum": [
            "VERTICAL_ALIGNMENT_UNSPECIFIED",
            "CENTER",
            "TOP",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "Don't use. Unspecified.",
            "Default value. Aligns widgets to the center of a column.",
            "Aligns widgets to the top of a column.",
            "Aligns widgets to the bottom of a column."
          ],
          "description": "Specifies whether widgets align to the top, bottom, or center of a column."
        }
      }
    },
    "GoogleAppsCardV1SwitchControl": {
      "id": "GoogleAppsCardV1SwitchControl",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name by which the switch widget is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/ui/read-form-data).",
          "type": "string"
        },
        "selected": {
          "description": "When `true`, the switch is selected.",
          "type": "boolean"
        },
        "onChangeAction": {
          "description": "The action to perform when the switch state is changed, such as what function to run.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "controlType": {
          "enumDescriptions": [
            "A toggle-style switch.",
            "Deprecated in favor of `CHECK_BOX`.",
            "A checkbox."
          ],
          "description": "How the switch appears in the user interface.",
          "type": "string",
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ]
        },
        "value": {
          "type": "string",
          "description": "The value entered by a user, returned as part of a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/ui/read-form-data)."
        }
      },
      "description": "Either a toggle-style switch or a checkbox inside a `decoratedText` widget. Only supported in the `decoratedText` widget."
    },
    "WidgetMarkup": {
      "properties": {
        "textParagraph": {
          "$ref": "TextParagraph",
          "description": "Display a text paragraph in this widget."
        },
        "image": {
          "$ref": "Image",
          "description": "Display an image in this widget."
        },
        "keyValue": {
          "$ref": "KeyValue",
          "description": "Display a key value item in this widget."
        },
        "buttons": {
          "items": {
            "$ref": "Button"
          },
          "description": "A list of buttons. Buttons is also `oneof data` and only one of these fields should be set.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A widget is a UI element that presents text and images.",
      "id": "WidgetMarkup"
    },
    "CardHeader": {
      "type": "object",
      "id": "CardHeader",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "imageStyle": {
          "type": "string",
          "description": "The image's type (for example, square border or circular border).",
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ],
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ]
        },
        "title": {
          "type": "string",
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each takes up one line. If only the title is specified, it takes up both lines."
        },
        "subtitle": {
          "description": "The subtitle of the card header.",
          "type": "string"
        }
      }
    },
    "CardAction": {
      "id": "CardAction",
      "properties": {
        "actionLabel": {
          "type": "string",
          "description": "The label used to be displayed in the action menu item."
        },
        "onClick": {
          "description": "The onclick action for this action item.",
          "$ref": "OnClick"
        }
      },
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser. Not supported by Google Chat apps.",
      "type": "object"
    },
    "DateTimeInput": {
      "description": "Date and time input values.",
      "type": "object",
      "properties": {
        "msSinceEpoch": {
          "description": "Time since epoch time, in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "hasDate": {
          "type": "boolean",
          "description": "Whether the `datetime` input includes a calendar date."
        },
        "hasTime": {
          "type": "boolean",
          "description": "Whether the `datetime` input includes a timestamp."
        }
      },
      "id": "DateTimeInput"
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "The timezone ID and offset from Coordinated Universal Time (UTC). Only supported for the event types [`CARD_CLICKED`](https://developers.google.com/chat/api/reference/rest/v1/EventType#ENUM_VALUES.CARD_CLICKED) and [`SUBMIT_DIALOG`](https://developers.google.com/chat/api/reference/rest/v1/DialogEventType#ENUM_VALUES.SUBMIT_DIALOG).",
      "type": "object",
      "properties": {
        "id": {
          "description": "The [IANA TZ](https://www.iana.org/time-zones) time zone database code, such as \"America/Toronto\".",
          "type": "string"
        },
        "offset": {
          "type": "integer",
          "description": "The user timezone offset, in milliseconds, from Coordinated Universal Time (UTC).",
          "format": "int32"
        }
      }
    },
    "GoogleAppsCardV1ImageCropStyle": {
      "id": "GoogleAppsCardV1ImageCropStyle",
      "properties": {
        "type": {
          "enum": [
            "IMAGE_CROP_TYPE_UNSPECIFIED",
            "SQUARE",
            "CIRCLE",
            "RECTANGLE_CUSTOM",
            "RECTANGLE_4_3"
          ],
          "description": "The crop type.",
          "type": "string",
          "enumDescriptions": [
            "Don't use. Unspecified.",
            "Default value. Applies a square crop.",
            "Applies a circular crop.",
            "Applies a rectangular crop with a custom aspect ratio. Set the custom aspect ratio with `aspectRatio`.",
            "Applies a rectangular crop with a 4:3 aspect ratio."
          ]
        },
        "aspectRatio": {
          "description": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`. For example, here's how to apply a 16:9 aspect ratio: ``` cropStyle { \"type\": \"RECTANGLE_CUSTOM\", \"aspectRatio\": 16/9 } ```",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Represents the crop style applied to an image. For example, here's how to apply a 16:9 aspect ratio: ``` cropStyle { \"type\": \"RECTANGLE_CUSTOM\", \"aspectRatio\": 16/9 } ```",
      "type": "object"
    },
    "Thread": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the thread. Example: `spaces/{space}/threads/{thread}`"
        },
        "threadKey": {
          "description": "Optional. Input for creating or updating a thread. Otherwise, output only. ID for the thread. Supports up to 4000 characters. This ID is unique to the Chat app that sets it. For example, if multiple Chat apps create a message using the same thread key, the messages are posted in different threads. To reply in a thread created by a person or another Chat app, specify the thread `name` field instead.",
          "type": "string"
        }
      },
      "description": "A thread in a Google Chat space. For example usage, see [Start or reply to a message thread](https://developers.google.com/chat/api/guides/v1/messages/create#create-message-thread). If you specify a thread when creating a message, you can set the [`messageReplyOption`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages/create#messagereplyoption) field to determine what happens if no matching thread is found.",
      "id": "Thread"
    },
    "GoogleAppsCardV1Image": {
      "description": "An image that is specified by a URL and can have an `onClick` action. For an example, see [Image](https://developers.google.com/chat/ui/widgets/image).",
      "properties": {
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "When a user clicks the image, the click triggers this action."
        },
        "altText": {
          "type": "string",
          "description": "The alternative text of this image that's used for accessibility."
        },
        "imageUrl": {
          "description": "The HTTPS URL that hosts the image. For example: ``` https://developers.google.com/chat/images/quickstart-app-avatar.png ```",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1Image"
    },
    "GoogleAppsCardV1OpenLink": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to open."
        },
        "onClose": {
          "enumDescriptions": [
            "Default value. The card doesn't reload; nothing happens.",
            "Reloads the card after the child window closes. If used in conjunction with [`OpenAs.OVERLAY`](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#openas), the child window acts as a modal dialog and the parent card is blocked until the child window closes."
          ],
          "type": "string",
          "description": "Whether the client forgets about a link after opening it, or observes it until the window closes. Not supported by Chat apps.",
          "enum": [
            "NOTHING",
            "RELOAD"
          ]
        },
        "openAs": {
          "enumDescriptions": [
            "The link opens as a full-size window (if that's the frame used by the client).",
            "The link opens as an overlay, such as a pop-up."
          ],
          "description": "How to open a link. Not supported by Chat apps.",
          "type": "string",
          "enum": [
            "FULL_SIZE",
            "OVERLAY"
          ]
        }
      },
      "description": "Represents an `onClick` event that opens a hyperlink.",
      "id": "GoogleAppsCardV1OpenLink"
    },
    "DeprecatedEvent": {
      "type": "object",
      "properties": {
        "eventTime": {
          "description": "The timestamp indicating when the interaction event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the Chat app should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. For more information, see [Connect a Chat app with other services & tools](https://developers.google.com/chat/how-tos/connect-web-services-tools).",
          "type": "string"
        },
        "space": {
          "$ref": "Space",
          "description": "The space in which the interaction event occurred."
        },
        "type": {
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ],
          "type": "string",
          "description": "The type of interaction event. For details, see [Types of Google Chat app interaction events](https://developers.google.com/chat/api/guides/message-formats/events).",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user sends the Chat app a message, or invokes the Chat app in a space.",
            "A user adds the Chat app to a space, or a Google Workspace administrator installs the Chat app in direct message spaces for users in their organization.",
            "A user removes the Chat app from a space.",
            "A user clicks an interactive element of a card or dialog from a Chat app, such as a button. If a user interacts with a dialog, the `CARD_CLICKED` interaction event's `isDialogEvent` field is set to `true` and includes a [`DialogEventType`](https://developers.google.com/chat/api/reference/rest/v1/DialogEventType)."
          ]
        },
        "token": {
          "description": "A secret value that legacy Chat apps can use to verify if a request is from Google. Google randomly generates the token, and its value remains static. You can obtain, revoke, or regenerate the token from the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat) in the Google Cloud Console. Modern Chat apps don't use this field. It is absent from API responses and the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat).",
          "type": "string"
        },
        "dialogEventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "REQUEST_DIALOG",
            "SUBMIT_DIALOG",
            "CANCEL_DIALOG"
          ],
          "description": "The type of [dialog](https://developers.google.com/chat/how-tos/dialogs) interaction event received.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified.",
            "A user opens a dialog.",
            "A user clicks an interactive element of a dialog. For example, a user fills out information in a dialog and clicks a button to submit the information.",
            "A user closes a dialog without submitting information, or the dialog is canceled."
          ]
        },
        "message": {
          "$ref": "Message",
          "description": "The message that triggered the interaction event, if applicable."
        },
        "threadKey": {
          "description": "The Chat app-defined key for the thread related to the interaction event. See [`spaces.messages.thread.threadKey`](/chat/api/reference/rest/v1/spaces.messages#Thread.FIELDS.thread_key) for more information.",
          "type": "string"
        },
        "action": {
          "$ref": "FormAction",
          "description": "For `CARD_CLICKED` interaction events, the form action data associated when a user clicks a card or dialog. To learn more, see [Read form data input by users on cards](https://developers.google.com/chat/ui/read-form-data)."
        },
        "common": {
          "$ref": "CommonEventObject",
          "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes information submitted by users interacting with [dialogs](https://developers.google.com/chat/how-tos/dialogs), like data entered on a card."
        },
        "isDialogEvent": {
          "description": "For `CARD_CLICKED` interaction events, whether the user interacted with a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
          "type": "boolean"
        },
        "user": {
          "description": "The user that triggered the interaction event.",
          "$ref": "User"
        }
      },
      "description": "A Google Chat app interaction event. To learn about interaction events, see [Receive and respond to interactions with your Google Chat app](https://developers.google.com/chat/api/guides/message-formats). To learn about event types and for example event payloads, see [Types of Google Chat app interaction events](https://developers.google.com/chat/api/guides/message-formats/events).",
      "id": "DeprecatedEvent"
    },
    "ActionResponse": {
      "id": "ActionResponse",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default type that's handled as `NEW_MESSAGE`.",
            "Post as a new message in the topic.",
            "Update the Chat app's message. This is only permitted on a `CARD_CLICKED` event where the message sender type is `BOT`.",
            "Update the cards on a user's message. This is only permitted as a response to a `MESSAGE` event with a matched url, or a `CARD_CLICKED` event where the message sender type is `HUMAN`. Text is ignored.",
            "Privately ask the user for additional authentication or configuration.",
            "Presents a [dialog](https://developers.google.com/chat/how-tos/dialogs)."
          ],
          "description": "Input only. The type of Chat app response.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "UPDATE_USER_MESSAGE_CARDS",
            "REQUEST_CONFIG",
            "DIALOG"
          ],
          "type": "string"
        },
        "url": {
          "description": "Input only. URL for users to authenticate or configure. (Only for `REQUEST_CONFIG` response types.)",
          "type": "string"
        },
        "dialogAction": {
          "$ref": "DialogAction",
          "description": "Input only. A response to an event related to a [dialog](https://developers.google.com/chat/how-tos/dialogs). Must be accompanied by `ResponseType.Dialog`."
        }
      },
      "description": "Parameters that a Chat app can use to configure how its response is posted.",
      "type": "object"
    },
    "GoogleAppsCardV1Divider": {
      "description": "Displays a divider between widgets as a horizontal line. For an example in Google Chat apps, see [Divider](https://developers.google.com/chat/ui/widgets/divider). For example, the following JSON creates a divider: ``` \"divider\": {} ```",
      "id": "GoogleAppsCardV1Divider",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCardV1Suggestions": {
      "id": "GoogleAppsCardV1Suggestions",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleAppsCardV1SuggestionItem"
          },
          "type": "array",
          "description": "A list of suggestions used for autocomplete recommendations in text input fields."
        }
      },
      "description": "Suggested values that users can enter. These values appear when users click inside the text input field. As users type, the suggested values dynamically filter to match what the users have typed. For example, a text input field for programming language might suggest Java, JavaScript, Python, and C++. When users start typing `Jav`, the list of suggestions filters to show `Java` and `JavaScript`. Suggested values help guide users to enter values that your app can make sense of. When referring to JavaScript, some users might enter `javascript` and others `java script`. Suggesting `JavaScript` can standardize how users interact with your app. When specified, `TextInput.type` is always `SINGLE_LINE`, even if it's set to `MULTIPLE_LINE`."
    },
    "AttachmentDataRef": {
      "id": "AttachmentDataRef",
      "type": "object",
      "properties": {
        "attachmentUploadToken": {
          "type": "string",
          "description": "Opaque token containing a reference to an uploaded attachment. Treated by clients as an opaque string and used to create or update Chat messages with attachments."
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name of the attachment data. This field is used with the media API to download the attachment data."
        }
      }
    },
    "KeyValue": {
      "properties": {
        "icon": {
          "description": "An enum value that's replaced by the Chat API with the corresponding icon image.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ]
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The `onclick` action. Only the top label, bottom label, and content region are clickable."
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text of the bottom label. Formatted text supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting)."
        },
        "topLabel": {
          "description": "The text of the top label. Formatted text supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        },
        "content": {
          "description": "The text of the content. Formatted text supported and always required. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "contentMultiline": {
          "type": "boolean",
          "description": "If the content should be multiline."
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "Button"
        }
      },
      "id": "KeyValue",
      "description": "A UI element contains a key (label) and a value (content). This element can also contain some actions such as `onclick` button.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "TimeInput": {
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "The number of minutes past the hour. Valid values are 0 to 59."
        },
        "hours": {
          "type": "integer",
          "description": "The hour on a 24-hour clock.",
          "format": "int32"
        }
      },
      "description": "Time input values.",
      "id": "TimeInput"
    },
    "CustomEmoji": {
      "description": "Represents a custom emoji.",
      "id": "CustomEmoji",
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Unique key for the custom emoji resource."
        }
      }
    },
    "GoogleAppsCardV1SelectionInput": {
      "description": "A widget that creates one or more UI items that users can select. For example, a dropdown menu or checkboxes. You can use this widget to collect data that can be predicted or enumerated. For an example in Google Chat apps, see [Selection input](https://developers.google.com/chat/ui/widgets/selection-input). Chat apps can process the value of items that users select or input. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/ui/read-form-data). To collect undefined or abstract data from users, use the TextInput widget.",
      "id": "GoogleAppsCardV1SelectionInput",
      "type": "object",
      "properties": {
        "multiSelectMinQueryLength": {
          "description": "For multi-select menus, the number of text characters that a user inputs before the Chat app queries autocomplete and displays suggested items on the card. If unspecified, set to 0 characters for static data sources and 3 characters for external data sources. [Developer Preview](https://developers.google.com/workspace/preview).",
          "type": "integer",
          "format": "int32"
        },
        "externalDataSource": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "An external data source, such as a relational data base. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "type": {
          "enumDescriptions": [
            "A set of checkboxes. Users can select one or more checkboxes.",
            "A set of radio buttons. Users can select one radio button.",
            "A set of switches. Users can turn on one or more switches.",
            "A dropdown menu. Users can select one item from the menu.",
            "Supported by Chat apps, but not Google Workspace Add-ons. A multi-select menu for static or dynamic data. From the menu bar, users select one or more items. Users can also input values to populate dynamic data. For example, users can start typing the name of a Google Chat space and the widget autosuggests the space. To populate items for a multi-select menu, you can use one of the following types of data sources: * Static data: Items are specified as `SelectionItem` objects in the widget. Up to 100 items. * Google Workspace data: Items are populated using data from a Google Workspace application, such as Google Chat users or spaces. * External data: Items are populated from a dynamic external data source. For examples of how to implement multi-select menus, see the [`SelectionInput` widget page](https://developers.google.com/chat/ui/widgets/selection-input). [Developer Preview](https://developers.google.com/workspace/preview)."
          ],
          "enum": [
            "CHECK_BOX",
            "RADIO_BUTTON",
            "SWITCH",
            "DROPDOWN",
            "MULTI_SELECT"
          ],
          "description": "The type of items that are displayed to users in a `SelectionInput` widget. Selection types support different types of interactions. For example, users can select one or more checkboxes, but they can only select one value from a dropdown menu.",
          "type": "string"
        },
        "label": {
          "description": "The text that appears above the selection input field in the user interface. Specify text that helps the user enter the information your app needs. For example, if users are selecting the urgency of a work ticket from a drop-down menu, the label might be \"Urgency\" or \"Select urgency\".",
          "type": "string"
        },
        "items": {
          "description": "An array of selectable items. For example, an array of radio buttons or checkboxes. Supports up to 100 items.",
          "items": {
            "$ref": "GoogleAppsCardV1SelectionItem"
          },
          "type": "array"
        },
        "multiSelectMaxSelectedItems": {
          "type": "integer",
          "format": "int32",
          "description": "For multi-select menus, the maximum number of items that a user can select. Minimum value is 1 item. If unspecified, set to 3 items. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "If specified, the form is submitted when the selection changes. If not specified, you must specify a separate button that submits the form. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/ui/read-form-data)."
        },
        "platformDataSource": {
          "$ref": "GoogleAppsCardV1PlatformDataSource",
          "description": "A data source from a [Google Workspace host application](https://developers.google.com/chat/api/reference/rest/v1/HostApp). [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "name": {
          "description": "The name that identifies the selection input in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/ui/read-form-data).",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1CardFixedFooter": {
      "properties": {
        "primaryButton": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "The primary button of the fixed footer. The button must be a text button with text and color set."
        },
        "secondaryButton": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "The secondary button of the fixed footer. The button must be a text button with text and color set. If `secondaryButton` is set, you must also set `primaryButton`."
        }
      },
      "description": "A persistent (sticky) footer that that appears at the bottom of the card. For an example in Google Chat apps, see [Card footer](https://developers.google.com/chat/ui/widgets/card-fixed-footer). Setting `fixedFooter` without specifying a `primaryButton` or a `secondaryButton` causes an error. Supported by Google Workspace Add-ons and Chat apps. For Chat apps, you can use fixed footers in [dialogs](https://developers.google.com/chat/how-tos/dialogs), but not [card messages](https://developers.google.com/chat/api/guides/message-formats/cards).",
      "type": "object",
      "id": "GoogleAppsCardV1CardFixedFooter"
    },
    "MatchedUrl": {
      "type": "object",
      "description": "A matched URL in a Chat message. Chat apps can preview matched URLs. For more information, see [Preview links](https://developers.google.com/chat/how-tos/preview-links).",
      "properties": {
        "url": {
          "description": "Output only. The URL that was matched.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "MatchedUrl"
    },
    "GoogleAppsCardV1Widgets": {
      "description": "The supported widgets that you can include in a column.",
      "properties": {
        "selectionInput": {
          "description": "SelectionInput widget.",
          "$ref": "GoogleAppsCardV1SelectionInput"
        },
        "textParagraph": {
          "$ref": "GoogleAppsCardV1TextParagraph",
          "description": "TextParagraph widget."
        },
        "buttonList": {
          "$ref": "GoogleAppsCardV1ButtonList",
          "description": "ButtonList widget."
        },
        "image": {
          "description": "Image widget.",
          "$ref": "GoogleAppsCardV1Image"
        },
        "decoratedText": {
          "description": "DecoratedText widget.",
          "$ref": "GoogleAppsCardV1DecoratedText"
        },
        "dateTimePicker": {
          "description": "DateTimePicker widget.",
          "$ref": "GoogleAppsCardV1DateTimePicker"
        },
        "textInput": {
          "$ref": "GoogleAppsCardV1TextInput",
          "description": "TextInput widget."
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1Widgets"
    },
    "GoogleAppsCardV1Action": {
      "id": "GoogleAppsCardV1Action",
      "properties": {
        "interaction": {
          "description": "Optional. Required when opening a [dialog](https://developers.google.com/chat/how-tos/dialogs). What to do in response to an interaction with a user, such as a user clicking a button in a card message. If unspecified, the app responds by executing an `action`—like opening a link or running a function—as normal. By specifying an `interaction`, the app can respond in special interactive ways. For example, by setting `interaction` to `OPEN_DIALOG`, the app can open a [dialog](https://developers.google.com/chat/how-tos/dialogs). When specified, a loading indicator isn't shown. Supported by Chat apps, but not Google Workspace Add-ons. If specified for an add-on, the entire card is stripped and nothing is shown in the client.",
          "type": "string",
          "enumDescriptions": [
            "Default value. The `action` executes as normal.",
            "Opens a [dialog](https://developers.google.com/chat/how-tos/dialogs), a windowed, card-based interface that Chat apps use to interact with users. Only supported by Chat apps in response to button-clicks on card messages. Not supported by Google Workspace Add-ons. If specified for an add-on, the entire card is stripped and nothing is shown in the client."
          ],
          "enum": [
            "INTERACTION_UNSPECIFIED",
            "OPEN_DIALOG"
          ]
        },
        "parameters": {
          "description": "List of action parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          }
        },
        "function": {
          "description": "A custom function to invoke when the containing element is clicked or othrwise activated. For example usage, see [Create interactive cards](https://developers.google.com/chat/how-tos/cards-onclick).",
          "type": "string"
        },
        "loadIndicator": {
          "description": "Specifies the loading indicator that the action displays while making the call to the action.",
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ],
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "type": "string"
        },
        "persistValues": {
          "type": "boolean",
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. To let the user make changes while the action is being processed, set [`LoadIndicator`](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) to `NONE`. For [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) in Chat apps, you must also set the action's [`ResponseType`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages#responsetype) to `UPDATE_MESSAGE` and use the same [`card_id`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages#CardWithId) from the card that contained the action. If `false`, the form values are cleared when the action is triggered. To prevent the user from making changes while the action is being processed, set [`LoadIndicator`](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) to `SPINNER`."
        }
      },
      "type": "object",
      "description": "An action that describes the behavior when the form is submitted. For example, you can invoke an Apps Script script to handle the form. If the action is triggered, the form values are sent to the server."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Annotation": {
      "properties": {
        "type": {
          "description": "The type of this annotation.",
          "type": "string",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION",
            "SLASH_COMMAND"
          ],
          "enumDescriptions": [
            "Default value for the enum. Don't use.",
            "A user is mentioned.",
            "A slash command is invoked."
          ]
        },
        "length": {
          "type": "integer",
          "description": "Length of the substring in the plain-text message body this annotation corresponds to.",
          "format": "int32"
        },
        "slashCommand": {
          "description": "The metadata for a slash command.",
          "$ref": "SlashCommandMetadata"
        },
        "userMention": {
          "description": "The metadata of user mention.",
          "$ref": "UserMentionMetadata"
        },
        "startIndex": {
          "type": "integer",
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Annotation",
      "description": "Output only. Annotations associated with the plain-text body of the message. To add basic formatting to a text message, see [Format text messages](https://developers.google.com/chat/format-messages). Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/{user}\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```"
    },
    "SpaceDataSource": {
      "description": "A data source representing a Google Chat space. Format: spaces/{space} [Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "SpaceDataSource",
      "type": "object",
      "properties": {
        "defaultToCurrentSpace": {
          "description": "When `true`, uses the card's Google Chat space as the default selection. The default value is `false`. [Developer Preview](https://developers.google.com/workspace/preview).",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsCardV1Icon": {
      "id": "GoogleAppsCardV1Icon",
      "properties": {
        "altText": {
          "description": "Optional. A description of the icon used for accessibility. If unspecified, the default value `Button` is provided. As a best practice, you should set a helpful description for what the icon displays, and if applicable, what it does. For example, `A user's account portrait`, or `Opens a new browser tab and navigates to the Google Chat developer documentation at https://developers.google.com/chat`. If the icon is set in a `Button`, the `altText` appears as helper text when the user hovers over the button. However, if the button also sets `text`, the icon's `altText` is ignored.",
          "type": "string"
        },
        "imageType": {
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "enumDescriptions": [
            "Default value. Applies a square mask to the image. For example, a 4x3 image becomes 3x3.",
            "Applies a circular mask to the image. For example, a 4x3 image becomes a circle with a diameter of 3."
          ],
          "type": "string",
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a built-in icon."
        },
        "knownIcon": {
          "type": "string",
          "description": "Display one of the built-in icons provided by Google Workspace. For example, to display an airplane icon, specify `AIRPLANE`. For a bus, specify `BUS`. For a full list of supported icons, see [built-in icons](https://developers.google.com/chat/format-messages#builtinicons)."
        },
        "iconUrl": {
          "type": "string",
          "description": "Display a custom icon hosted at an HTTPS URL. For example: ``` \"iconUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\" ``` Supported file types include `.png` and `.jpg`."
        }
      },
      "type": "object",
      "description": "An icon displayed in a widget on a card. For an example in Google Chat apps, see [Icon](https://developers.google.com/chat/ui/widgets/icon). Supports [built-in](https://developers.google.com/chat/format-messages#builtinicons) and [custom](https://developers.google.com/chat/format-messages#customicons) icons."
    },
    "CardWithId": {
      "id": "CardWithId",
      "type": "object",
      "properties": {
        "cardId": {
          "type": "string",
          "description": "Required if the message contains multiple cards. A unique identifier for a card in a message."
        },
        "card": {
          "description": "A card. Maximum size is 32 KB.",
          "$ref": "GoogleAppsCardV1Card"
        }
      },
      "description": "A [card](https://developers.google.com/chat/api/reference/rest/v1/cards) in a Google Chat message. Only Chat apps can create cards. If your Chat app [authenticates as a user](https://developers.google.com/chat/api/guides/auth/users), the message can't contain cards."
    },
    "UserMentionMetadata": {
      "description": "Annotation metadata for user mentions (@).",
      "type": "object",
      "id": "UserMentionMetadata",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. Don't use.",
            "Add user to space.",
            "Mention user in space."
          ],
          "description": "The type of user mention.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ]
        },
        "user": {
          "$ref": "User",
          "description": "The user mentioned."
        }
      }
    },
    "GoogleAppsCardV1PlatformDataSource": {
      "type": "object",
      "description": "Chat apps only. For a `SelectionInput` widget that uses a multi-select menu, the data from a [Google Workspace host application](https://developers.google.com/chat/api/reference/rest/v1/HostApp). Used to populate the items in the multi-select menu. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "commonDataSource": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Don't use. [Developer Preview](https://developers.google.com/workspace/preview).",
            "A list of users provided by the Google Workspace host application. For example, to source users from Google Chat, use the resource name of the [user](https://developers.google.com/chat/api/reference/rest/v1/User). Format: users/{user} [Developer Preview](https://developers.google.com/workspace/preview)."
          ],
          "description": "For a `SelectionInput` widget that uses a multi-select menu, a data source shared by all Google Workspace host applications, such as users in a Google Workspace organization. [Developer Preview](https://developers.google.com/workspace/preview).",
          "enum": [
            "UNKNOWN",
            "USER"
          ]
        },
        "hostAppDataSource": {
          "description": "A data source that's unique to a Google Workspace host application, such as Gmail emails, Google Calendar events, or Google Chat messages. [Developer Preview](https://developers.google.com/workspace/preview).",
          "$ref": "HostAppDataSourceMarkup"
        }
      },
      "id": "GoogleAppsCardV1PlatformDataSource"
    },
    "GoogleAppsCardV1CardHeader": {
      "description": "Represents a card header. For an example in Google Chat apps, see [Card header](https://developers.google.com/chat/ui/widgets/card-header).",
      "properties": {
        "imageAltText": {
          "type": "string",
          "description": "The alternative text of this image that's used for accessibility."
        },
        "imageType": {
          "enumDescriptions": [
            "Default value. Applies a square mask to the image. For example, a 4x3 image becomes 3x3.",
            "Applies a circular mask to the image. For example, a 4x3 image becomes a circle with a diameter of 3."
          ],
          "description": "The shape used to crop the image.",
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The HTTPS URL of the image in the card header."
        },
        "title": {
          "description": "Required. The title of the card header. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header. If specified, appears on its own line below the `title`."
        }
      },
      "id": "GoogleAppsCardV1CardHeader",
      "type": "object"
    },
    "DeletionMetadata": {
      "properties": {
        "deletionType": {
          "enumDescriptions": [
            "This value is unused.",
            "User deleted their own message.",
            "The space owner deleted the message.",
            "A Google Workspace admin deleted the message.",
            "A Chat app deleted its own message when it expired.",
            "A Chat app deleted the message on behalf of the user.",
            "A Chat app deleted the message on behalf of the space owner."
          ],
          "description": "Indicates who deleted the message.",
          "type": "string",
          "enum": [
            "DELETION_TYPE_UNSPECIFIED",
            "CREATOR",
            "SPACE_OWNER",
            "ADMIN",
            "APP_MESSAGE_EXPIRY",
            "CREATOR_VIA_APP",
            "SPACE_OWNER_VIA_APP"
          ]
        }
      },
      "type": "object",
      "description": "Information about a deleted message. A message is deleted when `delete_time` is set.",
      "id": "DeletionMetadata"
    },
    "HostAppDataSourceMarkup": {
      "description": "Chat apps only. For a `SelectionInput` widget that uses a multi-select menu, a data source from a Google Workspace host application. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "properties": {
        "chatDataSource": {
          "description": "The data source is Google Chat. [Developer Preview](https://developers.google.com/workspace/preview).",
          "$ref": "ChatClientDataSourceMarkup"
        }
      },
      "id": "HostAppDataSourceMarkup"
    },
    "OpenLink": {
      "id": "OpenLink",
      "description": "A link that opens a new window.",
      "properties": {
        "url": {
          "description": "The URL to open.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1DateTimePicker": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ],
          "enumDescriptions": [
            "Users input a date and time.",
            "Users input a date.",
            "Users input a time."
          ],
          "description": "Whether the widget supports inputting a date, a time, or the date and time."
        },
        "name": {
          "type": "string",
          "description": "The name by which the `DateTimePicker` is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/ui/read-form-data)."
        },
        "onChangeAction": {
          "description": "Triggered when the user clicks **Save** or **Clear** from the `DateTimePicker` interface.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "label": {
          "type": "string",
          "description": "The text that prompts users to input a date, a time, or a date and time. For example, if users are scheduling an appointment, use a label such as `Appointment date` or `Appointment date and time`."
        },
        "valueMsEpoch": {
          "type": "string",
          "description": "The default value displayed in the widget, in milliseconds since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time). Specify the value based on the type of picker (`DateTimePickerType`): * `DATE_AND_TIME`: a calendar date and time in UTC. For example, to represent January 1, 2023 at 12:00 PM UTC, use `1672574400000`. * `DATE_ONLY`: a calendar date at 00:00:00 UTC. For example, to represent January 1, 2023, use `1672531200000`. * `TIME_ONLY`: a time in UTC. For example, to represent 12:00 PM, use `43200000` (or `12 * 60 * 60 * 1000`).",
          "format": "int64"
        },
        "timezoneOffsetDate": {
          "format": "int32",
          "type": "integer",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If unset, the value defaults to the user's time zone setting."
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1DateTimePicker",
      "description": "Lets users input a date, a time, or both a date and a time. For an example in Google Chat apps, see [Date time picker](https://developers.google.com/chat/ui/widgets/date-time-picker). Users can input text or use the picker to select dates and times. If users input an invalid date or time, the picker shows an error that prompts users to input the information correctly."
    },
    "OnClick": {
      "type": "object",
      "description": "An `onclick` action (for example, open a link).",
      "properties": {
        "openLink": {
          "description": "This `onclick` action triggers an open link action if specified.",
          "$ref": "OpenLink"
        },
        "action": {
          "description": "A form action is triggered by this `onclick` action if specified.",
          "$ref": "FormAction"
        }
      },
      "id": "OnClick"
    },
    "SlashCommandMetadata": {
      "id": "SlashCommandMetadata",
      "description": "Annotation metadata for slash commands (/).",
      "properties": {
        "type": {
          "description": "The type of slash command.",
          "enumDescriptions": [
            "Default value for the enum. Don't use.",
            "Add Chat app to space.",
            "Invoke slash command in space."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ]
        },
        "triggersDialog": {
          "type": "boolean",
          "description": "Indicates whether the slash command is for a dialog."
        },
        "commandId": {
          "format": "int64",
          "description": "The command ID of the invoked slash command.",
          "type": "string"
        },
        "commandName": {
          "type": "string",
          "description": "The name of the invoked slash command."
        },
        "bot": {
          "description": "The Chat app whose command was invoked.",
          "$ref": "User"
        }
      },
      "type": "object"
    },
    "Membership": {
      "description": "Represents a membership relation in Google Chat, such as whether a user or Chat app is invited to, part of, or absent from a space.",
      "type": "object",
      "properties": {
        "member": {
          "$ref": "User",
          "description": "The Google Chat user or app the membership corresponds to. If your Chat app [authenticates as a user](https://developers.google.com/chat/api/guides/auth/users), the output populates the [user](https://developers.google.com/chat/api/reference/rest/v1/User) `name` and `type`."
        },
        "role": {
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "ROLE_MEMBER",
            "ROLE_MANAGER"
          ],
          "enumDescriptions": [
            "Default value. For users: they aren't a member of the space, but can be invited. For Google Groups: they're always assigned this role (other enum values might be used in the future).",
            "A member of the space. The user has basic permissions, like sending messages to the space. In 1:1 and unnamed group conversations, everyone has this role.",
            "A space manager. The user has all basic permissions plus administrative permissions that let them manage the space, like adding or removing members. Only supported in SpaceType.SPACE."
          ],
          "type": "string",
          "description": "Optional. User's role within a Chat space, which determines their permitted actions in the space. [Developer Preview](https://developers.google.com/workspace/preview): This field can only be used as input in `UpdateMembership`."
        },
        "state": {
          "enum": [
            "MEMBERSHIP_STATE_UNSPECIFIED",
            "JOINED",
            "INVITED",
            "NOT_A_MEMBER"
          ],
          "enumDescriptions": [
            "Default value. Don't use.",
            "The user is added to the space, and can participate in the space.",
            "The user is invited to join the space, but hasn't joined it.",
            "The user doesn't belong to the space and doesn't have a pending invitation to join the space."
          ],
          "description": "Output only. State of the membership.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the membership, assigned by the server. Format: `spaces/{space}/members/{member}`"
        },
        "createTime": {
          "description": "Output only. The creation time of the membership, such as when a member joined or was invited to join a space.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Membership"
    },
    "GoogleAppsCardV1Card": {
      "properties": {
        "sectionDividerStyle": {
          "type": "string",
          "enumDescriptions": [
            "Don't use. Unspecified.",
            "Default option. Render a solid divider between sections.",
            "If set, no divider is rendered between sections."
          ],
          "enum": [
            "DIVIDER_STYLE_UNSPECIFIED",
            "SOLID_DIVIDER",
            "NO_DIVIDER"
          ],
          "description": "The divider style between sections."
        },
        "fixedFooter": {
          "$ref": "GoogleAppsCardV1CardFixedFooter",
          "description": "The fixed footer shown at the bottom of this card. Setting `fixedFooter` without specifying a `primaryButton` or a `secondaryButton` causes an error. Supported by Google Workspace Add-ons and Chat apps. For Chat apps, you can use fixed footers in [dialogs](https://developers.google.com/chat/how-tos/dialogs), but not [card messages](https://developers.google.com/chat/api/guides/message-formats/cards)."
        },
        "header": {
          "description": "The header of the card. A header usually contains a leading image and a title. Headers always appear at the top of a card.",
          "$ref": "GoogleAppsCardV1CardHeader"
        },
        "peekCardHeader": {
          "description": "When displaying contextual content, the peek card header acts as a placeholder so that the user can navigate forward between the homepage cards and the contextual cards. Not supported by Chat apps.",
          "$ref": "GoogleAppsCardV1CardHeader"
        },
        "sections": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Section"
          },
          "description": "Contains a collection of widgets. Each section has its own, optional header. Sections are visually separated by a line divider. For an example in Google Chat apps, see [Card section](https://developers.google.com/chat/ui/widgets/card-section)."
        },
        "cardActions": {
          "items": {
            "$ref": "GoogleAppsCardV1CardAction"
          },
          "type": "array",
          "description": "The card's actions. Actions are added to the card's toolbar menu. Because Chat app cards have no toolbar, `cardActions[]` isn't supported by Chat apps. For example, the following JSON constructs a card action menu with `Settings` and `Send Feedback` options: ``` \"card_actions\": [ { \"actionLabel\": \"Settings\", \"onClick\": { \"action\": { \"functionName\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"SETTING\" } ], \"loadIndicator\": \"LoadIndicator.SPINNER\" } } }, { \"actionLabel\": \"Send Feedback\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/feedback\" } } } ] ```"
        },
        "displayStyle": {
          "enum": [
            "DISPLAY_STYLE_UNSPECIFIED",
            "PEEK",
            "REPLACE"
          ],
          "description": "In Google Workspace add-ons, sets the display properties of the `peekCardHeader`. Not supported by Chat apps.",
          "enumDescriptions": [
            "Don't use. Unspecified.",
            "The header of the card appears at the bottom of the sidebar, partially covering the current top card of the stack. Clicking the header pops the card into the card stack. If the card has no header, a generated header is used instead.",
            "Default value. The card is shown by replacing the view of the top card in the card stack."
          ],
          "type": "string"
        },
        "name": {
          "description": "Name of the card. Used as a card identifier in card navigation. Because Chat apps don't support card navigation, they ignore this field.",
          "type": "string"
        }
      },
      "description": "A card interface displayed in a Google Chat message or Google Workspace Add-on. Cards support a defined layout, interactive UI elements like buttons, and rich media like images. Use cards to present detailed information, gather information from users, and guide users to take a next step. To learn how to build cards, see the following documentation: * For Google Chat apps, see [Design dynamic, interactive, and consistent UIs with cards](https://developers.google.com/chat/ui). * For Google Workspace Add-ons, see [Card-based interfaces](https://developers.google.com/apps-script/add-ons/concepts/cards). **Example: Card message for a Google Chat app** ![Example contact card](https://developers.google.com/chat/images/card_api_reference.png) To create the sample card message in Google Chat, use the following JSON: ``` { \"cardsV2\": [ { \"cardId\": \"unique-card-id\", \"card\": { \"header\": { \"title\": \"Sasha\", \"subtitle\": \"Software Engineer\", \"imageUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\", \"imageType\": \"CIRCLE\", \"imageAltText\": \"Avatar for Sasha\", }, \"sections\": [ { \"header\": \"Contact Info\", \"collapsible\": true, \"uncollapsibleWidgetsCount\": 1, \"widgets\": [ { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"EMAIL\", }, \"text\": \"sasha@example.com\", } }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PERSON\", }, \"text\": \"Online\", }, }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PHONE\", }, \"text\": \"+1 (555) 555-1234\", } }, { \"buttonList\": { \"buttons\": [ { \"text\": \"Share\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/share\", } } }, { \"text\": \"Edit\", \"onClick\": { \"action\": { \"function\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"EDIT\", } ], } } }, ], } }, ], }, ], }, } ], } ```",
      "type": "object",
      "id": "GoogleAppsCardV1Card"
    },
    "GoogleAppsCardV1ActionParameter": {
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze one day, or snooze next week. You might use `action method = snooze()`, passing the snooze type and snooze time in the list of string parameters. To learn more, see [`CommonEventObject`](https://developers.google.com/chat/api/reference/rest/v1/Event#commoneventobject).",
      "type": "object",
      "id": "GoogleAppsCardV1ActionParameter",
      "properties": {
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        }
      }
    },
    "StringInputs": {
      "description": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented.",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "description": "An array of strings entered by the user.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "StringInputs"
    },
    "GoogleAppsCardV1GridItem": {
      "description": "Represents an item in a grid layout. Items can contain text, an image, or both text and an image.",
      "type": "object",
      "id": "GoogleAppsCardV1GridItem",
      "properties": {
        "image": {
          "description": "The image that displays in the grid item.",
          "$ref": "GoogleAppsCardV1ImageComponent"
        },
        "layout": {
          "type": "string",
          "enumDescriptions": [
            "Don't use. Unspecified.",
            "The title and subtitle are shown below the grid item's image.",
            "The title and subtitle are shown above the grid item's image."
          ],
          "description": "The layout to use for the grid item.",
          "enum": [
            "GRID_ITEM_LAYOUT_UNSPECIFIED",
            "TEXT_BELOW",
            "TEXT_ABOVE"
          ]
        },
        "id": {
          "type": "string",
          "description": "A user-specified identifier for this grid item. This identifier is returned in the parent grid's `onClick` callback parameters."
        },
        "title": {
          "type": "string",
          "description": "The grid item's title."
        },
        "subtitle": {
          "description": "The grid item's subtitle.",
          "type": "string"
        }
      }
    },
    "AttachedGif": {
      "type": "object",
      "properties": {
        "uri": {
          "readOnly": true,
          "description": "Output only. The URL that hosts the GIF image.",
          "type": "string"
        }
      },
      "id": "AttachedGif",
      "description": "A GIF image that's specified by a URL."
    },
    "Section": {
      "id": "Section",
      "properties": {
        "header": {
          "description": "The header of the section. Formatted text is supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        },
        "widgets": {
          "description": "A section must contain at least one widget.",
          "items": {
            "$ref": "WidgetMarkup"
          },
          "type": "array"
        }
      },
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there's currently no need for layout properties (for example, float).",
      "type": "object"
    },
    "Space": {
      "properties": {
        "spaceHistoryState": {
          "enum": [
            "HISTORY_STATE_UNSPECIFIED",
            "HISTORY_OFF",
            "HISTORY_ON"
          ],
          "description": "The message history state for messages and threads in this space.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "History off. [Messages and threads are kept for 24 hours](https://support.google.com/chat/answer/7664687).",
            "History on. The organization's [Vault retention rules](https://support.google.com/vault/answer/7657597) specify for how long messages and threads are kept."
          ]
        },
        "type": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `space_type` instead. The type of a space.",
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat app, where all messages are flat. Note that this doesn't include direct messages between two humans."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ]
        },
        "spaceThreadingState": {
          "description": "Output only. The threading state in the Chat space.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Reserved.",
            "Named spaces that support message threads. When users respond to a message, they can reply in-thread, which keeps their response in the context of the original message.",
            "Named spaces where the conversation is organized by topic. Topics and their replies are grouped together.",
            "Direct messages (DMs) between two people and group conversations between 3 or more people."
          ],
          "enum": [
            "SPACE_THREADING_STATE_UNSPECIFIED",
            "THREADED_MESSAGES",
            "GROUPED_MESSAGES",
            "UNTHREADED_MESSAGES"
          ]
        },
        "externalUserAllowed": {
          "type": "boolean",
          "description": "Immutable. Whether this space permits any Google Chat user as a member. Input when creating a space in a Google Workspace organization. Omit this field when creating spaces in the following conditions: * The authenticated user uses a Google Account. By default, the space permits any Google Chat user. * The space is used to [import data to Google Chat] (https://developers.google.com/chat/api/guides/import-data-overview). Import mode spaces must only permit members from the same Google Workspace organization. For existing spaces, this field is output only."
        },
        "spaceDetails": {
          "$ref": "SpaceDetails",
          "description": "Details about the space including description and rules."
        },
        "displayName": {
          "description": "The space's display name. Required when [creating a space](https://developers.google.com/chat/api/reference/rest/v1/spaces/create). If you receive the error message `ALREADY_EXISTS` when creating a space or updating the `displayName`, try a different `displayName`. An existing space within the Google Workspace organization might already use this display name. For direct messages, this field might be empty. Supports up to 128 characters.",
          "type": "string"
        },
        "spaceType": {
          "enum": [
            "SPACE_TYPE_UNSPECIFIED",
            "SPACE",
            "GROUP_CHAT",
            "DIRECT_MESSAGE"
          ],
          "description": "The type of space. Required when creating a space or updating the space type of a space. Output only for other usage.",
          "type": "string",
          "enumDescriptions": [
            "Reserved.",
            "A place where people send messages, share files, and collaborate. A `SPACE` can include Chat apps.",
            "Group conversations between 3 or more people. A `GROUP_CHAT` can include Chat apps.",
            "1:1 messages between two humans or a human and a Chat app."
          ]
        },
        "threaded": {
          "readOnly": true,
          "description": "Output only. Deprecated: Use `spaceThreadingState` instead. Whether messages are threaded in this space.",
          "type": "boolean",
          "deprecated": true
        },
        "singleUserBotDm": {
          "type": "boolean",
          "description": "Optional. Whether the space is a DM between a Chat app and a single human."
        },
        "adminInstalled": {
          "description": "Output only. Whether the Chat app was installed by a Google Workspace administrator. Administrators can install a Chat app for their domain, organizational unit, or a group of users. Administrators can only install Chat apps for direct messaging between users and the app. To support admin install, your app must feature direct messaging.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Resource name of the space. Format: `spaces/{space}`",
          "type": "string"
        }
      },
      "id": "Space",
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat app.",
      "type": "object"
    },
    "Button": {
      "properties": {
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and `onclick` action."
        },
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and `onclick` action."
        }
      },
      "id": "Button",
      "type": "object",
      "description": "A button. Can be a text button or an image button."
    },
    "DialogAction": {
      "type": "object",
      "description": "Contains a [dialog](https://developers.google.com/chat/how-tos/dialogs) and request status code.",
      "id": "DialogAction",
      "properties": {
        "dialog": {
          "description": "Input only. [Dialog](https://developers.google.com/chat/how-tos/dialogs) for the request.",
          "$ref": "Dialog"
        },
        "actionStatus": {
          "description": "Input only. Status for a request to either invoke or submit a [dialog](https://developers.google.com/chat/how-tos/dialogs). Displays a status and message to users, if necessary. For example, in case of an error or success.",
          "$ref": "ActionStatus"
        }
      }
    },
    "GoogleAppsCardV1Columns": {
      "type": "object",
      "id": "GoogleAppsCardV1Columns",
      "properties": {
        "columnItems": {
          "items": {
            "$ref": "GoogleAppsCardV1Column"
          },
          "description": "An array of columns. You can include up to 2 columns in a card or dialog.",
          "type": "array"
        }
      },
      "description": "The `Columns` widget displays up to 2 columns in a card message or dialog. You can add widgets to each column; the widgets appear in the order that they are specified. For an example in Google Chat apps, see [Columns](https://developers.google.com/chat/ui/widgets/columns). The height of each column is determined by the taller column. For example, if the first column is taller than the second column, both columns have the height of the first column. Because each column can contain a different number of widgets, you can't define rows or align widgets between the columns. Columns are displayed side-by-side. You can customize the width of each column using the `HorizontalSizeStyle` field. If the user's screen width is too narrow, the second column wraps below the first: * On web, the second column wraps if the screen width is less than or equal to 480 pixels. * On iOS devices, the second column wraps if the screen width is less than or equal to 300 pt. * On Android devices, the second column wraps if the screen width is less than or equal to 320 dp. To include more than 2 columns, or to use rows, use the `Grid` widget. Supported by Chat apps, but not Google Workspace Add-ons."
    },
    "DateInput": {
      "id": "DateInput",
      "type": "object",
      "description": "Date input values.",
      "properties": {
        "msSinceEpoch": {
          "type": "string",
          "description": "Time since epoch time, in milliseconds.",
          "format": "int64"
        }
      }
    },
    "CommonEventObject": {
      "id": "CommonEventObject",
      "type": "object",
      "properties": {
[...]
