{
  "batchPath": "batch",
  "name": "chat",
  "title": "Google Chat API",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "rootUrl": "https://chat.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chat.messages.reactions.readonly": {
          "description": "View reactions to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.delete": {
          "description": "Delete conversations and spaces & remove access to associated files in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.bot": {
          "description": "Private Service: https://www.googleapis.com/auth/chat.bot"
        },
        "https://www.googleapis.com/auth/chat.spaces.readonly": {
          "description": "View chat and spaces in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.messages.create": {
          "description": "Compose and send messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.messages": {
          "description": "View, compose, send, update, and delete messages, and add, view, and delete reactions to messages."
        },
        "https://www.googleapis.com/auth/chat.messages.reactions": {
          "description": "View, add, and delete reactions to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.memberships": {
          "description": "View, add, and remove members from conversations in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.spaces": {
          "description": "Create conversations and spaces and view or update metadata (including history settings) in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.spaces.create": {
          "description": "Create new conversations in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.memberships.readonly": {
          "description": "View members in Google Chat conversations."
        },
        "https://www.googleapis.com/auth/chat.messages.readonly": {
          "description": "View messages and reactions in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.memberships.app": {
          "description": "Add and remove itself from conversations in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.messages.reactions.create": {
          "description": "Add reactions to messages in Google Chat"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "id": "chat:v1",
  "revision": "20230521",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "baseUrl": "https://chat.googleapis.com/",
  "version_module": true,
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "canonicalName": "Hangouts Chat",
  "discoveryVersion": "v1",
  "schemas": {
    "CustomEmoji": {
      "properties": {
        "uid": {
          "type": "string",
          "description": "Unique key for the custom emoji resource."
        }
      },
      "id": "CustomEmoji",
      "description": "Represents a custom emoji. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object"
    },
    "GoogleAppsCardV1Icon": {
      "type": "object",
      "description": "An icon displayed in a widget on a card. Supports [built-in](https://developers.google.com/chat/api/guides/message-formats/cards#builtinicons) and [custom](https://developers.google.com/chat/api/guides/message-formats/cards#customicons) icons.",
      "id": "GoogleAppsCardV1Icon",
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "Display a custom icon hosted at an HTTPS URL. For example: ``` \"iconUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\" ``` Supported file types include `.png` and `.jpg`."
        },
        "knownIcon": {
          "type": "string",
          "description": "Display one of the built-in icons provided by Google Workspace. For example, to display an airplane icon, specify `AIRPLANE`. For a bus, specify `BUS`. For a full list of supported icons, see [built-in icons](https://developers.google.com/chat/api/guides/message-formats/cards#builtinicons)."
        },
        "altText": {
          "type": "string",
          "description": "Optional. A description of the icon used for accessibility. If unspecified, the default value `Button` is provided. As a best practice, you should set a helpful description for what the icon displays, and if applicable, what it does. For example, `A user's account portrait`, or `Opens a new browser tab and navigates to the Google Chat developer documentation at https://developers.google.com/chat`. If the icon is set in a `Button`, the `altText` appears as helper text when the user hovers over the button. However, if the button also sets `text`, the icon's `altText` is ignored."
        },
        "imageType": {
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "enumDescriptions": [
            "Default value. Applies a square mask to the image. For example, a 4x3 image becomes 3x3.",
            "Applies a circular mask to the image. For example, a 4x3 image becomes a circle with a diameter of 3."
          ],
          "type": "string",
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a built-in icon."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "type": "object",
      "id": "Status"
    },
    "UploadAttachmentRequest": {
      "properties": {
        "filename": {
          "description": "Required. The filename of the attachment, including the file extension.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "UploadAttachmentRequest"
    },
    "SlashCommandMetadata": {
      "id": "SlashCommandMetadata",
      "type": "object",
      "description": "Annotation metadata for slash commands (/).",
      "properties": {
        "bot": {
          "description": "The Chat app whose command was invoked.",
          "$ref": "User"
        },
        "triggersDialog": {
          "description": "Indicates whether the slash command is for a dialog.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of slash command.",
          "enumDescriptions": [
            "Default value for the enum. Don't use.",
            "Add Chat app to space.",
            "Invoke slash command in space."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ],
          "type": "string"
        },
        "commandName": {
          "description": "The name of the invoked slash command.",
          "type": "string"
        },
        "commandId": {
          "description": "The command ID of the invoked slash command.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleAppsCardV1Columns": {
      "description": "The `Columns` widget displays up to 2 columns in a card message or dialog. You can add widgets to each column; the widgets appear in the order that they are specified. The height of each column is determined by the taller column. For example, if the first column is taller than the second column, both columns have the height of the first column. Because each column can contain a different number of widgets, you can't define rows or align widgets between the columns. Columns are displayed side-by-side. You can customize the width of each column using the `HorizontalSizeStyle` field. If the user's screen width is too narrow, the second column wraps below the first: * On web, the second column wraps if the screen width is less than or equal to 480 pixels. * On iOS devices, the second column wraps if the screen width is less than or equal to 300 pt. * On Android devices, the second column wraps if the screen width is less than or equal to 320 dp. To include more than 2 columns, or to use rows, use the `Grid` widget. Supported by Chat apps, but not Google Workspace Add-ons.",
      "properties": {
        "columnItems": {
          "items": {
            "$ref": "GoogleAppsCardV1Column"
          },
          "type": "array",
          "description": "An array of columns. You can include up to 2 columns in a card or dialog."
        }
      },
      "id": "GoogleAppsCardV1Columns",
      "type": "object"
    },
    "GoogleAppsCardV1Column": {
      "description": "A column.",
      "id": "GoogleAppsCardV1Column",
      "properties": {
        "horizontalSizeStyle": {
          "type": "string",
          "enum": [
            "HORIZONTAL_SIZE_STYLE_UNSPECIFIED",
            "FILL_AVAILABLE_SPACE",
            "FILL_MINIMUM_SPACE"
          ],
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "Default value. Column fills the available space, up to 70% of the card's width. If both columns are set to `FILL_AVAILABLE_SPACE`, each column fills 50% of the space.",
            "Column fills the least amount of space possible and no more than 30% of the card's width."
          ],
          "description": "Specifies how a column fills the width of the card."
        },
        "verticalAlignment": {
          "description": "Specifies whether widgets align to the top, bottom, or center of a column.",
          "type": "string",
          "enum": [
            "VERTICAL_ALIGNMENT_UNSPECIFIED",
            "CENTER",
            "TOP",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "Unspecified. Don't use.",
            "Default value. Aligns widgets to the center of a column.",
            "Aligns widgets to the top of a column.",
            "Aligns widgets to the bottom of a column."
          ]
        },
        "widgets": {
          "description": "An array of widgets included in a column. Widgets appear in the order that they are specified.",
          "items": {
            "$ref": "GoogleAppsCardV1Widgets"
          },
          "type": "array"
        },
        "horizontalAlignment": {
          "description": "Specifies whether widgets align to the left, right, or center of a column.",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "Default value. Aligns widgets to the start position of the column. For left-to-right layouts, aligns to the left. For right-to-left layouts, aligns to the right.",
            "Aligns widgets to the center of the column.",
            "Aligns widgets to the end position of the column. For left-to-right layouts, aligns widgets to the right. For right-to-left layouts, aligns widgets to the left."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "WidgetMarkup": {
      "type": "object",
      "id": "WidgetMarkup",
      "properties": {
        "image": {
          "description": "Display an image in this widget.",
          "$ref": "Image"
        },
        "buttons": {
          "items": {
            "$ref": "Button"
          },
          "type": "array",
          "description": "A list of buttons. Buttons is also `oneof data` and only one of these fields should be set."
        },
        "textParagraph": {
          "description": "Display a text paragraph in this widget.",
          "$ref": "TextParagraph"
        },
        "keyValue": {
          "$ref": "KeyValue",
          "description": "Display a key value item in this widget."
        }
      },
      "description": "A widget is a UI element that presents text and images."
    },
    "ChatAppLogEntry": {
      "type": "object",
      "description": "JSON payload of error messages. If the Cloud Logging API is enabled, these error messages are logged to [Google Cloud Logging](https://cloud.google.com/logging/docs).",
      "id": "ChatAppLogEntry",
      "properties": {
        "deployment": {
          "description": "The deployment that caused the error. For Chat apps built in Apps Script, this is the deployment ID defined by Apps Script.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error code and message."
        },
        "deploymentFunction": {
          "description": "The unencrypted `callback_method` name that was running when the error was encountered.",
          "type": "string"
        }
      }
    },
    "Dialog": {
      "id": "Dialog",
      "properties": {
        "body": {
          "description": "Input only. Body of the dialog, which is rendered in a modal. Google Chat apps don't support the following card entities: `DateTimePicker`, `OnChangeAction`.",
          "$ref": "GoogleAppsCardV1Card"
        }
      },
      "description": "Wrapper around the card body of the dialog.",
      "type": "object"
    },
    "KeyValue": {
      "type": "object",
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "Button"
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The `onclick` action. Only the top label, bottom label, and content region are clickable."
        },
        "content": {
          "type": "string",
          "description": "The text of the content. Formatted text supported and always required. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting)."
        },
        "bottomLabel": {
          "description": "The text of the bottom label. Formatted text supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        },
        "topLabel": {
          "type": "string",
          "description": "The text of the top label. Formatted text supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting)."
        },
        "icon": {
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "An enum value that's replaced by the Chat API with the corresponding icon image."
        },
        "contentMultiline": {
          "description": "If the content should be multiline.",
          "type": "boolean"
        }
      },
      "id": "KeyValue",
      "description": "A UI element contains a key (label) and a value (content). This element can also contain some actions such as `onclick` button."
    },
    "ListSpacesResponse": {
      "id": "ListSpacesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "You can send a token as `pageToken` to retrieve the next page of results. If empty, there are no subsequent pages.",
          "type": "string"
        },
        "spaces": {
          "type": "array",
          "description": "List of spaces in the requested (or first) page.",
          "items": {
            "$ref": "Space"
          }
        }
      }
    },
    "Thread": {
      "type": "object",
      "id": "Thread",
      "description": "A thread in Google Chat.",
      "properties": {
        "threadKey": {
          "type": "string",
          "description": "Optional. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](https://developers.google.com/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread). For other requests, this is an output only field."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the thread. Example: `spaces/{space}/threads/{thread}`"
        }
      }
    },
    "Message": {
      "properties": {
        "annotations": {
          "items": {
            "$ref": "Annotation"
          },
          "type": "array",
          "description": "Output only. Annotations associated with the `text` in this message.",
          "readOnly": true
        },
        "actionResponse": {
          "$ref": "ActionResponse",
          "description": "Input only. Parameters that a Chat app can use to configure how its response is posted."
        },
        "argumentText": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Plain-text body of the message with all Chat app mentions stripped out."
        },
        "space": {
          "description": "If your Chat app [authenticates as a user](https://developers.google.com/chat/api/guides/auth/users), the output populates the [space](https://developers.google.com/chat/api/reference/rest/v1/spaces) `name`.",
          "$ref": "Space"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the message was created in Google Chat."
        },
        "deleteTime": {
          "description": "Output only. The time at which the message was deleted in Google Chat server. If the message is never deleted, this field is empty. [Developer Preview](https://developers.google.com/workspace/preview).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "thread": {
          "$ref": "Thread",
          "description": "The thread the message belongs to. For example usage, see [Start or reply to a message thread](https://developers.google.com/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread)."
        },
        "deletionMetadata": {
          "$ref": "DeletionMetadata",
          "readOnly": true,
          "description": "Output only. Information about a deleted message. A message is deleted when `delete_time` is set. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "clientAssignedMessageId": {
          "type": "string",
          "description": "A custom name for a Chat message assigned at creation. Must start with `client-` and contain only lowercase letters, numbers, and hyphens up to 63 characters in length. Specify this field to get, update, or delete the message with the specified value. For example usage, see [Name a created message](https://developers.google.com/chat/api/guides/crudl/messages#name_a_created_message)."
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the message was last edited by a user. If the message has never been edited, this field is empty."
        },
        "fallbackText": {
          "type": "string",
          "description": "A plain-text description of the message's cards, used when the actual cards can't be displayed—for example, mobile notifications."
        },
        "emojiReactionSummaries": {
          "items": {
            "$ref": "EmojiReactionSummary"
          },
          "readOnly": true,
          "description": "Output only. The list of emoji reaction summaries on the message. [Developer Preview](https://developers.google.com/workspace/preview).",
          "type": "array"
        },
        "cardsV2": {
          "type": "array",
          "items": {
            "$ref": "CardWithId"
          },
          "description": "Richly formatted and interactive cards that display UI elements and editable widgets, such as: - Formatted text - Buttons - Clickable images - Checkboxes - Radio buttons - Input widgets. Cards are usually displayed below the text body of a Chat message, but can situationally appear other places, such as [dialogs](https://developers.google.com/chat/how-tos/dialogs). Each card can have a maximum size of 32 KB. The `cardId` is a unique identifier among cards in the same message and for identifying user input values. Currently supported widgets include: - `TextParagraph` - `DecoratedText` - `Image` - `ButtonList` - `Divider` - `TextInput` - `SelectionInput` - `Grid`"
        },
        "cards": {
          "description": "Deprecated: Use `cards_v2` instead. Rich, formatted, and interactive cards that you can use to display UI elements such as: formatted texts, buttons, and clickable images. Cards are normally displayed below the plain-text body of the message. `cards` and `cards_v2` can have a maximum size of 32 KB.",
          "type": "array",
          "items": {
            "$ref": "Card"
          }
        },
        "threadReply": {
          "readOnly": true,
          "description": "Output only. When `true`, the message is a response in a reply thread. When `false`, the message is visible in the space's top-level conversation as either the first message of a thread or a message with no threaded replies. If the space doesn't support reply in threads, this field is always `false`.",
          "type": "boolean"
        },
        "sender": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user who created the message. If your Chat app [authenticates as a user](https://developers.google.com/chat/api/guides/auth/users), the output populates the [user](https://developers.google.com/chat/api/reference/rest/v1/User) `name` and `type`."
        },
        "attachment": {
          "type": "array",
          "description": "User-uploaded attachment.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "slashCommand": {
          "description": "Output only. Slash command information, if applicable.",
          "readOnly": true,
          "$ref": "SlashCommand"
        },
        "matchedUrl": {
          "description": "Output only. A URL in `spaces.messages.text` that matches a link preview pattern. For more information, see [Preview links](https://developers.google.com/chat/how-tos/preview-links).",
          "readOnly": true,
          "$ref": "MatchedUrl"
        },
        "text": {
          "type": "string",
          "description": "Plain-text body of the message. The first link to an image, video, web page, or other preview-able item generates a preview chip."
        },
        "name": {
          "type": "string",
          "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`"
        }
      },
      "id": "Message",
      "type": "object",
      "description": "A message in Google Chat."
    },
    "AttachmentDataRef": {
      "type": "object",
      "id": "AttachmentDataRef",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name of the attachment data. This field is used with the media API to download the attachment data."
        },
        "attachmentUploadToken": {
          "description": "Opaque token containing a reference to an uploaded attachment. Treated by clients as an opaque string and used to create or update Chat messages with attachments. [Developer Preview](https://developers.google.com/workspace/preview).",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1ButtonList": {
      "id": "GoogleAppsCardV1ButtonList",
      "type": "object",
      "description": "A list of buttons layed out horizontally.",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          },
          "description": "An array of buttons."
        }
      }
    },
    "GoogleAppsCardV1Button": {
      "id": "GoogleAppsCardV1Button",
      "description": "A text, icon, or text and icon button that users can click. To make an image a clickable button, specify an `Image` (not an `ImageComponent`) and set an `onClick` action.",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "If `true`, the button is displayed in an inactive state and doesn't respond to user actions."
        },
        "altText": {
          "type": "string",
          "description": "The alternative text that's used for accessibility. Set descriptive text that lets users know what the button does. For example, if a button opens a hyperlink, you might write: \"Opens a new browser tab and navigates to the Google Chat developer documentation at https://developers.google.com/chat\"."
        },
        "color": {
          "description": "If set, the button is filled with a solid background color and the font color changes to maintain contrast with the background color. For example, setting a blue background likely results in white text. If unset, the image background is white and the font color is blue. For red, green, and blue, the value of each field is a `float` number that you can express in either of two ways: as a number between 0 and 255 divided by 255 (153/255), or as a value between 0 and 1 (0.6). 0 represents the absence of a color and 1 or 255/255 represent the full presence of that color on the RGB scale. Optionally set `alpha`, which sets a level of transparency using this equation: ``` pixel color = alpha * (this color) + (1.0 - alpha) * (background color) ``` For `alpha`, a value of `1` corresponds with a solid color, and a value of `0` corresponds with a completely transparent color. For example, the following color represents a half transparent red: ``` \"color\": { \"red\": 1, \"green\": 0, \"blue\": 0, \"alpha\": 0.5 } ```",
          "$ref": "Color"
        },
        "onClick": {
          "description": "Required. The action to perform when a user clicks the button, such as opening a hyperlink or running a custom function.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "text": {
          "description": "The text displayed inside the button.",
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "The icon image. If both `icon` and `text` are set, then the icon appears before the text."
        }
      }
    },
    "GoogleAppsCardV1BorderStyle": {
      "type": "object",
      "id": "GoogleAppsCardV1BorderStyle",
      "description": "The style options for the border of a card or widget, including the border type and color.",
      "properties": {
        "type": {
          "enum": [
            "BORDER_TYPE_UNSPECIFIED",
            "NO_BORDER",
            "STROKE"
          ],
          "description": "The border type.",
          "enumDescriptions": [
            "No value specified.",
            "Default value. No border.",
            "Outline."
          ],
          "type": "string"
        },
        "strokeColor": {
          "description": "The colors to use when the type is `BORDER_TYPE_STROKE`.",
          "$ref": "Color"
        },
        "cornerRadius": {
          "type": "integer",
          "description": "The corner radius for the border.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsCardV1TextParagraph": {
      "id": "GoogleAppsCardV1TextParagraph",
      "properties": {
        "text": {
          "description": "The text that's shown in the widget.",
          "type": "string"
        }
      },
      "description": "A paragraph of text that supports formatting. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleAppsCardV1Action": {
      "id": "GoogleAppsCardV1Action",
      "description": "An action that describes the behavior when the form is submitted. For example, you can invoke an Apps Script script to handle the form. If the action is triggered, the form values are sent to the server.",
      "properties": {
        "function": {
          "description": "A custom function to invoke when the containing element is clicked or othrwise activated. For example usage, see [Create interactive cards](https://developers.google.com/chat/how-tos/cards-onclick).",
          "type": "string"
        },
        "interaction": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The `action` executes as normal.",
            "Opens a [dialog](https://developers.google.com/chat/how-tos/dialogs), a windowed, card-based interface that Chat apps use to interact with users. Only supported by Chat apps in response to button-clicks on card messages. Not supported by Google Workspace Add-ons. If specified for an add-on, the entire card is stripped and nothing is shown in the client."
          ],
          "enum": [
            "INTERACTION_UNSPECIFIED",
            "OPEN_DIALOG"
          ],
          "description": "Optional. Required when opening a [dialog](https://developers.google.com/chat/how-tos/dialogs). What to do in response to an interaction with a user, such as a user clicking a button in a card message. If unspecified, the app responds by executing an `action`—like opening a link or running a function—as normal. By specifying an `interaction`, the app can respond in special interactive ways. For example, by setting `interaction` to `OPEN_DIALOG`, the app can open a [dialog](https://developers.google.com/chat/how-tos/dialogs). When specified, a loading indicator isn't shown. Supported by Chat apps, but not Google Workspace Add-ons. If specified for an add-on, the entire card is stripped and nothing is shown in the client."
        },
        "persistValues": {
          "type": "boolean",
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. To let the user make changes while the action is being processed, set [`LoadIndicator`](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) to `NONE`. For [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) in Chat apps, you must also set the action's [`ResponseType`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages#responsetype) to `UPDATE_MESSAGE` and use the same [`card_id`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages#CardWithId) from the card that contained the action. If `false`, the form values are cleared when the action is triggered. To prevent the user from making changes while the action is being processed, set [`LoadIndicator`](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) to `SPINNER`."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          },
          "description": "List of action parameters."
        },
        "loadIndicator": {
          "type": "string",
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "description": "Specifies the loading indicator that the action displays while making the call to the action.",
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ]
        }
      },
      "type": "object"
    },
    "Attachment": {
      "properties": {
        "attachmentDataRef": {
          "$ref": "AttachmentDataRef",
          "description": "A reference to the attachment data. This field is used with the media API to download the attachment data."
        },
        "source": {
          "description": "The source of the attachment.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DRIVE_FILE",
            "UPLOADED_CONTENT"
          ]
        },
        "contentName": {
          "type": "string",
          "description": "The original file name for the content, not the full path."
        },
        "driveDataRef": {
          "$ref": "DriveDataRef",
          "description": "A reference to the drive attachment. This field is used with the Drive API."
        },
        "contentType": {
          "description": "The content type (MIME type) of the file.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the attachment, in the form `spaces/*/messages/*/attachments/*`.",
          "type": "string"
        },
        "downloadUri": {
          "readOnly": true,
          "description": "Output only. The download URL which should be used to allow a human user to download the attachment. Chat apps shouldn't use this URL to download attachment content.",
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string",
          "description": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Chat apps shouldn't use this URL to download attachment content.",
          "readOnly": true
        }
      },
      "id": "Attachment",
      "type": "object",
      "description": "An attachment in Google Chat."
    },
    "DeletionMetadata": {
      "type": "object",
      "properties": {
        "deletionType": {
          "enumDescriptions": [
            "This value is unused.",
            "User deleted their own message.",
            "The space owner deleted the message.",
            "A Google Workspace admin deleted the message.",
            "A Chat app deleted its own message when it expired.",
            "A Chat app deleted the message on behalf of the user.",
            "A Chat app deleted the message on behalf of the space owner."
          ],
          "description": "Indicates who deleted the message.",
          "type": "string",
          "enum": [
            "DELETION_TYPE_UNSPECIFIED",
            "CREATOR",
            "SPACE_OWNER",
            "ADMIN",
            "APP_MESSAGE_EXPIRY",
            "CREATOR_VIA_APP",
            "SPACE_OWNER_VIA_APP"
          ]
        }
      },
      "id": "DeletionMetadata",
      "description": "Information about a deleted message. A message is deleted when `delete_time` is set. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "EmojiReactionSummary": {
      "type": "object",
      "properties": {
        "reactionCount": {
          "description": "The total number of reactions using the associated emoji.",
          "type": "integer",
          "format": "int32"
        },
        "emoji": {
          "$ref": "Emoji",
          "description": "Emoji associated with the reactions."
        }
      },
      "id": "EmojiReactionSummary",
      "description": "The number of people who reacted to a message with a specific emoji. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "GoogleAppsCardV1DecoratedText": {
      "id": "GoogleAppsCardV1DecoratedText",
      "properties": {
        "wrapText": {
          "type": "boolean",
          "description": "The wrap text setting. If `true`, the text wraps and displays on multiple lines. Otherwise, the text is truncated. Only applies to `text`, not `topLabel` and `bottomLabel`."
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "This action is triggered when users click `topLabel` or `bottomLabel`."
        },
        "switchControl": {
          "$ref": "GoogleAppsCardV1SwitchControl",
          "description": "A switch widget that a user can click to change its state and trigger an action."
        },
        "bottomLabel": {
          "description": "The text that appears below `text`. Always truncates.",
          "type": "string"
        },
        "text": {
          "description": "Required. The primary text. Supports simple formatting. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        },
        "startIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "The icon displayed in front of the text."
        },
        "icon": {
          "description": "Deprecated in favor of `startIcon`.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "topLabel": {
          "type": "string",
          "description": "The text that appears above `text`. Always truncates."
        },
        "button": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "A button that a user can click to trigger an action."
        },
        "endIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "An icon displayed after the text. Supports [built-in](https://developers.google.com/chat/api/guides/message-formats/cards#builtinicons) and [custom](https://developers.google.com/chat/api/guides/message-formats/cards#customicons) icons."
        }
      },
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget, or a button after the text.",
      "type": "object"
    },
    "GoogleAppsCardV1Widget": {
      "properties": {
        "dateTimePicker": {
          "description": "Displays a widget that lets users input a date, time, or date and time. For example, the following JSON creates a date time picker to schedule an appointment: ``` \"dateTimePicker\": { \"name\": \"appointment_time\", \"label\": \"Book your appointment at:\", \"type\": \"DATE_AND_TIME\", \"valueMsEpoch\": \"796435200000\" } ```",
          "$ref": "GoogleAppsCardV1DateTimePicker"
        },
        "selectionInput": {
          "$ref": "GoogleAppsCardV1SelectionInput",
          "description": "Displays a selection control that lets users select items. Selection controls can be checkboxes, radio buttons, switches, or dropdown menus. For example, the following JSON creates a dropdown menu that lets users choose a size: ``` \"selectionInput\": { \"name\": \"size\", \"label\": \"Size\" \"type\": \"DROPDOWN\", \"items\": [ { \"text\": \"S\", \"value\": \"small\", \"selected\": false }, { \"text\": \"M\", \"value\": \"medium\", \"selected\": true }, { \"text\": \"L\", \"value\": \"large\", \"selected\": false }, { \"text\": \"XL\", \"value\": \"extra_large\", \"selected\": false } ] } ```"
        },
        "columns": {
          "description": "Displays up to 2 columns. To include more than 2 columns, or to use rows, use the `Grid` widget. For example, the following JSON creates 2 columns that each contain text paragraphs: ``` \"columns\": { \"columnItems\": [ { \"horizontalSizeStyle\": \"FILL_AVAILABLE_SPACE\", \"horizontalAlignment\": \"CENTER\", \"verticalAlignment\": \"CENTER\", \"widgets\": [ { \"textParagraph\": { \"text\": \"First column text paragraph\" } } ] }, { \"horizontalSizeStyle\": \"FILL_AVAILABLE_SPACE\", \"horizontalAlignment\": \"CENTER\", \"verticalAlignment\": \"CENTER\", \"widgets\": [ { \"textParagraph\": { \"text\": \"Second column text paragraph\" } } ] } ] } ```",
          "$ref": "GoogleAppsCardV1Columns"
        },
        "image": {
          "description": "Displays an image. For example, the following JSON creates an image with alternative text: ``` \"image\": { \"imageUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\", \"altText\": \"Chat app avatar\" } ```",
          "$ref": "GoogleAppsCardV1Image"
        },
        "textParagraph": {
          "description": "Displays a text paragraph. Supports simple HTML formatted text. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting). For example, the following JSON creates a bolded text: ``` \"textParagraph\": { \"text\": \" *bold text*\" } ```",
          "$ref": "GoogleAppsCardV1TextParagraph"
        },
        "decoratedText": {
          "description": "Displays a decorated text item. For example, the following JSON creates a decorated text widget showing email address: ``` \"decoratedText\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"topLabel\": \"Email Address\", \"text\": \"sasha@example.com\", \"bottomLabel\": \"This is a new Email address!\", \"switchControl\": { \"name\": \"has_send_welcome_email_to_sasha\", \"selected\": false, \"controlType\": \"CHECKBOX\" } } ```",
          "$ref": "GoogleAppsCardV1DecoratedText"
        },
        "textInput": {
          "$ref": "GoogleAppsCardV1TextInput",
          "description": "Displays a text box that users can type into. For example, the following JSON creates a text input for an email address: ``` \"textInput\": { \"name\": \"mailing_address\", \"label\": \"Mailing Address\" } ``` As another example, the following JSON creates a text input for a programming language with static suggestions: ``` \"textInput\": { \"name\": \"preferred_programing_language\", \"label\": \"Preferred Language\", \"initialSuggestions\": { \"items\": [ { \"text\": \"C++\" }, { \"text\": \"Java\" }, { \"text\": \"JavaScript\" }, { \"text\": \"Python\" } ] } } ```"
        },
        "buttonList": {
          "$ref": "GoogleAppsCardV1ButtonList",
          "description": "A list of buttons. For example, the following JSON creates two buttons. The first is a blue text button and the second is an image button that opens a link: ``` \"buttonList\": { \"buttons\": [ { \"text\": \"Edit\", \"color\": { \"red\": 0, \"green\": 0, \"blue\": 1, \"alpha\": 1 }, \"disabled\": true, }, { \"icon\": { \"knownIcon\": \"INVITE\", \"altText\": \"check calendar\" }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/calendar\" } } } ] } ```"
        },
        "divider": {
          "description": "Displays a horizontal line divider between widgets. For example, the following JSON creates a divider: ``` \"divider\": { } ```",
          "$ref": "GoogleAppsCardV1Divider"
        },
        "horizontalAlignment": {
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "Default value. Aligns widgets to the start position of the column. For left-to-right layouts, aligns to the left. For right-to-left layouts, aligns to the right.",
            "Aligns widgets to the center of the column.",
            "Aligns widgets to the end position of the column. For left-to-right layouts, aligns widgets to the right. For right-to-left layouts, aligns widgets to the left."
          ],
          "description": "Specifies whether widgets align to the left, right, or center of a column.",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "type": "string"
        },
        "grid": {
          "description": "Displays a grid with a collection of items. A grid supports any number of columns and items. The number of rows is determined by the upper bounds of the number items divided by the number of columns. A grid with 10 items and 2 columns has 5 rows. A grid with 11 items and 2 columns has 6 rows. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"columnCount\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4 }, \"items\": [ { \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" } ], \"onClick\": { \"openLink\": { \"url\": \"https://www.example.com\" } } } ```",
          "$ref": "GoogleAppsCardV1Grid"
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1Widget",
      "description": "Each card is made up of widgets. A widget is a composite object that can represent one of text, images, buttons, and other object types."
    },
    "Section": {
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there's currently no need for layout properties (for example, float).",
      "properties": {
        "widgets": {
          "type": "array",
          "items": {
            "$ref": "WidgetMarkup"
          },
          "description": "A section must contain at least one widget."
        },
        "header": {
          "description": "The header of the section. Formatted text is supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        }
      },
      "id": "Section",
      "type": "object"
    },
    "GoogleAppsCardV1DateTimePicker": {
      "type": "object",
      "properties": {
        "onChangeAction": {
          "description": "Triggered when the user clicks **Save** or **Clear** from the `DateTimePicker` interface.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "type": {
          "type": "string",
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ],
          "description": "Whether the widget supports inputting a date, a time, or the date and time.",
          "enumDescriptions": [
            "Users input a date and time.",
            "Users input a date.",
            "Users input a time."
          ]
        },
        "valueMsEpoch": {
          "format": "int64",
          "type": "string",
          "description": "The default value displayed in the widget, in milliseconds since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time). Specify the value based on the type of picker (`DateTimePickerType`): * `DATE_AND_TIME`: a calendar date and time in UTC. For example, to represent January 1, 2023 at 12:00 PM UTC, use `1672574400000`. * `DATE_ONLY`: a calendar date at 00:00:00 UTC. For example, to represent January 1, 2023, use `1672531200000`. * `TIME_ONLY`: a time in UTC. For example, to represent 12:00 PM, use `43200000` (or `12 * 60 * 60 * 1000`)."
        },
        "name": {
          "type": "string",
          "description": "The name by which the `DateTimePicker` is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs)."
        },
        "label": {
          "type": "string",
          "description": "The text that prompts users to input a date, a time, or a date and time. For example, if users are scheduling an appointment, use a label such as `Appointment date` or `Appointment date and time`."
        },
        "timezoneOffsetDate": {
          "format": "int32",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If unset, the value defaults to the user's time zone setting.",
          "type": "integer"
        }
      },
      "description": "Lets users input a date, a time, or both a date and a time. Users can input text or use the picker to select dates and times. If users input an invalid date or time, the picker shows an error that prompts users to input the information correctly.",
      "id": "GoogleAppsCardV1DateTimePicker"
    },
    "Inputs": {
      "description": "Types of data inputs for widgets. Users enter data with these inputs.",
      "type": "object",
      "properties": {
        "timeInput": {
          "description": "Time input values.",
          "$ref": "TimeInput"
        },
        "dateInput": {
          "$ref": "DateInput",
          "description": "Date input values."
        },
        "stringInputs": {
          "$ref": "StringInputs",
          "description": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented."
        },
        "dateTimeInput": {
          "description": "Date and time input values.",
          "$ref": "DateTimeInput"
        }
      },
      "id": "Inputs"
    },
    "GoogleAppsCardV1Widgets": {
      "properties": {
        "image": {
          "description": "Image widget.",
          "$ref": "GoogleAppsCardV1Image"
        },
        "textParagraph": {
          "$ref": "GoogleAppsCardV1TextParagraph",
          "description": "TextParagraph widget."
        },
        "decoratedText": {
          "$ref": "GoogleAppsCardV1DecoratedText",
          "description": "DecoratedText widget."
        },
        "dateTimePicker": {
          "$ref": "GoogleAppsCardV1DateTimePicker",
          "description": "DateTimePicker widget."
        },
        "buttonList": {
          "$ref": "GoogleAppsCardV1ButtonList",
          "description": "ButtonList widget."
        },
        "textInput": {
          "description": "TextInput widget.",
          "$ref": "GoogleAppsCardV1TextInput"
        },
        "selectionInput": {
          "description": "SelectionInput widget.",
          "$ref": "GoogleAppsCardV1SelectionInput"
        }
      },
      "description": "The supported widgets that you can include in a column.",
      "id": "GoogleAppsCardV1Widgets",
      "type": "object"
    },
    "OpenLink": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to open."
        }
      },
      "description": "A link that opens a new window.",
      "id": "OpenLink"
    },
    "ActionParameter": {
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze one day, snooze next week. You might use `action method = snooze()`, passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        }
      },
      "type": "object",
      "id": "ActionParameter"
    },
    "Space": {
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat app.",
      "type": "object",
      "id": "Space",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the space. Format: `spaces/{space}`"
        },
        "adminInstalled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the Chat app was installed by a Google Workspace administrator. Administrators can install a Chat app for their domain, organizational unit, or a group of users. Administrators can only install Chat apps for direct messaging between users and the app. To support admin install, your app must feature direct messaging."
        },
        "spaceType": {
          "description": "The type of space. Required when creating or updating a space. Output only for other usage. [Developer Preview](https://developers.google.com/workspace/preview).",
          "enum": [
            "SPACE_TYPE_UNSPECIFIED",
            "SPACE",
            "GROUP_CHAT",
            "DIRECT_MESSAGE"
          ],
          "enumDescriptions": [
            "Reserved.",
            "A place where people send messages, share files, and collaborate. A `SPACE` can include Chat apps.",
            "Group conversations between 3 or more people. A `GROUP_CHAT` can include Chat apps.",
            "1:1 messages between two humans or a human and a Chat app."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The space's display name. Required when [creating a space](https://developers.google.com/chat/api/reference/rest/v1/spaces/create). For direct messages, this field might be empty. Supports up to 128 characters."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ],
          "description": "Output only. Deprecated: Use `singleUserBotDm` or `spaceType` (developer preview) instead. The type of a space.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat app, where all messages are flat. Note that this doesn't include direct messages between two humans."
          ],
          "readOnly": true
        },
        "spaceDetails": {
          "$ref": "SpaceDetails",
          "description": "Details about the space including description and rules."
        },
        "spaceThreadingState": {
          "enumDescriptions": [
            "Reserved.",
            "Named spaces that support message threads. When users respond to a message, they can reply in-thread, which keeps their response in the context of the original message.",
            "Named spaces where the conversation is organized by topic. Topics and their replies are grouped together.",
            "Direct messages (DMs) between two people and group conversations between 3 or more people."
          ],
          "description": "Output only. The threading state in the Chat space.",
          "readOnly": true,
          "enum": [
            "SPACE_THREADING_STATE_UNSPECIFIED",
            "THREADED_MESSAGES",
            "GROUPED_MESSAGES",
            "UNTHREADED_MESSAGES"
          ],
          "type": "string"
        },
        "threaded": {
          "description": "Output only. Deprecated: Use `spaceThreadingState` instead. Whether messages are threaded in this space.",
          "readOnly": true,
          "type": "boolean"
        },
        "singleUserBotDm": {
          "type": "boolean",
          "description": "Optional. Whether the space is a DM between a Chat app and a single human."
        },
        "spaceHistoryState": {
          "enum": [
            "HISTORY_STATE_UNSPECIFIED",
            "HISTORY_OFF",
            "HISTORY_ON"
          ],
          "description": "The message history state for messages and threads in this space. [Developer Preview](https://developers.google.com/workspace/preview).",
          "enumDescriptions": [
            "Default value. Do not use.",
            "History off. [Messages and threads are kept for 24 hours](https://support.google.com/chat/answer/7664687).",
            "History on. The organization's [Vault retention rules](https://support.google.com/vault/answer/7657597) specify for how long messages and threads are kept."
          ],
          "type": "string"
        }
      }
    },
    "MatchedUrl": {
      "properties": {
        "url": {
          "description": "Output only. The URL that was matched.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "MatchedUrl",
      "description": "A matched URL in a Chat message. Chat apps can preview matched URLs. For more information, see [Preview links](https://developers.google.com/chat/how-tos/preview-links)."
    },
    "Media": {
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Media resource.",
      "id": "Media"
    },
    "ListMessagesResponse": {
      "id": "ListMessagesResponse",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of messages."
        },
        "nextPageToken": {
          "type": "string",
          "description": "You can send a token as `pageToken` to retrieve the next page of results. If empty, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "CommonEventObject": {
      "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes data submitted by users interacting with cards, like data entered in [dialogs](https://developers.google.com/chat/how-tos/dialogs).",
      "id": "CommonEventObject",
      "properties": {
        "formInputs": {
          "additionalProperties": {
            "$ref": "Inputs"
          },
          "description": "A map containing the current values of the widgets in a card. The map keys are the string IDs assigned to each widget, and the values represent inputs to the widget. Depending on the input data type, a different object represents each input: For single-value widgets, `StringInput`. For multi-value widgets, an array of `StringInput` objects. For a date-time picker, a `DateTimeInput`. For a date-only picker, a `DateInput`. For a time-only picker, a `TimeInput`. Corresponds with the data entered by a user on a card in a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
          "type": "object"
        },
        "platform": {
          "description": "The platform enum which indicates the platform where the event originates (`WEB`, `IOS`, or `ANDROID`). Not supported by Chat apps.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_PLATFORM",
            "WEB",
            "IOS",
            "ANDROID"
          ]
        },
        "hostApp": {
          "enum": [
            "UNSPECIFIED_HOST_APP",
            "GMAIL",
            "CALENDAR",
            "DRIVE",
            "DEMO",
            "DOCS",
            "MEET",
            "SHEETS",
            "SLIDES",
            "DRAWINGS",
            "CHAT"
          ],
          "enumDescriptions": [
            "Google can't identify a host app.",
            "The add-on launches from Gmail.",
            "The add-on launches from Google Calendar.",
            "The add-on launches from Google Drive.",
            "Not used.",
            "The add-on launches from Google Docs.",
            "The add-on launches from Google Meet.",
            "The add-on launches from Google Sheets.",
            "The add-on launches from Google Slides.",
            "The add-on launches from Google Drawings.",
            "A Google Chat app. Not used for Google Workspace Add-ons."
          ],
          "description": "The hostApp enum which indicates the app the add-on is invoked from. Always `CHAT` for Chat apps.",
          "type": "string"
        },
        "userLocale": {
          "type": "string",
          "description": "The full `locale.displayName` in the format of [ISO 639 language code]-[ISO 3166 country/region code] such as \"en-US\"."
        },
        "invokedFunction": {
          "type": "string",
          "description": "Name of the invoked function associated with the widget. Only set for Chat apps."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom [parameters](/chat/api/reference/rest/v1/cards#ActionParameter) passed to the invoked function. Both keys and values must be strings.",
          "type": "object"
        },
        "timeZone": {
          "description": "The timezone ID and offset from Coordinated Universal Time (UTC). Only supported for the event types [`CARD_CLICKED`](https://developers.google.com/chat/api/reference/rest/v1/EventType#ENUM_VALUES.CARD_CLICKED) and [`SUBMIT_DIALOG`](https://developers.google.com/chat/api/reference/rest/v1/DialogEventType#ENUM_VALUES.SUBMIT_DIALOG).",
          "$ref": "TimeZone"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1CardHeader": {
      "properties": {
        "imageType": {
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "type": "string",
          "description": "The shape used to crop the image.",
          "enumDescriptions": [
            "Default value. Applies a square mask to the image. For example, a 4x3 image becomes 3x3.",
            "Applies a circular mask to the image. For example, a 4x3 image becomes a circle with a diameter of 3."
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "The HTTPS URL of the image in the card header."
        },
        "title": {
          "description": "Required. The title of the card header. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header. If specified, appears on its own line below the `title`."
        },
        "imageAltText": {
          "type": "string",
          "description": "The alternative text of this image that's used for accessibility."
        }
      },
      "type": "object",
      "description": "Represents a card header.",
      "id": "GoogleAppsCardV1CardHeader"
    },
    "OnClick": {
      "id": "OnClick",
      "properties": {
        "action": {
          "description": "A form action is triggered by this `onclick` action if specified.",
          "$ref": "FormAction"
        },
        "openLink": {
          "description": "This `onclick` action triggers an open link action if specified.",
          "$ref": "OpenLink"
        }
      },
      "description": "An `onclick` action (for example, open a link).",
      "type": "object"
    },
    "DeprecatedEvent": {
      "description": "Google Chat events.",
      "id": "DeprecatedEvent",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a space.",
            "The Chat app was added to a space by a Chat user or Workspace administrator.",
            "The Chat app was removed from a space by a Chat user or Workspace administrator.",
            "The Chat app's interactive card was clicked."
          ],
          "description": "The type of the event.",
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ],
          "type": "string"
        },
        "common": {
          "$ref": "CommonEventObject",
          "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes information submitted by users interacting with [dialogs](https://developers.google.com/chat/how-tos/dialogs), like data entered on a card."
        },
        "dialogEventType": {
          "description": "The type of [dialog](https://developers.google.com/chat/how-tos/dialogs) event received.",
          "enumDescriptions": [
            "This could be used when the corresponding event is not dialog related. For example an @mention.",
            "Any user action that opens a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "A card click event from a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "The [dialog](https://developers.google.com/chat/how-tos/dialogs) was cancelled."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "REQUEST_DIALOG",
            "SUBMIT_DIALOG",
            "CANCEL_DIALOG"
          ]
        },
        "isDialogEvent": {
          "description": "True when the event is related to [dialogs](https://developers.google.com/chat/how-tos/dialogs).",
          "type": "boolean"
        },
        "message": {
          "description": "The message that triggered the event, if applicable.",
          "$ref": "Message"
        },
        "threadKey": {
          "description": "The Chat app-defined key for the thread related to the event. See [`spaces.messages.thread.threadKey`](/chat/api/reference/rest/v1/spaces.messages#Thread.FIELDS.thread_key) for more information.",
          "type": "string"
        },
        "configCompleteRedirectUrl": {
          "type": "string",
          "description": "The URL the Chat app should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. For more information, see [Connect a Chat app with other services & tools](https://developers.google.com/chat/how-tos/connect-web-services-tools)."
        },
        "token": {
          "description": "A secret value that legacy Chat apps can use to verify if a request is from Google. Google randomly generates the token, and its value remains static. You can obtain, revoke, or regenerate the token from the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat) in the Google Cloud Console. Modern Chat apps don't use this field. It is absent from API responses and the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat).",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "The user that triggered the event."
        },
        "space": {
          "$ref": "Space",
          "description": "The space in which the event occurred."
        },
        "eventTime": {
          "description": "The timestamp indicating when the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "action": {
          "$ref": "FormAction",
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/chat/how-tos/cards-onclick) for more information."
        }
      },
      "type": "object"
    },
    "Image": {
      "id": "Image",
      "type": "object",
      "description": "An image that's specified by a URL and can have an `onclick` action.",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "aspectRatio": {
          "type": "number",
          "description": "The aspect ratio of this image (width and height). This field lets you reserve the right height for the image while waiting for it to load. It's not meant to override the built-in aspect ratio of the image. If unset, the server fills it by prefetching the image.",
          "format": "double"
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The `onclick` action."
        }
      }
    },
    "Color": {
      "properties": {
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page does not have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "Color"
    },
    "GoogleAppsCardV1Divider": {
      "id": "GoogleAppsCardV1Divider",
      "properties": {},
      "type": "object",
      "description": "Displays a divider between widgets as a horizontal line. For example, the following JSON creates a divider: ``` \"divider\": {} ```"
    },
    "GoogleAppsCardV1GridItem": {
      "description": "Represents an item in a grid layout. Items can contain text, an image, or both text and an image.",
      "type": "object",
      "id": "GoogleAppsCardV1GridItem",
      "properties": {
        "subtitle": {
          "type": "string",
          "description": "The grid item's subtitle."
        },
        "id": {
          "type": "string",
          "description": "A user-specified identifier for this grid item. This identifier is returned in the parent grid's `onClick` callback parameters."
        },
        "title": {
          "description": "The grid item's title.",
          "type": "string"
        },
        "layout": {
          "description": "The layout to use for the grid item.",
          "type": "string",
          "enumDescriptions": [
            "No layout specified.",
            "The title and subtitle are shown below the grid item's image.",
            "The title and subtitle are shown above the grid item's image."
          ],
          "enum": [
            "GRID_ITEM_LAYOUT_UNSPECIFIED",
            "TEXT_BELOW",
            "TEXT_ABOVE"
          ]
        },
        "image": {
          "$ref": "GoogleAppsCardV1ImageComponent",
          "description": "The image that displays in the grid item."
        }
      }
    },
    "SlashCommand": {
      "type": "object",
      "id": "SlashCommand",
      "properties": {
        "commandId": {
          "description": "The ID of the slash command invoked.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A [slash command](https://developers.google.com/chat/how-tos/slash-commands) in Google Chat."
    },
    "GoogleAppsCardV1ActionParameter": {
      "type": "object",
      "properties": {
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        },
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        }
      },
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze one day, or snooze next week. You might use `action method = snooze()`, passing the snooze type and snooze time in the list of string parameters. To learn more, see [`CommonEventObject`](https://developers.google.com/chat/api/reference/rest/v1/Event#commoneventobject).",
      "id": "GoogleAppsCardV1ActionParameter"
    },
    "GoogleAppsCardV1Section": {
      "properties": {
        "header": {
          "type": "string",
          "description": "Text that appears at the top of a section. Supports simple HTML formatted text. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting)."
        },
        "widgets": {
          "items": {
            "$ref": "GoogleAppsCardV1Widget"
          },
          "description": "All the widgets in the section. Must contain at least one widget.",
          "type": "array"
        },
        "uncollapsibleWidgetsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of uncollapsible widgets which remain visible even when a section is collapsed. For example, when a section contains five widgets and the `uncollapsibleWidgetsCount` is set to `2`, the first two widgets are always shown and the last three are collapsed by default. The `uncollapsibleWidgetsCount` is taken into account only when `collapsible` is `true`."
        },
        "collapsible": {
          "type": "boolean",
          "description": "Indicates whether this section is collapsible. Collapsible sections hide some or all widgets, but users can expand the section to reveal the hidden widgets by clicking **Show more**. Users can hide the widgets again by clicking **Show less**. To determine which widgets are hidden, specify `uncollapsibleWidgetsCount`."
        }
      },
      "id": "GoogleAppsCardV1Section",
      "type": "object",
      "description": "A section contains a collection of widgets that are rendered vertically in the order that they're specified."
    },
    "SetUpSpaceRequest": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "id": "SetUpSpaceRequest",
      "properties": {
        "space": {
          "$ref": "Space",
          "description": "Required. The `Space.spaceType` field is required. To create a space, set `Space.spaceType` to `SPACE` and set `Space.displayName`. To create a group chat, set `Space.spaceType` to `GROUP_CHAT`. Don't set `Space.displayName`. To create a 1:1 conversation between humans, set `Space.spaceType` to `DIRECT_MESSAGE` and set `Space.singleUserBotDm` to `false`. Don't set `Space.displayName` or `Space.spaceDetails`. To create an 1:1 conversation between a human and the calling Chat app, set `Space.spaceType` to `DIRECT_MESSAGE` and `Space.singleUserBotDm` to `true`. Don't set `Space.displayName` or `Space.spaceDetails`. If a `DIRECT_MESSAGE` space already exists, that space is returned instead of creating a new space."
        },
        "requestId": {
          "description": "Optional. A unique identifier for this request. A random UUID is recommended. Specifying an existing request ID returns the space created with that ID instead of creating a new space. Specifying an existing request ID from the same Chat app with a different authenticated user returns an error.",
          "type": "string"
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "type": "array",
          "description": "Optional. The initial set of in-domain users invited to join the space. The calling user is automatically added to the space, and shouldn't be specified as a membership. The set currently allows up to 20 memberships (in addition to the caller). The `Membership.member` field must contain a user with `name` populated and `User.Type.HUMAN`. All other fields are ignored. Optional when setting `Space.spaceType` to `SPACE`. Required when setting `Space.spaceType` to `GROUP_CHAT`, along with at least two memberships. Required when setting `Space.spaceType` to `DIRECT_MESSAGE` with a human user, along with exactly one membership. Must be empty when creating a 1:1 conversation between a human and the calling Chat app (when setting `Space.spaceType` to `DIRECT_MESSAGE` and `Space.singleUserBotDm` to `true`). Not supported: Inviting guest users, or adding other Chat apps."
        }
      }
    },
    "CardWithId": {
      "properties": {
        "cardId": {
          "description": "Required for `cardsV2` messages. Chat app-specified identifier for this widget. Scoped within a message.",
          "type": "string"
        },
        "card": {
          "description": "Cards support a defined layout, interactive UI elements like buttons, and rich media like images. Use this card to present detailed information, gather information from users, and guide users to take a next step.",
          "$ref": "GoogleAppsCardV1Card"
        }
      },
      "id": "CardWithId",
      "type": "object",
      "description": "Widgets for Chat apps to specify."
    },
    "GoogleAppsCardV1CardAction": {
      "properties": {
        "onClick": {
          "description": "The `onClick` action for this action item.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "actionLabel": {
          "type": "string",
          "description": "The label that displays as the action menu item."
        }
      },
      "description": "A card action is the action associated with the card. For example, an invoice card might include actions such as delete invoice, email invoice, or open the invoice in a browser. Not supported by Chat apps.",
      "type": "object",
      "id": "GoogleAppsCardV1CardAction"
    },
    "GoogleAppsCardV1SwitchControl": {
      "properties": {
        "value": {
          "description": "The value entered by a user, returned as part of a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs).",
          "type": "string"
        },
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "The action to perform when the switch state is changed, such as what function to run."
        },
        "controlType": {
          "type": "string",
          "enumDescriptions": [
            "A toggle-style switch.",
            "Deprecated in favor of `CHECK_BOX`.",
            "A checkbox."
          ],
          "description": "How the switch appears in the user interface.",
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ]
        },
        "selected": {
          "description": "When `true`, the switch is selected.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name by which the switch widget is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs)."
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1SwitchControl",
      "description": "Either a toggle-style switch or a checkbox inside a `decoratedText` widget. Only supported in the `decoratedText` widget."
    },
    "ImageButton": {
      "type": "object",
      "properties": {
        "icon": {
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "description": "The icon specified by an `enum` that indices to an icon provided by Chat API.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The `onclick` action."
        },
        "name": {
          "description": "The name of this `image_button` that's used for accessibility. Default value is provided if this name isn't specified.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        }
      },
      "description": "An image button with an `onclick` action.",
      "id": "ImageButton"
    },
    "TextParagraph": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "TextParagraph",
      "description": "A paragraph of text. Formatted text supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/chat/api/guides/message-formats/cards#card_text_formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
      "type": "object"
    },
    "GoogleAppsCardV1Image": {
      "properties": {
        "altText": {
          "type": "string",
          "description": "The alternative text of this image that's used for accessibility."
        },
        "imageUrl": {
          "description": "The HTTPS URL that hosts the image. For example: ``` https://developers.google.com/chat/images/quickstart-app-avatar.png ```",
          "type": "string"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "When a user clicks the image, the click triggers this action."
        }
      },
      "id": "GoogleAppsCardV1Image",
      "description": "An image that is specified by a URL and can have an `onClick` action.",
      "type": "object"
    },
    "GoogleAppsCardV1SelectionItem": {
      "id": "GoogleAppsCardV1SelectionItem",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value associated with this item. The client should use this as a form input value. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs)."
        },
        "selected": {
          "description": "When `true`, more than one item is selected. If more than one item is selected for radio buttons and dropdown menus, the first selected item is received and the ones after are ignored.",
          "type": "boolean"
        },
        "text": {
          "type": "string",
          "description": "The text that identifies or describes the item to users."
        }
      },
      "type": "object",
      "description": "An item that users can select in a selection input, such as a checkbox or switch."
    },
    "SpaceDetails": {
      "id": "SpaceDetails",
      "description": "Details about the space including description and rules.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A description of the space. For example, describe the space's discussion topic, functional purpose, or participants. Supports up to 150 characters."
        },
        "guidelines": {
          "type": "string",
          "description": "Optional. The space's rules, expectations, and etiquette. Supports up to 5,000 characters."
        }
      },
      "type": "object"
    },
    "TextButton": {
      "id": "TextButton",
      "description": "A button with text and `onclick` action.",
      "type": "object",
      "properties": {
        "onClick": {
          "description": "The `onclick` action of the button.",
          "$ref": "OnClick"
        },
        "text": {
          "type": "string",
          "description": "The text of the button."
        }
      }
    },
    "CardHeader": {
      "id": "CardHeader",
      "properties": {
        "imageStyle": {
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ],
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ],
          "type": "string",
          "description": "The image's type (for example, square border or circular border)."
        },
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each takes up one line. If only the title is specified, it takes up both lines."
        },
        "subtitle": {
          "description": "The subtitle of the card header.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1OnClick": {
      "description": "Represents how to respond when users click an interactive element on a card, such as a button.",
      "id": "GoogleAppsCardV1OnClick",
      "properties": {
        "openLink": {
          "$ref": "GoogleAppsCardV1OpenLink",
          "description": "If specified, this `onClick` triggers an open link action."
        },
        "openDynamicLinkAction": {
          "description": "An add-on triggers this action when the action needs to open a link. This differs from the `open_link` above in that this needs to talk to server to get the link. Thus some preparation work is required for web client to do before the open link action response comes back.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "card": {
          "description": "A new card is pushed to the card stack after clicking if specified. Supported by Google Workspace Add-ons, but not Chat apps.",
          "$ref": "GoogleAppsCardV1Card"
        },
        "action": {
          "description": "If specified, an action is triggered by this `onClick`.",
          "$ref": "GoogleAppsCardV1Action"
        }
      },
      "type": "object"
    },
    "ActionResponse": {
      "type": "object",
      "id": "ActionResponse",
      "description": "Parameters that a Chat app can use to configure how its response is posted.",
      "properties": {
        "type": {
          "description": "Input only. The type of Chat app response.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "UPDATE_USER_MESSAGE_CARDS",
            "REQUEST_CONFIG",
            "DIALOG"
          ],
          "enumDescriptions": [
            "Default type that's handled as `NEW_MESSAGE`.",
            "Post as a new message in the topic.",
            "Update the Chat app's message. This is only permitted on a `CARD_CLICKED` event where the message sender type is `BOT`.",
            "Update the cards on a user's message. This is only permitted as a response to a `MESSAGE` event with a matched url, or a `CARD_CLICKED` event where the message sender type is `HUMAN`. Text is ignored.",
            "Privately ask the user for additional authentication or configuration.",
            "Presents a [dialog](https://developers.google.com/chat/how-tos/dialogs)."
          ]
        },
        "dialogAction": {
          "$ref": "DialogAction",
          "description": "Input only. A response to an event related to a [dialog](https://developers.google.com/chat/how-tos/dialogs). Must be accompanied by `ResponseType.Dialog`."
        },
        "url": {
          "type": "string",
          "description": "Input only. URL for users to authenticate or configure. (Only for `REQUEST_CONFIG` response types.)"
        }
      }
    },
    "GoogleAppsCardV1FooterWidget": {
      "properties": {
        "buttonList": {
          "description": "ButtonList widget.",
          "$ref": "GoogleAppsCardV1ButtonList"
        },
        "textParagraph": {
          "description": "TextParagraph widget.",
          "$ref": "GoogleAppsCardV1TextParagraph"
        },
        "decoratedText": {
          "description": "DecoratedText widget.",
          "$ref": "GoogleAppsCardV1DecoratedText"
        },
        "dateTimePicker": {
          "$ref": "GoogleAppsCardV1DateTimePicker",
          "description": "DateTimePicker widget."
        },
        "textInput": {
          "$ref": "GoogleAppsCardV1TextInput",
          "description": "TextInput widget."
        }
      },
      "type": "object",
      "description": "The CardFixedFooter can contain a list of these widgets.",
      "id": "GoogleAppsCardV1FooterWidget"
    },
    "User": {
      "description": "A user in Google Chat.",
      "type": "object",
      "properties": {
        "isAnonymous": {
          "description": "Output only. When `true`, the user is deleted or their profile is not visible.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Resource name for a Google Chat user. Format: `users/{user}`. `users/app` can be used as an alias for the calling app bot user. For human users, `{user}` is the same user identifier as: - the `{person_id`} for the [Person](https://developers.google.com/people/api/rest/v1/people) in the People API, where the Person `resource_name` is `people/{person_id}`. For example, `users/123456789` in Chat API represents the same person as `people/123456789` in People API. - the `id` for a [user](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users) in the Admin SDK Directory API.",
          "type": "string"
        },
        "type": {
          "description": "User type.",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Chat app user."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "type": "string"
        },
        "domainId": {
          "type": "string",
          "description": "Unique identifier of the user's Google Workspace domain."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The user's display name.",
          "type": "string"
        }
      },
      "id": "User"
    },
    "DialogAction": {
      "id": "DialogAction",
      "properties": {
        "actionStatus": {
          "$ref": "ActionStatus",
          "description": "Input only. Status for a request to either invoke or submit a [dialog](https://developers.google.com/chat/how-tos/dialogs). Displays a status and message to users, if necessary. For example, in case of an error or success."
        },
        "dialog": {
          "$ref": "Dialog",
          "description": "Input only. [Dialog](https://developers.google.com/chat/how-tos/dialogs) for the request."
        }
      },
      "type": "object",
      "description": "Contains a [dialog](https://developers.google.com/chat/how-tos/dialogs) and request status code."
    },
    "Emoji": {
      "type": "object",
      "id": "Emoji",
      "properties": {
        "unicode": {
          "type": "string",
          "description": "A basic emoji represented by a unicode string."
        },
        "customEmoji": {
          "$ref": "CustomEmoji",
          "description": "Output only. A custom emoji.",
          "readOnly": true
        }
      },
      "description": "An emoji that is used as a reaction to a message. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
[...]
