{
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "description": "Enables apps to fetch information and perform actions in Google Chat. Authentication is a prerequisite for using the Google Chat REST API.",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "version_module": true,
  "schemas": {
    "ActionParameter": {
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        },
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ActionParameter"
    },
    "GoogleAppsCardV1BorderStyle": {
      "description": "Represents the complete border style applied to items in a widget.",
      "id": "GoogleAppsCardV1BorderStyle",
      "properties": {
        "type": {
          "enumDescriptions": [
            "No value specified.",
            "Default value. No border.",
            "Outline."
          ],
          "enum": [
            "BORDER_TYPE_UNSPECIFIED",
            "NO_BORDER",
            "STROKE"
          ],
          "type": "string",
          "description": "The border type."
        },
        "strokeColor": {
          "description": "The colors to use when the type is `BORDER_TYPE_STROKE`.",
          "$ref": "Color"
        },
        "cornerRadius": {
          "description": "The corner radius for the border.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "FormAction": {
      "id": "FormAction",
      "properties": {
        "parameters": {
          "description": "List of action parameters.",
          "items": {
            "$ref": "ActionParameter"
          },
          "type": "array"
        },
        "actionMethodName": {
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the Chat app as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form."
    },
    "Color": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "Color",
      "type": "object",
      "properties": {
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "blue": {
          "format": "float",
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "TimeZone": {
      "description": "The timezone ID and offset from Coordinated Universal Time (UTC). Not supported by Chat apps.",
      "properties": {
        "offset": {
          "format": "int32",
          "description": "The user timezone offset, in milliseconds, from Coordinated Universal Time (UTC).",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "The [IANA TZ](https://www.iana.org/time-zones) time zone database code, such as \"America/Toronto\"."
        }
      },
      "id": "TimeZone",
      "type": "object"
    },
    "ChatAppLogEntry": {
      "id": "ChatAppLogEntry",
      "description": "JSON payload of error messages. If the Cloud Logging API is enabled, these error messages are logged to [Google Cloud Logging](https://cloud.google.com/logging/docs).",
      "properties": {
        "deployment": {
          "description": "The deployment that caused the error. For Chat apps built in Apps Script, this is the deployment ID defined by Apps Script.",
          "type": "string"
        },
        "deploymentFunction": {
          "type": "string",
          "description": "The unencrypted `callback_method` name that was running when the error was encountered."
        },
        "error": {
          "description": "The error code and message.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `pageToken` to retrieve the next page of results. If empty, there are no subsequent pages.",
          "type": "string"
        },
        "memberships": {
          "type": "array",
          "description": "List of memberships in the requested (or first) page.",
          "items": {
            "$ref": "Membership"
          }
        }
      }
    },
    "GoogleAppsCardV1SelectionItem": {
      "id": "GoogleAppsCardV1SelectionItem",
      "properties": {
        "selected": {
          "type": "boolean",
          "description": "When `true`, more than one item is selected. If more than one item is selected for radio buttons and dropdown menus, the first selected item is received and the ones after are ignored."
        },
        "text": {
          "description": "The text displayed to users.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value associated with this item. The client should use this as a form input value. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs)."
        }
      },
      "type": "object",
      "description": "A selectable item in a selection input, such as a check box or a switch."
    },
    "AttachmentDataRef": {
      "id": "AttachmentDataRef",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data."
        }
      }
    },
    "TextParagraph": {
      "type": "object",
      "id": "TextParagraph",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "description": "A paragraph of text. Formatted text supported."
    },
    "SpaceDetails": {
      "description": "Details about the space including description and rules.",
      "type": "object",
      "properties": {
        "guidelines": {
          "description": "Optional. The space's rules, expectations, and etiquette. Supports up to 5,000 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the space. It could describe the space's discussion topic, functional purpose, or participants. Supports up to 150 characters."
        }
      },
      "id": "SpaceDetails"
    },
    "Dialog": {
      "id": "Dialog",
      "properties": {
        "body": {
          "description": "Input only. Body of the dialog, which is rendered in a modal. Google Chat apps do not support the following card entities: `DateTimePicker`, `OnChangeAction`.",
          "$ref": "GoogleAppsCardV1Card"
        }
      },
      "description": "Wrapper around the card body of the dialog.",
      "type": "object"
    },
    "CardWithId": {
      "properties": {
        "card": {
          "description": "Cards support a defined layout, interactive UI elements like buttons, and rich media like images. Use this card to present detailed information, gather information from users, and guide users to take a next step.",
          "$ref": "GoogleAppsCardV1Card"
        },
        "cardId": {
          "type": "string",
          "description": "Required for `cardsV2` messages. Chat app-specified identifier for this widget. Scoped within a message."
        }
      },
      "id": "CardWithId",
      "type": "object",
      "description": "Widgets for Chat apps to specify."
    },
    "GoogleAppsCardV1Action": {
      "type": "object",
      "id": "GoogleAppsCardV1Action",
      "description": "An action that describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "properties": {
        "persistValues": {
          "type": "boolean",
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. When using [LoadIndicator.NONE](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for actions, `persist_values` = `true`is recommended, as it ensures that any changes made by the user after form or on change actions are sent to the server are not overwritten by the response. If `false`, the form values are cleared when the action is triggered. When `persist_values` is set to `false`, it is strongly recommended that the card use [LoadIndicator.SPINNER](https://developers.google.com/workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for all actions, as this locks the UI to ensure no changes are made by the user while the action is being processed. Not supported by Chat apps."
        },
        "loadIndicator": {
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "description": "Specifies the loading indicator that the action displays while making the call to the action.",
          "type": "string",
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ]
        },
        "function": {
          "description": "A custom function to invoke when the containing element is clicked or othrwise activated. For example usage, see [Create interactive cards](https://developers.google.com/chat/how-tos/cards-onclick).",
          "type": "string"
        },
        "interaction": {
          "enum": [
            "INTERACTION_UNSPECIFIED",
            "OPEN_DIALOG"
          ],
          "enumDescriptions": [
            "Default value. The `action` executes as normal.",
            "Opens a [dialog](https://developers.google.com/chat/how-tos/dialogs), a windowed, card-based interface that Chat apps use to interact with users. Only supported by Chat apps in response to button-clicks on card messages. Not supported by Google Workspace Add-ons. If specified for an add-on, the entire card is stripped and nothing is shown in the client."
          ],
          "description": "Optional. Required when opening a [dialog](https://developers.google.com/chat/how-tos/dialogs). What to do in response to an interaction with a user, such as a user clicking button on a card message. If unspecified, the app responds by executing an `action` - like opening a link or running a function - as normal. By specifying an `interaction`, the app can respond in special interactive ways. For example, by setting `interaction` to `OPEN_DIALOG`, the app can open a [dialog](https://developers.google.com/chat/how-tos/dialogs). When specified, a loading indicator is not shown. Supported by Chat apps, but not Google Workspace Add-ons. If specified for an add-on, the entire card is stripped and nothing is shown in the client.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          },
          "description": "List of action parameters."
        }
      }
    },
    "GoogleAppsCardV1SuggestionItem": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The value of a suggested input to a text input field. This is equivalent to what users would enter themselves.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCardV1SuggestionItem",
      "description": "One suggested value that users can enter in a text input field."
    },
    "GoogleAppsCardV1TextParagraph": {
      "type": "object",
      "description": "A paragraph of text that supports formatting. See [Text formatting](https://developers.google.com/workspace/add-ons/concepts/widgets#text_formatting) for details.",
      "id": "GoogleAppsCardV1TextParagraph",
      "properties": {
        "text": {
          "description": "The text that's shown in the widget.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1Divider": {
      "id": "GoogleAppsCardV1Divider",
      "properties": {},
      "description": "Displays a divider between widgets, a horizontal line. For example, the following JSON creates a divider: ``` \"divider\": { } ```",
      "type": "object"
    },
    "GoogleAppsCardV1OnClick": {
      "type": "object",
      "description": "Represents how to respond when users click an interactive element on a card, such as a button.",
      "properties": {
        "card": {
          "description": "A new card is pushed to the card stack after clicking if specified. Supported by Google Workspace Add-ons, but not Chat apps.",
          "$ref": "GoogleAppsCardV1Card"
        },
        "action": {
          "description": "If specified, an action is triggered by this `onClick`.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "openDynamicLinkAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "An add-on triggers this action when the action needs to open a link. This differs from the `open_link` above in that this needs to talk to server to get the link. Thus some preparation work is required for web client to do before the open link action response comes back."
        },
        "openLink": {
          "description": "If specified, this `onClick` triggers an open link action.",
          "$ref": "GoogleAppsCardV1OpenLink"
        }
      },
      "id": "GoogleAppsCardV1OnClick"
    },
    "GoogleAppsCardV1DecoratedText": {
      "type": "object",
      "properties": {
        "button": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "A button that can be clicked to trigger an action."
        },
        "icon": {
          "description": "Deprecated in favor of `startIcon`.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "text": {
          "type": "string",
          "description": "Required. The primary text. Supports simple formatting. See Text formatting for formatting details."
        },
        "startIcon": {
          "description": "The icon displayed in front of the text.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "endIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "An icon displayed after the text. Supports [standard](https://developers.google.com/chat/api/guides/message-formats/cards#builtinicons) and [custom](https://developers.google.com/chat/api/guides/message-formats/cards#customicons) icons."
        },
        "topLabel": {
          "type": "string",
          "description": "The text that appears above `text`. Always truncates. Supports simple formatting. See Text formatting for formatting details."
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text that appears below `text`. Always truncates. Supports simple formatting. See Text formatting for formatting details."
        },
        "switchControl": {
          "description": "A switch widget can be clicked to change its state and trigger an action. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon.",
          "$ref": "GoogleAppsCardV1SwitchControl"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "When users click on `topLabel` or `bottomLabel`, this action triggers."
        },
        "wrapText": {
          "type": "boolean",
          "description": "The wrap text setting. If `true`, the text wraps and displays on multiple lines. Otherwise, the text is truncated. Only applies to `text`, not `topLabel` and `bottomLabel`."
        }
      },
      "id": "GoogleAppsCardV1DecoratedText",
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget or a button after the text."
    },
    "CardAction": {
      "type": "object",
      "id": "CardAction",
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser. Not supported by Google Chat apps.",
      "properties": {
        "actionLabel": {
          "description": "The label used to be displayed in the action menu item.",
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action for this action item.",
          "$ref": "OnClick"
        }
      }
    },
    "SlashCommand": {
      "type": "object",
      "properties": {
        "commandId": {
          "description": "The id of the slash command invoked.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "SlashCommand",
      "description": "A [slash command](https://developers.google.com/chat/how-tos/slash-commands) in Google Chat."
    },
    "MatchedUrl": {
      "id": "MatchedUrl",
      "description": "A matched url in a Chat message. Chat apps can preview matched URLs. For more information, refer to [Preview links](https://developers.google.com/chat/how-tos/preview-links).",
      "properties": {
        "url": {
          "description": "Output only. The url that was matched.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImageButton": {
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action."
        },
        "name": {
          "description": "The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify.",
          "type": "string"
        },
        "icon": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The icon specified by an enum that indices to an icon provided by Chat API.",
          "type": "string",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ]
        }
      },
      "description": "An image button with an onclick action.",
      "id": "ImageButton",
      "type": "object"
    },
    "GoogleAppsCardV1ImageComponent": {
      "properties": {
        "borderStyle": {
          "description": "The border style to apply to the image.",
          "$ref": "GoogleAppsCardV1BorderStyle"
        },
        "altText": {
          "description": "The accessibility label for the image.",
          "type": "string"
        },
        "cropStyle": {
          "$ref": "GoogleAppsCardV1ImageCropStyle",
          "description": "The crop style to apply to the image."
        },
        "imageUri": {
          "description": "The image URL.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents an image.",
      "id": "GoogleAppsCardV1ImageComponent"
    },
    "GoogleAppsCardV1ActionParameter": {
      "type": "object",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters. To learn more, see [CommonEventObject](https://developers.google.com/chat/api/reference/rest/v1/Event#commoneventobject).",
      "id": "GoogleAppsCardV1ActionParameter",
      "properties": {
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        },
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        }
      }
    },
    "GoogleAppsCardV1TextInput": {
      "type": "object",
      "id": "GoogleAppsCardV1TextInput",
      "properties": {
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "What to do when a change occurs in the text input field. Examples of changes include a user adding to the field, or deleting text. Examples of actions to take include running a custom function or opening a [dialog](https://developers.google.com/chat/how-tos/dialogs) in Google Chat."
        },
        "type": {
          "description": "How a text input field appears in the user interface. For example, whether the field is single or multi-line.",
          "type": "string",
          "enum": [
            "SINGLE_LINE",
            "MULTIPLE_LINE"
          ],
          "enumDescriptions": [
            "The text input field has a fixed height of one line.",
            "The text input field has a fixed height of multiple lines."
          ]
        },
        "label": {
          "type": "string",
          "description": "The text that appears above the text input field in the user interface. Specify text that helps the user enter the information your app needs. For example, if you are asking someone's name, but specifically need their surname, write \"surname\" instead of \"name\". Required if `hintText` is unspecified. Otherwise, optional."
        },
        "value": {
          "description": "The value entered by a user, returned as part of a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs).",
          "type": "string"
        },
        "autoCompleteAction": {
          "description": "Optional. Specify what action to take when the text input field provides suggestions to users who interact with it. If unspecified, the suggestions are set by `initialSuggestions` and are processed by the client. If specified, the app takes the action specified here, such as running a custom function. Supported by Google Workspace Add-ons, but not Chat apps. Support by Chat apps coming soon.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "name": {
          "description": "The name by which the text input is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs).",
          "type": "string"
        },
        "hintText": {
          "description": "Text that appears below the text input field meant to assist users by prompting them to enter a certain value. This text is always visible. Required if `label` is unspecified. Otherwise, optional.",
          "type": "string"
        },
        "initialSuggestions": {
          "$ref": "GoogleAppsCardV1Suggestions",
          "description": "Suggested values that users can enter. These values appear when users click inside the text input field. As users type, the suggested values dynamically filter to match what the users have typed. For example, a text input field for programming language might suggest Java, JavaScript, Python, and C++. When users start typing \"Jav\", the list of suggestions filters to show just Java and JavaScript. Suggested values help guide users to enter values that your app can make sense of. When referring to JavaScript, some users might enter \"javascript\" and others \"java script\". Suggesting \"JavaScript\" can standardize how users interact with your app. When specified, `TextInput.type` is always `SINGLE_LINE`, even if it is set to `MULTIPLE_LINE`."
        }
      },
      "description": "A field in which users can enter text. Supports suggestions and on-change actions. Chat apps receive and can process the value of entered text during form input events. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs). When you need to collect abstract data from users, use a text input. To collect defined data from users, use the selection input widget instead. Only supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) coming soon."
    },
    "OnClick": {
      "type": "object",
      "id": "OnClick",
      "description": "An onclick action (e.g. open a link).",
      "properties": {
        "action": {
          "description": "A form action will be triggered by this onclick if specified.",
          "$ref": "FormAction"
        },
        "openLink": {
          "description": "This onclick triggers an open link action if specified.",
          "$ref": "OpenLink"
        }
      }
    },
    "GoogleAppsCardV1Card": {
      "type": "object",
      "description": "Cards support a defined layout, interactive UI elements like buttons, and rich media like images. Use cards to present detailed information, gather information from users, and guide users to take a next step. In Google Chat, cards appear in several places: - As stand-alone messages. - Accompanying a text message, just beneath the text message. - As a [dialog](https://developers.google.com/chat/how-tos/dialogs). The following example JSON creates a \"contact card\" that features: - A header with the contact's name, job title, avatar picture. - A section with the contact information, including formatted text. - Buttons that users can click to share the contact or see more or less info. ![Example contact card](https://developers.google.com/chat/images/card_api_reference.png) ``` { \"cardsV2\": [ { \"cardId\": \"unique-card-id\", \"card\": { \"header\": { \"title\": \"Sasha\", \"subtitle\": \"Software Engineer\", \"imageUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\", \"imageType\": \"CIRCLE\", \"imageAltText\": \"Avatar for Sasha\", }, \"sections\": [ { \"header\": \"Contact Info\", \"collapsible\": true, \"uncollapsibleWidgetsCount\": 1, \"widgets\": [ { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"EMAIL\", }, \"text\": \"sasha@example.com\", } }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PERSON\", }, \"text\": \"Online\", }, }, { \"decoratedText\": { \"startIcon\": { \"knownIcon\": \"PHONE\", }, \"text\": \"+1 (555) 555-1234\", } }, { \"buttonList\": { \"buttons\": [ { \"text\": \"Share\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/share\", } } }, { \"text\": \"Edit\", \"onClick\": { \"action\": { \"function\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"EDIT\", } ], } } }, ], } }, ], }, ], }, } ], } ```",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the card. Used as a card identifier in card navigation. Because Chat apps don't support card navigation, they ignore this field."
        },
        "fixedFooter": {
          "$ref": "GoogleAppsCardV1CardFixedFooter",
          "description": "The fixed footer shown at the bottom of this card. Setting `fixedFooter` without specifying a `primaryButton` or a `secondaryButton` causes an error. Chat apps support `fixedFooter` in [dialogs](https://developers.google.com/chat/how-tos/dialogs), but not in [card messages](https://developers.google.com/chat/api/guides/message-formats/cards)."
        },
        "header": {
          "description": "The header of the card. A header usually contains a leading image and a title. Headers always appear at the top of a card.",
          "$ref": "GoogleAppsCardV1CardHeader"
        },
        "cardActions": {
          "items": {
            "$ref": "GoogleAppsCardV1CardAction"
          },
          "type": "array",
          "description": "The card's actions. Actions are added to the card's toolbar menu. Because Chat app cards have no toolbar, `cardActions[]` is not supported by Chat apps. For example, the following JSON constructs a card action menu with Settings and Send Feedback options: ``` \"card_actions\": [ { \"actionLabel\": \"Settings\", \"onClick\": { \"action\": { \"functionName\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"SETTING\" } ], \"loadIndicator\": \"LoadIndicator.SPINNER\" } } }, { \"actionLabel\": \"Send Feedback\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/feedback\" } } } ] ```"
        },
        "displayStyle": {
          "enumDescriptions": [
            "Do not use.",
            "The header of the card appears at the bottom of the sidebar, partially covering the current top card of the stack. Clicking the header pops the card into the card stack. If the card has no header, a generated header is used instead.",
            "Default value. The card is shown by replacing the view of the top card in the card stack."
          ],
          "type": "string",
          "enum": [
            "DISPLAY_STYLE_UNSPECIFIED",
            "PEEK",
            "REPLACE"
          ],
          "description": "In Google Workspace add-ons, sets the display properties of the `peekCardHeader`. Not supported by Chat apps."
        },
        "peekCardHeader": {
          "$ref": "GoogleAppsCardV1CardHeader",
          "description": "When displaying contextual content, the peek card header acts as a placeholder so that the user can navigate forward between the homepage cards and the contextual cards. Not supported by Chat apps."
        },
        "sections": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Section"
          },
          "description": "Contains a collection of widgets. Each section has its own, optional header. Sections are visually separated by a line divider."
        }
      },
      "id": "GoogleAppsCardV1Card"
    },
    "GoogleAppsCardV1ImageCropStyle": {
      "description": "Represents the crop style applied to an image. For example, here's how to apply a 16 by 9 aspect ratio: ``` cropStyle { \"type\": \"RECTANGLE_CUSTOM\", \"aspectRatio\": 16/9 } ```",
      "type": "object",
      "properties": {
        "aspectRatio": {
          "type": "number",
          "format": "double",
          "description": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`. For example, here's how to apply a 16 by 9 aspect ratio: ``` cropStyle { \"type\": \"RECTANGLE_CUSTOM\", \"aspectRatio\": 16/9 } ```"
        },
        "type": {
          "type": "string",
          "enum": [
            "IMAGE_CROP_TYPE_UNSPECIFIED",
            "SQUARE",
            "CIRCLE",
            "RECTANGLE_CUSTOM",
            "RECTANGLE_4_3"
          ],
          "description": "The crop type.",
          "enumDescriptions": [
            "No value specified. Do not use.",
            "Default value. Applies a square crop.",
            "Applies a circular crop.",
            "Applies a rectangular crop with a custom aspect ratio. Set the custom aspect ratio with `aspectRatio`.",
            "Applies a rectangular crop with a 4:3 aspect ratio."
          ]
        }
      },
      "id": "GoogleAppsCardV1ImageCropStyle"
    },
    "GoogleAppsCardV1ButtonList": {
      "type": "object",
      "id": "GoogleAppsCardV1ButtonList",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          },
          "description": "An array of buttons."
        }
      },
      "description": "A list of buttons layed out horizontally."
    },
    "ActionResponse": {
      "type": "object",
      "properties": {
        "url": {
          "description": "Input only. URL for users to auth or config. (Only for REQUEST_CONFIG response types.)",
          "type": "string"
        },
        "dialogAction": {
          "$ref": "DialogAction",
          "description": "Input only. A response to an event related to a [dialog](https://developers.google.com/chat/how-tos/dialogs). Must be accompanied by `ResponseType.Dialog`."
        },
        "type": {
          "description": "Input only. The type of Chat app response.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "UPDATE_USER_MESSAGE_CARDS",
            "REQUEST_CONFIG",
            "DIALOG"
          ],
          "enumDescriptions": [
            "Default type; will be handled as NEW_MESSAGE.",
            "Post as a new message in the topic.",
            "Update the Chat app's message. This is only permitted on a CARD_CLICKED event where the message sender type is BOT.",
            "Update the cards on a user's message. This is only permitted as a response to a MESSAGE event with a matched url, or a CARD_CLICKED event where the message sender type is HUMAN. Text will be ignored.",
            "Privately ask the user for additional auth or config.",
            "Presents a [dialog](https://developers.google.com/chat/how-tos/dialogs)."
          ],
          "type": "string"
        }
      },
      "id": "ActionResponse",
      "description": "Parameters that a Chat app can use to configure how its response is posted."
    },
    "GoogleAppsCardV1CardHeader": {
      "id": "GoogleAppsCardV1CardHeader",
      "type": "object",
      "properties": {
        "imageType": {
          "type": "string",
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "description": "The shape used to crop the image.",
          "enumDescriptions": [
            "Default value. Applies a square mask to the image. For example, a 4x3 image becomes 3x3.",
            "Applies a circular mask to the image. For example, a 4x3 image becomes a circle with a diameter of 3."
          ]
        },
        "imageAltText": {
          "type": "string",
          "description": "The alternative text of this image which is used for accessibility."
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the card header. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines."
        },
        "imageUrl": {
          "type": "string",
          "description": "The HTTPS URL of the image in the card header."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header. If specified, appears on its own line below the `title`."
        }
      },
      "description": "Represents a card header."
    },
    "UserMentionMetadata": {
      "properties": {
        "type": {
          "description": "The type of user mention.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ],
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "The user mentioned."
        }
      },
      "type": "object",
      "description": "Annotation metadata for user mentions (@).",
      "id": "UserMentionMetadata"
    },
    "TextButton": {
      "type": "object",
      "description": "A button with text and onclick action.",
      "id": "TextButton",
      "properties": {
        "onClick": {
          "description": "The onclick action of the button.",
          "$ref": "OnClick"
        },
        "text": {
          "description": "The text of the button.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1Widget": {
      "description": "Each card is made up of widgets. A widget is a composite object that can represent one of text, images, buttons, and other object types.",
      "type": "object",
      "id": "GoogleAppsCardV1Widget",
      "properties": {
        "buttonList": {
          "description": "A list of buttons. For example, the following JSON creates two buttons. The first is a blue text button and the second is an image button that opens a link: ``` \"buttonList\": { \"buttons\": [ \"button\": { \"text\": \"Edit\", \"color\": { \"red\": 0, \"green\": 0, \"blue\": 1, \"alpha\": 1 } \"disabled\": true }, \"button\": { \"icon\": { \"knownIcon\": \"INVITE\" \"altText\": \"check calendar\" }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/calendar\" } } }, ] } ```",
          "$ref": "GoogleAppsCardV1ButtonList"
        },
        "image": {
          "description": "Displays an image. For example, the following JSON creates an image with alternative text: ``` \"image\": { \"imageUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\" \"altText\": \"Chat app avatar\" } ```",
          "$ref": "GoogleAppsCardV1Image"
        },
        "selectionInput": {
          "$ref": "GoogleAppsCardV1SelectionInput",
          "description": "Displays a selection control that lets users select items. Selection controls can be check boxes, radio buttons, switches, or dropdown menus. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon. For example, the following JSON creates a dropdown menu that lets users choose a size: ``` \"selectionInput\": { \"name\": \"size\", \"label\": \"Size\" \"type\": \"SelectionType.DROPDOWN\", \"items\": [ { \"text\": \"S\", \"value\": \"small\", \"selected\": false }, { \"text\": \"M\", \"value\": \"medium\", \"selected\": true }, { \"text\": \"L\", \"value\": \"large\", \"selected\": false }, { \"text\": \"XL\", \"value\": \"extra_large\", \"selected\": false } ] } ```"
        },
        "textInput": {
          "$ref": "GoogleAppsCardV1TextInput",
          "description": "Displays a text box that users can type into. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon. For example, the following JSON creates a text input for an email address: ``` \"textInput\": { \"name\": \"mailing_address\", \"label\": \"Mailing Address\" } ``` As another example, the following JSON creates a text input for a programming language with static suggestions: ``` \"textInput\": { \"name\": \"preferred_programing_language\", \"label\": \"Preferred Language\", \"initialSuggestions\": { \"items\": [ { \"text\": \"C++\" }, { \"text\": \"Java\" }, { \"text\": \"JavaScript\" }, { \"text\": \"Python\" } ] } } ```"
        },
        "textParagraph": {
          "description": "Displays a text paragraph. Supports [simple HTML formatted text](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting). For example, the following JSON creates a bolded text: ``` \"textParagraph\": { \"text\": \" *bold text*\" } ```",
          "$ref": "GoogleAppsCardV1TextParagraph"
        },
        "divider": {
          "description": "Displays a horizontal line divider between widgets. For example, the following JSON creates a divider: ``` \"divider\": { } ```",
          "$ref": "GoogleAppsCardV1Divider"
        },
        "dateTimePicker": {
          "description": "Displays a selection/input widget for date, time, or date and time. Not supported by Chat apps. Support by Chat apps is coming soon. For example, the following JSON creates a datetime picker to schedule an appointment: ``` \"date_time_picker\": { \"name\": \"appointment_time\", \"label\": \"Book your appointment at:\", \"type\": \"DateTimePickerType.DATE_AND_TIME\", \"valueMsEpoch\": \"796435200000\" } ```",
          "$ref": "GoogleAppsCardV1DateTimePicker"
        },
        "decoratedText": {
          "$ref": "GoogleAppsCardV1DecoratedText",
          "description": "Displays a decorated text item. For example, the following JSON creates a decorated text widget showing email address: ``` \"decoratedText\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"topLabel\": \"Email Address\", \"text\": \"sasha@example.com\", \"bottomLabel\": \"This is a new Email address!\", \"switchWidget\": { \"name\": \"has_send_welcome_email_to_sasha\", \"selected\": false, \"controlType\": \"ControlType.CHECKBOX\" } } ```"
        },
        "grid": {
          "$ref": "GoogleAppsCardV1Grid",
          "description": "Displays a grid with a collection of items. A grid supports any number of columns and items. The number of rows is determined by the upper bounds of the number items divided by the number of columns. A grid with 10 items and 2 columns has 5 rows. A grid with 11 items and 2 columns has 6 rows. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"numColumns\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4.0 }, \"items\": [ \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" ], \"onClick\": { \"openLink\": { \"url\":\"https://www.example.com\" } } } ```"
        }
      }
    },
    "Section": {
      "properties": {
        "widgets": {
          "type": "array",
          "items": {
            "$ref": "WidgetMarkup"
          },
          "description": "A section must contain at least 1 widget."
        },
        "header": {
          "description": "The header of the section, text formatted supported.",
          "type": "string"
        }
      },
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float).",
      "id": "Section",
      "type": "object"
    },
    "DeprecatedEvent": {
      "properties": {
        "action": {
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/chat/how-tos/cards-onclick) for more information.",
          "$ref": "FormAction"
        },
        "eventTime": {
          "type": "string",
          "description": "The timestamp indicating when the event occurred.",
          "format": "google-datetime"
        },
        "token": {
          "description": "A secret value that legacy Chat apps can use to verify if a request is from Google. Google randomly generates the token, and its value remains static. You can obtain, revoke, or regenerate the token from the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat) in the Google Cloud Console. Modern Chat apps don't use this field. It is absent from API responses and the [Chat API configuration page](https://console.cloud.google.com/apis/api/chat.googleapis.com/hangouts-chat).",
          "type": "string"
        },
        "isDialogEvent": {
          "description": "True when the event is related to [dialogs](https://developers.google.com/chat/how-tos/dialogs).",
          "type": "boolean"
        },
        "message": {
          "$ref": "Message",
          "description": "The message that triggered the event, if applicable."
        },
        "user": {
          "description": "The user that triggered the event.",
          "$ref": "User"
        },
        "dialogEventType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "REQUEST_DIALOG",
            "SUBMIT_DIALOG",
            "CANCEL_DIALOG"
          ],
          "enumDescriptions": [
            "This could be used when the corresponding event is not dialog related. For example an @mention.",
            "Any user action that opens a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "A card click event from a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
            "The [dialog](https://developers.google.com/chat/how-tos/dialogs) was cancelled."
          ],
          "description": "The type of [dialog](https://developers.google.com/chat/how-tos/dialogs) event received."
        },
        "common": {
          "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes information submitted by users interacting with [dialogs](https://developers.google.com/chat/how-tos/dialogs), like data entered on a card.",
          "$ref": "CommonEventObject"
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the Chat app should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/chat/how-tos/auth-3p) for more information.",
          "type": "string"
        },
        "threadKey": {
          "type": "string",
          "description": "The Chat app-defined key for the thread related to the event. See [`spaces.messages.thread.threadKey`](/chat/api/reference/rest/v1/spaces.messages#Thread.FIELDS.thread_key) for more information."
        },
        "space": {
          "$ref": "Space",
          "description": "The space in which the event occurred."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a space.",
            "The Chat app was added to a space.",
            "The Chat app was removed from a space.",
            "The Chat app's interactive card was clicked."
          ],
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ],
          "description": "The type of the event."
        }
      },
      "id": "DeprecatedEvent",
      "type": "object",
      "description": "Google Chat events."
    },
    "DateInput": {
      "properties": {
        "msSinceEpoch": {
          "type": "string",
          "format": "int64",
          "description": "Time since epoch time, in milliseconds."
        }
      },
      "id": "DateInput",
      "type": "object",
      "description": "Date input values. Not supported by Chat apps."
    },
    "DateTimeInput": {
      "id": "DateTimeInput",
      "description": "Date and time input values. Not supported by Chat apps.",
      "properties": {
        "hasTime": {
          "type": "boolean",
          "description": "Whether the `datetime` input includes a timestamp."
        },
        "hasDate": {
          "description": "Whether the `datetime` input includes a calendar date.",
          "type": "boolean"
        },
        "msSinceEpoch": {
          "type": "string",
          "description": "Time since epoch time, in milliseconds.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "OpenLink": {
      "description": "A link that opens a new window.",
      "id": "OpenLink",
      "properties": {
        "url": {
          "description": "The URL to open.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SlashCommandMetadata": {
      "description": "Annotation metadata for slash commands (/).",
      "id": "SlashCommandMetadata",
      "type": "object",
      "properties": {
        "commandName": {
          "type": "string",
          "description": "The name of the invoked slash command."
        },
        "commandId": {
          "format": "int64",
          "type": "string",
          "description": "The command id of the invoked slash command."
        },
        "triggersDialog": {
          "description": "Indicating whether the slash command is for a dialog.",
          "type": "boolean"
        },
        "bot": {
          "$ref": "User",
          "description": "The Chat app whose command was invoked."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add Chat app to space.",
            "Invoke slash command in space."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ],
          "description": "The type of slash command."
        }
      }
    },
    "CardHeader": {
      "type": "object",
      "id": "CardHeader",
      "properties": {
        "imageStyle": {
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ],
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ],
          "description": "The image's type (e.g. square border or circular border).",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines."
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image in the card header."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        }
      }
    },
    "GoogleAppsCardV1CardAction": {
      "id": "GoogleAppsCardV1CardAction",
      "description": "A card action is the action associated with the card. For example, an invoice card might include actions such as delete invoice, email invoice, or open the invoice in a browser. Not supported by Chat apps.",
      "properties": {
        "onClick": {
          "description": "The `onClick` action for this action item.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "actionLabel": {
          "description": "The label that displays as the action menu item.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommonEventObject": {
      "description": "Represents information about the user's client, such as locale, host app, and platform. For Chat apps, `CommonEventObject` includes data submitted by users interacting with cards, like data entered in [dialogs](https://developers.google.com/chat/how-tos/dialogs).",
      "properties": {
        "formInputs": {
          "additionalProperties": {
            "$ref": "Inputs"
          },
          "description": "A map containing the current values of the widgets in a card. The map keys are the string IDs assigned to each widget, and the values represent inputs to the widget. Depending on the input data type, a different object represents each input: For single-value widgets, `StringInput`. For multi-value widgets, an array of `StringInput` objects. For a date-time picker, a `DateTimeInput`. For a date-only picker, a `DateInput`. For a time-only picker, a `TimeInput`. Corresponds with the data entered by a user on a card in a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
          "type": "object"
        },
        "hostApp": {
          "description": "The hostApp enum which indicates the app the add-on is invoked from. Always `CHAT` for Chat apps.",
          "enumDescriptions": [
            "Google can't identify a host app.",
            "The add-on launches from Gmail.",
            "The add-on launches from Google Calendar.",
            "The add-on launches from Google Drive.",
            "Not used.",
            "The add-on launches from Google Docs.",
            "The add-on launches from Google Meet.",
            "The add-on launches from Google Sheets.",
            "The add-on launches from Google Slides.",
            "The add-on launches from Google Drawings.",
            "A Google Chat app. Not used for Google Workspace Add-ons."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_HOST_APP",
            "GMAIL",
            "CALENDAR",
            "DRIVE",
            "DEMO",
            "DOCS",
            "MEET",
            "SHEETS",
            "SLIDES",
            "DRAWINGS",
            "CHAT"
          ]
        },
        "invokedFunction": {
          "type": "string",
          "description": "Name of the invoked function associated with the widget. Only set for Chat apps."
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_PLATFORM",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "description": "The platform enum which indicates the platform where the event originates (`WEB`, `IOS`, or `ANDROID`). Not supported by Chat apps.",
          "type": "string"
        },
        "userLocale": {
          "description": "The full `locale.displayName` in the format of [ISO 639 language code]-[ISO 3166 country/region code] such as \"en-US\". Not supported by Chat apps.",
          "type": "string"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "The timezone ID and offset from Coordinated Universal Time (UTC)."
        },
        "parameters": {
          "description": "Custom [parameters](/chat/api/reference/rest/v1/cards#ActionParameter) passed to the invoked function. Both keys and values must be strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "CommonEventObject",
      "type": "object"
    },
    "GoogleAppsCardV1Grid": {
      "description": "Displays a grid with a collection of items. A grid supports any number of columns and items. The number of rows is determined by items divided by columns. A grid with 10 items and 2 columns has 5 rows. A grid with 11 items and 2 columns has 6 rows. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"numColumns\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4.0 }, \"items\": [ \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" ], \"onClick\": { \"openLink\": { \"url\":\"https://www.example.com\" } } } ```",
      "properties": {
        "borderStyle": {
          "$ref": "GoogleAppsCardV1BorderStyle",
          "description": "The border style to apply to each grid item."
        },
        "columnCount": {
          "type": "integer",
          "description": "The number of columns to display in the grid. A default value is used if this field isn't specified, and that default value is different depending on where the grid is shown (dialog versus companion).",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "description": "The items to display in the grid.",
          "items": {
            "$ref": "GoogleAppsCardV1GridItem"
          }
        },
        "onClick": {
          "description": "This callback is reused by each individual grid item, but with the item's identifier and index in the items list added to the callback's parameters.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "title": {
          "type": "string",
          "description": "The text that displays in the grid header."
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1Grid"
    },
    "GoogleAppsCardV1GridItem": {
      "description": "Represents a single item in the grid layout.",
      "properties": {
        "image": {
          "description": "The image that displays in the grid item.",
          "$ref": "GoogleAppsCardV1ImageComponent"
        },
        "title": {
          "description": "The grid item's title.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "A user-specified identifier for this grid item. This identifier is returned in the parent Grid's onClick callback parameters."
        },
        "layout": {
          "description": "The layout to use for the grid item.",
          "type": "string",
          "enum": [
            "GRID_ITEM_LAYOUT_UNSPECIFIED",
            "TEXT_BELOW",
            "TEXT_ABOVE"
          ],
          "enumDescriptions": [
            "No layout specified.",
            "The title and subtitle are shown below the grid item's image.",
            "The title and subtitle are shown above the grid item's image."
          ]
        },
        "subtitle": {
          "type": "string",
          "description": "The grid item's subtitle."
        }
      },
      "id": "GoogleAppsCardV1GridItem",
      "type": "object"
    },
    "Thread": {
      "id": "Thread",
      "description": "A thread in Google Chat.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the thread. Example: spaces/{space}/threads/{thread}",
          "type": "string"
        },
        "threadKey": {
          "description": "Optional. Opaque thread identifier. To start or add to a thread, create a message and specify a `threadKey` or the thread.name. For example usage, see [Start or reply to a message thread](https://developers.google.com/chat/api/guides/crudl/messages#start_or_reply_to_a_message_thread). For other requests, this is an output only field.",
          "type": "string"
        }
      }
    },
    "Image": {
      "id": "Image",
      "properties": {
        "aspectRatio": {
          "description": "The aspect ratio of this image (width/height). This field allows clients to reserve the right height for the image while waiting for it to load. It's not meant to override the native aspect ratio of the image. If unset, the server fills it by prefetching the image.",
          "format": "double",
          "type": "number"
        },
        "imageUrl": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action."
        }
      },
      "type": "object",
      "description": "An image that is specified by a URL and can have an onclick action."
    },
    "User": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for a Google Chat user. Format: `users/{user}`. `users/app` can be used as an alias for the calling app bot user. For human users, `{user}` is the same user identifier as: - the `{person_id`} for the [Person](https://developers.google.com/people/api/rest/v1/people) in the People API, where the Person `resource_name` is `people/{person_id}`. For example, `users/123456789` in Chat API represents the same person as `people/123456789` in People API. - the `id` for a [user](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users) in the Admin SDK Directory API."
        },
        "isAnonymous": {
          "description": "Output only. When `true`, the user is deleted or their profile is not visible.",
          "readOnly": true,
          "type": "boolean"
        },
        "domainId": {
          "type": "string",
          "description": "Unique identifier of the user's Google Workspace domain."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user's display name."
        },
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Chat app user."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "description": "User type.",
          "type": "string"
        }
      },
      "id": "User",
      "type": "object",
      "description": "A user in Google Chat."
    },
    "Card": {
      "properties": {
        "sections": {
          "description": "Sections are separated by a line divider.",
          "items": {
            "$ref": "Section"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the card.",
          "type": "string"
        },
        "cardActions": {
          "items": {
            "$ref": "CardAction"
          },
          "description": "The actions of this card.",
          "type": "array"
        },
        "header": {
          "$ref": "CardHeader",
          "description": "The header of the card. A header usually contains a title and an image."
        }
      },
      "description": "A card is a UI element that can contain UI widgets such as texts, images.",
      "id": "Card",
      "type": "object"
    },
    "GoogleAppsCardV1Icon": {
      "description": "An icon displayed in a widget on a card. Supports [standard](https://developers.google.com/chat/api/guides/message-formats/cards) and [custom](https://developers.google.com/chat/api/guides/message-formats/cards#customicons) icons.",
      "type": "object",
      "properties": {
        "knownIcon": {
          "type": "string",
          "description": "Display one of the standard icons provided by Google Workspace. For example, to display an airplane icon, specify `AIRPLANE`. For a bus, specify `BUS`. For a full list of supported icons, see [standard icons](https://developers.google.com/chat/api/guides/message-formats/cards)."
        },
        "altText": {
          "description": "Optional. A description of the icon used for accessibility. If unspecified, the default value \"Button\" is provided. As a best practice, you should set a helpful description for what the icon displays, and if applicable, what it does. For example, `A user's account portrait`, or `Opens a new browser tab and navigates to the Google Chat developer documentation at https://developers.google.com/chat`. If the icon is set in a Button, the `altText` appears as helper text when the user hovers over the button. However, if the button also sets `text`, the icon's `altText` is ignored.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "Display a custom icon hosted at an HTTPS URL. For example: ``` \"iconUrl\": \"https://developers.google.com/chat/images/quickstart-app-avatar.png\" ``` Supported file types include `.png` and `.jpg`."
        },
        "imageType": {
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a standard icon.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Applies a square mask to the image. For example, a 4x3 image becomes 3x3.",
            "Applies a circular mask to the image. For example, a 4x3 image becomes a circle with a diameter of 3."
          ],
          "enum": [
            "SQUARE",
            "CIRCLE"
          ]
        }
      },
      "id": "GoogleAppsCardV1Icon"
    },
    "DialogAction": {
      "id": "DialogAction",
      "description": "Contains a [dialog](https://developers.google.com/chat/how-tos/dialogs) and request status code.",
      "type": "object",
      "properties": {
        "actionStatus": {
          "$ref": "ActionStatus",
          "description": "Input only. Status for a request to either invoke or submit a [dialog](https://developers.google.com/chat/how-tos/dialogs). Displays a status and message to users, if necessary. For example, in case of an error or success."
        },
        "dialog": {
          "description": "Input only. [Dialog](https://developers.google.com/chat/how-tos/dialogs) for the request.",
          "$ref": "Dialog"
        }
      }
    },
    "GoogleAppsCardV1Suggestions": {
      "type": "object",
      "description": "Suggested values that users can enter. These values appear when users click inside the text input field. As users type, the suggested values dynamically filter to match what the users have typed. For example, a text input field for programming language might suggest Java, JavaScript, Python, and C++. When users start typing \"Jav\", the list of suggestions filters to show just Java and JavaScript. Suggested values help guide users to enter values that your app can make sense of. When referring to JavaScript, some users might enter \"javascript\" and others \"java script\". Suggesting \"JavaScript\" can standardize how users interact with your app. When specified, `TextInput.type` is always `SINGLE_LINE`, even if it is set to `MULTIPLE_LINE`.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1SuggestionItem"
          },
          "description": "A list of suggestions used for autocomplete recommendations in text input fields."
        }
      },
      "id": "GoogleAppsCardV1Suggestions"
    },
    "WidgetMarkup": {
      "id": "WidgetMarkup",
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object",
      "properties": {
        "keyValue": {
          "description": "Display a key value item in this widget.",
          "$ref": "KeyValue"
        },
        "image": {
          "description": "Display an image in this widget.",
          "$ref": "Image"
        },
        "buttons": {
          "items": {
            "$ref": "Button"
          },
          "type": "array",
          "description": "A list of buttons. Buttons is also oneof data and only one of these fields should be set."
        },
        "textParagraph": {
          "description": "Display a text paragraph in this widget.",
          "$ref": "TextParagraph"
        }
      }
    },
    "DriveDataRef": {
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "The id for the drive file, for use with the Drive API."
        }
      },
      "id": "DriveDataRef",
      "type": "object",
      "description": "A reference to the data of a drive attachment."
    },
    "Annotation": {
      "description": "Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/{user}\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```",
      "type": "object",
      "id": "Annotation",
      "properties": {
        "length": {
          "type": "integer",
          "description": "Length of the substring in the plain-text message body this annotation corresponds to.",
          "format": "int32"
        },
        "userMention": {
          "$ref": "UserMentionMetadata",
          "description": "The metadata of user mention."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user is mentioned.",
            "A slash command is invoked."
          ],
          "description": "The type of this annotation.",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION",
            "SLASH_COMMAND"
          ]
        },
        "slashCommand": {
          "description": "The metadata for a slash command.",
          "$ref": "SlashCommandMetadata"
        }
      }
    },
    "GoogleAppsCardV1SwitchControl": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name by which the switch widget is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs).",
          "type": "string"
        },
        "value": {
          "description": "The value entered by a user, returned as part of a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs).",
          "type": "string"
        },
        "selected": {
          "description": "When `true`, the switch is selected.",
          "type": "boolean"
        },
        "onChangeAction": {
          "description": "The action to perform when the switch state is changed, such as what function to run.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "controlType": {
          "enumDescriptions": [
            "A toggle-style switch.",
            "Deprecated in favor of `CHECK_BOX`.",
            "A checkbox."
          ],
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ],
          "description": "How the switch appears in the user interface.",
          "type": "string"
        }
      },
      "description": "Either a toggle-style switch or a checkbox inside a `decoratedText` widget. Only supported on the `decoratedText` widget. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon.",
      "id": "GoogleAppsCardV1SwitchControl"
    },
    "TimeInput": {
      "type": "object",
      "properties": {
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "The hour on a 24-hour clock."
        },
        "minutes": {
          "description": "The number of minutes past the hour. Valid values are 0 to 59.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Time input values. Not supported by Chat apps.",
      "id": "TimeInput"
    },
    "StringInputs": {
      "description": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented.",
      "id": "StringInputs",
      "properties": {
        "value": {
          "description": "An array of strings entered by the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Button": {
      "properties": {
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and onclick action."
        },
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        }
      },
      "type": "object",
      "id": "Button",
      "description": "A button. Can be a text button or an image button."
    },
    "GoogleAppsCardV1Image": {
      "id": "GoogleAppsCardV1Image",
      "properties": {
        "altText": {
          "type": "string",
          "description": "The alternative text of this image, used for accessibility."
        },
        "onClick": {
          "description": "When a user clicks on the image, the click triggers this action.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "imageUrl": {
          "description": "The `https` URL that hosts the image. For example: ``` https://developers.google.com/chat/images/quickstart-app-avatar.png ```",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An image that is specified by a URL and can have an `onClick` action."
    },
    "GoogleAppsCardV1Section": {
      "description": "A section contains a collection of widgets that are rendered vertically in the order that they are specified.",
      "properties": {
        "header": {
          "description": "Text that appears at the top of a section. Supports [simple HTML formatted text](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting).",
          "type": "string"
        },
        "uncollapsibleWidgetsCount": {
          "format": "int32",
          "description": "The number of uncollapsible widgets which remain visible even when a section is collapsed. For example, when a section contains five widgets and the `uncollapsibleWidgetsCount` is set to `2`, the first two widgets are always shown and the last three are collapsed by default. The `uncollapsibleWidgetsCount` is taken into account only when `collapsible` is `true`.",
          "type": "integer"
        },
        "collapsible": {
          "description": "Indicates whether this section is collapsible. Collapsible sections hide some or all widgets, but users can expand the section to reveal the hidden widgets by clicking **Show more**. Users can hide the widgets again by clicking **Show less**. To determine which widgets are hidden, specify `uncollapsibleWidgetsCount`.",
          "type": "boolean"
        },
        "widgets": {
          "items": {
            "$ref": "GoogleAppsCardV1Widget"
          },
          "description": "All the widgets in the section. Must contain at least 1 widget.",
          "type": "array"
        }
      },
      "id": "GoogleAppsCardV1Section",
      "type": "object"
    },
    "GoogleAppsCardV1SelectionInput": {
      "description": "A widget that creates a UI item with options for users to select. For example, a dropdown menu or check list. Chat apps receive and can process the value of entered text during form input events. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs). When you need to collect data from users that matches options you set, use a selection input. To collect abstract data from users, use the text input widget instead. Only supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) coming soon.",
      "properties": {
        "name": {
          "description": "The name by which the selection input is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs).",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "A set of checkboxes. Users can select multiple check boxes per selection input. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon.",
            "A set of radio buttons. Users can select one radio button per selection input. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon.",
            "A set of switches. Users can turn on multiple switches at once per selection input. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon.",
            "A dropdown menu. Users can select one dropdown menu item per selection input. Currently supported in [dialogs](https://developers.google.com/chat/how-tos/dialogs). Support for [card messages](https://developers.google.com/chat/api/guides/message-formats/cards) is coming soon."
          ],
          "enum": [
            "CHECK_BOX",
            "RADIO_BUTTON",
            "SWITCH",
            "DROPDOWN"
          ],
          "type": "string",
          "description": "The way that an option appears to users. Different options support different types of interactions. For example, users can enable multiple check boxes, but can only select one value from a dropdown menu. Each selection input supports one type of selection. Mixing check boxes and switches, for example, is not supported."
        },
        "items": {
          "description": "An array of the selected items. For example, all the selected check boxes.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1SelectionItem"
          }
        },
        "label": {
          "type": "string",
          "description": "The text that appears above the selection input field in the user interface. Specify text that helps the user enter the information your app needs. For example, if users are selecting the urgency of a work ticket from a drop-down menu, the label might be \"Urgency\" or \"Select urgency\"."
        },
        "onChangeAction": {
          "description": "If specified, the form is submitted when the selection changes. If not specified, you must specify a separate button that submits the form. For details about working with form inputs, see [Receive form data](https://developers.google.com/chat/how-tos/dialogs#receive_form_data_from_dialogs).",
          "$ref": "GoogleAppsCardV1Action"
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1SelectionInput"
    },
    "KeyValue": {
      "id": "KeyValue",
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.",
      "type": "object",
      "properties": {
        "contentMultiline": {
          "type": "boolean",
          "description": "If the content should be multiline."
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action. Only the top label, bottom label and content region are clickable."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "icon": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image.",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ]
        },
        "content": {
          "description": "The text of the content. Formatted text supported and always required.",
          "type": "string"
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text of the bottom label. Formatted text supported."
        },
        "button": {
          "$ref": "Button",
          "description": "A button that can be clicked to trigger an action."
        },
        "topLabel": {
          "type": "string",
          "description": "The text of the top label. Formatted text supported."
        }
      }
    },
    "GoogleAppsCardV1CardFixedFooter": {
      "id": "GoogleAppsCardV1CardFixedFooter",
      "description": "A persistent (sticky) footer that that appears at the bottom of the card. Setting `fixedFooter` without specifying a `primaryButton` or a `secondaryButton` causes an error. Chat apps support `fixedFooter` in [dialogs](https://developers.google.com/chat/how-tos/dialogs), but not in [card messages](https://developers.google.com/chat/api/guides/message-formats/cards).",
      "properties": {
        "primaryButton": {
          "description": "The primary button of the fixed footer. The button must be a text button with text and color set.",
          "$ref": "GoogleAppsCardV1Button"
        },
        "secondaryButton": {
          "description": "The secondary button of the fixed footer. The button must be a text button with text and color set. `primaryButton` must be set if `secondaryButton` is set.",
          "$ref": "GoogleAppsCardV1Button"
        }
      },
      "type": "object"
    },
    "Space": {
      "id": "Space",
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat app.",
      "type": "object",
      "properties": {
        "spaceThreadingState": {
          "enumDescriptions": [
            "Reserved.",
            "Named spaces that support message threads. When users respond to a message, they can reply in-thread, which keeps their response in the context of the original message.",
            "Named spaces where the conversation is organized by topic. Topics and their replies are grouped together.",
            "Direct messages (DMs) between two people and group conversations between 3 or more people."
          ],
          "description": "Output only. The threading state in the Chat space.",
          "readOnly": true,
          "enum": [
            "SPACE_THREADING_STATE_UNSPECIFIED",
            "THREADED_MESSAGES",
            "GROUPED_MESSAGES",
            "UNTHREADED_MESSAGES"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The space's display name. Required when [creating a space](https://developers.google.com/chat/api/reference/rest/v1/spaces/create). For direct messages, this field may be empty. Supports up to 128 characters.",
          "type": "string"
        },
        "threaded": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `spaceThreadingState` instead. Whether messages are threaded in this space.",
          "readOnly": true
        },
        "spaceDetails": {
          "description": "Details about the space including description and rules.",
          "$ref": "SpaceDetails"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the space. Format: spaces/{space}"
        },
        "singleUserBotDm": {
          "description": "Optional. Whether the space is a DM between a Chat app and a single human.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Deprecated: Use `singleUserBotDm` or `spaceType` (developer preview) instead. The type of a space.",
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat app, where all messages are flat. Note that this does not include direct messages between two humans."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ]
        }
      }
    },
    "ActionStatus": {
      "properties": {
        "statusCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "The status code.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string"
        },
        "userFacingMessage": {
          "type": "string",
          "description": "The message to send users about the status of their request. If unset, a generic message based on the `status_code` is sent."
        }
      },
      "description": "Represents the status for a request to either invoke or submit a [dialog](https://developers.google.com/chat/how-tos/dialogs).",
      "type": "object",
      "id": "ActionStatus"
    },
    "ListSpacesResponse": {
      "id": "ListSpacesResponse",
      "properties": {
        "spaces": {
          "items": {
            "$ref": "Space"
          },
          "type": "array",
          "description": "List of spaces in the requested (or first) page."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `pageToken` to retrieve the next page of results. If empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Button": {
      "type": "object",
      "description": "A text, icon, or text + icon button that users can click. To make an image a clickable button, specify an Image (not an ImageComponent) and set an `onClick` action. Currently supported in Chat apps (including [dialogs] (https://developers.google.com/chat/how-tos/dialogs) and [card messages] (https://developers.google.com/chat/api/guides/message-formats/cards)) and Google Workspace Add-ons.",
      "id": "GoogleAppsCardV1Button",
      "properties": {
        "color": {
          "description": "If set, the button is filled with a solid background color and the font color changes to maintain contrast with the background color. For example, setting a blue background will likely result in white text. If unset, the image background is white and the font color is blue. For red, green and blue, the value of each field is a `float` number that can be expressed in either of two ways: as a number between 0 and 255 divided by 255 (153/255) or as a value between 0 and 1 (0.6). 0 represents the absence of a color and 1 or 255/255 represent the full presence of that color on the RGB scale. Optionally set alpha, which sets a level of transparency using this equation: ``` pixel color = alpha * (this color) + (1.0 - alpha) * (background color) ``` For alpha, a value of 1 corresponds with a solid color, and a value of 0 corresponds with a completely transparent color. For example, the following color represents a half transparent red: ``` \"color\": { \"red\": 1, \"green\": 0, \"blue\": 0, \"alpha\": 0.5 } ```",
          "$ref": "Color"
        },
        "altText": {
[...]
