{
  "description": "Enables bots to fetch information and perform actions in Google Chat. Authentication using a service account is a prerequisite for using the Google Chat REST API.",
  "baseUrl": "https://chat.googleapis.com/",
  "version": "v1",
  "title": "Google Chat API",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://chat.googleapis.com/",
  "name": "chat",
  "version_module": true,
  "resources": {
    "media": {
      "methods": {
        "download": {
          "path": "v1/media/{+resourceName}",
          "flatPath": "v1/media/{mediaId}",
          "parameters": {
            "resourceName": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^.*$",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "id": "chat.media.download",
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "GET",
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true
        }
      }
    },
    "spaces": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "id": "chat.spaces.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Space"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/spaces/{spacesId}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^spaces/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAAA"
            }
          },
          "description": "Returns a space."
        },
        "list": {
          "flatPath": "v1/spaces",
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "description": "Lists spaces the caller is a member of.",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return.",
              "location": "query"
            }
          },
          "path": "v1/spaces",
          "id": "chat.spaces.list",
          "httpMethod": "GET"
        },
        "webhooks": {
          "flatPath": "v1/spaces/{spacesId}/webhooks",
          "httpMethod": "POST",
          "path": "v1/{+parent}/webhooks",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "pattern": "^spaces/[^/]+$",
              "required": true
            },
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "type": "string",
              "location": "query"
            },
            "requestId": {
              "location": "query",
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Message"
          },
          "response": {
            "$ref": "Message"
          },
          "id": "chat.spaces.webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response."
        }
      },
      "resources": {
        "members": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/spaces/{spacesId}/members",
              "id": "chat.spaces.members.list",
              "description": "Lists human memberships in a space.",
              "path": "v1/{+parent}/members",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource name of the space for which membership list is to be fetched, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAAA",
                  "type": "string",
                  "location": "path",
                  "pattern": "^spaces/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the membership to be retrieved, in the form \"spaces/*/members/*\". Example: spaces/AAAAAAAAAAAA/members/111111111111111111111"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}",
              "description": "Returns a membership.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Membership"
              },
              "id": "chat.spaces.members.get"
            }
          }
        },
        "messages": {
          "methods": {
            "delete": {
              "description": "Deletes a message.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "id": "chat.spaces.messages.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "create": {
              "id": "chat.spaces.messages.create",
              "request": {
                "$ref": "Message"
              },
              "path": "v1/{+parent}/messages",
              "description": "Creates a message.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "parent": {
                  "pattern": "^spaces/[^/]+$",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "requestId": {
                  "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
                  "location": "query",
                  "type": "string"
                },
                "threadKey": {
                  "location": "query",
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/spaces/{spacesId}/messages"
            },
            "update": {
              "request": {
                "$ref": "Message"
              },
              "httpMethod": "PUT",
              "description": "Updates a message.",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The field paths to be updated, comma separated if there are multiple. Currently supported field paths: * text * cards * gsuite_message_integration_render_data * attachment",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "chat.spaces.messages.update",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "parameters": {
                "name": {
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "description": "Required. Resource name of the message to be retrieved, in the form \"spaces/*/messages/*\". Example: spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "chat.spaces.messages.get",
              "description": "Returns a message."
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "id": "chat.spaces.messages.attachments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Attachment"
                  },
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$",
                      "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\"."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "dms": {
      "methods": {
        "messages": {
          "httpMethod": "POST",
          "id": "chat.dms.messages",
          "request": {
            "$ref": "Message"
          },
          "response": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created."
            },
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^dms/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA"
            }
          },
          "path": "v1/{+parent}/messages",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "flatPath": "v1/dms/{dmsId}/messages"
        },
        "webhooks": {
          "httpMethod": "POST",
          "path": "v1/{+parent}/webhooks",
          "id": "chat.dms.webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^dms/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA"
            },
            "threadKey": {
              "location": "query",
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "type": "string"
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Message"
          },
          "flatPath": "v1/dms/{dmsId}/webhooks",
          "request": {
            "$ref": "Message"
          }
        }
      },
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "flatPath": "v1/dms/{dmsId}/conversations/{conversationsId}/messages",
              "path": "v1/{+parent}/messages",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Message"
              },
              "httpMethod": "POST",
              "id": "chat.dms.conversations.messages",
              "parameters": {
                "requestId": {
                  "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
                  "location": "query",
                  "type": "string"
                },
                "threadKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                },
                "parent": {
                  "pattern": "^dms/[^/]+/conversations/[^/]+$",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "request": {
                "$ref": "Message"
              }
            }
          }
        }
      }
    },
    "rooms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/rooms/{roomsId}/conversations/{conversationsId}/messages",
              "httpMethod": "POST",
              "parameters": {
                "requestId": {
                  "location": "query",
                  "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
                  "type": "string"
                },
                "threadKey": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                },
                "parent": {
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "type": "string",
                  "pattern": "^rooms/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "chat.rooms.conversations.messages",
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              },
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "path": "v1/{+parent}/messages"
            }
          }
        }
      },
      "methods": {
        "webhooks": {
          "parameters": {
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created."
            },
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "pattern": "^rooms/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "flatPath": "v1/rooms/{roomsId}/webhooks",
          "parameterOrder": [
            "parent"
          ],
          "id": "chat.rooms.webhooks",
          "request": {
            "$ref": "Message"
          }
        },
        "messages": {
          "request": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Message"
          },
          "id": "chat.rooms.messages",
          "flatPath": "v1/rooms/{roomsId}/messages",
          "path": "v1/{+parent}/messages",
          "parameters": {
            "requestId": {
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
              "location": "query",
              "type": "string"
            },
            "threadKey": {
              "location": "query",
              "type": "string",
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
            },
            "parent": {
              "location": "path",
              "pattern": "^rooms/[^/]+$",
              "required": true,
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Hangouts Chat",
  "schemas": {
    "GoogleAppsCardV1Image": {
      "id": "GoogleAppsCardV1Image",
      "properties": {
        "altText": {
          "description": "The alternative text of this image, used for accessibility.",
          "type": "string"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "imageUrl": {
          "type": "string",
          "description": "An image URL."
        }
      },
      "description": "An image that is specified by a URL and can have an onClick action.",
      "type": "object"
    },
    "GoogleAppsCardV1SwitchControl": {
      "id": "GoogleAppsCardV1SwitchControl",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value is what is passed back in the callback."
        },
        "name": {
          "type": "string",
          "description": "The name of the switch widget that's used in formInput."
        },
        "onChangeAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "The action when the switch state is changed."
        },
        "controlType": {
          "enumDescriptions": [
            "",
            "Deprecated in favor of `CHECK_BOX`.",
            ""
          ],
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ],
          "description": "The control type, either switch or checkbox.",
          "type": "string"
        },
        "selected": {
          "type": "boolean",
          "description": "If the switch is selected."
        }
      }
    },
    "GoogleAppsCardV1OpenLink": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL to open.",
          "type": "string"
        },
        "onClose": {
          "enumDescriptions": [
            "Doesn’t reload the card after the child window closes. Reloads the card after the child window closes. If used in conjunction with [OpenAs.OVERLAY](/workspace/add-ons/reference/rpc/google.apps.card.v1#openas), the child window acts as a modal dialog and the main card is blocked until the child window closes.",
            ""
          ],
          "enum": [
            "NOTHING",
            "RELOAD"
          ],
          "type": "string"
        },
        "openAs": {
          "type": "string",
          "enum": [
            "FULL_SIZE",
            "OVERLAY"
          ],
          "enumDescriptions": [
            "The link opens as a full size window (if that's the frame used by the client.",
            "The link opens as an overlay, such as a pop-up."
          ]
        }
      },
      "id": "GoogleAppsCardV1OpenLink"
    },
    "Color": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        }
      },
      "id": "Color",
      "type": "object"
    },
    "GoogleAppsCardV1Action": {
      "properties": {
        "persistValues": {
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. When using [LoadIndicator.NONE](workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for actions, `persist_values` = `true`is recommended, as it ensures that any changes made by the user after form or on change actions are sent to the server are not overwritten by the response. If `false`, the form values are cleared when the action is triggered. When `persist_values` is set to `false`, it is strongly recommended that the card use [LoadIndicator.SPINNER](workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for all actions, as this locks the UI to ensure no changes are made by the user while the action is being processed.",
          "type": "boolean"
        },
        "loadIndicator": {
          "type": "string",
          "enum": [
            "SPINNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ]
        },
        "parameters": {
          "description": "List of action parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          }
        },
        "function": {
          "type": "string",
          "description": "Apps Script function to invoke when the containing element is clicked/activated."
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1Action",
      "description": "An action that describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "SlashCommand": {
      "id": "SlashCommand",
      "type": "object",
      "description": "A Slash Command in Chat.",
      "properties": {
        "commandId": {
          "format": "int64",
          "type": "string",
          "description": "The id of the slash command invoked."
        }
      }
    },
    "ListSpacesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results. Tokens expire in an hour. An error is thrown if an expired token is passed."
        },
        "spaces": {
          "type": "array",
          "items": {
            "$ref": "Space"
          },
          "description": "List of spaces in the requested (or first) page."
        }
      },
      "id": "ListSpacesResponse",
      "type": "object"
    },
    "DeprecatedEvent": {
      "description": "Google Chat events.",
      "type": "object",
      "id": "DeprecatedEvent",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ],
          "description": "The type of the event.",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a space.",
            "The bot was added to a space.",
            "The bot was removed from a space.",
            "The bot's interactive card was clicked."
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp indicating when the event occurred."
        },
        "user": {
          "$ref": "User",
          "description": "The user that triggered the event."
        },
        "threadKey": {
          "type": "string",
          "description": "The bot-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information."
        },
        "message": {
          "description": "The message that triggered the event, if applicable.",
          "$ref": "Message"
        },
        "common": {
          "description": "This will include form information for dialogs such as form inputs, action parameters.",
          "$ref": "CommonEventObject"
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the bot should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/chat/how-tos/auth-3p) for more information.",
          "type": "string"
        },
        "token": {
          "description": "A secret value that bots can use to verify if a request is from Google. The token is randomly generated by Google, remains static, and can be obtained from the Google Chat API configuration page in the Cloud Console. Developers can revoke/regenerate it if needed from the same page.",
          "type": "string"
        },
        "isDialogEvent": {
          "type": "boolean",
          "description": "Whether or not this event is related to dialogs request, submit or cancel. This will be set to true when we want a request/submit/cancel event."
        },
        "space": {
          "description": "The space in which the event occurred.",
          "$ref": "Space"
        },
        "dialogEventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "REQUEST_DIALOG",
            "SUBMIT_DIALOG",
            "CANCEL_DIALOG"
          ],
          "enumDescriptions": [
            "This could be used when the corresponding event is not dialog related. For example an @mention.",
            "For any user action that would result in a dialog opening.",
            "For card click events from any dialog.",
            "For native cancellation button."
          ],
          "type": "string",
          "description": "The type of dialog event we have received."
        },
        "action": {
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/chat/how-tos/cards-onclick) for more information.",
          "$ref": "FormAction"
        }
      }
    },
    "AttachmentDataRef": {
      "id": "AttachmentDataRef",
      "properties": {
        "resourceName": {
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to the data of an attachment."
    },
    "GoogleAppsCardV1ImageCropStyle": {
      "id": "GoogleAppsCardV1ImageCropStyle",
      "properties": {
        "aspectRatio": {
          "description": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`.",
          "type": "number",
          "format": "double"
        },
        "type": {
          "type": "string",
          "description": "The crop type.",
          "enumDescriptions": [
            "No value specified.",
            "Applies a square crop.",
            "Applies a circular crop.",
            "Applies a rectangular crop with a custom aspect ratio.",
            "Applies a rectangular crop with a 4:3 aspect ratio."
          ],
          "enum": [
            "IMAGE_CROP_TYPE_UNSPECIFIED",
            "SQUARE",
            "CIRCLE",
            "RECTANGLE_CUSTOM",
            "RECTANGLE_4_3"
          ]
        }
      },
      "type": "object",
      "description": "Represents the crop style applied to an image."
    },
    "GoogleAppsCardV1OnClick": {
      "properties": {
        "card": {
          "$ref": "GoogleAppsCardV1Card",
          "description": "A new card is pushed to the card stack after clicking if specified."
        },
        "action": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "If specified, an action is triggered by this onClick."
        },
        "openLink": {
          "$ref": "GoogleAppsCardV1OpenLink",
          "description": "If specified, this onClick triggers an open link action."
        },
        "openDynamicLinkAction": {
          "description": "An add-on triggers this action when the action needs to open a link. This differs from the open_link above in that this needs to talk to server to get the link. Thus some preparation work is required for web client to do before the open link action response comes back.",
          "$ref": "GoogleAppsCardV1Action"
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1OnClick"
    },
    "Section": {
      "id": "Section",
      "type": "object",
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float).",
      "properties": {
        "widgets": {
          "type": "array",
          "description": "A section must contain at least 1 widget.",
          "items": {
            "$ref": "WidgetMarkup"
          }
        },
        "header": {
          "type": "string",
          "description": "The header of the section, text formatted supported."
        }
      }
    },
    "FormAction": {
      "properties": {
        "actionMethodName": {
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the bot as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "ActionParameter"
          },
          "description": "List of action parameters.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "id": "FormAction"
    },
    "Space": {
      "id": "Space",
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat bot.",
      "properties": {
        "name": {
          "description": "Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAAA",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Deprecated. Use `single_user_bot_dm` instead. Output only. The type of a space.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ],
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat bot, where all messages are flat. Note that this does not include direct messages between two humans."
          ]
        },
        "singleUserBotDm": {
          "description": "Output only. Whether the space is a DM between a bot and a single human.",
          "readOnly": true,
          "type": "boolean"
        },
        "threaded": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the messages are threaded in this space."
        },
        "displayName": {
          "type": "string",
          "description": "The space's display name. For direct messages between humans, this field might be empty."
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Button": {
      "description": "A button. Can be a text button or an image button.",
      "properties": {
        "altText": {
          "type": "string",
          "description": "The alternative text used for accessibility. Has no effect when an icon is set; use `icon.alt_text` instead."
        },
        "onClick": {
          "description": "The action to perform when the button is clicked.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "icon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "The icon image."
        },
        "disabled": {
          "type": "boolean",
          "description": "If true, the button is displayed in a disabled state and doesn't respond to user actions."
        },
        "text": {
          "type": "string",
          "description": "The text of the button."
        },
        "color": {
          "$ref": "Color",
          "description": "If set, the button is filled with a solid background."
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1Button"
    },
    "SlashCommandMetadata": {
      "type": "object",
      "properties": {
        "commandName": {
          "description": "The name of the invoked slash command.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ],
          "description": "The type of slash command.",
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add bot to space.",
            "Invoke slash command in space."
          ]
        },
        "triggersDialog": {
          "type": "boolean",
          "description": "Indicating whether the slash command is for a dialog."
        },
        "commandId": {
          "format": "int64",
          "description": "The command id of the invoked slash command.",
          "type": "string"
        },
        "bot": {
          "$ref": "User",
          "description": "The bot whose command was invoked."
        }
      },
      "id": "SlashCommandMetadata",
      "description": "Annotation metadata for slash commands (/)."
    },
    "OpenLink": {
      "type": "object",
      "id": "OpenLink",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to open."
        }
      },
      "description": "A link that opens a new window."
    },
    "TextButton": {
      "description": "A button with text and onclick action.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the button."
        },
        "onClick": {
          "description": "The onclick action of the button.",
          "$ref": "OnClick"
        }
      },
      "id": "TextButton"
    },
    "GoogleAppsCardV1Grid": {
      "type": "object",
      "properties": {
        "borderStyle": {
          "$ref": "GoogleAppsCardV1BorderStyle",
          "description": "The border style to apply to each grid item."
        },
        "onClick": {
          "description": "This callback is reused by each individual grid item, but with the item's identifier and index in the items list added to the callback's parameters.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "items": {
          "type": "array",
          "description": "The items to display in the grid.",
          "items": {
            "$ref": "GoogleAppsCardV1GridItem"
          }
        },
        "columnCount": {
          "description": "The number of columns to display in the grid. A default value is used if this field isn't specified, and that default value is different depending on where the grid is shown (dialog versus companion).",
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string",
          "description": "The text that displays in the grid header."
        }
      },
      "description": "Represents a Grid widget that displays items in a configurable grid layout.",
      "id": "GoogleAppsCardV1Grid"
    },
    "GoogleAppsCardV1ButtonList": {
      "id": "GoogleAppsCardV1ButtonList",
      "description": "A list of buttons layed out horizontally.",
      "properties": {
        "buttons": {
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1CardAction": {
      "type": "object",
      "id": "GoogleAppsCardV1CardAction",
      "properties": {
        "actionLabel": {
          "description": "The label that displays as the action menu item.",
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action for this action item.",
          "$ref": "GoogleAppsCardV1OnClick"
        }
      },
      "description": "A card action is the action associated with the card. For example, an invoice card might include actions such as delete invoice, email invoice, or open the invoice in a browser."
    },
    "GoogleAppsCardV1TextParagraph": {
      "type": "object",
      "id": "GoogleAppsCardV1TextParagraph",
      "description": "A paragraph of text that supports formatting. See [Text formatting](workspace/add-ons/concepts/widgets#text_formatting\") for details.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text that's shown in the widget."
        }
      }
    },
    "TimeInput": {
      "id": "TimeInput",
      "description": "Input Parameter for Time Picker widget.",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Suggestions": {
      "id": "GoogleAppsCardV1Suggestions",
      "description": "A container wrapping elements necessary for showing suggestion items used in text input autocomplete.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleAppsCardV1SuggestionItem"
          },
          "type": "array",
          "description": "A list of suggestions items which will be used in are used in autocomplete."
        }
      }
    },
    "TextParagraph": {
      "id": "TextParagraph",
      "description": "A paragraph of text. Formatted text supported.",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Button": {
      "properties": {
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        },
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and onclick action."
        }
      },
      "id": "Button",
      "description": "A button. Can be a text button or an image button.",
      "type": "object"
    },
    "CardHeader": {
      "id": "CardHeader",
      "properties": {
        "title": {
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines.",
          "type": "string"
        },
        "imageStyle": {
          "type": "string",
          "description": "The image's type (e.g. square border or circular border).",
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ],
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ]
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        },
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Icon": {
      "id": "GoogleAppsCardV1Icon",
      "type": "object",
      "properties": {
        "knownIcon": {
          "type": "string",
          "description": "The icon specified by the string name of a list of known icons"
        },
        "altText": {
          "description": "The description of the icon, used for accessibility. The default value is provided if you don't specify one.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "imageType": {
          "type": "string",
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a standard icon.",
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ]
        }
      }
    },
    "Media": {
      "id": "Media",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      },
      "description": "Media resource."
    },
    "DateInput": {
      "properties": {
        "msSinceEpoch": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DateInput",
      "description": "Input Parameter for Date Picker widget."
    },
    "Inputs": {
      "properties": {
        "timeInput": {
          "$ref": "TimeInput"
        },
        "dateInput": {
          "$ref": "DateInput"
        },
        "stringInputs": {
          "$ref": "StringInputs"
        },
        "dateTimeInput": {
          "$ref": "DateTimeInput"
        }
      },
      "type": "object",
      "id": "Inputs",
      "description": "The inputs with widgets."
    },
    "Dialog": {
      "id": "Dialog",
      "properties": {
        "body": {
          "$ref": "GoogleAppsCardV1Card",
          "description": "Body of the dialog, which will be rendered in a modal. NOTE: The following fields within the objects are not supported: google.apps.card.v1.Widget.date_time_picker google.apps.card.v1.DecoratedText.SwitchControl.on_change_action google.apps.card.v1.TextInput.on_change_action google.apps.card.v1.SelectionInput.on_change_action google.apps.card.v1.DateTimePicker.on_change_action Setting the fields above will have no effect on the dialog."
        }
      },
      "type": "object",
      "description": "Wrapper around the card body of the dialog."
    },
    "DialogAction": {
      "id": "DialogAction",
      "properties": {
        "dialog": {
          "$ref": "Dialog",
          "description": "Dialog for the request."
        },
        "actionStatus": {
          "$ref": "ActionStatus",
          "description": "Status for either invoke dialog or submit dialog requests. This will be used to display a status and message to user if needed. For example in case of an error or success."
        }
      },
      "description": "Contains dialog if present as well as the ActionStatus for the request sent from user.",
      "type": "object"
    },
    "GoogleAppsCardV1DateTimePicker": {
      "id": "GoogleAppsCardV1DateTimePicker",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the text input that's used in formInput, and uniquely identifies this input."
        },
        "timezoneOffsetDate": {
          "type": "integer",
          "format": "int32",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If not set, it uses the user's time zone setting on the client side."
        },
        "type": {
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ],
          "description": "The type of the date/time picker.",
          "type": "string",
          "enumDescriptions": [
            "The user can select a date and time.",
            "The user can only select a date.",
            "The user can only select a time."
          ]
        },
        "label": {
          "description": "The label for the field that displays to the user.",
          "type": "string"
        },
        "onChangeAction": {
          "description": "Triggered when the user clicks Save or Clear from the date/time picker dialog. This is only triggered if the value changed as a result of the Save/Clear operation.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "valueMsEpoch": {
          "type": "string",
          "format": "int64",
          "description": "The value to display as the default value before user input or previous user input. It is represented in milliseconds (Epoch time). For `DATE_AND_TIME` type, the full epoch value is used. For `DATE_ONLY` type, only date of the epoch time is used. For `TIME_ONLY` type, only time of the epoch time is used. For example, you can set epoch time to `3 * 60 * 60 * 1000` to represent 3am."
        }
      },
      "type": "object",
      "description": "The widget that lets users to specify a date and time."
    },
    "StringInputs": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Input parameter for regular widgets. For single-valued widgets, it will be a single value list; for multi-valued widgets, such as checkbox, all the values are presented.",
      "id": "StringInputs"
    },
    "ActionParameter": {
      "id": "ActionParameter",
      "properties": {
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        },
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters."
    },
    "GoogleAppsCardV1GridItem": {
      "id": "GoogleAppsCardV1GridItem",
      "description": "Represents a single item in the grid layout.",
      "properties": {
        "textAlignment": {
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "description": "The horizontal alignment of the grid item's text.",
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "title": {
          "description": "The grid item's title.",
          "type": "string"
        },
        "image": {
          "description": "The image that displays in the grid item.",
          "$ref": "GoogleAppsCardV1ImageComponent"
        },
        "layout": {
          "type": "string",
          "enum": [
            "GRID_ITEM_LAYOUT_UNSPECIFIED",
            "TEXT_BELOW",
            "TEXT_ABOVE"
          ],
          "enumDescriptions": [
            "No layout specified.",
            "The title and subtitle are shown below the grid item's image.",
            "The title and subtitle are shown above the grid item's image."
          ],
          "description": "The layout to use for the grid item."
        },
        "id": {
          "description": "A user-specified identifier for this grid item. This identifier is returned in the parent Grid's onClick callback parameters.",
          "type": "string"
        },
        "subtitle": {
          "description": "The grid item's subtitle.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Widget": {
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleAppsCardV1Image",
          "description": "Displays an image in this widget. For example, the following JSON creates an image with alternative text: ``` \"image\": { \"imageUrl\": \"https://example.com/heba_salam.png\" \"altText\": \"Avatar for Heba Salam\" } ```"
        },
        "textParagraph": {
          "description": "Displays a text paragraph in this widget. For example, the following JSON creates a bolded text: ``` \"textParagraph\": { \"text\": \" *bold text*\" } ```",
          "$ref": "GoogleAppsCardV1TextParagraph"
        },
        "decoratedText": {
          "description": "Displays a decorated text item in this widget. For example, the following JSON creates a decorated text widget showing email address: ``` \"decoratedText\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"topLabel\": \"Email Address\", \"content\": \"heba.salam@example.com\", \"bottomLabel\": \"This is a new Email address!\", \"switchWidget\": { \"name\": \"has_send_welcome_email_to_heba_salam\", \"selected\": false, \"controlType\": \"ControlType.CHECKBOX\" } } ```",
          "$ref": "GoogleAppsCardV1DecoratedText"
        },
        "textInput": {
          "$ref": "GoogleAppsCardV1TextInput",
          "description": "Displays a text input in this widget. For example, the following JSON creates a text input for mail address: ``` \"textInput\": { \"name\": \"mailing_address\", \"label\": \"Mailing Address\" } ``` As another example, the following JSON creates a text input for programming language with static suggestions: ``` \"textInput\": { \"name\": \"preferred_programing_language\", \"label\": \"Preferred Language\", \"initialSuggestions\": { \"items\": [ { \"text\": \"C++\" }, { \"text\": \"Java\" }, { \"text\": \"JavaScript\" }, { \"text\": \"Python\" } ] } } ```"
        },
        "grid": {
          "$ref": "GoogleAppsCardV1Grid",
          "description": "Displays a grid with a collection of items. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"numColumns\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4.0 }, \"items\": [ \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" ], \"onClick\": { \"openLink\": { \"url\":\"https://www.example.com\" } } } ```"
        },
        "buttonList": {
          "$ref": "GoogleAppsCardV1ButtonList",
          "description": "A list of buttons. For example, the following JSON creates two buttons. The first is a filled text button and the second is an image button that opens a link: ``` \"buttonList\": { \"buttons\": [ \"button\": { \"text\": \"Edit\", \"Color\": { \"Red\": 255 \"Green\": 255 \"Blue\": 255 } \"disabled\": true }, \"button\": { \"icon\": { \"knownIcon\": \"INVITE\" \"altText\": \"check calendar\" }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/calendar\" } } }, ] } ```"
        },
        "selectionInput": {
          "description": "Displays a switch control in this widget. For example, the following JSON creates a dropdown selection for size: ``` \"switchControl\": { \"name\": \"size\", \"label\": \"Size\" \"type\": \"SelectionType.DROPDOWN\", \"items\": [ { \"text\": \"S\", \"value\": \"small\", \"selected\": false }, { \"text\": \"M\", \"value\": \"medium\", \"selected\": true }, { \"text\": \"L\", \"value\": \"large\", \"selected\": false }, { \"text\": \"XL\", \"value\": \"extra_large\", \"selected\": false } ] } ```",
          "$ref": "GoogleAppsCardV1SelectionInput"
        },
        "divider": {
          "$ref": "GoogleAppsCardV1Divider",
          "description": "Displays a divider. For example, the following JSON creates a divider: ``` \"divider\": { } ```"
        },
        "dateTimePicker": {
          "description": "Displays a selection/input widget for date/time. For example, the following JSON creates a date/time picker for an appointment time: ``` \"date_time_picker\": { \"name\": \"appointment_time\", \"label\": \"Book your appointment at:\", \"type\": \"DateTimePickerType.DATE_AND_TIME\", \"valueMsEpoch\": \"796435200000\" } ```",
          "$ref": "GoogleAppsCardV1DateTimePicker"
        },
        "horizontalAlignment": {
          "description": "The horizontal alignment of this widget.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        }
      },
      "id": "GoogleAppsCardV1Widget"
    },
    "ActionStatus": {
      "type": "object",
      "properties": {
        "userFacingMessage": {
          "type": "string",
          "description": "This message will be the corresponding string to the above status_code. If unset, an appropriate generic message based on the status_code will be shown to the user. If this field is set then the message will be surfaced to the user for both successes and errors."
        },
        "statusCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "The status code.",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string"
        }
      },
      "id": "ActionStatus",
      "description": "ActionStatus represents status of a request from the bot developer's side. In specific, for each request a bot gets, the bot developer will set both fields below in relation to what the response status and message related to status should be."
    },
    "KeyValue": {
      "id": "KeyValue",
      "properties": {
        "content": {
          "description": "The text of the content. Formatted text supported and always required.",
          "type": "string"
        },
        "icon": {
          "type": "string",
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image.",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "onClick": {
          "description": "The onclick action. Only the top label, bottom label and content region are clickable.",
          "$ref": "OnClick"
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "Button"
        },
        "topLabel": {
          "type": "string",
          "description": "The text of the top label. Formatted text supported."
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text of the bottom label. Formatted text supported."
        },
        "contentMultiline": {
          "description": "If the content should be multiline.",
          "type": "boolean"
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        }
      },
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.",
      "type": "object"
    },
    "CommonEventObject": {
      "id": "CommonEventObject",
      "description": "Next available ID = 8",
      "type": "object",
      "properties": {
        "platform": {
          "description": "The platform enum which indicates the platform where the add-on is running.",
          "enum": [
            "UNKNOWN_PLATFORM",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "parameters": {
          "type": "object",
          "description": "Any additional parameters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "formInputs": {
          "additionalProperties": {
            "$ref": "Inputs"
          },
          "type": "object",
          "description": "The keys are the string IDs associated with the widget and the values are inputs with a widget in the card."
        },
        "userLocale": {
          "type": "string",
          "description": "The full locale.displayName in the format of [ISO 639 language code]-[ISO 3166 country/region code] such as \"en-US\""
        },
        "invokedFunction": {
          "description": "Name of the invoked function associated with the widget. This field is currently only set for chat.",
          "type": "string"
        },
        "hostApp": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "This is only used for aggregating logs on the server. Clients should never send these values directly."
          ],
          "type": "string",
          "description": "The hostApp enum which indicates the app the add-on is invoked from",
          "enum": [
            "UNSPECIFIED_HOST_APP",
            "GMAIL",
            "CALENDAR",
            "DRIVE",
            "DEMO",
            "DOCS",
            "SHEETS",
            "SLIDES",
            "DRAWINGS",
            "CHAT",
            "ALL_HOST_APPS"
          ]
        },
        "timeZone": {
          "$ref": "TimeZone"
        }
      }
    },
    "ImageButton": {
      "properties": {
        "name": {
          "description": "The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify.",
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        },
        "icon": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The icon specified by an enum that indices to an icon provided by Chat API.",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ]
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        }
      },
      "id": "ImageButton",
      "type": "object",
      "description": "An image button with an onclick action."
    },
    "GoogleAppsCardV1DecoratedText": {
      "type": "object",
      "id": "GoogleAppsCardV1DecoratedText",
      "properties": {
        "startIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "The icon displayed in front of the text."
        },
        "icon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "Deprecated in favor of start_icon."
        },
        "switchControl": {
          "$ref": "GoogleAppsCardV1SwitchControl",
          "description": "A switch widget can be clicked to change its state or trigger an action."
        },
        "text": {
          "type": "string",
          "description": "Required. The main widget formatted text. See Text formatting for details."
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "Only the top and bottom label and content region are clickable."
        },
        "topLabel": {
          "type": "string",
          "description": "The formatted text label that shows above the main text."
        },
        "bottomLabel": {
          "description": "The formatted text label that shows below the main text.",
          "type": "string"
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "GoogleAppsCardV1Button"
        },
        "endIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "An icon displayed after the text."
        },
        "wrapText": {
          "type": "boolean",
          "description": "The wrap text setting. If `true`, the text is wrapped and displayed in multiline. Otherwise, the text is truncated."
        }
      },
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget or a button after the text."
    },
    "Membership": {
      "description": "Represents a membership relation in Google Chat.",
      "properties": {
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default, do not use.",
            "The user has joined the space.",
            "The user has been invited, is able to join the space, but currently has not joined.",
            "The user is not a member of the space, has not been invited and is not able to join the space."
          ],
          "description": "State of the membership. Required for `CreateMembership`. Read-only for other usage.",
          "enum": [
            "MEMBERSHIP_STATE_UNSPECIFIED",
            "JOINED",
            "INVITED",
            "NOT_A_MEMBER"
          ]
        },
        "member": {
          "$ref": "User",
          "description": "A user in Google Chat."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time of the membership a.k.a. the time at which the member joined the space, if applicable."
        }
      },
      "id": "Membership",
      "type": "object"
    },
    "GoogleAppsCardV1SelectionItem": {
      "type": "object",
      "id": "GoogleAppsCardV1SelectionItem",
      "description": "The item in the switch control. A radio button, at most one of the items is selected.",
      "properties": {
        "text": {
          "description": "The text to be displayed.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value associated with this item. The client should use this as a form input value."
        },
        "selected": {
          "description": "If more than one item is selected for `RADIO_BUTTON` and `DROPDOWN`, the first selected item is treated as selected and the ones after are ignored.",
          "type": "boolean"
        }
      }
    },
    "DateTimeInput": {
      "id": "DateTimeInput",
      "type": "object",
      "properties": {
        "hasDate": {
          "type": "boolean"
        },
        "msSinceEpoch": {
          "type": "string",
          "format": "int64"
        },
        "hasTime": {
          "type": "boolean"
        }
      },
      "description": "Input Parameter for Date and Time Picker widget."
    },
    "Annotation": {
      "description": "Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/107946847022116401880\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```",
      "id": "Annotation",
      "properties": {
        "length": {
          "description": "Length of the substring in the plain-text message body this annotation corresponds to.",
          "format": "int32",
          "type": "integer"
        },
        "slashCommand": {
          "description": "The metadata for a slash command.",
          "$ref": "SlashCommandMetadata"
        },
        "type": {
          "type": "string",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION",
            "SLASH_COMMAND"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user is mentioned.",
            "A slash command is invoked."
          ],
          "description": "The type of this annotation."
        },
        "userMention": {
          "description": "The metadata of user mention.",
          "$ref": "UserMentionMetadata"
        },
        "startIndex": {
          "type": "integer",
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1Section": {
      "properties": {
        "header": {
          "type": "string",
          "description": "The header of the section. Formatted text is supported."
        },
        "uncollapsibleWidgetsCount": {
          "type": "integer",
          "description": "The number of uncollapsible widgets. For example, when a section contains five widgets and the `numUncollapsibleWidget` is set to `2`, the first two widgets are always shown and the last three are collapsed as default. The `numUncollapsibleWidget` is taken into account only when collapsible is set to `true`.",
          "format": "int32"
        },
        "widgets": {
          "description": "A section must contain at least 1 widget.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Widget"
          }
        },
        "collapsible": {
          "description": "Indicates whether this section is collapsible. If a section is collapsible, the description must be given.",
          "type": "boolean"
        }
      },
      "description": "A section contains a collection of widgets that are rendered vertically in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties, for example, float.",
      "type": "object",
      "id": "GoogleAppsCardV1Section"
    },
    "DriveDataRef": {
      "type": "object",
      "description": "A reference to the data of a drive attachment.",
      "properties": {
        "driveFileId": {
          "description": "The id for the drive file, for use with the Drive API.",
          "type": "string"
        }
      },
      "id": "DriveDataRef"
    },
    "ListMembershipsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results."
        },
        "memberships": {
          "description": "List of memberships in the requested (or first) page.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        }
      },
      "id": "ListMembershipsResponse"
    },
    "GoogleAppsCardV1SuggestionItem": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleAppsCardV1SuggestionItem",
      "description": "A suggestion item. Only supports text for now.",
      "type": "object"
    },
    "Card": {
      "properties": {
        "name": {
          "description": "Name of the card.",
          "type": "string"
        },
        "sections": {
          "type": "array",
          "description": "Sections are separated by a line divider.",
          "items": {
            "$ref": "Section"
          }
        },
        "header": {
          "$ref": "CardHeader",
          "description": "The header of the card. A header usually contains a title and an image."
        },
        "cardActions": {
          "description": "The actions of this card.",
          "items": {
            "$ref": "CardAction"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Card",
      "description": "A card is a UI element that can contain UI widgets such as texts, images."
    },
    "ActionResponse": {
      "description": "Parameters that a bot can use to configure how it's response is posted.",
      "properties": {
        "url": {
          "description": "URL for users to auth or config. (Only for REQUEST_CONFIG response types.)",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "REQUEST_CONFIG"
          ],
          "description": "The type of bot response.",
          "enumDescriptions": [
            "Default type; will be handled as NEW_MESSAGE.",
            "Post as a new message in the topic.",
            "Update the bot's message. This is only permitted on a CARD_CLICKED event where the message sender type is BOT.",
            "Update a message, with cards only. (Only after a MESSAGE event with a matched url, or a CARD_CLICKED event on a human created message)."
          ]
        },
        "dialogAction": {
          "$ref": "DialogAction",
          "description": "This response is for Dialog related events and must be accompanied by ResponseType.Dialog"
        }
      },
      "type": "object",
      "id": "ActionResponse"
    },
    "DynamiteIntegrationLogEntry": {
      "description": "JSON payload of error messages. If the Cloud Logging API is enabled, these error messages are logged to [Google Cloud Logging](https://cloud.google.com/logging/docs).",
      "id": "DynamiteIntegrationLogEntry",
      "type": "object",
      "properties": {
        "deployment": {
          "description": "The deployment that caused the error. For Chat bots built in Apps Script, this is the deployment ID defined by Apps Script.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error code and message."
        },
        "deploymentFunction": {
          "description": "The unencrypted `callback_method` name that was running when the error was encountered.",
          "type": "string"
        }
      }
    },
    "UserMentionMetadata": {
      "id": "UserMentionMetadata",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ],
          "type": "string",
          "description": "The type of user mention."
        },
        "user": {
          "$ref": "User",
          "description": "The user mentioned."
        }
      },
      "description": "Annotation metadata for user mentions (@).",
      "type": "object"
    },
    "TimeZone": {
      "description": "The timezone id and offset. The id is the tz database time zones such as \"America/Toronto\". The user timezone offset, in milliseconds, from Coordinated Universal Time (UTC).",
      "id": "TimeZone",
      "properties": {
        "offset": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1ActionParameter": {
      "type": "object",
      "id": "GoogleAppsCardV1ActionParameter",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        },
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        }
      }
    },
    "CardAction": {
      "id": "CardAction",
      "properties": {
        "onClick": {
          "description": "The onclick action for this action item.",
          "$ref": "OnClick"
        },
        "actionLabel": {
          "description": "The label used to be displayed in the action menu item.",
          "type": "string"
        }
      },
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser.",
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment in Google Chat.",
      "properties": {
        "name": {
          "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "The content type (MIME type) of the file."
        },
        "thumbnailUri": {
          "type": "string",
          "description": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Bots should not use this URL to download attachment content."
        },
        "contentName": {
          "type": "string",
          "description": "The original file name for the content, not the full path."
        },
        "downloadUri": {
          "description": "Output only. The download URL which should be used to allow a human user to download the attachment. Bots should not use this URL to download attachment content.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DRIVE_FILE",
            "UPLOADED_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The source of the attachment."
        },
        "attachmentDataRef": {
          "$ref": "AttachmentDataRef",
          "description": "A reference to the attachment data. This is used with the media API to download the attachment data."
        },
        "driveDataRef": {
          "description": "A reference to the drive attachment. This is used with the Drive API.",
          "$ref": "DriveDataRef"
        }
      },
      "type": "object",
      "id": "Attachment"
    },
    "GoogleAppsCardV1Card": {
      "type": "object",
      "properties": {
        "fixedFooter": {
          "description": "The fixed footer shown at the bottom of this card.",
          "$ref": "GoogleAppsCardV1CardFixedFooter"
        },
        "name": {
          "type": "string",
          "description": "Name of the card, which is used as a identifier for the card in card navigation."
        },
        "sections": {
          "type": "array",
          "description": "Sections are separated by a line divider.",
          "items": {
            "$ref": "GoogleAppsCardV1Section"
          }
        },
        "displayStyle": {
          "type": "string",
          "description": "The display style for peekCardHeader.",
          "enum": [
            "DISPLAY_STYLE_UNSPECIFIED",
            "PEEK",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "The header of the card appears at the bottom of the sidebar, partially covering the current top card of the stack. Clicking the header pops the card into the card stack. If the card has no header, a generated header is used instead.",
            "The card is shown by replacing the view of the top card in the card stack."
          ]
        },
        "cardActions": {
          "type": "array",
          "description": "The actions of this card. They are added to a card's generated toolbar menu. For example, the following JSON constructs a card action menu with Settings and Send Feedback options: ``` \"card_actions\": [ { \"actionLabel\": \"Setting\", \"onClick\": { \"action\": { \"functionName\": \"goToView\", \"parameters\": [ { \"key\": \"viewType\", \"value\": \"SETTING\" } ], \"loadIndicator\": \"LoadIndicator.SPINNER\" } } }, { \"actionLabel\": \"Send Feedback\", \"onClick\": { \"openLink\": { \"url\": \"https://example.com/feedback\" } } } ] ```",
          "items": {
            "$ref": "GoogleAppsCardV1CardAction"
          }
        },
        "header": {
          "description": "The header of the card. A header usually contains a title and an image.",
          "$ref": "GoogleAppsCardV1CardHeader"
        },
        "peekCardHeader": {
          "$ref": "GoogleAppsCardV1CardHeader",
          "description": "When displaying contextual content, the peek card header acts as a placeholder so that the user can navigate forward between the homepage cards and the contextual cards."
        }
      },
      "id": "GoogleAppsCardV1Card",
[...]
