{
  "revision": "20220125",
  "description": "Enables bots to fetch information and perform actions in Google Chat. Authentication using a service account is a prerequisite for using the Google Chat REST API.",
  "protocol": "rest",
  "batchPath": "batch",
  "version": "v1",
  "title": "Google Chat API",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "dms": {
      "methods": {
        "messages": {
          "id": "chat.dms.messages",
          "flatPath": "v1/dms/{dmsId}/messages",
          "httpMethod": "POST",
          "parameters": {
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            },
            "requestId": {
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "required": true,
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string",
              "pattern": "^dms/[^/]+$"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Message"
          },
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "request": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/messages"
        },
        "webhooks": {
          "parameters": {
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "type": "string",
              "location": "query"
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created."
            },
            "parent": {
              "pattern": "^dms/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/dms/{dmsId}/webhooks",
          "httpMethod": "POST",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "request": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/webhooks",
          "id": "chat.dms.webhooks"
        }
      },
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/dms/{dmsId}/conversations/{conversationsId}/messages",
              "parameters": {
                "requestId": {
                  "location": "query",
                  "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "pattern": "^dms/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "threadKey": {
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Message"
              },
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "parameterOrder": [
                "parent"
              ],
              "id": "chat.dms.conversations.messages",
              "httpMethod": "POST",
              "path": "v1/{+parent}/messages"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "flatPath": "v1/media/{mediaId}",
          "supportsMediaDownload": true,
          "id": "chat.media.download",
          "parameters": {
            "resourceName": {
              "pattern": "^.*$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "path": "v1/media/{+resourceName}",
          "response": {
            "$ref": "Media"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ]
        }
      }
    },
    "rooms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              },
              "parameters": {
                "parent": {
                  "pattern": "^rooms/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
                  "type": "string"
                },
                "threadKey": {
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
                  "location": "query",
                  "type": "string"
                },
                "requestId": {
                  "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/rooms/{roomsId}/conversations/{conversationsId}/messages",
              "parameterOrder": [
                "parent"
              ],
              "id": "chat.rooms.conversations.messages",
              "httpMethod": "POST",
              "path": "v1/{+parent}/messages"
            }
          }
        }
      },
      "methods": {
        "messages": {
          "id": "chat.rooms.messages",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/rooms/{roomsId}/messages",
          "httpMethod": "POST",
          "response": {
            "$ref": "Message"
          },
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "pattern": "^rooms/[^/]+$"
            },
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
              "location": "query"
            },
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "request": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/messages"
        },
        "webhooks": {
          "httpMethod": "POST",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "response": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/webhooks",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "threadKey": {
              "location": "query",
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "type": "string"
            },
            "requestId": {
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "path",
              "pattern": "^rooms/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "type": "string",
              "required": true
            }
          },
          "id": "chat.rooms.webhooks",
          "flatPath": "v1/rooms/{roomsId}/webhooks",
          "request": {
            "$ref": "Message"
          }
        }
      }
    },
    "spaces": {
      "resources": {
        "members": {
          "methods": {
            "get": {
              "id": "chat.spaces.members.get",
              "description": "Returns a membership.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the membership to be retrieved, in the form \"spaces/*/members/*\". Example: spaces/AAAAAAAAAAAA/members/111111111111111111111",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Membership"
              },
              "httpMethod": "GET",
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists human memberships in a space.",
              "path": "v1/{+parent}/members",
              "id": "chat.spaces.members.list",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the space for which membership list is to be fetched, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAAA",
                  "location": "path",
                  "pattern": "^spaces/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "flatPath": "v1/spaces/{spacesId}/members",
              "httpMethod": "GET"
            }
          }
        },
        "messages": {
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API.",
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$",
                      "type": "string",
                      "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\"."
                    }
                  },
                  "response": {
                    "$ref": "Attachment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chat.spaces.messages.attachments.get",
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "update": {
              "parameters": {
                "updateMask": {
                  "description": "Required. The field paths to be updated, comma separated if there are multiple. Currently supported field paths: * text * cards * gsuite_message_integration_render_data * attachment",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`"
                }
              },
              "id": "chat.spaces.messages.update",
              "description": "Updates a message.",
              "request": {
                "$ref": "Message"
              },
              "path": "v1/{+name}",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}"
            },
            "create": {
              "request": {
                "$ref": "Message"
              },
              "flatPath": "v1/spaces/{spacesId}/messages",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^spaces/[^/]+$",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA"
                },
                "threadKey": {
                  "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
                  "type": "string",
                  "location": "query"
                },
                "requestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created."
                }
              },
              "path": "v1/{+parent}/messages",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates a message.",
              "id": "chat.spaces.messages.create"
            },
            "get": {
              "response": {
                "$ref": "Message"
              },
              "id": "chat.spaces.messages.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the message to be retrieved, in the form \"spaces/*/messages/*\". Example: spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB",
                  "type": "string",
                  "required": true,
                  "pattern": "^spaces/[^/]+/messages/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "description": "Returns a message."
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^spaces/[^/]+/messages/[^/]+$"
                }
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a message.",
              "id": "chat.spaces.messages.delete"
            }
          }
        }
      },
      "methods": {
        "list": {
          "id": "chat.spaces.list",
          "flatPath": "v1/spaces",
          "path": "v1/spaces",
          "description": "Lists spaces the caller is a member of.",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "flatPath": "v1/spaces/{spacesId}",
          "response": {
            "$ref": "Space"
          },
          "description": "Returns a space.",
          "parameters": {
            "name": {
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAAA",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "id": "chat.spaces.get"
        },
        "webhooks": {
          "flatPath": "v1/spaces/{spacesId}/webhooks",
          "parameters": {
            "parent": {
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAA",
              "pattern": "^spaces/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "requestId": {
              "type": "string",
              "description": "Optional. A unique request ID for this message. If a message has already been created in the space with this request ID, the subsequent request will return the existing message and no new message will be created.",
              "location": "query"
            },
            "threadKey": {
              "description": "Optional. Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Google Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}/webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "request": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "id": "chat.spaces.webhooks",
          "response": {
            "$ref": "Message"
          }
        }
      }
    }
  },
  "baseUrl": "https://chat.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "id": "chat:v1",
  "servicePath": "",
  "name": "chat",
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "canonicalName": "Hangouts Chat",
  "basePath": "",
  "schemas": {
    "GoogleAppsCardV1Image": {
      "id": "GoogleAppsCardV1Image",
      "type": "object",
      "description": "An image that is specified by a URL and can have an onClick action.",
      "properties": {
        "imageUrl": {
          "description": "An image URL.",
          "type": "string"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "altText": {
          "description": "The alternative text of this image, used for accessibility.",
          "type": "string"
        }
      }
    },
    "OnClick": {
      "id": "OnClick",
      "type": "object",
      "description": "An onclick action (e.g. open a link).",
      "properties": {
        "openLink": {
          "description": "This onclick triggers an open link action if specified.",
          "$ref": "OpenLink"
        },
        "action": {
          "$ref": "FormAction",
          "description": "A form action will be triggered by this onclick if specified."
        }
      }
    },
    "ActionResponse": {
      "description": "Parameters that a bot can use to configure how it's response is posted.",
      "type": "object",
      "properties": {
        "dialogAction": {
          "$ref": "DialogAction",
          "description": "This response is for Dialog related events and must be accompanied by ResponseType.Dialog"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "UPDATE_USER_MESSAGE_CARDS",
            "REQUEST_CONFIG"
          ],
          "enumDescriptions": [
            "Default type; will be handled as NEW_MESSAGE.",
            "Post as a new message in the topic.",
            "Update the bot's message. This is only permitted on a CARD_CLICKED event where the message sender type is BOT.",
            "Update the cards on a user's message. This is only permitted as a response to a MESSAGE event with a matched url, or a CARD_CLICKED event where the message sender type is HUMAN. Text will be ignored.",
            "Privately ask the user for additional auth or config."
          ],
          "description": "The type of bot response."
        },
        "url": {
          "type": "string",
          "description": "URL for users to auth or config. (Only for REQUEST_CONFIG response types.)"
        }
      },
      "id": "ActionResponse"
    },
    "Message": {
      "type": "object",
      "description": "A message in Google Chat.",
      "properties": {
        "fallbackText": {
          "description": "A plain-text description of the message's cards, used when the actual cards cannot be displayed (e.g. mobile notifications).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name in the form `spaces/*/messages/*`. Example: `spaces/AAAAAAAAAAA/messages/BBBBBBBBBBB.BBBBBBBBBBB`"
        },
        "text": {
          "description": "Plain-text body of the message.",
          "type": "string"
        },
        "matchedUrl": {
          "description": "A URL in `spaces.messages.text` that matches a link unfurling pattern. For more information, refer to [Unfurl links](/chat/how-tos/link-unfurling).",
          "$ref": "MatchedUrl"
        },
        "previewText": {
          "description": "Text for generating preview chips. This text will not be displayed to the user, but any links to images, web pages, videos, etc. included here will generate preview chips.",
          "type": "string"
        },
        "thread": {
          "description": "The thread the message belongs to.",
          "$ref": "Thread"
        },
        "attachment": {
          "description": "User uploaded attachment.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "space": {
          "$ref": "Space",
          "description": "The space the message belongs to."
        },
        "actionResponse": {
          "description": "Input only. Parameters that a bot can use to configure how its response is posted.",
          "$ref": "ActionResponse"
        },
        "slashCommand": {
          "$ref": "SlashCommand",
          "description": "Slash command information, if applicable."
        },
        "lastUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the message was last updated in Google Chat server. If the message was never updated, this field will be same as create_time."
        },
        "sender": {
          "description": "The user who created the message.",
          "$ref": "User"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the message was created in Google Chat server."
        },
        "annotations": {
          "type": "array",
          "description": "Output only. Annotations associated with the text in this message.",
          "items": {
            "$ref": "Annotation"
          }
        },
        "cards": {
          "description": "Rich, formatted and interactive cards that can be used to display UI elements such as: formatted texts, buttons, clickable images. Cards are normally displayed below the plain-text body of the message.",
          "items": {
            "$ref": "Card"
          },
          "type": "array"
        },
        "argumentText": {
          "type": "string",
          "description": "Plain-text body of the message with all bot mentions stripped out."
        }
      },
      "id": "Message"
    },
    "Inputs": {
      "description": "The inputs with widgets.",
      "id": "Inputs",
      "properties": {
        "stringInputs": {
          "$ref": "StringInputs"
        },
        "timeInput": {
          "$ref": "TimeInput"
        },
        "dateInput": {
          "$ref": "DateInput"
        },
        "dateTimeInput": {
          "$ref": "DateTimeInput"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1DecoratedText": {
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget or a button after the text.",
      "id": "GoogleAppsCardV1DecoratedText",
      "properties": {
        "startIcon": {
          "$ref": "GoogleAppsCardV1Icon",
          "description": "The icon displayed in front of the text."
        },
        "switchControl": {
          "$ref": "GoogleAppsCardV1SwitchControl",
          "description": "A switch widget can be clicked to change its state or trigger an action."
        },
        "wrapText": {
          "description": "The wrap text setting. If `true`, the text is wrapped and displayed in multiline. Otherwise, the text is truncated.",
          "type": "boolean"
        },
        "topLabel": {
          "description": "The formatted text label that shows above the main text.",
          "type": "string"
        },
        "endIcon": {
          "description": "An icon displayed after the text.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "Only the top and bottom label and content region are clickable."
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "GoogleAppsCardV1Button"
        },
        "bottomLabel": {
          "description": "The formatted text label that shows below the main text.",
          "type": "string"
        },
        "icon": {
          "description": "Deprecated in favor of start_icon.",
          "$ref": "GoogleAppsCardV1Icon"
        },
        "text": {
          "type": "string",
          "description": "Required. The main widget formatted text. See Text formatting for details."
        }
      },
      "type": "object"
    },
    "DriveDataRef": {
      "type": "object",
      "id": "DriveDataRef",
      "description": "A reference to the data of a drive attachment.",
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "The id for the drive file, for use with the Drive API."
        }
      }
    },
    "Dialog": {
      "properties": {
        "body": {
          "description": "Body of the dialog, which will be rendered in a modal. NOTE: The following fields within the objects are not supported: google.apps.card.v1.Widget.date_time_picker google.apps.card.v1.DecoratedText.SwitchControl.on_change_action google.apps.card.v1.TextInput.on_change_action google.apps.card.v1.SelectionInput.on_change_action google.apps.card.v1.DateTimePicker.on_change_action Setting the fields above will have no effect on the dialog.",
          "$ref": "GoogleAppsCardV1Card"
        }
      },
      "type": "object",
      "id": "Dialog",
      "description": "Wrapper around the card body of the dialog."
    },
    "SlashCommand": {
      "properties": {
        "commandId": {
          "description": "The id of the slash command invoked.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SlashCommand",
      "description": "A Slash Command in Chat."
    },
    "GoogleAppsCardV1Section": {
      "id": "GoogleAppsCardV1Section",
      "type": "object",
      "description": "A section contains a collection of widgets that are rendered vertically in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties, for example, float.",
      "properties": {
        "collapsible": {
          "description": "Indicates whether this section is collapsible. If a section is collapsible, the description must be given.",
          "type": "boolean"
        },
        "header": {
          "type": "string",
          "description": "The header of the section. Formatted text is supported."
        },
        "widgets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1Widget"
          },
          "description": "A section must contain at least 1 widget."
        },
        "uncollapsibleWidgetsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of uncollapsible widgets. For example, when a section contains five widgets and the `numUncollapsibleWidget` is set to `2`, the first two widgets are always shown and the last three are collapsed as default. The `numUncollapsibleWidget` is taken into account only when collapsible is set to `true`."
        }
      }
    },
    "ActionParameter": {
      "id": "ActionParameter",
      "type": "object",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        },
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1Divider": {
      "properties": {},
      "description": "A divider that appears in between widgets.",
      "id": "GoogleAppsCardV1Divider",
      "type": "object"
    },
    "GoogleAppsCardV1ActionParameter": {
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "id": "GoogleAppsCardV1ActionParameter",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The name of the parameter for the action script."
        },
        "value": {
          "type": "string",
          "description": "The value of the parameter."
        }
      }
    },
    "GoogleAppsCardV1ImageCropStyle": {
      "properties": {
        "aspectRatio": {
          "format": "double",
          "type": "number",
          "description": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`."
        },
        "type": {
          "enumDescriptions": [
            "No value specified.",
            "Applies a square crop.",
            "Applies a circular crop.",
            "Applies a rectangular crop with a custom aspect ratio.",
            "Applies a rectangular crop with a 4:3 aspect ratio."
          ],
          "type": "string",
          "description": "The crop type.",
          "enum": [
            "IMAGE_CROP_TYPE_UNSPECIFIED",
            "SQUARE",
            "CIRCLE",
            "RECTANGLE_CUSTOM",
            "RECTANGLE_4_3"
          ]
        }
      },
      "type": "object",
      "description": "Represents the crop style applied to an image.",
      "id": "GoogleAppsCardV1ImageCropStyle"
    },
    "AttachmentDataRef": {
      "type": "object",
      "id": "AttachmentDataRef",
      "properties": {
        "resourceName": {
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data.",
          "type": "string"
        }
      },
      "description": "A reference to the data of an attachment."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "OpenLink": {
      "type": "object",
      "description": "A link that opens a new window.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to open."
        }
      },
      "id": "OpenLink"
    },
    "WidgetMarkup": {
      "id": "WidgetMarkup",
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Display an image in this widget."
        },
        "buttons": {
          "description": "A list of buttons. Buttons is also oneof data and only one of these fields should be set.",
          "type": "array",
          "items": {
            "$ref": "Button"
          }
        },
        "textParagraph": {
          "$ref": "TextParagraph",
          "description": "Display a text paragraph in this widget."
        },
        "keyValue": {
          "description": "Display a key value item in this widget.",
          "$ref": "KeyValue"
        }
      }
    },
    "GoogleAppsCardV1Icon": {
      "id": "GoogleAppsCardV1Icon",
      "type": "object",
      "properties": {
        "altText": {
          "description": "The description of the icon, used for accessibility. The default value is provided if you don't specify one.",
          "type": "string"
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        },
        "imageType": {
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "description": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a standard icon.",
          "type": "string",
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ]
        },
        "knownIcon": {
          "type": "string",
          "description": "The icon specified by the string name of a list of known icons"
        }
      }
    },
    "UserMentionMetadata": {
      "id": "UserMentionMetadata",
      "description": "Annotation metadata for user mentions (@).",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of user mention.",
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ]
        },
        "user": {
          "$ref": "User",
          "description": "The user mentioned."
        }
      }
    },
    "GoogleAppsCardV1OpenLink": {
      "id": "GoogleAppsCardV1OpenLink",
      "type": "object",
      "properties": {
        "openAs": {
          "enum": [
            "FULL_SIZE",
            "OVERLAY"
          ],
          "enumDescriptions": [
            "The link opens as a full size window (if that's the frame used by the client.",
            "The link opens as an overlay, such as a pop-up."
          ],
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL to open."
        },
        "onClose": {
          "enum": [
            "NOTHING",
            "RELOAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Doesn’t reload the card after the child window closes. Reloads the card after the child window closes. If used in conjunction with [OpenAs.OVERLAY](/workspace/add-ons/reference/rpc/google.apps.card.v1#openas), the child window acts as a modal dialog and the main card is blocked until the child window closes.",
            ""
          ]
        }
      }
    },
    "DynamiteIntegrationLogEntry": {
      "type": "object",
      "properties": {
        "deploymentFunction": {
          "description": "The unencrypted `callback_method` name that was running when the error was encountered.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error code and message."
        },
        "deployment": {
          "type": "string",
          "description": "The deployment that caused the error. For Chat bots built in Apps Script, this is the deployment ID defined by Apps Script."
        }
      },
      "description": "JSON payload of error messages. If the Cloud Logging API is enabled, these error messages are logged to [Google Cloud Logging](https://cloud.google.com/logging/docs).",
      "id": "DynamiteIntegrationLogEntry"
    },
    "Annotation": {
      "description": "Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/107946847022116401880\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```",
      "properties": {
        "userMention": {
          "description": "The metadata of user mention.",
          "$ref": "UserMentionMetadata"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to."
        },
        "slashCommand": {
          "description": "The metadata for a slash command.",
          "$ref": "SlashCommandMetadata"
        },
        "length": {
          "format": "int32",
          "type": "integer",
          "description": "Length of the substring in the plain-text message body this annotation corresponds to."
        },
        "type": {
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION",
            "SLASH_COMMAND"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user is mentioned.",
            "A slash command is invoked."
          ],
          "type": "string",
          "description": "The type of this annotation."
        }
      },
      "id": "Annotation",
      "type": "object"
    },
    "CardHeader": {
      "id": "CardHeader",
      "type": "object",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "imageStyle": {
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ],
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ],
          "type": "string",
          "description": "The image's type (e.g. square border or circular border)."
        },
        "title": {
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the card header.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1SelectionItem": {
      "properties": {
        "selected": {
          "description": "If more than one item is selected for `RADIO_BUTTON` and `DROPDOWN`, the first selected item is treated as selected and the ones after are ignored.",
          "type": "boolean"
        },
        "text": {
          "type": "string",
          "description": "The text to be displayed."
        },
        "value": {
          "description": "The value associated with this item. The client should use this as a form input value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The item in the switch control. A radio button, at most one of the items is selected.",
      "id": "GoogleAppsCardV1SelectionItem"
    },
    "GoogleAppsCardV1Action": {
      "id": "GoogleAppsCardV1Action",
      "type": "object",
      "description": "An action that describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "properties": {
        "persistValues": {
          "type": "boolean",
          "description": "Indicates whether form values persist after the action. The default value is `false`. If `true`, form values remain after the action is triggered. When using [LoadIndicator.NONE](workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for actions, `persist_values` = `true`is recommended, as it ensures that any changes made by the user after form or on change actions are sent to the server are not overwritten by the response. If `false`, the form values are cleared when the action is triggered. When `persist_values` is set to `false`, it is strongly recommended that the card use [LoadIndicator.SPINNER](workspace/add-ons/reference/rpc/google.apps.card.v1#loadindicator) for all actions, as this locks the UI to ensure no changes are made by the user while the action is being processed."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleAppsCardV1ActionParameter"
          },
          "type": "array",
          "description": "List of action parameters."
        },
        "function": {
          "description": "Apps Script function to invoke when the containing element is clicked/activated.",
          "type": "string"
        },
        "loadIndicator": {
          "type": "string",
          "enumDescriptions": [
            "Displays a spinner to indicate that content is loading.",
            "Nothing is displayed."
          ],
          "enum": [
            "SPINNER",
            "NONE"
          ]
        }
      }
    },
    "MatchedUrl": {
      "properties": {
        "url": {
          "description": "The url that was matched.",
          "type": "string"
        }
      },
      "description": "A matched url in a Chat message. Chat bots can unfurl matched URLs. For more information, refer to [Unfurl links](/chat/how-tos/link-unfurling).",
      "id": "MatchedUrl",
      "type": "object"
    },
    "GoogleAppsCardV1DateTimePicker": {
      "type": "object",
      "id": "GoogleAppsCardV1DateTimePicker",
      "description": "The widget that lets users to specify a date and time.",
      "properties": {
        "name": {
          "description": "The name of the text input that's used in formInput, and uniquely identifies this input.",
          "type": "string"
        },
        "timezoneOffsetDate": {
          "format": "int32",
          "type": "integer",
          "description": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If not set, it uses the user's time zone setting on the client side."
        },
        "label": {
          "description": "The label for the field that displays to the user.",
          "type": "string"
        },
        "valueMsEpoch": {
          "format": "int64",
          "type": "string",
          "description": "The value to display as the default value before user input or previous user input. It is represented in milliseconds (Epoch time). For `DATE_AND_TIME` type, the full epoch value is used. For `DATE_ONLY` type, only date of the epoch time is used. For `TIME_ONLY` type, only time of the epoch time is used. For example, you can set epoch time to `3 * 60 * 60 * 1000` to represent 3am."
        },
        "type": {
          "type": "string",
          "description": "The type of the date/time picker.",
          "enumDescriptions": [
            "The user can select a date and time.",
            "The user can only select a date.",
            "The user can only select a time."
          ],
          "enum": [
            "DATE_AND_TIME",
            "DATE_ONLY",
            "TIME_ONLY"
          ]
        },
        "onChangeAction": {
          "description": "Triggered when the user clicks Save or Clear from the date/time picker dialog. This is only triggered if the value changed as a result of the Save/Clear operation.",
          "$ref": "GoogleAppsCardV1Action"
        }
      }
    },
    "ActionStatus": {
      "description": "ActionStatus represents status of a request from the bot developer's side. In specific, for each request a bot gets, the bot developer will set both fields below in relation to what the response status and message related to status should be.",
      "properties": {
        "userFacingMessage": {
          "description": "This message will be the corresponding string to the above status_code. If unset, an appropriate generic message based on the status_code will be shown to the user. If this field is set then the message will be surfaced to the user for both successes and errors.",
          "type": "string"
        },
        "statusCode": {
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "The status code.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "type": "string"
        }
      },
      "id": "ActionStatus",
      "type": "object"
    },
    "Media": {
      "type": "object",
      "id": "Media",
      "description": "Media resource.",
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      }
    },
    "Section": {
      "type": "object",
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float).",
      "properties": {
        "header": {
          "type": "string",
          "description": "The header of the section, text formatted supported."
        },
        "widgets": {
          "items": {
            "$ref": "WidgetMarkup"
          },
          "description": "A section must contain at least 1 widget.",
          "type": "array"
        }
      },
      "id": "Section"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleAppsCardV1Grid": {
      "properties": {
        "items": {
          "description": "The items to display in the grid.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1GridItem"
          }
        },
        "title": {
          "type": "string",
          "description": "The text that displays in the grid header."
        },
        "borderStyle": {
          "$ref": "GoogleAppsCardV1BorderStyle",
          "description": "The border style to apply to each grid item."
        },
        "onClick": {
          "description": "This callback is reused by each individual grid item, but with the item's identifier and index in the items list added to the callback's parameters.",
          "$ref": "GoogleAppsCardV1OnClick"
        },
        "columnCount": {
          "description": "The number of columns to display in the grid. A default value is used if this field isn't specified, and that default value is different depending on where the grid is shown (dialog versus companion).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsCardV1Grid",
      "description": "Represents a Grid widget that displays items in a configurable grid layout.",
      "type": "object"
    },
    "SlashCommandMetadata": {
      "id": "SlashCommandMetadata",
      "description": "Annotation metadata for slash commands (/).",
      "properties": {
        "type": {
          "description": "The type of slash command.",
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add bot to space.",
            "Invoke slash command in space."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ]
        },
        "triggersDialog": {
          "description": "Indicating whether the slash command is for a dialog.",
          "type": "boolean"
        },
        "bot": {
          "$ref": "User",
          "description": "The bot whose command was invoked."
        },
        "commandName": {
          "type": "string",
          "description": "The name of the invoked slash command."
        },
        "commandId": {
          "type": "string",
          "description": "The command id of the invoked slash command.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1CardFixedFooter": {
      "type": "object",
      "properties": {
        "primaryButton": {
          "$ref": "GoogleAppsCardV1Button",
          "description": "The primary button of the fixed footer. The button must be a text button with text and color set."
        },
        "secondaryButton": {
          "description": "The secondary button of the fixed footer. The button must be a text button with text and color set. `primaryButton` must be set if `secondaryButton` is set.",
          "$ref": "GoogleAppsCardV1Button"
        }
      },
      "description": "A persistent (sticky) footer that is added to the bottom of the card.",
      "id": "GoogleAppsCardV1CardFixedFooter"
    },
    "User": {
      "id": "User",
      "properties": {
        "isAnonymous": {
          "type": "boolean",
          "description": "True when the user is deleted or the user's profile is not visible."
        },
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Bot user."
          ],
          "description": "User type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for a Google Chat user. Formatted as `users/AAAAAAAAAAA`. Represents a [person](https://developers.google.com/people/api/rest/v1/people#Person) in the People API."
        },
        "domainId": {
          "type": "string",
          "description": "Unique identifier of the user's Google Workspace domain."
        },
        "displayName": {
          "description": "The user's display name.",
          "type": "string"
        }
      },
      "description": "A user in Google Chat.",
      "type": "object"
    },
    "DateTimeInput": {
      "description": "Input Parameter for Date and Time Picker widget.",
      "properties": {
        "hasDate": {
          "type": "boolean"
        },
        "hasTime": {
          "type": "boolean"
        },
        "msSinceEpoch": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DateTimeInput",
      "type": "object"
    },
    "GoogleAppsCardV1Suggestions": {
      "properties": {
        "items": {
          "description": "A list of suggestions items which will be used in are used in autocomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCardV1SuggestionItem"
          }
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1Suggestions",
      "description": "A container wrapping elements necessary for showing suggestion items used in text input autocomplete."
    },
    "GoogleAppsCardV1TextParagraph": {
      "type": "object",
      "id": "GoogleAppsCardV1TextParagraph",
      "description": "A paragraph of text that supports formatting. See [Text formatting](workspace/add-ons/concepts/widgets#text_formatting\") for details.",
      "properties": {
        "text": {
          "description": "The text that's shown in the widget.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCardV1OnClick": {
      "properties": {
        "openDynamicLinkAction": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "An add-on triggers this action when the action needs to open a link. This differs from the open_link above in that this needs to talk to server to get the link. Thus some preparation work is required for web client to do before the open link action response comes back."
        },
        "card": {
          "$ref": "GoogleAppsCardV1Card",
          "description": "A new card is pushed to the card stack after clicking if specified."
        },
        "action": {
          "$ref": "GoogleAppsCardV1Action",
          "description": "If specified, an action is triggered by this onClick."
        },
        "openLink": {
          "$ref": "GoogleAppsCardV1OpenLink",
          "description": "If specified, this onClick triggers an open link action."
        }
      },
      "id": "GoogleAppsCardV1OnClick",
      "type": "object"
    },
    "Image": {
      "description": "An image that is specified by a URL and can have an onclick action.",
      "properties": {
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        },
        "imageUrl": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "aspectRatio": {
          "description": "The aspect ratio of this image (width/height). This field allows clients to reserve the right height for the image while waiting for it to load. It's not meant to override the native aspect ratio of the image. If unset, the server fills it by prefetching the image.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "Image",
      "type": "object"
    },
    "DialogAction": {
      "description": "Contains dialog if present as well as the ActionStatus for the request sent from user.",
      "properties": {
        "actionStatus": {
          "$ref": "ActionStatus",
          "description": "Status for either invoke dialog or submit dialog requests. This will be used to display a status and message to user if needed. For example in case of an error or success."
        },
        "dialog": {
          "description": "Dialog for the request.",
          "$ref": "Dialog"
        }
      },
      "type": "object",
      "id": "DialogAction"
    },
    "GoogleAppsCardV1CardAction": {
      "properties": {
        "actionLabel": {
          "description": "The label that displays as the action menu item.",
          "type": "string"
        },
        "onClick": {
          "$ref": "GoogleAppsCardV1OnClick",
          "description": "The onclick action for this action item."
        }
      },
      "type": "object",
      "id": "GoogleAppsCardV1CardAction",
      "description": "A card action is the action associated with the card. For example, an invoice card might include actions such as delete invoice, email invoice, or open the invoice in a browser."
    },
    "Card": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the card."
        },
        "header": {
          "$ref": "CardHeader",
          "description": "The header of the card. A header usually contains a title and an image."
        },
        "cardActions": {
          "description": "The actions of this card.",
          "items": {
            "$ref": "CardAction"
          },
          "type": "array"
        },
        "sections": {
          "type": "array",
          "description": "Sections are separated by a line divider.",
          "items": {
            "$ref": "Section"
          }
        }
      },
      "id": "Card",
      "description": "A card is a UI element that can contain UI widgets such as texts, images.",
      "type": "object"
    },
    "Thread": {
      "description": "A thread in Google Chat.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name, in the form \"spaces/*/threads/*\". Example: spaces/AAAAAAAAAAA/threads/TTTTTTTTTTT"
        }
      },
      "id": "Thread"
    },
    "GoogleAppsCardV1GridItem": {
      "type": "object",
      "properties": {
        "textAlignment": {
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "description": "The horizontal alignment of the grid item's text.",
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "image": {
          "description": "The image that displays in the grid item.",
          "$ref": "GoogleAppsCardV1ImageComponent"
        },
        "subtitle": {
          "type": "string",
          "description": "The grid item's subtitle."
        },
        "layout": {
          "description": "The layout to use for the grid item.",
          "enum": [
            "GRID_ITEM_LAYOUT_UNSPECIFIED",
            "TEXT_BELOW",
            "TEXT_ABOVE"
          ],
          "enumDescriptions": [
            "No layout specified.",
            "The title and subtitle are shown below the grid item's image.",
            "The title and subtitle are shown above the grid item's image."
          ],
          "type": "string"
        },
        "title": {
          "description": "The grid item's title.",
          "type": "string"
        },
        "id": {
          "description": "A user-specified identifier for this grid item. This identifier is returned in the parent Grid's onClick callback parameters.",
          "type": "string"
        }
      },
      "description": "Represents a single item in the grid layout.",
      "id": "GoogleAppsCardV1GridItem"
    },
    "TimeInput": {
      "description": "Input Parameter for Time Picker widget.",
      "id": "TimeInput",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "DateInput": {
      "description": "Input Parameter for Date Picker widget.",
      "type": "object",
      "properties": {
        "msSinceEpoch": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DateInput"
    },
    "GoogleAppsCardV1ImageComponent": {
      "type": "object",
      "properties": {
        "altText": {
          "description": "The accessibility label for the image.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "The image URL."
        },
        "borderStyle": {
          "$ref": "GoogleAppsCardV1BorderStyle",
          "description": "The border style to apply to the image."
        },
        "cropStyle": {
          "$ref": "GoogleAppsCardV1ImageCropStyle",
          "description": "The crop style to apply to the image."
        }
      },
      "id": "GoogleAppsCardV1ImageComponent"
    },
    "GoogleAppsCardV1CardHeader": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image in the card header.",
          "type": "string"
        },
        "imageType": {
          "description": "The image's type.",
          "enum": [
            "SQUARE",
            "CIRCLE"
          ],
          "enumDescriptions": [
            "Applies no cropping to the image.",
            "Applies a circular mask to the image."
          ],
          "type": "string"
        },
        "imageAltText": {
          "type": "string",
          "description": "The alternative text of this image which is used for accessibility."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        },
        "title": {
          "type": "string",
          "description": "The title of the card header. The title must be specified. The header has a fixed height: if both a title and subtitle are specified, each takes up one line. If only the title is specified, it takes up both lines."
        }
      },
      "id": "GoogleAppsCardV1CardHeader"
    },
    "TextButton": {
      "description": "A button with text and onclick action.",
      "id": "TextButton",
      "properties": {
        "text": {
          "description": "The text of the button.",
          "type": "string"
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action of the button."
        }
      },
      "type": "object"
    },
    "StringInputs": {
      "type": "object",
      "id": "StringInputs",
      "description": "Input parameter for regular widgets. For single-valued widgets, it will be a single value list; for multi-valued widgets, such as checkbox, all the values are presented.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleAppsCardV1Widget": {
      "properties": {
        "selectionInput": {
          "description": "Displays a switch control in this widget. For example, the following JSON creates a dropdown selection for size: ``` \"switchControl\": { \"name\": \"size\", \"label\": \"Size\" \"type\": \"SelectionType.DROPDOWN\", \"items\": [ { \"text\": \"S\", \"value\": \"small\", \"selected\": false }, { \"text\": \"M\", \"value\": \"medium\", \"selected\": true }, { \"text\": \"L\", \"value\": \"large\", \"selected\": false }, { \"text\": \"XL\", \"value\": \"extra_large\", \"selected\": false } ] } ```",
          "$ref": "GoogleAppsCardV1SelectionInput"
        },
        "decoratedText": {
          "$ref": "GoogleAppsCardV1DecoratedText",
          "description": "Displays a decorated text item in this widget. For example, the following JSON creates a decorated text widget showing email address: ``` \"decoratedText\": { \"icon\": { \"knownIcon\": \"EMAIL\" }, \"topLabel\": \"Email Address\", \"content\": \"heba.salam@example.com\", \"bottomLabel\": \"This is a new Email address!\", \"switchWidget\": { \"name\": \"has_send_welcome_email_to_heba_salam\", \"selected\": false, \"controlType\": \"ControlType.CHECKBOX\" } } ```"
        },
        "dateTimePicker": {
          "description": "Displays a selection/input widget for date/time. For example, the following JSON creates a date/time picker for an appointment time: ``` \"date_time_picker\": { \"name\": \"appointment_time\", \"label\": \"Book your appointment at:\", \"type\": \"DateTimePickerType.DATE_AND_TIME\", \"valueMsEpoch\": \"796435200000\" } ```",
          "$ref": "GoogleAppsCardV1DateTimePicker"
        },
        "grid": {
          "$ref": "GoogleAppsCardV1Grid",
          "description": "Displays a grid with a collection of items. For example, the following JSON creates a 2 column grid with a single item: ``` \"grid\": { \"title\": \"A fine collection of items\", \"numColumns\": 2, \"borderStyle\": { \"type\": \"STROKE\", \"cornerRadius\": 4.0 }, \"items\": [ \"image\": { \"imageUri\": \"https://www.example.com/image.png\", \"cropStyle\": { \"type\": \"SQUARE\" }, \"borderStyle\": { \"type\": \"STROKE\" } }, \"title\": \"An item\", \"textAlignment\": \"CENTER\" ], \"onClick\": { \"openLink\": { \"url\":\"https://www.example.com\" } } } ```"
        },
        "textInput": {
          "$ref": "GoogleAppsCardV1TextInput",
          "description": "Displays a text input in this widget. For example, the following JSON creates a text input for mail address: ``` \"textInput\": { \"name\": \"mailing_address\", \"label\": \"Mailing Address\" } ``` As another example, the following JSON creates a text input for programming language with static suggestions: ``` \"textInput\": { \"name\": \"preferred_programing_language\", \"label\": \"Preferred Language\", \"initialSuggestions\": { \"items\": [ { \"text\": \"C++\" }, { \"text\": \"Java\" }, { \"text\": \"JavaScript\" }, { \"text\": \"Python\" } ] } } ```"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "enumDescriptions": [
            "Unspecified alignment.",
            "Alignment to the start position.",
            "Alignment to the center position.",
            "Alignment to the end position."
          ],
          "type": "string",
          "description": "The horizontal alignment of this widget."
        },
        "textParagraph": {
          "description": "Displays a text paragraph in this widget. For example, the following JSON creates a bolded text: ``` \"textParagraph\": { \"text\": \" *bold text*\" } ```",
          "$ref": "GoogleAppsCardV1TextParagraph"
        },
        "image": {
          "$ref": "GoogleAppsCardV1Image",
          "description": "Displays an image in this widget. For example, the following JSON creates an image with alternative text: ``` \"image\": { \"imageUrl\": \"https://example.com/heba_salam.png\" \"altText\": \"Avatar for Heba Salam\" } ```"
        },
        "divider": {
          "$ref": "GoogleAppsCardV1Divider",
          "description": "Displays a divider. For example, the following JSON creates a divider: ``` \"divider\": { } ```"
        },
        "buttonList": {
          "$ref": "GoogleAppsCardV1ButtonList",
          "description": "A list of buttons. For example, the following JSON creates two buttons. The first is a filled text button and the second is an image button that opens a link: ``` \"buttonList\": { \"buttons\": [ \"button\": { \"text\": \"Edit\", \"Color\": { \"Red\": 255 \"Green\": 255 \"Blue\": 255 } \"disabled\": true }, \"button\": { \"icon\": { \"knownIcon\": \"INVITE\" \"altText\": \"check calendar\" }, \"onClick\": { \"openLink\": { \"url\": \"https://example.com/calendar\" } } }, ] } ```"
        }
      },
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object",
      "id": "GoogleAppsCardV1Widget"
    },
    "Space": {
      "properties": {
        "threaded": {
          "description": "Output only. Whether the messages are threaded in this space.",
          "type": "boolean",
          "readOnly": true
        },
        "type": {
          "description": "Deprecated. Use `single_user_bot_dm` instead. Output only. The type of a space.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ],
          "enumDescriptions": [
            "",
            "Conversations between two or more humans.",
            "1:1 Direct Message between a human and a Chat bot, where all messages are flat. Note that this does not include direct messages between two humans."
          ]
        },
        "name": {
          "type": "string",
          "description": "Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAAAAAAAAA"
        },
        "displayName": {
          "type": "string",
          "description": "The space's display name. For direct messages between humans, this field might be empty."
        },
        "singleUserBotDm": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the space is a DM between a bot and a single human."
        }
      },
      "id": "Space",
      "type": "object",
      "description": "A space in Google Chat. Spaces are conversations between two or more users or 1:1 messages between a user and a Chat bot."
    },
    "GoogleAppsCardV1SuggestionItem": {
      "id": "GoogleAppsCardV1SuggestionItem",
      "description": "A suggestion item. Only supports text for now.",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeprecatedEvent": {
      "description": "Google Chat events.",
      "type": "object",
      "id": "DeprecatedEvent",
      "properties": {
        "isDialogEvent": {
          "type": "boolean",
          "description": "Whether or not this event is related to dialogs request, submit or cancel. This will be set to true when we want a request/submit/cancel event."
        },
        "common": {
          "description": "This will include form information for dialogs such as form inputs, action parameters.",
          "$ref": "CommonEventObject"
        },
        "token": {
          "type": "string",
          "description": "A secret value that bots can use to verify if a request is from Google. The token is randomly generated by Google, remains static, and can be obtained from the Google Chat API configuration page in the Cloud Console. Developers can revoke/regenerate it if needed from the same page."
        },
        "action": {
          "$ref": "FormAction",
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/chat/how-tos/cards-onclick) for more information."
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "The timestamp indicating when the event occurred.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the event.",
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a space.",
            "The bot was added to a space.",
            "The bot was removed from a space.",
            "The bot's interactive card was clicked."
          ]
        },
        "threadKey": {
          "type": "string",
          "description": "The bot-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information."
        },
        "message": {
          "$ref": "Message",
          "description": "The message that triggered the event, if applicable."
        },
        "dialogEventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "REQUEST_DIALOG",
            "SUBMIT_DIALOG",
            "CANCEL_DIALOG"
          ],
          "enumDescriptions": [
            "This could be used when the corresponding event is not dialog related. For example an @mention.",
            "For any user action that would result in a dialog opening.",
            "For card click events from any dialog.",
            "For native cancellation button."
          ],
          "description": "The type of dialog event we have received.",
          "type": "string"
        },
        "user": {
          "description": "The user that triggered the event.",
          "$ref": "User"
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the bot should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/chat/how-tos/auth-3p) for more information.",
          "type": "string"
        },
        "space": {
          "$ref": "Space",
          "description": "The space in which the event occurred."
        }
      }
    },
    "GoogleAppsCardV1ButtonList": {
      "id": "GoogleAppsCardV1ButtonList",
      "description": "A list of buttons layed out horizontally.",
      "properties": {
        "buttons": {
          "items": {
            "$ref": "GoogleAppsCardV1Button"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "KeyValue": {
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.",
      "id": "KeyValue",
      "properties": {
        "icon": {
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "type": "string",
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "topLabel": {
          "description": "The text of the top label. Formatted text supported.",
          "type": "string"
        },
        "contentMultiline": {
          "description": "If the content should be multiline.",
          "type": "boolean"
        },
        "onClick": {
          "description": "The onclick action. Only the top label, bottom label and content region are clickable.",
          "$ref": "OnClick"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "content": {
          "type": "string",
          "description": "The text of the content. Formatted text supported and always required."
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "Button"
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text of the bottom label. Formatted text supported."
        }
      },
      "type": "object"
    },
    "GoogleAppsCardV1SwitchControl": {
      "id": "GoogleAppsCardV1SwitchControl",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the switch widget that's used in formInput.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value is what is passed back in the callback."
        },
        "selected": {
          "description": "If the switch is selected.",
          "type": "boolean"
        },
        "controlType": {
          "enumDescriptions": [
            "",
            "Deprecated in favor of `CHECK_BOX`.",
            ""
          ],
          "type": "string",
          "description": "The control type, either switch or checkbox.",
          "enum": [
            "SWITCH",
            "CHECKBOX",
            "CHECK_BOX"
          ]
        },
        "onChangeAction": {
          "description": "The action when the switch state is changed.",
          "$ref": "GoogleAppsCardV1Action"
        }
      }
    },
    "TextParagraph": {
      "description": "A paragraph of text. Formatted text supported.",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "TextParagraph"
    },
    "Button": {
      "id": "Button",
      "type": "object",
      "properties": {
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and onclick action."
        },
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        }
      },
      "description": "A button. Can be a text button or an image button."
    },
    "ListMembershipsResponse": {
      "type": "object",
      "properties": {
        "memberships": {
          "description": "List of memberships in the requested (or first) page.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results.",
          "type": "string"
        }
      },
      "id": "ListMembershipsResponse"
    },
    "GoogleAppsCardV1SelectionInput": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "The label displayed ahead of the switch control."
        },
        "items": {
          "items": {
            "$ref": "GoogleAppsCardV1SelectionItem"
          },
          "type": "array"
        },
        "onChangeAction": {
          "description": "If specified, the form is submitted when the selection changes. If not specified, you must specify a separate button.",
          "$ref": "GoogleAppsCardV1Action"
        },
        "name": {
          "type": "string",
          "description": "The name of the text input which is used in formInput."
        },
        "type": {
          "enum": [
            "CHECK_BOX",
            "RADIO_BUTTON",
            "SWITCH",
            "DROPDOWN"
          ],
          "enumDescriptions": [
            "The selection type is a checkbox.",
            "The selection type is a radio button.",
            "The selection type is a switch.",
            "The selection type is a dropdown."
          ],
          "type": "string"
        }
      },
      "description": "A widget that creates a UI item (for example, a drop-down list) with options for users to select.",
      "id": "GoogleAppsCardV1SelectionInput"
    },
    "CommonEventObject": {
      "properties": {
        "hostApp": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "This is only used for aggregating logs on the server. Clients should never send these values directly."
          ],
          "description": "The hostApp enum which indicates the app the add-on is invoked from",
          "enum": [
            "UNSPECIFIED_HOST_APP",
            "GMAIL",
            "CALENDAR",
            "DRIVE",
            "DEMO",
            "DOCS",
            "SHEETS",
            "SLIDES",
            "DRAWINGS",
            "CHAT",
            "ALL_HOST_APPS"
          ]
        },
        "invokedFunction": {
          "type": "string",
          "description": "Name of the invoked function associated with the widget. This field is currently only set for chat."
        },
        "parameters": {
          "description": "Any additional parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeZone": {
          "$ref": "TimeZone"
        },
        "formInputs": {
          "description": "The keys are the string IDs associated with the widget and the values are inputs with a widget in the card.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Inputs"
          }
        },
        "userLocale": {
          "description": "The full locale.displayName in the format of [ISO 639 language code]-[ISO 3166 country/region code] such as \"en-US\"",
          "type": "string"
        },
        "platform": {
          "enum": [
            "UNKNOWN_PLATFORM",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "description": "The platform enum which indicates the platform where the add-on is running.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Next available ID = 8",
      "type": "object",
      "id": "CommonEventObject"
    },
    "FormAction": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "ActionParameter"
          },
          "description": "List of action parameters.",
          "type": "array"
        },
        "actionMethodName": {
          "type": "string",
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the bot as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired."
        }
      },
      "type": "object",
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "id": "FormAction"
    },
    "Color": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "id": "Color",
      "properties": {
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
[...]
