{
  "description": "The Checks API contains powerful and easy-to-use privacy and compliance APIs that interact with the Checks product and its underlying technology.",
  "revision": "20230619",
  "canonicalName": "Checks Service",
  "basePath": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "title": "Checks API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/checks",
  "version_module": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "rootUrl": "https://checks.googleapis.com/",
  "schemas": {
    "AnalyzePrivacyPolicyResponse": {
      "type": "object",
      "description": "The response proto for AnalyzePrivacyPolicy method.",
      "properties": {
        "dataPurposeAnnotations": {
          "type": "array",
          "description": "List of all data types in the privacy policy.",
          "items": {
            "$ref": "PolicyPurposeOfUseAnnotation"
          }
        },
        "htmlContent": {
          "description": "HTML content for the privacy policy page.",
          "type": "string"
        },
        "lastUpdatedDateInfo": {
          "$ref": "LastUpdatedDate",
          "description": "Information about the date when the privacy policy was last updated."
        },
        "dataTypeAnnotations": {
          "description": "List of all data types in the privacy policy.",
          "items": {
            "$ref": "PolicyDataTypeAnnotation"
          },
          "type": "array"
        },
        "sectionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "PolicySectionAnnotation"
          },
          "description": "List of all sections in the privacy policy."
        }
      },
      "id": "AnalyzePrivacyPolicyResponse"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "PolicyPurposeOfUseAnnotation": {
      "type": "object",
      "id": "PolicyPurposeOfUseAnnotation",
      "properties": {
        "endOffset": {
          "description": "Byte offsets for the end of the purpose of use sentence inside the full text.",
          "type": "string",
          "format": "int64"
        },
        "score": {
          "description": "Score given by the model representing how confident it was regarding this `text_content` being of `purpose_of_use`.",
          "type": "number",
          "format": "float"
        },
        "purposeOfUse": {
          "enumDescriptions": [
            "Default value.",
            "Data is used for general app functions, or interface with the user, e.g. customer support.",
            "Data is used for minimizing app crashes, enabling scalability and performance, etc.",
            "Data is used for fraud prevention, protecting user accounts, or other security purposes.",
            "Data is used for personalizing/customizing what the user sees.",
            "Data is used for evaluating user behavior, measuring audience size, etc.",
            "Data is used for sending marketing communications directly to your users, notifications, reminders, or update notices.",
            "Data is used by a third-party to display ads in the app (or elsewhere).",
            "Data is used for displaying ads in the app, or sharing data with entities who display ads.",
            "Data is used for compliance with legal obligations, e.g., regulations, government data requests, law enforcement requests in general, etc.",
            "If a company/organization merges or is acquired it transfers users' information to another company/organization.",
            "Any other specific purposes that are not listed above.",
            "The purpose of use is not explicitly stated or unclear."
          ],
          "type": "string",
          "enum": [
            "PURPOSE_OF_USE_UNSPECIFIED",
            "APP_FUNCTIONALITY",
            "APP_DIAGNOSTICS_AND_PERFORMANCE",
            "FRAUD_PREVENTION_AND_SECURITY",
            "PRODUCT_PERSONALIZATION",
            "ANALYTICS",
            "DEVELOPERS_COMMUNICATION_AND_MARKETING",
            "THIRD_PARTY_ADVERTISING",
            "GENERAL_ADVERTISING",
            "LEGAL_COMPLIANCE",
            "MERGERS_AND_ACQUISITIONS",
            "OTHER_SPECIFIED_PURPOSE",
            "NO_PURPOSE_MENTIONED"
          ],
          "description": "Purpose of use mentioned in the policy."
        },
        "startOffset": {
          "type": "string",
          "description": "Byte offsets for the start of the purpose of use sentence inside the full text.",
          "format": "int64"
        },
        "textContent": {
          "type": "string",
          "description": "The bytes of actual text content in the sentence that mentions the purpose of use. This makes it much easier to consume the information. NOTE: This field might contain HTML and does not guarantee a SafeHtml security contract go/safehtmltypecontracts#safehtml."
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "PolicyDataTypeAnnotation": {
      "type": "object",
      "properties": {
        "textContent": {
          "description": "Actual text content in the section. This makes it much easier to consume the information. NOTE: This field might contain HTML and does not guarantee a SafeHtml security contract go/safehtmltypecontracts#safehtml.",
          "type": "string"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "Score given by the model representing how confident it was regarding this `text_content` being of `data_type`."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "CONTACT_INFO_NAME",
            "CONTACT_INFO_EMAIL_ADDRESS",
            "CONTACT_INFO_PHONE_NUMBER",
            "CONTACT_INFO_MAILING_ADDRESS",
            "CONTACT_INFO_OTHER",
            "IDENTITY_INFO_OTHER",
            "USER_CONTENT_EMAIL_MESSAGES",
            "USER_CONTENT_TEXT_MESSAGES",
            "USER_CONTENT_OTHER_IN_APP_MESSAGES",
            "USER_CONTENT_PHOTOS",
            "USER_CONTENT_VIDEOS",
            "USER_CONTENT_MUSIC_FILES",
            "USER_CONTENT_VOICE_OR_SOUND_RECORDINGS",
            "USER_CONTENT_OTHER_AUDIO_FILES",
            "USER_CONTENT_FILES_AND_DOCS",
            "USER_CONTENT_GAMEPLAY_DATA",
            "USER_CONTENT_CUSTOMER_SUPPORT",
            "COOKIES_AND_TRACKING_ELEMENTS",
            "BROWSING_HISTORY",
            "SEARCH_HISTORY",
            "PURCHASE_HISTORY",
            "PRODUCT_INTERACTION",
            "USER_GENERATED_CONTENT_OTHER",
            "IN_APP_ACTIONS_OTHER",
            "ADVERTISING",
            "APP_CRASH_LOGS",
            "APP_DIAGNOSTICS",
            "APP_PERFORMANCE_OTHER",
            "USER_IDENTIFIERS",
            "DEVICE_IDENTIFIERS",
            "IP_ADDRESS",
            "CONTACTS",
            "AUTHENTICATION_DATA",
            "CALENDAR_EVENTS_OR_NOTES",
            "HEALTH",
            "FITNESS",
            "LOCATION_PRECISE",
            "LOCATION_COARSE",
            "LOCATION_GENERAL",
            "APPS_ON_DEVICE",
            "FINANCIAL_PAYMENT_INFO",
            "FINANCIAL_CREDIT_INFO",
            "FINANCIAL_OTHER",
            "PERSONAL_INFO_RACE_AND_ETHNICITY",
            "PERSONAL_INFO_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "PERSONAL_INFO_SEXUAL_ORIENTATION",
            "PERSONAL_INFO_OTHER",
            "GENERIC_PERSONAL_INFORMATION",
            "UNSPECIFIED_INFORMATION",
            "OTHER_DATA"
          ],
          "enumDescriptions": [
            "Default value.",
            "Data type on the privacy policy describing Contact Info name.",
            "Data type on the privacy policy describing Contact Info email address.",
            "Data type on the privacy policy describing Contact Info phone number.",
            "Data type on the privacy policy describing Contact Info mailing address.",
            "Data type on the privacy policy describing Contact Info other.",
            "Data type on the privacy policy describing Identity Info other.",
            "Data type on the privacy policy describing User Content email messages.",
            "Data type on the privacy policy describing User Content text messages.",
            "Data type on the privacy policy describing User Content other in-app messages.",
            "Data type on the privacy policy describing User Content photos.",
            "Data type on the privacy policy describing User Content videos.",
            "Data type on the privacy policy describing User Content music files.",
            "Data type on the privacy policy describing User Content voice or sound recordings.",
            "Data type on the privacy policy describing User Content other audio files.",
            "Data type on the privacy policy describing User Content files or documents.",
            "Data type on the privacy policy describing User Content gameplay data.",
            "Data type on the privacy policy describing User Content customer support.",
            "Data type on the privacy policy describing Cookies and other tracking elements, e.g. web beacons.",
            "Data type on the privacy policy describing Browsing History.",
            "Data type on the privacy policy describing Search History.",
            "Data type on the privacy policy describing Purchase History.",
            "Data type on the privacy policy describing Product Interaction data.",
            "Data type on the privacy policy describing other User Generated Content.",
            "Data type on the privacy policy describing other User Generated Content.",
            "Data type on the privacy policy describing Advertising data.",
            "Data type on the privacy policy describing Crash Logs data.",
            "Data type on the privacy policy describing App Diagnostics data.",
            "Data type on the privacy policy describing other App Performance data.",
            "Data type on the privacy policy describing User or account-level IDs.",
            "Data type on the privacy policy describing device-level IDs.",
            "Data type on the privacy policy describing IP Addresses.",
            "Data type on the privacy policy describing Contacts data.",
            "Data type on the privacy policy describing Authentication data, e.g. passwords.",
            "Data type on the privacy policy describing Calendar events or notes.",
            "Data type on the privacy policy describing Health data.",
            "Data type on the privacy policy describing Fitness data.",
            "Data type on the privacy policy describing Precise Location data.",
            "Data type on the privacy policy describing Coarse Location data.",
            "Data type on the privacy policy describing general Location data, without specifying precise or coarse.",
            "Data type on the privacy policy describing Apps on Device.",
            "Data type on the privacy policy describing Financial Payment info.",
            "Data type on the privacy policy describing Financial Credit info.",
            "Data type on the privacy policy describing Financial other data.",
            "Data type on the privacy policy describing a user’s race or ethnicity.",
            "Data type on the privacy policy describing a user’s political or religious beliefs.",
            "Data type on the privacy policy describing a user’s sexual orientation.",
            "Data type on the privacy policy describing Personal Info other.",
            "Data type on the privacy policy describing generic personal information, e.g. \"we collection your personal information.\"",
            "Data type on the privacy policy describing information in general with no speicific type, e.g. \"we collect information you voluntarily provide.\"",
            "Data type on the privacy policy describing specific types of data that are not covered by others labels, or ambiguous cases where no clear type exists, e.g. \"we collect your movement data,\" which could be location, fitness, or even product interaction, depending on the context."
          ],
          "description": "Type of the data mentioned in the policy.",
          "type": "string"
        },
        "startOffset": {
          "description": "Byte offsets for the start of the data type sentence inside the full text.",
          "format": "int64",
          "type": "string"
        },
        "endOffset": {
          "format": "int64",
          "type": "string",
          "description": "Byte offsets for the end of the data type sentence inside the full text."
        }
      },
      "id": "PolicyDataTypeAnnotation"
    },
    "PolicySectionAnnotation": {
      "type": "object",
      "properties": {
        "textContent": {
          "description": "Actual text content in the section. This makes it much easier to consume the information. NOTE: This field might contain HTML and does not guarantee a SafeHtml security contract go/safehtmltypecontracts#safehtml.",
          "type": "string"
        },
        "score": {
          "description": "Score given by the model representing how confident it was regarding this `text_content` being of `section_type`.",
          "type": "number",
          "format": "float"
        },
        "startOffset": {
          "description": "Byte offsets for the start of the section inside the full text.",
          "format": "int64",
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "description": "Byte offsets for the end of the section inside the full text.",
          "format": "int64"
        },
        "sectionType": {
          "description": "Type of the high-level category in the policy.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "FIRST_PARTY_COLLECTION",
            "FIRST_PARTY_USE",
            "THIRD_PARTY_SHARING",
            "CHILDREN_RELATED",
            "DATA_RETENTION",
            "PRIVACY_CONTACT",
            "RIGHT_TO_DELETE",
            "RIGHT_TO_RESTRICT_PROCESSING",
            "RIGHT_TO_ACCESS",
            "RIGHT_TO_RECTIFICATION",
            "RIGHT_TO_KNOW_ABOUT_SELLING",
            "RIGHT_TO_KNOW_ABOUT_SHARING",
            "RIGHT_TO_OPT_OUT_FROM_SELLING",
            "RIGHT_TO_OPT_OUT_FROM_SHARING",
            "METHOD_TO_OPT_OUT_FROM_SELLING_OR_SHARING",
            "AUTHORIZED_AGENT",
            "CCPA_CPRA_REFERENCE",
            "DATA_PROTECTION_OFFICER",
            "DATA_CONTROLLER",
            "DO_NOT_SELL",
            "GDPR_REFERENCE",
            "LAWFUL_LEGAL_BASIS",
            "PRIVACY_SHIELD",
            "RIGHT_TO_LODGE_A_COMPLAINT",
            "TRANSFER_MECHANISMS",
            "NO_CHILDREN_DATA_COLLECTION",
            "NO_CHILDREN_DATA_SHARING",
            "CHILDREN_INFORMATION_PUBLICITY",
            "PARENTS_METHOD_OF_INFORMATION_DELETION",
            "PARENTS_METHOD_TO_INFORMATION_REVIEW",
            "PARENTS_METHOD_TO_STOP_FURTHER_INFORMATION_COLLECTION_USE",
            "PARENTS_RIGHT_TO_INFORMATION_DELETION",
            "PARENTS_RIGHT_TO_INFORMATION_REVIEW",
            "PARENTS_RIGHT_TO_STOP_FURTHER_INFORMATION_COLLECTION_USE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Section of the privacy policy describes 1st party collection practices.",
            "Section of the privacy policy describes 1st party use practices.",
            "Section of the privacy policy describes 3rd party sharing practices.",
            "Section of the privacy policy describes Children related content.",
            "Section of the privacy policy describes data retention practices.",
            "Section of the privacy policy references privacy contact information.",
            "Section of the privacy policy describes users' right of data deletion.",
            "Section of the privacy policy about users' right to restrict processing.",
            "Section of the privacy policy about users' right to access their data.",
            "Section of the privacy policy about users' right to correct inaccuracies.",
            "Section of the privacy policy about users' right to know about information selling.",
            "Section of the privacy policy about users' right to know about information sharing.",
            "Section of the privacy policy about users' right to opt out from information selling.",
            "Section of the privacy policy about users' right to opt out from information sharing.",
            "Section of the privacy policy about the method to opt out from selling or sharing.",
            "Section of the privacy policy about the authorized agent designated by user.",
            "Section of the privacy policy about the mentions of the CCPA or CPRA.",
            "Section of the privacy policy about the mentions of data protection officer (DPO).",
            "Section of the privacy policy about the mentions of a data controller.",
            "Section of the privacy policy stating that the company does not sell data in general (or as defined by the CCPA), without exceptions.",
            "Section of the privacy policy about the mentions of the GDPR (General Data Protection Regulation).",
            "Section of the privacy policy about lawful/legal basis for data processing.",
            "Section of the privacy policy about the Privacy Shielf framework.",
            "Section of the privacy policy about the right to lodge a complaint with a supervisory authority.",
            "Section of the privacy policy about transfer mechanisms of data from the EU to third countries",
            "Section of the privacy policy stating that the company does not collect data from children.",
            "Section of the privacy policy stating that the company does not share data from children.",
            "Section of the privacy policy stating whether the app allows children to make their personal information publicly available.",
            "Section of the privacy policy stating to parents/caregivers/guardians how they can request the deletion of their child's personal information.",
            "Section of the privacy policy stating to parents/guardians/caregivers how they can review their child's personal information.",
            "Section of the privacy policy stating to parents/caregivers/guardians how they can stop the further collection or use of their child's personal information.",
            "Section of the privacy policy stating that a parent/caregiver/guardian has the right to request the deletion of their child's personal. information.",
            "Section of the privacy policy stating to parents/guardians/caregivers that they have a right to review their child's personal information.",
            "Section of the privacy policy stating to parents/caregivers/guardians that they have the right to stop the further collection or use of their child's personal information."
          ]
        }
      },
      "id": "PolicySectionAnnotation"
    },
    "AnalyzePrivacyPolicyRequest": {
      "type": "object",
      "description": "The request proto for AnalyzePrivacyPolicy method.",
      "properties": {
        "privacyPolicyUri": {
          "type": "string",
          "description": "URL for the privacy policy page to be analyzed. https://linter.aip.dev/140/uri (Use `uri` instead of `url` in field name)"
        },
        "privacyPolicyPageContent": {
          "description": "Web page raw HTML content for the privacy policy page to be analyzed. Useful when the client wants to analyze a privacy policy already fetched.",
          "type": "string"
        }
      },
      "id": "AnalyzePrivacyPolicyRequest"
    },
    "LastUpdatedDate": {
      "type": "object",
      "description": "Information about the date when the privacy policy was last updated.",
      "properties": {
        "startOffset": {
          "type": "string",
          "description": "Byte offsets for the start of the date text inside the full text.",
          "format": "int64"
        },
        "endOffset": {
          "format": "int64",
          "type": "string",
          "description": "Byte offsets for the end of the date text inside the full text."
        },
        "lastUpdatedDate": {
          "$ref": "Date",
          "description": "Date when the privacy policy was last updated."
        },
        "textContent": {
          "type": "string",
          "description": "The bytes of actual text content in the section. NOTE: - This will correspond to the whole sentence that includes the date. - This field might contain HTML and it is not sanitized."
        }
      },
      "id": "LastUpdatedDate"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/xapi.zoo": {
          "description": "Test scope for access to the Zoo service"
        }
      }
    }
  },
  "id": "checks:v1alpha",
  "mtlsRootUrl": "https://checks.mtls.googleapis.com/",
  "baseUrl": "https://checks.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha",
  "name": "checks",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "protocol": "rest",
  "resources": {
    "privacypolicy": {
      "methods": {
        "analyze": {
          "parameterOrder": [],
          "flatPath": "v1alpha/privacypolicy:analyze",
          "parameters": {},
          "path": "v1alpha/privacypolicy:analyze",
          "request": {
            "$ref": "AnalyzePrivacyPolicyRequest"
          },
          "id": "checks.privacypolicy.analyze",
          "description": "Analyzes the privacy policy of the given policy URL or content.",
          "response": {
            "$ref": "AnalyzePrivacyPolicyResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "accounts": {
      "resources": {
        "apps": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "checks.accounts.apps.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/xapi.zoo"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  }
}
