{
  "version_module": true,
  "baseUrl": "https://checks.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "checks",
  "mtlsRootUrl": "https://checks.mtls.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://checks.googleapis.com/",
  "protocol": "rest",
  "id": "checks:v1alpha",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GoogleChecksReportV1alphaSdk": {
      "type": "object",
      "description": "Information about an SDK.",
      "id": "GoogleChecksReportV1alphaSdk",
      "properties": {
        "id": {
          "description": "SDK identifier.",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaPermission": {
      "id": "GoogleChecksReportV1alphaPermission",
      "type": "object",
      "description": "Information about a permission.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Permission identifier."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckCitation": {
      "properties": {
        "type": {
          "enum": [
            "CITATION_TYPE_UNSPECIFIED",
            "COPPA",
            "GDPR",
            "FERPA",
            "CAL_OPPA",
            "CCPA",
            "SOPIPA",
            "LGPD",
            "CPRA",
            "VCDPA",
            "GOOGLE_PLAY_POLICY",
            "APP_STORE_POLICY",
            "CPA",
            "CTDPA",
            "UCPA",
            "PIPEDA",
            "ALBERTA_PIPA",
            "QUEBEC_ACT",
            "QUEBEC_BILL_64",
            "CHINA_PIPL",
            "SOUTH_KOREA_PIPA",
            "SOUTH_AFRICA_POPIA",
            "JAPAN_APPI",
            "INDIA_DPDPA",
            "OCPA",
            "TDPSA",
            "MCDPA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Children's Online Privacy Protection Act.",
            "General Data Protection Regulation.",
            "Family Educational Rights and Privacy Act.",
            "The California Online Privacy Protection Act.",
            "California Consumer Privacy Act.",
            "Student Online Personal Information Protection Act.",
            "Lei Geral de Proteção de Dados.",
            "California Consumer Privacy Act.",
            "Virginia Consumer Data Protection Act.",
            "Google Play Policy.",
            "App Store Policy.",
            "Colorado Privacy Act.",
            "Connecticut Data Privacy Act.",
            "Utah Consumer Privacy Act.",
            "Personal Information Protection and Electronic Documents Act.",
            "Alberta (Canada) Personal Information Protection Act.",
            "Quebec: Act Respecting the Protection of Personal Information in the Private Sector.",
            "Quebec Bill 64: An Act to Modernize Legislative Provisions as Regards the Protection of Personal Information.",
            "China Personal Information Protection Law.",
            "South Korea Personal Information Protection Act.",
            "South Africa Protection of Personal Information Act.",
            "Japan Act on the Protection of Personal Information.",
            "India: The Digital Personal Data Protection Act, 2023.",
            "Oregon Consumer Privacy Act.",
            "Texas Data Privacy and Security Act.",
            "Montana Consumer Data Privacy Act."
          ],
          "description": "Citation type.",
          "type": "string"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckCitation",
      "type": "object",
      "description": "Regulation or policy that serves as the legal basis for the check."
    },
    "GoogleChecksReportV1alphaCheckEndpointEvidence": {
      "description": "Evidence concerning an endpoint that was contacted by your app.",
      "id": "GoogleChecksReportV1alphaCheckEndpointEvidence",
      "properties": {
        "endpoint": {
          "$ref": "GoogleChecksReportV1alphaEndpoint",
          "description": "The endpoint that was contacted by your app."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "GoogleChecksReportV1alphaDataMonitoringDataTypeResult": {
      "properties": {
        "metadata": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
          "description": "Metadata about the result."
        },
        "dataType": {
          "description": "The data type that was shared or collected by your app.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ]
        },
        "dataTypeEvidence": {
          "description": "Evidence collected about the data type.",
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence"
        }
      },
      "id": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult",
      "description": "Information about a data type that was found in your app.",
      "type": "object"
    },
    "GoogleChecksReportV1alphaReport": {
      "description": "Privacy report.",
      "type": "object",
      "properties": {
        "resultsUri": {
          "description": "A URL to view results.",
          "type": "string"
        },
        "appBundle": {
          "$ref": "GoogleChecksReportV1alphaAppBundle",
          "description": "Information about the analyzed app bundle."
        },
        "name": {
          "description": "Resource name of the report.",
          "type": "string"
        },
        "dataMonitoring": {
          "$ref": "GoogleChecksReportV1alphaDataMonitoring",
          "description": "Information related to data monitoring."
        },
        "checks": {
          "description": "List of checks that were run on the app bundle.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheck"
          }
        }
      },
      "id": "GoogleChecksReportV1alphaReport"
    },
    "GoogleChecksReportV1alphaDataTypeEvidence": {
      "properties": {
        "privacyPolicyTexts": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence"
          },
          "type": "array",
          "description": "List of privacy policy texts that imply collection of the data type."
        },
        "permissions": {
          "type": "array",
          "description": "List of included permissions that imply collection of the data type.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypePermissionEvidence"
          }
        },
        "endpoints": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidence"
          },
          "type": "array",
          "description": "List of endpoints the data type was sent to."
        }
      },
      "id": "GoogleChecksReportV1alphaDataTypeEvidence",
      "type": "object",
      "description": "Evidence collected about a data type."
    },
    "Operation": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails": {
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails",
      "description": "Details of the SDK in violation.",
      "properties": {
        "sdk": {
          "description": "The SDK in violation.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        }
      },
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence": {
      "description": "Evidence collected from endpoint restriction violation analysis.",
      "properties": {
        "endpointDetails": {
          "type": "array",
          "description": "Endpoints in violation.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails"
          }
        }
      },
      "id": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence",
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence": {
      "description": "Evidence based on information from the privacy policy.",
      "properties": {
        "policyFragment": {
          "description": "The privacy policy fragment that implies collection of the data type.",
          "$ref": "GoogleChecksReportV1alphaPolicyFragment"
        }
      },
      "id": "GoogleChecksReportV1alphaDataTypePrivacyPolicyTextEvidence",
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence": {
      "description": "Evidence collected from SDK restriction violation analysis.",
      "id": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence",
      "type": "object",
      "properties": {
        "sdkDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidenceSdkDetails"
          },
          "description": "SDKs in violation."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidence": {
      "description": "Evidence concerning data security.",
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidence",
      "type": "object",
      "properties": {
        "dataInTransitInfo": {
          "description": "Evidence related to data in transit.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo"
          }
        }
      }
    },
    "WaitOperationRequest": {
      "id": "WaitOperationRequest",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request message for Operations.WaitOperation."
    },
    "GoogleChecksReportV1alphaCheckEvidence": {
      "id": "GoogleChecksReportV1alphaCheckEvidence",
      "type": "object",
      "properties": {
        "sdks": {
          "description": "Evidence concerning SDKs that were found in your app.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkEvidence"
          },
          "type": "array"
        },
        "endpointRestrictionViolations": {
          "type": "array",
          "description": "Evidence collected from endpoint restriction violation analysis.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidence"
          }
        },
        "permissionRestrictionViolations": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence"
          },
          "type": "array",
          "description": "Evidence collected from permission restriction violation analysis."
        },
        "privacyPolicyTexts": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence"
          },
          "description": "Evidence collected from your privacy policy(s).",
          "type": "array"
        },
        "sdkIssues": {
          "description": "Evidence concerning SDK issues.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkIssueEvidence"
          }
        },
        "permissions": {
          "type": "array",
          "description": "Evidence concerning permissions that were found in your app.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionEvidence"
          }
        },
        "dataSecurity": {
          "description": "Evidence concerning data security.",
          "$ref": "GoogleChecksReportV1alphaCheckDataSecurityEvidence"
        },
        "sdkRestrictionViolations": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckSdkRestrictionViolationEvidence"
          },
          "description": "Evidence collected from SDK restriction violation analysis.",
          "type": "array"
        },
        "endpoints": {
          "description": "Evidence concerning endpoints that were contacted by your app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckEndpointEvidence"
          }
        },
        "dataTypes": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckDataTypeEvidence"
          },
          "type": "array",
          "description": "Evidence concerning data types found in your app."
        }
      },
      "description": "Evidence for a check."
    },
    "GoogleChecksReportV1alphaCheckPermissionEvidence": {
      "id": "GoogleChecksReportV1alphaCheckPermissionEvidence",
      "description": "Evidence concerning a permission that was found in your app.",
      "type": "object",
      "properties": {
        "permission": {
          "$ref": "GoogleChecksReportV1alphaPermission",
          "description": "The permission that was found in your app."
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringSdkResult": {
      "id": "GoogleChecksReportV1alphaDataMonitoringSdkResult",
      "properties": {
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "The SDK that was found in your app."
        },
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        }
      },
      "type": "object",
      "description": "Information about an SDK that was found in your app."
    },
    "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails": {
      "description": "Details of the endpoint in violation.",
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckEndpointRestrictionViolationEvidenceEndpointDetails",
      "properties": {
        "endpoint": {
          "description": "The endpoint in violation.",
          "$ref": "GoogleChecksReportV1alphaEndpoint"
        }
      }
    },
    "GoogleChecksReportV1alphaCheckSdkIssueEvidence": {
      "id": "GoogleChecksReportV1alphaCheckSdkIssueEvidence",
      "properties": {
        "sdkVersion": {
          "description": "The SDK version.",
          "type": "string"
        },
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "The SDK with an issue."
        }
      },
      "type": "object",
      "description": "Evidence concerning an SDK issue."
    },
    "GoogleChecksReportV1alphaAppBundle": {
      "id": "GoogleChecksReportV1alphaAppBundle",
      "properties": {
        "versionId": {
          "description": "The version used throughout the operating system and store to identify the build such as the Android `versionCode` or iOS `CFBundleVersion`.",
          "type": "string"
        },
        "codeReferenceId": {
          "type": "string",
          "description": "Git commit hash or changelist number associated with the release."
        },
        "version": {
          "type": "string",
          "description": "The user-visible version of the bundle such as the Android `versionName` or iOS `CFBundleShortVersionString`. For example: \"7.21.1\"."
        },
        "bundleId": {
          "type": "string",
          "description": "Unique id of the bundle. For example: \"com.google.Gmail\"."
        },
        "releaseType": {
          "enumDescriptions": [
            "Not specified.",
            "Published production bundle.",
            "Pre-release bundle."
          ],
          "type": "string",
          "enum": [
            "APP_BUNDLE_RELEASE_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRE_RELEASE"
          ],
          "description": "Identifies the type of release."
        }
      },
      "description": "Information about the analyzed app bundle.",
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails": {
      "properties": {
        "permission": {
          "description": "The permission in violation.",
          "$ref": "GoogleChecksReportV1alphaPermission"
        }
      },
      "type": "object",
      "description": "Details of the permission in violation.",
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails"
    },
    "GoogleChecksReportV1alphaEndpoint": {
      "id": "GoogleChecksReportV1alphaEndpoint",
      "type": "object",
      "description": "Information about an endpoint.",
      "properties": {
        "domain": {
          "description": "Domain name (e.g. ads.google.com).",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaAnalyzeUploadRequest": {
      "type": "object",
      "description": "The request message for ReportService.AnalyzeUpload.",
      "id": "GoogleChecksReportV1alphaAnalyzeUploadRequest",
      "properties": {
        "appBinaryFileType": {
          "enumDescriptions": [
            "Not specified.",
            ".apk file type.",
            ".aab (app bundle) file type.",
            ".ipa file type."
          ],
          "description": "Optional. The type of the uploaded app binary. If not provided, the server assumes APK file for Android and IPA file for iOS.",
          "type": "string",
          "enum": [
            "APP_BINARY_FILE_TYPE_UNSPECIFIED",
            "ANDROID_APK",
            "ANDROID_AAB",
            "IOS_IPA"
          ]
        },
        "codeReferenceId": {
          "type": "string",
          "description": "Optional. Git commit hash or changelist number associated with the upload."
        }
      }
    },
    "GoogleChecksReportV1alphaPolicyFragment": {
      "id": "GoogleChecksReportV1alphaPolicyFragment",
      "description": "Information about a policy fragment.",
      "properties": {
        "htmlContent": {
          "type": "string",
          "description": "HTML content."
        },
        "sourceUri": {
          "description": "Policy URL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidence": {
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidence",
      "type": "object",
      "properties": {
        "endpointDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails"
          },
          "description": "Endpoints the data type was sent to."
        },
        "attributedSdks": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk"
          },
          "type": "array",
          "description": "Set of SDKs that are attributed to the exfiltration."
        },
        "exfiltratedDataType": {
          "type": "string",
          "description": "Type of data that was exfiltrated.",
          "enumDescriptions": [
            "Not specified.",
            "The user's phone number.",
            "The user's precise location.",
            "Name of one or more contacts from the user's phone.",
            "Email of one or more contacts from the user's phone.",
            "Phone number of one or more contacts from the user's phone.",
            "Phone number of an incoming text message.",
            "Content of an incoming text message.",
            "Phone number of an outgoing text message.",
            "Content of an outgoing text message.",
            "Advertising ID.",
            "Android ID.",
            "IMEI.",
            "IMSI.",
            "Sim serial number.",
            "SSID: Service Set IDentifier, i.e. the network's name.",
            "Information about the main account of the device.",
            "Information about an external account, e.g. Facebook, Twitter.",
            "One or more of the package names of apps on the device."
          ],
          "enum": [
            "EXFILTRATED_DATA_TYPE_UNSPECIFIED",
            "EXFILTRATED_DATA_TYPE_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_PRECISE_LOCATION",
            "EXFILTRATED_DATA_TYPE_CONTACT_NAME",
            "EXFILTRATED_DATA_TYPE_CONTACT_EMAIL",
            "EXFILTRATED_DATA_TYPE_CONTACT_PHONE_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_INCOMING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_NUMBER",
            "EXFILTRATED_DATA_TYPE_OUTGOING_TEXT_MESSAGE",
            "EXFILTRATED_DATA_TYPE_ADVERTISING_ID",
            "EXFILTRATED_DATA_TYPE_ANDROID_ID",
            "EXFILTRATED_DATA_TYPE_IMEI",
            "EXFILTRATED_DATA_TYPE_IMSI",
            "EXFILTRATED_DATA_TYPE_SIM_SERIAL_NUMBER",
            "EXFILTRATED_DATA_TYPE_SSID",
            "EXFILTRATED_DATA_TYPE_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_EXTERNAL_ACCOUNT",
            "EXFILTRATED_DATA_TYPE_INSTALLED_PACKAGES"
          ]
        }
      },
      "description": "Evidence based on an endpoint that data was sent to."
    },
    "GoogleChecksReportV1alphaDataMonitoringEndpointResult": {
      "id": "GoogleChecksReportV1alphaDataMonitoringEndpointResult",
      "properties": {
        "endpoint": {
          "description": "The endpoint that was contacted by your app.",
          "$ref": "GoogleChecksReportV1alphaEndpoint"
        },
        "hitCount": {
          "format": "int32",
          "description": "The number of times this endpoint was contacted by your app.",
          "type": "integer"
        },
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        }
      },
      "description": "Information about an endpoint that was contacted by your app.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataTypePermissionEvidence": {
      "properties": {
        "permission": {
          "$ref": "GoogleChecksReportV1alphaPermission",
          "description": "Permission declared by your app."
        }
      },
      "type": "object",
      "description": "Evidence based on the inclusion of a permission.",
      "id": "GoogleChecksReportV1alphaDataTypePermissionEvidence"
    },
    "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence": {
      "id": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidence",
      "description": "Evidence collected from permission restriction violation analysis.",
      "type": "object",
      "properties": {
        "permissionDetails": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckPermissionRestrictionViolationEvidencePermissionDetails"
          },
          "type": "array",
          "description": "Permissions in violation."
        }
      }
    },
    "GoogleChecksReportV1alphaCheck": {
      "id": "GoogleChecksReportV1alphaCheck",
      "description": "A check that was run on your app.",
      "type": "object",
      "properties": {
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Regions that are impacted by the check. For more info, see https://google.aip.dev/143#countries-and-regions."
        },
        "citations": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaCheckCitation"
          },
          "description": "Regulations and policies that serve as the legal basis for the check.",
          "type": "array"
        },
        "severity": {
          "description": "The urgency or risk level of the check.",
          "enumDescriptions": [
            "Not specified.",
            "Important privacy issue.",
            "Potential privacy issue.",
            "Opportunity to improve privacy coverage."
          ],
          "type": "string",
          "enum": [
            "CHECK_SEVERITY_UNSPECIFIED",
            "PRIORITY",
            "POTENTIAL",
            "OPPORTUNITY"
          ]
        },
        "evidence": {
          "$ref": "GoogleChecksReportV1alphaCheckEvidence",
          "description": "Evidence that substantiates the check result."
        },
        "stateMetadata": {
          "$ref": "GoogleChecksReportV1alphaCheckStateMetadata",
          "description": "Additional information about the check state in relation to past reports."
        },
        "state": {
          "enumDescriptions": [
            "Not specified.",
            "The check passed.",
            "The check failed.",
            "The check was not run."
          ],
          "description": "The result after running the check.",
          "type": "string",
          "enum": [
            "CHECK_STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "UNCHECKED"
          ]
        },
        "type": {
          "enumDescriptions": [
            "Not specified.",
            "Checks that your store listing includes a working link to your privacy policy.",
            "Checks that your privacy policy has been updated recently.",
            "Checks if your privacy policy references rights under GDPR for users in the EU.",
            "Checks if your privacy policy references rights under the CCPA.",
            "Checks if your privacy policy mentions the categories of personal data that are collected.",
            "Checks if your privacy policy explains why personal data is processed.",
            "Checks if your privacy policy includes information about third-party sharing of personal data.",
            "Checks if your privacy policy describes your data retention practices.",
            "Checks if contact information is included in your privacy policy.",
            "Checks if information about requirements related to children is included in your privacy policy.",
            "Checks if the Phone Number data type declaration in your privacy policy matches usage.",
            "Checks if the User Account Info data type declaration in your privacy policy matches usage.",
            "Checks if the Precise Location data type declaration in your privacy policy matches usage.",
            "Checks if the Device ID data type declaration in your privacy policy matches usage.",
            "Checks if the Apps on Device data type declaration in your privacy policy matches usage.",
            "Checks if the Contacts data type declaration in your privacy policy matches usage.",
            "Checks if the Text Messages data type declaration in your privacy policy matches usage.",
            "Checks if the PII data type declaration in your privacy policy matches usage.",
            "Checks if the PII Categories data type declaration in your privacy policy matches usage.",
            "Checks if the Health and Biometric data type declaration in your privacy policy matches usage.",
            "Checks if your privacy policy references rights under LGPD for users in Brazil.",
            "Checks if your privacy policy references rights under VCDPA for users in Virginia.",
            "Checks if your privacy policy identifies your company or app name(s).",
            "Checks if your privacy policy mentions your users' right to delete their data.",
            "Checks if your privacy policy mentions your users' right to access the data held about them.",
            "Checks if your privacy policy mentions your users' right to correct inaccuracies within their data.",
            "Checks if your privacy policy mentions your users' right to know about information selling.",
            "Checks if your privacy policy mentions your users' right to know about information sharing.",
            "Checks if your privacy policy mentions your users' right to opt out from information selling.",
            "Checks if your privacy policy explains how your users opt out from the selling or sharing of their data.",
            "Checks if your privacy policy provides the name and contact information for your data controller.",
            "Checks if your privacy policy provides the name and contact information for your Data Protection Officer.",
            "Checks if your privacy policy mentions your users' right to lodge a complaint with a supervisory authority.",
            "Checks if your privacy policy mentions the legal basis you rely on for processing your users' data.",
            "Checks if your privacy policy mentions what personal information is collected from children.",
            "Checks if your privacy policy mentions why you collect personal information from children.",
            "Checks if your privacy policy mentions what personal information from children is shared with third parties.",
            "Checks if your privacy policy mentions whether your app allows children to make their personal information publicly available.",
            "Checks if your privacy policy mentions how parents/caregivers/guardians can request the deletion of their child's personal information.",
            "Checks if your privacy policy mentions how parents/caregivers/guardians can review their child's personal information.",
            "Checks if your privacy policy explains how a parent/caregiver/guardian can stop the collection/use from their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to request the deletion of their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to review their child's personal information.",
            "Checks if your privacy policy mentions the right of a parent/caregiver/guardian to stop collection/use from their child's personal information.",
            "Checks if your privacy policy mentions collection of your users' approximate location if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' precise location if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' personal names if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' email addresses if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' user IDs if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' physical addresses if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' phone numbers if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' race or ethnicity if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' credit score if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' purchase history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' health info if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' fitness info if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' emails if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' text messages if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' photos if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' videos if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' music files if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' voice or sound recordings if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' files or documents if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' calendar events if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' contacts if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' app interactions if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' in-app search history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' web browsing history if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' installed apps if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' crash logs if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' performance diagnostics if this data type is declared in your Play Data Safety Section.",
            "Checks if your privacy policy mentions collection of your users' device or other IDs if this data type is declared in your Play Data Safety Section.",
            "Checks if there is a new endpoint we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the endpoint is not detected in the current report.",
            "Checks if there is a new permission we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the permission is not detected in the current report.",
            "Checks if there is a new data type we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the data type is not detected in the current report.",
            "Checks if there is a new SDK we've recently detected. Because this check accounts for flakiness, it may fail for several weeks even if the SDK is not detected in the current report.",
            "Checks if there is any endpoint contacted using HTTP protocol instead of HTTPS. If no protocol is found in the URL, the endpoint is not considered for analysis.",
            "Checks if new data types have been detected since a specific app version.",
            "Checks if new endpoints have been detected since a specific app version.",
            "Checks if new permissions have been detected since a specific app version.",
            "Checks if new SDKs have been detected since a specific app version.",
            "Checks if any SDKs were detected that are specified in the denylist.",
            "Checks if any permissions were detected that are specified in the denylist.",
            "Checks if any endpoints were detected that are specified in the denylist.",
            "Checks if there are any outdated SDKs.",
            "Checks if there are any SDKs with critical issues.",
            "Checks if the Sensitive Information data type declaration matches usage."
          ],
          "type": "string",
          "enum": [
            "CHECK_TYPE_UNSPECIFIED",
            "STORE_LISTING_PRIVACY_POLICY_LINK_PRESENT",
            "PRIVACY_POLICY_UPDATE_DATE_RECENT",
            "PRIVACY_POLICY_GDPR_GENERAL_RULES",
            "PRIVACY_POLICY_CCPA_GENERAL_RULES",
            "PRIVACY_POLICY_COLLECTION_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_PROCESSING_PURPOSE_DATA_NOTICE",
            "PRIVACY_POLICY_SHARING_CATEGORIES_DATA_NOTICE",
            "PRIVACY_POLICY_DATA_RETENTION_NOTICE",
            "PRIVACY_POLICY_CONTACT_DETAILS_NOTICE",
            "PRIVACY_POLICY_CHILDREN_GENERAL_RULES",
            "PRIVACY_POLICY_DATA_TYPE_PHONE_NUMBER",
            "PRIVACY_POLICY_DATA_TYPE_USER_ACCOUNT_INFO",
            "PRIVACY_POLICY_DATA_TYPE_PRECISE_LOCATION",
            "PRIVACY_POLICY_DATA_TYPE_DEVICE_ID",
            "PRIVACY_POLICY_DATA_TYPE_APPS_ON_DEVICE",
            "PRIVACY_POLICY_DATA_TYPE_CONTACTS",
            "PRIVACY_POLICY_DATA_TYPE_TEXT_MESSAGES",
            "PRIVACY_POLICY_DATA_TYPE_PII",
            "PRIVACY_POLICY_DATA_TYPE_PII_CATEGORIES",
            "PRIVACY_POLICY_DATA_TYPE_HEALTH_AND_BIOMETRIC",
            "PRIVACY_POLICY_BRAZIL_LGPD_GENERAL_RULES",
            "PRIVACY_POLICY_VIRGINIA_VCDPA_GENERAL_RULES",
            "PRIVACY_POLICY_AFFILIATION_MENTION",
            "PRIVACY_POLICY_RIGHT_TO_DELETE_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_ACCESS_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_RECTIFICATION_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SELLING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_KNOW_ABOUT_SHARING_NOTICE",
            "PRIVACY_POLICY_RIGHT_TO_OPT_OUT_FROM_SELLING_NOTICE",
            "PRIVACY_POLICY_METHOD_TO_OPT_OUT_FROM_SELLING_OR_SHARING_NOTICE",
            "PRIVACY_POLICY_DATA_CONTROLLER_IDENTITY",
            "PRIVACY_POLICY_DPO_CONTACT_DETAILS",
            "PRIVACY_POLICY_RIGHT_TO_LODGE_A_COMPLAINT",
            "PRIVACY_POLICY_LEGAL_BASIS",
            "PRIVACY_POLICY_CHILDREN_INFO_COLLECTION",
            "PRIVACY_POLICY_CHILDREN_INFO_USAGE_PURPOSES",
            "PRIVACY_POLICY_CHILDREN_INFO_DISCLOSURE_PRACTICES",
            "PRIVACY_POLICY_CHILDREN_INFO_PUBLICITY",
            "PRIVACY_POLICY_PARENTS_METHOD_OF_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_METHOD_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_DELETION",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_INFO_REVIEW",
            "PRIVACY_POLICY_PARENTS_RIGHT_TO_STOP_FURTHER_INFO_COLLECTION_USE",
            "PRIVACY_POLICY_PSL_APPROXIMATE_LOCATION",
            "PRIVACY_POLICY_PSL_PRECISE_LOCATION",
            "PRIVACY_POLICY_PSL_NAME",
            "PRIVACY_POLICY_PSL_EMAIL_ADDRESS",
            "PRIVACY_POLICY_PSL_USER_IDENTIFIERS",
            "PRIVACY_POLICY_PSL_ADDRESS",
            "PRIVACY_POLICY_PSL_PHONE_NUMBER",
            "PRIVACY_POLICY_PSL_RACE_AND_ETHNICITY",
            "PRIVACY_POLICY_PSL_CREDIT_SCORE",
            "PRIVACY_POLICY_PSL_PURCHASE_HISTORY",
            "PRIVACY_POLICY_PSL_HEALTH_INFO",
            "PRIVACY_POLICY_PSL_FITNESS_INFO",
            "PRIVACY_POLICY_PSL_EMAIL_MESSAGES",
            "PRIVACY_POLICY_PSL_TEXT_MESSAGES",
            "PRIVACY_POLICY_PSL_PHOTOS",
            "PRIVACY_POLICY_PSL_VIDEOS",
            "PRIVACY_POLICY_PSL_MUSIC_FILES",
            "PRIVACY_POLICY_PSL_VOICE_OR_SOUND_RECORDINGS",
            "PRIVACY_POLICY_PSL_FILES_AND_DOCS",
            "PRIVACY_POLICY_PSL_CALENDAR_EVENTS",
            "PRIVACY_POLICY_PSL_CONTACTS",
            "PRIVACY_POLICY_PSL_APP_INTERACTIONS",
            "PRIVACY_POLICY_PSL_IN_APP_SEARCH_HISTORY",
            "PRIVACY_POLICY_PSL_WEB_BROWSING_HISTORY",
            "PRIVACY_POLICY_PSL_INSTALLED_APPS",
            "PRIVACY_POLICY_PSL_CRASH_LOGS",
            "PRIVACY_POLICY_PSL_DIAGNOSTICS",
            "PRIVACY_POLICY_PSL_DEVICE_OR_OTHER_IDS",
            "DATA_MONITORING_NEW_ENDPOINT",
            "DATA_MONITORING_NEW_PERMISSION",
            "DATA_MONITORING_NEW_DATA_TYPE",
            "DATA_MONITORING_NEW_SDK",
            "DATA_MONITORING_ENCRYPTION",
            "DATA_MONITORING_NEW_DATA_TYPE_VERSION_DIFF",
            "DATA_MONITORING_NEW_ENDPOINT_VERSION_DIFF",
            "DATA_MONITORING_NEW_PERMISSION_VERSION_DIFF",
            "DATA_MONITORING_NEW_SDK_VERSION_DIFF",
            "DATA_MONITORING_SDKS_DENYLIST_VIOLATION",
            "DATA_MONITORING_PERMISSIONS_DENYLIST_VIOLATION",
            "DATA_MONITORING_ENDPOINTS_DENYLIST_VIOLATION",
            "DATA_MONITORING_OUTDATED_SDK_VERSION",
            "DATA_MONITORING_CRITICAL_SDK_ISSUE",
            "PRIVACY_POLICY_DATA_TYPE_SENSITIVE_INFO"
          ],
          "description": "The type of check that was run. A type will only appear once in a report's list of checks."
        }
      }
    },
    "GoogleChecksReportV1alphaCheckSdkEvidence": {
      "type": "object",
      "properties": {
        "sdk": {
          "description": "The SDK that was found in your app.",
          "$ref": "GoogleChecksReportV1alphaSdk"
        }
      },
      "id": "GoogleChecksReportV1alphaCheckSdkEvidence",
      "description": "Evidence conerning an SDK that was found in your app."
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk": {
      "properties": {
        "sdk": {
          "$ref": "GoogleChecksReportV1alphaSdk",
          "description": "SDK that is attributed to the exfiltration."
        }
      },
      "description": "Details of SDK that is attributed to the exfiltration.",
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceAttributedSdk",
      "type": "object"
    },
    "GoogleChecksAccountV1alphaApp": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The app's title."
        },
        "name": {
          "description": "The resource name of the app. Example: `accounts/123/apps/456`",
          "type": "string"
        }
      },
      "id": "GoogleChecksAccountV1alphaApp",
      "description": "Represents an app in Checks."
    },
    "GoogleChecksReportV1alphaCheckDataTypeEvidence": {
      "description": "Evidence concerning a data type that was found in your app.",
      "properties": {
        "dataTypeEvidence": {
          "$ref": "GoogleChecksReportV1alphaDataTypeEvidence",
          "description": "Evidence collected about the data type."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "DATA_TYPE_APPROXIMATE_LOCATION",
            "DATA_TYPE_PRECISE_LOCATION",
            "DATA_TYPE_PERSONAL_NAME",
            "DATA_TYPE_EMAIL_ADDRESS",
            "DATA_TYPE_USER_IDS",
            "DATA_TYPE_PHYSICAL_ADDRESS",
            "DATA_TYPE_PHONE_NUMBER",
            "DATA_TYPE_RACE_AND_ETHNICITY",
            "DATA_TYPE_POLITICAL_OR_RELIGIOUS_BELIEFS",
            "DATA_TYPE_SEXUAL_ORIENTATION",
            "DATA_TYPE_OTHER_PERSONAL_INFO",
            "DATA_TYPE_PAYMENT_INFO",
            "DATA_TYPE_PURCHASE_HISTORY",
            "DATA_TYPE_CREDIT_SCORE",
            "DATA_TYPE_OTHER_FINANCIAL_INFO",
            "DATA_TYPE_HEALTH_INFO",
            "DATA_TYPE_FITNESS_INFO",
            "DATA_TYPE_EMAILS",
            "DATA_TYPE_TEXT_MESSAGES",
            "DATA_TYPE_PHOTOS",
            "DATA_TYPE_VIDEOS",
            "DATA_TYPE_VOICE_OR_SOUND_RECORDINGS",
            "DATA_TYPE_MUSIC_FILES",
            "DATA_TYPE_OTHER_AUDIO_FILES",
            "DATA_TYPE_FILES_AND_DOCS",
            "DATA_TYPE_CALENDAR_EVENTS",
            "DATA_TYPE_CONTACTS",
            "DATA_TYPE_APP_INTERACTIONS",
            "DATA_TYPE_IN_APP_SEARCH_HISTORY",
            "DATA_TYPE_INSTALLED_APPS",
            "DATA_TYPE_OTHER_USER_GENERATED_CONTENT",
            "DATA_TYPE_OTHER_ACTIONS",
            "DATA_TYPE_WEB_BROWSING_HISTORY",
            "DATA_TYPE_CRASH_LOGS",
            "DATA_TYPE_PERFORMANCE_DIAGNOSTICS",
            "DATA_TYPE_OTHER_APP_PERFORMANCE_DATA",
            "DATA_TYPE_DEVICE_OR_OTHER_IDS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "User or device physical location to an area greater than or equal to 3 square kilometers, such as the city a user is in, or location provided by Android's ACCESS_COARSE_LOCATION permission.",
            "User or device physical location within an area less than 3 square kilometers, such as location provided by Android's ACCESS_FINE_LOCATION permission.",
            "How a user refers to themselves, such as their first or last name, or nickname.",
            "A user's email address.",
            "Identifiers that relate to an identifiable person. For example, an account ID, account number, or account name.",
            "A user's address, such as a mailing or home address.",
            "A user's phone number.",
            "Information about a user's race or ethnicity.",
            "Information about a user's political or religious beliefs.",
            "Information about a user's sexual orientation.",
            "Any other personal information such as date of birth, gender identity, veteran status, etc.",
            "Information about a user's financial accounts such as credit card number.",
            "Information about purchases or transactions a user has made.",
            "Information about a user's credit score.",
            "Any other financial information such as user salary or debts.",
            "Information about a user's health, such as medical records or symptoms.",
            "Information about a user's fitness, such as exercise or other physical activity.",
            "A user's emails including the email subject line, sender, recipients, and the content of the email.",
            "A user's text messages including the sender, recipients, and the content of the message.",
            "A user's photos.",
            "A user's videos.",
            "A user's voice such as a voicemail or a sound recording.",
            "A user's music files.",
            "Any other user-created or user-provided audio files.",
            "A user's files or documents, or information about their files or documents such as file names.",
            "Information from a user's calendar such as events, event notes, and attendees.",
            "Information about the user’s contacts such as contact names, message history, and social graph information like usernames, contact recency, contact frequency, interaction duration and call history.",
            "Information about how a user interacts with your app, such as the number of page views or taps.",
            "Information about what a user has searched for in your app.",
            "Inventory of apps or packages installed on the user’s device.",
            "Any other user-generated content not listed here, or in any other section. For example, user bios, notes, or open-ended responses.",
            "Any other user activity or actions in-app not listed here such as gameplay, likes, and dialog options.",
            "Information about the websites a user has visited.",
            "Crash log data from your app. For example, the number of times your app has crashed, stack traces, or other information directly related to a crash.",
            "Information about the performance of your app. For example battery life, loading time, latency, framerate, or any technical diagnostics.",
            "Any other app performance data not listed here.",
            "Identifiers that relate to an individual device, browser or app. For example, an IMEI number, MAC address, Widevine Device ID, Firebase installation ID, or advertising identifier."
          ],
          "description": "The data type that was found in your app."
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckDataTypeEvidence"
    },
    "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo": {
      "id": "GoogleChecksReportV1alphaCheckDataSecurityEvidenceDataInTransitInfo",
      "type": "object",
      "description": "Evidence related to data in transit detected in your app.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URL contacted by your app. This includes the protocol, domain, and URL parameters."
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringResultMetadata": {
      "id": "GoogleChecksReportV1alphaDataMonitoringResultMetadata",
      "description": "Information about a data monitoring result.",
      "type": "object",
      "properties": {
        "firstDetectedTime": {
          "description": "The timestamp when this result was first detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastDetectedAppVersion": {
          "description": "Your app's version name when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "type": "string"
        },
        "badges": {
          "items": {
            "enum": [
              "DATA_MONITORING_RESULT_BADGE_UNSPECIFIED",
              "NEW"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Indicates a newly detected result in the data monitoring report."
            ]
          },
          "type": "array",
          "description": "Badges that apply to this result."
        },
        "lastDetectedTime": {
          "description": "The timestamp when this result was last detected within the last 8 weeks. If not set, it wasn't detected within the last 8 weeks.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails": {
      "description": "Details of the endpoint the data type was sent to.",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "Endpoint the data type was sent to.",
          "$ref": "GoogleChecksReportV1alphaEndpoint"
        }
      },
      "id": "GoogleChecksReportV1alphaDataTypeEndpointEvidenceEndpointDetails"
    },
    "GoogleChecksReportV1alphaListReportsResponse": {
      "description": "The response message for ReportService.ListReports.",
      "id": "GoogleChecksReportV1alphaListReportsResponse",
      "properties": {
        "reports": {
          "description": "The reports for the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaReport"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleChecksReportV1alphaDataMonitoring": {
      "id": "GoogleChecksReportV1alphaDataMonitoring",
      "description": "Represents the data monitoring section of the report.",
      "type": "object",
      "properties": {
        "sdks": {
          "type": "array",
          "description": "SDKs that your app uses.",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringSdkResult"
          }
        },
        "endpoints": {
          "description": "Endpoints that were found by dynamic analysis of your app.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringEndpointResult"
          }
        },
        "dataTypes": {
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringDataTypeResult"
          },
          "type": "array",
          "description": "Data types that your app shares or collects."
        },
        "permissions": {
          "description": "Permissions that your app uses.",
          "type": "array",
          "items": {
            "$ref": "GoogleChecksReportV1alphaDataMonitoringPermissionResult"
          }
        }
      }
    },
    "GoogleChecksReportV1alphaCheckStateMetadata": {
      "description": "Additional information about the check state in relation to past reports.",
      "properties": {
        "badges": {
          "items": {
            "type": "string",
            "enum": [
              "CHECK_STATE_BADGE_UNSPECIFIED",
              "NEWLY_FAILING",
              "RECENTLY_FAILING",
              "RESOLVED"
            ],
            "enumDescriptions": [
              "Not specified.",
              "The check is newly failing, i.e. now failing but previously passing.",
              "The check is currently failing and first started failing continuously within the last 28 days.",
              "The check is newly passing, i.e. now passing but previously failing."
            ]
          },
          "type": "array",
          "description": "Indicators related to the check state."
        },
        "firstFailingTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the check first started failing."
        },
        "lastFailingTime": {
          "format": "google-datetime",
          "description": "The last time the check failed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChecksReportV1alphaCheckStateMetadata"
    },
    "GoogleChecksAccountV1alphaListAppsResponse": {
      "description": "The response message for AccountService.ListApps.",
      "id": "GoogleChecksAccountV1alphaListAppsResponse",
      "properties": {
        "apps": {
          "description": "The apps.",
          "items": {
            "$ref": "GoogleChecksAccountV1alphaApp"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence": {
      "type": "object",
      "description": "Evidence collected from your privacy policy(s).",
      "id": "GoogleChecksReportV1alphaCheckPrivacyPolicyTextEvidence",
      "properties": {
        "policyFragment": {
          "$ref": "GoogleChecksReportV1alphaPolicyFragment",
          "description": "The privacy policy fragment that was used during the check."
        }
      }
    },
    "GoogleChecksReportV1alphaDataMonitoringPermissionResult": {
      "type": "object",
      "description": "Information about a permission that was found in your app.",
      "id": "GoogleChecksReportV1alphaDataMonitoringPermissionResult",
      "properties": {
        "metadata": {
          "description": "Metadata about the result.",
          "$ref": "GoogleChecksReportV1alphaDataMonitoringResultMetadata"
        },
        "permission": {
          "$ref": "GoogleChecksReportV1alphaPermission",
          "description": "The permission that was found in your app."
        }
      }
    }
  },
  "version": "v1alpha",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "The Checks API contains powerful and easy-to-use privacy and compliance APIs that interact with the Checks product and its underlying technology.",
  "title": "Checks API",
  "basePath": "",
  "canonicalName": "Checks Service",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "path": "v1alpha/{+parent}/reports:analyzeUpload",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1alpha/{+parent}/reports:analyzeUpload"
              }
            },
            "maxSize": "10737418240",
            "accept": [
              "*/*"
            ]
          },
          "description": "Analyzes the uploaded app bundle and returns a google.longrunning.Operation containing the generated Report. ## Example (upload only) Send a regular POST request with the header `X-Goog-Upload-Protocol: raw`. ``` POST https://checks.googleapis.com/upload/v1alpha/{parent=accounts/*/apps/*}/reports:analyzeUpload HTTP/1.1 X-Goog-Upload-Protocol: raw Content-Length: Content-Type: application/octet-stream ``` ## Example (upload with metadata) Send a multipart POST request where the first body part contains the metadata JSON and the second body part contains the binary upload. Include the header `X-Goog-Upload-Protocol: multipart`. ``` POST https://checks.googleapis.com/upload/v1alpha/{parent=accounts/*/apps/*}/reports:analyzeUpload HTTP/1.1 X-Goog-Upload-Protocol: multipart Content-Length: ? Content-Type: multipart/related; boundary=BOUNDARY --BOUNDARY Content-Type: application/json {\"code_reference_id\":\"db5bcc20f94055fb5bc08cbb9b0e7a5530308786\"} --BOUNDARY --BOUNDARY-- ``` *Note:* Metadata-only requests are not supported. ",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleChecksReportV1alphaAnalyzeUploadRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+/apps/[^/]+$",
              "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/reports:analyzeUpload",
          "id": "checks.media.upload"
        }
      }
    },
    "accounts": {
      "resources": {
        "apps": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/apps",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return. The server may further constrain the maximum number of results returned in a single page. If unspecified, the server will decide the number of results to be returned.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token received from a previous `ListApps` call. Provide this to retrieve the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent account. Example: `accounts/123`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/apps",
              "id": "checks.accounts.apps.list",
              "httpMethod": "GET",
              "description": "Lists the apps under the given account.",
              "response": {
                "$ref": "GoogleChecksAccountV1alphaListAppsResponse"
              }
            },
            "get": {
              "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`"
                }
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an app.",
              "response": {
                "$ref": "GoogleChecksAccountV1alphaApp"
              },
              "id": "checks.accounts.apps.get"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}:wait",
                  "path": "v1alpha/{+name}:wait",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "checks.accounts.apps.operations.wait"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "checks.accounts.apps.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}:cancel",
                  "path": "v1alpha/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "get": {
                  "id": "checks.accounts.apps.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "checks.accounts.apps.operations.delete",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/apps/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations/{operationsId}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "id": "checks.accounts.apps.operations.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}/operations",
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleChecksReportV1alphaListReportsResponse"
                  },
                  "id": "checks.accounts.apps.reports.list",
                  "parameters": {
                    "checksFilter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An [AIP-160](https://google.aip.dev/160) filter string to filter checks within reports. Only checks that match the filter string are included in the response. Example: `state = FAILED`"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An [AIP-160](https://google.aip.dev/160) filter string to filter reports. Example: `appBundle.releaseType = PRE_RELEASE`",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of reports to return. If unspecified, at most 10 reports will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token received from a previous `ListReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReports` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Resource name of the app. Example: `accounts/123/apps/456`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/apps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/reports",
                  "description": "Lists reports for the specified app. By default, only the name and results_uri fields are returned. You can include other fields by listing them in the `fields` URL query parameter. For example, `?fields=reports(name,checks)` will return the name and checks fields.",
                  "path": "v1alpha/{+parent}/reports"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a report. By default, only the name and results_uri fields are returned. You can include other fields by listing them in the `fields` URL query parameter. For example, `?fields=name,checks` will return the name and checks fields.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleChecksReportV1alphaReport"
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/apps/{appsId}/reports/{reportsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "checks.accounts.apps.reports.get",
                  "parameters": {
                    "checksFilter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An [AIP-160](https://google.aip.dev/160) filter string to filter checks within the report. Only checks that match the filter string are included in the response. Example: `state = FAILED`"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the report. Example: `accounts/123/apps/456/reports/789`"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20240424",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/checks"
}
