{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "chromemanagement",
  "ownerDomain": "google.com",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "batchPath": "batch",
  "canonicalName": "Chrome Management",
  "revision": "20231108",
  "protocol": "rest",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "title": "Chrome Management API",
  "documentationLink": "http://developers.google.com/chrome/management/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from Chrome OS devices or users managed within your organization"
        }
      }
    }
  },
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "resources": {
    "customers": {
      "resources": {
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to specify next page in the list."
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "readMask": {
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "path": "v1/{+parent}/telemetry/devices",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "description": "List all telemetry devices.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "readMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "path": "v1/{+name}",
                  "description": "Get telemetry device.",
                  "httpMethod": "GET"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "description": "List telemetry events.",
                  "path": "v1/{+parent}/telemetry/events",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required."
                    },
                    "parent": {
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.events.list"
                }
              }
            },
            "users": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "List all telemetry users.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/telemetry/users",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to specify next page in the list."
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Read mask to specify which fields to return."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "httpMethod": "GET",
                  "description": "Get telemetry user.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "readMask": {
                      "location": "query",
                      "description": "Read mask to specify which fields to return.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}"
                }
              }
            },
            "notificationConfigs": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent which owns the notification configs."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "description": "List all telemetry notification configs."
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "description": "Create a telemetry notification config.",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Delete a telemetry notification config.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            }
          }
        },
        "apps": {
          "resources": {
            "web": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "id": "chromemanagement.customers.apps.web.get",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$"
                    }
                  }
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "path": "v1/{+name}",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}"
                }
              }
            },
            "android": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.apps.android.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true,
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "countChromeAppRequests": {
              "description": "Generate summary of app installation requests.",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "httpMethod": "GET",
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "format": "int32",
                  "type": "integer"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            }
          }
        },
        "reports": {
          "methods": {
            "countPrintJobsByPrinter": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "location": "path"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "type": "string",
                  "location": "query"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only \u003e= and \u003c= comparators are supported in this filter. Supported filter fields: * complete_time"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the response to be returned."
                }
              },
              "httpMethod": "GET",
              "description": "Get a summary of printing done by each printer.",
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter"
            },
            "findInstalledAppDevices": {
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string"
                },
                "appType": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "description": "Type of the app.",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "appId": {
                  "type": "string",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "countInstalledApps": {
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countInstalledApps",
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate report of app installations."
            },
            "countChromeDevicesThatNeedAttention": {
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "httpMethod": "GET",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "parameters": {
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "readMask": {
                  "location": "query",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "parameters": {
                "maxAueDate": {
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units."
                },
                "minAueDate": {
                  "type": "string",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947)."
            },
            "countPrintJobsByUser": {
              "description": "Get a summary of printing done by each user.",
              "parameters": {
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only \u003e= and \u003c= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser"
            },
            "countChromeVersions": {
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "path": "v1/{+customer}/reports:countChromeVersions",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of installed Chrome versions.",
              "httpMethod": "GET"
            },
            "countChromeBrowsersNeedingAttention": {
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                }
              }
            },
            "countChromeHardwareFleetDevices": {
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "readMask": {
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\".",
                  "required": true
                }
              },
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices"
            },
            "enumeratePrintJobs": {
              "parameters": {
                "customer": {
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only \u003e= and \u003c= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "type": "string"
                },
                "printerOrgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50.",
                  "location": "query",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "description": "Get a list of print jobs.",
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "parameterOrder": [
                "customer"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleChromeManagementV1CountPrintJobsByUserResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByUserResponse",
      "description": "Response containing a summary printing report for each user that has initiated a print job with a printer from the specified organizational unit during the requested time interval.",
      "type": "object",
      "properties": {
        "userPrintReports": {
          "description": "List of UserPrintReports matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1UserPrintReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of users matching request."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "description": "Response containing counts for browsers that need attention.",
      "properties": {
        "pendingBrowserUpdateCount": {
          "description": "Number of browsers that are pending an OS update",
          "format": "int64",
          "type": "string"
        },
        "recentlyEnrolledCount": {
          "description": "Number of browsers that have been recently enrolled",
          "type": "string",
          "format": "int64"
        },
        "noRecentActivityCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of browsers that haven’t had any recent activity"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "description": "Information of a graphics adapter (GPU).",
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "properties": {
        "driverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version of the GPU driver."
        },
        "adapter": {
          "type": "string",
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true
        },
        "deviceId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the graphics card device id."
        }
      }
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "type": "object",
      "properties": {
        "inputMute": {
          "description": "Output only. Is active input device mute or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "outputMute": {
          "readOnly": true,
          "description": "Output only. Is active output device mute or not.",
          "type": "boolean"
        },
        "outputDevice": {
          "description": "Output only. Active output device's name.",
          "type": "string",
          "readOnly": true
        },
        "outputVolume": {
          "readOnly": true,
          "description": "Output only. Active output device's volume in [0, 100].",
          "type": "integer",
          "format": "int32"
        },
        "inputDevice": {
          "type": "string",
          "description": "Output only. Active input device's name.",
          "readOnly": true
        },
        "inputGain": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Active input device's gain in [0, 100].",
          "format": "int32"
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "id": "GoogleChromeManagementV1AudioStatusReport"
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "properties": {
        "problem": {
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ]
        },
        "latency": {
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "type": "object",
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData"
    },
    "GoogleChromeManagementV1PrintJob": {
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "properties": {
        "createTime": {
          "description": "Print job creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        },
        "copyCount": {
          "description": "Number of copies.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "duplexMode": {
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "description": "Duplex mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ]
        },
        "documentPageCount": {
          "description": "Number of pages in the document.",
          "format": "int32",
          "type": "integer"
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "colorMode": {
          "description": "Color mode.",
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ],
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        },
        "printer": {
          "type": "string",
          "description": "Name of the printer used for printing."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Print job completion timestamp.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "description": "The final state of the job."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1PrintJob"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "properties": {
        "appSource": {
          "type": "string",
          "description": "Output only. Source of the installed app.",
          "readOnly": true,
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "appType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the app.",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        },
        "homepageUri": {
          "type": "string",
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true
        },
        "browserDeviceCount": {
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed.",
          "type": "string",
          "format": "int64"
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "type": "boolean",
          "readOnly": true
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Name of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "appInstallType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. How the app was installed.",
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ]
        },
        "osUserCount": {
          "type": "string",
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "format": "int64",
          "readOnly": true
        },
        "permissions": {
          "type": "array",
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the installed app.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string"
        },
        "disk": {
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "description": "Output only. Reports on disk.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "properties": {
        "usbPeripheralReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "type": "array",
          "description": "Reports of all usb connected devices."
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT"
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "description": "Telemetry data collected from a managed user. * Granular permission needed: TELEMETRY_API_USER",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUser",
      "properties": {
        "customer": {
          "description": "G Suite Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the user.",
          "type": "string"
        },
        "userId": {
          "description": "Directory ID of the user.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization unit of the user."
        },
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "userDevice": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          },
          "type": "array",
          "description": "Telemetry data collected from a managed user and device."
        }
      }
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "properties": {
        "deviceCount": {
          "description": "Number of chrome devices that have been used to initiate print jobs by the user.",
          "type": "string",
          "format": "int64"
        },
        "jobCount": {
          "format": "int64",
          "description": "Number of print jobs initiated by the user.",
          "type": "string"
        },
        "printerCount": {
          "description": "Number of printers used by the user.",
          "format": "int64",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The unique Directory API ID of the user."
        },
        "userEmail": {
          "description": "The primary e-mail address of the user.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1UserPrintReport",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "properties": {
        "deviceOrgUnitId": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit."
        },
        "userOrgUnitId": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit."
        },
        "telemetryEventNotificationFilter": {
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
          "description": "Only sends notifications for the telemetry events matching this filter."
        },
        "userEmail": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user.",
          "type": "string"
        },
        "deviceId": {
          "description": "If set, only sends notifications for telemetry data coming from this device.",
          "type": "string"
        }
      },
      "description": "Configures how the telemetry data should be filtered.",
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "type": "object",
      "properties": {
        "designCapacity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64"
        },
        "technology": {
          "type": "string",
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery manufacturer."
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "type": "string",
          "readOnly": true
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "designMinVoltage": {
          "readOnly": true,
          "description": "Output only. Designed minimum output voltage (mV)",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "description": "Response message for listing telemetry events for a customer.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "description": "Telemetry events returned in the response."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "type": "object",
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "properties": {
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "type": "string",
          "readOnly": true
        },
        "networkInfo": {
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "description": "Output only. Network devices information.",
          "readOnly": true
        },
        "deviceId": {
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "type": "string"
        },
        "thunderboltInfo": {
          "description": "Output only. Information on Thunderbolt bus.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "readOnly": true
        },
        "bootPerformanceReport": {
          "readOnly": true,
          "description": "Output only. Boot performance reports of the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "type": "array"
        },
        "batteryInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "type": "array",
          "description": "Output only. Information on battery specs for the device.",
          "readOnly": true
        },
        "osUpdateStatus": {
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "type": "array"
        },
        "cpuInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information regarding CPU specs for the device."
        },
        "graphicsStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Graphics reports collected periodically.",
          "type": "array"
        },
        "networkDiagnosticsReport": {
          "description": "Output only. Network diagnostics collected periodically.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "type": "array"
        },
        "memoryStatusReport": {
          "readOnly": true,
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          }
        },
        "networkStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "type": "array",
          "description": "Output only. Network specs collected periodically."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the device."
        },
        "audioStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time."
        },
        "storageInfo": {
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "readOnly": true,
          "description": "Output only. Information of storage specs for the device."
        },
        "customer": {
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "readOnly": true,
          "type": "string"
        },
        "graphicsInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "description": "Output only. Contains information regarding Graphic peripherals for the device."
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "type": "array",
          "readOnly": true
        },
        "memoryInfo": {
          "readOnly": true,
          "description": "Output only. Information regarding memory specs for the device.",
          "$ref": "GoogleChromeManagementV1MemoryInfo"
        },
        "kioskAppStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          },
          "description": "Output only. Kiosk app status report for the kiosk device",
          "type": "array",
          "readOnly": true
        },
        "heartbeatStatusReport": {
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          },
          "readOnly": true
        },
        "batteryStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "type": "array",
          "description": "Output only. Battery reports collected periodically."
        },
        "orgUnitId": {
          "readOnly": true,
          "description": "Output only. Organization unit ID of the device.",
          "type": "string"
        },
        "peripheralsReport": {
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "type": "array"
        },
        "cpuStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "type": "array",
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryDevice"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "properties": {
        "totalMemoryEncryption": {
          "description": "Output only. Total memory encryption info for the device.",
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "readOnly": true
        },
        "availableRamBytes": {
          "readOnly": true,
          "description": "Output only. Amount of available RAM in bytes.",
          "type": "string",
          "format": "int64"
        },
        "totalRamBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total RAM in bytes.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "properties": {
        "label": {
          "readOnly": true,
          "description": "Output only. CPU label. Example: Core 0",
          "type": "string"
        },
        "temperatureCelsius": {
          "format": "int32",
          "description": "Output only. CPU temperature in Celsius.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "type": "object",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "properties": {
        "httpsLatencyState": {
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "type": "string",
          "description": "Current HTTPS latency state."
        },
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "description": "Information for a display.",
      "type": "object",
      "properties": {
        "refreshRate": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Refresh rate in Hz.",
          "type": "integer"
        },
        "isInternal": {
          "description": "Output only. Indicates if display is internal or not.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "resolutionWidth": {
          "format": "int32",
          "description": "Output only. Resolution width in pixels.",
          "type": "integer",
          "readOnly": true
        },
        "resolutionHeight": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Resolution height in pixels.",
          "type": "integer"
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id.",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1DisplayInfo"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "description": "Permission requested by an Android app.",
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the permission."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "properties": {
        "storageReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array",
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128)."
        },
        "modelReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array",
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook)."
        },
        "cpuReports": {
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "memoryReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        }
      },
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type."
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "properties": {
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "Count of devices with a unique hardware specification.",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "properties": {
        "storageTotalBytes": {
          "description": "Total storage space in bytes.",
          "type": "string",
          "format": "int64"
        },
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        },
        "storageFreeBytes": {
          "type": "string",
          "description": "Free storage space in bytes.",
          "format": "int64"
        }
      },
      "description": "Information for disk volumes"
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "type": "object",
      "properties": {
        "usbPeripheralReport": {
          "description": "List of usb devices that were either added or removed.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "description": "Response containing requested browser versions details and counts.",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "type": "object",
      "properties": {
        "browserVersions": {
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "type": "array",
          "description": "List of all browser versions and their install counts."
        },
        "totalSize": {
          "type": "integer",
          "description": "Total number browser versions matching request.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      }
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1NetworkDevice",
      "properties": {
        "iccid": {
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "description": "Output only. Network device type."
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "macAddress": {
          "readOnly": true,
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "type": "string"
        },
        "mdn": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The mobile directory number associated with the device's sim card."
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1PrinterReport": {
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "id": "GoogleChromeManagementV1PrinterReport",
      "properties": {
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        },
        "deviceCount": {
          "format": "int64",
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "type": "string"
        },
        "userCount": {
          "format": "int64",
          "description": "Number of users that have sent print jobs to the printer.",
          "type": "string"
        },
        "jobCount": {
          "type": "string",
          "description": "Number of print jobs sent to the printer.",
          "format": "int64"
        },
        "printer": {
          "description": "Printer name.",
          "type": "string"
        },
        "printerModel": {
          "type": "string",
          "description": "Printer model."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Time at which the graphics data was reported.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displays": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "description": "Output only. Information about the displays for the device."
        }
      },
      "type": "object",
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT"
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "type": "object",
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "properties": {
        "stylusCapable": {
          "description": "Output only. Touch screen device is stylus capable or not.",
          "type": "boolean",
          "readOnly": true
        },
        "touchPointCount": {
          "format": "int32",
          "description": "Output only. Number of touch points supported on the device.",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Touch screen device display name."
        }
      },
      "description": "Information of an internal touch screen device."
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the user.",
          "type": "string",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User's email."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserInfo",
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER"
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "properties": {
        "unsupportedPolicyCount": {
          "type": "string",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "format": "int64"
        },
        "noRecentPolicySyncCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days."
        },
        "noRecentUserActivityCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "osVersionNotCompliantCount": {
          "description": "Number of devices whose OS version is not compliant.",
          "type": "string",
          "format": "int64"
        },
        "pendingUpdate": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices that are pending an OS update."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "description": "Status of the single storage device.",
      "id": "GoogleChromeManagementV1DiskInfo",
      "type": "object",
      "properties": {
        "writeTimeThisSession": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Time spent writing to disk since last boot."
        },
        "discardTimeThisSession": {
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "volumeIds": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Disk volumes."
        },
        "health": {
          "readOnly": true,
          "description": "Output only. Disk health.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk serial number."
        },
        "model": {
          "description": "Output only. Disk model.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "readOnly": true,
          "type": "string"
        },
        "bytesReadThisSession": {
          "type": "string",
          "description": "Output only. Number of bytes read since last boot.",
          "readOnly": true,
          "format": "int64"
        },
        "ioTimeThisSession": {
          "format": "google-duration",
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "type": "string",
          "readOnly": true
        },
        "readTimeThisSession": {
          "description": "Output only. Time spent reading from disk since last boot.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Disk manufacturer.",
          "readOnly": true
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Disk size.",
          "type": "string",
          "readOnly": true
        },
        "bytesWrittenThisSession": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of bytes written since last boot."
        }
      }
    },
    "GoogleChromeManagementV1StorageInfo": {
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "properties": {
        "volume": {
          "description": "Information for disk volumes",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "type": "array"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "format": "int64",
          "type": "string"
        },
        "availableDiskBytes": {
          "format": "int64",
          "type": "string",
          "description": "The available space for user data storage in the device in bytes."
        }
      },
      "id": "GoogleChromeManagementV1StorageInfo"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "description": "Response containing details of queried installed apps.",
      "type": "object",
      "properties": {
        "installedApps": {
          "description": "List of installed apps matching request.",
          "items": {
[...]
