{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "name": "chromemanagement",
  "basePath": "",
  "servicePath": "",
  "discoveryVersion": "v1",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "title": "Chrome Management API",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "id": "chromemanagement:v1",
  "resources": {
    "customers": {
      "resources": {
        "reports": {
          "methods": {
            "countChromeDevicesThatNeedAttention": {
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "readMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                },
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention"
            },
            "countPrintJobsByUser": {
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "parameters": {
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only \u003e= and \u003c= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer"
                },
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Get a summary of printing done by each user.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "findInstalledAppDevices": {
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of devices that have a specified app installed.",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit.",
                  "type": "string"
                },
                "appId": {
                  "location": "query",
                  "type": "string",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
                },
                "appType": {
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "type": "string",
                  "description": "Type of the app.",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.findInstalledAppDevices"
            },
            "countChromeBrowsersNeedingAttention": {
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                }
              },
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ]
            },
            "countPrintJobsByPrinter": {
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "description": "Get a summary of printing done by each printer.",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only \u003e= and \u003c= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET"
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "parameters": {
                "maxAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units."
                },
                "minAueDate": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date."
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countInstalledApps": {
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                }
              },
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "path": "v1/{+customer}/reports:countInstalledApps",
              "description": "Generate report of app installations.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              }
            },
            "countChromeVersions": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "location": "query"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Generate report of installed Chrome versions.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "path": "v1/{+customer}/reports:countChromeVersions",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeVersions"
            },
            "countChromeHardwareFleetDevices": {
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "parameters": {
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "readMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "location": "query"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices"
            }
          }
        },
        "apps": {
          "resources": {
            "web": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.web.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}"
                }
              }
            },
            "android": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "id": "chromemanagement.customers.apps.android.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name."
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}"
                }
              }
            }
          },
          "methods": {
            "countChromeAppRequests": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "description": "Generate summary of app installation requests.",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "parameters": {
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50."
                }
              },
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "httpMethod": "GET"
            }
          }
        },
        "telemetry": {
          "resources": {
            "users": {
              "methods": {
                "get": {
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "required": true
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Read mask to specify which fields to return."
                    }
                  },
                  "description": "Get telemetry user.",
                  "id": "chromemanagement.customers.telemetry.users.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "description": "List all telemetry users.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "path": "v1/{+parent}/telemetry/users",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to specify next page in the list."
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id "
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Read mask to specify which fields to return."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    }
                  }
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/events",
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "description": "List telemetry events.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Token to specify next page in the list.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/devices",
                  "description": "List all telemetry devices.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to specify next page in the list."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices"
                },
                "get": {
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true
                    },
                    "readMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Read mask to specify which fields to return."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "Get telemetry device.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "http://developers.google.com/chrome/management/",
  "canonicalName": "Chrome Management",
  "revision": "20230322",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "version": "v1",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "schemas": {
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "description": "Response message for listing telemetry events for a customer.",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "telemetryEvents": {
          "type": "array",
          "description": "Telemetry events returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          }
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "properties": {
        "hostMatch": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance."
        }
      },
      "type": "object",
      "description": "Represent one host permission.",
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess"
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "properties": {
        "displayWidthMm": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Display width in millimeters.",
          "type": "integer"
        },
        "displayHeightMm": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Display height in millimeters."
        },
        "manufacturerId": {
          "readOnly": true,
          "description": "Output only. Three letter manufacturer ID.",
          "type": "string"
        },
        "manufactureYear": {
          "description": "Output only. Year of manufacture.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "internal": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is display internal or not."
        },
        "modelId": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Manufacturer product code.",
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display device name.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1DisplayDevice",
      "description": "Information of a display device.",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "properties": {
        "memoryReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "cpuReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "type": "array"
        },
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        },
        "storageReports": {
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "type": "array",
          "description": "The list of reports sorted by auto update expiration date in ascending order."
        }
      },
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "type": "object",
      "description": "Response containing counts for browsers that need attention.",
      "properties": {
        "recentlyEnrolledCount": {
          "description": "Number of browsers that have been recently enrolled",
          "format": "int64",
          "type": "string"
        },
        "noRecentActivityCount": {
          "description": "Number of browsers that haven’t had any recent activity",
          "format": "int64",
          "type": "string"
        },
        "pendingBrowserUpdateCount": {
          "format": "int64",
          "description": "Number of browsers that are pending an OS update",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "description": "Response containing requested browser versions details and counts.",
      "properties": {
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "browserVersions": {
          "type": "array",
          "description": "List of all browser versions and their install counts.",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "disk": {
          "description": "Output only. Reports on disk.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          }
        }
      }
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "type": "object",
      "properties": {
        "newPlatformVersion": {
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "Output only. Timestamp of the last successful update.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateState": {
          "type": "string",
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "description": "Output only. Current state of the os update.",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ]
        },
        "newRequestedPlatformVersion": {
          "type": "string",
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "readOnly": true
        },
        "lastRebootTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last reboot.",
          "readOnly": true
        },
        "lastUpdateCheckTime": {
          "type": "string",
          "description": "Output only. Timestamp of the last update check.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1CpuInfo": {
      "type": "object",
      "properties": {
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean",
          "readOnly": true
        },
        "maxClockSpeed": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The max CPU clock speed in kHz.",
          "type": "integer"
        },
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "readOnly": true,
          "type": "string"
        },
        "keylockerConfigured": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean"
        },
        "architecture": {
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ]
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "appDetails": {
          "readOnly": true,
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "type": "string"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "type": "string",
          "format": "google-datetime"
        },
        "appId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension."
        },
        "iconUri": {
          "readOnly": true,
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "type": "string"
        },
        "requestCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total count of requests for this app."
        }
      },
      "description": "Details of an app installation request.",
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppRequest"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "properties": {
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "device": {
          "description": "Output only. Information about the device associated with the event.",
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "readOnly": true
        },
        "user": {
          "description": "Output only. Information about the user associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo"
        },
        "audioSevereUnderrunEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`."
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE"
          ],
          "type": "string",
          "description": "The event type of the current event.",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the event.",
          "type": "string"
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "readOnly": true
        },
        "httpsLatencyChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true
        }
      },
      "description": "Telemetry data reported by a managed device.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryEvent"
    },
    "GoogleChromeManagementV1PrinterReport": {
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "properties": {
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "type": "string",
          "format": "int64"
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "type": "string",
          "format": "int64"
        },
        "printerModel": {
          "type": "string",
          "description": "Printer model."
        },
        "printer": {
          "type": "string",
          "description": "Printer name."
        },
        "jobCount": {
          "format": "int64",
          "description": "Number of print jobs sent to the printer.",
          "type": "string"
        },
        "printerId": {
          "type": "string",
          "description": "Printer API ID."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1PrinterReport"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "displays": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "description": "Output only. Information about the displays for the device.",
          "type": "array"
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the graphics data was reported."
        }
      },
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        },
        "printerReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request.",
          "type": "array"
        },
        "totalSize": {
          "description": "Total number of printers matching request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1UserPrintReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1UserPrintReport",
      "description": "Report for CountPrintJobsByUser, contains printing statistics for a user. Contains the number of printers, the number of devices used to initiate print jobs, and the number of print jobs initiated.",
      "properties": {
        "jobCount": {
          "format": "int64",
          "description": "Number of print jobs initiated by the user.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The unique Directory API ID of the user."
        },
        "deviceCount": {
          "description": "Number of chrome devices that have been used to initiate print jobs by the user.",
          "type": "string",
          "format": "int64"
        },
        "printerCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of printers used by the user."
        },
        "userEmail": {
          "type": "string",
          "description": "The primary e-mail address of the user."
        }
      }
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "type": "object",
      "description": "Response containing details of queried installed apps.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "Total number of installed apps matching request.",
          "type": "integer"
        },
        "installedApps": {
          "description": "List of installed apps matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse"
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "type": "object",
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "properties": {
        "latency": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "readOnly": true
        },
        "problem": {
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "readOnly": true,
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ]
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Public name of the hardware specification."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of devices with a unique hardware specification."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification."
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "properties": {
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        },
        "sample": {
          "readOnly": true,
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          }
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true
        },
        "cycleCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Cycle count.",
          "readOnly": true
        },
        "fullChargeCapacity": {
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "batteryHealth": {
          "description": "Output only. Battery health.",
          "readOnly": true,
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy.",
            "Battery is moderately unhealthy and should be replaced soon.",
            "Battery is unhealthy and should be replaced."
          ],
          "type": "string",
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ]
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "description": "Permission requested by an Android app.",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "description": "Response message for listing telemetry users for a customer.",
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "properties": {
        "telemetryUsers": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "description": "Telemetry users returned in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      }
    },
    "GoogleChromeManagementV1AppDetails": {
      "id": "GoogleChromeManagementV1AppDetails",
      "properties": {
        "serviceError": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. Information about a partial service error if applicable.",
          "readOnly": true
        },
        "reviewNumber": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "type": "string"
        },
        "androidAppInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "description": "Output only. Android app information."
        },
        "reviewRating": {
          "type": "number",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "format": "float",
          "readOnly": true
        },
        "isPaidApp": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the app has to be paid for OR has paid content."
        },
        "iconUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "type": "string",
          "readOnly": true
        },
        "chromeAppInfo": {
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "description": "Output only. Chrome Web Store app information.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App type.",
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ]
        },
        "firstPublishTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. First published time.",
          "format": "google-datetime"
        },
        "privacyPolicyUri": {
          "readOnly": true,
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The publisher of the item.",
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "readOnly": true,
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published."
        },
        "homepageUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Home page or Website uri."
        },
        "description": {
          "description": "Output only. App's description.",
          "readOnly": true,
          "type": "string"
        },
        "latestPublishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Latest published time.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Resource representing app details."
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "id": "GoogleChromeManagementV1NetworkDevice",
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "macAddress": {
          "readOnly": true,
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "type": "string"
        },
        "mdn": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The mobile directory number associated with the device's sim card."
        },
        "iccid": {
          "readOnly": true,
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Output only. Network device type.",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "properties": {},
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "type": "object",
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds."
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "type": "object",
      "properties": {
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true
        },
        "eprivacySupported": {
          "description": "Output only. Is ePrivacy screen supported or not.",
          "type": "boolean",
          "readOnly": true
        },
        "displayDevices": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Information about the display(s) of the device."
        },
        "touchScreenInfo": {
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "$ref": "GoogleChromeManagementV1TouchScreenInfo",
          "readOnly": true
        }
      },
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "description": "Information about a user associated with telemetry data.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUserInfo",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "Output only. Organization unit ID of the user.",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "Output only. User's email.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "type": "object",
      "properties": {
        "connectionType": {
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "description": "Output only. Network connection type.",
          "readOnly": true,
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ],
          "type": "string"
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "type": "string",
          "readOnly": true
        },
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported.",
          "type": "string"
        },
        "encryptionOn": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the wifi encryption key is turned off."
        },
        "transmissionBitRateMbps": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "format": "int64"
        },
        "connectionState": {
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "description": "Output only. Current connection state of the network.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ]
        },
        "sampleFrequency": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Frequency the report is sampled."
        },
        "receivingBitRateMbps": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "readOnly": true
        },
        "wifiPowerManagementEnabled": {
          "description": "Output only. Wifi power management enabled",
          "readOnly": true,
          "type": "boolean"
        },
        "gatewayIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Gateway IP address."
        },
        "wifiLinkQuality": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "type": "string"
        },
        "transmissionPowerDbm": {
          "description": "Output only. Transmission power measured in decibels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "lanIpAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. LAN IP address."
        },
        "signalStrengthDbm": {
          "readOnly": true,
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes"
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
      "properties": {
        "usbPeripheralReport": {
          "type": "array",
          "description": "List of usb devices that were either added or removed.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      },
      "type": "object",
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed."
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "type": "object",
      "description": "Response containing a list of devices with queried app installed.",
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "totalSize": {
          "description": "Total number of devices matching request.",
          "format": "int32",
          "type": "integer"
        },
        "devices": {
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "properties": {
        "aueMonth": {
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string"
        },
        "expired": {
          "type": "boolean",
          "description": "Boolean value for whether or not the device has already expired."
        },
        "aueYear": {
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "description": "Count of devices of this model.",
          "type": "string",
          "format": "int64"
        },
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "type": "object",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range."
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "type": "object",
      "properties": {
        "googleOwned": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found."
        },
        "type": {
          "description": "Output only. Types of an item in the Chrome Web Store",
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "readOnly": true
        },
        "supportEnabled": {
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "siteAccess": {
          "type": "array",
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          }
        },
        "isTheme": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app or extension is a theme."
        },
        "isCwsHosted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store."
        },
        "minUserCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum number of users using this app.",
          "readOnly": true
        },
        "isExtensionPolicySupported": {
          "description": "Output only. Whether an app supports policy for extensions.",
          "type": "boolean",
          "readOnly": true
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "kioskEnabled": {
          "readOnly": true,
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "type": "boolean"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "readOnly": true,
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found."
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "description": "Chrome Web Store app information."
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "properties": {
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "type": "string",
          "readOnly": true
        },
        "designCapacity": {
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "designMinVoltage": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Designed minimum output voltage (mV)"
        },
        "manufactureDate": {
          "$ref": "GoogleTypeDate",
          "readOnly": true,
          "description": "Output only. The date the battery was manufactured."
        },
        "manufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery manufacturer."
        }
      },
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1BatteryInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDeviceInfo": {
      "type": "object",
      "properties": {
        "deviceId": {
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryDeviceInfo",
      "description": "Information about a device associated with telemetry data."
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "type": "object",
      "properties": {
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "cpuTemperatureInfo": {
          "type": "array",
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          },
          "readOnly": true
        },
        "cpuUtilizationPct": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Sample of CPU utilization (0-100 percent)."
        },
        "reportTime": {
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "properties": {
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device."
        },
        "batteryStatusReport": {
          "readOnly": true,
          "description": "Output only. Battery reports collected periodically.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          }
        },
        "memoryInfo": {
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "description": "Output only. Information regarding memory specs for the device.",
          "readOnly": true
        },
        "cpuInfo": {
          "readOnly": true,
          "description": "Output only. Information regarding CPU specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "type": "array"
        },
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
        },
        "thunderboltInfo": {
          "type": "array",
          "description": "Output only. Information on Thunderbolt bus.",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "readOnly": true
        },
        "graphicsInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "orgUnitId": {
          "readOnly": true,
          "description": "Output only. Organization unit ID of the device.",
          "type": "string"
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "batteryInfo": {
          "description": "Output only. Information on battery specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "graphicsStatusReport": {
          "description": "Output only. Graphics reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "type": "array",
          "readOnly": true
        },
        "memoryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time."
        },
        "networkStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "description": "Output only. Network specs collected periodically.",
          "type": "array",
          "readOnly": true
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "networkDiagnosticsReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "description": "Output only. Network diagnostics collected periodically.",
          "readOnly": true
        },
        "networkInfo": {
          "$ref": "GoogleChromeManagementV1NetworkInfo",
[...]
