{
  "title": "Chrome Management API",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "version_module": true,
  "ownerName": "Google",
  "revision": "20230127",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "name": "chromemanagement",
  "servicePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "documentationLink": "http://developers.google.com/chrome/management/",
  "schemas": {
    "GoogleChromeManagementV1OsUpdateStatus": {
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "lastUpdateCheckTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the last update check.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateState": {
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "description": "Output only. Current state of the os update.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "readOnly": true
        },
        "newRequestedPlatformVersion": {
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "type": "string",
          "readOnly": true
        },
        "newPlatformVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "lastRebootTime": {
          "description": "Output only. Timestamp of the last reboot.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful update.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1OsUpdateStatus"
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem..",
      "type": "object",
      "properties": {
        "httpsLatencyState": {
          "description": "Current HTTPS latency state.",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "type": "string"
        },
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "description": "Permission requested by a Chrome app or extension.",
      "properties": {
        "documentationUri": {
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the permission."
        },
        "accessUserData": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppPermission"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "properties": {
        "health": {
          "description": "Output only. Disk health.",
          "type": "string",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Disk manufacturer.",
          "readOnly": true
        },
        "bytesWrittenThisSession": {
          "description": "Output only. Number of bytes written since last boot.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "discardTimeThisSession": {
          "readOnly": true,
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "format": "google-duration",
          "type": "string"
        },
        "volumeIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Disk volumes.",
          "type": "array",
          "readOnly": true
        },
        "writeTimeThisSession": {
          "description": "Output only. Time spent writing to disk since last boot.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "model": {
          "description": "Output only. Disk model.",
          "readOnly": true,
          "type": "string"
        },
        "ioTimeThisSession": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times."
        },
        "type": {
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "type": "string",
          "readOnly": true
        },
        "bytesReadThisSession": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of bytes read since last boot."
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Disk serial number.",
          "readOnly": true
        },
        "sizeBytes": {
          "description": "Output only. Disk size.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "readTimeThisSession": {
          "description": "Output only. Time spent reading from disk since last boot.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Status of the single storage device.",
      "type": "object",
      "id": "GoogleChromeManagementV1DiskInfo"
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "properties": {
        "networkDevices": {
          "description": "Output only. List of network devices.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "readOnly": true
        }
      },
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkInfo"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "properties": {
        "displays": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "readOnly": true,
          "description": "Output only. Information about the displays for the device.",
          "type": "array"
        },
        "reportTime": {
          "type": "string",
          "description": "Output only. Time at which the graphics data was reported.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "properties": {
        "storageTotalBytes": {
          "format": "int64",
          "description": "Total storage space in bytes.",
          "type": "string"
        },
        "storageFreeBytes": {
          "description": "Free storage space in bytes.",
          "type": "string",
          "format": "int64"
        },
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        }
      },
      "description": "Information for disk volumes",
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "cpuTemperatureInfo": {
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        },
        "reportTime": {
          "type": "string",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "cpuUtilizationPct": {
          "readOnly": true,
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "properties": {
        "googleOwned": {
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "isExtensionPolicySupported": {
          "type": "boolean",
          "description": "Output only. Whether an app supports policy for extensions.",
          "readOnly": true
        },
        "minUserCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The minimum number of users using this app.",
          "type": "integer"
        },
        "siteAccess": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "type": "array"
        },
        "permissions": {
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          }
        },
        "supportEnabled": {
          "readOnly": true,
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "readOnly": true,
          "description": "Output only. Types of an item in the Chrome Web Store",
          "type": "string",
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ]
        },
        "isTheme": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app or extension is a theme."
        },
        "isKioskOnly": {
          "readOnly": true,
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "type": "boolean"
        },
        "kioskEnabled": {
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "isCwsHosted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store."
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "type": "object",
      "description": "Chrome Web Store app information."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal.",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "type": "string"
        },
        "httpsLatencyData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "readOnly": true,
          "description": "Output only. HTTPS latency test data."
        }
      },
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfo": {
      "type": "object",
      "properties": {
        "availableDiskBytes": {
          "type": "string",
          "format": "int64",
          "description": "The available space for user data storage in the device in bytes."
        },
        "totalDiskBytes": {
          "format": "int64",
          "type": "string",
          "description": "The total space for user data storage in the device in bytes."
        },
        "volume": {
          "description": "Information for disk volumes",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1StorageInfo",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "securityLevel": {
          "type": "string",
          "description": "Security level of the Thunderbolt bus.",
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ],
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ]
        }
      }
    },
    "GoogleChromeManagementV1Device": {
      "description": "Describes a device reporting Chrome browser information.",
      "type": "object",
      "id": "GoogleChromeManagementV1Device",
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "readOnly": true,
          "type": "string"
        },
        "machine": {
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1AppDetails": {
      "id": "GoogleChromeManagementV1AppDetails",
      "description": "Resource representing app details.",
      "type": "object",
      "properties": {
        "serviceError": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. Information about a partial service error if applicable.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. App's description.",
          "readOnly": true
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published."
        },
        "reviewNumber": {
          "type": "string",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}"
        },
        "type": {
          "description": "Output only. App type.",
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "type": "string",
          "readOnly": true
        },
        "isPaidApp": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the app has to be paid for OR has paid content."
        },
        "reviewRating": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app."
        },
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "type": "string",
          "readOnly": true
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "androidAppInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "description": "Output only. Android app information."
        },
        "homepageUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Home page or Website uri."
        },
        "privacyPolicyUri": {
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "type": "string",
          "readOnly": true
        },
        "firstPublishTime": {
          "description": "Output only. First published time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "publisher": {
          "type": "string",
          "description": "Output only. The publisher of the item.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "latestPublishTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Latest published time."
        },
        "chromeAppInfo": {
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "readOnly": true,
          "description": "Output only. Chrome Web Store app information."
        },
        "detailUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri for the detail page of the item."
        }
      }
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "cycleCount": {
          "description": "Output only. Cycle count.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime"
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Battery serial number."
        },
        "sample": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time."
        },
        "batteryHealth": {
          "readOnly": true,
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy.",
            "Battery is moderately unhealthy and should be replaced soon.",
            "Battery is unhealthy and should be replaced."
          ],
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "type": "string",
          "description": "Output only. Battery health."
        },
        "fullChargeCapacity": {
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "type": "object",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1CpuInfo",
      "properties": {
        "keylockerSupported": {
          "type": "boolean",
          "description": "Output only. Whether keylocker is supported.",
          "readOnly": true
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz"
        },
        "maxClockSpeed": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The max CPU clock speed in kHz."
        },
        "keylockerConfigured": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean"
        },
        "architecture": {
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
        }
      }
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "properties": {
        "deviceOsVersion": {
          "type": "string",
          "description": "Output only. Version of the system-specified operating system.",
          "readOnly": true
        },
        "channel": {
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "readOnly": true,
          "description": "Output only. The release channel of the installed browser.",
          "type": "string"
        },
        "system": {
          "description": "Output only. The device operating system.",
          "readOnly": true,
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Output only. The full version of the installed browser.",
          "readOnly": true
        },
        "count": {
          "description": "Output only. Count grouped by device_system and major version",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a browser version and its install count.",
      "id": "GoogleChromeManagementV1BrowserVersion"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of installed apps matching request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "installedApps": {
          "description": "List of installed apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          }
        }
      },
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "description": "Response containing details of queried installed apps."
    },
    "GoogleChromeManagementV1InstalledApp": {
      "type": "object",
      "id": "GoogleChromeManagementV1InstalledApp",
      "properties": {
        "permissions": {
          "description": "Output only. Permissions of the installed app.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "appType": {
          "readOnly": true,
          "description": "Output only. Type of the app.",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "type": "string",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ]
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "description": "Output only. How the app was installed.",
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "readOnly": true,
          "type": "string"
        },
        "osUserCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Count of ChromeOS users with this app installed."
        },
        "appId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string",
          "readOnly": true
        },
        "appSource": {
          "type": "string",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "readOnly": true,
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "description": "Output only. Source of the installed app."
        },
        "browserDeviceCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Name of the installed app.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the installed app."
        }
      },
      "description": "Describes an installed app."
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "properties": {
        "mdn": {
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "type": "string",
          "readOnly": true
        },
        "macAddress": {
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "readOnly": true,
          "type": "string"
        },
        "iccid": {
          "readOnly": true,
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "type": "string"
        },
        "type": {
          "description": "Output only. Network device type.",
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "readOnly": true
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkDevice"
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "description": "Android app information.",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Permissions requested by an Android app."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "properties": {
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. CPU label. Example: Core 0"
        },
        "temperatureCelsius": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. CPU temperature in Celsius.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "type": "object",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "properties": {
        "outputVolume": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Active output device's volume in [0, 100].",
          "type": "integer"
        },
        "inputGain": {
          "readOnly": true,
          "description": "Output only. Active input device's gain in [0, 100].",
          "format": "int32",
          "type": "integer"
        },
        "inputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active input device mute or not."
        },
        "outputMute": {
          "readOnly": true,
          "description": "Output only. Is active output device mute or not.",
          "type": "boolean"
        },
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device."
        },
        "inputDevice": {
          "readOnly": true,
          "description": "Output only. Active input device's name.",
          "type": "string"
        },
        "outputDevice": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Active output device's name."
        }
      }
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "description": "USB connected peripheral report.",
      "id": "GoogleChromeManagementV1UsbPeripheralReport",
      "type": "object",
      "properties": {
        "classId": {
          "type": "integer",
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "readOnly": true,
          "format": "int32"
        },
        "pid": {
          "description": "Output only. Product ID",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Output only. Device name, model name, or product name",
          "type": "string",
          "readOnly": true
        },
        "firmwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Firmware version"
        },
        "categories": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes",
          "items": {
            "type": "string"
          }
        },
        "subclassId": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes"
        },
        "vid": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Vendor ID"
        },
        "vendor": {
          "description": "Output only. Vendor name",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A",
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "properties": {
        "totalMemoryEncryption": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device."
        },
        "availableRamBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Amount of available RAM in bytes."
        },
        "totalRamBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total RAM in bytes.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "type": "object",
      "description": "Details of an app installation request.",
      "properties": {
        "appId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension."
        },
        "requestCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total count of requests for this app.",
          "type": "string"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "readOnly": true,
          "type": "string"
        },
        "iconUri": {
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "type": "string",
          "readOnly": true
        },
        "appDetails": {
          "type": "string",
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "type": "string",
          "readOnly": true
        },
        "osUpdateStatus": {
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "readOnly": true,
          "type": "array"
        },
        "batteryInfo": {
          "type": "array",
          "description": "Output only. Information on battery specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "readOnly": true
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "customer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device."
        },
        "networkInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "description": "Output only. Network devices information."
        },
        "bootPerformanceReport": {
          "description": "Output only. Boot performance reports of the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "thunderboltInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information on Thunderbolt bus."
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "type": "string",
          "readOnly": true
        },
        "batteryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "description": "Output only. Battery reports collected periodically.",
          "readOnly": true,
          "type": "array"
        },
        "cpuInfo": {
          "readOnly": true,
          "description": "Output only. Information regarding CPU specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "type": "array"
        },
        "cpuStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time."
        },
        "networkDiagnosticsReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "type": "array",
          "description": "Output only. Network diagnostics collected periodically."
        },
        "deviceId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "type": "string",
          "readOnly": true
        },
        "memoryInfo": {
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "description": "Output only. Information regarding memory specs for the device.",
          "readOnly": true
        },
        "storageInfo": {
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "description": "Output only. Information of storage specs for the device.",
          "readOnly": true
        },
        "networkStatusReport": {
          "description": "Output only. Network specs collected periodically.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          }
        },
        "graphicsInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "readOnly": true
        },
        "storageStatusReport": {
          "readOnly": true,
          "description": "Output only. Storage reports collected periodically.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "memoryStatusReport": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          }
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "type": "string"
        },
        "graphicsStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Graphics reports collected periodically."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "description": "Telemetry data collected from a managed device."
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "properties": {
        "unsupportedPolicyCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch."
        },
        "noRecentPolicySyncCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days."
        },
        "noRecentUserActivityCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "osVersionNotCompliantCount": {
          "type": "string",
          "description": "Number of devices whose OS version is not compliant.",
          "format": "int64"
        },
        "pendingUpdate": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices that are pending an OS update."
        }
      }
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "type": "object",
      "properties": {
        "pageFaults": {
          "readOnly": true,
          "description": "Output only. Number of page faults during this collection",
          "format": "int32",
          "type": "integer"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true,
          "type": "string"
        },
        "sampleFrequency": {
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string"
        },
        "systemRamFreeBytes": {
          "format": "int64",
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1MemoryStatusReport"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "description": "Response message for listing telemetry events for a customer.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "description": "Telemetry events returned in the response."
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of devices with a unique hardware specification."
        },
        "bucket": {
          "description": "Public name of the hardware specification.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification."
    },
    "GoogleChromeManagementV1TelemetryUser": {
      "properties": {
        "orgUnitId": {
          "description": "Organization unit of the user.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user."
        },
        "userDevice": {
          "type": "array",
          "description": "Telemetry data collected from a managed user and device.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUserDevice"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name of the user."
        },
        "userId": {
          "description": "Directory ID of the user.",
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "G Suite Customer whose enterprise enrolled the device."
        }
      },
      "description": "Telemetry data collected from a managed user.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryUser"
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "properties": {
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE"
          ],
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem."
          ],
          "description": "The event type of the current event.",
          "type": "string"
        },
        "device": {
          "readOnly": true,
          "description": "Output only. Information about the device associated with the event.",
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp that represents when the event was reported."
        },
        "name": {
          "description": "Output only. Resource name of the event.",
          "readOnly": true,
          "type": "string"
        },
        "user": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "description": "Output only. Information about the user associated with the event."
        },
        "httpsLatencyChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "readOnly": true,
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`."
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "readOnly": true
        },
        "audioSevereUnderrunEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "type": "object",
      "description": "Telemetry data reported by a managed device."
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "description": "Response containing a list of devices with queried app installed.",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of devices matching request."
        }
      }
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "properties": {
        "bootUpTime": {
          "type": "string",
          "description": "The timestamp when power came on.",
          "format": "google-datetime"
        },
        "shutdownTime": {
          "format": "google-datetime",
          "description": "The timestamp when shutdown.",
          "type": "string"
        },
        "shutdownDuration": {
          "format": "google-duration",
          "description": "Total time since shutdown start to power off.",
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp when the report was collected.",
          "type": "string"
        },
        "bootUpDuration": {
          "format": "google-duration",
          "description": "Total time to boot up.",
          "type": "string"
        },
        "shutdownReason": {
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "description": "The shutdown reason.",
          "type": "string",
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "description": "Information about a user associated with telemetry data.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Output only. User's email.",
          "readOnly": true,
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the user.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserInfo"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "properties": {
        "voltage": {
          "type": "string",
          "description": "Output only. Battery voltage (millivolt).",
          "readOnly": true,
          "format": "int64"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "type": "string"
        },
        "current": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Battery current (mA).",
          "type": "string"
        },
        "chargeRate": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Battery charge percentage.",
          "format": "int32"
        },
        "remainingCapacity": {
          "type": "string",
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "format": "int64",
          "readOnly": true
        },
        "dischargeRate": {
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime",
          "type": "string"
        },
        "temperature": {
          "readOnly": true,
          "description": "Output only. Temperature in Celsius degrees.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object",
      "id": "GoogleChromeManagementV1BatterySampleReport"
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "type": "object",
      "description": "Response containing requested browser versions details and counts.",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "browserVersions": {
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "description": "List of all browser versions and their install counts.",
          "type": "array"
        },
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "type": "object",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes",
      "properties": {
        "wifiPowerManagementEnabled": {
          "description": "Output only. Wifi power management enabled",
          "type": "boolean",
          "readOnly": true
        },
        "encryptionOn": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the wifi encryption key is turned off."
        },
        "connectionState": {
          "type": "string",
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "description": "Output only. Current connection state of the network.",
          "readOnly": true,
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ]
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "type": "string",
          "readOnly": true
        },
        "receivingBitRateMbps": {
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "signalStrengthDbm": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "format": "int32"
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "type": "string",
          "readOnly": true
        },
        "guid": {
          "readOnly": true,
          "description": "Output only. Network connection guid.",
          "type": "string"
        },
        "transmissionBitRateMbps": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Transmission bit rate measured in Megabits per second."
        },
        "wifiLinkQuality": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal."
        },
        "sampleFrequency": {
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled.",
          "type": "string",
          "format": "google-duration"
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Time at which the network state was reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "transmissionPowerDbm": {
          "format": "int32",
          "description": "Output only. Transmission power measured in decibels.",
          "readOnly": true,
          "type": "integer"
        },
        "connectionType": {
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Network connection type.",
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ]
        }
      },
      "id": "GoogleChromeManagementV1NetworkStatusReport"
    },
    "GoogleChromeManagementV1TelemetryDeviceInfo": {
      "properties": {
        "orgUnitId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Organization unit ID of the device."
        },
        "deviceId": {
          "type": "string",
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryDeviceInfo",
      "type": "object",
      "description": "Information about a device associated with telemetry data."
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "technology": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Technology of the battery. Example: Li-ion"
        },
        "designMinVoltage": {
          "description": "Output only. Designed minimum output voltage (mV)",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "manufactureDate": {
          "readOnly": true,
          "description": "Output only. The date the battery was manufactured.",
          "$ref": "GoogleTypeDate"
        },
        "manufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery manufacturer."
        },
        "designCapacity": {
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1BatteryInfo"
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "type": "object",
      "properties": {
        "problem": {
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "type": "string",
          "readOnly": true
        },
        "latency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY."
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "properties": {
        "encryptionAlgorithm": {
          "type": "string",
          "description": "Memory encryption algorithm.",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        },
        "maxKeys": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of keys that can be used for encryption."
        },
        "encryptionState": {
          "type": "string",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "description": "The state of memory encryption on the device."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "description": "Telemetry devices returned in the response."
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "properties": {
        "disk": {
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "type": "array",
          "description": "Output only. Reports on disk.",
          "readOnly": true
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device"
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "description": "Response message for listing telemetry users for a customer.",
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryUsers": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          },
          "type": "array",
          "description": "Telemetry users returned in the response."
        }
      }
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "type": "object",
      "description": "Information of a graphics adapter (GPU).",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "properties": {
        "driverVersion": {
          "description": "Output only. Version of the GPU driver.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Represents the graphics card device id."
        },
        "adapter": {
          "type": "string",
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "description": "Permission requested by an Android app.",
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "id": "GoogleChromeManagementV1DisplayInfo",
      "description": "Information for a display.",
      "properties": {
        "resolutionWidth": {
          "description": "Output only. Resolution width in pixels.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "resolutionHeight": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Resolution height in pixels."
        },
        "isInternal": {
          "readOnly": true,
          "description": "Output only. Indicates if display is internal or not.",
          "type": "boolean"
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Represents the graphics card device id."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "type": "object",
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed.",
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
      "properties": {
        "usbPeripheralReport": {
          "type": "array",
          "description": "List of usb devices that were either added or removed.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "description": "Represent one host permission."
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "type": "object",
      "description": "Peripherals report.",
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the report was collected."
        },
        "usbPeripheralReport": {
          "description": "Reports of all usb connected devices.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "description": "Telemetry data collected for a managed user and device.",
      "type": "object",
      "properties": {
        "audioStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "type": "array",
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "peripheralsReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
        },
        "deviceId": {
          "type": "string",
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserDevice"
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "type": "object",
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds.",
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "properties": {}
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "properties": {
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "memoryReports": {
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "storageReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).",
          "type": "array"
        },
        "cpuReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array",
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz)."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type."
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "type": "object",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "properties": {
        "deviceAueCountReports": {
          "type": "array",
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          }
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Public model name of the devices."
        },
        "expired": {
          "type": "boolean",
          "description": "Boolean value for whether or not the device has already expired."
        },
        "count": {
          "type": "string",
          "description": "Count of devices of this model.",
          "format": "int64"
        },
        "aueYear": {
          "format": "int64",
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string"
        },
        "aueMonth": {
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "type": "string",
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ]
        }
      }
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "description": "Response containing summary of requested app installations.",
      "type": "object",
      "properties": {
        "requestedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "type": "array",
          "description": "Count of requested apps matching request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "totalSize": {
          "description": "Total number of matching app requests.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
    }
  },
  "id": "chromemanagement:v1",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "resources": {
    "customers": {
      "resources": {
        "telemetry": {
          "resources": {
            "users": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/users",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "description": "List all telemetry users.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "type": "string"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Read mask to specify which fields to return.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to specify next page in the list.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/users"
                },
                "get": {
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "required": true,
                      "location": "path"
                    },
                    "readMask": {
                      "description": "Read mask to specify which fields to return.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Get telemetry user."
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.telemetry.events.list",
[...]
