{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "basePath": "",
  "version": "v1",
  "version_module": true,
  "schemas": {
    "GoogleChromePolicyV1ResolveRequest": {
      "properties": {
        "pageSize": {
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "type": "integer",
          "format": "int32"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "policySchemaFilter": {
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namepsaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        }
      },
      "description": "Request message for getting the resolved policy value for a specific target.",
      "type": "object",
      "id": "GoogleChromePolicyV1ResolveRequest"
    },
    "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyV1InheritOrgUnitPolicyRequest"
          },
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      },
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "type": "object"
    },
    "Proto2OneofDescriptorProto": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a oneof.",
      "id": "Proto2OneofDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyV1PolicyValue": {
      "properties": {
        "value": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        }
      },
      "description": "A particular value for a policy managed by the service.",
      "id": "GoogleChromePolicyV1PolicyValue",
      "type": "object"
    },
    "GoogleChromePolicyV1ResolveResponse": {
      "description": "Response message for getting the resolved policy value for a specific target.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next set of resolved policies found by the request."
        },
        "resolvedPolicies": {
          "type": "array",
          "description": "The list of resolved policies found by the resolve request.",
          "items": {
            "$ref": "GoogleChromePolicyV1ResolvedPolicy"
          }
        }
      },
      "id": "GoogleChromePolicyV1ResolveResponse"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Additional description for this value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The string represenstation of the value that can be set for the field."
        }
      },
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "id": "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription"
    },
    "GoogleChromePolicyV1PolicySchemaNoticeDescription": {
      "type": "object",
      "properties": {
        "field": {
          "readOnly": true,
          "description": "Output only. The field name associated with the notice.",
          "type": "string"
        },
        "acknowledgementRequired": {
          "type": "boolean",
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "readOnly": true
        },
        "noticeValue": {
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "readOnly": true,
          "type": "string"
        },
        "noticeMessage": {
          "description": "Output only. The notice message associate with the value of the field.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyV1PolicySchemaNoticeDescription",
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema."
    },
    "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyV1PolicyValue",
          "description": "The new value for the policy."
        }
      },
      "description": "Request parameters for modifying a policy value for a specific org unit target."
    },
    "GoogleTypeDate": {
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "GoogleChromePolicyV1InheritOrgUnitPolicyRequest": {
      "type": "object",
      "id": "GoogleChromePolicyV1InheritOrgUnitPolicyRequest",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      }
    },
    "Proto2FileDescriptorProto": {
      "properties": {
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "messageType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array",
          "description": "All top-level definitions in this file."
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        }
      },
      "description": "Describes a complete .proto file.",
      "type": "object",
      "id": "Proto2FileDescriptorProto"
    },
    "Proto2EnumDescriptorProto": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Describes an enum type.",
      "type": "object",
      "id": "Proto2EnumDescriptorProto"
    },
    "GoogleChromePolicyV1PolicySchemaRequiredItems": {
      "properties": {
        "fieldConditions": {
          "type": "array",
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement.",
          "items": {
            "type": "string"
          }
        },
        "requiredFields": {
          "description": "The fields that are required as a consequence of the field conditions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The fields that will become required based on the value of this field.",
      "id": "GoogleChromePolicyV1PolicySchemaRequiredItems",
      "type": "object"
    },
    "GoogleChromePolicyV1ListPolicySchemasResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        },
        "policySchemas": {
          "type": "array",
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchema"
          }
        }
      },
      "id": "GoogleChromePolicyV1ListPolicySchemasResponse",
      "type": "object",
      "description": "Response message for listing policy schemas that match a filter."
    },
    "Proto2EnumValueDescriptorProto": {
      "id": "Proto2EnumValueDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Describes a value within an enum."
    },
    "GoogleChromePolicyV1PolicySchema": {
      "properties": {
        "accessRestrictions": {
          "description": "Output only. Specific access restrictions related to this policy.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fieldDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "type": "array",
          "readOnly": true
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "additionalTargetKeyNames": {
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyV1AdditionalTargetKeyName"
          },
          "readOnly": true
        },
        "validTargetResources": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "type": "string"
          },
          "description": "Output only. Information about applicable target resources for the policy.",
          "readOnly": true
        },
        "schemaName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies or BatchModifyOrgUnitPolicies"
        },
        "supportUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to related support article for this schema."
        },
        "policyApiLifeycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Output only. Current life cycle information.",
          "readOnly": true
        },
        "notices": {
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaNoticeDescription"
          },
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}"
        },
        "policyDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption."
        }
      },
      "description": "Resource representing a policy schema. Next ID: 12",
      "type": "object",
      "id": "GoogleChromePolicyV1PolicySchema"
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "type": "object",
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
      "properties": {
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "endSupport": {
          "description": "End supporting date for current policy.",
          "$ref": "GoogleTypeDate"
        },
        "policyApiLifecycleStage": {
          "type": "string",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "description": "Indicate current life cycle stage of the policy API."
        }
      }
    },
    "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest"
          },
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific target.",
      "id": "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyV1PolicySchemaFieldDescription": {
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "properties": {
        "requiredItems": {
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaRequiredItems"
          }
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "type": "string",
          "readOnly": true
        },
        "fieldDependencies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDependencies"
          }
        },
        "inputConstraint": {
          "readOnly": true,
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string"
        },
        "nestedFieldDescriptions": {
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDescription"
          },
          "readOnly": true,
          "type": "array"
        },
        "knownValueDescriptions": {
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription"
          },
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. The description for the field.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyV1PolicySchemaFieldDescription"
    },
    "Proto2DescriptorProto": {
      "properties": {
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "oneofDecl": {
          "type": "array",
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2DescriptorProto",
      "type": "object",
      "description": "Describes a message type."
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "type": "string"
        },
        "jsonName": {
          "type": "string",
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase."
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped.",
          "type": "string"
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "oneofIndex": {
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "format": "int32",
          "type": "integer"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "label": {
          "type": "string",
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a field within a message.",
      "id": "Proto2FieldDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyV1PolicyTargetKey": {
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "additionalTargetKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy."
        }
      },
      "id": "GoogleChromePolicyV1PolicyTargetKey",
      "description": "The key used to identify the target on which the policy will be applied.",
      "type": "object"
    },
    "GoogleChromePolicyV1AdditionalTargetKeyName": {
      "type": "object",
      "properties": {
        "keyDescription": {
          "type": "string",
          "description": "Key description."
        },
        "key": {
          "type": "string",
          "description": "Key name."
        }
      },
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "id": "GoogleChromePolicyV1AdditionalTargetKeyName"
    },
    "GoogleChromePolicyV1ResolvedPolicy": {
      "properties": {
        "value": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyV1PolicyValue",
          "description": "Output only. The resolved value of the policy."
        },
        "targetKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyV1PolicyTargetKey",
          "description": "Output only. The target resource for which the resolved policy value applies."
        },
        "sourceKey": {
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "addedSourceKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyV1PolicyTargetKey",
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies."
        }
      },
      "id": "GoogleChromePolicyV1ResolvedPolicy",
      "type": "object",
      "description": "The resolved value of a policy for a given target."
    },
    "GoogleChromePolicyV1PolicySchemaFieldDependencies": {
      "properties": {
        "sourceField": {
          "type": "string",
          "description": "The source field which this field depends on."
        },
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyV1PolicySchemaFieldDependencies",
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "resources": {
    "customers": {
      "resources": {
        "policySchemas": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleChromePolicyV1ListPolicySchemasResponse"
              },
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The customer for which the listing request will apply.",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of policy schemas to return.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/policySchemas",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "parameterOrder": [
                "parent"
              ],
              "id": "chromepolicy.customers.policySchemas.list"
            },
            "get": {
              "description": "Get a specific policy schema for a customer by its resource name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The policy schema resource name to query.",
                  "pattern": "^customers/[^/]+/policySchemas/.*$"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromePolicyV1PolicySchema"
              },
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "id": "chromepolicy.customers.policySchemas.get"
            }
          }
        },
        "policies": {
          "methods": {
            "resolve": {
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromePolicyV1ResolveResponse"
              },
              "id": "chromepolicy.customers.policies.resolve",
              "request": {
                "$ref": "GoogleChromePolicyV1ResolveRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "customer": {
                  "type": "string",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+customer}/policies:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "description": "Gets the resolved policy values for a list of policies that match a search query."
            }
          },
          "resources": {
            "orgunits": {
              "methods": {
                "batchModify": {
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "request": {
                    "$ref": "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "batchInherit": {
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status."
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "title": "Chrome Policy API",
  "servicePath": "",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "canonicalName": "Chrome Policy",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20220706",
  "id": "chromepolicy:v1",
  "name": "chromepolicy"
}
