{
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "canonicalName": "Chrome Management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from Chrome OS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        }
      }
    }
  },
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "chromemanagement",
  "discoveryVersion": "v1",
  "version": "v1",
  "title": "Chrome Management API",
  "servicePath": "",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "version_module": true,
  "schemas": {
    "GoogleChromeManagementV1CpuStatusReport": {
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "type": "object",
      "properties": {
        "sampleFrequency": {
          "type": "string",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "format": "google-duration"
        },
        "cpuUtilizationPct": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Sample of CPU utilization (0-100 percent)."
        },
        "cpuTemperatureInfo": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Contains samples of the cpu status reports."
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "properties": {
        "macAddress": {
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "readOnly": true,
          "description": "Output only. Network device type."
        },
        "iccid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The integrated circuit card ID associated with the device's sim card."
        },
        "imei": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device."
        },
        "meid": {
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "type": "string",
          "readOnly": true
        },
        "mdn": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The mobile directory number associated with the device's sim card."
        }
      },
      "description": "Network device.",
      "id": "GoogleChromeManagementV1NetworkDevice",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "type": "object",
      "properties": {
        "systemRamFreeBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection)."
        },
        "pageFaults": {
          "description": "Output only. Number of page faults during this collection",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "sampleFrequency": {
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration",
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true
        }
      },
      "description": "Contains samples of memory status reports.",
      "id": "GoogleChromeManagementV1MemoryStatusReport"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "properties": {
        "devices": {
          "description": "Telemetry devices returned in the response.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          }
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1AppDetails": {
      "description": "Resource representing app details.",
      "type": "object",
      "id": "GoogleChromeManagementV1AppDetails",
      "properties": {
        "name": {
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "type": "string",
          "readOnly": true
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "readOnly": true
        },
        "serviceError": {
          "description": "Output only. Information about a partial service error if applicable.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "reviewRating": {
          "type": "number",
          "format": "float",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true
        },
        "reviewNumber": {
          "format": "int64",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true,
          "type": "string"
        },
        "androidAppInfo": {
          "readOnly": true,
          "description": "Output only. Android app information.",
          "$ref": "GoogleChromeManagementV1AndroidAppInfo"
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "latestPublishTime": {
          "format": "google-datetime",
          "description": "Output only. Latest published time.",
          "readOnly": true,
          "type": "string"
        },
        "isPaidApp": {
          "readOnly": true,
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "type": "boolean"
        },
        "iconUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "description": "Output only. App type.",
          "readOnly": true,
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ]
        },
        "homepageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Home page or Website uri."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App's description."
        },
        "firstPublishTime": {
          "description": "Output only. First published time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "publisher": {
          "type": "string",
          "description": "Output only. The publisher of the item.",
          "readOnly": true
        },
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "type": "string",
          "readOnly": true
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "type": "string",
          "readOnly": true
        },
        "chromeAppInfo": {
          "readOnly": true,
          "description": "Output only. Chrome Web Store app information.",
          "$ref": "GoogleChromeManagementV1ChromeAppInfo"
        }
      }
    },
    "GoogleChromeManagementV1Device": {
      "properties": {
        "deviceId": {
          "readOnly": true,
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "type": "string"
        },
        "machine": {
          "description": "Output only. The name of the machine within its local network.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes a device reporting Chrome browser information.",
      "type": "object",
      "id": "GoogleChromeManagementV1Device"
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "properties": {
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful update.",
          "type": "string",
          "readOnly": true
        },
        "lastUpdateCheckTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last update check."
        },
        "lastRebootTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of the last reboot."
        },
        "updateState": {
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "description": "Output only. Current state of the os update.",
          "type": "string",
          "readOnly": true
        },
        "newRequestedPlatformVersion": {
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "type": "string",
          "readOnly": true
        },
        "newPlatformVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot."
        }
      },
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "description": "Contains information regarding the current OS update status.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "description": "Sampling data for battery.",
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "type": "object",
      "properties": {
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime"
        },
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "type": "string",
          "readOnly": true
        },
        "temperature": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Temperature in Celsius degrees."
        },
        "current": {
          "description": "Output only. Battery current (mA).",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "voltage": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Battery voltage (millivolt).",
          "readOnly": true
        },
        "dischargeRate": {
          "readOnly": true,
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "type": "integer",
          "format": "int32"
        },
        "chargeRate": {
          "description": "Output only. Battery charge percentage.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "remainingCapacity": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "description": "Chrome Web Store app information.",
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "properties": {
        "googleOwned": {
          "type": "boolean",
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "kioskEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices"
        },
        "isCwsHosted": {
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "readOnly": true,
          "type": "boolean"
        },
        "isKioskOnly": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices"
        },
        "permissions": {
          "type": "array",
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "readOnly": true
        },
        "supportEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found."
        },
        "isTheme": {
          "type": "boolean",
          "description": "Output only. Whether the app or extension is a theme.",
          "readOnly": true
        },
        "minUserCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum number of users using this app.",
          "readOnly": true
        },
        "siteAccess": {
          "readOnly": true,
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          }
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "description": "Status data for storage.",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string"
        },
        "disk": {
          "description": "Output only. Reports on disk.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          }
        }
      },
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "description": "CPU specs for a CPU.",
      "type": "object",
      "properties": {
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The CPU architecture."
        },
        "keylockerConfigured": {
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean",
          "readOnly": true
        },
        "keylockerSupported": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean"
        },
        "maxClockSpeed": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The max CPU clock speed in kHz."
        },
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "type": "object",
      "description": "Thunderbolt bus info.",
      "properties": {
        "securityLevel": {
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ],
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "type": "string",
          "description": "Security level of the Thunderbolt bus."
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "id": "GoogleChromeManagementV1DisplayInfo",
      "description": "Information for a display.",
      "type": "object",
      "properties": {
        "resolutionHeight": {
          "type": "integer",
          "description": "Output only. Resolution height in pixels.",
          "format": "int32",
          "readOnly": true
        },
        "isInternal": {
          "readOnly": true,
          "description": "Output only. Indicates if display is internal or not.",
          "type": "boolean"
        },
        "resolutionWidth": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Resolution width in pixels."
        },
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents the graphics card device id."
        },
        "refreshRate": {
          "type": "integer",
          "description": "Output only. Refresh rate in Hz.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "properties": {
        "problem": {
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ]
        },
        "latency": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "format": "google-duration"
        }
      },
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "type": "object"
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "properties": {
        "inputGain": {
          "description": "Output only. Active input device's gain in [0, 100].",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "inputDevice": {
          "readOnly": true,
          "description": "Output only. Active input device's name.",
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "readOnly": true
        },
        "inputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active input device mute or not."
        },
        "outputVolume": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Active output device's volume in [0, 100]."
        },
        "outputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active output device mute or not."
        },
        "outputDevice": {
          "description": "Output only. Active output device's name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Audio report.",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "description": "Response containing summary of requested app installations.",
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "properties": {
        "totalSize": {
          "description": "Total number of matching app requests.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "description": "Permission requested by a Chrome app or extension.",
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "accessUserData": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data."
        },
        "documentationUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If available, a URI to a page that has documentation for the current permission."
        }
      }
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "type": "object",
      "id": "GoogleChromeManagementV1BrowserVersion",
      "properties": {
        "system": {
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "description": "Output only. The device operating system.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ]
        },
        "channel": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "description": "Output only. The release channel of the installed browser."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Count grouped by device_system and major version",
          "readOnly": true
        },
        "version": {
          "description": "Output only. The full version of the installed browser.",
          "type": "string",
          "readOnly": true
        },
        "deviceOsVersion": {
          "readOnly": true,
          "description": "Output only. Version of the system-specified operating system.",
          "type": "string"
        }
      },
      "description": "Describes a browser version and its install count."
    },
    "GoogleTypeDate": {
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate"
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks.",
      "properties": {
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "readOnly": true,
          "type": "string"
        },
        "reportTime": {
          "description": "Output only. Time at which the network state was reported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleFrequency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled."
        },
        "wifiLinkQuality": {
          "format": "int64",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "type": "string",
          "readOnly": true
        },
        "transmissionPowerDbm": {
          "description": "Output only. Transmission power measured in decibels.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "readOnly": true,
          "type": "string"
        },
        "signalStrengthDbm": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Signal strength for wireless networks measured in decibels."
        },
        "connectionState": {
          "readOnly": true,
          "description": "Output only. Current connection state of the network.",
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ]
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "readOnly": true,
          "type": "string"
        },
        "wifiPowerManagementEnabled": {
          "readOnly": true,
          "description": "Output only. Wifi power management enabled",
          "type": "boolean"
        },
        "receivingBitRateMbps": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Receiving bit rate measured in megabytes per second."
        },
        "transmissionBitRateMbps": {
          "format": "int64",
          "description": "Output only. Transmission bit rate measured in megabytes per second.",
          "type": "string",
          "readOnly": true
        },
        "encryptionOn": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the wifi encryption key is turned off."
        },
        "connectionType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "description": "Output only. Network connection type.",
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ]
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius",
      "properties": {
        "temperatureCelsius": {
          "type": "integer",
          "description": "Output only. CPU temperature in Celsius.",
          "readOnly": true,
          "format": "int32"
        },
        "label": {
          "type": "string",
          "description": "Output only. CPU label. Example: Core 0",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CpuTemperatureInfo"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "description": "Telemetry data collected from a managed device.",
      "properties": {
        "networkDiagnosticsReport": {
          "readOnly": true,
          "description": "Output only. Network diagnostics collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "type": "array"
        },
        "memoryStatusReport": {
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "readOnly": true
        },
        "batteryInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Information on battery specs for the device."
        },
        "customer": {
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "readOnly": true,
          "type": "string"
        },
        "networkStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "description": "Output only. Network specs collected periodically.",
          "readOnly": true,
          "type": "array"
        },
        "graphicsStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "type": "array",
          "description": "Output only. Graphics reports collected periodically."
        },
        "batteryStatusReport": {
          "description": "Output only. Battery reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "storageStatusReport": {
          "type": "array",
          "description": "Output only. Storage reports collected periodically.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "cpuStatusReport": {
          "type": "array",
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "readOnly": true
        },
        "osUpdateStatus": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          }
        },
        "deviceId": {
          "readOnly": true,
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "type": "string"
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "memoryInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "description": "Output only. Information regarding memory specs for the device."
        },
        "orgUnitId": {
          "readOnly": true,
          "description": "Output only. Organization unit ID of the device.",
          "type": "string"
        },
        "graphicsInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "description": "Output only. Contains information regarding Graphic peripherals for the device."
        },
        "storageInfo": {
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "description": "Output only. Information of storage specs for the device.",
          "readOnly": true
        },
        "thunderboltInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "description": "Output only. Information on Thunderbolt bus."
        },
        "networkInfo": {
          "readOnly": true,
          "description": "Output only. Network devices information.",
          "$ref": "GoogleChromeManagementV1NetworkInfo"
        },
        "cpuInfo": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "description": "Output only. Information regarding CPU specs for the device.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the device."
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryDevice"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "description": "Response containing details of queried installed apps.",
      "properties": {
        "installedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "description": "List of installed apps matching request.",
          "type": "array"
        },
        "totalSize": {
          "description": "Total number of installed apps matching request.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "description": "Information of the graphics subsystem.",
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "type": "object",
      "properties": {
        "displays": {
          "readOnly": true,
          "description": "Output only. Information about the displays for the device.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          }
        },
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the graphics data was reported."
        }
      }
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "type": "object",
      "description": "Memory information of a device.",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "properties": {
        "availableRamBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Amount of available RAM in bytes."
        },
        "totalRamBytes": {
          "readOnly": true,
          "description": "Output only. Total RAM in bytes.",
          "type": "string",
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "description": "Output only. Total memory encryption info for the device.",
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "description": "Network devices info.",
      "id": "GoogleChromeManagementV1NetworkInfo",
      "type": "object",
      "properties": {
        "networkDevices": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "description": "Output only. List of network devices."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "properties": {
        "browserVersions": {
          "description": "List of all browser versions and their install counts.",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number browser versions matching request."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "type": "object",
      "description": "Response containing requested browser versions details and counts."
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "type": "object",
      "properties": {
        "hostMatch": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance."
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "description": "Represent one host permission."
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "description": "Status data for battery.",
      "type": "object",
      "properties": {
        "batteryHealth": {
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy.",
            "Battery is moderately unhealthy and should be replaced soon.",
            "Battery is unhealthy and should be replaced."
          ],
          "readOnly": true,
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "description": "Output only. Battery health.",
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        },
        "cycleCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Cycle count."
        },
        "sample": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time."
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "fullChargeCapacity": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Full charge capacity (mAmpere-hours)."
        }
      },
      "id": "GoogleChromeManagementV1BatteryStatusReport"
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "properties": {
        "httpsLatencyData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "readOnly": true,
          "description": "Output only. HTTPS latency test data."
        },
        "reportTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal.",
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport"
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "readOnly": true,
          "description": "Output only. Permissions requested by an Android app.",
          "type": "array"
        }
      },
      "description": "Android app information."
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "type": "object",
      "properties": {
        "maxKeys": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of keys that can be used for encryption."
        },
        "encryptionState": {
          "description": "The state of memory encryption on the device.",
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ]
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "description": "Memory encryption algorithm.",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "type": "string",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ]
        }
      },
      "description": "Memory encryption information of a device.",
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "properties": {
        "bytesReadThisSession": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of bytes read since last boot.",
          "readOnly": true
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Disk serial number.",
          "type": "string"
        },
        "writeTimeThisSession": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Time spent writing to disk since last boot.",
          "readOnly": true
        },
        "manufacturer": {
          "description": "Output only. Disk manufacturer.",
          "readOnly": true,
          "type": "string"
        },
        "discardTimeThisSession": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+."
        },
        "bytesWrittenThisSession": {
          "type": "string",
          "description": "Output only. Number of bytes written since last boot.",
          "format": "int64",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk model."
        },
        "sizeBytes": {
          "description": "Output only. Disk size.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "readOnly": true
        },
        "volumeIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Disk volumes."
        },
        "readTimeThisSession": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Time spent reading from disk since last boot.",
          "type": "string"
        },
        "ioTimeThisSession": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "type": "string"
        },
        "health": {
          "readOnly": true,
          "description": "Output only. Disk health.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DiskInfo",
      "description": "Status of the single storage device.",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        },
        "storageTotalBytes": {
          "description": "Total storage space in bytes.",
          "format": "int64",
          "type": "string"
        },
        "storageFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Free storage space in bytes."
        }
      },
      "description": "Information for disk volumes",
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "type": "object"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "type": "object",
      "properties": {
        "disabled": {
          "readOnly": true,
          "description": "Output only. Whether the app is disabled.",
          "type": "boolean"
        },
        "appInstallType": {
          "description": "Output only. How the app was installed.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the installed app."
        },
        "homepageUri": {
          "type": "string",
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true
        },
        "permissions": {
          "type": "array",
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "browserDeviceCount": {
          "type": "string",
          "description": "Output only. Count of browser devices with this app installed.",
          "readOnly": true,
          "format": "int64"
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "osUserCount": {
          "type": "string",
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "format": "int64",
          "readOnly": true
        },
        "appSource": {
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Source of the installed app."
        },
        "appType": {
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "readOnly": true,
          "description": "Output only. Type of the app.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the installed app."
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app."
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "type": "object",
      "description": "Details of an app installation request.",
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "properties": {
        "requestCount": {
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of the most recently made request for this app."
        },
        "iconUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "appId": {
          "type": "string",
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "appDetails": {
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the permission."
        }
      },
      "description": "Permission requested by an Android app.",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1BatteryInfo",
      "properties": {
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "type": "string",
          "readOnly": true
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        },
        "designCapacity": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours)."
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Battery manufacturer."
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "designMinVoltage": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Designed minimum output voltage (mV)"
        }
      },
      "description": "Battery info"
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "properties": {
        "adapterInfo": {
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo"
        }
      },
      "description": "Information of the graphics subsystem.",
      "type": "object"
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "description": "Response containing a list of devices with queried app installed.",
      "properties": {
        "devices": {
          "type": "array",
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of devices matching request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        }
      },
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfo": {
      "properties": {
        "availableDiskBytes": {
          "format": "int64",
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string"
        },
        "volume": {
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "type": "array",
          "description": "Information for disk volumes"
        },
        "totalDiskBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total space for user data storage in the device in bytes."
        }
      },
      "id": "GoogleChromeManagementV1StorageInfo",
      "description": "Status data for storage.",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "properties": {
        "driverVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the GPU driver."
        },
        "deviceId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Represents the graphics card device id.",
          "type": "string"
        },
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information of a graphics adapter (GPU)."
    }
  },
  "resources": {
    "customers": {
      "resources": {
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/devices",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "description": "List all telemetry devices.",
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Read mask to specify which fields to return.",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id "
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to specify next page in the list.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "description": "Get telemetry device.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. Read mask to specify which fields to return."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}"
                }
              }
            }
          }
        },
        "apps": {
          "resources": {
            "web": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.web.get",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  }
                }
              }
            },
            "android": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.apps.android.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "path": "v1/{+name}"
                }
              }
            }
          },
          "methods": {
            "countChromeAppRequests": {
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "description": "Generate summary of app installation requests.",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ]
            }
          }
        },
        "reports": {
          "methods": {
            "countInstalledApps": {
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "path": "v1/{+customer}/reports:countInstalledApps",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "description": "Generate report of app installations.",
              "parameters": {
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                }
              }
            },
            "countChromeVersions": {
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate report of installed Chrome versions.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countChromeVersions"
            },
            "findInstalledAppDevices": {
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "appId": {
                  "type": "string",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "appType": {
                  "description": "Type of the app.",
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "description": "Generate report of devices that have a specified app installed.",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    }
  },
  "basePath": "",
  "id": "chromemanagement:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20220630",
  "protocol": "rest",
  "documentationLink": "http://developers.google.com/chrome/management/"
}
