{
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "canonicalName": "Chrome Policy",
  "title": "Chrome Policy API",
  "protocol": "rest",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "chromepolicy",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "basePath": "",
  "schemas": {
    "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails": {
      "properties": {
        "modificationErrors": {
          "readOnly": true,
          "description": "Output only. List of specific policy modifications errors that may have occurred during a modifying request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationError"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails",
      "description": "Details of the errors encountered during a policy modification request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "type": "object"
    },
    "Proto2DescriptorProto": {
      "description": "Describes a message type.",
      "id": "Proto2DescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        },
        "nestedType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        },
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        }
      },
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "properties": {
        "error": {
          "description": "Output only. The error message related to the field.",
          "readOnly": true,
          "type": "string"
        },
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field with the error."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "type": "object",
      "description": "Error information for a modification request of a specific field on a specific policy."
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "properties": {},
      "type": "object",
      "description": "Response object for removing a network.",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
    },
    "Proto2EnumValueDescriptorProto": {
      "id": "Proto2EnumValueDescriptorProto",
      "description": "Describes a value within an enum.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "description": "Request object for creating a new network.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Required. Detailed network settings."
        },
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "properties": {
        "settings": {
          "type": "array",
          "description": "Detailed network settings of the new created network",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "type": "string",
          "description": "Network ID of the new created network."
        }
      },
      "description": "Response object for creating a network.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "properties": {
        "groupIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The group IDs, in desired priority ordering."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app."
        },
        "policySchema": {
          "description": "The schema name of the policy for the request.",
          "type": "string"
        },
        "policyNamespace": {
          "type": "string",
          "description": "The namespace of the policy type for the request."
        }
      },
      "description": "Request message for updating the group priority ordering of an app.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "type": "object",
      "description": "Response object for creating a certificate.",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "The guid of the certificate created by the action."
        },
        "settings": {
          "type": "array",
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "description": "the resource at which the certificate is defined.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
      "properties": {
        "minimum": {
          "format": "int64",
          "description": "Minimum value.",
          "type": "string"
        },
        "maximum": {
          "description": "Maximum value.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationError": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationError",
      "description": "Error information for a modification request of a specific policy on a specific target.",
      "properties": {
        "errors": {
          "readOnly": true,
          "description": "Output only. The non-field errors related to the modification.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policySchema": {
          "readOnly": true,
          "description": "Output only. The specific policy schema modification that had an error.",
          "type": "string"
        },
        "fieldErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The error messages related to the modification.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
          }
        },
        "policyTargetKey": {
          "description": "Output only. The specific policy target modification that had error.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "description": "Response message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "properties": {
        "resolvedPolicies": {
          "description": "The list of resolved policies found by the resolve request.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "type": "object",
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "properties": {
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The field name associated with the notice."
        },
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "readOnly": true,
          "type": "boolean"
        },
        "noticeValue": {
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string",
          "readOnly": true
        },
        "noticeMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The notice message associate with the value of the field."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      },
      "description": "Request message for modifying multiple policy values for a specific target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "properties": {
        "policyApiLifecycle": {
          "description": "Output only. Current lifecycle information.",
          "readOnly": true,
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle"
        },
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        },
        "fieldDescriptions": {
          "type": "array",
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "schemaName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies."
        },
        "additionalTargetKeyNames": {
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "type": "array",
          "readOnly": true
        },
        "notices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "readOnly": true
        },
        "supportUri": {
          "type": "string",
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true
        },
        "definition": {
          "$ref": "Proto2FileDescriptorProto",
          "description": "Schema definition using proto descriptor."
        },
        "validTargetResources": {
          "readOnly": true,
          "description": "Output only. Information about applicable target resources for the policy.",
          "type": "array",
          "items": {
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ]
          }
        },
        "policyDescription": {
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}"
        },
        "accessRestrictions": {
          "readOnly": true,
          "description": "Output only. Specific access restrictions related to this policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Resource representing a policy schema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchema"
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      }
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "properties": {
        "numericRangeConstraint": {
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
          "description": "The allowed range for numeric fields."
        }
      },
      "description": "Information about any range constraints.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1FieldConstraints"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "type": "object",
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app."
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "properties": {
        "policyNamespace": {
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "readOnly": true,
          "type": "string"
        },
        "policySchema": {
          "description": "Output only. The schema name of the policy for the group IDs.",
          "type": "string",
          "readOnly": true
        },
        "groupIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The group IDs, in priority ordering.",
          "type": "array",
          "readOnly": true
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true,
          "description": "Output only. The target resource for which the group priority ordering has been retrieved."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "description": "Response message for listing the group priority ordering of an app.",
      "type": "object"
    },
    "Proto2EnumDescriptorProto": {
      "id": "Proto2EnumDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        }
      },
      "description": "Describes an enum type.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          },
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
    },
    "Proto2OneofDescriptorProto": {
      "description": "Describes a oneof.",
      "type": "object",
      "id": "Proto2OneofDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "type": "object",
      "description": "Request object for creating a certificate.",
      "properties": {
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        },
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        },
        "targetResource": {
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace."
        }
      }
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        }
      },
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
    },
    "Proto2FieldDescriptorProto": {
      "type": "object",
      "properties": {
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "type": {
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "type": "string",
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ]
        },
        "label": {
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ],
          "type": "string"
        },
        "oneofIndex": {
          "type": "integer",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "format": "int32"
        },
        "proto3Optional": {
          "type": "boolean",
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`."
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "defaultValue": {
          "type": "string",
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped."
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2FieldDescriptorProto",
      "description": "Describes a field within a message."
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "description": "The resolved value of a policy for a given target.",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. The resolved value of the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "sourceKey": {
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "targetKey": {
          "readOnly": true,
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "addedSourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true,
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "type": "object",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "properties": {
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string"
        },
        "policySchemaFilter": {
          "type": "string",
          "description": "Required. The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\""
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "type": "integer"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "type": "object",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the network to remove."
        }
      },
      "description": "Request object for removing a network",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "properties": {
        "network": {
          "description": "Output only. The name of the referencing network.",
          "type": "string",
          "readOnly": true
        },
        "orgUnitId": {
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate."
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "properties": {
        "policySchemas": {
          "type": "array",
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next page of policy schemas."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "description": "Response message for listing policy schemas that match a filter."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "type": "object",
      "description": "The fields that will become required based on the value of this field.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "properties": {
        "requiredFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The fields that are required as a consequence of the field conditions."
        },
        "fieldConditions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement."
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "description": "Request object for removing a certificate.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "properties": {
        "fieldDependencies": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "type": "array",
          "description": "Output only. Field conditions required for this value to be valid."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional description for this value."
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The string represenstation of the value that can be set for the field."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "properties": {
        "requiredItems": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "readOnly": true,
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "type": "array"
        },
        "fieldConstraints": {
          "description": "Output only. Information on any input constraints associated on the values for the field.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints"
        },
        "fieldDependencies": {
          "type": "array",
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "type": "string",
          "readOnly": true
        },
        "knownValueDescriptions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "type": "array"
        },
        "defaultValue": {
          "description": "Output only. Client default if the policy is unset.",
          "type": "any",
          "readOnly": true
        },
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Deprecated. Use name and field_description instead. The description for the field."
        },
        "nestedFieldDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field."
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the network setting."
        },
        "value": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value of the network setting.",
          "type": "object"
        }
      },
      "description": "A network setting contains network configurations."
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "properties": {
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")"
        }
      },
      "description": "The key used to identify the target on which the policy will be applied.",
      "type": "object"
    },
    "Proto2FileDescriptorProto": {
      "description": "Describes a complete .proto file.",
      "type": "object",
      "id": "Proto2FileDescriptorProto",
      "properties": {
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "name": {
          "description": "file name, relative to root of source tree",
          "type": "string"
        },
        "syntax": {
          "type": "string",
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\"."
        },
        "messageType": {
          "type": "array",
          "description": "All top-level definitions in this file.",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        }
      }
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "type": "object",
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description about current life cycle."
        },
        "policyApiLifecycleStage": {
          "description": "Indicate current life cycle stage of the policy API.",
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "type": "string"
        },
        "endSupport": {
          "$ref": "GoogleTypeDate",
          "description": "End supporting date for current policy."
        },
        "deprecatedInFavorOf": {
          "description": "In the event that this policy was deprecated in favor of another policy, the fully qualified namespace(s) of the new policies as they will show in PolicyAPI.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      },
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "type": "object",
      "properties": {
        "certificateReferences": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed."
        }
      },
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails"
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "type": "array",
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "type": "object",
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "description": "Request message for uploading a file for a policy."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "properties": {
        "sourceField": {
          "type": "string",
          "description": "The source field which this field depends on."
        },
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "description": "A particular value for a policy managed by the service.",
      "properties": {
        "value": {
          "description": "The value of the policy that is compatible with the schema that it is associated with.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema associated with this policy.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "description": "Response message for downloading an uploaded file.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The uri for end user to download the file."
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key name.",
          "type": "string"
        },
        "keyDescription": {
          "type": "string",
          "description": "Key description."
        }
      },
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "properties": {},
      "type": "object",
      "description": "Response object for removing a certificate.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
    }
  },
  "documentationLink": "http://developers.google.com/chrome/policy",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "id": "chromepolicy:v1",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "parameterOrder": [
            "customer"
          ],
          "id": "chromepolicy.media.upload",
          "httpMethod": "POST",
          "parameters": {
            "customer": {
              "description": "Required. The customer for which the file upload will apply.",
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user."
        }
      }
    },
    "customers": {
      "resources": {
        "policySchemas": {
          "methods": {
            "list": {
              "id": "chromepolicy.customers.policySchemas.list",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/policySchemas",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`."
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer for which the listing request will apply.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token used to retrieve a specific page of the listing request."
                },
                "pageSize": {
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "description": "Get a specific policy schema for a customer by its resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The policy schema resource name to query.",
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "id": "chromepolicy.customers.policySchemas.get"
            }
          }
        },
        "policies": {
          "resources": {
            "orgunits": {
              "methods": {
                "batchModify": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "batchInherit": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit"
                }
              }
            },
            "networks": {
              "methods": {
                "removeNetwork": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The customer whose network will be removed.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "httpMethod": "POST",
                  "description": "Remove an existing network by guid.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  }
                },
                "defineNetwork": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "description": "Define a new network.",
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer who will own this new network.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork"
                },
                "defineCertificate": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The customer for which the certificate will apply."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/networks:defineCertificate"
                },
                "removeCertificate": {
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. The customer whose certificate will be removed.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "description": "Remove an existing certificate by guid.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "batchDelete": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  }
                },
                "updateGroupPriorityOrdering": {
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "batchModify": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify"
                },
                "listGroupPriorityOrdering": {
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering"
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "parameters": {
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                }
              },
              "path": "v1/{+customer}/policies:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromepolicy.customers.policies.resolve",
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "description": "Gets the resolved policy values for a list of policies that match a search query."
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "revision": "20230426"
}
