{
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "version": "v1",
  "version_module": true,
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "name": "chromemanagement",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from Chrome OS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleChromeManagementV1InstalledApp": {
      "properties": {
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of the installed app.",
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the installed app."
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string"
        },
        "osUserCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Count of ChromeOS users with this app installed."
        },
        "appSource": {
          "readOnly": true,
          "description": "Output only. Source of the installed app.",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "type": "string",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ]
        },
        "browserDeviceCount": {
          "format": "int64",
          "description": "Output only. Count of browser devices with this app installed.",
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "type": "boolean",
          "readOnly": true
        },
        "appType": {
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "type": "string",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "readOnly": true,
          "description": "Output only. Type of the app."
        },
        "appInstallType": {
          "readOnly": true,
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "description": "Output only. How the app was installed.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "type": "object",
      "description": "Describes an installed app."
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "properties": {
        "deviceAueCountReports": {
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          }
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Time at which the graphics data was reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "displays": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information about the displays for the device."
        }
      },
      "description": "Information of the graphics subsystem."
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "description": "State of visible/configured networks.",
      "properties": {
        "connectionState": {
          "description": "Output only. Current connection state of the network.",
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "readOnly": true
        },
        "guid": {
          "description": "Output only. Network connection guid.",
          "type": "string",
          "readOnly": true
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "type": "string",
          "readOnly": true
        },
        "reportTime": {
          "description": "Output only. Time at which the network state was reported.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "signalStrengthDbm": {
          "format": "int32",
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "readOnly": true,
          "type": "integer"
        },
        "connectionType": {
          "readOnly": true,
          "description": "Output only. Network connection type.",
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ],
          "type": "string"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "receivingBitRateMbps": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Receiving bit rate measured in Megabits per second."
        },
        "wifiPowerManagementEnabled": {
          "readOnly": true,
          "description": "Output only. Wifi power management enabled",
          "type": "boolean"
        },
        "encryptionOn": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the wifi encryption key is turned off."
        },
        "wifiLinkQuality": {
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "transmissionPowerDbm": {
          "description": "Output only. Transmission power measured in decibels.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "readOnly": true,
          "type": "string"
        },
        "transmissionBitRateMbps": {
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkStatusReport"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "properties": {
        "designCapacity": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64"
        },
        "designMinVoltage": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Designed minimum output voltage (mV)",
          "type": "integer"
        },
        "manufacturer": {
          "description": "Output only. Battery manufacturer.",
          "type": "string",
          "readOnly": true
        },
        "manufactureDate": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery serial number."
        }
      },
      "description": "Battery info",
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDiagnosticsReport": {
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the diagnostics were collected.",
          "format": "google-datetime",
          "readOnly": true
        },
        "httpsLatencyData": {
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData",
          "description": "Output only. HTTPS latency test data.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkDiagnosticsReport",
      "description": "Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal."
    },
    "GoogleChromeManagementV1StorageInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfo",
      "properties": {
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "format": "int64",
          "type": "string"
        },
        "volume": {
          "description": "Information for disk volumes",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          }
        },
        "availableDiskBytes": {
          "type": "string",
          "format": "int64",
          "description": "The available space for user data storage in the device in bytes."
        }
      },
      "description": "Status data for storage."
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "properties": {
        "updateState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the os update.",
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ]
        },
        "lastUpdateCheckTime": {
          "description": "Output only. Timestamp of the last update check.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful update.",
          "type": "string",
          "readOnly": true
        },
        "newRequestedPlatformVersion": {
          "readOnly": true,
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "type": "string"
        },
        "lastRebootTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last reboot.",
          "readOnly": true,
          "type": "string"
        },
        "newPlatformVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "description": "Contains information regarding the current OS update status."
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "properties": {
        "driverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GPU driver.",
          "type": "string"
        },
        "deviceId": {
          "description": "Output only. Represents the graphics card device id.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "properties": {
        "permissions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Permissions requested by an Android app.",
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          }
        }
      },
      "description": "Android app information.",
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "properties": {
        "requestedApps": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "description": "Count of requested apps matching request."
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number of matching app requests.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "description": "Response containing summary of requested app installations.",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "properties": {
        "storageTotalBytes": {
          "type": "string",
          "description": "Total storage space in bytes.",
          "format": "int64"
        },
        "storageFreeBytes": {
          "description": "Free storage space in bytes.",
          "type": "string",
          "format": "int64"
        },
        "volumeId": {
          "description": "Disk volume id.",
          "type": "string"
        }
      },
      "description": "Information for disk volumes",
      "type": "object"
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1DisplayInfo",
      "description": "Information for a display.",
      "properties": {
        "isInternal": {
          "type": "boolean",
          "description": "Output only. Indicates if display is internal or not.",
          "readOnly": true
        },
        "resolutionHeight": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Resolution height in pixels.",
          "format": "int32"
        },
        "deviceId": {
          "description": "Output only. Represents the graphics card device id.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "resolutionWidth": {
          "readOnly": true,
          "description": "Output only. Resolution width in pixels.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "description": "Status data for storage.",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime"
        },
        "disk": {
          "readOnly": true,
          "description": "Output only. Reports on disk.",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "type": "object",
      "description": "Represent one host permission.",
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "keylockerSupported": {
          "type": "boolean",
          "description": "Output only. Whether keylocker is supported.",
          "readOnly": true
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "description": "Output only. The CPU architecture.",
          "type": "string"
        },
        "maxClockSpeed": {
          "description": "Output only. The max CPU clock speed in kHz.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "keylockerConfigured": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`."
        },
        "model": {
          "type": "string",
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CpuInfo",
      "description": "CPU specs for a CPU."
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "description": "Sampling data for battery.",
      "properties": {
        "dischargeRate": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "type": "string"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "temperature": {
          "format": "int32",
          "description": "Output only. Temperature in Celsius degrees.",
          "readOnly": true,
          "type": "integer"
        },
        "voltage": {
          "description": "Output only. Battery voltage (millivolt).",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "current": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Battery current (mA)."
        },
        "remainingCapacity": {
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "chargeRate": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Battery charge percentage."
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "properties": {
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "readOnly": true,
          "description": "Output only. Information about the graphics adapter (GPU)."
        }
      },
      "description": "Information of the graphics subsystem.",
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1AppDetails": {
      "id": "GoogleChromeManagementV1AppDetails",
      "properties": {
        "latestPublishTime": {
          "description": "Output only. Latest published time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "iconUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Home page or Website uri.",
          "type": "string"
        },
        "serviceError": {
          "description": "Output only. Information about a partial service error if applicable.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "publisher": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The publisher of the item."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "type": "string",
          "readOnly": true
        },
        "firstPublishTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. First published time.",
          "format": "google-datetime"
        },
        "privacyPolicyUri": {
          "readOnly": true,
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "type": "string"
        },
        "isPaidApp": {
          "readOnly": true,
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Output only. App's description.",
          "readOnly": true
        },
        "detailUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri for the detail page of the item."
        },
        "reviewRating": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app."
        },
        "reviewNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true
        },
        "androidAppInfo": {
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "readOnly": true,
          "description": "Output only. Android app information."
        },
        "type": {
          "description": "Output only. App type.",
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "type": "string",
          "readOnly": true
        },
        "chromeAppInfo": {
          "description": "Output only. Chrome Web Store app information.",
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "readOnly": true
        }
      },
      "description": "Resource representing app details.",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "description": "Response containing requested browser versions details and counts.",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "properties": {
        "browserVersions": {
          "type": "array",
          "description": "List of all browser versions and their install counts.",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "description": "Details of an app installation request.",
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "properties": {
        "iconUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "detailUri": {
          "type": "string",
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "readOnly": true,
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "type": "string"
        },
        "appDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}"
        },
        "requestCount": {
          "format": "int64",
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App's display name."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "description": "Status of the single storage device.",
      "type": "object",
      "id": "GoogleChromeManagementV1DiskInfo",
      "properties": {
        "discardTimeThisSession": {
          "type": "string",
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "format": "google-duration",
          "readOnly": true
        },
        "readTimeThisSession": {
          "description": "Output only. Time spent reading from disk since last boot.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "bytesWrittenThisSession": {
          "type": "string",
          "description": "Output only. Number of bytes written since last boot.",
          "readOnly": true,
          "format": "int64"
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk model."
        },
        "volumeIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Disk volumes.",
          "type": "array",
          "readOnly": true
        },
        "ioTimeThisSession": {
          "format": "google-duration",
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "readOnly": true,
          "type": "string"
        },
        "bytesReadThisSession": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of bytes read since last boot."
        },
        "writeTimeThisSession": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Time spent writing to disk since last boot."
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Disk size."
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk serial number."
        },
        "health": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk health."
        },
        "manufacturer": {
          "description": "Output only. Disk manufacturer.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "id": "GoogleChromeManagementV1NetworkDevice",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ],
          "description": "Output only. Network device type.",
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ]
        },
        "iccid": {
          "readOnly": true,
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "type": "string"
        },
        "macAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. MAC address (if applicable) of the corresponding network device."
        },
        "mdn": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The mobile directory number associated with the device's sim card."
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "imei": {
          "readOnly": true,
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "type": "string"
        }
      },
      "description": "Network device.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "properties": {
        "storageInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "description": "Output only. Information of storage specs for the device."
        },
        "osUpdateStatus": {
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "type": "array",
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "readOnly": true
        },
        "batteryInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "readOnly": true,
          "description": "Output only. Information on battery specs for the device."
        },
        "graphicsInfo": {
          "readOnly": true,
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "$ref": "GoogleChromeManagementV1GraphicsInfo"
        },
        "deviceId": {
          "type": "string",
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "readOnly": true
        },
        "graphicsStatusReport": {
          "type": "array",
          "description": "Output only. Graphics reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true
        },
        "memoryInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "description": "Output only. Information regarding memory specs for the device."
        },
        "networkDiagnosticsReport": {
          "type": "array",
          "description": "Output only. Network diagnostics collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the device."
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true
        },
        "cpuInfo": {
          "readOnly": true,
          "description": "Output only. Information regarding CPU specs for the device.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          }
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "readOnly": true,
          "type": "string"
        },
        "networkInfo": {
          "readOnly": true,
          "description": "Output only. Network devices information.",
          "$ref": "GoogleChromeManagementV1NetworkInfo"
        },
        "audioStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time."
        },
        "batteryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "description": "Output only. Battery reports collected periodically.",
          "readOnly": true,
          "type": "array"
        },
        "cpuStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "readOnly": true,
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array"
        },
        "memoryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "type": "array"
        },
        "networkStatusReport": {
          "description": "Output only. Network specs collected periodically.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "type": "array"
        },
        "customer": {
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "type": "string",
          "readOnly": true
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "thunderboltInfo": {
          "readOnly": true,
          "description": "Output only. Information on Thunderbolt bus.",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "type": "array"
        }
      },
      "description": "Telemetry data collected from a managed device.",
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryDevice"
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "type": "object",
      "properties": {
        "networkDevices": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "description": "Output only. List of network devices.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1NetworkInfo",
      "description": "Network devices info."
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius",
      "type": "object",
      "properties": {
        "label": {
          "description": "Output only. CPU label. Example: Core 0",
          "type": "string",
          "readOnly": true
        },
        "temperatureCelsius": {
          "description": "Output only. CPU temperature in Celsius.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "description": "Contains samples of memory status reports.",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled."
        },
        "pageFaults": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of page faults during this collection",
          "format": "int32"
        },
        "systemRamFreeBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection)."
        },
        "sampleFrequency": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryStatusReport"
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "properties": {
        "outputDevice": {
          "description": "Output only. Active output device's name.",
          "readOnly": true,
          "type": "string"
        },
        "inputDevice": {
          "description": "Output only. Active input device's name.",
          "type": "string",
          "readOnly": true
        },
        "inputMute": {
          "readOnly": true,
          "description": "Output only. Is active input device mute or not.",
          "type": "boolean"
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "format": "google-datetime"
        },
        "inputGain": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Active input device's gain in [0, 100].",
          "type": "integer"
        },
        "outputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active output device mute or not."
        },
        "outputVolume": {
          "readOnly": true,
          "description": "Output only. Active output device's volume in [0, 100].",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "type": "object",
      "description": "Audio report."
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "properties": {
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "type": "string"
        },
        "sampleFrequency": {
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string"
        },
        "cpuUtilizationPct": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Sample of CPU utilization (0-100 percent)."
        },
        "cpuTemperatureInfo": {
          "readOnly": true,
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        }
      },
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "description": "Contains samples of the cpu status reports.",
      "type": "object"
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "description": "Memory encryption information of a device.",
      "properties": {
        "maxKeys": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of keys that can be used for encryption."
        },
        "encryptionAlgorithm": {
          "type": "string",
          "description": "Memory encryption algorithm.",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ]
        },
        "keyLength": {
          "format": "int64",
          "description": "The length of the encryption keys.",
          "type": "string"
        },
        "encryptionState": {
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "description": "The state of memory encryption on the device."
        }
      },
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "devices": {
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of devices matching request."
        }
      },
      "description": "Response containing a list of devices with queried app installed.",
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "description": "Permission requested by an Android app.",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the permission.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "properties": {
        "devices": {
          "description": "Telemetry devices returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      }
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "installedApps": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "description": "List of installed apps matching request."
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of installed apps matching request."
        }
      },
      "description": "Response containing details of queried installed apps.",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "description": "Permission requested by a Chrome app or extension.",
      "type": "object",
      "properties": {
        "accessUserData": {
          "readOnly": true,
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "type": "boolean"
        },
        "documentationUri": {
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the permission.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppPermission"
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "type": "object",
      "description": "Status data for battery.",
      "properties": {
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string",
          "format": "google-datetime"
        },
        "fullChargeCapacity": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Full charge capacity (mAmpere-hours)."
        },
        "cycleCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Cycle count."
        },
        "sample": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          }
        },
        "batteryHealth": {
          "description": "Output only. Battery health.",
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy.",
            "Battery is moderately unhealthy and should be replaced soon.",
            "Battery is unhealthy and should be replaced."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1BatteryStatusReport"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "type": "object",
      "properties": {
        "securityLevel": {
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ],
          "description": "Security level of the Thunderbolt bus.",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "description": "Thunderbolt bus info."
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "properties": {
        "totalRamBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Total RAM in bytes."
        },
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "totalMemoryEncryption": {
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "readOnly": true,
          "description": "Output only. Total memory encryption info for the device."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "description": "Memory information of a device."
    },
    "GoogleChromeManagementV1Device": {
      "type": "object",
      "id": "GoogleChromeManagementV1Device",
      "description": "Describes a device reporting Chrome browser information.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "readOnly": true
        },
        "machine": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the machine within its local network."
        }
      }
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "properties": {
        "expired": {
          "description": "Boolean value for whether or not the device has already expired.",
          "type": "boolean"
        },
        "aueYear": {
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "format": "int64"
        },
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        },
        "aueMonth": {
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty."
        },
        "count": {
          "description": "Count of devices of this model.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "id": "GoogleChromeManagementV1DeviceAueCountReport"
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "description": "Chrome Web Store app information.",
      "properties": {
        "supportEnabled": {
          "readOnly": true,
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "type": "boolean"
        },
        "siteAccess": {
          "type": "array",
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "readOnly": true
        },
        "isTheme": {
          "description": "Output only. Whether the app or extension is a theme.",
          "readOnly": true,
          "type": "boolean"
        },
        "kioskEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices"
        },
        "googleOwned": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found."
        },
        "isKioskOnly": {
          "readOnly": true,
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "type": "boolean"
        },
        "minUserCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The minimum number of users using this app."
        },
        "isCwsHosted": {
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "type": "boolean",
          "readOnly": true
        },
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "type": "array",
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppInfo"
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "type": "object",
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "properties": {
        "latency": {
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        },
        "problem": {
          "readOnly": true,
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ]
        }
      },
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites."
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "type": "object",
      "properties": {
        "noRecentPolicySyncCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days."
        },
        "noRecentUserActivityCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "pendingUpdate": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices that are pending an OS update."
        },
        "unsupportedPolicyCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch."
        },
        "osVersionNotCompliantCount": {
          "type": "string",
          "description": "Number of devices whose OS version is not compliant.",
          "format": "int64"
        }
      }
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "type": "object",
      "description": "Describes a browser version and its install count.",
      "properties": {
        "system": {
          "readOnly": true,
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "description": "Output only. The device operating system.",
          "type": "string"
        },
        "deviceOsVersion": {
          "description": "Output only. Version of the system-specified operating system.",
          "readOnly": true,
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Output only. Count grouped by device_system and major version",
          "type": "string",
          "readOnly": true
        },
        "channel": {
          "type": "string",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "description": "Output only. The release channel of the installed browser."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full version of the installed browser."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "canonicalName": "Chrome Management",
  "revision": "20220711",
  "documentationLink": "http://developers.google.com/chrome/management/",
  "resources": {
    "customers": {
      "resources": {
        "apps": {
          "methods": {
            "countChromeAppRequests": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "description": "Generate summary of app installation requests.",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "id": "chromemanagement.customers.apps.android.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}"
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ]
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.web.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/devices",
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id ",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to specify next page in the list.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "List all telemetry devices.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Get telemetry device.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ]
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countChromeVersions": {
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeVersions",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of installed Chrome versions.",
              "httpMethod": "GET"
            },
            "countChromeDevicesThatNeedAttention": {
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned."
                },
                "readMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention"
            },
            "findInstalledAppDevices": {
              "description": "Generate report of devices that have a specified app installed.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "type": "string"
                },
                "appType": {
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Type of the app.",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                },
                "appId": {
                  "location": "query",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "path": "v1/{+customer}/reports:findInstalledAppDevices"
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units."
                },
                "maxAueDate": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date."
                },
                "minAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate"
            },
            "countInstalledApps": {
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate report of app installations.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countInstalledApps"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "id": "chromemanagement:v1",
  "title": "Chrome Management API",
  "protocol": "rest"
}
