{
  "discoveryVersion": "v1",
  "id": "chromemanagement:v1",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "parameters": {
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "protocol": "rest",
  "title": "Chrome Management API",
  "name": "chromemanagement",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "schemas": {
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "properties": {
        "telemetryEvents": {
          "description": "Telemetry events returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "description": "Response message for listing telemetry events for a customer."
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "description": "Android app information.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Output only. Permissions requested by an Android app.",
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "properties": {
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true,
          "type": "string"
        },
        "chargeRate": {
          "type": "integer",
          "description": "Output only. Battery charge percentage.",
          "format": "int32",
          "readOnly": true
        },
        "current": {
          "readOnly": true,
          "description": "Output only. Battery current (mA).",
          "type": "string",
          "format": "int64"
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime"
        },
        "dischargeRate": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged."
        },
        "voltage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery voltage (millivolt).",
          "format": "int64"
        },
        "temperature": {
          "description": "Output only. Temperature in Celsius degrees.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "remainingCapacity": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Battery remaining capacity (mAmpere-hours).",
          "readOnly": true
        }
      },
      "description": "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "description": "Response containing summary of requested app installations.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "properties": {
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number of matching app requests.",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string"
        },
        "disk": {
          "readOnly": true,
          "description": "Output only. Reports on disk.",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT"
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "type": "object",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "label": {
          "readOnly": true,
          "description": "Output only. CPU label. Example: Core 0",
          "type": "string"
        },
        "temperatureCelsius": {
          "description": "Output only. CPU temperature in Celsius.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1CpuTemperatureInfo"
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "type": "object",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "properties": {
        "shutdownReason": {
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "type": "string",
          "description": "The shutdown reason."
        },
        "shutdownDuration": {
          "type": "string",
          "description": "Total time since shutdown start to power off.",
          "format": "google-duration"
        },
        "bootUpTime": {
          "type": "string",
          "description": "The timestamp when power came on.",
          "format": "google-datetime"
        },
        "bootUpDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time to boot up."
        },
        "reportTime": {
          "type": "string",
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime"
        },
        "shutdownTime": {
          "type": "string",
          "description": "The timestamp when shutdown.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "type": "object",
      "description": "Response containing requested browser versions details and counts.",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "properties": {
        "browserVersions": {
          "type": "array",
          "description": "List of all browser versions and their install counts.",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        },
        "totalSize": {
          "description": "Total number browser versions matching request.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "properties": {
        "peripheralsReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
        },
        "deviceActivityReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          },
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "deviceId": {
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkDevice": {
      "properties": {
        "imei": {
          "type": "string",
          "description": "Output only. IMEI (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "mdn": {
          "description": "Output only. The mobile directory number associated with the device's sim card.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Network device type.",
          "enum": [
            "NETWORK_DEVICE_TYPE_UNSPECIFIED",
            "CELLULAR_DEVICE",
            "ETHERNET_DEVICE",
            "WIFI_DEVICE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Network device type not specified.",
            "Cellular device.",
            "Ethernet device.",
            "Wifi device."
          ]
        },
        "iccid": {
          "type": "string",
          "description": "Output only. The integrated circuit card ID associated with the device's sim card.",
          "readOnly": true
        },
        "macAddress": {
          "type": "string",
          "description": "Output only. MAC address (if applicable) of the corresponding network device.",
          "readOnly": true
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID (if applicable) of the corresponding network device.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1NetworkDevice",
      "description": "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "type": "object",
      "properties": {
        "telemetryNotificationConfigs": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          },
          "type": "array",
          "description": "The telemetry notification configs from the specified customer."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "description": "Response message for listing notification configs for a customer."
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "properties": {
        "detailUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The uri for the detail page of the item."
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "appId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension."
        },
        "requestCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total count of requests for this app.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "iconUri": {
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true
        },
        "appDetails": {
          "readOnly": true,
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "type": "object",
      "description": "Details of an app installation request."
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "type": "object",
      "properties": {
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true
        },
        "displayDevices": {
          "description": "Output only. Information about the display(s) of the device.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          }
        },
        "eprivacySupported": {
          "description": "Output only. Is ePrivacy screen supported or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "touchScreenInfo": {
          "readOnly": true,
          "description": "Output only. Information about the internal touch screen(s) of the device.",
          "$ref": "GoogleChromeManagementV1TouchScreenInfo"
        }
      },
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO",
      "id": "GoogleChromeManagementV1GraphicsInfo"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "type": "object",
      "properties": {
        "thunderboltInfo": {
          "description": "Output only. Information on Thunderbolt bus.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "type": "array"
        },
        "cpuStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          }
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "storageInfo": {
          "description": "Output only. Information of storage specs for the device.",
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "readOnly": true
        },
        "graphicsInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "readOnly": true,
          "description": "Output only. Contains information regarding Graphic peripherals for the device."
        },
        "memoryStatusReport": {
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "type": "array"
        },
        "networkDiagnosticsReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "description": "Output only. Network diagnostics collected periodically.",
          "type": "array"
        },
        "memoryInfo": {
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "readOnly": true,
          "description": "Output only. Information regarding memory specs for the device."
        },
        "deviceId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "type": "string",
          "readOnly": true
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "cpuInfo": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information regarding CPU specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          }
        },
        "kioskAppStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          },
          "description": "Output only. Kiosk app status report for the kiosk device",
          "readOnly": true
        },
        "osUpdateStatus": {
          "readOnly": true,
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          }
        },
        "peripheralsReport": {
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "readOnly": true
        },
        "graphicsStatusReport": {
          "description": "Output only. Graphics reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "customer": {
          "type": "string",
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "readOnly": true
        },
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization unit ID of the device."
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true
        },
        "networkInfo": {
          "readOnly": true,
          "description": "Output only. Network devices information.",
          "$ref": "GoogleChromeManagementV1NetworkInfo"
        },
        "networkStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "description": "Output only. Network specs collected periodically.",
          "type": "array"
        },
        "heartbeatStatusReport": {
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          },
          "type": "array"
        },
        "batteryInfo": {
          "description": "Output only. Information on battery specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "batteryStatusReport": {
          "readOnly": true,
          "description": "Output only. Battery reports collected periodically.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          }
        },
        "bootPerformanceReport": {
          "description": "Output only. Boot performance reports of the device.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryDevice"
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "type": "object",
      "description": "Describes a browser version and its install count.",
      "properties": {
        "version": {
          "description": "Output only. The full version of the installed browser.",
          "readOnly": true,
          "type": "string"
        },
        "channel": {
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "description": "Output only. The release channel of the installed browser.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ]
        },
        "count": {
          "description": "Output only. Count grouped by device_system and major version",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "system": {
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "description": "Output only. The device operating system.",
          "readOnly": true,
          "type": "string"
        },
        "deviceOsVersion": {
          "type": "string",
          "description": "Output only. Version of the system-specified operating system.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1BrowserVersion"
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "description": "Information of a display device.",
      "id": "GoogleChromeManagementV1DisplayDevice",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display device name."
        },
        "manufactureYear": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Year of manufacture.",
          "format": "int32"
        },
        "displayHeightMm": {
          "description": "Output only. Display height in millimeters.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "displayWidthMm": {
          "readOnly": true,
          "description": "Output only. Display width in millimeters.",
          "type": "integer",
          "format": "int32"
        },
        "modelId": {
          "description": "Output only. Manufacturer product code.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "manufacturerId": {
          "description": "Output only. Three letter manufacturer ID.",
          "readOnly": true,
          "type": "string"
        },
        "internal": {
          "readOnly": true,
          "description": "Output only. Is display internal or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "id": "GoogleChromeManagementV1TouchScreenInfo",
      "type": "object",
      "description": "Information on the device touch screen.",
      "properties": {
        "touchpadLibrary": {
          "type": "string",
          "description": "Output only. Touchpad library name used by the input stack.",
          "readOnly": true
        },
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          },
          "type": "array",
          "description": "Output only. List of the internal touch screen devices.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "id": "GoogleChromeManagementV1UsbPeripheralReport",
      "description": "USB connected peripheral report.",
      "properties": {
        "classId": {
          "format": "int32",
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "type": "integer",
          "readOnly": true
        },
        "vendor": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Vendor name"
        },
        "name": {
          "type": "string",
          "description": "Output only. Device name, model name, or product name",
          "readOnly": true
        },
        "firmwareVersion": {
          "type": "string",
          "description": "Output only. Firmware version",
          "readOnly": true
        },
        "categories": {
          "readOnly": true,
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subclassId": {
          "readOnly": true,
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "type": "integer",
          "format": "int32"
        },
        "pid": {
          "type": "integer",
          "description": "Output only. Product ID",
          "readOnly": true,
          "format": "int32"
        },
        "vid": {
          "description": "Output only. Vendor ID",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "Timestamp of when status changed was detected",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE"
          ],
          "description": "State the device changed to"
        }
      },
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -\u003e Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the graphics data was reported."
        },
        "displays": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Information about the displays for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleTypeDate": {
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromeManagementV1TelemetryUserInfo": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Output only. User's email.",
          "readOnly": true,
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the user.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserInfo",
      "description": "Information about a user associated with telemetry data. * Granular permission needed: TELEMETRY_API_USER"
    },
    "GoogleChromeManagementV1TelemetryEventNotificationFilter": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
      "description": "Configures how the telemetry events should be filtered.",
      "properties": {
        "eventTypes": {
          "items": {
            "enumDescriptions": [
              "Event type unknown.",
              "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
              "Triggered when USB devices are added.",
              "Triggered when USB devices are removed.",
              "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem."
            ],
            "type": "string",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "AUDIO_SEVERE_UNDERRUN",
              "USB_ADDED",
              "USB_REMOVED",
              "NETWORK_HTTPS_LATENCY_CHANGE"
            ]
          },
          "type": "array",
          "description": "Only sends the notifications for events of these types. Must not be empty."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "type": "object",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "type": "array",
          "description": "The list of reports sorted by auto update expiration date in ascending order."
        }
      }
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "type": "object",
      "description": "Response containing details of queried installed apps.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of installed apps matching request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "installedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "description": "List of installed apps matching request.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse"
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "properties": {
        "outputDevice": {
          "readOnly": true,
          "description": "Output only. Active output device's name.",
          "type": "string"
        },
        "inputGain": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Active input device's gain in [0, 100]."
        },
        "outputMute": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is active output device mute or not."
        },
        "inputDevice": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Active input device's name."
        },
        "outputVolume": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Active output device's volume in [0, 100]."
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "inputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active input device mute or not."
        }
      },
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "id": "GoogleChromeManagementV1AudioStatusReport"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "id": "GoogleChromeManagementV1DiskInfo",
      "properties": {
        "writeTimeThisSession": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Time spent writing to disk since last boot."
        },
        "discardTimeThisSession": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "readOnly": true
        },
        "health": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk health."
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Disk size."
        },
        "ioTimeThisSession": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "readOnly": true
        },
        "bytesReadThisSession": {
          "description": "Output only. Number of bytes read since last boot.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI."
        },
        "bytesWrittenThisSession": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of bytes written since last boot."
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk manufacturer."
        },
        "volumeIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Disk volumes."
        },
        "readTimeThisSession": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Time spent reading from disk since last boot."
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk model."
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Disk serial number.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Status of the single storage device."
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds. * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "properties": {},
      "type": "object"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "properties": {
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the installed app."
        },
        "osUserCount": {
          "readOnly": true,
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "type": "string",
          "format": "int64"
        },
        "browserDeviceCount": {
          "type": "string",
          "description": "Output only. Count of browser devices with this app installed.",
          "format": "int64",
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string",
          "readOnly": true
        },
        "appType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the app.",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ]
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the installed app."
        },
        "appSource": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "description": "Output only. Source of the installed app.",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "appInstallType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "description": "Output only. How the app was installed."
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Permissions of the installed app.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "type": "object",
      "description": "Describes an installed app."
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "type": "string"
        },
        "deviceActivityState": {
          "description": "Output only. Device activity state.",
          "readOnly": true,
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ],
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1Device": {
      "properties": {
        "machine": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network."
        },
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1Device",
      "description": "Describes a device reporting Chrome browser information.",
      "type": "object"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "description": "Permission requested by an Android app.",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the permission.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppPermission"
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "type": "object",
      "description": "Configures how the telemetry data should be filtered.",
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "properties": {
        "deviceId": {
          "description": "If set, only sends notifications for telemetry data coming from this device.",
          "type": "string"
        },
        "userEmail": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user.",
          "type": "string"
        },
        "telemetryEventNotificationFilter": {
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
          "description": "Only sends notifications for the telemetry events matching this filter."
        },
        "userOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit.",
          "type": "string"
        },
        "deviceOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "description": "Response containing a list of devices with queried app installed.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page of the request."
        },
        "totalSize": {
          "description": "Total number of devices matching request.",
          "format": "int32",
          "type": "integer"
        },
        "devices": {
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "type": "object",
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "properties": {
        "availableRamBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Amount of available RAM in bytes."
        },
        "totalMemoryEncryption": {
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device.",
          "readOnly": true
        },
        "totalRamBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total RAM in bytes."
        }
      },
      "id": "GoogleChromeManagementV1MemoryInfo"
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "type": "object",
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT",
      "properties": {
        "sampleFrequency": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true
        },
        "cpuUtilizationPct": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "readOnly": true
        },
        "cpuTemperatureInfo": {
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        },
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled."
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "properties": {
        "devices": {
          "description": "Telemetry devices returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "type": "object",
      "description": "Telemetry data reported by a managed device.",
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "properties": {
        "device": {
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "readOnly": true,
          "description": "Output only. Information about the device associated with the event."
        },
        "usbPeripheralsEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`."
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE"
          ],
          "description": "The event type of the current event.",
          "type": "string",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem."
          ]
        },
        "audioSevereUnderrunEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
          "readOnly": true,
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the event.",
          "type": "string"
        },
        "httpsLatencyChangeEvent": {
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "readOnly": true,
          "description": "Output only. Information about the user associated with the event.",
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo"
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "id": "GoogleChromeManagementV1DisplayInfo",
      "description": "Information for a display.",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display device name."
        },
        "isInternal": {
          "description": "Output only. Indicates if display is internal or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "resolutionWidth": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Resolution width in pixels.",
          "type": "integer"
        },
        "refreshRate": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Refresh rate in Hz."
        },
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents the graphics card device id."
        },
        "resolutionHeight": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Resolution height in pixels."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1AppDetails": {
      "properties": {
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. App's description.",
          "type": "string"
        },
        "firstPublishTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. First published time.",
          "format": "google-datetime"
        },
        "chromeAppInfo": {
          "readOnly": true,
          "description": "Output only. Chrome Web Store app information.",
          "$ref": "GoogleChromeManagementV1ChromeAppInfo"
        },
        "isPaidApp": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the app has to be paid for OR has paid content."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}"
        },
        "serviceError": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. Information about a partial service error if applicable."
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "reviewRating": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app."
        },
        "reviewNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Output only. App type.",
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ]
        },
        "iconUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product."
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "type": "string",
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "type": "string",
          "readOnly": true
        },
        "androidAppInfo": {
          "description": "Output only. Android app information.",
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "readOnly": true
        },
        "latestPublishTime": {
          "description": "Output only. Latest published time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "appId": {
          "readOnly": true,
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "type": "string",
          "readOnly": true
        },
        "publisher": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The publisher of the item."
        }
      },
      "description": "Resource representing app details.",
      "id": "GoogleChromeManagementV1AppDetails",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "type": "object",
      "properties": {
        "isCwsHosted": {
          "readOnly": true,
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "type": "boolean"
        },
        "googleOwned": {
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "type": "boolean",
          "readOnly": true
        },
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "type": "array"
        },
        "type": {
          "description": "Output only. Types of an item in the Chrome Web Store",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ]
        },
        "supportEnabled": {
          "readOnly": true,
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "type": "boolean"
        },
        "isTheme": {
          "readOnly": true,
          "description": "Output only. Whether the app or extension is a theme.",
          "type": "boolean"
        },
        "kioskEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices"
        },
        "isKioskOnly": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices"
        },
        "minUserCount": {
          "readOnly": true,
          "description": "Output only. The minimum number of users using this app.",
          "format": "int32",
          "type": "integer"
        },
        "permissions": {
          "type": "array",
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "readOnly": true
        },
        "isExtensionPolicySupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether an app supports policy for extensions."
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "description": "Chrome Web Store app information."
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "properties": {
        "noRecentUserActivityCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "osVersionNotCompliantCount": {
          "description": "Number of devices whose OS version is not compliant.",
          "format": "int64",
          "type": "string"
        },
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "format": "int64",
          "type": "string"
        },
        "pendingUpdate": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices that are pending an OS update."
        },
        "unsupportedPolicyCount": {
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response containing counts for devices that need attention."
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "type": "object",
      "properties": {
        "recentlyEnrolledCount": {
          "type": "string",
          "description": "Number of browsers that have been recently enrolled",
          "format": "int64"
        },
        "noRecentActivityCount": {
          "type": "string",
          "description": "Number of browsers that haven’t had any recent activity",
          "format": "int64"
        },
        "pendingBrowserUpdateCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of browsers that are pending an OS update"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "description": "Response containing counts for browsers that need attention."
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "type": "object",
      "properties": {
        "usbPeripheralReport": {
          "type": "array",
          "description": "List of usb devices that were either added or removed.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT"
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "description": "Permission requested by a Chrome app or extension.",
      "properties": {
        "documentationUri": {
          "readOnly": true,
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the permission."
        },
        "accessUserData": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "id": "GoogleChromeManagementV1CpuInfo",
      "properties": {
        "model": {
          "type": "string",
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "readOnly": true
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string",
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
        },
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "keylockerConfigured": {
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean"
        },
        "maxClockSpeed": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The max CPU clock speed in kHz.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO"
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "properties": {
        "cycleCount": {
          "readOnly": true,
          "description": "Output only. Cycle count.",
          "format": "int32",
          "type": "integer"
        },
        "fullChargeCapacity": {
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Battery serial number."
        },
        "sample": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "readOnly": true,
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time."
        },
        "batteryHealth": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy.",
            "Battery is moderately unhealthy and should be replaced soon.",
            "Battery is unhealthy and should be replaced."
          ],
          "description": "Output only. Battery health."
        },
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device"
        }
      },
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "properties": {
        "touchPointCount": {
          "readOnly": true,
          "description": "Output only. Number of touch points supported on the device.",
          "type": "integer",
          "format": "int32"
        },
        "stylusCapable": {
          "type": "boolean",
          "description": "Output only. Touch screen device is stylus capable or not.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Touch screen device display name.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "type": "object",
      "description": "Information of an internal touch screen device."
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object",
      "properties": {
        "storageReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "cpuReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "type": "array"
        },
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        },
        "memoryReports": {
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "properties": {
        "usbPeripheralReport": {
          "description": "Reports of all usb connected devices.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "type": "array"
        },
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "properties": {
        "lanIpAddress": {
          "type": "string",
          "description": "Output only. LAN IP address.",
          "readOnly": true
        },
        "gatewayIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Gateway IP address."
        },
        "wifiLinkQuality": {
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "guid": {
          "type": "string",
          "description": "Output only. Network connection guid.",
          "readOnly": true
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported."
        },
        "encryptionOn": {
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "type": "boolean",
          "readOnly": true
        },
        "transmissionPowerDbm": {
          "description": "Output only. Transmission power measured in decibels.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "sampleFrequency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled."
        },
        "wifiPowerManagementEnabled": {
          "description": "Output only. Wifi power management enabled",
          "readOnly": true,
          "type": "boolean"
        },
        "connectionType": {
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ],
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Network connection type."
        },
        "connectionState": {
          "readOnly": true,
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ],
          "type": "string",
          "description": "Output only. Current connection state of the network."
        },
        "transmissionBitRateMbps": {
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "receivingBitRateMbps": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Receiving bit rate measured in Megabits per second."
        },
        "signalStrengthDbm": {
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "properties": {
        "sampleFrequency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled."
        },
        "systemRamFreeBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection)."
        },
        "pageFaults": {
          "description": "Output only. Number of page faults during this collection",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled."
        }
      },
      "id": "GoogleChromeManagementV1MemoryStatusReport",
      "description": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_REPORT",
      "type": "object"
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "properties": {
        "newRequestedPlatformVersion": {
          "readOnly": true,
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "type": "string"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the last successful update.",
          "type": "string"
        },
        "newPlatformVersion": {
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "type": "string",
          "readOnly": true
        },
        "updateState": {
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "description": "Output only. Current state of the os update.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "readOnly": true
        },
        "lastRebootTime": {
          "description": "Output only. Timestamp of the last reboot.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateCheckTime": {
          "type": "string",
          "description": "Output only. Timestamp of the last update check.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "properties": {
        "maxKeys": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of keys that can be used for encryption."
        },
        "encryptionAlgorithm": {
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "description": "Memory encryption algorithm."
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "format": "int64",
          "type": "string"
        },
        "encryptionState": {
          "type": "string",
          "description": "The state of memory encryption on the device.",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ]
        }
      },
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "properties": {
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents the graphics card device id."
        },
        "driverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GPU driver.",
          "type": "string"
        },
        "adapter": {
          "readOnly": true,
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "type": "string"
        }
      },
      "description": "Information of a graphics adapter (GPU).",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "type": "object",
      "properties": {
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Battery manufacturer.",
          "type": "string"
        },
        "designMinVoltage": {
          "type": "integer",
          "description": "Output only. Designed minimum output voltage (mV)",
          "readOnly": true,
          "format": "int32"
        },
        "designCapacity": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Design capacity (mAmpere-hours)."
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. Battery serial number.",
          "type": "string"
        },
        "technology": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Technology of the battery. Example: Li-ion"
        },
        "manufactureDate": {
          "$ref": "GoogleTypeDate",
          "readOnly": true,
          "description": "Output only. The date the battery was manufactured."
        }
      },
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO"
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "properties": {
        "latency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY."
        },
        "problem": {
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "readOnly": true,
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ]
        }
      },
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "type": "object",
      "properties": {
        "aueMonth": {
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "type": "string",
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ]
        },
        "expired": {
          "type": "boolean",
          "description": "Boolean value for whether or not the device has already expired."
        },
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        },
        "count": {
          "description": "Count of devices of this model.",
          "format": "int64",
          "type": "string"
        },
        "aueYear": {
          "format": "int64",
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range."
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "type": "object",
      "properties": {
        "httpsLatencyState": {
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ],
          "enumDescriptions": [
[...]
