{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20230704",
  "kind": "discovery#restDescription",
  "version": "v1",
  "id": "chromepolicy:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "customers": {
      "resources": {
        "policies": {
          "resources": {
            "orgunits": {
              "methods": {
                "batchInherit": {
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit"
                },
                "batchModify": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify"
                }
              }
            },
            "groups": {
              "methods": {
                "listGroupPriorityOrdering": {
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "batchDelete": {
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "httpMethod": "POST"
                },
                "batchModify": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "updateGroupPriorityOrdering": {
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                }
              }
            },
            "networks": {
              "methods": {
                "removeCertificate": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The customer whose certificate will be removed.",
                      "required": true
                    }
                  },
                  "description": "Remove an existing certificate by guid.",
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  }
                },
                "removeNetwork": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Remove an existing network by guid.",
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer whose network will be removed.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "defineCertificate": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer for which the certificate will apply.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "path": "v1/{+customer}/policies/networks:defineCertificate"
                },
                "defineNetwork": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "Required. The customer who will own this new network.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Define a new network.",
                  "path": "v1/{+customer}/policies/networks:defineNetwork"
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "httpMethod": "POST",
              "id": "chromepolicy.customers.policies.resolve",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "path": "v1/{+customer}/policies:resolve"
            }
          }
        },
        "policySchemas": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "id": "chromepolicy.customers.policySchemas.list",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "parameters": {
                "pageToken": {
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The customer for which the listing request will apply.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "path": "v1/{+parent}/policySchemas"
            },
            "get": {
              "id": "chromepolicy.customers.policySchemas.get",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "description": "Get a specific policy schema for a customer by its resource name.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The policy schema resource name to query."
                }
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "parameters": {
            "customer": {
              "required": true,
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The customer for which the file upload will apply."
            }
          },
          "parameterOrder": [
            "customer"
          ],
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "id": "chromepolicy.media.upload"
        }
      }
    }
  },
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "basePath": "",
  "name": "chromepolicy",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "canonicalName": "Chrome Policy",
  "title": "Chrome Policy API",
  "schemas": {
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "properties": {
        "knownValueDescriptions": {
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "readOnly": true
        },
        "description": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. Use name and field_description instead. The description for the field."
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "readOnly": true,
          "type": "string"
        },
        "fieldDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the field."
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "readOnly": true,
          "type": "string"
        },
        "fieldDependencies": {
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "readOnly": true
        },
        "defaultValue": {
          "type": "any",
          "description": "Output only. Client default if the policy is unset.",
          "readOnly": true
        },
        "fieldConstraints": {
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints",
          "description": "Output only. Information on any input constraints associated on the values for the field.",
          "readOnly": true
        },
        "nestedFieldDescriptions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "requiredItems": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field."
        }
      },
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "readOnly": true
        },
        "network": {
          "type": "string",
          "description": "Output only. The name of the referencing network.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "description": "Request message for uploading a file for a policy.",
      "type": "object"
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "description": "Describes a oneof.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        }
      },
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "properties": {},
      "description": "Response object for removing a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "description": "Response object for creating a network.",
      "properties": {
        "networkId": {
          "description": "Network ID of the new created network.",
          "type": "string"
        },
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "Detailed network settings of the new created network",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Proto2FileDescriptorProto": {
      "description": "Describes a complete .proto file.",
      "type": "object",
      "id": "Proto2FileDescriptorProto",
      "properties": {
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        },
        "messageType": {
          "type": "array",
          "description": "All top-level definitions in this file.",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "description": "The key used to identify the target on which the policy will be applied.",
      "properties": {
        "additionalTargetKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy."
        },
        "targetResource": {
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails",
      "description": "Details of the errors encountered during a policy modification request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "type": "object",
      "properties": {
        "modificationErrors": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationError"
          },
          "description": "Output only. List of specific policy modifications errors that may have occurred during a modifying request.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "type": "object",
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The uri for end user to download the file."
        }
      },
      "description": "Response message for downloading an uploaded file."
    },
    "Proto2EnumDescriptorProto": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2EnumDescriptorProto",
      "description": "Describes an enum type."
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "properties": {
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        }
      }
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "type": "object",
      "description": "Request object for removing a certificate.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      }
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "properties": {
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "policyApiLifecycleStage": {
          "description": "Indicate current life cycle stage of the policy API.",
          "type": "string",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ]
        },
        "endSupport": {
          "$ref": "GoogleTypeDate",
          "description": "End supporting date for current policy."
        },
        "deprecatedInFavorOf": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "In the event that this policy was deprecated in favor of another policy, the fully qualified namespace(s) of the new policies as they will show in PolicyAPI."
        }
      },
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        },
        "resolvedPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "description": "The list of resolved policies found by the resolve request."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "description": "Response message for getting the resolved policy value for a specific target."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "type": "object",
      "description": "Resource representing a policy schema.",
      "properties": {
        "additionalTargetKeyNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          }
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "validTargetResources": {
          "description": "Output only. Information about applicable target resources for the policy.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ]
          }
        },
        "accessRestrictions": {
          "description": "Output only. Specific access restrictions related to this policy.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "policyApiLifecycle": {
          "readOnly": true,
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Output only. Current lifecycle information."
        },
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        },
        "notices": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "readOnly": true,
          "type": "array"
        },
        "policyDescription": {
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption.",
          "type": "string"
        },
        "fieldDescriptions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "type": "array"
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "schemaName": {
          "readOnly": true,
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "type": "string"
        },
        "supportUri": {
          "type": "string",
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "description": "The fields that will become required based on the value of this field.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "properties": {
        "fieldConditions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement."
        },
        "requiredFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The fields that are required as a consequence of the field conditions."
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "properties": {
        "requests": {
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional description for this value."
        },
        "fieldDependencies": {
          "type": "array",
          "description": "Output only. Field conditions required for this value to be valid.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "readOnly": true
        },
        "value": {
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "oneofIndex": {
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped.",
          "type": "string"
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ]
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Proto2FieldDescriptorProto",
      "description": "Describes a field within a message."
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        },
        "settings": {
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array"
        },
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        }
      },
      "description": "Request object for creating a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "description": "Response object for removing a network.",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "type": "object",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "description": "Required. Detailed network settings.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        }
      },
      "description": "Request object for creating a new network.",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "type": "object",
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "properties": {
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean",
          "readOnly": true
        },
        "noticeValue": {
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "readOnly": true,
          "type": "string"
        },
        "noticeMessage": {
          "type": "string",
          "description": "Output only. The notice message associate with the value of the field.",
          "readOnly": true
        },
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Proto2EnumValueDescriptorProto": {
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Proto2EnumValueDescriptorProto",
      "type": "object",
      "description": "Describes a value within an enum."
    },
    "GoogleChromePolicyVersionsV1PolicyModificationError": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The specific policy target modification that had error.",
          "readOnly": true
        },
        "fieldErrors": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The error messages related to the modification."
        },
        "errors": {
          "description": "Output only. The non-field errors related to the modification.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "policySchema": {
          "readOnly": true,
          "description": "Output only. The specific policy schema modification that had an error.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationError",
      "description": "Error information for a modification request of a specific policy on a specific target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "properties": {
        "value": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value of the network setting.",
          "type": "object"
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the network setting."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "description": "A network setting contains network configurations."
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "description": "Response message for listing policy schemas that match a filter.",
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "type": "object",
      "properties": {
        "policySchemas": {
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "description": "Request object for removing a network",
      "type": "object",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the network to remove."
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "properties": {
        "certificateReferences": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed."
        }
      },
      "type": "object",
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request."
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "properties": {
        "targetResource": {
          "description": "the resource at which the certificate is defined.",
          "type": "string"
        },
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        },
        "settings": {
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "type": "object",
      "description": "Response object for creating a certificate."
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "description": "Request message for updating the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app."
        },
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        },
        "groupIds": {
          "type": "array",
          "description": "Required. The group IDs, in desired priority ordering.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "properties": {
        "policySchemaFilter": {
          "type": "string",
          "description": "Required. The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\""
        },
        "pageSize": {
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "type": "object"
    },
    "Proto2DescriptorProto": {
      "type": "object",
      "id": "Proto2DescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        },
        "field": {
          "type": "array",
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "nestedType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        }
      },
      "description": "Describes a message type."
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key name."
        },
        "keyDescription": {
          "type": "string",
          "description": "Key description."
        }
      },
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "properties": {
        "minimum": {
          "format": "int64",
          "type": "string",
          "description": "Minimum value."
        },
        "maximum": {
          "description": "Maximum value.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for modifying multiple policy values for a specific target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "readOnly": true,
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The namespace of the policy type of the group IDs."
        },
        "groupIds": {
          "description": "Output only. The group IDs, in priority ordering.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "policySchema": {
          "description": "Output only. The schema name of the policy for the group IDs.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "type": "object",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        },
        "value": {
          "description": "The value of the policy that is compatible with the schema that it is associated with.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "description": "A particular value for a policy managed by the service."
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "properties": {
        "numericRangeConstraint": {
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
          "description": "The allowed range for numeric fields."
        }
      },
      "description": "Information about any range constraints.",
      "id": "GoogleChromePolicyVersionsV1FieldConstraints",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Output only. The error message related to the field.",
          "type": "string",
          "readOnly": true
        },
        "field": {
          "type": "string",
          "description": "Output only. The name of the field with the error.",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "properties": {
        "targetKey": {
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "value": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "readOnly": true,
          "description": "Output only. The resolved value of the policy."
        },
        "sourceKey": {
          "readOnly": true,
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "addedSourceKey": {
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        }
      },
      "description": "The resolved value of a policy for a given target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy"
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "type": "object",
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policyNamespace": {
          "type": "string",
          "description": "The namespace of the policy type for the request."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
    }
  },
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "version_module": true
}
