{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from Chrome OS devices or users managed within your organization"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "canonicalName": "Chrome Management",
  "batchPath": "batch",
  "version": "v1",
  "id": "chromemanagement:v1",
  "name": "chromemanagement",
  "title": "Chrome Management API",
  "documentationLink": "http://developers.google.com/chrome/management/",
  "resources": {
    "customers": {
      "resources": {
        "reports": {
          "methods": {
            "countChromeBrowsersNeedingAttention": {
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned."
                },
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET"
            },
            "findInstalledAppDevices": {
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "appId": {
                  "type": "string",
                  "location": "query",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "appType": {
                  "description": "Type of the app.",
                  "type": "string",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ]
                }
              },
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "parameters": {
                "orgUnitId": {
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "maxAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query",
                  "type": "string"
                },
                "minAueDate": {
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeVersions": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "path": "v1/{+customer}/reports:countChromeVersions",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "httpMethod": "GET",
              "description": "Generate report of installed Chrome versions.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              }
            },
            "countChromeDevicesThatNeedAttention": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "parameters": {
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "readMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ]
            },
            "countInstalledApps": {
              "description": "Generate report of app installations.",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countInstalledApps"
            },
            "countChromeHardwareFleetDevices": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "parameters": {
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "readMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\"."
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "countChromeAppRequests": {
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "format": "int32",
                  "type": "integer"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate summary of app installation requests.",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "id": "chromemanagement.customers.apps.android.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}"
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.web.get",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  }
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "description": "Get a specific app for a customer by its resource name.",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "users": {
              "methods": {
                "list": {
                  "description": "List all telemetry users.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Token to specify next page in the list.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "required": true
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Read mask to specify which fields to return."
                    }
                  },
                  "path": "v1/{+parent}/telemetry/users"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "readMask": {
                      "location": "query",
                      "description": "Read mask to specify which fields to return.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "httpMethod": "GET",
                  "description": "Get telemetry user.",
                  "path": "v1/{+name}",
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "devices": {
              "methods": {
                "get": {
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "required": true
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Get telemetry device."
                },
                "list": {
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/telemetry/devices",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Token to specify next page in the list.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all telemetry devices.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  }
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/events",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List telemetry events.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "readMask": {
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Token to specify next page in the list."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "id": "chromemanagement.customers.telemetry.events.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "servicePath": "",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -\u003e Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "type": "object",
      "properties": {
        "state": {
          "description": "State the device changed to",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline"
          ]
        },
        "reportTime": {
          "description": "Timestamp of when status changed was detected",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "properties": {
        "minUserCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum number of users using this app."
        },
        "googleOwned": {
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "permissions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          }
        },
        "isTheme": {
          "description": "Output only. Whether the app or extension is a theme.",
          "readOnly": true,
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "readOnly": true,
          "description": "Output only. Types of an item in the Chrome Web Store",
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ],
          "type": "string"
        },
        "isCwsHosted": {
          "type": "boolean",
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "readOnly": true
        },
        "isExtensionPolicySupported": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether an app supports policy for extensions."
        },
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          }
        },
        "kioskEnabled": {
          "type": "boolean",
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "readOnly": true
        },
        "supportEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found."
        }
      },
      "description": "Chrome Web Store app information."
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "properties": {
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "type": "array"
        },
        "storageInfo": {
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "readOnly": true,
          "description": "Output only. Information of storage specs for the device."
        },
        "memoryInfo": {
          "description": "Output only. Information regarding memory specs for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1MemoryInfo"
        },
        "batteryInfo": {
          "readOnly": true,
          "description": "Output only. Information on battery specs for the device.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          }
        },
        "bootPerformanceReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1BootPerformanceReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Boot performance reports of the device."
        },
        "networkInfo": {
          "$ref": "GoogleChromeManagementV1NetworkInfo",
          "description": "Output only. Network devices information.",
          "readOnly": true
        },
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab"
        },
        "networkStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Network specs collected periodically.",
          "type": "array"
        },
        "osUpdateStatus": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "type": "array",
          "description": "Output only. Contains relevant information regarding ChromeOS update status."
        },
        "cpuStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          }
        },
        "batteryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          },
          "readOnly": true,
          "description": "Output only. Battery reports collected periodically.",
          "type": "array"
        },
        "networkDiagnosticsReport": {
          "description": "Output only. Network diagnostics collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDiagnosticsReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "kioskAppStatusReport": {
          "type": "array",
          "description": "Output only. Kiosk app status report for the kiosk device",
          "items": {
            "$ref": "GoogleChromeManagementV1KioskAppStatusReport"
          },
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true
        },
        "thunderboltInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ThunderboltInfo"
          },
          "description": "Output only. Information on Thunderbolt bus.",
          "readOnly": true
        },
        "cpuInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "description": "Output only. Information regarding CPU specs for the device.",
          "readOnly": true
        },
        "peripheralsReport": {
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "type": "array"
        },
        "storageStatusReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Storage reports collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "graphicsInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "description": "Output only. Contains information regarding Graphic peripherals for the device.",
          "readOnly": true
        },
        "customer": {
          "type": "string",
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "readOnly": true
        },
        "graphicsStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Graphics reports collected periodically."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the device."
        },
        "memoryStatusReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          },
          "type": "array",
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "readOnly": true
        },
        "heartbeatStatusReport": {
          "description": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1HeartbeatStatusReport"
          },
          "readOnly": true
        },
        "orgUnitId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Organization unit ID of the device."
        }
      },
      "type": "object",
      "description": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations.",
      "properties": {
        "requestedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "type": "array",
          "description": "Count of requested apps matching request."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number of matching app requests.",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "properties": {
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Time at which the graphics data was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "displays": {
          "description": "Output only. Information about the displays for the device.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "type": "array"
        }
      },
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "properties": {
        "unsupportedPolicyCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch."
        },
        "osVersionNotCompliantCount": {
          "description": "Number of devices whose OS version is not compliant.",
          "type": "string",
          "format": "int64"
        },
        "noRecentUserActivityCount": {
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "type": "string",
          "format": "int64"
        },
        "noRecentPolicySyncCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days."
        },
        "pendingUpdate": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices that are pending an OS update."
        }
      },
      "description": "Response containing counts for devices that need attention."
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "description": "Response containing requested browser versions details and counts.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "properties": {
        "browserVersions": {
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          },
          "description": "List of all browser versions and their install counts.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Total number browser versions matching request.",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "description": "Information of a graphics adapter (GPU).",
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "properties": {
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the graphics card device id."
        },
        "driverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GPU driver.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "type": "object",
      "properties": {
        "lastUpdateCheckTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the last update check.",
          "format": "google-datetime"
        },
        "lastRebootTime": {
          "description": "Output only. Timestamp of the last reboot.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "newPlatformVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "newRequestedPlatformVersion": {
          "readOnly": true,
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "type": "string"
        },
        "updateState": {
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the os update.",
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ]
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful update.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "id": "GoogleChromeManagementV1DiskInfo",
      "properties": {
        "discardTimeThisSession": {
          "type": "string",
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "readOnly": true,
          "format": "google-duration"
        },
        "bytesWrittenThisSession": {
          "description": "Output only. Number of bytes written since last boot.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk model."
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk serial number."
        },
        "readTimeThisSession": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time spent reading from disk since last boot."
        },
        "ioTimeThisSession": {
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Disk size."
        },
        "writeTimeThisSession": {
          "description": "Output only. Time spent writing to disk since last boot.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "bytesReadThisSession": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of bytes read since last boot."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Disk manufacturer.",
          "readOnly": true
        },
        "health": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk health."
        },
        "volumeIds": {
          "type": "array",
          "description": "Output only. Disk volumes.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Status of the single storage device.",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "type": "object",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "properties": {
        "memoryReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "storageReports": {
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "cpuReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz)."
        }
      }
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "type": "string"
        },
        "sampleFrequency": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration"
        },
        "cpuTemperatureInfo": {
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          },
          "type": "array"
        },
        "cpuUtilizationPct": {
          "format": "int32",
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT"
    },
    "GoogleChromeManagementV1StorageInfo": {
      "id": "GoogleChromeManagementV1StorageInfo",
      "properties": {
        "availableDiskBytes": {
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "format": "int64",
          "type": "string"
        },
        "volume": {
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "type": "array",
          "description": "Information for disk volumes"
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "description": "Information for disk volumes",
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "properties": {
        "storageFreeBytes": {
          "description": "Free storage space in bytes.",
          "format": "int64",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        },
        "storageTotalBytes": {
          "description": "Total storage space in bytes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "properties": {
        "touchpadLibrary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Touchpad library name used by the input stack."
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          },
          "readOnly": true,
          "description": "Output only. List of the internal touch screen devices."
        }
      },
      "id": "GoogleChromeManagementV1TouchScreenInfo",
      "description": "Information on the device touch screen.",
      "type": "object"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "properties": {
        "disk": {
          "readOnly": true,
          "description": "Output only. Reports on disk.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          }
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "type": "object",
      "description": "Describes an installed app.",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the installed app.",
          "type": "string"
        },
        "appType": {
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "description": "Output only. Type of the app."
        },
        "appId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
        },
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string",
          "readOnly": true
        },
        "appSource": {
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "type": "string",
          "description": "Output only. Source of the installed app.",
          "readOnly": true,
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "osUserCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of ChromeOS users with this app installed."
        },
        "browserDeviceCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Count of browser devices with this app installed.",
          "format": "int64"
        },
        "disabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app is disabled."
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "type": "array"
        },
        "appInstallType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. How the app was installed.",
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ]
        },
        "displayName": {
          "description": "Output only. Name of the installed app.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "properties": {
        "keylockerConfigured": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`."
        },
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "architecture": {
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "type": "string",
          "readOnly": true,
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ]
        },
        "maxClockSpeed": {
          "description": "Output only. The max CPU clock speed in kHz.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz"
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "type": "object",
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "description": "Information of an internal touch screen device.",
      "properties": {
        "stylusCapable": {
          "description": "Output only. Touch screen device is stylus capable or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Touch screen device display name.",
          "readOnly": true
        },
        "touchPointCount": {
          "description": "Output only. Number of touch points supported on the device.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the report was collected.",
          "format": "google-datetime"
        },
        "usbPeripheralReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "description": "Reports of all usb connected devices.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device."
        },
        "outputMute": {
          "type": "boolean",
          "description": "Output only. Is active output device mute or not.",
          "readOnly": true
        },
        "inputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active input device mute or not."
        },
        "inputGain": {
          "format": "int32",
          "description": "Output only. Active input device's gain in [0, 100].",
          "type": "integer",
          "readOnly": true
        },
        "inputDevice": {
          "readOnly": true,
          "description": "Output only. Active input device's name.",
          "type": "string"
        },
        "outputVolume": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Active output device's volume in [0, 100].",
          "readOnly": true
        },
        "outputDevice": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Active output device's name."
        }
      },
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT"
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryStatusReport",
      "properties": {
        "pageFaults": {
          "type": "integer",
          "description": "Output only. Number of page faults during this collection",
          "readOnly": true,
          "format": "int32"
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled."
        },
        "systemRamFreeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "format": "int64"
        },
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_REPORT"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "type": "object",
      "properties": {
        "designCapacity": {
          "description": "Output only. Design capacity (mAmpere-hours).",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Battery serial number."
        },
        "designMinVoltage": {
          "description": "Output only. Designed minimum output voltage (mV)",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "manufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Battery manufacturer."
        },
        "manufactureDate": {
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "technology": {
          "type": "string",
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true
        }
      },
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "id": "GoogleChromeManagementV1BatteryInfo"
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "type": "object",
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the report was collected."
        },
        "shutdownDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Total time since shutdown start to power off."
        },
        "shutdownReason": {
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ],
          "description": "The shutdown reason.",
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "type": "string"
        },
        "bootUpTime": {
          "description": "The timestamp when power came on.",
          "type": "string",
          "format": "google-datetime"
        },
        "bootUpDuration": {
          "format": "google-duration",
          "description": "Total time to boot up.",
          "type": "string"
        },
        "shutdownTime": {
          "type": "string",
          "description": "The timestamp when shutdown.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementV1BootPerformanceReport"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "description": "Permission requested by an Android app.",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the permission.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryEvents": {
          "description": "Telemetry events returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing telemetry events for a customer.",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "properties": {
        "hostMatch": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance."
        }
      },
      "description": "Represent one host permission.",
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess"
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "properties": {
        "maxKeys": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of keys that can be used for encryption."
        },
        "encryptionAlgorithm": {
          "description": "Memory encryption algorithm.",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ]
        },
        "encryptionState": {
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "type": "string",
          "description": "The state of memory encryption on the device.",
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ]
        },
        "keyLength": {
          "format": "int64",
          "type": "string",
          "description": "The length of the encryption keys."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "description": "Details of an app installation request.",
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "type": "object",
      "properties": {
        "appDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "requestCount": {
          "readOnly": true,
          "description": "Output only. Total count of requests for this app.",
          "format": "int64",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. App's display name.",
          "readOnly": true
        },
        "detailUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri for the detail page of the item."
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "id": "GoogleChromeManagementV1NetworkInfo",
      "type": "object",
      "properties": {
        "networkDevices": {
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of network devices."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds. * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "properties": {},
      "type": "object"
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "properties": {
        "temperatureCelsius": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. CPU temperature in Celsius.",
          "format": "int32"
        },
        "label": {
          "description": "Output only. CPU label. Example: Core 0",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CpuTemperatureInfo"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "id": "GoogleChromeManagementV1MemoryInfo",
      "type": "object",
      "properties": {
        "availableRamBytes": {
          "type": "string",
          "description": "Output only. Amount of available RAM in bytes.",
          "format": "int64",
          "readOnly": true
        },
        "totalRamBytes": {
          "description": "Output only. Total RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device."
        }
      },
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO"
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "properties": {
        "system": {
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "readOnly": true,
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "description": "Output only. The device operating system.",
          "type": "string"
        },
        "channel": {
          "description": "Output only. The release channel of the installed browser.",
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "deviceOsVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version of the system-specified operating system."
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The full version of the installed browser.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Output only. Count grouped by device_system and major version",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Describes a browser version and its install count.",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "type": "object",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        },
        "deviceActivityReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          }
        },
        "audioStatusReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "peripheralsReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          }
        }
      },
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BUS_DEVICE_INFO",
      "type": "object",
      "properties": {
        "securityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "description": "Security level of the Thunderbolt bus.",
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ]
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "properties": {
        "deviceAueCountReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "description": "The list of reports sorted by auto update expiration date in ascending order."
        }
      },
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "connectionState": {
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
[...]
