{
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "canonicalName": "Chrome Management",
  "version_module": true,
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from Chrome OS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        }
      }
    }
  },
  "batchPath": "batch",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "resources": {
    "customers": {
      "resources": {
        "apps": {
          "methods": {
            "countChromeAppRequests": {
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50."
                }
              },
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "description": "Generate summary of app installation requests.",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ]
            }
          },
          "resources": {
            "web": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "id": "chromemanagement.customers.apps.web.get",
                  "httpMethod": "GET"
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ]
                }
              }
            },
            "android": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.android.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countChromeVersions": {
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "path": "v1/{+customer}/reports:countChromeVersions",
              "description": "Generate report of installed Chrome versions.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions"
            },
            "findInstalledAppDevices": {
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "description": "Generate report of devices that have a specified app installed.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "appId": {
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "appType": {
                  "description": "Type of the app.",
                  "type": "string",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "location": "query"
                }
              },
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              }
            },
            "countInstalledApps": {
              "description": "Generate report of app installations.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countInstalledApps"
            }
          }
        },
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/devices",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "description": "List all telemetry devices.",
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to specify next page in the list."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id "
                    },
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Get telemetry device.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "readMask": {
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "type": "object",
      "properties": {
        "driverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GPU driver.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents the graphics card device id.",
          "readOnly": true
        },
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "description": "Information for a display.",
      "id": "GoogleChromeManagementV1DisplayInfo",
      "type": "object",
      "properties": {
        "isInternal": {
          "description": "Output only. Indicates if display is internal or not.",
          "type": "boolean",
          "readOnly": true
        },
        "resolutionWidth": {
          "description": "Output only. Resolution width in pixels.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "deviceId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the graphics card device id."
        },
        "resolutionHeight": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Resolution height in pixels."
        },
        "refreshRate": {
          "type": "integer",
          "description": "Output only. Refresh rate in Hz.",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Disk volume id."
        },
        "storageTotalBytes": {
          "description": "Total storage space in bytes.",
          "format": "int64",
          "type": "string"
        },
        "storageFreeBytes": {
          "description": "Free storage space in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "description": "Information for disk volumes"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "description": "Details of an app installation request.",
      "properties": {
        "appDetails": {
          "readOnly": true,
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App's display name."
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "requestCount": {
          "description": "Output only. Total count of requests for this app.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "detailUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The uri for the detail page of the item."
        },
        "appId": {
          "readOnly": true,
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "properties": {
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "format": "google-datetime"
        },
        "cpuUtilizationPct": {
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "cpuTemperatureInfo": {
          "readOnly": true,
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        },
        "sampleFrequency": {
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains samples of the cpu status reports.",
      "id": "GoogleChromeManagementV1CpuStatusReport"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "description": "Status data for storage.",
      "type": "object",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "format": "google-datetime"
        },
        "disk": {
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Reports on disk."
        }
      },
      "id": "GoogleChromeManagementV1StorageStatusReport"
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported.",
          "type": "string",
          "readOnly": true
        },
        "signalStrengthDbm": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "format": "int32"
        },
        "sampleFrequency": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "readOnly": true,
          "type": "string"
        },
        "lanIpAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. LAN IP address."
        }
      },
      "description": "State of visible/configured networks.",
      "id": "GoogleChromeManagementV1NetworkStatusReport"
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "description": "Response containing summary of requested app installations.",
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of matching app requests."
        },
        "requestedApps": {
          "type": "array",
          "description": "Count of requested apps matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius",
      "properties": {
        "label": {
          "readOnly": true,
          "description": "Output only. CPU label. Example: Core 0",
          "type": "string"
        },
        "temperatureCelsius": {
          "type": "integer",
          "description": "Output only. CPU temperature in Celsius.",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CpuTemperatureInfo"
    },
    "GoogleChromeManagementV1CountChromeVersionsResponse": {
      "id": "GoogleChromeManagementV1CountChromeVersionsResponse",
      "type": "object",
      "description": "Response containing requested browser versions details and counts.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number browser versions matching request."
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "browserVersions": {
          "type": "array",
          "description": "List of all browser versions and their install counts.",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        }
      }
    },
    "GoogleChromeManagementV1StorageInfo": {
      "description": "Status data for storage.",
      "type": "object",
      "properties": {
        "availableDiskBytes": {
          "type": "string",
          "description": "The available space for user data storage in the device in bytes.",
          "format": "int64"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        },
        "volume": {
          "description": "Information for disk volumes",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          }
        }
      },
      "id": "GoogleChromeManagementV1StorageInfo"
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "type": "object",
      "description": "Audio report.",
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "inputMute": {
          "readOnly": true,
          "description": "Output only. Is active input device mute or not.",
          "type": "boolean"
        },
        "inputDevice": {
          "description": "Output only. Active input device's name.",
          "readOnly": true,
          "type": "string"
        },
        "inputGain": {
          "description": "Output only. Active input device's gain in [0, 100].",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "outputMute": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is active output device mute or not."
        },
        "outputDevice": {
          "description": "Output only. Active output device's name.",
          "type": "string",
          "readOnly": true
        },
        "outputVolume": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Active output device's volume in [0, 100].",
          "format": "int32"
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Output only. Battery serial number.",
          "readOnly": true
        },
        "designMinVoltage": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Designed minimum output voltage (mV)",
          "format": "int32"
        },
        "manufactureDate": {
          "$ref": "GoogleTypeDate",
          "readOnly": true,
          "description": "Output only. The date the battery was manufactured."
        },
        "technology": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Technology of the battery. Example: Li-ion"
        },
        "designCapacity": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Design capacity (mAmpere-hours)."
        },
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Battery manufacturer.",
          "type": "string"
        }
      },
      "description": "Battery info",
      "type": "object",
      "id": "GoogleChromeManagementV1BatteryInfo"
    },
    "GoogleChromeManagementV1TelemetryDevice": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryDevice",
      "properties": {
        "networkStatusReport": {
          "description": "Output only. Network specs collected periodically.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkStatusReport"
          },
          "type": "array",
          "readOnly": true
        },
        "deviceId": {
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the device.",
          "readOnly": true,
          "type": "string"
        },
        "storageInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1StorageInfo",
          "description": "Output only. Information of storage specs for the device."
        },
        "cpuStatusReport": {
          "description": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuStatusReport"
          },
          "type": "array"
        },
        "serialNumber": {
          "description": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.",
          "readOnly": true,
          "type": "string"
        },
        "batteryInfo": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information on battery specs for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryInfo"
          }
        },
        "memoryStatusReport": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Memory status reports collected periodically sorted decreasing by report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1MemoryStatusReport"
          }
        },
        "cpuInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuInfo"
          },
          "readOnly": true,
          "description": "Output only. Information regarding CPU specs for the device."
        },
        "osUpdateStatus": {
          "description": "Output only. Contains relevant information regarding ChromeOS update status.",
          "items": {
            "$ref": "GoogleChromeManagementV1OsUpdateStatus"
          },
          "type": "array",
          "readOnly": true
        },
        "graphicsStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1GraphicsStatusReport"
          },
          "type": "array",
          "description": "Output only. Graphics reports collected periodically."
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. Google Workspace Customer whose enterprise enrolled the device.",
          "type": "string"
        },
        "storageStatusReport": {
          "description": "Output only. Storage reports collected periodically.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageStatusReport"
          }
        },
        "batteryStatusReport": {
          "readOnly": true,
          "description": "Output only. Battery reports collected periodically.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatteryStatusReport"
          }
        },
        "graphicsInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsInfo",
          "readOnly": true,
          "description": "Output only. Contains information regarding Graphic peripherals for the device."
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          }
        },
        "memoryInfo": {
          "description": "Output only. Information regarding memory specs for the device.",
          "$ref": "GoogleChromeManagementV1MemoryInfo",
          "readOnly": true
        },
        "orgUnitId": {
          "description": "Output only. Organization unit ID of the device.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Telemetry data collected from a managed device."
    },
    "GoogleChromeManagementV1AppDetails": {
      "description": "Resource representing app details.",
      "id": "GoogleChromeManagementV1AppDetails",
      "properties": {
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "readOnly": true,
          "type": "string"
        },
        "androidAppInfo": {
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "description": "Output only. Android app information.",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The publisher of the item.",
          "type": "string",
          "readOnly": true
        },
        "detailUri": {
          "type": "string",
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "readOnly": true,
          "type": "string"
        },
        "reviewNumber": {
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "description": {
          "description": "Output only. App's description.",
          "type": "string",
          "readOnly": true
        },
        "firstPublishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. First published time.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "description": "Output only. App type.",
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "type": "string"
        },
        "chromeAppInfo": {
          "description": "Output only. Chrome Web Store app information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1ChromeAppInfo"
        },
        "reviewRating": {
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "iconUri": {
          "type": "string",
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. App's display name.",
          "type": "string"
        },
        "privacyPolicyUri": {
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "type": "string",
          "readOnly": true
        },
        "isPaidApp": {
          "readOnly": true,
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "type": "boolean"
        },
        "serviceError": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. Information about a partial service error if applicable.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}"
        },
        "latestPublishTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Latest published time."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "type": "object",
      "description": "Status of the single storage device.",
      "properties": {
        "ioTimeThisSession": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "readOnly": true
        },
        "readTimeThisSession": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Time spent reading from disk since last boot."
        },
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Disk manufacturer.",
          "type": "string"
        },
        "writeTimeThisSession": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time spent writing to disk since last boot."
        },
        "volumeIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Disk volumes.",
          "items": {
            "type": "string"
          }
        },
        "bytesWrittenThisSession": {
          "type": "string",
          "description": "Output only. Number of bytes written since last boot.",
          "readOnly": true,
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "readOnly": true
        },
        "health": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk health."
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk model."
        },
        "bytesReadThisSession": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of bytes read since last boot.",
          "format": "int64"
        },
        "sizeBytes": {
          "description": "Output only. Disk size.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "discardTimeThisSession": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+."
        },
        "serialNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk serial number."
        }
      },
      "id": "GoogleChromeManagementV1DiskInfo"
    },
    "GoogleChromeManagementV1MemoryStatusReport": {
      "type": "object",
      "properties": {
        "systemRamFreeBytes": {
          "description": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "sampleFrequency": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled."
        },
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled."
        },
        "pageFaults": {
          "description": "Output only. Number of page faults during this collection",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "Contains samples of memory status reports.",
      "id": "GoogleChromeManagementV1MemoryStatusReport"
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "properties": {
        "fullChargeCapacity": {
          "type": "string",
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "format": "int64",
          "readOnly": true
        },
        "cycleCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Cycle count.",
          "format": "int32"
        },
        "sample": {
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time."
        },
        "batteryHealth": {
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy.",
            "Battery is moderately unhealthy and should be replaced soon.",
            "Battery is unhealthy and should be replaced."
          ],
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "readOnly": true,
          "description": "Output only. Battery health.",
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Output only. Battery serial number.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Status data for battery.",
      "id": "GoogleChromeManagementV1BatteryStatusReport"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "description": "Permission requested by an Android app.",
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "type": "object",
      "description": "Permission requested by a Chrome app or extension.",
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "properties": {
        "documentationUri": {
          "type": "string",
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "readOnly": true
        },
        "accessUserData": {
          "type": "boolean",
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the permission.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "installedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "description": "List of installed apps matching request.",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number of installed apps matching request.",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "description": "Response containing details of queried installed apps."
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "description": "Telemetry devices returned in the response.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1Device": {
      "description": "Describes a device reporting Chrome browser information.",
      "properties": {
        "machine": {
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the device that reported this Chrome browser information."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1Device"
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "properties": {
        "newRequestedPlatformVersion": {
          "type": "string",
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "readOnly": true
        },
        "updateState": {
          "description": "Output only. Current state of the os update.",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "type": "string",
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ]
        },
        "lastRebootTime": {
          "description": "Output only. Timestamp of the last reboot.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "Output only. Timestamp of the last successful update.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastUpdateCheckTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of the last update check."
        },
        "newPlatformVersion": {
          "type": "string",
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "readOnly": true
        }
      },
      "description": "Contains information regarding the current OS update status.",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "id": "GoogleChromeManagementV1MemoryInfo",
      "type": "object",
      "properties": {
        "availableRamBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Amount of available RAM in bytes."
        },
        "totalRamBytes": {
          "readOnly": true,
          "description": "Output only. Total RAM in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Memory information of a device."
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "type": "object",
      "properties": {
        "adapterInfo": {
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo",
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "description": "Information of the graphics subsystem."
    },
    "GoogleChromeManagementV1BatterySampleReport": {
      "properties": {
        "current": {
          "readOnly": true,
          "description": "Output only. Battery current (mA).",
          "type": "string",
          "format": "int64"
        },
        "chargeRate": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Battery charge percentage."
        },
        "temperature": {
          "format": "int32",
          "description": "Output only. Temperature in Celsius degrees.",
          "readOnly": true,
          "type": "integer"
        },
        "reportTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime",
          "type": "string"
        },
        "remainingCapacity": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Battery remaining capacity (mAmpere-hours)."
        },
        "voltage": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Battery voltage (millivolt).",
          "type": "string"
        },
        "dischargeRate": {
          "readOnly": true,
          "description": "Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.",
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "description": "Output only. Battery status read from sysfs. Example: Discharging",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1BatterySampleReport",
      "description": "Sampling data for battery.",
      "type": "object"
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "description": "Output only. Permissions requested by an Android app.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Android app information.",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "properties": {
        "isCwsHosted": {
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "type": "boolean",
          "readOnly": true
        },
        "minUserCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The minimum number of users using this app."
        },
        "googleOwned": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found."
        },
        "kioskEnabled": {
          "type": "boolean",
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "readOnly": true
        },
        "siteAccess": {
          "type": "array",
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "readOnly": true
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "type": "boolean",
          "readOnly": true
        },
        "supportEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found."
        },
        "isTheme": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is a theme."
        },
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Chrome Web Store app information."
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "type": "object",
      "properties": {
        "displays": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information about the displays for the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          }
        },
        "reportTime": {
          "description": "Output only. Time at which the graphics data was reported.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "description": "Information of the graphics subsystem."
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "id": "GoogleChromeManagementV1BrowserVersion",
      "type": "object",
      "properties": {
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full version of the installed browser."
        },
        "deviceOsVersion": {
          "readOnly": true,
          "description": "Output only. Version of the system-specified operating system.",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Output only. The release channel of the installed browser.",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ],
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "readOnly": true
        },
        "count": {
          "readOnly": true,
          "description": "Output only. Count grouped by device_system and major version",
          "format": "int64",
          "type": "string"
        },
        "system": {
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "readOnly": true,
          "description": "Output only. The device operating system.",
          "type": "string"
        }
      },
      "description": "Describes a browser version and its install count."
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "type": "object",
      "description": "Represent one host permission.",
      "properties": {
        "hostMatch": {
          "readOnly": true,
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "id": "GoogleChromeManagementV1InstalledApp",
      "description": "Describes an installed app.",
      "properties": {
        "appId": {
          "type": "string",
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true
        },
        "appInstallType": {
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. How the app was installed."
        },
        "browserDeviceCount": {
          "format": "int64",
          "description": "Output only. Count of browser devices with this app installed.",
          "type": "string",
          "readOnly": true
        },
        "homepageUri": {
          "type": "string",
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true
        },
        "permissions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Permissions of the installed app."
        },
        "osUserCount": {
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the installed app.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the installed app.",
          "readOnly": true
        },
        "appType": {
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "description": "Output only. Type of the app.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        },
        "appSource": {
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the installed app.",
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "disabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app is disabled."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "properties": {
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string",
          "description": "Output only. The CPU architecture.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ]
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz"
        },
        "maxClockSpeed": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The max CPU clock speed in kHz.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "type": "object",
      "description": "CPU specs for a CPU."
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "description": "Response containing a list of devices with queried app installed.",
      "type": "object",
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of devices matching request."
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field."
        }
      }
    }
  },
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "chromemanagement",
  "revision": "20220606",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "version": "v1",
  "title": "Chrome Management API",
  "documentationLink": "http://developers.google.com/chrome/management/",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "chromemanagement:v1"
}
