{
  "batchPath": "batch",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "chromepolicy:v1",
  "revision": "20230906",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "title": "Chrome Policy API",
  "basePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "parameterOrder": [
            "customer"
          ],
          "supportsMediaUpload": true,
          "id": "chromepolicy.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "customer": {
              "description": "Required. The customer for which the file upload will apply.",
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            }
          },
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "path": "v1/{+customer}/policies/files:uploadPolicyFile"
        }
      }
    },
    "customers": {
      "resources": {
        "policySchemas": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000."
                },
                "filter": {
                  "location": "query",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The customer for which the listing request will apply.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/policySchemas",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "parameterOrder": [
                "parent"
              ],
              "id": "chromepolicy.customers.policySchemas.list",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ]
            },
            "get": {
              "id": "chromepolicy.customers.policySchemas.get",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The policy schema resource name to query.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/policySchemas/.*$"
                }
              },
              "description": "Get a specific policy schema for a customer by its resource name.",
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "policies": {
          "methods": {
            "resolve": {
              "parameters": {
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                }
              },
              "id": "chromepolicy.customers.policies.resolve",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "httpMethod": "POST",
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "path": "v1/{+customer}/policies:resolve"
            }
          },
          "resources": {
            "networks": {
              "methods": {
                "defineNetwork": {
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer who will own this new network.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "description": "Define a new network.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "defineCertificate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer for which the certificate will apply.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.defineCertificate"
                },
                "removeNetwork": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "description": "Required. The customer whose network will be removed.",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "description": "Remove an existing network by guid."
                },
                "removeCertificate": {
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer whose certificate will be removed.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "description": "Remove an existing certificate by guid."
                }
              }
            },
            "orgunits": {
              "methods": {
                "batchInherit": {
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit"
                },
                "batchModify": {
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "listGroupPriorityOrdering": {
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status."
                },
                "updateGroupPriorityOrdering": {
                  "parameters": {
                    "customer": {
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering"
                },
                "batchModify": {
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "path": "v1/{+customer}/policies/groups:batchModify"
                },
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "canonicalName": "Chrome Policy",
  "version_module": true,
  "name": "chromepolicy",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error message related to the field."
        },
        "field": {
          "description": "Output only. The name of the field with the error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "type": "object",
      "description": "Resource representing a policy schema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "properties": {
        "accessRestrictions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Specific access restrictions related to this policy."
        },
        "notices": {
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "type": "array"
        },
        "supportUri": {
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true,
          "type": "string"
        },
        "fieldDescriptions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Detailed description of each field that is part of the schema. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "policyApiLifecycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Output only. Current lifecycle information.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}"
        },
        "additionalTargetKeyNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          }
        },
        "validTargetResources": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ]
          },
          "readOnly": true,
          "description": "Output only. Information about applicable target resources for the policy."
        },
        "schemaName": {
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "type": "string",
          "readOnly": true
        },
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        },
        "policyDescription": {
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption.",
          "type": "string"
        },
        "definition": {
          "$ref": "Proto2FileDescriptorProto",
          "description": "Schema definition using proto descriptor."
        }
      }
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP."
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "defaultValue": {
          "type": "string",
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped."
        },
        "oneofIndex": {
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "format": "int32",
          "type": "integer"
        },
        "typeName": {
          "type": "string",
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace)."
        },
        "jsonName": {
          "type": "string",
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase."
        },
        "label": {
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ]
        },
        "proto3Optional": {
          "type": "boolean",
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`."
        }
      },
      "type": "object",
      "description": "Describes a field within a message.",
      "id": "Proto2FieldDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "type": "object",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "format": "int32"
        },
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string"
        },
        "policySchemaFilter": {
          "description": "Required. The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "description": "Response object for removing a network.",
      "type": "object",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the referencing network."
        }
      }
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationError": {
      "description": "Error information for a modification request of a specific policy on a specific target.",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationError",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The non-field errors related to the modification.",
          "type": "array",
          "readOnly": true
        },
        "policySchema": {
          "description": "Output only. The specific policy schema modification that had an error.",
          "readOnly": true,
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Output only. The specific policy target modification that had error.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "fieldErrors": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The error messages related to the modification."
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "properties": {
        "policyNamespace": {
          "type": "string",
          "description": "The namespace of the policy type for the request."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app."
        },
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        }
      },
      "type": "object",
      "description": "Request message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "properties": {
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "description": "Request message for uploading a file for a policy.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "type": "object",
      "description": "Response message for listing policy schemas that match a filter.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next page of policy schemas."
        },
        "policySchemas": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          },
          "type": "array",
          "description": "The list of policy schemas that match the query."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "properties": {
        "value": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The value of the network setting.",
          "type": "object"
        },
        "policySchema": {
          "description": "The fully qualified name of the network setting.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "type": "object",
      "description": "A network setting contains network configurations."
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "properties": {
        "keyDescription": {
          "type": "string",
          "description": "Key description."
        },
        "key": {
          "description": "Key name.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "type": "object",
      "description": "Response object for removing a certificate.",
      "properties": {}
    },
    "Proto2EnumDescriptorProto": {
      "type": "object",
      "description": "Describes an enum type.",
      "id": "Proto2EnumDescriptorProto",
      "properties": {
        "value": {
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "type": "object",
      "properties": {
        "noticeMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The notice message associate with the value of the field."
        },
        "noticeValue": {
          "type": "string",
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "readOnly": true
        },
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean",
          "readOnly": true
        },
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The field name associated with the notice."
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "properties": {
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "description": "Detailed network settings of the new created network",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "networkId": {
          "description": "Network ID of the new created network.",
          "type": "string"
        }
      },
      "description": "Response object for creating a network."
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "type": "object",
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      }
    },
    "Proto2EnumValueDescriptorProto": {
      "id": "Proto2EnumValueDescriptorProto",
      "type": "object",
      "description": "Describes a value within an enum.",
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Proto2FileDescriptorProto": {
      "type": "object",
      "id": "Proto2FileDescriptorProto",
      "description": "Describes a complete .proto file.",
      "properties": {
        "editionEnum": {
          "enum": [
            "EDITION_UNKNOWN",
            "EDITION_2023",
            "EDITION_1_TEST_ONLY",
            "EDITION_2_TEST_ONLY",
            "EDITION_99997_TEST_ONLY",
            "EDITION_99998_TEST_ONLY",
            "EDITION_99999_TEST_ONLY"
          ],
          "enumDescriptions": [
            "A placeholder for an unknown edition value.",
            "Editions that have been released. The specific values are arbitrary and should not be depended on, but they will always be time-ordered for easy comparison.",
            "Placeholder editions for testing feature resolution. These should not be used or relyed on outside of tests.",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The edition of the proto file."
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "messageType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "description": "All top-level definitions in this file."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "properties": {
        "value": {
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Additional description for this value.",
          "readOnly": true
        },
        "fieldDependencies": {
          "type": "array",
          "description": "Output only. Field conditions required for this value to be valid.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        }
      },
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema."
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "description": "Describes a message type.",
      "type": "object",
      "properties": {
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        },
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        },
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        }
      }
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "properties": {
        "certificateReferences": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request."
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "properties": {
        "targetResource": {
          "description": "the resource at which the certificate is defined.",
          "type": "string"
        },
        "networkId": {
          "type": "string",
          "description": "The guid of the certificate created by the action."
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)"
        }
      },
      "type": "object",
      "description": "Response object for creating a certificate.",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "properties": {
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        },
        "sourceField": {
          "type": "string",
          "description": "The source field which this field depends on."
        }
      },
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "description": "Request object for removing a certificate.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "properties": {
        "networkId": {
          "description": "Required. The GUID of the certificate to remove.",
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "properties": {
        "sourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true,
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer."
        },
        "value": {
          "description": "Output only. The resolved value of the policy.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "targetKey": {
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "addedSourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "description": "The resolved value of a policy for a given target."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      },
      "description": "Response message for downloading an uploaded file.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "description": "A particular value for a policy managed by the service.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "properties": {
        "maximum": {
          "type": "string",
          "description": "Maximum value.",
          "format": "int64"
        },
        "minimum": {
          "format": "int64",
          "type": "string",
          "description": "Minimum value."
        }
      },
      "type": "object",
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint"
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "type": "object",
      "properties": {
        "additionalTargetKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy."
        },
        "targetResource": {
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")",
          "type": "string"
        }
      },
      "description": "The key used to identify the target on which the policy will be applied."
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "type": "object",
      "description": "Describes a oneof.",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "properties": {
        "resolvedPolicies": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "description": "The list of resolved policies found by the resolve request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        }
      },
      "description": "Response message for getting the resolved policy value for a specific target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolveResponse"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "type": "object",
      "properties": {
        "fieldDependencies": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "type": "array",
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set."
        },
        "fieldConstraints": {
          "description": "Output only. Information on any input constraints associated on the values for the field.",
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints",
          "readOnly": true
        },
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "readOnly": true,
          "type": "string"
        },
        "defaultValue": {
          "description": "Output only. Client default if the policy is unset.",
          "type": "any",
          "readOnly": true
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "readOnly": true,
          "type": "string"
        },
        "knownValueDescriptions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values."
        },
        "description": {
          "type": "string",
          "description": "Deprecated. Use name and field_description instead. The description for the field.",
          "deprecated": true
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field for associated with this description."
        },
        "nestedFieldDescriptions": {
          "readOnly": true,
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. The name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "requiredItems": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails",
      "type": "object",
      "properties": {
        "modificationErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of specific policy modifications errors that may have occurred during a modifying request.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationError"
          }
        }
      },
      "description": "Details of the errors encountered during a policy modification request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request."
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          },
          "type": "array",
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      }
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "type": "object",
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        }
      }
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "type": "object",
      "properties": {
        "deprecatedInFavorOf": {
          "description": "In the event that this policy was deprecated in favor of another policy, the fully qualified namespace(s) of the new policies as they will show in PolicyAPI.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policyApiLifecycleStage": {
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "description": "Indicate current life cycle stage of the policy API.",
          "type": "string"
        },
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "endSupport": {
          "description": "End supporting date for current policy.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle"
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "type": "object",
      "properties": {
        "numericRangeConstraint": {
          "description": "The allowed range for numeric fields.",
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint"
        }
      },
      "id": "GoogleChromePolicyVersionsV1FieldConstraints",
      "description": "Information about any range constraints."
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "groupIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The group IDs, in desired priority ordering.",
          "type": "array"
        },
        "policySchema": {
          "description": "The schema name of the policy for the request.",
          "type": "string"
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "description": "Request message for updating the group priority ordering of an app.",
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific target."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "properties": {
        "fieldConditions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement."
        },
        "requiredFields": {
          "type": "array",
          "description": "The fields that are required as a consequence of the field conditions.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "description": "The fields that will become required based on the value of this field."
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "description": "Request object for creating a certificate.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace."
        },
        "certificate": {
          "type": "string",
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file."
        },
        "ceritificateName": {
          "type": "string",
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name."
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "properties": {
        "settings": {
          "type": "array",
          "description": "Required. Detailed network settings.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request object for creating a new network."
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "type": "object",
      "properties": {
        "networkId": {
          "description": "Required. The GUID of the network to remove.",
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "description": "Request object for removing a network"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "description": "Response message for listing the group priority ordering of an app.",
      "properties": {
        "policySchema": {
          "description": "Output only. The schema name of the policy for the group IDs.",
          "readOnly": true,
          "type": "string"
        },
        "policyNamespace": {
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "readOnly": true,
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "groupIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The group IDs, in priority ordering.",
          "items": {
            "type": "string"
          }
        }
      }
    }
  }
}
