{
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "title": "Chrome Policy API",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "chromepolicy",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "id": "chromepolicy:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "servicePath": "",
  "revision": "20230105",
  "protocol": "rest",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "ownerName": "Google",
  "basePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "parameters": {
            "customer": {
              "required": true,
              "description": "Required. The customer for which the file upload will apply.",
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "id": "chromepolicy.media.upload",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "httpMethod": "POST",
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "supportsMediaUpload": true,
          "parameterOrder": [
            "customer"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "policies": {
          "methods": {
            "resolve": {
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "customer"
              ],
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "parameters": {
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                }
              },
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "path": "v1/{+customer}/policies:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "id": "chromepolicy.customers.policies.resolve"
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "updateGroupPriorityOrdering": {
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering"
                },
                "batchModify": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "path": "v1/{+customer}/policies/groups:batchModify"
                },
                "batchDelete": {
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "listGroupPriorityOrdering": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering"
                }
              }
            },
            "orgunits": {
              "methods": {
                "batchModify": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "id": "chromepolicy.customers.policies.orgunits.batchModify"
                },
                "batchInherit": {
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "parameterOrder": [
                    "customer"
                  ]
                }
              }
            },
            "networks": {
              "methods": {
                "defineCertificate": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The customer for which the certificate will apply.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "httpMethod": "POST"
                },
                "removeNetwork": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "description": "Remove an existing network by guid.",
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer whose network will be removed.",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "defineNetwork": {
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer who will own this new network.",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "description": "Define a new network.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "path": "v1/{+customer}/policies/networks:defineNetwork"
                },
                "removeCertificate": {
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "description": "Remove an existing certificate by guid.",
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer whose certificate will be removed.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate",
                  "parameterOrder": [
                    "customer"
                  ]
                }
              }
            }
          }
        },
        "policySchemas": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "id": "chromepolicy.customers.policySchemas.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer for which the listing request will apply.",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/policySchemas",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer."
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Get a specific policy schema for a customer by its resource name.",
              "parameterOrder": [
                "name"
              ],
              "id": "chromepolicy.customers.policySchemas.get",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The policy schema resource name to query.",
                  "required": true,
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Chrome Policy",
  "schemas": {
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "description": "Request object for creating a certificate.",
      "properties": {
        "settings": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace."
        },
        "certificate": {
          "type": "string",
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file."
        },
        "ceritificateName": {
          "type": "string",
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "description": "The key used to identify the target on which the policy will be applied.",
      "type": "object",
      "properties": {
        "additionalTargetKeys": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy."
        },
        "targetResource": {
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "type": "object",
      "description": "The resolved value of a policy for a given target.",
      "properties": {
        "targetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true,
          "description": "Output only. The target resource for which the resolved policy value applies."
        },
        "value": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "Output only. The resolved value of the policy."
        },
        "addedSourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "readOnly": true
        },
        "sourceKey": {
          "readOnly": true,
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "oneofIndex": {
          "type": "integer",
          "format": "int32",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof."
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "type": "string",
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ]
        },
        "name": {
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ]
        },
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        }
      },
      "description": "Describes a field within a message.",
      "id": "Proto2FieldDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "description": "Response message for listing the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "policyNamespace": {
          "type": "string",
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "readOnly": true
        },
        "groupIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The group IDs, in priority ordering."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "type": "object",
      "properties": {
        "maximum": {
          "type": "string",
          "description": "Maximum value.",
          "format": "int64"
        },
        "minimum": {
          "format": "int64",
          "description": "Minimum value.",
          "type": "string"
        }
      },
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint"
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "type": "array",
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "description": "Request message for specifying that multiple policy values inherit their value from their parents."
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app."
        },
        "policyNamespace": {
          "type": "string",
          "description": "Required. The namespace of the policy type for the request."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "type": "object",
      "description": "Request message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "description": "Resource representing a policy schema.",
      "type": "object",
      "properties": {
        "notices": {
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "readOnly": true
        },
        "accessRestrictions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Specific access restrictions related to this policy.",
          "items": {
            "type": "string"
          }
        },
        "additionalTargetKeyNames": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          }
        },
        "categoryTitle": {
          "type": "string",
          "description": "Title of the category in which a setting belongs."
        },
        "policyDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description about the policy schema for user consumption."
        },
        "validTargetResources": {
          "items": {
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Information about applicable target resources for the policy.",
          "readOnly": true
        },
        "policyApiLifeycle": {
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Deprecated field because of typo."
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "schemaName": {
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "type": "string",
          "readOnly": true
        },
        "supportUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to related support article for this schema."
        },
        "policyApiLifecycle": {
          "readOnly": true,
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "description": "Output only. Current lifecycle information."
        },
        "fieldDescriptions": {
          "type": "array",
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "readOnly": true
        },
        "definition": {
          "$ref": "Proto2FileDescriptorProto",
          "description": "Schema definition using proto descriptor."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchema"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "properties": {
        "key": {
          "description": "Key name.",
          "type": "string"
        },
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "properties": {
        "policyApiLifecycleStage": {
          "type": "string",
          "description": "Indicate current life cycle stage of the policy API.",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description about current life cycle."
        },
        "endSupport": {
          "description": "End supporting date for current policy.",
          "$ref": "GoogleTypeDate"
        }
      },
      "type": "object",
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle"
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit."
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a oneof."
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          }
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "description": "Request message for modifying multiple policy values for a specific group-based target."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "type": "object",
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "type": "string",
          "description": "The value which the source field must have for this field to be allowed to be set."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "properties": {
        "fieldConditions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement."
        },
        "requiredFields": {
          "items": {
            "type": "string"
          },
          "description": "The fields that are required as a consequence of the field conditions.",
          "type": "array"
        }
      },
      "description": "The fields that will become required based on the value of this field.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "description": "Response object for creating a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "properties": {
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "type": "array"
        },
        "networkId": {
          "type": "string",
          "description": "The guid of the certificate created by the action."
        },
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        }
      }
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "type": "object",
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. The name of the referencing network.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "description": "Response object for removing a certificate.",
      "properties": {},
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        }
      },
      "type": "object",
      "description": "A particular value for a policy managed by the service.",
      "id": "GoogleChromePolicyVersionsV1PolicyValue"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "properties": {
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error message related to the field."
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field with the error."
        }
      },
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Deprecated. Use name and field_description instead. The description for the field."
        },
        "fieldConstraints": {
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints",
          "readOnly": true,
          "description": "Output only. Information on any input constraints associated on the values for the field."
        },
        "name": {
          "description": "Output only. The name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "defaultValue": {
          "type": "any",
          "readOnly": true,
          "description": "Output only. Client default if the policy is unset."
        },
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field for associated with this description."
        },
        "nestedFieldDescriptions": {
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "type": "array",
          "readOnly": true
        },
        "fieldDependencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "readOnly": true
        },
        "inputConstraint": {
          "readOnly": true,
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string"
        },
        "fieldDescription": {
          "type": "string",
          "description": "Output only. The description of the field.",
          "readOnly": true
        },
        "knownValueDescriptions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values."
        },
        "requiredItems": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "type": "object",
      "description": "Provides detailed information for a particular field that is part of a PolicySchema."
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        },
        "policySchemas": {
          "type": "array",
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "description": "Response message for listing policy schemas that match a filter."
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific target.",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "description": "Response object for creating a network.",
      "type": "object",
      "properties": {
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "Detailed network settings of the new created network",
          "type": "array"
        },
        "networkId": {
          "type": "string",
          "description": "Network ID of the new created network."
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      }
    },
    "Proto2DescriptorProto": {
      "properties": {
        "oneofDecl": {
          "type": "array",
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "nestedType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        }
      },
      "id": "Proto2DescriptorProto",
      "type": "object",
      "description": "Describes a message type."
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "description": "A network setting contains network configurations.",
      "type": "object",
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the network setting.",
          "type": "string"
        },
        "value": {
          "description": "The value of the network setting.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "description": "Response message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        },
        "resolvedPolicies": {
          "description": "The list of resolved policies found by the resolve request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "type": "object",
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "properties": {
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "readOnly": true,
          "type": "string"
        },
        "noticeValue": {
          "readOnly": true,
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string"
        },
        "noticeMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The notice message associate with the value of the field."
        },
        "acknowledgementRequired": {
          "readOnly": true,
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the network to remove."
        },
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        }
      },
      "description": "Request object for removing a network",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "properties": {
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "properties": {
        "certificateReferences": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "type": "object",
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request."
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "description": "Request object for creating a new network.",
      "type": "object",
      "properties": {
        "settings": {
          "type": "array",
          "description": "Required. Detailed network settings.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the new created network."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      }
    },
    "Proto2EnumDescriptorProto": {
      "id": "Proto2EnumDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          },
          "type": "array"
        }
      },
      "description": "Describes an enum type.",
      "type": "object"
    },
    "Proto2FileDescriptorProto": {
      "properties": {
        "messageType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array",
          "description": "All top-level definitions in this file."
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "package": {
          "type": "string",
          "description": "e.g. \"foo\", \"foo.bar\", etc."
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\".",
          "type": "string"
        }
      },
      "description": "Describes a complete .proto file.",
      "type": "object",
      "id": "Proto2FileDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "description": "Response object for removing a network.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "properties": {}
    },
    "Proto2EnumValueDescriptorProto": {
      "description": "Describes a value within an enum.",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2EnumValueDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The uri for end user to download the file."
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "description": "Response message for downloading an uploaded file.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "properties": {
        "policyField": {
          "type": "string",
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file."
        }
      },
      "description": "Request message for uploading a file for a policy.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "properties": {
        "numericRangeConstraint": {
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
          "description": "The allowed range for numeric fields."
        }
      },
      "type": "object",
      "description": "Information about any range constraints.",
      "id": "GoogleChromePolicyVersionsV1FieldConstraints"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "type": "object",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "properties": {
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "format": "int32"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target resource on which the policies should be resolved."
        },
        "policySchemaFilter": {
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveRequest"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional description for this value."
        }
      }
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "type": "object",
      "description": "Request message for updating the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app."
        },
        "policyNamespace": {
          "description": "Required. The namespace of the policy type for the request.",
          "type": "string"
        },
        "groupIds": {
          "description": "Required. The group IDs, in desired priority ordering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "type": "object",
      "description": "Request object for removing a certificate.",
      "properties": {
        "networkId": {
          "description": "Required. The GUID of the certificate to remove.",
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    }
  },
  "ownerDomain": "google.com"
}
