{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "batchPath": "batch",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "schemas": {
    "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyV1InheritOrgUnitPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest",
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "type": "object"
    },
    "GoogleChromePolicyV1PolicyValue": {
      "description": "A particular value for a policy managed by the service.",
      "type": "object",
      "id": "GoogleChromePolicyV1PolicyValue",
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the policy schema associated with this policy.",
          "type": "string"
        },
        "value": {
          "type": "object",
          "description": "The value of the policy that is compatible with the schema that it is associated with.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest": {
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "id": "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest",
      "type": "object",
      "properties": {
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyV1PolicyValue"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        }
      }
    },
    "GoogleChromePolicyV1InheritOrgUnitPolicyRequest": {
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyV1InheritOrgUnitPolicyRequest",
      "type": "object"
    },
    "GoogleChromePolicyV1UploadPolicyFileRequest": {
      "id": "GoogleChromePolicyV1UploadPolicyFileRequest",
      "description": "Request message for uploading a file for a policy. Next ID: 5",
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyV1AdditionalTargetKeyName": {
      "type": "object",
      "id": "GoogleChromePolicyV1AdditionalTargetKeyName",
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key name."
        },
        "keyDescription": {
          "type": "string",
          "description": "Key description."
        }
      }
    },
    "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription": {
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional description for this value."
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The string represenstation of the value that can be set for the field."
        }
      },
      "id": "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription"
    },
    "GoogleChromePolicyV1ResolveResponse": {
      "properties": {
        "resolvedPolicies": {
          "description": "The list of resolved policies found by the resolve request.",
          "items": {
            "$ref": "GoogleChromePolicyV1ResolvedPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next set of resolved policies found by the request."
        }
      },
      "description": "Response message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyV1ResolveResponse",
      "type": "object"
    },
    "Proto2EnumValueDescriptorProto": {
      "type": "object",
      "description": "Describes a value within an enum.",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2EnumValueDescriptorProto"
    },
    "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest": {
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific target.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest"
          },
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "id": "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest"
    },
    "Proto2EnumDescriptorProto": {
      "type": "object",
      "id": "Proto2EnumDescriptorProto",
      "description": "Describes an enum type.",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        }
      }
    },
    "GoogleChromePolicyV1PolicySchemaFieldDependencies": {
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyV1PolicySchemaFieldDependencies",
      "description": "The field and the value it must have for another field to be allowed to be set."
    },
    "GoogleChromePolicyV1PolicySchema": {
      "properties": {
        "policyApiLifeycle": {
          "description": "Output only. Current life cycle information.",
          "$ref": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
          "readOnly": true
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "accessRestrictions": {
          "readOnly": true,
          "description": "Output only. Specific access restrictions related to this policy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalTargetKeyNames": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyV1AdditionalTargetKeyName"
          }
        },
        "validTargetResources": {
          "type": "array",
          "description": "Output only. Information about applicable target resources for the policy.",
          "items": {
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ]
          },
          "readOnly": true
        },
        "supportUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to related support article for this schema."
        },
        "fieldDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "type": "array",
          "readOnly": true
        },
        "notices": {
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaNoticeDescription"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema."
        },
        "schemaName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies or BatchModifyOrgUnitPolicies"
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "policyDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description about the policy schema for user consumption."
        }
      },
      "id": "GoogleChromePolicyV1PolicySchema",
      "type": "object",
      "description": "Resource representing a policy schema. Next ID: 12"
    },
    "GoogleChromePolicyV1PolicySchemaFieldDescription": {
      "type": "object",
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. The description for the field.",
          "readOnly": true
        },
        "nestedFieldDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDescription"
          },
          "readOnly": true,
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "type": "array"
        },
        "fieldDependencies": {
          "readOnly": true,
          "description": "Output only. Provides a list of fields and the values they must have for this field to be allowed to be set.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDependencies"
          }
        },
        "knownValueDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values."
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field for associated with this description."
        },
        "inputConstraint": {
          "type": "string",
          "description": "Output only. Any input constraints associated on the values for the field.",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyV1PolicySchemaFieldDescription"
    },
    "Proto2FileDescriptorProto": {
      "properties": {
        "name": {
          "description": "file name, relative to root of source tree",
          "type": "string"
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\" and \"proto3\".",
          "type": "string"
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "messageType": {
          "description": "All top-level definitions in this file.",
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        }
      },
      "description": "Describes a complete .proto file.",
      "type": "object",
      "id": "Proto2FileDescriptorProto"
    },
    "GoogleChromePolicyV1PolicyTargetKey": {
      "id": "GoogleChromePolicyV1PolicyTargetKey",
      "description": "The key used to identify the target on which the policy will be applied.",
      "properties": {
        "additionalTargetKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object"
        },
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyV1UploadPolicyFileResponse": {
      "type": "object",
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The uri for end user to download the file."
        }
      },
      "description": "Response message for downloading an uploaded file. Next ID: 2",
      "id": "GoogleChromePolicyV1UploadPolicyFileResponse"
    },
    "Proto2OneofDescriptorProto": {
      "type": "object",
      "id": "Proto2OneofDescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a oneof."
    },
    "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle": {
      "properties": {
        "policyApiLifecycleStage": {
          "type": "string",
          "enumDescriptions": [
            "unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "description": "Indicate current life cycle stage of the policy API."
        },
        "endSupport": {
          "$ref": "GoogleTypeDate",
          "description": "End supporting date for current policy."
        },
        "description": {
          "type": "string",
          "description": "Description about current life cycle."
        }
      },
      "id": "ChromeCrosDpanelAutosettingsProtoPolicyApiLifecycle",
      "type": "object"
    },
    "GoogleChromePolicyV1ListPolicySchemasResponse": {
      "type": "object",
      "description": "Response message for listing policy schemas that match a filter.",
      "id": "GoogleChromePolicyV1ListPolicySchemasResponse",
      "properties": {
        "policySchemas": {
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchema"
          },
          "type": "array",
          "description": "The list of policy schemas that match the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next page of policy schemas."
        }
      }
    },
    "GoogleChromePolicyV1ResolveRequest": {
      "description": "Request message for getting the resolved policy value for a specific target.",
      "properties": {
        "policySchemaFilter": {
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/chrome-management/guides/policyapi for details on schema namepsaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        }
      },
      "id": "GoogleChromePolicyV1ResolveRequest",
      "type": "object"
    },
    "GoogleChromePolicyV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "properties": {
        "noticeMessage": {
          "readOnly": true,
          "description": "Output only. The notice message associate with the value of the field.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The field name associated with the notice."
        },
        "noticeValue": {
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "readOnly": true,
          "type": "string"
        },
        "acknowledgementRequired": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyV1PolicySchemaNoticeDescription"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "Proto2FieldDescriptorProto": {
      "description": "Describes a field within a message.",
      "properties": {
        "label": {
          "type": "string",
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ],
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ]
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes \u003e= 128 are escaped."
        },
        "oneofIndex": {
          "format": "int32",
          "type": "integer",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP."
        }
      },
      "id": "Proto2FieldDescriptorProto",
      "type": "object"
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "description": "Describes a message type.",
      "properties": {
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        },
        "field": {
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "nestedType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        }
      },
      "type": "object"
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "id": "GoogleTypeDate"
    },
    "GoogleChromePolicyV1ResolvedPolicy": {
      "properties": {
        "value": {
          "description": "Output only. The resolved value of the policy.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyV1PolicyValue"
        },
        "sourceKey": {
          "$ref": "GoogleChromePolicyV1PolicyTargetKey",
          "readOnly": true,
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer."
        },
        "targetKey": {
          "readOnly": true,
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyV1ResolvedPolicy",
      "description": "The resolved value of a policy for a given target."
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "canonicalName": "Chrome Policy",
  "id": "chromepolicy:v1",
  "name": "chromepolicy",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "response": {
            "$ref": "GoogleChromePolicyV1UploadPolicyFileResponse"
          },
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "httpMethod": "POST",
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "request": {
            "$ref": "GoogleChromePolicyV1UploadPolicyFileRequest"
          },
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            }
          },
          "parameterOrder": [
            "customer"
          ],
          "supportsMediaUpload": true,
          "parameters": {
            "customer": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^customers/[^/]+$",
              "description": "Required. The customer for which the file upload will apply."
            }
          },
          "id": "chromepolicy.media.upload"
        }
      }
    },
    "customers": {
      "resources": {
        "policySchemas": {
          "methods": {
            "list": {
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "httpMethod": "GET",
              "id": "chromepolicy.customers.policySchemas.list",
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of policy schemas to return.",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer for which the listing request will apply."
                }
              },
              "response": {
                "$ref": "GoogleChromePolicyV1ListPolicySchemasResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "path": "v1/{+parent}/policySchemas"
            },
            "get": {
              "id": "chromepolicy.customers.policySchemas.get",
              "response": {
                "$ref": "GoogleChromePolicyV1PolicySchema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "description": "Required. The policy schema resource name to query.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "description": "Get a specific policy schema for a customer by its resource name.",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "policies": {
          "methods": {
            "resolve": {
              "parameters": {
                "customer": {
                  "type": "string",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "path": "v1/{+customer}/policies:resolve",
              "response": {
                "$ref": "GoogleChromePolicyV1ResolveResponse"
              },
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "id": "chromepolicy.customers.policies.resolve",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromePolicyV1ResolveRequest"
              }
            }
          },
          "resources": {
            "orgunits": {
              "methods": {
                "batchInherit": {
                  "request": {
                    "$ref": "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "batchModify": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/orgunits:batchModify"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "title": "Chrome Policy API",
  "revision": "20220129",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version": "v1"
}
