{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "revision": "20201012",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "basePath": "",
  "canonicalName": "Civic Info",
  "schemas": {
    "AdministrationRegion": {
      "properties": {
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "AdministrationRegion"
        },
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources."
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "AdministrativeBody"
        }
      },
      "description": "Describes information about a regional election administrative area.",
      "id": "AdministrationRegion",
      "type": "object"
    },
    "Contest": {
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot.",
      "id": "Contest",
      "properties": {
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64",
          "type": "string"
        },
        "level": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ]
          },
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\"."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "special": {
          "type": "string",
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle."
        },
        "numberElected": {
          "format": "int64",
          "description": "The number of candidates that will be elected to office in this contest.",
          "type": "string"
        },
        "referendumTitle": {
          "type": "string",
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'."
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "referendumProStatement": {
          "type": "string",
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "referendumConStatement": {
          "type": "string",
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "primaryParties": {
          "type": "array",
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "items": {
            "type": "string"
          }
        },
        "roles": {
          "type": "array",
          "description": "The roles which this office fulfills.",
          "items": {
            "type": "string",
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "items": {
            "$ref": "Source"
          }
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "candidates": {
          "items": {
            "$ref": "Candidate"
          },
          "type": "array",
          "description": "The candidate choices for this contest."
        },
        "district": {
          "$ref": "ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "ballotPlacement": {
          "format": "int64",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string"
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "primaryParty": {
          "type": "string",
          "description": "[DEPRECATED] If this is a partisan election, the name of the party it is for. This field as deprecated in favor of the array \"primaryParties\", as contests may contain more than one party."
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        }
      }
    },
    "ElectionsQueryResponse": {
      "description": "The list of elections available for this version of the API.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse"
        },
        "elections": {
          "type": "array",
          "description": "A list of available elections",
          "items": {
            "$ref": "Election"
          }
        }
      },
      "id": "ElectionsQueryResponse"
    },
    "VoterInfoResponse": {
      "properties": {
        "state": {
          "type": "array",
          "items": {
            "$ref": "AdministrationRegion"
          },
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array."
        },
        "pollingLocations": {
          "items": {
            "$ref": "PollingLocation"
          },
          "type": "array",
          "description": "Locations where the voter is eligible to vote on election day."
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "SimpleAddressType"
        },
        "election": {
          "$ref": "Election",
          "description": "The election that was queried."
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "items": {
            "$ref": "Contest"
          },
          "type": "array"
        },
        "precinctId": {
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "default": "civicinfo#voterInfoResponse",
          "type": "string"
        },
        "dropOffLocations": {
          "type": "array",
          "items": {
            "$ref": "PollingLocation"
          },
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field."
        },
        "earlyVoteSites": {
          "type": "array",
          "items": {
            "$ref": "PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day."
        },
        "otherElections": {
          "items": {
            "$ref": "Election"
          },
          "type": "array",
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
        }
      },
      "id": "VoterInfoResponse",
      "type": "object",
      "description": "The result of a voter info lookup query."
    },
    "PollingLocation": {
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations."
        },
        "name": {
          "type": "string",
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations."
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "Source"
          }
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "longitude": {
          "format": "double",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "SimpleAddressType"
        }
      },
      "id": "PollingLocation",
      "type": "object",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot."
    },
    "Office": {
      "id": "Office",
      "type": "object",
      "description": "Information about an Office held by one or more Officials.",
      "properties": {
        "sources": {
          "description": "A list of sources for this office. If multiple sources are listed, the data has been aggregated from those sources.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "roles": {
          "description": "The roles which this office fulfills. Roles are not meant to be exhaustive, or to exactly specify the entire set of responsibilities of a given office, but are meant to be rough categories that are useful for general selection from or sorting of a list of offices.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer"
            ]
          }
        },
        "levels": {
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "description": "The levels of government of which this office is part. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The human-readable name of the office."
        },
        "divisionId": {
          "description": "The OCD ID of the division with which this office is associated.",
          "type": "string"
        },
        "officialIndices": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array",
          "description": "List of indices in the officials array of people who presently hold this office."
        }
      }
    },
    "RepresentativeInfoResponse": {
      "id": "RepresentativeInfoResponse",
      "description": "The result of a representative info lookup query.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "civicinfo#representativeInfoResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#representativeInfoResponse\"."
        },
        "officials": {
          "type": "array",
          "description": "Officials holding the offices listed above. Will only be present if includeOffices was true in the request.",
          "items": {
            "$ref": "Official"
          }
        },
        "divisions": {
          "description": "A map of political geographic divisions that contain the requested address, keyed by the unique Open Civic Data identifier for this division.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GeographicDivision"
          }
        },
        "offices": {
          "type": "array",
          "items": {
            "$ref": "Office"
          },
          "description": "Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request."
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "SimpleAddressType"
        }
      }
    },
    "Election": {
      "id": "Election",
      "description": "Information about the election that was queried.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The unique ID of this election."
        },
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        }
      }
    },
    "Source": {
      "description": "Contains information about the data source for the element containing it.",
      "properties": {
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        },
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        }
      },
      "id": "Source",
      "type": "object"
    },
    "Official": {
      "id": "Official",
      "description": "Information about a person holding an elected office.",
      "type": "object",
      "properties": {
        "address": {
          "items": {
            "$ref": "SimpleAddressType"
          },
          "description": "Addresses at which to contact the official.",
          "type": "array"
        },
        "urls": {
          "type": "array",
          "description": "The official's public website URLs.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The official's name.",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "Channel"
          },
          "description": "A list of known (social) media channels for this official.",
          "type": "array"
        },
        "phones": {
          "items": {
            "type": "string"
          },
          "description": "The official's public contact phone numbers.",
          "type": "array"
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the official belongs to."
        },
        "photoUrl": {
          "type": "string",
          "description": "A URL for a photo of the official."
        },
        "emails": {
          "description": "The direct email addresses for the official.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ElectionOfficial": {
      "properties": {
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the election official."
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        }
      },
      "type": "object",
      "description": "Information about individual election officials.",
      "id": "ElectionOfficial"
    },
    "DivisionSearchResult": {
      "properties": {
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        },
        "aliases": {
          "items": {
            "type": "string"
          },
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array"
        }
      },
      "description": "Represents a political geographic division that matches the requested query.",
      "type": "object",
      "id": "DivisionSearchResult"
    },
    "GeographicDivision": {
      "properties": {
        "officeIndices": {
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array"
        },
        "alsoKnownAs": {
          "type": "array",
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the division."
        }
      },
      "description": "Describes a political geography.",
      "id": "GeographicDivision",
      "type": "object"
    },
    "DivisionSearchResponse": {
      "id": "DivisionSearchResponse",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "DivisionSearchResult"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "default": "civicinfo#divisionSearchResponse",
          "type": "string"
        }
      },
      "description": "The result of a division search query."
    },
    "AdministrativeBody": {
      "properties": {
        "electionNoticeText": {
          "type": "string",
          "description": "A last minute or emergency notification text provided by this administrative body."
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "voter_services": {
          "description": "A description of the services this administrative body may provide.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "physicalAddress": {
          "$ref": "SimpleAddressType",
          "description": "The physical address of this administrative body."
        },
        "hoursOfOperation": {
          "type": "string",
          "description": "A description of the hours of operation for this administrative body."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "SimpleAddressType"
        },
        "absenteeVotingInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for information on absentee voting."
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "electionOfficials": {
          "items": {
            "$ref": "ElectionOfficial"
          },
          "type": "array",
          "description": "The election officials for this election administrative body."
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        }
      },
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "id": "AdministrativeBody",
      "type": "object"
    },
    "ElectoralDistrict": {
      "description": "Describes the geographic scope of a contest.",
      "id": "ElectoralDistrict",
      "type": "object",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        },
        "id": {
          "type": "string",
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
        },
        "name": {
          "type": "string",
          "description": "The name of the district."
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "description": "A social media or web channel for a candidate.",
      "properties": {
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
        }
      }
    },
    "RepresentativeInfoData": {
      "type": "object",
      "properties": {
        "officials": {
          "description": "Officials holding the offices listed above. Will only be present if includeOffices was true in the request.",
          "items": {
            "$ref": "Official"
          },
          "type": "array"
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GeographicDivision"
          },
          "description": "A map of political geographic divisions that contain the requested address, keyed by the unique Open Civic Data identifier for this division."
        },
        "offices": {
          "items": {
            "$ref": "Office"
          },
          "description": "Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.",
          "type": "array"
        }
      },
      "id": "RepresentativeInfoData"
    },
    "Candidate": {
      "description": "Information about a candidate running for elected office.",
      "id": "Candidate",
      "type": "object",
      "properties": {
        "orderOnBallot": {
          "format": "int64",
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string"
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "name": {
          "type": "string",
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "photoUrl": {
          "type": "string",
          "description": "A URL for a photo of the candidate."
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          },
          "description": "A list of known (social) media channels for this candidate."
        }
      }
    },
    "SimpleAddressType": {
      "properties": {
        "line3": {
          "type": "string",
          "description": "The third line of the address, if needed."
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        }
      },
      "id": "SimpleAddressType",
      "type": "object",
      "description": "A simple representation of an address."
    }
  },
  "servicePath": "",
  "version_module": true,
  "baseUrl": "https://civicinfo.googleapis.com/",
  "version": "v2",
  "documentationLink": "https://developers.google.com/civic-information/",
  "title": "Google Civic Information API",
  "name": "civicinfo",
  "id": "civicinfo:v2",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "resources": {
    "representatives": {
      "methods": {
        "representativeInfoByDivision": {
          "id": "civicinfo.representatives.representativeInfoByDivision",
          "parameterOrder": [
            "ocdId"
          ],
          "parameters": {
            "recursive": {
              "location": "query",
              "type": "boolean",
              "description": "If true, information about all divisions contained in the division requested will be included as well. For example, if querying ocd-division/country:us/district:dc, this would also return all DC's wards and ANCs."
            },
            "ocdId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The Open Civic Data division identifier of the division to look up."
            },
            "levels": {
              "enum": [
                "international",
                "country",
                "administrativeArea1",
                "regional",
                "administrativeArea2",
                "locality",
                "subLocality1",
                "subLocality2",
                "special"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "repeated": true,
              "description": "A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned."
            },
            "roles": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "description": "A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.",
              "type": "string",
              "enum": [
                "headOfState",
                "headOfGovernment",
                "deputyHeadOfGovernment",
                "governmentOfficer",
                "executiveCouncil",
                "legislatorUpperBody",
                "legislatorLowerBody",
                "highestCourtJudge",
                "judge",
                "schoolBoard",
                "specialPurposeOfficer"
              ]
            }
          },
          "path": "civicinfo/v2/representatives/{ocdId}",
          "response": {
            "$ref": "RepresentativeInfoData"
          },
          "flatPath": "civicinfo/v2/representatives/{ocdId}",
          "httpMethod": "GET",
          "description": "Looks up representative information for a single geographic division."
        },
        "representativeInfoByAddress": {
          "parameterOrder": [],
          "id": "civicinfo.representatives.representativeInfoByAddress",
          "parameters": {
            "includeOffices": {
              "description": "Whether to return information about offices and officials. If false, only the top-level district information will be returned.",
              "location": "query",
              "type": "boolean",
              "default": "true"
            },
            "address": {
              "type": "string",
              "description": "The address to look up. May only be specified if the field ocdId is not given in the URL",
              "location": "query"
            },
            "levels": {
              "description": "A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.",
              "enum": [
                "international",
                "country",
                "administrativeArea1",
                "regional",
                "administrativeArea2",
                "locality",
                "subLocality1",
                "subLocality2",
                "special"
              ],
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            },
            "roles": {
              "type": "string",
              "description": "A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true,
              "enum": [
                "headOfState",
                "headOfGovernment",
                "deputyHeadOfGovernment",
                "governmentOfficer",
                "executiveCouncil",
                "legislatorUpperBody",
                "legislatorLowerBody",
                "highestCourtJudge",
                "judge",
                "schoolBoard",
                "specialPurposeOfficer"
              ]
            }
          },
          "response": {
            "$ref": "RepresentativeInfoResponse"
          },
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/representatives",
          "description": "Looks up political geography and representative information for a single address.",
          "path": "civicinfo/v2/representatives"
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "id": "civicinfo.divisions.search",
          "httpMethod": "GET",
          "path": "civicinfo/v2/divisions",
          "flatPath": "civicinfo/v2/divisions",
          "parameters": {
            "query": {
              "type": "string",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DivisionSearchResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "elections": {
      "methods": {
        "electionQuery": {
          "path": "civicinfo/v2/elections",
          "parameters": {},
          "httpMethod": "GET",
          "response": {
            "$ref": "ElectionsQueryResponse"
          },
          "flatPath": "civicinfo/v2/elections",
          "id": "civicinfo.elections.electionQuery",
          "description": "List of available elections to query.",
          "parameterOrder": []
        },
        "voterInfoQuery": {
          "response": {
            "$ref": "VoterInfoResponse"
          },
          "parameters": {
            "address": {
              "description": "The registered address of the voter to look up.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "electionId": {
              "location": "query",
              "type": "string",
              "default": "0",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "format": "int64"
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "officialOnly": {
              "default": "false",
              "type": "boolean",
              "description": "If set to true, only data from official state sources will be returned.",
              "location": "query"
            }
          },
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo",
          "flatPath": "civicinfo/v2/voterinfo",
          "id": "civicinfo.elections.voterInfoQuery",
          "httpMethod": "GET",
          "parameterOrder": [
            "address"
          ]
        }
      }
    }
  },
  "rootUrl": "https://civicinfo.googleapis.com/"
}
