{
  "fullyEncodeReservedExpansion": true,
  "title": "Google Classroom API",
  "id": "classroom:v1",
  "discoveryVersion": "v1",
  "servicePath": "",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "resources": {
    "registrations": {
      "methods": {
        "delete": {
          "path": "v1/registrations/{registrationId}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "description": "Deletes a `Registration`, causing Classroom to stop sending notifications for that `Registration`.",
          "id": "classroom.registrations.delete",
          "flatPath": "v1/registrations/{registrationId}",
          "parameterOrder": [
            "registrationId"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "registrationId": {
              "type": "string",
              "description": "The `registration_id` of the `Registration` to be deleted.",
              "required": true,
              "location": "path"
            }
          }
        },
        "create": {
          "flatPath": "v1/registrations",
          "id": "classroom.registrations.create",
          "response": {
            "$ref": "Registration"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "httpMethod": "POST",
          "path": "v1/registrations",
          "description": "Creates a `Registration`, causing Classroom to start sending notifications from the provided `feed` to the destination provided in `cloudPubSubTopic`. Returns the created `Registration`. Currently, this will be the same as the argument, but with server-assigned fields such as `expiry_time` and `id` filled in. Note that any value specified for the `expiry_time` or `id` fields will be ignored. While Classroom may validate the `cloudPubSubTopic` and return errors on a best effort basis, it is the caller's responsibility to ensure that it exists and that Classroom has permission to publish to it. This method may return the following error codes: * `PERMISSION_DENIED` if: * the authenticated user does not have permission to receive notifications from the requested field; or * the current user has not granted access to the current Cloud project with the appropriate scope for the requested feed. Note that domain-wide delegation of authority is not currently supported for this purpose. If the request has the appropriate scope, but no grant exists, a Request Errors is returned. * another access error is encountered. * `INVALID_ARGUMENT` if: * no `cloudPubsubTopic` is specified, or the specified `cloudPubsubTopic` is not valid; or * no `feed` is specified, or the specified `feed` is not valid. * `NOT_FOUND` if: * the specified `feed` cannot be located, or the requesting user does not have permission to determine whether or not it exists; or * the specified `cloudPubsubTopic` cannot be located, or Classroom has not been granted permission to publish to it.",
          "request": {
            "$ref": "Registration"
          },
          "parameterOrder": []
        }
      }
    },
    "courses": {
      "resources": {
        "announcements": {
          "methods": {
            "modifyAssignees": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Announcement"
              },
              "description": "Modifies assignee mode and options of an announcement. Only a teacher of the course that contains the announcement may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
              "id": "classroom.courses.announcements.modifyAssignees",
              "request": {
                "$ref": "ModifyAnnouncementAssigneesRequest"
              },
              "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the announcement."
                }
              }
            },
            "patch": {
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the announcement.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `text` * `state` * `scheduled_time`"
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                }
              },
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "description": "Updates one or more fields of an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if the requested course or announcement does not exist",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.announcements.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Announcement"
              },
              "response": {
                "$ref": "Announcement"
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/announcements",
              "id": "classroom.courses.announcements.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`"
                },
                "courseId": {
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true
                },
                "announcementStates": {
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for announcement that has been published. This is the default state.",
                    "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
                    "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
                  ],
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "Restriction on the `state` of announcements returned. If this argument is left unspecified, the default value is `PUBLISHED`.",
                  "enum": [
                    "ANNOUNCEMENT_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ]
                }
              },
              "path": "v1/courses/{courseId}/announcements",
              "description": "Returns a list of announcements that the requester is permitted to view. Course students may only view `PUBLISHED` announcements. Course teachers and domain administrators may view all announcements. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "ListAnnouncementsResponse"
              }
            },
            "get": {
              "id": "classroom.courses.announcements.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "description": "Returns an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or announcement, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or announcement does not exist.",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "description": "Identifier of the announcement.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Announcement"
              },
              "path": "v1/courses/{courseId}/announcements/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}"
            },
            "create": {
              "path": "v1/courses/{courseId}/announcements",
              "flatPath": "v1/courses/{courseId}/announcements",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "request": {
                "$ref": "Announcement"
              },
              "id": "classroom.courses.announcements.create",
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "Announcement"
              },
              "httpMethod": "POST",
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "id": "classroom.courses.announcements.delete",
              "httpMethod": "DELETE",
              "description": "Deletes an announcement. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier."
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "path": "v1/courses/{courseId}/announcements/{id}"
            }
          }
        },
        "students": {
          "methods": {
            "create": {
              "flatPath": "v1/courses/{courseId}/students",
              "httpMethod": "POST",
              "request": {
                "$ref": "Student"
              },
              "response": {
                "$ref": "Student"
              },
              "description": "Adds a user as a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create students in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if the user is already a student or teacher in the course.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "path": "v1/courses/{courseId}/students",
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "enrollmentCode": {
                  "description": "Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "classroom.courses.students.create"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/students",
              "id": "classroom.courses.students.list",
              "parameterOrder": [
                "courseId"
              ],
              "description": "Returns a list of students of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                }
              },
              "response": {
                "$ref": "ListStudentsResponse"
              },
              "path": "v1/courses/{courseId}/students"
            },
            "delete": {
              "id": "classroom.courses.students.delete",
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "path": "v1/courses/{courseId}/students/{userId}",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "userId": {
                  "description": "Identifier of the student to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "description": "Deletes a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "get": {
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "httpMethod": "GET",
              "id": "classroom.courses.students.get",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "response": {
                "$ref": "Student"
              },
              "description": "Returns a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "path": "v1/courses/{courseId}/students/{userId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "description": "Identifier of the student to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "topics": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the topic to delete.",
                  "required": true
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                }
              },
              "id": "classroom.courses.topics.delete",
              "path": "v1/courses/{courseId}/topics/{id}",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "description": "Deletes a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not allowed to delete the requested topic or for access errors. * `FAILED_PRECONDITION` if the requested topic has already been deleted. * `NOT_FOUND` if no course or topic exists with the requested ID.",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "description": "Returns the list of topics that the requester is permitted to view. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "path": "v1/courses/{courseId}/topics",
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "id": "classroom.courses.topics.list",
              "response": {
                "$ref": "ListTopicResponse"
              },
              "flatPath": "v1/courses/{courseId}/topics",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer"
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "response": {
                "$ref": "Topic"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the topic."
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the topic to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Topic object. If a field that does not support empty values is included in the update mask and not set in the Topic object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified: * `name`",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "path": "v1/courses/{courseId}/topics/{id}",
              "description": "Updates one or more fields of a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding topic or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist",
              "request": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.topics.patch"
            },
            "create": {
              "description": "Creates a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create a topic in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "path": "v1/courses/{courseId}/topics",
              "flatPath": "v1/courses/{courseId}/topics",
              "id": "classroom.courses.topics.create",
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "response": {
                "$ref": "Topic"
              },
              "request": {
                "$ref": "Topic"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId"
              ]
            },
            "get": {
              "id": "classroom.courses.topics.get",
              "description": "Returns a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or topic, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "parameters": {
                "id": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the topic.",
                  "type": "string"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "path": "v1/courses/{courseId}/topics/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ]
            }
          }
        },
        "aliases": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1/courses/{courseId}/aliases",
              "response": {
                "$ref": "CourseAlias"
              },
              "request": {
                "$ref": "CourseAlias"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/courses/{courseId}/aliases",
              "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to access a domain-scoped alias).",
              "id": "classroom.courses.aliases.create",
              "parameterOrder": [
                "courseId"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses",
                "https://www.googleapis.com/auth/classroom.courses.readonly"
              ],
              "path": "v1/courses/{courseId}/aliases",
              "id": "classroom.courses.aliases.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "ListCourseAliasesResponse"
              },
              "flatPath": "v1/courses/{courseId}/aliases",
              "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "type": "string",
                  "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "v1/courses/{courseId}/aliases/{alias}",
              "id": "classroom.courses.aliases.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to delete a domain-scoped alias).",
              "parameterOrder": [
                "courseId",
                "alias"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "flatPath": "v1/courses/{courseId}/aliases/{alias}",
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string"
                },
                "alias": {
                  "location": "path",
                  "type": "string",
                  "description": "Alias to delete. This may not be the Classroom-assigned identifier.",
                  "required": true
                }
              }
            }
          }
        },
        "courseWorkMaterials": {
          "methods": {
            "create": {
              "description": "Creates a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work material in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed or if more than 20 * materials are provided. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "id": "classroom.courses.courseWorkMaterials.create",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "parameters": {
                "courseId": {
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "parameterOrder": [
                "courseId"
              ]
            },
            "get": {
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "id": "classroom.courses.courseWorkMaterials.get",
              "description": "Returns a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work material, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work material does not exist.",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "parameters": {
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course work material."
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "courseId",
                "id"
              ]
            },
            "list": {
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "ListCourseWorkMaterialResponse"
              },
              "parameters": {
                "courseWorkMaterialStates": {
                  "enum": [
                    "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "description": "Restriction on the work status to return. Only course work material that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for course work material that has been published. This is the default state.",
                    "Status for an course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
                    "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
                  ],
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "orderBy": {
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "materialDriveId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional filtering for course work material with at least one Drive material whose ID matches the provided string. If `material_link` is also specified, course work material must have materials matching both filters."
                },
                "materialLink": {
                  "description": "Optional filtering for course work material with at least one link material whose URL partially matches the provided string.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "description": "Returns a list of course work material that the requester is permitted to view. Course students may only view `PUBLISHED` course work material. Course teachers and domain administrators may view all course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "id": "classroom.courses.courseWorkMaterials.list",
              "path": "v1/courses/{courseId}/courseWorkMaterials"
            },
            "delete": {
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course work material to delete. This identifier is a Classroom-assigned identifier."
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Deletes a course work material. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work material item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work material, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "httpMethod": "DELETE",
              "id": "classroom.courses.courseWorkMaterials.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}"
            },
            "patch": {
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "description": "Updates one or more fields of a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if the requested course or course work material does not exist",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "id": {
                  "description": "Identifier of the course work material.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Mask that identifies which fields on the course work material to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the course work material object. If a field that does not support empty values is included in the update mask and not set in the course work material object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `scheduled_time` * `topic_id`"
                }
              },
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "httpMethod": "PATCH",
              "id": "classroom.courses.courseWorkMaterials.patch",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            }
          }
        },
        "courseWork": {
          "resources": {
            "studentSubmissions": {
              "methods": {
                "return": {
                  "description": "Returns a student submission. Returning a student submission transfers ownership of attached Drive files to the student and may also update the submission state. Unlike the Classroom application, returning a student submission does not set assignedGrade to the draftGrade value. Only a teacher of the course that contains the requested student submission may call this method. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, return the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "request": {
                    "$ref": "ReturnStudentSubmissionRequest"
                  },
                  "parameters": {
                    "courseWorkId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the course work."
                    },
                    "courseId": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the student submission.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ],
                  "id": "classroom.courses.courseWork.studentSubmissions.return",
                  "httpMethod": "POST",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "parameters": {
                    "courseId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                    },
                    "id": {
                      "description": "Identifier of the student submission.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "courseWorkId": {
                      "required": true,
                      "location": "path",
                      "description": "Identifier of the course work.",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Mask that identifies which fields on the student submission to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields may be specified by teachers: * `draft_grade` * `assigned_grade`",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates one or more fields of a student submission. See google.classroom.v1.StudentSubmission for details of which fields may be updated and who may change them. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "id": "classroom.courses.courseWork.studentSubmissions.patch",
                  "request": {
                    "$ref": "StudentSubmission"
                  },
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ],
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}"
                },
                "modifyAttachments": {
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                  "httpMethod": "POST",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                  "parameters": {
                    "courseWorkId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the course work."
                    },
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "id": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the student submission."
                    }
                  },
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "id": "classroom.courses.courseWork.studentSubmissions.modifyAttachments",
                  "request": {
                    "$ref": "ModifyAttachmentsRequest"
                  },
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "description": "Modifies attachments of student submission. Attachments may only be added to student submissions belonging to course work objects with a `workType` of `ASSIGNMENT`. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, if the user is not permitted to modify attachments on the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ]
                },
                "list": {
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions",
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId"
                  ],
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions",
                  "response": {
                    "$ref": "ListStudentSubmissionsResponse"
                  },
                  "parameters": {
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                    },
                    "pageSize": {
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "states": {
                      "description": "Requested submission states. If specified, returned student submissions match one of the specified submission states.",
                      "enum": [
                        "SUBMISSION_STATE_UNSPECIFIED",
                        "NEW",
                        "CREATED",
                        "TURNED_IN",
                        "RETURNED",
                        "RECLAIMED_BY_STUDENT"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "No state specified. This should never be returned.",
                        "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
                        "Has been created.",
                        "Has been turned in to the teacher.",
                        "Has been returned to the student.",
                        "Student chose to \"unsubmit\" the assignment."
                      ],
                      "repeated": true
                    },
                    "userId": {
                      "description": "Optional argument to restrict returned student work to those owned by the student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                      "type": "string",
                      "location": "query"
                    },
                    "courseWorkId": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the student work to request. This may be set to the string literal `\"-\"` to request student work for all course work in the specified course.",
                      "type": "string"
                    },
                    "late": {
                      "type": "string",
                      "description": "Requested lateness value. If specified, returned student submissions are restricted by the requested value. If unspecified, submissions are returned regardless of `late` value.",
                      "location": "query",
                      "enum": [
                        "LATE_VALUES_UNSPECIFIED",
                        "LATE_ONLY",
                        "NOT_LATE_ONLY"
                      ],
                      "enumDescriptions": [
                        "No restriction on submission late values specified.",
                        "Return StudentSubmissions where late is true.",
                        "Return StudentSubmissions where late is false."
                      ]
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                    "https://www.googleapis.com/auth/classroom.coursework.students",
                    "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                  ],
                  "id": "classroom.courses.courseWork.studentSubmissions.list",
                  "description": "Returns a list of student submissions that the requester is permitted to view, factoring in the OAuth scopes of the request. `-` may be specified as the `course_work_id` to include student submissions for multiple course work items. Course students may only view their own work. Course teachers and domain administrators may view all student submissions. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist."
                },
                "turnIn": {
                  "request": {
                    "$ref": "TurnInStudentSubmissionRequest"
                  },
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "description": "Turns in a student submission. Turning in a student submission transfers ownership of attached Drive files to the teacher and may also update the submission state. This may only be called by the student that owns the specified student submission. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, turn in the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "parameters": {
                    "courseWorkId": {
                      "required": true,
                      "description": "Identifier of the course work.",
                      "location": "path",
                      "type": "string"
                    },
                    "id": {
                      "description": "Identifier of the student submission.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "courseId": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "location": "path"
                    }
                  },
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn",
                  "httpMethod": "POST",
                  "id": "classroom.courses.courseWork.studentSubmissions.turnIn"
                },
                "reclaim": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                  "parameters": {
                    "id": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the student submission.",
                      "type": "string"
                    },
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "courseWorkId": {
                      "required": true,
                      "description": "Identifier of the course work.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Reclaims a student submission on behalf of the student that owns it. Reclaiming a student submission transfers ownership of attached Drive files to the student and updates the submission state. Only the student that owns the requested student submission may call this method, and only for a student submission that has been turned in. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, unsubmit the requested student submission, or for access errors. * `FAILED_PRECONDITION` if the student submission has not been turned in. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "id": "classroom.courses.courseWork.studentSubmissions.reclaim",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "ReclaimStudentSubmissionRequest"
                  },
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ]
                },
                "get": {
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "httpMethod": "GET",
                  "id": "classroom.courses.courseWork.studentSubmissions.get",
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "description": "Returns a student submission. * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, course work, or student submission or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                    "https://www.googleapis.com/auth/classroom.coursework.students",
                    "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                  ],
                  "parameters": {
                    "courseWorkId": {
                      "location": "path",
                      "description": "Identifier of the course work.",
                      "type": "string",
                      "required": true
                    },
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                    },
                    "id": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the student submission."
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}"
                }
              }
            }
          },
          "methods": {
            "modifyAssignees": {
              "response": {
                "$ref": "CourseWork"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "path": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
              "request": {
                "$ref": "ModifyCourseWorkAssigneesRequest"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Modifies assignee mode and options of a coursework. Only a teacher of the course that contains the coursework may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
              "flatPath": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the coursework.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "classroom.courses.courseWork.modifyAssignees"
            },
            "list": {
              "response": {
                "$ref": "ListCourseWorkResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "orderBy": {
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported fields are `updateTime` and `dueDate`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `dueDate asc,updateTime desc`, `updateTime,dueDate desc`",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "courseWorkStates": {
                  "enum": [
                    "COURSE_WORK_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "description": "Restriction on the work status to return. Only courseWork that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for work that has been published. This is the default state.",
                    "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
                    "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
                  ],
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "classroom.courses.courseWork.list",
              "parameterOrder": [
                "courseId"
              ],
              "description": "Returns a list of course work that the requester is permitted to view. Course students may only view `PUBLISHED` course work. Course teachers and domain administrators may view all course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "path": "v1/courses/{courseId}/courseWork",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork"
            },
            "delete": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "id": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course work to delete. This identifier is a Classroom-assigned identifier.",
                  "type": "string"
                },
                "courseId": {
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "classroom.courses.courseWork.delete",
              "description": "Deletes a course work. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork/{id}"
            },
            "get": {
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "response": {
                "$ref": "CourseWork"
              },
              "httpMethod": "GET",
              "description": "Returns course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course work."
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "id": "classroom.courses.courseWork.get",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ]
            },
            "patch": {
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course work.",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Mask that identifies which fields on the course work to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the CourseWork object. If a field that does not support empty values is included in the update mask and not set in the CourseWork object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `due_date` * `due_time` * `max_points` * `scheduled_time` * `submission_modification_mode` * `topic_id`",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CourseWork"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "httpMethod": "PATCH",
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "request": {
                "$ref": "CourseWork"
              },
              "id": "classroom.courses.courseWork.patch",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "description": "Updates one or more fields of a course work. See google.classroom.v1.CourseWork for details of which fields may be updated and who may change them. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if the requested course, course work, or student submission does not exist."
            },
            "create": {
              "description": "Creates course work. The resulting course work (and corresponding student submissions) are associated with the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to make the request. Classroom API requests to modify course work and student submissions must be made with an OAuth client ID from the associated Developer Console project. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "path": "v1/courses/{courseId}/courseWork",
              "request": {
                "$ref": "CourseWork"
              },
              "response": {
                "$ref": "CourseWork"
              },
              "flatPath": "v1/courses/{courseId}/courseWork",
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId"
              ],
              "id": "classroom.courses.courseWork.create",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              }
            }
          }
        },
        "teachers": {
          "methods": {
            "create": {
              "parameterOrder": [
                "courseId"
              ],
              "description": "Creates a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "httpMethod": "POST",
              "request": {
                "$ref": "Teacher"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/teachers",
              "id": "classroom.courses.teachers.create",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Teacher"
              },
              "path": "v1/courses/{courseId}/teachers"
            },
            "delete": {
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "description": "Deletes a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course.",
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "userId": {
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "classroom.courses.teachers.delete"
            },
            "get": {
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "response": {
                "$ref": "Teacher"
              },
              "httpMethod": "GET",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "id": "classroom.courses.teachers.get",
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                },
                "userId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "parameterOrder": [
                "courseId",
                "userId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/courses/{courseId}/teachers",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "path": "v1/courses/{courseId}/teachers",
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "classroom.courses.teachers.list",
              "parameterOrder": [
                "courseId"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Course"
          },
          "path": "v1/courses/{id}",
          "id": "classroom.courses.get",
          "flatPath": "v1/courses/{id}",
          "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "required": true,
              "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "parameterOrder": [
            "id"
          ]
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "id": "classroom.courses.delete",
          "path": "v1/courses/{id}",
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "parameters": {
            "id": {
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/courses/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "v1/courses",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "location": "query"
            },
            "courseStates": {
              "type": "string",
              "description": "Restricts returned courses to those in one of the specified states The default value is ACTIVE, ARCHIVED, PROVISIONED, DECLINED.",
              "repeated": true,
              "enumDescriptions": [
                "No course state. No returned Course message will use this value.",
                "The course is active.",
                "The course has been archived. You cannot modify it except to change it to a different state.",
                "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
                "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
                "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
              ],
              "enum": [
                "COURSE_STATE_UNSPECIFIED",
                "ACTIVE",
                "ARCHIVED",
                "PROVISIONED",
                "DECLINED",
                "SUSPENDED"
              ],
              "location": "query"
            },
            "teacherId": {
              "location": "query",
[...]
