{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "id": "cloudbilling:v1beta",
  "canonicalName": "Cloudbilling",
  "version": "v1beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "servicePath": "",
  "title": "Cloud Billing API",
  "revision": "20230813",
  "batchPath": "batch",
  "name": "cloudbilling",
  "schemas": {
    "CacheFillRegions": {
      "id": "CacheFillRegions",
      "properties": {
        "destinationRegion": {
          "description": "The destination region for cache fill.",
          "enum": [
            "CACHE_FILL_DESTINATION_REGION_UNSPECIFIED",
            "CACHE_FILL_DESTINATION_REGION_ASIA_PACIFIC",
            "CACHE_FILL_DESTINATION_REGION_EUROPE",
            "CACHE_FILL_DESTINATION_REGION_NORTH_AMERICA",
            "CACHE_FILL_DESTINATION_REGION_OCEANIA",
            "CACHE_FILL_DESTINATION_REGION_SOUTH_AMERICA",
            "CACHE_FILL_DESTINATION_REGION_CHINA",
            "CACHE_FILL_DESTINATION_REGION_OTHERS"
          ],
          "enumDescriptions": [
            "Not specified",
            "Asia Pacific",
            "Europe",
            "North America",
            "Oceania",
            "South America",
            "China",
            "Others"
          ],
          "type": "string"
        },
        "sourceRegion": {
          "enum": [
            "CACHE_FILL_SOURCE_REGION_UNSPECIFIED",
            "CACHE_FILL_REGION_ASIA_PACIFIC",
            "CACHE_FILL_SOURCE_REGION_EUROPE",
            "CACHE_FILL_SOURCE_REGION_NORTH_AMERICA",
            "CACHE_FILL_SOURCE_REGION_OCEANIA",
            "CACHE_FILL_SOURCE_REGION_SOUTH_AMERICA"
          ],
          "type": "string",
          "description": "The source region for cache fill.",
          "enumDescriptions": [
            "Not specified",
            "Asia Pacific",
            "Europe",
            "North America",
            "Oceania",
            "South America"
          ]
        }
      },
      "description": "Specifies the regions for Cache Fill.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "type": "object",
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
    },
    "Sku": {
      "id": "Sku",
      "properties": {
        "prices": {
          "type": "array",
          "items": {
            "$ref": "Price"
          },
          "description": "A timeline of prices for a SKU in chronological order. Note: The API currently only supports using a constant price for the entire estimation time frame so this list will contain a single value."
        },
        "sku": {
          "type": "string",
          "description": "The resource name for the SKU. Example: \"services/DA34-426B-A397/skus/AA95-CD31-42FE\""
        },
        "displayName": {
          "description": "The display name for the SKU. Example: A2 Instance Core running in Americas",
          "type": "string"
        }
      },
      "description": "Information about SKUs appearing in the cost estimate.",
      "type": "object"
    },
    "CloudInterconnectEgressWorkload": {
      "properties": {
        "interconnectConnectionLocation": {
          "enumDescriptions": [
            "Unspecified.",
            "Asia.",
            "Europe.",
            "North America.",
            "South America.",
            "Australia."
          ],
          "type": "string",
          "description": "Locations in the [Interconnect connection location table](https://cloud.google.com/vpc/network-pricing#interconnect-pricing). This is the interconnect egress charges.",
          "enum": [
            "INTERCONNECT_CONNECTION_LOCATION_UNSPECIFIED",
            "INTERCONNECT_CONNECTION_LOCATION_ASIA",
            "INTERCONNECT_CONNECTION_LOCATION_EUROPE",
            "INTERCONNECT_CONNECTION_LOCATION_NORTH_AMERICA",
            "INTERCONNECT_CONNECTION_LOCATION_SOUTH_AMERICA",
            "INTERCONNECT_CONNECTION_LOCATION_AUSTRALIA"
          ]
        },
        "egressRate": {
          "description": "Data egress usage. This usage applies when you move or copy data from one Google Cloud service to another service. Expected units such as \"GiBy/s, By/s, etc.\"",
          "$ref": "Usage"
        }
      },
      "id": "CloudInterconnectEgressWorkload",
      "description": "The interconnect egress only includes the Interconnect Egress. Please use the standard egress traffic interface to specify your standard egress usage.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          },
          "type": "array",
          "description": "All product categories that the billing account SKU group SKU belong to."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
    },
    "ScenarioConfig": {
      "type": "object",
      "properties": {
        "estimateDuration": {
          "type": "string",
          "description": "Time frame for the estimate. Workloads must specify usage for this duration. Duration must be at least 1 hour (3,600 seconds) and at most 10 years (315,360,000 seconds). The calculations for years and months are based on a 730-hour (2,628,000-second) month. For durations longer than one month (2,628,000 seconds), the duration is rounded up to the next month, so the estimate shows you the costs for full months. For example, a duration of 3,232,800 seconds (roughly 5 weeks) is rounded up to 2 months.",
          "format": "google-duration"
        }
      },
      "id": "ScenarioConfig",
      "description": "Configuration for a CostScenario. Specifies how costs are calculated."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
    },
    "CostScenario": {
      "properties": {
        "workloads": {
          "type": "array",
          "description": "The Google Cloud usage whose costs are estimated. A maximum of 100 workloads can be provided.",
          "items": {
            "$ref": "Workload"
          }
        },
        "commitments": {
          "items": {
            "$ref": "Commitment"
          },
          "description": "New commitments to estimate the costs for. The cost of the commitments will be included in the estimate result and discounts the commitment entitles will be included in the workload cost estimates. A maximum of 100 workloads can be provided.",
          "type": "array"
        },
        "scenarioConfig": {
          "description": "Configuration for the scenario.",
          "$ref": "ScenarioConfig"
        }
      },
      "id": "CostScenario",
      "type": "object",
      "description": "Encapsulates all the information needed to perform a cost estimate. It includes a specification of the Google Cloud usage whose costs are estimated, and configuration options."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "type": "object",
      "description": "Encapsulates a rate price tier.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "properties": {
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "properties": {
        "serviceId": {
          "type": "string",
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\"."
        },
        "name": {
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\"."
        }
      },
      "type": "object"
    },
    "CostEstimationResult": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. The ISO 4217 currency code for the cost estimate."
        },
        "skus": {
          "description": "Required. Information about SKUs used in the estimate.",
          "items": {
            "$ref": "Sku"
          },
          "type": "array"
        },
        "segmentCostEstimates": {
          "type": "array",
          "description": "Required. Estimated costs for each idealized month of a `CostScenario`.",
          "items": {
            "$ref": "SegmentCostEstimate"
          }
        }
      },
      "id": "CostEstimationResult",
      "description": "The result of a estimating the costs of a `CostScenario`."
    },
    "CostEstimate": {
      "description": "An estimated cost.",
      "properties": {
        "preCreditCostEstimate": {
          "$ref": "Money",
          "description": "The estimated cost prior to applying credits."
        },
        "netCostEstimate": {
          "description": "The estimated net cost after applying credits.",
          "$ref": "Money"
        },
        "creditEstimates": {
          "type": "array",
          "items": {
            "$ref": "CreditEstimate"
          },
          "description": "The estimated credits applied."
        }
      },
      "type": "object",
      "id": "CostEstimate"
    },
    "VlanAttachment": {
      "type": "object",
      "properties": {
        "vlanCount": {
          "$ref": "Usage",
          "description": "VLAN usage. This is specified as a unitless quantity which indicates the number of VLAN attachment used in interconnect."
        },
        "bandwidth": {
          "enumDescriptions": [
            "Unspecified",
            "50 Mbit/s",
            "100 Mbit/s",
            "200 Mbit/s",
            "300 Mbit/s",
            "400 Mbit/s",
            "500 Mbit/s",
            "1 Gbit/s",
            "2 Gbit/s",
            "5 Gbit/s",
            "10 Gbit/s",
            "20 Gbit/s",
            "50 Gbit/s"
          ],
          "enum": [
            "BANDWIDTH_UNSPECIFIED",
            "BANDWIDTH_BPS_50M",
            "BANDWIDTH_BPS_100M",
            "BANDWIDTH_BPS_200M",
            "BANDWIDTH_BPS_300M",
            "BANDWIDTH_BPS_400M",
            "BANDWIDTH_BPS_500M",
            "BANDWIDTH_BPS_1G",
            "BANDWIDTH_BPS_2G",
            "BANDWIDTH_BPS_5G",
            "BANDWIDTH_BPS_10G",
            "BANDWIDTH_BPS_20G",
            "BANDWIDTH_BPS_50G"
          ],
          "type": "string",
          "description": "Capacities in the [pricing table](https://cloud.google.com/vpc/network-pricing#interconnect-pricing) Examples of capacity are: 50/100/200/300/400/500-Mbps, 1/2/5/10/20/50-Gbps."
        }
      },
      "id": "VlanAttachment",
      "description": "VLAN attachment for Cloud Interconnect."
    },
    "CloudCdnEgressWorkload": {
      "id": "CloudCdnEgressWorkload",
      "type": "object",
      "properties": {
        "cacheEgressDestination": {
          "type": "string",
          "enum": [
            "CACHE_EGRESS_DESTINATION_UNSPECIFIED",
            "CACHE_EGRESS_DESTINATION_ASIA_PACIFIC",
            "CACHE_EGRESS_DESTINATION_CHINA",
            "CACHE_EGRESS_DESTINATION_EUROPE",
            "CACHE_EGRESS_DESTINATION_NORTH_AMERICA",
            "CACHE_EGRESS_DESTINATION_OCEANIA",
            "CACHE_EGRESS_DESTINATION_LATIN_AMERICA",
            "CACHE_EGRESS_DESTINATION_OTHER_DESTINATIONS"
          ],
          "description": "The destination for the cache egress charges.",
          "enumDescriptions": [
            "Unspecified.",
            "Asia Pacific.",
            "China.",
            "Europe.",
            "North America.",
            "Oceania including Australia, New Zealand, and surrounding Pacific Ocean islands such as Papua New Guinea and Fiji. This region excludes Hawaii.",
            "Latin America (Including the Caribbean, South America and Central America.)",
            "All other destinations (including Africa and Antarctica)"
          ]
        },
        "cacheEgressRate": {
          "$ref": "Usage",
          "description": "Cache egress usage. The rate of data cache egressed in the destination. For example : units such as \"GiBy/s\" or \"TBy/mo\"."
        }
      },
      "description": "Specifies usage for Cloud CDN egress."
    },
    "Decimal": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "type": "object",
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html"
    },
    "PersistentDisk": {
      "description": "Specification of a persistent disk attached to a VM.",
      "type": "object",
      "id": "PersistentDisk",
      "properties": {
        "diskSize": {
          "$ref": "Usage",
          "description": "Specifies the size of disk. Must be at least 10 GB."
        },
        "scope": {
          "description": "The geographic scope of the disk. Defaults to `SCOPE_ZONAL` if not specified.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_ZONAL",
            "SCOPE_REGIONAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The disk exists in a single zone.",
            "The disk is replicated in a secondary zone within the same region."
          ],
          "type": "string"
        },
        "provisionedIops": {
          "$ref": "Usage",
          "description": "Indicates how many IOPS to provision for the disk for extreme persistent disks. This sets the number of I/O operations per second that the disk can handle. Values must be between 10,000 and 120,000."
        },
        "diskType": {
          "type": "string",
          "description": "The [disk type](https://cloud.google.com/compute/docs/disks#disk-types). For example: \"pd-standard\"."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkus": {
          "description": "The returned billing account SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "description": "Response message for ListBillingAccountSkus."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      }
    },
    "CloudCdnWorkload": {
      "description": "Specifies usage for Cloud CDN resources.",
      "properties": {
        "cacheFillRate": {
          "$ref": "Usage",
          "description": "Cache fill usage. The rate of data transferred between cache fill regions. For example: units such as \"GiBy/s\" or \"TBy/mo\"."
        },
        "cacheFillRegions": {
          "$ref": "CacheFillRegions",
          "description": "The regions where data is transferred from Google data locations into Google global cache servers. The SKU prices for cache fill across services are the same."
        },
        "cacheLookUpRate": {
          "description": "Cache look up requests. This is specified to indicate the number of requests. For example: units such as \"1/s\".",
          "$ref": "Usage"
        },
        "cacheFillOriginService": {
          "enumDescriptions": [
            "Not specified.",
            "Origin service is Google Cloud Storage.",
            "Origin service is backend service, such as Compute VMs, external backend, etc."
          ],
          "description": "The source service for the cache fill.",
          "enum": [
            "CACHE_FILL_ORIGIN_SERVICE_UNSPECIFIED",
            "CACHE_FILL_ORIGIN_SERVICE_GOOGLE_CLOUD_STORAGE_BUCKET",
            "CACHE_FILL_ORIGIN_SERVICE_BACKEND_SERVICE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudCdnWorkload"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "properties": {
        "sourceSku": {
          "type": "string",
          "description": "Source SKU where the discount is migrated from."
        },
        "type": {
          "description": "Type of the migrated price. It can have values such as 'source-discount-on-target-price'.",
          "type": "string"
        },
        "sourceDiscountOnTargetPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaSourceDiscountOnTargetPrice",
          "description": "The source SKU floating discount is applied on the target SKU's default price."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "type": "object",
      "description": "Encapsulates a price migrated from other SKUs."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountServices": {
          "type": "array",
          "description": "The returned billing account services.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListBillingAccountServices."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "properties": {},
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
    },
    "DualRegional": {
      "properties": {
        "name": {
          "description": "The [location name](https://cloud.google.com/storage/docs/locations#available-locations) where the data is stored. For example: \"asia1\" for dual region.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Area contains dual locations.",
      "id": "DualRegional"
    },
    "VmToVmEgressWorkload": {
      "type": "object",
      "properties": {
        "interRegionEgress": {
          "$ref": "InterRegionEgress"
        },
        "intraRegionEgress": {
          "$ref": "IntraRegionEgress"
        }
      },
      "description": "Specify VM to VM egress.",
      "id": "VmToVmEgressWorkload"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaSourceDiscountOnTargetPrice": {
      "properties": {
        "migratedDiscountPercent": {
          "$ref": "Decimal",
          "description": "Discount percent of the source SKU that is applied on the target SKU's default price."
        }
      },
      "description": "Encapsulates a type of MigratedPrice where the source SKU floating discount is applied on the target SKU's default price.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaSourceDiscountOnTargetPrice",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "description": "Encapsulates a rate price tier.",
      "type": "object",
      "properties": {
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "description": "Encapsulates a regional geographic taxonomy.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroups.",
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "properties": {
        "skuGroups": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "The returned publicly listed SKU groups.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "type": "object",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
    },
    "PremiumTierEgressWorkload": {
      "description": "Specify Premium Tier Internet egress networking.",
      "id": "PremiumTierEgressWorkload",
      "properties": {
        "egressRate": {
          "$ref": "Usage",
          "description": "Premium Tier egress usage. Expected units such as \"GiBy/s, By/s, etc.\""
        },
        "sourceRegion": {
          "description": "Which [region](https://cloud.google.com/compute/docs/regions-zones) the egress data comes from.",
          "type": "string"
        },
        "destinationContinent": {
          "enumDescriptions": [
            "Not specified.",
            "Asia Pacific.",
            "Africa.",
            "North America.",
            "Australia.",
            "Central America.",
            "China.",
            "Eastern Europe.",
            "Western Europe.",
            "Other regions in Europe, Middle East and Africa.",
            "India",
            "Middle East.",
            "South America."
          ],
          "enum": [
            "DESTINATION_CONTINENT_UNSPECIFIED",
            "DESTINATION_CONTINENT_ASIA_PACIFIC",
            "DESTINATION_CONTINENT_AFRICA",
            "DESTINATION_CONTINENT_NORTH_AMERICA",
            "DESTINATION_CONTINENT_AUTRALIA",
            "DESTINATION_CONTINENT_CENTRAL_AMERICA",
            "DESTINATION_CONTINENT_CHINA",
            "DESTINATION_CONTINENT_EASTERN_EUROPE",
            "DESTINATION_CONTINENT_WESTERN_EUROPE",
            "DESTINATION_CONTINENT_EMEA",
            "DESTINATION_CONTINENT_INDIA",
            "DESTINATION_CONTINENT_MIDDLE_EAST",
            "DESTINATION_CONTINENT_SOUTH_AMERICA"
          ],
          "description": "Where the data is sent to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuestAccelerator": {
      "properties": {
        "acceleratorType": {
          "description": "The type of the guest accelerator cards. For example: \"nvidia-tesla-t4\".",
          "type": "string"
        },
        "acceleratorCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of the guest accelerator cards exposed to each instance."
        }
      },
      "description": "Specification of a set of guest accelerators attached to a machine.",
      "id": "GuestAccelerator",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "properties": {
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "type": "string"
        },
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ]
        }
      },
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price."
    },
    "Price": {
      "id": "Price",
      "description": "The price of a SKU at a point int time.",
      "properties": {
        "rate": {
          "$ref": "Rate",
          "description": "A set of tiered rates."
        },
        "effectiveTime": {
          "$ref": "EstimationTimePoint",
          "description": "The timestamp within the estimation time frame when the price was set."
        },
        "priceType": {
          "type": "string",
          "description": "The type of price. Possible values: \"RATE\""
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "type": "array",
          "description": "All product categories that the SKU group SKU belongs to."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "properties": {
        "migratedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
          "description": "Price migrated from other SKUs."
        },
        "mergedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
          "description": "Price after merging from multiple sources."
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can values such as 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        },
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "fixedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
          "description": "Fixed price applicable during the terms of a contract agreement."
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        }
      },
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "type": "object"
    },
    "SegmentCostEstimate": {
      "description": "Workload cost estimates for a single time segment.",
      "type": "object",
      "properties": {
        "segmentTotalCostEstimate": {
          "$ref": "CostEstimate",
          "description": "Total estimated costs for the time segment."
        },
        "workloadCostEstimates": {
          "items": {
            "$ref": "WorkloadCostEstimate"
          },
          "type": "array",
          "description": "Estimated costs for each workload."
        },
        "segmentStartTime": {
          "description": "Timestamp for the start of the segment.",
          "$ref": "EstimationTimePoint"
        },
        "commitmentCostEstimates": {
          "type": "array",
          "items": {
            "$ref": "CommitmentCostEstimate"
          },
          "description": "Estimated costs for each commitment."
        }
      },
      "id": "SegmentCostEstimate"
    },
    "WorkloadCostEstimate": {
      "description": "Estimated cost for a workload.",
      "properties": {
        "skuCostEstimates": {
          "type": "array",
          "description": "Estimated costs for each SKU in the workload.",
          "items": {
            "$ref": "SkuCostEstimate"
          }
        },
        "workloadTotalCostEstimate": {
          "description": "Total estimated costs for the workload.",
          "$ref": "CostEstimate"
        },
        "name": {
          "type": "string",
          "description": "The name of the workload, as specified in the `CostScenario`."
        }
      },
      "type": "object",
      "id": "WorkloadCostEstimate"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object"
    },
    "SkuCostEstimate": {
      "id": "SkuCostEstimate",
      "description": "Estimated cost for usage on a SKU.",
      "properties": {
        "costEstimate": {
          "$ref": "CostEstimate",
          "description": "The estimated cost for the usage on this SKU."
        },
        "usageAmount": {
          "type": "number",
          "format": "double",
          "description": "The amount of usage on this SKU."
        },
        "sku": {
          "type": "string",
          "description": "The resource name for the SKU. Example: \"services/DA34-426B-A397/skus/AA95-CD31-42FE\" More information about the SKU can be found in the `skus` field of the `CostEstimationResult`."
        },
        "usageUnit": {
          "type": "string",
          "description": "The unit for the usage on this SKU."
        }
      },
      "type": "object"
    },
    "EstimateCostScenarioForBillingAccountRequest": {
      "properties": {
        "costScenario": {
          "$ref": "CostScenario",
          "description": "The scenario to estimate costs for."
        }
      },
      "description": "Request for EstimateCostScenarioForBillingAccount.",
      "id": "EstimateCostScenarioForBillingAccountRequest",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "IntraRegionEgress": {
      "id": "IntraRegionEgress",
      "properties": {
        "egressRate": {
          "$ref": "Usage",
          "description": "VM to VM egress usage. Expected units such as \"GiBy/s, By/s, etc.\""
        }
      },
      "description": "Egress traffic within the same region. When source region and destination region are in the same zone, using the internal IP addresses, there isn't any egress charge.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy."
    },
    "EstimateCostScenarioWithListPriceResponse": {
      "properties": {
        "costEstimationResult": {
          "$ref": "CostEstimationResult",
          "description": "The result of the cost estimation."
        }
      },
      "type": "object",
      "description": "Response for EstimateCostScenarioWithListPrice",
      "id": "EstimateCostScenarioWithListPriceResponse"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "description": "Encapsulates a default price which is the current list price.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "type": "object",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string",
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkuGroups": {
          "description": "The returned publicly listed billing account SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "description": "Response message for ListBillingAccountSkuGroups."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      },
      "type": "object",
      "id": "Money"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        }
      },
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
    },
    "EstimateCostScenarioWithListPriceRequest": {
      "type": "object",
      "description": "Request for EstimateCostScenarioWithListPrice.",
      "properties": {
        "costScenario": {
          "$ref": "CostScenario",
          "description": "The scenario to estimate costs for."
        }
      },
      "id": "EstimateCostScenarioWithListPriceRequest"
    },
    "ComputeVmWorkload": {
      "type": "object",
      "properties": {
        "preemptible": {
          "description": "Defines whether each instance is preemptible.",
          "type": "boolean"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "Premium image licenses used by each instance.",
          "type": "array"
        },
        "machineType": {
          "$ref": "MachineType",
          "description": "The machine type."
        },
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Defines whether each instance has confidential compute enabled."
        },
        "region": {
          "description": "The [region](https://cloud.google.com/compute/docs/regions-zones) where the VMs run. For example: \"us-central1\".",
          "type": "string"
        },
        "instancesRunning": {
          "$ref": "Usage",
          "description": "VM usage. This is specified as a unitless quantity which indicates the number of instances running."
        },
        "persistentDisks": {
          "items": {
            "$ref": "PersistentDisk"
          },
          "type": "array",
          "description": "Persistent disks attached to each instance. Must include a boot disk."
        },
        "guestAccelerator": {
          "$ref": "GuestAccelerator",
          "description": "Guest accelerators attached to each machine."
        }
      },
      "id": "ComputeVmWorkload",
      "description": "Specificies usage of a set of identical compute VM instances."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        },
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
    },
    "Usage": {
      "type": "object",
      "description": "An amount of usage over a time frame.",
      "id": "Usage",
      "properties": {
        "usageRateTimeline": {
          "$ref": "UsageRateTimeline",
          "description": "A timeline of usage rates over the estimate interval."
        }
      }
    },
    "CloudStorageWorkload": {
      "properties": {
        "dataStored": {
          "$ref": "Usage",
          "description": "Data storage usage. The amount of data stored in buckets. For example: units such as \"GiBy/s\" or \"TBy/mo\"."
        },
        "storageClass": {
          "description": "The [storage class](https://cloud.google.com/storage/docs/storage-classes#classes) of the data and operation. For example: \"standard\" and \"nearline\".",
          "type": "string"
        },
        "multiRegion": {
          "$ref": "MultiRegional",
          "description": "Specify multi regions."
        },
        "operationA": {
          "$ref": "Usage",
          "description": "Class A operation usage in Cloud Storage, such as listing the objects in buckets. See the [operations pricing](https://cloud.google.com/storage/pricing#operations-pricing) tables for a list of which operations fall into each class. For example: units such as \"1/s\"."
        },
        "operationB": {
          "description": "Class B operation usage in Cloud Storage, such as `getIamPolicy`. See the [operations pricing](https://cloud.google.com/storage/pricing#operations-pricing) tables for a list of which operations fall into each class. For example: units such as \"1/s\".",
          "$ref": "Usage"
        },
        "dataRetrieval": {
          "$ref": "Usage",
          "description": "Data retrieval usage. A retrieval cost applies when data or metadata is read, copied, or rewritten . For example: units such as \"GiBy/s\" or \"By/s\"."
        },
        "region": {
          "$ref": "Regional",
          "description": "Specify a single region."
        },
        "dualRegion": {
          "$ref": "DualRegional",
          "description": "Specify dual regions."
        }
      },
      "description": "Specifies usage of Cloud Storage resources.",
      "id": "CloudStorageWorkload",
      "type": "object"
    },
    "CloudStorageEgressWorkload": {
      "id": "CloudStorageEgressWorkload",
      "type": "object",
      "properties": {
        "sourceContinent": {
          "type": "string",
          "description": "Where the data comes from.",
          "enum": [
            "SOURCE_CONTINENT_UNSPECIFIED",
            "SOURCE_CONTINENT_ASIA_PACIFIC",
            "SOURCE_CONTINENT_AUSTRALIA",
            "SOURCE_CONTINENT_EUROPE",
            "SOURCE_CONTINENT_NORTH_AMERICA",
            "SOURCE_CONTINENT_SOUTH_AMERICA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Asia Pacific.",
            "Australia.",
            "Europe.",
            "North America.",
            "South America."
          ]
        },
        "destinationContinent": {
          "enum": [
            "DESTINATION_CONTINENT_UNSPECIFIED",
            "DESTINATION_CONTINENT_ASIA_PACIFIC",
            "DESTINATION_CONTINENT_AUTRALIA",
            "DESTINATION_CONTINENT_EUROPE",
            "DESTINATION_CONTINENT_NORTH_AMERICA",
            "DESTINATION_CONTINENT_SOUTH_AMERICA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Asia Pacific.",
            "Australia.",
            "Europe.",
            "North America.",
            "South America"
          ],
          "description": "Where the data is sent to.",
          "type": "string"
        },
        "egressRate": {
          "description": "Egress usage rate. This usage applies when you move or copy data from one Cloud Storage bucket to another or when another Google Cloud service accesses data in your Cloud Storage bucket. Expected units such as \"GiBy/s, By/s, ...\"",
          "$ref": "Usage"
        }
      },
      "description": "Specification of a network type. Network egress within Google Cloud applies when you move or copy data from one Cloud Storage bucket to another or when another Google Cloud service accesses data in your Cloud Storage bucket.This includes the network egress within Google Cloud and the general network usage."
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "description": "Encapsulates the latest price for the given SKU.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        },
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "EstimateCostScenarioForBillingAccountResponse": {
      "description": "Response for EstimateCostScenarioForBillingAccount",
      "type": "object",
      "id": "EstimateCostScenarioForBillingAccountResponse",
      "properties": {
        "costEstimationResult": {
          "description": "The result of the cost estimation.",
          "$ref": "CostEstimationResult"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
    },
    "Workload": {
      "id": "Workload",
      "type": "object",
      "properties": {
        "premiumTierEgressWorkload": {
          "$ref": "PremiumTierEgressWorkload",
          "description": "Usage on Premium Tier Internet Egress."
        },
        "cloudCdnWorkload": {
          "description": "Usage on Google Cloud CDN.",
          "$ref": "CloudCdnWorkload"
        },
        "cloudCdnEgressWorkload": {
          "description": "Usage on Google Cloud CDN Egress.",
          "$ref": "CloudCdnEgressWorkload"
        },
        "cloudStorageEgressWorkload": {
          "$ref": "CloudStorageEgressWorkload",
          "description": "Usage on a cloud storage egress."
        },
        "cloudInterconnectWorkload": {
          "$ref": "CloudInterconnectWorkload",
          "description": "Usage on Google Cloud Interconnect."
        },
        "computeVmWorkload": {
          "$ref": "ComputeVmWorkload",
          "description": "Usage of a Google Compute Engine Virtual Machine."
        },
        "cloudInterconnectEgressWorkload": {
          "$ref": "CloudInterconnectEgressWorkload",
          "description": "Usage on Google Cloud Interconnect Egress."
        },
        "cloudStorageWorkload": {
          "description": "Usage on Google Cloud Storage.",
          "$ref": "CloudStorageWorkload"
        },
        "name": {
          "type": "string",
          "description": "Required. A name for this workload. All workloads in a `CostScenario` must have a unique `name`. Each `name` may be at most 128 characters long."
        },
        "vmToVmEgressWorkload": {
          "description": "Usage on Vm to Vm Egress.",
          "$ref": "VmToVmEgressWorkload"
        },
        "standardTierEgressWorkload": {
          "$ref": "StandardTierEgressWorkload",
          "description": "Usage on Standard Tier Internet Egress."
        }
      },
      "description": "Specifies usage on a single Google Cloud product over a time frame. Each Google Cloud product has its own message, containing specific product configuration parameters of the product usage amounts along each dimension in which the product is billed."
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "type": "object",
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        },
        "tiers": {
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price.",
          "type": "array"
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaRate"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroupSkus.",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          }
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
    },
    "Commitment": {
      "id": "Commitment",
      "properties": {
        "vmResourceBasedCud": {
          "description": "A resource-based committed use discount (CUD).",
          "$ref": "VmResourceBasedCud"
        },
        "name": {
          "type": "string",
          "description": "Required. A name for this commitment. All commitments in a CostScenario must have unique names. Each name may be at most 128 characters long."
        }
      },
      "type": "object",
      "description": "Commitments give you the ability to pay a recurring fee in exchange for a benefit, such as a discount for your use. For example, this object might contain details of a [spend-based committed use discount (CUD)](https://cloud.google.com/docs/cuds#spend_based_commitments). Within a CostScenario, adding a commitment includes the cost of the commitment and any discounts."
    },
    "Rate": {
      "properties": {
        "unitCount": {
          "format": "double",
          "type": "number",
          "description": "The SKU's count for the pricing unit. For example, if the tier price is $1 per 1000000 Bytes, then this column will show 1000000."
        },
        "unit": {
          "description": "The SKU's pricing unit. For example, if the tier price is $1 per 1000000 Bytes, then this field will show 'By'. The `start_amount` field in each tier will be in this unit.",
          "type": "string"
        },
        "tiers": {
          "type": "array",
          "description": "The service tiers.",
          "items": {
            "$ref": "RateTier"
          }
        }
      },
      "description": "A SKU price consisting of tiered rates.",
      "id": "Rate",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "type": "object",
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      }
    },
    "InterRegionEgress": {
      "properties": {
        "egressRate": {
          "description": "VM to VM egress usage. Expected units such as \"GiBy/s, By/s, etc.\"",
          "$ref": "Usage"
        },
        "sourceRegion": {
          "description": "Which [region](https://cloud.google.com/compute/docs/regions-zones) the egress data comes from.",
          "type": "string"
        },
        "destinationRegion": {
          "description": "Which [region](https://cloud.google.com/compute/docs/regions-zones) the egress data goes to.",
          "type": "string"
        }
      },
      "id": "InterRegionEgress",
      "type": "object",
      "description": "Egress traffic between two regions."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "properties": {
        "level": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "type": "string"
        },
        "interval": {
          "type": "string",
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
    },
    "CreditEstimate": {
      "properties": {
        "creditType": {
          "description": "The credit type.",
          "type": "string"
        },
        "creditAmount": {
          "$ref": "Money",
          "description": "The estimated credit amount."
        },
        "creditDescription": {
          "type": "string",
          "description": "The credit description."
        }
      },
      "type": "object",
      "id": "CreditEstimate",
      "description": "An estimated credit applied to the costs on a SKU."
    },
    "VmResourceBasedCud": {
      "type": "object",
      "properties": {
        "machineSeries": {
          "description": "The machine series for CUD. For example: \"n1\" for general purpose N1 machine type commitments. \"n2\" for general purpose N2 machine type commitments. \"e2\" for general purpose E2 machine type commitments. \"n2d\" for general purpose N2D machine type commitments. \"t2d\" for general purpose T2D machine type commitments. \"c2\"/\"c2d\" for compute-optimized commitments. \"m1\"/\"m2\" for the memory-optimized commitments. \"a2' for the accelerator-optimized commitments.",
          "type": "string"
        },
        "region": {
          "description": "The region where the VM runs. For example: \"us-central1\"",
          "type": "string"
        },
        "virtualCpuCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of vCPUs. The number of vCPUs must be an integer of 0 or more and can be even or odd."
        },
        "memorySizeGb": {
          "format": "double",
          "type": "number",
          "description": "Memory size of the VM in GB (2^30 bytes). Must be an increment of 0.25 (256 MB)."
        },
        "guestAccelerator": {
          "$ref": "GuestAccelerator",
          "description": "Guest accelerator, known as GPU."
        },
        "plan": {
          "enumDescriptions": [
            "Not specified commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ],
          "description": "Commitment usage plan.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "TWELVE_MONTH",
            "THIRTY_SIX_MONTH"
          ],
          "type": "string"
        }
      },
      "description": "Specifies a resource-based committed use discount (CUD).",
      "id": "VmResourceBasedCud"
    },
    "UsageRateTimelineEntry": {
      "properties": {
        "effectiveTime": {
          "description": "The effective time for this entry. The usage rate is in effect starting at this time until the effective time of the subsequent entry in the timeline. The last entry defines the usage rate until the end of the `Usage` time frame. Must correspond to an integer number of hours.",
          "$ref": "EstimationTimePoint"
        },
        "usageRate": {
          "format": "double",
          "description": "The usage rate.",
          "type": "number"
        }
      },
      "description": "A usage rate timeline entry. Each entry specifies a constant usage rate during a time interval.",
      "type": "object",
      "id": "UsageRateTimelineEntry"
    },
    "UsageRateTimeline": {
      "type": "object",
      "properties": {
        "usageRateTimelineEntries": {
          "type": "array",
          "items": {
            "$ref": "UsageRateTimelineEntry"
          },
          "description": "The timeline entries. Each entry has a start time and usage rate. The start time specifies the effective time of the usage rate. The entries must be sorted by start time in an increasing order."
        },
        "unit": {
          "description": "The unit for the usage rate in each timeline entry. If you provide an incorrect unit for an instance, the correct unit is provided in the error message. The supported units are a subset of [The Unified Code for Units of Measure](https://ucum.org/ucum.html) standard: * **Time units (TIME-UNIT)** * `s` second * `min` minute * `h` hour * `d` day * `wk` week * `mo` month * `yr` year * `ms` millisecond * `us` microsecond * `ns` nanosecond * **Basic storage units (BASIC-STORAGE-UNIT)** * `bit` bit * `By` byte * **Count units (COUNT-UNIT)** * `count` count * **Prefixes (PREFIX)** * `k` kilo (10^3) * `M` mega (10^6) * `G` giga (10^9) * `T` tera (10^12) * `P` peta (10^15) * `Ki` kibi (2^10) * `Mi` mebi (2^20) * `Gi` gibi (2^30) * `Ti` tebi (2^40) * `Pi` pebi (2^50) **Grammar** The grammar also includes these connectors: * `/` division or ratio (as an infix operator). For example: `kBy/{email}` or `MiBy/10ms`. * `.` multiplication or composition (as an infix operator). For example: `GBy.d` or `k{watt}.h`. The grammar for a unit is as follows: ``` Expression = Component { \".\" Component } { \"/\" Component } ; Component = ( [ PREFIX ] UNIT | \"%\" ) [ Annotation ] | Annotation | \"1\" ; UNIT = TIME-UNIT | STORAGE-UNIT | DATA-UNIT | COUNT-UNIT Annotation = \"{\" NAME \"}\" ; ``` Examples: * Request per second: `1/s` or `{requests}/s` * GibiBytes: `GiBy` * GibiBytes * seconds: `GiBy.s`",
          "type": "string"
        }
      },
      "id": "UsageRateTimeline",
      "description": "A timeline of usage rates. Consists of a series of entries, each of which specifies a constant rate of usage during a time interval. Each entry contains an effective time. The usage rate is in effect from that time until the effective time of the subsequent entry, or, for the last entry, for the remaining portion of estimation time frame. Effective times are specified as an offset into the estimation time frame. Usage is considered to be zero until the `effective_time` of the first entry. All subsequent entries must have an effective time greater than the previous entry and less than the estimate time frame. The effective time on all entries must be an integer number of hours."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "properties": {
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "type": "object"
    },
    "MultiRegional": {
      "description": "Area contains multiple locations.",
      "type": "object",
      "id": "MultiRegional",
      "properties": {
        "name": {
          "description": "The [location name](https://cloud.google.com/storage/docs/locations#available-locations) where the data is stored. For example: \"us\" for multi-region.",
          "type": "string"
        }
      }
    },
    "RateTier": {
      "id": "RateTier",
      "properties": {
        "startAmount": {
          "type": "number",
          "format": "double",
          "description": "The magnitude of usage in which the tier interval begins. Example: \"From 100 GiBi the price is $1 per byte\" implies `start_amount` = 100"
        },
        "price": {
          "$ref": "Money",
          "description": "The price for this tier."
        }
      },
      "type": "object",
      "description": "Pricing details for a service tier."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "properties": {
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          }
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "properties": {
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'sku-group'.",
          "type": "string"
        },
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the floating discount comes from."
        },
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        }
      },
      "type": "object",
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "properties": {
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the fixed discount."
        },
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "fixTime": {
          "description": "Time that the fixed discount is anchored to.",
          "type": "string",
          "format": "google-datetime"
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'sku-group'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time."
    },
    "CloudInterconnectWorkload": {
      "properties": {
        "interconnectAttachments": {
          "description": "VLAN attachment used for interconnect.",
          "type": "array",
          "items": {
            "$ref": "VlanAttachment"
          }
        },
        "interconnectType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Type is dedicated",
            "Type is partner"
          ],
          "enum": [
            "INTERCONNECT_TYPE_UNSPECIFIED",
            "INTERCONNECT_TYPE_DEDICATED",
            "INTERCONNECT_TYPE_PARTNER"
          ],
          "description": "VLAN attachment type"
        },
        "provisionedLinkCount": {
          "$ref": "Usage",
          "description": "Interconnect usage. This is specified as a unitless quantity which indicates the number of circuit provisioned in interconnect."
        },
        "linkType": {
          "description": "Interconnect circuit link type.",
          "enumDescriptions": [
            "Unspecified",
            "Link type is 10 Gbps.",
            "Link type is 100 Gbps."
          ],
          "type": "string",
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "LINK_TYPE_ETHERNET_10G_LR",
            "LINK_TYPE_ETHERNET_100G_LR"
          ]
        }
      },
      "type": "object",
      "description": "Specifies usage for Cloud Interconnect resources.",
      "id": "CloudInterconnectWorkload"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "type": "object",
      "properties": {
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        }
      },
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase, such as `Nvidia Tesla K80 GPU attached to Spot Preemptible VMs running in Warsaw`."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "properties": {
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        },
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        }
      },
      "description": "Encapsulates the latest price for the given billing account SKU.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU."
        }
      },
      "type": "object",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the SkuGroupSku."
        },
        "service": {
          "type": "string",
          "description": "Service that the SkuGroupSku belongs to."
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the billing account SKU belong to.",
          "type": "array"
        }
      }
    },
    "MachineType": {
      "type": "object",
      "description": "Specification of machine series, memory, and number of vCPUs.",
      "properties": {
        "customMachineType": {
          "$ref": "CustomMachineType"
        },
        "predefinedMachineType": {
          "$ref": "PredefinedMachineType"
        }
      },
      "id": "MachineType"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "properties": {},
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "properties": {
        "billingAccountSkuGroupSkus": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          },
          "description": "The returned billing account SKU group SKUs.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "PredefinedMachineType": {
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "The [machine type](https://cloud.google.com/compute/docs/machine-types). For example: \"n1-standard1\"."
        }
      },
      "description": "Specification of a predefined machine type.",
      "id": "PredefinedMachineType"
    },
    "Regional": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [location name](https://cloud.google.com/storage/docs/locations#available-locations). For example: \"us-central1\" for region."
        }
      },
      "id": "Regional",
      "description": "Area contains only one location."
    },
    "StandardTierEgressWorkload": {
      "properties": {
        "sourceRegion": {
          "type": "string",
          "description": "Which [region](https://cloud.google.com/compute/docs/regions-zones) the egress data comes from."
        },
        "egressRate": {
          "$ref": "Usage",
          "description": "Standard tier egress usage. Expected units such as \"GiBy/s, By/s, etc.\""
        }
      },
      "id": "StandardTierEgressWorkload",
      "type": "object",
      "description": "Specify Standard Tier Internet egress networking."
    },
    "EstimationTimePoint": {
      "id": "EstimationTimePoint",
      "type": "object",
      "properties": {
        "estimationTimeFrameOffset": {
          "description": "The point in time, relative to the start of the time frame covered by the cost estimate.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Represents a point in time."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "CustomMachineType": {
      "type": "object",
      "properties": {
        "virtualCpuCount": {
          "format": "int64",
          "description": "Required. The number of vCPUs. The allowed values depend on the [machine series](https://cloud.google.com/compute/docs/machine-types#machine_type_comparison).",
          "type": "string"
        },
        "machineSeries": {
          "description": "Required. The machine series. Only certain [machine series](https://cloud.google.com/compute/docs/general-purpose-machines#custom_machine_types) support custom configurations. For example: \"n1\".",
          "type": "string"
        },
        "memorySizeGb": {
          "description": "Required. Memory size of the VM in GB (2^30 bytes). Must be an increment of 0.25 (256 MB). Each [machine series](https://cloud.google.com/compute/docs/machine-types#machine_type_comparison) has limitations on allowed values for the ratio of memory-to-vCPU count.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "CustomMachineType",
      "description": "Specification of a custom machine type."
    },
    "CommitmentCostEstimate": {
      "description": "Estimated cost for a commitment.",
      "properties": {
        "name": {
          "description": "The name of the commitment, as specified in the `CostScenario`.",
          "type": "string"
        },
        "skuCostEstimates": {
          "type": "array",
          "items": {
            "$ref": "SkuCostEstimate"
          },
          "description": "Estimated costs for each SKU in the commitment."
        },
        "commitmentTotalCostEstimate": {
          "description": "Total estimated costs for the commitment.",
          "$ref": "CostEstimate"
        }
      },
      "type": "object",
      "id": "CommitmentCostEstimate"
    }
  },
  "resources": {
    "billingAccounts": {
      "methods": {
        "estimateCostScenario": {
          "parameters": {
            "billingAccount": {
              "description": "Resource name of the billing account for the cost estimate. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` is the resource name for billing account `012345-567890-ABCDEF`. Must be specified.",
              "pattern": "^billingAccounts/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.billingAccounts.estimateCostScenario",
          "parameterOrder": [
            "billingAccount"
          ],
          "request": {
            "$ref": "EstimateCostScenarioForBillingAccountRequest"
          },
          "flatPath": "v1beta/billingAccounts/{billingAccountsId}:estimateCostScenario",
          "httpMethod": "POST",
          "path": "v1beta/{+billingAccount}:estimateCostScenario",
          "description": "Use custom pricing in the estimate, using a `CostScenario` with a defined `billingAccount`.",
          "response": {
            "$ref": "EstimateCostScenarioForBillingAccountResponse"
          }
        }
      },
      "resources": {
        "skuGroups": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "httpMethod": "GET",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "description": "Gets a SKU group visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}"
            },
            "list": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists SKU groups visible to a billing account.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}"
                }
              },
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "path": "v1beta/{+parent}/skuGroups"
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
[...]
