{
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "servicePath": "",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "title": "Cloud Channel API",
  "ownerName": "Google",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "documentationLink": "https://cloud.google.com/channel",
  "revision": "20230226",
  "canonicalName": "Cloudchannel",
  "version": "v1",
  "resources": {
    "accounts": {
      "resources": {
        "reportJobs": {
          "methods": {
            "fetchReportResults": {
              "response": {
                "$ref": "GoogleCloudChannelV1FetchReportResultsResponse"
              },
              "parameterOrder": [
                "reportJob"
              ],
              "description": "Retrieves data generated by CloudChannelReportsService.RunReportJob.",
              "httpMethod": "POST",
              "path": "v1/{+reportJob}:fetchReportResults",
              "id": "cloudchannel.accounts.reportJobs.fetchReportResults",
              "request": {
                "$ref": "GoogleCloudChannelV1FetchReportResultsRequest"
              },
              "parameters": {
                "reportJob": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The report job created by CloudChannelReportsService.RunReportJob. Report_job uses the format: accounts/{account_id}/reportJobs/{report_job_id}",
                  "pattern": "^accounts/[^/]+/reportJobs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.reports.usage.readonly"
              ],
              "flatPath": "v1/accounts/{accountsId}/reportJobs/{reportJobsId}:fetchReportResults"
            }
          }
        },
        "channelPartnerLinks": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "description": "Required. The resource name of the channel partner link to cancel. Name uses the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "description": "Updates a channel partner link. Distributors call this method to change a link's status. For example, to suspend a partner link. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Link state cannot change from invited to active or suspended. * Cannot send reseller_cloud_identity_id, invite_url, or name in update mask. * NOT_FOUND: ChannelPartnerLink resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The updated ChannelPartnerLink resource.",
              "id": "cloudchannel.accounts.channelPartnerLinks.patch",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "view": {
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ],
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the channel partner link to retrieve. Name uses the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "id": "cloudchannel.accounts.channelPartnerLinks.get",
              "description": "Returns the requested ChannelPartnerLink resource. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: ChannelPartnerLink resource not found because of an invalid channel partner link name. Return value: The ChannelPartnerLink resource.",
              "path": "v1/{+name}"
            },
            "create": {
              "httpMethod": "POST",
              "description": "Initiates a channel partner link between a distributor and a reseller, or between resellers in an n-tier reseller channel. Invited partners need to follow the invite_link_uri provided in the response to accept. After accepting the invitation, a link is set up between the two parties. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * ALREADY_EXISTS: The ChannelPartnerLink sent in the request already exists. * NOT_FOUND: No Cloud Identity customer exists for provided domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The new ChannelPartnerLink resource.",
              "path": "v1/{+parent}/channelPartnerLinks",
              "request": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "id": "cloudchannel.accounts.channelPartnerLinks.create",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. Create a channel partner link for the provided reseller account's resource name. Parent uses the format: accounts/{account_id}",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "cloudchannel.accounts.channelPartnerLinks.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1ListChannelPartnerLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "description": "List ChannelPartnerLinks belonging to a distributor. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: The list of the distributor account's ChannelPartnerLink resources.",
              "path": "v1/{+parent}/channelPartnerLinks",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ],
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token for a page of results other than the first page. Obtained using ListChannelPartnerLinksResponse.next_page_token of the previous CloudChannelService.ListChannelPartnerLinks call.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the reseller account for listing channel partner links. Parent uses the format: accounts/{account_id}",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, server will pick a default size (25). The maximum value is 200; the server will coerce values above 200."
                }
              }
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "import": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ImportCustomerRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "path": "v1/{+parent}/customers:import",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the reseller's account. Parent takes the format: accounts/{account_id} or accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.import",
                  "description": "Imports a Customer from the Cloud Identity associated with the provided Cloud Identity ID or domain before a TransferEntitlements call. If a linked Customer already exists and overwrite_if_exists is true, it will update that Customer's data. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * NOT_FOUND: Cloud Identity doesn't exist or was deleted. * INVALID_ARGUMENT: Required parameters are missing, or the auth_token is expired or invalid. * ALREADY_EXISTS: A customer already exists and has conflicting critical fields. Requires an overwrite. Return value: The Customer.",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filters applied to the [CloudChannelService.ListCustomers] results. See https://cloud.google.com/channel/docs/concepts/google-cloud/filter-customers for more information.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call."
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+parent}/customers",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListCustomersResponse"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "parameters": {
                    "updateMask": {
                      "description": "The update mask that applies to the resource. Optional.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.patch",
                  "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Returns the requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.delete",
                  "description": "Deletes the given Customer permanently. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the customer to delete.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}"
                },
                "create": {
                  "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "path": "v1/{+parent}/customers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.create"
                }
              }
            },
            "channelPartnerRepricingConfigs": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "path": "v1/{+parent}/channelPartnerRepricingConfigs",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the ChannelPartner that will receive the repricing config. Parent uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Creates a ChannelPartnerRepricingConfig. Call this method to set modifications for a specific ChannelPartner's bill. You can only create configs if the RepricingConfig.effective_invoice_month is a future month. If needed, you can create a config for the current month, with some restrictions. When creating a config for a future month, make sure there are no existing configs for that RepricingConfig.effective_invoice_month. The following restrictions are for creating configs in the current month. * This functionality is reserved for recovering from an erroneous config, and should not be used for regular business cases. * The new config will not modify exports used with other configs. Changes to the config may be immediate, but may take up to 24 hours. * There is a limit of ten configs for any ChannelPartner or RepricingConfig.effective_invoice_month. * The contained ChannelPartnerRepricingConfig.repricing_config vaule must be different from the value used in the current config for a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The ChannelPartnerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated ChannelPartnerRepricingConfig resource, otherwise returns an error."
                },
                "get": {
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs/{channelPartnerRepricingConfigsId}",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "description": "Gets information about how a Distributor modifies their bill before sending it to a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The ChannelPartnerRepricingConfig was not found. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the ChannelPartnerRepricingConfig resource, otherwise returns an error.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the ChannelPartnerRepricingConfig Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/channelPartnerRepricingConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "patch": {
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "description": "Updates a ChannelPartnerRepricingConfig. Call this method to set modifications for a specific ChannelPartner's bill. This method overwrites the existing CustomerRepricingConfig. You can only update configs if the RepricingConfig.effective_invoice_month is a future month. To make changes to configs for the current month, use CreateChannelPartnerRepricingConfig, taking note of its restrictions. You cannot update the RepricingConfig.effective_invoice_month. When updating a config in the future: * This config must already exist. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The ChannelPartnerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated ChannelPartnerRepricingConfig resource, otherwise returns an error.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/channelPartnerRepricingConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}."
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs/{channelPartnerRepricingConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "description": "Lists information about how a Reseller modifies their bill before sending it to a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The ChannelPartnerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the ChannelPartnerRepricingConfig resources. The data for each resource is displayed in the ascending order of: * channel partner ID * RepricingConfig.effective_invoice_month * ChannelPartnerRepricingConfig.update_time If unsuccessful, returns an error.",
                  "path": "v1/{+parent}/channelPartnerRepricingConfigs",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of repricing configs to return. The service may return fewer than this value. If unspecified, returns a maximum of 50 rules. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the account's ChannelPartnerLink. Parent uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}. Supports accounts/{account_id}/channelPartnerLinks/- to retrieve configs for all channel partners."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter for [CloudChannelService.ListChannelPartnerRepricingConfigs] results (channel_partner_link only). You can use this filter when you support a BatchGet-like query. To use the filter, you must set `parent=accounts/{account_id}/channelPartnerLinks/-`. Example: `channel_partner_link = accounts/account_id/channelPartnerLinks/c1` OR `channel_partner_link = accounts/account_id/channelPartnerLinks/c2`.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results beyond the first page. Obtained through ListChannelPartnerRepricingConfigsResponse.next_page_token of the previous CloudChannelService.ListChannelPartnerRepricingConfigs call.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the channel partner repricing config rule to delete.",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/channelPartnerRepricingConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes the given ChannelPartnerRepricingConfig permanently. You can only delete configs if their RepricingConfig.effective_invoice_month is set to a date after the current month. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The ChannelPartnerRepricingConfig is active or in the past. * NOT_FOUND: No ChannelPartnerRepricingConfig found for the name in the request.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs/{channelPartnerRepricingConfigsId}",
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            }
          }
        },
        "customers": {
          "resources": {
            "entitlements": {
              "methods": {
                "get": {
                  "description": "Returns the requested Entitlement resource. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer entitlement was not found. Return value: The requested Entitlement resource.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudChannelV1Entitlement"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the entitlement to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.get"
                },
                "cancel": {
                  "description": "Cancels a previously fulfilled entitlement. An entitlement cancellation is a long-running operation. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * FAILED_PRECONDITION: There are Google Cloud projects linked to the Google Cloud entitlement's Cloud Billing subaccount. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * DELETION_TYPE_NOT_ALLOWED: Cancel is only allowed for Google Workspace add-ons, or entitlements for Google Cloud's development platform. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the entitlement to cancel. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:cancel",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CancelEntitlementRequest"
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "changeParameters": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:changeParameters",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeParametersRequest"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeParameters",
                  "description": "Change parameters of the entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. For example, the number of seats being changed is greater than the allowed number of max seats, or decreasing seats for a commitment based plan. * NOT_FOUND: Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "id": "cloudchannel.accounts.customers.entitlements.changeParameters",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "suspend": {
                  "description": "Suspends a previously fulfilled entitlement. An entitlement suspension is a long-running operation. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_ACTIVE: Entitlement is not active. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1SuspendEntitlementRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the entitlement to suspend. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.suspend",
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:suspend",
                  "path": "v1/{+name}:suspend",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "description": "Lists Entitlements belonging to a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's Entitlements.",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListEntitlementsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "cloudchannel.accounts.customers.entitlements.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, return at most 50 entitlements. The maximum value is 100; the server will coerce values above 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token for a page of results other than the first page. Obtained using ListEntitlementsResponse.next_page_token of the previous CloudChannelService.ListEntitlements call.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource name of the reseller's customer account to list entitlements for. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "path": "v1/{+parent}/entitlements"
                },
                "lookupOffer": {
                  "httpMethod": "GET",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:lookupOffer",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Offer"
                  },
                  "description": "Returns the requested Offer resource. Possible error codes: * PERMISSION_DENIED: The entitlement doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement or offer was not found. Return value: The Offer resource.",
                  "id": "cloudchannel.accounts.customers.entitlements.lookupOffer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "entitlement"
                  ],
                  "path": "v1/{+entitlement}:lookupOffer",
                  "parameters": {
                    "entitlement": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the entitlement to retrieve the Offer. Entitlement uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  }
                },
                "changeRenewalSettings": {
                  "path": "v1/{+name}:changeRenewalSettings",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeRenewalSettings",
                  "httpMethod": "POST",
                  "id": "cloudchannel.accounts.customers.entitlements.changeRenewalSettings",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "description": "Updates the renewal settings for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_COMMITMENT_PLAN: Renewal Settings are only applicable for a commitment plan. Can't enable or disable renewals for non-commitment plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeRenewalSettingsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "cloudchannel.accounts.customers.entitlements.create",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CreateEntitlementRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an entitlement for a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * There is already a customer entitlement for a SKU from the same product family. * INVALID_VALUE: Make sure the OfferId is valid. If it is, contact Google Channel support for further troubleshooting. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: * The SKU was already purchased for the customer. * The customer's primary email already exists. Retry after changing the customer's primary contact email. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The domain required for purchasing a SKU has not been verified. * A pre-requisite SKU required to purchase an Add-On SKU is missing. For example, Google Workspace Business Starter is required to purchase Vault or Drive. * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/entitlements",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the reseller's customer account in which to create the entitlement. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements"
                },
                "changeOffer": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the Offer for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Offer or Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "id": "cloudchannel.accounts.customers.entitlements.changeOffer",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:changeOffer",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeOfferRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeOffer"
                },
                "activate": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the entitlement to activate. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:activate",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.activate",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ActivateEntitlementRequest"
                  },
                  "description": "Activates a previously suspended entitlement. Entitlements suspended for pending ToS acceptance can't be activated using this method. An entitlement activation is a long-running operation and it updates the state of the customer entitlement. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * SUSPENSION_NOT_RESELLER_INITIATED: Can only activate reseller-initiated suspensions and entitlements that have accepted the TOS. * NOT_SUSPENDED: Can only activate suspended entitlements not in an ACTIVE state. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata."
                },
                "startPaidService": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:startPaidService",
                  "id": "cloudchannel.accounts.customers.entitlements.startPaidService",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the entitlement to start a paid service for. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:startPaidService",
                  "request": {
                    "$ref": "GoogleCloudChannelV1StartPaidServiceRequest"
                  },
                  "description": "Starts paid service for a trial entitlement. Starts paid service for a trial entitlement immediately. This method is only applicable if a plan is set up for a trial entitlement but has some trial days remaining. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * FAILED_PRECONDITION/NOT_IN_TRIAL: This method only works for entitlement on trial plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "customerRepricingConfigs": {
              "methods": {
                "patch": {
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Updates a CustomerRepricingConfig. Call this method to set modifications for a specific customer's bill. This method overwrites the existing CustomerRepricingConfig. You can only update configs if the RepricingConfig.effective_invoice_month is a future month. To make changes to configs for the current month, use CreateCustomerRepricingConfig, taking note of its restrictions. You cannot update the RepricingConfig.effective_invoice_month. When updating a config in the future: * This config must already exist. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated CustomerRepricingConfig resource, otherwise returns an error."
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results beyond the first page. Obtained through ListCustomerRepricingConfigsResponse.next_page_token of the previous CloudChannelService.ListCustomerRepricingConfigs call.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of repricing configs to return. The service may return fewer than this value. If unspecified, returns a maximum of 50 rules. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the customer. Parent uses the format: accounts/{account_id}/customers/{customer_id}. Supports accounts/{account_id}/customers/- to retrieve configs for all customers.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. A filter for [CloudChannelService.ListCustomerRepricingConfigs] results (customer only). You can use this filter when you support a BatchGet-like query. To use the filter, you must set `parent=accounts/{account_id}/customers/-`. Example: customer = accounts/account_id/customers/c1 OR customer = accounts/account_id/customers/c2.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+parent}/customerRepricingConfigs",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists information about how a Reseller modifies their bill before sending it to a Customer. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the CustomerRepricingConfig resources. The data for each resource is displayed in the ascending order of: * customer ID * RepricingConfig.EntitlementGranularity.entitlement * RepricingConfig.effective_invoice_month * CustomerRepricingConfig.update_time If unsuccessful, returns an error.",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs",
                  "httpMethod": "GET"
                },
                "delete": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the customer repricing config rule to delete. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes the given CustomerRepricingConfig permanently. You can only delete configs if their RepricingConfig.effective_invoice_month is set to a date after the current month. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The CustomerRepricingConfig is active or in the past. * NOT_FOUND: No CustomerRepricingConfig found for the name in the request.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "description": "Required. The resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets information about how a Reseller modifies their bill before sending it to a Customer. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The CustomerRepricingConfig was not found. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the CustomerRepricingConfig resource, otherwise returns an error.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.get",
                  "path": "v1/{+name}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.create",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs",
                  "path": "v1/{+parent}/customerRepricingConfigs",
                  "description": "Creates a CustomerRepricingConfig. Call this method to set modifications for a specific customer's bill. You can only create configs if the RepricingConfig.effective_invoice_month is a future month. If needed, you can create a config for the current month, with some restrictions. When creating a config for a future month, make sure there are no existing configs for that RepricingConfig.effective_invoice_month. The following restrictions are for creating configs in the current month. * This functionality is reserved for recovering from an erroneous config, and should not be used for regular business cases. * The new config will not modify exports used with other configs. Changes to the config may be immediate, but may take up to 24 hours. * There is a limit of ten configs for any RepricingConfig.EntitlementGranularity.entitlement or RepricingConfig.effective_invoice_month. * The contained CustomerRepricingConfig.repricing_config vaule must be different from the value used in the current config for a RepricingConfig.EntitlementGranularity.entitlement. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated CustomerRepricingConfig resource, otherwise returns an error.",
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the customer that will receive this repricing config. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "transferEntitlementsToGoogle": {
              "id": "cloudchannel.accounts.customers.transferEntitlementsToGoogle",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the reseller's customer account where the entitlements transfer from. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlementsToGoogle",
              "description": "Transfers customer entitlements from their current reseller to Google. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
              "path": "v1/{+parent}:transferEntitlementsToGoogle",
              "parameterOrder": [
                "parent"
              ]
            },
            "import": {
              "flatPath": "v1/accounts/{accountsId}/customers:import",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the reseller's account. Parent takes the format: accounts/{account_id} or accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+parent}/customers:import",
              "parameterOrder": [
                "parent"
              ],
              "description": "Imports a Customer from the Cloud Identity associated with the provided Cloud Identity ID or domain before a TransferEntitlements call. If a linked Customer already exists and overwrite_if_exists is true, it will update that Customer's data. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * NOT_FOUND: Cloud Identity doesn't exist or was deleted. * INVALID_ARGUMENT: Required parameters are missing, or the auth_token is expired or invalid. * ALREADY_EXISTS: A customer already exists and has conflicting critical fields. Requires an overwrite. Return value: The Customer.",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "request": {
                "$ref": "GoogleCloudChannelV1ImportCustomerRequest"
              },
              "id": "cloudchannel.accounts.customers.import"
            },
            "listPurchasableSkus": {
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableSkus",
              "id": "cloudchannel.accounts.customers.listPurchasableSkus",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. The resource name of the customer to list SKUs for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                },
                "changeOfferPurchase.changeType": {
                  "location": "query",
                  "enum": [
                    "CHANGE_TYPE_UNSPECIFIED",
                    "UPGRADE",
                    "DOWNGRADE"
                  ],
                  "enumDescriptions": [
                    "Not used.",
                    "SKU is an upgrade on the current entitlement.",
                    "SKU is a downgrade on the current entitlement."
                  ],
                  "type": "string",
                  "description": "Required. Change Type for the entitlement."
                },
                "changeOfferPurchase.entitlement": {
                  "type": "string",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token for a page of results other than the first page.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "type": "string"
                },
                "createEntitlementPurchase.product": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. List SKUs belonging to this Product. Format: products/{product_id}. Supports products/- to retrieve SKUs for all products."
                }
              },
              "path": "v1/{+customer}:listPurchasableSkus",
              "description": "Lists the following: * SKUs that you can purchase for a customer * SKUs that you can upgrade or downgrade for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableSkusResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Returns the requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource.",
              "id": "cloudchannel.accounts.customers.get",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}"
            },
            "listPurchasableOffers": {
              "path": "v1/{+customer}:listPurchasableOffers",
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableOffersResponse"
              },
              "id": "cloudchannel.accounts.customers.listPurchasableOffers",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "description": "Lists the following: * Offers that you can purchase for a customer. * Offers that you can change for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "parameters": {
                "customer": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of the customer to list Offers for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "required": true,
                  "location": "path"
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "location": "query"
                },
                "changeOfferPurchase.newSku": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Resource name of the new target SKU. Provide this SKU when upgrading or downgrading an entitlement. Format: products/{product_id}/skus/{sku_id}"
                },
                "pageToken": {
                  "description": "Optional. A token for a page of results other than the first page.",
                  "type": "string",
                  "location": "query"
                },
                "changeOfferPurchase.entitlement": {
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 Offers. The maximum value is 1000; the server will coerce values above 1000."
                },
                "createEntitlementPurchase.sku": {
                  "location": "query",
                  "description": "Required. SKU that the result should be restricted to. Format: products/{product_id}/skus/{sku_id}.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableOffers"
            },
            "list": {
              "path": "v1/{+parent}/customers",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filters applied to the [CloudChannelService.ListCustomers] results. See https://cloud.google.com/channel/docs/concepts/google-cloud/filter-customers for more information.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "id": "cloudchannel.accounts.customers.list",
              "flatPath": "v1/accounts/{accountsId}/customers",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1ListCustomersResponse"
              },
              "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
              "flatPath": "v1/accounts/{accountsId}/customers",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudchannel.accounts.customers.create",
              "path": "v1/{+parent}/customers",
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "delete": {
              "description": "Deletes the given Customer permanently. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the customer to delete.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "id": "cloudchannel.accounts.customers.delete"
            },
            "transferEntitlements": {
              "id": "cloudchannel.accounts.customers.transferEntitlements",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlements",
              "description": "Transfers customer entitlements to new reseller. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * Specify all transferring entitlements. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name of the reseller's customer account that will receive transferred entitlements. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsRequest"
              },
              "path": "v1/{+parent}:transferEntitlements",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "provisionCloudIdentity": {
              "id": "cloudchannel.accounts.customers.provisionCloudIdentity",
              "parameters": {
                "customer": {
                  "description": "Required. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:provisionCloudIdentity",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}:provisionCloudIdentity",
              "description": "Creates a Cloud Identity for the given customer using the customer's information, or the information provided here. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer was not found. * ALREADY_EXISTS: The customer's primary email already exists. Retry after changing the customer's primary contact email. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata contains an instance of OperationMetadata.",
              "request": {
                "$ref": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "id": "cloudchannel.accounts.customers.patch",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The update mask that applies to the resource. Optional."
                },
                "name": {
                  "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource.",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              }
            }
          }
        },
        "reports": {
          "methods": {
            "run": {
              "parameters": {
                "name": {
                  "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
                  "pattern": "^accounts/[^/]+/reports/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/reports/{reportsId}:run",
              "id": "cloudchannel.accounts.reports.run",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/apps.reports.usage.readonly"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1RunReportJobRequest"
              },
              "path": "v1/{+name}:run",
              "parameterOrder": [
                "name"
              ],
[...]
