{
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "attachments": {
      "methods": {
        "create": {
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The resource name of the case to which attachment should be attached.",
              "pattern": "^[^/]+/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "cloudsupport.attachments.create",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "response": {
            "$ref": "Attachment"
          },
          "path": "v2beta/{+parent}/attachments",
          "description": "Create a file attachment on a case or Cloud resource.",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/attachments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "flatPath": "v2beta/caseClassifications:search",
          "parameterOrder": [],
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\".",
          "path": "v2beta/caseClassifications:search",
          "httpMethod": "GET",
          "id": "cloudsupport.caseClassifications.search",
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request.",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out.",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the case to which attachment should be attached.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            }
          },
          "id": "cloudsupport.media.upload",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "POST",
          "description": "Create a file attachment on a case or Cloud resource.",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "response": {
            "$ref": "Attachment"
          },
          "path": "v2beta/{+parent}/attachments",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "supportsMediaUpload": true
        },
        "download": {
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}:download",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "description": "The resource name of the attachment to be downloaded.",
              "type": "string",
              "required": true
            }
          },
          "supportsMediaDownload": true,
          "id": "cloudsupport.media.download",
          "httpMethod": "GET",
          "response": {
            "$ref": "Media"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "useMediaDownloadService": true
        }
      }
    },
    "cases": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "POST",
          "path": "v2beta/{+parent}/cases",
          "request": {
            "$ref": "Case"
          },
          "description": "Create a new case and associate it with the given Cloud resource.",
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name of the Cloud resource under which the case should be created.",
              "pattern": "^[^/]+/[^/]+$"
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudsupport.cases.create"
        },
        "close": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/{+name}:close",
          "id": "cloudsupport.cases.close",
          "description": "Close the specified case.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CloseCaseRequest"
          }
        },
        "escalate": {
          "id": "cloudsupport.cases.escalate",
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "path": "v2beta/{+name}:escalate",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "required": true
            }
          },
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "httpMethod": "POST",
          "request": {
            "$ref": "EscalateCaseRequest"
          }
        },
        "get": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "description": "Retrieve the specified case.",
          "id": "cloudsupport.cases.get",
          "httpMethod": "GET",
          "path": "v2beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "description": "Required. The fully qualified name of a case to be retrieved."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "path": "v2beta/{+parent}/cases",
          "description": "Retrieve all cases under the specified parent.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out. Filter strings can use the following fields: - state (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no operator) can be used to search across displayName, description, and comments (e.g. \"my search\").",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "format": "int32",
              "location": "query"
            },
            "parent": {
              "location": "path",
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "type": "string"
            }
          },
          "id": "cloudsupport.cases.list",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases"
        },
        "search": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "flatPath": "v2beta/cases:search",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "format": "int32",
              "location": "query"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "An expression written in the Cloud filter language. Filter strings can use the following fields: - organization (A name of the form organizations/) - project (A name of the form projects/) - customer (A name of the form customers/) - state (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no key/operator) can be used to search across display_name, description, and comments (e.g. \"my search\"). One of organization, project, or customer field must be specified."
            }
          },
          "path": "v2beta/cases:search",
          "id": "cloudsupport.cases.search",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Search cases using the specified query."
        },
        "patch": {
          "description": "Update the specified case. Only a subset of fields (display_name, description, time_zone, subscriber_email_addresses, related_resources, severity, priority, primary_contact, and labels) can be updated.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "httpMethod": "PATCH",
          "id": "cloudsupport.cases.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          },
          "path": "v2beta/{+name}",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "A field that represents attributes of a case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields will be updated. WARNING: If you do not provide a field mask then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses then subscriber_email_addresses will be updated to empty.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "description": "The resource name for the case.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Case"
          }
        }
      },
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Retrieve all attachments associated with a support case.",
              "id": "cloudsupport.cases.attachments.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/attachments",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The resource name of Case object for which attachments should be listed.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100.",
                  "format": "int32"
                }
              }
            }
          }
        },
        "comments": {
          "methods": {
            "list": {
              "id": "cloudsupport.cases.comments.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/comments",
              "httpMethod": "GET",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "description": "Retrieve all Comments associated with the Case object.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string"
                }
              }
            },
            "create": {
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Comment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "location": "path"
                }
              },
              "description": "Add a new comment to the specified Case.",
              "id": "cloudsupport.cases.comments.create",
              "request": {
                "$ref": "Comment"
              },
              "path": "v2beta/{+parent}/comments"
            }
          }
        }
      }
    }
  },
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "kind": "discovery#restDescription",
  "id": "cloudsupport:v2beta",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "canonicalName": "Cloud Support",
  "name": "cloudsupport",
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "revision": "20220302",
  "title": "Google Cloud Support API",
  "servicePath": "",
  "schemas": {
    "Case": {
      "type": "object",
      "description": "A support case.",
      "properties": {
        "priority": {
          "description": "The priority of this case. If this is set, do not set severity.",
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string"
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this case was last updated.",
          "type": "string"
        },
        "name": {
          "description": "The resource name for the case.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "description": "The severity of this case. Deprecated. Use priority instead."
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "subscriberEmailAddresses": {
          "description": "The email addresses to receive updates on this case.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this case was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "state": {
          "description": "Output only. The current status of the support case.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "readOnly": true
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        }
      },
      "id": "Case"
    },
    "Media": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "md5Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha256Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "mediaId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadRequest": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadRequest"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "uint64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "diffVersionResponse": {
          "$ref": "DiffVersionResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "compositeMedia": {
          "type": "array",
          "items": {
            "$ref": "CompositeMedia"
          },
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadResponse"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "id": "Media"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "properties": {
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "ListCasesResponse": {
      "properties": {
        "cases": {
          "description": "The list of cases associated with the cloud resource, after any filters have been applied.",
          "items": {
            "$ref": "Case"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object",
      "id": "ListCasesResponse",
      "description": "The response message for the ListCases endpoint."
    },
    "Attachment": {
      "id": "Attachment",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true
        },
        "mimeType": {
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support.",
          "$ref": "Actor",
          "readOnly": true
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        },
        "sizeBytes": {
          "readOnly": true,
          "description": "Output only. The size of the attachment in bytes.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the attachment.",
          "readOnly": true
        }
      },
      "description": "Represents a file attached to a support case.",
      "type": "object"
    },
    "Comment": {
      "description": "A comment associated with a support case.",
      "id": "Comment",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time when this comment was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "plainTextBody": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An automatically generated plain text version of body with all rich text syntax stripped."
        },
        "name": {
          "description": "Output only. The resource name for the comment.",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user or Google Support agent created this comment."
        },
        "body": {
          "description": "The full comment body. Maximum of 120000 characters. This can contain rich text syntax.",
          "type": "string"
        }
      }
    },
    "CreateAttachmentRequest": {
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      },
      "type": "object",
      "description": "The request message for the CreateAttachment endpoint.",
      "id": "CreateAttachmentRequest"
    },
    "Escalation": {
      "type": "object",
      "id": "Escalation",
      "description": "An escalation of a support case.",
      "properties": {
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        },
        "reason": {
          "type": "string",
          "description": "Required. The reason why the Case is being escalated.",
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ]
        }
      }
    },
    "DownloadParameters": {
      "properties": {
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DownloadParameters"
    },
    "Blobstore2Info": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "blobGeneration": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "downloadReadHandle": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "Blobstore2Info"
    },
    "WorkflowOperationMetadata": {
      "description": "Metadata about the operation. Used to lookup the current status.",
      "id": "WorkflowOperationMetadata",
      "type": "object",
      "properties": {
        "operationAction": {
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "description": "The type of action the operation is classified as.",
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "type": "string"
        },
        "workflowOperationType": {
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ],
          "type": "string",
          "description": "Which version of the workflow service this operation came from."
        },
        "namespace": {
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved.",
          "type": "string"
        }
      }
    },
    "SearchCaseClassificationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "caseClassifications": {
          "type": "array",
          "items": {
            "$ref": "CaseClassification"
          },
          "description": "The classifications retrieved."
        }
      },
      "id": "SearchCaseClassificationsResponse",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "type": "object"
    },
    "Actor": {
      "id": "Actor",
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "type": "object",
      "properties": {
        "googleSupport": {
          "description": "Output only. Whether the actor is a Google support actor.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        }
      }
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "chunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "ObjectId": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "generation": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "ObjectId"
    },
    "DiffUploadRequest": {
      "type": "object",
      "properties": {
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffUploadRequest"
    },
    "CompositeMedia": {
      "id": "CompositeMedia",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "md5Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "length": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "inline": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "referenceType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ]
        }
      }
    },
    "ListCommentsResponse": {
      "description": "The response message for the ListComments endpoint.",
      "id": "ListCommentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "The list of Comments associated with the given Case."
        }
      },
      "type": "object"
    },
    "CloseCaseRequest": {
      "properties": {},
      "type": "object",
      "id": "CloseCaseRequest",
      "description": "The request message for the CloseCase endpoint."
    },
    "SearchCasesResponse": {
      "description": "The response message for the SearchCases endpoint.",
      "id": "SearchCasesResponse",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of Case associated with the cloud resource, after any filters have been applied."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      }
    },
    "ListAttachmentsResponse": {
      "id": "ListAttachmentsResponse",
      "properties": {
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "type": "array",
          "description": "The list of attachments associated with the given case."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for the ListAttachments endpoint."
    },
    "CaseClassification": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the classification."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation."
        }
      },
      "description": "A classification object with a product type and value.",
      "id": "CaseClassification",
      "type": "object"
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "type": "object"
    },
    "ContentTypeInfo": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "ContentTypeInfo",
      "properties": {
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromFileName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "EscalateCaseRequest": {
      "id": "EscalateCaseRequest",
      "type": "object",
      "description": "The request message for the EscalateCase endpoint.",
      "properties": {
        "escalation": {
          "description": "The escalation object to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v2beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "batchPath": "batch"
}
