{
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20220207",
  "schemas": {
    "ItemMetadata": {
      "properties": {
        "containerName": {
          "type": "string",
          "description": "The name of the container for this item. Deletion of the container item leads to automatic deletion of this item. Note: ACLs are not inherited from a container item. To provide ACL inheritance for an item, use the inheritAclFrom field. The maximum length is 1536 characters."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the item was last modified in the source repository."
        },
        "keywords": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional keywords or phrases that should match the item. Used internally for user generated content. The maximum number of elements is 100. The maximum length is 8192 characters."
        },
        "searchQualityMetadata": {
          "description": "Additional search quality metadata of the item",
          "$ref": "SearchQualityMetadata"
        },
        "objectType": {
          "description": "The type of the item. This should correspond to the name of an object definition in the schema registered for the data source. For example, if the schema for the data source contains an object definition with name 'document', then item indexing requests for objects of that type should set objectType to 'document'. The maximum length is 256 characters.",
          "type": "string"
        },
        "interactions": {
          "items": {
            "$ref": "Interaction"
          },
          "description": "A list of interactions for the item. Interactions are used to improve Search quality, but are not exposed to end users. The maximum number of elements is 1000.",
          "type": "array"
        },
        "contextAttributes": {
          "description": "A set of named attributes associated with the item. This can be used for influencing the ranking of the item based on the context in the request. The maximum number of elements is 10.",
          "items": {
            "$ref": "ContextAttribute"
          },
          "type": "array"
        },
        "mimeType": {
          "description": "The original mime-type of ItemContent.content in the source repository. The maximum length is 256 characters.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the item. If given, this will be the displayed title of the Search result. The maximum length is 2048 characters."
        },
        "contentLanguage": {
          "description": "The BCP-47 language code for the item, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. The maximum length is 32 characters.",
          "type": "string"
        },
        "hash": {
          "description": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        },
        "sourceRepositoryUrl": {
          "description": "Link to the source repository serving the data. Seach results apply this link to the title. Whitespace or special characters may cause Cloud Seach result links to trigger a redirect notice; to avoid this, encode the URL. The maximum length is 2048 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the item was created in the source repository."
        }
      },
      "id": "ItemMetadata",
      "description": "Available metadata fields for the item.",
      "type": "object"
    },
    "SearchItemsByViewUrlRequest": {
      "properties": {
        "viewUrl": {
          "type": "string",
          "description": "Specify the full view URL to find the corresponding item. The maximum length is 2048 characters."
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "pageToken": {
          "type": "string",
          "description": "The next_page_token value returned from a previous request, if any."
        }
      },
      "type": "object",
      "id": "SearchItemsByViewUrlRequest"
    },
    "TextPropertyOptions": {
      "properties": {
        "operatorOptions": {
          "$ref": "TextOperatorOptions",
          "description": "If set, describes how the property should be used as a search operator."
        },
        "retrievalImportance": {
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval.",
          "$ref": "RetrievalImportance"
        }
      },
      "id": "TextPropertyOptions",
      "description": "Options for text properties.",
      "type": "object"
    },
    "Id": {
      "description": "Identifies a particular object, including both Users and DirEntries. This Id is unique across the entire server instance, such as the production or qa instance.",
      "properties": {
        "creatorUserId": {
          "type": "string",
          "format": "uint64",
          "description": "The User account in which the DirEntry was originally created. If name_space==GAIA, then it's the gaia_id of the user this id is referring to."
        },
        "localId": {
          "description": "The local identifier for the DirEntry (local to the creator's account). local_id + app_name is guaranteed to be unique within the creator account, but not across all User accounts. The string is case sensitive. Ignore if name_space==GAIA. NB For name_space==COSMO, all local_id's should be defined in google3/java/com/google/storage/cosmo/server/api/SpecialObjectIds.java as they have a special predefined meaning. See cosmo.client.CosmoIdFactory.createObjectId(long,String) for IMPORTANT recommendations when generating IDs.",
          "type": "string"
        },
        "nameSpace": {
          "description": "The name space in which this id is unique (typically the application that created it). Values should be drawn from the above enum, but for experimentation, use values greater than 1000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Id"
    },
    "ErrorMessage": {
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "source": {
          "$ref": "Source"
        }
      },
      "description": "Error message per source response.",
      "type": "object",
      "id": "ErrorMessage"
    },
    "Metaline": {
      "type": "object",
      "id": "Metaline",
      "description": "A metaline is a list of properties that are displayed along with the search result to provide context.",
      "properties": {
        "properties": {
          "items": {
            "$ref": "DisplayedProperty"
          },
          "description": "The list of displayed properties for the metaline. The maximum number of properties is 5.",
          "type": "array"
        }
      }
    },
    "SearchResult": {
      "properties": {
        "snippet": {
          "$ref": "Snippet",
          "description": "The concatenation of all snippets (summaries) available for this result."
        },
        "clusteredResults": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "If source is clustered, provide list of clustered results. There will only be one level of clustered results. If current source is not enabled for clustering, this field will be empty."
        },
        "debugInfo": {
          "description": "Debugging information about this search result.",
          "$ref": "ResultDebugInfo"
        },
        "url": {
          "type": "string",
          "description": "The URL of the search result. The URL contains a Google redirect to the actual item. This URL is signed and shouldn't be changed."
        },
        "metadata": {
          "description": "Metadata of the search result.",
          "$ref": "Metadata"
        },
        "title": {
          "type": "string",
          "description": "Title of the search result."
        }
      },
      "description": "Results containing indexed information for a document.",
      "type": "object",
      "id": "SearchResult"
    },
    "SourceScoringConfig": {
      "type": "object",
      "properties": {
        "sourceImportance": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ],
          "type": "string",
          "description": "Importance of the source."
        }
      },
      "id": "SourceScoringConfig",
      "description": "Set the scoring configuration. This allows modifying the ranking of results for a source."
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of date. Must be from 1 to 12."
        }
      },
      "id": "Date",
      "description": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.",
      "type": "object"
    },
    "Emoji": {
      "properties": {
        "unicode": {
          "description": "A basic emoji represented by a unicode string.",
          "type": "string"
        },
        "customEmoji": {
          "$ref": "CustomEmoji",
          "description": "A custom emoji."
        }
      },
      "id": "Emoji",
      "type": "object"
    },
    "GetSearchApplicationUserStatsResponse": {
      "type": "object",
      "id": "GetSearchApplicationUserStatsResponse",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "SearchApplicationUserStats"
          }
        }
      }
    },
    "TextOperatorOptions": {
      "type": "object",
      "description": "Used to provide a search operator for text properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "id": "TextOperatorOptions",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the text property. For example, if operatorName is *subject* and the property's name is *subjectLine*, then queries like *subject:\u003cvalue\u003e* show results only where the value of the property named *subjectLine* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any text properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        },
        "exactMatchWithOperator": {
          "description": "If true, the text value is tokenized as one atomic value in operator searches and facet matches. For example, if the operator name is \"genre\" and the value is \"science-fiction\" the query restrictions \"genre:science\" and \"genre:fiction\" doesn't match the item; \"genre:science-fiction\" does. Value matching is case-sensitive and does not remove special characters. If false, the text is tokenized. For example, if the value is \"science-fiction\" the queries \"genre:science\" and \"genre:fiction\" matches the item.",
          "type": "boolean"
        }
      }
    },
    "SourceResultCount": {
      "id": "SourceResultCount",
      "description": "Per source result count information.",
      "type": "object",
      "properties": {
        "resultCountExact": {
          "description": "The exact result count for this source.",
          "format": "int64",
          "type": "string"
        },
        "resultCountEstimate": {
          "description": "The estimated result count for this source.",
          "type": "string",
          "format": "int64"
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results for this source."
        },
        "source": {
          "$ref": "Source",
          "description": "The source the result count information is associated with."
        }
      }
    },
    "ItemStatus": {
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "description": "Status code.",
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "type": "string"
        },
        "repositoryErrors": {
          "type": "array",
          "description": "Repository error reported by connector.",
          "items": {
            "$ref": "RepositoryError"
          }
        },
        "processingErrors": {
          "items": {
            "$ref": "ProcessingError"
          },
          "type": "array",
          "description": "Error details in case the item is in ERROR state."
        }
      },
      "description": "This contains item's status and any errors.",
      "id": "ItemStatus",
      "type": "object"
    },
    "SearchApplicationSessionStats": {
      "type": "object",
      "id": "SearchApplicationSessionStats",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Date for which session stats were calculated. Stats are calculated on the following day, close to midnight PST, and then returned."
        },
        "searchSessionsCount": {
          "type": "string",
          "description": "The count of search sessions on the day",
          "format": "int64"
        }
      }
    },
    "AppId": {
      "properties": {
        "gsuiteAppType": {
          "enum": [
            "GSUITE_APP_TYPE_UNSPECIFIED",
            "TASKS_APP",
            "CALENDAR_APP",
            "DOCS_APP",
            "SHEETS_APP",
            "SLIDES_APP",
            "MEET_APP",
            "FILE_SUGGESTION_APP",
            "CONTACTS_APP",
            "ACTIVITY_FEED_APP",
            "DRIVE_APP"
          ],
          "description": "Enum indicating which 1P App this is when app_type is GSUITE_APP. Determined & set by the 1P API as a convenience for all users of this identifier(Eg. clients, chime, backend etc.) to map to 1P properties.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Powered by Bullseye",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Numeric identifier of the App. Set to Project number for 1/3P Apps. For Webhook, this is WebhookId. Determined & set by the 1P API from App credentials on the side channel.",
          "format": "int64"
        },
        "appType": {
          "description": "Enum indicating the type of App this is.",
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP",
            "GSUITE_APP",
            "INCOMING_WEBHOOK"
          ],
          "enumDescriptions": [
            "",
            "3P APP eg. external Bots(Asana Bot), 1P Bots(Drive Bot).",
            "1P APP eg. Tasks, Meet, Docs, Calendar..",
            "Asynchronous messages via an incoming webhook."
          ]
        }
      },
      "id": "AppId",
      "description": "Identifier of an App.",
      "type": "object"
    },
    "GoogleDocsMetadata": {
      "properties": {
        "documentType": {
          "description": "The conceptual type (presentation, document, etc.) of this document.",
          "enumDescriptions": [
            "If the type is unknown or not represented in this enum.",
            "Writely, Word, etc.",
            "Presently, PowerPoint, etc.",
            "Trix, Excel, etc.",
            "File types for Gdrive objects are below.",
            "",
            "Fall-back for unknown Gdrive types.",
            "",
            "",
            "",
            "",
            "",
            "For Atari page and site drafts",
            "",
            "Jamboard Jams (go/jam)",
            "Drive Shortcuts (go/shortcuts)",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "PDF",
            "IMAGE",
            "BINARY_BLOB",
            "FUSION_TABLE",
            "FOLDER",
            "DRAWING",
            "VIDEO",
            "FORM",
            "DRAFT_SITE",
            "DRAFT_SITE_PAGE",
            "JAM",
            "SHORTCUT",
            "SCRIPT"
          ]
        },
        "fileExtension": {
          "type": "string",
          "description": "The file extension of the document. NOTE: As of October 2018 this field is not backfilled for old documents."
        },
        "resultInfo": {
          "description": "Additional per-result information, akin to Gmail's SingleThreadResponse. Note: GWS no longer seems to use this field, but there's still one reference to it for Scribe, so we can't remove it.",
          "$ref": "GoogleDocsResultInfo"
        },
        "aclInfo": {
          "$ref": "AclInfo",
          "description": "Contains number of users and groups which can access the document."
        },
        "lastContentModifiedTimestamp": {
          "format": "int64",
          "description": "The last time this document was modified, in seconds since epoch. Only counts content modifications.",
          "type": "string"
        },
        "typeInfo": {
          "description": "Contains additional information about the document depending on its type.",
          "$ref": "TypeInfo"
        }
      },
      "type": "object",
      "description": "The corpus specific metadata for office-type documents, from Google Docs and other sources. This message is passed to the scorer and beyond. Next tag: 7",
      "id": "GoogleDocsMetadata"
    },
    "HtmlPropertyOptions": {
      "id": "HtmlPropertyOptions",
      "properties": {
        "retrievalImportance": {
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval. Can only be set to DEFAULT or NONE.",
          "$ref": "RetrievalImportance"
        },
        "operatorOptions": {
          "description": "If set, describes how the property should be used as a search operator.",
          "$ref": "HtmlOperatorOptions"
        }
      },
      "type": "object",
      "description": "Options for html properties."
    },
    "ResultDisplayLine": {
      "id": "ResultDisplayLine",
      "description": "The collection of fields that make up a displayed line",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "ResultDisplayField"
          }
        }
      },
      "type": "object"
    },
    "SourceConfig": {
      "type": "object",
      "description": "Configurations for a source while processing a Search or Suggest request.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source for which this configuration is to be used."
        },
        "scoringConfig": {
          "description": "The scoring configuration for the source.",
          "$ref": "SourceScoringConfig"
        },
        "crowdingConfig": {
          "$ref": "SourceCrowdingConfig",
          "description": "The crowding configuration for the source."
        }
      },
      "id": "SourceConfig"
    },
    "DriveLocationRestrict": {
      "description": "Drive location search restricts (e.g. \"is:starred\").",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TRASHED",
            "STARRED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DriveLocationRestrict"
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The named source for the result, such as Gmail."
        },
        "owner": {
          "description": "Owner (usually creator) of the document or object of the search result.",
          "$ref": "Person"
        },
        "mimeType": {
          "description": "Mime type of the search result.",
          "type": "string"
        },
        "displayOptions": {
          "description": "Options that specify how to display a structured data search result.",
          "$ref": "ResultDisplayMetadata"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time for this document or object in the search result."
        },
        "fields": {
          "items": {
            "$ref": "NamedProperty"
          },
          "description": "Indexed fields in structured data, returned as a generic named property.",
          "type": "array"
        },
        "objectType": {
          "type": "string",
          "description": "Object type of the search result."
        },
        "updateTime": {
          "type": "string",
          "description": "The last modified date for the object in the search result. If not set in the item, the value returned here is empty. When `updateTime` is used for calculating freshness and is not set, this value defaults to 2 years from the current time.",
          "format": "google-datetime"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "The thumbnail URL of the result."
        }
      },
      "id": "Metadata",
      "description": "Metadata of a matched search result."
    },
    "ResultDebugInfo": {
      "description": "Debugging information about the result.",
      "id": "ResultDebugInfo",
      "type": "object",
      "properties": {
        "formattedDebugInfo": {
          "description": "General debug info formatted for display.",
          "type": "string"
        }
      }
    },
    "ListItemNamesForUnmappedIdentityResponse": {
      "id": "ListItemNamesForUnmappedIdentityResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "itemNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SuggestResponse": {
      "id": "SuggestResponse",
      "type": "object",
      "properties": {
        "suggestResults": {
          "description": "List of suggestions.",
          "type": "array",
          "items": {
            "$ref": "SuggestResult"
          }
        }
      },
      "description": "Response of the suggest API."
    },
    "AuditLoggingSettings": {
      "description": "Represents the settings for Cloud audit logging",
      "id": "AuditLoggingSettings",
      "type": "object",
      "properties": {
        "project": {
          "description": "The resource name of the GCP Project to store audit logs. Cloud audit logging will be enabled after project_name has been updated through CustomerService. Format: projects/{project_id}",
          "type": "string"
        },
        "logDataReadActions": {
          "description": "Indicates whether audit logging is on/off for data access read APIs i.e. ListItems, GetItem etc.",
          "type": "boolean"
        },
        "logAdminReadActions": {
          "description": "Indicates whether audit logging is on/off for admin activity read APIs i.e. Get/List DataSources, Get/List SearchApplications etc.",
          "type": "boolean"
        },
        "logDataWriteActions": {
          "description": "Indicates whether audit logging is on/off for data access write APIs i.e. IndexItem etc.",
          "type": "boolean"
        }
      }
    },
    "GoogleDocsResultInfo": {
      "id": "GoogleDocsResultInfo",
      "type": "object",
      "description": "A message containing information about a specific result. This information is passed to the scorer and beyond; in particular, GWS relies on it to format the result in the UI. Split from GoogleDocsMetadata in case we later want to reuse the message.",
      "properties": {
        "encryptedId": {
          "description": "The encrypted (user-visible) id of this object. Knowing the id is sufficient to create a canonical URL for this document.",
          "type": "string"
        },
        "cosmoNameSpace": {
          "format": "int32",
          "description": "For Cosmo objects, the Cosmo namespace the object was in. This allows downstream clients to identify whether a document was created in Writely or Kix, Presently or Punch, or whether it was uploaded from GDrive. See storage_cosmo.Id.NAME_SPACE for a list of all Cosmo name spaces.",
          "type": "integer"
        },
        "mimeType": {
          "description": "The mimetype of the document.",
          "type": "string"
        },
        "cosmoId": {
          "description": "The storage identifier for the object in Cosmo. This field is intended to used by Stratus/Moonshine integration only. It should not be exposed externally (please refer to encrypted_id for that purpose).",
          "$ref": "Id"
        },
        "attachmentSha1": {
          "description": "The SHA1 hash of the object in Drive, if any.",
          "type": "string"
        },
        "shareScope": {
          "description": "The visibility indicator in the UI will be based upon this.",
          "$ref": "ShareScope"
        }
      }
    },
    "ScoringConfig": {
      "description": "Scoring configurations for a source while processing a Search or Suggest request.",
      "id": "ScoringConfig",
      "properties": {
        "disableFreshness": {
          "description": "Whether to use freshness as a ranking signal. By default, freshness is used as a ranking signal. Note that this setting is not available in the Admin UI.",
          "type": "boolean"
        },
        "disablePersonalization": {
          "type": "boolean",
          "description": "Whether to personalize the results. By default, personal signals will be used to boost results."
        }
      },
      "type": "object"
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "resultCountExact": {
          "type": "string",
          "description": "The exact result count for this query.",
          "format": "int64"
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results matching the query."
        },
        "spellResults": {
          "type": "array",
          "description": "Suggested spelling for the query.",
          "items": {
            "$ref": "SpellResult"
          }
        },
        "structuredResults": {
          "items": {
            "$ref": "StructuredResult"
          },
          "type": "array",
          "description": "Structured results for the user query. These results are not counted against the page_size."
        },
        "facetResults": {
          "type": "array",
          "items": {
            "$ref": "FacetResult"
          },
          "description": "Repeated facet results."
        },
        "debugInfo": {
          "$ref": "ResponseDebugInfo",
          "description": "Debugging information about the response."
        },
        "queryInterpretation": {
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled.",
          "$ref": "QueryInterpretation"
        },
        "errorInfo": {
          "description": "Error information about the response.",
          "$ref": "ErrorInfo"
        },
        "resultCountEstimate": {
          "type": "string",
          "format": "int64",
          "description": "The estimated result count for this query."
        },
        "results": {
          "description": "Results from a search query.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        },
        "resultCounts": {
          "$ref": "ResultCounts",
          "description": "Expanded result count information."
        }
      },
      "id": "SearchResponse",
      "description": "The search API response."
    },
    "SpaceId": {
      "description": "Primary key for Space resource.",
      "properties": {
        "spaceId": {
          "description": "Unique, immutable ID of the Space",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SpaceId"
    },
    "DisplayedProperty": {
      "properties": {
        "propertyName": {
          "description": "The name of the top-level property as defined in a property definition for the object. If the name is not a defined property in the schema, an error is given when attempting to update the schema.",
          "type": "string"
        }
      },
      "description": "A reference to a top-level property within the object that should be displayed in search results. The values of the chosen properties is displayed in the search results along with the display label for that property if one is specified. If a display label is not specified, only the values is shown.",
      "type": "object",
      "id": "DisplayedProperty"
    },
    "EmailAddress": {
      "properties": {
        "emailAddress": {
          "description": "The email address.",
          "type": "string"
        }
      },
      "description": "A person's email address.",
      "id": "EmailAddress",
      "type": "object"
    },
    "MatchRange": {
      "properties": {
        "start": {
          "type": "integer",
          "description": "Starting position of the match in the snippet.",
          "format": "int32"
        },
        "end": {
          "type": "integer",
          "description": "End of the match in the snippet.",
          "format": "int32"
        }
      },
      "description": "Matched range of a snippet [start, end).",
      "id": "MatchRange",
      "type": "object"
    },
    "RepositoryError": {
      "type": "object",
      "id": "RepositoryError",
      "description": "Errors when the connector is communicating to the source repository.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown error.",
            "Unknown or unreachable host.",
            "DNS problem, such as the DNS server is not responding.",
            "Cannot connect to the repository server.",
            "Failed authentication due to incorrect credentials.",
            "Service account is not authorized for the repository.",
            "Repository server error.",
            "Quota exceeded.",
            "Server temporarily unavailable.",
            "Client-related error, such as an invalid request from the connector to the repository server."
          ],
          "description": "Type of error.",
          "enum": [
            "UNKNOWN",
            "NETWORK_ERROR",
            "DNS_ERROR",
            "CONNECTION_ERROR",
            "AUTHENTICATION_ERROR",
            "AUTHORIZATION_ERROR",
            "SERVER_ERROR",
            "QUOTA_EXCEEDED",
            "SERVICE_UNAVAILABLE",
            "CLIENT_ERROR"
          ]
        },
        "errorMessage": {
          "description": "Message that describes the error. The maximum allowable length of the message is 8192 characters.",
          "type": "string"
        },
        "httpStatusCode": {
          "format": "int32",
          "description": "Error codes. Matches the definition of HTTP status codes.",
          "type": "integer"
        }
      }
    },
    "ListQuerySourcesResponse": {
      "description": "List sources response.",
      "id": "ListQuerySourcesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "QuerySource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "IntegerPropertyOptions": {
      "type": "object",
      "properties": {
        "minimumValue": {
          "type": "string",
          "description": "The minimum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values less than the minimum are accepted and ranked with the same weight as items indexed with the minimum value.",
          "format": "int64"
        },
        "maximumValue": {
          "description": "The maximum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values greater than the maximum are accepted and ranked with the same weight as items indexed with the maximum value.",
          "format": "int64",
          "type": "string"
        },
        "orderedRanking": {
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "There is no ranking order for the property. Results are not adjusted by this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower ranking.",
            "This property is ranked in descending order. Lower values indicate higher ranking."
          ],
          "description": "Used to specify the ordered ranking for the integer. Can only be used if isRepeatable is false.",
          "type": "string"
        },
        "operatorOptions": {
          "description": "If set, describes how the integer should be used as a search operator.",
          "$ref": "IntegerOperatorOptions"
        }
      },
      "id": "IntegerPropertyOptions",
      "description": "Options for integer properties."
    },
    "Schema": {
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema. After modifying the schema, wait for operations to complete before indexing additional content.",
          "items": {
            "type": "string"
          }
        },
        "objectDefinitions": {
          "description": "The list of top-level objects for the data source. The maximum number of elements is 10.",
          "items": {
            "$ref": "ObjectDefinition"
          },
          "type": "array"
        }
      },
      "description": "The schema definition for a data source.",
      "type": "object",
      "id": "Schema"
    },
    "SuggestRequest": {
      "type": "object",
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        },
        "query": {
          "type": "string",
          "description": "Partial query for which autocomplete suggestions will be shown. For example, if the query is \"sea\", then the server might return \"season\", \"search\", \"seagull\" and so on."
        },
        "dataSourceRestrictions": {
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "type": "array",
          "description": "The sources to use for suggestions. If not specified, the data sources are taken from the current search application. NOTE: Suggestions are only supported for the following sources: * Third-party data sources * PredefinedSource.PERSON * PredefinedSource.GOOGLE_DRIVE"
        }
      },
      "id": "SuggestRequest",
      "description": "Request of suggest API."
    },
    "Interaction": {
      "type": "object",
      "id": "Interaction",
      "description": "Represents an interaction between a user and an item.",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "VIEW",
            "EDIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "This interaction indicates the user viewed the item.",
            "This interaction indicates the user edited the item."
          ]
        },
        "interactionTime": {
          "description": "The time when the user acted on the item. If multiple actions of the same type exist for a single user, only the most recent action is recorded.",
          "type": "string",
          "format": "google-datetime"
        },
        "principal": {
          "$ref": "Principal",
          "description": "The user that acted on the item."
        }
      }
    },
    "GetCustomerUserStatsResponse": {
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerUserStats"
          }
        }
      },
      "id": "GetCustomerUserStatsResponse",
      "type": "object"
    },
    "EnumValuePair": {
      "description": "The enumeration value pair defines two things: a required string value and an optional integer value. The string value defines the necessary query term required to retrieve that item, such as *p0* for a priority item. The integer value determines the ranking of that string value relative to other enumerated values for the same property. For example, you might associate *p0* with *0* and define another enum pair such as *p1* and *1*. You must use the integer value in combination with ordered ranking to set the ranking of a given value relative to other enumerated values for the same property name. Here, a ranking order of DESCENDING for *priority* properties results in a ranking boost for items indexed with a value of *p0* compared to items indexed with a value of *p1*. Without a specified ranking order, the integer value has no effect on item ranking.",
      "type": "object",
      "properties": {
        "integerValue": {
          "type": "integer",
          "format": "int32",
          "description": "The integer value of the EnumValuePair which must be non-negative. Optional."
        },
        "stringValue": {
          "type": "string",
          "description": "The string value of the EnumValuePair. The maximum length is 32 characters."
        }
      },
      "id": "EnumValuePair"
    },
    "EnumValues": {
      "type": "object",
      "id": "EnumValues",
      "properties": {
        "values": {
          "description": "The maximum allowable length for string values is 32 characters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "List of enum values."
    },
    "FieldViolation": {
      "type": "object",
      "id": "FieldViolation",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the error."
        },
        "field": {
          "type": "string",
          "description": "Path of field with violation."
        }
      }
    },
    "CustomerSearchApplicationStats": {
      "type": "object",
      "description": "Search application stats for a customer for the given date.",
      "id": "CustomerSearchApplicationStats",
      "properties": {
        "date": {
          "description": "Date for which search application stats were calculated.",
          "$ref": "Date"
        },
        "count": {
          "description": "The count of search applications for the date.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "IndexItemRequest": {
      "id": "IndexItemRequest",
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "mode": {
          "enum": [
            "UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
            "For real-time updates.",
            "For changes that are executed after the response is sent back to the caller."
          ],
          "description": "Required. The RequestMode for this request."
        },
        "item": {
          "$ref": "Item",
          "description": "Name of the item. Format: datasources/{source_id}/items/{item_id}"
        },
        "connectorName": {
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "indexItemOptions": {
          "$ref": "IndexItemOptions"
        }
      }
    },
    "FilterOptions": {
      "id": "FilterOptions",
      "description": "Filter options to be applied on query.",
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "Generic filter to restrict the search, such as `lang:en`, `site:xyz`."
        },
        "objectType": {
          "description": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters.",
          "type": "string"
        }
      }
    },
    "FacetOptions": {
      "description": "Specifies operators to return facet results for. There will be one FacetResult for every source_name/object_type/operator_name combination.",
      "type": "object",
      "id": "FacetOptions",
      "properties": {
        "sourceName": {
          "type": "string",
          "description": "Source name to facet on. Format: datasources/{source_id} If empty, all data sources will be used."
        },
        "objectType": {
          "description": "If object_type is set, only those objects of that type will be used to compute facets. If empty, then all objects will be used to compute facets.",
          "type": "string"
        },
        "numFacetBuckets": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of facet buckets that should be returned for this facet. Defaults to 10. Maximum value is 100."
        },
        "operatorName": {
          "type": "string",
          "description": "Name of the operator chosen for faceting. @see cloudsearch.SchemaPropertyOptions"
        }
      }
    },
    "SearchRequest": {
      "properties": {
        "start": {
          "description": "Starting index of the results.",
          "type": "integer",
          "format": "int32"
        },
        "contextAttributes": {
          "description": "Context attributes for the request which will be used to adjust ranking of search results. The maximum number of elements is 10.",
          "items": {
            "$ref": "ContextAttribute"
          },
          "type": "array"
        },
        "facetOptions": {
          "type": "array",
          "items": {
            "$ref": "FacetOptions"
          }
        },
        "pageSize": {
          "description": "Maximum number of search results to return in one page. Valid values are between 1 and 100, inclusive. Default value is 10. Minimum value is 50 when results beyond 2000 are requested.",
          "format": "int32",
          "type": "integer"
        },
        "query": {
          "type": "string",
          "description": "The raw query string. See supported search operators in the [Narrow your search with operators](https://support.google.com/cloudsearch/answer/6172299)"
        },
        "requestOptions": {
          "description": "Request options, such as the search application and user timezone.",
          "$ref": "RequestOptions"
        },
        "dataSourceRestrictions": {
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "description": "The sources to use for querying. If not specified, all data sources from the current search application are used.",
          "type": "array"
        },
        "queryInterpretationOptions": {
          "$ref": "QueryInterpretationOptions",
          "description": "Options to interpret the user query."
        },
        "sortOptions": {
          "$ref": "SortOptions",
          "description": "The options for sorting the search results"
        }
      },
      "id": "SearchRequest",
      "type": "object",
      "description": "The search API request."
    },
    "QueryCountByStatus": {
      "properties": {
        "statusCode": {
          "format": "int32",
          "description": "This represents the http status code.",
          "type": "integer"
        },
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "QueryCountByStatus",
      "type": "object"
    },
    "CustomEmoji": {
      "type": "object",
      "description": "Proto representation of a custom emoji. May be used in both APIs and in Spanner, but certain fields should be restricted to one or the other. See the per-field documentation for details. NEXT_TAG: 11",
      "properties": {
        "state": {
          "enum": [
            "EMOJI_STATE_UNSPECIFIED",
            "EMOJI_ENABLED",
            "EMOJI_SYSTEM_DISABLED",
            "EMOJI_HIDDEN",
            "EMOJI_DELETED"
          ],
          "description": "Snapshot of the current state of the emoji, which may differ from the source-of-truth in the CustomEmojis table. This field should *never* be persisted to Spanner.",
          "enumDescriptions": [
            "",
            "Emoji is visible and available to be used, subject to access control requirements.",
            "Emoji can no longer be used (e.g. due to a shortcode conflict), but is not removed from existing embeddings.",
            "Emoji is hidden from pickers, so new usages are not allowed, but is not removed from existing embeddings.",
            "Emoji is removed everywhere and is not available to end-users."
          ],
          "type": "string"
        },
        "ownerCustomerId": {
          "description": "This field should *never* be persisted to Spanner.",
          "$ref": "CustomerId"
        },
        "blobId": {
          "type": "string",
          "description": "ID for the underlying image data in Blobstore. This field should *only* be present in Spanner or within the server, but should not be exposed in public APIs."
        },
        "readToken": {
          "description": "Opaque token that clients use to construct the URL for accessing the custom emoji’s image data. This field is intended for API consumption, and should *never* be persisted to Spanner.",
          "type": "string"
        },
        "createTimeMicros": {
          "format": "int64",
          "description": "Time when the Emoji was created, in microseconds. This field may be present in Spanner, within the server, or in public APIs.",
          "type": "string"
        },
        "uuid": {
          "description": "Unique key for a custom emoji resource. Required. This field is *always* populated.",
          "type": "string"
        },
        "shortcode": {
          "type": "string",
          "description": "User-provided, human-readable ID for the custom emoji. Users are expected to observe this field in the UI instead of the UUID. This shortcode should be unique within an organization, but has no global uniqueness guarantees, unlike the UUID. This field should *never* be persisted to Spanner."
        },
        "updateTimeMicros": {
          "format": "int64",
          "type": "string"
        },
        "creatorUserId": {
          "description": "This field should *never* be persisted to Spanner.",
          "$ref": "UserId"
        }
      },
      "id": "CustomEmoji"
    },
    "QuerySource": {
      "id": "QuerySource",
      "type": "object",
      "properties": {
        "shortName": {
          "type": "string",
          "description": "A short name or alias for the source. This value can be used with the 'source' operator."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the data source."
        },
        "operators": {
          "description": "List of all operators applicable for this source.",
          "items": {
            "$ref": "QueryOperator"
          },
          "type": "array"
        },
        "source": {
          "description": "Name of the source",
          "$ref": "Source"
        }
      },
      "description": "List of sources that the user can search using the query API."
    },
    "HtmlValues": {
      "description": "List of html values.",
      "properties": {
        "values": {
          "type": "array",
          "description": "The maximum allowable length for html values is 2048 characters.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "HtmlValues"
    },
    "Media": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Name of the media resource."
        }
      },
      "id": "Media",
      "description": "Media resource.",
      "type": "object"
    },
    "ListUnmappedIdentitiesResponse": {
      "type": "object",
      "id": "ListUnmappedIdentitiesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unmappedIdentities": {
          "type": "array",
          "items": {
            "$ref": "UnmappedIdentity"
          }
        }
      }
    },
    "ContextAttribute": {
      "id": "ContextAttribute",
      "properties": {
        "name": {
          "description": "The name of the attribute. It should not be empty. The maximum length is 32 characters. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The name will be normalized (lower-cased) before being matched.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Text values of the attribute. The maximum number of elements is 10. The maximum length of an element in the array is 32 characters. The value will be normalized (lower-cased) before being matched."
        }
      },
      "type": "object",
      "description": "A named attribute associated with an item which can be used for influencing the ranking of the item based on the context in the request."
    },
    "AclInfo": {
      "id": "AclInfo",
      "type": "object",
      "description": "Next tag: 4",
      "properties": {
        "groupsCount": {
          "description": "Number of groups which have at least read access to the document.",
          "format": "int32",
          "type": "integer"
        },
        "scope": {
          "enum": [
            "LIMITED",
            "DASHER_DOMAIN_WITH_LINK",
            "DASHER_DOMAIN",
            "PUBLIC_WITH_LINK",
            "PUBLIC",
            "TEAM_DRIVE"
          ],
          "description": "The scope to which the content was shared.",
          "enumDescriptions": [
            "Explicit set of people and groups.",
            "Anybody at the same domain with the link.",
            "Now it works only for google.com. Anybody at the same domain. Now it works only",
            "for google.com. Anybody with the link.",
            "Anybody.",
            "Special tag to indicate TeamDrive scope."
          ],
          "type": "string"
        },
        "usersCount": {
          "format": "int32",
          "description": "Number of users which have at least read access to the document.",
          "type": "integer"
        }
      }
    },
    "CustomerSettings": {
      "properties": {
        "auditLoggingSettings": {
          "$ref": "AuditLoggingSettings",
          "description": "Audit Logging settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request."
        },
        "vpcSettings": {
          "description": "VPC SC settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request.",
          "$ref": "VPCSettings"
        }
      },
      "type": "object",
      "description": "Represents settings at a customer level.",
      "id": "CustomerSettings"
    },
    "DmId": {
      "id": "DmId",
      "properties": {
        "dmId": {
          "description": "Unique server assigned Id, per Direct Message Space.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UploadItemRef": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the content reference. The maximum length is 2048 characters."
        }
      },
      "id": "UploadItemRef",
      "description": "Represents an upload session reference. This reference is created via upload method. This reference is valid for 30 days after its creation. Updating of item content may refer to this uploaded content via contentDataRef."
    },
    "UpdateSchemaRequest": {
      "id": "UpdateSchemaRequest",
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid."
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "schema": {
          "$ref": "Schema",
          "description": "The new schema for the source."
        }
      }
    },
    "DriveMimeTypeRestrict": {
      "type": "object",
      "id": "DriveMimeTypeRestrict",
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\").",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ]
        }
      }
    },
    "QuerySuggestion": {
      "id": "QuerySuggestion",
      "properties": {},
      "description": "This field does not contain anything as of now and is just used as an indicator that the suggest result was a phrase completion.",
      "type": "object"
    },
    "QueryItem": {
      "id": "QueryItem",
      "type": "object",
      "description": "Information relevant only to a query entry.",
      "properties": {
        "isSynthetic": {
          "type": "boolean",
          "description": "True if the text was generated by means other than a previous user search."
        }
      }
    },
    "RequestOptions": {
      "description": "Shared request options for all RPC methods.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Debug options of the request"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The suggest API does not use this parameter. Instead, suggest autocompletes only based on characters in the query.",
          "type": "string"
        },
        "searchApplicationId": {
          "type": "string",
          "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922)."
        }
      },
      "id": "RequestOptions"
    },
    "GroupId": {
      "id": "GroupId",
      "type": "object",
      "description": "Id representing a group that could be a space, a chat, or a direct message space. Which ID is set here will determine which group",
      "properties": {
        "spaceId": {
          "$ref": "SpaceId",
          "description": "Unique, immutable ID of the Space"
        },
        "dmId": {
          "$ref": "DmId",
          "description": "Unique, immutable ID of the Direct Message Space"
        }
      }
    },
    "TypeInfo": {
      "description": "Next tag: 2",
      "properties": {
        "videoInfo": {
          "$ref": "VideoInfo",
          "description": "Contains additional video information only if document_type is VIDEO."
        }
      },
      "type": "object",
      "id": "TypeInfo"
    },
    "ResponseDebugInfo": {
      "id": "ResponseDebugInfo",
      "type": "object",
      "properties": {
        "formattedDebugInfo": {
          "description": "General debug info formatted for display.",
          "type": "string"
        }
      },
      "description": "Debugging information about the response."
    },
    "DoubleOperatorOptions": {
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "type": "object",
      "id": "DoubleOperatorOptions"
    },
    "ItemContent": {
      "description": "Content of an item to be indexed and surfaced by Cloud Search. Only UTF-8 encoded strings are allowed as inlineContent. If the content is uploaded and not binary, it must be UTF-8 encoded.",
      "properties": {
        "contentDataRef": {
          "$ref": "UploadItemRef",
          "description": "Upload reference ID of a previously uploaded content via write method."
        },
        "hash": {
          "description": "Hashing info calculated and provided by the API client for content. Can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        },
        "contentFormat": {
          "enumDescriptions": [
            "Invalid value.",
            "contentFormat is HTML.",
            "contentFormat is free text.",
            "contentFormat is raw bytes."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "HTML",
            "TEXT",
            "RAW"
          ]
        },
        "inlineContent": {
          "description": "Content that is supplied inlined within the update method. The maximum length is 102400 bytes (100 KiB).",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "ItemContent"
    },
    "PushItem": {
      "id": "PushItem",
      "type": "object",
      "properties": {
        "contentHash": {
          "description": "Content hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters.",
          "type": "string"
        },
        "payload": {
          "description": "Provides additional document state information for the connector, such as an alternate repository ID and other metadata. The maximum length is 8192 bytes.",
          "format": "byte",
          "type": "string"
        },
        "structuredDataHash": {
          "description": "Structured data hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters.",
          "type": "string"
        },
        "metadataHash": {
          "type": "string",
          "description": "Metadata hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters."
        },
        "type": {
          "enumDescriptions": [
            "Default UNSPECIFIED. Specifies that the push operation should not modify ItemStatus",
            "Indicates that the repository document has been modified or updated since the previous update call. This changes status to MODIFIED state for an existing item. If this is called on a non existing item, the status is changed to NEW_ITEM.",
            "Item in the repository has not been modified since the last update call. This push operation will set status to ACCEPTED state.",
            "Connector is facing a repository error regarding this item. Change status to REPOSITORY_ERROR state. Item is unreserved and rescheduled at a future time determined by exponential backoff.",
            "Call push with REQUEUE only for items that have been reserved. This action unreserves the item and resets its available time to the wall clock time."
          ],
          "type": "string",
          "description": "The type of the push operation that defines the push behavior.",
          "enum": [
            "UNSPECIFIED",
            "MODIFIED",
            "NOT_MODIFIED",
            "REPOSITORY_ERROR",
            "REQUEUE"
          ]
        },
        "repositoryError": {
          "$ref": "RepositoryError",
          "description": "Populate this field to store Connector or repository error details. This information is displayed in the Admin Console. This field may only be populated when the Type is REPOSITORY_ERROR."
        },
        "queue": {
          "type": "string",
          "description": "Queue to which this item belongs to. The default queue is chosen if this field is not specified. The maximum length is 512 characters."
        }
      },
      "description": "Represents an item to be pushed to the indexing queue."
    },
    "InitializeCustomerRequest": {
      "id": "InitializeCustomerRequest",
      "type": "object",
      "description": "Request message for `InitializeCustomer` method.",
      "properties": {}
    },
    "QueryInterpretationOptions": {
      "type": "object",
      "description": "Options to interpret user query.",
      "id": "QueryInterpretationOptions",
      "properties": {
        "enableVerbatimMode": {
          "type": "boolean",
          "description": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental result retrieval, and usage of synonyms including custom ones. Nl interpretation will be disabled if either one of the two flags is true."
        },
        "disableNlInterpretation": {
          "type": "boolean",
          "description": "Flag to disable natural language (NL) interpretation of queries. Default is false, Set to true to disable natural language interpretation. NL interpretation only applies to predefined datasources."
        },
        "disableSupplementalResults": {
          "description": "Use this flag to disable supplemental results for a query. Supplemental results setting chosen at SearchApplication level will take precedence if set to True.",
          "type": "boolean"
        }
      }
    },
    "Principal": {
      "properties": {
        "gsuitePrincipal": {
          "description": "This principal is a GSuite user, group or domain.",
          "$ref": "GSuitePrincipal"
        },
        "groupResourceName": {
          "description": "This principal is a group identified using an external identity. The name field must specify the group resource name with this format: identitysources/{source_id}/groups/{ID}",
          "type": "string"
        },
        "userResourceName": {
          "description": "This principal is a user identified using an external identity. The name field must specify the user resource name with this format: identitysources/{source_id}/users/{ID}",
          "type": "string"
        }
      },
      "description": "Reference to a user, group, or domain.",
      "id": "Principal",
      "type": "object"
    },
    "SearchApplicationUserStats": {
      "id": "SearchApplicationUserStats",
      "properties": {
        "sevenDaysActiveUsersCount": {
          "description": "The count of unique active users in the past seven days",
          "type": "string",
          "format": "int64"
        },
        "thirtyDaysActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past thirty days",
          "type": "string"
        },
        "oneDayActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past one day",
          "type": "string"
        },
        "date": {
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "Name": {
      "id": "Name",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The read-only display name formatted according to the locale specified by the viewer's account or the Accept-Language HTTP header."
        }
      },
      "description": "A person's name.",
      "type": "object"
    },
    "TimestampValues": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "List of timestamp values.",
      "id": "TimestampValues"
    },
    "SearchApplicationQueryStats": {
      "properties": {
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        },
        "date": {
          "$ref": "Date",
          "description": "Date for which query stats were calculated. Stats calculated on the next day close to midnight are returned."
        }
      },
      "id": "SearchApplicationQueryStats",
      "type": "object",
      "description": "Search application level query stats per date"
    },
    "FreshnessOptions": {
      "description": "Indicates which freshness property to use when adjusting search ranking for an item. Fresher, more recent dates indicate higher quality. Use the freshness option property that best works with your data. For fileshare documents, last modified time is most relevant. For calendar event data, the time when the event occurs is a more relevant freshness indicator. In this way, calendar events that occur closer to the time of the search query are considered higher quality and ranked accordingly.",
      "id": "FreshnessOptions",
      "type": "object",
      "properties": {
        "freshnessDuration": {
          "format": "google-duration",
          "description": "The duration after which an object should be considered stale. The default value is 180 days (in seconds).",
          "type": "string"
        },
        "freshnessProperty": {
          "description": "This property indicates the freshness level of the object in the index. If set, this property must be a top-level property within the property definitions and it must be a timestamp type or date type. Otherwise, the Indexing API uses updateTime as the freshness indicator. The maximum length is 256 characters. When a property is used to calculate freshness, the value defaults to 2 years from the current time.",
          "type": "string"
        }
      }
    },
    "GetDataSourceIndexStatsResponse": {
      "properties": {
        "stats": {
          "type": "array",
          "description": "Summary of indexed item counts, one for each day in the requested range.",
          "items": {
            "$ref": "DataSourceIndexStats"
          }
        },
        "averageIndexedItemCount": {
          "format": "int64",
          "type": "string",
          "description": "Average item count for the given date range for which billing is done."
        }
      },
      "id": "GetDataSourceIndexStatsResponse",
      "type": "object"
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SearchApplication": {
      "type": "object",
      "properties": {
        "enableAuditLog": {
          "description": "Indicates whether audit logging is on/off for requests made for the search application in query APIs.",
          "type": "boolean"
        },
        "dataSourceRestrictions": {
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "description": "Retrictions applied to the configurations. The maximum number of elements is 10."
        },
        "operationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. IDs of the Long Running Operations (LROs) currently running for this schema. Output only field.",
          "readOnly": true
        },
        "defaultFacetOptions": {
          "type": "array",
          "description": "The default fields for returning facet results. The sources specified here also have been included in data_source_restrictions above.",
          "items": {
            "$ref": "FacetOptions"
          }
        },
        "displayName": {
          "description": "Display name of the Search Application. The maximum length is 300 characters.",
          "type": "string"
        },
        "returnResultThumbnailUrls": {
          "type": "boolean",
          "description": "With each result we should return the URI for its thumbnail (when applicable)"
        },
        "scoringConfig": {
          "$ref": "ScoringConfig",
          "description": "Configuration for ranking results."
        },
        "sourceConfig": {
          "description": "Configuration for a sources specified in data_source_restrictions.",
          "items": {
            "$ref": "SourceConfig"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the Search Application. Format: searchapplications/{application_id}.",
          "type": "string"
        },
        "defaultSortOptions": {
          "$ref": "SortOptions",
          "description": "The default options for sorting the search results"
        },
        "queryInterpretationConfig": {
          "$ref": "QueryInterpretationConfig",
          "description": "The default options for query interpretation"
        }
      },
      "id": "SearchApplication",
      "description": "SearchApplication"
    },
    "PollItemsRequest": {
      "type": "object",
      "id": "PollItemsRequest",
      "properties": {
        "limit": {
          "description": "Maximum number of items to return. The maximum value is 100 and the default value is 20.",
          "type": "integer",
          "format": "int32"
        },
        "queue": {
          "type": "string",
          "description": "Queue name to fetch items from. If unspecified, PollItems will fetch from 'default' queue. The maximum length is 100 characters."
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "connectorName": {
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "statusCodes": {
          "type": "array",
          "description": "Limit the items polled to the ones with these statuses.",
          "items": {
            "enum": [
              "CODE_UNSPECIFIED",
              "ERROR",
              "MODIFIED",
              "NEW_ITEM",
              "ACCEPTED"
            ],
            "enumDescriptions": [
              "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
              "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
              "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
              "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
              "API has accepted the up-to-date data of this item."
            ],
            "type": "string"
          }
        }
      }
    },
    "PushItemRequest": {
      "id": "PushItemRequest",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "connectorName": {
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "item": {
          "description": "Item to push onto the queue.",
          "$ref": "PushItem"
        }
      },
      "type": "object"
    },
    "GetCustomerQueryStatsResponse": {
      "properties": {
        "totalQueryCount": {
          "format": "int64",
          "description": "Total successful query count (status code 200) for the given date range.",
          "type": "string"
        },
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerQueryStats"
          }
        }
      },
      "id": "GetCustomerQueryStatsResponse",
      "type": "object"
    },
    "Person": {
      "id": "Person",
      "properties": {
        "personNames": {
          "description": "The person's name",
          "items": {
            "$ref": "Name"
          },
          "type": "array"
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "Photo"
          },
          "description": "A person's read-only photo. A picture shown next to the person's name to help others recognize the person in search results."
        },
        "name": {
          "description": "The resource name of the person to provide information about. See People.get from Google People API.",
          "type": "string"
        },
        "emailAddresses": {
          "description": "The person's email addresses",
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "obfuscatedId": {
          "type": "string",
          "description": "Obfuscated ID of a person."
        }
      },
      "type": "object",
      "description": "Object to represent a person."
    },
    "TimestampPropertyOptions": {
      "type": "object",
      "description": "Options for timestamp properties.",
      "properties": {
        "operatorOptions": {
          "$ref": "TimestampOperatorOptions",
          "description": "If set, describes how the timestamp should be used as a search operator."
        }
      },
      "id": "TimestampPropertyOptions"
    },
    "AvatarInfo": {
      "id": "AvatarInfo",
      "type": "object",
      "properties": {
        "emoji": {
          "$ref": "Emoji"
        }
      }
    },
    "ResultDisplayField": {
      "id": "ResultDisplayField",
      "properties": {
        "property": {
          "description": "The name value pair for the property.",
          "$ref": "NamedProperty"
        },
        "label": {
          "description": "The display label for the property.",
          "type": "string"
        },
        "operatorName": {
          "description": "The operator name of the property.",
          "type": "string"
        }
      },
      "description": "Display Fields for Search Results",
      "type": "object"
    },
    "HtmlOperatorOptions": {
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the html property. For example, if operatorName is *subject* and the property's name is *subjectLine*, then queries like *subject:\u003cvalue\u003e* show results only where the value of the property named *subjectLine* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator return all items where *\u003cvalue\u003e* matches the value of any html properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "HtmlOperatorOptions",
      "description": "Used to provide a search operator for html properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
    },
    "CustomerUserStats": {
      "type": "object",
      "id": "CustomerUserStats",
      "properties": {
        "thirtyDaysActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past thirty days",
          "type": "string"
        },
        "sevenDaysActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past seven days",
          "type": "string"
        },
        "date": {
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "oneDayActiveUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of unique active users in the past one day"
        }
      }
    },
    "DriveTimeSpanRestrict": {
      "description": "The time span search restrict (e.g. \"after:2017-09-11 before:2017-09-12\").",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "TODAY",
            "YESTERDAY",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "Not Enabled",
            "Not Enabled"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DriveTimeSpanRestrict"
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "description": "Datasource is a logical namespace for items to be indexed. All items must belong to a datasource. This is the prerequisite before items can be indexed into Cloud Search.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the datasource The maximum length is 300 characters."
        },
        "disableModifications": {
          "type": "boolean",
          "description": "If true, sets the datasource to read-only mode. In read-only mode, the Indexing API rejects any requests to index or delete items in this source. Enabling read-only mode does not stop the processing of previously accepted data."
        },
        "shortName": {
          "type": "string",
          "description": "A short name or alias for the source. This value will be used to match the 'source' operator. For example, if the short name is *\u003cvalue\u003e* then queries like *source:\u003cvalue\u003e* will only return results for this source. The value must be unique across all datasources. The value must only contain alphanumeric characters (a-zA-Z0-9). The value cannot start with 'google' and cannot be one of the following: mail, gmail, docs, drive, groups, sites, calendar, hangouts, gplus, keep, people, teams. Its maximum length is 32 characters."
        },
        "returnThumbnailUrls": {
          "description": "Can a user request to get thumbnail URI for Items indexed in this data source.",
          "type": "boolean"
        },
        "indexingServiceAccounts": {
          "description": "List of service accounts that have indexing access.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disableServing": {
          "description": "Disable serving any search or assist results.",
          "type": "boolean"
        },
        "itemsVisibility": {
          "items": {
            "$ref": "GSuitePrincipal"
          },
          "type": "array",
          "description": "This field restricts visibility to items at the datasource level. Items within the datasource are restricted to the union of users and groups included in this field. Note that, this does not ensure access to a specific item, as users need to have ACL permissions on the contained items. This ensures a high level access on the entire datasource, and that the individual items are not shared outside this visibility."
        },
        "operationIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema.",
          "type": "array"
        }
      }
    },
    "VideoInfo": {
      "description": "Next tag: 2",
      "id": "VideoInfo",
      "type": "object",
      "properties": {
        "duration": {
          "type": "integer",
          "description": "Duration of the video in milliseconds. This field can be absent for recently uploaded video or inaccurate sometimes.",
          "format": "int32"
        }
      }
    },
    "DateValues": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Date"
          }
        }
      },
      "type": "object",
      "description": "List of date values.",
      "id": "DateValues"
    },
    "ListSearchApplicationsResponse": {
      "id": "ListSearchApplicationsResponse",
      "type": "object",
      "properties": {
        "searchApplications": {
          "items": {
            "$ref": "SearchApplication"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "PropertyDefinition": {
      "properties": {
        "isFacetable": {
          "description": "Indicates that the property can be used for generating facets. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for Boolean, Enum, and Text properties.",
          "type": "boolean"
        },
        "textPropertyOptions": {
          "$ref": "TextPropertyOptions"
        },
        "isSortable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for sorting. Cannot be true for properties that are repeatable. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for Boolean, Date, Double, Integer, and Timestamp properties."
        },
        "isWildcardSearchable": {
          "type": "boolean",
          "description": "Indicates that users can perform wildcard search for this property. Only supported for Text properties. IsReturnable must be true to set this option. In a given datasource maximum of 5 properties can be marked as is_wildcard_searchable."
        },
        "isReturnable": {
          "description": "Indicates that the property identifies data that should be returned in search results via the Query API. If set to *true*, indicates that Query API users can use matching property fields in results. However, storing fields requires more space allocation and uses more bandwidth for search queries, which impacts performance over large datasets. Set to *true* here only if the field is needed for search results. Cannot be true for properties whose type is an object.",
          "type": "boolean"
        },
        "integerPropertyOptions": {
          "$ref": "IntegerPropertyOptions"
        },
        "booleanPropertyOptions": {
          "$ref": "BooleanPropertyOptions"
        },
        "timestampPropertyOptions": {
          "$ref": "TimestampPropertyOptions"
        },
        "isSuggestable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for generating query suggestions."
        },
        "displayOptions": {
          "description": "Options that determine how the property is displayed in the Cloud Search results page if it is specified to be displayed in the object's display options .",
          "$ref": "PropertyDisplayOptions"
        },
        "doublePropertyOptions": {
          "$ref": "DoublePropertyOptions"
        },
        "enumPropertyOptions": {
          "$ref": "EnumPropertyOptions"
        },
        "htmlPropertyOptions": {
          "$ref": "HtmlPropertyOptions"
        },
        "name": {
          "type": "string",
          "description": "The name of the property. Item indexing requests sent to the Indexing API should set the property name equal to this value. For example, if name is *subject_line*, then indexing requests for document items with subject fields should set the name for that field equal to *subject_line*. Use the name as the identifier for the object property. Once registered as a property for an object, you cannot re-use this name for another property within that object. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters."
        },
        "isRepeatable": {
          "type": "boolean",
          "description": "Indicates that multiple values are allowed for the property. For example, a document only has one description but can have multiple comments. Cannot be true for properties whose type is a boolean. If set to false, properties that contain more than one value cause the indexing request for that item to be rejected."
        },
        "datePropertyOptions": {
          "$ref": "DatePropertyOptions"
        },
        "objectPropertyOptions": {
          "$ref": "ObjectPropertyOptions"
        }
      },
      "description": "The definition of a property within an object.",
      "type": "object",
      "id": "PropertyDefinition"
    },
    "CustomerId": {
      "type": "object",
      "description": "Represents a GSuite customer ID. Obfuscated with CustomerIdObfuscator.",
      "properties": {
        "customerId": {
          "type": "string"
        }
      },
      "id": "CustomerId"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "QueryInterpretation": {
      "type": "object",
      "id": "QueryInterpretation",
      "properties": {
        "interpretedQuery": {
          "description": "The interpretation of the query used in search. For example, queries with natural language intent like \"email from john\" will be interpreted as \"from:john source:mail\". This field will not be filled when the reason is NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY.",
          "type": "string"
        },
        "interpretationType": {
          "enum": [
            "NONE",
            "BLEND",
            "REPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Neither the natural language interpretation, nor a broader version of the query is used to fetch the search results.",
            "The results from original query are blended with other results. The reason for blending these other results with the results from original query is populated in the 'Reason' field below.",
            "The results from original query are replaced. The reason for replacing the results from original query is populated in the 'Reason' field below."
          ]
        },
        "reason": {
          "enumDescriptions": [
            "",
            "Natural language interpretation of the query is used to fetch the search results.",
            "Query and document terms similarity is used to selectively broaden the query to retrieve additional search results since enough results were not found for the user query. Interpreted query will be empty for this case."
          ],
          "description": "The reason for interpretation of the query. This field will not be UNSPECIFIED if the interpretation type is not NONE.",
          "enum": [
            "UNSPECIFIED",
            "QUERY_HAS_NATURAL_LANGUAGE_INTENT",
            "NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY"
          ],
          "type": "string"
        }
      }
    },
    "SpaceInfo": {
      "description": "Defines the representation of a single matching space.",
      "id": "SpaceInfo",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "avatarInfo": {
          "$ref": "AvatarInfo"
        },
        "description": {
          "type": "string"
        },
        "userMembershipState": {
          "enumDescriptions": [
            "Default state, do not use",
            "An invitation to the space has been sent",
            "User has joined the space",
            "User is not a member",
            "This state should never be stored in Spanner. It is a state for responses to the clients to indicate that membership mutations have failed and the member is in its previous state."
          ],
          "enum": [
            "MEMBER_UNKNOWN",
            "MEMBER_INVITED",
            "MEMBER_JOINED",
            "MEMBER_NOT_A_MEMBER",
            "MEMBER_FAILED"
          ],
          "description": "searching user's membership state in this space",
          "type": "string"
        },
        "numMembers": {
          "format": "int32",
          "type": "integer"
        },
        "groupId": {
          "$ref": "GroupId"
        }
      }
    },
    "DeleteQueueItemsRequest": {
      "id": "DeleteQueueItemsRequest",
      "type": "object",
      "properties": {
        "queue": {
          "type": "string",
          "description": "Name of a queue to delete items from."
        },
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      }
    },
    "IntegerValues": {
      "id": "IntegerValues",
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "List of integer values.",
      "type": "object"
    },
    "BooleanOperatorOptions": {
      "type": "object",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the boolean property. For example, if operatorName is *closed* and the property's name is *isClosed*, then queries like *closed:\u003cvalue\u003e* show results only where the value of the property named *isClosed* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "description": "Used to provide a search operator for boolean properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "id": "BooleanOperatorOptions"
    },
    "QueryInterpretationConfig": {
      "description": "Default options to interpret user query.",
      "id": "QueryInterpretationConfig",
      "type": "object",
      "properties": {
        "forceVerbatimMode": {
          "description": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental results retrieval, and usage of synonyms including custom ones. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for verbatim mode.",
          "type": "boolean"
        },
        "forceDisableSupplementalResults": {
          "description": "Set this flag to disable supplemental results retrieval, setting a flag here will not retrieve supplemental results for queries associated with a given search application. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for supplemental results.",
          "type": "boolean"
        }
      }
    },
[...]
