{
  "servicePath": "",
  "canonicalName": "Cloud Search",
  "protocol": "rest",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string",
              "description": "The name of the operation resource."
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ],
          "id": "cloudsearch.operations.get",
          "flatPath": "v1/operations/{operationsId}"
        }
      },
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "id": "cloudsearch.operations.lro.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^operations/.*$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              },
              "flatPath": "v1/operations/{operationsId}/lro",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/lro"
            }
          }
        }
      }
    },
    "debug": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "path": "v1/debug/{+parent}/unmappedids",
                      "httpMethod": "GET",
                      "parameters": {
                        "debugOptions.enableDebugging": {
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous List request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "type": "string",
                          "pattern": "^datasources/[^/]+/items/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute.",
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list"
                    }
                  }
                }
              },
              "methods": {
                "searchByViewUrl": {
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Source name, format: datasources/{source_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                  "path": "v1/debug/{+name}/items:searchByViewUrl",
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.",
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  }
                },
                "checkAccess": {
                  "description": "Checks whether an item is accessible by specified principal. **Note:** This API requires an admin account to execute.",
                  "path": "v1/debug/{+name}:checkAccess",
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "request": {
                    "$ref": "Principal"
                  },
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CheckAccessResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        },
        "identitysources": {
          "resources": {
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "path": "v1/debug/{+parent}/items:forunmappedidentity",
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "groupResourceName": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^identitysources/[^/]+$",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}"
                    },
                    "userResourceName": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "unmappedids": {
              "methods": {
                "list": {
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.",
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "resolutionStatusCode": {
                      "location": "query",
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ],
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "description": "Limit users selection to this status.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^identitysources/[^/]+$",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "path": "v1/debug/{+parent}/unmappedids",
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids"
                }
              }
            }
          }
        }
      }
    },
    "stats": {
      "methods": {
        "getIndex": {
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.",
          "id": "cloudsearch.stats.getIndex",
          "path": "v1/stats/index",
          "flatPath": "v1/stats/index",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          },
          "parameters": {
            "toDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "toDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32"
            },
            "fromDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "toDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "parameterOrder": []
        },
        "getQuery": {
          "flatPath": "v1/stats/query",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "parameters": {
            "fromDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32"
            },
            "toDate.month": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32"
            },
            "toDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer"
            },
            "fromDate.year": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "httpMethod": "GET",
          "id": "cloudsearch.stats.getQuery",
          "parameterOrder": [],
          "path": "v1/stats/query",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ]
        },
        "getUser": {
          "path": "v1/stats/user",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "id": "cloudsearch.stats.getUser",
          "parameterOrder": [],
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "parameters": {
            "toDate.month": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12."
            },
            "fromDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "fromDate.year": {
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "type": "integer"
            },
            "toDate.year": {
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "type": "integer"
            },
            "toDate.day": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.month": {
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/stats/user"
        },
        "getSession": {
          "parameters": {
            "toDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "fromDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            },
            "toDate.month": {
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32"
            },
            "toDate.day": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.year": {
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "type": "integer"
            },
            "fromDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "path": "v1/stats/session",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          },
          "id": "cloudsearch.stats.getSession",
          "flatPath": "v1/stats/session",
          "parameterOrder": [],
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute."
        }
      },
      "resources": {
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "parameters": {
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.month": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "toDate.year": {
                      "location": "query",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^searchapplications/[^/]+$",
                      "location": "path",
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}"
                    },
                    "fromDate.month": {
                      "format": "int32",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "path": "v1/stats/query/{+name}",
                  "httpMethod": "GET",
                  "id": "cloudsearch.stats.query.searchapplications.get"
                }
              }
            }
          }
        },
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "fromDate.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^searchapplications/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "toDate.month": {
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "toDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "path": "v1/stats/session/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  }
                }
              }
            }
          }
        },
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "id": "cloudsearch.stats.index.datasources.get",
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "parameters": {
                    "toDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\"",
                      "type": "string",
                      "location": "path"
                    },
                    "fromDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/stats/index/{+name}"
                }
              }
            }
          }
        },
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "path": "v1/stats/user/{+name}",
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                  "parameters": {
                    "toDate.month": {
                      "location": "query",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "fromDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "toDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "name": {
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "pattern": "^searchapplications/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fromDate.day": {
                      "format": "int32",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "id": "cloudsearch.stats.user.searchapplications.get"
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "Media"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ],
          "response": {
            "$ref": "Media"
          },
          "id": "cloudsearch.media.upload",
          "flatPath": "v1/media/{mediaId}",
          "path": "v1/media/{+resourceName}",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v1/media/{+resourceName}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameters": {
            "resourceName": {
              "type": "string",
              "required": true,
              "pattern": "^.*$",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "location": "path"
            }
          },
          "supportsMediaUpload": true,
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute."
        }
      }
    },
    "indexing": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "upload": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}:upload",
                  "id": "cloudsearch.indexing.datasources.items.upload",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes.",
                      "pattern": "^datasources/[^/]+/items/[^/]+$"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "UploadItemRef"
                  }
                },
                "push": {
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "path": "v1/indexing/{+name}:push",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Item"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.",
                      "pattern": "^datasources/[^/]+/items/[^/]+$"
                    }
                  }
                },
                "poll": {
                  "request": {
                    "$ref": "PollItemsRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PollItemsResponse"
                  },
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.poll",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "location": "path",
                      "description": "Name of the Data Source to poll items. Format: datasources/{source_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/indexing/{+name}/items:poll"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "httpMethod": "GET",
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Name of the item to get info. Format: datasources/{source_id}/items/{item_id}",
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$"
                    },
                    "connectorName": {
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "type": "string",
                      "location": "query"
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/indexing/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Item"
                  }
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Name of the Data Source to list Items. Format: datasources/{source_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "required": true
                    },
                    "brief": {
                      "type": "boolean",
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "connectorName": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "httpMethod": "GET",
                  "path": "v1/indexing/{+name}/items",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "id": "cloudsearch.indexing.datasources.items.list"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the item to delete. Format: datasources/{source_id}/items/{item_id}",
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path"
                    },
                    "mode": {
                      "enumDescriptions": [
                        "Priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ],
                      "type": "string",
                      "description": "Required. The RequestMode for this request.",
                      "location": "query",
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ]
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean"
                    },
                    "connectorName": {
                      "location": "query",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "type": "string"
                    },
                    "version": {
                      "format": "byte",
                      "type": "string",
                      "location": "query",
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes."
                    }
                  },
                  "path": "v1/indexing/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "index": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "IndexItemRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}:index",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.index"
                },
                "deleteQueueItems": {
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems",
                  "httpMethod": "POST",
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Name of the Data Source to delete items in a queue. Format: datasources/{source_id}",
                      "required": true,
                      "pattern": "^datasources/[^/]+$"
                    }
                  }
                },
                "unreserve": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Name of the Data Source to unreserve all items. Format: datasources/{source_id}"
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.unreserve",
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  },
                  "path": "v1/indexing/{+name}/items:unreserve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve"
                }
              }
            }
          },
          "methods": {
            "getSchema": {
              "id": "cloudsearch.indexing.datasources.getSchema",
              "path": "v1/indexing/{+name}/schema",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "parameters": {
                "name": {
                  "description": "Name of the data source to get Schema. Format: datasources/{source_id}",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Schema"
              },
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "httpMethod": "GET"
            },
            "deleteSchema": {
              "path": "v1/indexing/{+name}/schema",
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the data source to delete Schema. Format: datasources/{source_id}",
                  "location": "path",
                  "pattern": "^datasources/[^/]+$",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.indexing.datasources.deleteSchema"
            },
            "updateSchema": {
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "description": "Name of the data source to update Schema. Format: datasources/{source_id}",
                  "required": true,
                  "location": "path",
                  "pattern": "^datasources/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "path": "v1/indexing/{+name}/schema",
              "httpMethod": "PUT"
            }
          }
        }
      }
    },
    "query": {
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "path": "v1/query/sources",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ],
              "response": {
                "$ref": "ListQuerySourcesResponse"
              },
              "parameters": {
                "requestOptions.languageCode": {
                  "type": "string",
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The suggest API does not use this parameter. Instead, suggest autocompletes only based on characters in the query.",
                  "location": "query"
                },
                "requestOptions.searchApplicationId": {
                  "location": "query",
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).",
                  "type": "string"
                },
                "requestOptions.timeZone": {
                  "location": "query",
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.",
                  "type": "string"
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "pageToken": {
                  "description": "Number of sources to return in the response.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "cloudsearch.query.sources.list",
              "flatPath": "v1/query/sources",
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "search": {
          "parameters": {},
          "flatPath": "v1/query/search",
          "id": "cloudsearch.query.search",
          "request": {
            "$ref": "SearchRequest"
          },
          "path": "v1/query/search",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchResponse"
          },
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from Google Workspace apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "httpMethod": "POST"
        },
        "suggest": {
          "httpMethod": "POST",
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "request": {
            "$ref": "SuggestRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "parameters": {},
          "path": "v1/query/suggest",
          "id": "cloudsearch.query.suggest",
          "flatPath": "v1/query/suggest",
          "response": {
            "$ref": "SuggestResponse"
          }
        }
      }
    },
    "settings": {
      "methods": {
        "updateCustomer": {
          "parameterOrder": [],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings",
              "location": "query"
            }
          },
          "request": {
            "$ref": "CustomerSettings"
          },
          "path": "v1/settings/customer",
          "id": "cloudsearch.settings.updateCustomer",
          "flatPath": "v1/settings/customer",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "description": "Update customer settings. **Note:** This API requires an admin account to execute.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ]
        },
        "getCustomer": {
          "response": {
            "$ref": "CustomerSettings"
          },
          "path": "v1/settings/customer",
          "id": "cloudsearch.settings.getCustomer",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "flatPath": "v1/settings/customer",
          "description": "Get customer settings. **Note:** This API requires an admin account to execute."
        }
      },
      "resources": {
        "searchapplications": {
          "methods": {
            "create": {
              "parameterOrder": [],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SearchApplication"
              },
              "flatPath": "v1/settings/searchapplications",
              "path": "v1/settings/searchapplications",
              "parameters": {},
              "description": "Creates a search application. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.searchapplications.create"
            },
            "list": {
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "flatPath": "v1/settings/searchapplications",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of items to return.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/settings/searchapplications",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "id": "cloudsearch.settings.searchapplications.list",
              "parameterOrder": []
            },
            "reset": {
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}:reset",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              },
              "id": "cloudsearch.settings.searchapplications.reset",
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the search application to be reset. Format: applications/{application_id}.",
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "update": {
              "request": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Name of the Search Application. Format: searchapplications/{application_id}.",
                  "pattern": "^searchapplications/[^/]+$"
                }
              },
              "path": "v1/settings/{+name}",
              "id": "cloudsearch.settings.searchapplications.update",
              "httpMethod": "PUT",
              "description": "Updates a search application. **Note:** This API requires an admin account to execute."
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}.",
                  "pattern": "^searchapplications/[^/]+$"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "id": "cloudsearch.settings.searchapplications.delete"
            },
            "get": {
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^searchapplications/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Name of the search application. Format: searchapplications/{application_id}."
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "id": "cloudsearch.settings.searchapplications.get",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchApplication"
              },
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            }
          }
        },
        "datasources": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Name of the datasource. Format: datasources/{source_id}.",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "id": "cloudsearch.settings.datasources.delete",
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "path": "v1/settings/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "id": "cloudsearch.settings.datasources.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "description": "Name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/datasources/{datasourcesId}"
            },
            "get": {
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "location": "path",
                  "description": "Name of the datasource resource. Format: datasources/{source_id}.",
                  "type": "string",
                  "required": true
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "httpMethod": "GET",
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "DataSource"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.datasources.get",
              "flatPath": "v1/settings/datasources/{datasourcesId}"
            },
            "list": {
              "response": {
                "$ref": "ListDataSourceResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "id": "cloudsearch.settings.datasources.list",
              "flatPath": "v1/settings/datasources",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Starting index of the results."
                },
                "pageSize": {
                  "description": "Maximum number of datasources to fetch in a request. The max value is 100. The default value is 10",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [],
              "path": "v1/settings/datasources",
              "description": "Lists datasources. **Note:** This API requires an admin account to execute."
            },
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "request": {
                "$ref": "DataSource"
              },
              "parameterOrder": [],
              "id": "cloudsearch.settings.datasources.create",
              "httpMethod": "POST",
              "path": "v1/settings/datasources",
              "parameters": {},
              "flatPath": "v1/settings/datasources",
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute."
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "Cloud Search provides cloud-based search capabilities over G Suite data. The Cloud Search API allows indexing of non-G Suite data into Cloud Search.",
  "basePath": "",
  "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
  "ownerName": "Google",
  "id": "cloudsearch:v1",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Search API",
  "version": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    }
  },
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "version_module": true,
  "name": "cloudsearch",
  "schemas": {
    "FilterOptions": {
      "id": "FilterOptions",
      "description": "Filter options to be applied on query.",
      "type": "object",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters."
        },
        "filter": {
          "description": "Generic filter to restrict the search, such as `lang:en`, `site:xyz`.",
          "$ref": "Filter"
        }
      }
    },
    "ProcessingError": {
      "id": "ProcessingError",
      "type": "object",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Input only value. Use this value in Items.",
            "Item's ACL, metadata, or content is malformed or in invalid state. FieldViolations contains more details on where the problem is.",
            "Countent format is unsupported.",
            "Items with incomplete ACL information due to inheriting other items with broken ACL or having groups with unmapped descendants.",
            "ACL inheritance graph formed a cycle."
          ],
          "type": "string",
          "enum": [
            "PROCESSING_ERROR_CODE_UNSPECIFIED",
            "MALFORMED_REQUEST",
            "UNSUPPORTED_CONTENT_FORMAT",
            "INDIRECT_BROKEN_ACL",
            "ACL_CYCLE"
          ],
          "description": "Error code indicating the nature of the error."
        },
        "errorMessage": {
          "description": "Description of the error.",
          "type": "string"
        },
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "In case the item fields are invalid, this field contains the details about the validation errors.",
          "type": "array"
        }
      }
    },
    "DoubleOperatorOptions": {
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "id": "DoubleOperatorOptions",
      "type": "object"
    },
    "HtmlValues": {
      "id": "HtmlValues",
      "properties": {
        "values": {
          "description": "The maximum allowable length for html values is 2048 characters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "List of html values."
    },
    "ScoringConfig": {
      "type": "object",
      "id": "ScoringConfig",
      "description": "Scoring configurations for a source while processing a Search or Suggest request.",
      "properties": {
        "disableFreshness": {
          "description": "Whether to use freshness as a ranking signal. By default, freshness is used as a ranking signal. Note that this setting is not available in the Admin UI.",
          "type": "boolean"
        },
        "disablePersonalization": {
          "description": "Whether to personalize the results. By default, personal signals will be used to boost results.",
          "type": "boolean"
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "description": "The search API response.",
      "properties": {
        "structuredResults": {
          "items": {
            "$ref": "StructuredResult"
          },
          "description": "Structured results for the user query. These results are not counted against the page_size.",
          "type": "array"
        },
        "facetResults": {
          "items": {
            "$ref": "FacetResult"
          },
          "description": "Repeated facet results.",
          "type": "array"
        },
        "resultCountExact": {
          "format": "int64",
          "type": "string",
          "description": "The exact result count for this query."
        },
        "queryInterpretation": {
          "$ref": "QueryInterpretation",
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "Results from a search query."
        },
        "debugInfo": {
          "$ref": "ResponseDebugInfo",
          "description": "Debugging information about the response."
        },
        "errorInfo": {
          "description": "Error information about the response.",
          "$ref": "ErrorInfo"
        },
        "resultCounts": {
          "description": "Expanded result count information.",
          "$ref": "ResultCounts"
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results matching the query."
        },
        "spellResults": {
          "description": "Suggested spelling for the query.",
          "items": {
            "$ref": "SpellResult"
          },
          "type": "array"
        },
        "resultCountEstimate": {
          "format": "int64",
          "type": "string",
          "description": "The estimated result count for this query."
        }
      },
      "id": "SearchResponse"
    },
    "DateValues": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Date"
          }
        }
      },
      "description": "List of date values.",
      "id": "DateValues",
      "type": "object"
    },
    "Snippet": {
      "id": "Snippet",
      "properties": {
        "matchRanges": {
          "type": "array",
          "description": "The matched ranges in the snippet.",
          "items": {
            "$ref": "MatchRange"
          }
        },
        "snippet": {
          "description": "The snippet of the document. The snippet of the document. May contain escaped HTML character that should be unescaped prior to rendering.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Snippet of the search result, which summarizes the content of the resulting page."
    },
    "SuggestResult": {
      "properties": {
        "suggestedQuery": {
          "type": "string",
          "description": "The suggested query that will be used for search, when the user clicks on the suggestion"
        },
        "source": {
          "description": "The source of the suggestion.",
          "$ref": "Source"
        },
        "querySuggestion": {
          "description": "This field will be present if the suggested query is a word/phrase completion.",
          "$ref": "QuerySuggestion"
        },
        "peopleSuggestion": {
          "description": "This is present when the suggestion indicates a person. It contains more information about the person - like their email ID, name etc.",
          "$ref": "PeopleSuggestion"
        }
      },
      "description": "One suggestion result.",
      "id": "SuggestResult",
      "type": "object"
    },
    "ErrorMessage": {
      "type": "object",
      "id": "ErrorMessage",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "source": {
          "$ref": "Source"
        }
      },
      "description": "Error message per source response."
    },
    "SortOptions": {
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Name of the operator corresponding to the field to sort on. The corresponding property must be marked as sortable."
        },
        "sortOrder": {
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Ascending is the default sort order"
        }
      },
      "type": "object",
      "id": "SortOptions"
    },
    "UnmappedIdentity": {
      "id": "UnmappedIdentity",
      "properties": {
        "externalIdentity": {
          "description": "The resource name for an external user.",
          "$ref": "Principal"
        },
        "resolutionStatusCode": {
          "type": "string",
          "enumDescriptions": [
            "Input-only value. Used to list all unmapped identities regardless of status.",
            "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
            "The identity source associated with the identity was either not found or deleted.",
            "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
            "The number of users associated with the external identity is too large.",
            "Internal error."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "NOT_FOUND",
            "IDENTITY_SOURCE_NOT_FOUND",
            "IDENTITY_SOURCE_MISCONFIGURED",
            "TOO_MANY_MAPPINGS_FOUND",
            "INTERNAL_ERROR"
          ],
          "description": "The resolution status for the external identity."
        }
      },
      "type": "object"
    },
    "Schema": {
      "properties": {
        "operationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema. After modifying the schema, wait for operations to complete before indexing additional content."
        },
        "objectDefinitions": {
          "items": {
            "$ref": "ObjectDefinition"
          },
          "description": "The list of top-level objects for the data source. The maximum number of elements is 10.",
          "type": "array"
        }
      },
      "id": "Schema",
      "type": "object",
      "description": "The schema definition for a data source."
    },
    "UpdateSchemaRequest": {
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "schema": {
          "$ref": "Schema",
          "description": "The new schema for the source."
        },
        "validateOnly": {
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "UpdateSchemaRequest"
    },
    "Source": {
      "description": "Defines sources for the suggest/search APIs.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Source name for content indexed by the Indexing API.",
          "type": "string"
        },
        "predefinedSource": {
          "enumDescriptions": [
            "",
            "Suggests queries issued by the user in the past. Only valid when used with the suggest API. Ignored when used in the query API.",
            "Suggests people in the organization. Only valid when used with the suggest API. Results in an error when used in the query API.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "QUERY_HISTORY",
            "PERSON",
[...]
