{
  "documentationLink": "https://cloud.google.com/identity/",
  "revision": "20220125",
  "version": "v1beta1",
  "description": "API for provisioning and managing identity resources.",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        }
      }
    }
  },
  "version_module": true,
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Identity",
  "batchPath": "batch",
  "protocol": "rest",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "servicePath": "",
  "resources": {
    "groups": {
      "resources": {
        "memberships": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Membership"
              },
              "description": "Retrieves a `Membership`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.get",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}"
            },
            "getMembershipGraph": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "parameters": {
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When a group_id is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned."
                }
              },
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "id": "cloudidentity.groups.memberships.list",
              "parameters": {
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The `next_page_token` value returned from a previous search request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "format": "int32"
                },
                "view": {
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`.",
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/memberships",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "description": "Lists the `Membership`s within a `Group`."
            },
            "modifyMembershipRoles": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:modifyMembershipRoles",
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              }
            },
            "lookup": {
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup",
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/memberships:lookup",
              "parameters": {
                "memberKey.namespace": {
                  "location": "query",
                  "type": "string",
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`."
                },
                "memberKey.id": {
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^groups/[^/]+$"
                }
              }
            },
            "searchTransitiveGroups": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query"
                },
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "required": true
                }
              },
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "cloudidentity.groups.memberships.delete",
              "description": "Deletes a `Membership`.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            },
            "checkTransitiveMembership": {
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "parameters": {
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "parameterOrder": [
                "parent"
              ]
            },
            "searchTransitiveMemberships": {
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group.",
                  "location": "path",
                  "required": true,
                  "pattern": "^groups/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships"
            },
            "create": {
              "request": {
                "$ref": "Membership"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudidentity.groups.memberships.create",
              "path": "v1beta1/{+parent}/memberships",
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a `Membership`.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "getSecuritySettings": {
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "httpMethod": "GET",
          "path": "v1beta1/{+name}",
          "description": "Get Security Settings",
          "id": "cloudidentity.groups.getSecuritySettings",
          "response": {
            "$ref": "SecuritySettings"
          },
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^groups/[^/]+/securitySettings$",
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.list",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "path": "v1beta1/groups",
          "parameters": {
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ]
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn')."
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous list request, if any."
            }
          },
          "parameterOrder": [],
          "flatPath": "v1beta1/groups",
          "description": "Lists the `Group` resources under a customer or namespace.",
          "httpMethod": "GET"
        },
        "updateSecuritySettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "Update Security Settings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.updateSecuritySettings",
          "path": "v1beta1/{+name}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`."
            },
            "name": {
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
              "pattern": "^groups/[^/]+/securitySettings$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "SecuritySettings"
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          }
        },
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "initialGroupConfig": {
              "location": "query",
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ],
              "type": "string",
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "description": "Required. The initial configuration option for the `Group`."
            }
          },
          "description": "Creates a `Group`.",
          "path": "v1beta1/groups",
          "parameterOrder": [],
          "request": {
            "$ref": "Group"
          },
          "httpMethod": "POST",
          "id": "cloudidentity.groups.create",
          "flatPath": "v1beta1/groups",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "description": "Updates a `Group`.",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`, `dynamic_group_metadata`, `posix_groups`.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^groups/[^/]+$"
            }
          },
          "request": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/groups/{groupsId}",
          "id": "cloudidentity.groups.patch"
        },
        "get": {
          "flatPath": "v1beta1/groups/{groupsId}",
          "path": "v1beta1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Group"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.get",
          "description": "Retrieves a `Group`."
        },
        "lookup": {
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "parameters": {
            "groupKey.namespace": {
              "location": "query",
              "type": "string",
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`."
            },
            "groupKey.id": {
              "location": "query",
              "type": "string",
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
            }
          },
          "id": "cloudidentity.groups.lookup",
          "path": "v1beta1/groups:lookup",
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v1beta1/groups:lookup",
          "httpMethod": "GET"
        },
        "search": {
          "parameterOrder": [],
          "parameters": {
            "view": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "type": "string",
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous search request, if any.",
              "location": "query"
            },
            "query": {
              "description": "Required. The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the parent and inclusion operators on labels (e.g., `parent == 'customers/{customer_id}' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). The `customer_id` must begin with \"C\" (for example, 'C046psxkn').",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`."
            }
          },
          "path": "v1beta1/groups:search",
          "id": "cloudidentity.groups.search",
          "flatPath": "v1beta1/groups:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Searches for `Group` resources matching a specified query.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchGroupsResponse"
          }
        },
        "delete": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^groups/[^/]+$",
              "location": "path",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a `Group`.",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudidentity.groups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}"
        }
      }
    },
    "devices": {
      "resources": {
        "deviceUsers": {
          "methods": {
            "approve": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.devices.deviceUsers.approve",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve",
              "description": "Approves device to access user data.",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "ApproveDeviceUserRequest"
              },
              "path": "v1beta1/{+name}:approve"
            },
            "cancelWipe": {
              "path": "v1beta1/{+name}:cancelWipe",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe",
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
              "request": {
                "$ref": "CancelWipeDeviceUserRequest"
              },
              "httpMethod": "POST"
            },
            "block": {
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "request": {
                "$ref": "BlockDeviceUserRequest"
              },
              "path": "v1beta1/{+name}:block",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "cloudidentity.devices.deviceUsers.block",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Blocks device from accessing user data"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+name}",
              "id": "cloudidentity.devices.deviceUsers.delete",
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data."
            },
            "get": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the specified DeviceUser",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "response": {
                "$ref": "DeviceUser"
              },
              "id": "cloudidentity.devices.deviceUsers.get"
            },
            "lookup": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user.",
                  "pattern": "^devices/[^/]+/deviceUsers$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "location": "query",
                  "type": "string",
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token."
                },
                "rawResourceId": {
                  "type": "string",
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json",
                  "location": "query"
                },
                "androidId": {
                  "location": "query",
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID).",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: No properties need to be passed, the caller's credentials are sufficient to identify the corresponding DeviceUser. - Android: Specifying the 'android_id' field is required. - Desktop: Specifying the 'raw_resource_id' field is required.",
              "response": {
                "$ref": "LookupSelfDeviceUsersResponse"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers:lookup",
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "path": "v1beta1/{+parent}:lookup"
            },
            "list": {
              "description": "Lists/Searches DeviceUsers.",
              "path": "v1beta1/{+parent}/deviceUsers",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order specification for devices in the response.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^devices/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDeviceUsersResponse"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers",
              "id": "cloudidentity.devices.deviceUsers.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "wipe": {
              "description": "Wipes the user's account on a device.",
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "path": "v1beta1/{+name}:wipe",
              "request": {
                "$ref": "WipeDeviceUserRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe"
            }
          },
          "resources": {
            "clientStates": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the client state for the device user",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "ClientState"
                  },
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get",
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientStates/{partner_id}`, where `device_id` is the unique ID assigned to the Device, `device_user_id` is the unique ID assigned to the User and `partner_id` identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization. You may specify `-` in place of the `{device_id}`, so the ClientState resource name can be: `devices/-/deviceUsers/{device_user_resource_id}/clientStates/{partner_id}`.",
                      "location": "path"
                    },
                    "customer": {
                      "location": "query",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
                      "required": true,
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$"
                    },
                    "customer": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ClientState"
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "cloudidentity.devices.get",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device."
            }
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Device"
          },
          "flatPath": "v1beta1/devices/{devicesId}",
          "description": "Retrieves the specified device."
        },
        "list": {
          "description": "Lists/Searches devices.",
          "id": "cloudidentity.devices.list",
          "path": "v1beta1/devices",
          "response": {
            "$ref": "ListDevicesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character."
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query",
              "type": "integer"
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ],
              "description": "Optional. The view to use for the List request."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token."
            }
          },
          "flatPath": "v1beta1/devices"
        },
        "wipe": {
          "description": "Wipes all data on the specified device.",
          "path": "v1beta1/{+name}:wipe",
          "request": {
            "$ref": "WipeDeviceRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
              "pattern": "^devices/[^/]+$",
              "type": "string"
            }
          },
          "id": "cloudidentity.devices.wipe",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/devices/{devicesId}",
          "description": "Deletes the specified device.",
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device."
            }
          },
          "id": "cloudidentity.devices.delete",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "httpMethod": "DELETE"
        },
        "cancelWipe": {
          "id": "cloudidentity.devices.cancelWipe",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "path": "v1beta1/{+name}:cancelWipe"
        },
        "create": {
          "parameterOrder": [],
          "request": {
            "$ref": "CreateDeviceRequest"
          },
          "path": "v1beta1/devices",
          "flatPath": "v1beta1/devices",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {},
          "id": "cloudidentity.devices.create",
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium"
        }
      }
    },
    "customers": {
      "resources": {
        "userinvitations": {
          "methods": {
            "cancel": {
              "request": {
                "$ref": "CancelUserInvitationRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.customers.userinvitations.cancel",
              "path": "v1beta1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "description": "Cancels a UserInvitation that was already sent.",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:cancel"
            },
            "list": {
              "path": "v1beta1/{+parent}/userinvitations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListUserInvitationsResponse"
              },
              "id": "cloudidentity.customers.userinvitations.list",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "orderBy": {
                  "description": "Optional. The sort order of the list results. You can sort the results in descending order based on either email or last update timestamp but not both, using `order_by=\"email desc\"`. Currently, sorting is supported for `update_time asc`, `update_time desc`, `email asc`, and `email desc`. If not specified, results will be returned based on `email asc` order.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of UserInvitation resources to return. If unspecified, at most 100 resources will be returned. The maximum value is 200; values above 200 will be set to 200.",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The customer ID of the Google Workspace or Cloud Identity account the UserInvitation resources are associated with.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListUserInvitations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. A query string for filtering `UserInvitation` results by their current state, in the format: `\"state=='invited'\"`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Retrieves a list of UserInvitation resources. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains."
            },
            "isInvitableUser": {
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:isInvitableUser",
              "id": "cloudidentity.customers.userinvitations.isInvitableUser",
              "description": "Verifies whether a user account is eligible to receive a UserInvitation (is an unmanaged account). Eligibility is based on the following criteria: * the email address is a consumer account and it's the primary email address of the account, and * the domain of the email address matches an existing verified Google Workspace or Cloud Identity domain If both conditions are met, the user is eligible. **Note:** This method is not supported for Workspace Essentials customers.",
              "httpMethod": "GET",
              "response": {
                "$ref": "IsInvitableUserResponse"
              },
              "path": "v1beta1/{+name}:isInvitableUser",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "cloudidentity.customers.userinvitations.get",
              "description": "Retrieves a UserInvitation resource. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "UserInvitation"
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "send": {
              "httpMethod": "POST",
              "id": "cloudidentity.customers.userinvitations.send",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Sends a UserInvitation to email. If the `UserInvitation` does not exist for this request and it is a valid request, the request creates a `UserInvitation`. **Note:** The `get` and `list` methods have a 48-hour delay where newly-created consumer accounts will not appear in the results. You can still send a `UserInvitation` to those accounts if you know the unmanaged email address and IsInvitableUser==True.",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:send",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SendUserInvitationRequest"
              },
              "path": "v1beta1/{+name}:send"
            }
          }
        }
      }
    }
  },
  "name": "cloudidentity",
  "schemas": {
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "description": "Response message for blocking the device from accessing user data.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse"
    },
    "ListDevicesResponse": {
      "description": "Response message that is returned from the ListDevices method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "Devices meeting the list restrictions.",
          "type": "array"
        }
      },
      "id": "ListDevicesResponse"
    },
    "LookupMembershipNameResponse": {
      "id": "LookupMembershipNameResponse",
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "description": "Response message for cancelling an unfinished device wipe.",
      "type": "object"
    },
    "DynamicGroupQuery": {
      "description": "Defines a query on a resource.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "type": "string"
        }
      },
      "id": "DynamicGroupQuery",
      "type": "object"
    },
    "EntityKey": {
      "properties": {
        "namespace": {
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
        }
      },
      "id": "EntityKey",
      "type": "object",
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s."
    },
    "GroupRelation": {
      "id": "GroupRelation",
      "description": "Message representing a transitive group of a user or a group.",
      "properties": {
        "group": {
          "type": "string",
          "description": "Resource name for this group."
        },
        "relationType": {
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the member and the transitive group.",
          "type": "string"
        },
        "roles": {
          "description": "Membership roles of the member for the group.",
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for Group resource.",
          "type": "object"
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "displayName": {
          "description": "Display name for this group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "type": "object",
      "description": "Metadata for DeleteDeviceUser LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata"
    },
    "ListMembershipsResponse": {
      "description": "The response message for MembershipsService.ListMemberships.",
      "properties": {
        "memberships": {
          "description": "The `Membership`s under the specified `parent`.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        }
      },
      "id": "ListMembershipsResponse",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO.",
      "type": "object",
      "properties": {}
    },
    "ListDeviceUsersResponse": {
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "properties": {
        "deviceUsers": {
          "items": {
            "$ref": "DeviceUser"
          },
          "description": "Devices meeting the list restrictions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        }
      },
      "id": "ListDeviceUsersResponse",
      "type": "object"
    },
    "ModifyMembershipRolesResponse": {
      "type": "object",
      "id": "ModifyMembershipRolesResponse",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      },
      "description": "The response message for MembershipsService.ModifyMembershipRoles."
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        }
      },
      "description": "Additional custom attribute values may be one of these types",
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
    },
    "WipeDeviceUserRequest": {
      "description": "Request message for starting an account wipe on device.",
      "type": "object",
      "properties": {},
      "id": "WipeDeviceUserRequest"
    },
    "ListUserInvitationsResponse": {
      "description": "Response message for UserInvitation listing request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call.",
          "type": "string"
        },
        "userInvitations": {
          "items": {
            "$ref": "UserInvitation"
          },
          "description": "The list of UserInvitation resources.",
          "type": "array"
        }
      },
      "id": "ListUserInvitationsResponse"
    },
    "CertificateAttributes": {
      "id": "CertificateAttributes",
      "properties": {
        "certificateTemplate": {
          "$ref": "CertificateTemplate",
          "description": "The X.509 extension for CertificateTemplate."
        },
        "validityExpirationTime": {
          "type": "string",
          "description": "Certificate not valid at or after this timestamp.",
          "format": "google-datetime"
        },
        "validationState": {
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "type": "string",
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "description": "Validation state of this certificate."
        },
        "serialNumber": {
          "description": "Serial number of the certificate, Example: \"123456789\".",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "The name of the issuer of this certificate."
        },
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        },
        "validityStartTime": {
          "type": "string",
          "description": "Certificate not valid before this timestamp.",
          "format": "google-datetime"
        },
        "thumbprint": {
          "type": "string",
          "description": "The certificate thumbprint."
        }
      },
      "description": "Stores information about a certificate.",
      "type": "object"
    },
    "DynamicGroupStatus": {
      "type": "object",
      "properties": {
        "statusTime": {
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "Status of the dynamic group.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "type": "string"
        }
      },
      "id": "DynamicGroupStatus",
      "description": "The current status of a dynamic group along with timestamp."
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "description": "Metadata for CreateDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "description": "Metadata for WipeDevice LRO.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "description": "Metadata for DeleteDevice LRO.",
      "properties": {}
    },
    "GetMembershipGraphResponse": {
      "type": "object",
      "id": "GetMembershipGraphResponse",
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "properties": {
        "groups": {
          "type": "array",
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource.",
          "items": {
            "$ref": "Group"
          }
        },
        "adjacencyList": {
          "type": "array",
          "description": "The membership graph's path information represented as an adjacency list.",
          "items": {
            "$ref": "MembershipAdjacencyList"
          }
        }
      }
    },
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The `Group` resources under the specified `parent`."
        }
      },
      "description": "The response message for GroupsService.ListGroups.",
      "id": "ListGroupsResponse"
    },
    "CancelWipeDeviceResponse": {
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "id": "CancelWipeDeviceResponse",
      "type": "object",
      "description": "Response message for cancelling an unfinished device wipe."
    },
    "DeviceUser": {
      "type": "object",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "properties": {
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where `device_user_id` uniquely identifies a user's use of a device.",
          "readOnly": true,
          "type": "string"
        },
        "lastSyncTime": {
          "type": "string",
          "description": "Output only. Last time when user synced with policies.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "compromisedState": {
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "description": "Compromised State of the DeviceUser object",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ]
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "userAgent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User agent on the device for this specific user"
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "readOnly": true
        },
        "createTime": {
          "description": "When the user first signed in to the device",
          "type": "string",
          "format": "google-datetime"
        },
        "firstSyncTime": {
          "readOnly": true,
          "description": "Output only. Most recent time when user registered with this service.",
          "type": "string",
          "format": "google-datetime"
        },
        "passwordState": {
          "description": "Password state of the DeviceUser object",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "type": "string",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ]
        },
        "managementState": {
          "type": "string",
          "description": "Output only. Management state of the user on the device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ]
        }
      },
      "id": "DeviceUser"
    },
    "UpdateMembershipRolesParams": {
      "id": "UpdateMembershipRolesParams",
      "type": "object",
      "properties": {
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`."
        },
        "fieldMask": {
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "The details of an update to a `MembershipRole`."
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "properties": {
        "brand": {
          "type": "string",
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true
        },
        "networkOperator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Mobile or network operator of device, if available."
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime",
          "readOnly": true
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "description": "Output only. Whether USB debugging is enabled on device.",
          "type": "boolean"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "compromisedState": {
          "readOnly": true,
          "description": "Output only. Represents whether the Device is compromised.",
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ]
        },
        "buildNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Build number of the device."
        },
        "securityPatchTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device."
        },
        "imei": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IMEI number of device if GSM device; empty otherwise."
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "encryptionState": {
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "description": "Output only. Device encryption state.",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "readOnly": true,
          "type": "string"
        },
        "wifiMacAddresses": {
          "items": {
            "type": "string"
          },
          "description": "WiFi MAC addresses of device.",
          "type": "array"
        },
        "basebandVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Baseband version of the device."
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device.",
          "readOnly": true
        },
        "otherAccounts": {
          "readOnly": true,
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "managementState": {
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "description": "Output only. Management state of the device",
          "type": "string"
        },
        "enabledDeveloperOptions": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device."
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "type": "string",
          "format": "google-datetime"
        },
        "kernelVersion": {
          "readOnly": true,
          "description": "Output only. Kernel version of the device.",
          "type": "string"
        },
        "ownerType": {
          "type": "string",
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual"
        },
        "model": {
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "type": "string"
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "readOnly": true
        },
        "deviceType": {
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "description": "Output only. Type of device.",
          "readOnly": true
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "readOnly": true
        },
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "type": "string"
        },
        "bootloaderVersion": {
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "type": "string",
          "readOnly": true
        },
        "releaseVersion": {
          "readOnly": true,
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "type": "object"
    },
    "PosixGroup": {
      "type": "object",
      "id": "PosixGroup",
      "description": "POSIX Group definition to represent a group in a POSIX compliant system.",
      "properties": {
        "name": {
          "description": "Name of the POSIX group.",
          "type": "string"
        },
        "gid": {
          "description": "GID of the POSIX group.",
          "format": "uint64",
          "type": "string"
        },
        "systemId": {
          "type": "string",
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value."
        }
      }
    },
    "IsInvitableUserResponse": {
      "description": "Response for IsInvitableUser RPC.",
      "id": "IsInvitableUserResponse",
      "properties": {
        "isInvitableUser": {
          "type": "boolean",
          "description": "Returns true if the email address is invitable."
        }
      },
      "type": "object"
    },
    "SearchGroupsResponse": {
      "description": "The response message for GroupsService.SearchGroups.",
      "type": "object",
      "id": "SearchGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "groups": {
          "description": "The `Group` resources that match the search query.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        }
      }
    },
    "MemberRestriction": {
      "type": "object",
      "description": "The definition of MemberRestriction",
      "id": "MemberRestriction",
      "properties": {
        "query": {
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`",
          "type": "string"
        },
        "evaluation": {
          "$ref": "RestrictionEvaluation",
          "description": "The evaluated state of this restriction on a group."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata for UpdateClientState LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata"
    },
    "SendUserInvitationRequest": {
      "id": "SendUserInvitationRequest",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "type": "object",
      "properties": {
        "firstAdminInvitationInfo": {
          "$ref": "FirstAdminInvitationInfo",
          "description": "Optional. First admin invitation info for customers"
        }
      }
    },
    "MembershipRole": {
      "description": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`.",
      "type": "object",
      "properties": {
        "restrictionEvaluations": {
          "description": "Evaluations of restrictions applied to parent group on this membership.",
          "$ref": "RestrictionEvaluations"
        },
        "expiryDetail": {
          "$ref": "ExpiryDetail",
          "description": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value."
        },
        "name": {
[...]
