{
  "kind": "discovery#restDescription",
  "name": "clouddeploy",
  "batchPath": "batch",
  "ownerName": "Google",
  "id": "clouddeploy:v1",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "title": "Google Cloud Deploy API",
  "documentationLink": "https://cloud.google.com/deploy/",
  "version": "v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "RetryJobRequest": {
      "id": "RetryJobRequest",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to retry."
        },
        "phaseId": {
          "type": "string",
          "description": "Required. The phase ID the Job to retry belongs to."
        }
      },
      "type": "object",
      "description": "RetryJobRequest is the request object used by `RetryJob`."
    },
    "CloudRunLocation": {
      "type": "object",
      "description": "Information specifying where to deploy a Cloud Run Service.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`."
        }
      },
      "id": "CloudRunLocation"
    },
    "CloudRunConfig": {
      "type": "object",
      "id": "CloudRunConfig",
      "properties": {
        "automaticTrafficControl": {
          "type": "boolean",
          "description": "Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments."
        }
      },
      "description": "CloudRunConfig contains the Cloud Run runtime configuration."
    },
    "TargetArtifact": {
      "properties": {
        "manifestPath": {
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "readOnly": true,
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "type": "string"
        },
        "artifactUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI of a directory containing the artifacts. This contains deployment configuration used by Skaffold during a rollout, and all paths are relative to this location."
        },
        "phaseArtifacts": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "PhaseArtifact"
          },
          "description": "Output only. Map from the phase ID to the phase artifacts for the `Target`."
        }
      },
      "description": "The artifacts produced by a target render operation.",
      "id": "TargetArtifact",
      "type": "object"
    },
    "RolloutNotificationEvent": {
      "properties": {
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string",
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ]
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "rollout": {
          "type": "string",
          "description": "The name of the `Rollout`."
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target` that the rollout is deployed to."
        }
      },
      "id": "RolloutNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification.",
      "type": "object"
    },
    "TargetRender": {
      "properties": {
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the render failure, if available."
        },
        "failureCause": {
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "readOnly": true,
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ]
        },
        "metadata": {
          "$ref": "RenderMetadata",
          "readOnly": true,
          "description": "Output only. Metadata related to the `Release` render for this Target."
        },
        "renderingState": {
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "description": "Output only. Current state of the render operation for this Target.",
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "TargetRender",
      "description": "Details of rendering for a single target."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "ExecutionConfig": {
      "properties": {
        "artifactStorage": {
          "description": "Optional. Cloud Storage location in which to store execution outputs. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "privatePool": {
          "description": "Optional. Use private Cloud Build pool.",
          "$ref": "PrivatePool"
        },
        "executionTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Execution timeout for a Cloud Build Execution. This must be between 10m and 24h in seconds format. If unspecified, a default timeout of 1h is used."
        },
        "defaultPool": {
          "description": "Optional. Use default Cloud Build pool.",
          "$ref": "DefaultPool"
        },
        "workerPool": {
          "type": "string",
          "description": "Optional. The resource name of the `WorkerPool`, with the format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. If this optional field is unspecified, the default Cloud Build pool will be used."
        },
        "usages": {
          "description": "Required. Usages when this configuration should be applied.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Use for rendering.",
              "Use for deploying and deployment hooks.",
              "Use for deployment verification."
            ],
            "type": "string",
            "enum": [
              "EXECUTION_ENVIRONMENT_USAGE_UNSPECIFIED",
              "RENDER",
              "DEPLOY",
              "VERIFY"
            ]
          },
          "type": "array"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) is used."
        }
      },
      "type": "object",
      "id": "ExecutionConfig",
      "description": "Configuration of the environment to use when calling Skaffold."
    },
    "DeployArtifact": {
      "description": "The artifacts produced by a deploy operation.",
      "id": "DeployArtifact",
      "properties": {
        "artifactUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of a directory containing the artifacts. All paths are relative to this location."
        },
        "manifestPaths": {
          "description": "Output only. File paths of the manifests applied during the deploy operation relative to the URI.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AbandonReleaseResponse": {
      "properties": {},
      "type": "object",
      "id": "AbandonReleaseResponse",
      "description": "The response object for `AbandonRelease`."
    },
    "ApproveRolloutResponse": {
      "id": "ApproveRolloutResponse",
      "description": "The response object from `ApproveRollout`.",
      "type": "object",
      "properties": {}
    },
    "DeliveryPipeline": {
      "type": "object",
      "properties": {
        "suspended": {
          "type": "boolean",
          "description": "When suspended, no new releases or rollouts can be created, but in-progress ones will complete."
        },
        "createTime": {
          "description": "Output only. Time at which the pipeline was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "type": "object"
        },
        "condition": {
          "$ref": "PipelineCondition",
          "readOnly": true,
          "description": "Output only. Information around the state of the Delivery Pipeline."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "serialPipeline": {
          "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
          "$ref": "SerialPipeline"
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Description of the `DeliveryPipeline`. Max length is 255 characters."
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the pipeline was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "name": {
          "description": "Optional. Name of the `DeliveryPipeline`. Format is projects/{project}/ locations/{location}/deliveryPipelines/a-z{0,62}.",
          "type": "string"
        }
      },
      "description": "A `DeliveryPipeline` resource in the Google Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress.",
      "id": "DeliveryPipeline"
    },
    "RetryJobResponse": {
      "id": "RetryJobResponse",
      "properties": {},
      "description": "The response object from 'RetryJob'.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "AdvanceChildRolloutJobRun": {
      "type": "object",
      "id": "AdvanceChildRolloutJobRun",
      "properties": {
        "rollout": {
          "type": "string",
          "description": "Output only. Name of the `ChildRollout`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/{release}/rollouts/a-z{0,62}.",
          "readOnly": true
        },
        "rolloutPhaseId": {
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`."
    },
    "Date": {
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "DeployJobRun": {
      "id": "DeployJobRun",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Output only. Metadata containing information about the deploy job run.",
          "$ref": "DeployJobRunMetadata",
          "readOnly": true
        },
        "failureMessage": {
          "readOnly": true,
          "description": "Output only. Additional information about the deploy failure, if available.",
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [Required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "The deploy build did not complete within the alloted time.",
            "There were missing resources in the runtime environment required for a canary deployment. Check the Cloud Build logs for more information.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "MISSING_RESOURCES_FOR_CANARY",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason the deploy failed. This will always be unspecified while the deploy is in progress or if it succeeded."
        },
        "build": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy. Format is projects/{project}/locations/{location}/builds/{build}."
        },
        "artifact": {
          "readOnly": true,
          "description": "Output only. The artifact of a deploy job run, if available.",
          "$ref": "DeployArtifact"
        }
      },
      "description": "DeployJobRun contains information specific to a deploy `JobRun`."
    },
    "GatewayServiceMesh": {
      "properties": {
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "httpRoute": {
          "type": "string",
          "description": "Required. Name of the Gateway API HTTPRoute."
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified HTTPRoute and Service.",
          "type": "string"
        }
      },
      "description": "Information about the Kubernetes Gateway API service mesh configuration.",
      "type": "object",
      "id": "GatewayServiceMesh"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "CancelRolloutResponse": {
      "type": "object",
      "id": "CancelRolloutResponse",
      "properties": {},
      "description": "The response object from `CancelRollout`."
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "Phase": {
      "properties": {
        "id": {
          "description": "Output only. The ID of the Phase.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted.",
            "The Phase was skipped."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED"
          ],
          "description": "Output only. Current state of the Phase."
        },
        "deploymentJobs": {
          "$ref": "DeploymentJobs",
          "readOnly": true,
          "description": "Output only. Deployment job composition."
        },
        "skipMessage": {
          "type": "string",
          "description": "Output only. Additional information on why the Phase was skipped, if available.",
          "readOnly": true
        },
        "childRolloutJobs": {
          "$ref": "ChildRolloutJobs",
          "description": "Output only. ChildRollout job composition.",
          "readOnly": true
        }
      },
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "id": "Phase",
      "type": "object"
    },
    "ListTargetsResponse": {
      "id": "ListTargetsResponse",
      "properties": {
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "The `Target` objects."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response object from `ListTargets`."
    },
    "ListDeliveryPipelinesResponse": {
      "type": "object",
      "description": "The response object from `ListDeliveryPipelines`.",
      "properties": {
        "deliveryPipelines": {
          "description": "The `DeliveryPipeline` objects.",
          "type": "array",
          "items": {
            "$ref": "DeliveryPipeline"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListDeliveryPipelinesResponse"
    },
    "DeliveryPipelineNotificationEvent": {
      "id": "DeliveryPipelineNotificationEvent",
      "type": "object",
      "properties": {
        "deliveryPipeline": {
          "description": "The name of the `Delivery Pipeline`.",
          "type": "string"
        },
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification."
    },
    "TerminateJobRunRequest": {
      "description": "The request object used by `TerminateJobRun`.",
      "id": "TerminateJobRunRequest",
      "type": "object",
      "properties": {}
    },
    "ReleaseNotificationEvent": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification.",
      "id": "ReleaseNotificationEvent",
      "type": "object"
    },
    "Job": {
      "id": "Job",
      "description": "Job represents an operation for a `Rollout`.",
      "properties": {
        "jobRun": {
          "type": "string",
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true
        },
        "createChildRolloutJob": {
          "readOnly": true,
          "description": "Output only. A createChildRollout Job.",
          "$ref": "CreateChildRolloutJob"
        },
        "verifyJob": {
          "readOnly": true,
          "description": "Output only. A verify Job.",
          "$ref": "VerifyJob"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the Job.",
          "type": "string"
        },
        "deployJob": {
          "$ref": "DeployJob",
          "description": "Output only. A deploy Job.",
          "readOnly": true
        },
        "skipMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information on why the Job was skipped, if available."
        },
        "advanceChildRolloutJob": {
          "readOnly": true,
          "description": "Output only. An advanceChildRollout Job.",
          "$ref": "AdvanceChildRolloutJob"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "IGNORED"
          ],
          "description": "Output only. The current state of the Job.",
          "type": "string",
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted.",
            "The Job was skipped.",
            "The Job was ignored."
          ]
        }
      },
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "DeployJob": {
      "properties": {},
      "description": "A deploy Job.",
      "type": "object",
      "id": "DeployJob"
    },
    "ReleaseReadyCondition": {
      "properties": {
        "status": {
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release.",
          "type": "boolean"
        }
      },
      "id": "ReleaseReadyCondition",
      "type": "object",
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release."
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CanaryDeployment": {
      "type": "object",
      "description": "CanaryDeployment represents the canary deployment configuration",
      "id": "CanaryDeployment",
      "properties": {
        "percentages": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Required. The percentage based deployments that will occur as a part of a `Rollout`. List is expected in ascending order and each integer n is 0 \u003c= n \u003c 100."
        },
        "verify": {
          "description": "Whether to run verify tests after each percentage deployment.",
          "type": "boolean"
        }
      }
    },
    "RuntimeConfig": {
      "properties": {
        "kubernetes": {
          "$ref": "KubernetesConfig",
          "description": "Kubernetes runtime configuration."
        },
        "cloudRun": {
          "$ref": "CloudRunConfig",
          "description": "Cloud Run runtime configuration."
        }
      },
      "type": "object",
      "id": "RuntimeConfig",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy."
    },
    "TargetNotificationEvent": {
      "id": "TargetNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "target": {
          "description": "The name of the `Target`.",
          "type": "string"
        }
      }
    },
    "AdvanceRolloutRequest": {
      "description": "The request object used by `AdvanceRollout`.",
      "type": "object",
      "id": "AdvanceRolloutRequest",
      "properties": {
        "phaseId": {
          "type": "string",
          "description": "Required. The phase ID to advance the `Rollout` to."
        }
      }
    },
    "AnthosCluster": {
      "properties": {
        "membership": {
          "description": "Membership of the GKE Hub-registered cluster to which to apply the Skaffold configuration. Format is `projects/{project}/locations/{location}/memberships/{membership_name}`.",
          "type": "string"
        }
      },
      "description": "Information specifying an Anthos Cluster.",
      "type": "object",
      "id": "AnthosCluster"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "VerifyJobRun": {
      "properties": {
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the verify failure, if available."
        },
        "artifactUri": {
          "readOnly": true,
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "type": "string"
        },
        "eventLogPath": {
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "readOnly": true,
          "type": "string"
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is projects/{project}/locations/{location}/builds/{build}.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify build did not complete within the alloted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded."
        }
      },
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "id": "VerifyJobRun",
      "type": "object"
    },
    "DeploymentJobs": {
      "description": "Deployment job composition.",
      "type": "object",
      "id": "DeploymentJobs",
      "properties": {
        "deployJob": {
          "description": "Output only. The deploy Job. This is the deploy job in the phase.",
          "$ref": "Job",
          "readOnly": true
        },
        "verifyJob": {
          "$ref": "Job",
          "readOnly": true,
          "description": "Output only. The verify Job. Runs after a deploy if the deploy succeeds."
        }
      }
    },
    "Standard": {
      "type": "object",
      "description": "Standard represents the standard deployment strategy.",
      "id": "Standard",
      "properties": {
        "verify": {
          "type": "boolean",
          "description": "Whether to verify a deployment."
        }
      }
    },
    "GkeCluster": {
      "type": "object",
      "properties": {
        "internalIp": {
          "type": "boolean",
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept)."
        },
        "cluster": {
          "description": "Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}.",
          "type": "string"
        }
      },
      "description": "Information specifying a GKE Cluster.",
      "id": "GkeCluster"
    },
    "TargetsTypeCondition": {
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type.",
      "id": "TargetsTypeCondition",
      "properties": {
        "errorDetails": {
          "type": "string",
          "description": "Human readable error message."
        },
        "status": {
          "type": "boolean",
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters."
        }
      },
      "type": "object"
    },
    "SerialPipeline": {
      "type": "object",
      "id": "SerialPipeline",
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "properties": {
        "stages": {
          "items": {
            "$ref": "Stage"
          },
          "type": "array",
          "description": "Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow."
        }
      }
    },
    "ListJobRunsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "jobRuns": {
          "type": "array",
          "items": {
            "$ref": "JobRun"
          },
          "description": "The `JobRun` objects."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListJobRunsResponse",
      "description": "ListJobRunsResponse is the response object returned by `ListJobRuns`."
    },
    "AdvanceChildRolloutJob": {
      "id": "AdvanceChildRolloutJob",
      "properties": {},
      "description": "An advanceChildRollout Job.",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "rollouts": {
          "description": "The `Rollout` objects.",
          "items": {
            "$ref": "Rollout"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "ListRolloutsResponse is the response object reutrned by `ListRollouts`.",
      "type": "object",
      "id": "ListRolloutsResponse"
    },
    "Strategy": {
      "properties": {
        "canary": {
          "description": "Canary deployment strategy provides progressive percentage based deployments to a Target.",
          "$ref": "Canary"
        },
        "standard": {
          "$ref": "Standard",
          "description": "Standard deployment strategy executes a single deploy and allows verifying the deployment."
        }
      },
      "description": "Strategy contains deployment strategy information.",
      "id": "Strategy",
      "type": "object"
    },
    "TargetsPresentCondition": {
      "id": "TargetsPresentCondition",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time the condition was updated.",
          "type": "string"
        },
        "missingTargets": {
          "description": "The list of Target names that do not exist. For example, projects/{project_id}/locations/{location_name}/targets/{target_name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "type": "boolean",
          "description": "True if there aren't any missing Targets."
        }
      },
      "type": "object",
      "description": "TargetsPresentCondition contains information on any Targets defined in the Delivery Pipeline that do not actually exist."
    },
    "ReleaseRenderEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change.",
      "id": "ReleaseRenderEvent",
      "properties": {
        "release": {
          "type": "string",
          "description": "The name of the `Release`."
        },
        "message": {
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "type": "object"
    },
    "Release": {
      "description": "A `Release` resource in the Google Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "properties": {
        "renderStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the render began."
        },
        "condition": {
          "$ref": "ReleaseCondition",
          "readOnly": true,
          "description": "Output only. Information around the state of the Release."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "type": "object"
        },
        "deliveryPipelineSnapshot": {
          "$ref": "DeliveryPipeline",
          "readOnly": true,
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time."
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Release`.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "skaffoldConfigUri": {
          "description": "Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the `Release`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/a-z{0,62}."
        },
        "description": {
          "type": "string",
          "description": "Description of the `Release`. Max length is 255 characters."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the `Release` was created.",
          "type": "string"
        },
        "targetRenders": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TargetRender"
          },
          "type": "object",
          "description": "Output only. Map from target ID to details of the render operation for that target."
        },
        "skaffoldVersion": {
          "description": "The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Google Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "targetSnapshots": {
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "items": {
            "$ref": "Target"
          },
          "readOnly": true,
          "type": "array"
        },
        "abandoned": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this is an abandoned release."
        },
        "renderEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the render completed."
        },
        "renderState": {
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "description": "Output only. Current state of the render operation.",
          "readOnly": true
        },
        "buildArtifacts": {
          "items": {
            "$ref": "BuildArtifact"
          },
          "description": "List of artifacts to pass through to Skaffold command.",
          "type": "array"
        },
        "skaffoldConfigPath": {
          "description": "Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "targetArtifacts": {
          "type": "object",
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TargetArtifact"
          }
        }
      },
      "id": "Release",
      "type": "object"
    },
    "KubernetesConfig": {
      "description": "KubernetesConfig contains the Kubernetes runtime configuration.",
      "properties": {
        "serviceNetworking": {
          "description": "Kubernetes Service networking configuration.",
          "$ref": "ServiceNetworking"
        },
        "gatewayServiceMesh": {
          "$ref": "GatewayServiceMesh",
          "description": "Kubernetes Gateway API service mesh configuration."
        }
      },
      "id": "KubernetesConfig",
      "type": "object"
    },
    "PipelineCondition": {
      "description": "PipelineCondition contains all conditions relevant to a Delivery Pipeline.",
      "properties": {
        "pipelineReadyCondition": {
          "$ref": "PipelineReadyCondition",
          "description": "Details around the Pipeline's overall status."
        },
        "targetsPresentCondition": {
          "description": "Details around targets enumerated in the pipeline.",
          "$ref": "TargetsPresentCondition"
        },
        "targetsTypeCondition": {
          "$ref": "TargetsTypeCondition",
          "description": "Details on the whether the targets enumerated in the pipeline are of the same type."
        }
      },
      "type": "object",
      "id": "PipelineCondition"
    },
    "BuildArtifact": {
      "properties": {
        "image": {
          "description": "Image name in Skaffold configuration.",
          "type": "string"
        },
        "tag": {
          "description": "Image tag to use. This will generally be the full path to an image, such as \"gcr.io/my-project/busybox:1.2.3\" or \"gcr.io/my-project/busybox@sha256:abc123\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Description of an a image to use during Skaffold rendering.",
      "id": "BuildArtifact"
    },
    "CreateChildRolloutJob": {
      "type": "object",
      "id": "CreateChildRolloutJob",
      "properties": {},
      "description": "A createChildRollout Job."
    },
    "MultiTarget": {
      "id": "MultiTarget",
      "type": "object",
      "properties": {
        "targetIds": {
          "description": "Required. The target_ids of this multiTarget.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Information specifying a multiTarget."
    },
    "IgnoreJobResponse": {
      "type": "object",
      "id": "IgnoreJobResponse",
      "properties": {},
      "description": "The response object from `IgnoreJob`."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "PipelineReadyCondition": {
      "id": "PipelineReadyCondition",
      "type": "object",
      "description": "PipelineReadyCondition contains information around the status of the Pipeline.",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline."
        },
        "updateTime": {
          "type": "string",
          "description": "Last time the condition was updated.",
          "format": "google-datetime"
        }
      }
    },
    "SkaffoldVersion": {
      "description": "Details of a supported Skaffold version.",
      "type": "object",
      "id": "SkaffoldVersion",
      "properties": {
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "supportExpirationTime": {
          "format": "google-datetime",
          "description": "The time at which this version of skaffold will no longer be supported.",
          "type": "string"
        },
        "maintenanceModeTime": {
          "format": "google-datetime",
          "description": "The time at which this version of skaffold will enter maintenance mode.",
          "type": "string"
        },
        "supportEndDate": {
          "description": "Date when this version is expected to no longer be supported.",
          "$ref": "Date"
        }
      }
    },
    "Rollout": {
      "description": "A `Rollout` resource in the Google Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`.",
      "id": "Rollout",
      "type": "object",
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "failureReason": {
          "readOnly": true,
          "description": "Output only. Additional information about the rollout failure, if available.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was created.",
          "format": "google-datetime"
        },
        "phases": {
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "readOnly": true,
          "items": {
            "$ref": "Phase"
          },
          "type": "array"
        },
        "targetId": {
          "type": "string",
          "description": "Required. The ID of Target to which this `Rollout` is deploying."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "approvalState": {
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Approval state of the `Rollout`.",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ]
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `Rollout`."
        },
        "metadata": {
          "description": "Output only. Metadata contains information about the rollout.",
          "$ref": "Metadata",
          "readOnly": true
        },
        "deployEndTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` finished deploying.",
          "type": "string",
          "readOnly": true
        },
        "controllerRollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the `ControllerRollout`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/{release}/rollouts/a-z{0,62}."
        },
        "deployingBuild": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the `Rollout`.",
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the `Rollout`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/{release}/rollouts/a-z{0,62}.",
          "type": "string"
        },
        "enqueueTime": {
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deployStartTime": {
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "type": "string",
          "format": "google-datetime"
        },
        "deployFailureCause": {
          "readOnly": true,
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the alloted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the `Rollout` for user purposes. Max length is 255 characters.",
          "type": "string"
        },
        "approveTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was approved."
        }
      }
    },
    "PhaseConfig": {
      "id": "PhaseConfig",
      "type": "object",
      "properties": {
        "phaseId": {
          "type": "string",
          "description": "Required. The ID to assign to the `Rollout` phase. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`."
        },
        "percentage": {
          "format": "int32",
          "description": "Required. Percentage deployment for the phase.",
          "type": "integer"
        },
        "profiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Skaffold profiles to use when rendering the manifest for this phase. These are in addition to the profiles list specified in the `DeliveryPipeline` stage."
        },
        "verify": {
          "description": "Whether to run verify tests after the deployment.",
          "type": "boolean"
        }
      },
      "description": "PhaseConfig represents the configuration for a phase in the custom canary deployment."
    },
    "CloudRunMetadata": {
      "id": "CloudRunMetadata",
      "type": "object",
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "properties": {
        "serviceUrls": {
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "service": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is projects/{project}/locations/{location}/services/{service}.",
          "readOnly": true,
          "type": "string"
        },
        "revision": {
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReleaseCondition": {
      "id": "ReleaseCondition",
      "description": "ReleaseCondition contains all conditions relevant to a Release.",
      "properties": {
        "skaffoldSupportedCondition": {
          "description": "Details around the support state of the release's skaffold version.",
          "$ref": "SkaffoldSupportedCondition"
        },
        "releaseReadyCondition": {
          "$ref": "ReleaseReadyCondition",
          "description": "Details around the Releases's overall status."
        }
      },
      "type": "object"
    },
    "JobRun": {
      "type": "object",
      "id": "JobRun",
      "description": "A `JobRun` resource in the Google Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation.",
      "properties": {
        "createChildRolloutJobRun": {
          "readOnly": true,
          "$ref": "CreateChildRolloutJobRun",
          "description": "Output only. Information specific to a createChildRollout `JobRun`."
        },
        "verifyJobRun": {
          "description": "Output only. Information specific to a verify `JobRun`.",
          "$ref": "VerifyJobRun",
          "readOnly": true
        },
        "phaseId": {
          "type": "string",
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` was created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the `JobRun`. Format is projects/{project}/locations/{location}/ deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/ {rollouts}/jobRuns/{uuid}."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the `JobRun` was started.",
          "readOnly": true
        },
        "deployJobRun": {
          "$ref": "DeployJobRun",
          "readOnly": true,
          "description": "Output only. Information specific to a deploy `JobRun`."
        },
        "endTime": {
          "description": "Output only. Time at which the `JobRun` ended.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "TERMINATING",
            "TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed.",
            "The `JobRun` is terminating.",
            "The `JobRun` was terminated."
          ],
          "description": "Output only. The current state of the `JobRun`.",
          "readOnly": true
        },
        "advanceChildRolloutJobRun": {
          "description": "Output only. Information specific to an advanceChildRollout `JobRun`",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJobRun"
        },
        "jobId": {
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the `JobRun`."
        }
      }
    },
    "SkaffoldSupportedCondition": {
      "type": "object",
      "description": "SkaffoldSupportedCondition contains information about when support for the release's version of skaffold ends.",
      "id": "SkaffoldSupportedCondition",
      "properties": {
        "skaffoldSupportState": {
          "description": "The skaffold support state for this release's version of skaffold.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This skaffold version is currently supported.",
            "This skaffold version is in maintenance mode.",
            "This skaffold version is no longer supported."
          ],
          "type": "string",
          "enum": [
            "SKAFFOLD_SUPPORT_STATE_UNSPECIFIED",
            "SKAFFOLD_SUPPORT_STATE_SUPPORTED",
            "SKAFFOLD_SUPPORT_STATE_MAINTENANCE_MODE",
            "SKAFFOLD_SUPPORT_STATE_UNSUPPORTED"
          ]
        },
        "supportExpirationTime": {
          "format": "google-datetime",
          "description": "The time at which this release's version of skaffold will no longer be supported.",
          "type": "string"
        },
        "maintenanceModeTime": {
          "description": "The time at which this release's version of skaffold will enter maintenance mode.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "boolean",
          "description": "True if the version of skaffold used by this release is supported."
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DeployJobRunMetadata": {
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "id": "DeployJobRunMetadata",
      "type": "object",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`.",
          "readOnly": true,
          "$ref": "CloudRunMetadata"
        }
      }
    },
    "DefaultPool": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        }
      },
      "id": "DefaultPool",
      "description": "Execution using the default Cloud Build pool."
    },
    "PhaseArtifact": {
      "type": "object",
      "id": "PhaseArtifact",
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "properties": {
        "jobManifestsPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. File path of the directory of rendered job manifests relative to the URI. This is only set if it is applicable."
        },
        "manifestPath": {
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI."
        }
      }
    },
    "AdvanceRolloutResponse": {
      "type": "object",
      "description": "The response object from `AdvanceRollout`.",
      "properties": {},
      "id": "AdvanceRolloutResponse"
    },
    "Target": {
      "id": "Target",
      "properties": {
        "anthosCluster": {
          "$ref": "AnthosCluster",
          "description": "Information specifying an Anthos Cluster."
        },
        "run": {
          "description": "Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the `Target` was updated.",
          "type": "string",
          "readOnly": true
        },
        "targetId": {
          "description": "Output only. Resource id of the `Target`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the `Target`. Max length is 255 characters.",
          "type": "string"
        },
        "requireApproval": {
          "description": "Optional. Whether or not the `Target` requires approval.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the `Target`. Format is projects/{project}/locations/{location}/targets/a-z{0,62}."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the `Target`."
        },
        "createTime": {
          "description": "Output only. Time at which the `Target` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "gke": {
          "$ref": "GkeCluster",
          "description": "Information specifying a GKE Cluster."
        },
        "executionConfigs": {
          "items": {
            "$ref": "ExecutionConfig"
          },
          "description": "Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`.",
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "type": "object"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "multiTarget": {
          "description": "Information specifying a multiTarget.",
          "$ref": "MultiTarget"
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A `Target` resource in the Google Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed.",
      "type": "object"
    },
    "ChildRolloutJobs": {
      "type": "object",
      "description": "ChildRollouts job composition",
      "properties": {
        "createRolloutJobs": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "description": "Output only. List of CreateChildRolloutJobs",
          "readOnly": true
        },
        "advanceRolloutJobs": {
          "description": "Output only. List of AdvanceChildRolloutJobs",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        }
      },
      "id": "ChildRolloutJobs"
    },
    "Metadata": {
      "description": "Metadata includes information associated with a `Rollout`.",
      "id": "Metadata",
      "type": "object",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`.",
          "$ref": "CloudRunMetadata",
          "readOnly": true
        }
      }
    },
    "RenderMetadata": {
      "id": "RenderMetadata",
      "type": "object",
      "description": "RenderMetadata includes information associated with a `Release` render.",
      "properties": {
        "cloudRun": {
          "readOnly": true,
          "description": "Output only. Metadata associated with rendering for Cloud Run.",
          "$ref": "CloudRunRenderMetadata"
        }
      }
    },
    "CancelRolloutRequest": {
      "type": "object",
      "description": "The request object used by `CancelRollout`.",
      "properties": {},
      "id": "CancelRolloutRequest"
    },
    "ServiceNetworking": {
      "description": "Information about the Kubernetes Service networking configuration.",
      "type": "object",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service."
        },
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        }
      },
      "id": "ServiceNetworking"
    },
    "ApproveRolloutRequest": {
      "id": "ApproveRolloutRequest",
      "description": "The request object used by `ApproveRollout`.",
      "properties": {
        "approved": {
          "type": "boolean",
          "description": "Required. True = approve; false = reject"
        }
      },
      "type": "object"
    },
    "CreateChildRolloutJobRun": {
      "properties": {
        "rollout": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the `ChildRollout`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/{release}/rollouts/a-z{0,62}."
        },
        "rolloutPhaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the childRollout Phase initiated by this JobRun."
        }
      },
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`.",
      "type": "object",
      "id": "CreateChildRolloutJobRun"
    },
    "IgnoreJobRequest": {
      "id": "IgnoreJobRequest",
      "type": "object",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to ignore belongs to.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to ignore."
        }
      },
      "description": "The request object used by `IgnoreJob`."
    },
    "JobRunNotificationEvent": {
      "type": "object",
      "id": "JobRunNotificationEvent",
      "properties": {
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target`."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "jobRun": {
          "description": "The name of the `JobRun`.",
          "type": "string"
        },
        "releaseUid": {
          "description": "Unique identifier of the `Release`.",
          "type": "string"
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification."
    },
    "Stage": {
      "type": "object",
      "id": "Stage",
      "description": "Stage specifies a location to which to deploy.",
      "properties": {
        "targetId": {
          "description": "The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects/project/locations/location/targets/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`.",
          "type": "string"
        },
        "strategy": {
          "description": "Optional. The strategy to use for a `Rollout` to this stage.",
          "$ref": "Strategy"
        },
        "profiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Skaffold profiles to use when rendering the manifest for this stage's `Target`."
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TerminateJobRunResponse": {
      "properties": {},
      "type": "object",
      "id": "TerminateJobRunResponse",
      "description": "The response object from `TerminateJobRun`."
    },
    "ListReleasesResponse": {
      "properties": {
        "releases": {
          "description": "The `Release` objects.",
          "type": "array",
          "items": {
            "$ref": "Release"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response object from `ListReleases`.",
      "id": "ListReleasesResponse"
    },
    "CloudRunRenderMetadata": {
      "type": "object",
      "description": "CloudRunRenderMetadata contains Cloud Run information associated with a `Release` render.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Output only. The name of the Cloud Run Service in the rendered manifest. Format is projects/{project}/locations/{location}/services/{service}.",
          "readOnly": true
        }
      },
      "id": "CloudRunRenderMetadata"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "VerifyJob": {
      "type": "object",
      "id": "VerifyJob",
      "description": "A verify Job.",
      "properties": {}
    },
    "PrivatePool": {
      "description": "Execution using a private Cloud Build pool.",
      "id": "PrivatePool",
      "type": "object",
      "properties": {
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      }
    },
    "Canary": {
      "type": "object",
      "id": "Canary",
      "properties": {
        "canaryDeployment": {
          "description": "Configures the progressive based deployment for a Target.",
          "$ref": "CanaryDeployment"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime specific configurations for the deployment strategy. The runtime configuration is used to determine how Cloud Deploy will split traffic to enable a progressive deployment."
        },
        "customCanaryDeployment": {
          "$ref": "CustomCanaryDeployment",
[...]
