{
  "batchPath": "batch",
  "title": "Cloud Build API",
  "revision": "20210625",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "name": "cloudbuild",
  "id": "cloudbuild:v1",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "triggers": {
          "methods": {
            "delete": {
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "httpMethod": "DELETE",
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "cloudbuild.projects.triggers.delete",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the project that owns the trigger.",
                  "location": "path"
                },
                "triggerId": {
                  "type": "string",
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "required": true,
                  "location": "path"
                },
                "name": {
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "id": "cloudbuild.projects.triggers.get",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "description": "Returns information about a `BuildTrigger`. This API is experimental.",
              "parameters": {
                "triggerId": {
                  "required": true,
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/projects/{projectId}/triggers/{triggerId}"
            },
            "run": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                },
                "triggerId": {
                  "type": "string",
                  "description": "Required. ID of the trigger.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "cloudbuild.projects.triggers.run",
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "request": {
                "$ref": "RepoSource"
              },
              "httpMethod": "POST",
              "description": "Runs a `BuildTrigger` at a particular source revision.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "webhook": {
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                },
                "secret": {
                  "location": "query",
                  "description": "Secret token used for authorization if an OAuth token isn't provided.",
                  "type": "string"
                },
                "trigger": {
                  "description": "Name of the trigger to run the payload against",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Project in which the specified trigger lives",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ReceiveTriggerWebhookResponse"
              },
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "request": {
                "$ref": "HttpBody"
              },
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "httpMethod": "POST",
              "id": "cloudbuild.projects.triggers.webhook"
            },
            "list": {
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "flatPath": "v1/projects/{projectId}/triggers",
              "parameterOrder": [
                "projectId"
              ],
              "id": "cloudbuild.projects.triggers.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Number of results to return in the list.",
                  "type": "integer"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "parent": {
                  "location": "query",
                  "type": "string",
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`"
                }
              },
              "description": "Lists existing `BuildTrigger`s. This API is experimental.",
              "path": "v1/projects/{projectId}/triggers",
              "httpMethod": "GET"
            },
            "create": {
              "response": {
                "$ref": "BuildTrigger"
              },
              "description": "Creates a new `BuildTrigger`. This API is experimental.",
              "id": "cloudbuild.projects.triggers.create",
              "request": {
                "$ref": "BuildTrigger"
              },
              "path": "v1/projects/{projectId}/triggers",
              "parameters": {
                "parent": {
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project for which to configure automatic builds.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId"
              ]
            },
            "patch": {
              "response": {
                "$ref": "BuildTrigger"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.triggers.patch",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true,
                  "type": "string"
                },
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the `BuildTrigger` to update."
                }
              },
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
              "httpMethod": "PATCH",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "request": {
                "$ref": "BuildTrigger"
              }
            }
          }
        },
        "builds": {
          "methods": {
            "cancel": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Cancels a build in progress.",
              "request": {
                "$ref": "CancelBuildRequest"
              },
              "id": "cloudbuild.projects.builds.cancel",
              "response": {
                "$ref": "Build"
              },
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "parameters": {
                "id": {
                  "description": "Required. ID of the build.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "id": "cloudbuild.projects.builds.get",
              "response": {
                "$ref": "Build"
              },
              "path": "v1/projects/{projectId}/builds/{id}",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the build."
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                  "location": "query"
                }
              },
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
              "flatPath": "v1/projects/{projectId}/builds/{id}"
            },
            "retry": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "Required. Build ID of the original build.",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the project."
                }
              },
              "id": "cloudbuild.projects.builds.retry",
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "httpMethod": "POST",
              "request": {
                "$ref": "RetryBuildRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "parameterOrder": [
                "projectId",
                "id"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1/projects/{projectId}/builds",
              "flatPath": "v1/projects/{projectId}/builds",
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
              "httpMethod": "POST",
              "request": {
                "$ref": "Build"
              },
              "id": "cloudbuild.projects.builds.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "query",
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`"
                },
                "projectId": {
                  "required": true,
                  "description": "Required. ID of the project.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "id": "cloudbuild.projects.builds.list",
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "description": "The raw filter text to constrain the results.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Number of results to return in the list.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "description": "Required. ID of the project.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "flatPath": "v1/projects/{projectId}/builds",
              "path": "v1/projects/{projectId}/builds",
              "httpMethod": "GET"
            }
          }
        },
        "locations": {
          "resources": {
            "builds": {
              "methods": {
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Build"
                  },
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "request": {
                    "$ref": "CancelBuildRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Cancels a build in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel"
                },
                "list": {
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The raw filter text to constrain the results."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Number of results to return in the list."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBuildsResponse"
                  },
                  "path": "v1/{+parent}/builds",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.builds.list"
                },
                "get": {
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.builds.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "response": {
                    "$ref": "Build"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$"
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project."
                    },
                    "id": {
                      "type": "string",
                      "description": "Required. ID of the build.",
                      "location": "query"
                    }
                  }
                },
                "retry": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "type": "string",
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`"
                    }
                  },
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "path": "v1/{+name}:retry",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RetryBuildRequest"
                  }
                },
                "create": {
                  "id": "cloudbuild.projects.locations.builds.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/builds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Build"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get"
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "triggers": {
              "methods": {
                "delete": {
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "parameters": {
                    "triggerId": {
                      "location": "query",
                      "description": "Required. ID of the `BuildTrigger` to delete.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListBuildTriggersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/triggers",
                  "description": "Lists existing `BuildTrigger`s. This API is experimental.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list."
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project for which to list BuildTriggers."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Number of results to return in the list.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "id": "cloudbuild.projects.locations.triggers.list"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project for which to configure automatic builds.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new `BuildTrigger`. This API is experimental.",
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/triggers"
                },
                "run": {
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "request": {
                    "$ref": "RunBuildTriggerRequest"
                  },
                  "path": "v1/{+name}:run",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string",
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Runs a `BuildTrigger` at a particular source revision."
                },
                "patch": {
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "path": "v1/{+resourceName}",
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "parameters": {
                    "resourceName": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    },
                    "triggerId": {
                      "type": "string",
                      "description": "Required. ID of the `BuildTrigger` to update.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "BuildTrigger"
                  }
                },
                "webhook": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Project in which the specified trigger lives"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$"
                    },
                    "secret": {
                      "location": "query",
                      "type": "string",
                      "description": "Secret token used for authorization if an OAuth token isn't provided."
                    },
                    "trigger": {
                      "description": "Name of the trigger to run the payload against",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "path": "v1/{+name}:webhook",
                  "response": {
                    "$ref": "ReceiveTriggerWebhookResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger."
                },
                "get": {
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "description": "Returns information about a `BuildTrigger`. This API is experimental.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "triggerId": {
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource to be cancelled."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "id": "cloudbuild.operations.cancel",
          "response": {
            "$ref": "Empty"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "id": "cloudbuild.operations.get"
        }
      }
    }
  },
  "description": "Creates and manages builds on Google Cloud Platform.",
  "servicePath": "",
  "schemas": {
    "ArtifactResult": {
      "properties": {
        "location": {
          "description": "The path of an artifact in a Google Cloud Storage bucket, with the generation number. For example, `gs://mybucket/path/to/output.jar#generation`.",
          "type": "string"
        },
        "fileHash": {
          "type": "array",
          "description": "The file hash of the artifact.",
          "items": {
            "$ref": "FileHashes"
          }
        }
      },
      "type": "object",
      "description": "An artifact that was uploaded during a build. This is a single record in the artifact manifest JSON file.",
      "id": "ArtifactResult"
    },
    "WebhookConfig": {
      "type": "object",
      "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
      "id": "WebhookConfig",
      "properties": {
        "secret": {
          "description": "Required. Resource name for the secret required as a URL parameter.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests.",
          "enumDescriptions": [
            "The webhook auth configuration not been checked.",
            "The auth configuration is properly setup.",
            "The secret provided in auth_method has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SECRET_DELETED"
          ]
        }
      }
    },
    "SlackDelivery": {
      "description": "SlackDelivery is the delivery configuration for delivering Slack messages via webhooks. See Slack webhook documentation at: https://api.slack.com/messaging/webhooks.",
      "type": "object",
      "properties": {
        "webhookUri": {
          "description": "The secret reference for the Slack webhook URI for sending messages to a channel.",
          "$ref": "NotifierSecretRef"
        }
      },
      "id": "SlackDelivery"
    },
    "CancelBuildRequest": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the build."
        },
        "projectId": {
          "type": "string",
          "description": "Required. ID of the project."
        },
        "name": {
          "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
          "type": "string"
        }
      },
      "description": "Request to cancel an ongoing build.",
      "id": "CancelBuildRequest",
      "type": "object"
    },
    "Notification": {
      "type": "object",
      "properties": {
        "smtpDelivery": {
          "description": "Configuration for SMTP (email) delivery.",
          "$ref": "SMTPDelivery"
        },
        "structDelivery": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Escape hatch for users to supply custom delivery configs."
        },
        "slackDelivery": {
          "description": "Configuration for Slack delivery.",
          "$ref": "SlackDelivery"
        },
        "httpDelivery": {
          "$ref": "HTTPDelivery",
          "description": "Configuration for HTTP delivery."
        },
        "filter": {
          "type": "string",
          "description": "The filter string to use for notification filtering. Currently, this is assumed to be a CEL program. See https://opensource.google/projects/cel for more."
        }
      },
      "id": "Notification",
      "description": "Notification is the container which holds the data that is relevant to this particular notification."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "StorageSource": {
      "id": "StorageSource",
      "type": "object",
      "description": "Location of the source in an archive file in Google Cloud Storage.",
      "properties": {
        "object": {
          "description": "Google Cloud Storage object containing the source. This object must be a gzipped archive file (`.tar.gz`) containing source to build.",
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string"
        },
        "bucket": {
          "description": "Google Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        }
      }
    },
    "NotifierSpec": {
      "id": "NotifierSpec",
      "properties": {
        "notification": {
          "description": "The configuration of this particular notifier.",
          "$ref": "Notification"
        },
        "secrets": {
          "description": "Configurations for secret resources used by this particular notifier.",
          "items": {
            "$ref": "NotifierSecret"
          },
          "type": "array"
        }
      },
      "description": "NotifierSpec is the configuration container for notifications.",
      "type": "object"
    },
    "BuiltImage": {
      "description": "An image built by the pipeline.",
      "id": "BuiltImage",
      "type": "object",
      "properties": {
        "pushTiming": {
          "$ref": "TimeSpan",
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified image."
        },
        "digest": {
          "type": "string",
          "description": "Docker Registry 2.0 digest."
        },
        "name": {
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`.",
          "type": "string"
        }
      }
    },
    "Secret": {
      "id": "Secret",
      "properties": {
        "secretEnv": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "type": "object"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Cloud KMS key name to use to decrypt these envs."
        }
      },
      "type": "object",
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials."
    },
    "RepoSource": {
      "id": "RepoSource",
      "description": "Location of the source in a Google Cloud Source Repository.",
      "properties": {
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "invertRegex": {
          "description": "Only trigger a build if the revision regex does NOT match the revision regex.",
          "type": "boolean"
        },
        "commitSha": {
          "type": "string",
          "description": "Explicit commit SHA to build."
        },
        "dir": {
          "type": "string",
          "description": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "branchName": {
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
        },
        "repoName": {
          "description": "Name of the Cloud Source Repository.",
          "type": "string"
        },
        "substitutions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        }
      },
      "type": "object"
    },
    "ArtifactObjects": {
      "id": "ArtifactObjects",
      "type": "object",
      "properties": {
        "timing": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects."
        },
        "paths": {
          "type": "array",
          "description": "Path globs used to match files in the build's workspace.",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
        }
      },
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps."
    },
    "Volume": {
      "properties": {
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        },
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "id": "Volume"
    },
    "GitHubEventsConfig": {
      "properties": {
        "installationId": {
          "type": "string",
          "format": "int64",
          "description": "The installationID that emits the GitHub event."
        },
        "push": {
          "description": "filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "owner": {
          "description": "Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is \"googlecloudplatform\".",
          "type": "string"
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "filter to match changes in pull requests."
        },
        "name": {
          "description": "Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is \"cloud-builders\".",
          "type": "string"
        }
      },
      "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. This message is experimental.",
      "id": "GitHubEventsConfig",
      "type": "object"
    },
    "Artifacts": {
      "properties": {
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "ArtifactObjects"
        },
        "images": {
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "type": "object",
      "id": "Artifacts"
    },
    "BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "type": "object",
      "properties": {
        "diskSizeGb": {
          "type": "string",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 1000GB; builds that request more than the maximum are rejected with an error.",
          "format": "int64"
        },
        "machineType": {
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs."
          ],
          "type": "string",
          "description": "Compute Engine machine type on which to run the build.",
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32"
          ]
        },
        "workerPool": {
          "type": "string",
          "description": "Option to specify a `WorkerPool` for the build. Format: projects/{project}/locations/{location}/workerPools/{workerPool} This field is in beta and is available only to restricted users."
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "substitutionOption": {
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ],
          "type": "string",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ]
        },
        "logging": {
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Cloud Logging and Cloud Storage logging are enabled.",
            "Only Cloud Storage logging is enabled.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Only Cloud Logging is enabled. Note that logs for both the Cloud Console UI and Cloud SDK are based on Cloud Storage logs, so neither will provide logs if this option is chosen.",
            "Turn off all logging. No build logs will be captured."
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "type": "string",
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ]
        },
        "requestedVerifyOption": {
          "enumDescriptions": [
            "Not a verifiable build. (default)",
            "Verified build."
          ],
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ],
          "type": "string",
          "description": "Requested verifiability options."
        },
        "logStreamingOption": {
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Google Cloud Storage.",
            "Build logs should not be streamed to Google Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Google Cloud Storage.",
          "type": "string",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ]
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array",
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "sourceProvenanceHash": {
          "items": {
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash."
            ],
            "type": "string",
            "enum": [
              "NONE",
              "SHA256",
              "MD5"
            ]
          },
          "type": "array",
          "description": "Requested hash for SourceProvenance."
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        }
      },
      "id": "BuildOptions"
    },
    "SourceProvenance": {
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "properties": {
        "fileHashes": {
          "type": "object",
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "resolvedRepoSource": {
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved.",
          "$ref": "RepoSource"
        },
        "resolvedStorageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        },
        "resolvedStorageSource": {
          "$ref": "StorageSource",
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
        }
      },
      "type": "object",
      "id": "SourceProvenance"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "FileHashes": {
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "properties": {
        "fileHash": {
          "description": "Collection of file hashes.",
          "type": "array",
          "items": {
            "$ref": "Hash"
          }
        }
      }
    },
    "Source": {
      "type": "object",
      "description": "Location of the source in a supported storage service.",
      "id": "Source",
      "properties": {
        "storageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "If provided, get the source from this manifest in Google Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
        },
        "storageSource": {
          "$ref": "StorageSource",
          "description": "If provided, get the source from this location in Google Cloud Storage."
        },
        "repoSource": {
          "description": "If provided, get the source from this location in a Cloud Source Repository.",
          "$ref": "RepoSource"
        }
      }
    },
    "NotifierSecretRef": {
      "description": "NotifierSecretRef contains the reference to a secret stored in the corresponding NotifierSpec.",
      "properties": {
        "secretRef": {
          "type": "string",
          "description": "The value of `secret_ref` should be a `name` that is registered in a `Secret` in the `secrets` list of the `Spec`."
        }
      },
      "id": "NotifierSecretRef",
      "type": "object"
    },
    "NotifierConfig": {
      "id": "NotifierConfig",
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version of this configuration format."
        },
        "spec": {
          "$ref": "NotifierSpec",
          "description": "The actual configuration for this notifier."
        },
        "kind": {
          "description": "The type of notifier to use (e.g. SMTPNotifier).",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata for referring to/handling/deploying this notifier.",
          "$ref": "NotifierMetadata"
        }
      },
      "description": "NotifierConfig is the top-level configuration message."
    },
    "Build": {
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "type": "object",
      "id": "Build",
      "properties": {
        "results": {
          "description": "Output only. Results of the build.",
          "readOnly": true,
          "$ref": "Results"
        },
        "options": {
          "$ref": "BuildOptions",
          "description": "Special options for this build."
        },
        "source": {
          "$ref": "Source",
          "description": "The location of the source files to build."
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "Artifacts"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "Warning"
          },
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "readOnly": true
        },
        "images": {
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logUrl": {
          "description": "Output only. URL to logs for this build in Google Cloud Console.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "type": "string",
          "readOnly": true
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "Secrets"
        },
        "logsBucket": {
          "description": "Google Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
          "type": "string"
        },
        "finishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution."
        },
        "serviceAccount": {
          "type": "string",
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. "
        },
        "steps": {
          "description": "Required. The operations to be performed on the workspace.",
          "type": "array",
          "items": {
            "$ref": "BuildStep"
          }
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Customer-readable message about the current status."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the build."
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is ten minutes."
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sourceProvenance": {
          "description": "Output only. A permanent fixed identifier for source.",
          "$ref": "SourceProvenance",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which execution of the build was started."
        },
        "queueTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time."
        },
        "buildTriggerId": {
          "type": "string",
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.",
          "readOnly": true
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for annotation of a `Build`. These are not docker tags."
        },
        "secrets": {
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets",
          "type": "array",
          "items": {
            "$ref": "Secret"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the request to create the build was received.",
          "format": "google-datetime",
          "readOnly": true
        },
        "timing": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps * PUSH: time to push all specified images. * FETCHSOURCE: time to fetch source. If the build does not specify source or images, these keys will not be included.",
          "additionalProperties": {
            "$ref": "TimeSpan"
          }
        },
        "projectId": {
          "description": "Output only. ID of the project.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "readOnly": true,
          "description": "Output only. Status of the build.",
          "enum": [
            "STATUS_UNKNOWN",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "type": "string"
        }
      }
    },
    "SecretManagerSecret": {
      "type": "object",
      "id": "SecretManagerSecret",
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "properties": {
        "env": {
          "type": "string",
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step."
        },
        "versionName": {
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "BuildStep": {
      "type": "object",
      "id": "BuildStep",
      "properties": {
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "readOnly": true
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "volumes": {
          "type": "array",
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "items": {
            "$ref": "Volume"
          }
        },
        "secretEnv": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "readOnly": true,
          "$ref": "TimeSpan"
        },
        "waitFor": {
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments."
        },
        "timeout": {
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "format": "google-duration",
          "type": "string"
        },
        "entrypoint": {
          "type": "string",
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
        },
        "pullTiming": {
          "readOnly": true,
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "$ref": "TimeSpan"
        }
      },
      "description": "A step in the build pipeline."
    },
    "RetryBuildRequest": {
      "properties": {
        "name": {
          "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
          "type": "string"
        },
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Build ID of the original build."
        }
      },
      "type": "object",
      "description": "Specifies a build to retry.",
      "id": "RetryBuildRequest"
    },
    "PullRequestFilter": {
      "properties": {
        "commentControl": {
          "description": "Configure builds to run whether a repository owner or collaborator need to comment `/gcbrun`.",
          "type": "string",
          "enum": [
            "COMMENTS_DISABLED",
            "COMMENTS_ENABLED",
            "COMMENTS_ENABLED_FOR_EXTERNAL_CONTRIBUTORS_ONLY"
          ],
          "enumDescriptions": [
            "Do not require comments on Pull Requests before builds are triggered.",
            "Enforce that repository owners or collaborators must comment on Pull Requests before builds are triggered.",
            "Enforce that repository owners or collaborators must comment on external contributors' Pull Requests before builds are triggered."
          ]
        },
        "branch": {
          "description": "Regex of branches to match. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "If true, branches that do NOT match the git_ref will trigger a build."
        }
      },
      "description": "PullRequestFilter contains filter properties for matching GitHub Pull Requests.",
      "id": "PullRequestFilter",
      "type": "object"
    },
    "SMTPDelivery": {
      "description": "SMTPDelivery is the delivery configuration for an SMTP (email) notification.",
      "id": "SMTPDelivery",
      "type": "object",
      "properties": {
        "recipientAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "This is the list of addresses to which we send the email (i.e. in the `To:` of the email)."
        },
        "password": {
          "$ref": "NotifierSecretRef",
          "description": "The SMTP sender's password."
        },
        "senderAddress": {
          "type": "string",
          "description": "This is the SMTP account/email that is used to send the message."
        },
        "port": {
          "description": "The SMTP port of the server.",
          "type": "string"
        },
        "fromAddress": {
          "type": "string",
          "description": "This is the SMTP account/email that appears in the `From:` of the email. If empty, it is assumed to be sender."
        },
        "server": {
          "description": "The address of the SMTP server.",
          "type": "string"
        }
      }
    },
    "HTTPDelivery": {
      "id": "HTTPDelivery",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI to which JSON-containing HTTP POST requests should be sent.",
          "type": "string"
        }
      },
      "description": "HTTPDelivery is the delivery configuration for an HTTP notification."
    },
    "StorageSourceManifest": {
      "description": "Location of the source manifest in Google Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
      "id": "StorageSourceManifest",
      "type": "object",
      "properties": {
        "generation": {
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64",
          "type": "string"
        },
        "object": {
          "description": "Google Cloud Storage object containing the source manifest. This object must be a JSON file.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        }
      }
    },
    "TimeSpan": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of time span."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start of time span."
        }
      },
      "type": "object",
      "id": "TimeSpan",
      "description": "Start and end times for a build execution phase."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "Operation"
    },
    "Results": {
      "description": "Artifacts created by the build pipeline.",
      "type": "object",
      "id": "Results",
      "properties": {
        "buildStepImages": {
          "description": "List of build step digests, in the order corresponding to build step indices.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numArtifacts": {
          "description": "Number of artifacts uploaded. Only populated when artifacts are uploaded.",
          "type": "string",
          "format": "int64"
        },
        "buildStepOutputs": {
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 4KB of data is stored.",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        },
        "images": {
          "type": "array",
          "description": "Container images that were built as a part of the build.",
          "items": {
            "$ref": "BuiltImage"
          }
        },
        "artifactTiming": {
          "description": "Time to push all non-container artifacts.",
          "$ref": "TimeSpan"
        },
        "artifactManifest": {
          "type": "string",
          "description": "Path to the artifact manifest. Only populated when artifacts are uploaded."
        }
      }
    },
    "ReceiveTriggerWebhookResponse": {
      "type": "object",
      "id": "ReceiveTriggerWebhookResponse",
      "description": "ReceiveTriggerWebhookResponse [Experimental] is the response object for the ReceiveTriggerWebhook method.",
      "properties": {}
    },
    "NotifierMetadata": {
      "properties": {
        "notifier": {
          "description": "The string representing the name and version of notifier to deploy. Expected to be of the form of \"/:\". For example: \"gcr.io/my-project/notifiers/smtp:1.2.34\".",
          "type": "string"
        },
        "name": {
          "type": "string",
[...]
