{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/marketplace/docs/partners/",
  "discoveryVersion": "v1",
  "schemas": {
    "Approval": {
      "properties": {
        "updateTime": {
          "description": "Optional. The last update timestamp of the approval.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Sentinel value; do not use.",
            "The approval is pending response from the provider. The approval state can transition to Account.Approval.State.APPROVED or Account.Approval.State.REJECTED.",
            "The approval has been granted by the provider.",
            "The approval has been rejected by the provider. A provider may choose to approve a previously rejected approval, so is it possible to transition to Account.Approval.State.APPROVED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Output only. The state of the approval."
        },
        "reason": {
          "type": "string",
          "description": "Output only. An explanation for the state of the approval."
        },
        "name": {
          "description": "Output only. The name of the approval.",
          "type": "string"
        }
      },
      "description": "An approval for some action on an account.",
      "type": "object",
      "id": "Approval"
    },
    "RejectEntitlementPlanChangeRequest": {
      "properties": {
        "pendingPlanName": {
          "type": "string",
          "description": "Required. Name of the pending plan that is being rejected."
        },
        "reason": {
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        }
      },
      "description": "Request message for PartnerProcurementService.RejectEntitlementPlanChange.",
      "type": "object",
      "id": "RejectEntitlementPlanChangeRequest"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ApproveEntitlementRequest": {
      "id": "ApproveEntitlementRequest",
      "description": "Request message for [PartnerProcurementService.ApproveEntitlement[].",
      "type": "object",
      "properties": {
        "entitlementMigrated": {
          "type": "string",
          "description": "Optional. The resource name of the entitlement that was migrated, with the format `providers/{provider_id}/entitlements/{entitlement_id}`. Should only be sent when resources have been migrated from entitlement_migrated to the new entitlement. Optional."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Set of properties that should be associated with the entitlement. Optional.",
          "type": "object",
          "deprecated": true
        }
      }
    },
    "SuspendEntitlementRequest": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "A free-form reason string, explaining the reason for suspension request."
        }
      },
      "type": "object",
      "description": "Request message for ParterProcurementService.SuspendEntitlement. This is not yet supported.",
      "id": "SuspendEntitlementRequest"
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response message for [PartnerProcurementService.ListAccounts[].",
      "properties": {
        "accounts": {
          "description": "The list of accounts in this response.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for fetching the next page."
        }
      },
      "type": "object"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "Represents an account that was established by the customer on the service provider's system.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The creation timestamp.",
          "format": "google-datetime"
        },
        "provider": {
          "type": "string",
          "description": "Output only. The identifier of the service provider that this account was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform."
        },
        "approvals": {
          "description": "Output only. The approvals for this account. These approvals are used to track actions that are permitted or have been completed by a customer within the context of the provider. This might include a sign up flow or a provisioning step, for example, that the provider can admit to having happened.",
          "type": "array",
          "items": {
            "$ref": "Approval"
          }
        },
        "state": {
          "enum": [
            "ACCOUNT_STATE_UNSPECIFIED",
            "ACCOUNT_ACTIVATION_REQUESTED",
            "ACCOUNT_ACTIVE"
          ],
          "enumDescriptions": [
            "Default state of the account. It's only set to this value when the account is first created and has not been initialized.",
            "The customer has requested the creation of the account resource, and the provider notification message is dispatched. This state has been deprecated, as accounts now immediately transition to AccountState.ACCOUNT_ACTIVE.",
            "The account is active and ready for use. The next possible states are: - Account getting deleted: After the user invokes delete from another API."
          ],
          "type": "string",
          "description": "Output only. The state of the account. This is used to decide whether the customer is in good standing with the provider and is able to make purchases. An account might not be able to make a purchase if the billing account is suspended, for example."
        },
        "name": {
          "description": "Output only. The resource name of the account. Account names have the form `accounts/{account_id}`.",
          "type": "string"
        },
        "inputProperties": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Output only. The custom properties that were collected from the user to create this account.",
          "deprecated": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp.",
          "format": "google-datetime"
        }
      }
    },
    "RejectEntitlementRequest": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
        }
      },
      "id": "RejectEntitlementRequest",
      "description": "Request message for PartnerProcurementService.RejectEntitlement.",
      "type": "object"
    },
    "ListEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          },
          "description": "The list of entitlements in this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for fetching the next page."
        }
      },
      "description": "Response message for PartnerProcurementService.ListEntitlements.",
      "type": "object",
      "id": "ListEntitlementsResponse"
    },
    "ApproveEntitlementPlanChangeRequest": {
      "id": "ApproveEntitlementPlanChangeRequest",
      "type": "object",
      "properties": {
        "pendingPlanName": {
          "description": "Required. Name of the pending plan that is being approved.",
          "type": "string"
        }
      },
      "description": "Request message for [PartnerProcurementService.ApproveEntitlementPlanChange[]."
    },
    "RejectAccountRequest": {
      "properties": {
        "reason": {
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        },
        "approvalName": {
          "description": "The name of the approval being rejected. If absent and there is only one approval possible, that approval will be rejected. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional.",
          "type": "string"
        }
      },
      "description": "Request message for PartnerProcurementService.RejectAccount.",
      "id": "RejectAccountRequest",
      "type": "object"
    },
    "Consumer": {
      "id": "Consumer",
      "properties": {
        "project": {
          "type": "string",
          "description": "A project name with format `projects/`."
        }
      },
      "type": "object",
      "description": "A resource using (consuming) this entitlement."
    },
    "ApproveAccountRequest": {
      "description": "Request message for PartnerProcurementService.ApproveAccount.",
      "type": "object",
      "id": "ApproveAccountRequest",
      "properties": {
        "properties": {
          "description": "Set of properties that should be associated with the account. Optional.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "approvalName": {
          "type": "string",
          "description": "The name of the approval being approved. If absent and there is only one approval possible, that approval will be granted. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional."
        },
        "reason": {
          "type": "string",
          "description": "Free form text string explaining the approval reason. Optional. Max allowed length: 256 bytes. Longer strings will be truncated."
        }
      }
    },
    "ResetAccountRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for PartnerProcurementService.ResetAccount.",
      "id": "ResetAccountRequest"
    },
    "Entitlement": {
      "description": "Represents a procured product of a customer.",
      "type": "object",
      "id": "Entitlement",
      "properties": {
        "newPendingPlan": {
          "description": "Output only. The identifier of the pending new plan. Required if the product has plans and the entitlement has a pending plan change.",
          "type": "string"
        },
        "newPendingOfferDuration": {
          "readOnly": true,
          "description": "Output only. The offer duration of the new offer in ISO 8601 duration format. This field is not populated for entitlements which are not active yet, only for pending offer changes. If the offer was created with a specified end date instead of a duration, this field is empty.",
          "type": "string"
        },
        "newOfferEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The end time of the new offer. If the offer was created with a term instead of a specified end date, this field is empty. This field will be populated even if the entitlement is not active yet. If there is no upcoming offer, the field will be empty.",
          "format": "google-datetime"
        },
        "offer": {
          "description": "Output only. The name of the offer that was procured. Field is empty if order was not made using an offer. Format: 'projects/{project}/services/{service}/privateOffers/{offer-id}' OR 'projects/{project}/services/{service}/standardOffers/{offer-id}', depending on whether the offer is private or public. The {service} in the name is the listing service of the offer. It could be either the product service that the offer is referencing, or a generic private offer parent service. We recommend that you don't build your integration to rely on the meaning of this {service} part.",
          "readOnly": true,
          "type": "string"
        },
        "product": {
          "description": "Output only. The identifier of the entity that was purchased. This may actually represent a product, quote, or offer. We strongly recommend that you use the following more explicit fields: productExternalName, quoteExternalName, or offer.",
          "type": "string",
          "deprecated": true
        },
        "offerDuration": {
          "type": "string",
          "description": "Output only. The offer duration of the current offer in ISO 8601 duration format. Field is empty if entitlement was not made using an offer. If the offer was created with a specified end date instead of a duration, this field is empty.",
          "readOnly": true
        },
        "cancellationReason": {
          "readOnly": true,
          "description": "Output only. The reason the entitlement was cancelled. If this entitlement was not cancelled, this field will be empty. Possible values include \"unknown\", \"expired\", \"user-cancelled\", \"account-closed\", \"billing-disabled\" (if the customer has manually disabled billing to their resources), \"user-aborted\", and \"migrated\" (if the entitlement has migrated across products). Values of this field are subject to change and should not be relied upon for technical integration.",
          "type": "string"
        },
        "newOfferStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the new offer will become effective. This field will be populated even if the entitlement is not active yet. If there is no upcoming offer, the field will be empty.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "usageReportingId": {
          "description": "Output only. The consumerId to use when reporting usage through the Service Control API. See the consumerId field at [Reporting Metrics](https://cloud.google.com/service-control/reporting-metrics) for more details. This field is present only if the product has usage-based billing configured.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the entitlement.",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLEMENT_ACTIVATION_REQUESTED",
            "ENTITLEMENT_ACTIVE",
            "ENTITLEMENT_PENDING_CANCELLATION",
            "ENTITLEMENT_CANCELLED",
            "ENTITLEMENT_PENDING_PLAN_CHANGE",
            "ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL",
            "ENTITLEMENT_SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default state of the entitlement. It's only set to this value when the entitlement is first created and has not been initialized.",
            "Indicates that the entitlement is being created and the backend has sent a notification to the provider for the activation approval. If the provider approves, then the entitlement will transition to the EntitlementState.ENTITLEMENT_ACTIVE state. Otherwise, the entitlement will be removed. Plan changes are not allowed in this state. Instead the entitlement is cancelled and re-created with a new plan name.",
            "Indicates that the entitlement is active. The procured item is now usable and any associated billing events will start occurring. Entitlements in this state WILL renew. The analogous state for an unexpired but non-renewing entitlement is ENTITLEMENT_PENDING_CANCELLATION. In this state, the customer can decide to cancel the entitlement, which would change the state to EntitlementState.ENTITLEMENT_PENDING_CANCELLATION, and then EntitlementState.ENTITLEMENT_CANCELLED. The user can also request a change of plan, which will transition the state to EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE, and then back to EntitlementState.ENTITLEMENT_ACTIVE.",
            "Indicates that the entitlement will expire at the end of its term. This could mean the customer has elected not to renew this entitlement or the customer elected to cancel an entitlement that only expires at term end. The entitlement typically stays in this state if the entitlement/plan allows use of the underlying resource until the end of the current billing cycle. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_CANCELLED state. The resource cannot be modified during this state.",
            "Indicates that the entitlement was cancelled. The entitlement can now be deleted.",
            "Indicates that the entitlement is currently active, but there is a pending plan change that is requested by the customer. The entitlement typically stays in this state, if the entitlement/plan requires the completion of the current billing cycle before the plan can be changed. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_ACTIVE, with its plan changed.",
            "Indicates that the entitlement is currently active, but there is a plan change request pending provider approval. If the provider approves the plan change, then the entitlement will transition either to EntitlementState.ENTITLEMENT_ACTIVE or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE depending on whether current plan requires that the billing cycle completes. If the provider rejects the plan change, then the pending plan change request is removed and the entitlement stays in EntitlementState.ENTITLEMENT_ACTIVE state with the old plan.",
            "Indicates that the entitlement is suspended either by Google or provider request. This can be triggered for various external reasons (e.g. expiration of credit card on the billing account, violation of terms-of-service of the provider etc.). As such, any remediating action needs to be taken externally, before the entitlement can be activated. This is not yet supported."
          ]
        },
        "productExternalName": {
          "description": "Output only. The identifier of the product that was procured.",
          "readOnly": true,
          "type": "string"
        },
        "newPendingOffer": {
          "type": "string",
          "description": "Output only. The name of the offer the entitlement is switching to upon a pending plan change. Only exists if the pending plan change is moving to an offer. This field is not populated for entitlements which are not active yet. Format: 'projects/{project}/services/{service}/privateOffers/{offer-id}' OR 'projects/{project}/services/{service}/standardOffers/{offer-id}', depending on whether the offer is private or public. The {service} in the name is the listing service of the offer. It could be either the product service that the offer is referencing, or a generic private offer parent service. We recommend that you don't build your integration to rely on the meaning of this {service} part.",
          "readOnly": true
        },
        "plan": {
          "description": "Output only. The identifier of the plan that was procured. Required if the product has plans.",
          "type": "string"
        },
        "orderId": {
          "description": "Output only. The order ID of this entitlement, without any `orders/` resource name prefix.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionEndTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. End time for the subscription corresponding to this entitlement."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update timestamp."
        },
        "consumers": {
          "description": "Output only. The resources using this entitlement, if applicable.",
          "items": {
            "$ref": "Consumer"
          },
          "type": "array"
        },
        "provider": {
          "description": "Output only. The identifier of the service provider that this entitlement was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform.",
          "type": "string"
        },
        "messageToUser": {
          "type": "string",
          "description": "Provider-supplied message that is displayed to the end user. Currently this is used to communicate progress and ETA for provisioning. This field can be updated only when a user is waiting for an action from the provider, i.e. entitlement state is EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL. This field is cleared automatically when the entitlement state changes."
        },
        "quoteExternalName": {
          "description": "Output only. The identifier of the quote that was used to procure. Empty if the order is not purchased using a quote.",
          "readOnly": true,
          "type": "string"
        },
        "inputProperties": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The custom properties that were collected from the user to create this entitlement.",
          "type": "object",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the entitlement. Entitlement names have the form `providers/{provider_id}/entitlements/{entitlement_id}`."
        },
        "account": {
          "type": "string",
          "description": "Output only. The resource name of the account that this entitlement is based on, if any."
        },
        "offerEndTime": {
          "description": "Output only. End time for the Offer association corresponding to this entitlement. The field is only populated if the entitlement is currently associated with an Offer.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "entitlementBenefitIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The entitlement benefit IDs associated with the purchase."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20240602",
  "kind": "discovery#restDescription",
  "resources": {
    "providers": {
      "resources": {
        "accounts": {
          "methods": {
            "reject": {
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reject",
              "request": {
                "$ref": "RejectAccountRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Rejects an approval on an Account.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account.",
                  "type": "string",
                  "required": true,
                  "pattern": "^providers/[^/]+/accounts/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:reject",
              "response": {
                "$ref": "Empty"
              },
              "id": "cloudcommerceprocurement.providers.accounts.reject",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "description": "Lists Accounts that the provider has access to.",
              "flatPath": "v1/providers/{providersId}/accounts",
              "id": "cloudcommerceprocurement.providers.accounts.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token for fetching the next page."
                },
                "parent": {
                  "pattern": "^providers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name.",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of entries that are requested. The default page size is 25 and the maximum page size is 200.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/accounts"
            },
            "get": {
              "httpMethod": "GET",
              "id": "cloudcommerceprocurement.providers.accounts.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a requested Account resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the account to retrieve.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Account"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}"
            },
            "reset": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Resets an Account and cancels all associated Entitlements. Partner can only reset accounts they own rather than customer accounts.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:reset",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reset",
              "request": {
                "$ref": "ResetAccountRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^providers/[^/]+/accounts/[^/]+$",
                  "description": "Required. The resource name of the account.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudcommerceprocurement.providers.accounts.reset",
              "httpMethod": "POST"
            },
            "approve": {
              "httpMethod": "POST",
              "description": "Grants an approval on an Account.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveAccountRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:approve",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^providers/[^/]+/accounts/[^/]+$",
                  "description": "Required. The resource name of the account, with the format `providers/{providerId}/accounts/{accountId}`."
                }
              },
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:approve",
              "id": "cloudcommerceprocurement.providers.accounts.approve"
            }
          }
        },
        "entitlements": {
          "methods": {
            "suspend": {
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:suspend",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Requests suspension of an active Entitlement. This is not yet supported.",
              "request": {
                "$ref": "SuspendEntitlementRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the entitlement to suspend.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:suspend",
              "id": "cloudcommerceprocurement.providers.entitlements.suspend"
            },
            "approve": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudcommerceprocurement.providers.entitlements.approve",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "description": "Required. The resource name of the entitlement, with the format `providers/{providerId}/entitlements/{entitlementId}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Approves an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to approve the creation of the entitlement resource.",
              "request": {
                "$ref": "ApproveEntitlementRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approve"
            },
            "reject": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "RejectEntitlementRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:reject",
              "id": "cloudcommerceprocurement.providers.entitlements.reject",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the entitlement.",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$"
                }
              },
              "description": "Rejects an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to reject the creation of the entitlement resource.",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:reject",
              "response": {
                "$ref": "Empty"
              }
            },
            "approvePlanChange": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the entitlement.",
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$"
                }
              },
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approvePlanChange",
              "path": "v1/{+name}:approvePlanChange",
              "id": "cloudcommerceprocurement.providers.entitlements.approvePlanChange",
              "request": {
                "$ref": "ApproveEntitlementPlanChangeRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Approves an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to approve the plan change on the entitlement resource."
            },
            "patch": {
              "id": "cloudcommerceprocurement.providers.entitlements.patch",
              "description": "Updates an existing Entitlement.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Entitlement"
              },
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Entitlement"
              },
              "parameters": {
                "updateMask": {
                  "description": "The update mask that applies to the resource. See the [FieldMask definition] (https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask) for more details.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Required. The name of the entitlement to update.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$"
                }
              }
            },
            "rejectPlanChange": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:rejectPlanChange",
              "response": {
                "$ref": "Empty"
              },
              "id": "cloudcommerceprocurement.providers.entitlements.rejectPlanChange",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RejectEntitlementPlanChangeRequest"
              },
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:rejectPlanChange",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the entitlement."
                }
              },
              "description": "Rejects an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to reject the plan change on the entitlement resource."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "description": "Required. The name of the entitlement to retrieve."
                }
              },
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "response": {
                "$ref": "Entitlement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudcommerceprocurement.providers.entitlements.get",
              "description": "Gets a requested Entitlement resource.",
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name.",
                  "pattern": "^providers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "The token for fetching the next page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of entries that are requested. The default page size is 200.",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter that can be used to limit the list request. The filter is a query string that can match a selected set of attributes with string values. For example `account=E-1234-5678-ABCD-EFGH`, `state=pending_cancellation`, and `plan!=foo-plan`. Supported query attributes are * `account` * `customer_billing_account` with value in the format of: `billingAccounts/{id}` * `product_external_name` * `quote_external_name` * `offer` * `new_pending_offer` * `plan` * `newPendingPlan` or `new_pending_plan` * `state` * `consumers.project` * `change_history.new_offer` Note that the consumers and change_history.new_offer match works on repeated structures, so equality (`consumers.project=projects/123456789`) is not supported. Set membership can be expressed with the `:` operator. For example, `consumers.project:projects/123456789` finds entitlements with at least one consumer with project field equal to `projects/123456789`. `change_history.new_offer` retrieves all entitlements that were once associated or are currently active with the offer. Also note that the state name match is case-insensitive and query can omit the prefix \"ENTITLEMENT_\". For example, `state=active` is equivalent to `state=ENTITLEMENT_ACTIVE`. If the query contains some special characters other than letters, underscore, or digits, the phrase must be quoted with double quotes. For example, `product=\"providerId:productId\"`, where the product name needs to be quoted because it contains special character colon. Queries can be combined with `AND`, `OR`, and `NOT` to form more complex queries. They can also be grouped to force a desired evaluation order. For example, `state=active AND (account=E-1234 OR account=5678) AND NOT (product=foo-product)`. Connective `AND` can be omitted between two predicates. For example `account=E-1234 state=active` is equivalent to `account=E-1234 AND state=active`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/entitlements",
              "id": "cloudcommerceprocurement.providers.entitlements.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists Entitlements for which the provider has read access.",
              "response": {
                "$ref": "ListEntitlementsResponse"
              },
              "flatPath": "v1/providers/{providersId}/entitlements"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "mtlsRootUrl": "https://cloudcommerceprocurement.mtls.googleapis.com/",
  "name": "cloudcommerceprocurement",
  "rootUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "canonicalName": "Cloud Commerce Partner Procurement Service",
  "version": "v1",
  "description": "Partner API for the Cloud Commerce Procurement Service.",
  "baseUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "id": "cloudcommerceprocurement:v1",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "title": "Cloud Commerce Partner Procurement API",
  "version_module": true
}
