{
  "name": "cloudsupport",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "id": "cloudsupport:v2",
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "version_module": true,
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "ownerDomain": "google.com",
  "basePath": "",
  "title": "Google Cloud Support API",
  "schemas": {
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "properties": {
        "downloadReadHandle": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "WorkflowOperationMetadata": {
      "description": "Metadata about the operation. Used to lookup the current status.",
      "type": "object",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved."
        },
        "workflowOperationType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ],
          "description": "Which version of the workflow service this operation came from.",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ]
        },
        "operationAction": {
          "type": "string",
          "description": "The type of action the operation is classified as.",
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ]
        }
      },
      "id": "WorkflowOperationMetadata"
    },
    "DiffUploadRequest": {
      "type": "object",
      "id": "DiffUploadRequest",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "DiffDownloadResponse": {
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DiffDownloadResponse"
    },
    "EscalateCaseRequest": {
      "type": "object",
      "properties": {
        "escalation": {
          "$ref": "Escalation",
          "description": "The escalation object to be sent with the escalation request."
        }
      },
      "id": "EscalateCaseRequest",
      "description": "The request message for the EscalateCase endpoint."
    },
    "SearchCasesResponse": {
      "type": "object",
      "description": "The response message for the SearchCases endpoint.",
      "properties": {
        "cases": {
          "type": "array",
          "description": "The list of cases associated with the Google Cloud Resource, after any filters have been applied.",
          "items": {
            "$ref": "Case"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "id": "SearchCasesResponse"
    },
    "CloseCaseRequest": {
      "type": "object",
      "description": "The request message for the CloseCase endpoint.",
      "id": "CloseCaseRequest",
      "properties": {}
    },
    "DiffUploadResponse": {
      "properties": {
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DiffUploadResponse"
    },
    "ContentTypeInfo": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "ContentTypeInfo"
    },
    "CaseClassification": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail."
        }
      },
      "description": "A classification object with a product type and value.",
      "id": "CaseClassification"
    },
    "DownloadParameters": {
      "type": "object",
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DownloadParameters",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CompositeMedia": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "inline": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "referenceType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ]
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "crc32cHash": {
          "type": "integer",
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "CompositeMedia"
    },
    "Media": {
      "type": "object",
      "id": "Media",
      "properties": {
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "compositeMedia": {
          "type": "array",
          "description": "# gdata.* are outside protos with mising documentation",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "referenceType": {
          "type": "string",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hashVerified": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "diffChecksumsResponse": {
          "$ref": "DiffChecksumsResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "mediaId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "timestamp": {
          "format": "uint64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "type": "integer",
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "sha256Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadRequest": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadRequest"
        },
        "bigstoreObjectRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha1Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "md5Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "filename": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CreateAttachmentRequest": {
      "description": "The request message for the CreateAttachment endpoint.",
      "type": "object",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      },
      "id": "CreateAttachmentRequest"
    },
    "Comment": {
      "type": "object",
      "description": "A comment associated with a support case.",
      "id": "Comment",
      "properties": {
        "plainTextBody": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. DEPRECATED. An automatically generated plain text version of body with all rich text syntax stripped."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when this comment was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "creator": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent created this comment."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for the comment."
        },
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 12800 characters. This can contain rich text syntax."
        }
      }
    },
    "DiffVersionResponse": {
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffVersionResponse",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Case": {
      "properties": {
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses to receive updates on this case."
        },
        "priority": {
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "description": "The priority of this case."
        },
        "createTime": {
          "description": "Output only. The time this case was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "contactEmail": {
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs.",
          "type": "string"
        },
        "timeZone": {
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "description": "Output only. The current status of the support case.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ]
        },
        "name": {
          "description": "The resource name for the case.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this case was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "escalated": {
          "description": "Whether the case is currently escalated.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours"
        },
        "classification": {
          "description": "The issue classification applicable to this case.",
          "$ref": "CaseClassification"
        }
      },
      "id": "Case",
      "description": "A support case.",
      "type": "object"
    },
    "ListAttachmentsResponse": {
      "id": "ListAttachmentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "attachments": {
          "description": "The list of attachments associated with the given case.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for the ListAttachments endpoint."
    },
    "ListCommentsResponse": {
      "type": "object",
      "properties": {
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "The list of Comments associated with the given Case."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "description": "The response message for the ListComments endpoint.",
      "id": "ListCommentsResponse"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the attachment was created."
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        },
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The MIME type of the attachment (e.g. text/plain)."
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The size of the attachment in bytes.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support.",
          "$ref": "Actor",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the attachment."
        }
      },
      "description": "Represents a file attached to a support case.",
      "id": "Attachment"
    },
    "ObjectId": {
      "properties": {
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "generation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "ObjectId"
    },
    "SearchCaseClassificationsResponse": {
      "type": "object",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "id": "SearchCaseClassificationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "caseClassifications": {
          "description": "The classifications retrieved.",
          "type": "array",
          "items": {
            "$ref": "CaseClassification"
          }
        }
      }
    },
    "Escalation": {
      "description": "An escalation of a support case.",
      "id": "Escalation",
      "type": "object",
      "properties": {
        "justification": {
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Required. The reason why the Case is being escalated.",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ]
        }
      }
    },
    "ListCasesResponse": {
      "description": "The response message for the ListCases endpoint.",
      "type": "object",
      "id": "ListCasesResponse",
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the Google Cloud Resource, after any filters have been applied.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of the subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      }
    },
    "Actor": {
      "id": "Actor",
      "type": "object",
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "properties": {
        "googleSupport": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the actor is a Google support actor."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        }
      }
    },
    "DiffChecksumsResponse": {
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectSizeBytes": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffChecksumsResponse",
      "description": "# gdata.* are outside protos with mising documentation"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Support",
  "ownerName": "Google",
  "resources": {
    "cases": {
      "methods": {
        "patch": {
          "description": "Update the specified case. Only a subset of fields can be updated.",
          "httpMethod": "PATCH",
          "path": "v2/{+name}",
          "parameters": {
            "updateMask": {
              "description": "A list of attributes of the case object that should be updated as part of this request. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. WARNING: If you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "The resource name for the case.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.patch",
          "request": {
            "$ref": "Case"
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}"
        },
        "escalate": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:escalate",
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "path": "v2/{+name}:escalate",
          "response": {
            "$ref": "Case"
          },
          "description": "Escalate a case. Escalating a case will initiate the Google Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "id": "cloudsupport.cases.escalate"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            },
            "filter": {
              "description": "An expression written in filter language. If non-empty, the query returns the cases that match the filter. Else, the query doesn't filter the cases. Filter expressions use the following fields with the operators equals (`=`) and `AND`: - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. Examples: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "location": "path"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of cases fetched with each request. Defaults to 10."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ListCasesResponse"
          },
          "path": "v2/{+parent}/cases",
          "id": "cloudsupport.cases.list",
          "parameterOrder": [
            "parent"
          ],
          "description": "Retrieve all cases under the specified parent. Note: Listing cases under an Organization returns only the cases directly parented by that organization. To retrieve all cases under an organization, including cases parented by projects under that organization, use `cases.search`.",
          "httpMethod": "GET",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases"
        },
        "close": {
          "id": "cloudsupport.cases.close",
          "description": "Close the specified case.",
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:close",
          "httpMethod": "POST",
          "path": "v2/{+name}:close",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.get",
          "description": "Retrieve the specified case.",
          "httpMethod": "GET",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "Case"
          }
        },
        "create": {
          "description": "Create a new case and associate it with the given Google Cloud Resource. The case object must have the following fields set: `display_name`, `description`, `classification`, and `priority`.",
          "request": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.create",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "httpMethod": "POST",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "parent": {
              "description": "Required. The name of the Google Cloud Resource under which the case should be created.",
              "pattern": "^[^/]+/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2/{+parent}/cases",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "search": {
          "parameters": {
            "query": {
              "description": "An expression written in filter language. A query uses the following fields with the operators equals (`=`) and `AND`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. - `billingAccount`: A billing account in the form `billingAccounts/` You must specify either `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `billing_account=\"billingAccounts/123456-A0B0C0-CUZ789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "required": true,
              "description": "The fully qualified name of parent resource to search cases under.",
              "type": "string",
              "location": "path"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudsupport.cases.search",
          "path": "v2/{+parent}/cases:search",
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "description": "Search cases using the specified query.",
          "httpMethod": "GET",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "comments": {
          "methods": {
            "create": {
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v2/{+parent}/comments",
              "response": {
                "$ref": "Comment"
              },
              "description": "Add a new comment to the specified Case. The comment object must have the following fields set: body.",
              "request": {
                "$ref": "Comment"
              },
              "parameters": {
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of Case to which this comment should be added."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudsupport.cases.comments.create"
            },
            "list": {
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "description": "Retrieve all Comments associated with the Case object.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/comments",
              "httpMethod": "GET",
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The resource name of Case object for which comments should be listed."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                }
              },
              "id": "cloudsupport.cases.comments.list"
            }
          }
        },
        "attachments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "cloudsupport.cases.attachments.list",
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "description": "Retrieve all attachments associated with a support case.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100."
                },
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of Case object for which attachments should be listed."
                }
              },
              "path": "v2/{+parent}/attachments"
            }
          }
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "flatPath": "v2/caseClassifications:search",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "query": {
              "description": "An expression written in the Google Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by `\" \u003e \"`. For example `\"Technical Issue \u003e Compute \u003e Compute Engine\"`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail.",
          "path": "v2/caseClassifications:search",
          "id": "cloudsupport.caseClassifications.search",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/v2/{+parent}/attachments",
                "multipart": true
              }
            }
          },
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "id": "cloudsupport.media.upload",
          "supportsMediaUpload": true,
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "response": {
            "$ref": "Attachment"
          },
          "path": "v2/{+parent}/attachments"
        },
        "download": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Media"
          },
          "useMediaDownloadService": true,
          "id": "cloudsupport.media.download",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "path": "v2/{+name}:download",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "type": "string",
              "description": "The resource name of the attachment to be downloaded."
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20230626",
  "rootUrl": "https://cloudsupport.googleapis.com/"
}
