{
  "mtlsRootUrl": "https://clouddebugger.mtls.googleapis.com/",
  "canonicalName": "Cloud Debugger",
  "baseUrl": "https://clouddebugger.googleapis.com/",
  "version_module": true,
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_debugger": {
          "description": "Use Stackdriver Debugger"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "title": "Cloud Debugger API (Deprecated)",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "id": "clouddebugger:v2",
  "documentationLink": "https://cloud.google.com/debugger",
  "revision": "20230716",
  "rootUrl": "https://clouddebugger.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "servicePath": "",
  "schemas": {
    "RegisterDebuggeeRequest": {
      "description": "Request to register a debuggee.",
      "id": "RegisterDebuggeeRequest",
      "properties": {
        "debuggee": {
          "$ref": "Debuggee",
          "description": "Required. Debuggee information to register. The fields `project`, `uniquifier`, `description` and `agent_version` of the debuggee must be set."
        }
      },
      "type": "object"
    },
    "Breakpoint": {
      "type": "object",
      "id": "Breakpoint",
      "description": "------------------------------------------------------------------------------ ## Breakpoint (the resource) Represents the breakpoint specification, status and results.",
      "properties": {
        "finalTime": {
          "format": "google-datetime",
          "description": "Time this breakpoint was finalized as seen by the server in seconds resolution.",
          "type": "string"
        },
        "canaryExpireTime": {
          "format": "google-datetime",
          "description": "The deadline for the breakpoint to stay in CANARY_ACTIVE state. The value is meaningless when the breakpoint is not in CANARY_ACTIVE state.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Breakpoint identifier, unique in the scope of the debuggee."
        },
        "labels": {
          "description": "A set of custom breakpoint properties, populated by the agent, to be displayed to the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "The current state of the breakpoint.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CANARY_PENDING_AGENTS",
            "STATE_CANARY_ACTIVE",
            "STATE_ROLLING_TO_ALL",
            "STATE_IS_FINAL"
          ],
          "enumDescriptions": [
            "Breakpoint state UNSPECIFIED.",
            "Enabling canary but no agents are available.",
            "Enabling canary and successfully assigning canary agents.",
            "Breakpoint rolling out to all agents.",
            "Breakpoint is hit/complete/failed."
          ],
          "type": "string"
        },
        "variableTable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The `variable_table` exists to aid with computation, memory and network traffic optimization. It enables storing a variable once and reference it from multiple variables, including variables stored in the `variable_table` itself. For example, the same `this` object, which may appear at many levels of the stack, can have all of its data stored once in this table. The stack frame variables then would hold only a reference to it. The variable `var_table_index` field is an index into this repeated field. The stored objects are nameless and get their name from the referencing variable. The effective variable is a merge of the referencing variable and the referenced variable."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time this breakpoint was created by the server in seconds resolution."
        },
        "isFinalState": {
          "type": "boolean",
          "description": "When true, indicates that this is a final result and the breakpoint state will not change from here on."
        },
        "userEmail": {
          "description": "E-mail address of the user that created this breakpoint",
          "type": "string"
        },
        "evaluatedExpressions": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "Values of evaluated expressions at breakpoint time. The evaluated expressions appear in exactly the same order they are listed in the `expressions` field. The `name` field holds the original expression text, the `value` or `members` field holds the result of the evaluated expression. If the expression cannot be evaluated, the `status` inside the `Variable` will indicate an error and contain the error text."
        },
        "expressions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of read-only expressions to evaluate at the breakpoint location. The expressions are composed using expressions in the programming language at the source location. If the breakpoint action is `LOG`, the evaluated expressions are included in log statements."
        },
        "condition": {
          "type": "string",
          "description": "Condition that triggers the breakpoint. The condition is a compound boolean expression composed using expressions in a programming language at the source location."
        },
        "stackFrames": {
          "type": "array",
          "description": "The stack at breakpoint time, where stack_frames[0] represents the most recently entered function.",
          "items": {
            "$ref": "StackFrame"
          }
        },
        "location": {
          "description": "Breakpoint source location.",
          "$ref": "SourceLocation"
        },
        "action": {
          "description": "Action that the agent should perform when the code at the breakpoint location is hit.",
          "enum": [
            "CAPTURE",
            "LOG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Capture stack frame and variables and update the breakpoint. The data is only captured once. After that the breakpoint is set in a final state.",
            "Log each breakpoint hit. The breakpoint remains active until deleted or expired."
          ]
        },
        "logMessageFormat": {
          "description": "Only relevant when action is `LOG`. Defines the message to log when the breakpoint hits. The message may include parameter placeholders `$0`, `$1`, etc. These placeholders are replaced with the evaluated value of the appropriate expression. Expressions not referenced in `log_message_format` are not logged. Example: `Message received, id = $0, count = $1` with `expressions` = `[ message.id, message.count ]`.",
          "type": "string"
        },
        "status": {
          "$ref": "StatusMessage",
          "description": "Breakpoint status. The status includes an error flag and a human readable message. This field is usually unset. The message can be either informational or an error message. Regardless, clients should always display the text message back to the user. Error status indicates complete failure of the breakpoint. Example (non-final state): `Still loading symbols...` Examples (final state): * `Invalid line number` referring to location * `Field f not found in class C` referring to condition"
        },
        "logLevel": {
          "enum": [
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "description": "Indicates the severity of the log. Only relevant when action is `LOG`.",
          "type": "string",
          "enumDescriptions": [
            "Information log message.",
            "Warning log message.",
            "Error log message."
          ]
        }
      }
    },
    "ListBreakpointsResponse": {
      "properties": {
        "nextWaitToken": {
          "description": "A wait token that can be used in the next call to `list` (REST) or `ListBreakpoints` (RPC) to block until the list of breakpoints has changes.",
          "type": "string"
        },
        "breakpoints": {
          "type": "array",
          "items": {
            "$ref": "Breakpoint"
          },
          "description": "List of breakpoints matching the request. The fields `id` and `location` are guaranteed to be set on each breakpoint. The fields: `stack_frames`, `evaluated_expressions` and `variable_table` are cleared on each breakpoint regardless of its status."
        }
      },
      "id": "ListBreakpointsResponse",
      "type": "object",
      "description": "Response for listing breakpoints."
    },
    "GerritSourceContext": {
      "properties": {
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        },
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        },
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is hostURI/project."
        },
        "aliasName": {
          "type": "string",
          "deprecated": true,
          "description": "The name of an alias (branch, tag, etc.)."
        }
      },
      "description": "A SourceContext referring to a Gerrit project.",
      "id": "GerritSourceContext",
      "type": "object"
    },
    "CloudWorkspaceSourceContext": {
      "description": "A CloudWorkspaceSourceContext denotes a workspace at a particular snapshot.",
      "id": "CloudWorkspaceSourceContext",
      "properties": {
        "snapshotId": {
          "description": "The ID of the snapshot. An empty snapshot_id refers to the most recent snapshot.",
          "type": "string"
        },
        "workspaceId": {
          "description": "The ID of the workspace.",
          "$ref": "CloudWorkspaceId"
        }
      },
      "type": "object"
    },
    "SourceContext": {
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "type": "object",
      "id": "SourceContext",
      "properties": {
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g. GitHub)."
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a cloud repo.",
          "$ref": "CloudRepoSourceContext"
        },
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GerritSourceContext"
        },
        "cloudWorkspace": {
          "description": "A SourceContext referring to a snapshot in a cloud workspace.",
          "$ref": "CloudWorkspaceSourceContext"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CloudWorkspaceId": {
      "type": "object",
      "description": "A CloudWorkspaceId is a unique identifier for a cloud workspace. A cloud workspace is a place associated with a repo where modified files can be stored before they are committed.",
      "properties": {
        "repoId": {
          "description": "The ID of the repo containing the workspace.",
          "$ref": "RepoId"
        },
        "name": {
          "type": "string",
          "description": "The unique name of the workspace within the repo. This is the name chosen by the client in the Source API's CreateWorkspace method."
        }
      },
      "id": "CloudWorkspaceId"
    },
    "StatusMessage": {
      "id": "StatusMessage",
      "properties": {
        "isError": {
          "description": "Distinguishes errors from informational messages.",
          "type": "boolean"
        },
        "description": {
          "$ref": "FormatMessage",
          "description": "Status message text."
        },
        "refersTo": {
          "description": "Reference to which the message applies.",
          "enumDescriptions": [
            "Status doesn't refer to any particular input.",
            "Status applies to the breakpoint and is related to its location.",
            "Status applies to the breakpoint and is related to its condition.",
            "Status applies to the breakpoint and is related to its expressions.",
            "Status applies to the breakpoint and is related to its age.",
            "Status applies to the breakpoint when the breakpoint failed to exit the canary state.",
            "Status applies to the entire variable.",
            "Status applies to variable value (variable name is valid)."
          ],
          "enum": [
            "UNSPECIFIED",
            "BREAKPOINT_SOURCE_LOCATION",
            "BREAKPOINT_CONDITION",
            "BREAKPOINT_EXPRESSION",
            "BREAKPOINT_AGE",
            "BREAKPOINT_CANARY_FAILED",
            "VARIABLE_NAME",
            "VARIABLE_VALUE"
          ],
          "type": "string"
        }
      },
      "description": "Represents a contextual status message. The message can indicate an error or informational status, and refer to specific parts of the containing object. For example, the `Breakpoint.status` field can indicate an error referring to the `BREAKPOINT_SOURCE_LOCATION` with the message `Location not found`.",
      "type": "object"
    },
    "Variable": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Variable type (e.g. `MyClass`). If the variable is split with `var_table_index`, `type` goes next to `value`. The interpretation of a type is agent specific. It is recommended to include the dynamic type rather than a static type of an object."
        },
        "members": {
          "type": "array",
          "description": "Members contained or pointed to by the variable.",
          "items": {
            "$ref": "Variable"
          }
        },
        "value": {
          "type": "string",
          "description": "Simple value of the variable."
        },
        "varTableIndex": {
          "description": "Reference to a variable in the shared variable table. More than one variable can reference the same variable in the table. The `var_table_index` field is an index into `variable_table` in Breakpoint.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Name of the variable, if any.",
          "type": "string"
        },
        "status": {
          "$ref": "StatusMessage",
          "description": "Status associated with the variable. This field will usually stay unset. A status of a single variable only applies to that variable or expression. The rest of breakpoint data still remains valid. Variables might be reported in error state even when breakpoint is not in final state. The message may refer to variable name with `refers_to` set to `VARIABLE_NAME`. Alternatively `refers_to` will be set to `VARIABLE_VALUE`. In either case variable value and members will be unset. Example of error message applied to name: `Invalid expression syntax`. Example of information message applied to value: `Not captured`. Examples of error message applied to value: * `Malformed string`, * `Field f not found in class C` * `Null pointer dereference`"
        }
      },
      "description": "Represents a variable or an argument possibly of a compound object type. Note how the following variables are represented: 1) A simple variable: int x = 5 { name: \"x\", value: \"5\", type: \"int\" } // Captured variable 2) A compound object: struct T { int m1; int m2; }; T x = { 3, 7 }; { // Captured variable name: \"x\", type: \"T\", members { name: \"m1\", value: \"3\", type: \"int\" }, members { name: \"m2\", value: \"7\", type: \"int\" } } 3) A pointer where the pointee was captured: T x = { 3, 7 }; T* p = &x; { // Captured variable name: \"p\", type: \"T*\", value: \"0x00500500\", members { name: \"m1\", value: \"3\", type: \"int\" }, members { name: \"m2\", value: \"7\", type: \"int\" } } 4) A pointer where the pointee was not captured: T* p = new T; { // Captured variable name: \"p\", type: \"T*\", value: \"0x00400400\" status { is_error: true, description { format: \"unavailable\" } } } The status should describe the reason for the missing value, such as ``, ``, ``. Note that a null pointer should not have members. 5) An unnamed value: int* p = new int(7); { // Captured variable name: \"p\", value: \"0x00500500\", type: \"int*\", members { value: \"7\", type: \"int\" } } 6) An unnamed pointer where the pointee was not captured: int* p = new int(7); int** pp = &p; { // Captured variable name: \"pp\", value: \"0x00500500\", type: \"int**\", members { value: \"0x00400400\", type: \"int*\" status { is_error: true, description: { format: \"unavailable\" } } } } } To optimize computation, memory and network traffic, variables that repeat in the output multiple times can be stored once in a shared variable table and be referenced using the `var_table_index` field. The variables stored in the shared table are nameless and are essentially a partition of the complete variable. To reconstruct the complete variable, merge the referencing variable with the referenced variable. When using the shared variable table, the following variables: T x = { 3, 7 }; T* p = &x; T& r = x; { name: \"x\", var_table_index: 3, type: \"T\" } // Captured variables { name: \"p\", value \"0x00500500\", type=\"T*\", var_table_index: 3 } { name: \"r\", type=\"T&\", var_table_index: 3 } { // Shared variable table entry #3: members { name: \"m1\", value: \"3\", type: \"int\" }, members { name: \"m2\", value: \"7\", type: \"int\" } } Note that the pointer address is stored with the referencing variable and not with the referenced variable. This allows the referenced variable to be shared between pointers and references. The type field is optional. The debugger agent may or may not support it.",
      "type": "object",
      "id": "Variable"
    },
    "ExtendedSourceContext": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user defined metadata.",
          "type": "object"
        },
        "context": {
          "description": "Any source context.",
          "$ref": "SourceContext"
        }
      },
      "id": "ExtendedSourceContext",
      "description": "An ExtendedSourceContext is a SourceContext combined with additional details describing the context.",
      "type": "object"
    },
    "ListDebuggeesResponse": {
      "properties": {
        "debuggees": {
          "description": "List of debuggees accessible to the calling user. The fields `debuggee.id` and `description` are guaranteed to be set. The `description` field is a human readable field provided by agents and can be displayed to users.",
          "items": {
            "$ref": "Debuggee"
          },
          "type": "array"
        }
      },
      "description": "Response for listing debuggees.",
      "id": "ListDebuggeesResponse",
      "type": "object"
    },
    "RegisterDebuggeeResponse": {
      "properties": {
        "debuggee": {
          "description": "Debuggee resource. The field `id` is guaranteed to be set (in addition to the echoed fields). If the field `is_disabled` is set to `true`, the agent should disable itself by removing all breakpoints and detaching from the application. It should however continue to poll `RegisterDebuggee` until reenabled.",
          "$ref": "Debuggee"
        },
        "agentId": {
          "type": "string",
          "description": "A unique ID generated for the agent. Each RegisterDebuggee request will generate a new agent ID."
        }
      },
      "description": "Response for registering a debuggee.",
      "type": "object",
      "id": "RegisterDebuggeeResponse"
    },
    "ListActiveBreakpointsResponse": {
      "type": "object",
      "id": "ListActiveBreakpointsResponse",
      "description": "Response for listing active breakpoints.",
      "properties": {
        "nextWaitToken": {
          "type": "string",
          "description": "A token that can be used in the next method call to block until the list of breakpoints changes."
        },
        "waitExpired": {
          "description": "If set to `true`, indicates that there is no change to the list of active breakpoints and the server-selected timeout has expired. The `breakpoints` field would be empty and should be ignored.",
          "type": "boolean"
        },
        "breakpoints": {
          "description": "List of all active breakpoints. The fields `id` and `location` are guaranteed to be set on each breakpoint.",
          "items": {
            "$ref": "Breakpoint"
          },
          "type": "array"
        }
      }
    },
    "Debuggee": {
      "type": "object",
      "properties": {
        "uniquifier": {
          "type": "string",
          "description": "Uniquifier to further distinguish the application. It is possible that different applications might have identical values in the debuggee message, thus, incorrectly identified as a single application by the Controller service. This field adds salt to further distinguish the application. Agents should consider seeding this field with value that identifies the code, binary, configuration and environment."
        },
        "isDisabled": {
          "description": "If set to `true`, indicates that the agent should disable itself and detach from the debuggee.",
          "type": "boolean"
        },
        "agentVersion": {
          "description": "Version ID of the agent. Schema: `domain/language-platform/vmajor.minor` (for example `google.com/java-gcp/v1.1`).",
          "type": "string"
        },
        "isInactive": {
          "description": "If set to `true`, indicates that Controller service does not detect any activity from the debuggee agents and the application is possibly stopped.",
          "type": "boolean"
        },
        "project": {
          "description": "Project the debuggee is associated with. Use project number or id when registering a Google Cloud Platform project.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the debuggee. Including a human-readable project name, environment name and version information is recommended."
        },
        "extSourceContexts": {
          "type": "array",
          "description": "References to the locations and revisions of the source code used in the deployed application.",
          "items": {
            "$ref": "ExtendedSourceContext"
          },
          "deprecated": true
        },
        "sourceContexts": {
          "description": "References to the locations and revisions of the source code used in the deployed application.",
          "type": "array",
          "items": {
            "$ref": "SourceContext"
          }
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the debuggee generated by the controller service."
        },
        "canaryMode": {
          "enumDescriptions": [
            "CANARY_MODE_UNSPECIFIED is equivalent to CANARY_MODE_ALWAYS_DISABLED so that if the debuggee is not configured to use the canary feature, the feature will be disabled.",
            "Always enable breakpoint canary regardless of the value of breakpoint's canary option.",
            "Always disable breakpoint canary regardless of the value of breakpoint's canary option.",
            "Depends on the breakpoint's canary option. Enable canary by default if the breakpoint's canary option is not specified.",
            "Depends on the breakpoint's canary option. Disable canary by default if the breakpoint's canary option is not specified."
          ],
          "enum": [
            "CANARY_MODE_UNSPECIFIED",
            "CANARY_MODE_ALWAYS_ENABLED",
            "CANARY_MODE_ALWAYS_DISABLED",
            "CANARY_MODE_DEFAULT_ENABLED",
            "CANARY_MODE_DEFAULT_DISABLED"
          ],
          "type": "string",
          "description": "Used when setting breakpoint canary for this debuggee."
        },
        "status": {
          "$ref": "StatusMessage",
          "description": "Human readable message to be displayed to the user about this debuggee. Absence of this field indicates no status. The message can be either informational or an error status."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A set of custom debuggee properties, populated by the agent, to be displayed to the user.",
          "type": "object"
        }
      },
      "description": "Represents the debugged application. The application may include one or more replicated processes executing the same code. Each of these processes is attached with a debugger agent, carrying out the debugging commands. Agents attached to the same debuggee identify themselves as such by using exactly the same Debuggee message value when registering.",
      "id": "Debuggee"
    },
    "UpdateActiveBreakpointRequest": {
      "properties": {
        "breakpoint": {
          "$ref": "Breakpoint",
          "description": "Required. Updated breakpoint information. The field `id` must be set. The agent must echo all Breakpoint specification fields in the update."
        }
      },
      "type": "object",
      "description": "Request to update an active breakpoint.",
      "id": "UpdateActiveBreakpointRequest"
    },
    "StackFrame": {
      "id": "StackFrame",
      "type": "object",
      "description": "Represents a stack frame context.",
      "properties": {
        "locals": {
          "items": {
            "$ref": "Variable"
          },
          "description": "Set of local variables at the stack frame location. Note that this might not be populated for all stack frames.",
          "type": "array"
        },
        "arguments": {
          "description": "Set of arguments passed to this function. Note that this might not be populated for all stack frames.",
          "items": {
            "$ref": "Variable"
          },
          "type": "array"
        },
        "location": {
          "description": "Source location of the call site.",
          "$ref": "SourceLocation"
        },
        "function": {
          "type": "string",
          "description": "Demangled function name at the call site."
        }
      }
    },
    "CloudRepoSourceContext": {
      "type": "object",
      "id": "CloudRepoSourceContext",
      "description": "A CloudRepoSourceContext denotes a particular revision in a cloud repo (a repo hosted by the Google Cloud Platform).",
      "properties": {
        "aliasName": {
          "type": "string",
          "description": "The name of an alias (branch, tag, etc.).",
          "deprecated": true
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        },
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        }
      }
    },
    "SetBreakpointResponse": {
      "id": "SetBreakpointResponse",
      "type": "object",
      "properties": {
        "breakpoint": {
          "$ref": "Breakpoint",
          "description": "Breakpoint resource. The field `id` is guaranteed to be set (in addition to the echoed fields)."
        }
      },
      "description": "Response for setting a breakpoint."
    },
    "AliasContext": {
      "id": "AliasContext",
      "type": "object",
      "description": "An alias to a repo revision.",
      "properties": {
        "kind": {
          "description": "The alias kind.",
          "enum": [
            "ANY",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Do not use.",
            "Git tag",
            "Git branch",
            "OTHER is used to specify non-standard aliases, those not of the kinds above. For example, if a Git repo has a ref named \"refs/foo/bar\", it is considered to be of kind OTHER."
          ],
          "type": "string"
        },
        "name": {
          "description": "The alias name.",
          "type": "string"
        }
      }
    },
    "RepoId": {
      "description": "A unique identifier for a cloud repo.",
      "properties": {
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        },
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        }
      },
      "id": "RepoId",
      "type": "object"
    },
    "GitSourceContext": {
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g. GitHub).",
      "type": "object",
      "id": "GitSourceContext",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Git commit hash. required."
        },
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        }
      }
    },
    "ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g. winged-cargo-31) and a repo name within that project.",
      "properties": {
        "repoName": {
          "description": "The name of the repo. Leave empty for the default repo.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        }
      },
      "id": "ProjectRepoId",
      "type": "object"
    },
    "UpdateActiveBreakpointResponse": {
      "properties": {},
      "description": "Response for updating an active breakpoint. The message is defined to allow future extensions.",
      "type": "object",
      "id": "UpdateActiveBreakpointResponse"
    },
    "FormatMessage": {
      "properties": {
        "parameters": {
          "description": "Optional parameters to be embedded into the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "format": {
          "type": "string",
          "description": "Format template for the message. The `format` uses placeholders `$0`, `$1`, etc. to reference parameters. `$$` can be used to denote the `$` character. Examples: * `Failed to load '$0' which helps debug $1 the first time it is loaded. Again, $0 is very important.` * `Please pay $$10 to use $0 instead of $1.`"
        }
      },
      "description": "Represents a message with parameters.",
      "id": "FormatMessage",
      "type": "object"
    },
    "GetBreakpointResponse": {
      "properties": {
        "breakpoint": {
          "$ref": "Breakpoint",
          "description": "Complete breakpoint state. The fields `id` and `location` are guaranteed to be set."
        }
      },
      "id": "GetBreakpointResponse",
      "description": "Response for getting breakpoint information.",
      "type": "object"
    },
    "SourceLocation": {
      "type": "object",
      "description": "Represents a location in the source code.",
      "id": "SourceLocation",
      "properties": {
        "column": {
          "format": "int32",
          "description": "Column within a line. The first column in a line as the value `1`. Agents that do not support setting breakpoints on specific columns ignore this field.",
          "type": "integer"
        },
        "path": {
          "description": "Path to the source file within the source context of the target binary.",
          "type": "string"
        },
        "line": {
          "type": "integer",
          "format": "int32",
          "description": "Line inside the file. The first line in the file has the value `1`."
        }
      }
    }
  },
  "name": "clouddebugger",
  "ownerName": "Google",
  "resources": {
    "debugger": {
      "resources": {
        "debuggees": {
          "resources": {
            "breakpoints": {
              "methods": {
                "get": {
                  "parameters": {
                    "debuggeeId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. ID of the debuggee whose breakpoint to get.",
                      "location": "path"
                    },
                    "breakpointId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the breakpoint to get.",
                      "type": "string"
                    },
                    "clientVersion": {
                      "type": "string",
                      "description": "Required. The client version making the call. Schema: `domain/type/version` (e.g., `google.com/intellij/v1`).",
                      "location": "query"
                    }
                  },
                  "id": "clouddebugger.debugger.debuggees.breakpoints.get",
                  "parameterOrder": [
                    "debuggeeId",
                    "breakpointId"
                  ],
                  "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud_debugger"
                  ],
                  "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                  "description": "Gets breakpoint information.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetBreakpointResponse"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud_debugger"
                  ],
                  "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                  "id": "clouddebugger.debugger.debuggees.breakpoints.delete",
                  "description": "Deletes the breakpoint from the debuggee.",
                  "parameters": {
                    "clientVersion": {
                      "description": "Required. The client version making the call. Schema: `domain/type/version` (e.g., `google.com/intellij/v1`).",
                      "type": "string",
                      "location": "query"
                    },
                    "debuggeeId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. ID of the debuggee whose breakpoint to delete.",
                      "required": true
                    },
                    "breakpointId": {
                      "description": "Required. ID of the breakpoint to delete.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "debuggeeId",
                    "breakpointId"
                  ]
                },
                "list": {
                  "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints",
                  "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints",
                  "parameters": {
                    "includeAllUsers": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, the response includes the list of breakpoints set by any user. Otherwise, it includes only breakpoints set by the caller."
                    },
                    "stripResults": {
                      "description": "This field is deprecated. The following fields are always stripped out of the result: `stack_frames`, `evaluated_expressions` and `variable_table`.",
                      "type": "boolean",
                      "location": "query",
                      "deprecated": true
                    },
                    "debuggeeId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. ID of the debuggee whose breakpoints to list."
                    },
                    "clientVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The client version making the call. Schema: `domain/type/version` (e.g., `google.com/intellij/v1`)."
                    },
                    "waitToken": {
                      "location": "query",
                      "description": "A wait token that, if specified, blocks the call until the breakpoints list has changed, or a server selected timeout has expired. The value should be set from the last response. The error code `google.rpc.Code.ABORTED` (RPC) is returned on wait timeout, which should be called again with the same `wait_token`.",
                      "type": "string"
                    },
                    "action.value": {
                      "enum": [
                        "CAPTURE",
                        "LOG"
                      ],
                      "description": "Only breakpoints with the specified action will pass the filter.",
                      "enumDescriptions": [
                        "Capture stack frame and variables and update the breakpoint. The data is only captured once. After that the breakpoint is set in a final state.",
                        "Log each breakpoint hit. The breakpoint remains active until deleted or expired."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "includeInactive": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, the response includes active and inactive breakpoints. Otherwise, it includes only active breakpoints."
                    }
                  },
                  "response": {
                    "$ref": "ListBreakpointsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud_debugger"
                  ],
                  "id": "clouddebugger.debugger.debuggees.breakpoints.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "debuggeeId"
                  ],
                  "description": "Lists all breakpoints for the debuggee."
                },
                "set": {
                  "request": {
                    "$ref": "Breakpoint"
                  },
                  "path": "v2/debugger/debuggees/{debuggeeId}/breakpoints/set",
                  "parameters": {
                    "clientVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The client version making the call. Schema: `domain/type/version` (e.g., `google.com/intellij/v1`)."
                    },
                    "canaryOption": {
                      "enumDescriptions": [
                        "Depends on the canary_mode of the debuggee.",
                        "Enable the canary for this breakpoint if the canary_mode of the debuggee is not CANARY_MODE_ALWAYS_ENABLED or CANARY_MODE_ALWAYS_DISABLED.",
                        "Disable the canary for this breakpoint if the canary_mode of the debuggee is not CANARY_MODE_ALWAYS_ENABLED or CANARY_MODE_ALWAYS_DISABLED."
                      ],
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "CANARY_OPTION_UNSPECIFIED",
                        "CANARY_OPTION_TRY_ENABLE",
                        "CANARY_OPTION_TRY_DISABLE"
                      ],
                      "description": "The canary option set by the user upon setting breakpoint."
                    },
                    "debuggeeId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. ID of the debuggee where the breakpoint is to be set.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "SetBreakpointResponse"
                  },
                  "description": "Sets the breakpoint to the debuggee.",
                  "id": "clouddebugger.debugger.debuggees.breakpoints.set",
                  "flatPath": "v2/debugger/debuggees/{debuggeeId}/breakpoints/set",
                  "parameterOrder": [
                    "debuggeeId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud_debugger"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameters": {
                "includeInactive": {
                  "description": "When set to `true`, the result includes all debuggees. Otherwise, the result includes only debuggees that are active.",
                  "type": "boolean",
                  "location": "query"
                },
                "project": {
                  "description": "Required. Project number of a Google Cloud project whose debuggees to list.",
                  "type": "string",
                  "location": "query"
                },
                "clientVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The client version making the call. Schema: `domain/type/version` (e.g., `google.com/intellij/v1`)."
                }
              },
              "id": "clouddebugger.debugger.debuggees.list",
              "flatPath": "v2/debugger/debuggees",
              "httpMethod": "GET",
              "path": "v2/debugger/debuggees",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud_debugger"
              ],
              "response": {
                "$ref": "ListDebuggeesResponse"
              },
              "description": "Lists all the debuggees that the user has access to.",
              "parameterOrder": []
            }
          }
        }
      }
    },
    "controller": {
      "resources": {
        "debuggees": {
          "resources": {
            "breakpoints": {
              "methods": {
                "update": {
                  "flatPath": "v2/controller/debuggees/{debuggeeId}/breakpoints/{id}",
                  "id": "clouddebugger.controller.debuggees.breakpoints.update",
                  "httpMethod": "PUT",
                  "description": "Updates the breakpoint state or mutable fields. The entire Breakpoint message must be sent back to the controller service. Updates to active breakpoint fields are only allowed if the new value does not change the breakpoint specification. Updates to the `location`, `condition` and `expressions` fields should not alter the breakpoint semantics. These may only make changes such as canonicalizing a value or snapping the location to the correct line of code.",
                  "response": {
                    "$ref": "UpdateActiveBreakpointResponse"
                  },
                  "parameterOrder": [
                    "debuggeeId",
                    "id"
                  ],
                  "request": {
                    "$ref": "UpdateActiveBreakpointRequest"
                  },
                  "parameters": {
                    "debuggeeId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifies the debuggee being debugged."
                    },
                    "id": {
                      "description": "Breakpoint identifier, unique in the scope of the debuggee.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v2/controller/debuggees/{debuggeeId}/breakpoints/{id}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud_debugger"
                  ]
                },
                "list": {
                  "id": "clouddebugger.controller.debuggees.breakpoints.list",
                  "parameterOrder": [
                    "debuggeeId"
                  ],
                  "response": {
                    "$ref": "ListActiveBreakpointsResponse"
                  },
                  "description": "Returns the list of all active breakpoints for the debuggee. The breakpoint specification (`location`, `condition`, and `expressions` fields) is semantically immutable, although the field values may change. For example, an agent may update the location line number to reflect the actual line where the breakpoint was set, but this doesn't change the breakpoint semantics. This means that an agent does not need to check if a breakpoint has changed when it encounters the same breakpoint on a successive call. Moreover, an agent should remember the breakpoints that are completed until the controller removes them from the active list to avoid setting those breakpoints again.",
                  "flatPath": "v2/controller/debuggees/{debuggeeId}/breakpoints",
                  "httpMethod": "GET",
                  "parameters": {
                    "successOnTimeout": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to `true` (recommended), returns `google.rpc.Code.OK` status and sets the `wait_expired` response field to `true` when the server-selected timeout has expired. If set to `false` (deprecated), returns `google.rpc.Code.ABORTED` status when the server-selected timeout has expired."
                    },
                    "waitToken": {
                      "description": "A token that, if specified, blocks the method call until the list of active breakpoints has changed, or a server-selected timeout has expired. The value should be set from the `next_wait_token` field in the last response. The initial value should be set to `\"init\"`.",
                      "type": "string",
                      "location": "query"
                    },
                    "debuggeeId": {
                      "type": "string",
                      "description": "Required. Identifies the debuggee.",
                      "location": "path",
                      "required": true
                    },
                    "agentId": {
                      "description": "Identifies the agent. This is the ID returned in the RegisterDebuggee response.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/controller/debuggees/{debuggeeId}/breakpoints",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud_debugger"
                  ]
                }
              }
            }
          },
          "methods": {
            "register": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud_debugger"
              ],
              "flatPath": "v2/controller/debuggees/register",
              "path": "v2/controller/debuggees/register",
              "id": "clouddebugger.controller.debuggees.register",
              "httpMethod": "POST",
              "parameterOrder": [],
              "description": "Registers the debuggee with the controller service. All agents attached to the same application must call this method with exactly the same request content to get back the same stable `debuggee_id`. Agents should call this method again whenever `google.rpc.Code.NOT_FOUND` is returned from any controller method. This protocol allows the controller service to disable debuggees, recover from data loss, or change the `debuggee_id` format. Agents must handle `debuggee_id` value changing upon re-registration.",
              "request": {
                "$ref": "RegisterDebuggeeRequest"
              },
              "response": {
                "$ref": "RegisterDebuggeeResponse"
              },
              "parameters": {}
            }
          }
        }
      }
    }
  },
  "description": "Examines the call stack and variables of a running application without stopping or slowing it down. (Deprecated) "
}
