{
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "revision": "20220129",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Support",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "ownerName": "Google",
  "name": "cloudsupport",
  "id": "cloudsupport:v2beta",
  "servicePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "version_module": true,
  "schemas": {
    "Case": {
      "id": "Case",
      "type": "object",
      "properties": {
        "subscriberEmailAddresses": {
          "description": "The email addresses to receive updates on this case.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "escalated": {
          "description": "Whether the case is currently escalated.",
          "type": "boolean"
        },
        "creator": {
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support.",
          "$ref": "Actor"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "name": {
          "description": "The resource name for the case.",
          "type": "string"
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "state": {
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "type": "string",
          "description": "Output only. The current status of the support case.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this case was last updated."
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this case was created."
        },
        "severity": {
          "description": "The severity of this case. Deprecated. Use priority instead.",
          "type": "string",
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ]
        },
        "priority": {
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "The priority of this case. If this is set, do not set severity.",
          "type": "string"
        }
      },
      "description": "A support case."
    },
    "DiffVersionResponse": {
      "properties": {
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DiffVersionResponse"
    },
    "ContentTypeInfo": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromFileName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "ContentTypeInfo"
    },
    "EscalateCaseRequest": {
      "description": "The request message for the EscalateCase endpoint.",
      "type": "object",
      "id": "EscalateCaseRequest",
      "properties": {
        "escalation": {
          "description": "The escalation object to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      }
    },
    "DiffUploadResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffUploadResponse",
      "type": "object",
      "properties": {
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "Media": {
      "type": "object",
      "properties": {
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "mediaId": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32",
          "type": "integer"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffUploadRequest": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadRequest"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha256Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffDownloadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffDownloadResponse"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "isPotentialRetry": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "compositeMedia": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "array",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint64"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadResponse"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "Media"
    },
    "CompositeMedia": {
      "properties": {
        "referenceType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "type": "string"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "md5Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "CompositeMedia",
      "type": "object"
    },
    "Attachment": {
      "id": "Attachment",
      "description": "Represents a file attached to a support case.",
      "properties": {
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The size of the attachment in bytes."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the attachment.",
          "type": "string"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true,
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`)."
        },
        "creator": {
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support.",
          "readOnly": true,
          "$ref": "Actor"
        }
      },
      "type": "object"
    },
    "SearchCaseClassificationsResponse": {
      "type": "object",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "caseClassifications": {
          "items": {
            "$ref": "CaseClassification"
          },
          "description": "The classifications retrieved.",
          "type": "array"
        }
      },
      "id": "SearchCaseClassificationsResponse"
    },
    "ObjectId": {
      "id": "ObjectId",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "generation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkflowOperationMetadata": {
      "type": "object",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved."
        },
        "workflowOperationType": {
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ],
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "type": "string",
          "description": "Which version of the workflow service this operation came from."
        },
        "operationAction": {
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "description": "The type of action the operation is classified as.",
          "type": "string",
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ]
        }
      },
      "id": "WorkflowOperationMetadata",
      "description": "Metadata about the operation. Used to lookup the current status."
    },
    "CaseClassification": {
      "description": "A classification object with a product type and value.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the classification."
        },
        "id": {
          "description": "The unique ID for a classification. Must be specified for case creation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CaseClassification"
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object"
    },
    "SearchCasesResponse": {
      "id": "SearchCasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "cases": {
          "type": "array",
          "description": "The list of Case associated with the cloud resource, after any filters have been applied.",
          "items": {
            "$ref": "Case"
          }
        }
      },
      "type": "object",
      "description": "The response message for the SearchCases endpoint."
    },
    "Comment": {
      "type": "object",
      "description": "A comment associated with a support case.",
      "id": "Comment",
      "properties": {
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 120000 characters. This can contain rich text syntax."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for the comment."
        },
        "plainTextBody": {
          "type": "string",
          "description": "Output only. An automatically generated plain text version of body with all rich text syntax stripped.",
          "readOnly": true
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user or Google Support agent created this comment.",
          "$ref": "Actor"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when this comment was created.",
          "readOnly": true
        }
      }
    },
    "CloseCaseRequest": {
      "type": "object",
      "description": "The request message for the CloseCase endpoint.",
      "properties": {},
      "id": "CloseCaseRequest"
    },
    "DiffUploadRequest": {
      "properties": {
        "objectInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DiffUploadRequest"
    },
    "ListCasesResponse": {
      "description": "The response message for the ListCases endpoint.",
      "id": "ListCasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "cases": {
          "type": "array",
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the cloud resource, after any filters have been applied."
        }
      },
      "type": "object"
    },
    "Escalation": {
      "id": "Escalation",
      "properties": {
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "description": "Required. The reason why the Case is being escalated.",
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ]
        },
        "actor": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user or Google Support agent initiated this escalation."
        },
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this escalation event was created."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name for the escalation event.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An escalation of a support case."
    },
    "ListAttachmentsResponse": {
      "properties": {
        "attachments": {
          "description": "The list of attachments associated with the given case.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "ListAttachmentsResponse",
      "type": "object",
      "description": "The response message for the ListAttachments endpoint."
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "chunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "Actor": {
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An ID representing the user that was authenticated when the corresponding action was taken. This will be an email address, if one is available, or some other unique ID. See https://cloud.google.com/docs/authentication for more information on types of authentication."
        },
        "email": {
          "type": "string",
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "googleSupport": {
          "description": "Output only. Whether the actor is a Google support actor.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Actor"
    },
    "DownloadParameters": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DownloadParameters",
      "properties": {
        "ignoreRange": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "Blobstore2Info": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "Blobstore2Info",
      "properties": {
        "uploadMetadataContainer": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "readToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadReadHandle": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        }
      }
    },
    "ListCommentsResponse": {
      "id": "ListCommentsResponse",
      "properties": {
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "The list of Comments associated with the given Case."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for the ListComments endpoint."
    },
    "CreateAttachmentRequest": {
      "type": "object",
      "description": "The request message for the CreateAttachment endpoint.",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      },
      "id": "CreateAttachmentRequest"
    }
  },
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "resources": {
    "attachments": {
      "methods": {
        "create": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/attachments",
          "id": "cloudsupport.attachments.create",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Create a file attachment on a case or Cloud resource.",
          "path": "v2beta/{+parent}/attachments",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "parent": {
              "required": true,
              "description": "Required. The resource name of the case to which attachment should be attached.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "type": "string"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create a file attachment on a case or Cloud resource.",
          "id": "cloudsupport.media.upload",
          "supportsMediaUpload": true,
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the case to which attachment should be attached.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v2beta/{+parent}/attachments",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v2beta/{+parent}/attachments",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "response": {
            "$ref": "Attachment"
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "CreateAttachmentRequest"
          }
        },
        "download": {
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "parameters": {
            "name": {
              "description": "The resource name of the attachment to be downloaded.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$"
            }
          },
          "response": {
            "$ref": "Media"
          },
          "id": "cloudsupport.media.download",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "path": "v2beta/{+name}:download",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "supportsMediaDownload": true
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.caseClassifications.search",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "path": "v2beta/caseClassifications:search",
          "parameters": {
            "query": {
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "flatPath": "v2beta/caseClassifications:search",
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\"."
        }
      }
    },
    "cases": {
      "resources": {
        "comments": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "response": {
                "$ref": "Comment"
              },
              "description": "Add a new comment to the specified Case.",
              "request": {
                "$ref": "Comment"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string"
                }
              },
              "id": "cloudsupport.cases.comments.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/comments",
              "httpMethod": "POST"
            },
            "list": {
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of Case object for which comments should be listed."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve all Comments associated with the Case object.",
              "path": "v2beta/{+parent}/comments",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "id": "cloudsupport.cases.comments.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "attachments": {
          "methods": {
            "list": {
              "description": "Retrieve all attachments associated with a support case.",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "id": "cloudsupport.cases.attachments.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The resource name of Case object for which attachments should be listed.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v2beta/{+parent}/attachments",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      },
      "methods": {
        "escalate": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "cloudsupport.cases.escalate",
          "path": "v2beta/{+name}:escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "httpMethod": "POST"
        },
        "search": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "query": {
              "description": "An expression written in the Cloud filter language. Filter strings can use the following fields: - organization (A name of the form organizations/) - project (A name of the form projects/) - customer (A name of the form customers/) - state (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no key/operator) can be used to search across display_name, description, and comments (e.g. \"my search\"). One of organization, project, or customer field must be specified.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of cases fetched with each request. The default page size is 10."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/cases:search",
          "description": "Search cases using the specified query.",
          "id": "cloudsupport.cases.search",
          "path": "v2beta/cases:search",
          "parameterOrder": []
        },
        "close": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "id": "cloudsupport.cases.close",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "path": "v2beta/{+name}:close",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            }
          },
          "description": "Close the specified case."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.list",
          "path": "v2beta/{+parent}/cases",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of cases fetched with each request. Defaults to 10."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out. Filter strings can use the following fields: - status (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no operator) can be used to search across displayName, description, and comments (e.g. \"my search\")."
            },
            "parent": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The fully qualified name of parent resource to list cases under."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListCasesResponse"
          },
          "description": "Retrieve all cases under the specified parent."
        },
        "patch": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "The resource name for the case.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "A field that represents attributes of a case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields will be updated. WARNING: If you do not provide a field mask then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses then subscriber_email_addresses will be updated to empty."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the specified case. Only a subset of fields (display_name, description, time_zone, subscriber_email_addresses, related_resources, severity, priority, primary_contact, and labels) can be updated.",
          "path": "v2beta/{+name}",
          "request": {
            "$ref": "Case"
          }
        },
        "create": {
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.create",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Cloud resource under which the case should be created."
            }
          },
          "description": "Create a new case and associate it with the given Cloud resource.",
          "request": {
            "$ref": "Case"
          },
          "path": "v2beta/{+parent}/cases",
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieve the specified case.",
          "path": "v2beta/{+name}",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "id": "cloudsupport.cases.get",
          "httpMethod": "GET"
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "version": "v2beta",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "title": "Google Cloud Support API"
}
