{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "description": "API for provisioning and managing identity resources.",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "resources": {
    "devices": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "flatPath": "v1/devices",
          "parameters": {
            "customer": {
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
          "id": "cloudidentity.devices.create",
          "httpMethod": "POST",
          "path": "v1/devices",
          "request": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          }
        },
        "wipe": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "description": "Wipes all data on the specified device.",
          "request": {
            "$ref": "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest"
          },
          "flatPath": "v1/devices/{devicesId}:wipe",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
              "pattern": "^devices/[^/]+$"
            }
          },
          "id": "cloudidentity.devices.wipe",
          "path": "v1/{+name}:wipe"
        },
        "cancelWipe": {
          "httpMethod": "POST",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped. This operation is possible when the device is in a \"pending wipe\" state. The device enters the \"pending wipe\" state when a wipe device command is issued, but has not yet been sent to the device. The cancel wipe will fail if the wipe command has already been issued to the device.",
          "path": "v1/{+name}:cancelWipe",
          "id": "cloudidentity.devices.cancelWipe",
          "flatPath": "v1/devices/{devicesId}:cancelWipe",
          "request": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique ID assigned to the Device.",
              "location": "path"
            }
          }
        },
        "list": {
          "path": "v1/devices",
          "id": "cloudidentity.devices.list",
          "httpMethod": "GET",
          "description": "Lists/Searches devices.",
          "flatPath": "v1/devices",
          "parameters": {
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer in the format: `customers/{customer}`, where customer is the customer to whom the device belongs. If you're using this API for your own organization, use `customers/my_customer`. If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally at the end to specify results to be sorted in descending order. Default order is ascending."
            },
            "view": {
              "description": "Optional. The view to use for the List request.",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags). This includes devices that may be unaassigned or assigned to users.",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ],
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleAppsCloudidentityDevicesV1ListDevicesResponse"
          },
          "parameterOrder": []
        },
        "delete": {
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "description": "Deletes the specified device.",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique ID assigned to the Device.",
              "pattern": "^devices/[^/]+$",
              "location": "path"
            },
            "customer": {
              "type": "string",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
              "location": "query"
            }
          },
          "flatPath": "v1/devices/{devicesId}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.devices.delete",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "id": "cloudidentity.devices.get",
          "flatPath": "v1/devices/{devicesId}",
          "response": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in the format: `devices/{device}`, where device is the unique ID assigned to the Device.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^devices/[^/]+$"
            },
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in the format: `customers/{customer}`, where customer is the customer to whom the device belongs. If you're using this API for your own organization, use `customers/my_customer`. If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Retrieves the specified device."
        }
      },
      "resources": {
        "deviceUsers": {
          "methods": {
            "cancelWipe": {
              "httpMethod": "POST",
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest"
              },
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "path": "v1/{+name}:cancelWipe",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe",
              "parameters": {
                "name": {
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User."
                }
              }
            },
            "wipe": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest"
              },
              "path": "v1/{+name}:wipe",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "description": "Wipes the user's account on a device. Other data on the device that is not associated with the user's work account is not affected. For example, if a Gmail app is installed on a device that is used for personal and work purposes, and the user is logged in to the Gmail app with their personal account as well as their work account, wiping the \"deviceUser\" by their work administrator will not affect their personal account within Gmail or other apps such as Photos.",
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe"
            },
            "approve": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Approves device to access user data.",
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest"
              },
              "path": "v1/{+name}:approve",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "id": "cloudidentity.devices.deviceUsers.approve",
              "httpMethod": "POST",
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve"
            },
            "delete": {
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data.",
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
                },
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "cloudidentity.devices.deviceUsers.delete"
            },
            "block": {
              "description": "Blocks device from accessing user data",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.devices.deviceUsers.block",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:block"
            },
            "get": {
              "id": "cloudidentity.devices.deviceUsers.get",
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "description": "Retrieves the specified DeviceUser",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "customer": {
                  "type": "string",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "id": "cloudidentity.devices.deviceUsers.list",
              "flatPath": "v1/devices/{devicesId}/deviceUsers",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse"
              },
              "description": "Lists/Searches DeviceUsers.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^devices/[^/]+$",
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Order specification for devices in the response."
                },
                "customer": {
                  "type": "string",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                }
              },
              "path": "v1/{+parent}/deviceUsers",
              "parameterOrder": [
                "parent"
              ]
            },
            "lookup": {
              "path": "v1/{+parent}:lookup",
              "flatPath": "v1/devices/{devicesId}/deviceUsers:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "response": {
                "$ref": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse"
              },
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: No properties need to be passed, the caller's credentials are sufficient to identify the corresponding DeviceUser. - Android: Specifying the 'android_id' field is required. - Desktop: Specifying the 'raw_resource_id' field is required.",
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "type": "integer",
                  "format": "int32"
                },
                "androidId": {
                  "location": "query",
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID).",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers$"
                },
                "rawResourceId": {
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "clientStates": {
              "methods": {
                "patch": {
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
                      "location": "path",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated.",
                      "location": "query"
                    },
                    "customer": {
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "request": {
                    "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "description": "Gets the client state for the device user",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientStates/{partner}`, where `device` is the unique ID assigned to the Device, `device_user` is the unique ID assigned to the User and `partner` identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization. You may specify `-` in place of the `{device}`, so the ClientState resource name can be: `devices/-/deviceUsers/{device_user_resource}/clientStates/{partner}`.",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$"
                    },
                    "customer": {
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
                  },
                  "path": "v1/{+name}",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get",
                  "httpMethod": "GET"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudidentity.devices.deviceUsers.clientStates.list",
                  "httpMethod": "GET",
                  "description": "Lists the client states for the given search query.",
                  "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates",
                  "response": {
                    "$ref": "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse"
                  },
                  "path": "v1/{+parent}/clientStates",
                  "parameters": {
                    "customer": {
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Order specification for client states in the response."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListClientStates` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClientStates` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. To list all ClientStates, set this to \"devices/-/deviceUsers/-\". To list all ClientStates owned by a DeviceUser, set this to the resource name of the DeviceUser. Format: devices/{device}/deviceUsers/{deviceUser}",
                      "required": true,
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Additional restrictions when fetching list of client states.",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "groups": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a Group.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Group"
          },
          "parameters": {
            "initialGroupConfig": {
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ],
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "location": "query",
              "description": "Optional. The initial configuration option for the `Group`.",
              "type": "string"
            }
          },
          "path": "v1/groups",
          "httpMethod": "POST",
          "flatPath": "v1/groups",
          "parameterOrder": [],
          "id": "cloudidentity.groups.create"
        },
        "lookup": {
          "parameters": {
            "groupKey.namespace": {
              "type": "string",
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`.",
              "location": "query"
            },
            "groupKey.id": {
              "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "cloudidentity.groups.lookup",
          "parameterOrder": [],
          "path": "v1/groups:lookup",
          "flatPath": "v1/groups:lookup",
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "search": {
          "path": "v1/groups:search",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous search request, if any."
            },
            "query": {
              "description": "Required. The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the parent and inclusion operators on labels (e.g., `parent == 'customers/{customer}' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). The `customer` must begin with \"C\" (for example, 'C046psxkn').",
              "location": "query",
              "type": "string"
            },
            "view": {
              "location": "query",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "v1/groups:search",
          "description": "Searches for `Group` resources matching a specified query.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "id": "cloudidentity.groups.search",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "id": "cloudidentity.groups.get",
          "flatPath": "v1/groups/{groupsId}",
          "description": "Retrieves a `Group`.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Group"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group}`.",
              "type": "string",
              "location": "path",
              "pattern": "^groups/[^/]+$"
            }
          }
        },
        "getSecuritySettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`."
            },
            "name": {
              "location": "path",
              "pattern": "^groups/[^/]+/securitySettings$",
              "type": "string",
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`",
              "required": true
            }
          },
          "id": "cloudidentity.groups.getSecuritySettings",
          "response": {
            "$ref": "SecuritySettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/groups/{groupsId}/securitySettings",
          "description": "Get Security Settings"
        },
        "updateSecuritySettings": {
          "id": "cloudidentity.groups.updateSecuritySettings",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
              "pattern": "^groups/[^/]+/securitySettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1/groups/{groupsId}/securitySettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SecuritySettings"
          },
          "description": "Update Security Settings",
          "path": "v1/{+name}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/groups",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "cloudidentity.groups.list",
          "description": "Lists the `Group` resources under a customer or namespace.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous list request, if any.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`.",
              "type": "integer",
              "location": "query"
            },
            "view": {
              "type": "string",
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ]
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source}` for external- identity-mapped groups or `customers/{customer}` for Google Groups. The `customer` must begin with \"C\" (for example, 'C046psxkn')."
            }
          },
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "path": "v1/groups"
        },
        "delete": {
          "description": "Deletes a `Group`.",
          "id": "cloudidentity.groups.delete",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group}`.",
              "location": "path",
              "pattern": "^groups/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "flatPath": "v1/groups/{groupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates a `Group`.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^groups/[^/]+$"
            },
            "updateMask": {
              "location": "query",
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "id": "cloudidentity.groups.patch",
          "request": {
            "$ref": "Group"
          },
          "flatPath": "v1/groups/{groupsId}"
        }
      },
      "resources": {
        "memberships": {
          "methods": {
            "searchTransitiveGroups": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/memberships:searchTransitiveGroups",
              "parameters": {
                "query": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels`"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group}`, where `group` is always '-' as this API will search across all groups for a given member.",
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the member is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "flatPath": "v1/groups/{groupsId}/memberships:searchTransitiveGroups"
            },
            "getMembershipGraph": {
              "path": "v1/{+parent}/memberships:getMembershipGraph",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the member is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "flatPath": "v1/groups/{groupsId}/memberships:getMembershipGraph",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group}`, where `group` is the unique ID assigned to the Group to which the Membership belongs to. group can be a wildcard collection id \"-\". When a group is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "checkTransitiveMembership": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group}`, where `group` is the unique id assigned to the Group to which the Membership belongs to.",
                  "pattern": "^groups/[^/]+$"
                },
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/memberships:checkTransitiveMembership",
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the member is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "flatPath": "v1/groups/{groupsId}/memberships:checkTransitiveMembership"
            },
            "delete": {
              "id": "cloudidentity.groups.memberships.delete",
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group}/memberships/{membership}`"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes a `Membership`."
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The `next_page_token` value returned from a previous search request, if any."
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "Default. Should not be used.",
                    "Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`."
                }
              },
              "id": "cloudidentity.groups.memberships.list",
              "path": "v1/{+parent}/memberships",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the `Membership`s within a `Group`.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/groups/{groupsId}/memberships"
            },
            "searchTransitiveMemberships": {
              "flatPath": "v1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group}`, where `group` is the unique ID assigned to the Group.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/memberships:searchTransitiveMemberships",
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the group is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships."
            },
            "lookup": {
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "id": "cloudidentity.groups.memberships.lookup",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "flatPath": "v1/groups/{groupsId}/memberships:lookup",
              "httpMethod": "GET",
              "path": "v1/{+parent}/memberships:lookup",
              "parameters": {
                "memberKey.namespace": {
                  "type": "string",
                  "location": "query",
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`."
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group}`.",
                  "required": true,
                  "location": "path"
                },
                "memberKey.id": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
                }
              }
            },
            "create": {
              "path": "v1/{+parent}/memberships",
              "description": "Creates a `Membership`.",
              "request": {
                "$ref": "Membership"
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/groups/{groupsId}/memberships",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group}`.",
                  "pattern": "^groups/[^/]+$",
                  "location": "path"
                }
              },
              "id": "cloudidentity.groups.memberships.create"
            },
            "get": {
              "id": "cloudidentity.groups.memberships.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Membership"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Retrieves a `Membership`.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group}/memberships/{membership}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}"
            },
            "modifyMembershipRoles": {
              "path": "v1/{+name}:modifyMembershipRoles",
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group}/memberships/{membership}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "id": "cloudidentity:v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "revision": "20220125",
  "canonicalName": "Cloud Identity",
  "name": "cloudidentity",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "title": "Cloud Identity API",
  "batchPath": "batch",
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "UserInvitation": {
      "id": "UserInvitation",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Time when the `UserInvitation` was last updated.",
          "format": "google-datetime"
        },
        "mailsSentCount": {
          "description": "Number of invitation emails sent to the user.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "description": "State of the `UserInvitation`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
        }
      },
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "description": "Resource representing the Android specific attributes of a Device.",
      "properties": {
        "enabledUnknownSources": {
          "type": "boolean",
          "description": "Whether applications from unknown sources can be installed on device."
        },
        "ownerProfileAccount": {
          "type": "boolean",
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
        },
        "ownershipPrivilege": {
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "type": "string",
          "description": "Ownership privileges on device."
        },
        "supportsWorkProfile": {
          "type": "boolean",
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "type": "object"
    },
    "SearchTransitiveMembershipsResponse": {
      "type": "object",
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "memberships": {
          "description": "List of transitive members satisfying the query.",
          "type": "array",
          "items": {
            "$ref": "MemberRelation"
          }
        }
      }
    },
    "LookupGroupNameResponse": {
      "type": "object",
      "id": "LookupGroupNameResponse",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`.",
          "type": "string"
        }
      },
      "description": "The response message for GroupsService.LookupGroupName."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "type": "object"
    },
    "Group": {
      "type": "object",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "properties": {
        "groupKey": {
          "description": "Required. The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "dynamicGroupMetadata": {
          "$ref": "DynamicGroupMetadata",
          "description": "Optional. Dynamic group metadata like queries and status."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the `Group` was last updated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the `Group` was created."
        },
        "parent": {
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external- identity-mapped groups or `customers/{customer}` for Google Groups. The `customer` must begin with \"C\" (for example, 'C046psxkn').",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value."
        }
      },
      "id": "Group"
    },
    "LookupMembershipNameResponse": {
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "type": "object",
      "id": "LookupMembershipNameResponse",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group}/memberships/{membership}`."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata for SignoutDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "SearchGroupsResponse": {
      "properties": {
        "groups": {
          "type": "array",
          "description": "The `Group` resources that match the search query.",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        }
      },
      "id": "SearchGroupsResponse",
      "type": "object",
      "description": "The response message for GroupsService.SearchGroups."
    },
    "MemberRelation": {
      "id": "MemberRelation",
      "type": "object",
      "properties": {
        "member": {
          "type": "string",
          "description": "Resource name for this member."
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "The membership role details (i.e name of role and expiry time)."
        },
        "relationType": {
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "description": "The relation between the group and the transitive member.",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "type": "string"
        },
        "preferredMemberKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "type": "array",
          "items": {
            "$ref": "EntityKey"
          }
        }
      },
      "description": "Message representing a transitive membership of a group."
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "description": "Metadata for DeleteDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "description": "Metadata for UpdateClientState LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "properties": {},
      "type": "object"
    },
    "MembershipAdjacencyList": {
      "properties": {
        "edges": {
          "items": {
            "$ref": "Membership"
          },
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g name, preferred_member_key and role), but may not be a comprehensive list of all fields.",
          "type": "array"
        },
        "group": {
          "type": "string",
          "description": "Resource name of the group that the members belong to."
        }
      },
      "id": "MembershipAdjacencyList",
      "description": "Membership graph's path information as an adjacency list.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "properties": {
        "customer": {
          "description": "The obfuscated customer Id that may be passed back to other Devices API methods such as List, Get, etc.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "type": "object"
    },
    "GetMembershipGraphResponse": {
      "type": "object",
      "properties": {
        "adjacencyList": {
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "description": "The membership graph's path information represented as an adjacency list.",
          "type": "array"
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource.",
          "type": "array"
        }
      },
      "id": "GetMembershipGraphResponse",
      "description": "The response message for MembershipsService.GetMembershipGraph."
    },
    "ModifyMembershipRolesResponse": {
      "id": "ModifyMembershipRolesResponse",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.ModifyMembershipRoles."
    },
    "EntityKey": {
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "id": "EntityKey",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
          "type": "string"
        },
        "namespace": {
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`.",
          "type": "string"
        }
      }
    },
    "DynamicGroupQuery": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "description": "Resource type for the Dynamic Group Query",
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines a query on a resource.",
      "id": "DynamicGroupQuery"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "description": "Response message for wiping all data on the device.",
      "properties": {
        "device": {
          "$ref": "GoogleAppsCloudidentityDevicesV1Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device."
    },
    "RestrictionEvaluation": {
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the restriction",
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ]
        }
      },
      "type": "object",
      "id": "RestrictionEvaluation"
    },
    "DeleteGroupMetadata": {
      "properties": {},
      "type": "object",
      "id": "DeleteGroupMetadata",
      "description": "Metadata for DeleteGroup LRO."
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "properties": {
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "healthScore": {
          "type": "string",
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies."
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the client state data was last updated."
        },
        "createTime": {
          "description": "Output only. The time the client state data was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "assetTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The caller can specify asset tags for this resource"
        },
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "keyValuePairs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
        },
        "ownerType": {
          "description": "Output only. The owner of the ClientState",
          "type": "string",
          "readOnly": true,
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ]
        },
        "managed": {
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "type": "string"
        },
        "customId": {
          "type": "string",
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "readOnly": true,
          "type": "string"
        },
        "complianceState": {
          "description": "The compliance state of the resource as specified by the API client.",
          "type": "string",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ]
        }
      },
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
    },
    "GroupRelation": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for Group resource."
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "Membership roles of the member for the group."
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "type": "string",
          "description": "The relation between the member and the transitive group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this group."
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "group": {
          "type": "string",
          "description": "Resource name for this group."
        }
      },
      "id": "GroupRelation",
      "description": "Message representing a transitive group of a user or a group.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
[...]
