{
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "resources": {
    "stats": {
      "resources": {
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "path": "v1/stats/query/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}",
                      "type": "string",
                      "pattern": "^searchapplications/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "fromDate.month": {
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    },
                    "toDate.day": {
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "fromDate.year": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999."
                    }
                  },
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.stats.query.searchapplications.get",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "path": "v1/stats/user/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                  "id": "cloudsearch.stats.user.searchapplications.get",
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "parameters": {
                    "fromDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "fromDate.year": {
                      "location": "query",
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32"
                    },
                    "toDate.month": {
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "type": "string",
                      "required": true,
                      "pattern": "^searchapplications/[^/]+$"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        },
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "httpMethod": "GET",
                  "parameters": {
                    "toDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "name": {
                      "pattern": "^searchapplications/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "type": "string"
                    },
                    "toDate.year": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query"
                    },
                    "fromDate.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  },
                  "path": "v1/stats/session/{+name}"
                }
              }
            }
          }
        },
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "parameters": {
                    "fromDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query"
                    },
                    "fromDate.year": {
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "name": {
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\"",
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "id": "cloudsearch.stats.index.datasources.get",
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  },
                  "path": "v1/stats/index/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      },
      "methods": {
        "getSession": {
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          },
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "flatPath": "v1/stats/session",
          "parameters": {
            "fromDate.month": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "format": "int32"
            },
            "toDate.year": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "toDate.month": {
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32"
            },
            "fromDate.day": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "v1/stats/session",
          "id": "cloudsearch.stats.getSession",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "httpMethod": "GET"
        },
        "getIndex": {
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.",
          "httpMethod": "GET",
          "parameters": {
            "toDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "toDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer"
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "toDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "fromDate.day": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.year": {
              "format": "int32",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer"
            }
          },
          "path": "v1/stats/index",
          "flatPath": "v1/stats/index",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          },
          "id": "cloudsearch.stats.getIndex",
          "parameterOrder": []
        },
        "getUser": {
          "parameters": {
            "fromDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "fromDate.day": {
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "location": "query"
            },
            "toDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "format": "int32"
            },
            "toDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12."
            },
            "fromDate.year": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "toDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer"
            }
          },
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "httpMethod": "GET",
          "path": "v1/stats/user",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "id": "cloudsearch.stats.getUser",
          "flatPath": "v1/stats/user",
          "parameterOrder": []
        },
        "getQuery": {
          "httpMethod": "GET",
          "path": "v1/stats/query",
          "parameters": {
            "fromDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            },
            "fromDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32"
            },
            "toDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "toDate.year": {
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "format": "int32"
            },
            "toDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12."
            },
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1/stats/query",
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "id": "cloudsearch.stats.getQuery",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ]
        },
        "getSearchapplication": {
          "parameters": {
            "startDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "startDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "endDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "endDate.month": {
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32"
            },
            "endDate.year": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "startDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "cloudsearch.stats.getSearchapplication",
          "path": "v1/stats/searchapplication",
          "response": {
            "$ref": "GetCustomerSearchApplicationStatsResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1/stats/searchapplication",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "description": "Get search application stats for customer. **Note:** This API requires a standard end user account to execute."
        }
      }
    },
    "query": {
      "methods": {
        "search": {
          "path": "v1/query/search",
          "parameters": {},
          "flatPath": "v1/query/search",
          "id": "cloudsearch.query.search",
          "response": {
            "$ref": "SearchResponse"
          },
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from Google Workspace apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "request": {
            "$ref": "SearchRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "parameterOrder": []
        },
        "suggest": {
          "request": {
            "$ref": "SuggestRequest"
          },
          "parameters": {},
          "path": "v1/query/suggest",
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "parameterOrder": [],
          "id": "cloudsearch.query.suggest",
          "flatPath": "v1/query/suggest",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "response": {
            "$ref": "SuggestResponse"
          }
        }
      },
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "parameters": {
                "requestOptions.searchApplicationId": {
                  "type": "string",
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).",
                  "location": "query"
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Number of sources to return in the response."
                },
                "requestOptions.timeZone": {
                  "location": "query",
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.",
                  "type": "string"
                },
                "requestOptions.languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. From Suggest API perspective, for 3p suggest this is used as a hint while making predictions to add language boosting."
                }
              },
              "flatPath": "v1/query/sources",
              "response": {
                "$ref": "ListQuerySourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ],
              "id": "cloudsearch.query.sources.list",
              "parameterOrder": [],
              "httpMethod": "GET",
              "path": "v1/query/sources",
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/)."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v1/media/{mediaId}",
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute.",
          "path": "v1/media/{+resourceName}",
          "parameters": {
            "resourceName": {
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "type": "string",
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Media"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/media/{+resourceName}"
              }
            }
          },
          "id": "cloudsearch.media.upload",
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ],
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "Media"
          }
        }
      }
    },
    "indexing": {
      "resources": {
        "datasources": {
          "methods": {
            "deleteSchema": {
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "DELETE",
              "path": "v1/indexing/{+name}/schema",
              "id": "cloudsearch.indexing.datasources.deleteSchema",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "location": "path",
                  "description": "The name of the data source to delete Schema. Format: datasources/{source_id}",
                  "required": true,
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              }
            },
            "updateSchema": {
              "path": "v1/indexing/{+name}/schema",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "description": "The name of the data source to update Schema. Format: datasources/{source_id}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "PUT"
            },
            "getSchema": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "path": "v1/indexing/{+name}/schema",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "description": "The name of the data source to get Schema. Format: datasources/{source_id}",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "id": "cloudsearch.indexing.datasources.getSchema",
              "response": {
                "$ref": "Schema"
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema"
            }
          },
          "resources": {
            "items": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Item"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}",
                  "parameters": {
                    "connectorName": {
                      "type": "string",
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the item to get info. Format: datasources/{source_id}/items/{item_id}",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "httpMethod": "GET",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}"
                },
                "unreserve": {
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the Data Source to unreserve all items. Format: datasources/{source_id}"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.unreserve",
                  "path": "v1/indexing/{+name}/items:unreserve"
                },
                "deleteQueueItems": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "description": "The name of the Data Source to delete items in a queue. Format: datasources/{source_id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems",
                  "httpMethod": "POST",
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems"
                },
                "delete": {
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "parameters": {
                    "connectorName": {
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query",
                      "type": "string"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the item to delete. Format: datasources/{source_id}/items/{item_id}",
                      "location": "path",
                      "type": "string"
                    },
                    "mode": {
                      "enumDescriptions": [
                        "The priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ],
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ],
                      "description": "Required. The RequestMode for this request."
                    },
                    "version": {
                      "format": "byte",
                      "type": "string",
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes. For information on how item version affects the deletion process, refer to [Handle revisions after manual deletes](https://developers.google.com/cloud-search/docs/guides/operations).",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}",
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "upload": {
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "id": "cloudsearch.indexing.datasources.items.upload",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "The name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "path": "v1/indexing/{+name}:upload",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "UploadItemRef"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "poll": {
                  "id": "cloudsearch.indexing.datasources.items.poll",
                  "path": "v1/indexing/{+name}/items:poll",
                  "response": {
                    "$ref": "PollItemsResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "request": {
                    "$ref": "PollItemsRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "description": "The name of the Data Source to poll items. Format: datasources/{source_id}"
                    }
                  },
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}/items",
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.list",
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the Data Source to list Items. Format: datasources/{source_id}",
                      "pattern": "^datasources/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10"
                    },
                    "brief": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item."
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "connectorName": {
                      "location": "query",
                      "type": "string",
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    }
                  }
                },
                "push": {
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "Item"
                  },
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "path": "v1/indexing/{+name}:push",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path",
                      "description": "The name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters."
                    }
                  },
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push"
                },
                "index": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "The name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                  "path": "v1/indexing/{+name}:index",
                  "id": "cloudsearch.indexing.datasources.items.index",
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "request": {
                    "$ref": "IndexItemRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "debug": {
      "resources": {
        "identitysources": {
          "resources": {
            "unmappedids": {
              "methods": {
                "list": {
                  "parameters": {
                    "resolutionStatusCode": {
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "type": "string",
                      "description": "Limit users selection to this status.",
                      "location": "query",
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ]
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^identitysources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/debug/{+parent}/unmappedids",
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  }
                }
              }
            },
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "groupResourceName": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^identitysources/[^/]+$",
                      "location": "path",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "userResourceName": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "path": "v1/debug/{+parent}/items:forunmappedidentity",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "datasources": {
          "resources": {
            "items": {
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "pattern": "^datasources/[^/]+/items/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "debugOptions.enableDebugging": {
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous List request, if any."
                        },
                        "pageSize": {
                          "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      },
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "path": "v1/debug/{+parent}/unmappedids",
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list"
                    }
                  }
                }
              },
              "methods": {
                "searchByViewUrl": {
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  },
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.",
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "path": "v1/debug/{+name}/items:searchByViewUrl",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Source name, format: datasources/{source_id}"
                    }
                  },
                  "httpMethod": "POST"
                },
                "checkAccess": {
                  "httpMethod": "POST",
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}",
                      "type": "string"
                    }
                  },
                  "path": "v1/debug/{+name}:checkAccess",
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Principal"
                  },
                  "description": "Checks whether an item is accessible by specified principal. Principal must be a user; groups and domain values aren't supported. **Note:** This API requires an admin account to execute.",
                  "response": {
                    "$ref": "CheckAccessResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "settings": {
      "resources": {
        "searchapplications": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.settings.searchapplications.create",
              "flatPath": "v1/settings/searchapplications",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [],
              "request": {
                "$ref": "SearchApplication"
              },
              "description": "Creates a search application. **Note:** This API requires an admin account to execute.",
              "parameters": {},
              "httpMethod": "POST",
              "path": "v1/settings/searchapplications"
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "httpMethod": "PUT",
              "request": {
                "$ref": "SearchApplication"
              },
              "id": "cloudsearch.settings.searchapplications.update",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              }
            },
            "list": {
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "httpMethod": "GET",
              "flatPath": "v1/settings/searchapplications",
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of items to return.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10",
                  "location": "query"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "path": "v1/settings/searchapplications",
              "id": "cloudsearch.settings.searchapplications.list",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            },
            "get": {
              "path": "v1/settings/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "name": {
                  "description": "The name of the search application. Format: searchapplications/{application_id}.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.searchapplications.get",
              "response": {
                "$ref": "SearchApplication"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "httpMethod": "DELETE",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.searchapplications.delete",
              "parameters": {
                "name": {
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}.",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "reset": {
              "id": "cloudsearch.settings.searchapplications.reset",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^searchapplications/[^/]+$",
                  "description": "The name of the search application to be reset. Format: applications/{application_id}."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}:reset",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "id": "cloudsearch.settings.searchapplications.patch",
              "request": {
                "$ref": "SearchApplication"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "parameters": {
                "name": {
                  "pattern": "^searchapplications/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "format": "google-fieldmask"
                }
              }
            }
          }
        },
        "datasources": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "DataSource"
              },
              "path": "v1/settings/{+name}",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.datasources.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Only applies to [`settings.datasources.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.datasources/patch). Update mask to control which fields to update. Example field paths: `name`, `displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the source, that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "pattern": "^datasources/[^/]+$"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              }
            },
            "get": {
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "DataSource"
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "description": "The name of the datasource resource. Format: datasources/{source_id}.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "cloudsearch.settings.datasources.get",
              "path": "v1/settings/{+name}",
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.settings.datasources.delete",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "path": "v1/settings/{+name}",
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "description": "The name of the datasource. Format: datasources/{source_id}.",
                  "required": true
                }
              }
            },
            "update": {
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "id": "cloudsearch.settings.datasources.update",
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "path": "v1/settings/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "location": "path"
                }
              },
              "httpMethod": "PUT"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Starting index of the results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of datasources to fetch in a request. The max value is 1000. The default value is 1000.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1/settings/datasources",
              "id": "cloudsearch.settings.datasources.list",
              "path": "v1/settings/datasources",
              "response": {
                "$ref": "ListDataSourceResponse"
              },
              "httpMethod": "GET",
              "description": "Lists datasources. **Note:** This API requires an admin account to execute.",
              "parameterOrder": []
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "DataSource"
              },
              "id": "cloudsearch.settings.datasources.create",
              "path": "v1/settings/datasources",
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "flatPath": "v1/settings/datasources",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {},
              "parameterOrder": []
            }
          }
        }
      },
      "methods": {
        "updateCustomer": {
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings"
            }
          },
          "description": "Update customer settings. **Note:** This API requires an admin account to execute.",
          "httpMethod": "PATCH",
          "flatPath": "v1/settings/customer",
          "request": {
            "$ref": "CustomerSettings"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "id": "cloudsearch.settings.updateCustomer",
          "path": "v1/settings/customer",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ]
        },
        "getCustomer": {
          "id": "cloudsearch.settings.getCustomer",
          "response": {
            "$ref": "CustomerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "path": "v1/settings/customer",
          "parameters": {},
          "flatPath": "v1/settings/customer",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Get customer settings. **Note:** This API requires an admin account to execute."
        }
      }
    },
    "v1": {
      "methods": {
        "initializeCustomer": {
          "request": {
            "$ref": "InitializeCustomerRequest"
          },
          "id": "cloudsearch.initializeCustomer",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "v1:initializeCustomer",
          "flatPath": "v1:initializeCustomer",
          "description": "Enables `third party` support in Google Cloud Search. **Note:** This API requires an admin account to execute.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource.",
              "location": "path"
            }
          },
          "id": "cloudsearch.operations.get",
          "response": {
            "$ref": "Operation"
          }
        }
      },
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/operations/{operationsId}/lro",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "path": "v1/{+name}/lro",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^operations/.*$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "id": "cloudsearch.operations.lro.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            }
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "canonicalName": "Cloud Search",
  "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
  "schemas": {
    "ErrorMessage": {
      "description": "Error message per source response.",
      "properties": {
        "source": {
          "$ref": "Source"
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "ErrorMessage"
    },
    "AppsDynamiteV1ApiCompatV1Field": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The text value of the field.",
          "type": "string"
        },
        "short": {
          "description": "Whether the field can be shown side-by-side with another field.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The heading text, shown in bold."
        }
      },
      "id": "AppsDynamiteV1ApiCompatV1Field",
      "description": "A column of text in an attachment. Documentation: - https://api.slack.com/docs/message-attachments"
    },
    "FilterOptions": {
      "description": "Filter options to be applied on query.",
      "properties": {
        "objectType": {
          "description": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters.",
          "type": "string"
        },
        "filter": {
          "$ref": "Filter",
          "description": "Generic filter to restrict the search, such as `lang:en`, `site:xyz`."
        }
      },
      "id": "FilterOptions",
      "type": "object"
    },
    "SigningKeyPossessorProto": {
      "description": "Represents a principal who possesses a signing key corresponding to the verification key or keyset described here.",
      "id": "SigningKeyPossessorProto",
      "type": "object",
      "properties": {
        "keymasterKeyType": {
          "type": "integer",
          "format": "int32",
          "description": "This value must be from the KeyMetadata.Type enum in keymaster.proto."
        },
        "serializedVerificationKey": {
          "format": "byte",
          "type": "string",
          "description": "The actual verification key bytes corresponding to the above type."
        },
        "serializedVerificationKeyset": {
          "description": "The binary serialized Keymaster SerializedReader of a public keyset. The keyset must contain exactly one key. N.B.: If this field is populated, serialized_verification_key should be set to the empty string and keymaster_key_type should be set to zero.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "TransientData": {
      "type": "object",
      "properties": {},
      "id": "TransientData",
      "description": "Transient generic data that will not be saved on the server."
    },
    "ThreadKeySet": {
      "id": "ThreadKeySet",
      "properties": {
        "messageKeys": {
          "type": "array",
          "description": "Messages on which the thread_key was changed.",
          "items": {
            "$ref": "MultiKey"
          }
        },
        "newThreadKey": {
          "description": "The new thread_key for this thread",
          "$ref": "MultiKey"
        }
      },
      "description": "The ThreadKey was set on some (subset of the) messages in this thread.",
      "type": "object"
    },
    "Snippet": {
      "id": "Snippet",
      "properties": {
        "snippet": {
          "description": "The snippet of the document. The snippet of the document. May contain escaped HTML character that should be unescaped prior to rendering.",
          "type": "string"
        },
        "matchRanges": {
          "type": "array",
          "items": {
            "$ref": "MatchRange"
          },
          "description": "The matched ranges in the snippet."
        }
      },
      "type": "object",
      "description": "Snippet of the search result, which summarizes the content of the resulting page."
    },
    "SpaceId": {
      "type": "object",
      "description": "Primary key for Space resource.",
[...]
