{
  "ownerDomain": "google.com",
  "version_module": true,
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "id": "cloudchannel:v1",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "revision": "20220324",
  "documentationLink": "https://cloud.google.com/channel",
  "rootUrl": "https://cloudchannel.googleapis.com/",
  "servicePath": "",
  "title": "Cloud Channel API",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleCloudChannelV1PriceTier": {
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "id": "GoogleCloudChannelV1PriceTier",
      "properties": {
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the tier."
        },
        "firstResource": {
          "type": "integer",
          "description": "First resource for which the tier price applies.",
          "format": "int32"
        },
        "lastResource": {
          "type": "integer",
          "format": "int32",
          "description": "Last resource for which the tier price applies."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "type": "object",
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "properties": {
        "eventType": {
          "description": "Type of event which happened on the entitlement.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1EntitlementEvent"
    },
    "GoogleCloudChannelV1TransferableSku": {
      "properties": {
        "legacySku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU."
        },
        "sku": {
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "transferEligibility": {
          "description": "Describes the transfer eligibility of a SKU.",
          "$ref": "GoogleCloudChannelV1TransferEligibility"
        }
      },
      "id": "GoogleCloudChannelV1TransferableSku",
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "id": "GoogleCloudChannelV1ChangeOfferRequest",
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "properties": {
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "offer": {
          "type": "string",
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}."
        },
        "parameters": {
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "description": "Cloud Identity information for the Cloud Channel Customer.",
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "properties": {
        "alternateEmail": {
          "type": "string",
          "description": "The alternate email."
        },
        "isDomainVerified": {
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers.",
          "type": "boolean",
          "readOnly": true
        },
        "languageCode": {
          "type": "string",
          "description": "Language code."
        },
        "eduData": {
          "description": "Edu information about the customer.",
          "$ref": "GoogleCloudChannelV1EduData"
        },
        "customerType": {
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "description": "CustomerType indicates verification type needed for using services.",
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ]
        },
        "primaryDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary domain name."
        },
        "phoneNumber": {
          "description": "Phone number associated with the Cloud Identity.",
          "type": "string"
        },
        "adminConsoleUri": {
          "description": "Output only. URI of Customer's Admin console dashboard.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Parameter": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean"
        },
        "value": {
          "$ref": "GoogleCloudChannelV1alpha1Value",
          "description": "Value of the parameter."
        }
      },
      "description": "Definition for extended entitlement parameters.",
      "id": "GoogleCloudChannelV1alpha1Parameter"
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "id": "GoogleCloudChannelV1ListOffersResponse",
      "type": "object",
      "description": "Response message for ListOffers.",
      "properties": {
        "offers": {
          "type": "array",
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "description": "Represents Pub/Sub message content describing customer update.",
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerEvent",
      "properties": {
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "description": "Type of event which happened on the customer."
        },
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array",
          "description": "The transferred entitlements."
        }
      }
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings",
      "properties": {
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings"
        },
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Commitment start timestamp."
        }
      },
      "description": "Commitment settings for commitment-based offers."
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse",
      "properties": {
        "topic": {
          "description": "Name of the topic the service account subscriber access was removed from.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "type": "object",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse",
      "properties": {
        "cloudIdentityAccounts": {
          "description": "The Cloud Identity accounts associated with the domain.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          }
        }
      }
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "properties": {
        "channelPartnerLink": {
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates.",
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
        },
        "updateMask": {
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "type": "object"
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "id": "GoogleCloudChannelV1PurchasableSku",
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "type": "object"
    },
    "GoogleCloudChannelV1Media": {
      "description": "Represents media information.",
      "id": "GoogleCloudChannelV1Media",
      "properties": {
        "type": {
          "description": "Type of the media.",
          "enumDescriptions": [
            "Not used.",
            "Type of image."
          ],
          "type": "string",
          "enum": [
            "MEDIA_TYPE_UNSPECIFIED",
            "MEDIA_TYPE_IMAGE"
          ]
        },
        "content": {
          "type": "string",
          "description": "URL of the media."
        },
        "title": {
          "description": "Title of the media.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Required. The SKU to look up Offers for."
        },
        "pageSize": {
          "type": "integer",
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000.",
          "format": "int32"
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call.",
          "type": "string"
        },
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "A reseller should create a customer and use the resource name of that customer here."
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableOffersRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ListTransferableOffers"
    },
    "GoogleCloudChannelV1alpha1Value": {
      "properties": {
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Represents an 'Any' proto value."
        },
        "int64Value": {
          "format": "int64",
          "description": "Represents an int64 value.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        }
      },
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1alpha1Value",
      "type": "object"
    },
    "GoogleCloudChannelV1PricePhase": {
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "id": "GoogleCloudChannelV1PricePhase",
      "properties": {
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the phase. Present if there are no price tiers."
        },
        "priceTiers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "type": "array",
          "description": "Price by the resource tiers."
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "description": "Defines the phase period type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string"
        },
        "lastPeriod": {
          "type": "integer",
          "description": "Defines first period for the phase.",
          "format": "int32"
        },
        "firstPeriod": {
          "type": "integer",
          "description": "Defines first period for the phase.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "properties": {
        "purchaseOrderId": {
          "description": "Optional. Purchase order ID provided by the reseller.",
          "type": "string"
        },
        "parameters": {
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ChangeParametersRequest.",
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain to fetch for Cloud Identity account customer."
        }
      },
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "description": "Response message for CloudChannelService.ListCustomers.",
      "type": "object",
      "id": "GoogleCloudChannelV1ListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "customers": {
          "description": "The customers belonging to a reseller or distributor.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          }
        }
      }
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      },
      "description": "Association links that an entitlement has to other entitlements."
    },
    "GoogleCloudChannelV1Product": {
      "id": "GoogleCloudChannelV1Product",
      "properties": {
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the product."
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the Product. Format: products/{product_id}"
        }
      },
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc.",
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "properties": {
        "allowedRegions": {
          "description": "Allowed geographical regions of the customer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowedCustomerTypes": {
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Allowed Customer Type."
        },
        "promotionalOrderTypes": {
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ],
            "type": "string",
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ]
          }
        }
      }
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to unregister from subscriber access to the topic."
        }
      },
      "description": "Request Message for UnregisterSubscriber.",
      "type": "object",
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest"
    },
    "GoogleCloudChannelV1PurchasableOffer": {
      "id": "GoogleCloudChannelV1PurchasableOffer",
      "description": "Offer that you can purchase for a customer. This is used in the ListPurchasableOffer API response.",
      "properties": {
        "offer": {
          "description": "Offer.",
          "$ref": "GoogleCloudChannelV1Offer"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account that provides subscriber access to the registered topic."
        }
      },
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "type": "object",
      "description": "Request Message for RegisterSubscriber."
    },
    "GoogleCloudChannelV1Price": {
      "properties": {
        "discount": {
          "type": "number",
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2.",
          "format": "double"
        },
        "basePrice": {
          "description": "Base price.",
          "$ref": "GoogleTypeMoney"
        },
        "effectivePrice": {
          "description": "Effective Price after applying the discounts.",
          "$ref": "GoogleTypeMoney"
        },
        "externalPriceUri": {
          "description": "Link to external price list, such as link to Google Voice rate card.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1Price",
      "description": "Represents the price of the Offer."
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional."
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional.",
          "type": "string"
        },
        "pageSize": {
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional.",
          "type": "integer",
          "format": "int32"
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Customer's Cloud Identity ID"
        },
        "customerName": {
          "type": "string",
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "authToken": {
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ListTransferableSkus"
    },
    "GoogleCloudChannelV1Value": {
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Represents an 'Any' proto value."
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Represents an int64 value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1Value"
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page.",
          "type": "string"
        },
        "channelPartnerLinks": {
          "description": "The Channel partner links for a reseller.",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          },
          "type": "array"
        }
      },
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks.",
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The entitlements to transfer to Google.",
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle."
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "properties": {
        "customerName": {
          "type": "string",
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "existing": {
          "description": "Returns true if a Cloud Identity account exists for a specific domain.",
          "type": "boolean"
        },
        "customerCloudIdentityId": {
          "type": "string",
          "description": "If existing = true, the Cloud Identity ID of the customer."
        },
        "owned": {
          "type": "boolean",
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner."
        }
      },
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "type": "object",
      "description": "Response Message for ListSubscribers.",
      "properties": {
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "serviceAccounts": {
          "description": "List of service accounts which have subscriber access to the topic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1ListSubscribersResponse"
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "properties": {
        "transferableSkus": {
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "purchasableOffers": {
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListPurchasableOffers.",
      "type": "object",
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse"
    },
    "GoogleCloudChannelV1Constraints": {
      "description": "Represents the constraints for buying the Offer.",
      "properties": {
        "customerConstraints": {
          "description": "Represents constraints required to purchase the Offer for a customer.",
          "$ref": "GoogleCloudChannelV1CustomerConstraints"
        }
      },
      "id": "GoogleCloudChannelV1Constraints",
      "type": "object"
    },
    "GoogleCloudChannelV1AdminUser": {
      "id": "GoogleCloudChannelV1AdminUser",
      "properties": {
        "email": {
          "type": "string",
          "description": "Primary email of the admin user."
        },
        "familyName": {
          "description": "Family name of the admin user.",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "Given name of the admin user."
        }
      },
      "type": "object",
      "description": "Information needed to create an Admin User for Google Workspace."
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "type": "object",
      "properties": {
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        },
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        }
      }
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "id": "GoogleCloudChannelV1MarketingInfo",
      "description": "Represents the marketing information for a Product, SKU or Offer.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Human readable description. Description can contain HTML."
        },
        "defaultLogo": {
          "$ref": "GoogleCloudChannelV1Media",
          "description": "Default logo."
        },
        "displayName": {
          "type": "string",
          "description": "Human readable name."
        }
      }
    },
    "GoogleCloudChannelV1TransferableOffer": {
      "id": "GoogleCloudChannelV1TransferableOffer",
      "properties": {
        "offer": {
          "$ref": "GoogleCloudChannelV1Offer",
          "description": "Offer with parameter constraints updated to allow the Transfer."
        }
      },
      "type": "object",
      "description": "TransferableOffer represents an Offer that can be used in Transfer. Read-only."
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.ImportCustomer",
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "authToken": {
          "type": "string",
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Required. Customer's Cloud Identity ID"
        },
        "domain": {
          "type": "string",
          "description": "Required. Customer domain."
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well."
        },
        "overwriteIfExists": {
          "type": "boolean",
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain."
        }
      }
    },
    "GoogleCloudChannelV1Parameter": {
      "description": "Definition for extended entitlement parameters.",
      "type": "object",
      "properties": {
        "editable": {
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "value": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Value of the parameter."
        }
      },
      "id": "GoogleCloudChannelV1Parameter"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1Entitlement": {
      "properties": {
        "provisionedService": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "trialSettings": {
          "description": "Output only. Settings for trial offers.",
          "$ref": "GoogleCloudChannelV1TrialSettings",
          "readOnly": true
        },
        "commitmentSettings": {
          "$ref": "GoogleCloudChannelV1CommitmentSettings",
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers."
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current provisioning state of the entitlement.",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ]
        },
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "suspensionReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          },
          "readOnly": true,
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}."
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements."
        },
        "updateTime": {
          "description": "Output only. The time at which the entitlement is updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers."
        },
        "createTime": {
          "description": "Output only. The time at which the entitlement is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudChannelV1Entitlement",
      "type": "object",
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "id": "GoogleCloudChannelV1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "skuId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "provisioningId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\""
        },
        "productId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudChannelV1TrialSettings": {
      "id": "GoogleCloudChannelV1TrialSettings",
      "type": "object",
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      },
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "description": "Response Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypePostalAddress": {
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an i18n-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "properties": {
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        },
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.).",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        }
      },
      "type": "object",
      "id": "GoogleTypePostalAddress"
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "properties": {
        "purchasableSkus": {
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          },
          "description": "The list of SKUs requested.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse",
      "description": "Response message for ListPurchasableSkus."
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "type": "object",
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The reseller customer's entitlements.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "properties": {
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1EntitlementEvent"
        },
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1CustomerEvent"
        }
      },
      "id": "GoogleCloudChannelV1SubscriberEvent",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "type": "object"
    },
    "GoogleCloudChannelV1Customer": {
      "id": "GoogleCloudChannelV1Customer",
      "properties": {
        "primaryContactInfo": {
          "$ref": "GoogleCloudChannelV1ContactInfo",
          "description": "Primary contact info."
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource.",
          "readOnly": true
        },
        "orgDisplayName": {
          "type": "string",
          "description": "Required. Name of the organization that the customer entity represents."
        },
        "orgPostalAddress": {
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region and zip code. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code.",
          "$ref": "GoogleTypePostalAddress"
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the customer was created."
        },
        "alternateEmail": {
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the customer was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string",
          "readOnly": true
        },
        "domain": {
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Entity representing a customer of a reseller or distributor."
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "properties": {
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened on the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        }
      }
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.StartPaidService."
    },
    "GoogleCloudChannelV1Plan": {
      "type": "object",
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "properties": {
        "paymentType": {
          "type": "string",
          "description": "Specifies when the payment needs to happen.",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ],
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ]
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string",
          "description": "Describes how a reseller will be billed."
        },
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "trialPeriod": {
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "billingAccount": {
          "type": "string",
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud Platform offers."
        }
      },
      "id": "GoogleCloudChannelV1Plan"
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "type": "object",
      "description": "Represents Pub/Sub message content describing customer update.",
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "type": "string",
          "description": "Type of event which happened on the customer.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ]
        }
      }
    },
    "GoogleCloudChannelV1Offer": {
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying.",
      "properties": {
        "priceByResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          },
          "description": "Price for each monetizable resource type."
        },
        "startTime": {
          "type": "string",
          "description": "Start of the Offer validity time.",
          "format": "google-datetime"
        },
        "plan": {
          "description": "Describes the payment plan for the Offer.",
          "$ref": "GoogleCloudChannelV1Plan"
        },
        "constraints": {
          "description": "Constraints on transacting the Offer.",
          "$ref": "GoogleCloudChannelV1Constraints"
        },
        "parameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "description": "Parameters required to use current Offer to purchase."
        },
        "sku": {
          "description": "SKU the offer is associated with.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. End of the Offer validity time."
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the Offer."
        },
        "name": {
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1Offer",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "description": "The transferred entitlements.",
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        },
        "provisioningId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\""
        },
        "skuId": {
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "description": "Request message for CloudChannelService.ActivateEntitlement.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest"
    },
    "GoogleCloudChannelV1ListProductsResponse": {
      "id": "GoogleCloudChannelV1ListProductsResponse",
      "description": "Response message for ListProducts.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "products": {
          "items": {
            "$ref": "GoogleCloudChannelV1Product"
          },
          "description": "List of Products requested.",
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "properties": {
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1alpha1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "disableCommitment": {
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead.",
          "type": "boolean"
        },
        "paymentOption": {
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.",
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "type": "string"
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ]
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "description": "Renewal settings for renewable Offers."
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "properties": {
        "transferableOffers": {
          "type": "array",
          "description": "Information about Offers for a customer that can be used for transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse"
    },
    "GoogleCloudChannelV1EduData": {
      "description": "Required Edu Attributes",
      "id": "GoogleCloudChannelV1EduData",
      "properties": {
        "instituteType": {
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "description": "Designated institute type of customer.",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "type": "string"
        },
        "instituteSize": {
          "description": "Size of the institute.",
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "type": "string",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ]
        },
        "website": {
          "type": "string",
          "description": "Web address for the edu customer's institution."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "type": "object",
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "properties": {
        "resellerCloudIdentityId": {
          "type": "string",
          "description": "Required. Cloud Identity ID of the linked reseller."
        },
        "inviteLinkUri": {
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is updated."
        },
        "publicId": {
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "type": "string",
          "readOnly": true
        },
        "linkState": {
          "type": "string",
          "description": "Required. State of the channel partner link.",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ]
        },
        "channelPartnerCloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "readOnly": true,
          "description": "Output only. Cloud Identity info of the channel partner (IR)."
        }
      },
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel."
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.CreateEntitlement",
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "properties": {
        "entitlement": {
          "description": "Required. The entitlement to create.",
          "$ref": "GoogleCloudChannelV1Entitlement"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "properties": {
        "trialSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings",
          "description": "Output only. Settings for trial offers."
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer."
        },
        "maxUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead."
        },
        "commitmentSettings": {
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings",
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers."
        },
        "updateTime": {
          "description": "Output only. The time at which the entitlement is updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current provisioning state of the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ]
        },
        "parameters": {
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers.",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "type": "array"
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo"
        },
        "suspensionReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          },
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "readOnly": true
        },
        "numUnits": {
          "type": "integer",
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead.",
          "format": "int32"
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement.",
          "readOnly": true
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "assignedUnits": {
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the entitlement is created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "id": "GoogleCloudChannelV1AssociationInfo",
      "description": "Association links that an entitlement has to other entitlements.",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Period": {
      "properties": {
        "duration": {
          "type": "integer",
          "description": "Total duration of Period Type defined.",
          "format": "int32"
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "description": "Period Type."
        }
      },
      "description": "Represents period in days/months/years.",
      "id": "GoogleCloudChannelV1Period",
      "type": "object"
    },
    "GoogleCloudChannelV1ContactInfo": {
      "id": "GoogleCloudChannelV1ContactInfo",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name."
        },
        "phone": {
          "type": "string",
          "description": "The customer account's contact phone number."
        },
        "email": {
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. The customer account contact's job title."
        },
        "firstName": {
          "type": "string",
          "description": "The customer account contact's first name. Optional for Team customers."
        },
        "lastName": {
          "type": "string",
          "description": "The customer account contact's last name. Optional for Team customers."
        }
      },
      "description": "Contact information for a customer account.",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "id": "GoogleCloudChannelV1TransferEligibility",
      "description": "Specifies transfer eligibility of a SKU.",
      "type": "object",
      "properties": {
        "ineligibilityReason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ],
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ],
          "type": "string",
          "description": "Specified the reason for ineligibility."
        },
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        },
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudChannelV1Sku": {
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "properties": {
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        },
        "name": {
          "type": "string",
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1Sku"
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "properties": {
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        },
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudChannelV1PriceByResource": {
      "properties": {
        "price": {
          "description": "Price of the Offer. Present if there are no price phases.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "pricePhases": {
          "description": "Specifies the price by time range.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          }
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION"
          ],
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud Platform, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud Platform.",
            "For Google Cloud Platform subscriptions like Anthos or SAP."
          ],
          "description": "Resource Type. Example: SEAT"
        }
      },
      "id": "GoogleCloudChannelV1PriceByResource",
      "description": "Represents price by resource type.",
      "type": "object"
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "properties": {
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Commitment start timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "id": "GoogleCloudChannelV1CommitmentSettings",
      "description": "Commitment settings for commitment-based offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "properties": {
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "skus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "description": "The list of SKUs requested."
        }
      },
      "description": "Response message for ListSkus."
    },
    "GoogleCloudChannelV1ParameterDefinition": {
[...]
