{
  "batchPath": "batch",
  "ownerName": "Google",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "discoveryVersion": "v1",
  "name": "cloudsupport",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "Google Cloud Support API",
  "version": "v2beta",
  "resources": {
    "caseClassifications": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "query": {
              "type": "string",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request.",
              "location": "query"
            }
          },
          "flatPath": "v2beta/caseClassifications:search",
          "path": "v2beta/caseClassifications:search",
          "httpMethod": "GET",
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\".",
          "id": "cloudsupport.caseClassifications.search"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "supportsMediaDownload": true,
          "path": "v2beta/{+name}:download",
          "useMediaDownloadService": true,
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "cloudsupport.media.download",
          "httpMethod": "GET",
          "response": {
            "$ref": "Media"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "required": true,
              "description": "The resource name of the attachment to be downloaded.",
              "type": "string"
            }
          }
        },
        "upload": {
          "description": "Create a file attachment on a case or Cloud resource.",
          "supportsMediaUpload": true,
          "path": "v2beta/{+parent}/attachments",
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the case to which attachment should be attached.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            }
          },
          "id": "cloudsupport.media.upload",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "cases": {
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "id": "cloudsupport.cases.attachments.list",
              "path": "v2beta/{+parent}/attachments",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of Case object for which attachments should be listed."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "description": "Retrieve all attachments associated with a support case.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "comments": {
          "methods": {
            "list": {
              "path": "v2beta/{+parent}/comments",
              "id": "cloudsupport.cases.comments.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Retrieve all Comments associated with the Case object.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "response": {
                "$ref": "ListCommentsResponse"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Comment"
              },
              "parameters": {
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of Case to which this comment should be added."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Comment"
              },
              "description": "Add a new comment to the specified Case.",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "httpMethod": "POST",
              "path": "v2beta/{+parent}/comments",
              "id": "cloudsupport.cases.comments.create"
            }
          }
        }
      },
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.get",
          "description": "Retrieve the specified case."
        },
        "escalate": {
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2beta/{+name}:escalate",
          "id": "cloudsupport.cases.escalate",
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate"
        },
        "search": {
          "path": "v2beta/cases:search",
          "id": "cloudsupport.cases.search",
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "description": "An expression written in the Cloud filter language. Filter strings can use the following fields: - organization (A name of the form organizations/) - project (A name of the form projects/) - customer (A name of the form customers/) - state (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no key/operator) can be used to search across display_name, description, and comments (e.g. \"my search\"). One of organization, project, or customer field must be specified.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of cases fetched with each request. The default page size is 10."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            }
          },
          "description": "Search cases using the specified query.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v2beta/cases:search"
        },
        "create": {
          "id": "cloudsupport.cases.create",
          "description": "Create a new case and associate it with the given Cloud resource.",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The name of the Cloud resource under which the case should be created.",
              "pattern": "^[^/]+/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/{+parent}/cases",
          "response": {
            "$ref": "Case"
          },
          "request": {
            "$ref": "Case"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases"
        },
        "close": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.close",
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "httpMethod": "POST",
          "description": "Close the specified case.",
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "path": "v2beta/{+name}:close"
        },
        "patch": {
          "id": "cloudsupport.cases.patch",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "A field that represents attributes of a case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields will be updated. WARNING: If you do not provide a field mask then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses then subscriber_email_addresses will be updated to empty.",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "The resource name for the case."
            }
          },
          "request": {
            "$ref": "Case"
          },
          "description": "Update the specified case. Only a subset of fields (display_name, description, time_zone, subscriber_email_addresses, related_resources, severity, primary_contact, and labels) can be updated."
        },
        "list": {
          "path": "v2beta/{+parent}/cases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "description": "Retrieve all cases under the specified parent.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "filter": {
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out. Filter strings can use the following fields: - status (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no operator) can be used to search across displayName, description, and comments (e.g. \"my search\").",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "required": true
            },
            "orderBy": {
              "description": "A comma separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case-insensitive, default sorting order is ascending, redundant space characters are insignificant. Example: `name asc,update_time, create_time desc`",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of cases fetched with each request. Defaults to 10."
            }
          },
          "id": "cloudsupport.cases.list",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        }
      }
    },
    "attachments": {
      "methods": {
        "create": {
          "path": "v2beta/{+parent}/attachments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "httpMethod": "POST",
          "id": "cloudsupport.attachments.create",
          "description": "Create a file attachment on a case or Cloud resource.",
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The resource name of the case to which attachment should be attached."
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/attachments"
        }
      }
    }
  },
  "canonicalName": "Cloud Support",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "revision": "20211103",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "cloudsupport:v2beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "schemas": {
    "EscalateCaseRequest": {
      "properties": {
        "escalation": {
          "description": "The escalation object to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      },
      "description": "The request message for the EscalateCase endpoint.",
      "id": "EscalateCaseRequest",
      "type": "object"
    },
    "SearchCaseClassificationsResponse": {
      "description": "The response message for SearchCaseClassifications endpoint.",
      "type": "object",
      "id": "SearchCaseClassificationsResponse",
      "properties": {
        "caseClassifications": {
          "type": "array",
          "items": {
            "$ref": "CaseClassification"
          },
          "description": "The classifications retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      }
    },
    "CloseCaseRequest": {
      "properties": {},
      "id": "CloseCaseRequest",
      "type": "object",
      "description": "The request message for the CloseCase endpoint."
    },
    "ObjectId": {
      "id": "ObjectId",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "generation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DiffVersionResponse": {
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectSizeBytes": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffVersionResponse"
    },
    "ListCasesResponse": {
      "id": "ListCasesResponse",
      "type": "object",
      "description": "The response message for the ListCases endpoint.",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the cloud resource, after any filters have been applied."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      }
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "chunkSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CompositeMedia": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "crc32cHash": {
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "md5Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "length": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ]
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "CompositeMedia"
    },
    "Attachment": {
      "type": "object",
      "description": "Represents a file attached to a support case.",
      "id": "Attachment",
      "properties": {
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the attachment.",
          "readOnly": true
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The size of the attachment in bytes.",
          "type": "string"
        },
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string"
        }
      }
    },
    "Escalation": {
      "description": "An escalation of a support case.",
      "id": "Escalation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name for the escalation event.",
          "readOnly": true,
          "type": "string"
        },
        "justification": {
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when this escalation event was created.",
          "type": "string"
        },
        "reason": {
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "description": "Required. The reason why the Case is being escalated.",
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "type": "string"
        },
        "actor": {
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent initiated this escalation.",
          "readOnly": true
        }
      }
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "downloadReadHandle": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "Actor": {
      "id": "Actor",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "email": {
          "type": "string",
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "googleSupport": {
          "description": "Output only. Whether the actor is a Google support actor.",
          "type": "boolean",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An ID representing the user that was authenticated when the corresponding action was taken. This will be an email address, if one is available, or some other unique ID. See https://cloud.google.com/docs/authentication for more information on types of authentication."
        }
      },
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "type": "object"
    },
    "ListAttachmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve."
        },
        "attachments": {
          "description": "The list of attachments associated with the given case.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "id": "ListAttachmentsResponse",
      "type": "object",
      "description": "The response message for the ListAttachments endpoint."
    },
    "Case": {
      "type": "object",
      "properties": {
        "testCase": {
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the case."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this case was created."
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "severity": {
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "description": "The severity of this case.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current status of the support case.",
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "readOnly": true
        },
        "classification": {
          "description": "The issue classification applicable to this case.",
          "$ref": "CaseClassification"
        },
        "timeZone": {
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this case was last updated."
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "description": "The email addresses to receive updates on this case.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Case",
      "description": "A support case."
    },
    "WorkflowOperationMetadata": {
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved."
        },
        "workflowOperationType": {
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "description": "Which version of the workflow service this operation came from.",
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ],
          "type": "string"
        },
        "operationAction": {
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "description": "The type of action the operation is classified as.",
          "type": "string",
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ]
        }
      },
      "description": "Metadata about the operation. Used to lookup the current status.",
      "id": "WorkflowOperationMetadata",
      "type": "object"
    },
    "SearchCasesResponse": {
      "id": "SearchCasesResponse",
      "description": "The response message for the SearchCases endpoint.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of Case associated with the cloud resource, after any filters have been applied."
        }
      }
    },
    "ContentTypeInfo": {
      "properties": {
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromHeader": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromUrlPath": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "ContentTypeInfo"
    },
    "Comment": {
      "description": "A comment associated with a support case.",
      "properties": {
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user or Google Support agent created this comment."
        },
        "name": {
          "description": "Output only. The resource name for the comment.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this comment was created."
        },
        "plainTextBody": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An automatically generated plain text version of body with all rich text syntax stripped."
        },
        "body": {
          "description": "The full comment body. Maximum of 120000 characters. This can contain rich text syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "DownloadParameters": {
      "type": "object",
      "id": "DownloadParameters",
      "properties": {
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CreateAttachmentRequest": {
      "description": "The request message for the CreateAttachment endpoint.",
      "type": "object",
      "id": "CreateAttachmentRequest",
      "properties": {
        "attachment": {
          "description": "Required. The attachment to be created.",
          "$ref": "Attachment"
        }
      }
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "type": "object"
    },
    "CaseClassification": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the classification."
        }
      },
      "type": "object",
      "description": "A classification object with a product type and value.",
      "id": "CaseClassification"
    },
    "DiffUploadResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffUploadResponse",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object"
    },
    "ListCommentsResponse": {
      "id": "ListCommentsResponse",
      "properties": {
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of Comments associated with the given Case.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "description": "The response message for the ListComments endpoint.",
      "type": "object"
    },
    "Media": {
      "id": "Media",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha256Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadParameters": {
          "$ref": "DownloadParameters",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "compositeMedia": {
          "type": "array",
          "description": "# gdata.* are outside protos with mising documentation",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "mediaId": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "md5Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "inline": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ]
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint64"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "filename": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffChecksumsResponse": {
          "$ref": "DiffChecksumsResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "contentTypeInfo": {
          "$ref": "ContentTypeInfo",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "type": "object",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    }
  },
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com"
}
