{
  "kind": "discovery#restDescription",
  "id": "cloudchannel:v1",
  "servicePath": "",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/channel",
  "revision": "20230613",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.reports.usage.readonly": {
          "description": "View usage reports for your G Suite domain"
        },
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudChannelV1TrialSettings": {
      "id": "GoogleCloudChannelV1TrialSettings",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "type": "string"
        },
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "type": "object",
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "properties": {
        "maxUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead."
        },
        "trialSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings",
          "description": "Output only. Settings for trial offers."
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements.",
          "type": "string"
        },
        "assignedUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead."
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account resource name that is used to pay for this entitlement."
        },
        "provisioningState": {
          "readOnly": true,
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. For Google Workspace, the following Parameters may be accepted as input: - max_units: The maximum assignable units for a flexible offer OR - num_units: The total commitment for commitment-based offers The response may additionally include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. For Google Cloud billing subaccounts, the following Parameter may be accepted as input: - display_name: The display name of the billing subaccount."
        },
        "suspensionReasons": {
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ]
          },
          "readOnly": true,
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "type": "array"
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is created.",
          "readOnly": true
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "readOnly": true
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "numUnits": {
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead.",
          "format": "int32",
          "type": "integer"
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo"
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer."
        }
      }
    },
    "GoogleCloudChannelV1Value": {
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1Value",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Represents an int64 value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "protoValue": {
          "type": "object",
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "properties": {
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        },
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request and preview the review, but do not post it."
        }
      },
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "description": "Type of event which happened on the entitlement.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        },
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "properties": {
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. Purchase order ID provided by the reseller."
        },
        "parameters": {
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ChangeParametersRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ChangeParametersRequest."
    },
    "GoogleCloudChannelV1EntitlementChange": {
      "type": "object",
      "id": "GoogleCloudChannelV1EntitlementChange",
      "properties": {
        "parameters": {
          "description": "Extended parameters, such as: purchase_order_number, gcp_details; internal_correlation_id, long_running_operation_id, order_id; etc.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "changeType": {
          "enumDescriptions": [
            "Not used.",
            "New Entitlement was created.",
            "Price plan associated with an Entitlement was changed.",
            "Number of seats committed for a commitment Entitlement was changed.",
            "An annual Entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was activated.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded for ex. from Google Workspace Business Standard to Google Workspace Business Plus.",
            "The settings for renewal of an Entitlement have changed.",
            "Use for Google Workspace subscription. Either a trial was converted to a paid subscription or a new subscription with no trial is created.",
            "License cap was changed for the entitlement.",
            "The suspension details have changed (but it is still suspended).",
            "The trial end date was extended.",
            "Entitlement started trial."
          ],
          "description": "The change action type.",
          "type": "string",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SUBSCRIPTION_STARTED",
            "LICENSE_CAP_CHANGED",
            "SUSPENSION_DETAILS_CHANGED",
            "TRIAL_END_DATE_EXTENDED",
            "TRIAL_STARTED"
          ]
        },
        "cancellationReason": {
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "SERVICE_TERMINATED",
            "RELATIONSHIP_ENDED",
            "PARTIAL_TRANSFER"
          ],
          "description": "Cancellation reason for the Entitlement.",
          "enumDescriptions": [
            "Not used.",
            "Reseller triggered a cancellation of the service.",
            "Relationship between the reseller and customer has ended due to a transfer.",
            "Entitlement transferred away from reseller while still keeping other entitlement(s) with the reseller."
          ],
          "type": "string"
        },
        "operator": {
          "description": "Human-readable identifier that shows what operator made a change. When the operator_type is RESELLER, this is the user's email address. For all other operator types, this is empty.",
          "type": "string"
        },
        "provisionedService": {
          "description": "Service provisioned for an Entitlement.",
          "$ref": "GoogleCloudChannelV1ProvisionedService"
        },
        "suspensionReason": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Entitlement was manually suspended by the Reseller.",
            "Trial ended.",
            "Entitlement renewal was canceled.",
            "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
            "Other reasons (internal reasons, abuse, etc.)."
          ],
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "RESELLER_INITIATED",
            "TRIAL_ENDED",
            "RENEWAL_WITH_TYPE_CANCEL",
            "PENDING_TOS_ACCEPTANCE",
            "OTHER"
          ],
          "description": "Suspension reason for the Entitlement."
        },
        "entitlement": {
          "description": "Required. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The submitted time of the change.",
          "format": "google-datetime"
        },
        "otherChangeReason": {
          "description": "e.g. purchase_number change reason, entered by CRS.",
          "type": "string"
        },
        "operatorType": {
          "enum": [
            "OPERATOR_TYPE_UNSPECIFIED",
            "CUSTOMER_SERVICE_REPRESENTATIVE",
            "SYSTEM",
            "CUSTOMER",
            "RESELLER"
          ],
          "enumDescriptions": [
            "Not used.",
            "Customer service representative.",
            "System auto job.",
            "Customer user.",
            "Reseller user."
          ],
          "type": "string",
          "description": "Operator type responsible for the change."
        },
        "activationReason": {
          "enumDescriptions": [
            "Not used.",
            "Reseller reactivated a suspended Entitlement.",
            "Customer accepted pending terms of service.",
            "Reseller updated the renewal settings on an entitlement that was suspended due to cancellation, and this update reactivated the entitlement.",
            "Other reasons (Activated temporarily for cancellation, added a payment plan to a trial entitlement, etc.)"
          ],
          "type": "string",
          "description": "The Entitlement's activation reason",
          "enum": [
            "ACTIVATION_REASON_UNSPECIFIED",
            "RESELLER_REVOKED_SUSPENSION",
            "CUSTOMER_ACCEPTED_PENDING_TOS",
            "RENEWAL_SETTINGS_CHANGED",
            "OTHER_ACTIVATION_REASON"
          ]
        },
        "offer": {
          "description": "Required. Resource name of the Offer at the time of change. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        }
      },
      "description": "Change event entry for Entitlement order history"
    },
    "GoogleCloudChannelV1alpha1ReportJob": {
      "properties": {
        "reportStatus": {
          "description": "The current status of report generation.",
          "$ref": "GoogleCloudChannelV1alpha1ReportStatus"
        },
        "name": {
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ReportJob",
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation."
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      },
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "description": "Applies the repricing configuration at the entitlement level.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSkuGroupsResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroups.page_token to obtain that page.",
          "type": "string"
        },
        "skuGroups": {
          "description": "The list of SKU groups requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1SkuGroup"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1ListSkuGroupsResponse"
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle.",
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The entitlements to transfer to Google."
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroupBillableSkus.",
      "id": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkus.page_token to obtain that page.",
          "type": "string"
        },
        "billableSkus": {
          "items": {
            "$ref": "GoogleCloudChannelV1BillableSku"
          },
          "type": "array",
          "description": "The list of billable SKUs in the requested SKU group."
        }
      }
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "description": "Service provisioned for an entitlement.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "properties": {
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.\"",
          "readOnly": true,
          "type": "string"
        },
        "productId": {
          "readOnly": true,
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1PriceByResource": {
      "id": "GoogleCloudChannelV1PriceByResource",
      "properties": {
        "pricePhases": {
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          },
          "description": "Specifies the price by time range.",
          "type": "array"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud.",
            "For Google Cloud subscriptions like Anthos or SAP."
          ],
          "description": "Resource Type. Example: SEAT",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION"
          ]
        },
        "price": {
          "description": "Price of the Offer. Present if there are no price phases.",
          "$ref": "GoogleCloudChannelV1Price"
        }
      },
      "type": "object",
      "description": "Represents price by resource type."
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "type": "object",
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "properties": {
        "linkState": {
          "description": "Required. State of the channel partner link.",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "resellerCloudIdentityId": {
          "description": "Required. Cloud Identity ID of the linked reseller.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}."
        },
        "publicId": {
          "readOnly": true,
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "type": "string"
        },
        "channelPartnerCloudIdentityInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity info of the channel partner (IR)."
        },
        "inviteLinkUri": {
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the channel partner link is updated."
        }
      },
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel."
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "type": "object",
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "properties": {
        "updateMask": {
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "channelPartnerLink": {
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink",
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates."
        }
      }
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "id": "GoogleCloudChannelV1CustomerEvent",
      "description": "Represents Pub/Sub message content describing customer update.",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "eventType": {
          "description": "Type of event which happened on the customer.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ]
        }
      }
    },
    "GoogleCloudChannelV1alpha1Value": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Value",
      "description": "Data type and value of a parameter.",
      "properties": {
        "int64Value": {
          "type": "string",
          "description": "Represents an int64 value.",
          "format": "int64"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "protoValue": {
          "type": "object",
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "description": "Type of event which happened on the entitlement.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        },
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        }
      },
      "type": "object",
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "id": "GoogleCloudChannelV1EntitlementEvent"
    },
    "GoogleTypePostalAddress": {
      "properties": {
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.",
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        }
      },
      "type": "object",
      "id": "GoogleTypePostalAddress",
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478"
    },
    "GoogleCloudChannelV1Period": {
      "id": "GoogleCloudChannelV1Period",
      "type": "object",
      "properties": {
        "periodType": {
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Total duration of Period Type defined."
        }
      },
      "description": "Represents period in days/months/years."
    },
    "GoogleCloudChannelV1ReportValue": {
      "properties": {
        "intValue": {
          "type": "string",
          "description": "A value of type `int`.",
          "format": "int64"
        },
        "dateTimeValue": {
          "description": "A value of type `google.type.DateTime` (year, month, day, hour, minute, second, and UTC offset or timezone.)",
          "$ref": "GoogleTypeDateTime"
        },
        "moneyValue": {
          "description": "A value of type `google.type.Money` (currency code, whole units, decimal units).",
          "$ref": "GoogleTypeMoney"
        },
        "decimalValue": {
          "description": "A value of type `google.type.Decimal`, representing non-integer numeric values.",
          "$ref": "GoogleTypeDecimal"
        },
        "stringValue": {
          "type": "string",
          "description": "A value of type `string`."
        },
        "dateValue": {
          "description": "A value of type `google.type.Date` (year, month, day).",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "A single report value.",
      "id": "GoogleCloudChannelV1ReportValue",
      "type": "object"
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account that provides subscriber access to the registered topic.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "description": "Request Message for RegisterSubscriber."
    },
    "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity": {
      "type": "object",
      "description": "Applies the repricing configuration at the channel partner level. The channel partner value is derived from the resource name. Takes an empty json object.",
      "properties": {},
      "id": "GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "GoogleCloudChannelV1RunReportJobResponse": {
      "description": "Response message for CloudChannelReportsService.RunReportJob.",
      "id": "GoogleCloudChannelV1RunReportJobResponse",
      "type": "object",
      "properties": {
        "reportMetadata": {
          "$ref": "GoogleCloudChannelV1ReportResultsMetadata",
          "description": "The metadata for the report's results (display name, columns, row count, and date range). If you view this before the operation finishes, you may see incomplete data."
        },
        "reportJob": {
          "description": "Pass `report_job.name` to FetchReportResultsRequest.report_job to retrieve the report's results.",
          "$ref": "GoogleCloudChannelV1ReportJob"
        }
      }
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. Domain to fetch for Cloud Identity account customer.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest"
    },
    "GoogleTypeDateTime": {
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object",
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "id": "GoogleCloudChannelV1OperationMetadata",
      "type": "object",
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "description": "The RPC that initiated this Long Running Operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1Column": {
      "type": "object",
      "description": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows.",
      "id": "GoogleCloudChannelV1Column",
      "properties": {
        "displayName": {
          "description": "The column's display name.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Not used.",
            "ReportValues for this column will use string_value.",
            "ReportValues for this column will use int_value.",
            "ReportValues for this column will use decimal_value.",
            "ReportValues for this column will use money_value.",
            "ReportValues for this column will use date_value.",
            "ReportValues for this column will use date_time_value."
          ],
          "description": "The type of the values for this column.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "DECIMAL",
            "MONEY",
            "DATE",
            "DATE_TIME"
          ]
        },
        "columnId": {
          "type": "string",
          "description": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports."
        }
      }
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "description": "Commitment settings for commitment-based offers.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        },
        "startTime": {
          "description": "Output only. Commitment start timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudChannelV1CommitmentSettings"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Customer": {
      "description": "Entity representing a customer of a reseller or distributor.",
      "id": "GoogleCloudChannelV1Customer",
      "properties": {
        "orgPostalAddress": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region and zip code. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code."
        },
        "alternateEmail": {
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers.",
          "type": "string"
        },
        "correlationId": {
          "description": "Optional. External CRM ID for the customer. Populated only if a CRM ID exists for this customer.",
          "type": "string"
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer."
        },
        "name": {
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string",
          "readOnly": true
        },
        "cloudIdentityId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the customer was created."
        },
        "cloudIdentityInfo": {
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo",
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the customer was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "primaryContactInfo": {
          "description": "Primary contact info.",
          "$ref": "GoogleCloudChannelV1ContactInfo"
        },
        "orgDisplayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "domain": {
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1BillingAccount": {
      "id": "GoogleCloudChannelV1BillingAccount",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the billing account."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the billing account. Format: accounts/{account_id}/billingAccounts/{billing_account_id}.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when this billing account was created.",
          "readOnly": true
        },
        "currencyCode": {
          "type": "string",
          "description": "Output only. The 3-letter currency code defined in ISO 4217.",
          "readOnly": true
        },
        "regionCode": {
          "type": "string",
          "description": "Output only. The CLDR region code.",
          "readOnly": true
        }
      },
      "description": "Represents a billing account."
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "description": "Renewal settings for renewable Offers.",
      "type": "object",
      "id": "GoogleCloudChannelV1RenewalSettings",
      "properties": {
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "type": "string",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GoogleCloudChannelV1alpha1Period": {
      "description": "Represents period in days/months/years.",
      "properties": {
        "periodType": {
          "description": "Period Type.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "duration": {
          "description": "Total duration of Period Type defined.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Period"
    },
    "GoogleCloudChannelV1SkuGroup": {
      "properties": {
        "displayName": {
          "description": "Unique human readable identifier for the SKU group.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of SKU group. Format: accounts/{account}/skuGroups/{sku_group}. Example: \"accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the SKU group information.",
      "id": "GoogleCloudChannelV1SkuGroup"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "description": "Request message for CloudChannelService.CancelEntitlement."
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "properties": {
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1EntitlementEvent"
        },
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        }
      },
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "type": "object",
      "id": "GoogleCloudChannelV1SubscriberEvent"
    },
    "GoogleCloudChannelV1FetchReportResultsRequest": {
      "properties": {
        "pageSize": {
          "description": "Optional. Requested page size of the report. The server may return fewer results than requested. If you don't specify a page size, the server uses a sensible default (may change over time). The maximum value is 30,000; the server will change larger values to 30,000.",
          "format": "int32",
          "type": "integer"
        },
        "partitionKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of keys specifying which report partitions to return. If empty, returns all partitions."
        },
        "pageToken": {
          "description": "Optional. A token that specifies a page of results beyond the first page. Obtained through FetchReportResultsResponse.next_page_token of the previous CloudChannelReportsService.FetchReportResults call.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1FetchReportResultsRequest",
      "type": "object",
      "description": "Request message for CloudChannelReportsService.FetchReportResults."
    },
    "GoogleCloudChannelV1PricePhase": {
      "id": "GoogleCloudChannelV1PricePhase",
      "type": "object",
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "properties": {
        "priceTiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "description": "Price by the resource tiers."
        },
        "periodType": {
          "description": "Defines the phase period type.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ]
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the phase. Present if there are no price tiers."
        },
        "lastPeriod": {
          "format": "int32",
          "type": "integer",
          "description": "Defines first period for the phase."
        },
        "firstPeriod": {
          "description": "Defines first period for the phase.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudChannelV1SkuPurchaseGroup": {
      "description": "Represents a set of SKUs that must be purchased using the same billing account.",
      "properties": {
        "skus": {
          "items": {
            "type": "string"
          },
          "description": "Resource names of the SKUs included in this group. Format: products/{product_id}/skus/{sku_id}.",
          "type": "array"
        },
        "billingAccountPurchaseInfos": {
          "description": "List of billing accounts that are eligible to purhcase these SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1BillingAccountPurchaseInfo"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1SkuPurchaseGroup"
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.StartPaidService.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic the service account subscriber access was removed from."
        }
      },
      "type": "object",
      "description": "Response Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "description": "Response Message for ListSubscribers.",
      "properties": {
        "serviceAccounts": {
          "description": "List of service accounts which have subscriber access to the topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "topic": {
          "type": "string",
          "description": "Name of the topic registered with the reseller."
        }
      },
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Customer domain."
        },
        "channelPartnerId": {
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well.",
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "cloudIdentityId": {
          "description": "Required. Customer's Cloud Identity ID",
          "type": "string"
        },
        "authToken": {
          "type": "string",
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "overwriteIfExists": {
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain.",
          "type": "boolean"
        }
      },
      "description": "Request message for CloudChannelService.ImportCustomer",
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ReportStatus": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "description": "The current state of the report generation process.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The report generation's completion time.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The report generation's start time."
        }
      },
      "id": "GoogleCloudChannelV1alpha1ReportStatus",
      "description": "Status of a report generation process.",
      "type": "object"
    },
    "GoogleCloudChannelV1Report": {
      "id": "GoogleCloudChannelV1Report",
      "type": "object",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Column"
          },
          "description": "The list of columns included in the report. This defines the schema of the report results."
        },
        "displayName": {
          "description": "A human-readable name for this report.",
          "type": "string"
        },
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        },
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        }
      },
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc."
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "type": "object",
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1alpha1Period"
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ]
        },
        "paymentOption": {
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.",
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "type": "string"
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        },
        "disableCommitment": {
          "type": "boolean",
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead."
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "scheduledRenewalOffer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The offer resource name that the entitlement will renew on at the end date. Takes the form: accounts/{account_id}/offers/{offer_id}."
        }
      },
      "description": "Renewal settings for renewable Offers."
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API.",
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
      "properties": {
        "eventType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ],
          "type": "string",
          "description": "Type of event performed on the Channel Partner."
        },
        "channelPartner": {
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "type": "object",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "properties": {
        "customerEvent": {
          "description": "Customer event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent"
        },
        "entitlementEvent": {
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent",
          "description": "Entitlement event sent as part of Pub/Sub event to partners."
        },
        "channelPartnerEvent": {
          "description": "Channel Partner event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
        }
      },
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent"
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The transferred entitlements."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1EduData": {
      "properties": {
        "instituteSize": {
          "description": "Size of the institute.",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ],
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "type": "string"
        },
        "website": {
          "description": "Web address for the edu customer's institution.",
          "type": "string"
        },
        "instituteType": {
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "type": "string",
          "description": "Designated institute type of customer.",
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ]
        }
      },
      "id": "GoogleCloudChannelV1EduData",
      "description": "Required Edu Attributes",
      "type": "object"
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "offers": {
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListOffers.",
      "id": "GoogleCloudChannelV1ListOffersResponse"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GoogleCloudChannelV1alpha1RunReportJobResponse": {
      "properties": {
        "reportJob": {
          "$ref": "GoogleCloudChannelV1alpha1ReportJob",
          "description": "Pass `report_job.name` to FetchReportResultsRequest.report_job to retrieve the report's results."
        },
        "reportMetadata": {
          "$ref": "GoogleCloudChannelV1alpha1ReportResultsMetadata",
          "description": "The metadata for the report's results (display name, columns, row count, and date range). If you view this before the operation finishes, you may see incomplete data."
        }
      },
      "id": "GoogleCloudChannelV1alpha1RunReportJobResponse",
      "description": "Response message for CloudChannelReportsService.RunReportJob.",
      "type": "object"
    },
    "GoogleTypeDecimal": {
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeDecimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html [decimal.Decimal]: https://docs.python.org/3/library/decimal.html"
    },
    "GoogleCloudChannelV1PriceTier": {
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "id": "GoogleCloudChannelV1PriceTier",
      "properties": {
        "lastResource": {
          "format": "int32",
          "type": "integer",
          "description": "Last resource for which the tier price applies."
        },
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the tier."
        },
        "firstResource": {
          "format": "int32",
          "type": "integer",
          "description": "First resource for which the tier price applies."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ConditionalOverride": {
      "properties": {
        "repricingCondition": {
          "description": "Required. Specifies the condition which, if met, will apply the override.",
          "$ref": "GoogleCloudChannelV1RepricingCondition"
        },
        "rebillingBasis": {
          "type": "string",
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ],
          "description": "Required. The RebillingBasis to use for the applied override. Shows the relative cost based on your repricing costs."
        },
        "adjustment": {
          "description": "Required. Information about the applied override's adjustment.",
          "$ref": "GoogleCloudChannelV1RepricingAdjustment"
        }
      },
      "type": "object",
      "description": "Specifies the override to conditionally apply.",
      "id": "GoogleCloudChannelV1ConditionalOverride"
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "type": "object",
      "description": "Cloud Identity information for the Cloud Channel Customer.",
      "properties": {
        "languageCode": {
          "description": "Language code.",
          "type": "string"
        },
        "primaryDomain": {
          "type": "string",
          "description": "Output only. The primary domain name.",
          "readOnly": true
        },
        "adminConsoleUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of Customer's Admin console dashboard."
        },
        "customerType": {
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "description": "CustomerType indicates verification type needed for using services.",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "type": "string"
        },
        "isDomainVerified": {
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers.",
          "readOnly": true,
          "type": "boolean"
        },
        "alternateEmail": {
          "description": "The alternate email.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number associated with the Cloud Identity.",
          "type": "string"
        },
        "eduData": {
          "$ref": "GoogleCloudChannelV1EduData",
          "description": "Edu information about the customer."
        }
      }
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "properties": {
        "skuId": {
          "readOnly": true,
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "type": "string"
        },
        "provisioningId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.\""
        },
        "productId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "id": "GoogleCloudChannelV1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "type": "object"
    },
    "GoogleCloudChannelV1AdminUser": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Primary email of the admin user.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "Family name of the admin user."
        },
        "givenName": {
          "description": "Given name of the admin user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1AdminUser",
      "description": "Information needed to create an Admin User for Google Workspace."
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableSkus": {
          "description": "Information about existing SKUs for a customer that needs a transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "description": "Request message for CloudChannelService.ChangeRenewalSettings.",
      "type": "object",
      "properties": {
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Required. New renewal settings."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "id": "GoogleCloudChannelV1TransferEligibility",
      "type": "object",
      "description": "Specifies transfer eligibility of a SKU.",
      "properties": {
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        },
        "isEligible": {
          "type": "boolean",
          "description": "Whether reseller is eligible to transfer the SKU."
        },
        "ineligibilityReason": {
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ],
          "description": "Specified the reason for ineligibility.",
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ]
        }
      }
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerRepricingConfigsRequest.page_token to obtain that page."
        },
        "channelPartnerRepricingConfigs": {
          "description": "The repricing configs for this channel partner.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
          }
        }
      },
      "id": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse",
      "type": "object",
      "description": "Response message for CloudChannelService.ListChannelPartnerRepricingConfigs."
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1PurchasableSku",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response."
    },
    "GoogleCloudChannelV1Sku": {
      "id": "GoogleCloudChannelV1Sku",
      "properties": {
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        },
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        }
      },
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The transferred entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        }
      },
      "id": "GoogleTypeTimeZone"
    },
    "GoogleCloudChannelV1RepricingAdjustment": {
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "type": "object",
      "properties": {
        "percentageAdjustment": {
          "description": "Flat markup or markdown on an entire bill.",
          "$ref": "GoogleCloudChannelV1PercentageAdjustment"
        }
      },
      "description": "A type that represents the various adjustments you can apply to a bill."
    },
    "GoogleCloudChannelV1alpha1ReportResultsMetadata": {
      "id": "GoogleCloudChannelV1alpha1ReportResultsMetadata",
      "properties": {
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of rows of data in the final report."
        },
        "precedingDateRange": {
[...]
