{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "basePath": "",
  "name": "cloudsupport",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "revision": "20240403",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Google Cloud Support API",
  "ownerName": "Google",
  "id": "cloudsupport:v2",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "description": "The name of the file attachment to download.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "cloudsupport.media.download",
          "useMediaDownloadService": true,
          "path": "v2/{+name}:download",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Media"
          },
          "description": "Download a file attached to a case. Note: HTTP requests must append \"?alt=media\" to the URL. EXAMPLES: cURL: ```shell name=\"projects/some-project/cases/43594844/attachments/0674M00000WijAnZAJ\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$name:download?alt=media\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.media().download( name=\"projects/some-project/cases/43595344/attachments/0684M00000Pw6pHQAR\" ) request.uri = request.uri.split(\"?\")[0] + \"?alt=media\" print(request.execute()) ```"
        },
        "upload": {
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "path": "v2/{+parent}/attachments",
          "description": "Create a file attachment on a case or Cloud resource. The attachment must have the following fields set: `filename`. EXAMPLES: cURL: ```shell echo \"This text is in a file I'm uploading using CSAPI.\" \\ \u003e \"./example_file.txt\" case=\"projects/some-project/cases/43594844\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --data-binary @\"./example_file.txt\" \\ \"https://cloudsupport.googleapis.com/upload/v2beta/$case/attachments?attachment.filename=uploaded_via_curl.txt\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) file_path = \"./example_file.txt\" with open(file_path, \"w\") as file: file.write( \"This text is inside a file I'm going to upload using the Cloud Support API.\", ) request = supportApiService.media().upload( parent=\"projects/some-project/cases/43595344\", media_body=file_path ) request.uri = request.uri.split(\"?\")[0] + \"?attachment.filename=uploaded_via_python.txt\" print(request.execute()) ```",
          "id": "cloudsupport.media.upload",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "response": {
            "$ref": "Attachment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The name of the case or Cloud resource to which the attachment should be attached.",
              "required": true
            }
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+parent}/attachments"
              }
            },
            "accept": [
              "*/*"
            ]
          }
        }
      }
    },
    "cases": {
      "methods": {
        "escalate": {
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Escalate a case, starting the Google Cloud Support escalation management process. This operation is only available for some support services. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which ones let you do that. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\" } }' \\ \"https://cloudsupport.googleapis.com/v2/$case:escalate\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().escalate( name=\"projects/some-project/cases/43595344\", body={ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\", }, }, ) print(request.execute()) ```",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:escalate",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "description": "Required. The name of the case to be escalated.",
              "required": true,
              "location": "path"
            }
          },
          "id": "cloudsupport.cases.escalate",
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/{+name}:escalate"
        },
        "search": {
          "flatPath": "v2/{v2Id}/{v2Id1}/cases:search",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "parent": {
              "description": "The name of the parent resource to search for cases under.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+$"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "An expression used to filter cases. Expressions use the following fields separated by `AND` and specified with `=`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. You must specify either `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "GET",
          "description": "Search for cases using a query. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases:search\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().search( parent=\"projects/some-project\", query=\"state=OPEN\" ) print(request.execute()) ```",
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "path": "v2/{+parent}/cases:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.search"
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Update a case. Only some fields can be updated. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"priority\": \"P1\" }' \\ \"https://cloudsupport.googleapis.com/v2/$case?updateMask=priority\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().patch( name=\"projects/some-project/cases/43112854\", body={ \"displayName\": \"This is Now a New Title\", \"priority\": \"P2\", }, ) print(request.execute()) ```",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "path": "v2/{+name}",
          "id": "cloudsupport.cases.patch",
          "request": {
            "$ref": "Case"
          },
          "parameters": {
            "updateMask": {
              "description": "A list of attributes of the case that should be updated. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. Be careful - if you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "The resource name for the case.",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "create": {
          "description": "Create a new case and associate it with a parent. It must have the following fields set: `display_name`, `description`, `classification`, and `priority`. If you're just testing the API and don't want to route your case to an agent, set `testCase=true`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"display_name\": \"Test case created by me.\", \"description\": \"a random test case, feel free to close\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, \"time_zone\": \"-07:00\", \"subscriber_email_addresses\": [ \"foo@domain.com\", \"bar@domain.com\" ], \"testCase\": true, \"priority\": \"P3\" }' \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().create( parent=\"projects/some-project\", body={ \"displayName\": \"A Test Case\", \"description\": \"This is a test case.\", \"testCase\": True, \"priority\": \"P2\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, }, ) print(request.execute()) ```",
          "request": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The name of the parent under which the case should be created.",
              "pattern": "^[^/]+/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/{+parent}/cases",
          "id": "cloudsupport.cases.create",
          "response": {
            "$ref": "Case"
          }
        },
        "close": {
          "path": "v2/{+name}:close",
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "description": "Close a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case:close\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().close( name=\"projects/some-project/cases/43595344\" ) print(request.execute()) ```",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the case to close.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:close",
          "id": "cloudsupport.cases.close",
          "httpMethod": "POST"
        },
        "get": {
          "path": "v2/{+name}",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The full name of a case to be retrieved.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "GET",
          "id": "cloudsupport.cases.get",
          "description": "Retrieve a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/16033687\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().get( name=\"projects/some-project/cases/43595344\", ) print(request.execute()) ```",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "parameters": {
            "filter": {
              "description": "An expression used to filter cases. If it's an empty string, then no filtering happens. Otherwise, the endpoint returns the cases that match the filter. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. EXAMPLES: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The name of a parent to list cases under.",
              "required": true
            }
          },
          "description": "Retrieve all cases under a parent, but not its children. For example, listing cases under an organization only returns the cases that are directly parented by that organization. To retrieve cases under an organization and its projects, use `cases.search`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().list(parent=\"projects/some-project\") print(request.execute()) ```",
          "path": "v2/{+parent}/cases",
          "id": "cloudsupport.cases.list",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "response": {
            "$ref": "ListCasesResponse"
          }
        }
      },
      "resources": {
        "comments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudsupport.cases.comments.list",
              "httpMethod": "GET",
              "path": "v2/{+parent}/comments",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of comments to fetch. Defaults to 10."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the case for which to list comments.",
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is returned."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List all the comments associated with a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments"
            },
            "create": {
              "description": "Add a new comment to a case. The comment must have the following fields set: `body`. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43591344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"body\": \"This is a test comment.\" }' \\ \"https://cloudsupport.googleapis.com/v2/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .create( parent=\"projects/some-project/cases/43595344\", body={\"body\": \"This is a test comment.\"}, ) ) print(request.execute()) ```",
              "request": {
                "$ref": "Comment"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the case to which the comment should be added.",
                  "location": "path"
                }
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "response": {
                "$ref": "Comment"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/comments",
              "id": "cloudsupport.cases.comments.create"
            }
          }
        },
        "attachments": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/attachments",
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudsupport.cases.attachments.list",
              "description": "List all the attachments associated with a support case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/23598314\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case/attachments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the case for which attachments should be listed.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "flatPath": "v2/caseClassifications:search",
          "description": "Retrieve valid classifications to use when creating a support case. Classifications are hierarchical. Each classification is a string containing all levels of the hierarchy separated by `\" \u003e \"`. For example, `\"Technical Issue \u003e Compute \u003e Compute Engine\"`. Classification IDs returned by this endpoint are valid for at least six months. When a classification is deactivated, this endpoint immediately stops returning it. After six months, `case.create` requests using the classification will fail. EXAMPLES: cURL: ```shell curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ 'https://cloudsupport.googleapis.com/v2/caseClassifications:search?query=display_name:\"*Compute%20Engine*\"' ``` Python: ```python import googleapiclient.discovery supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=\"v2\", discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version=v2\", ) request = supportApiService.caseClassifications().search( query='display_name:\"*Compute Engine*\"' ) print(request.execute()) ```",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of classifications fetched with each request.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "An expression used to filter case classifications. If it's an empty string, then no filtering happens. Otherwise, case classifications will be returned that match the filter."
            }
          },
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "id": "cloudsupport.caseClassifications.search",
          "path": "v2/caseClassifications:search",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "schemas": {
    "ContentTypeInfo": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "ContentTypeInfo",
      "properties": {
        "bestGuess": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromFileName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "ListCasesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of cases associated with the parent after any filters have been applied."
        }
      },
      "id": "ListCasesResponse",
      "description": "The response message for the ListCases endpoint.",
      "type": "object"
    },
    "Comment": {
      "type": "object",
      "description": "A comment associated with a support case. Case comments are the primary way for Google Support to communicate with a user who has opened a case. When a user responds to Google Support, the user's responses also appear as comments.",
      "id": "Comment",
      "properties": {
        "plainTextBody": {
          "type": "string",
          "deprecated": true,
          "description": "Output only. DEPRECATED. DO NOT USE. A duplicate of the `body` field. This field is only present for legacy reasons.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the comment."
        },
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 12800 characters."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the comment was created."
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user or Google Support agent who created the comment.",
          "$ref": "Actor"
        }
      }
    },
    "CaseClassification": {
      "id": "CaseClassification",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail."
        }
      },
      "description": "A Case Classification represents the topic that a case is about. It's very important to use accurate classifications, because they're used to route your cases to specialists who can help you. A classification always has an ID that is its unique identifier. A valid ID is required when creating a case."
    },
    "WorkflowOperationMetadata": {
      "properties": {
        "workflowOperationType": {
          "type": "string",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "description": "Which version of the workflow service this operation came from.",
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ]
        },
        "namespace": {
          "type": "string",
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved."
        },
        "operationAction": {
          "type": "string",
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "description": "The type of action the operation is classified as.",
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ]
        }
      },
      "id": "WorkflowOperationMetadata",
      "description": "Metadata about the operation. Used to lookup the current status.",
      "type": "object"
    },
    "EscalateCaseRequest": {
      "properties": {
        "escalation": {
          "description": "The escalation information to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      },
      "type": "object",
      "id": "EscalateCaseRequest",
      "description": "The request message for the EscalateCase endpoint."
    },
    "DownloadParameters": {
      "properties": {
        "ignoreRange": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "id": "DownloadParameters",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "ListAttachmentsResponse": {
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The list of attachments associated with a case.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for the ListAttachments endpoint.",
      "id": "ListAttachmentsResponse"
    },
    "Blobstore2Info": {
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "Blobstore2Info",
      "properties": {
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobGeneration": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadReadHandle": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "SearchCasesResponse": {
      "id": "SearchCasesResponse",
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of cases associated with the parent after any filters have been applied."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.search` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for the SearchCases endpoint."
    },
    "Media": {
      "type": "object",
      "id": "Media",
      "properties": {
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "deprecated": true,
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ]
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string",
          "deprecated": true
        },
        "sha256Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "timestamp": {
          "format": "uint64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hashVerified": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "mediaId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "type": "string",
          "deprecated": true,
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "diffUploadRequest": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadRequest"
        },
        "downloadParameters": {
          "$ref": "DownloadParameters",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "deprecated": true,
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "compositeMedia": {
          "items": {
            "$ref": "CompositeMedia"
          },
          "type": "array",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Case": {
      "id": "Case",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "description": "Output only. The current status of the support case.",
          "readOnly": true
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "The priority of this case.",
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this case was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this case was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "contactEmail": {
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs.",
          "type": "string"
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses to receive updates on this case."
        },
        "escalated": {
          "description": "Whether the case is currently escalated.",
          "type": "boolean"
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "languageCode": {
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours",
          "type": "string"
        },
        "displayName": {
          "description": "The short summary of the issue reported in this case.",
          "type": "string"
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the case."
        }
      },
      "description": "A Case is an object that contains the details of a support case. It contains fields for the time it was created, its priority, its classification, and more. Cases can also have comments and attachments that get added over time. A case is parented by a Google Cloud organization or project. Organizations are identified by a number, so the name of a case parented by an organization would look like this: ``` organizations/123/cases/456 ``` Projects have two unique identifiers, an ID and a number, and they look like this: ``` projects/abc/cases/456 ``` ``` projects/123/cases/456 ``` You can use either of them when calling the API. To learn more about project identifiers, see [AIP-2510](https://google.aip.dev/cloud/2510).",
      "type": "object"
    },
    "CompositeMedia": {
      "properties": {
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ]
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "deprecated": true
        },
        "md5Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "CompositeMedia"
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "SearchCaseClassificationsResponse": {
      "description": "The response message for SearchCaseClassifications endpoint.",
      "type": "object",
      "properties": {
        "caseClassifications": {
          "description": "The classifications retrieved.",
          "items": {
            "$ref": "CaseClassification"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `caseClassifications.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "SearchCaseClassificationsResponse"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "type": "object",
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CreateAttachmentRequest": {
      "type": "object",
      "id": "CreateAttachmentRequest",
      "description": "The request message for the CreateAttachment endpoint.",
      "properties": {
        "attachment": {
          "description": "Required. The attachment to be created.",
          "$ref": "Attachment"
        }
      }
    },
    "ObjectId": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "generation": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "objectName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ObjectId"
    },
    "CloseCaseRequest": {
      "type": "object",
      "id": "CloseCaseRequest",
      "properties": {},
      "description": "The request message for the CloseCase endpoint."
    },
    "Actor": {
      "id": "Actor",
      "type": "object",
      "description": "An Actor represents an entity that performed an action. For example, an actor could be a user who posted a comment on a support case, a user who uploaded an attachment, or a service account that created a support case.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the actor. If not provided, it is inferred from the credentials supplied during case creation. When a name is provided, an email must also be provided. If the user is a Google Support agent, this is obfuscated. This field is deprecated. Use **username** field instead.",
          "deprecated": true
        },
        "displayName": {
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "googleSupport": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the actor is a Google support actor."
        },
        "username": {
          "description": "Output only. The username of the actor. It may look like an email or other format provided by the identity provider. If not provided, it is inferred from the credentials supplied. When a name is provided, a username must also be provided. If the user is a Google Support agent, this will not be set.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "id": "Attachment",
      "properties": {
        "filename": {
          "type": "string",
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`)."
        },
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the attachment.",
          "readOnly": true
        },
        "sizeBytes": {
          "description": "Output only. The size of the attachment in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "mimeType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The MIME type of the attachment (e.g. text/plain)."
        },
        "createTime": {
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "An Attachment contains metadata about a file that was uploaded to a case - it is NOT a file itself. That being said, the name of an Attachment object can be used to download its accompanying file through the `media.download` endpoint. While attachments can be uploaded in the console at the same time as a comment, they're associated on a \"case\" level, not a \"comment\" level."
    },
    "DiffChecksumsResponse": {
      "properties": {
        "objectSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "chunkSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffChecksumsResponse",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Escalation": {
      "description": "An escalation of a support case.",
      "id": "Escalation",
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "description": "Required. The reason why the Case is being escalated."
        },
        "justification": {
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListCommentsResponse": {
      "type": "object",
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "List of the comments associated with the case."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.comments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "description": "The response message for the ListComments endpoint.",
      "id": "ListCommentsResponse"
    },
    "DiffUploadResponse": {
      "type": "object",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffUploadResponse",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "DiffUploadRequest": {
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffUploadRequest",
      "type": "object",
      "properties": {
        "objectInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    }
  },
  "canonicalName": "Cloud Support",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "servicePath": ""
}
