{
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/resource-manager",
  "version": "v3",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20220320",
  "discoveryVersion": "v1",
  "schemas": {
    "FolderOperation": {
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "description": "The type of this operation.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        },
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        }
      },
      "type": "object",
      "id": "FolderOperation",
      "description": "Metadata describing a long running folder operation"
    },
    "TagValue": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Resource name for TagValue in the format `tagValues/456`."
        },
        "etag": {
          "type": "string",
          "description": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagValueRequest for details."
        },
        "namespacedName": {
          "type": "string",
          "description": "Output only. Namespaced name of the TagValue. Must be in the format `{organization_id}/{tag_key_short_name}/{short_name}`.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. User-assigned description of the TagValue. Must not exceed 256 characters. Read-write."
        },
        "parent": {
          "type": "string",
          "description": "Immutable. The resource name of the new TagValue's parent TagKey. Must be of the form `tagKeys/{tag_key_id}`."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time."
        },
        "createTime": {
          "description": "Output only. Creation time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "shortName": {
          "description": "Required. Immutable. User-assigned short name for TagValue. The short name should be unique for TagValues within the same parent TagKey. The short name must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TagValue",
      "description": "A TagValue is a child of a particular TagKey. This is used to group cloud resources for the purpose of controlling them using policies."
    },
    "MoveFolderRequest": {
      "type": "object",
      "description": "The MoveFolder request message.",
      "id": "MoveFolderRequest",
      "properties": {
        "destinationParent": {
          "description": "Required. The resource name of the folder or organization which should be the folder's new parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.",
          "type": "string"
        }
      }
    },
    "TagKey": {
      "id": "TagKey",
      "description": "A TagKey, used to group a set of TagValues.",
      "properties": {
        "name": {
          "description": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time."
        },
        "namespacedName": {
          "description": "Output only. Immutable. Namespaced name of the TagKey.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-assigned description of the TagKey. Must not exceed 256 characters. Read-write.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagKeyRequest for details.",
          "type": "string"
        },
        "parent": {
          "description": "Immutable. The resource name of the new TagKey's parent. Must be of the form `organizations/{org_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "shortName": {
          "description": "Required. Immutable. The user friendly name for a TagKey. The short name should be unique for TagKeys within the same tag namespace. The short name must be 1-63 characters, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchProjectsResponse": {
      "type": "object",
      "id": "SearchProjectsResponse",
      "description": "A page of the response received from the SearchProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "projects": {
          "type": "array",
          "items": {
            "$ref": "Project"
          },
          "description": "The list of Projects that matched the list filter query. This list can be paginated."
        },
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        }
      }
    },
    "UndeleteFolderMetadata": {
      "id": "UndeleteFolderMetadata",
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the `Operation` returned by `UndeleteFolder`.",
      "properties": {}
    },
    "ProjectCreationStatus": {
      "id": "ProjectCreationStatus",
      "type": "object",
      "properties": {
        "ready": {
          "type": "boolean",
          "description": "True if the project creation process is complete."
        },
        "gettable": {
          "description": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Creation time of the project creation workflow.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed."
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "UndeleteFolderRequest": {
      "id": "UndeleteFolderRequest",
      "description": "The UndeleteFolder request message.",
      "properties": {},
      "type": "object"
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions"
    },
    "Folder": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\".",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the folder was requested to be deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "parent": {
          "description": "Required. The folder's parent's resource name. Updates to the folder's parent must be performed using MoveFolder.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. A checksum computed by the server based on the current value of the folder resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The lifecycle state of the folder. Updates to the state must be performed using DeleteFolder and UndeleteFolder.",
          "enumDescriptions": [
            "Unspecified state.",
            "The normal and active state.",
            "The folder has been marked for deletion by the user."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the folder was last modified.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the folder was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "The folder's display name. A folder's display name must be unique amongst its siblings. For example, no two folders with the same parent can share the same display name. The display name must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be no longer than 30 characters. This is captured by the regular expression: `[\\p{L}\\p{N}]([\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?`."
        }
      },
      "description": "A folder in an organization's resource hierarchy, used to organize that organization's resources.",
      "type": "object",
      "id": "Folder"
    },
    "ListTagValuesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `ListTagValues` that indicates from where listing should continue. This is currently not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        },
        "tagValues": {
          "description": "A possibly paginated list of TagValues that are direct descendants of the specified parent TagKey.",
          "items": {
            "$ref": "TagValue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The ListTagValues response.",
      "id": "ListTagValuesResponse"
    },
    "CreateTagValueMetadata": {
      "properties": {},
      "description": "Runtime operation information for creating a TagValue.",
      "id": "CreateTagValueMetadata",
      "type": "object"
    },
    "UpdateProjectMetadata": {
      "id": "UpdateProjectMetadata",
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject.",
      "type": "object"
    },
    "Lien": {
      "properties": {
        "restrictions": {
          "description": "The types of operations which should be blocked as a result of this Lien. Each value should correspond to an IAM permission. The server will validate the permissions against those for which Liens are supported. An empty list is meaningless and will be rejected. Example: ['resourcemanager.projects.delete']",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "The creation time of this Lien.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "A system-generated unique identifier for this Lien. Example: `liens/1234abcd`",
          "type": "string"
        },
        "origin": {
          "type": "string",
          "description": "A stable, user-visible/meaningful string identifying the origin of the Lien, intended to be inspected programmatically. Maximum length of 200 characters. Example: 'compute.googleapis.com'"
        },
        "parent": {
          "type": "string",
          "description": "A reference to the resource this Lien is attached to. The server will validate the parent against those for which Liens are supported. Example: `projects/1234`"
        },
        "reason": {
          "type": "string",
          "description": "Concise user-visible strings indicating why an action cannot be performed on a resource. Maximum length of 200 characters. Example: 'Holds production API key'"
        }
      },
      "description": "A Lien represents an encumbrance on the actions that can be performed on a resource.",
      "type": "object",
      "id": "Lien"
    },
    "SearchOrganizationsResponse": {
      "id": "SearchOrganizationsResponse",
      "properties": {
        "organizations": {
          "description": "The list of Organizations that matched the search query, possibly paginated.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to be used to retrieve the next page of results. If the result is too large to fit within the page size specified in the request, this field will be set with a token that can be used to fetch the next page of results. If this field is empty, it indicates that this response contains the last page of results."
        }
      },
      "description": "The response returned from the `SearchOrganizations` method.",
      "type": "object"
    },
    "UndeleteProjectMetadata": {
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by `UndeleteProject`.",
      "id": "UndeleteProjectMetadata",
      "type": "object"
    },
    "CreateTagKeyMetadata": {
      "id": "CreateTagKeyMetadata",
      "description": "Runtime operation information for creating a TagKey.",
      "type": "object",
      "properties": {}
    },
    "DeleteOrganizationMetadata": {
      "properties": {},
      "type": "object",
      "id": "DeleteOrganizationMetadata",
      "description": "A status object which is used as the `metadata` field for the operation returned by DeleteOrganization."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "ListFoldersResponse": {
      "description": "The ListFolders response message.",
      "id": "ListFoldersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListFolders` that indicates from where listing should continue."
        },
        "folders": {
          "type": "array",
          "description": "A possibly paginated list of folders that are direct descendants of the specified parent resource.",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "type": "object"
    },
    "ListTagKeysResponse": {
      "id": "ListTagKeysResponse",
      "properties": {
        "tagKeys": {
          "type": "array",
          "description": "List of TagKeys that live under the specified parent in the request.",
          "items": {
            "$ref": "TagKey"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `ListTagKeys` that indicates from where listing should continue.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The ListTagKeys response message."
    },
    "DeleteTagValueMetadata": {
      "description": "Runtime operation information for deleting a TagValue.",
      "properties": {},
      "type": "object",
      "id": "DeleteTagValueMetadata"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "id": "Policy"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "ListTagBindingsResponse": {
      "id": "ListTagBindingsResponse",
      "description": "The ListTagBindings response.",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        },
        "tagBindings": {
          "description": "A possibly paginated list of TagBindings for the specified resource.",
          "type": "array",
          "items": {
            "$ref": "TagBinding"
          }
        }
      },
      "type": "object"
    },
    "UndeleteOrganizationMetadata": {
      "properties": {},
      "type": "object",
      "id": "UndeleteOrganizationMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization."
    },
    "DeleteTagBindingMetadata": {
      "id": "DeleteTagBindingMetadata",
      "description": "Runtime operation information for deleting a TagBinding.",
      "properties": {},
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "FolderOperationError": {
      "properties": {
        "errorMessageId": {
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder display_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources.",
            "The attempted action would violate the max deleted folder depth constraint."
          ],
          "type": "string",
          "description": "The type of operation error experienced.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ACTIVE_FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED_VIOLATION",
            "PARENT_DELETED_VIOLATION",
            "CYCLE_INTRODUCED_VIOLATION",
            "FOLDER_BEING_MOVED_VIOLATION",
            "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
            "DELETED_FOLDER_HEIGHT_VIOLATION"
          ]
        }
      },
      "description": "A classification of the Folder Operation error.",
      "type": "object",
      "id": "FolderOperationError"
    },
    "CreateTagBindingMetadata": {
      "type": "object",
      "id": "CreateTagBindingMetadata",
      "properties": {},
      "description": "Runtime operation information for creating a TagValue."
    },
    "CreateProjectMetadata": {
      "type": "object",
      "properties": {
        "ready": {
          "type": "boolean",
          "description": "True if the project creation process is complete."
        },
        "createTime": {
          "description": "Creation time of the project creation workflow.",
          "format": "google-datetime",
          "type": "string"
        },
        "gettable": {
          "type": "boolean",
          "description": "True if the project can be retrieved using `GetProject`. No other operations on the project are guaranteed to work until the project creation is complete."
        }
      },
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "id": "CreateProjectMetadata"
    },
    "TagBinding": {
      "properties": {
        "parent": {
          "description": "The full resource name of the resource the TagValue is bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the TagBinding. This is a String of the form: `tagBindings/{full-resource-name}/{tag-value-name}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
          "type": "string",
          "readOnly": true
        },
        "tagValue": {
          "type": "string",
          "description": "The TagValue of the TagBinding. Must be of the form `tagValues/456`."
        }
      },
      "id": "TagBinding",
      "description": "A TagBinding represents a connection between a TagValue and a cloud resource (currently project, folder, or organization). Once a TagBinding is created, the TagValue is applied to all the descendants of the cloud resource.",
      "type": "object"
    },
    "MoveProjectRequest": {
      "description": "The request sent to MoveProject method.",
      "id": "MoveProjectRequest",
      "properties": {
        "destinationParent": {
          "description": "Required. The new parent to move the Project under.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by `DeleteProject`.",
      "id": "DeleteProjectMetadata",
      "properties": {},
      "type": "object"
    },
    "Organization": {
      "type": "object",
      "description": "The root node in the resource hierarchy to which a particular entity's (a company, for example) resources belong.",
      "properties": {
        "etag": {
          "description": "Output only. A checksum computed by the server based on the current value of the Organization resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "directoryCustomerId": {
          "description": "Immutable. The G Suite / Workspace customer id used in the Directory API.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable string that refers to the organization in the Google Cloud Console. This string is set by the server and cannot be changed. The string will be set to the primary domain (for example, \"google.com\") of the Google Workspace customer that owns the organization."
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Timestamp when the Organization was requested for deletion.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the organization. This is the organization's relative path in the API. Its format is \"organizations/[organization_id]\". For example, \"organizations/1234\".",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the Organization was created.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The organization's current lifecycle state.",
          "enumDescriptions": [
            "Unspecified state. This is only useful for distinguishing unset values.",
            "The normal and active state.",
            "The organization has been marked for deletion by the user."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the Organization was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Organization"
    },
    "DeleteFolderMetadata": {
      "id": "DeleteFolderMetadata",
      "description": "A status object which is used as the `metadata` field for the `Operation` returned by `DeleteFolder`.",
      "type": "object",
      "properties": {}
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UpdateTagValueMetadata": {
      "description": "Runtime operation information for updating a TagValue.",
      "id": "UpdateTagValueMetadata",
      "properties": {},
      "type": "object"
    },
    "ListLiensResponse": {
      "id": "ListLiensResponse",
      "description": "The response message for Liens.ListLiens.",
      "properties": {
        "liens": {
          "items": {
            "$ref": "Lien"
          },
          "type": "array",
          "description": "A list of Liens."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "type": "object",
      "description": "Metadata describing a long running folder operation",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "operationType": {
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "type": "string",
          "description": "The type of this operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        }
      },
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation"
    },
    "MoveFolderMetadata": {
      "id": "MoveFolderMetadata",
      "properties": {
        "sourceParent": {
          "description": "The resource name of the folder's parent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization to move the folder to.",
          "type": "string"
        }
      },
      "description": "Metadata pertaining to the folder move process.",
      "type": "object"
    },
    "DeleteTagKeyMetadata": {
      "description": "Runtime operation information for deleting a TagKey.",
      "id": "DeleteTagKeyMetadata",
      "properties": {},
      "type": "object"
    },
    "UpdateTagKeyMetadata": {
      "properties": {},
      "id": "UpdateTagKeyMetadata",
      "description": "Runtime operation information for updating a TagKey.",
      "type": "object"
    },
    "CreateFolderMetadata": {
      "description": "Metadata pertaining to the Folder creation process.",
      "id": "CreateFolderMetadata",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The resource name of the folder or organization we are creating the folder under.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        }
      }
    },
    "ListProjectsResponse": {
      "id": "ListProjectsResponse",
      "description": "A page of the response received from the ListProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page. NOTE: A response may contain fewer elements than the request `page_size` and still have a `next_page_token`.",
      "properties": {
        "projects": {
          "description": "The list of Projects under the parent. This list can be paginated.",
          "type": "array",
          "items": {
            "$ref": "Project"
          }
        },
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "type": "object"
    },
    "Project": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A user-assigned display name of the project. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `My Project`"
        },
        "createTime": {
          "description": "Output only. Creation time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "projectId": {
          "description": "Immutable. The unique, user-assigned id of the project. It must be 6 to 30 lowercase ASCII letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited. Example: `tokyo-rain-123`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels associated with this project. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?. Label values must be between 0 and 63 characters long and must conform to the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?. No more than 256 labels can be associated with a given resource. Clients should store labels in a representation such as JSON that does not depend on specific characters being disallowed. Example: `\"myBusinessDimension\" : \"businessValue\"`"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The project has been marked for deletion by the user (by invoking DeleteProject) or by the system (Google Cloud Platform). This can generally be reversed by invoking UndeleteProject."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "description": "Output only. The project lifecycle state.",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Optional. A reference to a parent Resource. eg., `organizations/123` or `folders/876`.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A checksum computed by the server based on the current value of the Project resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this resource was modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this resource was requested for deletion.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Project",
      "description": "A project is a high-level Google Cloud entity. It is a container for ACLs, APIs, App Engine Apps, VMs, and other Google Cloud Platform resources."
    },
    "MoveProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by MoveProject.",
      "id": "MoveProjectMetadata",
      "properties": {},
      "type": "object"
    },
    "UndeleteProjectRequest": {
      "id": "UndeleteProjectRequest",
      "description": "The request sent to the UndeleteProject method.",
      "type": "object",
      "properties": {}
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation",
      "description": "Metadata describing a long running folder operation",
      "properties": {
        "operationType": {
          "description": "The type of this operation.",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchFoldersResponse": {
      "id": "SearchFoldersResponse",
      "properties": {
        "folders": {
          "type": "array",
          "description": "A possibly paginated folder search results. the specified parent resource.",
          "items": {
            "$ref": "Folder"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `SearchFolders` that indicates from where searching should continue.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for searching folders."
    },
    "UpdateFolderMetadata": {
      "id": "UpdateFolderMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateFolder.",
      "type": "object",
      "properties": {}
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    }
  },
  "baseUrl": "https://cloudresourcemanager.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "canonicalName": "Cloud Resource Manager",
  "title": "Cloud Resource Manager API",
  "name": "cloudresourcemanager",
  "rootUrl": "https://cloudresourcemanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "tagBindings": {
      "methods": {
        "create": {
          "request": {
            "$ref": "TagBinding"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "validateOnly": {
              "location": "query",
              "description": "Optional. Set to true to perform the validations necessary for creating the resource, but not actually perform the action.",
              "type": "boolean"
            }
          },
          "path": "v3/tagBindings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v3/tagBindings",
          "httpMethod": "POST",
          "id": "cloudresourcemanager.tagBindings.create",
          "description": "Creates a TagBinding between a TagValue and a cloud resource (currently project, folder, or organization)."
        },
        "delete": {
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a TagBinding.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the TagBinding. This is a String of the form: `tagBindings/{id}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
              "location": "path",
              "required": true,
              "pattern": "^tagBindings/.*$"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.tagBindings.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/tagBindings/{tagBindingsId}"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `ListTagBindings` that indicates where this listing should continue from. Currently this api returns unpaginated response and `page_token` is ignored.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of TagBindings to return in the response. The server allows a maximum of 300 TagBindings to return. If unspecified, the server will use 100 as the default. Currently this api returns unpaginated response and `page_size` is ignored.",
              "type": "integer"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The full resource name of a resource for which you want to list existing TagBindings. E.g. \"//cloudresourcemanager.googleapis.com/projects/123\""
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v3/tagBindings",
          "description": "Lists the TagBindings for the given cloud resource, as specified with `parent`. NOTE: The `parent` field is expected to be a full resource name: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "id": "cloudresourcemanager.tagBindings.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/tagBindings",
          "response": {
            "$ref": "ListTagBindingsResponse"
          }
        }
      }
    },
    "liens": {
      "methods": {
        "list": {
          "id": "cloudresourcemanager.liens.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/liens",
          "description": "List all Liens applied to the `parent` resource. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`.",
          "response": {
            "$ref": "ListLiensResponse"
          },
          "flatPath": "v3/liens",
          "parameters": {
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. The name of the resource to list all attached Liens. For example, `projects/1234`. (google.api.field_policy).resource_type annotation is not set since the parent depends on the meta api implementation. This field could be a project or other sub project resources."
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous List request, if any.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of items to return. This is a suggestion for the server. The server can return fewer liens than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          }
        },
        "get": {
          "description": "Retrieve a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`",
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Lien"
          },
          "parameters": {
            "name": {
              "pattern": "^liens/.*$",
              "description": "Required. The name/identifier of the Lien.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v3/liens/{liensId}",
          "id": "cloudresourcemanager.liens.get",
          "httpMethod": "GET"
        },
        "create": {
          "response": {
            "$ref": "Lien"
          },
          "request": {
            "$ref": "Lien"
          },
          "id": "cloudresourcemanager.liens.create",
          "description": "Create a Lien which applies to the resource denoted by the `parent` field. Callers of this method will require permission on the `parent` resource. For example, applying to `projects/1234` requires permission `resourcemanager.projects.updateLiens`. NOTE: Some resources may limit the number of Liens which may be applied.",
          "path": "v3/liens",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/liens"
        },
        "delete": {
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.liens.delete",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name/identifier of the Lien to delete.",
              "pattern": "^liens/.*$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "description": "Delete a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.updateLiens`.",
          "flatPath": "v3/liens/{liensId}"
        }
      }
    },
    "folders": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/folders/{foldersId}",
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Folder"
          },
          "id": "cloudresourcemanager.folders.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Output only. The resource name of the folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\".",
              "type": "string",
              "pattern": "^folders/[^/]+$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "description": "Required. Fields to be updated. Only the `display_name` can be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "description": "Updates a folder, changing its `display_name`. Changes to the folder `display_name` will be rejected if they violate either the `display_name` formatting rules or the naming constraints described in the CreateFolder documentation. The folder's `display_name` must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be between 3 and 30 characters. This is captured by the regular expression: `\\p{L}\\p{N}{1,28}[\\p{L}\\p{N}]`. The caller must have `resourcemanager.folders.update` permission on the identified folder. If the update fails due to the unique name constraint then a `PreconditionFailure` explaining this violation will be returned in the Status.details field."
        },
        "move": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the Folder to move. Must be of the form folders/{folder_id}",
              "pattern": "^folders/[^/]+$",
              "location": "path"
            }
          },
          "path": "v3/{+name}:move",
          "id": "cloudresourcemanager.folders.move",
          "flatPath": "v3/folders/{foldersId}:move",
          "description": "Moves a folder under a new resource parent. Returns an `Operation` which can be used to track the progress of the folder move workflow. Upon success, the `Operation.response` field will be populated with the moved folder. Upon failure, a `FolderOperationError` categorizing the failure cause will be returned - if the failure occurs synchronously then the `FolderOperationError` will be returned in the `Status.details` field. If it occurs asynchronously, then the FolderOperation will be returned in the `Operation.error` field. In addition, the `Operation.metadata` field will be populated with a `FolderOperation` message as an aid to stateless clients. Folder moves will be rejected if they violate either the naming, height, or fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.move` permission on the folder's current and proposed new parent.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "MoveFolderRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "undelete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.folders.undelete",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the folder to undelete. Must be of the form `folders/{folder_id}`."
            }
          },
          "path": "v3/{+name}:undelete",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "UndeleteFolderRequest"
          },
          "description": "Cancels the deletion request for a folder. This method may be called on a folder in any state. If the folder is in the ACTIVE state the result will be a no-op success. In order to succeed, the folder's parent must be in the ACTIVE state. In addition, reintroducing the folder into the tree must not violate folder naming, height, and fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.undelete` permission on the identified folder.",
          "flatPath": "v3/folders/{foldersId}:undelete",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "flatPath": "v3/folders/{foldersId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Folder"
          },
          "id": "cloudresourcemanager.folders.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the folder to retrieve. Must be of the form `folders/{folder_id}`.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+$"
            }
          },
          "path": "v3/{+name}",
          "description": "Retrieves a folder identified by the supplied resource name. Valid folder resource names have the format `folders/{folder_id}` (for example, `folders/1234`). The caller must have `resourcemanager.folders.get` permission on the identified folder.",
          "httpMethod": "GET"
        },
        "getIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+resource}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/folders/{foldersId}:getIamPolicy",
          "id": "cloudresourcemanager.folders.getIamPolicy",
          "description": "Gets the access control policy for a folder. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.getIamPolicy` permission on the identified folder.",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^folders/[^/]+$"
            }
          }
        },
        "list": {
          "path": "v3/folders",
          "httpMethod": "GET",
          "description": "Lists the folders that are direct descendants of supplied parent resource. `list()` provides a strongly consistent view of the folders underneath the specified parent resource. `list()` returns folders sorted based upon the (ascending) lexical ordering of their display_name. The caller must have `resourcemanager.folders.list` permission on the identified parent.",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from."
            },
            "parent": {
              "description": "Required. The resource name of the organization or folder whose folders are being listed. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Controls whether folders in the DELETE_REQUESTED state should be returned. Defaults to false."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListFoldersResponse"
          },
          "flatPath": "v3/folders",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.folders.list"
        },
        "testIamPermissions": {
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "v3/folders/{foldersId}:testIamPermissions",
          "id": "cloudresourcemanager.folders.testIamPermissions",
          "description": "Returns permissions that a caller has on the specified folder. The `resource` field should be the folder's resource name, for example: \"folders/1234\". There are no permissions required for making this API call.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
            }
          },
          "path": "v3/{+resource}:testIamPermissions",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ]
        },
        "search": {
          "description": "Search for folders that match specific filter criteria. `search()` provides an eventually consistent view of the folders a user has access to which meet the specified filter criteria. This will only return folders on which the caller has the permission `resourcemanager.folders.get`.",
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "Optional. Search criteria used to select the folders to return. If no search criteria is specified then all accessible folders will be returned. Query expressions can be used to restrict results based upon displayName, state and parent, where the operators `=` (`:`) `NOT`, `AND` and `OR` can be used along with the suffix wildcard symbol `*`. The `displayName` field in a query expression should use escaped quotes for values that include whitespace to prevent unexpected behavior. ``` | Field | Description | |-------------------------|----------------------------------------| | displayName | Filters by displayName. | | parent | Filters by parent (for example: folders/123). | | state, lifecycleState | Filters by state. | ``` Some example queries are: * Query `displayName=Test*` returns Folder resources whose display name starts with \"Test\". * Query `state=ACTIVE` returns Folder resources with `state` set to `ACTIVE`. * Query `parent=folders/123` returns Folder resources that have `folders/123` as a parent resource. * Query `parent=folders/123 AND state=ACTIVE` returns active Folder resources that have `folders/123` as a parent resource. * Query `displayName=\\\\\"Test String\\\\\"` returns Folder resources with display names that include both \"Test\" and \"String\"."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `SearchFolders` that indicates from where search should continue."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.",
              "type": "integer"
            }
          },
          "id": "cloudresourcemanager.folders.search",
          "path": "v3/folders:search",
          "flatPath": "v3/folders:search",
          "response": {
            "$ref": "SearchFoldersResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the folder to be deleted. Must be of the form `folders/{folder_id}`.",
              "pattern": "^folders/[^/]+$",
              "type": "string"
            }
          },
          "path": "v3/{+name}",
          "httpMethod": "DELETE",
          "id": "cloudresourcemanager.folders.delete",
          "flatPath": "v3/folders/{foldersId}",
          "description": "Requests deletion of a folder. The folder is moved into the DELETE_REQUESTED state immediately, and is deleted approximately 30 days later. This method may only be called on an empty folder, where a folder is empty if it doesn't contain any folders or projects in the ACTIVE state. If called on a folder in DELETE_REQUESTED state the operation will result in a no-op success. The caller must have `resourcemanager.folders.delete` permission on the identified folder.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "setIamPolicy": {
          "flatPath": "v3/folders/{foldersId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^folders/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "description": "Sets the access control policy on a folder, replacing any existing policy. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.setIamPolicy` permission on the identified folder.",
          "path": "v3/{+resource}:setIamPolicy",
          "id": "cloudresourcemanager.folders.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "create": {
          "id": "cloudresourcemanager.folders.create",
          "description": "Creates a folder in the resource hierarchy. Returns an `Operation` which can be used to track the progress of the folder creation workflow. Upon success, the `Operation.response` field will be populated with the created Folder. In order to succeed, the addition of this new folder must not violate the folder naming, height, or fanout constraints. + The folder's `display_name` must be distinct from all other folders that share its parent. + The addition of the folder must not cause the active folder hierarchy to exceed a height of 10. Note, the full active + deleted folder hierarchy is allowed to reach a height of 20; this provides additional headroom when moving folders that contain deleted folders. + The addition of the folder must not cause the total number of folders under its parent to exceed 300. If the operation fails due to a folder constraint violation, some errors may be returned by the `CreateFolder` request, with status code `FAILED_PRECONDITION` and an error description. Other folder constraint violations will be communicated in the `Operation`, with the specific `PreconditionFailure` returned in the details list in the `Operation.error` field. The caller must have `resourcemanager.folders.create` permission on the identified parent.",
          "request": {
            "$ref": "Folder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "path": "v3/folders",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v3/folders"
        }
      }
    },
    "tagKeys": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "TagKey"
          },
          "httpMethod": "GET",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Retrieves a TagKey. This method will return `PERMISSION_DENIED` if the key does not exist or the user does not have permission to view it.",
          "id": "cloudresourcemanager.tagKeys.get",
          "parameters": {
            "name": {
              "description": "Required. A resource name in the format `tagKeys/{id}`, such as `tagKeys/123`.",
              "required": true,
              "location": "path",
              "pattern": "^tagKeys/[^/]+$",
              "type": "string"
            }
          },
          "path": "v3/{+name}"
        },
        "getIamPolicy": {
          "flatPath": "v3/tagKeys/{tagKeysId}:getIamPolicy",
          "path": "v3/{+resource}:getIamPolicy",
          "description": "Gets the access control policy for a TagKey. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `cloudresourcemanager.googleapis.com/tagKeys.getIamPolicy` permission on the specified TagKey.",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.tagKeys.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^tagKeys/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "list": {
          "path": "v3/tagKeys",
          "parameters": {
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `ListTagKey` that indicates where this listing should continue from.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of TagKeys to return in the response. The server allows a maximum of 300 TagKeys to return. If unspecified, the server will use 100 as the default."
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. The resource name of the new TagKey's parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`."
            }
          },
          "response": {
            "$ref": "ListTagKeysResponse"
          },
          "id": "cloudresourcemanager.tagKeys.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/tagKeys",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists all TagKeys for a parent resource."
        },
        "testIamPermissions": {
          "path": "v3/{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified TagKey. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". There are no permissions required for making this API call.",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "id": "cloudresourcemanager.tagKeys.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/tagKeys/{tagKeysId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "pattern": "^tagKeys/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "type": "string"
            }
          }
        },
        "create": {
          "path": "v3/tagKeys",
          "description": "Creates a new TagKey. If another request with the same parameters is sent while the original request is in process, the second request will receive an error. A maximum of 300 TagKeys can exist under a parent at any given time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/tagKeys",
          "request": {
            "$ref": "TagKey"
          },
          "id": "cloudresourcemanager.tagKeys.create",
          "parameters": {
            "validateOnly": {
              "description": "Optional. Set to true to perform validations necessary for creating the resource, but not actually perform the action.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "id": "cloudresourcemanager.tagKeys.patch",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TagKey"
          },
          "description": "Updates the attributes of the TagKey resource.",
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "description": "Set as true to perform validations necessary for updating the resource, but not actually perform the action.",
              "location": "query"
            },
            "name": {
              "description": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey.",
              "required": true,
              "pattern": "^tagKeys/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "description": "Fields to be updated. The mask may only contain `description` or `etag`. If omitted entirely, both `description` and `etag` are assumed to be significant.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "parameters": {
            "validateOnly": {
              "location": "query",
              "description": "Optional. Set as true to perform validations necessary for deletion, but not actually perform the action.",
              "type": "boolean"
            },
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of a TagKey to be deleted in the format `tagKeys/123`. The TagKey cannot be a parent of any existing TagValues or it will not be deleted successfully.",
              "pattern": "^tagKeys/[^/]+$",
              "required": true
            },
            "etag": {
              "description": "Optional. The etag known to the client for the expected state of the TagKey. This is to be used for optimistic concurrency.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudresourcemanager.tagKeys.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a TagKey. The TagKey cannot be deleted if it has any child TagValues.",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}",
          "httpMethod": "DELETE"
        },
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "pattern": "^tagKeys/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.tagKeys.setIamPolicy",
          "path": "v3/{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ],
          "description": "Sets the access control policy on a TagKey, replacing any existing policy. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `resourcemanager.tagKeys.setIamPolicy` permission on the identified tagValue.",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "flatPath": "v3/tagKeys/{tagKeysId}:setIamPolicy",
          "httpMethod": "POST"
        }
      }
    },
    "tagValues": {
      "methods": {
        "testIamPermissions": {
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "flatPath": "v3/tagValues/{tagValuesId}:testIamPermissions",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^tagValues/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "cloudresourcemanager.tagValues.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "path": "v3/{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified TagValue. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. There are no permissions required for making this API call."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+name}",
          "request": {
            "$ref": "TagValue"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "description": "Immutable. Resource name for TagValue in the format `tagValues/456`."
            },
            "validateOnly": {
              "description": "Optional. True to perform validations necessary for updating the resource, but not actually perform the action.",
              "type": "boolean",
              "location": "query"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. Fields to be updated."
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "v3/tagValues/{tagValuesId}",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.tagValues.patch",
          "description": "Updates the attributes of the TagValue resource.",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "description": "Lists all TagValues for a specific TagKey.",
          "parameters": {
            "parent": {
              "description": "Required. Resource name for TagKey, parent of the TagValues to be listed, in the format `tagKeys/123`.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `ListTagValues` that indicates where this listing should continue from.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of TagValues to return in the response. The server allows a maximum of 300 TagValues to return. If unspecified, the server will use 100 as the default.",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/tagValues",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "cloudresourcemanager.tagValues.list",
          "flatPath": "v3/tagValues",
          "response": {
            "$ref": "ListTagValuesResponse"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagValues.create",
          "httpMethod": "POST",
          "parameters": {
            "validateOnly": {
              "description": "Optional. Set as true to perform the validations necessary for creating the resource, but not actually perform the action.",
              "location": "query",
              "type": "boolean"
            }
          },
[...]
