{
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "canonicalName": "Cloudchannel",
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        },
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        }
      },
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse",
      "properties": {
        "transferableSkus": {
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "type": "array",
          "description": "Information about existing SKUs for a customer that needs a transfer."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic the subscriber will listen to."
        }
      },
      "description": "Response Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1PriceTier": {
      "properties": {
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the tier."
        },
        "lastResource": {
          "format": "int32",
          "type": "integer",
          "description": "Last resource for which the tier price applies."
        },
        "firstResource": {
          "type": "integer",
          "description": "First resource for which the tier price applies.",
          "format": "int32"
        }
      },
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "id": "GoogleCloudChannelV1PriceTier",
      "type": "object"
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.CancelEntitlement."
    },
    "GoogleCloudChannelV1alpha1Parameter": {
      "properties": {
        "editable": {
          "readOnly": true,
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "type": "boolean"
        },
        "value": {
          "$ref": "GoogleCloudChannelV1alpha1Value",
          "description": "Value of the parameter."
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1alpha1Parameter",
      "description": "Definition for extended entitlement parameters.",
      "type": "object"
    },
    "GoogleCloudChannelV1ContactInfo": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name."
        },
        "title": {
          "type": "string",
          "description": "Optional. The customer account contact's job title."
        },
        "firstName": {
          "type": "string",
          "description": "The customer account contact's first name. Optional for Team customers."
        },
        "phone": {
          "description": "The customer account's contact phone number.",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "The customer account contact's last name. Optional for Team customers."
        },
        "email": {
          "type": "string",
          "description": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ContactInfo",
      "description": "Contact information for a customer account."
    },
    "GoogleCloudChannelV1ImportCustomerRequest": {
      "properties": {
        "cloudIdentityId": {
          "description": "Required. Customer's Cloud Identity ID",
          "type": "string"
        },
        "customer": {
          "description": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. Customer domain."
        },
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "overwriteIfExists": {
          "description": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain.",
          "type": "boolean"
        },
        "channelPartnerId": {
          "description": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ImportCustomerRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.ImportCustomer"
    },
    "GoogleCloudChannelV1Offer": {
      "type": "object",
      "id": "GoogleCloudChannelV1Offer",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. End of the Offer validity time.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}",
          "type": "string"
        },
        "priceByResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceByResource"
          },
          "description": "Price for each monetizable resource type."
        },
        "parameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ParameterDefinition"
          },
          "description": "Parameters required to use current Offer to purchase."
        },
        "constraints": {
          "$ref": "GoogleCloudChannelV1Constraints",
          "description": "Constraints on transacting the Offer."
        },
        "plan": {
          "$ref": "GoogleCloudChannelV1Plan",
          "description": "Describes the payment plan for the Offer."
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU the offer is associated with."
        },
        "marketingInfo": {
          "description": "Marketing information for the Offer.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start of the Offer validity time."
        }
      },
      "description": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying."
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "type": "object",
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "properties": {
        "entitlement": {
          "type": "string",
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        },
        "eventType": {
          "description": "Type of event which happened on the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ]
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GoogleCloudChannelV1Price": {
      "id": "GoogleCloudChannelV1Price",
      "type": "object",
      "description": "Represents the price of the Offer.",
      "properties": {
        "basePrice": {
          "$ref": "GoogleTypeMoney",
          "description": "Base price."
        },
        "externalPriceUri": {
          "description": "Link to external price list, such as link to Google Voice rate card.",
          "type": "string"
        },
        "discount": {
          "description": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2.",
          "type": "number",
          "format": "double"
        },
        "effectivePrice": {
          "description": "Effective Price after applying the discounts.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleCloudChannelV1ActivateEntitlementRequest": {
      "id": "GoogleCloudChannelV1ActivateEntitlementRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ActivateEntitlement."
    },
    "GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "type": "object",
      "properties": {
        "topic": {
          "description": "Name of the topic the service account subscriber access was removed from.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberResponse",
      "description": "Response Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "description": "Renewal settings for renewable Offers.",
      "id": "GoogleCloudChannelV1RenewalSettings",
      "type": "object",
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "paymentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "description": "Describes how a reseller will be billed."
        }
      }
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The new entitlements to create or transfer.",
          "type": "array"
        },
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1ListOffersResponse": {
      "description": "Response message for ListOffers.",
      "type": "object",
      "id": "GoogleCloudChannelV1ListOffersResponse",
      "properties": {
        "offers": {
          "description": "The list of Offers requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Offer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account to unregister from subscriber access to the topic."
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "description": "Request Message for UnregisterSubscriber.",
      "type": "object"
    },
    "GoogleCloudChannelV1Entitlement": {
      "type": "object",
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "id": "GoogleCloudChannelV1Entitlement",
      "properties": {
        "trialSettings": {
          "readOnly": true,
          "description": "Output only. Settings for trial offers.",
          "$ref": "GoogleCloudChannelV1TrialSettings"
        },
        "commitmentSettings": {
          "$ref": "GoogleCloudChannelV1CommitmentSettings",
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers."
        },
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "readOnly": true
        },
        "purchaseOrderId": {
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is created."
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "description": "Output only. Current provisioning state of the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ]
        },
        "suspensionReasons": {
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the entitlement is updated."
        },
        "provisionedService": {
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1ProvisionedService",
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array",
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers."
        }
      }
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "properties": {
        "trial": {
          "type": "boolean",
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      },
      "type": "object",
      "description": "Settings for trial offers."
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings",
      "properties": {
        "endTime": {
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "renewalSettings": {
          "description": "Optional. Renewal settings applicable for a commitment-based Offer.",
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Commitment start timestamp.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Commitment settings for commitment-based offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeOfferRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "description": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer."
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order id provided by the reseller.",
          "type": "string"
        },
        "offer": {
          "type": "string",
          "description": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}."
        }
      },
      "description": "Request message for CloudChannelService.ChangeOffer.",
      "id": "GoogleCloudChannelV1ChangeOfferRequest"
    },
    "GoogleCloudChannelV1SubscriberEvent": {
      "properties": {
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1CustomerEvent",
          "description": "Customer event send as part of Pub/Sub event to partners."
        },
        "entitlementEvent": {
          "description": "Entitlement event send as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1EntitlementEvent"
        }
      },
      "type": "object",
      "description": "Represents information which resellers will get as part of notification from Cloud Pub/Sub.",
      "id": "GoogleCloudChannelV1SubscriberEvent"
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "description": "Response message for ListSkus.",
      "properties": {
        "skus": {
          "type": "array",
          "description": "The list of SKUs requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListSkusResponse"
    },
    "GoogleCloudChannelV1Sku": {
      "type": "object",
      "id": "GoogleCloudChannelV1Sku",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}"
        },
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "product": {
          "$ref": "GoogleCloudChannelV1Product",
          "description": "Product the SKU is associated with."
        }
      },
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs."
    },
    "GoogleCloudChannelV1Period": {
      "properties": {
        "duration": {
          "format": "int32",
          "type": "integer",
          "description": "Total duration of Period Type defined."
        },
        "periodType": {
          "type": "string",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Period Type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        }
      },
      "description": "Represents period in days/months/years.",
      "id": "GoogleCloudChannelV1Period",
      "type": "object"
    },
    "GoogleCloudChannelV1TrialSettings": {
      "properties": {
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      },
      "type": "object",
      "description": "Settings for trial offers.",
      "id": "GoogleCloudChannelV1TrialSettings"
    },
    "GoogleCloudChannelV1EduData": {
      "description": "Required Edu Attributes",
      "type": "object",
      "id": "GoogleCloudChannelV1EduData",
      "properties": {
        "instituteType": {
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "description": "Designated institute type of customer.",
          "enumDescriptions": [
            "Not used.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "type": "string"
        },
        "instituteSize": {
          "enumDescriptions": [
            "Not used.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "type": "string",
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ],
          "description": "Size of the institute."
        },
        "website": {
          "type": "string",
          "description": "Web address for the edu customer's institution."
        }
      }
    },
    "GoogleTypeMoney": {
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "GoogleCloudChannelV1ChannelPartnerLink": {
      "properties": {
        "publicId": {
          "type": "string",
          "description": "Output only. Public identifier that a customer must use to generate a transfer token to move to this distributor-reseller combination.",
          "readOnly": true
        },
        "inviteLinkUri": {
          "readOnly": true,
          "description": "Output only. URI of the web page where partner accepts the link invitation.",
          "type": "string"
        },
        "channelPartnerCloudIdentityInfo": {
          "description": "Output only. Cloud Identity info of the channel partner (IR).",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "updateTime": {
          "description": "Output only. Timestamp of when the channel partner link is updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name for the channel partner link, in the format accounts/{account_id}/channelPartnerLinks/{id}.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of when the channel partner link is created.",
          "format": "google-datetime"
        },
        "linkState": {
          "description": "Required. State of the channel partner link.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "An invitation has been sent to the reseller to create a channel partner link.",
            "Status when the reseller is active.",
            "Status when the reseller has been revoked by the distributor.",
            "Status when the reseller is suspended by Google or distributor."
          ],
          "enum": [
            "CHANNEL_PARTNER_LINK_STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "REVOKED",
            "SUSPENDED"
          ]
        },
        "resellerCloudIdentityId": {
          "description": "Required. Cloud Identity ID of the linked reseller.",
          "type": "string"
        }
      },
      "description": "Entity representing a link between distributors and their indirect resellers in an n-tier resale channel.",
      "id": "GoogleCloudChannelV1ChannelPartnerLink",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "properties": {
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "productId": {
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "provisioningId": {
          "readOnly": true,
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\"",
          "type": "string"
        }
      },
      "description": "Service provisioned for an entitlement.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ProvisionedService"
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "description": "Response message for ListPurchasableSkus.",
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse",
      "type": "object",
      "properties": {
        "purchasableSkus": {
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          },
          "type": "array",
          "description": "The list of SKUs requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1Value": {
      "type": "object",
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1alpha1Value",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "int64Value": {
          "description": "Represents an int64 value.",
          "type": "string",
          "format": "int64"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Represents an 'Any' proto value.",
          "type": "object"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudChannelV1PricePhase": {
      "properties": {
        "lastPeriod": {
          "description": "Defines first period for the phase.",
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "description": "Price of the phase. Present if there are no price tiers.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "firstPeriod": {
          "format": "int32",
          "type": "integer",
          "description": "Defines first period for the phase."
        },
        "periodType": {
          "description": "Defines the phase period type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string"
        },
        "priceTiers": {
          "type": "array",
          "description": "Price by the resource tiers.",
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          }
        }
      },
      "id": "GoogleCloudChannelV1PricePhase",
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "properties": {
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo"
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters."
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "trialSettings": {
          "readOnly": true,
          "description": "Output only. Settings for trial offers.",
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings"
        },
        "numUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead."
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "type": "string"
        },
        "provisionedService": {
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService",
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the entitlement is updated."
        },
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ]
          },
          "type": "array"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. The response may include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. - max_units: The maximum assignable units for a flexible offer. - num_units: The total commitment for commitment-based offers.",
          "type": "array"
        },
        "maxUnits": {
          "format": "int32",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead.",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is created."
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "provisioningState": {
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "type": "string",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "type": "string"
        },
        "assignedUnits": {
          "type": "integer",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead.",
          "format": "int32"
        }
      },
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "properties": {
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened on the customer.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ]
        }
      },
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "description": "Represents Pub/Sub message content describing customer update.",
      "type": "object"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain to fetch for Cloud Identity account customer."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1AdminUser": {
      "id": "GoogleCloudChannelV1AdminUser",
      "description": "Information needed to create an Admin User for Google Workspace.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Primary email of the admin user."
        },
        "familyName": {
          "type": "string",
          "description": "Family name of the admin user."
        },
        "givenName": {
          "type": "string",
          "description": "Given name of the admin user."
        }
      }
    },
    "GoogleCloudChannelV1PriceByResource": {
      "id": "GoogleCloudChannelV1PriceByResource",
      "properties": {
        "price": {
          "description": "Price of the Offer. Present if there are no price phases.",
          "$ref": "GoogleCloudChannelV1Price"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Seat.",
            "Monthly active user.",
            "GB (used for storage SKUs).",
            "Active licensed users(for Voice SKUs).",
            "Voice usage.",
            "For IaaS SKUs like Google Cloud Platform, monetization is based on usage accrued on your billing account irrespective of the type of monetizable resource. This enum represents an aggregated resource/container for all usage SKUs on a billing account. Currently, only applicable to Google Cloud Platform.",
            "For Google Cloud Platform subscriptions like Anthos or SAP."
          ],
          "description": "Resource Type. Example: SEAT",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "SEAT",
            "MAU",
            "GB",
            "LICENSED_USER",
            "MINUTES",
            "IAAS_USAGE",
            "SUBSCRIPTION"
          ]
        },
        "pricePhases": {
          "description": "Specifies the price by time range.",
          "items": {
            "$ref": "GoogleCloudChannelV1PricePhase"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents price by resource type."
    },
    "GoogleCloudChannelV1Plan": {
      "properties": {
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string",
          "description": "Describes how a reseller will be billed."
        },
        "billingAccount": {
          "type": "string",
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud Platform offers."
        },
        "paymentType": {
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ],
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ],
          "description": "Specifies when the payment needs to happen.",
          "type": "string"
        },
        "trialPeriod": {
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period.",
          "$ref": "GoogleCloudChannelV1Period"
        }
      },
      "description": "The payment plan for the Offer. Describes how to make a payment.",
      "id": "GoogleCloudChannelV1Plan",
      "type": "object"
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "type": "object",
      "properties": {
        "allowedCustomerTypes": {
          "description": "Allowed Customer Type.",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "promotionalOrderTypes": {
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ],
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ],
            "type": "string"
          },
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "type": "array"
        },
        "allowedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Allowed geographical regions of the customer.",
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "description": "Represents constraints required to purchase the Offer for a customer."
    },
    "GoogleCloudChannelV1Value": {
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Represents an 'Any' proto value."
        },
        "int64Value": {
          "description": "Represents an int64 value.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1Value",
      "type": "object"
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        },
        "skuId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud Platform, this is the Billing Account ID of the billing subaccount.\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Service provisioned for an entitlement.",
      "id": "GoogleCloudChannelV1ProvisionedService"
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The transferred entitlements."
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1Constraints": {
      "description": "Represents the constraints for buying the Offer.",
      "properties": {
        "customerConstraints": {
          "description": "Represents constraints required to purchase the Offer for a customer.",
          "$ref": "GoogleCloudChannelV1CustomerConstraints"
        }
      },
      "id": "GoogleCloudChannelV1Constraints",
      "type": "object"
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "type": "object",
      "description": "Association links that an entitlement has to other entitlements.",
      "id": "GoogleCloudChannelV1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "properties": {
        "topic": {
          "description": "Name of the topic registered with the reseller.",
          "type": "string"
        },
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of service accounts which have subscriber access to the topic."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response Message for ListSubscribers.",
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1CloudIdentityInfo": {
      "properties": {
        "eduData": {
          "$ref": "GoogleCloudChannelV1EduData",
          "description": "Edu information about the customer."
        },
        "primaryDomain": {
          "description": "Output only. The primary domain name.",
          "readOnly": true,
          "type": "string"
        },
        "isDomainVerified": {
          "description": "Output only. Whether the domain is verified. This field is not returned for a Customer's cloud_identity_info resource. Partners can use the domains.get() method of the Workspace SDK's Directory API, or listen to the PRIMARY_DOMAIN_VERIFIED Pub/Sub event in to track domain verification of their resolve Workspace customers.",
          "readOnly": true,
          "type": "boolean"
        },
        "adminConsoleUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI of Customer's Admin console dashboard."
        },
        "customerType": {
          "description": "CustomerType indicates verification type needed for using services.",
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "DOMAIN",
            "TEAM"
          ],
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number associated with the Cloud Identity.",
          "type": "string"
        },
        "alternateEmail": {
          "type": "string",
          "description": "The alternate email."
        },
        "languageCode": {
          "description": "Language code.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1CloudIdentityInfo",
      "type": "object",
      "description": "Cloud Identity information for the Cloud Channel Customer."
    },
    "GoogleCloudChannelV1ListTransferableOffersRequest": {
      "id": "GoogleCloudChannelV1ListTransferableOffersRequest",
      "properties": {
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableOffersResponse.next_page_token of the previous CloudChannelService.ListTransferableOffers call."
        },
        "pageSize": {
          "format": "int32",
          "description": "Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 offers. The maximum value is 1000; the server will coerce values above 1000.",
          "type": "integer"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\"."
        },
        "customerName": {
          "description": "A reseller should create a customer and use the resource name of that customer here.",
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Required. The SKU to look up Offers for."
        }
      },
      "description": "Request message for CloudChannelService.ListTransferableOffers",
      "type": "object"
    },
    "GoogleCloudChannelV1TransferableSku": {
      "id": "GoogleCloudChannelV1TransferableSku",
      "properties": {
        "transferEligibility": {
          "$ref": "GoogleCloudChannelV1TransferEligibility",
          "description": "Describes the transfer eligibility of a SKU."
        },
        "legacySku": {
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU.",
          "$ref": "GoogleCloudChannelV1Sku"
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer."
        }
      },
      "type": "object",
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only."
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.StartPaidService.",
      "id": "GoogleCloudChannelV1StartPaidServiceRequest"
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEligibility",
      "properties": {
        "ineligibilityReason": {
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended"
          ],
          "description": "Specified the reason for ineligibility.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED"
          ]
        },
        "isEligible": {
          "description": "Whether reseller is eligible to transfer the SKU.",
          "type": "boolean"
        },
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        }
      },
      "description": "Specifies transfer eligibility of a SKU."
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU"
        }
      },
      "id": "GoogleCloudChannelV1PurchasableSku",
      "type": "object",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response."
    },
    "GoogleCloudChannelV1Media": {
      "properties": {
        "content": {
          "type": "string",
          "description": "URL of the media."
        },
        "title": {
          "type": "string",
          "description": "Title of the media."
        },
        "type": {
          "type": "string",
          "description": "Type of the media.",
          "enumDescriptions": [
            "Not used.",
            "Type of image."
          ],
          "enum": [
            "MEDIA_TYPE_UNSPECIFIED",
            "MEDIA_TYPE_IMAGE"
          ]
        }
      },
      "description": "Represents media information.",
      "type": "object",
      "id": "GoogleCloudChannelV1Media"
    },
    "GoogleTypePostalAddress": {
      "properties": {
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire)."
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See http://cldr.unicode.org/ and http://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an i18n-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "id": "GoogleTypePostalAddress"
    },
    "GoogleCloudChannelV1EntitlementEvent": {
      "properties": {
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "description": "Type of event which happened on the entitlement.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ]
        },
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "id": "GoogleCloudChannelV1EntitlementEvent"
    },
    "GoogleCloudChannelV1Product": {
      "id": "GoogleCloudChannelV1Product",
      "type": "object",
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource Name of the Product. Format: products/{product_id}"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the product."
        }
      }
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "description": "Commitment settings for commitment-based offers.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. Commitment end timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Commitment start timestamp."
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CommitmentSettings"
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type.",
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          }
        },
        "optional": {
          "type": "boolean",
          "description": "If set to true, parameter is optional to purchase this Offer."
        },
        "maxValue": {
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "parameterType": {
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type."
          ],
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "minValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types."
        }
      },
      "type": "object",
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase."
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "properties": {
        "customerCloudIdentityId": {
          "description": "If existing = true, the Cloud Identity ID of the customer.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
        },
        "existing": {
          "description": "Returns true if a Cloud Identity account exists for a specific domain.",
          "type": "boolean"
        },
        "owned": {
          "description": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "description": "Type of event which happened on the customer."
        }
      },
      "id": "GoogleCloudChannelV1CustomerEvent",
      "description": "Represents Pub/Sub message content describing customer update.",
      "type": "object"
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "operationType": {
          "description": "The RPC that initiated this Long Running Operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ]
        }
      },
      "id": "GoogleCloudChannelV1OperationMetadata"
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "description": "Request message for CloudChannelService.CreateEntitlement",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        },
        "entitlement": {
          "description": "Required. The entitlement to create.",
          "$ref": "GoogleCloudChannelV1Entitlement"
        }
      },
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "type": "object"
    },
    "GoogleCloudChannelV1ListProductsResponse": {
      "type": "object",
      "description": "Response message for ListProducts.",
      "properties": {
        "products": {
          "description": "List of Products requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Product"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "id": "GoogleCloudChannelV1ListProductsResponse"
    },
    "GoogleCloudChannelV1ListPurchasableOffersResponse": {
      "description": "Response message for ListPurchasableOffers.",
      "properties": {
        "purchasableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableOffer"
          },
          "type": "array",
          "description": "The list of Offers requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListPurchasableOffersResponse",
      "type": "object"
    },
    "GoogleCloudChannelV1Customer": {
      "id": "GoogleCloudChannelV1Customer",
      "type": "object",
      "description": "Entity representing a customer of a reseller or distributor.",
      "properties": {
        "alternateEmail": {
          "type": "string",
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers."
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer.",
          "type": "string"
        },
        "primaryContactInfo": {
          "description": "Primary contact info.",
          "$ref": "GoogleCloudChannelV1ContactInfo"
        },
        "orgPostalAddress": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region and zip code. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code."
        },
        "cloudIdentityInfo": {
          "readOnly": true,
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "updateTime": {
          "description": "Output only. Time when the customer was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cloudIdentityId": {
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when the customer was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "orgDisplayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "domain": {
          "type": "string",
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain."
        }
      }
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1alpha1Period"
        },
        "paymentPlan": {
          "type": "string",
          "description": "Describes how a reseller will be billed.",
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ]
        },
        "disableCommitment": {
          "type": "boolean",
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead."
        },
        "enableRenewal": {
          "type": "boolean",
          "description": "If false, the plan will be completed at the end date."
        },
        "paymentOption": {
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.",
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "type": "string"
        },
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "description": "Renewal settings for renewable Offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeParametersRequest": {
      "properties": {
        "parameters": {
          "description": "Required. Entitlement parameters to update. You can only change editable parameters. To view the available Parameters for a request, refer to the Offer.parameter_definitions from the desired offer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "purchaseOrderId": {
          "description": "Optional. Purchase order ID provided by the reseller.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "description": "Request message for CloudChannelService.ChangeParametersRequest.",
      "type": "object",
      "id": "GoogleCloudChannelV1ChangeParametersRequest"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "type": "string",
          "description": "The RPC that initiated this Long Running Operation."
        }
      }
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "properties": {
        "channelPartnerLinks": {
          "description": "The Channel partner links for a reseller.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks."
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        },
        "transferableOffers": {
          "type": "array",
          "description": "Information about Offers for a customer that can be used for transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          }
        }
      },
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "description": "Response message for CloudChannelService.ListTransferableOffers."
    },
    "GoogleCloudChannelV1alpha1Period": {
      "properties": {
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Total duration of Period Type defined."
        },
        "periodType": {
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "description": "Period Type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ]
        }
      },
      "type": "object",
      "description": "Represents period in days/months/years.",
      "id": "GoogleCloudChannelV1alpha1Period"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "type": "object",
      "description": "Represents information which resellers will get as part of notification from Cloud Pub/Sub.",
      "properties": {
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent",
          "description": "Customer event send as part of Pub/Sub event to partners."
        },
        "entitlementEvent": {
          "description": "Entitlement event send as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent"
        }
      }
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "type": "object",
      "properties": {
        "cloudIdentityAccounts": {
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "type": "array",
          "description": "The Cloud Identity accounts associated with the domain."
        }
      },
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse"
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "channelPartnerLink": {
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates.",
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
        }
      }
    },
    "GoogleCloudChannelV1MarketingInfo": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Human readable description. Description can contain HTML.",
          "type": "string"
        },
        "defaultLogo": {
          "$ref": "GoogleCloudChannelV1Media",
          "description": "Default logo."
        },
        "displayName": {
          "type": "string",
[...]
