{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "revision": "20230412",
  "protocol": "rest",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "id": "cloudsupport:v2beta",
  "discoveryVersion": "v1",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "name": "cloudsupport",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v2beta",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "schemas": {
    "Escalation": {
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "type": "string",
          "description": "Required. The reason why the Case is being escalated.",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ]
        },
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        }
      },
      "id": "Escalation",
      "description": "An escalation of a support case."
    },
    "EscalateCaseRequest": {
      "properties": {
        "escalation": {
          "description": "The escalation object to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      },
      "type": "object",
      "id": "EscalateCaseRequest",
      "description": "The request message for the EscalateCase endpoint."
    },
    "Comment": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when this comment was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 12800 characters. This can contain rich text syntax."
        },
        "creator": {
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent created this comment.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for the comment."
        },
        "plainTextBody": {
          "description": "Output only. DEPRECATED. An automatically generated plain text version of body with all rich text syntax stripped.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A comment associated with a support case.",
      "id": "Comment"
    },
    "Blobstore2Info": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "Blobstore2Info",
      "properties": {
        "downloadReadHandle": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ObjectId": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "ObjectId",
      "type": "object"
    },
    "DiffVersionResponse": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffVersionResponse"
    },
    "ListCommentsResponse": {
      "description": "The response message for the ListComments endpoint.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of Comments associated with the given Case.",
          "type": "array"
        }
      },
      "id": "ListCommentsResponse"
    },
    "DiffUploadRequest": {
      "properties": {
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffUploadRequest",
      "type": "object"
    },
    "ListCasesResponse": {
      "id": "ListCasesResponse",
      "type": "object",
      "description": "The response message for the ListCases endpoint.",
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the cloud resource, after any filters have been applied.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      }
    },
    "CreateAttachmentRequest": {
      "id": "CreateAttachmentRequest",
      "description": "The request message for the CreateAttachment endpoint.",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      },
      "type": "object"
    },
    "SearchCaseClassificationsResponse": {
      "type": "object",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "id": "SearchCaseClassificationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "caseClassifications": {
          "description": "The classifications retrieved.",
          "items": {
            "$ref": "CaseClassification"
          },
          "type": "array"
        }
      }
    },
    "CompositeMedia": {
      "properties": {
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "blobRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ]
        },
        "sha1Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "crc32cHash": {
          "format": "uint32",
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "md5Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "CompositeMedia",
      "type": "object"
    },
    "CaseClassification": {
      "description": "A classification object with a product type and value.",
      "id": "CaseClassification",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the classification."
        },
        "id": {
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Attachment": {
      "id": "Attachment",
      "type": "object",
      "properties": {
        "creator": {
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support.",
          "$ref": "Actor",
          "readOnly": true
        },
        "sizeBytes": {
          "description": "Output only. The size of the attachment in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the attachment."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the attachment was created.",
          "type": "string"
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        }
      },
      "description": "Represents a file attached to a support case."
    },
    "SearchCasesResponse": {
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of Case associated with the cloud resource, after any filters have been applied.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "id": "SearchCasesResponse",
      "description": "The response message for the SearchCases endpoint.",
      "type": "object"
    },
    "ContentTypeInfo": {
      "properties": {
        "fromFileName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromHeader": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "ContentTypeInfo",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "chunkSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ListAttachmentsResponse": {
      "description": "The response message for the ListAttachments endpoint.",
      "type": "object",
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The list of attachments associated with the given case.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "ListAttachmentsResponse"
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      }
    },
    "DownloadParameters": {
      "type": "object",
      "properties": {
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DownloadParameters",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CloseCaseRequest": {
      "description": "The request message for the CloseCase endpoint.",
      "type": "object",
      "properties": {},
      "id": "CloseCaseRequest"
    },
    "WorkflowOperationMetadata": {
      "type": "object",
      "id": "WorkflowOperationMetadata",
      "properties": {
        "operationAction": {
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "type": "string",
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "description": "The type of action the operation is classified as."
        },
        "workflowOperationType": {
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ],
          "description": "Which version of the workflow service this operation came from.",
          "type": "string"
        },
        "namespace": {
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved.",
          "type": "string"
        }
      },
      "description": "Metadata about the operation. Used to lookup the current status."
    },
    "Media": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "Media",
      "properties": {
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "hashVerified": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "md5Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "diffChecksumsResponse": {
          "$ref": "DiffChecksumsResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "timestamp": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint64"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha256Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "diffDownloadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffDownloadResponse"
        },
        "mediaId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "referenceType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ]
        },
        "diffUploadRequest": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadRequest"
        },
        "hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "type": "integer",
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "diffVersionResponse": {
          "$ref": "DiffVersionResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "compositeMedia": {
          "type": "array",
          "items": {
            "$ref": "CompositeMedia"
          },
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        }
      }
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "type": "object"
    },
    "Case": {
      "properties": {
        "languageCode": {
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "createTime": {
          "description": "Output only. The time this case was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "contactEmail": {
          "type": "string",
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs."
        },
        "name": {
          "description": "The resource name for the case.",
          "type": "string"
        },
        "priority": {
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "The priority of this case. If this is set, do not set severity.",
          "type": "string"
        },
        "creator": {
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support.",
          "$ref": "Actor"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "state": {
          "description": "Output only. The current status of the support case.",
          "readOnly": true,
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "type": "string"
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "updateTime": {
          "description": "Output only. The time this case was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "description": "The email addresses to receive updates on this case.",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "type": "string",
          "description": "REMOVED. The severity of this case. Use priority instead.",
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ]
        }
      },
      "description": "A support case.",
      "type": "object",
      "id": "Case"
    },
    "Actor": {
      "type": "object",
      "id": "Actor",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "googleSupport": {
          "description": "Output only. Whether the actor is a Google support actor.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "An object containing information about the effective user and authenticated principal responsible for an action."
    }
  },
  "title": "Google Cloud Support API",
  "version_module": true,
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "canonicalName": "Cloud Support",
  "resources": {
    "caseClassifications": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/caseClassifications:search",
          "id": "cloudsupport.caseClassifications.search",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of cases fetched with each request.",
              "type": "integer"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out."
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "flatPath": "v2beta/caseClassifications:search",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\"."
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudsupport.media.upload",
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "path": "v2beta/{+parent}/attachments",
          "response": {
            "$ref": "Attachment"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            }
          },
          "supportsMediaUpload": true
        },
        "download": {
          "response": {
            "$ref": "Media"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudsupport.media.download",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "supportsMediaDownload": true,
          "path": "v2beta/{+name}:download",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The resource name of the attachment to be downloaded.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$"
            }
          },
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download"
        }
      }
    },
    "cases": {
      "methods": {
        "get": {
          "description": "Retrieve the specified case.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "required": true
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/{+name}",
          "id": "cloudsupport.cases.get",
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "path": "v2beta/{+parent}/cases",
          "parameters": {
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The name of the Cloud resource under which the case should be created.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Case"
          },
          "description": "Create a new case and associate it with the given Cloud resource. The case object must have the following fields set: display_name, description, classification, and severity.",
          "request": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.create"
        },
        "escalate": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.escalate",
          "httpMethod": "POST",
          "path": "v2beta/{+name}:escalate",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ListCasesResponse"
          },
          "parameters": {
            "parent": {
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+/[^/]+$"
            },
            "filter": {
              "description": "An expression written in filter language. If non-empty, the query returns the cases that match the filter. Else, the query doesn't filter the cases. Filter expressions use the following fields with the operators equals (`=`) and `AND`: - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. Examples: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "description": "Retrieve all cases under the specified parent. Note: Listing cases under an Organization returns only the cases directly parented by that organization. To retrieve all cases under an organization, including cases parented by projects under that organization, use `cases.search`.",
          "parameterOrder": [
            "parent"
          ],
          "path": "v2beta/{+parent}/cases",
          "id": "cloudsupport.cases.list"
        },
        "search": {
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "id": "cloudsupport.cases.search",
          "httpMethod": "GET",
          "description": "Search cases using the specified query.",
          "flatPath": "v2beta/cases:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/cases:search",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "type": "integer",
              "format": "int32"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "An expression written in filter language. A query uses the following fields with the operators equals (`=`) and `AND`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. - `billingAccount`: A billing account in the form `billingAccounts/` You must specify eitehr `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` retricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `billing_account=\"billingAccounts/123456-A0B0C0-CUZ789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "patch": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "response": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.patch",
          "httpMethod": "PATCH",
          "path": "v2beta/{+name}",
          "request": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Update the specified case. Only a subset of fields can be updated.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "The resource name for the case.",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "A list of attributes of the case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields are updated. WARNING: If you do not provide a field mask, then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses, then subscriber_email_addresses is updated to empty.",
              "format": "google-fieldmask"
            }
          }
        },
        "close": {
          "path": "v2beta/{+name}:close",
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "POST",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "id": "cloudsupport.cases.close",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "description": "Close the specified case.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The fully qualified name of the case resource to be closed."
            }
          }
        }
      },
      "resources": {
        "comments": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Comment"
              },
              "description": "Add a new comment to the specified Case. The comment object must have the following fields set: body.",
              "httpMethod": "POST",
              "id": "cloudsupport.cases.comments.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "path": "v2beta/{+parent}/comments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Comment"
              }
            },
            "list": {
              "description": "Retrieve all Comments associated with the Case object.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                }
              },
              "id": "cloudsupport.cases.comments.list",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "path": "v2beta/{+parent}/comments"
            }
          }
        },
        "attachments": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve all attachments associated with a support case.",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "id": "cloudsupport.cases.attachments.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of Case object for which attachments should be listed."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100.",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "path": "v2beta/{+parent}/attachments"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. "
}
