{
  "title": "Google Cloud Support API",
  "name": "cloudsupport",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "canonicalName": "Cloud Support",
  "version_module": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "cases": {
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "description": "Retrieve all attachments associated with a support case.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100."
                },
                "parent": {
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of Case object for which attachments should be listed.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                }
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "path": "v2beta/{+parent}/attachments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "cloudsupport.cases.attachments.list"
            }
          }
        },
        "comments": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10."
                },
                "parent": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2beta/{+parent}/comments",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "id": "cloudsupport.cases.comments.list",
              "httpMethod": "GET",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve all Comments associated with the Case object."
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The resource name of Case to which this comment should be added."
                }
              },
              "response": {
                "$ref": "Comment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "id": "cloudsupport.cases.comments.create",
              "description": "Add a new comment to the specified Case. The comment object must have the following fields set: body.",
              "path": "v2beta/{+parent}/comments",
              "request": {
                "$ref": "Comment"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "search": {
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "id": "cloudsupport.cases.search",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/cases:search",
          "description": "Search cases using the specified query.",
          "parameterOrder": [],
          "path": "v2beta/cases:search",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            },
            "query": {
              "description": "An expression written in filter language. A query uses the following fields with the operators equals (`=`) and `AND`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. - `billingAccount`: A billing account in the form `billingAccounts/` You must specify either `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `billing_account=\"billingAccounts/123456-A0B0C0-CUZ789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "type": "string",
              "location": "query"
            }
          }
        },
        "list": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "description": "Retrieve all cases under the specified parent. Note: Listing cases under an Organization returns only the cases directly parented by that organization. To retrieve all cases under an organization, including cases parented by projects under that organization, use `cases.search`.",
          "httpMethod": "GET",
          "path": "v2beta/{+parent}/cases",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "pattern": "^[^/]+/[^/]+$",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "An expression written in filter language. If non-empty, the query returns the cases that match the filter. Else, the query doesn't filter the cases. Filter expressions use the following fields with the operators equals (`=`) and `AND`: - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. Examples: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudsupport.cases.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "request": {
            "$ref": "Case"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "A list of attributes of the case object that should be updated as part of this request. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. WARNING: If you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "location": "query"
            },
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name for the case."
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "id": "cloudsupport.cases.patch",
          "response": {
            "$ref": "Case"
          },
          "description": "Update the specified case. Only a subset of fields can be updated.",
          "httpMethod": "PATCH"
        },
        "close": {
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "httpMethod": "POST",
          "path": "v2beta/{+name}:close",
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.close",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Close the specified case.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "escalate": {
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "cloudsupport.cases.escalate",
          "description": "Escalate a case. Escalating a case will initiate the Google Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "path": "v2beta/{+name}:escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "POST",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "required": true
            }
          },
          "path": "v2beta/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieve the specified case.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}"
        },
        "create": {
          "path": "v2beta/{+parent}/cases",
          "id": "cloudsupport.cases.create",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "description": "Create a new case and associate it with the given Google Cloud Resource. The case object must have the following fields set: `display_name`, `description`, `classification`, and `priority`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The name of the Google Cloud Resource under which the case should be created.",
              "pattern": "^[^/]+/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Case"
          }
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "id": "cloudsupport.caseClassifications.search",
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\".",
          "path": "v2beta/caseClassifications:search",
          "parameters": {
            "query": {
              "description": "An expression written in the Google Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "flatPath": "v2beta/caseClassifications:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "useMediaDownloadService": true,
          "id": "cloudsupport.media.download",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "path": "v2beta/{+name}:download",
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "description": "The resource name of the attachment to be downloaded.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "upload": {
          "path": "v2beta/{+parent}/attachments",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "response": {
            "$ref": "Attachment"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            }
          },
          "httpMethod": "POST",
          "id": "cloudsupport.media.upload",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename."
        }
      }
    }
  },
  "id": "cloudsupport:v2beta",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "schemas": {
    "DownloadParameters": {
      "id": "DownloadParameters",
      "properties": {
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CloseCaseRequest": {
      "properties": {},
      "description": "The request message for the CloseCase endpoint.",
      "type": "object",
      "id": "CloseCaseRequest"
    },
    "Actor": {
      "id": "Actor",
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "properties": {
        "googleSupport": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the actor is a Google support actor."
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "CaseClassification": {
      "description": "A classification object with a product type and value.",
      "properties": {
        "displayName": {
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`."
        }
      },
      "id": "CaseClassification",
      "type": "object"
    },
    "ObjectId": {
      "properties": {
        "generation": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "ObjectId",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "WorkflowOperationMetadata": {
      "type": "object",
      "properties": {
        "workflowOperationType": {
          "description": "Which version of the workflow service this operation came from.",
          "type": "string",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ]
        },
        "operationAction": {
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "type": "string",
          "description": "The type of action the operation is classified as."
        },
        "namespace": {
          "type": "string",
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved."
        }
      },
      "description": "Metadata about the operation. Used to lookup the current status.",
      "id": "WorkflowOperationMetadata"
    },
    "ContentTypeInfo": {
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "ContentTypeInfo",
      "type": "object",
      "properties": {
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromHeader": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "DiffVersionResponse": {
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffVersionResponse"
    },
    "Media": {
      "properties": {
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer",
          "format": "uint32"
        },
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "timestamp": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint64"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadResponse"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "algorithm": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "filename": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadParameters": {
          "$ref": "DownloadParameters",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha256Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "md5Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "compositeMedia": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "array",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "mediaId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "Media"
    },
    "Attachment": {
      "properties": {
        "sizeBytes": {
          "description": "Output only. The size of the attachment in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the attachment was created."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the attachment.",
          "type": "string"
        }
      },
      "id": "Attachment",
      "description": "Represents a file attached to a support case.",
      "type": "object"
    },
    "Escalation": {
      "description": "An escalation of a support case.",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "description": "Required. The reason why the Case is being escalated.",
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "type": "string"
        },
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        }
      },
      "type": "object",
      "id": "Escalation"
    },
    "Comment": {
      "type": "object",
      "properties": {
        "body": {
          "description": "The full comment body. Maximum of 12800 characters. This can contain rich text syntax.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this comment was created."
        },
        "plainTextBody": {
          "description": "Output only. DEPRECATED. An automatically generated plain text version of body with all rich text syntax stripped.",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent created this comment."
        },
        "name": {
          "description": "Output only. The resource name for the comment.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Comment",
      "description": "A comment associated with a support case."
    },
    "EscalateCaseRequest": {
      "description": "The request message for the EscalateCase endpoint.",
      "type": "object",
      "properties": {
        "escalation": {
          "description": "The escalation object to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      },
      "id": "EscalateCaseRequest"
    },
    "SearchCasesResponse": {
      "id": "SearchCasesResponse",
      "properties": {
        "cases": {
          "description": "The list of cases associated with the Google Cloud Resource, after any filters have been applied.",
          "type": "array",
          "items": {
            "$ref": "Case"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object",
      "description": "The response message for the SearchCases endpoint."
    },
    "CreateAttachmentRequest": {
      "description": "The request message for the CreateAttachment endpoint.",
      "id": "CreateAttachmentRequest",
      "type": "object",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      }
    },
    "DiffUploadResponse": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffUploadResponse",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "ListAttachmentsResponse": {
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The list of attachments associated with the given case.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "description": "The response message for the ListAttachments endpoint.",
      "id": "ListAttachmentsResponse",
      "type": "object"
    },
    "Case": {
      "id": "Case",
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "type": "string",
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "description": "REMOVED. The severity of this case. Use priority instead."
        },
        "name": {
          "description": "The resource name for the case.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this case was created."
        },
        "timeZone": {
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API.",
          "type": "string"
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this case was last updated.",
          "type": "string",
          "readOnly": true
        },
        "contactEmail": {
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs.",
          "type": "string"
        },
        "subscriberEmailAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The email addresses to receive updates on this case."
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current status of the support case."
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "priority": {
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "type": "string",
          "description": "The priority of this case.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        }
      },
      "description": "A support case."
    },
    "CompositeMedia": {
      "properties": {
        "blobRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "md5Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "CompositeMedia"
    },
    "DiffChecksumsResponse": {
      "properties": {
        "chunkSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "id": "DiffChecksumsResponse",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "SearchCaseClassificationsResponse": {
      "id": "SearchCaseClassificationsResponse",
      "properties": {
        "caseClassifications": {
          "description": "The classifications retrieved.",
          "items": {
            "$ref": "CaseClassification"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for SearchCaseClassifications endpoint."
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "properties": {
        "readToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadReadHandle": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "ListCommentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "comments": {
          "description": "The list of Comments associated with the given Case.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for the ListComments endpoint.",
      "id": "ListCommentsResponse"
    },
    "ListCasesResponse": {
      "properties": {
        "cases": {
          "description": "The list of cases associated with the Google Cloud Resource, after any filters have been applied.",
          "items": {
            "$ref": "Case"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of the subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "ListCasesResponse",
      "description": "The response message for the ListCases endpoint.",
      "type": "object"
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "batchPath": "batch",
  "version": "v2beta",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "revision": "20230605"
}
