{
  "discoveryVersion": "v1",
  "version_module": true,
  "protocol": "rest",
  "ownerName": "Google",
  "baseUrl": "https://cloudresourcemanager.googleapis.com/",
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "cloudresourcemanager",
  "revision": "20220807",
  "basePath": "",
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Resource Manager",
  "batchPath": "batch",
  "schemas": {
    "DeleteTagKeyMetadata": {
      "type": "object",
      "properties": {},
      "id": "DeleteTagKeyMetadata",
      "description": "Runtime operation information for deleting a TagKey."
    },
    "MoveFolderMetadata": {
      "properties": {
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent."
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization to move the folder to."
        }
      },
      "description": "Metadata pertaining to the folder move process.",
      "id": "MoveFolderMetadata",
      "type": "object"
    },
    "UndeleteFolderMetadata": {
      "properties": {},
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the `Operation` returned by `UndeleteFolder`.",
      "id": "UndeleteFolderMetadata"
    },
    "FolderOperation": {
      "description": "Metadata describing a long running folder operation",
      "type": "object",
      "id": "FolderOperation",
      "properties": {
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "operationType": {
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "type": "string",
          "description": "The type of this operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        }
      }
    },
    "UpdateTagKeyMetadata": {
      "description": "Runtime operation information for updating a TagKey.",
      "properties": {},
      "type": "object",
      "id": "UpdateTagKeyMetadata"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TagValue": {
      "type": "object",
      "description": "A TagValue is a child of a particular TagKey. This is used to group cloud resources for the purpose of controlling them using policies.",
      "id": "TagValue",
      "properties": {
        "updateTime": {
          "description": "Output only. Update time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "parent": {
          "description": "Immutable. The resource name of the new TagValue's parent TagKey. Must be of the form `tagKeys/{tag_key_id}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name for TagValue in the format `tagValues/456`."
        },
        "etag": {
          "type": "string",
          "description": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagValueRequest for details."
        },
        "namespacedName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Namespaced name of the TagValue. Now only supported in the format `{organization_id}/{tag_key_short_name}/{short_name}`. Other formats will be supported when we add non-org parented tags."
        },
        "shortName": {
          "description": "Required. Immutable. User-assigned short name for TagValue. The short name should be unique for TagValues within the same parent TagKey. The short name must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-assigned description of the TagValue. Must not exceed 256 characters. Read-write.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time.",
          "readOnly": true
        }
      }
    },
    "UndeleteOrganizationMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization.",
      "type": "object",
      "properties": {},
      "id": "UndeleteOrganizationMetadata"
    },
    "TagHold": {
      "description": "A TagHold represents the use of a TagValue that is not captured by TagBindings. If a TagValue has any TagHolds, deletion will be blocked. This resource is intended to be created in the same cloud location as the `holder`.",
      "properties": {
        "helpLink": {
          "type": "string",
          "description": "Optional. A URL where an end user can learn more about removing this hold. E.g. `https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing`"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this TagHold was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of a TagHold. This is a String of the form: `tagValues/{tag-value-id}/tagHolds/{tag-hold-id}` (e.g. `tagValues/123/tagHolds/456`). This resource name is generated by the server."
        },
        "origin": {
          "type": "string",
          "description": "Optional. An optional string representing the origin of this request. This field should include human-understandable information to distinguish origins from each other. Must be less than 200 characters. E.g. `migs-35678234`"
        },
        "holder": {
          "description": "Required. The name of the resource where the TagValue is being used. Must be less than 200 characters. E.g. `//compute.googleapis.com/compute/projects/myproject/regions/us-east-1/instanceGroupManagers/instance-group`",
          "type": "string"
        }
      },
      "id": "TagHold",
      "type": "object"
    },
    "TagBinding": {
      "type": "object",
      "description": "A TagBinding represents a connection between a TagValue and a cloud resource (currently project, folder, or organization). Once a TagBinding is created, the TagValue is applied to all the descendants of the cloud resource.",
      "properties": {
        "tagValue": {
          "type": "string",
          "description": "The TagValue of the TagBinding. Must be of the form `tagValues/456`."
        },
        "parent": {
          "description": "The full resource name of the resource the TagValue is bound to. E.g. `//cloudresourcemanager.googleapis.com/projects/123`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the TagBinding. This is a String of the form: `tagBindings/{full-resource-name}/{tag-value-name}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`)."
        }
      },
      "id": "TagBinding"
    },
    "SearchOrganizationsResponse": {
      "properties": {
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "description": "The list of Organizations that matched the search query, possibly paginated.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to be used to retrieve the next page of results. If the result is too large to fit within the page size specified in the request, this field will be set with a token that can be used to fetch the next page of results. If this field is empty, it indicates that this response contains the last page of results."
        }
      },
      "description": "The response returned from the `SearchOrganizations` method.",
      "id": "SearchOrganizationsResponse",
      "type": "object"
    },
    "CreateProjectMetadata": {
      "type": "object",
      "id": "CreateProjectMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "properties": {
        "gettable": {
          "type": "boolean",
          "description": "True if the project can be retrieved using `GetProject`. No other operations on the project are guaranteed to work until the project creation is complete."
        },
        "ready": {
          "description": "True if the project creation process is complete.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation time of the project creation workflow."
        }
      }
    },
    "ListEffectiveTagsResponse": {
      "type": "object",
      "properties": {
        "effectiveTags": {
          "type": "array",
          "description": "A possibly paginated list of effective tags for the specified resource.",
          "items": {
            "$ref": "EffectiveTag"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
        }
      },
      "description": "The response of ListEffectiveTags.",
      "id": "ListEffectiveTagsResponse"
    },
    "Folder": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the folder was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The normal and active state.",
            "The folder has been marked for deletion by the user."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "description": "Output only. The lifecycle state of the folder. Updates to the state must be performed using DeleteFolder and UndeleteFolder."
        },
        "etag": {
          "description": "Output only. A checksum computed by the server based on the current value of the folder resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the folder was last modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "parent": {
          "description": "Required. The folder's parent's resource name. Updates to the folder's parent must be performed using MoveFolder.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The folder's display name. A folder's display name must be unique amongst its siblings. For example, no two folders with the same parent can share the same display name. The display name must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be no longer than 30 characters. This is captured by the regular expression: `[\\p{L}\\p{N}]([\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?`."
        },
        "name": {
          "description": "Output only. The resource name of the folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\".",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the folder was requested to be deleted.",
          "type": "string"
        }
      },
      "description": "A folder in an organization's resource hierarchy, used to organize that organization's resources.",
      "id": "Folder"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListTagHoldsResponse": {
      "description": "The ListTagHolds response.",
      "properties": {
        "tagHolds": {
          "type": "array",
          "items": {
            "$ref": "TagHold"
          },
          "description": "A possibly paginated list of TagHolds."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
        }
      },
      "type": "object",
      "id": "ListTagHoldsResponse"
    },
    "UndeleteFolderRequest": {
      "description": "The UndeleteFolder request message.",
      "type": "object",
      "properties": {},
      "id": "UndeleteFolderRequest"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "type": "object",
      "description": "Metadata describing a long running folder operation",
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation",
      "properties": {
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        },
        "operationType": {
          "description": "The type of this operation.",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        }
      }
    },
    "MoveFolderRequest": {
      "type": "object",
      "id": "MoveFolderRequest",
      "description": "The MoveFolder request message.",
      "properties": {
        "destinationParent": {
          "type": "string",
          "description": "Required. The resource name of the folder or organization which should be the folder's new parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`."
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ListTagBindingsResponse": {
      "properties": {
        "tagBindings": {
          "items": {
            "$ref": "TagBinding"
          },
          "description": "A possibly paginated list of TagBindings for the specified resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        }
      },
      "description": "The ListTagBindings response.",
      "type": "object",
      "id": "ListTagBindingsResponse"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "description": "Metadata describing a long running folder operation",
      "type": "object",
      "properties": {
        "operationType": {
          "description": "The type of this operation.",
          "type": "string",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        }
      },
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation"
    },
    "ProjectCreationStatus": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "id": "ProjectCreationStatus",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Creation time of the project creation workflow.",
          "type": "string",
          "format": "google-datetime"
        },
        "gettable": {
          "description": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete.",
          "type": "boolean"
        },
        "ready": {
          "description": "True if the project creation process is complete.",
          "type": "boolean"
        }
      }
    },
    "DeleteFolderMetadata": {
      "id": "DeleteFolderMetadata",
      "type": "object",
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the `Operation` returned by `DeleteFolder`."
    },
    "Organization": {
      "id": "Organization",
      "type": "object",
      "description": "The root node in the resource hierarchy to which a particular entity's (a company, for example) resources belong.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Output only. A checksum computed by the server based on the current value of the Organization resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable string that refers to the organization in the Google Cloud Console. This string is set by the server and cannot be changed. The string will be set to the primary domain (for example, \"google.com\") of the Google Workspace customer that owns the organization."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the Organization was last modified.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the organization. This is the organization's relative path in the API. Its format is \"organizations/[organization_id]\". For example, \"organizations/1234\"."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the Organization was created.",
          "readOnly": true,
          "type": "string"
        },
        "directoryCustomerId": {
          "description": "Immutable. The G Suite / Workspace customer id used in the Directory API.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state. This is only useful for distinguishing unset values.",
            "The normal and active state.",
            "The organization has been marked for deletion by the user."
          ],
          "readOnly": true,
          "description": "Output only. The organization's current lifecycle state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ]
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the Organization was requested for deletion.",
          "format": "google-datetime"
        }
      }
    },
    "ListLiensResponse": {
      "type": "object",
      "description": "The response message for Liens.ListLiens.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "liens": {
          "items": {
            "$ref": "Lien"
          },
          "type": "array",
          "description": "A list of Liens."
        }
      },
      "id": "ListLiensResponse"
    },
    "MoveProjectMetadata": {
      "type": "object",
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by MoveProject.",
      "id": "MoveProjectMetadata"
    },
    "UndeleteProjectRequest": {
      "type": "object",
      "properties": {},
      "description": "The request sent to the UndeleteProject method.",
      "id": "UndeleteProjectRequest"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "CreateTagKeyMetadata": {
      "id": "CreateTagKeyMetadata",
      "type": "object",
      "properties": {},
      "description": "Runtime operation information for creating a TagKey."
    },
    "MoveProjectRequest": {
      "properties": {
        "destinationParent": {
          "type": "string",
          "description": "Required. The new parent to move the Project under."
        }
      },
      "type": "object",
      "id": "MoveProjectRequest",
      "description": "The request sent to MoveProject method."
    },
    "UndeleteProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by `UndeleteProject`.",
      "type": "object",
      "id": "UndeleteProjectMetadata",
      "properties": {}
    },
    "DeleteOrganizationMetadata": {
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the operation returned by DeleteOrganization.",
      "id": "DeleteOrganizationMetadata",
      "type": "object"
    },
    "ListProjectsResponse": {
      "id": "ListProjectsResponse",
      "type": "object",
      "description": "A page of the response received from the ListProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page. NOTE: A response may contain fewer elements than the request `page_size` and still have a `next_page_token`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
        },
        "projects": {
          "items": {
            "$ref": "Project"
          },
          "type": "array",
          "description": "The list of Projects under the parent. This list can be paginated."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DeleteProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by `DeleteProject`.",
      "id": "DeleteProjectMetadata",
      "type": "object",
      "properties": {}
    },
    "Project": {
      "description": "A project is a high-level Google Cloud entity. It is a container for ACLs, APIs, App Engine Apps, VMs, and other Google Cloud Platform resources.",
      "type": "object",
      "id": "Project",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ],
          "description": "Output only. The project lifecycle state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The project has been marked for deletion by the user (by invoking DeleteProject) or by the system (Google Cloud Platform). This can generally be reversed by invoking UndeleteProject."
          ],
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this resource was modified.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels associated with this project. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?. Label values must be between 0 and 63 characters long and must conform to the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?. No more than 256 labels can be associated with a given resource. Clients should store labels in a representation such as JSON that does not depend on specific characters being disallowed. Example: `\"myBusinessDimension\" : \"businessValue\"`"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A checksum computed by the server based on the current value of the Project resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`",
          "type": "string",
          "readOnly": true
        },
        "parent": {
          "description": "Optional. A reference to a parent Resource. eg., `organizations/123` or `folders/876`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A user-assigned display name of the project. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `My Project`"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. The time at which this resource was requested for deletion.",
          "format": "google-datetime",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Immutable. The unique, user-assigned id of the project. It must be 6 to 30 lowercase ASCII letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited. Example: `tokyo-rain-123`"
        }
      }
    },
    "UpdateFolderMetadata": {
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateFolder.",
      "type": "object",
      "id": "UpdateFolderMetadata"
    },
    "EffectiveTag": {
      "id": "EffectiveTag",
      "properties": {
        "tagValue": {
          "description": "Resource name for TagValue in the format `tagValues/456`.",
          "type": "string"
        },
        "namespacedTagValue": {
          "type": "string",
          "description": "Namespaced name of the TagValue. Now only supported in the format `{organization_id}/{tag_key_short_name}/{tag_value_short_name}`. Other formats will be supported when we add non-org parented tags."
        },
        "tagKey": {
          "description": "The name of the TagKey, in the format `tagKeys/{id}`, such as `tagKeys/123`.",
          "type": "string"
        },
        "inherited": {
          "description": "Indicates the inheritance status of a tag value attached to the given resource. If the tag value is inherited from one of the resource's ancestors, inherited will be true. If false, then the tag value is directly attached to the resource, inherited will be false.",
          "type": "boolean"
        },
        "namespacedTagKey": {
          "type": "string",
          "description": "The namespaced_name of the TagKey. Now only supported in the format of `{organization_id}/{tag_key_short_name}`. Other formats will be supported when we add non-org parented tags."
        }
      },
      "type": "object",
      "description": "An EffectiveTag represents a tag that applies to a resource during policy evaluation. Tags can be either directly bound to a resource or inherited from its ancestor. EffectiveTag contains the name and namespaced_name of the tag value and tag key, with additional fields of `inherited` to indicate the inheritance status of the effective tag."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "FolderOperationError": {
      "id": "FolderOperationError",
      "type": "object",
      "properties": {
        "errorMessageId": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ACTIVE_FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED_VIOLATION",
            "PARENT_DELETED_VIOLATION",
            "CYCLE_INTRODUCED_VIOLATION",
            "FOLDER_BEING_MOVED_VIOLATION",
            "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
            "DELETED_FOLDER_HEIGHT_VIOLATION"
          ],
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder display_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources.",
            "The attempted action would violate the max deleted folder depth constraint."
          ],
          "description": "The type of operation error experienced."
        }
      },
      "description": "A classification of the Folder Operation error."
    },
    "ListTagValuesResponse": {
      "id": "ListTagValuesResponse",
      "type": "object",
      "properties": {
        "tagValues": {
          "description": "A possibly paginated list of TagValues that are direct descendants of the specified parent TagKey.",
          "items": {
            "$ref": "TagValue"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListTagValues` that indicates from where listing should continue. This is currently not used, but the server may at any point start supplying a valid token."
        }
      },
      "description": "The ListTagValues response."
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "DeleteTagBindingMetadata": {
      "description": "Runtime operation information for deleting a TagBinding.",
      "id": "DeleteTagBindingMetadata",
      "properties": {},
      "type": "object"
    },
    "TagKey": {
      "type": "object",
      "id": "TagKey",
      "properties": {
        "description": {
          "description": "Optional. User-assigned description of the TagKey. Must not exceed 256 characters. Read-write.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "namespacedName": {
          "type": "string",
          "description": "Output only. Immutable. Namespaced name of the TagKey.",
          "readOnly": true
        },
        "parent": {
          "type": "string",
          "description": "Immutable. The resource name of the new TagKey's parent. Must be of the form `organizations/{org_id}`."
        },
        "shortName": {
          "description": "Required. Immutable. The user friendly name for a TagKey. The short name should be unique for TagKeys within the same tag namespace. The short name must be 1-63 characters, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "string"
        },
        "purpose": {
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "GCE_FIREWALL"
          ],
          "enumDescriptions": [
            "Unspecified purpose.",
            "Purpose for Compute Engine firewalls. A corresponding purpose_data should be set for the network the tag is intended for. The key should be 'network' and the value should be in the format of the network url id string: https://compute.googleapis.com/v1/projects/{project_number}/global/networks/{network_id}"
          ],
          "type": "string",
          "description": "Optional. A purpose denotes that this Tag is intended for use in policies of a specific policy engine, and will involve that policy engine in management operations involving this Tag. A purpose does not grant a policy engine exclusive rights to the Tag, and it may be referenced by other policy engines. A purpose cannot be changed once set."
        },
        "etag": {
          "type": "string",
          "description": "Optional. Entity tag which users can pass to prevent race conditions. This field is always set in server responses. See UpdateTagKeyRequest for details."
        },
        "purposeData": {
          "description": "Optional. Purpose data corresponds to the policy system that the tag is intended for. See documentation for `Purpose` for formatting of this field. Purpose data cannot be changed once set.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A TagKey, used to group a set of TagValues."
    },
    "UpdateTagValueMetadata": {
      "description": "Runtime operation information for updating a TagValue.",
      "type": "object",
      "id": "UpdateTagValueMetadata",
      "properties": {}
    },
    "CreateFolderMetadata": {
      "type": "object",
      "description": "Metadata pertaining to the Folder creation process.",
      "id": "CreateFolderMetadata",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "parent": {
          "description": "The resource name of the folder or organization we are creating the folder under.",
          "type": "string"
        }
      }
    },
    "SearchFoldersResponse": {
      "id": "SearchFoldersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `SearchFolders` that indicates from where searching should continue."
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "description": "A possibly paginated folder search results. the specified parent resource.",
          "type": "array"
        }
      },
      "description": "The response message for searching folders."
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "UpdateProjectMetadata": {
      "type": "object",
      "id": "UpdateProjectMetadata",
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject."
    },
    "Policy": {
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "Lien": {
      "id": "Lien",
      "properties": {
        "origin": {
          "description": "A stable, user-visible/meaningful string identifying the origin of the Lien, intended to be inspected programmatically. Maximum length of 200 characters. Example: 'compute.googleapis.com'",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A system-generated unique identifier for this Lien. Example: `liens/1234abcd`"
        },
        "restrictions": {
          "description": "The types of operations which should be blocked as a result of this Lien. Each value should correspond to an IAM permission. The server will validate the permissions against those for which Liens are supported. An empty list is meaningless and will be rejected. Example: ['resourcemanager.projects.delete']",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "A reference to the resource this Lien is attached to. The server will validate the parent against those for which Liens are supported. Example: `projects/1234`"
        },
        "reason": {
          "type": "string",
          "description": "Concise user-visible strings indicating why an action cannot be performed on a resource. Maximum length of 200 characters. Example: 'Holds production API key'"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of this Lien."
        }
      },
      "type": "object",
      "description": "A Lien represents an encumbrance on the actions that can be performed on a resource."
    },
    "Binding": {
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "CreateTagValueMetadata": {
      "id": "CreateTagValueMetadata",
      "type": "object",
      "properties": {},
      "description": "Runtime operation information for creating a TagValue."
    },
    "DeleteTagValueMetadata": {
      "id": "DeleteTagValueMetadata",
      "description": "Runtime operation information for deleting a TagValue.",
      "type": "object",
      "properties": {}
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest"
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "description": "The ListFolders response message.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `ListFolders` that indicates from where listing should continue.",
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "description": "A possibly paginated list of folders that are direct descendants of the specified parent resource.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SearchProjectsResponse": {
      "description": "A page of the response received from the SearchProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "projects": {
          "items": {
            "$ref": "Project"
          },
          "description": "The list of Projects that matched the list filter query. This list can be paginated.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        }
      },
      "id": "SearchProjectsResponse",
      "type": "object"
    },
    "ListTagKeysResponse": {
      "type": "object",
      "id": "ListTagKeysResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `ListTagKeys` that indicates from where listing should continue.",
          "type": "string"
        },
        "tagKeys": {
          "type": "array",
          "description": "List of TagKeys that live under the specified parent in the request.",
          "items": {
            "$ref": "TagKey"
          }
        }
      },
      "description": "The ListTagKeys response message."
    },
    "CreateTagBindingMetadata": {
      "description": "Runtime operation information for creating a TagValue.",
      "id": "CreateTagBindingMetadata",
      "type": "object",
      "properties": {}
    }
  },
  "documentationLink": "https://cloud.google.com/resource-manager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Resource Manager API",
  "resources": {
    "organizations": {
      "methods": {
        "setIamPolicy": {
          "flatPath": "v3/organizations/{organizationsId}:setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v3/{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy on an organization resource. Replaces any existing policy. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.setIamPolicy` on the specified organization.",
          "id": "cloudresourcemanager.organizations.setIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          }
        },
        "search": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue."
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Optional. An optional query string used to filter the Organizations to return in the response. Query rules are case-insensitive. ``` | Field | Description | |------------------|--------------------------------------------| | directoryCustomerId, owner.directoryCustomerId | Filters by directory customer id. | | domain | Filters by domain. | ``` Organizations may be queried by `directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Query `directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Query `domain:google.com` returns Organization resources corresponding to the domain `google.com`."
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of organizations to return in the response. The server can return fewer organizations than requested. If unspecified, server picks an appropriate default.",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "SearchOrganizationsResponse"
          },
          "parameterOrder": [],
          "description": "Searches organization resources that are visible to the user and satisfy the specified filter. This method returns organizations in an unspecified order. New organizations do not necessarily appear at the end of the results, and may take a small amount of time to appear. Search will only return organizations on which the user has the permission `resourcemanager.organizations.get`",
          "httpMethod": "GET",
          "path": "v3/organizations:search",
          "id": "cloudresourcemanager.organizations.search",
          "flatPath": "v3/organizations:search"
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "description": "Gets the access control policy for an organization resource. The policy may be empty if no such policy or resource exists. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.getIamPolicy` on the specified organization.",
          "id": "cloudresourcemanager.organizations.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "path": "v3/{+resource}:getIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v3/organizations/{organizationsId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ]
        },
        "testIamPermissions": {
          "id": "cloudresourcemanager.organizations.testIamPermissions",
          "httpMethod": "POST",
          "description": "Returns the permissions that a caller has on the specified organization. The `resource` field should be the organization's resource name, for example: \"organizations/123\". There are no permissions required for making this API call.",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v3/organizations/{organizationsId}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "path": "v3/{+resource}:testIamPermissions"
        },
        "get": {
          "flatPath": "v3/organizations/{organizationsId}",
          "httpMethod": "GET",
          "description": "Fetches an organization resource identified by the specified resource name.",
          "id": "cloudresourcemanager.organizations.get",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+name}",
          "response": {
            "$ref": "Organization"
          }
        }
      }
    },
    "tagValues": {
      "resources": {
        "tagHolds": {
          "methods": {
            "delete": {
              "parameters": {
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Set to true to perform the validations necessary for deleting the resource, but not actually perform the action."
                },
                "name": {
                  "description": "Required. The resource name of the TagHold to delete. Must be of the form: `tagValues/{tag-value-id}/tagHolds/{tag-hold-id}`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^tagValues/[^/]+/tagHolds/[^/]+$"
                }
              },
              "description": "Deletes a TagHold.",
              "flatPath": "v3/tagValues/{tagValuesId}/tagHolds/{tagHoldsId}",
              "path": "v3/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudresourcemanager.tagValues.tagHolds.delete",
              "httpMethod": "DELETE"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudresourcemanager.tagValues.tagHolds.create",
              "path": "v3/{+parent}/tagHolds",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TagHold"
              },
              "flatPath": "v3/tagValues/{tagValuesId}/tagHolds",
              "description": "Creates a TagHold. Returns ALREADY_EXISTS if a TagHold with the same resource and origin exists under the same TagValue.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^tagValues/[^/]+$",
                  "description": "Required. The resource name of the TagHold's parent TagValue. Must be of the form: `tagValues/{tag-value-id}`.",
                  "type": "string",
                  "required": true
                },
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Set to true to perform the validations necessary for creating the resource, but not actually perform the action."
                }
              }
            },
            "list": {
              "id": "cloudresourcemanager.tagValues.tagHolds.list",
              "description": "Lists TagHolds under a TagValue.",
              "response": {
                "$ref": "ListTagHoldsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of TagHolds to return in the response. The server allows a maximum of 300 TagHolds to return. If unspecified, the server will use 100 as the default.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A pagination token returned from a previous call to `ListTagHolds` that indicates where this listing should continue from."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the parent TagValue. Must be of the form: `tagValues/{tag-value-id}`.",
                  "pattern": "^tagValues/[^/]+$",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Criteria used to select a subset of TagHolds parented by the TagValue to return. This field follows the syntax defined by aip.dev/160; the `holder` and `origin` fields are supported for filtering. Currently only `AND` syntax is supported. Some example queries are: * `holder = //compute.googleapis.com/compute/projects/myproject/regions/us-east-1/instanceGroupManagers/instance-group` * `origin = 35678234` * `holder = //compute.googleapis.com/compute/projects/myproject/regions/us-east-1/instanceGroupManagers/instance-group AND origin = 35678234`"
                }
              },
              "flatPath": "v3/tagValues/{tagValuesId}/tagHolds",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v3/{+parent}/tagHolds"
            }
          }
        }
      },
      "methods": {
        "create": {
          "flatPath": "v3/tagValues",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagValues.create",
          "description": "Creates a TagValue as a child of the specified TagKey. If a another request with the same parameters is sent while the original request is in process the second request will receive an error. A maximum of 1000 TagValues can exist under a TagKey at any given time.",
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "description": "Optional. Set as true to perform the validations necessary for creating the resource, but not actually perform the action.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TagValue"
          },
          "path": "v3/tagValues"
        },
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "pattern": "^tagValues/[^/]+$"
            }
          },
          "description": "Sets the access control policy on a TagValue, replacing any existing policy. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have `resourcemanager.tagValues.setIamPolicy` permission on the identified tagValue.",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "path": "v3/{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.tagValues.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v3/tagValues/{tagValuesId}:setIamPolicy"
        },
        "get": {
          "path": "v3/{+name}",
          "response": {
            "$ref": "TagValue"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "description": "Required. Resource name for TagValue to be fetched in the format `tagValues/456`.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.tagValues.get",
          "description": "Retrieves a TagValue. This method will return `PERMISSION_DENIED` if the value does not exist or the user does not have permission to view it.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/tagValues/{tagValuesId}"
        },
        "patch": {
          "description": "Updates the attributes of the TagValue resource.",
          "flatPath": "v3/tagValues/{tagValuesId}",
          "request": {
            "$ref": "TagValue"
          },
          "id": "cloudresourcemanager.tagValues.patch",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. Fields to be updated.",
              "type": "string"
            },
            "validateOnly": {
              "location": "query",
              "description": "Optional. True to perform validations necessary for updating the resource, but not actually perform the action.",
              "type": "boolean"
            },
            "name": {
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "description": "Immutable. Resource name for TagValue in the format `tagValues/456`.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}"
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a TagValue. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have the `cloudresourcemanager.googleapis.com/tagValues.getIamPolicy` permission on the identified TagValue to get the access control policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/tagValues/{tagValuesId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "required": true,
              "pattern": "^tagValues/[^/]+$"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.tagValues.getIamPolicy",
          "httpMethod": "POST",
          "path": "v3/{+resource}:getIamPolicy"
        },
        "list": {
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `ListTagValues` that indicates where this listing should continue from.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of TagValues to return in the response. The server allows a maximum of 300 TagValues to return. If unspecified, the server will use 100 as the default.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "parent": {
              "location": "query",
              "description": "Required. Resource name for TagKey, parent of the TagValues to be listed, in the format `tagKeys/123`.",
              "type": "string"
            }
          },
          "id": "cloudresourcemanager.tagValues.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all TagValues for a specific TagKey.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListTagValuesResponse"
          },
          "path": "v3/tagValues",
          "flatPath": "v3/tagValues"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes a TagValue. The TagValue cannot have any bindings when it is deleted.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^tagValues/[^/]+$",
              "type": "string",
              "description": "Required. Resource name for TagValue to be deleted in the format tagValues/456."
            },
            "validateOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set as true to perform the validations necessary for deletion, but not actually perform the action."
            },
            "etag": {
              "type": "string",
              "location": "query",
              "description": "Optional. The etag known to the client for the expected state of the TagValue. This is to be used for optimistic concurrency."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/tagValues/{tagValuesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.tagValues.delete"
        },
        "testIamPermissions": {
          "id": "cloudresourcemanager.tagValues.testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^tagValues/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+resource}:testIamPermissions",
          "flatPath": "v3/tagValues/{tagValuesId}:testIamPermissions",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified TagValue. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. There are no permissions required for making this API call."
        }
      }
    },
    "tagBindings": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/tagBindings",
          "parameters": {
            "validateOnly": {
              "location": "query",
              "description": "Optional. Set to true to perform the validations necessary for creating the resource, but not actually perform the action.",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "TagBinding"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Creates a TagBinding between a TagValue and a cloud resource (currently project, folder, or organization).",
          "response": {
            "$ref": "Operation"
          },
          "path": "v3/tagBindings",
          "id": "cloudresourcemanager.tagBindings.create"
        },
        "list": {
          "path": "v3/tagBindings",
          "flatPath": "v3/tagBindings",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListTagBindings` that indicates where this listing should continue from. Currently this api returns unpaginated response and `page_token` is ignored.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of TagBindings to return in the response. The server allows a maximum of 300 TagBindings to return. If unspecified, the server will use 100 as the default. Currently this api returns unpaginated response and `page_size` is ignored."
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The full resource name of a resource for which you want to list existing TagBindings. E.g. \"//cloudresourcemanager.googleapis.com/projects/123\""
            }
          },
          "id": "cloudresourcemanager.tagBindings.list",
          "response": {
            "$ref": "ListTagBindingsResponse"
          },
          "parameterOrder": [],
          "description": "Lists the TagBindings for the given cloud resource, as specified with `parent`. NOTE: The `parent` field is expected to be a full resource name: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "delete": {
          "path": "v3/{+name}",
          "flatPath": "v3/tagBindings/{tagBindingsId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^tagBindings/.*$",
              "required": true,
              "description": "Required. The name of the TagBinding. This is a String of the form: `tagBindings/{id}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a TagBinding.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudresourcemanager.tagBindings.delete"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "cloudresourcemanager.operations.get",
          "flatPath": "v3/operations/{operationsId}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v3/{+name}"
        }
      }
    },
    "effectiveTags": {
      "methods": {
        "list": {
          "id": "cloudresourcemanager.effectiveTags.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of effective tags to return in the response. The server allows a maximum of 300 effective tags to return in a single page. If unspecified, the server will use 100 as the default.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListEffectiveTags` that indicates from where this listing should continue.",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "description": "Required. The full resource name of a resource for which you want to list the effective tags. E.g. \"//cloudresourcemanager.googleapis.com/projects/123\"",
              "location": "query"
            }
          },
          "flatPath": "v3/effectiveTags",
          "description": "Return a list of effective tags for the given cloud resource, as specified in `parent`.",
          "response": {
            "$ref": "ListEffectiveTagsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/effectiveTags"
        }
      }
    },
    "tagKeys": {
      "methods": {
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "path": "v3/{+resource}:getIamPolicy",
          "flatPath": "v3/tagKeys/{tagKeysId}:getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^tagKeys/[^/]+$"
            }
          },
          "description": "Gets the access control policy for a TagKey. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `cloudresourcemanager.googleapis.com/tagKeys.getIamPolicy` permission on the specified TagKey.",
          "id": "cloudresourcemanager.tagKeys.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "cloudresourcemanager.tagKeys.delete",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "description": "Deletes a TagKey. The TagKey cannot be deleted if it has any child TagValues.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "etag": {
              "location": "query",
              "type": "string",
              "description": "Optional. The etag known to the client for the expected state of the TagKey. This is to be used for optimistic concurrency."
            },
            "validateOnly": {
              "location": "query",
              "description": "Optional. Set as true to perform validations necessary for deletion, but not actually perform the action.",
              "type": "boolean"
            },
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
[...]
