{
  "title": "Cloud Channel API",
  "discoveryVersion": "v1",
  "id": "cloudchannel:v1",
  "servicePath": "",
  "version_module": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "revision": "20220720",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/channel",
  "kind": "discovery#restDescription",
  "resources": {
    "accounts": {
      "methods": {
        "listTransferableSkus": {
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "id": "cloudchannel.accounts.listTransferableSkus",
          "description": "List TransferableSkus of a customer based on the Cloud Identity ID or Customer Name in the request. Use this method to list the entitlements information of an unowned customer. You should provide the customer's Cloud Identity ID or Customer Name. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller and has no auth token. * The supplied auth token is invalid. * The reseller account making the request is different from the reseller account in the query. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's TransferableSku.",
          "httpMethod": "POST",
          "flatPath": "v1/accounts/{accountsId}:listTransferableSkus",
          "path": "v1/{+parent}:listTransferableSkus",
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The reseller account's resource name. Parent uses the format: accounts/{account_id}",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusResponse"
          }
        },
        "register": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "account"
          ],
          "id": "cloudchannel.accounts.register",
          "parameters": {
            "account": {
              "location": "path",
              "description": "Required. Resource name of the account.",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberRequest"
          },
          "path": "v1/{+account}:register",
          "flatPath": "v1/accounts/{accountsId}:register",
          "description": "Registers a service account with subscriber privileges on the Cloud Pub/Sub topic for this Channel Services account. After you create a subscriber, you get the events through SubscriberEvent Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The topic name with the registered service email address.",
          "response": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberResponse"
          }
        },
        "checkCloudIdentityAccountsExist": {
          "id": "cloudchannel.accounts.checkCloudIdentityAccountsExist",
          "response": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "description": "Confirms the existence of Cloud Identity accounts based on the domain and if the Cloud Identity accounts are owned by the reseller. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * INVALID_VALUE: Invalid domain value in the request. Return value: A list of CloudIdentityCustomerAccount resources for the domain (may be empty) Note: in the v1alpha1 version of the API, a NOT_FOUND error returns if no CloudIdentityCustomerAccount resources match the domain.",
          "path": "v1/{+parent}:checkCloudIdentityAccountsExist",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest"
          },
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The reseller account's resource name. Parent uses the format: accounts/{account_id}"
            }
          },
          "flatPath": "v1/accounts/{accountsId}:checkCloudIdentityAccountsExist",
          "parameterOrder": [
            "parent"
          ]
        },
        "listSubscribers": {
          "path": "v1/{+account}:listSubscribers",
          "parameters": {
            "account": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. Resource name of the account.",
              "location": "path",
              "required": true
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of service accounts to return. The service may return fewer than this value. If unspecified, returns at most 100 service accounts. The maximum value is 1000; the server will coerce values above 1000.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "description": "Lists service accounts with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: A list of service email addresses.",
          "parameterOrder": [
            "account"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "flatPath": "v1/accounts/{accountsId}:listSubscribers",
          "id": "cloudchannel.accounts.listSubscribers",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudChannelV1ListSubscribersResponse"
          }
        },
        "listTransferableOffers": {
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the reseller's account."
            }
          },
          "flatPath": "v1/accounts/{accountsId}:listTransferableOffers",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "path": "v1/{+parent}:listTransferableOffers",
          "description": "List TransferableOffers of a customer based on Cloud Identity ID or Customer Name in the request. Use this method when a reseller gets the entitlement information of an unowned customer. The reseller should provide the customer's Cloud Identity ID or Customer Name. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller and has no auth token. * The supplied auth token is invalid. * The reseller account making the request is different from the reseller account in the query. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of TransferableOffer for the given customer and SKU.",
          "httpMethod": "POST",
          "id": "cloudchannel.accounts.listTransferableOffers",
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersRequest"
          },
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "unregister": {
          "path": "v1/{+account}:unregister",
          "parameters": {
            "account": {
              "description": "Required. Resource name of the account.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberResponse"
          },
          "flatPath": "v1/accounts/{accountsId}:unregister",
          "id": "cloudchannel.accounts.unregister",
          "description": "Unregisters a service account with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. If there are no service accounts left with subscriber privileges, this deletes the topic. You can call ListSubscribers to check for these accounts. Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The topic name that unregistered the service email address. Returns a success response if the service email address wasn't registered with the topic.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "request": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberRequest"
          },
          "parameterOrder": [
            "account"
          ]
        }
      },
      "resources": {
        "offers": {
          "methods": {
            "list": {
              "description": "Lists the Offers the reseller can sell. Possible error codes: * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token for a page of results other than the first page.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The expression to filter results by name (name of the Offer), sku.name (name of the SKU), or sku.product.name (name of the Product). Example 1: sku.product.name=products/p1 AND sku.name!=products/p1/skus/s1 Example 2: name=accounts/a1/offers/o1"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the reseller account from which to list Offers. Parent uses the format: accounts/{account_id}."
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 500 Offers. The maximum value is 1000; the server will coerce values above 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "cloudchannel.accounts.offers.list",
              "path": "v1/{+parent}/offers",
              "response": {
                "$ref": "GoogleCloudChannelV1ListOffersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/offers"
            }
          }
        },
        "customers": {
          "methods": {
            "transferEntitlementsToGoogle": {
              "description": "Transfers customer entitlements from their current reseller to Google. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
              "path": "v1/{+parent}:transferEntitlementsToGoogle",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of the reseller's customer account where the entitlements transfer from. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlementsToGoogle",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest"
              },
              "id": "cloudchannel.accounts.customers.transferEntitlementsToGoogle"
            },
            "transferEntitlements": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsRequest"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlements",
              "description": "Transfers customer entitlements to new reseller. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * Specify all transferring entitlements. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the reseller's customer account that will receive transferred entitlements. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "path": "v1/{+parent}:transferEntitlements",
              "id": "cloudchannel.accounts.customers.transferEntitlements",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "id": "cloudchannel.accounts.customers.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50."
                },
                "filter": {
                  "description": "Optional. Filters applied to the [CloudChannelService.ListCustomers] results. See https://cloud.google.com/channel/docs/concepts/google-cloud/filter-customers for more information.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call."
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers",
              "response": {
                "$ref": "GoogleCloudChannelV1ListCustomersResponse"
              },
              "path": "v1/{+parent}/customers"
            },
            "listPurchasableOffers": {
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableOffers",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "customer"
              ],
              "id": "cloudchannel.accounts.customers.listPurchasableOffers",
              "path": "v1/{+customer}:listPurchasableOffers",
              "description": "Lists the following: * Offers that you can purchase for a customer. * Offers that you can change for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "parameters": {
                "changeOfferPurchase.entitlement": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                },
                "createEntitlementPurchase.sku": {
                  "description": "Required. SKU that the result should be restricted to. Format: products/{product_id}/skus/{sku_id}.",
                  "location": "query",
                  "type": "string"
                },
                "changeOfferPurchase.newSku": {
                  "description": "Optional. Resource name of the new target SKU. Provide this SKU when upgrading or downgrading an entitlement. Format: products/{product_id}/skus/{sku_id}",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token for a page of results other than the first page.",
                  "type": "string"
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 Offers. The maximum value is 1000; the server will coerce values above 1000.",
                  "format": "int32"
                },
                "customer": {
                  "description": "Required. The resource name of the customer to list Offers for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableOffersResponse"
              },
              "httpMethod": "GET"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The update mask that applies to the resource. Optional.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "id": "cloudchannel.accounts.customers.patch",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource.",
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            },
            "listPurchasableSkus": {
              "description": "Lists the following: * SKUs that you can purchase for a customer * SKUs that you can upgrade or downgrade for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableSkus",
              "id": "cloudchannel.accounts.customers.listPurchasableSkus",
              "parameters": {
                "languageCode": {
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "type": "string",
                  "location": "query"
                },
                "changeOfferPurchase.changeType": {
                  "description": "Required. Change Type for the entitlement.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Not used.",
                    "SKU is an upgrade on the current entitlement.",
                    "SKU is a downgrade on the current entitlement."
                  ],
                  "enum": [
                    "CHANGE_TYPE_UNSPECIFIED",
                    "UPGRADE",
                    "DOWNGRADE"
                  ]
                },
                "changeOfferPurchase.entitlement": {
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. The resource name of the customer to list SKUs for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                },
                "createEntitlementPurchase.product": {
                  "description": "Required. List SKUs belonging to this Product. Format: products/{product_id}. Supports products/- to retrieve SKUs for all products.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token for a page of results other than the first page.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableSkusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "path": "v1/{+customer}:listPurchasableSkus"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "flatPath": "v1/accounts/{accountsId}/customers",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/customers",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
              "id": "cloudchannel.accounts.customers.create"
            },
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "description": "Deletes the given Customer permanently. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the customer to delete.",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "type": "string"
                }
              },
              "id": "cloudchannel.accounts.customers.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "import": {
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the reseller's account. Parent takes the format: accounts/{account_id} or accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "cloudchannel.accounts.customers.import",
              "description": "Imports a Customer from the Cloud Identity associated with the provided Cloud Identity ID or domain before a TransferEntitlements call. If a linked Customer already exists and overwrite_if_exists is true, it will update that Customer's data. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * NOT_FOUND: Cloud Identity doesn't exist or was deleted. * INVALID_ARGUMENT: Required parameters are missing, or the auth_token is expired or invalid. * ALREADY_EXISTS: A customer already exists and has conflicting critical fields. Requires an overwrite. Return value: The Customer.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "flatPath": "v1/accounts/{accountsId}/customers:import",
              "request": {
                "$ref": "GoogleCloudChannelV1ImportCustomerRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+parent}/customers:import",
              "httpMethod": "POST"
            },
            "provisionCloudIdentity": {
              "path": "v1/{+customer}:provisionCloudIdentity",
              "description": "Creates a Cloud Identity for the given customer using the customer's information, or the information provided here. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer was not found. * ALREADY_EXISTS: The customer's primary email already exists. Retry after changing the customer's primary contact email. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata contains an instance of OperationMetadata.",
              "parameterOrder": [
                "customer"
              ],
              "id": "cloudchannel.accounts.customers.provisionCloudIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
              },
              "parameters": {
                "customer": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:provisionCloudIdentity"
            },
            "get": {
              "description": "Returns the requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource.",
              "path": "v1/{+name}",
              "id": "cloudchannel.accounts.customers.get",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "entitlements": {
              "methods": {
                "list": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "path": "v1/{+parent}/entitlements",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListEntitlementsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, return at most 50 entitlements. The maximum value is 100; the server will coerce values above 100.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the reseller's customer account to list entitlements for. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token for a page of results other than the first page. Obtained using ListEntitlementsResponse.next_page_token of the previous CloudChannelService.ListEntitlements call."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Lists Entitlements belonging to a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's Entitlements.",
                  "id": "cloudchannel.accounts.customers.entitlements.list",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "description": "Cancels a previously fulfilled entitlement. An entitlement cancellation is a long-running operation. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * FAILED_PRECONDITION: There are Google Cloud projects linked to the Google Cloud entitlement's Cloud Billing subaccount. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * DELETION_TYPE_NOT_ALLOWED: Cancel is only allowed for Google Workspace add-ons, or entitlements for Google Cloud's development platform. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CancelEntitlementRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the entitlement to cancel. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:cancel",
                  "id": "cloudchannel.accounts.customers.entitlements.cancel",
                  "httpMethod": "POST"
                },
                "changeOffer": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Updates the Offer for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Offer or Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeOfferRequest"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeOffer",
                  "id": "cloudchannel.accounts.customers.entitlements.changeOffer",
                  "path": "v1/{+name}:changeOffer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path"
                    }
                  }
                },
                "changeParameters": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeParametersRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeParameters",
                  "id": "cloudchannel.accounts.customers.entitlements.changeParameters",
                  "path": "v1/{+name}:changeParameters",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Change parameters of the entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. For example, the number of seats being changed is greater than the allowed number of max seats, or decreasing seats for a commitment based plan. * NOT_FOUND: Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true
                    }
                  }
                },
                "suspend": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.suspend",
                  "request": {
                    "$ref": "GoogleCloudChannelV1SuspendEntitlementRequest"
                  },
                  "description": "Suspends a previously fulfilled entitlement. An entitlement suspension is a long-running operation. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_ACTIVE: Entitlement is not active. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:suspend",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to suspend. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:suspend"
                },
                "changeRenewalSettings": {
                  "description": "Updates the renewal settings for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_COMMITMENT_PLAN: Renewal Settings are only applicable for a commitment plan. Can't enable or disable renewals for non-commitment plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeRenewalSettingsRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeRenewalSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.changeRenewalSettings",
                  "path": "v1/{+name}:changeRenewalSettings"
                },
                "get": {
                  "description": "Returns the requested Entitlement resource. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer entitlement was not found. Return value: The requested Entitlement resource.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Entitlement"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "lookupOffer": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:lookupOffer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Offer"
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.lookupOffer",
                  "parameterOrder": [
                    "entitlement"
                  ],
                  "description": "Returns the requested Offer resource. Possible error codes: * PERMISSION_DENIED: The entitlement doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement or offer was not found. Return value: The Offer resource.",
                  "path": "v1/{+entitlement}:lookupOffer",
                  "parameters": {
                    "entitlement": {
                      "description": "Required. The resource name of the entitlement to retrieve the Offer. Entitlement uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "activate": {
                  "id": "cloudchannel.accounts.customers.entitlements.activate",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the entitlement to activate. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:activate",
                  "description": "Activates a previously suspended entitlement. Entitlements suspended for pending ToS acceptance can't be activated using this method. An entitlement activation is a long-running operation and it updates the state of the customer entitlement. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * SUSPENSION_NOT_RESELLER_INITIATED: Can only activate reseller-initiated suspensions and entitlements that have accepted the TOS. * NOT_SUSPENDED: Can only activate suspended entitlements not in an ACTIVE state. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ActivateEntitlementRequest"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "create": {
                  "id": "cloudchannel.accounts.customers.entitlements.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/entitlements",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "description": "Creates an entitlement for a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * There is already a customer entitlement for a SKU from the same product family. * INVALID_VALUE: Make sure the OfferId is valid. If it is, contact Google Channel support for further troubleshooting. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: * The SKU was already purchased for the customer. * The customer's primary email already exists. Retry after changing the customer's primary contact email. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The domain required for purchasing a SKU has not been verified. * A pre-requisite SKU required to purchase an Add-On SKU is missing. For example, Google Workspace Business Starter is required to purchase Vault or Drive. * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the reseller's customer account in which to create the entitlement. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1CreateEntitlementRequest"
                  }
                },
                "startPaidService": {
                  "id": "cloudchannel.accounts.customers.entitlements.startPaidService",
                  "request": {
                    "$ref": "GoogleCloudChannelV1StartPaidServiceRequest"
                  },
                  "path": "v1/{+name}:startPaidService",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:startPaidService",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the entitlement to start a paid service for. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "description": "Starts paid service for a trial entitlement. Starts paid service for a trial entitlement immediately. This method is only applicable if a plan is set up for a trial entitlement but has some trial days remaining. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * FAILED_PRECONDITION/NOT_IN_TRIAL: This method only works for entitlement on trial plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata."
                }
              }
            },
            "customerRepricingConfigs": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes the given CustomerRepricingConfig permanently. You can only delete configs if their RepricingConfig.effective_invoice_month is set to a date after the current month. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The CustomerRepricingConfig is active or in the past. * NOT_FOUND: No CustomerRepricingConfig found for the name in the request.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the customer repricing config rule to delete. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a CustomerRepricingConfig. Call this method to set modifications for a specific customer's bill. This method overwrites the existing CustomerRepricingConfig. You can only update configs if the RepricingConfig.effective_invoice_month is a future month. To make changes to configs for the current month, use CreateCustomerRepricingConfig, taking note of its restrictions. You cannot update the RepricingConfig.effective_invoice_month. When updating a config in the future: * This config must already exist. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated CustomerRepricingConfig resource, otherwise returns an error.",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.patch",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse"
                  },
                  "path": "v1/{+parent}/customerRepricingConfigs",
                  "description": "Lists information about how a Reseller modifies their bill before sending it to a Customer. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the CustomerRepricingConfig resources. The data for each resource is displayed in the ascending order of: * customer ID * RepricingConfig.EntitlementGranularity.entitlement * RepricingConfig.effective_invoice_month * CustomerRepricingConfig.update_time If unsuccessful, returns an error.",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.list",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of repricing configs to return. The service may return fewer than this value. If unspecified, returns a maximum of 50 rules. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results beyond the first page. Obtained through ListCustomerRepricingConfigsResponse.next_page_token of the previous CloudChannelService.ListCustomerRepricingConfigs call."
                    },
                    "filter": {
                      "description": "Optional. A filter for [CloudChannelService.ListCustomerRepricingConfigs] results (customer only). You can use this filter when you support a BatchGet-like query. To use the filter, you must set `parent=accounts/{account_id}/customers/-`. Example: customer = accounts/account_id/customers/c1 OR customer = accounts/account_id/customers/c2.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the customer. Parent uses the format: accounts/{account_id}/customers/{customer_id}. Supports accounts/{account_id}/customers/- to retrieve configs for all customers.",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs/{customerRepricingConfigsId}",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.get",
                  "description": "Gets information about how a Reseller modifies their bill before sending it to a Customer. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The CustomerRepricingConfig was not found. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the CustomerRepricingConfig resource, otherwise returns an error.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/customerRepricingConfigs/[^/]+$",
                      "description": "Required. The resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a CustomerRepricingConfig. Call this method to set modifications for a specific customer's bill. You can only create configs if the RepricingConfig.effective_invoice_month is a future month. If needed, you can create a config for the current month, with some restrictions. When creating a config for a future month, make sure there are no existing configs for that RepricingConfig.effective_invoice_month. The following restrictions are for creating configs in the current month. * This functionality is reserved for recovering from an erroneous config, and should not be used for regular business cases. * The new config will not modify exports used with other configs. Changes to the config may be immediate, but may take up to 24 hours. * There is a limit of ten configs for any RepricingConfig.EntitlementGranularity.entitlement or RepricingConfig.effective_invoice_month. * The contained CustomerRepricingConfig.repricing_config vaule must be different from the value used in the current config for a RepricingConfig.EntitlementGranularity.entitlement. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The CustomerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated CustomerRepricingConfig resource, otherwise returns an error.",
                  "id": "cloudchannel.accounts.customers.customerRepricingConfigs.create",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "path": "v1/{+parent}/customerRepricingConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the customer that will receive this repricing config. Parent uses the format: accounts/{account_id}/customers/{customer_id}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/customerRepricingConfigs"
                }
              }
            }
          }
        },
        "channelPartnerLinks": {
          "resources": {
            "channelPartnerRepricingConfigs": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "path": "v1/{+parent}/channelPartnerRepricingConfigs",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs",
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "description": "Required. The resource name of the ChannelPartner that will receive the repricing config. Parent uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}",
                      "location": "path"
                    }
                  },
                  "description": "Creates a ChannelPartnerRepricingConfig. Call this method to set modifications for a specific ChannelPartner's bill. You can only create configs if the RepricingConfig.effective_invoice_month is a future month. If needed, you can create a config for the current month, with some restrictions. When creating a config for a future month, make sure there are no existing configs for that RepricingConfig.effective_invoice_month. The following restrictions are for creating configs in the current month. * This functionality is reserved for recovering from an erroneous config, and should not be used for regular business cases. * The new config will not modify exports used with other configs. Changes to the config may be immediate, but may take up to 24 hours. * There is a limit of ten configs for any ChannelPartner or RepricingConfig.effective_invoice_month. * The contained ChannelPartnerRepricingConfig.repricing_config vaule must be different from the value used in the current config for a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The ChannelPartnerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated ChannelPartnerRepricingConfig resource, otherwise returns an error."
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs/{channelPartnerRepricingConfigsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/channelPartnerRepricingConfigs/[^/]+$",
                      "type": "string",
                      "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a ChannelPartnerRepricingConfig. Call this method to set modifications for a specific ChannelPartner's bill. This method overwrites the existing CustomerRepricingConfig. You can only update configs if the RepricingConfig.effective_invoice_month is a future month. To make changes to configs for the current month, use CreateChannelPartnerRepricingConfig, taking note of its restrictions. You cannot update the RepricingConfig.effective_invoice_month. When updating a config in the future: * This config must already exist. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Also displays if the updated config is for the current month or past months. * NOT_FOUND: The ChannelPartnerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated ChannelPartnerRepricingConfig resource, otherwise returns an error.",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/channelPartnerRepricingConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the channel partner repricing config rule to delete."
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs/{channelPartnerRepricingConfigsId}",
                  "description": "Deletes the given ChannelPartnerRepricingConfig permanently. You can only delete configs if their RepricingConfig.effective_invoice_month is set to a date after the current month. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The ChannelPartnerRepricingConfig is active or in the past. * NOT_FOUND: No ChannelPartnerRepricingConfig found for the name in the request.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the ChannelPartnerRepricingConfig Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/channelPartnerRepricingConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.get",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ChannelPartnerRepricingConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Gets information about how a Distributor modifies their bill before sending it to a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The ChannelPartnerRepricingConfig was not found. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the ChannelPartnerRepricingConfig resource, otherwise returns an error.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs/{channelPartnerRepricingConfigsId}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Lists information about how a Reseller modifies their bill before sending it to a ChannelPartner. Possible Error Codes: * PERMISSION_DENIED: If the account making the request and the account being queried are different. * NOT_FOUND: The ChannelPartnerRepricingConfig specified does not exist or is not associated with the given account. * INTERNAL: Any non-user error related to technical issues in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the ChannelPartnerRepricingConfig resources. The data for each resource is displayed in the ascending order of: * channel partner ID * RepricingConfig.effective_invoice_month * ChannelPartnerRepricingConfig.update_time If unsuccessful, returns an error.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.channelPartnerRepricingConfigs.list",
                  "path": "v1/{+parent}/channelPartnerRepricingConfigs",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/channelPartnerRepricingConfigs",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results beyond the first page. Obtained through ListChannelPartnerRepricingConfigsResponse.next_page_token of the previous CloudChannelService.ListChannelPartnerRepricingConfigs call."
                    },
                    "parent": {
                      "description": "Required. The resource name of the account's ChannelPartnerLink. Parent uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}. Supports accounts/{account_id}/channelPartnerLinks/- to retrieve configs for all channel partners.",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of repricing configs to return. The service may return fewer than this value. If unspecified, returns a maximum of 50 rules. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. A filter for [CloudChannelService.ListChannelPartnerRepricingConfigs] results (channel_partner_link only). You can use this filter when you support a BatchGet-like query. To use the filter, you must set `parent=accounts/{account_id}/channelPartnerLinks/-`. Example: `channel_partner_link = accounts/account_id/channelPartnerLinks/c1` OR `channel_partner_link = accounts/account_id/channelPartnerLinks/c2`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "customers": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "description": "Returns the requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource."
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filters applied to the [CloudChannelService.ListCustomers] results. See https://cloud.google.com/channel/docs/concepts/google-cloud/filter-customers for more information.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50.",
                      "format": "int32"
                    }
                  },
                  "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListCustomersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.list",
                  "path": "v1/{+parent}/customers",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers"
                },
                "delete": {
                  "description": "Deletes the given Customer permanently. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the customer to delete."
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/customers",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers",
                  "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers/{customersId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+/customers/[^/]+$",
                      "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The update mask that applies to the resource. Optional."
                    }
                  },
                  "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource."
                },
                "import": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the reseller's account. Parent takes the format: accounts/{account_id} or accounts/{account_id}/channelPartnerLinks/{channel_partner_id}"
                    }
                  },
                  "id": "cloudchannel.accounts.channelPartnerLinks.customers.import",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ImportCustomerRequest"
                  },
                  "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}/customers:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/customers:import",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Customer"
                  },
                  "description": "Imports a Customer from the Cloud Identity associated with the provided Cloud Identity ID or domain before a TransferEntitlements call. If a linked Customer already exists and overwrite_if_exists is true, it will update that Customer's data. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * NOT_FOUND: Cloud Identity doesn't exist or was deleted. * INVALID_ARGUMENT: Required parameters are missing, or the auth_token is expired or invalid. * ALREADY_EXISTS: A customer already exists and has conflicting critical fields. Requires an overwrite. Return value: The Customer.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Returns the requested ChannelPartnerLink resource. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: ChannelPartnerLink resource not found because of an invalid channel partner link name. Return value: The ChannelPartnerLink resource.",
              "id": "cloudchannel.accounts.channelPartnerLinks.get",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the channel partner link to retrieve. Name uses the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner.",
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
[...]
