{
  "canonicalName": "Cloud Build",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "revision": "20221027",
  "title": "Cloud Build API",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "name": "cloudbuild",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "CreateGitLabConnectedRepositoryRequest": {
      "description": "Request to connect a repository from a connected GitLab host.",
      "id": "CreateGitLabConnectedRepositoryRequest",
      "properties": {
        "gitlabConnectedRepository": {
          "$ref": "GitLabConnectedRepository",
          "description": "Required. The GitLab repository to connect."
        },
        "parent": {
          "description": "Required. The name of the `GitLabConfig` that adds connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SlackDelivery": {
      "properties": {
        "webhookUri": {
          "$ref": "NotifierSecretRef",
          "description": "The secret reference for the Slack webhook URI for sending messages to a channel."
        }
      },
      "type": "object",
      "id": "SlackDelivery",
      "description": "SlackDelivery is the delivery configuration for delivering Slack messages via webhooks. See Slack webhook documentation at: https://api.slack.com/messaging/webhooks."
    },
    "Build": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the request to create the build was received.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Customer-readable message about the current status.",
          "type": "string"
        },
        "tags": {
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "approval": {
          "readOnly": true,
          "$ref": "BuildApproval",
          "description": "Output only. Describes this build's approval configuration, status, and result."
        },
        "serviceAccount": {
          "type": "string",
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. "
        },
        "projectId": {
          "description": "Output only. ID of the project.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which execution of the build was started."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the build."
        },
        "logsBucket": {
          "description": "Google Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
          "type": "string"
        },
        "artifacts": {
          "$ref": "Artifacts",
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps."
        },
        "steps": {
          "type": "array",
          "description": "Required. The operations to be performed on the workspace.",
          "items": {
            "$ref": "BuildStep"
          }
        },
        "source": {
          "description": "The location of the source files to build.",
          "$ref": "Source"
        },
        "timeout": {
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is ten minutes.",
          "format": "google-duration",
          "type": "string"
        },
        "images": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`."
        },
        "failureInfo": {
          "description": "Output only. Contains information about the build when status=FAILURE.",
          "readOnly": true,
          "$ref": "FailureInfo"
        },
        "sourceProvenance": {
          "readOnly": true,
          "$ref": "SourceProvenance",
          "description": "Output only. A permanent fixed identifier for source."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "readOnly": true,
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "description": "Output only. Status of the build."
        },
        "logUrl": {
          "type": "string",
          "description": "Output only. URL to logs for this build in Google Cloud Console.",
          "readOnly": true
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "Secrets"
        },
        "queueTtl": {
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "type": "string",
          "format": "google-duration"
        },
        "options": {
          "$ref": "BuildOptions",
          "description": "Special options for this build."
        },
        "name": {
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "readOnly": true,
          "type": "string"
        },
        "finishTime": {
          "readOnly": true,
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "format": "google-datetime",
          "type": "string"
        },
        "timing": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "TimeSpan"
          },
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "type": "object"
        },
        "buildTriggerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "results": {
          "readOnly": true,
          "description": "Output only. Results of the build.",
          "$ref": "Results"
        },
        "secrets": {
          "items": {
            "$ref": "Secret"
          },
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets",
          "type": "array"
        },
        "warnings": {
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "items": {
            "$ref": "Warning"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "id": "Build",
      "type": "object"
    },
    "SourceProvenance": {
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "id": "SourceProvenance",
      "properties": {
        "resolvedStorageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        },
        "resolvedStorageSource": {
          "$ref": "StorageSource",
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
        },
        "resolvedRepoSource": {
          "$ref": "RepoSource",
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
        },
        "fileHashes": {
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SecretManagerSecret": {
      "properties": {
        "env": {
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step.",
          "type": "string"
        },
        "versionName": {
          "type": "string",
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
        }
      },
      "id": "SecretManagerSecret",
      "type": "object",
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager."
    },
    "BitbucketServerConfig": {
      "type": "object",
      "description": "BitbucketServerConfig represents the configuration for a Bitbucket Server.",
      "id": "BitbucketServerConfig",
      "properties": {
        "connectedRepositories": {
          "description": "Output only. Connected Bitbucket Server repositories for this config.",
          "readOnly": true,
          "items": {
            "$ref": "BitbucketServerRepositoryId"
          },
          "type": "array"
        },
        "peeredNetwork": {
          "type": "string",
          "description": "Optional. The network to be used when reaching out to the Bitbucket Server instance. The VPC network must be enabled for private service connection. This should be set if the Bitbucket Server instance is hosted on-premises and not reachable by public internet. If this field is left empty, no network peering will occur and calls to the Bitbucket Server instance will be made over the public internet. Must be in the format `projects/{project}/global/networks/{network}`, where {project} is a project number or id and {network} is the name of a VPC network in the project."
        },
        "createTime": {
          "description": "Time when the config was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to Bitbucket Server. The format should be PEM format but the extension can be one of .pem, .cer, or .crt.",
          "type": "string"
        },
        "hostUri": {
          "type": "string",
          "description": "Required. Immutable. The URI of the Bitbucket Server host. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig."
        },
        "name": {
          "description": "The resource name for the config.",
          "type": "string"
        },
        "username": {
          "description": "Username of the account Cloud Build will use on Bitbucket Server.",
          "type": "string"
        },
        "apiKey": {
          "description": "Required. Immutable. API Key that will be attached to webhook. Once this field has been set, it cannot be changed. If you need to change it, please create another BitbucketServerConfig.",
          "type": "string"
        },
        "webhookKey": {
          "readOnly": true,
          "description": "Output only. UUID included in webhook requests. The UUID is used to look up the corresponding config.",
          "type": "string"
        },
        "secrets": {
          "description": "Required. Secret Manager secrets needed by the config.",
          "$ref": "BitbucketServerSecrets"
        }
      }
    },
    "BuildApproval": {
      "type": "object",
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "properties": {
        "config": {
          "$ref": "ApprovalConfig",
          "readOnly": true,
          "description": "Output only. Configuration for manual approval of this build."
        },
        "state": {
          "description": "Output only. The state of this build's approval.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true
        },
        "result": {
          "readOnly": true,
          "description": "Output only. Result of manual approval for this Build.",
          "$ref": "ApprovalResult"
        }
      },
      "id": "BuildApproval"
    },
    "CreateGitHubEnterpriseConfigOperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        },
        "githubEnterpriseConfig": {
          "description": "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`.",
          "type": "string"
        }
      },
      "description": "Metadata for `CreateGithubEnterpriseConfig` operation.",
      "type": "object",
      "id": "CreateGitHubEnterpriseConfigOperationMetadata"
    },
    "GitHubEnterpriseConfig": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name to display for this config.",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise."
        },
        "webhookKey": {
          "description": "The key that should be attached to webhook calls to the ReceiveWebhook endpoint.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the installation was associated with the project.",
          "format": "google-datetime"
        },
        "peeredNetwork": {
          "type": "string",
          "description": "Optional. The network to be used when reaching out to the GitHub Enterprise server. The VPC network must be enabled for private service connection. This should be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, no network peering will occur and calls to the GitHub Enterprise server will be made over the public internet. Must be in the format `projects/{project}/global/networks/{network}`, where {project} is a project number or id and {network} is the name of a VPC network in the project."
        },
        "secrets": {
          "$ref": "GitHubEnterpriseSecrets",
          "description": "Names of secrets in Secret Manager."
        },
        "appId": {
          "type": "string",
          "description": "Required. The GitHub app id of the Cloud Build app on the GitHub Enterprise server.",
          "format": "int64"
        },
        "hostUrl": {
          "description": "The URL of the github enterprise host the configuration is for.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/githubEnterpriseConfigs/{$config_id}\"",
          "type": "string"
        }
      },
      "description": "GitHubEnterpriseConfig represents a configuration for a GitHub Enterprise server.",
      "id": "GitHubEnterpriseConfig"
    },
    "GitLabConnectedRepository": {
      "id": "GitLabConnectedRepository",
      "description": "GitLabConnectedRepository represents a GitLab connected repository request response.",
      "properties": {
        "parent": {
          "description": "The name of the `GitLabConfig` that added connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`",
          "type": "string"
        },
        "repo": {
          "description": "The GitLab repositories to connect.",
          "$ref": "GitLabRepositoryId"
        },
        "status": {
          "description": "Output only. The status of the repo connection request.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DeleteGitLabConfigOperationMetadata": {
      "type": "object",
      "description": "Metadata for `DeleteGitLabConfig` operation.",
      "properties": {
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        },
        "gitlabConfig": {
          "description": "The resource name of the GitLabConfig to be created. Format: `projects/{project}/locations/{location}/gitlabConfigs/{id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "DeleteGitLabConfigOperationMetadata"
    },
    "ListBitbucketServerConfigsResponse": {
      "type": "object",
      "description": "RPC response object returned by ListBitbucketServerConfigs RPC method.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "bitbucketServerConfigs": {
          "description": "A list of BitbucketServerConfigs",
          "type": "array",
          "items": {
            "$ref": "BitbucketServerConfig"
          }
        }
      },
      "id": "ListBitbucketServerConfigsResponse"
    },
    "Warning": {
      "type": "object",
      "properties": {
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "description": "The priority for this warning.",
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ],
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Explanation of the warning generated."
        }
      },
      "description": "A non-fatal problem encountered during the execution of the build.",
      "id": "Warning"
    },
    "CreateWorkerPoolOperationMetadata": {
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was completed."
        },
        "workerPool": {
          "description": "The resource name of the `WorkerPool` to create. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for the `CreateWorkerPool` operation.",
      "id": "CreateWorkerPoolOperationMetadata",
      "type": "object"
    },
    "GitLabRepositoryId": {
      "properties": {
        "webhookId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The ID of the webhook that was created for receiving events from this repo. We only create and manage a single webhook for each repo."
        },
        "id": {
          "type": "string",
          "description": "Required. Identifier for the repository. example: \"namespace/project-slug\", namespace is usually the username or group ID"
        }
      },
      "id": "GitLabRepositoryId",
      "description": "GitLabRepositoryId identifies a specific repository hosted on GitLab.com or GitLabEnterprise",
      "type": "object"
    },
    "PushFilter": {
      "description": "Push contains filter properties for matching GitHub git pushes.",
      "type": "object",
      "id": "PushFilter",
      "properties": {
        "invertRegex": {
          "type": "boolean",
          "description": "When true, only trigger a build if the revision regex does NOT match the git_ref regex."
        },
        "branch": {
          "type": "string",
          "description": "Regexes matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "tag": {
          "type": "string",
          "description": "Regexes matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        }
      }
    },
    "Hash": {
      "id": "Hash",
      "properties": {
        "type": {
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash."
          ],
          "description": "The type of hash that was performed.",
          "type": "string",
          "enum": [
            "NONE",
            "SHA256",
            "MD5"
          ]
        },
        "value": {
          "format": "byte",
          "description": "The hash value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Container message for hash values."
    },
    "PythonPackage": {
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
        },
        "paths": {
          "type": "array",
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PythonPackage",
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
    },
    "ApprovalConfig": {
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "id": "ApprovalConfig",
      "type": "object",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      }
    },
    "CreateGitLabConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time the operation was created.",
          "type": "string"
        },
        "gitlabConfig": {
          "type": "string",
          "description": "The resource name of the GitLabConfig to be created. Format: `projects/{project}/locations/{location}/gitlabConfigs/{id}`."
        }
      },
      "id": "CreateGitLabConfigOperationMetadata",
      "description": "Metadata for `CreateGitLabConfig` operation."
    },
    "RetryBuildRequest": {
      "id": "RetryBuildRequest",
      "description": "Specifies a build to retry.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Build ID of the original build."
        },
        "name": {
          "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. ID of the project."
        }
      },
      "type": "object"
    },
    "BatchCreateBitbucketServerConnectedRepositoriesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. Requests to connect Bitbucket Server repositories.",
          "items": {
            "$ref": "CreateBitbucketServerConnectedRepositoryRequest"
          }
        }
      },
      "description": "RPC request object accepted by BatchCreateBitbucketServerConnectedRepositories RPC method.",
      "id": "BatchCreateBitbucketServerConnectedRepositoriesRequest",
      "type": "object"
    },
    "GitLabEventsConfig": {
      "id": "GitLabEventsConfig",
      "properties": {
        "gitlabConfig": {
          "description": "Output only. The GitLabConfig specified in the gitlab_config_resource field.",
          "readOnly": true,
          "$ref": "GitLabConfig"
        },
        "projectNamespace": {
          "description": "Namespace of the GitLab project.",
          "type": "string"
        },
        "push": {
          "description": "Filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "Filter to match changes in pull requests."
        },
        "gitlabConfigResource": {
          "description": "The GitLab config resource that this trigger config maps to.",
          "type": "string"
        }
      },
      "description": "GitLabEventsConfig describes the configuration of a trigger that creates a build whenever a GitLab event is received.",
      "type": "object"
    },
    "ApproveBuildRequest": {
      "description": "Request to approve or reject a pending build.",
      "id": "ApproveBuildRequest",
      "properties": {
        "approvalResult": {
          "$ref": "ApprovalResult",
          "description": "Approval decision and metadata."
        }
      },
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a SCM host connection.",
      "properties": {
        "service": {
          "description": "The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      },
      "id": "ServiceDirectoryConfig",
      "type": "object"
    },
    "ListGitLabRepositoriesResponse": {
      "description": "RPC response object returned by the ListGitLabRepositories RPC method.",
      "id": "ListGitLabRepositoriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "gitlabRepositories": {
          "items": {
            "$ref": "GitLabRepository"
          },
          "type": "array",
          "description": "List of GitLab repositories"
        }
      },
      "type": "object"
    },
    "ApprovalResult": {
      "id": "ApprovalResult",
      "properties": {
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        },
        "decision": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Required. The decision of this manual approval."
        },
        "approvalTime": {
          "description": "Output only. The time when the approval decision was made.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "url": {
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
          "type": "string"
        },
        "approverAccount": {
          "readOnly": true,
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called.",
          "type": "string"
        }
      },
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
      "type": "object"
    },
    "RepoSource": {
      "type": "object",
      "description": "Location of the source in a Google Cloud Source Repository.",
      "properties": {
        "substitutions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        },
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "commitSha": {
          "type": "string",
          "description": "Explicit commit SHA to build."
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
        },
        "repoName": {
          "type": "string",
          "description": "Name of the Cloud Source Repository."
        },
        "branchName": {
          "type": "string",
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "dir": {
          "description": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        }
      },
      "id": "RepoSource"
    },
    "NotifierSecret": {
      "description": "NotifierSecret is the container that maps a secret name (reference) to its Google Cloud Secret Manager resource path.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the local name of the secret, such as the verbatim string \"my-smtp-password\"."
        },
        "value": {
          "description": "Value is interpreted to be a resource path for fetching the actual (versioned) secret data for this secret. For example, this would be a Google Cloud Secret Manager secret version resource path like: \"projects/my-project/secrets/my-secret/versions/latest\".",
          "type": "string"
        }
      },
      "id": "NotifierSecret"
    },
    "BatchCreateBitbucketServerConnectedRepositoriesResponse": {
      "type": "object",
      "properties": {
        "bitbucketServerConnectedRepositories": {
          "items": {
            "$ref": "BitbucketServerConnectedRepository"
          },
          "type": "array",
          "description": "The connected Bitbucket Server repositories."
        }
      },
      "description": "Response of BatchCreateBitbucketServerConnectedRepositories RPC method including all successfully connected Bitbucket Server repositories.",
      "id": "BatchCreateBitbucketServerConnectedRepositoriesResponse"
    },
    "PrivatePoolV1Config": {
      "properties": {
        "workerConfig": {
          "description": "Machine configuration for the workers in the pool.",
          "$ref": "WorkerConfig"
        },
        "networkConfig": {
          "description": "Network configuration for the pool.",
          "$ref": "NetworkConfig"
        }
      },
      "type": "object",
      "description": "Configuration for a V1 `PrivatePool`.",
      "id": "PrivatePoolV1Config"
    },
    "InlineSecret": {
      "id": "InlineSecret",
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "properties": {
        "envMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        }
      },
      "type": "object"
    },
    "UpdateGitHubEnterpriseConfigOperationMetadata": {
      "properties": {
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the operation was completed."
        },
        "createTime": {
          "description": "Time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be updated. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        }
      },
      "description": "Metadata for `UpdateGitHubEnterpriseConfig` operation.",
      "id": "UpdateGitHubEnterpriseConfigOperationMetadata",
      "type": "object"
    },
    "ListBitbucketServerRepositoriesResponse": {
      "properties": {
        "bitbucketServerRepositories": {
          "type": "array",
          "items": {
            "$ref": "BitbucketServerRepository"
          },
          "description": "List of Bitbucket Server repositories."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "RPC response object returned by the ListBitbucketServerRepositories RPC method.",
      "id": "ListBitbucketServerRepositoriesResponse",
      "type": "object"
    },
    "CreateBitbucketServerConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The resource name of the BitbucketServerConfig to be created. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was completed."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was created."
        }
      },
      "description": "Metadata for `CreateBitbucketServerConfig` operation.",
      "id": "CreateBitbucketServerConfigOperationMetadata"
    },
    "PullRequestFilter": {
      "id": "PullRequestFilter",
      "type": "object",
      "description": "PullRequestFilter contains filter properties for matching GitHub Pull Requests.",
      "properties": {
        "commentControl": {
          "type": "string",
          "description": "Configure builds to run whether a repository owner or collaborator need to comment `/gcbrun`.",
          "enumDescriptions": [
            "Do not require comments on Pull Requests before builds are triggered.",
            "Enforce that repository owners or collaborators must comment on Pull Requests before builds are triggered.",
            "Enforce that repository owners or collaborators must comment on external contributors' Pull Requests before builds are triggered."
          ],
          "enum": [
            "COMMENTS_DISABLED",
            "COMMENTS_ENABLED",
            "COMMENTS_ENABLED_FOR_EXTERNAL_CONTRIBUTORS_ONLY"
          ]
        },
        "branch": {
          "description": "Regex of branches to match. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "If true, branches that do NOT match the git_ref will trigger a build."
        }
      }
    },
    "CancelBuildRequest": {
      "type": "object",
      "id": "CancelBuildRequest",
      "properties": {
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "id": {
          "description": "Required. ID of the build.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`"
        }
      },
      "description": "Request to cancel an ongoing build."
    },
    "UploadedMavenArtifact": {
      "id": "UploadedMavenArtifact",
      "description": "A Maven artifact uploaded using the MavenArtifact directive.",
      "type": "object",
      "properties": {
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "TimeSpan",
          "readOnly": true
        },
        "fileHashes": {
          "$ref": "FileHashes",
          "description": "Hash types and values of the Maven Artifact."
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        }
      }
    },
    "DeleteGitHubEnterpriseConfigOperationMetadata": {
      "type": "object",
      "description": "Metadata for `DeleteGitHubEnterpriseConfig` operation.",
      "id": "DeleteGitHubEnterpriseConfigOperationMetadata",
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was completed."
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be deleted. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        }
      }
    },
    "GitRepoSource": {
      "id": "GitRepoSource",
      "properties": {
        "ref": {
          "description": "The branch or tag to use. Must start with \"refs/\" (required).",
          "type": "string"
        },
        "repoType": {
          "type": "string",
          "enumDescriptions": [
            "The default, unknown repo type.",
            "A Google Cloud Source Repositories-hosted repo.",
            "A GitHub-hosted repo not necessarily on \"github.com\" (i.e. GitHub Enterprise).",
            "A Bitbucket Server-hosted repo."
          ],
          "enum": [
            "UNKNOWN",
            "CLOUD_SOURCE_REPOSITORIES",
            "GITHUB",
            "BITBUCKET_SERVER"
          ],
          "description": "See RepoType below."
        },
        "bitbucketServerConfig": {
          "description": "The full resource name of the bitbucket server config. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the repo. Either uri or repository can be specified and is required.",
          "type": "string"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The full resource name of the github enterprise config. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`. `projects/{project}/githubEnterpriseConfigs/{id}`."
        }
      },
      "type": "object",
      "description": "GitRepoSource describes a repo and ref of a code repository."
    },
    "ArtifactObjects": {
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "type": "object",
      "id": "ArtifactObjects",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Path globs used to match files in the build's workspace."
        },
        "location": {
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
          "type": "string"
        },
        "timing": {
          "description": "Output only. Stores timing information for pushing all artifact objects.",
          "readOnly": true,
          "$ref": "TimeSpan"
        }
      }
    },
    "ListBuildsResponse": {
      "description": "Response including listed builds.",
      "id": "ListBuildsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to receive the next page of results. This will be absent if the end of the response list has been reached.",
          "type": "string"
        },
        "builds": {
          "items": {
            "$ref": "Build"
          },
          "description": "Builds will be sorted by `create_time`, descending.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GitLabConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name for the config."
        },
        "enterpriseConfig": {
          "description": "Optional. GitLabEnterprise config.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "connectedRepositories": {
          "type": "array",
          "description": "Connected GitLab.com or GitLabEnterprise repositories for this config.",
          "items": {
            "$ref": "GitLabRepositoryId"
          }
        },
        "webhookKey": {
          "description": "Output only. UUID included in webhook requests. The UUID is used to look up the corresponding config.",
          "type": "string",
          "readOnly": true
        },
        "username": {
          "type": "string",
          "description": "Username of the GitLab.com or GitLab Enterprise account Cloud Build will use."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the config was created.",
          "type": "string"
        },
        "secrets": {
          "$ref": "GitLabSecrets",
          "description": "Required. Secret Manager secrets needed by the config."
        }
      },
      "id": "GitLabConfig",
      "type": "object",
      "description": "GitLabConfig represents the configuration for a GitLab integration."
    },
    "UploadedPythonPackage": {
      "type": "object",
      "properties": {
        "fileHashes": {
          "description": "Hash types and values of the Python Artifact.",
          "$ref": "FileHashes"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        },
        "pushTiming": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true
        }
      },
      "description": "Artifact uploaded using the PythonPackage directive.",
      "id": "UploadedPythonPackage"
    },
    "PoolOption": {
      "type": "object",
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "id": "PoolOption"
    },
    "NotifierSpec": {
      "type": "object",
      "description": "NotifierSpec is the configuration container for notifications.",
      "id": "NotifierSpec",
      "properties": {
        "notification": {
          "description": "The configuration of this particular notifier.",
          "$ref": "Notification"
        },
        "secrets": {
          "description": "Configurations for secret resources used by this particular notifier.",
          "type": "array",
          "items": {
            "$ref": "NotifierSecret"
          }
        }
      }
    },
    "GitLabEnterpriseConfig": {
      "properties": {
        "hostUri": {
          "type": "string",
          "description": "Immutable. The URI of the GitlabEnterprise host."
        },
        "sslCa": {
          "type": "string",
          "description": "The SSL certificate to use in requests to GitLab Enterprise instances."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "The Service Directory configuration to be used when reaching out to the GitLab Enterprise instance."
        }
      },
      "type": "object",
      "description": "GitLabEnterpriseConfig represents the configuration for a GitLabEnterprise integration.",
      "id": "GitLabEnterpriseConfig"
    },
    "BitbucketServerRepository": {
      "properties": {
        "displayName": {
          "description": "Display name of the repository.",
          "type": "string"
        },
        "description": {
          "description": "Description of the repository.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the repository."
        },
        "repoId": {
          "$ref": "BitbucketServerRepositoryId",
          "description": "Identifier for a repository hosted on a Bitbucket Server."
        },
        "browseUri": {
          "type": "string",
          "description": "Link to the browse repo page on the Bitbucket Server instance."
        }
      },
      "type": "object",
      "id": "BitbucketServerRepository",
      "description": "BitbucketServerRepository represents a repository hosted on a Bitbucket Server."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListBuildTriggersResponse": {
      "type": "object",
      "description": "Response containing existing `BuildTriggers`.",
      "id": "ListBuildTriggersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of results."
        },
        "triggers": {
          "description": "`BuildTriggers` for the project, sorted by `create_time` descending.",
          "items": {
            "$ref": "BuildTrigger"
          },
          "type": "array"
        }
      }
    },
    "BatchCreateGitLabConnectedRepositoriesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. Requests to connect GitLab repositories.",
          "items": {
            "$ref": "CreateGitLabConnectedRepositoryRequest"
          }
        }
      },
      "id": "BatchCreateGitLabConnectedRepositoriesRequest",
      "type": "object",
      "description": "RPC request object accepted by BatchCreateGitLabConnectedRepositories RPC method."
    },
    "HTTPDelivery": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI to which JSON-containing HTTP POST requests should be sent."
        }
      },
      "type": "object",
      "id": "HTTPDelivery",
      "description": "HTTPDelivery is the delivery configuration for an HTTP notification."
    },
    "Notification": {
      "id": "Notification",
      "properties": {
        "smtpDelivery": {
          "$ref": "SMTPDelivery",
          "description": "Configuration for SMTP (email) delivery."
        },
        "structDelivery": {
          "type": "object",
          "description": "Escape hatch for users to supply custom delivery configs.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "filter": {
          "type": "string",
          "description": "The filter string to use for notification filtering. Currently, this is assumed to be a CEL program. See https://opensource.google/projects/cel for more."
        },
        "slackDelivery": {
          "description": "Configuration for Slack delivery.",
          "$ref": "SlackDelivery"
        },
        "httpDelivery": {
          "description": "Configuration for HTTP delivery.",
          "$ref": "HTTPDelivery"
        }
      },
      "type": "object",
      "description": "Notification is the container which holds the data that is relevant to this particular notification."
    },
    "StorageSource": {
      "type": "object",
      "description": "Location of the source in an archive file in Google Cloud Storage.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "generation": {
          "format": "int64",
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string"
        },
        "object": {
          "description": "Google Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build.",
          "type": "string"
        }
      },
      "id": "StorageSource"
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        }
      },
      "id": "HttpBody"
    },
    "BitbucketServerRepositoryId": {
      "description": "BitbucketServerRepositoryId identifies a specific repository hosted on a Bitbucket Server.",
      "type": "object",
      "properties": {
        "repoSlug": {
          "type": "string",
          "description": "Required. Identifier for the repository."
        },
        "projectKey": {
          "description": "Required. Identifier for the project storing the repository.",
          "type": "string"
        },
        "webhookId": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The ID of the webhook that was created for receiving events from this repo. We only create and manage a single webhook for each repo.",
          "type": "integer"
        }
      },
      "id": "BitbucketServerRepositoryId"
    },
    "DeleteBitbucketServerConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The resource name of the BitbucketServerConfig to be deleted. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        },
        "completeTime": {
          "description": "Time the operation was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "DeleteBitbucketServerConfigOperationMetadata",
      "description": "Metadata for `DeleteBitbucketServerConfig` operation."
    },
    "WorkerConfig": {
      "type": "object",
      "id": "WorkerConfig",
      "description": "Defines the configuration to be used for creating workers in the pool.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Machine type of a worker, such as `e2-medium`. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). If left blank, Cloud Build will use a sensible default."
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Size of the disk attached to the worker, in GB. See [Worker pool config file](https://cloud.google.com/build/docs/private-pools/worker-pool-config-file-schema). Specify a value of up to 1000. If `0` is specified, Cloud Build will use a standard disk size.",
          "format": "int64"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "BatchCreateGitLabConnectedRepositoriesResponse": {
      "properties": {
        "gitlabConnectedRepositories": {
          "type": "array",
          "items": {
            "$ref": "GitLabConnectedRepository"
          },
          "description": "The GitLab connected repository requests' responses."
        }
      },
      "id": "BatchCreateGitLabConnectedRepositoriesResponse",
      "description": "Response of BatchCreateGitLabConnectedRepositories RPC method.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "PubsubConfig": {
      "type": "object",
      "properties": {
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Service account that will make the push request."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The subscription configuration has not been checked.",
            "The Pub/Sub subscription is properly configured.",
            "The subscription has been deleted.",
            "The topic has been deleted.",
            "Some of the subscription's field are misconfigured."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SUBSCRIPTION_DELETED",
            "TOPIC_DELETED",
            "SUBSCRIPTION_MISCONFIGURED"
          ],
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests."
        },
        "subscription": {
          "type": "string",
          "description": "Output only. Name of the subscription. Format is `projects/{project}/subscriptions/{subscription}`.",
          "readOnly": true
        }
      },
      "description": "PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published.",
      "id": "PubsubConfig"
    },
    "GitLabSecrets": {
      "properties": {
        "apiKeyVersion": {
          "description": "Required. Immutable. API Key that will be attached to webhook requests from GitLab to Cloud Build.",
          "type": "string"
        },
        "webhookSecretVersion": {
          "description": "Required. Immutable. The resource name for the webhook secret’s secret version. Once this field has been set, it cannot be changed. If you need to change it, please create another GitLabConfig.",
          "type": "string"
        },
        "apiAccessTokenVersion": {
          "description": "Required. The resource name for the api access token’s secret version",
          "type": "string"
        },
        "readAccessTokenVersion": {
          "type": "string",
          "description": "Required. The resource name for the read access token’s secret version"
        }
      },
      "description": "GitLabSecrets represents the secrets in Secret Manager for a GitLab integration.",
      "type": "object",
      "id": "GitLabSecrets"
    },
    "ListGitLabConfigsResponse": {
      "properties": {
        "gitlabConfigs": {
          "items": {
            "$ref": "GitLabConfig"
          },
          "type": "array",
          "description": "A list of GitLabConfigs"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListGitLabConfigsResponse",
      "description": "RPC response object returned by ListGitLabConfigs RPC method.",
      "type": "object"
    },
    "RemoveGitLabConnectedRepositoryRequest": {
      "properties": {
        "connectedRepository": {
          "description": "The connected repository to remove.",
          "$ref": "GitLabRepositoryId"
        }
      },
      "id": "RemoveGitLabConnectedRepositoryRequest",
      "description": "RPC request object accepted by RemoveGitLabConnectedRepository RPC method.",
      "type": "object"
    },
    "ArtifactResult": {
      "id": "ArtifactResult",
      "type": "object",
      "description": "An artifact that was uploaded during a build. This is a single record in the artifact manifest JSON file.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The path of an artifact in a Google Cloud Storage bucket, with the generation number. For example, `gs://mybucket/path/to/output.jar#generation`."
        },
        "fileHash": {
          "type": "array",
          "items": {
            "$ref": "FileHashes"
          },
          "description": "The file hash of the artifact."
        }
      }
    },
    "GitFileSource": {
      "description": "GitFileSource describes a file within a (possibly remote) code repository.",
      "properties": {
        "revision": {
          "type": "string",
          "description": "The branch, tag, arbitrary ref, or SHA version of the repo to use when resolving the filename (optional). This field respects the same syntax/resolution as described here: https://git-scm.com/docs/gitrevisions If unspecified, the revision from which the trigger invocation originated is assumed to be the revision from which to read the specified path."
        },
        "path": {
          "type": "string",
          "description": "The path of the file, with the repo root as the root of the path."
        },
        "bitbucketServerConfig": {
          "description": "The full resource name of the bitbucket server config. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "repoType": {
          "description": "See RepoType above.",
          "enumDescriptions": [
            "The default, unknown repo type.",
            "A Google Cloud Source Repositories-hosted repo.",
            "A GitHub-hosted repo not necessarily on \"github.com\" (i.e. GitHub Enterprise).",
            "A Bitbucket Server-hosted repo."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CLOUD_SOURCE_REPOSITORIES",
            "GITHUB",
            "BITBUCKET_SERVER"
          ]
        },
        "uri": {
          "type": "string",
          "description": "The URI of the repo. Either uri or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path."
        },
        "githubEnterpriseConfig": {
          "description": "The full resource name of the github enterprise config. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`. `projects/{project}/githubEnterpriseConfigs/{id}`.",
          "type": "string"
        }
      },
      "id": "GitFileSource",
      "type": "object"
    },
    "TimeSpan": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of time span."
        },
        "startTime": {
          "type": "string",
          "description": "Start of time span.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "TimeSpan",
      "description": "Start and end times for a build execution phase."
    },
    "BuildTrigger": {
      "id": "BuildTrigger",
      "description": "Configuration for an automated build in response to source repository changes.",
      "properties": {
        "includeBuildLogs": {
          "enum": [
            "INCLUDE_BUILD_LOGS_UNSPECIFIED",
            "INCLUDE_BUILD_LOGS_WITH_STATUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Build logs will not be shown on GitHub.",
            "Build logs will be shown on GitHub."
          ],
          "description": "If set to INCLUDE_BUILD_LOGS_WITH_STATUS, log url will be shown on GitHub page when build status is final. Setting this field to INCLUDE_BUILD_LOGS_WITH_STATUS for non GitHub triggers results in INVALID_ARGUMENT error."
        },
        "ignoredFiles": {
          "description": "ignored_files and included_files are file glob matches using https://golang.org/pkg/path/filepath/#Match extended with support for \"**\". If ignored_files and changed files are both empty, then they are not used to determine whether or not to trigger a build. If ignored_files is not empty, then we ignore any files that match any of the ignored_file globs. If the change has no files that are outside of the ignored_files globs, then we do not trigger a build.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "The service account used for all user-controlled operations including UpdateBuildTrigger, RunBuildTrigger, CreateBuild, and CancelBuild. If no service account is set, then the standard Cloud Build service account ([PROJECT_NUM]@system.gserviceaccount.com) will be used instead. Format: `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT_ID_OR_EMAIL}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the trigger was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "gitFileSource": {
          "description": "The file source describing the local or remote Build template.",
          "$ref": "GitFileSource"
        },
        "approvalConfig": {
          "$ref": "ApprovalConfig",
          "description": "Configuration for manual approval to start a build invocation of this BuildTrigger."
        },
        "pubsubConfig": {
          "description": "PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published.",
          "$ref": "PubsubConfig"
        },
        "webhookConfig": {
          "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
          "$ref": "WebhookConfig"
        },
        "triggerTemplate": {
          "description": "Template describing the types of source changes to trigger a build. Branch and tag names in trigger templates are interpreted as regular expressions. Any branch or tag change that matches that regular expression will trigger a build. Mutually exclusive with `github`.",
          "$ref": "RepoSource"
        },
        "includedFiles": {
          "items": {
            "type": "string"
          },
          "description": "If any of the files altered in the commit pass the ignored_files filter and included_files is empty, then as far as this filter is concerned, we should trigger the build. If any of the files altered in the commit pass the ignored_files filter and included_files is not empty, then we make sure that at least one of those files matches a included_files glob. If not, then we do not trigger a build.",
          "type": "array"
        },
        "id": {
          "description": "Output only. Unique identifier of the trigger.",
          "type": "string",
          "readOnly": true
        },
        "filter": {
          "description": "A Common Expression Language string.",
          "type": "string"
        },
        "autodetect": {
          "type": "boolean",
          "description": "Autodetect build configuration. The following precedence is used (case insensitive): 1. cloudbuild.yaml 2. cloudbuild.yml 3. cloudbuild.json 4. Dockerfile Currently only available for GitHub App Triggers."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for annotation of a `BuildTrigger`"
        },
        "disabled": {
          "description": "If true, the trigger will never automatically execute a build.",
          "type": "boolean"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "EVENT_TYPE_UNSPECIFIED event_types are ignored.",
            "REPO corresponds to the supported VCS integrations.",
            "WEBHOOK corresponds to webhook triggers.",
            "PUBSUB corresponds to pubsub triggers.",
            "MANUAL corresponds to manual-only invoked triggers."
          ],
          "description": "EventType allows the user to explicitly set the type of event to which this BuildTrigger should respond. This field will be validated against the rest of the configuration if it is set.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "REPO",
            "WEBHOOK",
            "PUBSUB",
            "MANUAL"
          ]
        },
        "github": {
          "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. Mutually exclusive with `trigger_template`.",
          "$ref": "GitHubEventsConfig"
        },
        "bitbucketServerTriggerConfig": {
          "description": "BitbucketServerTriggerConfig describes the configuration of a trigger that creates a build whenever a Bitbucket Server event is received.",
          "$ref": "BitbucketServerTriggerConfig"
        },
        "resourceName": {
          "type": "string",
          "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service."
        },
        "build": {
          "description": "Contents of the build template.",
          "$ref": "Build"
        },
        "description": {
          "description": "Human-readable description of this trigger.",
          "type": "string"
        },
        "sourceToBuild": {
          "description": "The repo and ref of the repository from which to build. This field is used only for those triggers that do not respond to SCM events. Triggers that respond to such events build source at whatever commit caused the event. This field is currently only used by Webhook, Pub/Sub, Manual, and Cron triggers.",
          "$ref": "GitRepoSource"
        },
        "substitutions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Substitutions for Build resource. The keys must match the following regular expression: `^_[A-Z0-9_]+$`."
        },
        "gitlabEnterpriseEventsConfig": {
          "$ref": "GitLabEventsConfig",
          "description": "GitLabEnterpriseEventsConfig describes the configuration of a trigger that creates a build whenever a GitLab Enterprise event is received."
        },
        "filename": {
          "description": "Path, from the source root, to the build configuration file (i.e. cloudbuild.yaml).",
          "type": "string"
        },
        "name": {
          "description": "User-assigned name of the trigger. Must be unique within the project. Trigger names must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateBitbucketServerConnectedRepositoryRequest": {
      "id": "CreateBitbucketServerConnectedRepositoryRequest",
      "description": "Request to connect a repository from a connected Bitbucket Server host.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`"
        },
        "bitbucketServerConnectedRepository": {
          "description": "Required. The Bitbucket Server repository to connect.",
          "$ref": "BitbucketServerConnectedRepository"
        }
      },
      "type": "object"
    },
    "RunBuildTriggerRequest": {
      "id": "RunBuildTriggerRequest",
      "properties": {
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Required. ID of the trigger."
        },
        "source": {
          "description": "Source to build against this trigger. Branch and tag names cannot consist of regular expressions.",
          "$ref": "RepoSource"
        }
      },
      "type": "object",
      "description": "Specifies a build trigger to run and the source to use."
    },
    "ProcessAppManifestCallbackOperationMetadata": {
      "type": "object",
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        }
      },
      "id": "ProcessAppManifestCallbackOperationMetadata",
      "description": "Metadata for `ProcessAppManifestCallback` operation."
    },
    "Volume": {
      "type": "object",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "properties": {
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        }
      },
      "id": "Volume"
    },
    "Secret": {
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.",
      "type": "object",
      "id": "Secret",
      "properties": {
        "kmsKeyName": {
          "description": "Cloud KMS key name to use to decrypt these envs.",
          "type": "string"
        },
        "secretEnv": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "type": "object"
        }
      }
    },
    "NotifierSecretRef": {
      "id": "NotifierSecretRef",
      "properties": {
        "secretRef": {
          "description": "The value of `secret_ref` should be a `name` that is registered in a `Secret` in the `secrets` list of the `Spec`.",
          "type": "string"
        }
      },
      "description": "NotifierSecretRef contains the reference to a secret stored in the corresponding NotifierSpec.",
      "type": "object"
    },
    "UpdateBitbucketServerConfigOperationMetadata": {
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "bitbucketServerConfig": {
          "description": "The resource name of the BitbucketServerConfig to be updated. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        }
      },
      "description": "Metadata for `UpdateBitbucketServerConfig` operation.",
      "type": "object",
      "id": "UpdateBitbucketServerConfigOperationMetadata"
    },
    "WebhookConfig": {
      "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. Resource name for the secret required as a URL parameter."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The webhook auth configuration not been checked.",
            "The auth configuration is properly setup.",
            "The secret provided in auth_method has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SECRET_DELETED"
          ],
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests."
        }
      },
      "type": "object",
      "id": "WebhookConfig"
    },
    "GitHubEventsConfig": {
      "id": "GitHubEventsConfig",
      "properties": {
        "installationId": {
          "description": "The installationID that emits the GitHub event.",
          "format": "int64",
          "type": "string"
        },
        "push": {
          "$ref": "PushFilter",
          "description": "filter to match changes in refs like branches, tags."
        },
        "enterpriseConfigResourceName": {
          "type": "string",
          "description": "Optional. The resource name of the github enterprise config that should be applied to this installation. For example: \"projects/{$project_id}/githubEnterpriseConfigs/{$config_id}\""
        },
        "owner": {
          "description": "Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is \"googlecloudplatform\".",
          "type": "string"
        },
        "name": {
          "description": "Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is \"cloud-builders\".",
          "type": "string"
        },
        "pullRequest": {
          "description": "filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        }
      },
      "type": "object",
      "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received."
    },
    "NotifierConfig": {
      "id": "NotifierConfig",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of notifier to use (e.g. SMTPNotifier)."
        },
        "apiVersion": {
          "description": "The API version of this configuration format.",
          "type": "string"
        },
        "metadata": {
          "$ref": "NotifierMetadata",
          "description": "Metadata for referring to/handling/deploying this notifier."
        },
        "spec": {
          "description": "The actual configuration for this notifier.",
          "$ref": "NotifierSpec"
        }
      },
      "description": "NotifierConfig is the top-level configuration message."
    },
    "UpdateGitLabConfigOperationMetadata": {
      "id": "UpdateGitLabConfigOperationMetadata",
      "description": "Metadata for `UpdateGitLabConfig` operation.",
      "type": "object",
      "properties": {
        "completeTime": {
          "description": "Time the operation was completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "gitlabConfig": {
          "description": "The resource name of the GitLabConfig to be created. Format: `projects/{project}/locations/{location}/gitlabConfigs/{id}`.",
          "type": "string"
        }
      }
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "description": "Location of the source in a supported storage service.",
      "properties": {
        "storageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "If provided, get the source from this manifest in Google Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
        },
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get the source from this location in a Cloud Source Repository."
        },
        "storageSource": {
          "description": "If provided, get the source from this location in Google Cloud Storage.",
          "$ref": "StorageSource"
        }
      }
    },
    "FileHashes": {
      "properties": {
        "fileHash": {
          "type": "array",
          "description": "Collection of file hashes.",
          "items": {
            "$ref": "Hash"
          }
        }
      },
      "id": "FileHashes",
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build."
    },
    "WorkerPool": {
      "description": "Configuration for a `WorkerPool`. Cloud Build owns and maintains a pool of workers for general use and have no access to a project's private network. By default, builds submitted to Cloud Build will use a worker from this pool. If your build needs access to resources on a private network, create and use a `WorkerPool` to run your builds. Private `WorkerPool`s give your builds access to any single VPC network that you administer, including any on-prem resources connected to that VPC network. For an overview of private pools, see [Private pools overview](https://cloud.google.com/build/docs/private-pools/private-pools-overview).",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State of the `WorkerPool` is unknown.",
            "`WorkerPool` is being created.",
            "`WorkerPool` is running.",
            "`WorkerPool` is being deleted: cancelling builds and draining workers.",
            "`WorkerPool` is deleted.",
            "`WorkerPool` is being updated; new builds cannot be run."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "DELETING",
            "DELETED",
            "UPDATING"
          ],
          "description": "Output only. `WorkerPool` state."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the request to create the `WorkerPool` was received."
        },
        "displayName": {
          "type": "string",
          "description": "A user-specified, human-readable name for the `WorkerPool`. If provided, this value must be 1-63 characters."
        },
        "uid": {
          "description": "Output only. A unique identifier for the `WorkerPool`.",
          "readOnly": true,
          "type": "string"
        },
        "privatePoolV1Config": {
          "description": "Legacy Private Pool configuration.",
          "$ref": "PrivatePoolV1Config"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "User specified annotations. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the request to update the `WorkerPool` was received."
        },
        "deleteTime": {
          "description": "Output only. Time at which the request to delete the `WorkerPool` was received.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "WorkerPool",
      "type": "object"
    },
    "NetworkConfig": {
      "properties": {
        "egressOption": {
          "enumDescriptions": [
            "If set, defaults to PUBLIC_EGRESS.",
            "If set, workers are created without any public address, which prevents network egress to public IPs unless a network proxy is configured.",
            "If set, workers are created with a public address which allows for public internet egress."
          ],
          "description": "Option to configure network egress for the workers.",
          "enum": [
            "EGRESS_OPTION_UNSPECIFIED",
            "NO_PUBLIC_EGRESS",
            "PUBLIC_EGRESS"
          ],
          "type": "string"
        },
        "peeredNetwork": {
          "type": "string",
          "description": "Required. Immutable. The network definition that the workers are peered to. If this section is left empty, the workers will be peered to `WorkerPool.project_id` on the service producer network. Must be in the format `projects/{project}/global/networks/{network}`, where `{project}` is a project number, such as `12345`, and `{network}` is the name of a VPC network in the project. See [Understanding network configuration options](https://cloud.google.com/build/docs/private-pools/set-up-private-pool-environment)"
        }
      },
      "type": "object",
      "description": "Defines the network configuration for the pool.",
      "id": "NetworkConfig"
    },
    "BuildOptions": {
      "description": "Optional arguments to enable specific features of builds.",
      "properties": {
        "diskSizeGb": {
          "type": "string",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 1000GB; builds that request more than the maximum are rejected with an error.",
          "format": "int64"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration."
        },
        "logStreamingOption": {
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Google Cloud Storage.",
            "Build logs should not be streamed to Google Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Google Cloud Storage.",
          "type": "string",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ]
        },
        "env": {
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dynamicSubstitutions": {
          "type": "boolean",
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file."
        },
        "substitutionOption": {
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file.",
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ]
        },
        "pool": {
          "$ref": "PoolOption",
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
        },
        "machineType": {
          "description": "Compute Engine machine type on which to run the build.",
          "type": "string",
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs."
          ],
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32"
          ]
        },
        "logging": {
          "type": "string",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ]
        },
        "sourceProvenanceHash": {
          "type": "array",
          "description": "Requested hash for SourceProvenance.",
          "items": {
            "enum": [
              "NONE",
              "SHA256",
              "MD5"
            ],
            "type": "string",
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash."
            ]
          }
        },
        "workerPool": {
          "description": "This field deprecated; please use `pool.name` instead.",
          "type": "string"
        },
        "secretEnv": {
[...]
