{
  "baseUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "canonicalName": "Cloud Commerce Partner Procurement Service",
  "discoveryVersion": "v1",
  "resources": {
    "providers": {
      "resources": {
        "entitlements": {
          "methods": {
            "approvePlanChange": {
              "httpMethod": "POST",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approvePlanChange",
              "parameterOrder": [
                "name"
              ],
              "description": "Approves an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to approve the plan change on the entitlement resource.",
              "path": "v1/{+name}:approvePlanChange",
              "id": "cloudcommerceprocurement.providers.entitlements.approvePlanChange",
              "request": {
                "$ref": "ApproveEntitlementPlanChangeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the entitlement. Required."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "rejectPlanChange": {
              "description": "Rejects an entitlement plan change that is in the EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL state. This method is invoked by the provider to reject the plan change on the entitlement resource.",
              "httpMethod": "POST",
              "id": "cloudcommerceprocurement.providers.entitlements.rejectPlanChange",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:rejectPlanChange",
              "path": "v1/{+name}:rejectPlanChange",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The resource name of the entitlement. Required.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "RejectEntitlementPlanChangeRequest"
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of entries that are requested.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "The filter that can be used to limit the list request. The filter is a query string that can match a selected set of attributes with string values. For example `account=E-1234-5678-ABCD-EFGH`, `state=pending_cancellation`, and `plan!=foo-plan`. Supported query attributes are * `account` * `customer_billing_account` with value in the format of: `billingAccounts/{id}` * `product_external_name` * `quote_external_name` * `offer` * `new_pending_offer` * `plan` * `newPendingPlan` or `new_pending_plan` * `state` * `consumers.project` Note that the consumers match works on repeated structures, so equality (`consumers.project=projects/123456789`) is not supported. Set membership can be expressed with the `:` operator. For example, `consumers.project:projects/123456789` finds entitlements with at least one consumer with project field equal to `projects/123456789`. Also note that the state name match is case-insensitive and query can omit the prefix \"ENTITLEMENT_\". For example, `state=active` is equivalent to `state=ENTITLEMENT_ACTIVE`. If the query contains some special characters other than letters, underscore, or digits, the phrase must be quoted with double quotes. For example, `product=\"providerId:productId\"`, where the product name needs to be quoted because it contains special character colon. Queries can be combined with `AND`, `OR`, and `NOT` to form more complex queries. They can also be grouped to force a desired evaluation order. For example, `state=active AND (account=E-1234 OR account=5678) AND NOT (product=foo-product)`. Connective `AND` can be omitted between two predicates. For example `account=E-1234 state=active` is equivalent to `account=E-1234 AND state=active`.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for fetching the next page.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^providers/[^/]+$",
                  "location": "path",
                  "description": "The parent resource name."
                }
              },
              "flatPath": "v1/providers/{providersId}/entitlements",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/entitlements",
              "httpMethod": "GET",
              "id": "cloudcommerceprocurement.providers.entitlements.list",
              "description": "Lists Entitlements for which the provider has read access.",
              "response": {
                "$ref": "ListEntitlementsResponse"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Entitlement"
              },
              "id": "cloudcommerceprocurement.providers.entitlements.patch",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "The update mask that applies to the resource. See the [FieldMask definition] (https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask) for more details.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "type": "string",
                  "description": "The name of the entitlement to update.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "request": {
                "$ref": "Entitlement"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing Entitlement."
            },
            "reject": {
              "request": {
                "$ref": "RejectEntitlementRequest"
              },
              "description": "Rejects an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to reject the creation of the entitlement resource.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:reject",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The resource name of the entitlement. Required.",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:reject",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudcommerceprocurement.providers.entitlements.reject"
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}",
              "response": {
                "$ref": "Entitlement"
              },
              "description": "Gets a requested Entitlement resource.",
              "parameters": {
                "name": {
                  "description": "The name of the entitlement to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "cloudcommerceprocurement.providers.entitlements.get"
            },
            "approve": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveEntitlementRequest"
              },
              "id": "cloudcommerceprocurement.providers.entitlements.approve",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:approve",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource name of the entitlement. Required.",
                  "required": true,
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:approve",
              "description": "Approves an entitlement that is in the EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED state. This method is invoked by the provider to approve the creation of the entitlement resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "suspend": {
              "path": "v1/{+name}:suspend",
              "httpMethod": "POST",
              "flatPath": "v1/providers/{providersId}/entitlements/{entitlementsId}:suspend",
              "id": "cloudcommerceprocurement.providers.entitlements.suspend",
              "description": "Requests suspension of an active Entitlement. This is not yet supported.",
              "request": {
                "$ref": "SuspendEntitlementRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "The name of the entitlement to suspend.",
                  "type": "string",
                  "pattern": "^providers/[^/]+/entitlements/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "accounts": {
          "methods": {
            "reject": {
              "id": "cloudcommerceprocurement.providers.accounts.reject",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}:reject",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the account. Required.",
                  "type": "string",
                  "pattern": "^providers/[^/]+/accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RejectAccountRequest"
              },
              "description": "Rejects an approval on an Account.",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reject",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "The parent resource name.",
                  "pattern": "^providers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token for fetching the next page."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of entries that are requested. Default size is 200.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "cloudcommerceprocurement.providers.accounts.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists Accounts that the provider has access to.",
              "path": "v1/{+parent}/accounts",
              "flatPath": "v1/providers/{providersId}/accounts",
              "response": {
                "$ref": "ListAccountsResponse"
              }
            },
            "approve": {
              "httpMethod": "POST",
              "request": {
                "$ref": "ApproveAccountRequest"
              },
              "id": "cloudcommerceprocurement.providers.accounts.approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Grants an approval on an Account.",
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:approve",
              "path": "v1/{+name}:approve",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "The resource name of the account. Required.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/accounts/[^/]+$"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/accounts/[^/]+$",
                  "description": "The name of the account to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}",
              "path": "v1/{+name}",
              "id": "cloudcommerceprocurement.providers.accounts.get",
              "description": "Gets a requested Account resource.",
              "response": {
                "$ref": "Account"
              }
            },
            "reset": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource name of the account. Required.",
                  "location": "path",
                  "pattern": "^providers/[^/]+/accounts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/providers/{providersId}/accounts/{accountsId}:reset",
              "request": {
                "$ref": "ResetAccountRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Resets an Account and cancel all associated Entitlements. Partner can only reset accounts they own rather than customer accounts.",
              "path": "v1/{+name}:reset",
              "id": "cloudcommerceprocurement.providers.accounts.reset",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://cloudcommerceprocurement.googleapis.com/",
  "title": "Cloud Commerce Partner Procurement API",
  "version": "v1",
  "servicePath": "",
  "name": "cloudcommerceprocurement",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version_module": true,
  "protocol": "rest",
  "revision": "20210417",
  "kind": "discovery#restDescription",
  "description": "Partner API for the Cloud Commerce Procurement Service.",
  "basePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudcommerceprocurement.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/marketplace/docs/partners/",
  "schemas": {
    "RejectEntitlementRequest": {
      "description": "Request message for PartnerProcurementService.RejectEntitlement.",
      "id": "RejectEntitlementRequest",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
        }
      }
    },
    "ListAccountsResponse": {
      "description": "Response message for [PartnerProcurementService.ListAccounts[].",
      "type": "object",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The list of accounts in this response."
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "RejectAccountRequest": {
      "type": "object",
      "description": "Request message for PartnerProcurementService.RejectAccount.",
      "id": "RejectAccountRequest",
      "properties": {
        "approvalName": {
          "type": "string",
          "description": "The name of the approval being rejected. If absent and there is only one approval possible, that approval will be rejected. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional."
        },
        "reason": {
          "type": "string",
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated."
        }
      }
    },
    "SuspendEntitlementRequest": {
      "description": "Request message for ParterProcurementService.SuspendEntitlement. This is not yet supported.",
      "id": "SuspendEntitlementRequest",
      "properties": {
        "reason": {
          "description": "A free-form reason string, explaining the reason for suspension request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "type": "object",
      "properties": {
        "plan": {
          "type": "string",
          "description": "Output only. The identifier of the plan that was procured. Required if the product has plans."
        },
        "offer": {
          "description": "Output only. The name of the offer that was procured. Field is empty if order was not made using an offer. Format: 'projects/{project}/services/{service}/privateOffers/{offer-id}' OR 'projects/{project}/services/{service}/standardOffers/{offer-id}', depending on whether the offer is private or public.",
          "readOnly": true,
          "type": "string"
        },
        "usageReportingId": {
          "type": "string",
          "description": "Output only. The consumerId to use when reporting usage through the Service Control API. See the consumerId field at [Reporting Metrics](https://cloud.google.com/service-control/reporting-metrics) for more details. This field is present only if the product has usage-based billing configured."
        },
        "offerEndTime": {
          "description": "Output only. End time for the Offer association corresponding to this entitlement. The field is only populated if the entitlement is currently associated with an Offer.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "messageToUser": {
          "description": "Provider-supplied message that is displayed to the end user. Currently this is used to communicate progress and ETA for provisioning. This field can be updated only when a user is waiting for an action from the provider, i.e. entitlement state is EntitlementState.ENTITLEMENT_ACTIVATION_REQUESTED or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL. This field is cleared automatically when the entitlement state changes.",
          "type": "string"
        },
        "inputProperties": {
          "description": "Output only. The custom properties that were collected from the user to create this entitlement.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "provider": {
          "type": "string",
          "description": "Output only. The identifier of the service provider that this entitlement was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform."
        },
        "quoteExternalName": {
          "description": "Output only. The identifier of the quote that was used to procure. Empty if the order is not purchased using a quote.",
          "type": "string",
          "readOnly": true
        },
        "product": {
          "type": "string",
          "description": "Output only. The identifier of the entity that was purchased. This may actually represent a product, quote, or offer."
        },
        "subscriptionEndTime": {
          "readOnly": true,
          "description": "Output only. End time for the subscription corresponding to this entitlement.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "newPendingOffer": {
          "readOnly": true,
          "description": "Output only. The name of the offer the entitlement is switching to upon a pending plan change. Only exists if the pending plan change is moving to an offer. Format: 'projects/{project}/services/{service}/privateOffers/{offer-id}' OR 'projects/{project}/services/{service}/standardOffers/{offer-id}', depending on whether the offer is private or public.",
          "type": "string"
        },
        "account": {
          "description": "Output only. The resource name of the account that this entitlement is based on, if any.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLEMENT_ACTIVATION_REQUESTED",
            "ENTITLEMENT_ACTIVE",
            "ENTITLEMENT_PENDING_CANCELLATION",
            "ENTITLEMENT_CANCELLED",
            "ENTITLEMENT_PENDING_PLAN_CHANGE",
            "ENTITLEMENT_PENDING_PLAN_CHANGE_APPROVAL",
            "ENTITLEMENT_SUSPENDED"
          ],
          "description": "Output only. The state of the entitlement.",
          "enumDescriptions": [
            "Default state of the entitlement. It's only set to this value when the entitlement is first created and has not been initialized.",
            "Indicates that the entitlement is being created and the backend has sent a notification to the provider for the activation approval. If the provider approves, then the entitlement will transition to the EntitlementState.ENTITLEMENT_ACTIVE state. Otherwise, the entitlement will be removed. Plan changes are not allowed in this state. Instead the entitlement is cancelled and re-created with a new plan name.",
            "Indicates that the entitlement is active. The procured item is now usable and any associated billing events will start occurring. In this state, the customer can decide to cancel the entitlement, which would change the state to EntitlementState.ENTITLEMENT_PENDING_CANCELLATION, and then EntitlementState.ENTITLEMENT_CANCELLED. The user can also request a change of plan, which will transition the state to EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE, and then back to EntitlementState.ENTITLEMENT_ACTIVE.",
            "Indicates that the entitlement was cancelled by the customer. The entitlement typically stays in this state if the entitlement/plan allows use of the underlying resource until the end of the current billing cycle. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_CANCELLED state. The resource cannot be modified during this state.",
            "Indicates that the entitlement was cancelled. The entitlement can now be deleted.",
            "Indicates that the entitlement is currently active, but there is a pending plan change that is requested by the customer. The entitlement typically stays in this state, if the entitlement/plan requires the completion of the current billing cycle before the plan can be changed. Once the billing cycle completes, the resource will transition to EntitlementState.ENTITLEMENT_ACTIVE, with its plan changed.",
            "Indicates that the entitlement is currently active, but there is a plan change request pending provider approval. If the provider approves the plan change, then the entitlement will transition either to EntitlementState.ENTITLEMENT_ACTIVE or EntitlementState.ENTITLEMENT_PENDING_PLAN_CHANGE depending on whether current plan requires that the billing cycle completes. If the provider rejects the plan change, then the pending plan change request is removed and the entitlement stays in EntitlementState.ENTITLEMENT_ACTIVE state with the old plan.",
            "Indicates that the entitlement is suspended either by Google or provider request. This can be triggered for various external reasons (e.g. expiration of credit card on the billing account, violation of terms-of-service of the provider etc.). As such, any remediating action needs to be taken externally, before the entitlement can be activated. This is not yet supported."
          ],
          "type": "string"
        },
        "newPendingPlan": {
          "type": "string",
          "description": "Output only. The identifier of the pending new plan. Required if the product has plans and the entitlement has a pending plan change."
        },
        "name": {
          "description": "Output only. The resource name of the entitlement. Entitlement names have the form `providers/{provider_id}/entitlements/{entitlement_id}`.",
          "type": "string"
        },
        "consumers": {
          "type": "array",
          "items": {
            "$ref": "Consumer"
          },
          "description": "Output only. The resources using this entitlement, if applicable."
        },
        "productExternalName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The identifier of the product that was procured."
        }
      },
      "description": "Represents a procured product of a customer. Next Id: 24"
    },
    "ApproveEntitlementPlanChangeRequest": {
      "type": "object",
      "properties": {
        "pendingPlanName": {
          "description": "Name of the pending plan that is being approved. Required.",
          "type": "string"
        }
      },
      "id": "ApproveEntitlementPlanChangeRequest",
      "description": "Request message for [PartnerProcurementService.ApproveEntitlementPlanChange[]."
    },
    "Consumer": {
      "id": "Consumer",
      "description": "A resource using (consuming) this entitlement.",
      "type": "object",
      "properties": {
        "project": {
          "description": "A project name with format `projects/`.",
          "type": "string"
        }
      }
    },
    "Account": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Output only. The identifier of the service provider that this account was created against. Each service provider is assigned a unique provider value when they onboard with Cloud Commerce platform.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the account. Account names have the form `accounts/{account_id}`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update timestamp."
        },
        "state": {
          "type": "string",
          "enum": [
            "ACCOUNT_STATE_UNSPECIFIED",
            "ACCOUNT_ACTIVATION_REQUESTED",
            "ACCOUNT_ACTIVE"
          ],
          "enumDescriptions": [
            "Default state of the account. It's only set to this value when the account is first created and has not been initialized.",
            "The customer has requested the creation of the account resource, and the provider notification message is dispatched. This state has been deprecated, as accounts now immediately transition to AccountState.ACCOUNT_ACTIVE.",
            "The account is active and ready for use. The next possible states are: - Account getting deleted: After the user invokes delete from another API."
          ],
          "description": "Output only. The state of the account. This is used to decide whether the customer is in good standing with the provider and is able to make purchases. An account might not be able to make a purchase if the billing account is suspended, for example."
        },
        "inputProperties": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The custom properties that were collected from the user to create this account."
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "approvals": {
          "items": {
            "$ref": "Approval"
          },
          "description": "Output only. The approvals for this account. These approvals are used to track actions that are permitted or have been completed by a customer within the context of the provider. This might include a sign up flow or a provisioning step, for example, that the provider can admit to having happened.",
          "type": "array"
        }
      },
      "id": "Account",
      "description": "Represents an account that was established by the customer on the service provider's system."
    },
    "ListEntitlementsResponse": {
      "id": "ListEntitlementsResponse",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "The list of entitlements in this response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for fetching the next page."
        }
      },
      "description": "Response message for PartnerProcurementService.ListEntitlements.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ResetAccountRequest": {
      "description": "Request message for for PartnerProcurementService.ResetAccount.",
      "type": "object",
      "properties": {},
      "id": "ResetAccountRequest"
    },
    "ApproveEntitlementRequest": {
      "description": "Request message for [PartnerProcurementService.ApproveEntitlement[].",
      "properties": {
        "properties": {
          "description": "Set of properties that should be associated with the entitlement. Optional.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ApproveEntitlementRequest",
      "type": "object"
    },
    "Approval": {
      "properties": {
        "reason": {
          "description": "Output only. An explanation for the state of the approval.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the approval.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Output only. The state of the approval.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value; do not use.",
            "The approval is pending response from the provider. The approval state can transition to Account.Approval.State.APPROVED or Account.Approval.State.REJECTED.",
            "The approval has been granted by the provider.",
            "The approval has been rejected by the provider. A provider may choose to approve a previously rejected approval, so is it possible to transition to Account.Approval.State.APPROVED."
          ]
        },
        "updateTime": {
          "description": "Optional. The last update timestamp of the approval.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "An approval for some action on an account.",
      "type": "object",
      "id": "Approval"
    },
    "ApproveAccountRequest": {
      "id": "ApproveAccountRequest",
      "description": "Request message for PartnerProcurementService.ApproveAccount.",
      "properties": {
        "approvalName": {
          "type": "string",
          "description": "The name of the approval being approved. If absent and there is only one approval possible, that approval will be granted. If absent and there are many approvals possible, the request will fail with a 400 Bad Request. Optional."
        },
        "reason": {
          "description": "Free form text string explaining the approval reason. Optional. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        },
        "properties": {
          "description": "Set of properties that should be associated with the account. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RejectEntitlementPlanChangeRequest": {
      "properties": {
        "pendingPlanName": {
          "description": "Name of the pending plan that is being rejected. Required.",
          "type": "string"
        },
        "reason": {
          "description": "Free form text string explaining the rejection reason. Max allowed length: 256 bytes. Longer strings will be truncated.",
          "type": "string"
        }
      },
      "description": "Request message for PartnerProcurementService.RejectEntitlementPlanChange.",
      "type": "object",
      "id": "RejectEntitlementPlanChangeRequest"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "cloudcommerceprocurement:v1"
}
