{
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "id": "cloudbuild:v1",
  "canonicalName": "Cloud Build",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "Creates and manages builds on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "batchPath": "batch",
  "revision": "20210701",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Cloud Build API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "builds": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelBuildRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Build"
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Cancels a build in progress.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true,
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "id": "cloudbuild.projects.locations.builds.cancel"
                },
                "list": {
                  "path": "v1/{+parent}/builds",
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
                  "response": {
                    "$ref": "ListBuildsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Number of results to return in the list.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The raw filter text to constrain the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.builds.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/builds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "id": "cloudbuild.projects.locations.builds.create",
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
                  "request": {
                    "$ref": "Build"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "location": "query",
                      "type": "string"
                    },
                    "id": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the build."
                    }
                  },
                  "response": {
                    "$ref": "Build"
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.builds.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}"
                },
                "retry": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RetryBuildRequest"
                  },
                  "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "path": "v1/{+name}:retry",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.builds.retry"
                }
              }
            },
            "triggers": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "path": "v1/{+resourceName}",
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "resourceName": {
                      "location": "path",
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true
                    },
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the `BuildTrigger` to update."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBuildTriggersResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Number of results to return in the list.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/triggers",
                  "description": "Lists existing `BuildTrigger`s. This API is experimental.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.list"
                },
                "run": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:run",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RunBuildTriggerRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Runs a `BuildTrigger` at a particular source revision.",
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "triggerId": {
                      "description": "Required. ID of the `BuildTrigger` to delete.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the project that owns the trigger."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "location": "path",
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                      "type": "string"
                    }
                  },
                  "description": "Returns information about a `BuildTrigger`. This API is experimental.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "path": "v1/{+name}"
                },
                "webhook": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "httpMethod": "POST",
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "response": {
                    "$ref": "ReceiveTriggerWebhookResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    },
                    "projectId": {
                      "description": "Project in which the specified trigger lives",
                      "location": "query",
                      "type": "string"
                    },
                    "trigger": {
                      "location": "query",
                      "description": "Name of the trigger to run the payload against",
                      "type": "string"
                    },
                    "secret": {
                      "location": "query",
                      "type": "string",
                      "description": "Secret token used for authorization if an OAuth token isn't provided."
                    }
                  },
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
                  "path": "v1/{+name}:webhook",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                      "required": true
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the project for which to configure automatic builds."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "description": "Creates a new `BuildTrigger`. This API is experimental.",
                  "path": "v1/{+parent}/triggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  }
                }
              }
            },
            "workerPools": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{workerPool}/workerPools/{workerPool}`."
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. If this is provided, it must match the server's etag on the workerpool for the request to be processed.",
                      "location": "query"
                    }
                  },
                  "description": "Deletes a `WorkerPool`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.workerPools.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "ListWorkerPoolsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workerPools",
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/location`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default."
                    }
                  },
                  "description": "Lists `WorkerPool`s.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "description": "Returns details of a `WorkerPool`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.workerPools.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkerPool"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request and preview the response, but do not actually post it."
                    },
                    "workerPoolId": {
                      "type": "string",
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`."
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "id": "cloudbuild.projects.locations.workerPools.create",
                  "description": "Creates a `WorkerPool`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/workerPools",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a `WorkerPool`.",
                  "httpMethod": "PATCH",
                  "id": "cloudbuild.projects.locations.workerPools.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "A mask specifying which fields in `worker_pool` to update.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "triggers": {
          "methods": {
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "location": "query"
                },
                "projectId": {
                  "description": "Required. ID of the project for which to configure automatic builds.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new `BuildTrigger`. This API is experimental.",
              "response": {
                "$ref": "BuildTrigger"
              },
              "id": "cloudbuild.projects.triggers.create",
              "path": "v1/projects/{projectId}/triggers",
              "request": {
                "$ref": "BuildTrigger"
              },
              "flatPath": "v1/projects/{projectId}/triggers"
            },
            "delete": {
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID. This API is experimental.",
              "id": "cloudbuild.projects.triggers.delete",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true,
                  "type": "string"
                },
                "triggerId": {
                  "type": "string",
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                }
              }
            },
            "get": {
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "required": true
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project that owns the trigger."
                }
              },
              "response": {
                "$ref": "BuildTrigger"
              },
              "id": "cloudbuild.projects.triggers.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "description": "Returns information about a `BuildTrigger`. This API is experimental."
            },
            "list": {
              "description": "Lists existing `BuildTrigger`s. This API is experimental.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Number of results to return in the list.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "query",
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "required": true
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "cloudbuild.projects.triggers.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "path": "v1/projects/{projectId}/triggers",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1/projects/{projectId}/triggers",
              "httpMethod": "GET"
            },
            "patch": {
              "id": "cloudbuild.projects.triggers.patch",
              "response": {
                "$ref": "BuildTrigger"
              },
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "triggerId": {
                  "location": "path",
                  "description": "Required. ID of the `BuildTrigger` to update.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "request": {
                "$ref": "BuildTrigger"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID. This API is experimental."
            },
            "webhook": {
              "id": "cloudbuild.projects.triggers.webhook",
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Project in which the specified trigger lives",
                  "location": "path"
                },
                "trigger": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Name of the trigger to run the payload against"
                },
                "name": {
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "location": "query",
                  "type": "string"
                },
                "secret": {
                  "type": "string",
                  "description": "Secret token used for authorization if an OAuth token isn't provided.",
                  "location": "query"
                }
              },
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "httpMethod": "POST",
              "request": {
                "$ref": "HttpBody"
              },
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "response": {
                "$ref": "ReceiveTriggerWebhookResponse"
              }
            },
            "run": {
              "description": "Runs a `BuildTrigger` at a particular source revision.",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "id": "cloudbuild.projects.triggers.run",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "RepoSource"
              },
              "httpMethod": "POST",
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameters": {
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "type": "string"
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                },
                "triggerId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the trigger.",
                  "required": true
                }
              }
            }
          }
        },
        "builds": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).",
              "request": {
                "$ref": "Build"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectId}/builds",
              "id": "cloudbuild.projects.builds.create",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. ID of the project."
                },
                "parent": {
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/projects/{projectId}/builds"
            },
            "retry": {
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "Required. Build ID of the original build.",
                  "location": "path",
                  "required": true
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "id": "cloudbuild.projects.builds.retry",
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "request": {
                "$ref": "RetryBuildRequest"
              }
            },
            "cancel": {
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "description": "Cancels a build in progress.",
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelBuildRequest"
              },
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "response": {
                "$ref": "Build"
              },
              "id": "cloudbuild.projects.builds.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the build.",
                  "location": "path"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. ID of the project.",
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "cloudbuild.projects.builds.list",
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "path": "v1/projects/{projectId}/builds",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The raw filter text to constrain the results."
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "parent": {
                  "type": "string",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Number of results to return in the list.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.",
              "flatPath": "v1/projects/{projectId}/builds",
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1/projects/{projectId}/builds/{id}",
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "id": "cloudbuild.projects.builds.get",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                  "location": "query",
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the build.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Build"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "cloudbuild.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "required": true
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1/operations/{operationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "cancel": {
          "flatPath": "v1/operations/{operationsId}:cancel",
          "path": "v1/{+name}:cancel",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource to be cancelled."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "id": "cloudbuild.operations.cancel"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "name": "cloudbuild",
  "schemas": {
    "GitHubEventsConfig": {
      "id": "GitHubEventsConfig",
      "type": "object",
      "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. This message is experimental.",
      "properties": {
        "push": {
          "description": "filter to match changes in refs like branches, tags.",
          "$ref": "PushFilter"
        },
        "pullRequest": {
          "description": "filter to match changes in pull requests.",
          "$ref": "PullRequestFilter"
        },
        "installationId": {
          "type": "string",
          "format": "int64",
          "description": "The installationID that emits the GitHub event."
        },
        "owner": {
          "type": "string",
          "description": "Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is \"googlecloudplatform\"."
        },
        "name": {
          "description": "Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is \"cloud-builders\".",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "StorageSource": {
      "type": "object",
      "id": "StorageSource",
      "properties": {
        "generation": {
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string",
          "format": "int64"
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing the source. This object must be a gzipped archive file (`.tar.gz`) containing source to build."
        },
        "bucket": {
          "description": "Google Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        }
      },
      "description": "Location of the source in an archive file in Google Cloud Storage."
    },
    "Notification": {
      "description": "Notification is the container which holds the data that is relevant to this particular notification.",
      "properties": {
        "slackDelivery": {
          "$ref": "SlackDelivery",
          "description": "Configuration for Slack delivery."
        },
        "filter": {
          "type": "string",
          "description": "The filter string to use for notification filtering. Currently, this is assumed to be a CEL program. See https://opensource.google/projects/cel for more."
        },
        "structDelivery": {
          "type": "object",
          "description": "Escape hatch for users to supply custom delivery configs.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "smtpDelivery": {
          "$ref": "SMTPDelivery",
          "description": "Configuration for SMTP (email) delivery."
        },
        "httpDelivery": {
          "$ref": "HTTPDelivery",
          "description": "Configuration for HTTP delivery."
        }
      },
      "id": "Notification",
      "type": "object"
    },
    "PushFilter": {
      "description": "Push contains filter properties for matching GitHub git pushes.",
      "properties": {
        "branch": {
          "type": "string",
          "description": "Regexes matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "tag": {
          "description": "Regexes matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "When true, only trigger a build if the revision regex does NOT match the git_ref regex."
        }
      },
      "id": "PushFilter",
      "type": "object"
    },
    "ArtifactResult": {
      "description": "An artifact that was uploaded during a build. This is a single record in the artifact manifest JSON file.",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "FileHashes"
          },
          "description": "The file hash of the artifact.",
          "type": "array"
        },
        "location": {
          "type": "string",
          "description": "The path of an artifact in a Google Cloud Storage bucket, with the generation number. For example, `gs://mybucket/path/to/output.jar#generation`."
        }
      },
      "type": "object",
      "id": "ArtifactResult"
    },
    "InlineSecret": {
      "id": "InlineSecret",
      "type": "object",
      "properties": {
        "envMap": {
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object"
        },
        "kmsKeyName": {
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*",
          "type": "string"
        }
      },
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
    },
    "ListBuildsResponse": {
      "id": "ListBuildsResponse",
      "description": "Response including listed builds.",
      "properties": {
        "builds": {
          "type": "array",
          "description": "Builds will be sorted by `create_time`, descending.",
          "items": {
            "$ref": "Build"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of results. This will be absent if the end of the response list has been reached."
        }
      },
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "description": "Location of the source in a supported storage service.",
      "properties": {
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get the source from this location in a Cloud Source Repository."
        },
        "storageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "If provided, get the source from this manifest in Google Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
        },
        "storageSource": {
          "description": "If provided, get the source from this location in Google Cloud Storage.",
          "$ref": "StorageSource"
        }
      }
    },
    "DeleteWorkerPoolOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        },
        "workerPool": {
          "description": "The resource name of the `WorkerPool` being deleted. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeleteWorkerPoolOperationMetadata",
      "description": "Metadata for the `DeleteWorkerPool` operation."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "Hash": {
      "description": "Container message for hash values.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The hash value.",
          "type": "string",
          "format": "byte"
        },
        "type": {
          "enum": [
            "NONE",
            "SHA256",
            "MD5"
          ],
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash."
          ],
          "type": "string",
          "description": "The type of hash that was performed."
        }
      },
      "id": "Hash"
    },
    "PrivatePoolV1Config": {
      "description": "Configuration for a V1 `PrivatePool`.",
      "type": "object",
      "properties": {
        "workerConfig": {
          "$ref": "WorkerConfig",
          "description": "Machine configuration for the workers in the pool."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Network configuration for the pool."
        }
      },
      "id": "PrivatePoolV1Config"
    },
    "BuildOperationMetadata": {
      "type": "object",
      "description": "Metadata for build operations.",
      "id": "BuildOperationMetadata",
      "properties": {
        "build": {
          "description": "The build that the operation is tracking.",
          "$ref": "Build"
        }
      }
    },
    "UpdateWorkerPoolOperationMetadata": {
      "type": "object",
      "description": "Metadata for the `UpdateWorkerPool` operation.",
      "properties": {
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerPool": {
          "type": "string",
          "description": "The resource name of the `WorkerPool` being updated. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        }
      },
      "id": "UpdateWorkerPoolOperationMetadata"
    },
    "NetworkConfig": {
      "properties": {
        "peeredNetwork": {
          "description": "Required. Immutable. The network definition that the workers are peered to. If this section is left empty, the workers will be peered to `WorkerPool.project_id` on the service producer network. Must be in the format `projects/{project}/global/networks/{network}`, where `{project}` is a project number, such as `12345`, and `{network}` is the name of a VPC network in the project. See [Understanding network configuration options](https://cloud.google.com/cloud-build/docs/custom-workers/set-up-custom-worker-pool-environment#understanding_the_network_configuration_options)",
          "type": "string"
        },
        "egressOption": {
          "type": "string",
          "enum": [
            "EGRESS_OPTION_UNSPECIFIED",
            "NO_PUBLIC_EGRESS",
            "PUBLIC_EGRESS"
          ],
          "enumDescriptions": [
            "If set, defaults to PUBLIC_EGRESS.",
            "If set, workers are created without any public address, which prevents network egress to public IPs unless a network proxy is configured.",
            "If set, workers are created with a public address which allows for public internet egress."
          ],
          "description": "Option to configure network egress for the workers."
        }
      },
      "description": "Defines the network configuration for the pool.",
      "id": "NetworkConfig",
      "type": "object"
    },
    "PoolOption": {
      "type": "object",
      "id": "PoolOption",
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a custom worker pool](https://cloud.google.com/build/docs/custom-workers/run-builds-in-custom-worker-pool) for more information."
    },
    "BuildTrigger": {
      "properties": {
        "ignoredFiles": {
          "description": "ignored_files and included_files are file glob matches using https://golang.org/pkg/path/filepath/#Match extended with support for \"**\". If ignored_files and changed files are both empty, then they are not used to determine whether or not to trigger a build. If ignored_files is not empty, then we ignore any files that match any of the ignored_file globs. If the change has no files that are outside of the ignored_files globs, then we do not trigger a build.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disabled": {
          "type": "boolean",
          "description": "If true, the trigger will never automatically execute a build."
        },
        "id": {
          "description": "Output only. Unique identifier of the trigger.",
          "readOnly": true,
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "Path, from the source root, to the build configuration file (i.e. cloudbuild.yaml)."
        },
        "substitutions": {
          "type": "object",
          "description": "Substitutions for Build resource. The keys must match the following regular expression: `^_[A-Z0-9_]+$`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "github": {
          "$ref": "GitHubEventsConfig",
          "description": "GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. Mutually exclusive with `trigger_template`."
        },
        "build": {
          "$ref": "Build",
          "description": "Contents of the build template."
        },
        "webhookConfig": {
          "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
          "$ref": "WebhookConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the trigger was created."
        },
        "includedFiles": {
          "type": "array",
          "description": "If any of the files altered in the commit pass the ignored_files filter and included_files is empty, then as far as this filter is concerned, we should trigger the build. If any of the files altered in the commit pass the ignored_files filter and included_files is not empty, then we make sure that at least one of those files matches a included_files glob. If not, then we do not trigger a build.",
          "items": {
            "type": "string"
          }
        },
        "autodetect": {
          "description": "Autodetect build configuration. The following precedence is used (case insensitive): 1. cloudbuild.yaml 2. cloudbuild.yml 3. cloudbuild.json 4. Dockerfile Currently only available for GitHub App Triggers.",
          "type": "boolean"
        },
        "name": {
          "description": "User-assigned name of the trigger. Must be unique within the project. Trigger names must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
          "type": "string"
        },
        "resourceName": {
          "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. A Common Expression Language string.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for annotation of a `BuildTrigger`"
        },
        "triggerTemplate": {
          "description": "Template describing the types of source changes to trigger a build. Branch and tag names in trigger templates are interpreted as regular expressions. Any branch or tag change that matches that regular expression will trigger a build. Mutually exclusive with `github`.",
          "$ref": "RepoSource"
        },
        "pubsubConfig": {
          "$ref": "PubsubConfig",
          "description": "PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of this trigger."
        }
      },
      "type": "object",
      "id": "BuildTrigger",
      "description": "Configuration for an automated build in response to source repository changes."
    },
    "NotifierSecretRef": {
      "type": "object",
      "description": "NotifierSecretRef contains the reference to a secret stored in the corresponding NotifierSpec.",
      "properties": {
        "secretRef": {
          "type": "string",
          "description": "The value of `secret_ref` should be a `name` that is registered in a `Secret` in the `secrets` list of the `Spec`."
        }
      },
      "id": "NotifierSecretRef"
    },
    "ListBuildTriggersResponse": {
      "properties": {
        "triggers": {
          "items": {
            "$ref": "BuildTrigger"
          },
          "type": "array",
          "description": "`BuildTriggers` for the project, sorted by `create_time` descending."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of results."
        }
      },
      "id": "ListBuildTriggersResponse",
      "type": "object",
      "description": "Response containing existing `BuildTriggers`."
    },
    "BuildStep": {
      "properties": {
        "args": {
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses."
        },
        "timeout": {
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "format": "google-duration",
          "type": "string"
        },
        "volumes": {
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "entrypoint": {
          "type": "string",
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
        },
        "waitFor": {
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "dir": {
          "type": "string",
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
        },
        "pullTiming": {
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "$ref": "TimeSpan",
          "readOnly": true
        },
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "secretEnv": {
          "type": "array",
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "items": {
            "type": "string"
          }
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "$ref": "TimeSpan",
          "readOnly": true
        }
      },
      "id": "BuildStep",
      "type": "object",
      "description": "A step in the build pipeline."
    },
    "WebhookConfig": {
      "type": "object",
      "id": "WebhookConfig",
      "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SECRET_DELETED"
          ],
          "enumDescriptions": [
            "The webhook auth configuration not been checked.",
            "The auth configuration is properly setup.",
            "The secret provided in auth_method has been deleted."
          ],
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests."
        },
        "secret": {
          "type": "string",
          "description": "Required. Resource name for the secret required as a URL parameter."
        }
      }
    },
    "ArtifactObjects": {
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "id": "ArtifactObjects",
      "properties": {
        "location": {
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
          "type": "string"
        },
        "timing": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects.",
          "readOnly": true
        },
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Path globs used to match files in the build's workspace."
        }
      },
      "type": "object"
    },
    "WorkerPool": {
      "type": "object",
      "description": "Configuration for a `WorkerPool`. Cloud Build owns and maintains a pool of workers for general use and have no access to a project's private network. By default, builds submitted to Cloud Build will use a worker from this pool. If your build needs access to resources on a private network, create and use a `WorkerPool` to run your builds. Private `WorkerPool`s give your builds access to any single VPC network that you administer, including any on-prem resources connected to that VPC network. For an overview of custom worker pools, see [Custom workers overview](https://cloud.google.com/cloud-build/docs/custom-workers/custom-workers-overview).",
      "id": "WorkerPool",
      "properties": {
        "privatePoolV1Config": {
          "description": "Private Pool using a v1 configuration.",
          "$ref": "PrivatePoolV1Config"
        },
        "state": {
          "type": "string",
          "description": "Output only. `WorkerPool` state.",
          "enumDescriptions": [
            "State of the `WorkerPool` is unknown.",
            "`WorkerPool` is being created.",
            "`WorkerPool` is running.",
            "`WorkerPool` is being deleted: cancelling builds and draining workers.",
            "`WorkerPool` is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "DELETING",
            "DELETED"
          ],
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the request to update the `WorkerPool` was received.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A unique identifier for the `WorkerPool`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A user-specified, human-readable name for the `WorkerPool`. If provided, this value must be 1-63 characters."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified annotations. See https://google.aip.dev/128#annotations for more details such as format and size limitations."
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the request to delete the `WorkerPool` was received."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the request to create the `WorkerPool` was received.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WorkerConfig": {
      "description": "Defines the configuration to be used for creating workers in the pool.",
      "type": "object",
      "properties": {
        "diskSizeGb": {
          "description": "Size of the disk attached to the worker, in GB. See [Worker pool config file](https://cloud.google.com/cloud-build/docs/custom-workers/worker-pool-config-file). Specify a value of up to 1000. If `0` is specified, Cloud Build will use a standard disk size.",
          "format": "int64",
          "type": "string"
        },
        "machineType": {
          "description": "Machine type of a worker, such as `e2-medium`. See [Worker pool config file](https://cloud.google.com/cloud-build/docs/custom-workers/worker-pool-config-file). If left blank, Cloud Build will use a sensible default.",
          "type": "string"
        }
      },
      "id": "WorkerConfig"
    },
    "Volume": {
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "type": "object",
      "id": "Volume",
      "properties": {
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        },
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        }
      }
    },
    "PubsubConfig": {
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Service account that will make the push request."
        },
        "subscription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the subscription. Format is `projects/{project}/subscriptions/{subscription}`."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SUBSCRIPTION_DELETED",
            "TOPIC_DELETED",
            "SUBSCRIPTION_MISCONFIGURED"
          ],
          "enumDescriptions": [
            "The subscription configuration has not been checked.",
            "The Pub/Sub subscription is properly configured.",
            "The subscription has been deleted.",
            "The topic has been deleted.",
            "Some of the subscription's field are misconfigured."
          ],
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests."
        },
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      },
      "description": "PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published.",
      "id": "PubsubConfig",
      "type": "object"
    },
    "StorageSourceManifest": {
      "type": "object",
      "id": "StorageSourceManifest",
      "properties": {
        "bucket": {
          "description": "Google Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64"
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing the source manifest. This object must be a JSON file."
        }
      },
      "description": "Location of the source manifest in Google Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
    },
    "RepoSource": {
      "description": "Location of the source in a Google Cloud Source Repository.",
      "type": "object",
      "properties": {
        "branchName": {
          "type": "string",
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "tagName": {
          "type": "string",
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "repoName": {
          "description": "Name of the Cloud Source Repository.",
          "type": "string"
        },
        "dir": {
          "description": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "substitutions": {
          "type": "object",
          "description": "Substitutions to use in a triggered build. Should only be used with RunBuildTrigger",
          "additionalProperties": {
            "type": "string"
          }
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "commitSha": {
          "type": "string",
          "description": "Explicit commit SHA to build."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
        }
      },
      "id": "RepoSource"
    },
    "NotifierSpec": {
      "id": "NotifierSpec",
      "type": "object",
      "properties": {
        "notification": {
          "description": "The configuration of this particular notifier.",
          "$ref": "Notification"
        },
        "secrets": {
          "type": "array",
          "items": {
            "$ref": "NotifierSecret"
          },
          "description": "Configurations for secret resources used by this particular notifier."
        }
      },
      "description": "NotifierSpec is the configuration container for notifications."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "Secrets": {
      "description": "Secrets and secret environment variables.",
      "id": "Secrets",
      "properties": {
        "inline": {
          "items": {
            "$ref": "InlineSecret"
          },
          "description": "Secrets encrypted with KMS key and the associated secret environment variable.",
          "type": "array"
        },
        "secretManager": {
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "type": "array",
          "items": {
            "$ref": "SecretManagerSecret"
          }
        }
      },
      "type": "object"
    },
    "BuildOptions": {
      "id": "BuildOptions",
      "type": "object",
      "properties": {
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "logging": {
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Cloud Logging and Cloud Storage logging are enabled.",
            "Only Cloud Storage logging is enabled.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Only Cloud Logging is enabled. Note that logs for both the Cloud Console UI and Cloud SDK are based on Cloud Storage logs, so neither will provide logs if this option is chosen.",
            "Turn off all logging. No build logs will be captured."
          ],
          "type": "string"
        },
        "logStreamingOption": {
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Google Cloud Storage.",
            "Build logs should not be streamed to Google Cloud Storage; they will be written when the build is completed."
          ],
          "description": "Option to define build log streaming behavior to Google Cloud Storage.",
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array"
        },
        "workerPool": {
          "type": "string",
          "description": "This field deprecated; please use `pool.name` instead."
        },
        "secretEnv": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build."
        },
[...]
