{
  "protocol": "rest",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "revision": "20230724",
  "kind": "discovery#restDescription",
  "version": "v2",
  "ownerDomain": "google.com",
  "title": "Google Cloud Support API",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "DiffChecksumsResponse": {
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectSizeBytes": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffChecksumsResponse"
    },
    "CompositeMedia": {
      "properties": {
        "referenceType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ]
        },
        "blobRef": {
          "deprecated": true,
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "md5Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "crc32cHash": {
          "type": "integer",
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "inline": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "sha1Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "CompositeMedia",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "CreateAttachmentRequest": {
      "type": "object",
      "id": "CreateAttachmentRequest",
      "description": "The request message for the CreateAttachment endpoint.",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      }
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object"
    },
    "DownloadParameters": {
      "type": "object",
      "id": "DownloadParameters",
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "SearchCasesResponse": {
      "type": "object",
      "description": "The response message for the SearchCases endpoint.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of cases associated with the Google Cloud Resource, after any filters have been applied."
        }
      },
      "id": "SearchCasesResponse"
    },
    "CloseCaseRequest": {
      "description": "The request message for the CloseCase endpoint.",
      "type": "object",
      "properties": {},
      "id": "CloseCaseRequest"
    },
    "Case": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "type": "string",
          "description": "Output only. The current status of the support case.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ]
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "languageCode": {
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this case was created.",
          "type": "string"
        },
        "priority": {
          "description": "The priority of this case.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ]
        },
        "escalated": {
          "description": "Whether the case is currently escalated.",
          "type": "boolean"
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this case was last updated."
        },
        "timeZone": {
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API.",
          "type": "string"
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "description": "The email addresses to receive updates on this case.",
          "items": {
            "type": "string"
          }
        },
        "contactEmail": {
          "type": "string",
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs."
        },
        "name": {
          "description": "The resource name for the case.",
          "type": "string"
        }
      },
      "description": "A support case.",
      "type": "object",
      "id": "Case"
    },
    "CaseClassification": {
      "id": "CaseClassification",
      "description": "A classification object with a product type and value.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail.",
          "type": "string"
        },
        "displayName": {
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field.",
          "type": "string"
        }
      }
    },
    "ListAttachmentsResponse": {
      "type": "object",
      "id": "ListAttachmentsResponse",
      "description": "The response message for the ListAttachments endpoint.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve."
        },
        "attachments": {
          "type": "array",
          "description": "The list of attachments associated with the given case.",
          "items": {
            "$ref": "Attachment"
          }
        }
      }
    },
    "DiffDownloadResponse": {
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffDownloadResponse",
      "type": "object"
    },
    "ObjectId": {
      "type": "object",
      "properties": {
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "ObjectId"
    },
    "EscalateCaseRequest": {
      "id": "EscalateCaseRequest",
      "description": "The request message for the EscalateCase endpoint.",
      "type": "object",
      "properties": {
        "escalation": {
          "$ref": "Escalation",
          "description": "The escalation object to be sent with the escalation request."
        }
      }
    },
    "ListCasesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of the subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "type": "array",
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the Google Cloud Resource, after any filters have been applied."
        }
      },
      "id": "ListCasesResponse",
      "description": "The response message for the ListCases endpoint.",
      "type": "object"
    },
    "Escalation": {
      "type": "object",
      "description": "An escalation of a support case.",
      "properties": {
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        },
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "description": "Required. The reason why the Case is being escalated.",
          "type": "string",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ]
        }
      },
      "id": "Escalation"
    },
    "SearchCaseClassificationsResponse": {
      "id": "SearchCaseClassificationsResponse",
      "type": "object",
      "properties": {
        "caseClassifications": {
          "type": "array",
          "items": {
            "$ref": "CaseClassification"
          },
          "description": "The classifications retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "description": "The response message for SearchCaseClassifications endpoint."
    },
    "ContentTypeInfo": {
      "properties": {
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromHeader": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromFileName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "ContentTypeInfo"
    },
    "Comment": {
      "description": "A comment associated with a support case.",
      "id": "Comment",
      "properties": {
        "plainTextBody": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. DEPRECATED. An automatically generated plain text version of body with all rich text syntax stripped."
        },
        "creator": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent created this comment."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when this comment was created.",
          "readOnly": true
        },
        "body": {
          "description": "The full comment body. Maximum of 12800 characters. This can contain rich text syntax.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for the comment."
        }
      },
      "type": "object"
    },
    "Actor": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "googleSupport": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the actor is a Google support actor."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        }
      },
      "id": "Actor",
      "description": "An object containing information about the effective user and authenticated principal responsible for an action."
    },
    "Attachment": {
      "description": "Represents a file attached to a support case.",
      "id": "Attachment",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true,
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support.",
          "$ref": "Actor",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the attachment."
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The size of the attachment in bytes."
        }
      },
      "type": "object"
    },
    "WorkflowOperationMetadata": {
      "id": "WorkflowOperationMetadata",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved."
        },
        "workflowOperationType": {
          "type": "string",
          "description": "Which version of the workflow service this operation came from.",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ]
        },
        "operationAction": {
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "type": "string",
          "description": "The type of action the operation is classified as.",
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ]
        }
      },
      "type": "object",
      "description": "Metadata about the operation. Used to lookup the current status."
    },
    "DiffUploadResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffUploadResponse"
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadReadHandle": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "DiffVersionResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DiffVersionResponse",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        }
      }
    },
    "Media": {
      "properties": {
        "bigstoreObjectRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "format": "byte",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "token": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "compositeMedia": {
          "items": {
            "$ref": "CompositeMedia"
          },
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "array"
        },
        "contentType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "deprecated": true,
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "hash": {
          "type": "string",
          "deprecated": true,
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "type": "string"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer",
          "format": "uint32"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "md5Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha256Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "diffUploadRequest": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadRequest"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ]
        },
        "timestamp": {
          "format": "uint64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadParameters": {
          "$ref": "DownloadParameters",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffVersionResponse": {
          "$ref": "DiffVersionResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "mediaId": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "Media",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "ListCommentsResponse": {
      "id": "ListCommentsResponse",
      "properties": {
        "comments": {
          "description": "The list of Comments associated with the given Case.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object",
      "description": "The response message for the ListComments endpoint."
    }
  },
  "id": "cloudsupport:v2",
  "servicePath": "",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "resources": {
    "caseClassifications": {
      "methods": {
        "search": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "id": "cloudsupport.caseClassifications.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/caseClassifications:search",
          "path": "v2/caseClassifications:search",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of cases fetched with each request.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "An expression written in the Google Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out."
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by `\" \u003e \"`. For example `\"Technical Issue \u003e Compute \u003e Compute Engine\"`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least six months. If a given classification is deactivated, it immediately stops being returned. After six months, `case.create` requests using the classification ID will fail. Here is an example of calling this endpoint using cURL: ```shell curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ 'https://cloudsupport.googleapis.com/v2/caseClassifications:search?query=display_name:\"*Compute%20Engine*\"' ```"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameterOrder": [
            "name"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "id": "cloudsupport.media.download",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The resource name of the attachment to be downloaded.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$"
            }
          },
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "response": {
            "$ref": "Media"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "path": "v2/{+name}:download"
        },
        "upload": {
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "httpMethod": "POST",
          "path": "v2/{+parent}/attachments",
          "supportsMediaUpload": true,
          "id": "cloudsupport.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
          "parameterOrder": [
            "parent"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+parent}/attachments"
              }
            }
          },
          "response": {
            "$ref": "Attachment"
          },
          "request": {
            "$ref": "CreateAttachmentRequest"
          }
        }
      }
    },
    "cases": {
      "methods": {
        "list": {
          "description": "Retrieve all cases under the specified parent. Note: Listing cases under an organization returns only the cases directly parented by that organization. To retrieve all cases under an organization, including cases parented by projects under that organization, use `cases.search`. Here is an example of calling this endpoint using cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ```",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "An expression written in filter language. If non-empty, the query returns the cases that match the filter. Else, the query doesn't filter the cases. Filter expressions use the following fields with the operators equals (`=`) and `AND`: - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. Examples: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`"
            }
          },
          "response": {
            "$ref": "ListCasesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "httpMethod": "GET",
          "id": "cloudsupport.cases.list",
          "path": "v2/{+parent}/cases",
          "parameterOrder": [
            "parent"
          ]
        },
        "close": {
          "id": "cloudsupport.cases.close",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "description": "Close the specified case. Here is an example of calling this endpoint using cURL: ```shell case=\"projects/cloud-support-qa-premium/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case:close\" ```",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:close",
          "path": "v2/{+name}:close",
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "httpMethod": "GET",
          "id": "cloudsupport.cases.get",
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            }
          },
          "description": "Retrieve the specified case. Here is an example of calling this endpoint using cURL: ```shell case=\"projects/some-project/cases/16033687\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case\" ```",
          "response": {
            "$ref": "Case"
          },
          "path": "v2/{+name}"
        },
        "create": {
          "httpMethod": "POST",
          "id": "cloudsupport.cases.create",
          "request": {
            "$ref": "Case"
          },
          "response": {
            "$ref": "Case"
          },
          "description": "Create a new case and associate it with the given Google Cloud Resource. The case object must have the following fields set: `display_name`, `description`, `classification`, and `priority`. Here is an example of calling this endpoint using cURL: ```shell parent=\"projects/some-project\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"display_name\": \"Test case created by me.\", \"description\": \"a random test case, feel free to close\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, \"time_zone\": \"-07:00\", \"subscriber_email_addresses\": [ \"foo@domain.com\", \"bar@domain.com\" ], \"testCase\": true, \"priority\": \"P3\" }' \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ```",
          "path": "v2/{+parent}/cases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the Google Cloud Resource under which the case should be created.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$"
            }
          }
        },
        "escalate": {
          "description": "Escalate a case. Escalating a case initiates the Google Cloud Support escalation management process. This operation is only available to certain Customer Care support services. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which support services let you perform escalations. Here is an example of calling this endpoint using cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\" } }' \\ \"https://cloudsupport.googleapis.com/v2/$case:escalate\" ```",
          "response": {
            "$ref": "Case"
          },
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "path": "v2/{+name}:escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:escalate",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudsupport.cases.escalate",
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.patch",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Case"
          },
          "description": "Update the specified case. Only a subset of fields can be updated. Here is an example of calling this endpoint using cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"priority\": \"P1\" }' \\ \"https://cloudsupport.googleapis.com/v2/$case?updateMask=priority\" ```",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "The resource name for the case.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "description": "A list of attributes of the case object that should be updated as part of this request. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. WARNING: If you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}"
        },
        "search": {
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases:search",
          "id": "cloudsupport.cases.search",
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "format": "int32"
            },
            "parent": {
              "required": true,
              "description": "The fully qualified name of parent resource to search cases under.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+$",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "An expression written in filter language. A query uses the following fields with the operators equals (`=`) and `AND`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. - `billingAccount`: A billing account in the form `billingAccounts/` You must specify either `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `billing_account=\"billingAccounts/123456-A0B0C0-CUZ789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`"
            }
          },
          "description": "Search cases using the specified query. Here is an example of calling this endpoint using cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases:search\" ```",
          "path": "v2/{+parent}/cases:search"
        }
      },
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/attachments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve all attachments associated with a support case.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of Case object for which attachments should be listed.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string"
                }
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
              "id": "cloudsupport.cases.attachments.list"
            }
          }
        },
        "comments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "path": "v2/{+parent}/comments",
              "id": "cloudsupport.cases.comments.list",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                },
                "pageSize": {
                  "description": "The maximum number of comments fetched with each request. Defaults to 10.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve all Comments associated with the Case object."
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
                }
              },
              "id": "cloudsupport.cases.comments.create",
              "request": {
                "$ref": "Comment"
              },
              "response": {
                "$ref": "Comment"
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "path": "v2/{+parent}/comments",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Add a new comment to the specified Case. The comment object must have the following fields set: body."
            }
          }
        }
      }
    }
  },
  "name": "cloudsupport",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "canonicalName": "Cloud Support"
}
