{
  "canonicalName": "Cloud Support",
  "title": "Google Cloud Support API",
  "servicePath": "",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "version": "v2",
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "revision": "20240212",
  "name": "cloudsupport",
  "ownerDomain": "google.com",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "resources": {
    "cases": {
      "methods": {
        "create": {
          "id": "cloudsupport.cases.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Case"
          },
          "path": "v2/{+parent}/cases",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The name of the parent under which the case should be created."
            }
          },
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "description": "Create a new case and associate it with a parent. It must have the following fields set: `display_name`, `description`, `classification`, and `priority`. If you're just testing the API and don't want to route your case to an agent, set `testCase=true`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"display_name\": \"Test case created by me.\", \"description\": \"a random test case, feel free to close\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, \"time_zone\": \"-07:00\", \"subscriber_email_addresses\": [ \"foo@domain.com\", \"bar@domain.com\" ], \"testCase\": true, \"priority\": \"P3\" }' \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().create( parent=\"projects/some-project\", body={ \"displayName\": \"A Test Case\", \"description\": \"This is a test case.\", \"testCase\": True, \"priority\": \"P2\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, }, ) print(request.execute()) ```",
          "httpMethod": "POST"
        },
        "search": {
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases:search",
          "path": "v2/{+parent}/cases:search",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "An expression used to filter cases. Expressions use the following fields separated by `AND` and specified with `=`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. You must specify either `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "location": "query"
            },
            "parent": {
              "description": "The name of the parent resource to search for cases under.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "location": "path"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Search for cases using a query. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases:search\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().search( parent=\"projects/some-project\", query=\"state=OPEN\" ) print(request.execute()) ```",
          "id": "cloudsupport.cases.search"
        },
        "escalate": {
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "id": "cloudsupport.cases.escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:escalate",
          "parameters": {
            "name": {
              "description": "Required. The name of the case to be escalated.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "description": "Escalate a case, starting the Google Cloud Support escalation management process. This operation is only available for some support services. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which ones let you do that. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\" } }' \\ \"https://cloudsupport.googleapis.com/v2/$case:escalate\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().escalate( name=\"projects/some-project/cases/43595344\", body={ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\", }, }, ) print(request.execute()) ```",
          "path": "v2/{+name}:escalate",
          "parameterOrder": [
            "name"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "A list of attributes of the case that should be updated. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. Be careful - if you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "description": "The resource name for the case.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update a case. Only some fields can be updated. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"priority\": \"P1\" }' \\ \"https://cloudsupport.googleapis.com/v2/$case?updateMask=priority\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().patch( name=\"projects/some-project/cases/43112854\", body={ \"displayName\": \"This is Now a New Title\", \"priority\": \"P2\", }, ) print(request.execute()) ```",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "id": "cloudsupport.cases.patch",
          "request": {
            "$ref": "Case"
          },
          "path": "v2/{+name}"
        },
        "get": {
          "httpMethod": "GET",
          "id": "cloudsupport.cases.get",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}",
          "parameters": {
            "name": {
              "description": "Required. The full name of a case to be retrieved.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Retrieve a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/16033687\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().get( name=\"projects/some-project/cases/43595344\", ) print(request.execute()) ```",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "close": {
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The name of the case to close.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "description": "Close a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case:close\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().close( name=\"projects/some-project/cases/43595344\" ) print(request.execute()) ```",
          "path": "v2/{+name}:close",
          "id": "cloudsupport.cases.close",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}:close"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/{+parent}/cases",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The name of a parent to list cases under.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "filter": {
              "description": "An expression used to filter cases. If it's an empty string, then no filtering happens. Otherwise, the endpoint returns the cases that match the filter. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. EXAMPLES: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
              "location": "query",
              "type": "string"
            }
          },
          "id": "cloudsupport.cases.list",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "description": "Retrieve all cases under a parent, but not its children. For example, listing cases under an organization only returns the cases that are directly parented by that organization. To retrieve cases under an organization and its projects, use `cases.search`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().list(parent=\"projects/some-project\") print(request.execute()) ```",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the case for which attachments should be listed.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
                }
              },
              "description": "List all the attachments associated with a support case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/23598314\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case/attachments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "id": "cloudsupport.cases.attachments.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
              "path": "v2/{+parent}/attachments",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "comments": {
          "methods": {
            "create": {
              "id": "cloudsupport.cases.comments.create",
              "path": "v2/{+parent}/comments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Comment"
              },
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "description": "Add a new comment to a case. The comment must have the following fields set: `body`. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43591344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"body\": \"This is a test comment.\" }' \\ \"https://cloudsupport.googleapis.com/v2/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .create( parent=\"projects/some-project/cases/43595344\", body={\"body\": \"This is a test comment.\"}, ) ) print(request.execute()) ```",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the case to which the comment should be added.",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Comment"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/comments",
              "parameters": {
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the case for which to list comments.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of comments to fetch. Defaults to 10.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List all the comments associated with a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "id": "cloudsupport.cases.comments.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "path": "v2/{+parent}/comments"
            }
          }
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "description": "Retrieve valid classifications to use when creating a support case. Classifications are hierarchical. Each classification is a string containing all levels of the hierarchy separated by `\" \u003e \"`. For example, `\"Technical Issue \u003e Compute \u003e Compute Engine\"`. Classification IDs returned by this endpoint are valid for at least six months. When a classification is deactivated, this endpoint immediately stops returning it. After six months, `case.create` requests using the classification will fail. EXAMPLES: cURL: ```shell curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ 'https://cloudsupport.googleapis.com/v2/caseClassifications:search?query=display_name:\"*Compute%20Engine*\"' ``` Python: ```python import googleapiclient.discovery supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=\"v2\", discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version=v2\", ) request = supportApiService.caseClassifications().search( query='display_name:\"*Compute Engine*\"' ) print(request.execute()) ```",
          "id": "cloudsupport.caseClassifications.search",
          "path": "v2/caseClassifications:search",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of classifications fetched with each request."
            },
            "query": {
              "description": "An expression used to filter case classifications. If it's an empty string, then no filtering happens. Otherwise, case classifications will be returned that match the filter.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/caseClassifications:search",
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the file attachment to download.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$"
            }
          },
          "useMediaDownloadService": true,
          "id": "cloudsupport.media.download",
          "response": {
            "$ref": "Media"
          },
          "path": "v2/{+name}:download",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Download a file attached to a case. Note: HTTP requests must append \"?alt=media\" to the URL. EXAMPLES: cURL: ```shell name=\"projects/some-project/cases/43594844/attachments/0674M00000WijAnZAJ\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2/$name:download?alt=media\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.media().download( name=\"projects/some-project/cases/43595344/attachments/0684M00000Pw6pHQAR\" ) request.uri = request.uri.split(\"?\")[0] + \"?alt=media\" print(request.execute()) ```",
          "supportsMediaDownload": true
        },
        "upload": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "description": "Create a file attachment on a case or Cloud resource. The attachment must have the following fields set: `filename`. EXAMPLES: cURL: ```shell echo \"This text is in a file I'm uploading using CSAPI.\" \\ \u003e \"./example_file.txt\" case=\"projects/some-project/cases/43594844\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --data-binary @\"./example_file.txt\" \\ \"https://cloudsupport.googleapis.com/upload/v2beta/$case/attachments?attachment.filename=uploaded_via_curl.txt\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) file_path = \"./example_file.txt\" with open(file_path, \"w\") as file: file.write( \"This text is inside a file I'm going to upload using the Cloud Support API.\", ) request = supportApiService.media().upload( parent=\"projects/some-project/cases/43595344\", media_body=file_path ) request.uri = request.uri.split(\"?\")[0] + \"?attachment.filename=uploaded_via_python.txt\" print(request.execute()) ```",
          "response": {
            "$ref": "Attachment"
          },
          "httpMethod": "POST",
          "path": "v2/{+parent}/attachments",
          "flatPath": "v2/{v2Id}/{v2Id1}/cases/{casesId}/attachments",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/v2/{+parent}/attachments",
                "multipart": true
              }
            }
          },
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "id": "cloudsupport.media.upload",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the case or Cloud resource to which the attachment should be attached."
            }
          },
          "supportsMediaUpload": true
        }
      }
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "id": "cloudsupport:v2",
  "schemas": {
    "CloseCaseRequest": {
      "id": "CloseCaseRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for the CloseCase endpoint."
    },
    "CompositeMedia": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "blobRef": {
          "format": "byte",
          "deprecated": true,
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "type": "integer",
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "CompositeMedia"
    },
    "Escalation": {
      "type": "object",
      "description": "An escalation of a support case.",
      "properties": {
        "reason": {
          "description": "Required. The reason why the Case is being escalated.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ]
        },
        "justification": {
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated.",
          "type": "string"
        }
      },
      "id": "Escalation"
    },
    "CaseClassification": {
      "properties": {
        "displayName": {
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail."
        }
      },
      "id": "CaseClassification",
      "description": "A Case Classification represents the topic that a case is about. It's very important to use accurate classifications, because they're used to route your cases to specialists who can help you. A classification always has an ID that is its unique identifier. A valid ID is required when creating a case.",
      "type": "object"
    },
    "Case": {
      "type": "object",
      "properties": {
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "description": "The priority of this case.",
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ]
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the case."
        },
        "subscriberEmailAddresses": {
          "items": {
            "type": "string"
          },
          "description": "The email addresses to receive updates on this case.",
          "type": "array"
        },
        "classification": {
          "description": "The issue classification applicable to this case.",
          "$ref": "CaseClassification"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this case was last updated."
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this case was created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A broad description of the issue."
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "contactEmail": {
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "description": "Output only. The current status of the support case.",
          "type": "string",
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "readOnly": true
        }
      },
      "description": "A Case is an object that contains the details of a support case. It contains fields for the time it was created, its priority, its classification, and more. Cases can also have comments and attachments that get added over time. A case is parented by a Google Cloud organization or project. Organizations are identified by a number, so the name of a case parented by an organization would look like this: ``` organizations/123/cases/456 ``` Projects have two unique identifiers, an ID and a number, and they look like this: ``` projects/abc/cases/456 ``` ``` projects/123/cases/456 ``` You can use either of them when calling the API. To learn more about project identifiers, see [AIP-2510](https://google.aip.dev/cloud/2510). Next ID: 38",
      "id": "Case"
    },
    "Comment": {
      "type": "object",
      "properties": {
        "plainTextBody": {
          "description": "Output only. DEPRECATED. An automatically generated plain text version of body with all rich text syntax stripped.",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 12800 characters. This can contain rich text syntax."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when this comment was created."
        },
        "creator": {
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent created this comment.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name for the comment.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Case comments are the main way Google Support communicates with a user who has opened a case. When a user responds to Google Support, the user's responses also appear as comments.",
      "id": "Comment"
    },
    "ObjectId": {
      "id": "ObjectId",
      "properties": {
        "generation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    },
    "Media": {
      "type": "object",
      "id": "Media",
      "properties": {
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "mediaId": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "type": "string"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "isPotentialRetry": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "compositeMedia": {
          "type": "array",
          "description": "# gdata.* are outside protos with mising documentation",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "diffChecksumsResponse": {
          "$ref": "DiffChecksumsResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        },
        "contentType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffDownloadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffDownloadResponse"
        },
        "sha256Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer",
          "format": "uint32"
        },
        "diffVersionResponse": {
          "$ref": "DiffVersionResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "deprecated": true
        },
        "length": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "bigstoreObjectRef": {
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "format": "byte",
          "type": "string"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "type": "string",
          "deprecated": true,
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "type": "string",
          "deprecated": true,
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "timestamp": {
          "format": "uint64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "DiffChecksumsResponse": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffChecksumsResponse",
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "chunkSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "SearchCasesResponse": {
      "id": "SearchCasesResponse",
      "type": "object",
      "description": "The response message for the SearchCases endpoint.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.search` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of cases associated with the parent after any filters have been applied."
        }
      }
    },
    "DownloadParameters": {
      "type": "object",
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DownloadParameters"
    },
    "DiffUploadRequest": {
      "properties": {
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DiffUploadRequest"
    },
    "CreateAttachmentRequest": {
      "type": "object",
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      },
      "description": "The request message for the CreateAttachment endpoint.",
      "id": "CreateAttachmentRequest"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectSizeBytes": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "DiffDownloadResponse": {
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffDownloadResponse",
      "type": "object"
    },
    "WorkflowOperationMetadata": {
      "type": "object",
      "id": "WorkflowOperationMetadata",
      "properties": {
        "operationAction": {
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "type": "string",
          "description": "The type of action the operation is classified as.",
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ]
        },
        "namespace": {
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved.",
          "type": "string"
        },
        "workflowOperationType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ],
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "description": "Which version of the workflow service this operation came from."
        }
      },
      "description": "Metadata about the operation. Used to lookup the current status."
    },
    "ListCommentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.comments.list` requests. If unspecified, there are no more results to retrieve."
        },
        "comments": {
          "type": "array",
          "description": "List of the comments associated with the case.",
          "items": {
            "$ref": "Comment"
          }
        }
      },
      "id": "ListCommentsResponse",
      "description": "The response message for the ListComments endpoint.",
      "type": "object"
    },
    "ListAttachmentsResponse": {
      "id": "ListAttachmentsResponse",
      "properties": {
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "The list of attachments associated with a case.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object",
      "description": "The response message for the ListAttachments endpoint."
    },
    "Attachment": {
      "description": "An Attachment contains metadata about a file that was uploaded to a case - it is NOT a file itself. That being said, the name of an Attachment object can be used to download its accompanying file through the `media.download` endpoint. While attachments can be uploaded in the console at the same time as a comment, they're associated on a \"case\" level, not a \"comment\" level.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the attachment."
        },
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The MIME type of the attachment (e.g. text/plain)."
        },
        "creator": {
          "$ref": "Actor",
          "readOnly": true,
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "sizeBytes": {
          "type": "string",
          "description": "Output only. The size of the attachment in bytes.",
          "readOnly": true,
          "format": "int64"
        },
        "createTime": {
          "description": "Output only. The time at which the attachment was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        }
      },
      "id": "Attachment",
      "type": "object"
    },
    "ContentTypeInfo": {
      "id": "ContentTypeInfo",
      "properties": {
        "fromHeader": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "EscalateCaseRequest": {
      "description": "The request message for the EscalateCase endpoint.",
      "properties": {
        "escalation": {
          "description": "The escalation information to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      },
      "type": "object",
      "id": "EscalateCaseRequest"
    },
    "Blobstore2Info": {
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "Blobstore2Info",
      "properties": {
        "uploadMetadataContainer": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "downloadReadHandle": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "blobGeneration": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "readToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "ListCasesResponse": {
      "id": "ListCasesResponse",
      "type": "object",
      "description": "The response message for the ListCases endpoint.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.list` requests. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "type": "array",
          "description": "The list of cases associated with the parent after any filters have been applied."
        }
      }
    },
    "DiffUploadResponse": {
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "type": "object",
      "id": "DiffUploadResponse"
    },
    "Actor": {
      "type": "object",
      "id": "Actor",
      "description": "An Actor represents an entity that performed an action. For example, an actor could be a user who posted a comment on a support case, a user who uploaded an attachment, or a service account that created a support case.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "googleSupport": {
          "description": "Output only. Whether the actor is a Google support actor.",
          "readOnly": true,
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "The email address of the actor. If not provided, it is inferred from the credentials supplied during case creation. When a name is provided, an email must also be provided. If the user is a Google Support agent, this is obfuscated. This field is deprecated. Use **username** field instead.",
          "deprecated": true
        },
        "username": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The username of the actor. It may look like an email or other format provided by the identity provider. If not provided, it is inferred from the credentials supplied. When a name is provided, a username must also be provided. If the user is a Google Support agent, this will not be set."
        }
      }
    },
    "SearchCaseClassificationsResponse": {
      "description": "The response message for SearchCaseClassifications endpoint.",
      "id": "SearchCaseClassificationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `caseClassifications.list` requests. If unspecified, there are no more results to retrieve."
        },
        "caseClassifications": {
          "description": "The classifications retrieved.",
          "type": "array",
          "items": {
            "$ref": "CaseClassification"
          }
        }
      }
    }
  }
}
