{
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "name": "cloudidentity",
  "ownerDomain": "google.com",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/identity/",
  "basePath": "",
  "id": "cloudidentity:v1",
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "description": "Response message for wiping the user's account from the device.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "customer": {
          "type": "string",
          "description": "The obfuscated customer Id that may be passed back to other Devices API methods such as List, Get, etc."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse"
    },
    "UpdateGroupMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata for UpdateGroup LRO.",
      "id": "UpdateGroupMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse",
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "deviceUsers": {
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "type": "object",
      "description": "Metadata for WipeDeviceUser LRO."
    },
    "UpdateMembershipMetadata": {
      "properties": {},
      "description": "Metadata for UpdateMembership LRO.",
      "type": "object",
      "id": "UpdateMembershipMetadata"
    },
    "SearchTransitiveGroupsResponse": {
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        },
        "memberships": {
          "items": {
            "$ref": "GroupRelation"
          },
          "type": "array",
          "description": "List of transitive groups satisfying the query."
        }
      },
      "type": "object",
      "id": "SearchTransitiveGroupsResponse"
    },
    "MemberRelation": {
      "properties": {
        "preferredMemberKey": {
          "items": {
            "$ref": "EntityKey"
          },
          "type": "array",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "member": {
          "description": "Resource name for this member.",
          "type": "string"
        },
        "roles": {
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "The membership role details (i.e name of role and expiry time).",
          "type": "array"
        },
        "relationType": {
          "description": "The relation between the group and the transitive member.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "type": "string"
        }
      },
      "description": "Message representing a transitive membership of a group.",
      "type": "object",
      "id": "MemberRelation"
    },
    "SecuritySettings": {
      "properties": {
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        },
        "name": {
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SecuritySettings",
      "description": "The definition of security settings.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "properties": {
        "ownershipPrivilege": {
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device.",
          "type": "string"
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        }
      },
      "description": "Resource representing the Android specific attributes of a Device."
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest": {
      "type": "object",
      "description": "Request message for blocking account on device.",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      }
    },
    "EntityKey": {
      "type": "object",
      "id": "EntityKey",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
        },
        "namespace": {
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`.",
          "type": "string"
        }
      },
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s."
    },
    "LookupGroupNameResponse": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`."
        }
      },
      "type": "object",
      "description": "The response message for GroupsService.LookupGroupName.",
      "id": "LookupGroupNameResponse"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata for UpdateDevice LRO."
    },
    "DynamicGroupStatus": {
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "type": "string",
          "description": "Status of the dynamic group."
        },
        "statusTime": {
          "type": "string",
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "format": "google-datetime"
        }
      },
      "id": "DynamicGroupStatus",
      "description": "The current status of a dynamic group along with timestamp.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "description": "Metadata for CancelWipeDevice LRO."
    },
    "MembershipRoleRestrictionEvaluation": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the restriction",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ]
        }
      },
      "description": "The evaluated state of this restriction.",
      "id": "MembershipRoleRestrictionEvaluation"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "type": "object",
      "description": "Metadata for WipeDevice LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata"
    },
    "RestrictionEvaluations": {
      "id": "RestrictionEvaluations",
      "properties": {
        "memberRestrictionEvaluation": {
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation.",
          "$ref": "MembershipRoleRestrictionEvaluation"
        }
      },
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "type": "object"
    },
    "CreateMembershipMetadata": {
      "description": "Metadata for CreateMembership LRO.",
      "properties": {},
      "id": "CreateMembershipMetadata",
      "type": "object"
    },
    "TransitiveMembershipRole": {
      "description": "Message representing the role of a TransitiveMembership.",
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      },
      "id": "TransitiveMembershipRole",
      "type": "object"
    },
    "GetMembershipGraphResponse": {
      "type": "object",
      "properties": {
        "adjacencyList": {
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "description": "The membership graph's path information represented as an adjacency list.",
          "type": "array"
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource."
        }
      },
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "id": "GetMembershipGraphResponse"
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "type": "object",
      "properties": {
        "userAgent": {
          "description": "Output only. User agent on the device for this specific user",
          "readOnly": true,
          "type": "string"
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "description": "Compromised State of the DeviceUser object",
          "type": "string",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the user first signed in to the device"
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device."
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Default locale used on device, in IETF BCP-47 format."
        },
        "passwordState": {
          "type": "string",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "description": "Password state of the DeviceUser object",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ]
        },
        "firstSyncTime": {
          "description": "Output only. Most recent time when user registered with this service.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "managementState": {
          "type": "string",
          "description": "Output only. Management state of the user on the device.",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        },
        "lastSyncTime": {
          "type": "string",
          "description": "Output only. Last time when user synced with policies.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser"
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "properties": {
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The `Membership`s under the specified `parent`."
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      },
      "description": "The response message for MembershipsService.ListMemberships."
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "properties": {
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "ownerType": {
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "description": "Output only. The owner of the ClientState",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        },
        "assetTags": {
          "description": "The caller can specify asset tags for this resource",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "complianceState": {
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "description": "The compliance state of the resource as specified by the API client."
        },
        "createTime": {
          "description": "Output only. The time the client state data was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "Output only. The time the client state data was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "keyValuePairs": {
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object"
        },
        "healthScore": {
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "type": "string"
        },
        "managed": {
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "type": "string",
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ]
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "id": "GoogleAppsCloudidentityDevicesV1ClientState"
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata",
      "description": "Metadata for ListEndpointApps LRO."
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "object",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "description": "Response message for approving the device to access user data.",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "Groups returned in response to list request. The results are not sorted.",
          "type": "array"
        }
      },
      "description": "Response message for ListGroups operation.",
      "id": "ListGroupsResponse"
    },
    "GoogleAppsCloudidentityDevicesV1ListDevicesResponse": {
      "type": "object",
      "description": "Response message that is returned from the ListDevices method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "devices": {
          "type": "array",
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          }
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ListDevicesResponse"
    },
    "SendUserInvitationRequest": {
      "properties": {},
      "id": "SendUserInvitationRequest",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for DeleteDeviceUser LRO."
    },
    "CheckTransitiveMembershipResponse": {
      "type": "object",
      "id": "CheckTransitiveMembershipResponse",
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest": {
      "description": "Request message for cancelling an unfinished user account wipe.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "DynamicGroupQuery": {
      "id": "DynamicGroupQuery",
      "properties": {
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "type": "string",
          "description": "Resource type for the Dynamic Group Query",
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ]
        },
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        }
      },
      "description": "Defines a query on a resource.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "description": "Metadata for CancelWipeDeviceUser LRO."
    },
    "SearchTransitiveMembershipsResponse": {
      "id": "SearchTransitiveMembershipsResponse",
      "properties": {
        "memberships": {
          "items": {
            "$ref": "MemberRelation"
          },
          "description": "List of transitive members satisfying the query.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships."
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "properties": {},
      "description": "Metadata for UpdateClientState LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata for ApproveDeviceUser LRO."
    },
    "ExpiryDetail": {
      "id": "ExpiryDetail",
      "description": "The `MembershipRole` expiry details.",
      "properties": {
        "expireTime": {
          "description": "The time at which the `MembershipRole` will expire.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "type": "object",
      "description": "Metadata for BlockDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest": {
      "description": "Request message for cancelling an unfinished device wipe.",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest"
    },
    "Membership": {
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "type": "object",
      "properties": {
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the `Membership` was created."
        },
        "preferredMemberKey": {
          "description": "Required. Immutable. The `EntityKey` of the member.",
          "$ref": "EntityKey"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the `Membership` was last updated."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the membership.",
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents other type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "OTHER"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group}/memberships/{membership}`."
        }
      },
      "id": "Membership"
    },
    "ModifyMembershipRolesRequest": {
      "description": "The request message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "updateRolesParams": {
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          },
          "type": "array",
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set."
        },
        "addRoles": {
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set."
        },
        "removeRoles": {
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ModifyMembershipRolesRequest"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "type": "object",
      "description": "Response message for cancelling an unfinished user account wipe.",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "type": "object",
      "description": "Metadata for CreateDevice LRO."
    },
    "MembershipAdjacencyList": {
      "properties": {
        "edges": {
          "items": {
            "$ref": "Membership"
          },
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g name, preferred_member_key and role), but may not be a comprehensive list of all fields.",
          "type": "array"
        },
        "group": {
          "type": "string",
          "description": "Resource name of the group that the members belong to."
        }
      },
      "description": "Membership graph's path information as an adjacency list.",
      "id": "MembershipAdjacencyList",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "description": "Response message for wiping all data on the device.",
      "properties": {
        "device": {
          "$ref": "GoogleAppsCloudidentityDevicesV1Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "type": "object"
    },
    "DynamicGroupMetadata": {
      "id": "DynamicGroupMetadata",
      "description": "Dynamic group metadata like queries and status.",
      "properties": {
        "queries": {
          "type": "array",
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 100 dynamic groups.",
          "items": {
            "$ref": "DynamicGroupQuery"
          }
        },
        "status": {
          "readOnly": true,
          "$ref": "DynamicGroupStatus",
          "description": "Output only. Status of the dynamic group."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "description": "Additional custom attribute values may be one of these types",
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "type": "object",
      "properties": {
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      }
    },
    "MemberRestriction": {
      "description": "The definition of MemberRestriction",
      "id": "MemberRestriction",
      "type": "object",
      "properties": {
        "evaluation": {
          "$ref": "RestrictionEvaluation",
          "description": "The evaluated state of this restriction on a group."
        },
        "query": {
          "type": "string",
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
        }
      }
    },
    "CancelUserInvitationRequest": {
      "type": "object",
      "description": "Request to cancel sent invitation for target email in UserInvitation.",
      "properties": {},
      "id": "CancelUserInvitationRequest"
    },
    "ListUserInvitationsResponse": {
      "type": "object",
      "description": "Response message for UserInvitation listing request.",
      "properties": {
        "userInvitations": {
          "description": "The list of UserInvitation resources.",
          "type": "array",
          "items": {
            "$ref": "UserInvitation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call."
        }
      },
      "id": "ListUserInvitationsResponse"
    },
    "CreateGroupMetadata": {
      "id": "CreateGroupMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for CreateGroup LRO."
    },
    "RestrictionEvaluation": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "description": "Output only. The current state of the restriction",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ]
        }
      },
      "type": "object",
      "description": "The evaluated state of this restriction.",
      "id": "RestrictionEvaluation"
    },
    "DeleteGroupMetadata": {
      "type": "object",
      "description": "Metadata for DeleteGroup LRO.",
      "id": "DeleteGroupMetadata",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest",
      "description": "Request message for approving the device to access user data.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "GetMembershipGraphMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata of GetMembershipGraphResponse LRO. This is currently empty to permit future extensibility.",
      "id": "GetMembershipGraphMetadata"
    },
    "SearchGroupsResponse": {
      "description": "The response message for GroupsService.SearchGroups.",
      "id": "SearchGroupsResponse",
      "properties": {
        "groups": {
          "description": "The `Group` resources that match the search query.",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "description": "Request message for starting an account wipe on device."
    },
    "LookupMembershipNameResponse": {
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group}/memberships/{membership}`."
        }
      },
      "id": "LookupMembershipNameResponse"
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "type": "object",
      "properties": {
        "enabledDeveloperOptions": {
          "description": "Output only. Whether developer options is enabled on device.",
          "type": "boolean",
          "readOnly": true
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "readOnly": true
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true,
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes"
        },
        "otherAccounts": {
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "kernelVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Kernel version of the device."
        },
        "imei": {
          "readOnly": true,
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string",
          "readOnly": true
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string",
          "readOnly": true
        },
        "securityPatchTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. OS security patch update time on device."
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device.",
          "readOnly": true
        },
        "deviceType": {
          "readOnly": true,
          "description": "Output only. Type of device.",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ]
        },
        "networkOperator": {
          "readOnly": true,
          "description": "Output only. Mobile or network operator of device, if available.",
          "type": "string"
        },
        "basebandVersion": {
          "type": "string",
          "description": "Output only. Baseband version of the device.",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "Unique identifier for the device."
        },
        "bootloaderVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "type": "string",
          "readOnly": true
        },
        "ownerType": {
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual"
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Most recent time when device synced with this service.",
          "type": "string"
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Model name of device. Example: Pixel 3."
        },
        "wifiMacAddresses": {
          "type": "array",
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "readOnly": true,
          "type": "string"
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "description": "Output only. Whether USB debugging is enabled on device.",
          "type": "boolean"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "buildNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Build number of the device."
        },
        "managementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "type": "string",
          "description": "Output only. Management state of the device",
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ]
        },
        "compromisedState": {
          "readOnly": true,
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "type": "string",
          "description": "Output only. Represents whether the Device is compromised."
        }
      }
    },
    "UserInvitation": {
      "properties": {
        "mailsSentCount": {
          "description": "Number of invitation emails sent to the user.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "description": "State of the `UserInvitation`.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
        },
        "updateTime": {
          "description": "Time when the `UserInvitation` was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "UserInvitation",
      "type": "object",
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed."
    },
    "GroupRelation": {
      "description": "Message representing a transitive group of a user or a group.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels for Group resource."
        },
        "roles": {
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "Membership roles of the member for the group.",
          "type": "array"
        },
        "displayName": {
          "description": "Display name for this group.",
          "type": "string"
        },
        "relationType": {
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the member and the transitive group.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ]
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "group": {
          "type": "string",
          "description": "Resource name for this group."
        }
      },
      "id": "GroupRelation",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "properties": {},
      "description": "Metadata for SignoutDeviceUser LRO."
    },
    "UpdateMembershipRolesParams": {
      "id": "UpdateMembershipRolesParams",
      "type": "object",
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "fieldMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`."
        },
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRole` can currently be updated."
        }
      }
    },
    "DeleteMembershipMetadata": {
      "id": "DeleteMembershipMetadata",
      "properties": {},
      "description": "Metadata for DeleteMembership LRO.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "properties": {},
      "description": "Metadata for DeleteDevice LRO.",
      "type": "object"
    },
    "ModifyMembershipRolesResponse": {
      "type": "object",
      "id": "ModifyMembershipRolesResponse",
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "membership": {
          "$ref": "Membership",
          "description": "The `Membership` resource after modifying its `MembershipRole`s."
        }
      }
    },
    "MembershipRole": {
      "type": "object",
      "id": "MembershipRole",
      "description": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`.",
      "properties": {
        "expiryDetail": {
          "$ref": "ExpiryDetail",
          "description": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value."
        },
        "name": {
          "description": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`.",
          "type": "string"
        },
        "restrictionEvaluations": {
          "description": "Evaluations of restrictions applied to parent group on this membership.",
          "$ref": "RestrictionEvaluations"
        }
      }
    },
    "IsInvitableUserResponse": {
      "id": "IsInvitableUserResponse",
      "description": "Response for IsInvitableUser RPC.",
      "properties": {
        "isInvitableUser": {
          "description": "Returns true if the email address is invitable.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse": {
      "type": "object",
      "description": "Response message that is returned in ListClientStates.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        },
        "clientStates": {
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
          },
          "description": "Client states meeting the list restrictions.",
          "type": "array"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest": {
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        },
        "removeResetLock": {
          "type": "boolean",
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device."
        }
      },
      "description": "Request message for wiping all data on the device.",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      }
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the `Group` was last updated.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the `Group` was created."
        },
        "parent": {
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external- identity-mapped groups or `customers/{customer}` for Google Groups. The `customer` must begin with \"C\" (for example, 'C046psxkn').",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "dynamicGroupMetadata": {
          "description": "Optional. Dynamic group metadata like queries and status.",
          "$ref": "DynamicGroupMetadata"
        },
        "labels": {
          "type": "object",
          "description": "Required. One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "groupKey": {
          "description": "Required. The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        }
      },
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account."
    }
  },
  "resources": {
    "groups": {
      "resources": {
        "memberships": {
          "methods": {
            "get": {
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a `Membership`.",
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group}/memberships/{membership}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Membership"
              },
              "id": "cloudidentity.groups.memberships.get"
            },
            "modifyMembershipRoles": {
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group}/memberships/{membership}`.",
                  "required": true,
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "httpMethod": "POST",
              "path": "v1/{+name}:modifyMembershipRoles",
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/groups/{groupsId}/memberships",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "view": {
                  "enumDescriptions": [
                    "Default. Should not be used.",
                    "Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The `next_page_token` value returned from a previous search request, if any.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "description": "Lists the `Membership`s within a `Group`.",
              "path": "v1/{+parent}/memberships"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Membership"
              },
              "flatPath": "v1/groups/{groupsId}/memberships",
              "id": "cloudidentity.groups.memberships.create",
              "description": "Creates a `Membership`.",
              "path": "v1/{+parent}/memberships",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group}`.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "delete": {
              "flatPath": "v1/groups/{groupsId}/memberships/{membershipsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group}/memberships/{membership}`"
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.groups.memberships.delete",
              "description": "Deletes a `Membership`."
            },
            "checkTransitiveMembership": {
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "flatPath": "v1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group}`, where `group` is the unique id assigned to the Group to which the Membership belongs to.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the member is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "httpMethod": "GET",
              "path": "v1/{+parent}/memberships:checkTransitiveMembership"
            },
            "searchTransitiveMemberships": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the group is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "path": "v1/{+parent}/memberships:searchTransitiveMemberships",
              "parameters": {
                "pageToken": {
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group}`, where `group` is the unique ID assigned to the Group.",
                  "location": "path",
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The default page size is 200 (max 1000)."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships"
            },
            "getMembershipGraph": {
              "httpMethod": "GET",
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the member is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group}`, where `group` is the unique ID assigned to the Group to which the Membership belongs to. group can be a wildcard collection id \"-\". When a group is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "pattern": "^groups/[^/]+$"
                },
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "path": "v1/{+parent}/memberships:getMembershipGraph",
              "flatPath": "v1/groups/{groupsId}/memberships:getMembershipGraph",
              "response": {
                "$ref": "Operation"
              }
            },
            "searchTransitiveGroups": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/memberships:searchTransitiveGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. If the account of the member is not one of these, a 403 (PERMISSION_DENIED) HTTP status code will be returned. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group}`, where `group` is always '-' as this API will search across all groups for a given member."
                },
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The default page size is 200 (max 1000).",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              }
            },
            "lookup": {
              "flatPath": "v1/groups/{groupsId}/memberships:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity",
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "path": "v1/{+parent}/memberships:lookup",
              "id": "cloudidentity.groups.memberships.lookup",
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "parameters": {
                "memberKey.namespace": {
                  "type": "string",
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group}`.",
                  "type": "string"
                },
                "memberKey.id": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
                }
              }
            }
          }
        }
      },
      "methods": {
        "search": {
          "path": "v1/groups:search",
          "parameters": {
            "query": {
              "location": "query",
              "description": "Required. The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the parent and inclusion operators on labels (e.g., `parent == 'customers/{customer}' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). The `customer` must begin with \"C\" (for example, 'C046psxkn').",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous search request, if any.",
              "location": "query"
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "id": "cloudidentity.groups.search",
          "httpMethod": "GET",
          "flatPath": "v1/groups:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity",
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Searches for `Group` resources matching a specified query.",
          "parameterOrder": []
        },
        "getSecuritySettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity",
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/groups/{groupsId}/securitySettings",
          "httpMethod": "GET",
          "response": {
            "$ref": "SecuritySettings"
          },
          "description": "Get Security Settings",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.groups.getSecuritySettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^groups/[^/]+/securitySettings$",
              "type": "string",
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`",
              "location": "path"
            },
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "type": "string"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity",
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates a `Group`.",
          "path": "v1/{+name}",
          "flatPath": "v1/groups/{groupsId}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`.",
              "pattern": "^groups/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "id": "cloudidentity.groups.patch",
          "request": {
            "$ref": "Group"
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a `Group`.",
          "id": "cloudidentity.groups.delete",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/groups/{groupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity",
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group}`.",
              "location": "path",
              "pattern": "^groups/[^/]+$",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity",
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.get",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^groups/[^/]+$",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group}`.",
              "type": "string",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a `Group`.",
          "flatPath": "v1/groups/{groupsId}",
          "response": {
            "$ref": "Group"
          }
        },
        "create": {
          "request": {
            "$ref": "Group"
          },
          "id": "cloudidentity.groups.create",
          "parameterOrder": [],
          "flatPath": "v1/groups",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "v1/groups",
          "parameters": {
            "initialGroupConfig": {
              "description": "Optional. The initial configuration option for the `Group`.",
              "type": "string",
              "location": "query",
[...]
