{
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/resource-manager",
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "version": "v3",
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "folders": {
      "methods": {
        "patch": {
          "path": "v3/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Folder"
          },
          "flatPath": "v3/folders/{foldersId}",
          "httpMethod": "PATCH",
          "id": "cloudresourcemanager.folders.patch",
          "description": "Updates a folder, changing its `display_name`. Changes to the folder `display_name` will be rejected if they violate either the `display_name` formatting rules or the naming constraints described in the CreateFolder documentation. The folder's `display_name` must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be between 3 and 30 characters. This is captured by the regular expression: `\\p{L}\\p{N}{1,28}[\\p{L}\\p{N}]`. The caller must have `resourcemanager.folders.update` permission on the identified folder. If the update fails due to the unique name constraint then a `PreconditionFailure` explaining this violation will be returned in the Status.details field.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. Fields to be updated. Only the `display_name` can be updated.",
              "type": "string"
            },
            "name": {
              "required": true,
              "description": "Output only. The resource name of the folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\".",
              "pattern": "^folders/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified folder. The `resource` field should be the folder's resource name, for example: \"folders/1234\". There are no permissions required for making this API call.",
          "id": "cloudresourcemanager.folders.testIamPermissions",
          "flatPath": "v3/folders/{foldersId}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^folders/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "path": "v3/{+resource}:testIamPermissions"
        },
        "delete": {
          "id": "cloudresourcemanager.folders.delete",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Requests deletion of a folder. The folder is moved into the DELETE_REQUESTED state immediately, and is deleted approximately 30 days later. This method may only be called on an empty folder, where a folder is empty if it doesn't contain any folders or projects in the ACTIVE state. If called on a folder in DELETE_REQUESTED state the operation will result in a no-op success. The caller must have `resourcemanager.folders.delete` permission on the identified folder.",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the folder to be deleted. Must be of the form `folders/{folder_id}`.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "path": "v3/{+name}",
          "flatPath": "v3/folders/{foldersId}"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Folder"
          },
          "flatPath": "v3/folders",
          "path": "v3/folders",
          "description": "Creates a folder in the resource hierarchy. Returns an `Operation` which can be used to track the progress of the folder creation workflow. Upon success, the `Operation.response` field will be populated with the created Folder. In order to succeed, the addition of this new folder must not violate the folder naming, height, or fanout constraints. + The folder's `display_name` must be distinct from all other folders that share its parent. + The addition of the folder must not cause the active folder hierarchy to exceed a height of 10. Note, the full active + deleted folder hierarchy is allowed to reach a height of 20; this provides additional headroom when moving folders that contain deleted folders. + The addition of the folder must not cause the total number of folders under its parent to exceed 300. If the operation fails due to a folder constraint violation, some errors may be returned by the `CreateFolder` request, with status code `FAILED_PRECONDITION` and an error description. Other folder constraint violations will be communicated in the `Operation`, with the specific `PreconditionFailure` returned in the details list in the `Operation.error` field. The caller must have `resourcemanager.folders.create` permission on the identified parent.",
          "id": "cloudresourcemanager.folders.create",
          "httpMethod": "POST",
          "parameters": {}
        },
        "list": {
          "response": {
            "$ref": "ListFoldersResponse"
          },
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the organization or folder whose folders are being listed. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Controls whether folders in the DELETE_REQUESTED state should be returned. Defaults to false."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from."
            }
          },
          "parameterOrder": [],
          "flatPath": "v3/folders",
          "httpMethod": "GET",
          "id": "cloudresourcemanager.folders.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/folders",
          "description": "Lists the folders that are direct descendants of supplied parent resource. `list()` provides a strongly consistent view of the folders underneath the specified parent resource. `list()` returns folders sorted based upon the (ascending) lexical ordering of their display_name. The caller must have `resourcemanager.folders.list` permission on the identified parent."
        },
        "get": {
          "flatPath": "v3/folders/{foldersId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a folder identified by the supplied resource name. Valid folder resource names have the format `folders/{folder_id}` (for example, `folders/1234`). The caller must have `resourcemanager.folders.get` permission on the identified folder.",
          "path": "v3/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+$",
              "description": "Required. The resource name of the folder to retrieve. Must be of the form `folders/{folder_id}`.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Folder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.folders.get"
        },
        "move": {
          "flatPath": "v3/folders/{foldersId}:move",
          "id": "cloudresourcemanager.folders.move",
          "request": {
            "$ref": "MoveFolderRequest"
          },
          "httpMethod": "POST",
          "path": "v3/{+name}:move",
          "description": "Moves a folder under a new resource parent. Returns an `Operation` which can be used to track the progress of the folder move workflow. Upon success, the `Operation.response` field will be populated with the moved folder. Upon failure, a `FolderOperationError` categorizing the failure cause will be returned - if the failure occurs synchronously then the `FolderOperationError` will be returned in the `Status.details` field. If it occurs asynchronously, then the FolderOperation will be returned in the `Operation.error` field. In addition, the `Operation.metadata` field will be populated with a `FolderOperation` message as an aid to stateless clients. Folder moves will be rejected if they violate either the naming, height, or fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.move` permission on the folder's current and proposed new parent.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the Folder to move. Must be of the form folders/{folder_id}",
              "location": "path",
              "pattern": "^folders/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "pattern": "^folders/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a folder. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.getIamPolicy` permission on the identified folder.",
          "httpMethod": "POST",
          "flatPath": "v3/folders/{foldersId}:getIamPolicy",
          "path": "v3/{+resource}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.folders.getIamPolicy"
        },
        "search": {
          "response": {
            "$ref": "SearchFoldersResponse"
          },
          "flatPath": "v3/folders:search",
          "httpMethod": "GET",
          "description": "Search for folders that match specific filter criteria. `search()` provides an eventually consistent view of the folders a user has access to which meet the specified filter criteria. This will only return folders on which the caller has the permission `resourcemanager.folders.get`.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `SearchFolders` that indicates from where search should continue.",
              "type": "string",
              "location": "query"
            },
            "query": {
              "description": "Optional. Search criteria used to select the folders to return. If no search criteria is specified then all accessible folders will be returned. Query expressions can be used to restrict results based upon displayName, state and parent, where the operators `=` (`:`) `NOT`, `AND` and `OR` can be used along with the suffix wildcard symbol `*`. The `displayName` field in a query expression should use escaped quotes for values that include whitespace to prevent unexpected behavior. ``` | Field | Description | |-------------------------|----------------------------------------| | displayName | Filters by displayName. | | parent | Filters by parent (for example: folders/123). | | state, lifecycleState | Filters by state. | ``` Some example queries are: * Query `displayName=Test*` returns Folder resources whose display name starts with \"Test\". * Query `state=ACTIVE` returns Folder resources with `state` set to `ACTIVE`. * Query `parent=folders/123` returns Folder resources that have `folders/123` as a parent resource. * Query `parent=folders/123 AND state=ACTIVE` returns active Folder resources that have `folders/123` as a parent resource. * Query `displayName=\\\\\"Test String\\\\\"` returns Folder resources with display names that include both \"Test\" and \"String\".",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudresourcemanager.folders.search",
          "path": "v3/folders:search"
        },
        "undelete": {
          "path": "v3/{+name}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Cancels the deletion request for a folder. This method may be called on a folder in any state. If the folder is in the ACTIVE state the result will be a no-op success. In order to succeed, the folder's parent must be in the ACTIVE state. In addition, reintroducing the folder into the tree must not violate folder naming, height, and fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.undelete` permission on the identified folder.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudresourcemanager.folders.undelete",
          "request": {
            "$ref": "UndeleteFolderRequest"
          },
          "flatPath": "v3/folders/{foldersId}:undelete",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the folder to undelete. Must be of the form `folders/{folder_id}`.",
              "type": "string",
              "required": true
            }
          }
        },
        "setIamPolicy": {
          "path": "v3/{+resource}:setIamPolicy",
          "description": "Sets the access control policy on a folder, replacing any existing policy. The `resource` field should be the folder's resource name, for example: \"folders/1234\". The caller must have `resourcemanager.folders.setIamPolicy` permission on the identified folder.",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "flatPath": "v3/folders/{foldersId}:setIamPolicy",
          "id": "cloudresourcemanager.folders.setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^folders/[^/]+$",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v3/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v3/operations/{operationsId}",
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "cloudresourcemanager.operations.get"
        }
      }
    },
    "organizations": {
      "methods": {
        "search": {
          "flatPath": "v3/organizations:search",
          "response": {
            "$ref": "SearchOrganizationsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue.",
              "location": "query",
              "type": "string"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Optional. An optional query string used to filter the Organizations to return in the response. Query rules are case-insensitive. ``` | Field | Description | |------------------|--------------------------------------------| | directoryCustomerId, owner.directoryCustomerId | Filters by directory customer id. | | domain | Filters by domain. | ``` Organizations may be queried by `directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Query `directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Query `domain:google.com` returns Organization resources corresponding to the domain `google.com`."
            },
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in the response. The server can return fewer organizations than requested. If unspecified, server picks an appropriate default.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "description": "Searches organization resources that are visible to the user and satisfy the specified filter. This method returns organizations in an unspecified order. New organizations do not necessarily appear at the end of the results, and may take a small amount of time to appear. Search will only return organizations on which the user has the permission `resourcemanager.organizations.get`",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/organizations:search",
          "id": "cloudresourcemanager.organizations.search",
          "httpMethod": "GET"
        },
        "get": {
          "description": "Fetches an organization resource identified by the specified resource name.",
          "response": {
            "$ref": "Organization"
          },
          "httpMethod": "GET",
          "path": "v3/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "id": "cloudresourcemanager.organizations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v3/organizations/{organizationsId}"
        },
        "setIamPolicy": {
          "id": "cloudresourcemanager.organizations.setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "location": "path"
            }
          },
          "path": "v3/{+resource}:setIamPolicy",
          "description": "Sets the access control policy on an organization resource. Replaces any existing policy. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.setIamPolicy` on the specified organization.",
          "flatPath": "v3/organizations/{organizationsId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ]
        },
        "getIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the access control policy for an organization resource. The policy may be empty if no such policy or resource exists. The `resource` field should be the organization's resource name, for example: \"organizations/123\". Authorization requires the IAM permission `resourcemanager.organizations.getIamPolicy` on the specified organization.",
          "id": "cloudresourcemanager.organizations.getIamPolicy",
          "path": "v3/{+resource}:getIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "v3/organizations/{organizationsId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          }
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "v3/{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/organizations/{organizationsId}:testIamPermissions",
          "description": "Returns the permissions that a caller has on the specified organization. The `resource` field should be the organization's resource name, for example: \"organizations/123\". There are no permissions required for making this API call.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.organizations.testIamPermissions"
        }
      }
    },
    "tagKeys": {
      "methods": {
        "patch": {
          "path": "v3/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the attributes of the TagKey resource.",
          "request": {
            "$ref": "TagKey"
          },
          "httpMethod": "PATCH",
          "id": "cloudresourcemanager.tagKeys.patch",
          "parameters": {
            "name": {
              "description": "Immutable. The resource name for a TagKey. Must be in the format `tagKeys/{tag_key_id}`, where `tag_key_id` is the generated numeric id for the TagKey.",
              "pattern": "^tagKeys/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "validateOnly": {
              "description": "Set as true to perform validations necessary for updating the resource, but not actually perform the action.",
              "type": "boolean",
              "location": "query"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Fields to be updated. The mask may only contain `description` or `etag`. If omitted entirely, both `description` and `etag` are assumed to be significant.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v3/tagKeys/{tagKeysId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "description": "Lists all TagKeys for a parent resource.",
          "response": {
            "$ref": "ListTagKeysResponse"
          },
          "flatPath": "v3/tagKeys",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A pagination token returned from a previous call to `ListTagKey` that indicates where this listing should continue from.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of TagKeys to return in the response. The server allows a maximum of 300 TagKeys to return. If unspecified, the server will use 100 as the default.",
              "type": "integer"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. The resource name of the new TagKey's parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`."
            }
          },
          "parameterOrder": [],
          "path": "v3/tagKeys",
          "id": "cloudresourcemanager.tagKeys.list"
        },
        "testIamPermissions": {
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+resource}:testIamPermissions",
          "flatPath": "v3/tagKeys/{tagKeysId}:testIamPermissions",
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "cloudresourcemanager.tagKeys.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "description": "Returns permissions that a caller has on the specified TagKey. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". There are no permissions required for making this API call.",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^tagKeys/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          }
        },
        "getIamPolicy": {
          "flatPath": "v3/tagKeys/{tagKeysId}:getIamPolicy",
          "id": "cloudresourcemanager.tagKeys.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+resource}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^tagKeys/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets the access control policy for a TagKey. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `cloudresourcemanager.googleapis.com/tagKeys.getIamPolicy` permission on the specified TagKey.",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.tagKeys.get",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "description": "Retrieves a TagKey. This method will return `PERMISSION_DENIED` if the key does not exist or the user does not have permission to view it.",
          "parameters": {
            "name": {
              "pattern": "^tagKeys/[^/]+$",
              "description": "Required. A resource name in the format `tagKeys/{id}`, such as `tagKeys/123`.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "TagKey"
          }
        },
        "create": {
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "description": "Optional. Set to true to perform validations necessary for creating the resource, but not actually perform the action.",
              "location": "query"
            }
          },
          "flatPath": "v3/tagKeys",
          "request": {
            "$ref": "TagKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/tagKeys",
          "description": "Creates a new TagKey. If another request with the same parameters is sent while the original request is in process, the second request will receive an error. A maximum of 1000 TagKeys can exist under a parent at any given time.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "id": "cloudresourcemanager.tagKeys.create"
        },
        "delete": {
          "parameters": {
            "validateOnly": {
              "description": "Optional. Set as true to perform validations necessary for deletion, but not actually perform the action.",
              "type": "boolean",
              "location": "query"
            },
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of a TagKey to be deleted in the format `tagKeys/123`. The TagKey cannot be a parent of any existing TagValues or it will not be deleted successfully.",
              "pattern": "^tagKeys/[^/]+$"
            },
            "etag": {
              "location": "query",
              "type": "string",
              "description": "Optional. The etag known to the client for the expected state of the TagKey. This is to be used for optimistic concurrency."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+name}",
          "description": "Deletes a TagKey. The TagKey cannot be deleted if it has any child TagValues.",
          "id": "cloudresourcemanager.tagKeys.delete",
          "flatPath": "v3/tagKeys/{tagKeysId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          }
        },
        "setIamPolicy": {
          "description": "Sets the access control policy on a TagKey, replacing any existing policy. The `resource` field should be the TagKey's resource name. For example, \"tagKeys/1234\". The caller must have `resourcemanager.tagKeys.setIamPolicy` permission on the identified tagValue.",
          "path": "v3/{+resource}:setIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "pattern": "^tagKeys/[^/]+$"
            }
          },
          "id": "cloudresourcemanager.tagKeys.setIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "flatPath": "v3/tagKeys/{tagKeysId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "resource"
          ]
        }
      }
    },
    "tagValues": {
      "methods": {
        "setIamPolicy": {
          "flatPath": "v3/tagValues/{tagValuesId}:setIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^tagValues/[^/]+$",
              "type": "string"
            }
          },
          "description": "Sets the access control policy on a TagValue, replacing any existing policy. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have `resourcemanager.tagValues.setIamPolicy` permission on the identified tagValue.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.tagValues.setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+resource}:setIamPolicy"
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "id": "cloudresourcemanager.tagValues.getIamPolicy",
          "description": "Gets the access control policy for a TagValue. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. The caller must have the `cloudresourcemanager.googleapis.com/tagValues.getIamPolicy` permission on the identified TagValue to get the access control policy.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "v3/tagValues/{tagValuesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/{+resource}:getIamPolicy"
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. Resource name for TagValue to be fetched in the format `tagValues/456`.",
              "pattern": "^tagValues/[^/]+$",
              "location": "path"
            }
          },
          "path": "v3/{+name}",
          "response": {
            "$ref": "TagValue"
          },
          "description": "Retrieves TagValue. If the TagValue or namespaced name does not exist, or if the user does not have permission to view it, this method will return `PERMISSION_DENIED`.",
          "id": "cloudresourcemanager.tagValues.get",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/tagValues/{tagValuesId}"
        },
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TagValue"
          },
          "parameterOrder": [],
          "description": "Creates a TagValue as a child of the specified TagKey. If a another request with the same parameters is sent while the original request is in process the second request will receive an error. A maximum of 1000 TagValues can exist under a TagKey at any given time.",
          "httpMethod": "POST",
          "flatPath": "v3/tagValues",
          "id": "cloudresourcemanager.tagValues.create",
          "path": "v3/tagValues",
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set as true to perform the validations necessary for creating the resource, but not actually perform the action."
            }
          }
        },
        "patch": {
          "description": "Updates the attributes of the TagValue resource.",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Optional. Fields to be updated."
            },
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "description": "Immutable. Resource name for TagValue in the format `tagValues/456`.",
              "location": "path"
            },
            "validateOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. True to perform validations necessary for updating the resource, but not actually perform the action."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v3/{+name}",
          "httpMethod": "PATCH",
          "id": "cloudresourcemanager.tagValues.patch",
          "flatPath": "v3/tagValues/{tagValuesId}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TagValue"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v3/tagValues/{tagValuesId}",
          "id": "cloudresourcemanager.tagValues.delete",
          "description": "Deletes a TagValue. The TagValue cannot have any bindings when it is deleted.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^tagValues/[^/]+$",
              "description": "Required. Resource name for TagValue to be deleted in the format tagValues/456.",
              "required": true
            },
            "validateOnly": {
              "description": "Optional. Set as true to perform the validations necessary for deletion, but not actually perform the action.",
              "location": "query",
              "type": "boolean"
            },
            "etag": {
              "description": "Optional. The etag known to the client for the expected state of the TagValue. This is to be used for optimistic concurrency.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "path": "v3/{+name}"
        },
        "testIamPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "path": "v3/{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified TagValue. The `resource` field should be the TagValue's resource name. For example: `tagValues/1234`. There are no permissions required for making this API call.",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^tagValues/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "cloudresourcemanager.tagValues.testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "flatPath": "v3/tagValues/{tagValuesId}:testIamPermissions"
        },
        "list": {
          "path": "v3/tagValues",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListTagValuesResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of TagValues to return in the response. The server allows a maximum of 300 TagValues to return. If unspecified, the server will use 100 as the default."
            },
            "parent": {
              "type": "string",
              "description": "Required. Resource name for TagKey, parent of the TagValues to be listed, in the format `tagKeys/123`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListTagValues` that indicates where this listing should continue from.",
              "location": "query"
            }
          },
          "description": "Lists all TagValues for a specific TagKey.",
          "flatPath": "v3/tagValues",
          "id": "cloudresourcemanager.tagValues.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      },
      "resources": {
        "tagHolds": {
          "methods": {
            "create": {
              "description": "Creates a TagHold. Returns ALREADY_EXISTS if a TagHold with the same resource and origin exists under the same TagValue.",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "validateOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Set to true to perform the validations necessary for creating the resource, but not actually perform the action."
                },
                "parent": {
                  "pattern": "^tagValues/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the TagHold's parent TagValue. Must be of the form: `tagValues/{tag-value-id}`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v3/tagValues/{tagValuesId}/tagHolds",
              "id": "cloudresourcemanager.tagValues.tagHolds.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "TagHold"
              },
              "path": "v3/{+parent}/tagHolds"
            },
            "list": {
              "flatPath": "v3/tagValues/{tagValuesId}/tagHolds",
              "response": {
                "$ref": "ListTagHoldsResponse"
              },
              "description": "Lists TagHolds under a TagValue.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of TagHolds to return in the response. The server allows a maximum of 300 TagHolds to return. If unspecified, the server will use 100 as the default.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^tagValues/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the parent TagValue. Must be of the form: `tagValues/{tag-value-id}`."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Criteria used to select a subset of TagHolds parented by the TagValue to return. This field follows the syntax defined by aip.dev/160; the `holder` and `origin` fields are supported for filtering. Currently only `AND` syntax is supported. Some example queries are: * `holder = //compute.googleapis.com/compute/projects/myproject/regions/us-east-1/instanceGroupManagers/instance-group` * `origin = 35678234` * `holder = //compute.googleapis.com/compute/projects/myproject/regions/us-east-1/instanceGroupManagers/instance-group AND origin = 35678234`",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A pagination token returned from a previous call to `ListTagHolds` that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudresourcemanager.tagValues.tagHolds.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v3/{+parent}/tagHolds",
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudresourcemanager.tagValues.tagHolds.delete",
              "parameters": {
                "validateOnly": {
                  "location": "query",
                  "description": "Optional. Set to true to perform the validations necessary for deleting the resource, but not actually perform the action.",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "pattern": "^tagValues/[^/]+/tagHolds/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the TagHold to delete. Must be of the form: `tagValues/{tag-value-id}/tagHolds/{tag-hold-id}`.",
                  "required": true
                }
              },
              "description": "Deletes a TagHold.",
              "httpMethod": "DELETE",
              "path": "v3/{+name}",
              "flatPath": "v3/tagValues/{tagValuesId}/tagHolds/{tagHoldsId}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "description": "Search for projects that the caller has both `resourcemanager.projects.get` permission on, and also satisfy the specified query. This method returns projects in an unspecified order. This method is eventually consistent with project mutations; this means that a newly created project may not appear in the results or recent updates to an existing project may not be reflected in the results. To retrieve the latest state of a project, use the GetProject method.",
          "flatPath": "v3/projects:search",
          "parameters": {
            "query": {
              "location": "query",
              "description": "Optional. A query string for searching for projects that the caller has `resourcemanager.projects.get` permission to. If multiple fields are included in the query, then it will return results that match any of the fields. Some eligible fields are: ``` | Field | Description | |-------------------------|----------------------------------------------| | displayName, name | Filters by displayName. | | parent | Project's parent (for example: folders/123, organizations/*). Prefer parent field over parent.type and parent.id.| | parent.type | Parent's type: `folder` or `organization`. | | parent.id | Parent's id number (for example: 123) | | id, projectId | Filters by projectId. | | state, lifecycleState | Filters by state. | | labels | Filters by label name or value. | | labels.\\ (where *key* is the name of a label) | Filters by label name.| ``` Search expressions are case insensitive. Some examples queries: ``` | Query | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` has the value `red` and its label `size` has the value `big`.| ``` If no query is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchProjectsResponse"
          },
          "path": "v3/projects:search",
          "id": "cloudresourcemanager.projects.search"
        },
        "move": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Move a project to another place in your resource hierarchy, under a new resource parent. Returns an operation which can be used to track the process of the project move workflow. Upon success, the `Operation.response` field will be populated with the moved project. The caller must have `resourcemanager.projects.move` permission on the project, on the project's current and proposed new parent. If project has no current parent, or it currently does not have an associated organization resource, you will also need the `resourcemanager.projects.setIamPolicy` permission in the project. ",
          "id": "cloudresourcemanager.projects.move",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the project to move.",
              "pattern": "^projects/[^/]+$"
            }
          },
          "flatPath": "v3/projects/{projectsId}:move",
          "request": {
            "$ref": "MoveProjectRequest"
          },
          "path": "v3/{+name}:move"
        },
        "setIamPolicy": {
          "flatPath": "v3/projects/{projectsId}:setIamPolicy",
          "id": "cloudresourcemanager.projects.setIamPolicy",
          "httpMethod": "POST",
          "path": "v3/{+resource}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the IAM access control policy for the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123. CAUTION: This method will replace the existing policy, and cannot be used to append additional IAM settings. Note: Removing service accounts from policies or changing their roles can render services completely inoperable. It is important to understand how the service account is being used before removing or updating its roles. The following constraints apply when using `setIamPolicy()`: + Project does not support `allUsers` and `allAuthenticatedUsers` as `members` in a `Binding` of a `Policy`. + The owner role can be granted to a `user`, `serviceAccount`, or a group that is part of an organization. For example, group@myownpersonaldomain.com could be added as an owner to a project in the myownpersonaldomain.com organization, but not the examplepetstore.com organization. + Service accounts can be made owners of a project directly without any restrictions. However, to be added as an owner, a user must be invited using the Cloud Platform console and must accept the invitation. + A user cannot be granted the owner role using `setIamPolicy()`. The user must be granted the owner role using the Cloud Platform Console and must explicitly accept the invitation. + Invitations to grant the owner role cannot be sent using `setIamPolicy()`; they must be sent only using the Cloud Platform Console. + If the project is not part of an organization, there must be at least one owner who has accepted the Terms of Service (ToS) agreement in the policy. Calling `setIamPolicy()` to remove the last ToS-accepted owner from the policy will fail. This restriction also applies to legacy projects that no longer have owners who have accepted the ToS. Edits to IAM policies will be rejected until the lack of a ToS-accepting owner is rectified. If the project is part of an organization, you can remove all owners, potentially making the organization inaccessible. + Calling this method requires enabling the App Engine Admin API."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/projects/{projectsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the project (for example, `projects/415104041262`).",
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          "response": {
            "$ref": "Project"
          },
          "description": "Retrieves the project identified by the specified `name` (for example, `projects/415104041262`). The caller must have `resourcemanager.projects.get` permission for this project.",
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.projects.get",
          "httpMethod": "GET"
        },
        "getIamPolicy": {
          "path": "v3/{+resource}:getIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v3/projects/{projectsId}:getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "id": "cloudresourcemanager.projects.getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "description": "Returns the IAM access control policy for the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123. Permission is denied if the policy or the resource do not exist."
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "v3/projects",
          "httpMethod": "GET",
          "path": "v3/projects",
          "parameters": {
            "showDeleted": {
              "type": "boolean",
              "description": "Optional. Indicate that projects in the `DELETE_REQUESTED` state should also be returned. Normally only `ACTIVE` projects are returned.",
              "location": "query"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. The name of the parent resource to list projects under. For example, setting this field to 'folders/1234' would list all projects directly under that folder."
            },
            "pageToken": {
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of projects to return in the response. The server can return fewer projects than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.projects.list",
          "response": {
            "$ref": "ListProjectsResponse"
          },
          "description": "Lists projects that are direct children of the specified folder or organization resource. `list()` provides a strongly consistent view of the projects underneath the specified parent resource. `list()` returns projects sorted based upon the (ascending) lexical ordering of their `display_name`. The caller must have `resourcemanager.projects.list` permission on the identified parent."
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "Project"
          },
          "id": "cloudresourcemanager.projects.create",
          "httpMethod": "POST",
          "path": "v3/projects",
          "parameterOrder": [],
          "description": "Request that a new project be created. The result is an `Operation` which can be used to track the creation process. This process usually takes a few seconds, but can sometimes take much longer. The tracking `Operation` is automatically deleted after a few hours, so there is no need to call `DeleteOperation`.",
          "flatPath": "v3/projects",
          "response": {
            "$ref": "Operation"
          }
        },
        "undelete": {
          "flatPath": "v3/projects/{projectsId}:undelete",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the project (for example, `projects/415104041262`). Required.",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "UndeleteProjectRequest"
          },
          "id": "cloudresourcemanager.projects.undelete",
          "path": "v3/{+name}:undelete",
          "description": "Restores the project identified by the specified `name` (for example, `projects/415104041262`). You can only use this method for a project that has a lifecycle state of DELETE_REQUESTED. After deletion starts, the project cannot be restored. The caller must have `resourcemanager.projects.undelete` permission for this project.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "id": "cloudresourcemanager.projects.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "path": "v3/{+resource}:testIamPermissions",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v3/projects/{projectsId}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified project, in the format `projects/{ProjectIdOrNumber}` e.g. projects/123.."
        },
        "delete": {
          "description": "Marks the project identified by the specified `name` (for example, `projects/415104041262`) for deletion. This method will only affect the project if it has a lifecycle state of ACTIVE. This method changes the Project's lifecycle state from ACTIVE to DELETE_REQUESTED. The deletion starts at an unspecified time, at which point the Project is no longer accessible. Until the deletion completes, you can check the lifecycle state checked by retrieving the project with GetProject, and the project remains visible to ListProjects. However, you cannot update the project. After the deletion completes, the project is not retrievable by the GetProject, ListProjects, and SearchProjects methods. This method behaves idempotently, such that deleting a `DELETE_REQUESTED` project will not cause an error, but also won't do anything. The caller must have `resourcemanager.projects.delete` permissions for this project.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the Project (for example, `projects/415104041262`).",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "path": "v3/{+name}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v3/projects/{projectsId}",
          "id": "cloudresourcemanager.projects.delete",
          "response": {
            "$ref": "Operation"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. The unique resource name of the project. It is an int64 generated number prefixed by \"projects/\". Example: `projects/415104041262`",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            },
            "updateMask": {
              "description": "Optional. An update mask to selectively update fields.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudresourcemanager.projects.patch",
          "httpMethod": "PATCH",
          "flatPath": "v3/projects/{projectsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates the `display_name` and labels of the project identified by the specified `name` (for example, `projects/415104041262`). Deleting all labels requires an update mask for labels field. The caller must have `resourcemanager.projects.update` permission for this project.",
          "path": "v3/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Project"
          }
        }
      }
    },
    "liens": {
      "methods": {
        "create": {
          "parameters": {},
          "id": "cloudresourcemanager.liens.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Lien"
          },
          "flatPath": "v3/liens",
          "path": "v3/liens",
          "description": "Create a Lien which applies to the resource denoted by the `parent` field. Callers of this method will require permission on the `parent` resource. For example, applying to `projects/1234` requires permission `resourcemanager.projects.updateLiens`. NOTE: Some resources may limit the number of Liens which may be applied.",
          "response": {
            "$ref": "Lien"
          }
        },
        "get": {
          "description": "Retrieve a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name/identifier of the Lien.",
              "pattern": "^liens/.*$",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v3/liens/{liensId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v3/{+name}",
          "id": "cloudresourcemanager.liens.get",
          "response": {
            "$ref": "Lien"
          }
        },
        "delete": {
          "path": "v3/{+name}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.liens.delete",
          "description": "Delete a Lien by `name`. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.updateLiens`.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name/identifier of the Lien to delete.",
              "pattern": "^liens/.*$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v3/liens/{liensId}",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "cloudresourcemanager.liens.list",
          "response": {
            "$ref": "ListLiensResponse"
          },
          "flatPath": "v3/liens",
          "path": "v3/liens",
          "description": "List all Liens applied to the `parent` resource. Callers of this method will require permission on the `parent` resource. For example, a Lien with a `parent` of `projects/1234` requires permission `resourcemanager.projects.get`.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous List request, if any."
            },
            "parent": {
              "location": "query",
              "description": "Required. The name of the resource to list all attached Liens. For example, `projects/1234`. (google.api.field_policy).resource_type annotation is not set since the parent depends on the meta api implementation. This field could be a project or other sub project resources.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of items to return. This is a suggestion for the server. The server can return fewer liens than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "tagBindings": {
      "methods": {
        "list": {
          "id": "cloudresourcemanager.tagBindings.list",
          "flatPath": "v3/tagBindings",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists the TagBindings for the given cloud resource, as specified with `parent`. NOTE: The `parent` field is expected to be a full resource name: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/tagBindings",
          "response": {
            "$ref": "ListTagBindingsResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListTagBindings` that indicates where this listing should continue from. Currently this api returns unpaginated response and `page_token` is ignored."
            },
            "pageSize": {
              "description": "Optional. The maximum number of TagBindings to return in the response. The server allows a maximum of 300 TagBindings to return. If unspecified, the server will use 100 as the default. Currently this api returns unpaginated response and `page_size` is ignored.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "parent": {
              "description": "Required. The full resource name of a resource for which you want to list existing TagBindings. E.g. \"//cloudresourcemanager.googleapis.com/projects/123\"",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudresourcemanager.tagBindings.delete",
          "path": "v3/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the TagBinding. This is a String of the form: `tagBindings/{id}` (e.g. `tagBindings/%2F%2Fcloudresourcemanager.googleapis.com%2Fprojects%2F123/tagValues/456`).",
              "location": "path",
              "type": "string",
              "pattern": "^tagBindings/.*$",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a TagBinding.",
          "flatPath": "v3/tagBindings/{tagBindingsId}"
        },
        "create": {
          "path": "v3/tagBindings",
          "httpMethod": "POST",
          "description": "Creates a TagBinding between a TagValue and a cloud resource (currently project, folder, or organization).",
          "request": {
            "$ref": "TagBinding"
          },
          "id": "cloudresourcemanager.tagBindings.create",
          "flatPath": "v3/tagBindings",
          "parameters": {
            "validateOnly": {
              "type": "boolean",
              "description": "Optional. Set to true to perform the validations necessary for creating the resource, but not actually perform the action.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "effectiveTags": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v3/effectiveTags",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of effective tags to return in the response. The server allows a maximum of 300 effective tags to return in a single page. If unspecified, the server will use 100 as the default.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to `ListEffectiveTags` that indicates from where this listing should continue."
            },
            "parent": {
              "location": "query",
              "description": "Required. The full resource name of a resource for which you want to list the effective tags. E.g. \"//cloudresourcemanager.googleapis.com/projects/123\"",
              "type": "string"
            }
          },
          "description": "Return a list of effective tags for the given cloud resource, as specified in `parent`.",
          "flatPath": "v3/effectiveTags",
          "id": "cloudresourcemanager.effectiveTags.list",
          "response": {
            "$ref": "ListEffectiveTagsResponse"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "rootUrl": "https://cloudresourcemanager.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "id": "cloudresourcemanager:v3",
  "ownerDomain": "google.com",
  "schemas": {
    "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "description": "The type of this operation."
        },
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        }
      },
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation",
      "description": "Metadata describing a long running folder operation",
      "type": "object"
    },
    "TagHold": {
      "properties": {
        "helpLink": {
          "type": "string",
          "description": "Optional. A URL where an end user can learn more about removing this hold. E.g. `https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing`"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this TagHold was created."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of a TagHold. This is a String of the form: `tagValues/{tag-value-id}/tagHolds/{tag-hold-id}` (e.g. `tagValues/123/tagHolds/456`). This resource name is generated by the server."
        },
        "origin": {
          "description": "Optional. An optional string representing the origin of this request. This field should include human-understandable information to distinguish origins from each other. Must be less than 200 characters. E.g. `migs-35678234`",
          "type": "string"
        },
        "holder": {
          "description": "Required. The name of the resource where the TagValue is being used. Must be less than 200 characters. E.g. `//compute.googleapis.com/compute/projects/myproject/regions/us-east-1/instanceGroupManagers/instance-group`",
          "type": "string"
        }
      },
      "id": "TagHold",
      "type": "object",
      "description": "A TagHold represents the use of a TagValue that is not captured by TagBindings. If a TagValue has any TagHolds, deletion will be blocked. This resource is intended to be created in the same cloud location as the `holder`."
    },
    "CreateTagBindingMetadata": {
      "properties": {},
      "description": "Runtime operation information for creating a TagValue.",
      "type": "object",
      "id": "CreateTagBindingMetadata"
    },
    "ListEffectiveTagsResponse": {
      "description": "The response of ListEffectiveTags.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
        },
        "effectiveTags": {
          "items": {
            "$ref": "EffectiveTag"
          },
          "description": "A possibly paginated list of effective tags for the specified resource.",
          "type": "array"
        }
      },
      "id": "ListEffectiveTagsResponse",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "type": "object"
    },
    "ListTagValuesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to `ListTagValues` that indicates from where listing should continue. This is currently not used, but the server may at any point start supplying a valid token."
        },
        "tagValues": {
          "description": "A possibly paginated list of TagValues that are direct descendants of the specified parent TagKey.",
          "type": "array",
          "items": {
            "$ref": "TagValue"
          }
        }
      },
      "id": "ListTagValuesResponse",
      "description": "The ListTagValues response.",
      "type": "object"
    },
    "UndeleteOrganizationMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization.",
      "id": "UndeleteOrganizationMetadata",
      "type": "object",
      "properties": {}
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "type": "object",
      "description": "Metadata describing a long running folder operation",
      "properties": {
        "operationType": {
          "type": "string",
          "description": "The type of this operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ]
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        },
        "destinationParent": {
          "type": "string",
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        }
      },
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation"
    },
    "UpdateProjectMetadata": {
      "properties": {},
      "type": "object",
      "id": "UpdateProjectMetadata",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject."
    },
    "Lien": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "The creation time of this Lien.",
          "format": "google-datetime",
          "type": "string"
        },
        "restrictions": {
          "description": "The types of operations which should be blocked as a result of this Lien. Each value should correspond to an IAM permission. The server will validate the permissions against those for which Liens are supported. An empty list is meaningless and will be rejected. Example: ['resourcemanager.projects.delete']",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "A system-generated unique identifier for this Lien. Example: `liens/1234abcd`"
        },
        "origin": {
[...]
