{
  "name": "cloudbuild",
  "ownerDomain": "google.com",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Build API",
  "version": "v2",
  "revision": "20240310",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "id": "cloudbuild:v2",
  "schemas": {
    "GoogleDevtoolsCloudbuildV2Condition": {
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV2Condition",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of condition."
        },
        "message": {
          "type": "string",
          "description": "A human readable message indicating details about the transition."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the condition's last transition."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ],
          "description": "Severity with which to treat failures of this type of condition.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "type": "string"
        },
        "status": {
          "description": "Status of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ],
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ]
        },
        "lastTransitionTime": {
          "format": "google-datetime",
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another.",
          "type": "string"
        }
      }
    },
    "PropertySpec": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default"
          ],
          "description": "A type for the object."
        }
      },
      "type": "object",
      "description": "PropertySpec holds information about a property in an object.",
      "id": "PropertySpec"
    },
    "EmptyDirVolumeSource": {
      "properties": {},
      "type": "object",
      "description": "Represents an empty Volume source.",
      "id": "EmptyDirVolumeSource"
    },
    "Location": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "TaskResult": {
      "description": "TaskResult is used to describe the results of a task.",
      "properties": {
        "properties": {
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds.",
          "additionalProperties": {
            "$ref": "PropertySpec"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Name of the result."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "The type of data that the result holds.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the result.",
          "type": "string"
        }
      },
      "id": "TaskResult",
      "type": "object"
    },
    "BatchCreateRepositoriesRequest": {
      "type": "object",
      "id": "BatchCreateRepositoriesRequest",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the repositories to create.",
          "items": {
            "$ref": "CreateRepositoryRequest"
          },
          "type": "array"
        }
      },
      "description": "Message for creating repositoritories in batch."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "properties": {
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "SSL certificate to use for requests to GitLab Enterprise."
        },
        "serverVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the `api` scope access."
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com."
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig",
      "type": "object",
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise."
    },
    "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "properties": {
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the GitHub Enterprise host this connection is for."
        },
        "appId": {
          "format": "int64",
          "description": "Id of the GitHub App created from the manifest.",
          "type": "string"
        },
        "serverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GitHub Enterprise version installed at the host_uri."
        },
        "appSlug": {
          "type": "string",
          "description": "The URL-friendly name of the GitHub App."
        },
        "appInstallationId": {
          "type": "string",
          "description": "ID of the installation of the GitHub App.",
          "format": "int64"
        },
        "sslCa": {
          "type": "string",
          "description": "SSL certificate to use for requests to GitHub Enterprise."
        },
        "apiKey": {
          "type": "string",
          "description": "Required. API Key used for authentication of webhook events."
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet."
        },
        "privateKeySecretVersion": {
          "description": "SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "type": "object"
    },
    "Param": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "ParamValue",
          "description": "Value of the parameter."
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        }
      },
      "id": "Param",
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Step": {
      "id": "Step",
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "type": "object",
      "properties": {
        "workingDir": {
          "type": "string",
          "description": "Container's working directory."
        },
        "command": {
          "description": "Entrypoint array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional"
        },
        "image": {
          "type": "string",
          "description": "Docker image name."
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "timeout": {
          "description": "Time after which the Step times out. Defaults to never.",
          "format": "google-duration",
          "type": "string"
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL."
        },
        "env": {
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container."
        },
        "volumeMounts": {
          "type": "array",
          "description": "Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          }
        }
      }
    },
    "OAuthCredential": {
      "properties": {
        "username": {
          "description": "Output only. The username associated to this token.",
          "readOnly": true,
          "type": "string"
        },
        "oauthTokenSecretVersion": {
          "description": "A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata."
    },
    "ListRepositoriesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "repositories": {
          "type": "array",
          "description": "The list of Repositories.",
          "items": {
            "$ref": "Repository"
          }
        }
      },
      "type": "object",
      "description": "Message for response to listing Repositories.",
      "id": "ListRepositoriesResponse"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy"
    },
    "WhenExpression": {
      "description": "Conditions that need to be true for the task to run.",
      "type": "object",
      "id": "WhenExpression",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values is an array of strings, which is compared against the input, for guard checking."
        },
        "expressionOperator": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ],
          "description": "Operator that represents an Input's relationship to the values",
          "type": "string",
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        }
      }
    },
    "FetchReadWriteTokenRequest": {
      "type": "object",
      "id": "FetchReadWriteTokenRequest",
      "description": "Message for fetching SCM read/write token.",
      "properties": {}
    },
    "ChildStatusReference": {
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ],
          "description": "Output only. Type of the child reference.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "type": "string"
        },
        "pipelineTaskName": {
          "type": "string",
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing."
        },
        "whenExpressions": {
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask"
        },
        "name": {
          "description": "Name is the name of the TaskRun or Run this is referencing.",
          "type": "string"
        }
      },
      "id": "ChildStatusReference",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "TaskRef": {
      "type": "object",
      "id": "TaskRef",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "name": {
          "description": "Name of the task.",
          "deprecated": true,
          "type": "string"
        },
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/"
          ]
        },
        "params": {
          "type": "array",
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "items": {
            "$ref": "Param"
          }
        }
      }
    },
    "RunWorkflowCustomOperationMetadata": {
      "id": "RunWorkflowCustomOperationMetadata",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "pipelineRunId": {
          "description": "Output only. ID of the pipeline run created by RunWorkflow.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "description": "Represents the custom metadata of the RunWorkflow long-running operation.",
      "type": "object"
    },
    "EnvVar": {
      "properties": {
        "value": {
          "description": "Value of the environment variable.",
          "type": "string"
        },
        "name": {
          "description": "Name of the environment variable.",
          "type": "string"
        }
      },
      "description": "Environment variable.",
      "id": "EnvVar",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "FetchReadTokenResponse": {
      "description": "Message for responding to get read token.",
      "type": "object",
      "properties": {
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      },
      "id": "FetchReadTokenResponse"
    },
    "VolumeMount": {
      "properties": {
        "subPath": {
          "type": "string",
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root)."
        },
        "name": {
          "description": "Name of the volume.",
          "type": "string"
        },
        "mountPath": {
          "type": "string",
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'."
        },
        "readOnly": {
          "type": "boolean",
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified)."
        },
        "subPathExpr": {
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root).",
          "type": "string"
        }
      },
      "description": "Pod volumes to mount into the container's filesystem.",
      "id": "VolumeMount",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "ParamSpec": {
      "properties": {
        "name": {
          "description": "Name of the ParamSpec",
          "type": "string"
        },
        "description": {
          "description": "Description of the ParamSpec",
          "type": "string"
        },
        "type": {
          "description": "Type of ParamSpec",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Arrary type."
          ]
        },
        "default": {
          "$ref": "ParamValue",
          "description": "The default value a parameter takes if no input value is supplied"
        }
      },
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun.",
      "type": "object",
      "id": "ParamSpec"
    },
    "FetchReadTokenRequest": {
      "properties": {},
      "description": "Message for fetching SCM read token.",
      "id": "FetchReadTokenRequest",
      "type": "object"
    },
    "PipelineRun": {
      "properties": {
        "results": {
          "items": {
            "$ref": "PipelineRunResult"
          },
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "readOnly": true,
          "type": "array"
        },
        "workflow": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Workflow used to create this PipelineRun."
        },
        "security": {
          "$ref": "Security",
          "description": "Optional. Security configuration."
        },
        "timeouts": {
          "$ref": "TimeoutFields",
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline \u003e= Timeouts.tasks + Timeouts.finally"
        },
        "skippedTasks": {
          "description": "Output only. List of tasks that were skipped due to when expressions evaluating to false.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "SkippedTask"
          }
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV2Condition"
          },
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error.",
          "readOnly": true
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the pipeline completed."
        },
        "provenance": {
          "$ref": "Provenance",
          "description": "Optional. Provenance configuration."
        },
        "worker": {
          "$ref": "Worker",
          "description": "Optional. Worker configuration."
        },
        "pipelineRunStatus": {
          "description": "Pipelinerun status the user can provide. Used for cancellation.",
          "enum": [
            "PIPELINE_RUN_STATUS_UNSPECIFIED",
            "PIPELINE_RUN_CANCELLED"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Cancelled status."
          ],
          "type": "string"
        },
        "workspaces": {
          "type": "array",
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces.",
          "items": {
            "$ref": "WorkspaceBinding"
          }
        },
        "childReferences": {
          "items": {
            "$ref": "ChildStatusReference"
          },
          "type": "array",
          "description": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Time the pipeline is actually started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time at which the request to update the `PipelineRun` was received.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. A unique identifier for the `PipelineRun`.",
          "type": "string",
          "readOnly": true
        },
        "pipelineSpec": {
          "description": "PipelineSpec defines the desired state of Pipeline.",
          "$ref": "PipelineSpec"
        },
        "record": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The `Record` of this `PipelineRun`. Format: `projects/{project}/locations/{location}/results/{result_id}/records/{record_id}`"
        },
        "serviceAccount": {
          "type": "string",
          "deprecated": true,
          "description": "Service account used in the Pipeline. Deprecated; please use security.service_account instead."
        },
        "pipelineRef": {
          "description": "PipelineRef refer to a specific instance of a Pipeline.",
          "$ref": "PipelineRef"
        },
        "resolvedPipelineSpec": {
          "readOnly": true,
          "$ref": "PipelineSpec",
          "description": "Output only. The exact PipelineSpec used to instantiate the run."
        },
        "name": {
          "description": "Output only. The `PipelineRun` name with format `projects/{project}/locations/{location}/pipelineRuns/{pipeline_run}`",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Needed for declarative-friendly resources."
        },
        "finallyStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. FinallyStartTime is when all non-finally tasks have been completed and only finally tasks are being executed. +optional"
        },
        "params": {
          "description": "Params is a list of parameter names and values.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "workerPool": {
          "description": "Output only. The WorkerPool used to run this PipelineRun.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the request to create the `PipelineRun` was received.",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "type": "object"
        },
        "gcbParams": {
          "description": "Output only. GCB default params.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "PipelineRun",
      "description": "Message describing PipelineRun object",
      "type": "object"
    },
    "PipelineRunResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "$ref": "ResultValue",
          "description": "Output only. Value of the result."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the TaskRun"
        }
      },
      "type": "object",
      "description": "PipelineRunResult used to describe the results of a pipeline",
      "id": "PipelineRunResult"
    },
    "Connection": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "bitbucketDataCenterConfig": {
          "$ref": "BitbucketDataCenterConfig",
          "description": "Configuration for connections to Bitbucket Data Center."
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig"
        },
        "installationState": {
          "$ref": "InstallationState",
          "readOnly": true,
          "description": "Output only. Installation state of the Connection."
        },
        "disabled": {
          "type": "boolean",
          "description": "If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
        },
        "bitbucketCloudConfig": {
          "$ref": "BitbucketCloudConfig",
          "description": "Configuration for connections to Bitbucket Cloud."
        },
        "githubEnterpriseConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitHub Enterprise."
        },
        "githubConfig": {
          "$ref": "GitHubConfig",
          "description": "Configuration for connections to github.com."
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "type": "boolean",
          "readOnly": true
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
        }
      },
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "id": "Connection",
      "type": "object"
    },
    "PipelineResult": {
      "id": "PipelineResult",
      "type": "object",
      "description": "A value produced by a Pipeline.",
      "properties": {
        "type": {
          "description": "Output only. The type of data that the result holds.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the result.",
          "readOnly": true
        },
        "value": {
          "$ref": "ResultValue",
          "readOnly": true,
          "description": "Output only. Value of the result."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the result.",
          "type": "string"
        }
      }
    },
    "PipelineWorkspaceDeclaration": {
      "type": "object",
      "id": "PipelineWorkspaceDeclaration",
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required."
        },
        "name": {
          "type": "string",
          "description": "Name is the name of a workspace to be provided by a PipelineRun."
        },
        "description": {
          "type": "string",
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline."
        }
      },
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
    },
    "Worker": {
      "id": "Worker",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\"."
        }
      },
      "description": "Configuration for the worker.",
      "type": "object"
    },
    "Provenance": {
      "type": "object",
      "properties": {
        "enabled": {
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ],
          "description": "Optional. Provenance push mode.",
          "type": "string"
        },
        "storage": {
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ],
          "description": "Optional. Where provenance is stored.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ],
          "description": "Optional. Provenance region.",
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ]
        }
      },
      "description": "Provenance configuration.",
      "id": "Provenance"
    },
    "Sidecar": {
      "properties": {
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "readinessProbe": {
          "$ref": "Probe",
          "description": "Optional. Periodic probe of Sidecar service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "name": {
          "type": "string",
          "description": "Name of the Sidecar."
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. Security options the container should be run with."
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container.",
          "type": "array"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array."
        }
      },
      "id": "Sidecar",
      "description": "Sidecars run alongside the Task's step containers.",
      "type": "object"
    },
    "BatchCreateRepositoriesResponse": {
      "properties": {
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "Repository resources created.",
          "type": "array"
        }
      },
      "description": "Message for response of creating repositories in batch.",
      "type": "object",
      "id": "BatchCreateRepositoriesResponse"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig"
    },
    "GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleDevtoolsCloudbuildV2OperationMetadata",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "InstallationState": {
      "type": "object",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "id": "InstallationState",
      "properties": {
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "type": "string",
          "readOnly": true
        },
        "stage": {
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "type": "string",
          "description": "Output only. Current step of the installation process.",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "readOnly": true
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete."
        }
      }
    },
    "UserCredential": {
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The username associated to this token."
        }
      },
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "type": "object",
      "id": "UserCredential"
    },
    "WorkspaceBinding": {
      "properties": {
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        },
        "name": {
          "description": "Name of the workspace.",
          "type": "string"
        },
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        }
      },
      "id": "WorkspaceBinding",
      "type": "object",
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline."
    },
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "properties": {
        "secretName": {
          "type": "string",
          "description": "Name of the secret referenced by the WorkspaceBinding."
        },
        "secretVersion": {
          "description": "Output only. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Secret Volume Source."
    },
    "ExecAction": {
      "id": "ExecAction",
      "properties": {
        "command": {
          "type": "array",
          "description": "Optional. Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "ExecAction describes a \"run in container\" action."
    },
    "Probe": {
      "properties": {
        "periodSeconds": {
          "format": "int32",
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional",
          "type": "integer"
        },
        "exec": {
          "$ref": "ExecAction",
          "description": "Optional. Exec specifies the action to take. +optional"
        }
      },
      "type": "object",
      "id": "Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic."
    },
    "TimeoutFields": {
      "properties": {
        "finally": {
          "type": "string",
          "description": "Finally sets the maximum allowed duration of this pipeline's finally",
          "format": "google-duration"
        },
        "tasks": {
          "format": "google-duration",
          "type": "string",
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks"
        },
        "pipeline": {
          "type": "string",
          "format": "google-duration",
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value."
        }
      },
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts",
      "id": "TimeoutFields",
      "type": "object"
    },
    "SecurityContext": {
      "properties": {
        "runAsGroup": {
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string",
          "format": "int64"
        },
        "capabilities": {
          "description": "Optional. Adds and removes POSIX capabilities from running containers.",
          "$ref": "Capabilities"
        },
        "runAsNonRoot": {
          "type": "boolean",
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional"
        },
        "runAsUser": {
          "format": "int64",
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string"
        },
        "allowPrivilegeEscalation": {
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "boolean"
        },
        "privileged": {
          "description": "Run container in privileged mode.",
          "type": "boolean"
        }
      },
      "id": "SecurityContext",
      "type": "object",
      "description": "Security options the container should be run with."
    },
    "PipelineSpec": {
      "properties": {
        "generatedYaml": {
          "type": "string",
          "description": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows.",
          "readOnly": true
        },
        "workspaces": {
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          },
          "type": "array"
        },
        "finallyTasks": {
          "type": "array",
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "tasks": {
          "items": {
            "$ref": "PipelineTask"
          },
          "description": "List of Tasks that execute when this Pipeline is run.",
          "type": "array"
        },
        "params": {
          "type": "array",
          "description": "List of parameters.",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "results": {
          "type": "array",
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "readOnly": true,
          "items": {
            "$ref": "PipelineResult"
          }
        }
      },
      "id": "PipelineSpec",
      "description": "PipelineSpec defines the desired state of Pipeline.",
      "type": "object"
    },
    "HttpBody": {
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "HttpBody",
      "type": "object"
    },
    "SkippedTask": {
      "id": "SkippedTask",
      "properties": {
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          }
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason is the cause of the PipelineTask being skipped."
        },
        "name": {
          "description": "Name is the Pipeline Task name",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False."
    },
    "WorkspaceDeclaration": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description is a human readable description of this volume."
        },
        "mountPath": {
          "type": "string",
          "description": "MountPath overrides the directory that the volume will be made available at."
        },
        "name": {
          "type": "string",
          "description": "Name is the name by which you can bind the volume at runtime."
        },
        "optional": {
          "type": "boolean",
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required."
        },
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        }
      },
      "id": "WorkspaceDeclaration",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires."
    },
    "VolumeSource": {
      "type": "object",
      "id": "VolumeSource",
      "properties": {
        "emptyDir": {
          "$ref": "EmptyDirVolumeSource",
          "description": "A temporary directory that shares a pod's lifetime."
        },
        "name": {
          "type": "string",
          "description": "Name of the Volume. Must be a DNS_LABEL and unique within the pod. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names"
        }
      },
      "description": "Volumes available to mount."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "EmbeddedTask": {
      "properties": {
        "taskSpec": {
          "$ref": "TaskSpec",
          "description": "Spec to instantiate this TaskRun."
        },
        "annotations": {
          "type": "object",
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "EmbeddedTask",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array",
          "description": "The list of Connections."
        }
      },
      "type": "object"
    },
    "StepTemplate": {
      "type": "object",
      "properties": {
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Optional. Pod volumes to mount into the container's filesystem."
        },
        "env": {
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        }
      },
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
      "id": "StepTemplate"
    },
    "ResultValue": {
      "type": "object",
      "description": "ResultValue holds different types of data for a single result.",
      "id": "ResultValue",
      "properties": {
        "stringVal": {
          "type": "string",
          "description": "Value of the result if type is string."
        },
        "arrayVal": {
          "description": "Value of the result if type is array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "objectVal": {
          "description": "Value of the result if type is object.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of data that the result holds."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BitbucketCloudConfig": {
      "id": "BitbucketCloudConfig",
      "type": "object",
      "description": "Configuration for connections to Bitbucket Cloud.",
      "properties": {
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
        },
        "authorizerCredential": {
          "description": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "workspace": {
          "type": "string",
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform."
        }
      }
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "properties": {
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      },
      "description": "Message for responding to get read/write token.",
      "id": "FetchReadWriteTokenResponse"
    },
    "Security": {
      "id": "Security",
      "description": "Security configuration.",
      "type": "object",
      "properties": {
        "privilegeMode": {
          "type": "string",
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ],
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "description": "Optional. Privilege mode."
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at runtime.",
          "type": "string"
        }
      }
    },
    "Repository": {
      "id": "Repository",
      "type": "object",
      "description": "A repository associated to a parent connection.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was created."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "webhookId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. External ID of the webhook created for the repository."
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Server assigned timestamp for when the connection was updated."
        },
        "remoteUri": {
          "description": "Required. Git Clone HTTPS URI.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "WorkspacePipelineTaskBinding": {
      "properties": {
        "workspace": {
          "description": "Name of the workspace declared by the pipeline.",
          "type": "string"
        },
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        },
        "name": {
          "description": "Name of the workspace as declared by the task.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WorkspacePipelineTaskBinding",
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task."
    },
    "Capabilities": {
      "properties": {
        "drop": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Removed capabilities +optional",
          "type": "array"
        },
        "add": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Added capabilities +optional"
        }
      },
      "type": "object",
      "id": "Capabilities",
      "description": "Capabilities adds and removes POSIX capabilities from running containers."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object"
    },
    "GitHubConfig": {
      "type": "object",
      "properties": {
        "appInstallationId": {
          "format": "int64",
          "type": "string",
          "description": "GitHub App installation id."
        },
        "authorizerCredential": {
          "$ref": "OAuthCredential",
          "description": "OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App."
        }
      },
      "description": "Configuration for connections to github.com.",
      "id": "GitHubConfig"
    },
    "FetchLinkableRepositoriesResponse": {
      "id": "FetchLinkableRepositoriesResponse",
      "type": "object",
      "description": "Response message for FetchLinkableRepositories.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "repositories": {
          "type": "array",
          "description": "repositories ready to be created.",
          "items": {
            "$ref": "Repository"
          }
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "FetchGitRefsResponse": {
      "properties": {
        "refNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "FetchGitRefsResponse",
      "type": "object",
      "description": "Response for fetching git refs"
    },
    "TaskSpec": {
      "id": "TaskSpec",
      "properties": {
        "workspaces": {
          "items": {
            "$ref": "WorkspaceDeclaration"
          },
          "type": "array",
          "description": "The volumes that this Task requires."
        },
        "params": {
          "items": {
            "$ref": "ParamSpec"
          },
          "description": "List of parameters.",
          "type": "array"
        },
        "results": {
          "items": {
            "$ref": "TaskResult"
          },
          "type": "array",
          "description": "Values that this Task can output."
        },
        "sidecars": {
          "items": {
            "$ref": "Sidecar"
          },
          "type": "array",
          "description": "Sidecars that run alongside the Task's step containers."
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "Steps of the task."
        },
        "stepTemplate": {
          "description": "Optional. StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
          "$ref": "StepTemplate"
        },
        "volumes": {
          "description": "A collection of volumes that are available to mount into steps.",
          "items": {
            "$ref": "VolumeSource"
          },
          "type": "array"
        },
        "managedSidecars": {
          "description": "Sidecars that run alongside the Task’s step containers that should be added to this Task.",
          "items": {
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "Sidecar for a privileged docker daemon."
            ],
            "type": "string",
            "enum": [
              "MANAGED_SIDECAR_UNSPECIFIED",
              "PRIVILEGED_DOCKER_DAEMON"
            ]
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the task."
        }
      },
      "type": "object",
      "description": "TaskSpec contains the Spec to instantiate a TaskRun."
    },
    "CreateRepositoryRequest": {
      "description": "Message for creating a Repository.",
      "id": "CreateRepositoryRequest",
      "type": "object",
      "properties": {
        "repository": {
          "description": "Required. The repository to create.",
          "$ref": "Repository"
        },
        "parent": {
          "type": "string",
          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there."
        },
        "repositoryId": {
          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
          "type": "string"
        }
      }
    },
    "PipelineTask": {
      "id": "PipelineTask",
      "description": "PipelineTask defines a task in a Pipeline.",
      "type": "object",
      "properties": {
        "retries": {
          "format": "int32",
          "type": "integer",
          "description": "Retries represents how many times this task should be retried in case of task failure."
        },
        "name": {
          "type": "string",
          "description": "Name of the task."
        },
        "taskRef": {
          "description": "Reference to a specific instance of a task.",
          "$ref": "TaskRef"
        },
        "whenExpressions": {
          "type": "array",
          "description": "Conditions that need to be true for the task to run.",
          "items": {
            "$ref": "WhenExpression"
          }
        },
        "workspaces": {
          "type": "array",
          "description": "Workspaces maps workspaces from the pipeline spec to the workspaces declared in the Task.",
          "items": {
            "$ref": "WorkspacePipelineTaskBinding"
          }
        },
        "timeout": {
          "description": "Time after which the TaskRun times out. Defaults to 1 hour. Specified TaskRun timeout should be less than 24h.",
          "type": "string",
          "format": "google-duration"
        },
        "taskSpec": {
          "$ref": "EmbeddedTask",
          "description": "Spec to instantiate this TaskRun."
        },
        "runAfter": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "RunAfter is the list of PipelineTask names that should be executed before this Task executes. (Used to force a specific ordering in graph execution.)"
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params is a list of parameter names and values.",
          "type": "array"
        }
      }
    },
    "ParamValue": {
      "id": "ParamValue",
      "description": "Parameter value.",
      "properties": {
        "stringVal": {
          "type": "string",
          "description": "Value of the parameter if type is string."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY"
          ],
          "description": "Type of parameter.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type"
          ]
        },
        "arrayVal": {
          "description": "Value of the parameter if type is array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "BitbucketDataCenterConfig": {
      "type": "object",
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to Bitbucket Data Center.",
      "properties": {
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_READ` access."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for."
        },
        "serverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
        },
        "authorizerCredential": {
          "description": "Required. A http access token with the `REPO_ADMIN` scope access.",
          "$ref": "UserCredential"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center."
        }
      }
    },
    "PipelineRef": {
      "properties": {
        "name": {
          "description": "Name of the Pipeline.",
          "type": "string",
          "deprecated": true
        },
        "params": {
          "type": "array",
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver."
        },
        "resolver": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/"
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT"
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource."
        }
      },
      "type": "object",
      "id": "PipelineRef",
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "methods": {
                "patch": {
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "description": "Updates a single connection.",
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
[...]
