{
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "canonicalName": "Cloud Search",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "id": "cloudsearch:v1",
  "servicePath": "",
  "version_module": true,
  "ownerName": "Google",
  "schemas": {
    "GetCustomerSearchApplicationStatsResponse": {
      "properties": {
        "averageSearchApplicationCount": {
          "format": "int64",
          "description": "Average search application count for the given date range.",
          "type": "string"
        },
        "stats": {
          "items": {
            "$ref": "CustomerSearchApplicationStats"
          },
          "type": "array",
          "description": "Search application stats by date."
        }
      },
      "type": "object",
      "description": "Response format for search application stats for a customer.",
      "id": "GetCustomerSearchApplicationStatsResponse"
    },
    "Rank": {
      "properties": {
        "secondary": {
          "description": "The secondary rank may be used to rank items of identical primary rank. This rank element should always be present.",
          "type": "string",
          "format": "int64"
        },
        "primary": {
          "description": "The primary rank is the most significant rank member. This rank element should always be present. Items with higher primary rank are always considered of higher rank than those of lower primary rank.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The rank contains a tuple of numbers which may be used as a general sort order. The rank should be treated as an ordered set of numbers, where the ordering is done in descending order of the most significant rank member. For example, given the following ranks described as (primary, secondary): (1,1), (1,2), (2,2) (2,1) The descending rank-order is: (2,2) \u003e (2,1) \u003e (1,2) \u003e (1,1)",
      "id": "Rank"
    },
    "GroupLinkSharingModificationEvent": {
      "id": "GroupLinkSharingModificationEvent",
      "properties": {
        "newStatus": {
          "enum": [
            "UNKNOWN_LINK_SHARING_STATUS",
            "LINK_SHARING_ON",
            "LINK_SHARING_OFF",
            "NOT_AVAILABLE"
          ],
          "enumDescriptions": [
            "",
            "Link sharing is turned on.",
            "Link sharing is turned off.",
            "Link sharing is not available for the conversation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ObjectDefinition": {
      "id": "ObjectDefinition",
      "type": "object",
      "properties": {
        "propertyDefinitions": {
          "description": "The property definitions for the object. The maximum number of elements is 1000.",
          "type": "array",
          "items": {
            "$ref": "PropertyDefinition"
          }
        },
        "options": {
          "description": "The optional object-specific options.",
          "$ref": "ObjectOptions"
        },
        "name": {
          "type": "string",
          "description": "The name for the object, which then defines its type. Item indexing requests should set the objectType field equal to this value. For example, if *name* is *Document*, then indexing requests for items of type Document should set objectType equal to *Document*. Each object definition must be uniquely named within a schema. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters."
        }
      },
      "description": "The definition for an object within a data source."
    },
    "Triggers": {
      "id": "Triggers",
      "properties": {
        "triggers": {
          "type": "array",
          "description": "A list of triggers.",
          "items": {
            "$ref": "Trigger"
          }
        }
      },
      "type": "object"
    },
    "TimestampValues": {
      "id": "TimestampValues",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      },
      "description": "List of timestamp values.",
      "type": "object"
    },
    "CircleProto": {
      "properties": {
        "ownerGaiaId": {
          "type": "string",
          "description": "The owner of the circle. Currently required.",
          "format": "int64"
        },
        "circleId": {
          "format": "int64",
          "description": "Circle ID is unique only relative to the owner's Gaia ID. Currently required.",
          "type": "string"
        },
        "requiredConsistencyTimestampUsec": {
          "type": "string",
          "format": "int64",
          "description": "If present, then tests for membership in this circle must use data known to be at least as fresh as the given (FBS-assigned) timestamp. See http://go/fbs-consistent-read-after-important-write Before using this, be sure that any service checking authorization against this circle supports checking consistency timestamps. For example, as of 12/2011, Keystore only supports this for the Moonshine configuration, and in others authorization checks will fail if the timestamp is present."
        }
      },
      "id": "CircleProto",
      "description": "Represents a Google+ Circle. Currently (12/2011), a Circle is identical to the ContactGroup with matching parameters, but Circle must only be used for true Circles and not other Focus groups, and should be preferred over ContactGroup where applicable. Soon it may become more efficient to check membership in a Circle than in a ContactGroup (see http://go/superglue). Support for this principal type is currently (12/2011) incomplete -- e.g., Keystore does not support it yet (see b/5703421).",
      "type": "object"
    },
    "GetSearchApplicationUserStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "items": {
            "$ref": "SearchApplicationUserStats"
          },
          "type": "array"
        }
      },
      "id": "GetSearchApplicationUserStatsResponse"
    },
    "CommunalLabelTag": {
      "description": "An individual instance (or \"tag\") of a label configured as a communal type that's associated with a message.",
      "type": "object",
      "id": "CommunalLabelTag",
      "properties": {
        "creatorUserId": {
          "format": "int64",
          "description": "Gaia ID of the user who added the tag, if any. Not present for any tags automatically created by server-side processing.",
          "type": "string"
        },
        "labelId": {
          "description": "A string ID representing the label. Possible ID values are documented at go/chat-labels-howto:ids. Example: \"^*t_p\" for \"Pinned\".",
          "type": "string"
        }
      }
    },
    "Recipient": {
      "type": "object",
      "id": "Recipient",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "AppsDynamiteSharedFindDocumentSuggestion": {
      "id": "AppsDynamiteSharedFindDocumentSuggestion",
      "properties": {
        "documentSuggestions": {
          "description": "List of documents to render as suggestions.",
          "items": {
            "$ref": "AppsDynamiteSharedDocument"
          },
          "type": "array"
        },
        "showActionButtons": {
          "description": "Whether to show the action buttons in the card for the suggestions.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Data for a FindDocument suggestion type."
    },
    "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime": {
      "id": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime",
      "type": "object",
      "properties": {
        "allDay": {
          "description": "All day event.",
          "$ref": "Date"
        },
        "timed": {
          "description": "Non all day event.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DeliveryMedium": {
      "id": "DeliveryMedium",
      "properties": {
        "selfPhone": {
          "description": "In the case of multiple GV/native numbers, this defines the exact number to send from. It is used to differentiate mediums that have the same type, but different addresses (e.g. two android phones).",
          "$ref": "VoicePhoneNumber"
        },
        "mediumType": {
          "type": "string",
          "enum": [
            "UNKNOWN_MEDIUM",
            "BABEL_MEDIUM",
            "GOOGLE_VOICE_MEDIUM",
            "LOCAL_SMS_MEDIUM"
          ],
          "description": "Describes the medium the cent was sent/received. For example, if I receive an SMS via GV, the medium_type will be GV.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "MessageSet": {
      "description": "This is proto2's version of MessageSet.",
      "type": "object",
      "properties": {},
      "id": "MessageSet"
    },
    "Labels": {
      "id": "Labels",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ids of the labels attached to the Item, e.g. \"^i\", \"^x_1\"",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "items": {
            "type": "string"
          },
          "description": "The display name of the labels. This is populated (instead of the id) when the request fetch_spec has LABEL_DISPLAY_NAMES.",
          "type": "array"
        }
      }
    },
    "ChatContentExtension": {
      "type": "object",
      "id": "ChatContentExtension",
      "properties": {
        "annotation": {
          "description": "Annotations to decorate this event.",
          "type": "array",
          "items": {
            "$ref": "EventAnnotation"
          }
        },
        "groupLinkSharingModificationEvent": {
          "$ref": "GroupLinkSharingModificationEvent",
          "description": "Group-link sharing toggle event."
        },
        "otrChatMessageEvent": {
          "$ref": "OtrChatMessageEvent",
          "description": "Metadata for off-the-record message."
        },
        "renameEvent": {
          "$ref": "RenameEvent"
        },
        "eventOtrStatus": {
          "type": "string",
          "enumDescriptions": [
            "The conversation is completely off the record.",
            "The conversation is completely on the record."
          ],
          "description": "Is this event OnTR or OffTR? Since some events can be ON_THE_RECORD and have an expiration_timestamp (for example enterprise retention users) we need to store the otr status.",
          "enum": [
            "OFF_THE_RECORD",
            "ON_THE_RECORD"
          ]
        },
        "membershipChangeEvent": {
          "$ref": "MembershipChangeEvent",
          "description": "Join/leave events."
        },
        "inviteAcceptedEvent": {
          "description": "Invite accepted events. Note: this is only used ephemerally to sync to Gmail. No actual cent is stored in Papyrus.",
          "$ref": "InviteAcceptedEvent"
        },
        "hangoutEvent": {
          "$ref": "HangoutEvent",
          "description": "Audio/video Hangout event."
        },
        "dynamitePlaceholderMetadata": {
          "description": "This metadata informs how the placeholder string will be localized dynamically in Hangouts. See go/localization-of-system-messages. This is only used as part of REGULAR_CHAT_MESSAGE events.",
          "$ref": "ChatConserverDynamitePlaceholderMetadata"
        },
        "otrModificationEvent": {
          "$ref": "OtrModificationEvent"
        }
      },
      "description": "NEXT ID: 12"
    },
    "TranscriptionSessionInfo": {
      "description": "Information about a transcription session.",
      "type": "object",
      "id": "TranscriptionSessionInfo",
      "properties": {
        "transcriptionSessionId": {
          "type": "string",
          "description": "A unique server-generated ID for the transcription session."
        },
        "sessionStateInfo": {
          "description": "Transcription session's state information.",
          "$ref": "SessionStateInfo"
        }
      }
    },
    "SessionContext": {
      "id": "SessionContext",
      "properties": {
        "oauthLoginId": {
          "type": "integer",
          "description": "OAuth login ID.",
          "format": "int32"
        },
        "dusi": {
          "type": "string",
          "description": "Device User Session ID, see go/dusi."
        },
        "imapSessionContext": {
          "description": "Imap session context for Bond/Gmail integration",
          "$ref": "ImapSessionContext"
        },
        "oauthProjectId": {
          "description": "The devconsole project ID of the developer who authenticated with OAuth.",
          "format": "int64",
          "type": "string"
        },
        "authTime": {
          "format": "int64",
          "description": "Time at which this activity's session was authenticated, in seconds since the epoch.",
          "type": "string"
        },
        "delegateUserId": {
          "format": "int64",
          "type": "string",
          "description": "Gaia ID of the authenticated user when delegate access is active. In such sessions the main gaia ID is that of the delegator, i.e. the account being accessed."
        }
      },
      "type": "object"
    },
    "InsertContent": {
      "properties": {
        "content": {
          "type": "string",
          "description": "The content to be inserted."
        },
        "mimeType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_EMAIL_MIME_TYPE",
            "PLAIN_TEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Default value when nothing is set for EmailMimeType.",
            "Specifies that the inserted content is in plain text.",
            "Specifies that the inserted content is in HTML."
          ]
        },
        "contentType": {
          "enumDescriptions": [
            "Default value when nothing is set for ContentType.",
            "Specifies that the content is in plain text.",
            "Specifies that the content is in HTML and is mutable (can be edited).",
            "Specifies that the content is in HTML and is immutable (cannot be edited)."
          ],
          "description": "The type of inserted content.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_CONTENT_TYPE",
            "TEXT",
            "MUTABLE_HTML",
            "IMMUTABLE_HTML"
          ]
        }
      },
      "type": "object",
      "id": "InsertContent"
    },
    "ListItemNamesForUnmappedIdentityResponse": {
      "type": "object",
      "id": "ListItemNamesForUnmappedIdentityResponse",
      "properties": {
        "itemNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "TextButton": {
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "style": {
          "enum": [
            "UNSPECIFIED",
            "TEXT",
            "FILLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Simple text button with ripple touch feedback.",
            "Button with solid background."
          ]
        },
        "onClick": {
          "$ref": "OnClick"
        },
        "text": {
          "description": "Text color can be set via HTML markup.",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "The alternative text used for accessibility Next field number: 7."
        },
        "backgroundColor": {
          "description": "Optional color of the button's background in RAISE mode. The default is the secondary color from addon's manifest.",
          "type": "string"
        }
      },
      "id": "TextButton"
    },
    "SocialCommonAttachmentAttachment": {
      "id": "SocialCommonAttachmentAttachment",
      "properties": {
        "id": {
          "description": "An id to uniquely identify an attachment when several attachments are in a collection.",
          "type": "string"
        },
        "embedItem": {
          "description": "An embed represents an external entity. See go/es-embeds.",
          "$ref": "EmbedClientItem"
        }
      },
      "description": "An Attachment represents a linked entity associated with a piece of social content. This may be a 1st-party or 3rd-party entity. In the Papyrus context, an Attachment is part of a Cent, and sits alongside the main content of the cent, which is represented as a sequence of Segments. Right now an Attachment is just a wrapper around an Embed, but we provide the extra layer of abstraction since, as Embeds move to separate storage in Briefcase, we may want to add additional fields that are not part of the Embed proper, but that (for example) relate to the usage of the linked content within the particular post/cent.",
      "type": "object"
    },
    "DoubleOperatorOptions": {
      "id": "DoubleOperatorOptions",
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "type": "object"
    },
    "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEvent": {
      "properties": {
        "endTime": {
          "$ref": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime",
          "description": "The end time of the event."
        },
        "startTime": {
          "$ref": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime",
          "description": "The start time of the event."
        },
        "title": {
          "description": "Title of the event (at the time the message was generated).",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "ID of the event."
        }
      },
      "id": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEvent",
      "type": "object"
    },
    "SearchItemsByViewUrlRequest": {
      "properties": {
        "viewUrl": {
          "description": "Specify the full view URL to find the corresponding item. The maximum length is 2048 characters.",
          "type": "string"
        },
        "pageToken": {
          "description": "The next_page_token value returned from a previous request, if any.",
          "type": "string"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "id": "SearchItemsByViewUrlRequest",
      "type": "object"
    },
    "TransactionDebugInfo": {
      "type": "object",
      "description": "HistoryRecord for debug info associated with the transaction, namely: TXN_DEBUG_INFO TODO(b/143845917) This is a short-term workaround for unblocking fusebox writes migration. Clean up the code or land a long-term solution after the rollout. go/diff-to-historyrecord",
      "properties": {},
      "id": "TransactionDebugInfo"
    },
    "ImapsyncFolderAttributeFolderMessage": {
      "properties": {
        "uid": {
          "type": "string",
          "description": "UID of the message.",
          "format": "uint64"
        },
        "flags": {
          "$ref": "ImapsyncFolderAttributeFolderMessageFlags",
          "description": "Flags of the message. Represents unseen and flagged state."
        }
      },
      "type": "object",
      "id": "ImapsyncFolderAttributeFolderMessage"
    },
    "TopicState": {
      "properties": {
        "numConstituents": {
          "format": "int32",
          "description": "Number of constituents for this entity.",
          "type": "integer"
        },
        "labelIdMessageCount": {
          "type": "object",
          "description": "Map of label =\u003e count of topic constituent messages with label These only contain counts of labels that are relevant for topic normalization/denormalization. Eg. If a topic thread has 5 constituents, 4 of which are in inbox, this will contain ^i =\u003e 4. Some labels of interest are archive, inbox, trash, spam, etc.",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "TopicState",
      "description": "State of an topic thread as maintained within Tingle.",
      "type": "object"
    },
    "AppsDynamiteStorageDecoratedText": {
      "type": "object",
      "description": "A widget that displays text with optional decorations such as a label above or below the text, an icon in front of the text, a selection widget or a button after the text.",
      "properties": {
        "onClick": {
          "description": "Only the top and bottom label and content region are clickable.",
          "$ref": "AppsDynamiteStorageOnClick"
        },
        "button": {
          "$ref": "AppsDynamiteStorageButton",
          "description": "A button that can be clicked to trigger an action."
        },
        "text": {
          "description": "Required. The main widget formatted text. See Text formatting for details.",
          "type": "string"
        },
        "topLabel": {
          "description": "The formatted text label that shows above the main text.",
          "type": "string"
        },
        "icon": {
          "$ref": "AppsDynamiteStorageIcon",
          "description": "Deprecated in favor of start_icon."
        },
        "bottomLabel": {
          "description": "The formatted text label that shows below the main text.",
          "type": "string"
        },
        "wrapText": {
          "type": "boolean",
          "description": "The wrap text setting. If `true`, the text is wrapped and displayed in multiline. Otherwise, the text is truncated."
        },
        "startIcon": {
          "description": "The icon displayed in front of the text.",
          "$ref": "AppsDynamiteStorageIcon"
        },
        "switchControl": {
          "$ref": "AppsDynamiteStorageDecoratedTextSwitchControl",
          "description": "A switch widget can be clicked to change its state or trigger an action."
        },
        "endIcon": {
          "description": "An icon displayed after the text.",
          "$ref": "AppsDynamiteStorageIcon"
        }
      },
      "id": "AppsDynamiteStorageDecoratedText"
    },
    "HostAppActionMarkup": {
      "type": "object",
      "properties": {
        "calendarAction": {
          "$ref": "CalendarClientActionMarkup",
          "description": "Actions handled by Calendar."
        },
        "chatAction": {
          "$ref": "ChatClientActionMarkup",
          "description": "Actions handled by Chat."
        },
        "editorAction": {
          "$ref": "EditorClientActionMarkup",
          "description": "Actions handled by Docs, Sheets, or Slides."
        },
        "sheetsAction": {
          "description": "Actions handled by Sheets.",
          "$ref": "SheetsClientActionMarkup"
        },
        "driveAction": {
          "description": "Actions handled by Drive.",
          "$ref": "DriveClientActionMarkup"
        },
        "gmailAction": {
          "$ref": "GmailClientActionMarkup",
          "description": "Actions handled by Gmail."
        }
      },
      "description": "Actions handled by individual host apps.",
      "id": "HostAppActionMarkup"
    },
    "ShareScope": {
      "id": "ShareScope",
      "properties": {
        "domain": {
          "description": "If scope is DOMAIN, this field contains the dasher domain, for example \"google.com\".",
          "type": "string"
        },
        "scope": {
          "enum": [
            "UNKNOWN",
            "PRIVATE",
            "LIMITED",
            "EXTENDED",
            "DASHER_DOMAIN",
            "PUBLIC"
          ],
          "enumDescriptions": [
            "",
            "Only the author can view the post.",
            "Viewable only by a set of people.",
            "Viewable by extended circles.",
            "",
            ""
          ],
          "description": "The scope to which the content was shared.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OtrChatMessageEvent": {
      "type": "object",
      "id": "OtrChatMessageEvent",
      "properties": {
        "messageOtrStatus": {
          "enumDescriptions": [
            "The conversation is completely off the record.",
            "The conversation is completely on the record."
          ],
          "enum": [
            "OFF_THE_RECORD",
            "ON_THE_RECORD"
          ],
          "type": "string"
        },
        "kansasRowId": {
          "type": "string"
        },
        "kansasVersionInfo": {
          "type": "string"
        },
        "expirationTimestampUsec": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DriveMetadata": {
      "properties": {
        "driveState": {
          "type": "string",
          "enum": [
            "DRIVE_STATE_UNSPECIFIED",
            "IN_MY_DRIVE",
            "IN_TEAM_DRIVE",
            "SHARED_IN_DRIVE",
            "NOT_IN_DRIVE"
          ],
          "enumDescriptions": [
            "Default value",
            "File in My Drive",
            "File in Team Drive",
            "File in someone else's Drive, but is shared with the current user",
            "File not in drive"
          ]
        },
        "shortcutAuthorizedItemId": {
          "description": "Shortcut ID of this drive file in the shared drive, which is associated with a named room this file was shared in. Shortcuts will not be created for DMs or unnamed rooms. This is populated after the DriveMetadata is migrated to shared drive. go/chat-shared-drive-uploads.",
          "$ref": "AuthorizedItemId"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "Thumbnail image of the Drive Resource"
        },
        "aclFixRequest": {
          "$ref": "AclFixRequest"
        },
        "isDownloadRestricted": {
          "description": "Deprecated. Whether the setting to restrict downloads is enabled for this file. This was previously used to determine whether to hide the download and print buttons in the UI, but is no longer used by clients, because Projector now independently queries Drive to ensure that we have the most up-to-date value.",
          "type": "boolean"
        },
        "urlFragment": {
          "description": "Url string fragment that generally indicates the specific location in the linked file. Example: #header=h.123abc456. If the fragment is not present this will not be present and therefore default to an empty string. The \"#\" will not be included.",
          "type": "string"
        },
        "embedUrl": {
          "description": "Output only. Trusted Resource URL for drive file embedding.",
          "$ref": "TrustedResourceUrlProto",
          "readOnly": true
        },
        "externalMimetype": {
          "description": "External mimetype of the Drive Resource (Useful for creating Drive URL) See: http://b/35219462",
          "type": "string"
        },
        "mimetype": {
          "description": "Mimetype of the Drive Resource",
          "type": "string"
        },
        "canShare": {
          "type": "boolean",
          "description": "Can the current user share this resource"
        },
        "aclFixStatus": {
          "$ref": "AclFixStatus"
        },
        "encryptedResourceKey": {
          "type": "string",
          "description": "This is deprecated and unneeded. TODO (b/182479059): Remove this."
        },
        "canView": {
          "type": "boolean",
          "description": "Can the current user view this resource"
        },
        "thumbnailHeight": {
          "description": "Thumbnail image of the Drive Resource",
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string",
          "description": "Title of the Drive Resource"
        },
        "canEdit": {
          "description": "Can the current user edit this resource",
          "type": "boolean"
        },
        "shouldNotRender": {
          "description": "If this field is set to true, server should still contact external backends to get metadata for search but clients should not render this chip.",
          "type": "boolean"
        },
        "legacyUploadMetadata": {
          "$ref": "LegacyUploadMetadata",
          "description": "Only present if this DriveMetadata is converted from an UploadMetadata."
        },
        "encryptedDocId": {
          "type": "boolean",
          "description": "Indicates whether the Drive link contains an encrypted doc ID. If true, Dynamite should not attempt to query the doc ID in Drive Service. See go/docid-encryption for details."
        },
        "wrappedResourceKey": {
          "description": "This is considered SPII and should not be logged.",
          "$ref": "WrappedResourceKey"
        },
        "id": {
          "type": "string",
          "description": "Drive resource ID of the artifact."
        },
        "thumbnailWidth": {
          "description": "Thumbnail image of the Drive Resource",
          "format": "int32",
          "type": "integer"
        },
        "organizationDisplayName": {
          "type": "string",
          "description": "The display name of the organization owning the Drive item."
        },
        "driveAction": {
          "enum": [
            "DRIVE_ACTION_UNSPECIFIED",
            "ADD_TO_DRIVE",
            "ORGANIZE",
            "ADD_SHORTCUT",
            "ADD_ANOTHER_SHORTCUT"
          ],
          "description": "DriveAction for organizing this file in Drive. If the user does not have access to the Drive file, the value will be DriveAction.DRIVE_ACTION_UNSPECIFIED. This field is only set when part of a FileResult in a ListFilesResponse.",
          "type": "string",
          "enumDescriptions": [
            "No organize action should be shown.",
            "Show \"Add to Drive\" button, for adding file that doesn't exist in Drive to Drive. Note that deleted Drive files that still exist (i.e. in your Trash) will still be ORGANIZE (this is consistent with Gmail Drive attachments).",
            "Show \"Move\" button, for organizing a Drive file the user has permission to move.",
            "Show \"Add shortcut\" button, for adding a shortcut to a Drive file the user does not have permission to move.",
            "Show \"Add another shortcut\" button, for Drive files the user has already created a shortcut to."
          ]
        },
        "isOwner": {
          "description": "If the current user is the Drive file's owner. The field is currently only set for Annotations for the ListFiles action (as opposed to fetching Topics/Messages with Drive annotations).",
          "type": "boolean"
        }
      },
      "description": "Annotation metadata for Drive artifacts.",
      "id": "DriveMetadata",
      "type": "object"
    },
    "RecordingSessionInfo": {
      "type": "object",
      "description": "Information about a recording session.",
      "id": "RecordingSessionInfo",
      "properties": {
        "recordingSessionId": {
          "description": "A unique server-generated ID for the recording session.",
          "type": "string"
        },
        "ownerEmail": {
          "description": "Input only. Deprecated field, should not be used.",
          "type": "string"
        },
        "sessionStateInfo": {
          "description": "Recording session's state information.",
          "$ref": "SessionStateInfo"
        }
      }
    },
    "ReadReceiptsSettingsUpdatedMetadata": {
      "properties": {
        "readReceiptsEnabled": {
          "description": "The new read receipts state.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ReadReceiptsSettingsUpdatedMetadata"
    },
    "GoogleChatV1WidgetMarkupKeyValue": {
      "type": "object",
      "properties": {
        "topLabel": {
          "type": "string",
          "description": "The text of the top label. Formatted text supported."
        },
        "button": {
          "$ref": "GoogleChatV1WidgetMarkupButton",
          "description": "A button that can be clicked to trigger an action."
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text of the bottom label. Formatted text supported."
        },
        "contentMultiline": {
          "description": "If the content should be multiline.",
          "type": "boolean"
        },
        "onClick": {
          "$ref": "GoogleChatV1WidgetMarkupOnClick",
          "description": "The onclick action. Only the top label, bottom label and content region are clickable."
        },
        "icon": {
          "type": "string",
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image.",
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "content": {
          "type": "string",
          "description": "The text of the content. Formatted text supported and always required."
        }
      },
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.",
      "id": "GoogleChatV1WidgetMarkupKeyValue"
    },
    "Interaction": {
      "id": "Interaction",
      "type": "object",
      "description": "Represents an interaction between a user and an item.",
      "properties": {
        "principal": {
          "$ref": "Principal",
          "description": "The user that acted on the item."
        },
        "interactionTime": {
          "description": "The time when the user acted on the item. If multiple actions of the same type exist for a single user, only the most recent action is recorded.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Invalid value.",
            "This interaction indicates the user viewed the item.",
            "This interaction indicates the user edited the item."
          ],
          "enum": [
            "UNSPECIFIED",
            "VIEW",
            "EDIT"
          ],
          "type": "string"
        }
      }
    },
    "IncomingWebhookChangedMetadata": {
      "description": "Annotation metadata to display system messages for incoming webhook events. Next Tag: 7",
      "properties": {
        "oldIncomingWebhookName": {
          "type": "string",
          "description": "Only populated for UPDATED_NAME and UPDATED_NAME_AND_AVATAR events, where the webhook name was changed. Used in Spanner storage, BE API responses and FE API responses."
        },
        "type": {
          "description": "Used in Spanner storage, BE API responses and FE API responses.",
          "enum": [
            "UNSPECIFIED",
            "ADDED",
            "UPDATED",
            "REMOVED",
            "UPDATED_NAME",
            "UPDATED_AVATAR",
            "UPDATED_NAME_AND_AVATAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "TODO (b/154857280): remove UPDATED field.",
            "",
            "",
            "",
            ""
          ]
        },
        "initiatorId": {
          "$ref": "UserId",
          "description": "The user id of the user whose action triggered this system message. Used in Spanner storage, BE API responses and FE API responses."
        },
        "initiatorProfile": {
          "description": "Complete profile when ListTopicsRequest FetchOptions.USER is set. Otherwise, only the id will be filled in. Used in FE API responses.",
          "$ref": "User"
        },
        "incomingWebhookName": {
          "description": "The webhook name at the time of the change. Used in Spanner storage, BE API responses and FE API responses.",
          "type": "string"
        },
        "obfuscatedIncomingWebhookId": {
          "description": "The webhook id of the incoming webhook in question. This field should not be used to load webhook information dynamically and is only present for debugging purposes. Used in Spanner storage, BE API responses and FE API responses.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IncomingWebhookChangedMetadata"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
        },
        "month": {
          "description": "Month of date. Must be from 1 to 12.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of date. Must be from 1 to 9999."
        }
      },
      "type": "object"
    },
    "AppsDynamiteSharedTasksAnnotationDataDeletionChange": {
      "type": "object",
      "properties": {},
      "id": "AppsDynamiteSharedTasksAnnotationDataDeletionChange"
    },
    "AppsDynamiteV1ApiCompatV1Field": {
      "description": "A column of text in an attachment. Documentation: - https://api.slack.com/docs/message-attachments",
      "type": "object",
      "properties": {
        "short": {
          "description": "Whether the field can be shown side-by-side with another field.",
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "description": "The text value of the field."
        },
        "title": {
          "description": "The heading text, shown in bold.",
          "type": "string"
        }
      },
      "id": "AppsDynamiteV1ApiCompatV1Field"
    },
    "AppsExtensionsMarkupCalendarClientActionMarkupConferenceDataMarkup": {
      "type": "object",
      "id": "AppsExtensionsMarkupCalendarClientActionMarkupConferenceDataMarkup",
      "description": "Markup that defines conference data associated to a Google Calendar event.",
      "properties": {
        "error": {
          "description": "If set, it means an error occurred during conference creation.",
          "$ref": "AppsExtensionsMarkupCalendarClientActionMarkupConferenceDataMarkupError"
        },
        "conferenceSolutionId": {
          "type": "string",
          "description": "An identifier of the conferencing solution. Must match a value from the deployment's `calendar.conferenceSolution.id` field."
        },
        "note": {
          "description": "Additional notes (such as instructions from the administrator, legal notices) to display to the user. Can contain HTML. Max length 2048 characters.",
          "type": "string"
        },
        "conferenceId": {
          "type": "string",
          "description": "Unique identifier for this conference data. Maximum 512 characters long."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "AppsExtensionsMarkupCalendarClientActionMarkupConferenceDataMarkupParameter"
          },
          "description": "Additional add-on parameters. Maximum 300 parameters are allowed."
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "AppsExtensionsMarkupCalendarClientActionMarkupConferenceDataMarkupEntryPointMarkup"
          },
          "description": "Entry points to the conference. Maximum 300 entry points are allowed."
        }
      }
    },
    "ItemStatus": {
      "type": "object",
      "description": "This contains item's status and any errors.",
      "id": "ItemStatus",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "type": "string",
          "description": "Status code.",
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ]
        },
        "processingErrors": {
          "description": "Error details in case the item is in ERROR state.",
          "items": {
            "$ref": "ProcessingError"
          },
          "type": "array"
        },
        "repositoryErrors": {
          "items": {
            "$ref": "RepositoryError"
          },
          "type": "array",
          "description": "Repository error reported by connector."
        }
      }
    },
    "StructuredDataObject": {
      "description": "A structured data object consisting of named properties.",
      "type": "object",
      "id": "StructuredDataObject",
      "properties": {
        "properties": {
          "items": {
            "$ref": "NamedProperty"
          },
          "type": "array",
          "description": "The properties for the object. The maximum number of elements is 1000."
        }
      }
    },
    "PossiblyTrimmedModel": {
      "description": "This message contains either the device model, or a prefix of the device model (AKA a trimmed device model). The \"is_trimmed\" field indicates which one it is.",
      "type": "object",
      "id": "PossiblyTrimmedModel",
      "properties": {
        "isTrimmed": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        }
      }
    },
    "RestrictItem": {
      "description": "Information relevant only to a restrict entry. NextId: 12",
      "id": "RestrictItem",
      "type": "object",
      "properties": {
        "driveFollowUpRestrict": {
          "$ref": "DriveFollowUpRestrict"
        },
        "searchOperator": {
          "type": "string",
          "description": "The search restrict (e.g. \"after:2017-09-11 before:2017-09-12\")."
        },
        "driveMimeTypeRestrict": {
          "description": "Drive Types.",
          "$ref": "DriveMimeTypeRestrict"
        },
        "driveTimeSpanRestrict": {
          "$ref": "DriveTimeSpanRestrict"
        },
        "driveLocationRestrict": {
          "$ref": "DriveLocationRestrict"
        }
      }
    },
    "FreshnessOptions": {
      "properties": {
        "freshnessDuration": {
          "type": "string",
          "description": "The duration after which an object should be considered stale. The default value is 180 days (in seconds).",
          "format": "google-duration"
        },
        "freshnessProperty": {
          "type": "string",
          "description": "This property indicates the freshness level of the object in the index. If set, this property must be a top-level property within the property definitions and it must be a timestamp type or date type. Otherwise, the Indexing API uses updateTime as the freshness indicator. The maximum length is 256 characters. When a property is used to calculate freshness, the value defaults to 2 years from the current time."
        }
      },
      "id": "FreshnessOptions",
      "type": "object",
      "description": "Indicates which freshness property to use when adjusting search ranking for an item. Fresher, more recent dates indicate higher quality. Use the freshness option property that best works with your data. For fileshare documents, last modified time is most relevant. For calendar event data, the time when the event occurs is a more relevant freshness indicator. In this way, calendar events that occur closer to the time of the search query are considered higher quality and ranked accordingly."
    },
    "FilterOptions": {
      "id": "FilterOptions",
      "type": "object",
      "properties": {
        "objectType": {
          "description": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters.",
          "type": "string"
        },
        "filter": {
          "$ref": "Filter",
          "description": "Generic filter to restrict the search, such as `lang:en`, `site:xyz`."
        }
      },
      "description": "Filter options to be applied on query."
    },
    "ChatConserverDynamitePlaceholderMetadataTasksMetadata": {
      "properties": {},
      "id": "ChatConserverDynamitePlaceholderMetadataTasksMetadata",
      "description": "A Tasks message in Dynamite.",
      "type": "object"
    },
    "Name": {
      "id": "Name",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The read-only display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string"
        }
      },
      "description": "A person's name."
    },
    "ScoringConfig": {
      "type": "object",
      "description": "Scoring configurations for a source while processing a Search or Suggest request.",
      "properties": {
        "disablePersonalization": {
          "description": "Whether to personalize the results. By default, personal signals will be used to boost results.",
          "type": "boolean"
        },
        "disableFreshness": {
          "description": "Whether to use freshness as a ranking signal. By default, freshness is used as a ranking signal. Note that this setting is not available in the Admin UI.",
          "type": "boolean"
        }
      },
      "id": "ScoringConfig"
    },
    "YoutubeMetadata": {
      "type": "object",
      "description": "Annotation metadata for YouTube artifact.",
      "id": "YoutubeMetadata",
      "properties": {
        "startTime": {
          "format": "int32",
          "description": "YouTube query parameter for timestamp. YouTube specific flag that allows users to embed time token when sharing a link. This property contains parsed time token in seconds.",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "YouTube resource ID of the artifact."
        },
        "shouldNotRender": {
          "description": "If this field is set to true, server should still contact external backends to get metadata for search but clients should not render this chip.",
          "type": "boolean"
        }
      }
    },
    "ItemThread": {
      "properties": {
        "topicState": {
          "description": "Next available id : 10",
          "$ref": "TopicState"
        },
        "threadLocator": {
          "description": "A base64 encoded and encrypted string generated from the Gaia Id and the thread id. Used to generate the permalink for this thread, exposed from Gmail API.",
          "type": "string"
        },
        "lastItemId": {
          "type": "string",
          "description": "The server id of the last item returned in the ItemThread. This can be deduced from the [item] list but is provided for convenience. When manually constructing an ItemThreadViewSpec to perform operations on the ItemThread, this value can be used as the [high_item_id_watermark].",
          "format": "uint64"
        },
        "threadKey": {
          "$ref": "MultiKey",
          "description": "The MultiKey that identifies this thread. This value never changes, i.e. remains constant across modifications to the thread, including addition, relabeling, or deletion of contained Items. As such, the thread key may not necessarily correspond to the key of an contained Item. Legacy note: The \"server_id\" of the thread key is equivalent to the notion of the \"original thread id\" in the CSS API."
        },
        "item": {
          "type": "array",
          "description": "The Items in the ItemThread. In the context of a search, the list of Items may be a subset of those that logically belong to the ItemThread. The details of which items are included are available in the ItemThreadView returned in the overall rpc response.",
          "items": {
            "$ref": "FuseboxItem"
          }
        },
        "clusterInfo": {
          "$ref": "ClusterInfo"
        },
        "matchInfo": {
          "$ref": "FuseboxItemThreadMatchInfo"
        },
        "snippet": {
          "description": "A snippet summarizing the thread. This field is only populated for searches.",
          "type": "string"
        },
        "version": {
          "description": "The latest history operation id that resulted in a mutation of any item in the thread.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "An ItemThread is an ordered list of Items. An ItemThread corresponds to a \"conversation\" in the context of mail. An Item belongs to exactly one ItemThread.",
      "id": "ItemThread",
      "type": "object"
    },
    "SafeUrlProto": {
      "properties": {
        "privateDoNotAccessOrElseSafeUrlWrappedValue": {
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SafeUrlProto",
      "description": "Message containing a string that is safe to use in URL contexts in DOM APIs and HTML documents, where the URL context does not refer to a resource that loads code."
    },
    "SearchResult": {
      "description": "Results containing indexed information for a document.",
      "type": "object",
      "id": "SearchResult",
      "properties": {
        "metadata": {
          "description": "Metadata of the search result.",
          "$ref": "Metadata"
        },
        "debugInfo": {
          "$ref": "ResultDebugInfo",
          "description": "Debugging information about this search result."
        },
        "title": {
          "type": "string",
          "description": "Title of the search result."
        },
        "url": {
          "type": "string",
          "description": "The URL of the search result. The URL contains a Google redirect to the actual item. This URL is signed and shouldn't be changed."
        },
        "snippet": {
          "description": "The concatenation of all snippets (summaries) available for this result.",
          "$ref": "Snippet"
        },
        "clusteredResults": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "If source is clustered, provide list of clustered results. There will only be one level of clustered results. If current source is not enabled for clustering, this field will be empty."
        }
      }
    },
    "OtrModificationEvent": {
      "properties": {
        "oldOtrToggle": {
          "type": "string",
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The conversation can be toggled",
            "The conversation cannot be toggled"
          ]
        },
        "newOtrStatus": {
          "enumDescriptions": [
            "The conversation is completely off the record.",
            "The conversation is completely on the record."
          ],
          "enum": [
            "OFF_THE_RECORD",
            "ON_THE_RECORD"
          ],
          "type": "string"
        },
        "newOtrToggle": {
          "enumDescriptions": [
            "The conversation can be toggled",
            "The conversation cannot be toggled"
          ],
          "type": "string",
          "enum": [
            "ENABLED",
            "DISABLED"
          ]
        },
        "oldOtrStatus": {
          "enum": [
            "OFF_THE_RECORD",
            "ON_THE_RECORD"
          ],
          "type": "string",
          "enumDescriptions": [
            "The conversation is completely off the record.",
            "The conversation is completely on the record."
          ]
        }
      },
      "type": "object",
      "id": "OtrModificationEvent"
    },
    "AppsDynamiteV1ApiCompatV1Attachment": {
      "type": "object",
      "properties": {
        "attachment_type": {
          "type": "string",
          "description": "Undocumented - used in interactive button examples. The only valid value appears to be \"default\"."
        },
        "text": {
          "type": "string",
          "description": "Main text."
        },
        "author_name": {
          "type": "string",
          "description": "User name to display as the author of the message."
        },
        "title_link": {
          "type": "string",
          "description": "URL that the title string should link to."
        },
        "fallback": {
          "type": "string",
          "description": "Fallback plain-text string for clients that don't support attachments."
        },
        "footer_icon": {
          "type": "string",
          "description": "Avatar URL displayed to the left of the footer."
        },
        "image_url": {
          "description": "URL of an image to display in an image chip.",
          "type": "string"
        },
        "actions": {
          "items": {
            "$ref": "AppsDynamiteV1ApiCompatV1Action"
          },
          "description": "Array of actions (currently only buttons).",
          "type": "array"
        },
        "color": {
          "description": "A color \"bar\" to display to the left of the attachment.",
          "type": "string"
        },
        "author_link": {
          "type": "string",
          "description": "URL that the user name should link to."
        },
        "callback_id": {
          "description": "Unique identifier for the collection of buttons within this attachment. Will be sent back to the action handler URL when a button is clicked.",
          "type": "string"
        },
        "author_icon": {
          "description": "Avatar URL for the user.",
          "type": "string"
        },
        "footer": {
          "description": "A string displayed at the bottom of the attachment.",
          "type": "string"
        },
        "ts": {
          "description": "UNIX timestamp of the attachment.",
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "description": "Title string of this attachment.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "AppsDynamiteV1ApiCompatV1Field"
          },
          "description": "Columns of text inside the attachment body."
        },
        "pretext": {
          "type": "string",
          "description": "A string to show above the attachment."
        },
        "mrkdwn_in": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of fields to apply formatting to."
        },
        "thumb_url": {
          "type": "string",
          "description": "URL of a thumbnail image to display to the right of the attachment body."
        }
      },
      "id": "AppsDynamiteV1ApiCompatV1Attachment",
      "description": "Richly formatted attachments. Documentation: - https://api.slack.com/docs/message-attachments"
    },
    "UserId": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Clients do not need to send UserType to Backend, but Backend will always send this field to clients per the following rule: 1. For HUMAN Ids, the field is empty but by default .getType() will return HUMAN. 2. For BOT Ids, the field is ALWAYS set to BOT.",
          "enumDescriptions": [
            "Notes on HUMAN type: 1) Leaving UserId.UserType field empty will return HUMAN as default value. This is expected because all the existing UserIds are without explicitly setting UserType, most of which are HUMAN Ids. For Bot Ids we will always set BOT in UserType field. 2) DO NOT explicitly set HUMAN as type. This is a proto2 issue, that a UserId with explicitly set default value HUMAN as type is NOT equal to an id without setting the field. aka. UserId id1 = UserId.newBuilder() .setId(\"dummy\").setType(UserType.HUMAN).build(); UserId id2 = UserId.newBuilder().setId(\"dummy\").build(); AssertThat(id1).isNotEqual(id2); AssertThat(id2.getType()).isEqualTo(UserType.HUMAN);",
            ""
          ],
          "enum": [
            "HUMAN",
            "BOT"
          ]
        },
        "id": {
          "description": "Opaque, server-assigned ID of the User.",
          "type": "string"
        },
        "actingUserId": {
          "type": "string",
          "description": "Optional. Opaque, server-assigned ID of the user profile associated with App/user acting on behalf of the human user. This is currently only set when a 3P application is acting on the user's behalf."
        },
        "originAppId": {
          "$ref": "AppId",
          "description": "Optional. Identifier of the App involved (directly or on behalf of a human creator) in creating this message. This is not set if the user posted a message directly, but is used in the case of, for example, a message being generated by a 1P integration based on a user action (creating an event, creating a task etc). This should only be used on the BE. For clients, please use the field in the FE message proto instead (google3/apps/dynamite/v1/frontend/api/message.proto?q=origin_app_id)."
        }
      },
      "type": "object",
      "description": "Primary key for User resource.",
      "id": "UserId"
    },
    "ResetSearchApplicationRequest": {
      "id": "ResetSearchApplicationRequest",
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      }
    },
    "RetrievalImportance": {
      "type": "object",
      "id": "RetrievalImportance",
      "properties": {
        "importance": {
          "description": "Indicates the ranking importance given to property when it is matched during retrieval. Once set, the token importance of a property cannot be changed.",
          "enum": [
            "DEFAULT",
            "HIGHEST",
            "HIGH",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Treat the match like a body text match.",
            "Treat the match like a match against title of the item.",
            "Treat the match with higher importance than body text.",
            "Treat the match with lower importance than body text.",
            "Do not match against this field during retrieval. The property can still be used for operator matching, faceting, and suggest if desired."
          ]
        }
      }
    },
    "PrincipalProto": {
      "id": "PrincipalProto",
      "description": "A Principal represents something to which permissions are assigned, often but not always a user or group of some kind. It is most appropriate for use in ACLs and authorization checks. Callers should prefer to use the wrapper classes in google3/security/credentials/public/principal.h google3/java/com/google/security/credentials/Principal.java google3/security/credentials/go/principal.go unless direct proto access is essential. If you update this protocol buffer, please update the wrapper classes as well. LINT.IfChange",
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "scope = CONTACT_GROUP",
          "$ref": "ContactGroupProto"
        },
        "rbacSubject": {
          "$ref": "RbacSubjectProto",
          "description": "scope = RBAC_SUBJECT"
        },
        "host": {
          "$ref": "HostProto",
          "description": "scope = HOST"
        },
        "scope": {
          "description": "This is only optional because required enums cannot be extended. Currently required.",
          "type": "string",
          "enum": [
            "INVALID",
            "GAIA_USER",
            "GAIA_GROUP",
            "LDAP_USER",
            "LDAP_GROUP",
            "MDB_USER",
            "MDB_GROUP",
            "POSTINI_USER",
            "CONTACT_GROUP",
            "SIMPLE_SECRET_HOLDER",
            "SIGNING_KEY_POSSESSOR",
            "ALL_AUTHENTICATED_USERS",
            "OAUTH_CONSUMER",
            "HOST",
            "SOCIAL_GRAPH_NODE",
            "EMAIL_OWNER",
            "CAP_TOKEN_HOLDER",
            "CIRCLE",
            "SQUARE",
            "EVENT",
            "RESOURCE_ROLE",
            "CHAT",
            "YOUTUBE_USER",
            "UNUSED_ZWIEBACK_SESSION",
            "ZWIEBACK_SESSION",
            "RBAC_ROLE",
            "RBAC_SUBJECT",
            "CLOUD_PRINCIPAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next tag: 29"
          ]
        },
        "youtubeUser": {
          "description": "scope = YOUTUBE_USER",
          "$ref": "YoutubeUserProto"
        },
        "signingKeyPossessor": {
          "$ref": "SigningKeyPossessorProto",
          "description": "scope = SIGNING_KEY_POSSESSOR"
        },
        "mdbUser": {
          "$ref": "MdbUserProto",
          "description": "scope = MDB_USER"
        },
        "allAuthenticatedUsers": {
          "description": "scope = ALL_AUTHENTICATED_USERS",
          "$ref": "AllAuthenticatedUsersProto"
        },
        "chat": {
          "description": "scope = CHAT",
          "$ref": "ChatProto"
        },
        "simpleSecretHolder": {
          "$ref": "SimpleSecretHolderProto",
          "description": "scope = SIMPLE_SECRET_HOLDER"
        },
        "rbacRole": {
          "description": "scope = RBAC_ROLE",
          "$ref": "RbacRoleProto"
        },
        "ldapGroup": {
          "$ref": "LdapGroupProto",
          "description": "scope = LDAP_GROUP"
        },
        "square": {
          "description": "scope = SQUARE",
          "$ref": "SquareProto"
        },
        "ldapUser": {
          "$ref": "LdapUserProto",
          "description": "scope = LDAP_USER"
        },
        "zwiebackSession": {
          "description": "scope = ZWIEBACK_SESSION",
          "$ref": "ZwiebackSessionProto"
        },
        "emailOwner": {
          "$ref": "EmailOwnerProto",
          "description": "scope = EMAIL_OWNER"
        },
        "mdbGroup": {
          "$ref": "MdbGroupProto",
          "description": "scope = MDB_GROUP"
        },
        "socialGraphNode": {
          "$ref": "SocialGraphNodeProto",
          "description": "scope = SOCIAL_GRAPH_NODE"
        },
        "event": {
          "description": "scope = EVENT",
          "$ref": "EventProto"
        },
        "oauthConsumer": {
          "$ref": "OAuthConsumerProto",
          "description": "scope = OAUTH_CONSUMER;"
        },
        "circle": {
          "description": "scope = CIRCLE",
          "$ref": "CircleProto"
        },
        "gaiaUser": {
          "description": "scope = GAIA_USER",
          "$ref": "GaiaUserProto"
        },
        "resourceRole": {
          "description": "scope = RESOURCE_ROLE",
          "$ref": "ResourceRoleProto"
        },
        "capTokenHolder": {
          "$ref": "CapTokenHolderProto",
          "description": "scope = CAP_TOKEN_HOLDER"
        },
        "gaiaGroup": {
          "$ref": "GaiaGroupProto",
          "description": "scope = GAIA_GROUP"
        },
        "cloudPrincipal": {
          "description": "scope = CLOUD_PRINCIPAL",
          "$ref": "CloudPrincipalProto"
        },
        "postiniUser": {
          "$ref": "PostiniUserProto",
          "description": "scope = POSTINI_USER"
        }
      }
    },
    "GetSearchApplicationSessionStatsResponse": {
      "id": "GetSearchApplicationSessionStatsResponse",
      "type": "object",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "SearchApplicationSessionStats"
          }
        }
      }
    },
    "SwitchWidget": {
      "type": "object",
      "properties": {
        "onChange": {
          "$ref": "FormAction"
        },
        "name": {
          "description": "The name of the switch widget which is will be used in FormInput.",
          "type": "string"
        },
        "controlType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "SWITCH",
            "CHECKBOX"
          ]
        },
        "value": {
          "type": "string",
          "description": "The value is what is passed back in apps script callback."
        },
        "selected": {
          "type": "boolean"
        }
      },
      "id": "SwitchWidget"
    },
    "StreamViewerStats": {
      "id": "StreamViewerStats",
      "type": "object",
      "description": "Information about viewers of the stream.",
      "properties": {
        "estimatedViewerCount": {
          "type": "string",
          "format": "int64",
          "description": "The estimate of the current viewer count."
        }
      }
    },
    "Attachment": {
      "type": "object",
      "description": "Attachments that follow the message text.",
      "properties": {
        "slackDataImageUrlHeight": {
          "description": "The height of image url as fetched by fife. This field is asynchronously filled.",
          "format": "int32",
          "type": "integer"
        },
        "deprecatedAddOnData": {
          "$ref": "ContextualAddOnMarkup",
          "description": "Deprecated version of Gmail AddOn attachment."
        },
        "cardAddOnData": {
          "description": "Card AddOn attachment with the possibility for specifying editable widgets.",
          "$ref": "AppsDynamiteStorageCard"
        },
        "attachmentId": {
          "type": "string",
          "description": "To identify an attachment within repeated in a message"
        },
        "addOnData": {
          "description": "Revised version of Gmail AddOn attachment approved by API design review.",
          "$ref": "GoogleChatV1ContextualAddOnMarkup"
        },
        "slackData": {
          "$ref": "AppsDynamiteV1ApiCompatV1Attachment",
          "description": "Slack attachment."
        },
        "appId": {
          "$ref": "UserId",
          "description": "The userId for the bot/app that created this data, to be used for attribution of attachments when the attachment was not created by the message sender."
        }
      },
      "id": "Attachment"
    },
    "ChatConserverDynamitePlaceholderMetadataDeleteMetadata": {
      "description": "A message was deleted in Dynamite.",
      "properties": {},
      "type": "object",
      "id": "ChatConserverDynamitePlaceholderMetadataDeleteMetadata"
    },
    "Grid": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The text to display in the grid header."
        },
        "borderStyle": {
          "description": "The border style to apply to each grid item.",
          "$ref": "BorderStyle"
        },
        "onClick": {
          "description": "This callback will be reused by each individual GridItem, but with the item's identifier and index in the items list added to the callback's parameters.",
          "$ref": "OnClick"
        },
        "numColumns": {
          "type": "integer",
          "format": "int32",
          "description": "The number of columns to display in the grid. Note that a default value will be used if this field is not specified, and that default value will be different depending on where the grid is shown (dialog vs companion)."
        },
        "items": {
          "type": "array",
          "description": "The items to display in the grid.",
          "items": {
            "$ref": "GridItem"
          }
        }
      },
      "type": "object",
      "id": "Grid"
    },
    "AppsDynamiteStorageImageCropStyle": {
      "type": "object",
      "properties": {
        "aspectRatio": {
          "description": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`.",
          "type": "number",
          "format": "double"
        },
        "type": {
          "enumDescriptions": [
            "No value specified.",
            "Applies a square crop.",
            "Applies a circular crop.",
            "Applies a rectangular crop with a custom aspect ratio.",
            "Applies a rectangular crop with a 4:3 aspect ratio."
          ],
          "enum": [
            "IMAGE_CROP_TYPE_UNSPECIFIED",
            "SQUARE",
            "CIRCLE",
            "RECTANGLE_CUSTOM",
            "RECTANGLE_4_3"
          ],
          "description": "The crop type.",
          "type": "string"
        }
      },
      "description": "Represents the crop style applied to an image.",
      "id": "AppsDynamiteStorageImageCropStyle"
    },
    "History": {
      "properties": {
        "record": {
          "type": "array",
          "items": {
            "$ref": "HistoryRecord"
          }
        }
      },
      "id": "History",
      "description": "The most recent history records associated with the item.",
      "type": "object"
    },
    "Reference": {
      "id": "Reference",
      "description": "All fields in this proto are now columns in spanner see google3/storage/slice/production/gmail/user_data_tables.pi for documentation.",
      "properties": {
        "hash": {
          "type": "string"
        },
        "key": {
          "description": "LINT.IfChange",
          "type": "string"
        },
        "contentType": {
          "type": "string"
        },
        "blobId": {
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "LINT.ThenChange(//depot/google3/storage/slice/production/gmail/ user_data_tables.pi)"
        }
      },
      "type": "object"
    },
    "AppsDynamiteStorageOpenLinkAppUri": {
      "description": "Represents the platform specific uri/intent to open for each client.",
      "type": "object",
      "properties": {
        "androidIntent": {
          "$ref": "AppsDynamiteStorageOpenLinkAppUriIntent",
          "description": "An intent object to be opened in the corresponding android hosting app."
        },
        "companionUri": {
          "description": "A companion uri string to be opened in the chat companion window. on the web.",
          "type": "string"
        },
        "iosUri": {
          "description": "A uri string to be opened in the corresponding iOS hosting app.",
          "type": "string"
        }
      },
      "id": "AppsDynamiteStorageOpenLinkAppUri"
    },
    "Folder": {
      "id": "Folder",
      "type": "object",
      "properties": {
        "message": {
          "type": "array",
          "description": "One for each copy of the message in the IMAP folder.",
          "items": {
            "$ref": "ImapsyncFolderAttributeFolderMessage"
          }
        },
        "id": {
          "format": "uint64",
          "description": "Folder mapping id.",
          "type": "string"
        }
      }
    },
    "CalendarClientActionMarkup": {
      "id": "CalendarClientActionMarkup",
      "properties": {
        "addAttachmentsActionMarkup": {
          "description": "An action that adds attachments to the Google Calendar event.",
          "$ref": "AppsExtensionsMarkupCalendarClientActionMarkupAddAttachmentsActionMarkup"
        },
        "editAttendeesActionMarkup": {
          "description": "An action that adds attendees to the Google Calendar event.",
          "$ref": "AppsExtensionsMarkupCalendarClientActionMarkupEditAttendeesActionMarkup"
        },
        "editConferenceDataActionMarkup": {
          "description": "An action that adds conference data to the Google Calendar event.",
          "$ref": "AppsExtensionsMarkupCalendarClientActionMarkupEditConferenceDataActionMarkup"
        }
      },
      "type": "object"
    },
    "SheetsClientActionMarkup": {
      "type": "object",
      "id": "SheetsClientActionMarkup",
      "properties": {
        "customFunctionReturnValueMarkup": {
          "$ref": "CustomFunctionReturnValueMarkup"
        }
      }
    },
    "AppsDynamiteStorageGrid": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The items to display in the grid.",
          "type": "array",
          "items": {
            "$ref": "AppsDynamiteStorageGridGridItem"
          }
        },
        "columnCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of columns to display in the grid. A default value is used if this field isn't specified, and that default value is different depending on where the grid is shown (dialog versus companion)."
        },
        "borderStyle": {
          "$ref": "AppsDynamiteStorageBorderStyle",
          "description": "The border style to apply to each grid item."
        },
        "onClick": {
          "description": "This callback is reused by each individual grid item, but with the item's identifier and index in the items list added to the callback's parameters.",
          "$ref": "AppsDynamiteStorageOnClick"
        },
        "title": {
          "description": "The text that displays in the grid header.",
          "type": "string"
        }
      },
      "description": "Represents a Grid widget that displays items in a configurable grid layout.",
      "id": "AppsDynamiteStorageGrid"
    },
    "ChatProto": {
      "id": "ChatProto",
      "type": "object",
      "properties": {
        "memberType": {
          "description": "The type of Chat members to consider, e.g. \"all members\" vs. \"invitee\" These are defined by legacy_relation_id values in social.graph.storage.EdgeTypeEnum.EdgeType enum options in social/graph/storage/proto/id.proto. See chat.pb (defined in production/config/cdd/socialgraph/mixer_config/prod/node_type_config) for all valid edge types associated with chat. Currently required.",
          "type": "integer",
          "format": "int32"
        },
        "chatId": {
          "type": "string",
          "description": "Chat IDs consist of alphanumeric characters and colons. Currently required."
        }
      },
      "description": "Represents the invitees or other users associated with a Babel Chat (see http://goto/babel). Corresponds to GroupType CHAT in //social/graph/storage/proto/data.proto."
    },
    "GoogleChatV1ContextualAddOnMarkup": {
      "description": "The markup for developers to specify the contents of a contextual AddOn.",
      "id": "GoogleChatV1ContextualAddOnMarkup",
      "type": "object",
      "properties": {
        "cards": {
          "items": {
            "$ref": "GoogleChatV1ContextualAddOnMarkupCard"
          },
          "type": "array",
          "description": "A list of cards. A card must contain a header and at least 1 section."
        }
      }
    },
    "FilterUpdate": {
      "description": "HistoryRecord for changes associated with a filter, namely: FILTER_CREATED FILTER_DELETED",
      "type": "object",
      "properties": {
        "filterDeleted": {
          "$ref": "FilterDeleted"
        },
        "filterId": {
          "type": "string"
        },
        "filterCreated": {
          "$ref": "FilterCreated"
        }
      },
      "id": "FilterUpdate"
    },
    "DateOperatorOptions": {
      "id": "DateOperatorOptions",
      "type": "object",
      "description": "Optional. Provides a search operator for date properties. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the actual string required in the query in order to isolate the date property. For example, suppose an issue tracking schema object has a property named *closeDate* that specifies an operator with an operatorName of *closedon*. For searches on that data, queries like *closedon:\u003cvalue\u003e* show results only where the value of the *closeDate* property matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the indexed datasource. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the date property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is earlier than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is later than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      }
    },
    "SimpleSecretLabelProto": {
      "properties": {
        "genericLabel": {
          "description": "Used when type = GENERIC_SECRET",
          "format": "byte",
          "type": "string"
        },
        "inviteId": {
          "type": "string",
          "description": "Used when type == INVITE.",
          "format": "int64"
        },
        "type": {
          "enum": [
            "INVALID",
            "AUTH_KEY",
            "INVITE",
            "GENERIC_SECRET",
            "CAP_TOKEN",
            "REKE"
          ],
          "type": "string",
          "description": "This is optional because required enums cannot be extended.",
          "enumDescriptions": [
            "Used as a default value.",
            "The singleton auth key for a common-sharing ACL. No other fields of SimpleSecretLabelProto need to be filled in, since there is only one of these per ACL. The corresponding secret is the auth key encoded in 64-bit big-endian.",
            "A common-sharing invite token. |invite_id| (below) must be set to identify the invite. The corresponding secret is the SecretMaterial, as defined by InviteToken.SecretMaterial in acl.proto, encoded in 64-bit big-endian. If there is no SecretMaterial, the secret should be omitted; in this case the invite ID itself is the secret, which is less secure.",
            "A generic secret value. Do not use this if any more specific type is appropriate.",
            "***DEPRECATED (3-Oct-2011)*** Use the new CapTokenProto and CapTokenHolderProto instead. A capability token. The corresponding secret is an arbitrary-length random byte string (recommended: 128 bits). |capability_id| may be filled in (see below). See CapTokenMetadata in acl.proto.",
            "Identifies a principal that can perform a successful REKE handshake. The holder is not authenticated by presenting a SimpleSecretProto, but rather by knowing either the REKE resumption ticket secret or the private key corresponding to a public key specified outside the PrincipalProto. For more information, see: http://goto.google.com/loas2cert"
          ]
        },
        "capabilityId": {
          "format": "int32",
          "description": "***DEPRECATED (3-Oct-2011) *** This field should be deleted when code stops using CAP_TOKEN labels. Used when type = CAP_TOKEN. When a CAP_TOKEN label appears in a SimpleSecretHolder Principal, |capability_id| must be filled in to identify one of the capabilities on the ACL. When a CAP_TOKEN label appears in a SimpleSecret Authenticator, it is NOT necessary to fill in |capability_id| -- ACL Service will find the ID by searching all capabilities on the ACL for one associated with the token given by the SimpleSecret's secret data. If |capability_id| is specified, though, then the Authenticator will only be accepted if it actually matches that particular token ID.",
          "type": "integer"
        }
      },
      "id": "SimpleSecretLabelProto",
      "description": "SimpleSecretProto (in authenticator.proto) and SimpleSecretHolderProto (below) share the notion of a \"label\", which identifies a particular secret without (hopefully) revealing the secret. Note that a SimpleSecretLabel only disambiguates between secrets used to get access to some particular object. Two different secrets that apply to two different objects could have the same label. For example, in the common sharing model, each object has no more than one \"auth key\". Therefore, the label for an auth key simply has type = AUTH_KEY with no additional information. In theory, we could add some sort of resource ID to SimpleSecretLabel to make it more explicit. However, in practice, this is never really needed. A SimpleSecret for one object is never used to authorize a request on some other object, so there is no ambiguity. Also, since SimpleSecrets must obviously be unguessable, there is no risk that a SimpleSecret intended for one object will accidentally grant access to another.",
      "type": "object"
    },
    "Card": {
      "type": "object",
      "properties": {
        "fixedFooter": {
          "$ref": "FixedFooter"
        },
        "sections": {
          "type": "array",
          "items": {
            "$ref": "Section"
          }
        },
        "header": {
          "$ref": "CardHeader"
        },
        "peekCardHeader": {
          "description": "When displaying contextual content, the peek card header acts as a placeholder so that the user can navigate forward between the homepage cards and the contextual cards.",
          "$ref": "CardHeader"
        },
        "name": {
          "description": "Name of the card used in CardNavigation.pop_to_card_name.",
          "type": "string"
        },
        "cardActions": {
          "type": "array",
          "items": {
            "$ref": "CardAction"
          }
        },
        "displayStyle": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DISPLAY_STYLE_UNSPECIFIED",
            "PEEK",
            "REPLACE"
          ],
          "type": "string"
        }
      },
      "id": "Card"
    },
    "SuggestRequest": {
      "id": "SuggestRequest",
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        },
        "dataSourceRestrictions": {
          "description": "The sources to use for suggestions. If not specified, the data sources are taken from the current search application. NOTE: Suggestions are only supported for the following sources: * Third-party data sources * PredefinedSource.PERSON * PredefinedSource.GOOGLE_DRIVE",
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "type": "array"
        },
        "query": {
          "description": "Partial query for which autocomplete suggestions will be shown. For example, if the query is \"sea\", then the server might return \"season\", \"search\", \"seagull\" and so on.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request of suggest API."
    },
    "PeopleSuggestion": {
      "description": "This field contains information about the person being suggested.",
      "id": "PeopleSuggestion",
      "properties": {
        "person": {
          "description": "Suggested person. All fields of the person object might not be populated.",
          "$ref": "Person"
        }
      },
      "type": "object"
    },
    "AppsDynamiteStorageButtonList": {
      "description": "A list of buttons layed out horizontally.",
      "id": "AppsDynamiteStorageButtonList",
      "properties": {
        "buttons": {
          "items": {
            "$ref": "AppsDynamiteStorageButton"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TopicId": {
      "properties": {
        "topicId": {
          "type": "string",
          "description": "Opaque, server-assigned ID of the Topic. While this ID is guaranteed to be unique within the Space, it's not guaranteed to be globally unique. Internal usage: this field can be empty in the following cases: 1. To create the first message in a topic. 2. To list last N messages of a Space (regardless of topic)."
        },
        "groupId": {
          "description": "The Space or DM that the topic belongs to.",
          "$ref": "GroupId"
        }
      },
      "id": "TopicId",
      "type": "object"
    },
    "AppsDynamiteSharedAvatarInfo": {
      "type": "object",
      "properties": {
        "emoji": {
          "$ref": "AppsDynamiteSharedEmoji"
        }
      },
      "id": "AppsDynamiteSharedAvatarInfo"
    },
    "SuggestResult": {
      "type": "object",
      "properties": {
        "querySuggestion": {
          "$ref": "QuerySuggestion",
          "description": "This field will be present if the suggested query is a word/phrase completion."
        },
        "suggestedQuery": {
          "type": "string",
          "description": "The suggested query that will be used for search, when the user clicks on the suggestion"
        },
        "peopleSuggestion": {
          "description": "This is present when the suggestion indicates a person. It contains more information about the person - like their email ID, name etc.",
          "$ref": "PeopleSuggestion"
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the suggestion."
        }
      },
      "id": "SuggestResult",
      "description": "One suggestion result."
    },
    "DriveMimeTypeRestrict": {
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\").",
      "type": "object",
      "id": "DriveMimeTypeRestrict",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ]
        }
      }
    },
    "AppId": {
      "properties": {
        "appType": {
          "enumDescriptions": [
            "",
            "3P APP eg. external Bots(Asana Bot), 1P Bots(Drive Bot).",
            "1P APP eg. Tasks, Meet, Docs, Calendar..",
            "Asynchronous messages via an incoming webhook."
          ],
          "description": "Enum indicating the type of App this is.",
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP",
            "GSUITE_APP",
            "INCOMING_WEBHOOK"
          ]
        },
        "gsuiteAppType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Powered by Bullseye",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum indicating which 1P App this is when app_type is GSUITE_APP. Determined & set by the 1P API as a convenience for all users of this identifier(Eg. clients, chime, backend etc.) to map to 1P properties.",
          "enum": [
            "GSUITE_APP_TYPE_UNSPECIFIED",
            "TASKS_APP",
            "CALENDAR_APP",
            "DOCS_APP",
            "SHEETS_APP",
            "SLIDES_APP",
            "MEET_APP",
            "ASSISTIVE_SUGGESTION_APP",
            "CONTACTS_APP",
            "ACTIVITY_FEED_APP",
            "DRIVE_APP",
            "CHAT_IN_MEET_APP"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Numeric identifier of the App. Set to Project number for 1/3P Apps. For Webhook, this is WebhookId. Determined & set by the 1P API from App credentials on the side channel.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Identifier of an App.",
      "id": "AppId"
    },
    "GoogleChatV1WidgetMarkupOnClick": {
      "type": "object",
      "description": "An onclick action (e.g. open a link).",
      "id": "GoogleChatV1WidgetMarkupOnClick",
      "properties": {
        "action": {
          "$ref": "GoogleChatV1WidgetMarkupFormAction",
          "description": "A form action will be triggered by this onclick if specified."
        },
        "openLink": {
          "$ref": "GoogleChatV1WidgetMarkupOpenLink",
          "description": "This onclick triggers an open link action if specified."
        }
      }
    },
    "Provenance": {
      "type": "object",
      "properties": {
        "retrievedUrl": {
          "type": "string",
          "description": "The final URL that was the actual source of the itemscope, after any redirects."
        },
        "retrievedTimestampMsec": {
          "format": "uint64",
          "description": "The server retrieved timestamp (in msec).",
          "type": "string"
        },
        "annotationBlob": {
          "description": "Annotation blob from Annotation Service.",
          "type": "string",
          "format": "byte"
        },
        "inputUrl": {
          "description": "The url originally passed in the PRS request, which should be used to re-discover the content. Note that this URL may be a forwarding service or link shortener (bit.ly), so it should not be assumed to be canonical, but should be used for navigation back to the original source of the itemscope.",
          "type": "string"
        },
        "itemtype": {
          "type": "array",
          "description": "Contains exact types as parsed, whether or not we recognized that type at parse time. If an itemscope is created by merging SchemaOrg markup and open graph markup then the first itemtype would be schemaorg type, the second would be open graph and so on. example: http://schema.org/VideoObject, og:video.movie Plain text; usually a URL",
          "items": {
            "type": "string"
          }
        },
        "canonicalUrl": {
          "type": "string",
          "description": "Canonical url of the retrieved_url, if one was resolved during retrieval, for example, if a rel=\"canonical\" link tag was provided in the retrieved web page."
        }
      },
      "id": "Provenance",
      "description": "This field records where the ItemScope was retrieved, if it was created via a web fetch."
    },
    "ChatConserverDynamitePlaceholderMetadataEditMetadata": {
      "description": "An edit was made in Dynamite.",
      "properties": {},
      "type": "object",
      "id": "ChatConserverDynamitePlaceholderMetadataEditMetadata"
    },
    "FixedFooter": {
      "description": "A persistent (sticky) footer that is added to the bottom of the card.",
      "type": "object",
      "properties": {
        "secondaryButton": {
          "$ref": "TextButton"
        },
        "primaryButton": {
          "$ref": "TextButton"
        },
        "buttons": {
          "items": {
            "$ref": "Button"
          },
          "type": "array"
        }
      },
      "id": "FixedFooter"
    },
    "GoogleChatV1WidgetMarkupTextParagraph": {
      "description": "A paragraph of text. Formatted text supported.",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleChatV1WidgetMarkupTextParagraph",
      "type": "object"
    },
    "RecordingInfo": {
      "description": "This message is deprecated, please use RecordingSessionInfo instead. Information about recording in the current conference.",
      "id": "RecordingInfo",
      "type": "object",
      "properties": {
        "recordingStatus": {
          "type": "string",
          "enumDescriptions": [
            "This value is never used.",
            "The conference is not being recorded. This can mean either that no recording has been started, or that a previous recording has stopped.",
            "Recording is about to begin. The status will be updated to RECORDING_STARTED when the recording actually starts, which happens when all the backend plumbing is set up.",
            "The recording is started. Any media sent to the conference may be included in the resulting recording."
          ],
          "enum": [
            "RECORDING_UNSPECIFIED",
            "RECORDING_INACTIVE",
            "RECORDING_STARTING",
            "RECORDING_STARTED"
          ],
          "description": "The current status of the recording. This can be used by clients to show a recording dot or similar to indicated to the user that a recording is taking place."
        },
        "producerDeviceId": {
          "description": "The device resource name of the producer device for the currently active recording. Note that, after the producer drops/leaves the conference, this field will be cleaned up by the server after a delay.",
          "type": "string"
        },
        "recordingId": {
          "description": "An identifier for the current recording, if any. This is returned whenever recording_status is either `RECORDING_STARTING` or `RECORDING_STARTED`.",
          "type": "string"
        },
        "latestRecordingEvent": {
          "$ref": "RecordingEvent",
          "description": "The latest recording event. This can be used by clients to help explain what is going on, why recording stopped, etc. This will always be set if there is or was an active recording, which means there can be latest event when recording is INACTIVE."
        },
        "ownerDisplayName": {
          "type": "string",
          "description": "The display name of the owner of the recording output. Email notifications about uploaded recordings will also be sent to this owner."
        },
        "recordingApplicationType": {
          "enum": [
            "RECORDING_APPLICATION_TYPE_UNSPECIFIED",
            "RECORDING",
            "GLIVE_STREAM",
            "BROADCAST"
          ],
          "type": "string",
          "description": "The application type of the current active recording. `RECORDING_APPLICATION_TYPE_UNSPECIFIED` if `recording_status` is inactive.",
          "enumDescriptions": [
            "This is never used.",
            "A meeting recording saved to a video file in Google Drive.",
            "A *Google Live* managed stream.",
            "A meeting broadcast."
          ]
        }
      }
    },
    "MenuItem": {
      "id": "MenuItem",
      "properties": {
        "selected": {
          "type": "boolean"
        },
        "value": {
          "description": "The value associated with this item which will be sent back to app scripts. Client should use as a form input value.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The text to be displayed."
        }
      },
      "type": "object"
    },
    "YouTubeLiveBroadcastEvent": {
      "description": "Information about the broadcast to YouTube.",
      "properties": {
[...]
