{
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Identity",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Cloud Identity API",
  "version": "v1beta1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "name": "cloudidentity",
  "revision": "20220301",
  "description": "API for provisioning and managing identity resources.",
  "schemas": {
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last time when user synced with policies.",
          "type": "string"
        },
        "passwordState": {
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "type": "string",
          "description": "Password state of the DeviceUser object",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the user first signed in to the device"
        },
        "languageCode": {
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "readOnly": true,
          "type": "string"
        },
        "firstSyncTime": {
          "readOnly": true,
          "description": "Output only. Most recent time when user registered with this service.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device."
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "type": "string",
          "description": "Compromised State of the DeviceUser object"
        },
        "userAgent": {
          "description": "Output only. User agent on the device for this specific user",
          "type": "string",
          "readOnly": true
        },
        "managementState": {
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "description": "Output only. Management state of the user on the device."
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        }
      },
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser"
    },
    "CancelWipeDeviceRequest": {
      "properties": {},
      "description": "Request message for cancelling an unfinished device wipe.",
      "id": "CancelWipeDeviceRequest",
      "type": "object"
    },
    "ApproveDeviceUserResponse": {
      "type": "object",
      "id": "ApproveDeviceUserResponse",
      "description": "Response message for approving the device to access user data.",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "ModifyMembershipRolesResponse": {
      "type": "object",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      },
      "id": "ModifyMembershipRolesResponse",
      "description": "The response message for MembershipsService.ModifyMembershipRoles."
    },
    "CustomAttributeValue": {
      "type": "object",
      "id": "CustomAttributeValue",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "DeviceUser": {
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last time when user synced with policies."
        },
        "compromisedState": {
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "description": "Compromised State of the DeviceUser object"
        },
        "firstSyncTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Most recent time when user registered with this service.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Output only. User agent on the device for this specific user",
          "readOnly": true
        },
        "userEmail": {
          "description": "Email address of the user registered on the device.",
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "readOnly": true,
          "type": "string"
        },
        "passwordState": {
          "description": "Password state of the DeviceUser object",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ]
        },
        "managementState": {
          "description": "Output only. Management state of the user on the device.",
          "type": "string",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where `device_user_id` uniquely identifies a user's use of a device.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "When the user first signed in to the device",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "id": "DeviceUser"
    },
    "MemberRestriction": {
      "description": "The definition of MemberRestriction",
      "properties": {
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        },
        "query": {
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MemberRestriction"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "description": "Metadata for CancelWipeDevice LRO.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "description": "Response message for wiping the user's account from the device.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse"
    },
    "SecuritySettings": {
      "description": "The definiion of security settings.",
      "id": "SecuritySettings",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "type": "string"
        },
        "memberRestriction": {
          "$ref": "MemberRestriction",
          "description": "The Member Restriction value"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "description": "Response message for cancelling an unfinished device wipe.",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse"
    },
    "ListDeviceUsersResponse": {
      "id": "ListDeviceUsersResponse",
      "type": "object",
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "properties": {
        "deviceUsers": {
          "items": {
            "$ref": "DeviceUser"
          },
          "type": "array",
          "description": "Devices meeting the list restrictions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        }
      }
    },
    "DynamicGroupQuery": {
      "description": "Defines a query on a resource.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DynamicGroupQuery"
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "type": "object",
      "description": "The response message for GroupsService.ListGroups.",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The `Group` resources under the specified `parent`."
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      }
    },
    "WipeDeviceUserRequest": {
      "id": "WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device.",
      "properties": {},
      "type": "object"
    },
    "GroupRelation": {
      "description": "Message representing a transitive group of a user or a group.",
      "id": "GroupRelation",
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "Resource name for this group."
        },
        "relationType": {
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "type": "string",
          "description": "The relation between the member and the transitive group."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for Group resource.",
          "type": "object"
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this group."
        },
        "roles": {
          "description": "Membership roles of the member for the group.",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "type": "array"
        }
      }
    },
    "MemberRelation": {
      "properties": {
        "roles": {
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "The membership role details (i.e name of role and expiry time).",
          "type": "array"
        },
        "preferredMemberKey": {
          "type": "array",
          "items": {
            "$ref": "EntityKey"
          },
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "relationType": {
          "description": "The relation between the group and the transitive membership.",
          "type": "string",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ]
        },
        "member": {
          "description": "Resource name for this member.",
          "type": "string"
        }
      },
      "description": "Message representing a transitive membership of a group.",
      "id": "MemberRelation",
      "type": "object"
    },
    "CertificateAttributes": {
      "description": "Stores information about a certificate.",
      "properties": {
        "serialNumber": {
          "description": "Serial number of the certificate, Example: \"123456789\".",
          "type": "string"
        },
        "validityExpirationTime": {
          "description": "Certificate not valid at or after this timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject name of this certificate."
        },
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "validationState": {
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "description": "Validation state of this certificate."
        },
        "issuer": {
          "type": "string",
          "description": "The name of the issuer of this certificate."
        },
        "validityStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Certificate not valid before this timestamp."
        },
        "certificateTemplate": {
          "$ref": "CertificateTemplate",
          "description": "The X.509 extension for CertificateTemplate."
        }
      },
      "type": "object",
      "id": "CertificateAttributes"
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata",
      "properties": {},
      "description": "Metadata for ListEndpointApps LRO.",
      "type": "object"
    },
    "OrgMembership": {
      "type": "object",
      "properties": {
        "memberUri": {
          "description": "Uri with which you can read the member. This follows https://aip.dev/122 Format for shared drive resource: https://drive.googleapis.com/drive/v3/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource).",
          "type": "string"
        },
        "member": {
          "type": "string",
          "description": "Immutable. Org member id as full resource name. Format for shared drive resource: //drive.googleapis.com/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource)."
        },
        "type": {
          "enumDescriptions": [
            "Equivalent to no resource type mentioned",
            "Shared drive as resource type"
          ],
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "SHARED_DRIVE"
          ],
          "description": "Immutable. Entity type for the org member."
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The [resource name](https://cloud.google.com/apis/design/resource_names) of the OrgMembership. Format: orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits). The `$membership` shall be of the form `{$entityType};{$memberId}`, where `$entityType` is the enum value of [OrgMembership.EntityType], and `memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource) for OrgMembership.EntityType.SHARED_DRIVE."
        }
      },
      "id": "OrgMembership",
      "description": "A membership in an OrgUnit. An `OrgMembership` defines a relationship between an `OrgUnit` and an entity belonging to that `OrgUnit`, referred to as a \"member\"."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "properties": {},
      "type": "object"
    },
    "CancelWipeDeviceUserRequest": {
      "properties": {},
      "id": "CancelWipeDeviceUserRequest",
      "type": "object",
      "description": "Request message for cancelling an unfinished user account wipe."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "properties": {},
      "description": "Metadata for WipeDevice LRO.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "description": "Response message for cancelling an unfinished user account wipe."
    },
    "BlockDeviceUserResponse": {
      "id": "BlockDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "description": "Response message for blocking the device from accessing user data.",
      "type": "object"
    },
    "FirstAdminInvitationInfo": {
      "description": "Message containing first admin invitation info for customers",
      "properties": {
        "isFirstAdmin": {
          "description": "Optional. To enable First Admin Invitation for Domained Customer",
          "type": "boolean"
        },
        "primaryDomain": {
          "type": "string",
          "description": "Optional. Domain information of first admin invited"
        }
      },
      "id": "FirstAdminInvitationInfo",
      "type": "object"
    },
    "WipeDeviceRequest": {
      "type": "object",
      "properties": {
        "removeResetLock": {
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device.",
          "type": "boolean"
        }
      },
      "id": "WipeDeviceRequest",
      "description": "Request message for wiping all data on the device."
    },
    "CancelUserInvitationRequest": {
      "type": "object",
      "id": "CancelUserInvitationRequest",
      "description": "Request to cancel sent invitation for target email in UserInvitation.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device.",
          "readOnly": true,
          "type": "string"
        },
        "enabledUsbDebugging": {
          "description": "Output only. Whether USB debugging is enabled on device.",
          "readOnly": true,
          "type": "boolean"
        },
        "ownerType": {
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual",
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ]
        },
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "type": "string"
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ]
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true,
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes"
        },
        "basebandVersion": {
          "readOnly": true,
          "description": "Output only. Baseband version of the device.",
          "type": "string"
        },
        "otherAccounts": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "type": "array"
        },
        "securityPatchTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true
        },
        "imei": {
          "readOnly": true,
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "type": "string"
        },
        "bootloaderVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true,
          "type": "string"
        },
        "kernelVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Kernel version of the device."
        },
        "model": {
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "readOnly": true,
          "type": "string"
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string",
          "readOnly": true
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "readOnly": true,
          "description": "Output only. Represents whether the Device is compromised.",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "type": "string"
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "readOnly": true,
          "type": "string"
        },
        "buildNumber": {
          "readOnly": true,
          "description": "Output only. Build number of the device.",
          "type": "string"
        },
        "wifiMacAddresses": {
          "type": "array",
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          }
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "readOnly": true,
          "type": "string"
        },
        "enabledDeveloperOptions": {
          "description": "Output only. Whether developer options is enabled on device.",
          "readOnly": true,
          "type": "boolean"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "deviceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "readOnly": true,
          "description": "Output only. Type of device."
        },
        "meid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. MEID number of device if CDMA device; empty otherwise."
        },
        "brand": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device brand. Example: Samsung."
        },
        "managementState": {
          "type": "string",
          "description": "Output only. Management state of the device",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "readOnly": true
        }
      }
    },
    "CreateDeviceRequest": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Required. The device to be created. The name field within this device is ignored in the create method. A new name is created by the method, and returned within the response. Only the fields `device_type`, `serial_number` and `asset_tag` (if present) are used to create the device. All other fields are ignored. The `device_type` and `serial_number` fields are required."
        }
      },
      "id": "CreateDeviceRequest",
      "description": "Request message for creating a Company Owned device."
    },
    "CancelWipeDeviceResponse": {
      "id": "CancelWipeDeviceResponse",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "description": "Response message for cancelling an unfinished device wipe.",
      "type": "object"
    },
    "RestrictionEvaluation": {
      "id": "RestrictionEvaluation",
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the restriction",
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransitiveMembershipRole": {
      "id": "TransitiveMembershipRole",
      "properties": {
        "role": {
          "type": "string",
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`."
        }
      },
      "type": "object",
      "description": "Message representing the role of a TransitiveMembership."
    },
    "LookupGroupNameResponse": {
      "type": "object",
      "description": "The response message for GroupsService.LookupGroupName.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`."
        }
      },
      "id": "LookupGroupNameResponse"
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "description": "Metadata for CreateDevice LRO.",
      "type": "object"
    },
    "GetMembershipGraphResponse": {
      "id": "GetMembershipGraphResponse",
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "type": "object",
      "properties": {
        "groups": {
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        },
        "adjacencyList": {
          "type": "array",
          "description": "The membership graph's path information represented as an adjacency list.",
          "items": {
            "$ref": "MembershipAdjacencyList"
          }
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "object",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "numberValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
    },
    "ListUserInvitationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call."
        },
        "userInvitations": {
          "type": "array",
          "items": {
            "$ref": "UserInvitation"
          },
          "description": "The list of UserInvitation resources."
        }
      },
      "description": "Response message for UserInvitation listing request.",
      "id": "ListUserInvitationsResponse"
    },
    "WipeDeviceUserResponse": {
      "type": "object",
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "WipeDeviceUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "description": "Metadata for BlockDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "type": "object",
      "properties": {}
    },
    "UserInvitation": {
      "id": "UserInvitation",
      "type": "object",
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when the `UserInvitation` was last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
        },
        "mailsSentCount": {
          "description": "Number of invitation emails sent to the user.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ],
          "description": "State of the `UserInvitation`."
        }
      }
    },
    "LookupMembershipNameResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        }
      },
      "id": "LookupMembershipNameResponse",
      "description": "The response message for MembershipsService.LookupMembershipName."
    },
    "SearchGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The `Group` resources that match the search query."
        }
      },
      "description": "The response message for GroupsService.SearchGroups.",
      "id": "SearchGroupsResponse"
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "description": "A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "properties": {
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true,
          "type": "string"
        },
        "basebandVersion": {
          "readOnly": true,
          "description": "Output only. Baseband version of the device.",
          "type": "string"
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "releaseVersion": {
          "readOnly": true,
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "compromisedState": {
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "description": "Output only. Represents whether the Device is compromised.",
          "readOnly": true,
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime",
          "type": "string"
        },
        "imei": {
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "type": "string",
          "readOnly": true
        },
        "deviceType": {
          "description": "Output only. Type of device.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "type": "string",
          "readOnly": true
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "type": "string",
          "readOnly": true
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola."
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "type": "string",
          "readOnly": true
        },
        "enabledUsbDebugging": {
          "description": "Output only. Whether USB debugging is enabled on device.",
          "readOnly": true,
          "type": "boolean"
        },
        "ownerType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual"
        },
        "androidSpecificAttributes": {
          "$ref": "AndroidAttributes",
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true
        },
        "brand": {
          "type": "string",
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string",
          "readOnly": true
        },
        "buildNumber": {
          "type": "string",
          "description": "Output only. Build number of the device.",
          "readOnly": true
        },
        "managementState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "readOnly": true,
          "description": "Output only. Management state of the device"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique id assigned to the Device.",
          "readOnly": true,
          "type": "string"
        },
        "enabledDeveloperOptions": {
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Most recent time when device synced with this service.",
          "type": "string"
        },
        "otherAccounts": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
        },
        "securityPatchTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device."
        },
        "endpointVerificationSpecificAttributes": {
          "readOnly": true,
          "description": "Output only. Attributes specific to Endpoint Verification devices.",
          "$ref": "EndpointVerificationSpecificAttributes"
        },
        "bootloaderVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "kernelVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Kernel version of the device."
        }
      }
    },
    "ModifyMembershipRolesRequest": {
      "type": "object",
      "description": "The request message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "updateRolesParams": {
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set.",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          },
          "type": "array"
        },
        "removeRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set."
        },
        "addRoles": {
          "type": "array",
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set.",
          "items": {
            "$ref": "MembershipRole"
          }
        }
      },
      "id": "ModifyMembershipRolesRequest"
    },
    "UpdateMembershipRolesParams": {
      "id": "UpdateMembershipRolesParams",
      "description": "The details of an update to a `MembershipRole`.",
      "type": "object",
      "properties": {
        "membershipRole": {
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`.",
          "$ref": "MembershipRole"
        },
        "fieldMask": {
          "type": "string",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`.",
          "format": "google-fieldmask"
        }
      }
    },
    "ListMembershipsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "memberships": {
          "description": "The `Membership`s under the specified `parent`.",
          "type": "array",
          "items": {
            "$ref": "Membership"
          }
        }
      },
      "id": "ListMembershipsResponse",
      "description": "The response message for MembershipsService.ListMemberships."
    },
    "ExpiryDetail": {
      "description": "The `MembershipRole` expiry details.",
      "type": "object",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which the `MembershipRole` will expire.",
          "type": "string"
        }
      },
      "id": "ExpiryDetail"
    },
    "PosixGroup": {
      "properties": {
        "systemId": {
          "type": "string",
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value."
        },
        "name": {
          "type": "string",
          "description": "Name of the POSIX group."
        },
        "gid": {
          "type": "string",
          "format": "uint64",
          "description": "GID of the POSIX group."
        }
      },
      "description": "POSIX Group definition to represent a group in a POSIX compliant system.",
      "id": "PosixGroup",
      "type": "object"
    },
    "AndroidAttributes": {
      "type": "object",
      "description": "Resource representing the Android specific attributes of a Device.",
      "id": "AndroidAttributes",
      "properties": {
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "ownershipPrivilege": {
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "type": "string",
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device."
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        }
      }
    },
    "MembershipAdjacencyList": {
      "description": "Membership graph's path information as an adjacency list.",
      "properties": {
        "edges": {
          "type": "array",
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g name, preferred_member_key and role), but may not be a comprehensive list of all fields.",
          "items": {
            "$ref": "Membership"
          }
        },
        "group": {
          "description": "Resource name of the group that the members belong to.",
          "type": "string"
        }
      },
      "id": "MembershipAdjacencyList",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "description": "Response message for blocking the device from accessing user data.",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "description": "Metadata for DeleteDeviceUser LRO.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "object",
      "description": "Metadata for UpdateClientState LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "properties": {}
    },
    "Group": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the `Group` was created."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Required. The `EntityKey` of the `Group`."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the `Group`."
        },
        "dynamicGroupMetadata": {
          "$ref": "DynamicGroupMetadata",
          "description": "Optional. Dynamic group metadata like queries and status."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the `Group` was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "additionalGroupKeys": {
          "items": {
            "$ref": "EntityKey"
          },
          "description": "Additional entity key aliases for a Group.",
          "type": "array"
        },
        "posixGroups": {
          "items": {
            "$ref": "PosixGroup"
          },
          "description": "Optional. The POSIX groups associated with the `Group`.",
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn')."
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters."
        },
        "labels": {
          "type": "object",
          "description": "Required. One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "id": "Group"
    },
    "CertificateTemplate": {
      "properties": {
        "minorVersion": {
          "format": "int32",
          "description": "The minor version of the template. Example: 12.",
          "type": "integer"
        },
        "majorVersion": {
          "type": "integer",
          "description": "The Major version of the template. Example: 100.",
          "format": "int32"
        },
        "id": {
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\".",
          "type": "string"
        }
      },
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "id": "CertificateTemplate",
      "type": "object"
    },
    "SendUserInvitationRequest": {
      "type": "object",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "id": "SendUserInvitationRequest",
      "properties": {
        "firstAdminInvitationInfo": {
          "description": "Optional. First admin invitation info for customers",
          "$ref": "FirstAdminInvitationInfo"
        }
      }
    },
    "CheckTransitiveMembershipResponse": {
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "type": "object",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      },
      "id": "CheckTransitiveMembershipResponse"
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "description": "Resource representing the Android specific attributes of a Device.",
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "properties": {
        "ownershipPrivilege": {
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device.",
          "type": "string"
        },
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "ownerProfileAccount": {
          "type": "boolean",
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ApproveDeviceUserRequest": {
      "description": "Request message for approving the device to access user data.",
      "properties": {},
      "type": "object",
      "id": "ApproveDeviceUserRequest"
    },
    "WipeDeviceResponse": {
      "description": "Response message for wiping all data on the device.",
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "Device"
        }
      },
      "id": "WipeDeviceResponse"
    },
    "MembershipRoleRestrictionEvaluation": {
      "description": "The evaluated state of this restriction.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the restriction",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ]
        }
      },
      "id": "MembershipRoleRestrictionEvaluation"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "type": "object",
      "description": "Response message for approving the device to access user data."
    },
    "Membership": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the `Membership` was last updated.",
          "readOnly": true
        },
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time when the `Membership` was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "readOnly": true
        },
        "memberKey": {
          "$ref": "EntityKey",
          "description": "Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the membership.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents other type."
          ]
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned."
        }
      },
      "id": "Membership",
      "type": "object",
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\"."
    },
    "BlockDeviceUserRequest": {
      "description": "Request message for blocking account on device.",
      "id": "BlockDeviceUserRequest",
      "properties": {},
      "type": "object"
    },
    "ListDevicesResponse": {
      "properties": {
        "devices": {
          "type": "array",
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListDevicesResponse",
      "description": "Response message that is returned from the ListDevices method."
    },
    "EntityKey": {
      "id": "EntityKey",
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "properties": {
        "id": {
          "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
          "type": "string"
        },
        "namespace": {
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EndpointVerificationSpecificAttributes": {
      "id": "EndpointVerificationSpecificAttributes",
      "properties": {
        "certificateAttributes": {
          "items": {
            "$ref": "CertificateAttributes"
          },
          "description": "Details of certificates.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Resource representing the Endpoint Verification-specific attributes of a Device. https://cloud.google.com/endpoint-verification/docs/overview"
    },
    "ListOrgMembershipsResponse": {
      "id": "ListOrgMembershipsResponse",
      "description": "The response message for OrgMembershipsService.ListOrgMemberships.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "orgMemberships": {
          "type": "array",
          "description": "The non-vacuous membership in an orgUnit.",
          "items": {
            "$ref": "OrgMembership"
          }
        }
      },
      "type": "object"
    },
    "SearchTransitiveGroupsResponse": {
      "type": "object",
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "id": "SearchTransitiveGroupsResponse",
      "properties": {
        "memberships": {
          "type": "array",
          "description": "List of transitive groups satisfying the query.",
          "items": {
            "$ref": "GroupRelation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        }
      }
    },
    "MembershipRole": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`."
        },
        "expiryDetail": {
          "description": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value.",
          "$ref": "ExpiryDetail"
        },
        "restrictionEvaluations": {
          "$ref": "RestrictionEvaluations",
          "description": "Evaluations of restrictions applied to parent group on this membership."
        }
      },
      "id": "MembershipRole",
      "description": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`."
    },
    "CancelWipeDeviceUserResponse": {
      "description": "Response message for cancelling an unfinished user account wipe.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "id": "CancelWipeDeviceUserResponse"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "RestrictionEvaluations": {
      "properties": {
        "memberRestrictionEvaluation": {
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation.",
          "$ref": "MembershipRoleRestrictionEvaluation"
        }
      },
      "id": "RestrictionEvaluations",
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "description": "Metadata for DeleteDevice LRO.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "properties": {}
    },
    "DynamicGroupMetadata": {
      "type": "object",
      "description": "Dynamic group metadata like queries and status.",
      "properties": {
        "status": {
          "description": "Output only. Status of the dynamic group.",
          "readOnly": true,
          "$ref": "DynamicGroupStatus"
        },
        "queries": {
          "items": {
            "$ref": "DynamicGroupQuery"
          },
          "type": "array",
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 100 dynamic groups."
        }
      },
      "id": "DynamicGroupMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "type": "object",
      "description": "Metadata for UpdateDevice LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata"
    },
    "LookupSelfDeviceUsersResponse": {
      "properties": {
        "customer": {
          "description": "The obfuscated customer Id that may be passed back to other Devices API methods such as List, Get, etc.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "names": {
          "items": {
            "type": "string"
          },
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device_id}/deviceUsers/{user_resource_id}`, where device_id is the unique ID assigned to a Device and user_resource_id is the unique user ID",
          "type": "array"
        }
      },
      "id": "LookupSelfDeviceUsersResponse",
      "type": "object",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials."
    },
    "ListClientStatesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "clientStates": {
          "description": "Client states meeting the list restrictions.",
          "items": {
            "$ref": "ClientState"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListClientStatesResponse",
      "description": "Response message that is returned in LRO result of ListClientStates Operation."
    },
    "ClientState": {
      "properties": {
        "managed": {
          "type": "string",
          "description": "The management state of the resource as specified by the API client.",
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ]
        },
        "ownerType": {
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The owner of the ClientState"
        },
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "customId": {
          "type": "string",
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
        },
        "assetTags": {
          "description": "The caller can specify asset tags for this resource",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "complianceState": {
          "description": "The compliance state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
          "type": "string"
        },
        "scoreReason": {
          "type": "string",
          "description": "A descriptive cause of the health score."
        },
        "healthScore": {
          "type": "string",
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "description": "The Health score of the resource",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ]
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the client state data was last updated.",
          "type": "string",
          "readOnly": true
        },
        "keyValuePairs": {
          "additionalProperties": {
            "$ref": "CustomAttributeValue"
          },
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the client state data was created."
        }
      },
      "type": "object",
      "id": "ClientState",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
    },
    "DynamicGroupStatus": {
      "description": "The current status of a dynamic group along with timestamp.",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "description": "Status of the dynamic group."
        },
        "statusTime": {
          "type": "string",
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "DynamicGroupStatus"
    },
    "SearchTransitiveMembershipsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "MemberRelation"
          },
          "description": "List of transitive memberships satisfying the query."
        }
      },
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "description": "Metadata for ApproveDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "description": "Metadata for SignoutDeviceUser LRO.",
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata"
    },
    "IsInvitableUserResponse": {
      "description": "Response for IsInvitableUser RPC.",
      "properties": {
        "isInvitableUser": {
          "description": "Returns true if the email address is invitable.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "IsInvitableUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "description": "Metadata for WipeDeviceUser LRO.",
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the client state data was created.",
          "readOnly": true
        },
        "complianceState": {
          "description": "The compliance state of the resource as specified by the API client.",
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ]
        },
        "healthScore": {
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "type": "string"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the client state data was last updated."
        },
        "customId": {
          "type": "string",
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
        },
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "keyValuePairs": {
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object"
        },
        "assetTags": {
          "type": "array",
          "description": "The caller can specify asset tags for this resource",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "type": "string",
          "readOnly": true
        },
        "managed": {
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "type": "string",
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ]
        },
        "ownerType": {
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "description": "Output only. The owner of the ClientState",
          "readOnly": true,
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "description": "Response message for wiping all data on the device.",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "type": "object"
    },
    "MoveOrgMembershipRequest": {
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Required. Immutable. Customer on whose membership change is made. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization."
        },
        "destinationOrgUnit": {
          "description": "Required. Immutable. OrgUnit where the membership will be moved to. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
          "type": "string"
        }
      },
      "id": "MoveOrgMembershipRequest",
      "description": "The request message for OrgMembershipsService.MoveOrgMembership."
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/identity/",
  "basePath": "",
  "servicePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "orgUnits": {
      "resources": {
        "memberships": {
          "methods": {
            "move": {
              "description": "Move an OrgMembership to a new OrgUnit. NOTE: This is an atomic copy-and-delete. The resource will have a new copy under the destination OrgUnit and be deleted from the source OrgUnit. The resource can only be searched under the destination OrgUnit afterwards.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships/{membershipsId}:move",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^orgUnits/[^/]+/memberships/[^/]+$",
                  "location": "path",
                  "type": "string",
[...]
