{
  "basePath": "",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "name": "cloudbuild",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "batchPath": "batch",
  "version_module": true,
  "description": "Creates and manages builds on Google Cloud Platform.",
  "protocol": "rest",
  "revision": "20240207",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v2",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "canonicalName": "Cloud Build",
  "id": "cloudbuild:v2",
  "title": "Cloud Build API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "resources": {
                "repositories": {
                  "methods": {
                    "batchCreate": {
                      "id": "cloudbuild.projects.locations.connections.repositories.batchCreate",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates multiple repositories inside a connection.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The connection to contain all the repositories being created. Format: projects/*/locations/*/connections/* The parent field in the CreateRepositoryRequest messages must either be empty or match this field.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "BatchCreateRepositoriesRequest"
                      },
                      "path": "v2/{+parent}/repositories:batchCreate",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories:batchCreate",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent, which owns this collection of Repositories. Format: `projects/*/locations/*/connections/*`.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Number of results to return in the list.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "A filter expression that filters resources listed in the response. Expressions must follow API improvement proposal [AIP-160](https://google.aip.dev/160). e.g. `remote_uri:\"https://github.com*\"`."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Page start."
                        }
                      },
                      "response": {
                        "$ref": "ListRepositoriesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists Repositories in a given connection.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/repositories",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.list"
                    },
                    "accessReadWriteToken": {
                      "path": "v2/{+repository}:accessReadWriteToken",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadWriteToken",
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "description": "Fetches read/write token of a given repository.",
                      "parameterOrder": [
                        "repository"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadWriteToken",
                      "parameters": {
                        "repository": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.delete",
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the Repository to delete. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "location": "path"
                        },
                        "etag": {
                          "location": "query",
                          "description": "The current etag of the repository. If an etag is provided and does not match the current etag of the repository, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "If set, validate the request, but do not actually post it.",
                          "location": "query"
                        }
                      },
                      "description": "Deletes a single repository.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}"
                    },
                    "fetchGitRefs": {
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+repository}:fetchGitRefs",
                      "id": "cloudbuild.projects.locations.connections.repositories.fetchGitRefs",
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Number of results to return in the list. Default to 100."
                        },
                        "refType": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "description": "Type of refs to fetch",
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ]
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page start.",
                          "location": "query"
                        },
                        "repository": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:fetchGitRefs"
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.create",
                      "request": {
                        "$ref": "Repository"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/repositories",
                      "parameters": {
                        "repositoryId": {
                          "type": "string",
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Creates a Repository.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "cloudbuild.projects.locations.connections.repositories.get",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Repository"
                      },
                      "description": "Gets details of a single repository.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Repository to retrieve. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "accessReadToken": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadToken",
                      "description": "Fetches read token of a given repository.",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadToken",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "path": "v2/{+repository}:accessReadToken",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "repository"
                      ],
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "repository": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "processWebhook": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "required": true,
                      "location": "path"
                    },
                    "webhookKey": {
                      "location": "query",
                      "type": "string",
                      "description": "Arbitrary additional key to find the maching repository for a webhook event if needed."
                    }
                  },
                  "id": "cloudbuild.projects.locations.connections.processWebhook",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/connections:processWebhook",
                  "httpMethod": "POST",
                  "description": "ProcessWebhook is called by the external SCM for notifying of events.",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:processWebhook"
                },
                "patch": {
                  "description": "Updates a single connection.",
                  "request": {
                    "$ref": "Connection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, update will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties)."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setIamPolicy": {
                  "id": "cloudbuild.projects.locations.connections.setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v2/{+resource}:setIamPolicy"
                },
                "create": {
                  "path": "v2/{+parent}/connections",
                  "request": {
                    "$ref": "Connection"
                  },
                  "id": "cloudbuild.projects.locations.connections.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a Connection.",
                  "httpMethod": "POST",
                  "parameters": {
                    "connectionId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Connection, which will become the final component of the Connection's resource name. Names must be unique per-project per-location. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Project and location where the connection will be created. Format: `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections"
                },
                "fetchLinkableRepositories": {
                  "parameterOrder": [
                    "connection"
                  ],
                  "description": "FetchLinkableRepositories get repositories from SCM that are accessible and could be added to the connection.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+connection}:fetchLinkableRepositories",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableRepositories",
                  "response": {
                    "$ref": "FetchLinkableRepositoriesResponse"
                  },
                  "id": "cloudbuild.projects.locations.connections.fetchLinkableRepositories",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Number of results to return in the list. Default to 20.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page start.",
                      "location": "query"
                    },
                    "connection": {
                      "required": true,
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "id": "cloudbuild.projects.locations.connections.list",
                  "path": "v2/{+parent}/connections",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Page start.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of Connections. Format: `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Number of results to return in the list."
                    }
                  },
                  "description": "Lists Connections in a given project and location."
                },
                "delete": {
                  "description": "Deletes a single connection.",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request, but do not actually post it."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Connection to delete. Format: `projects/*/locations/*/connections/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.connections.delete"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Connection to retrieve. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "id": "cloudbuild.projects.locations.connections.get",
                  "response": {
                    "$ref": "Connection"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single connection."
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy",
                  "id": "cloudbuild.projects.locations.connections.getIamPolicy",
                  "httpMethod": "GET",
                  "path": "v2/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+resource}:testIamPermissions",
                  "id": "cloudbuild.projects.locations.connections.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "path": "v2/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbuild.projects.locations.list",
              "description": "Lists information about the supported locations for this service.",
              "path": "v2/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbuild.projects.locations.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "Capabilities": {
      "description": "Capabilities adds and removes POSIX capabilities from running containers.",
      "properties": {
        "drop": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Removed capabilities +optional",
          "type": "array"
        },
        "add": {
          "description": "Optional. Added capabilities +optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Capabilities"
    },
    "WorkspaceDeclaration": {
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description is a human readable description of this volume."
        },
        "name": {
          "type": "string",
          "description": "Name is the name by which you can bind the volume at runtime."
        },
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        },
        "mountPath": {
          "type": "string",
          "description": "MountPath overrides the directory that the volume will be made available at."
        },
        "optional": {
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        }
      },
      "id": "WorkspaceDeclaration",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}."
        }
      },
      "type": "object",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
    },
    "Provenance": {
      "properties": {
        "enabled": {
          "type": "string",
          "description": "Optional. Provenance push mode.",
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ]
        },
        "storage": {
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "type": "string",
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ],
          "description": "Optional. Where provenance is stored."
        },
        "region": {
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ],
          "description": "Optional. Provenance region.",
          "type": "string",
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ]
        }
      },
      "description": "Provenance configuration.",
      "id": "Provenance",
      "type": "object"
    },
    "Sidecar": {
      "type": "object",
      "id": "Sidecar",
      "properties": {
        "readinessProbe": {
          "$ref": "Probe",
          "description": "Optional. Periodic probe of Sidecar service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        },
        "name": {
          "type": "string",
          "description": "Name of the Sidecar."
        },
        "command": {
          "description": "Entrypoint array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          },
          "type": "array"
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. Security options the container should be run with."
        },
        "env": {
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container."
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory."
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        }
      },
      "description": "Sidecars run alongside the Task's step containers."
    },
    "ExecAction": {
      "description": "ExecAction describes a \"run in container\" action.",
      "properties": {
        "command": {
          "description": "Optional. Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ExecAction"
    },
    "VolumeMount": {
      "id": "VolumeMount",
      "type": "object",
      "properties": {
        "subPathExpr": {
          "type": "string",
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root)."
        },
        "subPath": {
          "type": "string",
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root)."
        },
        "name": {
          "description": "Name of the volume.",
          "type": "string"
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).",
          "type": "boolean"
        },
        "mountPath": {
          "type": "string",
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'."
        }
      },
      "description": "Pod volumes to mount into the container's filesystem."
    },
    "UserCredential": {
      "id": "UserCredential",
      "type": "object",
      "properties": {
        "userTokenSecretVersion": {
          "type": "string",
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`."
        },
        "username": {
          "description": "Output only. The username associated to this token.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents a personal access token that authorized the Connection, and associated metadata."
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "ChildStatusReference": {
      "properties": {
        "type": {
          "description": "Output only. Type of the child reference.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ]
        },
        "pipelineTaskName": {
          "type": "string",
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing."
        },
        "name": {
          "description": "Name is the name of the TaskRun or Run this is referencing.",
          "type": "string"
        },
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          }
        }
      },
      "id": "ChildStatusReference",
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "type": "object",
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "id": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
      "properties": {
        "appInstallationId": {
          "type": "string",
          "description": "ID of the installation of the GitHub App.",
          "format": "int64"
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the GitHub Enterprise host this connection is for."
        },
        "privateKeySecretVersion": {
          "type": "string",
          "description": "SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*`."
        },
        "apiKey": {
          "type": "string",
          "description": "Required. API Key used for authentication of webhook events."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*`."
        },
        "serviceDirectoryConfig": {
          "description": "Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "appSlug": {
          "type": "string",
          "description": "The URL-friendly name of the GitHub App."
        },
        "appId": {
          "description": "Id of the GitHub App created from the manifest.",
          "format": "int64",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "SSL certificate to use for requests to GitHub Enterprise."
        },
        "serverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GitHub Enterprise version installed at the host_uri."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "properties": {
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "The list of Repositories.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Message for response to listing Repositories.",
      "id": "ListRepositoriesResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "Connection": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "format": "google-datetime"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "gitlabConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig",
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise."
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Server assigned timestamp for when the connection was updated."
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "$ref": "InstallationState",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "type": "boolean"
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to Bitbucket Cloud.",
          "$ref": "BitbucketCloudConfig"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Allows clients to store small amounts of arbitrary data."
        },
        "githubConfig": {
          "$ref": "GitHubConfig",
          "description": "Configuration for connections to github.com."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "id": "Connection"
    },
    "Step": {
      "id": "Step",
      "type": "object",
      "properties": {
        "script": {
          "type": "string",
          "description": "The contents of an executable file to execute."
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container.",
          "type": "array"
        },
        "volumeMounts": {
          "type": "array",
          "description": "Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "command": {
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array.",
          "type": "array"
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        },
        "securityContext": {
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional",
          "$ref": "SecurityContext"
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeout": {
          "type": "string",
          "description": "Time after which the Step times out. Defaults to never.",
          "format": "google-duration"
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory."
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        }
      },
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container."
    },
    "Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "id": "Probe",
      "properties": {
        "periodSeconds": {
          "type": "integer",
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional",
          "format": "int32"
        },
        "exec": {
          "$ref": "ExecAction",
          "description": "Optional. Exec specifies the action to take. +optional"
        }
      },
      "type": "object"
    },
    "VolumeSource": {
      "description": "Volumes available to mount.",
      "properties": {
        "emptyDir": {
          "description": "A temporary directory that shares a pod's lifetime.",
          "$ref": "EmptyDirVolumeSource"
        },
        "name": {
          "description": "Name of the Volume. Must be a DNS_LABEL and unique within the pod. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names",
          "type": "string"
        }
      },
      "id": "VolumeSource",
      "type": "object"
    },
    "VolumeClaim": {
      "properties": {
        "storage": {
          "description": "Volume size, e.g. 1gb.",
          "type": "string"
        }
      },
      "description": "VolumeClaim is a user's request for a volume.",
      "id": "VolumeClaim",
      "type": "object"
    },
    "BatchCreateRepositoriesResponse": {
      "properties": {
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "Repository resources created."
        }
      },
      "type": "object",
      "id": "BatchCreateRepositoriesResponse",
      "description": "Message for response of creating repositories in batch."
    },
    "PipelineRef": {
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "name": {
          "type": "string",
          "deprecated": true,
          "description": "Name of the Pipeline."
        },
        "resolver": {
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/"
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource."
        },
        "params": {
          "type": "array",
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "items": {
            "$ref": "Param"
          }
        }
      },
      "type": "object",
      "id": "PipelineRef"
    },
    "TaskRef": {
      "type": "object",
      "properties": {
        "resolver": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/"
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT"
          ]
        },
        "name": {
          "deprecated": true,
          "type": "string",
          "description": "Name of the task."
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array"
        }
      },
      "id": "TaskRef",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline."
    },
    "PipelineWorkspaceDeclaration": {
      "id": "PipelineWorkspaceDeclaration",
      "type": "object",
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
      "properties": {
        "description": {
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of a workspace to be provided by a PipelineRun."
        },
        "optional": {
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        }
      }
    },
    "OAuthCredential": {
      "properties": {
        "username": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The username associated to this token."
        },
        "oauthTokenSecretVersion": {
          "description": "A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "id": "OAuthCredential",
      "type": "object"
    },
    "SecretVolumeSource": {
      "type": "object",
      "id": "SecretVolumeSource",
      "description": "Secret Volume Source.",
      "properties": {
        "secretName": {
          "type": "string",
          "description": "Name of the secret referenced by the WorkspaceBinding."
        },
        "secretVersion": {
          "type": "string",
          "description": "Output only. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "CreateRepositoryRequest": {
      "type": "object",
      "properties": {
        "repositoryId": {
          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
          "type": "string"
        },
        "repository": {
          "$ref": "Repository",
          "description": "Required. The repository to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there."
        }
      },
      "description": "Message for creating a Repository.",
      "id": "CreateRepositoryRequest"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        }
      }
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to Bitbucket Data Center.",
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A http access token with the `REPO_ADMIN` scope access."
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
        },
        "readAuthorizerCredential": {
          "description": "Required. A http access token with the `REPO_READ` access.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for."
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "WhenExpression": {
      "type": "object",
      "description": "Conditions that need to be true for the task to run.",
      "id": "WhenExpression",
      "properties": {
        "input": {
          "type": "string",
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values is an array of strings, which is compared against the input, for guard checking."
        },
        "expressionOperator": {
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string",
          "description": "Operator that represents an Input's relationship to the values",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ]
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "connections": {
          "type": "array",
          "description": "The list of Connections.",
          "items": {
            "$ref": "Connection"
          }
        }
      },
      "description": "Message for response to listing Connections."
    },
    "Repository": {
      "id": "Repository",
      "properties": {
        "remoteUri": {
          "type": "string",
          "description": "Required. Git Clone HTTPS URI."
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "webhookId": {
          "readOnly": true,
          "description": "Output only. External ID of the webhook created for the repository.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`."
        }
      },
      "description": "A repository associated to a parent connection.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "HttpBody": {
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        }
      },
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "StepTemplate": {
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
      "id": "StepTemplate",
      "type": "object",
      "properties": {
        "volumeMounts": {
          "description": "Optional. Pod volumes to mount into the container's filesystem.",
          "items": {
            "$ref": "VolumeMount"
          },
          "type": "array"
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "type": "array"
        }
      }
    },
    "FetchReadTokenRequest": {
      "description": "Message for fetching SCM read token.",
      "id": "FetchReadTokenRequest",
      "type": "object",
      "properties": {}
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "TimeoutFields": {
      "id": "TimeoutFields",
      "type": "object",
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts",
      "properties": {
        "tasks": {
          "type": "string",
          "format": "google-duration",
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks"
        },
        "finally": {
          "format": "google-duration",
          "type": "string",
          "description": "Finally sets the maximum allowed duration of this pipeline's finally"
        },
        "pipeline": {
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "PipelineRun": {
      "type": "object",
      "description": "Message describing PipelineRun object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the request to update the `PipelineRun` was received."
        },
        "name": {
          "description": "Output only. The `PipelineRun` name with format `projects/{project}/locations/{location}/pipelineRuns/{pipeline_run}`",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Needed for declarative-friendly resources.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the pipeline is actually started."
        },
        "provenance": {
          "description": "Optional. Provenance configuration.",
          "$ref": "Provenance"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A unique identifier for the `PipelineRun`.",
          "type": "string"
        },
        "completionTime": {
          "description": "Output only. Time the pipeline completed.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "finallyStartTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. FinallyStartTime is when all non-finally tasks have been completed and only finally tasks are being executed. +optional",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the `PipelineRun` was received.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "record": {
          "type": "string",
          "description": "Output only. The `Record` of this `PipelineRun`. Format: `projects/{project}/locations/{location}/results/{result_id}/records/{record_id}`",
          "readOnly": true
        },
        "resolvedPipelineSpec": {
          "$ref": "PipelineSpec",
          "description": "Output only. The exact PipelineSpec used to instantiate the run.",
          "readOnly": true
        },
        "gcbParams": {
          "description": "Output only. GCB default params.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "skippedTasks": {
          "description": "Output only. List of tasks that were skipped due to when expressions evaluating to false.",
          "items": {
            "$ref": "SkippedTask"
          },
          "type": "array",
          "readOnly": true
        },
        "workspaces": {
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces.",
          "type": "array",
          "items": {
            "$ref": "WorkspaceBinding"
          }
        },
        "annotations": {
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params is a list of parameter names and values.",
          "type": "array"
        },
        "timeouts": {
          "$ref": "TimeoutFields",
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline \u003e= Timeouts.tasks + Timeouts.finally"
        },
        "security": {
          "$ref": "Security",
          "description": "Optional. Security configuration."
        },
        "pipelineRef": {
          "$ref": "PipelineRef",
          "description": "PipelineRef refer to a specific instance of a Pipeline."
        },
        "workerPool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The WorkerPool used to run this PipelineRun."
        },
        "pipelineSpec": {
          "$ref": "PipelineSpec",
          "description": "PipelineSpec defines the desired state of Pipeline."
        },
        "conditions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV2Condition"
          }
        },
        "worker": {
          "description": "Optional. Worker configuration.",
          "$ref": "Worker"
        },
        "workflow": {
          "type": "string",
          "description": "Output only. The Workflow used to create this PipelineRun.",
          "readOnly": true
        },
        "childReferences": {
          "items": {
            "$ref": "ChildStatusReference"
          },
          "description": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun.",
          "type": "array",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "Service account used in the Pipeline.",
          "type": "string"
        },
        "pipelineRunStatus": {
          "enum": [
            "PIPELINE_RUN_STATUS_UNSPECIFIED",
            "PIPELINE_RUN_CANCELLED"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Cancelled status."
          ],
          "description": "Pipelinerun status the user can provide. Used for cancellation.",
          "type": "string"
        }
      },
      "id": "PipelineRun"
    },
    "GitHubConfig": {
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "description": "OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "format": "int64",
          "description": "GitHub App installation id.",
          "type": "string"
        }
      },
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "metadata": {
[...]
