{
  "version_module": true,
  "documentationLink": "https://cloud.google.com/deploy/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "version": "v1",
  "revision": "20230118",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "Config": {
      "description": "Service-wide configuration.",
      "id": "Config",
      "type": "object",
      "properties": {
        "supportedVersions": {
          "type": "array",
          "items": {
            "$ref": "SkaffoldVersion"
          },
          "description": "All supported versions of Skaffold."
        },
        "name": {
          "type": "string",
          "description": "Name of the configuration."
        },
        "defaultSkaffoldVersion": {
          "type": "string",
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version."
        }
      }
    },
    "DefaultPool": {
      "description": "Execution using the default Cloud Build pool.",
      "id": "DefaultPool",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used."
        },
        "artifactStorage": {
          "type": "string",
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used."
        }
      }
    },
    "Job": {
      "properties": {
        "deployJob": {
          "readOnly": true,
          "$ref": "DeployJob",
          "description": "Output only. A deploy Job."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the Job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted."
          ],
          "readOnly": true
        },
        "verifyJob": {
          "description": "Output only. A verify Job.",
          "readOnly": true,
          "$ref": "VerifyJob"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the Job.",
          "type": "string"
        },
        "jobRun": {
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Job represents an operation for a `Rollout`.",
      "id": "Job",
      "type": "object"
    },
    "ApproveRolloutRequest": {
      "id": "ApproveRolloutRequest",
      "properties": {
        "approved": {
          "description": "Required. True = approve; false = reject",
          "type": "boolean"
        }
      },
      "description": "The request object used by `ApproveRollout`.",
      "type": "object"
    },
    "Rollout": {
      "description": "A `Rollout` resource in the Google Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`.",
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations."
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `Rollout`.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "targetId": {
          "description": "Required. The ID of Target to which this `Rollout` is deploying.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the `Rollout` was created."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes."
        },
        "description": {
          "type": "string",
          "description": "Description of the `Rollout` for user purposes. Max length is 255 characters."
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. Additional information about the rollout failure, if available.",
          "readOnly": true
        },
        "deployFailureCause": {
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the alloted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "enqueueTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "readOnly": true
        },
        "deployEndTime": {
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` finished deploying.",
          "format": "google-datetime",
          "type": "string"
        },
        "approvalState": {
          "type": "string",
          "description": "Output only. Approval state of the `Rollout`.",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the `Rollout`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/{release}/rollouts/a-z{0,62}."
        },
        "deployStartTime": {
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "approveTime": {
          "readOnly": true,
          "description": "Output only. Time at which the `Rollout` was approved.",
          "type": "string",
          "format": "google-datetime"
        },
        "deployingBuild": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects/{project}/locations/{location}/builds/{build}`.",
          "type": "string"
        },
        "phases": {
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "readOnly": true,
          "items": {
            "$ref": "Phase"
          },
          "type": "array"
        },
        "metadata": {
          "$ref": "Metadata",
          "readOnly": true,
          "description": "Output only. Metadata contains information about the rollout."
        },
        "state": {
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered."
          ],
          "description": "Output only. Current state of the `Rollout`.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE"
          ]
        }
      },
      "type": "object",
      "id": "Rollout"
    },
    "ReleaseRenderEvent": {
      "properties": {
        "message": {
          "description": "Debug message for when a render transition occurs. Provides further details as rendering progresses through render states.",
          "type": "string"
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReleaseRenderEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_render\" Platform Log event that describes the render status change."
    },
    "AnthosCluster": {
      "type": "object",
      "description": "Information specifying an Anthos Cluster.",
      "properties": {
        "membership": {
          "description": "Membership of the GKE Hub-registered cluster to which to apply the Skaffold configuration. Format is `projects/{project}/locations/{location}/memberships/{membership_name}`.",
          "type": "string"
        }
      },
      "id": "AnthosCluster"
    },
    "DeployJobRun": {
      "type": "object",
      "properties": {
        "failureCause": {
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [Required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "The deploy build did not complete within the alloted time.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "description": "Output only. The reason the deploy failed. This will always be unspecified while the deploy is in progress or if it succeeded.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "readOnly": true
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the deploy failure, if available."
        },
        "build": {
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy. Format is projects/{project}/locations/{location}/builds/{build}.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the deploy job run.",
          "readOnly": true,
          "$ref": "DeployJobRunMetadata"
        }
      },
      "id": "DeployJobRun",
      "description": "DeployJobRun contains information specific to a deploy `JobRun`."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "RetryJobRequest": {
      "type": "object",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Required. The job ID for the Job to retry."
        },
        "phaseId": {
          "description": "Required. The phase ID the Job to retry belongs to.",
          "type": "string"
        }
      },
      "description": "RetryJobRequest is the request object used by `RetryJob`.",
      "id": "RetryJobRequest"
    },
    "Strategy": {
      "type": "object",
      "id": "Strategy",
      "description": "Strategy contains deployment strategy information.",
      "properties": {
        "standard": {
          "$ref": "Standard",
          "description": "Standard deployment strategy executes a single deploy and allows verifying the deployment."
        }
      }
    },
    "Phase": {
      "type": "object",
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "properties": {
        "deploymentJobs": {
          "description": "Output only. Deployment job composition.",
          "$ref": "DeploymentJobs",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the Phase.",
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the Phase.",
          "type": "string"
        }
      },
      "id": "Phase"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object"
    },
    "PipelineCondition": {
      "id": "PipelineCondition",
      "properties": {
        "targetsPresentCondition": {
          "description": "Details around targets enumerated in the pipeline.",
          "$ref": "TargetsPresentCondition"
        },
        "pipelineReadyCondition": {
          "$ref": "PipelineReadyCondition",
          "description": "Details around the Pipeline's overall status."
        },
        "targetsTypeCondition": {
          "$ref": "TargetsTypeCondition",
          "description": "Details on the whether the targets enumerated in the pipeline are of the same type."
        }
      },
      "description": "PipelineCondition contains all conditions relevant to a Delivery Pipeline.",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "ListRolloutsResponse is the response object reutrned by `ListRollouts`.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "type": "array",
          "description": "The `Rollout` objects."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "VerifyJobRun": {
      "properties": {
        "failureCause": {
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify build did not complete within the alloted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "readOnly": true,
          "type": "string"
        },
        "failureMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the verify failure, if available."
        },
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is projects/{project}/locations/{location}/builds/{build}.",
          "readOnly": true,
          "type": "string"
        },
        "artifactUri": {
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "readOnly": true,
          "type": "string"
        },
        "eventLogPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI."
        }
      },
      "id": "VerifyJobRun",
      "type": "object",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`."
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "RetryJobResponse": {
      "description": "The response object from 'RetryJob'.",
      "id": "RetryJobResponse",
      "properties": {},
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListReleasesResponse": {
      "description": "The response object from `ListReleases`.",
      "id": "ListReleasesResponse",
      "type": "object",
      "properties": {
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "description": "The `Release` objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AbandonReleaseRequest": {
      "properties": {},
      "id": "AbandonReleaseRequest",
      "type": "object",
      "description": "The request object used by `AbandonRelease`."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`.",
          "$ref": "CloudRunMetadata",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata includes information associated with a `Rollout`."
    },
    "Policy": {
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "Standard": {
      "type": "object",
      "description": "Standard represents the standard deployment strategy.",
      "properties": {
        "verify": {
          "description": "Whether to verify a deployment.",
          "type": "boolean"
        }
      },
      "id": "Standard"
    },
    "TargetsPresentCondition": {
      "type": "object",
      "id": "TargetsPresentCondition",
      "properties": {
        "status": {
          "description": "True if there aren't any missing Targets.",
          "type": "boolean"
        },
        "missingTargets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of Target names that do not exist. For example, projects/{project_id}/locations/{location_name}/targets/{target_name}."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time the condition was updated."
        }
      },
      "description": "TargetsPresentCondition contains information on any Targets defined in the Delivery Pipeline that do not actually exist."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Release": {
      "description": "A `Release` resource in the Google Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "properties": {
        "renderStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the render began."
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique identifier of the `Release`.",
          "type": "string"
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetSnapshots": {
          "type": "array",
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "items": {
            "$ref": "Target"
          },
          "readOnly": true
        },
        "targetRenders": {
          "additionalProperties": {
            "$ref": "TargetRender"
          },
          "readOnly": true,
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `Release` was created.",
          "format": "google-datetime"
        },
        "deliveryPipelineSnapshot": {
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time.",
          "$ref": "DeliveryPipeline",
          "readOnly": true
        },
        "renderState": {
          "readOnly": true,
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "description": "Output only. Current state of the render operation."
        },
        "renderEndTime": {
          "readOnly": true,
          "description": "Output only. Time at which the render completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the `Release`. Format is projects/{project}/ locations/{location}/deliveryPipelines/{deliveryPipeline}/ releases/a-z{0,62}."
        },
        "targetArtifacts": {
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "additionalProperties": {
            "$ref": "TargetArtifact"
          },
          "type": "object",
          "readOnly": true
        },
        "skaffoldConfigPath": {
          "description": "Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the `Release`. Max length is 255 characters."
        },
        "skaffoldVersion": {
          "description": "The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Google Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "skaffoldConfigUri": {
          "description": "Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "buildArtifacts": {
          "type": "array",
          "items": {
            "$ref": "BuildArtifact"
          },
          "description": "List of artifacts to pass through to Skaffold command."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "abandoned": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this is an abandoned release."
        }
      },
      "id": "Release",
      "type": "object"
    },
    "DeployJobRunMetadata": {
      "id": "DeployJobRunMetadata",
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "type": "object",
      "properties": {
        "cloudRun": {
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`.",
          "$ref": "CloudRunMetadata"
        }
      }
    },
    "ApproveRolloutResponse": {
      "properties": {},
      "type": "object",
      "description": "The response object from `ApproveRollout`.",
      "id": "ApproveRolloutResponse"
    },
    "ListJobRunsResponse": {
      "description": "ListJobRunsResponse is the response object returned by `ListJobRuns`.",
      "id": "ListJobRunsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached",
          "type": "array"
        },
        "jobRuns": {
          "items": {
            "$ref": "JobRun"
          },
          "description": "The `JobRun` objects.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "PrivatePool": {
      "id": "PrivatePool",
      "description": "Execution using a private Cloud Build pool.",
      "properties": {
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects/{project}/locations/{location}/workerPools/{pool}`."
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeliveryPipeline": {
      "id": "DeliveryPipeline",
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy."
        },
        "suspended": {
          "type": "boolean",
          "description": "When suspended, no new releases or rollouts can be created, but in-progress ones will complete."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes."
        },
        "condition": {
          "readOnly": true,
          "description": "Output only. Information around the state of the Delivery Pipeline.",
          "$ref": "PipelineCondition"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the pipeline was created.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `DeliveryPipeline`.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the `DeliveryPipeline`. Format is projects/{project}/ locations/{location}/deliveryPipelines/a-z{0,62}."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "serialPipeline": {
          "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
          "$ref": "SerialPipeline"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the pipeline was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the `DeliveryPipeline`. Max length is 255 characters."
        }
      },
      "type": "object",
      "description": "A `DeliveryPipeline` resource in the Google Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress."
    },
    "Target": {
      "description": "A `Target` resource in the Google Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed.",
      "properties": {
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be \u003c= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "requireApproval": {
          "type": "boolean",
          "description": "Optional. Whether or not the `Target` requires approval."
        },
        "anthosCluster": {
          "$ref": "AnthosCluster",
          "description": "Information specifying an Anthos Cluster."
        },
        "executionConfigs": {
          "description": "Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`.",
          "items": {
            "$ref": "ExecutionConfig"
          },
          "type": "array"
        },
        "run": {
          "$ref": "CloudRunLocation",
          "description": "Information specifying a Cloud Run deployment target."
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the `Target` was created."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetId": {
          "type": "string",
          "description": "Output only. Resource id of the `Target`.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Most recent time at which the `Target` was updated.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `Target`.",
          "readOnly": true
        },
        "name": {
          "description": "Optional. Name of the `Target`. Format is projects/{project}/locations/{location}/targets/a-z{0,62}.",
          "type": "string"
        },
        "gke": {
          "description": "Information specifying a GKE Cluster.",
          "$ref": "GkeCluster"
        },
        "description": {
          "description": "Optional. Description of the `Target`. Max length is 255 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Target"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "TargetRender": {
      "type": "object",
      "properties": {
        "renderingBuild": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects/{project}/locations/{location}/builds/{build}`."
        },
        "renderingState": {
          "description": "Output only. Current state of the render operation for this Target.",
          "readOnly": true,
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "type": "string"
        },
        "failureCause": {
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ],
          "type": "string",
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "readOnly": true,
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](/deploy/docs/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the render failure, if available.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details of rendering for a single target.",
      "id": "TargetRender"
    },
    "BuildArtifact": {
      "id": "BuildArtifact",
      "type": "object",
      "description": "Description of an a image to use during Skaffold rendering.",
      "properties": {
        "tag": {
          "description": "Image tag to use. This will generally be the full path to an image, such as \"gcr.io/my-project/busybox:1.2.3\" or \"gcr.io/my-project/busybox@sha256:abc123\".",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "Image name in Skaffold configuration."
        }
      }
    },
    "TargetNotificationEvent": {
      "properties": {
        "target": {
          "type": "string",
          "description": "The name of the `Target`."
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/target_notification\" Platform Log event that describes the failure to send target status change Pub/Sub notification."
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "TargetsTypeCondition": {
      "id": "TargetsTypeCondition",
      "properties": {
        "errorDetails": {
          "type": "string",
          "description": "Human readable error message."
        },
        "status": {
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters.",
          "type": "boolean"
        }
      },
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type.",
      "type": "object"
    },
    "ListDeliveryPipelinesResponse": {
      "type": "object",
      "properties": {
        "deliveryPipelines": {
          "type": "array",
          "description": "The `DeliveryPipeline` objects.",
          "items": {
            "$ref": "DeliveryPipeline"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response object from `ListDeliveryPipelines`.",
      "id": "ListDeliveryPipelinesResponse"
    },
    "RolloutNotificationEvent": {
      "type": "object",
      "id": "RolloutNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/rollout_notification\" Platform Log event that describes the failure to send rollout status change Pub/Sub notification.",
      "properties": {
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "type": "string"
        },
        "pipelineUid": {
          "description": "Unique identifier of the `DeliveryPipeline`.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "targetId": {
          "type": "string",
          "description": "ID of the `Target` that the rollout is deployed to."
        },
        "rollout": {
          "description": "The name of the `Rollout`.",
          "type": "string"
        }
      }
    },
    "ListTargetsResponse": {
      "description": "The response object from `ListTargets`.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "The `Target` objects."
        }
      },
      "id": "ListTargetsResponse",
      "type": "object"
    },
    "ReleaseNotificationEvent": {
      "properties": {
        "type": {
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "message": {
          "type": "string",
          "description": "Debug message for when a notification fails to send."
        },
        "release": {
          "description": "The name of the `Release`.",
          "type": "string"
        }
      },
      "id": "ReleaseNotificationEvent",
      "description": "Payload proto for \"clouddeploy.googleapis.com/release_notification\" Platform Log event that describes the failure to send release status change Pub/Sub notification.",
      "type": "object"
    },
    "JobRunNotificationEvent": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        },
        "targetId": {
          "description": "ID of the `Target`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure.",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ]
        },
        "jobRun": {
          "description": "The name of the `JobRun`.",
          "type": "string"
        },
        "rolloutUid": {
          "description": "Unique identifier of the `Rollout`.",
          "type": "string"
        },
        "pipelineUid": {
          "type": "string",
          "description": "Unique identifier of the `DeliveryPipeline`."
        },
        "releaseUid": {
          "type": "string",
          "description": "Unique identifier of the `Release`."
        }
      },
      "description": "Payload proto for \"clouddeploy.googleapis.com/jobrun_notification\" Platform Log event that describes the failure to send JobRun resource update Pub/Sub notification.",
      "id": "JobRunNotificationEvent"
    },
    "DeploymentJobs": {
      "properties": {
        "verifyJob": {
          "description": "Output only. The verify Job. Runs after a deploy if the deploy succeeds.",
          "$ref": "Job",
          "readOnly": true
        },
        "deployJob": {
          "$ref": "Job",
          "readOnly": true,
          "description": "Output only. The deploy Job. This is the first job run in the phase."
        }
      },
      "description": "Deployment job composition.",
      "type": "object",
      "id": "DeploymentJobs"
    },
    "TargetArtifact": {
      "type": "object",
      "description": "The artifacts produced by a target render operation.",
      "properties": {
        "manifestPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File path of the rendered manifest relative to the URI."
        },
        "artifactUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of a directory containing the artifacts. This contains deployment configuration used by Skaffold during a rollout, and all paths are relative to this location."
        },
        "skaffoldConfigPath": {
          "type": "string",
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true
        }
      },
      "id": "TargetArtifact"
    },
    "DeployJob": {
      "id": "DeployJob",
      "type": "object",
      "properties": {},
      "description": "A deploy Job."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "VerifyJob": {
      "properties": {},
      "id": "VerifyJob",
      "description": "A verify Job.",
      "type": "object"
    },
    "SerialPipeline": {
      "type": "object",
      "id": "SerialPipeline",
      "properties": {
        "stages": {
          "description": "Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "items": {
            "$ref": "Stage"
          },
          "type": "array"
        }
      },
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`."
    },
    "DeliveryPipelineNotificationEvent": {
      "description": "Payload proto for \"clouddeploy.googleapis.com/deliverypipeline_notification\" Platform Log event that describes the failure to send delivery pipeline status change Pub/Sub notification.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PUBSUB_NOTIFICATION_FAILURE",
            "TYPE_RENDER_STATUES_CHANGE"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "A Pub/Sub notification failed to be sent.",
            "Deprecated: This field is never used. Use release_render log type instead."
          ],
          "description": "Type of this notification, e.g. for a Pub/Sub failure."
        },
        "deliveryPipeline": {
          "type": "string",
          "description": "The name of the `Delivery Pipeline`."
        },
        "message": {
          "description": "Debug message for when a notification fails to send.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeliveryPipelineNotificationEvent"
    },
    "SkaffoldVersion": {
      "description": "Details of a supported Skaffold version.",
      "id": "SkaffoldVersion",
      "properties": {
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "supportEndDate": {
          "$ref": "Date",
          "description": "Date when this version is expected to no longer be supported."
        }
      },
      "type": "object"
    },
    "CloudRunLocation": {
      "id": "CloudRunLocation",
      "description": "Information specifying where to deploy a Cloud Run Service.",
      "properties": {
        "location": {
          "description": "Required. The location for the Cloud Run Service. Format must be `projects/{project}/locations/{location}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobRun": {
      "id": "JobRun",
      "type": "object",
      "description": "A `JobRun` resource in the Google Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed."
          ],
          "type": "string",
          "description": "Output only. The current state of the `JobRun`."
        },
        "uid": {
          "type": "string",
          "description": "Output only. Unique identifier of the `JobRun`.",
          "readOnly": true
        },
        "phaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in."
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to."
        },
        "startTime": {
          "description": "Output only. Time at which the `JobRun` was started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deployJobRun": {
          "readOnly": true,
          "description": "Output only. Information specific to a deploy `JobRun`.",
          "$ref": "DeployJobRun"
        },
        "endTime": {
          "description": "Output only. Time at which the `JobRun` ended.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the `JobRun`. Format is projects/{project}/locations/{location}/ deliveryPipelines/{deliveryPipeline}/releases/{releases}/rollouts/ {rollouts}/jobRuns/{uuid}."
        },
        "verifyJobRun": {
          "$ref": "VerifyJobRun",
          "description": "Output only. Information specific to a verify `JobRun`.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the `JobRun` was created.",
          "readOnly": true
        }
      }
    },
    "ExecutionConfig": {
      "id": "ExecutionConfig",
      "description": "Configuration of the environment to use when calling Skaffold.",
      "type": "object",
      "properties": {
        "executionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Execution timeout for a Cloud Build Execution. This must be between 10m and 24h in seconds format. If unspecified, a default timeout of 1h is used."
        },
        "usages": {
          "items": {
            "type": "string",
            "enum": [
              "EXECUTION_ENVIRONMENT_USAGE_UNSPECIFIED",
              "RENDER",
              "DEPLOY",
              "VERIFY"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Use for rendering.",
              "Use for deploying and deployment hooks.",
              "Use for deployment verification."
            ]
          },
          "type": "array",
          "description": "Required. Usages when this configuration should be applied."
        },
        "privatePool": {
          "$ref": "PrivatePool",
          "description": "Optional. Use private Cloud Build pool."
        },
        "defaultPool": {
          "description": "Optional. Use default Cloud Build pool.",
          "$ref": "DefaultPool"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location in which to store execution outputs. This can either be a bucket (\"gs://my-bucket\") or a path within a bucket (\"gs://my-bucket/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "Optional. The resource name of the `WorkerPool`, with the format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. If this optional field is unspecified, the default Cloud Build pool will be used."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) is used."
        }
      }
    },
    "PipelineReadyCondition": {
      "id": "PipelineReadyCondition",
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time the condition was updated.",
          "type": "string"
        }
      },
      "description": "PipelineReadyCondition contains information around the status of the Pipeline."
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "GkeCluster": {
      "description": "Information specifying a GKE Cluster.",
      "properties": {
        "internalIp": {
          "type": "boolean",
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/private-cluster-concept)."
        },
        "cluster": {
          "description": "Information specifying a GKE Cluster. Format is `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GkeCluster"
    },
    "Stage": {
      "description": "Stage specifies a location to which to deploy.",
      "type": "object",
      "properties": {
        "targetId": {
          "type": "string",
          "description": "The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects/project/locations/location/targets/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`."
        },
        "strategy": {
          "description": "Optional. The strategy to use for a `Rollout` to this stage.",
          "$ref": "Strategy"
        },
        "profiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Skaffold profiles to use when rendering the manifest for this stage's `Target`."
        }
      },
      "id": "Stage"
    },
    "CloudRunMetadata": {
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "id": "CloudRunMetadata",
      "type": "object",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`.",
          "readOnly": true
        },
        "serviceUrls": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "type": "array",
          "readOnly": true
        },
        "service": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is projects/{project}/locations/{location}/services/{service}."
        }
      }
    },
    "AbandonReleaseResponse": {
      "id": "AbandonReleaseResponse",
      "type": "object",
      "description": "The response object for `AbandonRelease`.",
      "properties": {}
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object"
    }
  },
  "description": "",
  "id": "clouddeploy:v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "name": "clouddeploy",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "Google Cloud Deploy API",
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "clouddeploy.projects.locations.get"
            },
            "getConfig": {
              "response": {
                "$ref": "Config"
              },
              "id": "clouddeploy.projects.locations.getConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
              "httpMethod": "GET",
              "description": "Gets the configuration for a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of requested configuration.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "id": "clouddeploy.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "clouddeploy.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "clouddeploy.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "id": "clouddeploy.projects.locations.operations.cancel"
                },
                "list": {
                  "id": "clouddeploy.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                }
              }
            },
            "deliveryPipelines": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "DeliveryPipeline"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "clouddeploy.projects.locations.deliveryPipelines.patch",
                  "parameters": {
                    "updateMask": {
[...]
