{
  "version": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://cloudkms.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "version_module": true,
  "batchPath": "batch",
  "rootUrl": "https://cloudkms.googleapis.com/",
  "revision": "20230307",
  "baseUrl": "https://cloudkms.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "schemas": {
    "AsymmetricSignResponse": {
      "properties": {
        "protectionLevel": {
          "description": "The ProtectionLevel of the CryptoKeyVersion used for signing.",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ],
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "type": "string"
        },
        "verifiedDigestCrc32c": {
          "description": "Integrity verification field. A flag indicating whether AsymmetricSignRequest.digest_crc32c was received by KeyManagementService and used for the integrity verification of the digest. A false value of this field indicates either that AsymmetricSignRequest.digest_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set AsymmetricSignRequest.digest_crc32c but this field is still false, discard the response and perform a limited number of retries.",
          "type": "boolean"
        },
        "signature": {
          "type": "string",
          "description": "The created signature.",
          "format": "byte"
        },
        "signatureCrc32c": {
          "format": "int64",
          "type": "string",
          "description": "Integrity verification field. A CRC32C checksum of the returned AsymmetricSignResponse.signature. An integrity check of AsymmetricSignResponse.signature can be performed by computing the CRC32C checksum of AsymmetricSignResponse.signature and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
        },
        "verifiedDataCrc32c": {
          "type": "boolean",
          "description": "Integrity verification field. A flag indicating whether AsymmetricSignRequest.data_crc32c was received by KeyManagementService and used for the integrity verification of the data. A false value of this field indicates either that AsymmetricSignRequest.data_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set AsymmetricSignRequest.data_crc32c but this field is still false, discard the response and perform a limited number of retries."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the CryptoKeyVersion used for signing. Check this field to verify that the intended resource was used for signing."
        }
      },
      "type": "object",
      "id": "AsymmetricSignResponse",
      "description": "Response message for KeyManagementService.AsymmetricSign."
    },
    "MacSignRequest": {
      "id": "MacSignRequest",
      "type": "object",
      "description": "Request message for KeyManagementService.MacSign.",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. The data to sign. The MAC tag is computed over this data field based on the specific algorithm."
        },
        "dataCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the MacSignRequest.data. If specified, KeyManagementService will verify the integrity of the received MacSignRequest.data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(MacSignRequest.data) is equal to MacSignRequest.data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EkmConfig": {
      "id": "EkmConfig",
      "description": "An EkmConfig is a singleton resource that represents configuration parameters that apply to all CryptoKeys and CryptoKeyVersions with a ProtectionLevel of EXTERNAL_VPC in a given project and location.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for the EkmConfig in the format `projects/*/locations/*/ekmConfig`."
        },
        "defaultEkmConnection": {
          "type": "string",
          "description": "Optional. Resource name of the default EkmConnection. Setting this field to the empty string removes the default."
        }
      },
      "type": "object"
    },
    "CryptoKeyVersion": {
      "description": "A CryptoKeyVersion represents an individual cryptographic key, and the associated key material. An ENABLED version can be used for cryptographic operations. For security reasons, the raw cryptographic key material represented by a CryptoKeyVersion can never be viewed or exported. It can only be used to encrypt, decrypt, or sign data when an authorized user or application invokes Cloud KMS.",
      "type": "object",
      "properties": {
        "destroyTime": {
          "type": "string",
          "description": "Output only. The time this CryptoKeyVersion's key material is scheduled for destruction. Only present if state is DESTROY_SCHEDULED.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "attestation": {
          "readOnly": true,
          "$ref": "KeyOperationAttestation",
          "description": "Output only. Statement that was generated and signed by the HSM at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only provided for key versions with protection_level HSM."
        },
        "algorithm": {
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest.",
            "ECDSA on the NIST P-384 curve with a SHA384 digest.",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level.",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ],
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ],
          "description": "Output only. The CryptoKeyVersionAlgorithm that this CryptoKeyVersion supports.",
          "type": "string",
          "readOnly": true
        },
        "generateTime": {
          "description": "Output only. The time this CryptoKeyVersion's key material was generated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "importJob": {
          "description": "Output only. The name of the ImportJob used in the most recent import of this CryptoKeyVersion. Only present if the underlying key material was imported.",
          "readOnly": true,
          "type": "string"
        },
        "externalDestructionFailureReason": {
          "type": "string",
          "description": "Output only. The root cause of the most recent external destruction failure. Only present if state is EXTERNAL_DESTRUCTION_FAILED.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name for this CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`.",
          "readOnly": true
        },
        "destroyEventTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this CryptoKeyVersion's key material was destroyed. Only present if state is DESTROYED.",
          "type": "string"
        },
        "reimportEligible": {
          "description": "Output only. Whether or not this key version is eligible for reimport, by being specified as a target in ImportCryptoKeyVersionRequest.crypto_key_version.",
          "type": "boolean",
          "readOnly": true
        },
        "importTime": {
          "description": "Output only. The time at which this CryptoKeyVersion's key material was most recently imported.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "externalProtectionLevelOptions": {
          "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels.",
          "$ref": "ExternalProtectionLevelOptions"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which this CryptoKeyVersion was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "importFailureReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The root cause of the most recent import failure. Only present if state is IMPORT_FAILED."
        },
        "state": {
          "enumDescriptions": [
            "Not specified.",
            "This version is still being generated. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version may be used for cryptographic operations.",
            "This version may not be used, but the key material is still available, and the version can be placed back into the ENABLED state.",
            "This version is destroyed, and the key material is no longer stored. This version may only become ENABLED again if this version is reimport_eligible and the original key material is reimported with a call to KeyManagementService.ImportCryptoKeyVersion.",
            "This version is scheduled for destruction, and will be destroyed soon. Call RestoreCryptoKeyVersion to put it back into the DISABLED state.",
            "This version is still being imported. It may not be used, enabled, disabled, or destroyed yet. Cloud KMS will automatically mark this version ENABLED as soon as the version is ready.",
            "This version was not imported successfully. It may not be used, enabled, disabled, or destroyed. The submitted key material has been discarded. Additional details can be found in CryptoKeyVersion.import_failure_reason.",
            "This version was not generated successfully. It may not be used, enabled, disabled, or destroyed. Additional details can be found in CryptoKeyVersion.generation_failure_reason.",
            "This version was destroyed, and it may not be used or enabled again. Cloud KMS is waiting for the corresponding key material residing in an external key manager to be destroyed.",
            "This version was destroyed, and it may not be used or enabled again. However, Cloud KMS could not confirm that the corresponding key material residing in an external key manager was destroyed. Additional details can be found in CryptoKeyVersion.external_destruction_failure_reason."
          ],
          "type": "string",
          "description": "The current state of the CryptoKeyVersion.",
          "enum": [
            "CRYPTO_KEY_VERSION_STATE_UNSPECIFIED",
            "PENDING_GENERATION",
            "ENABLED",
            "DISABLED",
            "DESTROYED",
            "DESTROY_SCHEDULED",
            "PENDING_IMPORT",
            "IMPORT_FAILED",
            "GENERATION_FAILED",
            "PENDING_EXTERNAL_DESTRUCTION",
            "EXTERNAL_DESTRUCTION_FAILED"
          ]
        },
        "generationFailureReason": {
          "description": "Output only. The root cause of the most recent generation failure. Only present if state is GENERATION_FAILED.",
          "readOnly": true,
          "type": "string"
        },
        "protectionLevel": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ],
          "description": "Output only. The ProtectionLevel describing how crypto operations are performed with this CryptoKeyVersion.",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "readOnly": true
        }
      },
      "id": "CryptoKeyVersion"
    },
    "ServiceResolver": {
      "type": "object",
      "description": "A ServiceResolver represents an EKM replica that can be reached within an EkmConnection.",
      "properties": {
        "serviceDirectoryService": {
          "description": "Required. The resource name of the Service Directory service pointing to an EKM replica, in the format `projects/*/locations/*/namespaces/*/services/*`.",
          "type": "string"
        },
        "serverCertificates": {
          "description": "Required. A list of leaf server certificates used to authenticate HTTPS connections to the EKM replica. Currently, a maximum of 10 Certificate is supported.",
          "items": {
            "$ref": "Certificate"
          },
          "type": "array"
        },
        "hostname": {
          "type": "string",
          "description": "Required. The hostname of the EKM replica used at TLS and HTTP layers."
        },
        "endpointFilter": {
          "description": "Optional. The filter applied to the endpoints of the resolved service. If no filter is specified, all endpoints will be considered. An endpoint will be chosen arbitrarily from the filtered list for each request. For endpoint filter syntax and examples, see https://cloud.google.com/service-directory/docs/reference/rpc/google.cloud.servicedirectory.v1#resolveservicerequest.",
          "type": "string"
        }
      },
      "id": "ServiceResolver"
    },
    "Digest": {
      "type": "object",
      "description": "A Digest holds a cryptographic message digest.",
      "id": "Digest",
      "properties": {
        "sha256": {
          "description": "A message digest produced with the SHA-256 algorithm.",
          "type": "string",
          "format": "byte"
        },
        "sha384": {
          "description": "A message digest produced with the SHA-384 algorithm.",
          "format": "byte",
          "type": "string"
        },
        "sha512": {
          "format": "byte",
          "type": "string",
          "description": "A message digest produced with the SHA-512 algorithm."
        }
      }
    },
    "CryptoKey": {
      "description": "A CryptoKey represents a logical key that can be used for cryptographic operations. A CryptoKey is made up of zero or more versions, which represent the actual key material used in cryptographic operations.",
      "type": "object",
      "id": "CryptoKey",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which this CryptoKey was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destroyScheduledDuration": {
          "type": "string",
          "description": "Immutable. The period of time that versions of this key spend in the DESTROY_SCHEDULED state before transitioning to DESTROYED. If not specified at creation time, the default duration is 24 hours.",
          "format": "google-duration"
        },
        "name": {
          "description": "Output only. The resource name for this CryptoKey in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. For more information, see [Labeling Keys](https://cloud.google.com/kms/docs/labeling-keys)."
        },
        "nextRotationTime": {
          "format": "google-datetime",
          "description": "At next_rotation_time, the Key Management Service will automatically: 1. Create a new version of this CryptoKey. 2. Mark the new version as primary. Key rotations performed manually via CreateCryptoKeyVersion and UpdateCryptoKeyPrimaryVersion do not affect next_rotation_time. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted.",
          "type": "string"
        },
        "purpose": {
          "type": "string",
          "description": "Immutable. The immutable purpose of this CryptoKey.",
          "enumDescriptions": [
            "Not specified.",
            "CryptoKeys with this purpose may be used with Encrypt and Decrypt.",
            "CryptoKeys with this purpose may be used with AsymmetricSign and GetPublicKey.",
            "CryptoKeys with this purpose may be used with AsymmetricDecrypt and GetPublicKey.",
            "CryptoKeys with this purpose may be used with MacSign."
          ],
          "enum": [
            "CRYPTO_KEY_PURPOSE_UNSPECIFIED",
            "ENCRYPT_DECRYPT",
            "ASYMMETRIC_SIGN",
            "ASYMMETRIC_DECRYPT",
            "MAC"
          ]
        },
        "primary": {
          "readOnly": true,
          "$ref": "CryptoKeyVersion",
          "description": "Output only. A copy of the \"primary\" CryptoKeyVersion that will be used by Encrypt when this CryptoKey is given in EncryptRequest.name. The CryptoKey's primary version can be updated via UpdateCryptoKeyPrimaryVersion. Keys with purpose ENCRYPT_DECRYPT may have a primary. For other keys, this field will be omitted."
        },
        "rotationPeriod": {
          "format": "google-duration",
          "description": "next_rotation_time will be advanced by this period when the service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours. If rotation_period is set, next_rotation_time must also be set. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted.",
          "type": "string"
        },
        "cryptoKeyBackend": {
          "description": "Immutable. The resource name of the backend environment where the key material for all CryptoKeyVersions associated with this CryptoKey reside and where all related cryptographic operations are performed. Only applicable if CryptoKeyVersions have a ProtectionLevel of EXTERNAL_VPC, with the resource name in the format `projects/*/locations/*/ekmConnections/*`. Note, this list is non-exhaustive and may apply to additional ProtectionLevels in the future.",
          "type": "string"
        },
        "importOnly": {
          "type": "boolean",
          "description": "Immutable. Whether this key may contain imported versions only."
        },
        "versionTemplate": {
          "description": "A template describing settings for new CryptoKeyVersion instances. The properties of new CryptoKeyVersion instances created by either CreateCryptoKeyVersion or auto-rotation are controlled by this template.",
          "$ref": "CryptoKeyVersionTemplate"
        }
      }
    },
    "GenerateRandomBytesRequest": {
      "id": "GenerateRandomBytesRequest",
      "properties": {
        "lengthBytes": {
          "format": "int32",
          "description": "The length in bytes of the amount of randomness to retrieve. Minimum 8 bytes, maximum 1024 bytes.",
          "type": "integer"
        },
        "protectionLevel": {
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ],
          "description": "The ProtectionLevel to use when generating the random data. Currently, only HSM protection level is supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for KeyManagementService.GenerateRandomBytes."
    },
    "RestoreCryptoKeyVersionRequest": {
      "id": "RestoreCryptoKeyVersionRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for KeyManagementService.RestoreCryptoKeyVersion."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "MacSignResponse": {
      "type": "object",
      "id": "MacSignResponse",
      "description": "Response message for KeyManagementService.MacSign.",
      "properties": {
        "mac": {
          "format": "byte",
          "type": "string",
          "description": "The created signature."
        },
        "macCrc32c": {
          "type": "string",
          "description": "Integrity verification field. A CRC32C checksum of the returned MacSignResponse.mac. An integrity check of MacSignResponse.mac can be performed by computing the CRC32C checksum of MacSignResponse.mac and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64"
        },
        "protectionLevel": {
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "description": "The ProtectionLevel of the CryptoKeyVersion used for signing.",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        },
        "verifiedDataCrc32c": {
          "type": "boolean",
          "description": "Integrity verification field. A flag indicating whether MacSignRequest.data_crc32c was received by KeyManagementService and used for the integrity verification of the data. A false value of this field indicates either that MacSignRequest.data_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set MacSignRequest.data_crc32c but this field is still false, discard the response and perform a limited number of retries."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the CryptoKeyVersion used for signing. Check this field to verify that the intended resource was used for signing."
        }
      }
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location"
    },
    "ImportJob": {
      "type": "object",
      "id": "ImportJob",
      "description": "An ImportJob can be used to create CryptoKeys and CryptoKeyVersions using pre-existing key material, generated outside of Cloud KMS. When an ImportJob is created, Cloud KMS will generate a \"wrapping key\", which is a public/private key pair. You use the wrapping key to encrypt (also known as wrap) the pre-existing key material to protect it during the import process. The nature of the wrapping key depends on the choice of import_method. When the wrapping key generation is complete, the state will be set to ACTIVE and the public_key can be fetched. The fetched public key can then be used to wrap your pre-existing key material. Once the key material is wrapped, it can be imported into a new CryptoKeyVersion in an existing CryptoKey by calling ImportCryptoKeyVersion. Multiple CryptoKeyVersions can be imported with a single ImportJob. Cloud KMS uses the private key portion of the wrapping key to unwrap the key material. Only Cloud KMS has access to the private key. An ImportJob expires 3 days after it is created. Once expired, Cloud KMS will no longer be able to import or unwrap any key material that was wrapped with the ImportJob's public key. For more information, see [Importing a key](https://cloud.google.com/kms/docs/importing-a-key).",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which this ImportJob was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "importMethod": {
          "enumDescriptions": [
            "Not specified.",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 3072 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 4096 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 3072 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents the CKM_RSA_AES_KEY_WRAP key wrapping scheme defined in the PKCS #11 standard. In summary, this involves wrapping the raw key with an ephemeral AES key, and wrapping the ephemeral AES key with a 4096 bit RSA key. For more details, see [RSA AES key wrap mechanism](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/cos01/pkcs11-curr-v2.40-cos01.html#_Toc408226908).",
            "This ImportMethod represents RSAES-OAEP with a 3072 bit RSA key. The key material to be imported is wrapped directly with the RSA key. Due to technical limitations of RSA wrapping, this method cannot be used to wrap RSA keys for import.",
            "This ImportMethod represents RSAES-OAEP with a 4096 bit RSA key. The key material to be imported is wrapped directly with the RSA key. Due to technical limitations of RSA wrapping, this method cannot be used to wrap RSA keys for import."
          ],
          "description": "Required. Immutable. The wrapping method to be used for incoming key material.",
          "type": "string",
          "enum": [
            "IMPORT_METHOD_UNSPECIFIED",
            "RSA_OAEP_3072_SHA1_AES_256",
            "RSA_OAEP_4096_SHA1_AES_256",
            "RSA_OAEP_3072_SHA256_AES_256",
            "RSA_OAEP_4096_SHA256_AES_256",
            "RSA_OAEP_3072_SHA256",
            "RSA_OAEP_4096_SHA256"
          ]
        },
        "state": {
          "enumDescriptions": [
            "Not specified.",
            "The wrapping key for this job is still being generated. It may not be used. Cloud KMS will automatically mark this job as ACTIVE as soon as the wrapping key is generated.",
            "This job may be used in CreateCryptoKey and CreateCryptoKeyVersion requests.",
            "This job can no longer be used and may not leave this state once entered."
          ],
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "PENDING_GENERATION",
            "ACTIVE",
            "EXPIRED"
          ],
          "description": "Output only. The current state of the ImportJob, indicating if it can be used.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this ImportJob in the format `projects/*/locations/*/keyRings/*/importJobs/*`."
        },
        "expireTime": {
          "description": "Output only. The time at which this ImportJob is scheduled for expiration and can no longer be used to import key material.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "expireEventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this ImportJob expired. Only present if state is EXPIRED.",
          "readOnly": true
        },
        "publicKey": {
          "description": "Output only. The public key with which to wrap key material prior to import. Only returned if state is ACTIVE.",
          "readOnly": true,
          "$ref": "WrappingPublicKey"
        },
        "protectionLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ],
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "description": "Required. Immutable. The protection level of the ImportJob. This must match the protection_level of the version_template on the CryptoKey you attempt to import into.",
          "type": "string"
        },
        "generateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this ImportJob's key material was generated."
        },
        "attestation": {
          "$ref": "KeyOperationAttestation",
          "readOnly": true,
          "description": "Output only. Statement that was generated and signed by the key creator (for example, an HSM) at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only present if the chosen ImportMethod is one with a protection level of HSM."
        }
      }
    },
    "AsymmetricSignRequest": {
      "type": "object",
      "id": "AsymmetricSignRequest",
      "description": "Request message for KeyManagementService.AsymmetricSign.",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Optional. The data to sign. It can't be supplied if AsymmetricSignRequest.digest is supplied."
        },
        "digest": {
          "$ref": "Digest",
          "description": "Optional. The digest of the data to sign. The digest must be produced with the same digest algorithm as specified by the key version's algorithm. This field may not be supplied if AsymmetricSignRequest.data is supplied."
        },
        "digestCrc32c": {
          "type": "string",
          "description": "Optional. An optional CRC32C checksum of the AsymmetricSignRequest.digest. If specified, KeyManagementService will verify the integrity of the received AsymmetricSignRequest.digest using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(AsymmetricSignRequest.digest) is equal to AsymmetricSignRequest.digest_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64"
        },
        "dataCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the AsymmetricSignRequest.data. If specified, KeyManagementService will verify the integrity of the received AsymmetricSignRequest.data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(AsymmetricSignRequest.data) is equal to AsymmetricSignRequest.data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EncryptRequest": {
      "description": "Request message for KeyManagementService.Encrypt.",
      "type": "object",
      "properties": {
        "plaintextCrc32c": {
          "format": "int64",
          "type": "string",
          "description": "Optional. An optional CRC32C checksum of the EncryptRequest.plaintext. If specified, KeyManagementService will verify the integrity of the received EncryptRequest.plaintext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(EncryptRequest.plaintext) is equal to EncryptRequest.plaintext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
        },
        "additionalAuthenticatedData": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Optional data that, if specified, must also be provided during decryption through DecryptRequest.additional_authenticated_data. The maximum size depends on the key version's protection_level. For SOFTWARE, EXTERNAL, and EXTERNAL_VPC keys the AAD must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB."
        },
        "plaintext": {
          "description": "Required. The data to encrypt. Must be no larger than 64KiB. The maximum size depends on the key version's protection_level. For SOFTWARE, EXTERNAL, and EXTERNAL_VPC keys, the plaintext must be no larger than 64KiB. For HSM keys, the combined length of the plaintext and additional_authenticated_data fields must be no larger than 8KiB.",
          "type": "string",
          "format": "byte"
        },
        "additionalAuthenticatedDataCrc32c": {
          "format": "int64",
          "type": "string",
          "description": "Optional. An optional CRC32C checksum of the EncryptRequest.additional_authenticated_data. If specified, KeyManagementService will verify the integrity of the received EncryptRequest.additional_authenticated_data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(EncryptRequest.additional_authenticated_data) is equal to EncryptRequest.additional_authenticated_data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
        }
      },
      "id": "EncryptRequest"
    },
    "CryptoKeyVersionTemplate": {
      "type": "object",
      "description": "A CryptoKeyVersionTemplate specifies the properties to use when creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion or automatically as a result of auto-rotation.",
      "properties": {
        "algorithm": {
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ],
          "type": "string",
          "description": "Required. Algorithm to use when creating a CryptoKeyVersion based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT.",
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest.",
            "ECDSA on the NIST P-384 curve with a SHA384 digest.",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level.",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ]
        },
        "protectionLevel": {
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "description": "ProtectionLevel to use when creating a CryptoKeyVersion based on this template. Immutable. Defaults to SOFTWARE.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        }
      },
      "id": "CryptoKeyVersionTemplate"
    },
    "GenerateRandomBytesResponse": {
      "description": "Response message for KeyManagementService.GenerateRandomBytes.",
      "type": "object",
      "id": "GenerateRandomBytesResponse",
      "properties": {
        "dataCrc32c": {
          "description": "Integrity verification field. A CRC32C checksum of the returned GenerateRandomBytesResponse.data. An integrity check of GenerateRandomBytesResponse.data can be performed by computing the CRC32C checksum of GenerateRandomBytesResponse.data and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "type": "string",
          "format": "int64"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The generated data."
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "KeyRing": {
      "description": "A KeyRing is a toplevel logical grouping of CryptoKeys.",
      "id": "KeyRing",
      "properties": {
        "name": {
          "description": "Output only. The resource name for the KeyRing in the format `projects/*/locations/*/keyRings/*`.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this KeyRing was created.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "ListEkmConnectionsResponse": {
      "type": "object",
      "description": "Response message for EkmService.ListEkmConnections.",
      "id": "ListEkmConnectionsResponse",
      "properties": {
        "totalSize": {
          "description": "The total number of EkmConnections that matched the query.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListEkmConnectionsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "ekmConnections": {
          "description": "The list of EkmConnections.",
          "type": "array",
          "items": {
            "$ref": "EkmConnection"
          }
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ListKeyRingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListKeyRingsRequest.page_token to retrieve the next page of results."
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of KeyRings that matched the query.",
          "type": "integer"
        },
        "keyRings": {
          "items": {
            "$ref": "KeyRing"
          },
          "description": "The list of KeyRings.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for KeyManagementService.ListKeyRings.",
      "id": "ListKeyRingsResponse"
    },
    "AsymmetricDecryptResponse": {
      "type": "object",
      "description": "Response message for KeyManagementService.AsymmetricDecrypt.",
      "properties": {
        "plaintext": {
          "format": "byte",
          "description": "The decrypted data originally encrypted with the matching public key.",
          "type": "string"
        },
        "protectionLevel": {
          "type": "string",
          "description": "The ProtectionLevel of the CryptoKeyVersion used in decryption.",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        },
        "plaintextCrc32c": {
          "format": "int64",
          "type": "string",
          "description": "Integrity verification field. A CRC32C checksum of the returned AsymmetricDecryptResponse.plaintext. An integrity check of AsymmetricDecryptResponse.plaintext can be performed by computing the CRC32C checksum of AsymmetricDecryptResponse.plaintext and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
        },
        "verifiedCiphertextCrc32c": {
          "type": "boolean",
          "description": "Integrity verification field. A flag indicating whether AsymmetricDecryptRequest.ciphertext_crc32c was received by KeyManagementService and used for the integrity verification of the ciphertext. A false value of this field indicates either that AsymmetricDecryptRequest.ciphertext_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set AsymmetricDecryptRequest.ciphertext_crc32c but this field is still false, discard the response and perform a limited number of retries."
        }
      },
      "id": "AsymmetricDecryptResponse"
    },
    "MacVerifyResponse": {
      "id": "MacVerifyResponse",
      "properties": {
        "verifiedSuccessIntegrity": {
          "description": "Integrity verification field. This value is used for the integrity verification of [MacVerifyResponse.success]. If the value of this field contradicts the value of [MacVerifyResponse.success], discard the response and perform a limited number of retries.",
          "type": "boolean"
        },
        "success": {
          "description": "This field indicates whether or not the verification operation for MacVerifyRequest.mac over MacVerifyRequest.data was successful.",
          "type": "boolean"
        },
        "verifiedMacCrc32c": {
          "type": "boolean",
          "description": "Integrity verification field. A flag indicating whether MacVerifyRequest.mac_crc32c was received by KeyManagementService and used for the integrity verification of the data. A false value of this field indicates either that MacVerifyRequest.mac_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set MacVerifyRequest.mac_crc32c but this field is still false, discard the response and perform a limited number of retries."
        },
        "verifiedDataCrc32c": {
          "type": "boolean",
          "description": "Integrity verification field. A flag indicating whether MacVerifyRequest.data_crc32c was received by KeyManagementService and used for the integrity verification of the data. A false value of this field indicates either that MacVerifyRequest.data_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set MacVerifyRequest.data_crc32c but this field is still false, discard the response and perform a limited number of retries."
        },
        "protectionLevel": {
          "type": "string",
          "description": "The ProtectionLevel of the CryptoKeyVersion used for verification.",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ],
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ]
        },
        "name": {
          "type": "string",
          "description": "The resource name of the CryptoKeyVersion used for verification. Check this field to verify that the intended resource was used for verification."
        }
      },
      "type": "object",
      "description": "Response message for KeyManagementService.MacVerify."
    },
    "AsymmetricDecryptRequest": {
      "description": "Request message for KeyManagementService.AsymmetricDecrypt.",
      "id": "AsymmetricDecryptRequest",
      "type": "object",
      "properties": {
        "ciphertext": {
          "format": "byte",
          "type": "string",
          "description": "Required. The data encrypted with the named CryptoKeyVersion's public key using OAEP."
        },
        "ciphertextCrc32c": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An optional CRC32C checksum of the AsymmetricDecryptRequest.ciphertext. If specified, KeyManagementService will verify the integrity of the received AsymmetricDecryptRequest.ciphertext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(AsymmetricDecryptRequest.ciphertext) is equal to AsymmetricDecryptRequest.ciphertext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "ListCryptoKeysResponse": {
      "id": "ListCryptoKeysResponse",
      "description": "Response message for KeyManagementService.ListCryptoKeys.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total number of CryptoKeys that matched the query.",
          "format": "int32"
        },
        "cryptoKeys": {
          "type": "array",
          "items": {
            "$ref": "CryptoKey"
          },
          "description": "The list of CryptoKeys."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListCryptoKeysRequest.page_token to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "ListCryptoKeyVersionsResponse": {
      "type": "object",
      "properties": {
        "cryptoKeyVersions": {
          "description": "The list of CryptoKeyVersions.",
          "items": {
            "$ref": "CryptoKeyVersion"
          },
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of CryptoKeyVersions that matched the query."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListCryptoKeyVersionsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for KeyManagementService.ListCryptoKeyVersions.",
      "id": "ListCryptoKeyVersionsResponse"
    },
    "DestroyCryptoKeyVersionRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for KeyManagementService.DestroyCryptoKeyVersion.",
      "id": "DestroyCryptoKeyVersionRequest"
    },
    "UpdateCryptoKeyPrimaryVersionRequest": {
      "type": "object",
      "properties": {
        "cryptoKeyVersionId": {
          "description": "Required. The id of the child CryptoKeyVersion to use as primary.",
          "type": "string"
        }
      },
      "id": "UpdateCryptoKeyPrimaryVersionRequest",
      "description": "Request message for KeyManagementService.UpdateCryptoKeyPrimaryVersion."
    },
    "ListImportJobsResponse": {
      "description": "Response message for KeyManagementService.ListImportJobs.",
      "id": "ListImportJobsResponse",
      "type": "object",
      "properties": {
        "importJobs": {
          "type": "array",
          "description": "The list of ImportJobs.",
          "items": {
            "$ref": "ImportJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListImportJobsRequest.page_token to retrieve the next page of results.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of ImportJobs that matched the query.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ImportCryptoKeyVersionRequest": {
      "properties": {
        "importJob": {
          "description": "Required. The name of the ImportJob that was used to wrap this key material.",
          "type": "string"
        },
        "wrappedKey": {
          "format": "byte",
          "description": "Optional. The wrapped key material to import. Before wrapping, key material must be formatted. If importing symmetric key material, the expected key material format is plain bytes. If importing asymmetric key material, the expected key material format is PKCS#8-encoded DER (the PrivateKeyInfo structure from RFC 5208). When wrapping with import methods (RSA_OAEP_3072_SHA1_AES_256 or RSA_OAEP_4096_SHA1_AES_256 or RSA_OAEP_3072_SHA256_AES_256 or RSA_OAEP_4096_SHA256_AES_256), this field must contain the concatenation of: 1. An ephemeral AES-256 wrapping key wrapped with the public_key using RSAES-OAEP with SHA-1/SHA-256, MGF1 with SHA-1/SHA-256, and an empty label. 2. The formatted key to be imported, wrapped with the ephemeral AES-256 key using AES-KWP (RFC 5649). This format is the same as the format produced by PKCS#11 mechanism CKM_RSA_AES_KEY_WRAP. When wrapping with import methods (RSA_OAEP_3072_SHA256 or RSA_OAEP_4096_SHA256), this field must contain the formatted key to be imported, wrapped with the public_key using RSAES-OAEP with SHA-256, MGF1 with SHA-256, and an empty label.",
          "type": "string"
        },
        "algorithm": {
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest.",
            "ECDSA on the NIST P-384 curve with a SHA384 digest.",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level.",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ],
          "description": "Required. The algorithm of the key being imported. This does not need to match the version_template of the CryptoKey this version imports into.",
          "type": "string",
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ]
        },
        "cryptoKeyVersion": {
          "description": "Optional. The optional name of an existing CryptoKeyVersion to target for an import operation. If this field is not present, a new CryptoKeyVersion containing the supplied key material is created. If this field is present, the supplied key material is imported into the existing CryptoKeyVersion. To import into an existing CryptoKeyVersion, the CryptoKeyVersion must be a child of ImportCryptoKeyVersionRequest.parent, have been previously created via ImportCryptoKeyVersion, and be in DESTROYED or IMPORT_FAILED state. The key material and algorithm must match the previous CryptoKeyVersion exactly if the CryptoKeyVersion has ever contained key material.",
          "type": "string"
        },
        "rsaAesWrappedKey": {
          "format": "byte",
          "type": "string",
          "description": "Optional. This field has the same meaning as wrapped_key. Prefer to use that field in new work. Either that field or this field (but not both) must be specified."
        }
      },
      "type": "object",
      "id": "ImportCryptoKeyVersionRequest",
      "description": "Request message for KeyManagementService.ImportCryptoKeyVersion."
    },
    "EncryptResponse": {
      "description": "Response message for KeyManagementService.Encrypt.",
      "properties": {
        "verifiedPlaintextCrc32c": {
          "description": "Integrity verification field. A flag indicating whether EncryptRequest.plaintext_crc32c was received by KeyManagementService and used for the integrity verification of the plaintext. A false value of this field indicates either that EncryptRequest.plaintext_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set EncryptRequest.plaintext_crc32c but this field is still false, discard the response and perform a limited number of retries.",
          "type": "boolean"
        },
        "ciphertext": {
          "description": "The encrypted data.",
          "format": "byte",
          "type": "string"
        },
        "protectionLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ],
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "description": "The ProtectionLevel of the CryptoKeyVersion used in encryption."
        },
        "verifiedAdditionalAuthenticatedDataCrc32c": {
          "description": "Integrity verification field. A flag indicating whether EncryptRequest.additional_authenticated_data_crc32c was received by KeyManagementService and used for the integrity verification of the AAD. A false value of this field indicates either that EncryptRequest.additional_authenticated_data_crc32c was left unset or that it was not delivered to KeyManagementService. If you've set EncryptRequest.additional_authenticated_data_crc32c but this field is still false, discard the response and perform a limited number of retries.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the CryptoKeyVersion used in encryption. Check this field to verify that the intended resource was used for encryption."
        },
        "ciphertextCrc32c": {
          "type": "string",
          "description": "Integrity verification field. A CRC32C checksum of the returned EncryptResponse.ciphertext. An integrity check of EncryptResponse.ciphertext can be performed by computing the CRC32C checksum of EncryptResponse.ciphertext and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "EncryptResponse"
    },
    "DecryptResponse": {
      "description": "Response message for KeyManagementService.Decrypt.",
      "type": "object",
      "properties": {
        "plaintext": {
          "description": "The decrypted data originally supplied in EncryptRequest.plaintext.",
          "type": "string",
          "format": "byte"
        },
        "plaintextCrc32c": {
          "type": "string",
          "description": "Integrity verification field. A CRC32C checksum of the returned DecryptResponse.plaintext. An integrity check of DecryptResponse.plaintext can be performed by computing the CRC32C checksum of DecryptResponse.plaintext and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: receiving this response message indicates that KeyManagementService is able to successfully decrypt the ciphertext. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64"
        },
        "usedPrimary": {
          "type": "boolean",
          "description": "Whether the Decryption was performed using the primary key version."
        },
        "protectionLevel": {
          "description": "The ProtectionLevel of the CryptoKeyVersion used in decryption.",
          "type": "string",
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ]
        }
      },
      "id": "DecryptResponse"
    },
    "WrappingPublicKey": {
      "description": "The public key component of the wrapping key. For details of the type of key this public key corresponds to, see the ImportMethod.",
      "id": "WrappingPublicKey",
      "type": "object",
      "properties": {
        "pem": {
          "type": "string",
          "description": "The public key, encoded in PEM format. For more information, see the [RFC 7468](https://tools.ietf.org/html/rfc7468) sections for [General Considerations](https://tools.ietf.org/html/rfc7468#section-2) and [Textual Encoding of Subject Public Key Info] (https://tools.ietf.org/html/rfc7468#section-13)."
        }
      }
    },
    "ExternalProtectionLevelOptions": {
      "properties": {
        "ekmConnectionKeyPath": {
          "description": "The path to the external key material on the EKM when using EkmConnection e.g., \"v0/my/key\". Set this field instead of external_key_uri when using an EkmConnection.",
          "type": "string"
        },
        "externalKeyUri": {
          "type": "string",
          "description": "The URI for an external resource that this CryptoKeyVersion represents."
        }
      },
      "type": "object",
      "id": "ExternalProtectionLevelOptions",
      "description": "ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels."
    },
    "PublicKey": {
      "type": "object",
      "properties": {
        "protectionLevel": {
          "enum": [
            "PROTECTION_LEVEL_UNSPECIFIED",
            "SOFTWARE",
            "HSM",
            "EXTERNAL",
            "EXTERNAL_VPC"
          ],
          "description": "The ProtectionLevel of the CryptoKeyVersion public key.",
          "enumDescriptions": [
            "Not specified.",
            "Crypto operations are performed in software.",
            "Crypto operations are performed in a Hardware Security Module.",
            "Crypto operations are performed by an external key manager.",
            "Crypto operations are performed in an EKM-over-VPC backend."
          ],
          "type": "string"
        },
        "pemCrc32c": {
          "type": "string",
          "description": "Integrity verification field. A CRC32C checksum of the returned PublicKey.pem. An integrity check of PublicKey.pem can be performed by computing the CRC32C checksum of PublicKey.pem and comparing your results to this field. Discard the response in case of non-matching checksum values, and perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type. NOTE: This field is in Beta.",
          "format": "int64"
        },
        "algorithm": {
          "description": "The Algorithm associated with this key.",
          "type": "string",
          "enum": [
            "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
            "GOOGLE_SYMMETRIC_ENCRYPTION",
            "RSA_SIGN_PSS_2048_SHA256",
            "RSA_SIGN_PSS_3072_SHA256",
            "RSA_SIGN_PSS_4096_SHA256",
            "RSA_SIGN_PSS_4096_SHA512",
            "RSA_SIGN_PKCS1_2048_SHA256",
            "RSA_SIGN_PKCS1_3072_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA256",
            "RSA_SIGN_PKCS1_4096_SHA512",
            "RSA_SIGN_RAW_PKCS1_2048",
            "RSA_SIGN_RAW_PKCS1_3072",
            "RSA_SIGN_RAW_PKCS1_4096",
            "RSA_DECRYPT_OAEP_2048_SHA256",
            "RSA_DECRYPT_OAEP_3072_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA256",
            "RSA_DECRYPT_OAEP_4096_SHA512",
            "RSA_DECRYPT_OAEP_2048_SHA1",
            "RSA_DECRYPT_OAEP_3072_SHA1",
            "RSA_DECRYPT_OAEP_4096_SHA1",
            "EC_SIGN_P256_SHA256",
            "EC_SIGN_P384_SHA384",
            "EC_SIGN_SECP256K1_SHA256",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_SHA384",
            "HMAC_SHA512",
            "HMAC_SHA224",
            "EXTERNAL_SYMMETRIC_ENCRYPTION"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Creates symmetric encryption keys.",
            "RSASSA-PSS 2048 bit key with a SHA256 digest.",
            "RSASSA-PSS 3072 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA256 digest.",
            "RSASSA-PSS 4096 bit key with a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 with a 2048 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 3072 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA256 digest.",
            "RSASSA-PKCS1-v1_5 with a 4096 bit key and a SHA512 digest.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 2048 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 3072 bit key.",
            "RSASSA-PKCS1-v1_5 signing without encoding, with a 4096 bit key.",
            "RSAES-OAEP 2048 bit key with a SHA256 digest.",
            "RSAES-OAEP 3072 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA256 digest.",
            "RSAES-OAEP 4096 bit key with a SHA512 digest.",
            "RSAES-OAEP 2048 bit key with a SHA1 digest.",
            "RSAES-OAEP 3072 bit key with a SHA1 digest.",
            "RSAES-OAEP 4096 bit key with a SHA1 digest.",
            "ECDSA on the NIST P-256 curve with a SHA256 digest.",
            "ECDSA on the NIST P-384 curve with a SHA384 digest.",
            "ECDSA on the non-NIST secp256k1 curve. This curve is only supported for HSM protection level.",
            "HMAC-SHA256 signing with a 256 bit key.",
            "HMAC-SHA1 signing with a 160 bit key.",
            "HMAC-SHA384 signing with a 384 bit key.",
            "HMAC-SHA512 signing with a 512 bit key.",
            "HMAC-SHA224 signing with a 224 bit key.",
            "Algorithm representing symmetric encryption by an external key manager."
          ]
        },
        "name": {
          "description": "The name of the CryptoKeyVersion public key. Provided here for verification. NOTE: This field is in Beta.",
          "type": "string"
        },
        "pem": {
          "description": "The public key, encoded in PEM format. For more information, see the [RFC 7468](https://tools.ietf.org/html/rfc7468) sections for [General Considerations](https://tools.ietf.org/html/rfc7468#section-2) and [Textual Encoding of Subject Public Key Info] (https://tools.ietf.org/html/rfc7468#section-13).",
          "type": "string"
        }
      },
      "id": "PublicKey",
      "description": "The public key for a given CryptoKeyVersion. Obtained via GetPublicKey."
    },
    "Certificate": {
      "properties": {
        "notBeforeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The certificate is not valid before this time. Only present if parsed is true.",
          "readOnly": true
        },
        "sha256Fingerprint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SHA-256 certificate fingerprint as a hex string. Only present if parsed is true."
        },
        "subject": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The subject distinguished name in RFC 2253 format. Only present if parsed is true."
        },
        "issuer": {
          "description": "Output only. The issuer distinguished name in RFC 2253 format. Only present if parsed is true.",
          "type": "string",
          "readOnly": true
        },
        "rawDer": {
          "type": "string",
          "format": "byte",
          "description": "Required. The raw certificate bytes in DER format."
        },
        "serialNumber": {
          "readOnly": true,
          "description": "Output only. The certificate serial number as a hex string. Only present if parsed is true.",
          "type": "string"
        },
        "parsed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the certificate was parsed successfully."
        },
        "notAfterTime": {
          "format": "google-datetime",
          "description": "Output only. The certificate is not valid after this time. Only present if parsed is true.",
          "type": "string",
          "readOnly": true
        },
        "subjectAlternativeDnsNames": {
          "description": "Output only. The subject Alternative DNS names. Only present if parsed is true.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "Certificate",
      "description": "A Certificate represents an X.509 certificate used to authenticate HTTPS connections to EKM replicas.",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      }
    },
    "DecryptRequest": {
      "id": "DecryptRequest",
      "description": "Request message for KeyManagementService.Decrypt.",
      "properties": {
        "ciphertext": {
          "format": "byte",
          "description": "Required. The encrypted data originally returned in EncryptResponse.ciphertext.",
          "type": "string"
        },
        "ciphertextCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the DecryptRequest.ciphertext. If specified, KeyManagementService will verify the integrity of the received DecryptRequest.ciphertext using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(DecryptRequest.ciphertext) is equal to DecryptRequest.ciphertext_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64",
          "type": "string"
        },
        "additionalAuthenticatedDataCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the DecryptRequest.additional_authenticated_data. If specified, KeyManagementService will verify the integrity of the received DecryptRequest.additional_authenticated_data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(DecryptRequest.additional_authenticated_data) is equal to DecryptRequest.additional_authenticated_data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "type": "string",
          "format": "int64"
        },
        "additionalAuthenticatedData": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Optional data that must match the data originally supplied in EncryptRequest.additional_authenticated_data."
        }
      },
      "type": "object"
    },
    "MacVerifyRequest": {
      "type": "object",
      "id": "MacVerifyRequest",
      "properties": {
        "macCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the MacVerifyRequest.mac. If specified, KeyManagementService will verify the integrity of the received MacVerifyRequest.mac using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(MacVerifyRequest.tag) is equal to MacVerifyRequest.mac_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64",
          "type": "string"
        },
        "dataCrc32c": {
          "description": "Optional. An optional CRC32C checksum of the MacVerifyRequest.data. If specified, KeyManagementService will verify the integrity of the received MacVerifyRequest.data using this checksum. KeyManagementService will report an error if the checksum verification fails. If you receive a checksum error, your client should verify that CRC32C(MacVerifyRequest.data) is equal to MacVerifyRequest.data_crc32c, and if so, perform a limited number of retries. A persistent mismatch may indicate an issue in your computation of the CRC32C checksum. Note: This field is defined as int64 for reasons of compatibility across different languages. However, it is a non-negative integer, which will never exceed 2^32-1, and can be safely downconverted to uint32 in languages that support this type.",
          "format": "int64",
          "type": "string"
        },
        "mac": {
          "format": "byte",
          "type": "string",
          "description": "Required. The signature to verify."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. The data used previously as a MacSignRequest.data to generate the MAC tag."
        }
      },
      "description": "Request message for KeyManagementService.MacVerify."
    },
    "EkmConnection": {
      "type": "object",
      "id": "EkmConnection",
      "properties": {
        "keyManagementMode": {
          "enum": [
            "KEY_MANAGEMENT_MODE_UNSPECIFIED",
            "MANUAL",
            "CLOUD_KMS"
          ],
          "description": "Optional. Describes who can perform control plane operations on the EKM. If unset, this defaults to MANUAL.",
          "enumDescriptions": [
            "Not specified.",
            "EKM-side key management operations on CryptoKeys created with this EkmConnection must be initiated from the EKM directly and cannot be performed from Cloud KMS. This means that: * When creating a CryptoKeyVersion associated with this EkmConnection, the caller must supply the key path of pre-existing external key material that will be linked to the CryptoKeyVersion. * Destruction of external key material cannot be requested via the Cloud KMS API and must be performed directly in the EKM. * Automatic rotation of key material is not supported.",
            "All CryptoKeys created with this EkmConnection use EKM-side key management operations initiated from Cloud KMS. This means that: * When a CryptoKeyVersion associated with this EkmConnection is created, the EKM automatically generates new key material and a new key path. The caller cannot supply the key path of pre-existing external key material. * Destruction of external key material associated with this EkmConnection can be requested by calling DestroyCryptoKeyVersion. * Automatic rotation of key material is supported."
          ],
          "type": "string"
        },
        "serviceResolvers": {
          "items": {
            "$ref": "ServiceResolver"
          },
          "type": "array",
          "description": "A list of ServiceResolvers where the EKM can be reached. There should be one ServiceResolver per EKM replica. Currently, only a single ServiceResolver is supported."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the EkmConnection was created.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name for the EkmConnection in the format `projects/*/locations/*/ekmConnections/*`.",
          "type": "string",
          "readOnly": true
        },
        "cryptoSpacePath": {
          "type": "string",
          "description": "Optional. Identifies the EKM Crypto Space that this EkmConnection maps to. Note: This field is required if KeyManagementMode is CLOUD_KMS."
        },
        "etag": {
          "description": "Optional. Etag of the currently stored EkmConnection.",
          "type": "string"
        }
      },
      "description": "An EkmConnection represents an individual EKM connection. It can be used for creating CryptoKeys and CryptoKeyVersions with a ProtectionLevel of EXTERNAL_VPC, as well as performing cryptographic operations using keys created within the EkmConnection."
    },
    "KeyOperationAttestation": {
      "type": "object",
      "properties": {
        "certChains": {
          "description": "Output only. The certificate chains needed to validate the attestation",
          "$ref": "CertificateChains",
          "readOnly": true
        },
        "format": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The format of the attestation data.",
          "enumDescriptions": [
            "Not specified.",
            "Cavium HSM attestation compressed with gzip. Note that this format is defined by Cavium and subject to change at any time. See https://www.marvell.com/products/security-solutions/nitrox-hs-adapters/software-key-attestation.html.",
            "Cavium HSM attestation V2 compressed with gzip. This is a new format introduced in Cavium's version 3.2-08."
          ],
          "enum": [
            "ATTESTATION_FORMAT_UNSPECIFIED",
            "CAVIUM_V1_COMPRESSED",
            "CAVIUM_V2_COMPRESSED"
          ]
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The attestation data provided by the HSM when the key operation was performed.",
          "format": "byte"
        }
      },
[...]
