{
  "kind": "discovery#restDescription",
  "revision": "20220310",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "TextValues": {
      "id": "TextValues",
      "properties": {
        "values": {
          "description": "The maximum allowable length for text values is 2048 characters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "List of text values."
    },
    "EmailAddress": {
      "description": "A person's email address.",
      "type": "object",
      "id": "EmailAddress",
      "properties": {
        "emailAddress": {
          "description": "The email address.",
          "type": "string"
        }
      }
    },
    "GoogleDocsResultInfo": {
      "type": "object",
      "description": "A message containing information about a specific result. This information is passed to the scorer and beyond; in particular, GWS relies on it to format the result in the UI. Split from GoogleDocsMetadata in case we later want to reuse the message.",
      "properties": {
        "encryptedId": {
          "type": "string",
          "description": "The encrypted (user-visible) id of this object. Knowing the id is sufficient to create a canonical URL for this document."
        },
        "attachmentSha1": {
          "type": "string",
          "description": "The SHA1 hash of the object in Drive, if any."
        },
        "cosmoNameSpace": {
          "type": "integer",
          "description": "For Cosmo objects, the Cosmo namespace the object was in. This allows downstream clients to identify whether a document was created in Writely or Kix, Presently or Punch, or whether it was uploaded from GDrive. See storage_cosmo.Id.NAME_SPACE for a list of all Cosmo name spaces.",
          "format": "int32"
        },
        "shareScope": {
          "description": "The visibility indicator in the UI will be based upon this.",
          "$ref": "ShareScope"
        },
        "mimeType": {
          "type": "string",
          "description": "The mimetype of the document."
        },
        "cosmoId": {
          "$ref": "Id",
          "description": "The storage identifier for the object in Cosmo. This field is intended to used by Stratus/Moonshine integration only. It should not be exposed externally (please refer to encrypted_id for that purpose)."
        }
      },
      "id": "GoogleDocsResultInfo"
    },
    "FilterOptions": {
      "id": "FilterOptions",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters."
        },
        "filter": {
          "description": "Generic filter to restrict the search, such as `lang:en`, `site:xyz`.",
          "$ref": "Filter"
        }
      },
      "description": "Filter options to be applied on query.",
      "type": "object"
    },
    "ResultCounts": {
      "type": "object",
      "id": "ResultCounts",
      "properties": {
        "sourceResultCounts": {
          "items": {
            "$ref": "SourceResultCount"
          },
          "type": "array",
          "description": "Result count information for each source with results."
        }
      },
      "description": "Result count information"
    },
    "UserId": {
      "type": "object",
      "description": "Primary key for User resource.",
      "id": "UserId",
      "properties": {
        "type": {
          "enum": [
            "HUMAN",
            "BOT"
          ],
          "enumDescriptions": [
            "Notes on HUMAN type: 1) Leaving UserId.UserType field empty will return HUMAN as default value. This is expected because all the existing UserIds are without explicitly setting UserType, most of which are HUMAN Ids. For Bot Ids we will always set BOT in UserType field. 2) DO NOT explicitly set HUMAN as type. This is a proto2 issue, that a UserId with explicitly set default value HUMAN as type is NOT equal to an id without setting the field. aka. UserId id1 = UserId.newBuilder() .setId(\"dummy\").setType(UserType.HUMAN).build(); UserId id2 = UserId.newBuilder().setId(\"dummy\").build(); AssertThat(id1).isNotEqual(id2); AssertThat(id2.getType()).isEqualTo(UserType.HUMAN);",
            ""
          ],
          "description": "Clients do not need to send UserType to Backend, but Backend will always send this field to clients per the following rule: 1. For HUMAN Ids, the field is empty but by default .getType() will return HUMAN. 2. For BOT Ids, the field is ALWAYS set to BOT.",
          "type": "string"
        },
        "id": {
          "description": "Opaque, server-assigned ID of the User.",
          "type": "string"
        },
        "originAppId": {
          "$ref": "AppId",
          "description": "Optional. Identifier of the App involved (directly or on behalf of a human creator) in creating this message. This is not set if the user posted a message directly, but is used in the case of, for example, a message being generated by a 1P integration based on a user action (creating an event, creating a task etc). This should only be used on the BE. For clients, please use the field in the FE message proto instead (google3/apps/dynamite/v1/frontend/api/message.proto?q=origin_app_id)."
        }
      }
    },
    "ObjectValues": {
      "type": "object",
      "id": "ObjectValues",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "StructuredDataObject"
          }
        }
      },
      "description": "List of object values."
    },
    "SuggestResponse": {
      "id": "SuggestResponse",
      "description": "Response of the suggest API.",
      "type": "object",
      "properties": {
        "suggestResults": {
          "description": "List of suggestions.",
          "items": {
            "$ref": "SuggestResult"
          },
          "type": "array"
        }
      }
    },
    "FacetOptions": {
      "properties": {
        "operatorName": {
          "description": "Name of the operator chosen for faceting. @see cloudsearch.SchemaPropertyOptions",
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "description": "If object_type is set, only those objects of that type will be used to compute facets. If empty, then all objects will be used to compute facets."
        },
        "sourceName": {
          "type": "string",
          "description": "Source name to facet on. Format: datasources/{source_id} If empty, all data sources will be used."
        },
        "numFacetBuckets": {
          "description": "Maximum number of facet buckets that should be returned for this facet. Defaults to 10. Maximum value is 100.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Specifies operators to return facet results for. There will be one FacetResult for every source_name/object_type/operator_name combination.",
      "id": "FacetOptions",
      "type": "object"
    },
    "PollItemsRequest": {
      "properties": {
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "limit": {
          "type": "integer",
          "description": "Maximum number of items to return. The maximum value is 100 and the default value is 20.",
          "format": "int32"
        },
        "statusCodes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
              "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
              "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
              "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
              "API has accepted the up-to-date data of this item."
            ],
            "enum": [
              "CODE_UNSPECIFIED",
              "ERROR",
              "MODIFIED",
              "NEW_ITEM",
              "ACCEPTED"
            ],
            "type": "string"
          },
          "description": "Limit the items polled to the ones with these statuses."
        },
        "queue": {
          "description": "Queue name to fetch items from. If unspecified, PollItems will fetch from 'default' queue. The maximum length is 100 characters.",
          "type": "string"
        }
      },
      "id": "PollItemsRequest",
      "type": "object"
    },
    "Metaline": {
      "id": "Metaline",
      "properties": {
        "properties": {
          "items": {
            "$ref": "DisplayedProperty"
          },
          "description": "The list of displayed properties for the metaline. The maximum number of properties is 5.",
          "type": "array"
        }
      },
      "description": "A metaline is a list of properties that are displayed along with the search result to provide context.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation"
    },
    "SuggestResult": {
      "properties": {
        "source": {
          "description": "The source of the suggestion.",
          "$ref": "Source"
        },
        "peopleSuggestion": {
          "description": "This is present when the suggestion indicates a person. It contains more information about the person - like their email ID, name etc.",
          "$ref": "PeopleSuggestion"
        },
        "querySuggestion": {
          "description": "This field will be present if the suggested query is a word/phrase completion.",
          "$ref": "QuerySuggestion"
        },
        "suggestedQuery": {
          "type": "string",
          "description": "The suggested query that will be used for search, when the user clicks on the suggestion"
        }
      },
      "description": "One suggestion result.",
      "type": "object",
      "id": "SuggestResult"
    },
    "QuerySuggestion": {
      "type": "object",
      "id": "QuerySuggestion",
      "description": "This field does not contain anything as of now and is just used as an indicator that the suggest result was a phrase completion.",
      "properties": {}
    },
    "RetrievalImportance": {
      "id": "RetrievalImportance",
      "properties": {
        "importance": {
          "enumDescriptions": [
            "Treat the match like a body text match.",
            "Treat the match like a match against title of the item.",
            "Treat the match with higher importance than body text.",
            "Treat the match with lower importance than body text.",
            "Do not match against this field during retrieval. The property can still be used for operator matching, faceting, and suggest if desired."
          ],
          "type": "string",
          "description": "Indicates the ranking importance given to property when it is matched during retrieval. Once set, the token importance of a property cannot be changed.",
          "enum": [
            "DEFAULT",
            "HIGHEST",
            "HIGH",
            "LOW",
            "NONE"
          ]
        }
      },
      "type": "object"
    },
    "TypeInfo": {
      "description": "Next tag: 2",
      "id": "TypeInfo",
      "type": "object",
      "properties": {
        "videoInfo": {
          "description": "Contains additional video information only if document_type is VIDEO.",
          "$ref": "VideoInfo"
        }
      }
    },
    "ResultDisplayLine": {
      "description": "The collection of fields that make up a displayed line",
      "properties": {
        "fields": {
          "items": {
            "$ref": "ResultDisplayField"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ResultDisplayLine"
    },
    "ObjectOptions": {
      "id": "ObjectOptions",
      "properties": {
        "freshnessOptions": {
          "description": "The freshness options for an object.",
          "$ref": "FreshnessOptions"
        },
        "displayOptions": {
          "description": "Options that determine how the object is displayed in the Cloud Search results page.",
          "$ref": "ObjectDisplayOptions"
        }
      },
      "description": "The options for an object.",
      "type": "object"
    },
    "SortOptions": {
      "properties": {
        "operatorName": {
          "description": "Name of the operator corresponding to the field to sort on. The corresponding property must be marked as sortable.",
          "type": "string"
        },
        "sortOrder": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "Ascending is the default sort order",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SortOptions"
    },
    "TextOperatorOptions": {
      "id": "TextOperatorOptions",
      "type": "object",
      "description": "Used to provide a search operator for text properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "exactMatchWithOperator": {
          "description": "If true, the text value is tokenized as one atomic value in operator searches and facet matches. For example, if the operator name is \"genre\" and the value is \"science-fiction\" the query restrictions \"genre:science\" and \"genre:fiction\" doesn't match the item; \"genre:science-fiction\" does. Value matching is case-sensitive and does not remove special characters. If false, the text is tokenized. For example, if the value is \"science-fiction\" the queries \"genre:science\" and \"genre:fiction\" matches the item.",
          "type": "boolean"
        },
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the text property. For example, if operatorName is *subject* and the property's name is *subjectLine*, then queries like *subject:\u003cvalue\u003e* show results only where the value of the property named *subjectLine* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any text properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      }
    },
    "UploadItemRef": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the content reference. The maximum length is 2048 characters.",
          "type": "string"
        }
      },
      "id": "UploadItemRef",
      "description": "Represents an upload session reference. This reference is created via upload method. This reference is valid for 30 days after its creation. Updating of item content may refer to this uploaded content via contentDataRef."
    },
    "ErrorInfo": {
      "type": "object",
      "id": "ErrorInfo",
      "description": "Error information about the response.",
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "$ref": "ErrorMessage"
          }
        }
      }
    },
    "Interaction": {
      "type": "object",
      "id": "Interaction",
      "description": "Represents an interaction between a user and an item.",
      "properties": {
        "principal": {
          "description": "The user that acted on the item.",
          "$ref": "Principal"
        },
        "type": {
          "enumDescriptions": [
            "Invalid value.",
            "This interaction indicates the user viewed the item.",
            "This interaction indicates the user edited the item."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "VIEW",
            "EDIT"
          ]
        },
        "interactionTime": {
          "format": "google-datetime",
          "description": "The time when the user acted on the item. If multiple actions of the same type exist for a single user, only the most recent action is recorded.",
          "type": "string"
        }
      }
    },
    "CustomerSearchApplicationStats": {
      "properties": {
        "count": {
          "description": "The count of search applications for the date.",
          "format": "int64",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "Date for which search application stats were calculated."
        }
      },
      "description": "Search application stats for a customer for the given date.",
      "id": "CustomerSearchApplicationStats",
      "type": "object"
    },
    "GetCustomerQueryStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerQueryStats"
          }
        },
        "totalQueryCount": {
          "type": "string",
          "format": "int64",
          "description": "Total successful query count (status code 200) for the given date range."
        }
      },
      "id": "GetCustomerQueryStatsResponse"
    },
    "ListItemNamesForUnmappedIdentityResponse": {
      "type": "object",
      "id": "ListItemNamesForUnmappedIdentityResponse",
      "properties": {
        "itemNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GetSearchApplicationQueryStatsResponse": {
      "properties": {
        "totalQueryCount": {
          "description": "Total successful query count (status code 200) for the given date range.",
          "format": "int64",
          "type": "string"
        },
        "stats": {
          "type": "array",
          "description": "Query stats per date for a search application.",
          "items": {
            "$ref": "SearchApplicationQueryStats"
          }
        }
      },
      "type": "object",
      "description": "Response format for getting query stats for a search application between given dates.",
      "id": "GetSearchApplicationQueryStatsResponse"
    },
    "EnumValues": {
      "description": "List of enum values.",
      "properties": {
        "values": {
          "type": "array",
          "description": "The maximum allowable length for string values is 32 characters.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "EnumValues"
    },
    "SpaceId": {
      "id": "SpaceId",
      "properties": {
        "spaceId": {
          "type": "string",
          "description": "Unique, immutable ID of the Space"
        }
      },
      "description": "Primary key for Space resource.",
      "type": "object"
    },
    "DoubleOperatorOptions": {
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "id": "DoubleOperatorOptions",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PropertyDisplayOptions": {
      "properties": {
        "displayLabel": {
          "type": "string",
          "description": "The user friendly label for the property that is used if the property is specified to be displayed in ObjectDisplayOptions. If provided, the display label is shown in front of the property values when the property is part of the object display options. For example, if the property value is '1', the value by itself may not be useful context for the user. If the display name given was 'priority', then the user sees 'priority : 1' in the search results which provides clear context to search users. This is OPTIONAL; if not given, only the property values are displayed. The maximum length is 64 characters."
        }
      },
      "id": "PropertyDisplayOptions",
      "description": "The display options for a property.",
      "type": "object"
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "type": "object",
      "properties": {
        "subFilters": {
          "type": "array",
          "description": "Sub filters.",
          "items": {
            "$ref": "Filter"
          }
        },
        "logicOperator": {
          "enumDescriptions": [
            "Logical operators, which can only be applied to sub filters.",
            "",
            "NOT can only be applied on a single sub filter."
          ],
          "type": "string",
          "enum": [
            "AND",
            "OR",
            "NOT"
          ],
          "description": "The logic operator of the sub filter."
        }
      }
    },
    "ItemContent": {
      "properties": {
        "hash": {
          "type": "string",
          "description": "Hashing info calculated and provided by the API client for content. Can be used with the items.push method to calculate modified state. The maximum length is 2048 characters."
        },
        "contentFormat": {
          "enum": [
            "UNSPECIFIED",
            "HTML",
            "TEXT",
            "RAW"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "contentFormat is HTML.",
            "contentFormat is free text.",
            "contentFormat is raw bytes."
          ],
          "type": "string"
        },
        "inlineContent": {
          "description": "Content that is supplied inlined within the update method. The maximum length is 102400 bytes (100 KiB).",
          "format": "byte",
          "type": "string"
        },
        "contentDataRef": {
          "$ref": "UploadItemRef",
          "description": "Upload reference ID of a previously uploaded content via write method."
        }
      },
      "id": "ItemContent",
      "description": "Content of an item to be indexed and surfaced by Cloud Search. Only UTF-8 encoded strings are allowed as inlineContent. If the content is uploaded and not binary, it must be UTF-8 encoded.",
      "type": "object"
    },
    "ProcessingError": {
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "In case the item fields are invalid, this field contains the details about the validation errors.",
          "type": "array"
        },
        "errorMessage": {
          "description": "Description of the error.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "PROCESSING_ERROR_CODE_UNSPECIFIED",
            "MALFORMED_REQUEST",
            "UNSUPPORTED_CONTENT_FORMAT",
            "INDIRECT_BROKEN_ACL",
            "ACL_CYCLE"
          ],
          "description": "Error code indicating the nature of the error.",
          "enumDescriptions": [
            "Input only value. Use this value in Items.",
            "Item's ACL, metadata, or content is malformed or in invalid state. FieldViolations contains more details on where the problem is.",
            "Countent format is unsupported.",
            "Items with incomplete ACL information due to inheriting other items with broken ACL or having groups with unmapped descendants.",
            "ACL inheritance graph formed a cycle."
          ]
        }
      },
      "type": "object",
      "id": "ProcessingError"
    },
    "Schema": {
      "type": "object",
      "id": "Schema",
      "properties": {
        "operationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema. After modifying the schema, wait for operations to complete before indexing additional content."
        },
        "objectDefinitions": {
          "items": {
            "$ref": "ObjectDefinition"
          },
          "type": "array",
          "description": "The list of top-level objects for the data source. The maximum number of elements is 10."
        }
      },
      "description": "The schema definition for a data source."
    },
    "Name": {
      "description": "A person's name.",
      "type": "object",
      "id": "Name",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The read-only display name formatted according to the locale specified by the viewer's account or the Accept-Language HTTP header."
        }
      }
    },
    "StructuredResult": {
      "properties": {
        "person": {
          "description": "Representation of a person",
          "$ref": "Person"
        }
      },
      "id": "StructuredResult",
      "type": "object",
      "description": "Structured results that are returned as part of search request."
    },
    "IndexItemRequest": {
      "properties": {
        "item": {
          "description": "Name of the item. Format: datasources/{source_id}/items/{item_id}",
          "$ref": "Item"
        },
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "indexItemOptions": {
          "$ref": "IndexItemOptions"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
            "For real-time updates.",
            "For changes that are executed after the response is sent back to the caller."
          ],
          "description": "Required. The RequestMode for this request.",
          "enum": [
            "UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        }
      },
      "type": "object",
      "id": "IndexItemRequest"
    },
    "ContextAttribute": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute. It should not be empty. The maximum length is 32 characters. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The name will be normalized (lower-cased) before being matched."
        },
        "values": {
          "description": "Text values of the attribute. The maximum number of elements is 10. The maximum length of an element in the array is 32 characters. The value will be normalized (lower-cased) before being matched.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A named attribute associated with an item which can be used for influencing the ranking of the item based on the context in the request.",
      "id": "ContextAttribute"
    },
    "SearchItemsByViewUrlRequest": {
      "id": "SearchItemsByViewUrlRequest",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "pageToken": {
          "description": "The next_page_token value returned from a previous request, if any.",
          "type": "string"
        },
        "viewUrl": {
          "type": "string",
          "description": "Specify the full view URL to find the corresponding item. The maximum length is 2048 characters."
        }
      },
      "type": "object"
    },
    "ValueFilter": {
      "type": "object",
      "id": "ValueFilter",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "The `operator_name` applied to the query, such as *price_greater_than*. The filter can work against both types of filters defined in the schema for your data source: 1. `operator_name`, where the query filters results by the property that matches the value. 2. `greater_than_operator_name` or `less_than_operator_name` in your schema. The query filters the results for the property values that are greater than or less than the supplied value in the query."
        },
        "value": {
          "$ref": "Value",
          "description": "The value to be compared with."
        }
      }
    },
    "FreshnessOptions": {
      "id": "FreshnessOptions",
      "type": "object",
      "properties": {
        "freshnessProperty": {
          "type": "string",
          "description": "This property indicates the freshness level of the object in the index. If set, this property must be a top-level property within the property definitions and it must be a timestamp type or date type. Otherwise, the Indexing API uses updateTime as the freshness indicator. The maximum length is 256 characters. When a property is used to calculate freshness, the value defaults to 2 years from the current time."
        },
        "freshnessDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration after which an object should be considered stale. The default value is 180 days (in seconds)."
        }
      },
      "description": "Indicates which freshness property to use when adjusting search ranking for an item. Fresher, more recent dates indicate higher quality. Use the freshness option property that best works with your data. For fileshare documents, last modified time is most relevant. For calendar event data, the time when the event occurs is a more relevant freshness indicator. In this way, calendar events that occur closer to the time of the search query are considered higher quality and ranked accordingly."
    },
    "AvatarInfo": {
      "type": "object",
      "properties": {
        "emoji": {
          "$ref": "Emoji"
        }
      },
      "id": "AvatarInfo"
    },
    "IndexItemOptions": {
      "type": "object",
      "id": "IndexItemOptions",
      "properties": {
        "allowUnknownGsuitePrincipals": {
          "description": "Specifies if the index request should allow gsuite principals that do not exist or are deleted in the index request.",
          "type": "boolean"
        }
      }
    },
    "UnreserveItemsRequest": {
      "type": "object",
      "properties": {
        "connectorName": {
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "queue": {
          "type": "string",
          "description": "Name of a queue to unreserve items from."
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "id": "UnreserveItemsRequest"
    },
    "PushItemRequest": {
      "id": "PushItemRequest",
      "properties": {
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "item": {
          "description": "Item to push onto the queue.",
          "$ref": "PushItem"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      },
      "type": "object"
    },
    "FacetBucket": {
      "type": "object",
      "id": "FacetBucket",
      "description": "A bucket in a facet is the basic unit of operation. A bucket can comprise either a single value OR a contiguous range of values, depending on the type of the field bucketed. FacetBucket is currently used only for returning the response object.",
      "properties": {
        "count": {
          "format": "int32",
          "description": "Number of results that match the bucket value. Counts are only returned for searches when count accuracy is ensured. Cloud Search does not guarantee facet counts for any query and facet counts might be present only intermittently, even for identical queries. Do not build dependencies on facet count existence; instead use facet ount percentages which are always returned.",
          "type": "integer"
        },
        "percentage": {
          "format": "int32",
          "description": "Percent of results that match the bucket value. The returned value is between (0-100], and is rounded down to an integer if fractional. If the value is not explicitly returned, it represents a percentage value that rounds to 0. Percentages are returned for all searches, but are an estimate. Because percentages are always returned, you should render percentages instead of counts.",
          "type": "integer"
        },
        "value": {
          "$ref": "Value"
        }
      }
    },
    "PushItem": {
      "description": "Represents an item to be pushed to the indexing queue.",
      "id": "PushItem",
      "properties": {
        "payload": {
          "description": "Provides additional document state information for the connector, such as an alternate repository ID and other metadata. The maximum length is 8192 bytes.",
          "type": "string",
          "format": "byte"
        },
        "metadataHash": {
          "type": "string",
          "description": "Metadata hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters."
        },
        "contentHash": {
          "description": "Content hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters.",
          "type": "string"
        },
        "repositoryError": {
          "description": "Populate this field to store Connector or repository error details. This information is displayed in the Admin Console. This field may only be populated when the Type is REPOSITORY_ERROR.",
          "$ref": "RepositoryError"
        },
        "queue": {
          "type": "string",
          "description": "Queue to which this item belongs to. The default queue is chosen if this field is not specified. The maximum length is 512 characters."
        },
        "structuredDataHash": {
          "description": "Structured data hash of the item according to the repository. If specified, this is used to determine how to modify this item's status. Setting this field and the type field results in argument error. The maximum length is 2048 characters.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default UNSPECIFIED. Specifies that the push operation should not modify ItemStatus",
            "Indicates that the repository document has been modified or updated since the previous update call. This changes status to MODIFIED state for an existing item. If this is called on a non existing item, the status is changed to NEW_ITEM.",
            "Item in the repository has not been modified since the last update call. This push operation will set status to ACCEPTED state.",
            "Connector is facing a repository error regarding this item. Change status to REPOSITORY_ERROR state. Item is unreserved and rescheduled at a future time determined by exponential backoff.",
            "Call push with REQUEUE only for items that have been reserved. This action unreserves the item and resets its available time to the wall clock time."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "MODIFIED",
            "NOT_MODIFIED",
            "REPOSITORY_ERROR",
            "REQUEUE"
          ],
          "description": "The type of the push operation that defines the push behavior."
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "ListSearchApplicationsResponse": {
      "type": "object",
      "id": "ListSearchApplicationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "searchApplications": {
          "items": {
            "$ref": "SearchApplication"
          },
          "type": "array"
        }
      }
    },
    "QueryInterpretationOptions": {
      "properties": {
        "disableSupplementalResults": {
          "description": "Use this flag to disable supplemental results for a query. Supplemental results setting chosen at SearchApplication level will take precedence if set to True.",
          "type": "boolean"
        },
        "disableNlInterpretation": {
          "description": "Flag to disable natural language (NL) interpretation of queries. Default is false, Set to true to disable natural language interpretation. NL interpretation only applies to predefined datasources.",
          "type": "boolean"
        },
        "enableVerbatimMode": {
          "description": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental result retrieval, and usage of synonyms including custom ones. Nl interpretation will be disabled if either one of the two flags is true.",
          "type": "boolean"
        }
      },
      "id": "QueryInterpretationOptions",
      "type": "object",
      "description": "Options to interpret user query."
    },
    "Photo": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the photo.",
          "type": "string"
        }
      },
      "description": "A person's photo.",
      "id": "Photo"
    },
    "DriveMimeTypeRestrict": {
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\").",
      "type": "object",
      "id": "DriveMimeTypeRestrict",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Value": {
      "type": "object",
      "properties": {
        "timestampValue": {
          "type": "string",
          "format": "google-datetime"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "integerValue": {
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "type": "string"
        },
        "dateValue": {
          "$ref": "Date"
        },
        "booleanValue": {
          "type": "boolean"
        }
      },
      "description": "Definition of a single value with generic type.",
      "id": "Value"
    },
    "ShareScope": {
      "id": "ShareScope",
      "type": "object",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "",
            "Only the author can view the post.",
            "Viewable only by a set of people.",
            "Viewable by extended circles.",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "PRIVATE",
            "LIMITED",
            "EXTENDED",
            "DASHER_DOMAIN",
            "PUBLIC"
          ],
          "type": "string",
          "description": "The scope to which the content was shared."
        },
        "domain": {
          "type": "string",
          "description": "If scope is DOMAIN, this field contains the dasher domain, for example \"google.com\"."
        }
      }
    },
    "ResultDisplayMetadata": {
      "id": "ResultDisplayMetadata",
      "type": "object",
      "properties": {
        "objectTypeLabel": {
          "description": "The display label for the object.",
          "type": "string"
        },
        "metalines": {
          "items": {
            "$ref": "ResultDisplayLine"
          },
          "type": "array",
          "description": "The metalines content to be displayed with the result."
        }
      }
    },
    "DynamiteSpacesScoringInfo": {
      "properties": {
        "freshnessScore": {
          "format": "double",
          "type": "number"
        },
        "affinityScore": {
          "format": "double",
          "type": "number"
        },
        "spaceAgeInDays": {
          "format": "double",
          "type": "number"
        },
        "messageScore": {
          "format": "double",
          "type": "number"
        },
        "topicalityScore": {
          "type": "number",
          "format": "double"
        },
        "smallContactListAffinityScore": {
          "type": "number",
          "format": "double"
        },
        "joinedSpacesAffinityScore": {
          "format": "double",
          "type": "number"
        },
        "smallUnjoinedSpacesAffinityScore": {
          "type": "number",
          "format": "double"
        },
        "commonContactCountAffinityScore": {
          "type": "number",
          "format": "double"
        },
        "finalScore": {
          "type": "number",
          "format": "double"
        },
        "contactsIntersectionCount": {
          "type": "number",
          "format": "double"
        }
      },
      "description": "This is the proto for holding space level scoring information. This data is used for logging in query-api server and for testing purposes.",
      "type": "object",
      "id": "DynamiteSpacesScoringInfo"
    },
    "Media": {
      "id": "Media",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Name of the media resource."
        }
      },
      "type": "object",
      "description": "Media resource."
    },
    "InitializeCustomerRequest": {
      "id": "InitializeCustomerRequest",
      "type": "object",
      "description": "Request message for `InitializeCustomer` method.",
      "properties": {}
    },
    "Metadata": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "NamedProperty"
          },
          "description": "Indexed fields in structured data, returned as a generic named property.",
          "type": "array"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "The thumbnail URL of the result."
        },
        "objectType": {
          "type": "string",
          "description": "Object type of the search result."
        },
        "updateTime": {
          "description": "The last modified date for the object in the search result. If not set in the item, the value returned here is empty. When `updateTime` is used for calculating freshness and is not set, this value defaults to 2 years from the current time.",
          "format": "google-datetime",
          "type": "string"
        },
        "owner": {
          "$ref": "Person",
          "description": "Owner (usually creator) of the document or object of the search result."
        },
        "displayOptions": {
          "description": "Options that specify how to display a structured data search result.",
          "$ref": "ResultDisplayMetadata"
        },
        "mimeType": {
          "description": "Mime type of the search result.",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "The named source for the result, such as Gmail."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time for this document or object in the search result."
        }
      },
      "id": "Metadata",
      "description": "Metadata of a matched search result.",
      "type": "object"
    },
    "EnumValuePair": {
      "type": "object",
      "description": "The enumeration value pair defines two things: a required string value and an optional integer value. The string value defines the necessary query term required to retrieve that item, such as *p0* for a priority item. The integer value determines the ranking of that string value relative to other enumerated values for the same property. For example, you might associate *p0* with *0* and define another enum pair such as *p1* and *1*. You must use the integer value in combination with ordered ranking to set the ranking of a given value relative to other enumerated values for the same property name. Here, a ranking order of DESCENDING for *priority* properties results in a ranking boost for items indexed with a value of *p0* compared to items indexed with a value of *p1*. Without a specified ranking order, the integer value has no effect on item ranking.",
      "properties": {
        "stringValue": {
          "description": "The string value of the EnumValuePair. The maximum length is 32 characters.",
          "type": "string"
        },
        "integerValue": {
          "type": "integer",
          "format": "int32",
          "description": "The integer value of the EnumValuePair which must be non-negative. Optional."
        }
      },
      "id": "EnumValuePair"
    },
    "DataSourceRestriction": {
      "description": "Restriction on Datasource.",
      "properties": {
        "filterOptions": {
          "description": "Filter options restricting the results. If multiple filters are present, they are grouped by object type before joining. Filters with the same object type are joined conjunctively, then the resulting expressions are joined disjunctively. The maximum number of elements is 20. NOTE: Suggest API supports only few filters at the moment: \"objecttype\", \"type\" and \"mimetype\". For now, schema specific filters cannot be used to filter suggestions.",
          "type": "array",
          "items": {
            "$ref": "FilterOptions"
          }
        },
        "source": {
          "description": "The source of restriction.",
          "$ref": "Source"
        }
      },
      "type": "object",
      "id": "DataSourceRestriction"
    },
    "ScoringConfig": {
      "description": "Scoring configurations for a source while processing a Search or Suggest request.",
      "type": "object",
      "properties": {
        "disablePersonalization": {
          "description": "Whether to personalize the results. By default, personal signals will be used to boost results.",
          "type": "boolean"
        },
        "disableFreshness": {
          "description": "Whether to use freshness as a ranking signal. By default, freshness is used as a ranking signal. Note that this setting is not available in the Admin UI.",
          "type": "boolean"
        }
      },
      "id": "ScoringConfig"
    },
    "PollItemsResponse": {
      "properties": {
        "items": {
          "description": "Set of items from the queue available for connector to process. These items have the following subset of fields populated: version metadata.hash structured_data.hash content.hash payload status queue",
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        }
      },
      "id": "PollItemsResponse",
      "type": "object"
    },
    "SourceResultCount": {
      "properties": {
        "resultCountEstimate": {
          "description": "The estimated result count for this source.",
          "type": "string",
          "format": "int64"
        },
        "source": {
          "description": "The source the result count information is associated with.",
          "$ref": "Source"
        },
        "resultCountExact": {
          "description": "The exact result count for this source.",
          "type": "string",
          "format": "int64"
        },
        "hasMoreResults": {
          "description": "Whether there are more search results for this source.",
          "type": "boolean"
        }
      },
      "id": "SourceResultCount",
      "description": "Per source result count information.",
      "type": "object"
    },
    "UnmappedIdentity": {
      "properties": {
        "externalIdentity": {
          "$ref": "Principal",
          "description": "The resource name for an external user."
        },
        "resolutionStatusCode": {
          "type": "string",
          "description": "The resolution status for the external identity.",
          "enumDescriptions": [
            "Input-only value. Used to list all unmapped identities regardless of status.",
            "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
            "The identity source associated with the identity was either not found or deleted.",
            "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
            "The number of users associated with the external identity is too large.",
            "Internal error."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "NOT_FOUND",
            "IDENTITY_SOURCE_NOT_FOUND",
            "IDENTITY_SOURCE_MISCONFIGURED",
            "TOO_MANY_MAPPINGS_FOUND",
            "INTERNAL_ERROR"
          ]
        }
      },
      "type": "object",
      "id": "UnmappedIdentity"
    },
    "ObjectDisplayOptions": {
      "type": "object",
      "description": "The display options for an object.",
      "properties": {
        "metalines": {
          "type": "array",
          "description": "Defines the properties that are displayed in the metalines of the search results. The property values are displayed in the order given here. If a property holds multiple values, all of the values are displayed before the next properties. For this reason, it is a good practice to specify singular properties before repeated properties in this list. All of the properties must set is_returnable to true. The maximum number of metalines is 3.",
          "items": {
            "$ref": "Metaline"
          }
        },
        "objectDisplayLabel": {
          "type": "string",
          "description": "The user friendly label to display in the search result to indicate the type of the item. This is OPTIONAL; if not provided, an object label isn't displayed on the context line of the search results. The maximum length is 64 characters."
        }
      },
      "id": "ObjectDisplayOptions"
    },
    "DriveLocationRestrict": {
      "type": "object",
      "id": "DriveLocationRestrict",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "TRASHED",
            "STARRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "Drive location search restricts (e.g. \"is:starred\")."
    },
    "SourceScoringConfig": {
      "description": "Set the scoring configuration. This allows modifying the ranking of results for a source.",
      "type": "object",
      "id": "SourceScoringConfig",
      "properties": {
        "sourceImportance": {
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Importance of the source."
        }
      }
    },
    "DmId": {
      "type": "object",
      "properties": {
        "dmId": {
          "type": "string",
          "description": "Unique server assigned Id, per Direct Message Space."
        }
      },
      "id": "DmId"
    },
    "QuerySource": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the data source."
        },
        "operators": {
          "type": "array",
          "items": {
            "$ref": "QueryOperator"
          },
          "description": "List of all operators applicable for this source."
        },
        "source": {
          "$ref": "Source",
          "description": "Name of the source"
        },
        "shortName": {
          "type": "string",
          "description": "A short name or alias for the source. This value can be used with the 'source' operator."
        }
      },
      "type": "object",
      "description": "List of sources that the user can search using the query API.",
      "id": "QuerySource"
    },
    "RepositoryError": {
      "type": "object",
      "id": "RepositoryError",
      "description": "Errors when the connector is communicating to the source repository.",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Message that describes the error. The maximum allowable length of the message is 8192 characters."
        },
        "httpStatusCode": {
          "format": "int32",
          "type": "integer",
          "description": "Error codes. Matches the definition of HTTP status codes."
        },
        "type": {
          "enum": [
            "UNKNOWN",
            "NETWORK_ERROR",
            "DNS_ERROR",
            "CONNECTION_ERROR",
            "AUTHENTICATION_ERROR",
            "AUTHORIZATION_ERROR",
            "SERVER_ERROR",
            "QUOTA_EXCEEDED",
            "SERVICE_UNAVAILABLE",
            "CLIENT_ERROR"
          ],
          "description": "Type of error.",
          "type": "string",
          "enumDescriptions": [
            "Unknown error.",
            "Unknown or unreachable host.",
            "DNS problem, such as the DNS server is not responding.",
            "Cannot connect to the repository server.",
            "Failed authentication due to incorrect credentials.",
            "Service account is not authorized for the repository.",
            "Repository server error.",
            "Quota exceeded.",
            "Server temporarily unavailable.",
            "Client-related error, such as an invalid request from the connector to the repository server."
          ]
        }
      }
    },
    "RequestOptions": {
      "properties": {
        "debugOptions": {
          "description": "Debug options of the request",
          "$ref": "DebugOptions"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The suggest API does not use this parameter. Instead, suggest autocompletes only based on characters in the query.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used."
        },
        "searchApplicationId": {
          "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).",
          "type": "string"
        }
      },
      "id": "RequestOptions",
      "type": "object",
      "description": "Shared request options for all RPC methods."
    },
    "Id": {
      "type": "object",
      "properties": {
        "creatorUserId": {
          "description": "The User account in which the DirEntry was originally created. If name_space==GAIA, then it's the gaia_id of the user this id is referring to.",
          "type": "string",
          "format": "uint64"
        },
        "nameSpace": {
          "description": "The name space in which this id is unique (typically the application that created it). Values should be drawn from the above enum, but for experimentation, use values greater than 1000.",
          "format": "int32",
          "type": "integer"
        },
        "localId": {
          "type": "string",
          "description": "The local identifier for the DirEntry (local to the creator's account). local_id + app_name is guaranteed to be unique within the creator account, but not across all User accounts. The string is case sensitive. Ignore if name_space==GAIA. NB For name_space==COSMO, all local_id's should be defined in google3/java/com/google/storage/cosmo/server/api/SpecialObjectIds.java as they have a special predefined meaning. See cosmo.client.CosmoIdFactory.createObjectId(long,String) for IMPORTANT recommendations when generating IDs."
        }
      },
      "description": "Identifies a particular object, including both Users and DirEntries. This Id is unique across the entire server instance, such as the production or qa instance.",
      "id": "Id"
    },
    "SpaceInfo": {
      "properties": {
        "avatarInfo": {
          "$ref": "AvatarInfo"
        },
        "userMembershipState": {
          "description": "searching user's membership state in this space",
          "enumDescriptions": [
            "Default state, do not use",
            "An invitation to the space has been sent",
            "User has joined the space",
            "User is not a member",
            "This state should never be stored in Spanner. It is a state for responses to the clients to indicate that membership mutations have failed and the member is in its previous state."
          ],
          "type": "string",
          "enum": [
            "MEMBER_UNKNOWN",
            "MEMBER_INVITED",
            "MEMBER_JOINED",
            "MEMBER_NOT_A_MEMBER",
            "MEMBER_FAILED"
          ]
        },
        "isExternal": {
          "description": "Whether this is a space that enables guest access",
          "type": "boolean"
        },
        "numMembers": {
          "format": "int32",
          "type": "integer"
        },
        "groupId": {
          "$ref": "GroupId"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "avatarUrl": {
          "type": "string"
        }
      },
      "id": "SpaceInfo",
      "description": "Defines the representation of a single matching space.",
      "type": "object"
    },
    "CustomerQueryStats": {
      "id": "CustomerQueryStats",
      "type": "object",
      "properties": {
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        },
        "date": {
          "$ref": "Date",
          "description": "Date for which query stats were calculated. Stats calculated on the next day close to midnight are returned."
        }
      }
    },
    "QueryCountByStatus": {
      "properties": {
        "statusCode": {
          "format": "int32",
          "type": "integer",
          "description": "This represents the http status code."
        },
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryCountByStatus"
    },
    "UpdateDataSourceRequest": {
      "type": "object",
      "id": "UpdateDataSourceRequest",
      "properties": {
        "source": {
          "$ref": "DataSource"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      }
    },
    "IntegerValues": {
      "id": "IntegerValues",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "List of integer values."
    },
    "SearchApplicationSessionStats": {
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Date for which session stats were calculated. Stats are calculated on the following day, close to midnight PST, and then returned."
        },
        "searchSessionsCount": {
          "description": "The count of search sessions on the day",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "SearchApplicationSessionStats"
    },
    "RestrictItem": {
      "type": "object",
      "description": "Information relevant only to a restrict entry. NextId: 12",
      "id": "RestrictItem",
      "properties": {
        "driveTimeSpanRestrict": {
          "$ref": "DriveTimeSpanRestrict"
        },
        "driveMimeTypeRestrict": {
          "description": "LINT.IfChange Drive Types.",
          "$ref": "DriveMimeTypeRestrict"
        },
        "driveFollowUpRestrict": {
          "$ref": "DriveFollowUpRestrict",
          "description": "LINT.ThenChange(//depot/google3/java/com/google/apps/search/quality/itemsuggest/utils/SubtypeRerankingUtils.java)"
        },
        "searchOperator": {
          "type": "string",
          "description": "The search restrict (e.g. \"after:2017-09-11 before:2017-09-12\")."
        },
        "driveLocationRestrict": {
          "$ref": "DriveLocationRestrict"
        }
      }
    },
    "GetCustomerIndexStatsResponse": {
      "properties": {
        "averageIndexedItemCount": {
          "format": "int64",
          "type": "string",
          "description": "Average item count for the given date range for which billing is done."
        },
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerIndexStats"
          },
          "description": "Summary of indexed item counts, one for each day in the requested range."
        }
      },
      "type": "object",
      "id": "GetCustomerIndexStatsResponse"
    },
    "DoublePropertyOptions": {
      "description": "Options for double properties.",
      "type": "object",
      "id": "DoublePropertyOptions",
      "properties": {
        "operatorOptions": {
          "$ref": "DoubleOperatorOptions",
          "description": "If set, describes how the double should be used as a search operator."
        }
      }
    },
    "QueryInterpretation": {
      "id": "QueryInterpretation",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason for interpretation of the query. This field will not be UNSPECIFIED if the interpretation type is not NONE.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "QUERY_HAS_NATURAL_LANGUAGE_INTENT",
            "NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY"
          ],
          "enumDescriptions": [
            "",
            "Natural language interpretation of the query is used to fetch the search results.",
            "Query and document terms similarity is used to selectively broaden the query to retrieve additional search results since enough results were not found for the user query. Interpreted query will be empty for this case."
          ]
        },
        "interpretedQuery": {
          "type": "string",
          "description": "The interpretation of the query used in search. For example, queries with natural language intent like \"email from john\" will be interpreted as \"from:john source:mail\". This field will not be filled when the reason is NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY."
        },
        "interpretationType": {
          "enum": [
            "NONE",
            "BLEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "Neither the natural language interpretation, nor a broader version of the query is used to fetch the search results.",
            "The results from original query are blended with other results. The reason for blending these other results with the results from original query is populated in the 'Reason' field below.",
            "The results from original query are replaced. The reason for replacing the results from original query is populated in the 'Reason' field below."
          ],
          "type": "string"
        }
      }
    },
    "GetCustomerSessionStatsResponse": {
      "id": "GetCustomerSessionStatsResponse",
      "properties": {
        "stats": {
          "items": {
            "$ref": "CustomerSessionStats"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DateOperatorOptions": {
      "id": "DateOperatorOptions",
      "type": "object",
      "properties": {
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is later than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is earlier than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "operatorName": {
          "description": "Indicates the actual string required in the query in order to isolate the date property. For example, suppose an issue tracking schema object has a property named *closeDate* that specifies an operator with an operatorName of *closedon*. For searches on that data, queries like *closedon:\u003cvalue\u003e* show results only where the value of the *closeDate* property matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the indexed datasource. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "description": "Optional. Provides a search operator for date properties. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
    },
    "SearchRequest": {
      "id": "SearchRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Maximum number of search results to return in one page. Valid values are between 1 and 100, inclusive. Default value is 10. Minimum value is 50 when results beyond 2000 are requested.",
          "format": "int32"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        },
        "query": {
          "type": "string",
          "description": "The raw query string. See supported search operators in the [Narrow your search with operators](https://support.google.com/cloudsearch/answer/6172299)"
        },
        "start": {
          "description": "Starting index of the results.",
          "type": "integer",
          "format": "int32"
        },
        "sortOptions": {
          "$ref": "SortOptions",
          "description": "The options for sorting the search results"
        },
        "queryInterpretationOptions": {
          "description": "Options to interpret the user query.",
          "$ref": "QueryInterpretationOptions"
        },
        "facetOptions": {
          "items": {
            "$ref": "FacetOptions"
          },
          "type": "array"
        },
        "contextAttributes": {
          "type": "array",
          "description": "Context attributes for the request which will be used to adjust ranking of search results. The maximum number of elements is 10.",
          "items": {
            "$ref": "ContextAttribute"
          }
        },
        "dataSourceRestrictions": {
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "description": "The sources to use for querying. If not specified, all data sources from the current search application are used.",
          "type": "array"
        }
      },
      "description": "The search API request.",
      "type": "object"
    },
    "HtmlOperatorOptions": {
      "id": "HtmlOperatorOptions",
      "description": "Used to provide a search operator for html properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the html property. For example, if operatorName is *subject* and the property's name is *subjectLine*, then queries like *subject:\u003cvalue\u003e* show results only where the value of the property named *subjectLine* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator return all items where *\u003cvalue\u003e* matches the value of any html properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "type": "object"
    },
    "QueryItem": {
      "properties": {
        "isSynthetic": {
          "type": "boolean",
          "description": "True if the text was generated by means other than a previous user search."
        }
      },
      "description": "Information relevant only to a query entry.",
      "type": "object",
      "id": "QueryItem"
    },
    "GoogleDocsMetadata": {
      "description": "The corpus specific metadata for office-type documents, from Google Docs and other sources. This message is passed to the scorer and beyond. Next tag: 7",
      "properties": {
        "aclInfo": {
          "description": "Contains number of users and groups which can access the document.",
          "$ref": "AclInfo"
        },
        "documentType": {
          "enumDescriptions": [
            "If the type is unknown or not represented in this enum.",
            "Writely, Word, etc.",
            "Presently, PowerPoint, etc.",
            "Trix, Excel, etc.",
            "File types for Gdrive objects are below.",
            "",
            "Fall-back for unknown Gdrive types.",
            "",
            "",
            "",
            "",
            "",
            "For Atari page and site drafts",
            "",
            "Jamboard Jams (go/jam)",
            "Drive Shortcuts (go/shortcuts)",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "PDF",
            "IMAGE",
            "BINARY_BLOB",
            "FUSION_TABLE",
            "FOLDER",
            "DRAWING",
            "VIDEO",
            "FORM",
            "DRAFT_SITE",
            "DRAFT_SITE_PAGE",
            "JAM",
            "SHORTCUT",
            "SCRIPT"
          ],
          "description": "The conceptual type (presentation, document, etc.) of this document."
        },
        "lastContentModifiedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The last time this document was modified, in seconds since epoch. Only counts content modifications."
        },
        "resultInfo": {
          "description": "Additional per-result information, akin to Gmail's SingleThreadResponse. Note: GWS no longer seems to use this field, but there's still one reference to it for Scribe, so we can't remove it.",
          "$ref": "GoogleDocsResultInfo"
        },
        "typeInfo": {
          "$ref": "TypeInfo",
          "description": "Contains additional information about the document depending on its type."
        },
        "fileExtension": {
          "description": "The file extension of the document. NOTE: As of October 2018 this field is not backfilled for old documents.",
          "type": "string"
        }
      },
      "id": "GoogleDocsMetadata",
      "type": "object"
    },
    "PeopleSuggestion": {
      "description": "This field contains information about the person being suggested.",
      "id": "PeopleSuggestion",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "Suggested person. All fields of the person object might not be populated."
        }
      }
    },
    "DataSource": {
      "properties": {
        "shortName": {
          "description": "A short name or alias for the source. This value will be used to match the 'source' operator. For example, if the short name is *\u003cvalue\u003e* then queries like *source:\u003cvalue\u003e* will only return results for this source. The value must be unique across all datasources. The value must only contain alphanumeric characters (a-zA-Z0-9). The value cannot start with 'google' and cannot be one of the following: mail, gmail, docs, drive, groups, sites, calendar, hangouts, gplus, keep, people, teams. Its maximum length is 32 characters.",
          "type": "string"
        },
        "disableServing": {
          "description": "Disable serving any search or assist results.",
          "type": "boolean"
        },
        "itemsVisibility": {
          "items": {
            "$ref": "GSuitePrincipal"
          },
          "type": "array",
          "description": "This field restricts visibility to items at the datasource level. Items within the datasource are restricted to the union of users and groups included in this field. Note that, this does not ensure access to a specific item, as users need to have ACL permissions on the contained items. This ensures a high level access on the entire datasource, and that the individual items are not shared outside this visibility."
        },
        "disableModifications": {
          "type": "boolean",
          "description": "If true, sets the datasource to read-only mode. In read-only mode, the Indexing API rejects any requests to index or delete items in this source. Enabling read-only mode does not stop the processing of previously accepted data."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the datasource The maximum length is 300 characters."
        },
        "operationIds": {
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "returnThumbnailUrls": {
          "type": "boolean",
          "description": "Can a user request to get thumbnail URI for Items indexed in this data source."
        },
        "name": {
          "type": "string",
          "description": "Name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource."
        },
        "indexingServiceAccounts": {
          "description": "List of service accounts that have indexing access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DataSource",
      "description": "Datasource is a logical namespace for items to be indexed. All items must belong to a datasource. This is the prerequisite before items can be indexed into Cloud Search."
    },
    "SourceConfig": {
      "description": "Configurations for a source while processing a Search or Suggest request.",
      "id": "SourceConfig",
      "properties": {
        "crowdingConfig": {
          "description": "The crowding configuration for the source.",
          "$ref": "SourceCrowdingConfig"
        },
        "scoringConfig": {
          "$ref": "SourceScoringConfig",
          "description": "The scoring configuration for the source."
        },
        "source": {
          "$ref": "Source",
          "description": "The source for which this configuration is to be used."
        }
      },
      "type": "object"
    },
    "HtmlValues": {
      "id": "HtmlValues",
      "description": "List of html values.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "The maximum allowable length for html values is 2048 characters.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SearchQualityMetadata": {
      "properties": {
        "quality": {
          "format": "double",
          "type": "number",
          "description": "An indication of the quality of the item, used to influence search quality. Value should be between 0.0 (lowest quality) and 1.0 (highest quality). The default value is 0.0."
        }
      },
      "description": "Additional search quality metadata of the item.",
      "id": "SearchQualityMetadata",
      "type": "object"
    },
    "SearchResponse": {
      "properties": {
        "resultCounts": {
          "$ref": "ResultCounts",
          "description": "Expanded result count information."
        },
        "resultCountEstimate": {
          "description": "The estimated result count for this query.",
          "format": "int64",
          "type": "string"
        },
        "structuredResults": {
          "items": {
            "$ref": "StructuredResult"
          },
          "description": "Structured results for the user query. These results are not counted against the page_size.",
          "type": "array"
        },
        "errorInfo": {
          "$ref": "ErrorInfo",
          "description": "Error information about the response."
        },
        "results": {
          "type": "array",
          "description": "Results from a search query.",
          "items": {
            "$ref": "SearchResult"
          }
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results matching the query."
        },
        "facetResults": {
          "type": "array",
          "description": "Repeated facet results.",
          "items": {
            "$ref": "FacetResult"
          }
        },
        "debugInfo": {
          "$ref": "ResponseDebugInfo",
          "description": "Debugging information about the response."
        },
        "queryInterpretation": {
          "$ref": "QueryInterpretation",
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled."
        },
        "resultCountExact": {
          "description": "The exact result count for this query.",
          "type": "string",
          "format": "int64"
        },
        "spellResults": {
          "type": "array",
          "description": "Suggested spelling for the query.",
          "items": {
            "$ref": "SpellResult"
          }
        }
      },
      "description": "The search API response.",
      "type": "object",
      "id": "SearchResponse"
    },
    "ItemAcl": {
      "type": "object",
      "description": "Access control list information for the item. For more information see [Map ACLs](/cloud-search/docs/guides/acls).",
      "id": "ItemAcl",
      "properties": {
        "aclInheritanceType": {
          "enumDescriptions": [
            "The default value when this item does not inherit an ACL. Use NOT_APPLICABLE when inheritAclFrom is empty. An item without ACL inheritance can still have ACLs supplied by its own readers and deniedReaders fields.",
            "During an authorization conflict, the ACL of the child item determines its read access.",
            "During an authorization conflict, the ACL of the parent item specified in the inheritAclFrom field determines read access.",
            "Access is granted only if this item and the parent item specified in the inheritAclFrom field both permit read access."
          ],
          "description": "Sets the type of access rules to apply when an item inherits its ACL from a parent. This should always be set in tandem with the inheritAclFrom field. Also, when the inheritAclFrom field is set, this field should be set to a valid AclInheritanceType.",
          "type": "string",
          "enum": [
            "NOT_APPLICABLE",
            "CHILD_OVERRIDE",
            "PARENT_OVERRIDE",
            "BOTH_PERMIT"
          ]
        },
        "owners": {
          "items": {
            "$ref": "Principal"
          },
          "description": "Optional. List of owners for the item. This field has no bearing on document access permissions. It does, however, offer a slight ranking boosts items where the querying user is an owner. The maximum number of elements is 5.",
          "type": "array"
        },
        "deniedReaders": {
          "type": "array",
          "items": {
            "$ref": "Principal"
          },
          "description": "List of principals who are explicitly denied access to the item in search results. While principals are denied access by default, use denied readers to handle exceptions and override the list allowed readers. The maximum number of elements is 100."
        },
        "readers": {
          "description": "List of principals who are allowed to see the item in search results. Optional if inheriting permissions from another item or if the item is not intended to be visible, such as virtual containers. The maximum number of elements is 1000.",
          "items": {
            "$ref": "Principal"
          },
          "type": "array"
        },
        "inheritAclFrom": {
          "type": "string",
          "description": "Name of the item to inherit the Access Permission List (ACL) from. Note: ACL inheritance *only* provides access permissions to child items and does not define structural relationships, nor does it provide convenient ways to delete large groups of items. Deleting an ACL parent from the index only alters the access permissions of child items that reference the parent in the inheritAclFrom field. The item is still in the index, but may not visible in search results. By contrast, deletion of a container item also deletes all items that reference the container via the containerName field. The maximum length for this field is 1536 characters."
        }
      }
    },
    "QueryOperator": {
      "description": "The definition of a operator that can be used in a Search/Suggest request.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "The name of the operator."
        },
        "type": {
          "enum": [
            "UNKNOWN",
            "INTEGER",
            "DOUBLE",
            "TIMESTAMP",
            "BOOLEAN",
            "ENUM",
            "DATE",
            "TEXT",
            "HTML"
          ],
          "type": "string",
          "description": "Type of the operator.",
          "enumDescriptions": [
            "Invalid value.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "isSuggestable": {
          "type": "boolean",
          "description": "Can get suggestions for this field."
        },
        "objectType": {
          "type": "string",
          "description": "Name of the object corresponding to the operator. This field is only filled for schema-specific operators, and is unset for common operators."
        },
        "displayName": {
          "description": "Display name of the operator",
          "type": "string"
        },
        "isSortable": {
          "type": "boolean",
          "description": "Can this operator be used to sort results."
        },
        "isFacetable": {
          "description": "Can this operator be used to get facets.",
          "type": "boolean"
        },
        "isReturnable": {
          "description": "Will the property associated with this facet be returned as part of search results.",
          "type": "boolean"
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name that can be used to isolate the property using the greater-than operator."
        },
        "enumValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Potential list of values for the opeatror field. This field is only filled when we can safely enumerate all the possible values of this operator."
        },
        "isRepeatable": {
          "type": "boolean",
          "description": "Indicates if multiple values can be set for this property."
        },
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name that can be used to isolate the property using the less-than operator."
        }
      },
      "id": "QueryOperator",
      "type": "object"
    },
    "GSuitePrincipal": {
      "id": "GSuitePrincipal",
      "type": "object",
      "properties": {
        "gsuiteUserEmail": {
          "type": "string",
          "description": "This principal references a G Suite user account"
        },
        "gsuiteDomain": {
          "type": "boolean",
          "description": "This principal represents all users of the G Suite domain of the customer."
        },
        "gsuiteGroupEmail": {
          "description": "This principal references a G Suite group account",
          "type": "string"
        }
      }
    },
    "GetDataSourceIndexStatsResponse": {
      "type": "object",
      "id": "GetDataSourceIndexStatsResponse",
      "properties": {
        "averageIndexedItemCount": {
          "type": "string",
          "format": "int64",
          "description": "Average item count for the given date range for which billing is done."
        },
        "stats": {
          "items": {
            "$ref": "DataSourceIndexStats"
          },
          "type": "array",
          "description": "Summary of indexed item counts, one for each day in the requested range."
        }
      }
    },
    "DisplayedProperty": {
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "The name of the top-level property as defined in a property definition for the object. If the name is not a defined property in the schema, an error is given when attempting to update the schema."
        }
      },
      "type": "object",
      "id": "DisplayedProperty",
      "description": "A reference to a top-level property within the object that should be displayed in search results. The values of the chosen properties is displayed in the search results along with the display label for that property if one is specified. If a display label is not specified, only the values is shown."
    },
    "UpdateSchemaRequest": {
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "schema": {
          "$ref": "Schema",
          "description": "The new schema for the source."
        },
        "validateOnly": {
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid.",
          "type": "boolean"
        }
      },
      "id": "UpdateSchemaRequest",
      "type": "object"
    },
    "GetCustomerSearchApplicationStatsResponse": {
      "properties": {
        "averageSearchApplicationCount": {
          "format": "int64",
          "description": "Average search application count for the given date range.",
          "type": "string"
        },
        "stats": {
          "items": {
            "$ref": "CustomerSearchApplicationStats"
          },
          "type": "array",
          "description": "Search application stats by date."
        }
      },
      "type": "object",
      "id": "GetCustomerSearchApplicationStatsResponse",
      "description": "Response format for search application stats for a customer."
    },
    "SourceCrowdingConfig": {
      "description": "Set search results crowding limits. Crowding is a situation in which multiple results from the same source or host \"crowd out\" other results, diminishing the quality of search for users. To foster better search quality and source diversity in search results, you can set a condition to reduce repetitive results by source.",
      "type": "object",
      "id": "SourceCrowdingConfig",
      "properties": {
        "numResults": {
          "type": "integer",
          "description": "Maximum number of results allowed from a datasource in a result page as long as results from other sources are not exhausted. Value specified must not be negative. A default value is used if this value is equal to 0. To disable crowding, set the value greater than 100.",
          "format": "int32"
        },
        "numSuggestions": {
          "type": "integer",
          "description": "Maximum number of suggestions allowed from a source. No limits will be set on results if this value is less than or equal to 0.",
          "format": "int32"
        }
      }
    },
    "Snippet": {
      "id": "Snippet",
      "type": "object",
      "description": "Snippet of the search result, which summarizes the content of the resulting page.",
      "properties": {
        "snippet": {
          "description": "The snippet of the document. The snippet of the document. May contain escaped HTML character that should be unescaped prior to rendering.",
          "type": "string"
        },
        "matchRanges": {
          "items": {
            "$ref": "MatchRange"
          },
          "type": "array",
          "description": "The matched ranges in the snippet."
        }
      }
    },
    "IntegerPropertyOptions": {
      "properties": {
        "orderedRanking": {
          "enumDescriptions": [
            "There is no ranking order for the property. Results are not adjusted by this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower ranking.",
            "This property is ranked in descending order. Lower values indicate higher ranking."
          ],
          "description": "Used to specify the ordered ranking for the integer. Can only be used if isRepeatable is false.",
          "type": "string",
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "maximumValue": {
          "format": "int64",
          "type": "string",
          "description": "The maximum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values greater than the maximum are accepted and ranked with the same weight as items indexed with the maximum value."
        },
        "operatorOptions": {
          "description": "If set, describes how the integer should be used as a search operator.",
          "$ref": "IntegerOperatorOptions"
        },
        "minimumValue": {
          "type": "string",
          "format": "int64",
          "description": "The minimum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values less than the minimum are accepted and ranked with the same weight as items indexed with the minimum value."
        }
      },
      "description": "Options for integer properties.",
      "id": "IntegerPropertyOptions",
      "type": "object"
    },
    "ItemStatus": {
      "properties": {
        "repositoryErrors": {
          "items": {
            "$ref": "RepositoryError"
          },
          "description": "Repository error reported by connector.",
          "type": "array"
        },
        "processingErrors": {
          "type": "array",
          "description": "Error details in case the item is in ERROR state.",
          "items": {
            "$ref": "ProcessingError"
          }
        },
        "code": {
          "description": "Status code.",
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ]
        }
      },
      "id": "ItemStatus",
      "description": "This contains item's status and any errors.",
      "type": "object"
    },
    "ResetSearchApplicationRequest": {
      "id": "ResetSearchApplicationRequest",
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      }
    },
    "DoubleValues": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
[...]
