{
  "revision": "20210406",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "title": "Cloud Search API",
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "cloudsearch",
  "ownerName": "Google",
  "batchPath": "batch",
  "basePath": "",
  "canonicalName": "Cloud Search",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
  "description": "Cloud Search provides cloud-based search capabilities over G Suite data. The Cloud Search API allows indexing of non-G Suite data into Cloud Search.",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "version": "v1",
  "version_module": true,
  "resources": {
    "indexing": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "deleteQueueItems": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems",
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "name": {
                      "description": "Name of the Data Source to delete items in a queue. Format: datasources/{source_id}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$"
                    }
                  }
                },
                "poll": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Name of the Data Source to poll items. Format: datasources/{source_id}",
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "PollItemsResponse"
                  },
                  "request": {
                    "$ref": "PollItemsRequest"
                  },
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "path": "v1/indexing/{+name}/items:poll",
                  "id": "cloudsearch.indexing.datasources.items.poll"
                },
                "index": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "IndexItemRequest"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/indexing/{+name}:index",
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.index",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "path": "v1/indexing/{+name}/items",
                  "httpMethod": "GET",
                  "id": "cloudsearch.indexing.datasources.items.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "brief": {
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Name of the Data Source to list Items. Format: datasources/{source_id}",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "connectorName": {
                      "location": "query",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Item"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "path": "v1/indexing/{+name}",
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "httpMethod": "GET",
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path",
                      "description": "Name of the item to get info. Format: datasources/{source_id}/items/{item_id}",
                      "required": true
                    },
                    "connectorName": {
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ]
                },
                "upload": {
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes."
                    }
                  },
                  "path": "v1/indexing/{+name}:upload",
                  "id": "cloudsearch.indexing.datasources.items.upload",
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "UploadItemRef"
                  }
                },
                "push": {
                  "path": "v1/indexing/{+name}:push",
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.",
                      "required": true,
                      "pattern": "^datasources/[^/]+/items/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Item"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push"
                },
                "delete": {
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean"
                    },
                    "connectorName": {
                      "type": "string",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query"
                    },
                    "mode": {
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ],
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ],
                      "description": "Required. The RequestMode for this request."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the item to delete. Format: datasources/{source_id}/items/{item_id}",
                      "location": "path",
                      "pattern": "^datasources/[^/]+/items/[^/]+$"
                    },
                    "version": {
                      "location": "query",
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes.",
                      "type": "string",
                      "format": "byte"
                    }
                  }
                },
                "unreserve": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  },
                  "id": "cloudsearch.indexing.datasources.items.unreserve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "description": "Name of the Data Source to unreserve all items. Format: datasources/{source_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "path": "v1/indexing/{+name}/items:unreserve"
                }
              }
            }
          },
          "methods": {
            "updateSchema": {
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "httpMethod": "PUT",
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Name of the data source to update Schema. Format: datasources/{source_id}"
                }
              },
              "path": "v1/indexing/{+name}/schema",
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "deleteSchema": {
              "path": "v1/indexing/{+name}/schema",
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "id": "cloudsearch.indexing.datasources.deleteSchema",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^datasources/[^/]+$",
                  "type": "string",
                  "description": "Name of the data source to delete Schema. Format: datasources/{source_id}",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema"
            },
            "getSchema": {
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "id": "cloudsearch.indexing.datasources.getSchema",
              "path": "v1/indexing/{+name}/schema",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Name of the data source to get Schema. Format: datasources/{source_id}",
                  "pattern": "^datasources/[^/]+$",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Schema"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "id": "cloudsearch.media.upload",
          "flatPath": "v1/media/{mediaId}",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Media"
          },
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute.",
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "Media"
          },
          "httpMethod": "POST",
          "path": "v1/media/{+resourceName}",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v1/media/{+resourceName}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "pattern": "^.*$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ]
        }
      }
    },
    "query": {
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ],
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
              "id": "cloudsearch.query.sources.list",
              "parameterOrder": [],
              "flatPath": "v1/query/sources",
              "response": {
                "$ref": "ListQuerySourcesResponse"
              },
              "path": "v1/query/sources",
              "httpMethod": "GET",
              "parameters": {
                "requestOptions.searchApplicationId": {
                  "location": "query",
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).",
                  "type": "string"
                },
                "requestOptions.languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The suggest API does not use this parameter. Instead, suggest autocompletes only based on characters in the query."
                },
                "requestOptions.timeZone": {
                  "location": "query",
                  "type": "string",
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used."
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Number of sources to return in the response.",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "methods": {
        "suggest": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SuggestRequest"
          },
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "parameterOrder": [],
          "id": "cloudsearch.query.suggest",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "path": "v1/query/suggest",
          "parameters": {},
          "response": {
            "$ref": "SuggestResponse"
          },
          "flatPath": "v1/query/suggest"
        },
        "search": {
          "id": "cloudsearch.query.search",
          "parameterOrder": [],
          "request": {
            "$ref": "SearchRequest"
          },
          "response": {
            "$ref": "SearchResponse"
          },
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from G Suite Apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "httpMethod": "POST",
          "path": "v1/query/search",
          "parameters": {},
          "flatPath": "v1/query/search"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ],
          "id": "cloudsearch.operations.get",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1/operations/{operationsId}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$"
            }
          }
        }
      },
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "flatPath": "v1/operations/{operationsId}/lro",
              "path": "v1/{+name}/lro",
              "id": "cloudsearch.operations.lro.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^operations/.*$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            }
          }
        }
      }
    },
    "settings": {
      "resources": {
        "searchapplications": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}."
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "path": "v1/settings/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.searchapplications.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/settings/searchapplications",
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/settings/searchapplications",
              "id": "cloudsearch.settings.searchapplications.list",
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "parameters": {
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of items to return."
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "GET",
              "path": "v1/settings/{+name}",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "parameters": {
                "name": {
                  "description": "Name of the search application. Format: searchapplications/{application_id}.",
                  "type": "string",
                  "pattern": "^searchapplications/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.searchapplications.get"
            },
            "reset": {
              "httpMethod": "POST",
              "path": "v1/settings/{+name}:reset",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "id": "cloudsearch.settings.searchapplications.reset",
              "parameterOrder": [
                "name"
              ],
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "description": "The name of the search application to be reset. Format: applications/{application_id}.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "update": {
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Name of the Search Application. Format: searchapplications/{application_id}.",
                  "required": true,
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$"
                }
              },
              "id": "cloudsearch.settings.searchapplications.update"
            },
            "create": {
              "parameters": {},
              "id": "cloudsearch.settings.searchapplications.create",
              "description": "Creates a search application. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SearchApplication"
              },
              "path": "v1/settings/searchapplications",
              "flatPath": "v1/settings/searchapplications"
            }
          }
        },
        "datasources": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListDataSourceResponse"
              },
              "flatPath": "v1/settings/datasources",
              "description": "Lists datasources. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "path": "v1/settings/datasources",
              "httpMethod": "GET",
              "parameterOrder": [],
              "id": "cloudsearch.settings.datasources.list",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "pageSize": {
                  "description": "Maximum number of datasources to fetch in a request. The max value is 100. The default value is 10",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Starting index of the results.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "delete": {
              "parameters": {
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the datasource. Format: datasources/{source_id}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^datasources/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.datasources.delete"
            },
            "update": {
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.settings.datasources.update",
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "httpMethod": "PUT",
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^datasources/[^/]+$"
                }
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "path": "v1/settings/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "POST",
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [],
              "path": "v1/settings/datasources",
              "id": "cloudsearch.settings.datasources.create",
              "request": {
                "$ref": "DataSource"
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/datasources"
            },
            "get": {
              "response": {
                "$ref": "DataSource"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "id": "cloudsearch.settings.datasources.get",
              "httpMethod": "GET",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^datasources/[^/]+$",
                  "location": "path",
                  "description": "Name of the datasource resource. Format: datasources/{source_id}."
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "methods": {
        "getCustomer": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "path": "v1/settings/customer",
          "flatPath": "v1/settings/customer",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Get customer settings. **Note:** This API requires an admin account to execute.",
          "parameters": {},
          "response": {
            "$ref": "CustomerSettings"
          },
          "id": "cloudsearch.settings.getCustomer"
        },
        "updateCustomer": {
          "parameterOrder": [],
          "id": "cloudsearch.settings.updateCustomer",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "request": {
            "$ref": "CustomerSettings"
          },
          "parameters": {
            "updateMask": {
              "description": "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "description": "Update customer settings. **Note:** This API requires an admin account to execute.",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/settings/customer",
          "httpMethod": "PATCH",
          "flatPath": "v1/settings/customer"
        }
      }
    },
    "stats": {
      "resources": {
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "path": "v1/stats/query/{+name}",
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "cloudsearch.stats.query.searchapplications.get",
                  "parameters": {
                    "fromDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.year": {
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^searchapplications/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "toDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    }
                  },
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^searchapplications/[^/]+$",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "required": true
                    },
                    "fromDate.month": {
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "format": "int32"
                    },
                    "toDate.month": {
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "type": "integer"
                    },
                    "fromDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudsearch.stats.user.searchapplications.get",
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "path": "v1/stats/user/{+name}"
                }
              }
            }
          }
        },
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  },
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "path": "v1/stats/session/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "parameters": {
                    "fromDate.day": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^searchapplications/[^/]+$",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "fromDate.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "toDate.day": {
                      "location": "query",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  },
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "httpMethod": "GET",
                  "path": "v1/stats/index/{+name}",
                  "id": "cloudsearch.stats.index.datasources.get",
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "parameters": {
                    "toDate.year": {
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "type": "integer"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\""
                    },
                    "toDate.month": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ]
                }
              }
            }
          }
        }
      },
      "methods": {
        "getQuery": {
          "httpMethod": "GET",
          "path": "v1/stats/query",
          "flatPath": "v1/stats/query",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "parameterOrder": [],
          "id": "cloudsearch.stats.getQuery",
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "parameters": {
            "toDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "fromDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "toDate.month": {
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "location": "query"
            },
            "toDate.year": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.month": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ]
        },
        "getSession": {
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          },
          "parameters": {
            "fromDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "fromDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "toDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "format": "int32"
            },
            "fromDate.year": {
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "type": "integer"
            },
            "toDate.day": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            }
          },
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "flatPath": "v1/stats/session",
          "parameterOrder": [],
          "id": "cloudsearch.stats.getSession",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "path": "v1/stats/session"
        },
        "getIndex": {
          "httpMethod": "GET",
          "path": "v1/stats/index",
          "parameterOrder": [],
          "id": "cloudsearch.stats.getIndex",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "flatPath": "v1/stats/index",
          "parameters": {
            "toDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.month": {
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "type": "integer"
            },
            "fromDate.year": {
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "type": "integer"
            },
            "toDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "toDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "fromDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.",
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          }
        },
        "getUser": {
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "path": "v1/stats/user",
          "id": "cloudsearch.stats.getUser",
          "parameters": {
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "fromDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query"
            },
            "toDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.month": {
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "location": "query"
            },
            "toDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query"
            },
            "fromDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "flatPath": "v1/stats/user"
        }
      }
    },
    "debug": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^datasources/[^/]+/items/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                          "location": "query",
                          "format": "int32"
                        },
                        "debugOptions.enableDebugging": {
                          "location": "query",
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous List request, if any."
                        }
                      },
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      },
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list",
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute.",
                      "path": "v1/debug/{+parent}/unmappedids",
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "searchByViewUrl": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "description": "Source name, format: datasources/{source_id}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/debug/{+name}/items:searchByViewUrl",
                  "httpMethod": "POST",
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.",
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  },
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl"
                },
                "checkAccess": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    }
                  },
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "description": "Checks whether an item is accessible by specified principal. **Note:** This API requires an admin account to execute.",
                  "request": {
                    "$ref": "Principal"
                  },
                  "response": {
                    "$ref": "CheckAccessResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "httpMethod": "POST",
                  "path": "v1/debug/{+name}:checkAccess"
                }
              }
            }
          }
        },
        "identitysources": {
          "resources": {
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}",
                      "pattern": "^identitysources/[^/]+$",
                      "required": true
                    },
                    "userResourceName": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100."
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "groupResourceName": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/debug/{+parent}/items:forunmappedidentity"
                }
              }
            },
            "unmappedids": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "path": "v1/debug/{+parent}/unmappedids",
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.",
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  },
                  "parameters": {
                    "resolutionStatusCode": {
                      "description": "Limit users selection to this status.",
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ],
                      "location": "query",
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}",
                      "pattern": "^identitysources/[^/]+$"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "id": "cloudsearch:v1",
  "schemas": {
    "ObjectOptions": {
      "properties": {
        "displayOptions": {
          "$ref": "ObjectDisplayOptions",
          "description": "Options that determine how the object is displayed in the Cloud Search results page."
        },
        "freshnessOptions": {
          "$ref": "FreshnessOptions",
          "description": "The freshness options for an object."
        }
      },
      "id": "ObjectOptions",
      "type": "object",
      "description": "The options for an object."
    },
    "PropertyDefinition": {
      "type": "object",
      "description": "The definition of a property within an object.",
      "properties": {
        "isFacetable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for generating facets. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for Boolean, Enum, and Text properties."
        },
        "booleanPropertyOptions": {
          "$ref": "BooleanPropertyOptions"
        },
        "isWildcardSearchable": {
          "description": "Indicates that users can perform wildcard search for this property. Only supported for Text properties. IsReturnable must be true to set this option. In a given datasource maximum of 5 properties can be marked as is_wildcard_searchable.",
          "type": "boolean"
        },
        "isReturnable": {
          "type": "boolean",
          "description": "Indicates that the property identifies data that should be returned in search results via the Query API. If set to *true*, indicates that Query API users can use matching property fields in results. However, storing fields requires more space allocation and uses more bandwidth for search queries, which impacts performance over large datasets. Set to *true* here only if the field is needed for search results. Cannot be true for properties whose type is an object."
        },
        "isSortable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for sorting. Cannot be true for properties that are repeatable. Cannot be true for properties whose type is object or user identifier. IsReturnable must be true to set this option. Only supported for Boolean, Date, Double, Integer, and Timestamp properties."
        },
        "isRepeatable": {
          "type": "boolean",
          "description": "Indicates that multiple values are allowed for the property. For example, a document only has one description but can have multiple comments. Cannot be true for properties whose type is a boolean. If set to false, properties that contain more than one value cause the indexing request for that item to be rejected."
        },
        "htmlPropertyOptions": {
          "$ref": "HtmlPropertyOptions"
        },
        "doublePropertyOptions": {
          "$ref": "DoublePropertyOptions"
        },
        "displayOptions": {
          "description": "Options that determine how the property is displayed in the Cloud Search results page if it is specified to be displayed in the object's display options .",
          "$ref": "PropertyDisplayOptions"
        },
        "textPropertyOptions": {
          "$ref": "TextPropertyOptions"
        },
        "objectPropertyOptions": {
          "$ref": "ObjectPropertyOptions"
        },
        "enumPropertyOptions": {
          "$ref": "EnumPropertyOptions"
        },
        "timestampPropertyOptions": {
          "$ref": "TimestampPropertyOptions"
        },
        "isSuggestable": {
          "description": "Indicates that the property can be used for generating query suggestions.",
          "type": "boolean"
        },
        "integerPropertyOptions": {
          "$ref": "IntegerPropertyOptions"
        },
        "datePropertyOptions": {
          "$ref": "DatePropertyOptions"
        },
        "name": {
          "description": "The name of the property. Item indexing requests sent to the Indexing API should set the property name equal to this value. For example, if name is *subject_line*, then indexing requests for document items with subject fields should set the name for that field equal to *subject_line*. Use the name as the identifier for the object property. Once registered as a property for an object, you cannot re-use this name for another property within that object. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters.",
          "type": "string"
        }
      },
      "id": "PropertyDefinition"
    },
    "TimestampValues": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      },
      "id": "TimestampValues",
      "description": "List of timestamp values."
    },
    "CustomerQueryStats": {
      "properties": {
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        },
        "date": {
          "description": "Date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        }
      },
      "id": "CustomerQueryStats",
      "type": "object"
    },
    "HtmlOperatorOptions": {
      "id": "HtmlOperatorOptions",
      "description": "Used to provide a search operator for html properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the html property. For example, if operatorName is *subject* and the property's name is *subjectLine*, then queries like *subject:\u003cvalue\u003e* show results only where the value of the property named *subjectLine* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator return all items where *\u003cvalue\u003e* matches the value of any html properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "type": "object"
    },
    "CustomerUserStats": {
      "properties": {
        "thirtyDaysActiveUsersCount": {
          "description": "The count of unique active users in the past thirty days",
          "format": "int64",
          "type": "string"
        },
        "sevenDaysActiveUsersCount": {
          "type": "string",
          "description": "The count of unique active users in the past seven days",
          "format": "int64"
        },
        "oneDayActiveUsersCount": {
          "description": "The count of unique active users in the past one day",
          "format": "int64",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned."
        }
      },
      "type": "object",
      "id": "CustomerUserStats"
    },
    "CheckAccessResponse": {
      "properties": {
        "hasAccess": {
          "type": "boolean",
          "description": "Returns true if principal has access. Returns false otherwise."
        }
      },
      "type": "object",
      "id": "CheckAccessResponse"
    },
    "ObjectPropertyOptions": {
      "type": "object",
      "description": "Options for object properties.",
      "properties": {
        "subobjectProperties": {
          "description": "The properties of the sub-object. These properties represent a nested object. For example, if this property represents a postal address, the subobjectProperties might be named *street*, *city*, and *state*. The maximum number of elements is 1000.",
          "items": {
            "$ref": "PropertyDefinition"
          },
          "type": "array"
        }
      },
      "id": "ObjectPropertyOptions"
    },
    "SpellResult": {
      "properties": {
        "suggestedQuery": {
          "description": "The suggested spelling of the query.",
          "type": "string"
        }
      },
      "id": "SpellResult",
      "type": "object"
    },
    "Filter": {
      "description": "A generic way of expressing filters in a query, which supports two approaches: **1. Setting a ValueFilter.** The name must match an operator_name defined in the schema for your data source. **2. Setting a CompositeFilter.** The filters are evaluated using the logical operator. The top-level operators can only be either an AND or a NOT. AND can appear only at the top-most level. OR can appear only under a top-level AND.",
      "type": "object",
      "properties": {
        "valueFilter": {
          "$ref": "ValueFilter"
        },
        "compositeFilter": {
          "$ref": "CompositeFilter"
        }
      },
      "id": "Filter"
    },
    "EnumValues": {
      "id": "EnumValues",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The maximum allowable length for string values is 32 characters."
        }
      },
      "type": "object",
      "description": "List of enum values."
    },
    "CustomerSettings": {
      "id": "CustomerSettings",
      "properties": {
        "vpcSettings": {
          "$ref": "VPCSettings",
          "description": "VPC SC settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request."
        },
        "auditLoggingSettings": {
          "description": "Audit Logging settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request.",
          "$ref": "AuditLoggingSettings"
        }
      },
      "description": "Represents settings at a customer level.",
      "type": "object"
    },
    "EnumOperatorOptions": {
      "type": "object",
      "id": "EnumOperatorOptions",
      "description": "Used to provide a search operator for enum properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched. For example, if you provide no operator for a *priority* enum property with possible values *p0* and *p1*, a query that contains the term *p0* returns items that have *p0* as the value of the *priority* property, as well as any items that contain the string *p0* in other fields. If you provide an operator name for the enum, such as *priority*, then search users can use that operator to refine results to only items that have *p0* as this property's value, with the query *priority:p0*.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the enum property. For example, if operatorName is *priority* and the property's name is *priorityVal*, then queries like *priority:\u003cvalue\u003e* show results only where the value of the property named *priorityVal* matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      }
    },
    "IndexItemRequest": {
      "type": "object",
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "item": {
          "$ref": "Item",
          "description": "Name of the item. Format: datasources/{source_id}/items/{item_id}"
        },
        "connectorName": {
          "type": "string",
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "mode": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "Priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
            "For real-time updates.",
            "For changes that are executed after the response is sent back to the caller."
          ],
          "description": "Required. The RequestMode for this request."
        },
        "indexItemOptions": {
          "$ref": "IndexItemOptions"
        }
      },
      "id": "IndexItemRequest"
    },
    "DisplayedProperty": {
      "type": "object",
      "description": "A reference to a top-level property within the object that should be displayed in search results. The values of the chosen properties is displayed in the search results along with the display label for that property if one is specified. If a display label is not specified, only the values is shown.",
      "id": "DisplayedProperty",
      "properties": {
        "propertyName": {
          "description": "The name of the top-level property as defined in a property definition for the object. If the name is not a defined property in the schema, an error is given when attempting to update the schema.",
          "type": "string"
        }
      }
    },
    "DateValues": {
      "type": "object",
      "description": "List of date values.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      },
      "id": "DateValues"
    },
    "DebugOptions": {
[...]
