{
  "fullyEncodeReservedExpansion": true,
  "revision": "20220125",
  "ownerDomain": "google.com",
  "basePath": "",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "description": "API for provisioning and managing identity resources.",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/identity/",
  "canonicalName": "Cloud Identity",
  "servicePath": "",
  "id": "cloudidentity:v1beta1",
  "resources": {
    "orgUnits": {
      "resources": {
        "memberships": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "List OrgMembership resources in an OrgUnit treated as 'parent'. Parent format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits)",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListOrgMembershipsResponse"
              },
              "path": "v1beta1/{+parent}/memberships",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `OrgMembershipsService.ListOrgMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrgMembershipsRequest` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will default to 50. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as 100.",
                  "format": "int32"
                },
                "customer": {
                  "description": "Required. Immutable. Customer that this OrgMembership belongs to. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Immutable. OrgUnit which is queried for a list of memberships. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
                  "location": "path",
                  "pattern": "^orgUnits/[^/]+$"
                },
                "filter": {
                  "description": "The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the `type` (e.g., `type == 'shared_drive'`).",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships",
              "id": "cloudidentity.orgUnits.memberships.list"
            },
            "move": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^orgUnits/[^/]+/memberships/[^/]+$",
                  "description": "Required. Immutable. The [resource name](https://cloud.google.com/apis/design/resource_names) of the OrgMembership. Format: orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits), The `$membership` shall be of the form `{$entityType};{$memberId}`, where `$entityType` is the enum value of OrgMembership.EntityType, and `memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource) for OrgMembership.EntityType.SHARED_DRIVE."
                }
              },
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships/{membershipsId}:move",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.orgUnits.memberships.move",
              "description": "Move an OrgMembership to a new OrgUnit. NOTE: This is an atomic copy-and-delete. The resource will have a new copy under the destination OrgUnit and be deleted from the source OrgUnit. The resource can only be searched under the destination OrgUnit afterwards.",
              "request": {
                "$ref": "MoveOrgMembershipRequest"
              },
              "path": "v1beta1/{+name}:move"
            }
          }
        }
      }
    },
    "groups": {
      "resources": {
        "memberships": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/memberships",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "description": "Creates a `Membership`.",
              "request": {
                "$ref": "Membership"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "description": "Lists the `Membership`s within a `Group`.",
              "path": "v1beta1/{+parent}/memberships",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "format": "int32"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The `next_page_token` value returned from a previous search request, if any."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "id": "cloudidentity.groups.memberships.list"
            },
            "delete": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "httpMethod": "DELETE",
              "id": "cloudidentity.groups.memberships.delete",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "location": "path"
                }
              },
              "description": "Deletes a `Membership`.",
              "parameterOrder": [
                "name"
              ]
            },
            "getMembershipGraph": {
              "response": {
                "$ref": "Operation"
              },
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "parameters": {
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When a group_id is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph",
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph",
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Membership"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a `Membership`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.get",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "required": true,
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}"
            },
            "modifyMembershipRoles": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "path": "v1beta1/{+name}:modifyMembershipRoles",
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles"
            },
            "checkTransitiveMembership": {
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "parameters": {
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership"
            },
            "searchTransitiveMemberships": {
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships",
              "parameters": {
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              }
            },
            "lookup": {
              "path": "v1beta1/{+parent}/memberships:lookup",
              "parameters": {
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "required": true,
                  "type": "string"
                },
                "memberKey.id": {
                  "type": "string",
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "location": "query"
                },
                "memberKey.namespace": {
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "id": "cloudidentity.groups.memberships.lookup",
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup",
              "httpMethod": "GET"
            },
            "searchTransitiveGroups": {
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request, if any."
                },
                "query": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels`"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The default page size is 200 (max 1000).",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Group"
          },
          "id": "cloudidentity.groups.get",
          "description": "Retrieves a `Group`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "location": "path",
              "pattern": "^groups/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1beta1/groups/{groupsId}"
        },
        "lookup": {
          "parameters": {
            "groupKey.id": {
              "location": "query",
              "type": "string",
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
            },
            "groupKey.namespace": {
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/groups:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1beta1/groups:lookup",
          "id": "cloudidentity.groups.lookup",
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "parameterOrder": []
        },
        "search": {
          "path": "v1beta1/groups:search",
          "flatPath": "v1beta1/groups:search",
          "description": "Searches for `Group` resources matching a specified query.",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "parameters": {
            "view": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "location": "query"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Required. The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the parent and inclusion operators on labels (e.g., `parent == 'customers/{customer_id}' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). The `customer_id` must begin with \"C\" (for example, 'C046psxkn')."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous search request, if any.",
              "type": "string"
            }
          },
          "id": "cloudidentity.groups.search",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateSecuritySettings": {
          "parameters": {
            "name": {
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^groups/[^/]+/securitySettings$"
            },
            "updateMask": {
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SecuritySettings"
          },
          "description": "Update Security Settings",
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.groups.updateSecuritySettings"
        },
        "patch": {
          "description": "Updates a `Group`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.groups.patch",
          "httpMethod": "PATCH",
          "flatPath": "v1beta1/groups/{groupsId}",
          "path": "v1beta1/{+name}",
          "request": {
            "$ref": "Group"
          },
          "parameters": {
            "name": {
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`, `dynamic_group_metadata`, `posix_groups`.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/groups",
          "httpMethod": "GET",
          "flatPath": "v1beta1/groups",
          "parameterOrder": [],
          "description": "Lists the `Group` resources under a customer or namespace.",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "parameters": {
            "parent": {
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn').",
              "location": "query",
              "type": "string"
            },
            "view": {
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ]
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous list request, if any.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudidentity.groups.list"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a `Group`.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "type": "string"
            }
          },
          "id": "cloudidentity.groups.delete"
        },
        "getSecuritySettings": {
          "path": "v1beta1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+/securitySettings$",
              "type": "string",
              "required": true,
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`",
              "location": "path"
            },
            "readMask": {
              "location": "query",
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.getSecuritySettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecuritySettings"
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "description": "Get Security Settings"
        },
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "initialGroupConfig": {
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ],
              "type": "string",
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "description": "Required. The initial configuration option for the `Group`.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/groups",
          "flatPath": "v1beta1/groups",
          "id": "cloudidentity.groups.create",
          "parameterOrder": [],
          "description": "Creates a `Group`.",
          "request": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "userinvitations": {
          "methods": {
            "isInvitableUser": {
              "response": {
                "$ref": "IsInvitableUserResponse"
              },
              "httpMethod": "GET",
              "id": "cloudidentity.customers.userinvitations.isInvitableUser",
              "description": "Verifies whether a user account is eligible to receive a UserInvitation (is an unmanaged account). Eligibility is based on the following criteria: * the email address is a consumer account and it's the primary email address of the account, and * the domain of the email address matches an existing verified Google Workspace or Cloud Identity domain If both conditions are met, the user is eligible. **Note:** This method is not supported for Workspace Essentials customers.",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:isInvitableUser",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`"
                }
              },
              "path": "v1beta1/{+name}:isInvitableUser"
            },
            "list": {
              "flatPath": "v1beta1/customers/{customersId}/userinvitations",
              "httpMethod": "GET",
              "id": "cloudidentity.customers.userinvitations.list",
              "description": "Retrieves a list of UserInvitation resources. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListUserInvitationsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID of the Google Workspace or Cloud Identity account the UserInvitation resources are associated with.",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering `UserInvitation` results by their current state, in the format: `\"state=='invited'\"`.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListUserInvitations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of UserInvitation resources to return. If unspecified, at most 100 resources will be returned. The maximum value is 200; values above 200 will be set to 200.",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The sort order of the list results. You can sort the results in descending order based on either email or last update timestamp but not both, using `order_by=\"email desc\"`. Currently, sorting is supported for `update_time asc`, `update_time desc`, `email asc`, and `email desc`. If not specified, results will be returned based on `email asc` order."
                }
              },
              "path": "v1beta1/{+parent}/userinvitations"
            },
            "cancel": {
              "path": "v1beta1/{+name}:cancel",
              "request": {
                "$ref": "CancelUserInvitationRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "type": "string"
                }
              },
              "description": "Cancels a UserInvitation that was already sent.",
              "httpMethod": "POST",
              "id": "cloudidentity.customers.userinvitations.cancel",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:cancel"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}",
              "id": "cloudidentity.customers.userinvitations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Retrieves a UserInvitation resource. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "response": {
                "$ref": "UserInvitation"
              }
            },
            "send": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "required": true
                }
              },
              "description": "Sends a UserInvitation to email. If the `UserInvitation` does not exist for this request and it is a valid request, the request creates a `UserInvitation`. **Note:** The `get` and `list` methods have a 48-hour delay where newly-created consumer accounts will not appear in the results. You can still send a `UserInvitation` to those accounts if you know the unmanaged email address and IsInvitableUser==True.",
              "path": "v1beta1/{+name}:send",
              "httpMethod": "POST",
              "id": "cloudidentity.customers.userinvitations.send",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:send",
              "request": {
                "$ref": "SendUserInvitationRequest"
              }
            }
          }
        }
      }
    },
    "devices": {
      "methods": {
        "cancelWipe": {
          "path": "v1beta1/{+name}:cancelWipe",
          "parameters": {
            "name": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string",
              "required": true,
              "pattern": "^devices/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "id": "cloudidentity.devices.cancelWipe",
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped."
        },
        "wipe": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
              "pattern": "^devices/[^/]+$"
            }
          },
          "request": {
            "$ref": "WipeDeviceRequest"
          },
          "id": "cloudidentity.devices.wipe",
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "path": "v1beta1/{+name}:wipe",
          "description": "Wipes all data on the specified device.",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the specified device.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Device"
          },
          "id": "cloudidentity.devices.get",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/devices/{devicesId}"
        },
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/devices",
          "id": "cloudidentity.devices.create",
          "request": {
            "$ref": "CreateDeviceRequest"
          },
          "path": "v1beta1/devices",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium"
        },
        "list": {
          "flatPath": "v1beta1/devices",
          "id": "cloudidentity.devices.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1beta1/devices",
          "description": "Lists/Searches devices.",
          "parameters": {
            "orderBy": {
              "type": "string",
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character."
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "format": "int32"
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ],
              "description": "Optional. The view to use for the List request.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListDevicesResponse"
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/devices/{devicesId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes the specified device.",
          "id": "cloudidentity.devices.delete",
          "path": "v1beta1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string",
              "pattern": "^devices/[^/]+$",
              "required": true
            }
          }
        }
      },
      "resources": {
        "deviceUsers": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "id": "cloudidentity.devices.deviceUsers.delete",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "path": "v1beta1/{+name}",
              "description": "Retrieves the specified DeviceUser",
              "response": {
                "$ref": "DeviceUser"
              },
              "httpMethod": "GET",
              "id": "cloudidentity.devices.deviceUsers.get"
            },
            "wipe": {
              "request": {
                "$ref": "WipeDeviceUserRequest"
              },
              "path": "v1beta1/{+name}:wipe",
              "description": "Wipes the user's account on a device.",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe",
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "required": true,
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "id": "cloudidentity.devices.deviceUsers.list",
              "response": {
                "$ref": "ListDeviceUsersResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order specification for devices in the response.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^devices/[^/]+$",
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Lists/Searches DeviceUsers.",
              "path": "v1beta1/{+parent}/deviceUsers"
            },
            "approve": {
              "request": {
                "$ref": "ApproveDeviceUserRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+name}:approve",
              "id": "cloudidentity.devices.deviceUsers.approve",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve",
              "description": "Approves device to access user data.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "required": true
                }
              }
            },
            "block": {
              "path": "v1beta1/{+name}:block",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "request": {
                "$ref": "BlockDeviceUserRequest"
              },
              "description": "Blocks device from accessing user data",
              "id": "cloudidentity.devices.deviceUsers.block",
              "parameterOrder": [
                "name"
              ]
            },
            "cancelWipe": {
              "path": "v1beta1/{+name}:cancelWipe",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelWipeDeviceUserRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped."
            },
            "lookup": {
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers:lookup",
              "response": {
                "$ref": "LookupSelfDeviceUsersResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "path": "v1beta1/{+parent}:lookup",
              "httpMethod": "GET",
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers$",
                  "location": "path",
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token."
                },
                "rawResourceId": {
                  "location": "query",
                  "type": "string",
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json"
                },
                "androidId": {
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID).",
                  "type": "string",
                  "location": "query"
                },
                "userId": {
                  "location": "query",
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: No properties need to be passed, the caller's credentials are sufficient to identify the corresponding DeviceUser. - Android: Specifying the 'android_id' field is required. - Desktop: Specifying the 'raw_resource_id' field is required."
            }
          },
          "resources": {
            "clientStates": {
              "methods": {
                "patch": {
                  "path": "v1beta1/{+name}",
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "request": {
                    "$ref": "ClientState"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "parameters": {
                    "name": {
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated.",
                      "format": "google-fieldmask"
                    },
                    "customer": {
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "response": {
                    "$ref": "ClientState"
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Gets the client state for the device user",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientStates/{partner_id}`, where `device_id` is the unique ID assigned to the Device, `device_user_id` is the unique ID assigned to the User and `partner_id` identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization. You may specify `-` in place of the `{device_id}`, so the ClientState resource name can be: `devices/-/deviceUsers/{device_user_resource_id}/clientStates/{partner_id}`."
                    }
                  },
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "cloudidentity",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "schemas": {
    "RestrictionEvaluation": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "description": "Output only. The current state of the restriction"
        }
      },
      "id": "RestrictionEvaluation",
      "type": "object",
      "description": "The evaluated state of this restriction."
    },
    "BlockDeviceUserResponse": {
      "type": "object",
      "description": "Response message for blocking the device from accessing user data.",
      "id": "BlockDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      }
    },
    "IsInvitableUserResponse": {
      "description": "Response for IsInvitableUser RPC.",
      "type": "object",
      "id": "IsInvitableUserResponse",
      "properties": {
        "isInvitableUser": {
          "type": "boolean",
          "description": "Returns true if the email address is invitable."
        }
      }
    },
    "CertificateAttributes": {
      "description": "Stores information about a certificate.",
      "properties": {
        "validityExpirationTime": {
          "description": "Certificate not valid at or after this timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the certificate, Example: \"123456789\"."
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "issuer": {
          "description": "The name of the issuer of this certificate.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject name of this certificate."
        },
        "validityStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Certificate not valid before this timestamp."
        },
        "certificateTemplate": {
          "$ref": "CertificateTemplate",
          "description": "The X.509 extension for CertificateTemplate."
        },
        "validationState": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "description": "Validation state of this certificate."
        }
      },
      "type": "object",
      "id": "CertificateAttributes"
    },
    "Device": {
      "id": "Device",
      "description": "A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "properties": {
        "enabledUsbDebugging": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "managementState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Management state of the device",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ]
        },
        "bootloaderVersion": {
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "type": "string",
          "readOnly": true
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "format": "google-datetime",
          "type": "string"
        },
        "buildNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Build number of the device."
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "type": "string",
          "readOnly": true
        },
        "osVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OS version of the device. Example: Android 8.1.0."
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ]
        },
        "kernelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Kernel version of the device."
        },
        "ownerType": {
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "type": "string",
          "description": "Output only. Whether the device is owned by the company or an individual",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ]
        },
        "endpointVerificationSpecificAttributes": {
          "readOnly": true,
          "description": "Output only. Attributes specific to Endpoint Verification devices.",
          "$ref": "EndpointVerificationSpecificAttributes"
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string",
          "readOnly": true
        },
        "wifiMacAddresses": {
          "type": "array",
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          }
        },
        "otherAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "readOnly": true
        },
        "securityPatchTime": {
          "type": "string",
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique id assigned to the Device.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "type": "string",
          "readOnly": true
        },
        "compromisedState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "description": "Output only. Represents whether the Device is compromised."
        },
        "createTime": {
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "imei": {
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "enabledDeveloperOptions": {
          "description": "Output only. Whether developer options is enabled on device.",
          "type": "boolean",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "readOnly": true
        },
        "networkOperator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Mobile or network operator of device, if available."
        },
        "assetTag": {
          "type": "string",
          "description": "Asset tag of the device."
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "readOnly": true,
          "type": "string"
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "$ref": "AndroidAttributes",
          "readOnly": true
        },
        "basebandVersion": {
          "description": "Output only. Baseband version of the device.",
          "type": "string",
          "readOnly": true
        },
        "deviceType": {
          "readOnly": true,
          "description": "Output only. Type of device.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "LookupMembershipNameResponse": {
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`."
        }
      },
      "id": "LookupMembershipNameResponse"
    },
    "UserInvitation": {
      "id": "UserInvitation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
        },
        "updateTime": {
          "description": "Time when the `UserInvitation` was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "mailsSentCount": {
          "description": "Number of invitation emails sent to the user.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ],
          "type": "string",
          "description": "State of the `UserInvitation`.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ]
        }
      },
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "type": "object"
    },
    "SearchTransitiveGroupsResponse": {
      "id": "SearchTransitiveGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        },
        "memberships": {
          "type": "array",
          "description": "List of transitive groups satisfying the query.",
          "items": {
            "$ref": "GroupRelation"
          }
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.SearchTransitiveGroups."
    },
    "Membership": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "readOnly": true
        },
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "type": {
          "description": "Output only. The type of the membership.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents other type."
          ]
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the `Membership` was last updated.",
          "type": "string",
          "readOnly": true
        },
        "memberKey": {
          "description": "Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned.",
          "$ref": "EntityKey"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the `Membership` was created.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Membership",
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\"."
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "description": "Metadata for BlockDeviceUser LRO.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "type": "object",
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "object",
      "description": "Additional custom attribute values may be one of these types",
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "OrgMembership": {
      "properties": {
        "member": {
          "description": "Immutable. Org member id as full resource name. Format for shared drive resource: //drive.googleapis.com/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource).",
          "type": "string"
        },
        "memberUri": {
          "description": "Uri with which you can read the member. This follows https://aip.dev/122 Format for shared drive resource: https://drive.googleapis.com/drive/v3/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource).",
          "type": "string"
        },
        "type": {
          "description": "Immutable. Entity type for the org member.",
          "type": "string",
          "enumDescriptions": [
            "Equivalent to no resource type mentioned",
            "Shared drive as resource type"
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "SHARED_DRIVE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Immutable. The [resource name](https://cloud.google.com/apis/design/resource_names) of the OrgMembership. Format: orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits). The `$membership` shall be of the form `{$entityType};{$memberId}`, where `$entityType` is the enum value of [OrgMembership.EntityType], and `memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource) for OrgMembership.EntityType.SHARED_DRIVE."
        }
      },
      "description": "A membership in an OrgUnit. An `OrgMembership` defines a relationship between an `OrgUnit` and an entity belonging to that `OrgUnit`, referred to as a \"member\".",
      "id": "OrgMembership",
      "type": "object"
    },
    "AndroidAttributes": {
      "type": "object",
      "description": "Resource representing the Android specific attributes of a Device.",
      "id": "AndroidAttributes",
      "properties": {
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "ownerProfileAccount": {
          "type": "boolean",
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
        },
        "enabledUnknownSources": {
          "type": "boolean",
          "description": "Whether applications from unknown sources can be installed on device."
        },
        "ownershipPrivilege": {
          "description": "Ownership privileges on device.",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "description": "Metadata for CreateDevice LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "description": "Metadata for WipeDevice LRO.",
      "type": "object"
    },
    "LookupGroupNameResponse": {
      "id": "LookupGroupNameResponse",
      "description": "The response message for GroupsService.LookupGroupName.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`."
        }
      }
    },
    "CreateDeviceRequest": {
      "properties": {
        "device": {
          "description": "Required. The device to be created. The name field within this device is ignored in the create method. A new name is created by the method, and returned within the response. Only the fields `device_type`, `serial_number` and `asset_tag` (if present) are used to create the device. All other fields are ignored. The `device_type` and `serial_number` fields are required.",
          "$ref": "Device"
        }
      },
      "type": "object",
      "id": "CreateDeviceRequest",
      "description": "Request message for creating a Company Owned device."
    },
    "MembershipRoleRestrictionEvaluation": {
      "id": "MembershipRoleRestrictionEvaluation",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
[...]
