{
  "version_module": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "ownerName": "Google",
  "version": "v2beta",
  "batchPath": "batch",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "response": {
            "$ref": "Attachment"
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "path": "v2beta/{+parent}/attachments",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the case to which attachment should be attached.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$"
            }
          },
          "id": "cloudsupport.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create a file attachment on a case or Cloud resource.",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/v2beta/{+parent}/attachments",
                "multipart": true
              }
            }
          }
        },
        "download": {
          "path": "v2beta/{+name}:download",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "description": "The resource name of the attachment to be downloaded.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "useMediaDownloadService": true,
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "parameterOrder": [
            "name"
          ],
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "id": "cloudsupport.media.download",
          "response": {
            "$ref": "Media"
          }
        }
      }
    },
    "cases": {
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "path": "v2beta/{+parent}/attachments",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "id": "cloudsupport.cases.attachments.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve all attachments associated with a support case.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The resource name of Case object for which attachments should be listed.",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "comments": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Comment"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Comment"
              },
              "id": "cloudsupport.cases.comments.create",
              "description": "Add a new comment to the specified Case.",
              "path": "v2beta/{+parent}/comments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The resource name of Case object for which comments should be listed.",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of comments fetched with each request. Defaults to 10.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "path": "v2beta/{+parent}/comments",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudsupport.cases.comments.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Retrieve all Comments associated with the Case object."
            }
          }
        }
      },
      "methods": {
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          },
          "id": "cloudsupport.cases.patch",
          "httpMethod": "PATCH",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "path": "v2beta/{+name}",
          "request": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "The resource name for the case.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "description": "A field that represents attributes of a case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields will be updated. WARNING: If you do not provide a field mask then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses then subscriber_email_addresses will be updated to empty.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "description": "Update the specified case. Only a subset of fields (display_name, description, time_zone, subscriber_email_addresses, related_resources, severity, priority, primary_contact, and labels) can be updated."
        },
        "search": {
          "id": "cloudsupport.cases.search",
          "description": "Search cases using the specified query.",
          "httpMethod": "GET",
          "path": "v2beta/cases:search",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            },
            "query": {
              "description": "An expression written in the Cloud filter language. Filter strings can use the following fields: - organization (A name of the form organizations/) - project (A name of the form projects/) - customer (A name of the form customers/) - state (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no key/operator) can be used to search across display_name, description, and comments (e.g. \"my search\"). One of organization, project, or customer field must be specified.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/cases:search"
        },
        "escalate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.escalate",
          "response": {
            "$ref": "Case"
          },
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "path": "v2beta/{+name}:escalate",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "description": "Required. The fully qualified name of a case to be retrieved."
            }
          },
          "id": "cloudsupport.cases.get",
          "path": "v2beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieve the specified case."
        },
        "close": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v2beta/{+name}:close",
          "response": {
            "$ref": "Case"
          },
          "description": "Close the specified case.",
          "id": "cloudsupport.cases.close",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of the case resource to be closed.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "path": "v2beta/{+parent}/cases",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out. Filter strings can use the following fields: - state (Accepted values: OPEN or CLOSED) - severity (Accepted values: S0, S1, S2, S3, or S4) - creator.email with the operators equals (=) and AND. Additionally, a global restriction (with no operator) can be used to search across displayName, description, and comments (e.g. \"my search\")."
            },
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.list",
          "description": "Retrieve all cases under the specified parent.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "create": {
          "id": "cloudsupport.cases.create",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "response": {
            "$ref": "Case"
          },
          "request": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2beta/{+parent}/cases",
          "parameterOrder": [
            "parent"
          ],
          "description": "Create a new case and associate it with the given Cloud resource.",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "type": "string",
              "description": "Required. The name of the Cloud resource under which the case should be created.",
              "location": "path"
            }
          }
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "id": "cloudsupport.caseClassifications.search",
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "path": "v2beta/caseClassifications:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "location": "query"
            },
            "query": {
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request.",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v2beta/caseClassifications:search",
          "parameterOrder": [],
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\"."
        }
      }
    },
    "attachments": {
      "methods": {
        "create": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/attachments",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "id": "cloudsupport.attachments.create",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the case to which attachment should be attached.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+$",
              "required": true
            }
          },
          "path": "v2beta/{+parent}/attachments",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Attachment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create a file attachment on a case or Cloud resource."
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "title": "Google Cloud Support API",
  "canonicalName": "Cloud Support",
  "revision": "20220221",
  "name": "cloudsupport",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "ListAttachmentsResponse": {
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The list of attachments associated with the given case.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve."
        }
      },
      "description": "The response message for the ListAttachments endpoint.",
      "type": "object",
      "id": "ListAttachmentsResponse"
    },
    "ObjectId": {
      "properties": {
        "objectName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "id": "ObjectId",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      }
    },
    "SearchCasesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "description": "The list of Case associated with the cloud resource, after any filters have been applied.",
          "type": "array",
          "items": {
            "$ref": "Case"
          }
        }
      },
      "description": "The response message for the SearchCases endpoint.",
      "id": "SearchCasesResponse"
    },
    "ListCommentsResponse": {
      "properties": {
        "comments": {
          "type": "array",
          "description": "The list of Comments associated with the given Case.",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "type": "object",
      "id": "ListCommentsResponse",
      "description": "The response message for the ListComments endpoint."
    },
    "WorkflowOperationMetadata": {
      "properties": {
        "operationAction": {
          "description": "The type of action the operation is classified as.",
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "type": "string"
        },
        "namespace": {
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved.",
          "type": "string"
        },
        "workflowOperationType": {
          "type": "string",
          "description": "Which version of the workflow service this operation came from.",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ]
        }
      },
      "id": "WorkflowOperationMetadata",
      "type": "object",
      "description": "Metadata about the operation. Used to lookup the current status."
    },
    "DiffChecksumsResponse": {
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffChecksumsResponse",
      "type": "object"
    },
    "CreateAttachmentRequest": {
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      },
      "description": "The request message for the CreateAttachment endpoint.",
      "type": "object",
      "id": "CreateAttachmentRequest"
    },
    "Media": {
      "properties": {
        "length": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "sha1Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "diffChecksumsResponse": {
          "$ref": "DiffChecksumsResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha256Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "referenceType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ]
        },
        "mediaId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "uint64",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer",
          "format": "uint32"
        },
        "isPotentialRetry": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "compositeMedia": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "array",
          "items": {
            "$ref": "CompositeMedia"
          }
        },
        "filename": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "diffUploadResponse": {
          "$ref": "DiffUploadResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadRequest": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadRequest"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "blobRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "md5Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ContentTypeInfo"
        }
      },
      "id": "Media",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CompositeMedia": {
      "type": "object",
      "id": "CompositeMedia",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "blobRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "sha1Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "type": "object"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the attachment.",
          "readOnly": true,
          "type": "string"
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the attachment was created."
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the attachment in bytes."
        },
        "creator": {
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support.",
          "$ref": "Actor",
          "readOnly": true
        }
      },
      "description": "Represents a file attached to a support case.",
      "id": "Attachment"
    },
    "DiffVersionResponse": {
      "properties": {
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "DiffVersionResponse",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Actor": {
      "id": "Actor",
      "type": "object",
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "properties": {
        "googleSupport": {
          "type": "boolean",
          "description": "Output only. Whether the actor is a Google support actor.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "Output only. An ID representing the user that was authenticated when the corresponding action was taken. This will be an email address, if one is available, or some other unique ID. See https://cloud.google.com/docs/authentication for more information on types of authentication.",
          "readOnly": true
        },
        "displayName": {
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        }
      }
    },
    "Case": {
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "description": "The severity of this case. Deprecated. Use priority instead.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this case was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "subscriberEmailAddresses": {
          "description": "The email addresses to receive updates on this case.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "classification": {
          "description": "The issue classification applicable to this case.",
          "$ref": "CaseClassification"
        },
        "name": {
          "description": "The resource name for the case.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current status of the support case.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ]
        },
        "priority": {
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "type": "string",
          "description": "The priority of this case. If this is set, do not set severity.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this case was last updated.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The short summary of the issue reported in this case."
        },
        "timeZone": {
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API.",
          "type": "string"
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        }
      },
      "id": "Case",
      "description": "A support case.",
      "type": "object"
    },
    "ContentTypeInfo": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromFileName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromHeader": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "ContentTypeInfo"
    },
    "CaseClassification": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the classification."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation."
        }
      },
      "description": "A classification object with a product type and value.",
      "type": "object",
      "id": "CaseClassification"
    },
    "Escalation": {
      "type": "object",
      "description": "An escalation of a support case.",
      "properties": {
        "actor": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent initiated this escalation."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name for the escalation event.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this escalation event was created."
        },
        "justification": {
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated.",
          "type": "string"
        },
        "reason": {
          "description": "Required. The reason why the Case is being escalated.",
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "type": "string"
        }
      },
      "id": "Escalation"
    },
    "SearchCaseClassificationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        },
        "caseClassifications": {
          "type": "array",
          "items": {
            "$ref": "CaseClassification"
          },
          "description": "The classifications retrieved."
        }
      },
      "description": "The response message for SearchCaseClassifications endpoint.",
      "type": "object",
      "id": "SearchCaseClassificationsResponse"
    },
    "EscalateCaseRequest": {
      "id": "EscalateCaseRequest",
      "type": "object",
      "properties": {
        "escalation": {
          "$ref": "Escalation",
          "description": "The escalation object to be sent with the escalation request."
        }
      },
      "description": "The request message for the EscalateCase endpoint."
    },
    "Comment": {
      "description": "A comment associated with a support case.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name for the comment.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when this comment was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. The user or Google Support agent created this comment.",
          "readOnly": true,
          "$ref": "Actor"
        },
        "plainTextBody": {
          "description": "Output only. An automatically generated plain text version of body with all rich text syntax stripped.",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "description": "The full comment body. Maximum of 120000 characters. This can contain rich text syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "Blobstore2Info": {
      "properties": {
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "downloadReadHandle": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "Blobstore2Info",
      "type": "object"
    },
    "CloseCaseRequest": {
      "properties": {},
      "description": "The request message for the CloseCase endpoint.",
      "type": "object",
      "id": "CloseCaseRequest"
    },
    "ListCasesResponse": {
      "type": "object",
      "id": "ListCasesResponse",
      "description": "The response message for the ListCases endpoint.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "description": "The list of cases associated with the cloud resource, after any filters have been applied.",
          "items": {
            "$ref": "Case"
          },
          "type": "array"
        }
      }
    },
    "DownloadParameters": {
      "properties": {
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "id": "DownloadParameters"
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object"
    }
  },
  "id": "cloudsupport:v2beta",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "servicePath": ""
}
